Repository dotnet/runtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/platform-deps-team, @dotnet/http, @dotnet/jit-contrib, @MichalStrehovsky, @dotnet/crossgen-contrib, @marek-safar, @vargaz, @SamMonoRT, @lambdageek, @thaystg, @lateralusX, @brzvlad, @BrzVlad, @kotlarmilos, @kg, @radical, @lewing, @pavelsavara, @radekdoulik, @sbomer, @mrvoorhe, @jeffhandley

fix the param order stored o stack
  src/mono/mono/mini/mini-riscv.c
Owners: @vargaz, @lambdageek

fix the param size of MONO_TYPE_I & MONO_TYPE_U when RV64
  src/mono/mono/mini/mini-riscv.c
Owners: @vargaz, @lambdageek

add test task for makefile
  src/mono/sample/TestRun/Makefile
Owners: @marek-safar

[libs][Unix][perf] Lazily initialize TimeZoneInfo names and order GetSystemTimeZones by Ids (#88368)
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.FullGlobalizationData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.MinimalGlobalizationData.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Win32.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
Owners: none

[mono] mscordbi: Missing symbol crash fix (#86864)
  src/mono/dlls/mscordbi/CMakeLists.txt
Owners: @thaystg, @lambdageek

fix debugger performance
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
Owners: @thaystg, @radical

Add -hostos parameter for cross-components build
  eng/Subsets.props
  eng/liveBuilds.targets
  eng/native/build-commons.sh
  src/coreclr/build-runtime.sh
  src/coreclr/runtime.proj
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.csproj
Owners: @dotnet/crossgen-contrib

Update eng/build.sh
  eng/build.sh
Owners: none

Fix crash happening due to invalid pointer to free() (#86868)
  src/mono/dlls/mscordbi/CMakeLists.txt
Owners: @thaystg, @lambdageek

Apply suggestions from code review
  src/mono/mono/component/debugger-agent.c
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Owners: @marek-safar, @thaystg, @radical

Apply suggestions from code review
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Owners: @thaystg, @radical

Enable finalizer events for EventPipe
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/__Finalizer.cs
  src/coreclr/nativeaot/Runtime/FinalizerHelpers.cpp
  src/tests/tracing/eventpipe/simpleruntimeeventvalidation/simpleruntimeeventvalidation.cs
Owners: @MichalStrehovsky

fix changes from code review
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Owners: @thaystg, @radical

fmt
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-trampolines.c
Owners: @vargaz, @lambdageek, @SamMonoRT

update .clang-format
  src/mono/.clang-format
Owners: @marek-safar

don't call managed from finalizer after exit
  src/mono/wasm/runtime/gc-handles.ts
  src/mono/wasm/runtime/loader/exit.ts
  src/mono/wasm/runtime/types/internal.ts
Owners: @lewing, @pavelsavara, @kg

Simplify perfmap path generation
  src/coreclr/vm/perfinfo.cpp
  src/coreclr/vm/perfmap.cpp
  src/coreclr/vm/perfmap.h
Owners: none

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/libraries/Common/src/Interop/                                  @dotnet/platform-deps-team
/src/libraries/Common/src/System/Net/Http/aspnetcore/               @dotnet/http
/src/libraries/Common/tests/Tests/System/Net/aspnetcore/            @dotnet/http

# CoreCLR Code Owners

/src/coreclr/inc/corinfo.h @dotnet/jit-contrib
/src/coreclr/inc/corjit.h @dotnet/jit-contrib
/src/coreclr/jit/ @dotnet/jit-contrib
/src/coreclr/nativeaot @MichalStrehovsky
/src/coreclr/tools/Common @dotnet/crossgen-contrib @MichalStrehovsky
/src/coreclr/tools/aot @dotnet/crossgen-contrib
/src/coreclr/tools/aot/ILCompiler.Compiler @MichalStrehovsky
/src/coreclr/tools/aot/ILCompiler.RyuJit @MichalStrehovsky
/src/coreclr/tools/aot/ILCompiler.MetadataTransform @MichalStrehovsky

# Mono Code Owners

/src/mono @marek-safar

/src/mono/llvm @vargaz @SamMonoRT

/src/mono/mono/arch @vargaz
/src/mono/mono/eglib @vargaz @lambdageek

/src/mono/mono/metadata @vargaz @lambdageek @thaystg
/src/mono/mono/metadata/*-win* @lateralusX @lambdageek
/src/mono/mono/metadata/handle* @lambdageek @vargaz
/src/mono/mono/metadata/monitor* @brzvlad @vargaz
/src/mono/mono/metadata/sgen* @brzvlad @vargaz @lambdageek
/src/mono/mono/metadata/thread* @lateralusX @lambdageek
/src/mono/mono/metadata/w32* @lateralusX @lambdageek

/src/mono/mono/eventpipe @lateralusX @lambdageek

/src/mono/mono/mini @vargaz @lambdageek @SamMonoRT
/src/mono/mono/mini/*cfgdump* @vargaz
/src/mono/mono/mini/*exceptions* @vargaz @BrzVlad
/src/mono/mono/mini/*llvm* @vargaz
/src/mono/mono/mini/*ppc* @vargaz
/src/mono/mono/mini/*profiler* @BrzVlad @lambdageek
/src/mono/mono/mini/*riscv* @vargaz @lambdageek
/src/mono/mono/mini/*type-check* @lambdageek
/src/mono/mono/mini/debugger-agent.c @vargaz @thaystg @lambdageek
/src/mono/mono/mini/interp/* @BrzVlad @vargaz @kotlarmilos
/src/mono/mono/mini/interp/*jiterp* @kg

/src/mono/mono/profiler @BrzVlad @lambdageek
/src/mono/mono/sgen @BrzVlad @lambdageek @SamMonoRT

/src/mono/mono/utils @vargaz @lambdageek
/src/mono/mono/utils/*-win* @lateralusX @lambdageek
/src/mono/mono/utils/atomic* @vargaz
/src/mono/mono/utils/mono-hwcap* @vargaz
/src/mono/mono/utils/mono-mem* @vargaz
/src/mono/mono/utils/mono-threads* @lambdageek @vargaz

/src/mono/dlls @thaystg @lambdageek

/src/native/public/mono @marek-safar @lambdageek

/src/libraries/sendtohelix-wasm.targets @radical
/src/mono/wasm @lewing @pavelsavara @kg
/src/mono/wasm/debugger @thaystg @radical
/src/mono/wasm/build @radical
/src/mono/sample/wasm @lewing @pavelsavara
/src/libraries/System.Runtime.InteropServices.JavaScript @lewing @pavelsavara

/src/mono/nuget/*WebAssembly*/ @lewing @radical
/src/mono/nuget/*MonoTargets*/ @lewing @radical
/src/mono/nuget/*BrowserDebugHost*/ @lewing @radical
/src/mono/nuget/*Workload.Mono.Toolchain*/ @lewing @radical
/src/mono/nuget/*MonoAOTCompiler*/ @lewing @radical

/src/mono/wasm/Wasm* @radical
/src/mono/wasm/testassets @radical
/src/tasks/WasmAppBuilder/ @radical
/src/tasks/WorkloadBuildTasks/ @radical
/src/tasks/AotCompilerTask/ @radical
/src/tasks/WasmBuildTasks/ @radical

/eng/pipelines/**/*wasm* @radical

# ILLink codeowners
/src/tools/illink/ @marek-safar
/src/tools/illink/src/analyzer/ @radekdoulik
/src/tools/illink/src/ILLink.Tasks/ @sbomer
/src/tools/illink/src/ILLink.RoslynAnalyzer/ @sbomer
/src/tools/illink/src/linker/ @marek-safar @mrvoorhe
/src/tools/illink/test/ @marek-safar @mrvoorhe

# Obsoletions / Custom Diagnostics

/docs/project/list-of-diagnostics.md                @jeffhandley
/src/libraries/Common/src/System/Obsoletions.cs     @jeffhandley

# Area ownership and repo automation
/docs/area-owners.*                                 @jeffhandley
/docs/issue*.md                                     @jeffhandley
/.github/fabricbot.json                             @jeffhandley
