Repository dotnet/runtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/http, @steveharter, @layomia, @Jozkee, @eiriktsarpalis, @dotnet/jit-contrib, @marek-safar, @vargaz, @SamMonoRT, @imhameed, @EgorBo, @lambdageek, @CoffeeFlux, @thaystg, @lateralusX, @brzvlad, @naricc, @BrzVlad, @alexrp, @akoeplinger, @steveisok

Add CORINFO_HELP_CLASSINIT_SHARED_DYNAMICCLASS
  src/coreclr/jit/flowgraph.cpp
Owners: @dotnet/jit-contrib

Add pip upgrade step inside venv to fix crypto issue
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Owners: none

Allow using SupportedOSPlatform, UnsupportedOSPlatform attributes on interfaces (#48838)
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/PlatformAttributes.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
Owners: none

Increase jitstress job run frequency (#49168)
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
Owners: none

Increase jitstress job run frequency (#49169)
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
Owners: none

review feedback
  src/coreclr/jit/fgprofile.cpp
Owners: @dotnet/jit-contrib

[wasm] Check that EMSDK_PATH is set for WasmBuildNative
  src/mono/wasm/build/WasmApp.targets
Owners: @marek-safar

Update flowgraph.cpp
  src/coreclr/jit/flowgraph.cpp
Owners: @dotnet/jit-contrib

[AndroidCrypto] Implement IExportPal for X509 certs (#49196)
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Crypto.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.X509.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAndroid.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.h
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/StorePal.ExportPal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/StorePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Owners: none

Do not create R2R in memory hashes if profiler is not present or hasn't added types (#49177)
  src/coreclr/vm/ceeload.cpp
Owners: none

Add pip upgrade step inside venv to fix crypto issue (#49250)
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Owners: none

Remove version parsing
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Owners: none

Correct typo
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
Owners: none

Update the AttributeCollection message
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/AssociatedMetadataTypeTypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/AttributeCollection.cs
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DataRecordInternal.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbConnectionStringBuilder.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataRecord.cs
  src/libraries/System.Data.Common/src/System/Data/DataRowView.cs
  src/libraries/System.Data.Common/src/System/Data/DataViewManagerListItemTypeDescriptor.cs
Owners: none

Do not bundle mscordaccore.dll in a singlefile package.
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
Owners: none

Fix cofactor import and disable tests that require the ability to derive a new public key from a private key + curve + generator, order, and cofactor.
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.LimitedPrivate.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanFactory.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecc_import_export.c
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDiffieHellmanProvider.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDiffieHellmanProvider.Unix.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDiffieHellmanProvider.Windows.cs
  src/libraries/System.Security.Cryptography.Cng/tests/ECDiffieHellmanCngProvider.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/EcDiffieHellmanOpenSslProvider.cs
Owners: none

Use EVP_PKEY for RSA key generation (managed side)
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EvpPkey.Rsa.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Rsa.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
Owners: none

PR Feedback
  eng/testing/debug-dump-template.md
Owners: none

Remove version macro from yml file
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Owners: none

Move scenario to float (#49255)
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Owners: none

Don't throw when previous enum mapping is not found.
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/System.Runtime.Serialization.Xml.Tests.csproj
  src/libraries/System.Runtime.Serialization.Xml/tests/XmlSerializerTests.cs
Owners: none

JIT: fix prejit entry PGO instrumentation (#49154)
  src/coreclr/jit/fgprofile.cpp
Owners: @dotnet/jit-contrib

Add DataflowBlock.ReceiveAllAsync extension method
  src/libraries/System.Threading.Tasks.Dataflow/ref/System.Threading.Tasks.Dataflow.csproj
  src/libraries/System.Threading.Tasks.Dataflow/ref/System.Threading.Tasks.Dataflow.netstandard21.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Base/DataflowBlock.IAsyncEnumerable.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Base/DataflowBlock.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.IAsyncEnumerable.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/System.Threading.Tasks.Dataflow.Tests.csproj
Owners: none

create StreamConformanceTests assembly and reference from appropriate test projects
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/StreamConformanceTests/StreamConformanceTests.csproj
  src/libraries/Common/tests/StreamConformanceTests/System/IO/StreamConformanceTests.cs
  src/libraries/Common/tests/System/IO/CallTrackingStream.cs
  src/libraries/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.IO.MemoryMappedFiles/tests/System.IO.MemoryMappedFiles.Tests.csproj
  src/libraries/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
  src/libraries/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
  src/libraries/System.IO.UnmanagedMemoryStream/tests/System.IO.UnmanagedMemoryStream.Tests.csproj
  src/libraries/System.IO/tests/System.IO.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Quic/tests/FunctionalTests/System.Net.Quic.Functional.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
  src/libraries/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
  src/libraries/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
Owners: none

minor cleanup
  src/libraries/Common/tests/Common.Tests.csproj
Owners: none

Update debug dump template after runfo update to include dumps (#49183)
  eng/testing/debug-dump-template.md
  eng/testing/gen-debug-dump-docs.py
  src/libraries/sendtohelixhelp.proj
Owners: none

Update flowgraph.cpp
  src/coreclr/jit/flowgraph.cpp
Owners: @dotnet/jit-contrib

Make SocksException derive from IOException.
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocksException.cs
Owners: none

Add DataflowBlock.ReceiveAllAsync extension method (#37876)
  src/libraries/System.Threading.Tasks.Dataflow/ref/System.Threading.Tasks.Dataflow.csproj
  src/libraries/System.Threading.Tasks.Dataflow/ref/System.Threading.Tasks.Dataflow.netstandard21.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Base/DataflowBlock.IAsyncEnumerable.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Base/DataflowBlock.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.IAsyncEnumerable.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/System.Threading.Tasks.Dataflow.Tests.csproj
Owners: none

[AndroidCrypto] Implement DSA import/export and signing/verification. (#49153)
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Bignum.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Dsa.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.EcDsa.ImportExport.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Rsa.cs
  src/libraries/Common/src/System/Security/Cryptography/DSAAndroid.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSAImportExport.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSASignVerify.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_dsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_dsa.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_signature.c
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.Create.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DSACreateTests.cs
Owners: none

Fix inverted active issues
  src/libraries/System.Drawing.Common/tests/GdiplusTests.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Owners: none

Don't call into unsupported APIs on build targets which don't support quic
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
Owners: none

Reduce branches in IsInstanceOfInterface/ChkCastInterface
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
Owners: none

JIT: update jit config defaults for PGO
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/tests/Common/testenvironment.proj
Owners: @dotnet/jit-contrib

JIT: update non-null assertion prop to destructure VNs (#49238)
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
Owners: @dotnet/jit-contrib

Address flakey behavior testing COM lifetime cleanup.
  src/tests/Interop/COM/NETClients/Primitives/Program.cs
Owners: none

Drop extra var, lea; additional check for small counts
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
Owners: none

Handle Activity parent trace flags coming from parent ActivityContext
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
Owners: none

Fix inverted active issues (#49265)
  src/libraries/System.Drawing.Common/tests/GdiplusTests.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Owners: none

feedback from review
  src/libraries/Common/src/System/Net/Http/WinInetProxyHelper.cs
Owners: none

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/libraries/Common/src/System/Net/Http/aspnetcore/               @dotnet/http
/src/libraries/Common/tests/Tests/System/Net/aspnetcore/            @dotnet/http
/src/libraries/System.Text.Json/                                    @steveharter @layomia @Jozkee @eiriktsarpalis

# CoreCLR Code Owners

/src/coreclr/inc/corinfo.h @dotnet/jit-contrib
/src/coreclr/inc/corjit.h @dotnet/jit-contrib
/src/coreclr/jit/ @dotnet/jit-contrib

# Mono Code Owners

/src/mono @marek-safar

/src/mono/llvm @vargaz @SamMonoRT @imhameed @EgorBo

/src/mono/mono/arch @vargaz
/src/mono/mono/eglib @vargaz @lambdageek @CoffeeFlux

/src/mono/mono/metadata @vargaz @lambdageek @thaystg @CoffeeFlux
/src/mono/mono/metadata/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/metadata/handle* @lambdageek @vargaz
/src/mono/mono/metadata/monitor* @brzvlad @vargaz
/src/mono/mono/metadata/sgen* @brzvlad @vargaz @naricc
/src/mono/mono/metadata/thread* @lateralusX @lambdageek
/src/mono/mono/metadata/w32* @lateralusX @lambdageek @CoffeeFlux

/src/mono/mono/mini @vargaz @lambdageek @SamMonoRT @CoffeeFlux
/src/mono/mono/mini/*cfgdump* @vargaz
/src/mono/mono/mini/*exceptions* @vargaz @BrzVlad
/src/mono/mono/mini/*llvm* @vargaz @imhameed @EgorBo
/src/mono/mono/mini/*ppc* @vargaz
/src/mono/mono/mini/*profiler* @BrzVlad @lambdageek
/src/mono/mono/mini/*riscv* @alexrp
/src/mono/mono/mini/*type-check* @lambdageek
/src/mono/mono/mini/debugger-agent.c @vargaz @thaystg @lambdageek
/src/mono/mono/mini/interp/* @BrzVlad @vargaz

/src/mono/mono/profiler @BrzVlad @lambdageek
/src/mono/mono/sgen @BrzVlad @lambdageek @naricc

/src/mono/mono/utils @vargaz @lambdageek @CoffeeFlux
/src/mono/mono/utils/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/utils/atomic* @vargaz
/src/mono/mono/utils/mono-hwcap* @vargaz
/src/mono/mono/utils/mono-mem* @vargaz
/src/mono/mono/utils/mono-merp* @lambdageek @naricc @imhameed
/src/mono/mono/utils/mono-state* @lambdageek
/src/mono/mono/utils/mono-threads* @lambdageek @vargaz

/src/mono/netcore @marek-safar @akoeplinger @vargaz @steveisok
