Repository dotnet/runtime, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/http, @steveharter, @layomia, @Jozkee, @eiriktsarpalis, @dotnet/jit-contrib, @marek-safar, @vargaz, @SamMonoRT, @imhameed, @EgorBo, @lambdageek, @CoffeeFlux, @thaystg, @lateralusX, @brzvlad, @naricc, @BrzVlad, @alexrp, @akoeplinger, @steveisok

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/libraries/Common/src/System/Net/Http/aspnetcore/               @dotnet/http
/src/libraries/Common/tests/Tests/System/Net/aspnetcore/            @dotnet/http
/src/libraries/System.Text.Json/                                    @steveharter @layomia @Jozkee @eiriktsarpalis

# CoreCLR Code Owners

/src/coreclr/inc/corinfo.h @dotnet/jit-contrib
/src/coreclr/inc/corjit.h @dotnet/jit-contrib
/src/coreclr/jit/ @dotnet/jit-contrib

# Mono Code Owners

/src/mono @marek-safar

/src/mono/llvm @vargaz @SamMonoRT @imhameed @EgorBo

/src/mono/mono/arch @vargaz
/src/mono/mono/eglib @vargaz @lambdageek @CoffeeFlux

/src/mono/mono/metadata @vargaz @lambdageek @thaystg @CoffeeFlux
/src/mono/mono/metadata/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/metadata/handle* @lambdageek @vargaz
/src/mono/mono/metadata/monitor* @brzvlad @vargaz
/src/mono/mono/metadata/sgen* @brzvlad @vargaz @naricc
/src/mono/mono/metadata/thread* @lateralusX @lambdageek
/src/mono/mono/metadata/w32* @lateralusX @lambdageek @CoffeeFlux

/src/mono/mono/mini @vargaz @lambdageek @SamMonoRT @CoffeeFlux
/src/mono/mono/mini/*cfgdump* @vargaz
/src/mono/mono/mini/*exceptions* @vargaz @BrzVlad
/src/mono/mono/mini/*llvm* @vargaz @imhameed @EgorBo
/src/mono/mono/mini/*ppc* @vargaz
/src/mono/mono/mini/*profiler* @BrzVlad @lambdageek
/src/mono/mono/mini/*riscv* @alexrp
/src/mono/mono/mini/*type-check* @lambdageek
/src/mono/mono/mini/debugger-agent.c @vargaz @thaystg @lambdageek
/src/mono/mono/mini/interp/* @BrzVlad @vargaz

/src/mono/mono/profiler @BrzVlad @lambdageek
/src/mono/mono/sgen @BrzVlad @lambdageek @naricc

/src/mono/mono/utils @vargaz @lambdageek @CoffeeFlux
/src/mono/mono/utils/*-win* @lateralusX @lambdageek @CoffeeFlux
/src/mono/mono/utils/atomic* @vargaz
/src/mono/mono/utils/mono-hwcap* @vargaz
/src/mono/mono/utils/mono-mem* @vargaz
/src/mono/mono/utils/mono-merp* @lambdageek @naricc @imhameed
/src/mono/mono/utils/mono-state* @lambdageek
/src/mono/mono/utils/mono-threads* @lambdageek @vargaz

/src/mono/netcore @marek-safar @akoeplinger @vargaz @steveisok

Replace a couple FormatterServices uses in DataContractSerialization
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/SurrogateDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatReaderGenerator.cs
Owners: none

Fix https://github.com/dotnet/runtime/issues/46698.
  src/mono/mono/mini/method-to-ir.c
Owners: @vargaz, @lambdageek, @SamMonoRT, @CoffeeFlux

WIP
  Directory.Build.props
  eng/Subsets.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/build.sh
  eng/native/init-distro-rid.sh
  eng/targetingpacks.targets
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.json
  src/mono/llvm/llvm-init.proj
  src/mono/mono.proj
  src/mono/monoaotcross.proj
Owners: @vargaz, @SamMonoRT, @imhameed, @EgorBo, @marek-safar

WIP
  eng/Version.Details.xml
  eng/Versions.props
  eng/native/configureplatform.cmake
  src/libraries/Native/build-native.sh
  src/mono/llvm/llvm-init.proj
Owners: @vargaz, @SamMonoRT, @imhameed, @EgorBo

Implement AppleCryptoNative_X509GetRawData using SecCertificateCopyData
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.h
Owners: none

Move publishing off hosted ADO machines (#48855)
  eng/common/post-build/publish-using-darc.ps1
Owners: none

WIP
  eng/native/build-commons.sh
  eng/native/configureplatform.cmake
Owners: none

Sync shared crossgen2 files
  src/coreclr/tools/Common/Compiler/Logger.cs
  src/coreclr/tools/Common/Compiler/Logging/MessageContainer.cs
  src/coreclr/tools/Common/Compiler/TypeExtensions.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/JitConfigProvider.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/PdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/PortablePdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/IL/EcmaMethodIL.Symbols.cs
  src/coreclr/tools/Common/TypeSystem/IL/HelperExtensions.cs
  src/coreclr/tools/Common/TypeSystem/IL/MethodIL.Symbols.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
Owners: none

Replace a couple FormatterServices uses in DataContractSerialization (#49290)
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/SurrogateDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatReaderGenerator.cs
Owners: none

WIP
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtimeGroups.props
Owners: none

Reduce startup allocation from event pipe metadata
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/SimpleTypeInfos.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/Statics.cs
Owners: none

CI
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/mono/templates/generate-offsets.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Owners: none

[Wasm][AOT] Isolate AOT compilation related library test failures
  src/libraries/tests.proj
Owners: none

add missing comments
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/scripts/superpmi.py
Owners: @dotnet/jit-contrib

jit format
  src/coreclr/jit/compiler.h
Owners: @dotnet/jit-contrib

revert an unintended change
  src/coreclr/jit/lsra.cpp
Owners: @dotnet/jit-contrib

Valid names may only contain alphanumeric characters and '_'
  eng/pipelines/common/platform-matrix.yml
Owners: none

Move fgHasOptStaticInit to morph
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/morph.cpp
Owners: @dotnet/jit-contrib

Try again
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Owners: none

Use subgroup in offset job name generation
  eng/pipelines/mono/templates/generate-offsets.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Owners: none

Fix some issues from consuming RSA and ECDiffieHellman in certs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanAndroid.Derive.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.h
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/AndroidPkcs12Reader.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Owners: none

Update src/mono/dbi/cordb-process.h
  src/mono/dbi/cordb-process.h
Owners: @marek-safar

Lean more into subgroups
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/mono/templates/generate-offsets.yml
Owners: none

Add certs that don't use RC2 in test data
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/X509Pal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.X509Certificates/tests/HostnameMatchTests.Unix.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/tests/TestData.cs
Owners: none

Create ios/tvos sim offsets in non-sim lane
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Owners: none

Add missing member.
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanFactory.cs
Owners: none

Deal with OS component in RID containing a dash
  src/mono/monoaotcross.proj
Owners: @marek-safar

Update CMakeLists.txt
  src/mono/CMakeLists.txt
Owners: @marek-safar

Typo
  src/mono/monoaotcross.proj
Owners: @marek-safar

Improve comment
  eng/testing/tests.mobile.targets
Owners: none

Re-enable windows JIT formatting jobs
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/runtime.yml
Owners: none

Use managed implementation of pbkdf2 for Android's one-shot implementation.
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/Pbkdf2Implementation.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs
Owners: none

Move test_fx_ver under test folder
  src/native/corehost/CMakeLists.txt
  src/native/corehost/test/CMakeLists.txt
  src/native/corehost/test/fx_ver/CMakeLists.txt
  src/native/corehost/test/fx_ver/test_fx_ver.cpp
  src/native/corehost/test_fx_ver/CMakeLists.txt
Owners: none

subgroups in global-build-job
  eng/pipelines/common/global-build-job.yml
Owners: none

Don't override in generate-offsets
  eng/pipelines/mono/templates/generate-offsets.yml
Owners: none

Disable more tests against CanDeriveNewPublicKey.
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanTests.ImportExport.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDsa/ECDsaImportExport.cs
Owners: none

Fix MSBuild property syntax
  src/mono/monoaotcross.proj
Owners: @marek-safar

PR feedback.
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/Pbkdf2Implementation.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs
Owners: none

Use isSupported instead of ConditionalFact.
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.LimitedPrivate.cs
Owners: none

Change MSBuild properties for analyzer (dotnet/linker#1863)
  src/tools/illink/src/ILLink.RoslynAnalyzer/MSBuildPropertyOptionNames.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/Microsoft.NET.ILLink.Analyzers.props
  src/tools/illink/src/ILLink.RoslynAnalyzer/RequiresAssemblyFilesAnalyzer.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/RequiresUnreferencedCodeAnalyzer.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/SingleFileAnalyzer.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/AvoidAssemblyLocationInSingleFileTests.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/LinkerTestCases.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/RequiresAssemblyFilesAnalyzerTests.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/RequiresUnreferencedCodeAnalyzerTests.cs
Owners: none
