Repository dotnet/runtime, pull requests merged in 2019-11, with the labels that each got.

#230 Improve test coverage for RSAEncryptionPadding comparsion
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSASignaturePadding.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/RSATests.cs
Labels: area-System.Security

#167 Fix setting of DllImportResolver in crossgen2.
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#250 Cleanup warnings for uncompiled methods for some by-design scenarios
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#252 Fix exception handling in interface method that checks for marshalling requirements
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#239 JIT: if IR and stack can't provide a ref class handle, use object
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_27923/GitHub_27923.cs
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_27923/GitHub_27923.csproj
Labels: area-CodeGen

#268 Fix friend class declaration
  src/coreclr/src/pal/src/include/pal/thread.hpp
Labels: area-PAL

#249 Temp workaround to disable PInvoke ILStubs with EH blocks
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/IL/Stubs/PInvokeILEmitter.cs
Labels: area-ExceptionHandling, area-crossgen2

#222 Fix crossgen2 compilation with reverse pinvoke
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#271 Improve Regex performance (in particular RegexOptions.Compiled)
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CaptureCollection.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Group.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/GroupCollection.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Cache.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Timeout.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompilationInfo.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFCD.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefix.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Ctor.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.MultipleMatches.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexGroupNameTests.cs
Labels: area-System.Text.RegularExpressions

#285 Fix minor typo in README
  README.md
Labels: area-Meta

#244 Add CoreLib shared source project
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.sln
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.shproj
Labels: area-Infrastructure-coreclr

#289 Updated viewing-jit-dumps.md
  docs/workflow/testing/viewing-jit-dumps.md
  eng/build.sh
Labels: area-Meta

#259 Minor SpanHelpers cleanup
  src/coreclr/src/vm/mscorlib.h
  src/libraries/System.Private.CoreLib/src/Internal/Runtime/CompilerServices/Unsafe.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Char.cs
Labels: area-System.Memory

#229 Revise perfjitdump
  src/coreclr/src/pal/src/misc/perfjitdump.cpp
Labels: area-Diagnostics

#258 Prevent nullptr dereference in GenTree::IsLclVarUpdateTree
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/tests/src/Regressions/coreclr/GitHub_27937/Test27937.csproj
  src/coreclr/tests/src/Regressions/coreclr/GitHub_27937/test27937.cs
Labels: area-CodeGen

#231 Re-enable testing and switch back to the correct queues
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#301 Correct integer conversions
  src/coreclr/src/pal/src/misc/perfjitdump.cpp
Labels: area-PAL

#311 Remove doc files not meant for dotnet/runtime
  docs/project/changing-corelib.md
  src/libraries/SECURITY.md
Labels: area-Meta

#300 Synchronize write access to Hashtables in LicenseManager
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/LicenseManager.cs
Labels: area-System.ComponentModel

#293 Remove GenerateCompilerResponseFile.targets from System.Private.CoreLib build
  src/coreclr/src/System.Private.CoreLib/GenerateCompilerResponseFile.targets
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-Infrastructure-libraries

#228 Disable DynamicCode_Jit test from System.Runtime.Tests on Mono
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeFeatureTests.cs
Labels: area-System.Runtime

#233 Arm64: Implement ReverseBitOrder
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/Program.AdvSimd.Arm64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/ReverseElementBits.Vector128.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/ReverseElementBits.Vector128.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/ReverseElementBits.Vector64.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/ReverseElementBits.Vector64.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ArmBase.Arm64_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ArmBase.Arm64_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/Program.ArmBase.Arm64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ReverseElementBits.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ReverseElementBits.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase/ArmBase_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase/ArmBase_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase/Program.ArmBase.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase/ReverseElementBits.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/ArmBase/ReverseElementBits.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.tt
Labels: arch-arm64, area-CodeGen

#320 Consolidate .netcoreapp.cs test files in System.Threading.*
  src/libraries/System.Threading.Tasks/tests/CancellationTokenTests.cs
  src/libraries/System.Threading.Tasks/tests/CancellationTokenTests.netcoreapp.cs
  src/libraries/System.Threading.Tasks/tests/System.Runtime.CompilerServices/AsyncTaskMethodBuilderTests.cs
  src/libraries/System.Threading.Tasks/tests/System.Runtime.CompilerServices/AsyncTaskMethodBuilderTests.netcoreapp.cs
  src/libraries/System.Threading.Tasks/tests/System.Runtime.CompilerServices/ConfiguredAsyncDisposable.cs
  src/libraries/System.Threading.Tasks/tests/System.Runtime.CompilerServices/ConfiguredCancelableAsyncEnumerableTests.cs
  src/libraries/System.Threading.Tasks/tests/System.Threading.Tasks.Tests.csproj
  src/libraries/System.Threading.Tasks/tests/Task/TaskCanceledExceptionTests.cs
  src/libraries/System.Threading.Tasks/tests/Task/TaskStatusTest.cs
  src/libraries/System.Threading.Tasks/tests/Task/TaskStatusTest.netcoreapp.cs
  src/libraries/System.Threading.Thread/tests/System.Threading.Thread.Tests.csproj
  src/libraries/System.Threading.Thread/tests/ThreadTests.cs
  src/libraries/System.Threading.Thread/tests/ThreadTests.netcoreapp.cs
  src/libraries/System.Threading.ThreadPool/tests/System.Threading.ThreadPool.Tests.csproj
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.cs
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.netcoreapp.cs
  src/libraries/System.Threading/tests/InterlockedTests.cs
  src/libraries/System.Threading/tests/InterlockedTests.netcoreapp.cs
  src/libraries/System.Threading/tests/MonitorTests.cs
  src/libraries/System.Threading/tests/MonitorTests.netcoreapp.cs
  src/libraries/System.Threading/tests/SpinWaitTests.cs
  src/libraries/System.Threading/tests/SpinWaitTests.netcoreapp.cs
  src/libraries/System.Threading/tests/System.Threading.Tests.csproj
Labels: area-System.Threading

#263 Delete PAL_RegisterModule from the JIT
  src/coreclr/src/dlls/mscoree/CMakeLists.txt
  src/coreclr/src/dlls/mscoree/comcallunmarshal.cpp
  src/coreclr/src/dlls/mscoree/comcallunmarshal.h
  src/coreclr/src/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/src/dlls/mscoree/mscoree.cpp
  src/coreclr/src/dlls/mscoree/mscorwks_ntdef.src
  src/coreclr/src/dlls/mscoree/mscorwks_unixexports.src
  src/coreclr/src/ilasm/assem.cpp
  src/coreclr/src/ilasm/assembler.h
  src/coreclr/src/ilasm/writer.cpp
  src/coreclr/src/jit/ClrJit.PAL.exports
  src/coreclr/src/jit/ee_il_dll.cpp
  src/coreclr/src/pal/src/loader/module.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-CodeGen

#324 Add skip reason to SkipOnMono attribute
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeFeatureTests.cs
Labels: area-System.Runtime.CompilerServices

#326 Fix LTTng config environment variable parser
  src/coreclr/src/inc/eventtracebase.h
Labels: area-Tracing

#279 Vectorise string.Replace(char, char)
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
Labels: area-System.Runtime

#270 Remove libintl dependency
  docs/workflow/building/coreclr/android.md
  src/coreclr/src/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/src/nativeresources/resourcestring.cpp
  src/coreclr/src/pal/inc/pal.h
  src/coreclr/src/pal/src/CMakeLists.txt
  src/coreclr/src/pal/src/config.h.in
  src/coreclr/src/pal/src/configure.cmake
  src/coreclr/src/pal/src/locale/unicode.cpp
  src/coreclr/src/utilcode/ccomprc.cpp
Labels: area-Infrastructure-coreclr

#198 Fix range check upper limit.
  src/coreclr/src/jit/rangecheck.cpp
  src/coreclr/src/jit/rangecheck.h
  src/coreclr/tests/src/JIT/jit64/opt/osr/osr015.il
Labels: area-CodeGen

#310 Enabling index check
  eng/packaging.props
  src/libraries/pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-Infrastructure-libraries

#277 Updated broken links in ./README.md
  README.md
  docs/workflow/building/coreclr/README.md
Labels: area-Meta

#288 Fix SmtpClient handling exceptions as timeouts
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs
Labels: area-System.Net

#287 SmtpClient SendMailAsync with CancellationToken API implementation
  src/libraries/System.Net.Mail/ref/System.Net.Mail.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs
  src/libraries/System.Net.Mail/tests/Functional/LoopbackSmtpServer.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpServer.cs
  src/libraries/System.Net.Mail/tests/Functional/System.Net.Mail.Functional.Tests.csproj
Labels: area-System.Net

#331 Updating the issue pr management guideline
  docs/issues-pr-management.md
Labels: area-Meta

#343 Fix crossgen2 field signature emission
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureBuilder.cs
Labels: area-crossgen2

#261 Disable tests on CoreCLR using new attribute
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/RegistrationBuilderAttributedOverrideUnitTests.cs
  src/libraries/System.Data.SqlClient/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Data.SqlClient/tests/FunctionalTests/System.Data.SqlClient.Tests.csproj
  src/libraries/System.Linq.Expressions/tests/AssemblyInfo.cs
  src/libraries/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.HttpListener/tests/HttpListenerAuthenticationTests.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerContextTests.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerResponseTests.Cookies.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerResponseTests.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/libraries/System.Net.Requests/tests/LoggingTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
  src/libraries/System.Runtime.Numerics/tests/BigInteger/BigIntegerToStringTests.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-Infrastructure

#337 Rename mentions of corefx-testdata to runtime-assets
  src/libraries/Common/tests/System/Net/Capability.Security.cs
  src/libraries/Common/tests/System/Net/Configuration.Security.cs
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_certificates.ps1
Labels: area-Infrastructure-libraries

#327 Fix EH handling in PInvoke stubs and remove workaround
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/IL/Stubs/PInvokeILEmitter.cs
Labels: area-crossgen2

#352 Move profiling docs out of workflow
  docs/design/coreclr/profiling/IL Rewriting Basics.md
  docs/design/coreclr/profiling/Profiler Attach on CoreCLR.md
  docs/design/coreclr/profiling/Profiler Breaking Changes.md
  docs/design/coreclr/profiling/Profiler Loading.md
  docs/design/coreclr/profiling/ReJIT on Attach.md
  docs/design/coreclr/profiling/davbr-blog-archive/Attach.md
  docs/design/coreclr/profiling/davbr-blog-archive/Attach2.md
  docs/design/coreclr/profiling/davbr-blog-archive/CORPROF_E_UNSUPPORTED_CALL_SEQUENCE.md
  docs/design/coreclr/profiling/davbr-blog-archive/Creating an IL-rewriting profiler.md
  docs/design/coreclr/profiling/davbr-blog-archive/Debugging - Activation.md
  docs/design/coreclr/profiling/davbr-blog-archive/Debugging - SOS and IDs.md
  docs/design/coreclr/profiling/davbr-blog-archive/DoStackSnapshot - Callback CONTEXT Registers.md
  docs/design/coreclr/profiling/davbr-blog-archive/DoStackSnapshot - Exception Filters.md
  docs/design/coreclr/profiling/davbr-blog-archive/DoStackSnapshot - HRESULTs.md
  docs/design/coreclr/profiling/davbr-blog-archive/ELT Hooks - The Basics.md
  docs/design/coreclr/profiling/davbr-blog-archive/ELT Hooks - tail calls.md
  docs/design/coreclr/profiling/davbr-blog-archive/GC Heap and Alignment Padding.md
  docs/design/coreclr/profiling/davbr-blog-archive/Generics and Your Profiler.md
  docs/design/coreclr/profiling/davbr-blog-archive/Metadata Tokens, Run-Time IDs, and Type Loading.md
  docs/design/coreclr/profiling/davbr-blog-archive/Profiler Detach.md
  docs/design/coreclr/profiling/davbr-blog-archive/Profiler stack walking Basics and beyond.md
  docs/design/coreclr/profiling/davbr-blog-archive/README.md
  docs/design/coreclr/profiling/davbr-blog-archive/ReJIT - Limitations.md
  docs/design/coreclr/profiling/davbr-blog-archive/ReJIT - The Basics.md
  docs/design/coreclr/profiling/davbr-blog-archive/Sample A Signature Blob Parser for your Profiler.md
  docs/design/coreclr/profiling/davbr-blog-archive/Tail call JIT conditions.md
  docs/design/coreclr/profiling/davbr-blog-archive/Type Forwarding.md
  docs/design/coreclr/profiling/davbr-blog-archive/When is it safe to use ObjectIDs.md
  docs/design/coreclr/profiling/davbr-blog-archive/media/2110.image_051F632D.png
  docs/design/coreclr/profiling/davbr-blog-archive/media/4276.image1_31CAADB7.png
  docs/design/coreclr/profiling/davbr-blog-archive/media/8715.image1_thumb_38118445.png
  docs/design/coreclr/profiling/davbr-blog-archive/media/8715.image_thumb_01A0D243.png
  docs/design/coreclr/profiling/davbr-blog-archive/media/Attach.jpg
  docs/design/coreclr/profiling/davbr-blog-archive/media/NoBirthAnnouncement.JPG
  docs/design/coreclr/profiling/davbr-blog-archive/media/deadlock.jpg
  docs/design/coreclr/profiling/davbr-blog-archive/media/gccycle.jpg
  docs/design/coreclr/profiling/davbr-blog-archive/samples/Add local to LocalVarSig.cpp
  docs/design/coreclr/profiling/davbr-blog-archive/samples/PlugInToYourProfiler.cpp
  docs/design/coreclr/profiling/davbr-blog-archive/samples/sigformat.cpp
  docs/design/coreclr/profiling/davbr-blog-archive/samples/sigparse.cpp
Labels: area-Infrastructure-coreclr

#264 Perfscore dumping/dasm improvements
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/emit.cpp
  src/coreclr/src/jit/emit.h
  src/coreclr/src/jit/emitxarch.cpp
Labels: area-CodeGen

#275 Improve performance of RuntimeHelpers.GetMethodTable
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/src/tools/Common/TypeSystem/IL/Stubs/RuntimeHelpersIntrinsics.cs
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/vm/mscorlib.h
Labels: area-System.Runtime

#370 Fix crossgen2 interface static constructor handling
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-crossgen2

#274 Use platform-matrix and split jobs by steps for libraries pipelines
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/libraries/.azure-ci.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/build-test-job.yml
  eng/pipelines/libraries/corefx-base.yml
  eng/pipelines/libraries/freebsd.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/libraries/helix.yml
  eng/pipelines/libraries/linux.yml
  eng/pipelines/libraries/macos.yml
  eng/pipelines/libraries/outerloop.yml
  eng/pipelines/libraries/pre-publish.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/libraries/variables.yml
  eng/pipelines/libraries/windows.yml
  eng/referenceAssemblies.props
  src/libraries/publishTestAssets.proj
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#373 CoreHost: Remove a long-name test asset
  src/installer/test/Assets/TestProjects/AppWithSubDirs/Program.cs
  src/installer/test/Assets/TestProjects/AppWithSubDirs/Sentence/This is a really, really, really, really, really, really, really, really, really, really, really, really, really, really long file name for punctuation/word
  src/installer/test/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundledAppWithSubDirs.cs
  src/installer/test/Microsoft.NET.HostModel.Tests/Helpers/BundleHelper.cs
  src/installer/test/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Bundle.Tests/BundleExtractRun.cs
Labels: area-HostModel

#344 Fix crossgen2 to fix some negative tests
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#396 Update the previous crossgen2 fix to interface static cctor
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-crossgen2

#401 Update area owners
  docs/area-owners.md
Labels: area-Meta

#407 corefx -> runtime
  docs/coding-guidelines/coding-style.md
Labels: area-Infrastructure-libraries
