Repository dotnet/runtime, pull requests merged in 2019-12, with the labels that each got.

#338 Converge common msbuild properties and targets
  Directory.Build.props
  Directory.Build.targets
  eng/Analyzers.props
  eng/Build.props
  eng/CodeAnalysis.ruleset
  eng/Subsets.props
  eng/Tools.props
  eng/Versions.props
  eng/illink.targets
  eng/restore/illink.targets
  src/coreclr/src/Directory.Build.targets
  src/coreclr/src/System.Private.CoreLib/CreateRuntimeRootILLinkDescriptorFile.targets
  src/coreclr/src/System.Private.CoreLib/ILLink.targets
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/installer/Directory.Build.props
  src/installer/Directory.Build.targets
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/restore/analyzers/analyzers.depproj
Labels: area-Infrastructure

#303 Current user identity in added to HttpConnectionKey
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CurrentUserIdentityProvider.Unix.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CurrentUserIdentityProvider.Windows.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpConnectionKeyTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http

#426 Delete CLSID_ComCallUnmarshal and related code
  src/coreclr/src/inc/MSCOREE.IDL
  src/coreclr/src/pal/prebuilt/inc/mscoree.h
  src/coreclr/src/vm/reflectioninvocation.cpp
  src/coreclr/src/vm/runtimehandles.h
  src/coreclr/src/vm/stdinterfaces.cpp
  src/coreclr/src/vm/stdinterfaces.h
Labels: area-Interop

#397 Removed WinHttpHandler from System.Net.Http
  src/libraries/Common/src/System/Net/Http/WinInetProxyHelper.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.msbuild
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.Unix.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.Windows.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HPackTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClient.SelectedSitesTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Authentication.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AutoRedirect.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cookies.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http1.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxConnectionsPerServer.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Proxy.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpProtocolTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpRetryProtocolTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/PlatformHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/PostScenarioUWPTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#424 Re-enable CoreLib analyzers
  eng/Analyzers.props
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/restore/analyzers/analyzers.depproj
Labels: area-Infrastructure-coreclr

#441 Update links in docs/README.md
  docs/README.md
Labels: area-Meta, auto-merge

#322 Build System.IO.Compression.Native on WebAssembly as well.
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.IO.Compression.Native/CMakeLists.txt
Labels: area-System.IO.Compression

#350 Update building in Linux docs
  docs/workflow/building/coreclr/linux-instructions.md
Labels: area-Infrastructure-coreclr

#309 Fix CancellationTokenRegistration.Unregister race condition
  src/libraries/System.Private.CoreLib/src/System/Threading/CancellationTokenSource.cs
Labels: area-System.Threading

#375 Fix RVA field ordering and emission issue.
  src/coreclr/src/tools/Common/TypeSystem/Ecma/EcmaField.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedFieldRvaNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/tests/src/JIT/Directed/rvastatics/RVAOrderingTest.il
Labels: area-crossgen2

#317 Add NamedPipeServerStream method that takes an ACL
  src/libraries/System.IO.Pipes.AccessControl/ref/System.IO.Pipes.AccessControl.cs
  src/libraries/System.IO.Pipes.AccessControl/tests/AnonymousPipeTests/AnonymousPipeServerStreamAclTests.cs
  src/libraries/System.IO.Pipes.AccessControl/tests/NamedPipeTests/NamedPipeServerStreamAclTests.cs
  src/libraries/System.IO.Pipes.AccessControl/tests/PipeServerStreamAclTestBase.cs
  src/libraries/System.IO.Pipes.AccessControl/tests/PipeTest.AclExtensions.cs
  src/libraries/System.IO.Pipes.AccessControl/tests/System.IO.Pipes.AccessControl.Tests.csproj
  src/libraries/System.IO.Pipes/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.IO.Pipes/src/Resources/Strings.resx
  src/libraries/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStreamAcl.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Windows.cs
Labels: area-System.IO

#450 Delete Thread-related dead code
  src/coreclr/src/inc/MSCOREE.IDL
  src/coreclr/src/inc/loaderheap.h
  src/coreclr/src/pal/prebuilt/inc/mscoree.h
  src/coreclr/src/utilcode/loaderheap.cpp
  src/coreclr/src/vm/callhelpers.h
  src/coreclr/src/vm/ceeload.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/codeman.cpp
  src/coreclr/src/vm/codeman.h
  src/coreclr/src/vm/comthreadpool.cpp
  src/coreclr/src/vm/corhost.cpp
  src/coreclr/src/vm/domainfile.cpp
  src/coreclr/src/vm/exceptionhandling.cpp
  src/coreclr/src/vm/exstate.cpp
  src/coreclr/src/vm/exstate.h
  src/coreclr/src/vm/fcall.cpp
  src/coreclr/src/vm/gcenv.os.cpp
  src/coreclr/src/vm/i386/excepx86.cpp
  src/coreclr/src/vm/loaderallocator.cpp
  src/coreclr/src/vm/peimage.cpp
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/threads.h
  src/coreclr/src/vm/threads.inl
  src/coreclr/src/vm/threadsuspend.cpp
  src/coreclr/src/vm/util.hpp
  src/coreclr/src/vm/virtualcallstub.cpp
  src/coreclr/src/vm/win32threadpool.cpp
  src/coreclr/src/vm/win32threadpool.h
Labels: area-VM, auto-merge

#449 Improve Regex performance (mainly interpreted)
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexBoyerMoore.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
Labels: area-System.Text.RegularExpressions

#447 [Arm64] Support table-driven code generation for scalar intrinsics
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
Labels: arch-arm64, area-CodeGen

#312 Add ChannelReader<T>.{Can}Count
  src/libraries/System.Threading.Channels/ref/System.Threading.Channels.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/BoundedChannel.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/UnboundedChannel.cs
  src/libraries/System.Threading.Channels/tests/BoundedChannelTests.cs
  src/libraries/System.Threading.Channels/tests/ChannelTestBase.cs
  src/libraries/System.Threading.Channels/tests/UnboundedChannelTests.cs
Labels: area-System.Threading.Channels

#468 Fix a link mistake in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area-Meta

#305 Start using local address nodes in the JIT frontend
  src/coreclr/src/jit/codegenarm.cpp
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/codegenlinear.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/decomposelongs.cpp
  src/coreclr/src/jit/emitxarch.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/src/jit/instr.cpp
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/rationalize.cpp
  src/coreclr/src/jit/simdcodegenxarch.cpp
  src/coreclr/src/jit/valuenum.cpp
Labels: area-CodeGen

#459 Run app that has a directory that ends in a dot
  src/coreclr/src/pal/src/file/path.cpp
Labels: area-AssemblyLoader

#455 Fix inlining issue for raw pinvoke calls when using debug builds
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunSingleAssemblyCompilationModuleGroup.cs
Labels: area-crossgen2

#458 Stop throwing exception in TimeZoneInfo POSIX parsing
  src/coreclr/src/System.Private.CoreLib/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
Labels: area-System.Runtime

#456 Annotate System.IO.FileSystem.Watcher for nullable reference types
  src/libraries/Common/src/System/IO/PathInternal.Windows.cs
  src/libraries/Common/src/System/Text/ValueUtf8Converter.cs
  src/libraries/System.IO.FileSystem.Watcher/ref/System.IO.FileSystem.Watcher.cs
  src/libraries/System.IO.FileSystem.Watcher/ref/System.IO.FileSystem.Watcher.csproj
  src/libraries/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Linux.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/InternalBufferOverflowException.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/RenamedEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/WaitForChangedResult.cs
  src/libraries/System.IO.Ports/src/System.IO.Ports.csproj
Labels: area-System.IO

#348 Address review feedback from https://github.com/dotnet/coreclr/pull/27282
  src/coreclr/src/jit/block.cpp
  src/coreclr/src/jit/block.h
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/ssabuilder.cpp
Labels: area-CodeGen

#306 Determinism fixes
  src/coreclr/src/tools/Common/Internal/NativeFormat/NativeFormatWriter.cs
  src/coreclr/src/tools/Common/TypeSystem/IL/EcmaMethodIL.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ManifestMetadataTableNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/NewArrayFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/StringImportSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tests/src/readytorun/coreroot_determinism/Program.cs
  src/coreclr/tests/src/readytorun/coreroot_determinism/coreroot_determinism.csproj
Labels: area-crossgen2

#369 Fix `genFreeLclFrame` for arm32 when using CIL jmp.
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/target.h
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_27678/GitHub_27678.il
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_27678/GitHub_27678.ilproj
Labels: arch-arm32, area-CodeGen

#470 improve renegotiation ssl tests
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamAllowRenegotiationTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
Labels: area-System.Net.Security

#481 remove one more curl leftover
  src/libraries/Native/Unix/Common/pal_config.h.in
Labels: area-System.Net.Http

#488 Fix broken links in CONTRIBUTING.md documentation
  CONTRIBUTING.md
Labels: area-Meta

#482 Make Crossgen2 tests run daily
  eng/pipelines/coreclr/crossgen2.yml
Labels: area-Infrastructure-coreclr

#294 Live-live CI pipeline
  eng/pipelines/coreclr/templates/build-test-job.yml
  eng/pipelines/coreclr/templates/run-test-job.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/build-test-job.yml
  eng/pipelines/libraries/helix.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/runtime.yml
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
  src/coreclr/tests/scripts/patch-corefx.py
Labels: area-Infrastructure

#308 fixed VirtualMemoryLogging::logRecords overflow
  src/coreclr/src/pal/src/map/virtual.cpp
Labels: area-PAL

#501 Replace "corefx" with "libraries" in System.Net tests
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/config.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_domaincontroller.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_firewall.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_iisserver.ps1
Labels: area-System.Net

#500 Fix regression with manifest table: do not write entries that are already in the list of assembly refs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ManifestMetadataTableNode.cs
Labels: area-crossgen2

#471 Allow FPU flag override
  eng/common/cross/toolchain.cmake
  src/coreclr/configurecompiler.cmake
  src/coreclr/src/pal/src/arch/arm/context2.S
  src/libraries/Native/Unix/CMakeLists.txt
Labels: arch-arm32, area-Infrastructure-coreclr

#511 Change ArchiveTest reads to ArchiveTests and introduce IgnoreForCI property
  eng/testing/tests.targets
  eng/testing/xunit/xunit.console.props
  eng/testing/xunit/xunit.console.targets
  eng/testing/xunit/xunit.targets
  src/libraries/System.Data.SqlClient/tests/StressTests/System.Data.SqlClient.Stress.Tests/System.Data.SqlClient.Stress.Tests.csproj
  src/libraries/System.Net.Sockets/tests/ManualPerformanceTests/System.Net.Sockets.Async.Stress.Tests.csproj
Labels: area-Infrastructure-libraries

#516 Skip compilation for methods with BypassReadyToRun attribute
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-ReadyToRun, area-crossgen2

#496 Avoid allocating Regex when using static methods
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Cache.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Split.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Timeout.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Cache.Tests.cs
Labels: area-System.Text.RegularExpressions

#519 Remove overly eager devirtualization optimization
  src/coreclr/src/tools/Common/Compiler/DevirtualizationManager.cs
Labels: area-crossgen2

#526 Update libraries pr/ci build to use live coreclr
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/internal.yml
  eng/pipelines/coreclr/pr.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/installer/azure-pipelines.yml
  eng/pipelines/libraries/.azure-ci.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/libraries/outerloop.yml
Labels: area-Infrastructure-libraries

#464 Annotate System.IO.FileSystem.DriveInfo for nullable reference types
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MountPoints.FormatInfo.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetVolumeLabel.cs
  src/libraries/System.IO.FileSystem.DriveInfo/ref/System.IO.FileSystem.DriveInfo.cs
  src/libraries/System.IO.FileSystem.DriveInfo/ref/System.IO.FileSystem.DriveInfo.csproj
  src/libraries/System.IO.FileSystem.DriveInfo/src/System.IO.FileSystem.DriveInfo.csproj
  src/libraries/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Unix.cs
  src/libraries/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Windows.cs
  src/libraries/System.IO.FileSystem.DriveInfo/src/System/IO/DriveNotFoundException.cs
Labels: area-System.IO

#466 Annotate System.ComponentModel.EventBasedAsync for nullable reference types
  src/libraries/System.ComponentModel.EventBasedAsync/ref/System.ComponentModel.EventBasedAsync.cs
  src/libraries/System.ComponentModel.EventBasedAsync/ref/System.ComponentModel.EventBasedAsync.csproj
  src/libraries/System.ComponentModel.EventBasedAsync/src/System.ComponentModel.EventBasedAsync.csproj
  src/libraries/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/AsyncCompletedEvent.cs
  src/libraries/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/AsyncOperation.cs
  src/libraries/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/AsyncOperationManager.cs
  src/libraries/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/BackgroundWorker.cs
  src/libraries/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/DoWorkEvent.cs
  src/libraries/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/ProgressChangedEvent.cs
  src/libraries/System.ComponentModel.EventBasedAsync/src/System/ComponentModel/RunWorkerCompletedEvent.cs
Labels: area-System.ComponentModel

#523 Fix linux musl arm64 testing
  .gitignore
  eng/pipelines/coreclr/templates/crossgen-comparison-job.yml
  src/coreclr/build-test.sh
Labels: area-Infrastructure-coreclr

#499 Fix crossgen2 ArgIterator for SystemV Amd64 Unix ABI
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/JitInterface/SystemVStructClassificator.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildFolderSet.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
Labels: area-crossgen2

#491 Fix xml doc comment on FlushResult.IsCompleted
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/FlushResult.cs
Labels: area-System.IO.Pipelines

#561 Delete unused dotnet-download.ps1 file in coreclr
  src/coreclr/dotnet-download.ps1
Labels: area-Infrastructure-coreclr

#562 Delete broken sync.sh script from coreclr
  src/coreclr/sync.sh
Labels: area-Infrastructure-coreclr

#564 Remove clean.cmd/sh scripts from coreclr root
  src/coreclr/clean.cmd
  src/coreclr/clean.sh
Labels: area-Infrastructure-coreclr

#559 Change clang static analyzer reports store directory
  src/coreclr/build.sh
Labels: area-Infrastructure-coreclr

#445 Upgrade global.json to 5.0-alpha1 SDK
  Directory.Build.props
  eng/configurations/targetgroups.props
  eng/testing/runtimeConfiguration.targets
  global.json
  src/coreclr/src/.nuget/Microsoft.NETCore.Crossgen2/Microsoft.NETCore.Crossgen2.pkgproj
  src/coreclr/src/.nuget/optdata/optdata.csproj
  src/coreclr/src/System.Private.CoreLib/Tools/GenUnicodeProp/GenUnicodeProp.csproj
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/ThunkGenerator.csproj
  src/coreclr/src/tools/ReadyToRun.SuperIlc/Commands/CompileNugetCommand.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/ReadyToRun.SuperIlc.csproj
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/src/tools/crossgen2/crossgen2/crossgen2.csproj
  src/coreclr/src/tools/r2rdump/R2RDump.csproj
  src/coreclr/src/tools/runincontext/runincontext.csproj
  src/coreclr/tests/dir.sdkbuild.props
  src/coreclr/tests/external/external.csproj
  src/coreclr/tests/publishdependency.targets
  src/coreclr/tests/src/Common/CoreCLRTestLibrary/CoreCLRTestLibrary.csproj
  src/coreclr/tests/src/Common/Coreclr.TestWrapper/Coreclr.TestWrapper.csproj
  src/coreclr/tests/src/Common/test_dependencies/test_dependencies.csproj
  src/coreclr/tests/src/Common/test_runtime/test_runtime.csproj
  src/coreclr/tests/src/Directory.Build.props
  src/coreclr/tests/src/performance/Scenario/JitBench/Utilities/DotNetSetup.cs
  src/installer/pkg/Directory.Build.props
  src/installer/test/Directory.Build.props
  src/libraries/pkg/Microsoft.Windows.Compatibility/tests/Directory.Build.props
  src/libraries/pkg/test/frameworkSettings/netcoreapp5.0/settings.targets
  src/libraries/restore/netcoreapp/netcoreapp.depproj
  tools-local/dotnet-deb-tool/dotnet-deb-tool.csproj
Labels: area-Infrastructure

#538 Two more fixes for crossgen2
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapNode.cs
  src/coreclr/tests/src/CLRTest.CrossGen.targets
Labels: area-crossgen2

#555 Fix crossgen2 gc layout handling for TypedReference
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildFolderSet.cs
Labels: area-crossgen2

#583 Unset RunCrossgen2 variable when CrossGenTest is set to false
  src/coreclr/tests/src/CLRTest.CrossGen.targets
Labels: area-crossgen2

#585 Fix inaccurate comment.
  src/coreclr/src/.nuget/Microsoft.NETCore.Crossgen2/Microsoft.NETCore.Crossgen2.pkgproj
Labels: area-crossgen2

#472 [Arm64] Implement BitwiseSelect hardware intrinsic
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/BitwiseSelect.Vector64.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.tt
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/_TernaryOpTestTemplate.template
Labels: arch-arm64, area-CodeGen

#544 [Arm64] Fix JitDump assertions when emitting ld1
  src/coreclr/src/jit/emitarm64.cpp
Labels: arch-arm64, area-CodeGen

#588 Add --resilient switch to crossgen2 compilations
  src/coreclr/tests/src/CLRTest.CrossGen.targets
Labels: area-crossgen2

#530 Update libraries outerloop pipelines to use a lively built coreclr
  eng/pipelines/libraries/outerloop.yml
Labels: area-Infrastructure-libraries

#346 Implement SequenceReader.TryPeek(long offset, out T value)
  src/libraries/System.Memory/src/System/Buffers/SequenceReader.cs
  src/libraries/System.Memory/tests/SequenceReader/BasicTests.cs
Labels: area-System.Buffers

#570 Add README.md for archived runtime packages
  src/libraries/Microsoft.CSharp/README.md
  src/libraries/Microsoft.VisualBasic.Core/README.md
  src/libraries/System.Dynamic.Runtime/README.md
  src/libraries/System.Linq.Expressions/README.md
Labels: area-Meta

#532 Changed corefx to libraries in System.Private.CoreLib
  src/libraries/System.Private.CoreLib/src/Internal/IO/File.cs
  src/libraries/System.Private.CoreLib/src/Internal/Runtime/CompilerServices/Unsafe.cs
  src/libraries/System.Private.CoreLib/src/Internal/Win32/RegistryKey.cs
  src/libraries/System.Private.CoreLib/src/Interop/Unix/Interop.Errors.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Serialization/SerializationInfo.cs
Labels: area-Infrastructure-libraries

#595 Fix build-test.cmd help message for generatelayoutonly option
  src/coreclr/build-test.cmd
Labels: area-Infrastructure-coreclr

#463 Enterprise Testing System
  eng/pipelines/libraries/enterprise/linux.yml
  src/libraries/Common/tests/System/Net/EnterpriseTests/EnterpriseTestConfiguration.cs
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/README.md
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/run.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/common/krb5.conf
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/docker-compose.yml
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/kadm5.acl
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/kdc.conf
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/run.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/setup-kdc.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/linuxclient/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/linuxclient/run.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/linuxclient/test-webserver.sh
  src/libraries/System.Net.Http/tests/EnterpriseTests/Configurations.props
  src/libraries/System.Net.Http/tests/EnterpriseTests/HttpClientAuthenticationTest.cs
  src/libraries/System.Net.Http/tests/EnterpriseTests/README.md
  src/libraries/System.Net.Http/tests/EnterpriseTests/System.Net.Http.Enterprise.Tests.csproj
  src/libraries/System.Net.Security/tests/EnterpriseTests/Configurations.props
  src/libraries/System.Net.Security/tests/EnterpriseTests/NegotiateStreamLoopbackTest.cs
  src/libraries/System.Net.Security/tests/EnterpriseTests/README.md
  src/libraries/System.Net.Security/tests/EnterpriseTests/System.Net.Security.Enterprise.Tests.csproj
Labels: area-System.Net

#478 Use MaxExpansionFactorWhileTranscoding instead of counting bytes
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/libraries/System.Text.Json/tests/JsonDateTimeTestData.cs
  src/libraries/System.Text.Json/tests/JsonStringTests.cs
Labels: area-System.Text.Json, enhancement

#581 Fix Thread.GetCurrentProcessorId for > 64 CPUs on Windows.
  src/coreclr/src/vm/comsynchronizable.cpp
Labels: area-System.Threading

#495 Enable parallelism in Crossgen2 and add flags for it in SuperIlc.
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CommandLineOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CpaotRunner.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/src/tools/crossgen2/crossgen2/CommandLineOptions.cs
  src/coreclr/src/tools/crossgen2/crossgen2/Program.cs
Labels: area-crossgen2

#537 Update links in project-guidelines.md
  docs/coding-guidelines/project-guidelines.md
Labels: area-Meta

#542 Improve perf and scalability of Regex's cache
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Reference.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Cache.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Cache.Tests.cs
Labels: area-System.Text.RegularExpressions

#520 Switch over CoreCLR pr.yml to use live-built libraries
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/pr.yml
  eng/pipelines/coreclr/templates/build-test-job.yml
  eng/pipelines/coreclr/templates/run-test-job.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/build-test-job.yml
  eng/pipelines/libraries/run-test-job.yml
Labels: area-Infrastructure-coreclr

#313 Add test for CancellationTokenRegistration.Unregister race condition
  src/libraries/System.Threading.Tasks/tests/CancellationTokenTests.cs
Labels: area-System.Threading

#619 Revert --resilient from being the default on crossgen2 for now
  src/coreclr/tests/src/CLRTest.CrossGen.targets
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_25027/GitHub_25027.ilproj
Labels: area-crossgen2

#584 Revert target framework version change to netcoreapp3.0 when building from VS
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/src/tools/crossgen2/crossgen2/crossgen2.csproj
Labels: area-Infrastructure-libraries, area-crossgen2

#600 Change `mcs -dump` to show the full function name for each MC
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen

#551 Ci Health and investigation doc
  docs/workflow/ci/coreclr-ci-health.md
Labels: area-Infrastructure

#292 Remove duplicates of Interop.Kernel32.GenericOperations.GENERIC_READ and GENERIC_WRITE
  src/libraries/Microsoft.IO.Redist/src/Microsoft.IO.Redist.csproj
  src/libraries/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/libraries/System.IO.FileSystem/src/System.IO.FileSystem.csproj
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/libraries/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/libraries/System.IO.Ports/src/System.IO.Ports.csproj
  src/libraries/System.Private.CoreLib/src/Interop/Windows/Kernel32/Interop.GenericOperations.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.Win32.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.Windows.cs
Labels: area-System.IO

#623 Add path filters to runtime.yml triggers
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/pr.yml
  eng/pipelines/installer/azure-pipelines.yml
  eng/pipelines/libraries/.azure-ci.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-libraries

#624 Remove obsolete tests from System.Net.Security
  src/libraries/System.Net.Security/tests/FunctionalTests/NegotiateStreamTest.Linux.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/UnixGssFakeNegotiateStream.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/UnixGssFakeStreamFramer.cs
  src/libraries/System.Net.Security/tests/Scripts/Unix/kdc.conf
  src/libraries/System.Net.Security/tests/Scripts/Unix/kdc.conf.centos
  src/libraries/System.Net.Security/tests/Scripts/Unix/kdc.conf.opensuse
  src/libraries/System.Net.Security/tests/Scripts/Unix/kdc.conf.ubuntu
  src/libraries/System.Net.Security/tests/Scripts/Unix/krb5.conf
  src/libraries/System.Net.Security/tests/Scripts/Unix/setup-kdc.sh
Labels: area-System.Net.Security, test enhancement

#591 use 2x buffer when sysctl fails with ENOMEM
  src/libraries/Native/Unix/System.Native/pal_interfaceaddresses.c
Labels: area-System.Net, os-mac-os-x

#592 Exclude test from crossgenning
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract02.ilproj
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract03.ilproj
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract04.ilproj
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract05.ilproj
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract06.ilproj
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract07.ilproj
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract08.ilproj
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract10.ilproj
  src/coreclr/tests/src/Regressions/coreclr/16354/notimplemented.ilproj
Labels: area-TypeSystem, area-crossgen2

#625 Fix two subtle bugs in CoreCLR test build
  src/coreclr/build-test.cmd
  src/coreclr/tests/src/runtest.proj
Labels: area-Infrastructure-coreclr

#390 Test span-based CopyTo/Async method
  src/libraries/System.IO/tests/Stream/Stream.CopyToSpanTests.cs
  src/libraries/System.IO/tests/System.IO.Tests.csproj
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.IO

#388 Implement AdvanceToEnd,UnreadSequence
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/src/System/Buffers/SequenceReader.Search.cs
  src/libraries/System.Memory/src/System/Buffers/SequenceReader.cs
  src/libraries/System.Memory/tests/SequenceReader/BasicTests.cs
Labels: area-System.Memory

#658 Fix race condition in live-live CoreCLR PR
  eng/pipelines/coreclr/templates/run-test-job.yml
Labels: area-Infrastructure-coreclr

#675 Correct nullability annotations for CreateInstance implementation details
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Activator.RuntimeType.cs
  src/libraries/System.Private.CoreLib/src/System/Activator.cs
Labels: area-System.Reflection

#386 Add support for escaped characters in JsonString (for {Try}GetDateTime{Offset})
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Node/JsonString.cs
  src/libraries/System.Text.Json/tests/JsonStringTests.cs
Labels: area-System.Text.Json

#613 Fix crossgen2 issue with generic delegates
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelegateCtorSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunSymbolNodeFactory.cs
Labels: area-crossgen2

#634 Fix logging initialization race (#616)
  src/coreclr/src/utilcode/log.cpp
Labels: area-CodeGen

#664 Consolidate .netcoreapp.cs test files in System.Net.*
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.netcoreapp.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.netcoreapp.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpMethodTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpMethodTest.netcoreapp.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Primitives/tests/FunctionalTests/CookieCollectionTest.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/CookieCollectionTest.netcoreapp.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.netcoreapp.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ExecutionContextFlowTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ExecutionContextFlowTest.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/KeepAliveTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendPacketsElementTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendPacketsElementTest.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.netcoreapp.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
  src/libraries/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
  src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.netcoreapp.cs
  src/libraries/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/SendReceiveTest.netcoreapp.cs
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/System.Net.WebSockets/tests/System.Net.WebSockets.Tests.csproj
  src/libraries/System.Net.WebSockets/tests/WebSocketTests.cs
  src/libraries/System.Net.WebSockets/tests/WebSocketTests.netcoreapp.cs
Labels: area-System.Net

#671 Add runtime-assets dependency
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure-libraries

#669 Fix runtest.py for the dotnet/runtime repo
  src/coreclr/scripts/coreclr_arguments.py
  src/coreclr/tests/runtest.py
Labels: area-Infrastructure-coreclr

#626 Add new YAML template for combined build of CoreCLR and libraries
  eng/pipelines/common/build-coreclr-and-libraries-job.yml
  eng/pipelines/coreclr/crossgen2.yml
Labels: area-Infrastructure-coreclr

#296 Publish nethost static library
  src/installer/Directory.Build.props
  src/installer/corehost/cli/lib_static.cmake
  src/installer/corehost/cli/nethost/CMakeLists.txt
  src/installer/pkg/packaging/installers.proj
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.FreeBSD.Microsoft.NETCore.DotNetAppHost.props
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.OSX.Microsoft.NETCore.DotNetAppHost.props
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.Unix.Microsoft.NETCore.DotNetAppHost.props
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.Windows_NT.Microsoft.NETCore.DotNetAppHost.props
Labels: area-Infrastructure-installer

#533 Turn back on some of the EventPipe tests that were disabled in GCStress
  src/coreclr/tests/src/tracing/eventpipe/buffersize/buffersize.csproj
  src/coreclr/tests/src/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.csproj
  src/coreclr/tests/src/tracing/eventpipe/providervalidation/providervalidation.csproj
  src/coreclr/tests/src/tracing/eventpipe/rundownvalidation/rundownvalidation.csproj
Labels: area-Tracing

#608 Implement classMustBeLoadedBeforeCodeIsRun in crossgen2
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodWithGCInfo.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#400 Fix zero connection timeout issue
  src/libraries/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs
Labels: area-System.Data.SqlClient

#451 Preemptively correct the restore project style
  eng/restore/repoRestore.targets
Labels: area-Infrastructure-libraries

#711 Add back CODEOWNERS for Http2 shared code
  .github/CODEOWNERS
Labels: area-System.Net.Http

#642 Re-enable arm32 windows testing
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
Labels: area-Infrastructure

#586 Live-live CoreCLR CI.yml
  eng/pipelines/coreclr/ci.yml
Labels: area-Infrastructure-coreclr

#652 Improve superpmi collection steps
  src/coreclr/scripts/coreclr_arguments.py
  src/coreclr/scripts/superpmi.py
  src/coreclr/tests/src/JIT/superpmi/superpmicollect.cs
Labels: area-CodeGen

#692 Fix memory leaked caused by Marshal.GetFunctionPointerForDelegate
  src/coreclr/src/vm/dllimportcallback.cpp
  src/coreclr/src/vm/dllimportcallback.h
Labels: area-Interop

#503 Update Multi-level SharedFX Lookup Doc
  docs/design/features/multilevel-sharedfx-lookup.md
Labels: area-Host, documentation

#713 Fix DynamicMethodDesc::Destroy vs code heap enumeration race
  src/coreclr/src/vm/dynamicmethod.cpp
Labels: area-VM

#741 Disable more tests from the crossgen2 run
  src/coreclr/tests/src/Loader/classloader/generics/Instantiation/Negative/abstract09.ilproj
  src/coreclr/tests/src/readytorun/tests/genericsload/callgenericctor.csproj
  src/coreclr/tests/src/readytorun/tests/genericsload/usegenericfield.csproj
  src/coreclr/tests/src/readytorun/tests/versionbubbles/versionbubbles.csproj
Labels: area-crossgen2

#685 Fix relro, now and PIE for host and libraries
  src/installer/corehost/cli/common.cmake
  src/installer/corehost/cli/exe.cmake
  src/installer/corehost/cli/test_fx_ver/CMakeLists.txt
  src/installer/settings.cmake
  src/libraries/Native/Unix/CMakeLists.txt
Labels: area-Infrastructure

#710 Sync H2 namespace updates
  src/libraries/Common/src/System/Net/Http/Http2/Hpack/HPackDecoder.cs
  src/libraries/Common/src/System/Net/Http/Http2/Hpack/StatusCodes.cs
  src/libraries/Common/src/System/Net/Http/Http2/IHttpHeadersHandler.cs
  src/libraries/Common/tests/Tests/System/Net/Http2/HPackDecoderTest.cs
Labels: area-System.Net.Http

#716 Add porting guide
  docs/design/coreclr/botr/README.md
  docs/design/coreclr/botr/guide-for-porting.md
Labels: area-Meta

#705 Add installer build/test to the runtime.yml pipeline
  eng/pipelines/common/clone-checkout-bundle-step.yml
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/templates/xplat-job.yml
  eng/pipelines/installer/azure-pipelines.yml
  eng/pipelines/installer/installer-matrix.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/installer/jobs/bash-build.yml
  eng/pipelines/installer/jobs/osx-build.yml
  eng/pipelines/installer/jobs/prepare-signed-artifacts.yml
  eng/pipelines/installer/jobs/run-publish-project.yml
  eng/pipelines/installer/jobs/steps/upload-job-artifacts.yml
  eng/pipelines/installer/jobs/windows-build.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/variables.yml
  eng/pipelines/runtime.yml
  src/installer/corehost/build.sh
  src/installer/pkg/projects/netcoreapp/src/localnetcoreapp.override.targets
  src/installer/pkg/projects/netcoreapp/src/netcoreapp.depproj
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
Labels: area-Infrastructure

#719 Disable generating a map file by default.
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CommandLineOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CpaotRunner.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/CodeGen/ReadyToRunObjectWriter.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/src/tools/crossgen2/crossgen2/CommandLineOptions.cs
  src/coreclr/src/tools/crossgen2/crossgen2/Program.cs
Labels: area-crossgen2

#744 Remove unused CMake define.
  src/coreclr/src/pal/tools/gen-buildsys.cmd
  src/coreclr/src/pal/tools/gen-buildsys.sh
Labels: area-Infrastructure-coreclr, auto-merge

#436 Added tests to cover all branches of JsonNodeOptions
  src/libraries/System.Text.Json/tests/JsonNode.TraversalTests.cs
  src/libraries/System.Text.Json/tests/JsonNodeOptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, test enhancement

#697 Switch over CoreCLR stress pipelines to live-live mode
  eng/pipelines/coreclr/jitstress-isas-arm.yml
  eng/pipelines/coreclr/jitstress-isas-x86.yml
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/jitstressregs-x86.yml
  eng/pipelines/coreclr/jitstressregs.yml
Labels: area-Infrastructure-coreclr

#691 Document caution regarding AdvanceTo's side effect
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
Labels: area-System.IO.Pipelines

#762 Fix Emscripten build of libraries
  src/libraries/Native/Unix/CMakeLists.txt
Labels: area-Infrastructure-libraries

#750 Increase the heuristic fetchDepth value to 20 for the combined repo
  eng/pipelines/common/checkout-job.yml
Labels: area-Infrastructure-coreclr

#318 Fix corehost RID generation logic for versionless distros
  src/installer/corehost/build.sh
Labels: area-Host

#723 Update SuperPMI readme
  src/coreclr/scripts/superpmi.md
  src/coreclr/src/ToolBox/superpmi/readme.md
  src/coreclr/src/ToolBox/superpmi/readme.txt
Labels: area-CodeGen

#316 Verified the null checking in the extension methods.
  src/libraries/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.cs
  src/libraries/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.net46.cs
  src/libraries/System.IO.FileSystem.AccessControl/tests/FileSystemAclExtensionsTests.cs
Labels: area-System.IO

#672 Move dotnet.cmd/sh helper scripts into the repo root
  dotnet.cmd
  dotnet.sh
  eng/common/tools.ps1
  eng/update-dependencies.cmd
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
  src/coreclr/build.cmd
  src/coreclr/build.sh
  src/coreclr/dotnet.cmd
  src/coreclr/dotnet.sh
  src/coreclr/tests/bringup_runtest.sh
  src/coreclr/tests/runtest.cmd
  src/coreclr/tests/runtest.sh
  src/coreclr/tests/setup-stress-dependencies.cmd
  src/coreclr/tests/setup-stress-dependencies.sh
  src/coreclr/tests/src/readytorun/r2rdump/rebaseline.cmd
Labels: area-Infrastructure

#679 Kill a non-gc-type lclVar if it has a gc-type value
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsra.h
Labels: area-CodeGen

#714 Improve RegexOptions.Compiled codegen for ignoring case (in particular InvariantCulture)
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
Labels: area-System.Text.RegularExpressions

#751 Added PerfScore support for Arm64
  src/coreclr/src/jit/emit.cpp
  src/coreclr/src/jit/emit.h
  src/coreclr/src/jit/emitarm.cpp
  src/coreclr/src/jit/emitarm64.cpp
  src/coreclr/src/jit/emitxarch.cpp
Labels: area-CodeGen

#684 HttpListener.Stop closes the request queue handle with CloseIoEx method
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerTests.cs
Labels: area-System.Net

#708 Make sure we tell the same lie to the JIT for default interface methods
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-CodeGen, area-crossgen2

#700 Consolidate NCL stress testing infrastructure
  eng/docker/Readme.md
  eng/docker/build-docker-sdk.ps1
  eng/docker/libraries-sdk.linux.Dockerfile
  eng/docker/libraries-sdk.windows.Dockerfile
  eng/pipelines/libraries/stress/http-linux.yml
  eng/pipelines/libraries/stress/http-windows.yml
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl-linux.yml
  eng/pipelines/libraries/stress/ssl-windows.yml
  eng/pipelines/libraries/stress/ssl.yml
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Readme.md
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/docker-compose.yml
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/load-corefx-testhost.ps1
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/load-corefx-testhost.sh
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/run-docker-compose.ps1
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Readme.md
  src/libraries/System.Net.Security/tests/StressTests/SslStress/docker-compose.yml
  src/libraries/System.Net.Security/tests/StressTests/SslStress/run-docker-compose.ps1
Labels: area-Infrastructure-libraries, tenet-reliability

#791 Limit crossgen2 instantiating depth
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#769 Preserve HResult for bad password in managed PKCS12 PAL
  src/libraries/Common/src/Internal/Cryptography/Windows/CryptoThrowHelper.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/UnixPkcs12Reader.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/PfxFormatTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/PfxFormatTests_Collection.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/PfxFormatTests_SingleCert.cs
Labels: area-System.Security

#755 Update RyuJIT documentation
  docs/design/coreclr/botr/porting-ryujit.md
  docs/design/coreclr/botr/ryujit-overview.md
Labels: area-CodeGen

#699 Fixes to static field offsets
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
Labels: area-crossgen2

#777 Fix the LockFreeReaderHashtable
  src/coreclr/src/tools/Common/TypeSystem/Common/Utilities/LockFreeReaderHashtable.cs
Labels: area-crossgen2

#775 Support targeting ARM64 in crossgen2
  src/coreclr/src/tools/Common/Compiler/DependencyAnalysis/Relocation.cs
  src/coreclr/src/tools/Common/Compiler/DependencyAnalysis/Target_ARM64/ARM64Emitter.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/Target_ARM64/ImportThunk.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/RelocationHelper.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/TargetExtensions.cs
  src/coreclr/src/tools/crossgen2/crossgen2/Program.cs
Labels: area-crossgen2

#797 JIT: fix spill logic for local structs
  src/coreclr/src/jit/importer.cpp
  src/coreclr/tests/src/JIT/Regression/JitBlue/Runtime_764/Runtime_764.cs
  src/coreclr/tests/src/JIT/Regression/JitBlue/Runtime_764/Runtime_764.csproj
Labels: area-CodeGen

#637 Added OS and Bit Specific tags to accordingly .csproj files.
  src/coreclr/tests/src/Interop/ArrayMarshalling/ByValArray/MarshalArrayByValTest.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/DefaultInterfaces.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/Dispatch.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/Licensing.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/Primitives.csproj
  src/coreclr/tests/src/Interop/DllImportAttribute/DllImportPath/DllImportPathTest.csproj
  src/coreclr/tests/src/Interop/DllImportAttribute/ExactSpelling/ExactSpellingTest.csproj
  src/coreclr/tests/src/Interop/ICustomMarshaler/Primitives/ICustomMarshaler.csproj
  src/coreclr/tests/src/Interop/NativeLibraryResolveCallback/CallbackStressTest.csproj
  src/coreclr/tests/src/JIT/Directed/arglist/vararg.csproj
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.csproj
  src/coreclr/tests/src/JIT/SIMD/VectorConvert_r.csproj
  src/coreclr/tests/src/JIT/SIMD/VectorConvert_ro.csproj
  src/coreclr/tests/src/baseservices/exceptions/WindowsEventLog/WindowsEventLog.csproj
Labels: area-Infrastructure-coreclr, test enhancement

#815 Update Contributing.MD links
  CONTRIBUTING.md
Labels: area-Meta

#828 Add more path exclusions to subsets
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#729 Check method can compile before rooting
  src/coreclr/src/tools/Common/Compiler/CompilerTypeSystemContext.Validation.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelegateCtorSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/FieldFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GenericLookupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ModuleTokenResolver.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/NewArrayFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/NewObjectFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunLibraryRootProvider.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#758 Miscellaneous performance fixes for Crossgen2
  src/coreclr/src/tools/Common/Compiler/CoreRTNameMangler.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CommandLineOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CpaotRunner.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedFieldRvaNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/FieldFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GenericLookupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportThunk.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ModuleToken.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeFixupSignature.cs
  src/coreclr/src/tools/crossgen2/crossgen2/CommandLineOptions.cs
  src/coreclr/src/tools/crossgen2/crossgen2/Program.cs
Labels: area-crossgen2

#814 Fix the gc layout algorithm to not double count byref
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-crossgen2

#823 Invoke dotnet.cmd/sh from right location in py
  src/coreclr/tests/runtest.py
Labels: area-Infrastructure-coreclr

#793 Remove TKey : notnull constraint from `IDictionary<TKey, TValue>`
  src/libraries/System.Collections/ref/System.Collections.cs
  src/libraries/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/IDictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/IReadOnlyDictionary.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Collections

#494 Local live-live builds
  Directory.Build.props
  Directory.Build.targets
  eng/Subsets.props
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/helixcorefxtests.proj
  eng/liveBuilds.targets
  eng/packaging.props
  eng/pipelines/coreclr/pr.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossgen-comparison-job.yml
  eng/pipelines/coreclr/templates/run-test-job.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/installer/azure-pipelines.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/installer/jobs/bash-build.yml
  eng/pipelines/installer/jobs/osx-build.yml
  eng/pipelines/installer/jobs/windows-build.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/referenceFromRuntime.targets
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
  src/coreclr/coreclr.proj
  src/coreclr/src/.nuget/packaging.props
  src/coreclr/tests/build.proj
  src/coreclr/tests/scripts/patch-corefx.py
  src/coreclr/tests/src/Common/CoreFX/CoreFX.csproj
  src/coreclr/tests/src/Common/Directory.Build.targets
  src/coreclr/tests/src/Common/test_dependencies/test_dependencies.csproj
  src/coreclr/tests/src/Common/test_runtime/test_runtime.csproj
  src/coreclr/tests/src/Directory.Build.targets
  src/coreclr/tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  src/coreclr/tests/src/dirs.proj
  src/coreclr/tests/src/runtest.proj
  src/installer/Directory.Build.props
  src/installer/Directory.Build.targets
  src/installer/pkg/Directory.Build.targets
  src/installer/pkg/deps/deps.csproj
  src/installer/pkg/projects/Directory.Build.targets
  src/installer/pkg/projects/netcoreapp/pkg/legacy/Microsoft.NETCore.App.Internal.pkgproj
  src/installer/pkg/projects/netcoreapp/pkg/workaround/Microsoft.NETCore.App.pkgproj
  src/installer/pkg/projects/netcoreapp/sfx/Microsoft.NETCore.App.SharedFx.sfxproj
  src/installer/pkg/projects/netcoreapp/src/localnetcoreapp.override.targets
  src/installer/pkg/projects/netcoreapp/src/netcoreapp.depproj
  src/installer/test/PrepareTestAssets/PrepareTestAssets.proj
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/restore/dirs.proj
  src/libraries/restore/runtime/runtime.depproj
  src/libraries/shims/manual/Directory.Build.props
  src/libraries/src.builds
Labels: area-Infrastructure

#647 FileSecurity/DirectorySecurity should support long paths
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetSecurityInfoByHandle.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetSecurityInfoByName.cs
  src/libraries/Common/tests/System/IO/TempDirectory.cs
  src/libraries/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/libraries/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/DirectorySecurity.cs
  src/libraries/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSecurity.cs
  src/libraries/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSystemSecurity.cs
  src/libraries/System.IO.FileSystem.AccessControl/tests/FileSystemSecurityTests.cs
  src/libraries/System.Security.AccessControl/src/System/Security/AccessControl/NativeObjectSecurity.cs
Labels: area-System.IO, auto-merge

#795 Revert workarounds for IEquatable and nullable
  docs/coding-guidelines/api-guidelines/nullability.md
  src/coreclr/src/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Utf8String.cs
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/SortVersion.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.Trim.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.AdjustmentRule.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Version.cs
  src/libraries/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs
  src/libraries/System.Runtime.Extensions/src/System/Runtime/Versioning/FrameworkName.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Utf8String.Experimental/ref/System.Utf8String.Experimental.cs
Labels: area-Infrastructure-libraries

#841 Fix bug with type loadability validation
  src/coreclr/src/tools/Common/Compiler/CompilerTypeSystemContext.Validation.cs
Labels: area-crossgen2

#844 Clarify Lowering in ryujit-overview
  docs/design/coreclr/botr/ryujit-overview.md
Labels: area-CodeGen

#838 Comment on why s_createProcessLock exists in Process.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
Labels: area-System.Diagnostics.Process

#859 Clarify Lowering in ryujit-overview
  docs/design/coreclr/botr/ryujit-overview.md
Labels: area-CodeGen

#843 Fix enterprise testing pipeline due to live-live changes
  eng/pipelines/libraries/enterprise/linux.yml
Labels: area-System.Net

#602 Ignore full method name when doing `mcs -removeDup`
  src/coreclr/src/ToolBox/superpmi/mcs/verbremovedup.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/callutils.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/callutils.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.h
Labels: area-CodeGen

#868 Fix JitEECallTimingInfo bit rot
  src/coreclr/src/jit/ICorJitInfo_API_names.h
  src/coreclr/src/jit/ICorJitInfo_API_wrapper.hpp
Labels: area-CodeGen

#747 Fix crossgenning of framework libraries on Windows
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
  src/coreclr/tests/src/CLRTest.CrossGen.targets
Labels: area-Infrastructure-coreclr

#879 Fix incorrect merge of my framework crossgenning fix with Jeremy's local live-live change
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
Labels: area-Infrastructure-coreclr
