Repository dotnet/runtime, pull requests merged in 2020-12, with the labels that each got.

#45372 Update Interop CRST dependency.
  src/coreclr/src/inc/CrstTypes.def
  src/coreclr/src/inc/crsttypes.h
Labels: area-Interop-coreclr

#45377 r0InUse should be true for case of SoftFP
  src/coreclr/src/jit/codegenarm.cpp
Labels: arch-arm32, area-CodeGen-coreclr, os-linux

#45280 More MemoryCache perf improvements
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
Labels: area-Extensions-Caching, tenet-performance

#45388 Fix PlaintextStreamFilter for sync requests
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpMessageHandlerStage.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#45376 Reenable Mono Windows runtime build in runtime-official.yml
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-mono

#45235 Update lsra-detail.md
  docs/design/coreclr/jit/lsra-detail.md
Labels: area-CodeGen-coreclr

#45142 Remove dependency on PerfCounter.dll
  src/libraries/Common/src/Interop/Windows/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Windows/Pdh/Interop.PdhFormatFromRawValue.cs
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/CounterSampleCalculator.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/CounterCreationDataCollectionTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/CounterCreationDataTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/CounterSampleCalculatorTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/CounterSampleTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/Helpers.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/InstanceDataTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/PerformanceCounterCategoryTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/PerformanceCounterTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/PerformanceDataTests.cs
Labels: area-System.Diagnostics

#45042 Suppress StackTrace ILLinker warning in TryResolveStateMachineMethod
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.Shared.xml
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackTrace.cs
Labels: area-System.Runtime, linkable-framework

#45390 [wasm][tests] Use correct output path when running with helix, so that the log
  eng/testing/AndroidRunnerTemplate.sh
  eng/testing/AppleRunnerTemplate.sh
  eng/testing/WasmRunnerTemplate.sh
Labels: area-Infrastructure-mono

#45433 Fix Crossgen2 test concurrency on Windows
  src/tests/Common/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#43870 Handle additional multireg args
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/target.h
  src/tests/JIT/Regression/JitBlue/Runtime_13417/Runtime_13417.cs
  src/tests/JIT/Regression/JitBlue/Runtime_13417/Runtime_13417.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_13669/Runtime_13669.cs
  src/tests/JIT/Regression/JitBlue/Runtime_13669/Runtime_13669.csproj
Labels: area-CodeGen-coreclr

#45443 [wasm] remove compile timezone data task
  eng/Version.Details.xml
  eng/Versions.props
  src/mono/wasm/runtime/library_mono.js
  src/mono/wasm/wasm.proj
  tools-local/tasks/mobile.tasks/WasmBuildTasks/CompileTimeZoneData.cs
Labels: arch-wasm, area-Infrastructure-mono

#45451 Disable DiagnosticEvent tests in arraypool
  src/libraries/System.Buffers/tests/ArrayPool/UnitTests.cs
Labels: area-System.Buffers

#45418 Change AssemblyName formatting not to require static table of KVPs
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyNameFormatter.cs
  src/libraries/System.Reflection/tests/AssemblyNameTests.cs
Labels: area-System.Reflection

#45437 Removed thread-safety from SequenceReader
  src/libraries/System.Memory/src/System/Buffers/SequenceReader.cs
Labels: area-System.Memory

#45447 Fix for R2RDumpTests nullref in composite mode
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
Labels: area-crossgen2-coreclr

#45434 Add Mono Windows x86 builds
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/mono/CMakeLists.txt
  src/mono/mono.proj
  src/mono/mono/metadata/mono-config.c
  src/mono/mono/utils/mono-sigcontext.h
Labels: area-Build-mono

#45442 Updates the RID graph to include Android 30
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Meta

#45484 Bump timeout for iOS CI jobs
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#45469 Fix deadlock in TestEventListener and re-enable ArrayPool DiagnosticEvent tests
  src/libraries/Common/tests/System/Diagnostics/Tracing/TestEventListener.cs
  src/libraries/System.Buffers/tests/ArrayPool/UnitTests.cs
Labels: area-Diagnostics-coreclr

#45248 Fix the EH-write thru scenario
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#45410 Reduce CacheEntry size
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/CacheEntryScopeExpirationTests.cs
Labels: area-Extensions-Caching

#45292 Remove ResolveXHandle indirections
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Associates.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/src/vm/runtimehandles.cpp
  src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs
Labels: area-System.Reflection, tenet-performance

#45044 Use jit interface thunkgen tech for more files
  docs/project/updating-jitinterface.md
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/icorjitinfoimpl.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/inc/corjit.h
  src/coreclr/src/inc/jiteeversionguid.h
  src/coreclr/src/jit/ICorJitInfo_API_names.h
  src/coreclr/src/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/Program.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/gen.bat
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/gen.sh
  src/coreclr/src/tools/aot/jitinterface/corinfoexception.cpp
  src/coreclr/src/tools/aot/jitinterface/corinfoexception.h
  src/coreclr/src/tools/aot/jitinterface/jitinterface.cpp
  src/coreclr/src/tools/aot/jitinterface/jitinterface.h
  src/coreclr/src/tools/aot/jitinterface/jitwrapper.cpp
Labels: area-CodeGen-coreclr

#45467 Add OSX arm64 jit.
  src/coreclr/clrdefinitions.cmake
  src/coreclr/src/jit/CMakeLists.txt
Labels: arch-arm64, area-Infrastructure-coreclr, os-mac-os-x

#45461 A small jit changes for Arm64 apple.
  src/coreclr/src/jit/ee_il_dll.cpp
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/morph.cpp
  src/tests/Interop/PInvoke/Primitives/Int/PInvokeIntNative.cpp
  src/tests/Interop/PInvoke/Primitives/Int/PInvokeIntTest.cs
Labels: arch-arm64, area-CodeGen-coreclr, os-mac-os-x

#45490 Increase Mac outerloop timeout for AzDO job
  eng/pipelines/libraries/outerloop-mono.yml
Labels: area-Infrastructure-libraries

#45477 Fix Write_DataReadFromDesiredOffset test
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
Labels: area-System.IO, auto-merge

#45499 Use the updated URL for FabricBot
  docs/area-owners.md
Labels: area-Meta, documentation

#44932 disable restore in vs for projects targeting platform specific old frameworks
  .config/dotnet-tools.json
  eng/slngen.nuget.config
  eng/slngen.template.proj
  src/libraries/Microsoft.Extensions.Configuration.Xml/NuGet.config
  src/libraries/Microsoft.Extensions.Configuration/NuGet.config
  src/libraries/Microsoft.Extensions.Hosting/NuGet.config
  src/libraries/Microsoft.Extensions.Logging.EventLog/NuGet.config
  src/libraries/Microsoft.Extensions.Logging/NuGet.config
  src/libraries/Microsoft.VisualBasic.Core/NuGet.config
  src/libraries/Microsoft.Win32.Registry.AccessControl/NuGet.config
  src/libraries/Microsoft.Win32.Registry/NuGet.config
  src/libraries/System.Configuration.ConfigurationManager/NuGet.config
  src/libraries/System.Data.Odbc/NuGet.config
  src/libraries/System.Data.OleDb/NuGet.config
  src/libraries/System.Diagnostics.EventLog/NuGet.config
  src/libraries/System.Diagnostics.PerformanceCounter/NuGet.config
  src/libraries/System.Diagnostics.Process/NuGet.config
  src/libraries/System.DirectoryServices.AccountManagement/NuGet.config
  src/libraries/System.DirectoryServices.Protocols/NuGet.config
  src/libraries/System.DirectoryServices/NuGet.config
  src/libraries/System.Drawing.Common/NuGet.config
  src/libraries/System.IO.FileSystem.AccessControl/NuGet.config
  src/libraries/System.IO.IsolatedStorage/NuGet.config
  src/libraries/System.IO.Pipes.AccessControl/NuGet.config
  src/libraries/System.IO.Pipes/NuGet.config
  src/libraries/System.IO.Ports/NuGet.config
  src/libraries/System.Management/NuGet.config
  src/libraries/System.Net.Http.WinHttpHandler/NuGet.config
  src/libraries/System.Net.Http/NuGet.config
  src/libraries/System.Net.HttpListener/NuGet.config
  src/libraries/System.Net.Mail/NuGet.config
  src/libraries/System.Net.NameResolution/NuGet.config
  src/libraries/System.Net.Requests/NuGet.config
  src/libraries/System.Net.Security/NuGet.config
  src/libraries/System.Net.Sockets/NuGet.config
  src/libraries/System.Resources.Extensions/NuGet.config
  src/libraries/System.Resources.ResourceManager/NuGet.config
  src/libraries/System.Runtime.Caching/NuGet.config
  src/libraries/System.Runtime.Serialization.Formatters/NuGet.config
  src/libraries/System.Runtime/NuGet.config
  src/libraries/System.Security.AccessControl/NuGet.config
  src/libraries/System.Security.Cryptography.Algorithms/NuGet.config
  src/libraries/System.Security.Cryptography.Cng/NuGet.config
  src/libraries/System.Security.Cryptography.Csp/NuGet.config
  src/libraries/System.Security.Cryptography.OpenSsl/NuGet.config
  src/libraries/System.Security.Cryptography.Pkcs/NuGet.config
  src/libraries/System.Security.Cryptography.ProtectedData/NuGet.config
  src/libraries/System.Security.Cryptography.X509Certificates/NuGet.config
  src/libraries/System.Security.Cryptography.Xml/NuGet.config
  src/libraries/System.Security.Permissions/NuGet.config
  src/libraries/System.Security.Principal.Windows/NuGet.config
  src/libraries/System.ServiceProcess.ServiceController/NuGet.config
  src/libraries/System.Text.Encoding.CodePages/NuGet.config
  src/libraries/System.Threading.AccessControl/NuGet.config
  src/libraries/System.Windows.Extensions/NuGet.config
  src/libraries/UpdateLibrariesSlns.ps1
  src/libraries/slngen.proj
Labels: area-Infrastructure-libraries

#45500 Redirect default install location in test to avoid using machine-wide install
  src/installer/tests/HostActivation.Tests/FrameworkResolution/MultipleHives.cs
Labels: area-Host

#45495 Remove an erroneous assert
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/GcInfo.cs
Labels: area-R2RDump-coreclr

#45480 WinHttpHandler: fix double -> uint conversions for ARM64
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/APICallHistory.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/FakeInterop.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/WinHttpHandlerTest.cs
Labels: area-System.Net.Http

#45489 Delete unnecessary GetNativeHandle methods on reflection types
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/QCallHandles.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.Mono.cs
Labels: area-System.Reflection

#45498 Fix IID for System.Runtime.InteropServices.ComTypes.IEnumSTATDATA
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/ComTypes/IEnumSTATDATA.cs
Labels: area-System.Runtime.InteropServices

#45392 Fixes paths
  docs/design/coreclr/jit/JitOptimizerPlanningGuide.md
  docs/design/coreclr/jit/porting-ryujit.md
  docs/design/coreclr/jit/ryujit-overview.md
  docs/design/features/hw-intrinsics.md
  docs/workflow/testing/coreclr/gc-stress-run-readme.md
  docs/workflow/testing/coreclr/test-configuration.md
  docs/workflow/testing/coreclr/testing.md
  src/coreclr/scripts/superpmi.md
  src/coreclr/src/ToolBox/superpmi/readme.md
  src/coreclr/src/tools/ILVerify/README.md
  src/tests/Interop/ReadMe.md
  src/tests/run.py
Labels: area-Meta

#45453 fix invalid IL in profiler stub helper
  src/coreclr/src/vm/dllimport.cpp
  src/tests/profiler/native/CMakeLists.txt
  src/tests/profiler/native/classfactory.cpp
  src/tests/profiler/native/profiler.def
  src/tests/profiler/native/transitions/transitions.cpp
  src/tests/profiler/native/transitions/transitions.h
  src/tests/profiler/transitions/transitions.cs
  src/tests/profiler/transitions/transitions.csproj
Labels: area-Diagnostics-coreclr

#45511 DisableFileSystemWatcherTest
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.cs
Labels: area-System.IO

#45529 Temporarily disable Mono Desktop Windows Release x64
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr, auto-merge

#45409 Fix issue 45091
  src/coreclr/src/gc/gc.cpp
Labels: area-GC-coreclr

#45514 [runtime] Avoid checking for hardened runtime on ios, its not needed, and it causes alerts because of PROT_WRITE|PROT_EXEC.
  src/mono/mono/utils/mono-mmap.c
Labels: area-VM-meta-mono, mono-mirror

#45512 Update first-class-structs.md
  docs/design/coreclr/jit/first-class-structs.md
Labels: area-CodeGen-coreclr

#39294 Move return buffer handling from interop to the JIT
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/gcencode.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lsrabuild.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/target.h
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
  src/coreclr/src/vm/callingconvention.h
  src/coreclr/src/vm/class.cpp
  src/coreclr/src/vm/class.h
  src/coreclr/src/vm/classnames.h
  src/coreclr/src/vm/clrtocomcall.cpp
  src/coreclr/src/vm/comtoclrcall.cpp
  src/coreclr/src/vm/dispatchinfo.cpp
  src/coreclr/src/vm/dllimport.cpp
  src/coreclr/src/vm/dllimportcallback.cpp
  src/coreclr/src/vm/dllimportcallback.h
  src/coreclr/src/vm/fieldmarshaler.cpp
  src/coreclr/src/vm/ilmarshalers.h
  src/coreclr/src/vm/methodtablebuilder.cpp
  src/coreclr/src/vm/mlinfo.cpp
  src/coreclr/src/vm/mlinfo.h
  src/tests/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallNative.cpp
  src/tests/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallTest.cs
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutExp.cs
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#45553 Remove FEATURE_COMPILED_XSL define
  src/libraries/System.Private.Xml/src/Resources/Strings.resx
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XmlQueryRuntime.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XmlQueryStaticData.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/Compiler.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/Scripts.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xslt/XslCompiledTransform.cs
Labels: area-System.Xml

#45275 Fix covariant returns with generic return types
  src/coreclr/src/vm/class.cpp
  src/coreclr/src/vm/clsload.cpp
  src/coreclr/src/vm/methodtable.cpp
  src/coreclr/src/vm/typehandle.cpp
  src/tests/Loader/classloader/MethodImpl/CovariantReturns/UnitTest/CompatibleWithTest.il
  src/tests/Regressions/coreclr/GitHub_45037/test45037.cs
  src/tests/Regressions/coreclr/GitHub_45037/test45037.csproj
  src/tests/Regressions/coreclr/GitHub_45082/test45082.cs
  src/tests/Regressions/coreclr/GitHub_45082/test45082.csproj
Labels: area-TypeSystem-coreclr

#42016 Removed Serialization tests for SQLClient types
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/EqualityExtensions.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
Labels: area-System.Data.SqlClient

#45431 Modify the test case Runtime_40444.cs (#40951)
  src/coreclr/tests/issues.targets
  src/tests/JIT/Regression/JitBlue/Runtime_40444/Runtime_40444.cs
Labels: area-CodeGen-coreclr

#45555 Don't emit type fixups for primitive types in Crossgen2
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2-coreclr

#45505 Disable Long Running JSON tests on Checked CoreCLR
  src/libraries/System.Text.Json/tests/JsonDocumentTests.cs
  src/libraries/System.Text.Json/tests/Serialization/ConstructorTests/ConstructorTests.Cache.cs
  src/libraries/System.Text.Json/tests/Serialization/ConstructorTests/ConstructorTests.Stream.cs
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.cs
  src/libraries/System.Text.Json/tests/Serialization/NumberHandlingTests.cs
  src/libraries/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
  src/libraries/System.Text.Json/tests/Utf8JsonReaderTests.MultiSegment.cs
  src/libraries/System.Text.Json/tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json

#45567 Fix dependency for test assets on musl test runs
  eng/pipelines/libraries/run-test-job.yml
Labels: area-Infrastructure-libraries, auto-merge

#45562 Upgrade StyleCopAnalyzers to v1.2.0-beta.261
  eng/CodeAnalysis.ruleset
  eng/CodeAnalysis.test.ruleset
  eng/Versions.props
Labels: auto-merge

#45566 Various fixes in Microsoft.NETCore.App packs
  eng/Version.Details.xml
  global.json
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
  src/libraries/NetCoreAppLibrary.props
Labels: area-Infrastructure-installer

#45576 SuperPMI collection pipeline: fix location of JIT-EE version GUID
  eng/pipelines/coreclr/superpmi.yml
Labels: area-CodeGen-coreclr

#44772 XmlSerializer.Serialize doesn't work when using TrimMode=link
  src/libraries/System.Private.Xml/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/CodeGenerator.cs
  src/libraries/System.Private.Xml/tests/TrimmingTests/System.Xml.TrimmingTests.proj
  src/libraries/System.Private.Xml/tests/TrimmingTests/XmlSerializer.Deserialize.cs
  src/libraries/System.Private.Xml/tests/TrimmingTests/XmlSerializer.Serialize.cs
Labels: area-Serialization

#45570 Make BinderEventListener not listen to TplEventSource
  src/tests/Loader/binding/tracing/BinderEventListener.cs
Labels: area-AssemblyLoader-coreclr, auto-merge

#45572 Update UnmanagedCallersOnly tests to not emit IL
  src/tests/Interop/UnmanagedCallersOnly/InvalidCallbacks.il
  src/tests/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.cs
Labels: area-Interop-coreclr, test enhancement

#45574 Fix location of JIT-EE version GUID
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#45074 Add Tuple-based Math.DivRem overloads
  src/libraries/System.Private.CoreLib/src/System/Buffers/StandardFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TimeSpanFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/Number.BigInteger.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Formatting.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Grisu3.cs
  src/libraries/System.Private.CoreLib/src/System/Number.NumberToFloatingPointBits.cs
  src/libraries/System.Runtime.Extensions/tests/System/Math.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, new-api-needs-documentation

#37605 Document Compilation Options and Compilation Metadata References CDIs
  docs/design/specs/PortablePdb-Metadata.md
Labels: area-System.Reflection.Metadata

#45578 Add documentation on how to disable runtime tests
  docs/pr-guide.md
Labels: area-Infrastructure

#45116 Breaking change: Throw when resolving on a disposed service provider
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceProviderEngineScope.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/Microsoft.Extensions.DependencyInjection.Tests.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderContainerTests.cs
Labels: area-Extensions-DependencyInjection, breaking-change, needs-breaking-change-doc-created

#45171 Fix resolve root IServiceProvider
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostBuilderTests.cs
Labels: area-Extensions-Hosting

#45439 Remove unnecessary IsStatic checks in ActivatorUtilities
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ActivatorUtilities.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Specification.Tests/ActivatorUtilitiesTests.cs
Labels: area-Extensions-DependencyInjection

#45541 Replace new UTF8Encoding(false)
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
Labels: area-System.Console

#45591 Use NetCoreAppToolCurrent TFM for *AppBuilders
  Directory.Build.props
  src/mono/netcore/nuget/Microsoft.NET.Runtime.Android.Sample.Mono/Microsoft.NET.Runtime.Android.Sample.Mono.pkgproj
  src/mono/netcore/nuget/Microsoft.NET.Runtime.iOS.Sample.Mono/Microsoft.NET.Runtime.iOS.Sample.Mono.pkgproj
  src/mono/netcore/sample/iOS/Program.csproj
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/netcore/sample/wasm/console/WasmSample.csproj
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/wasm.proj
  src/tests/Common/Directory.Build.targets
  src/tests/Directory.Build.targets
  tools-local/tasks/mobile.tasks/AndroidAppBuilder/AndroidAppBuilder.csproj
  tools-local/tasks/mobile.tasks/AotCompilerTask/MonoAOTCompiler.csproj
  tools-local/tasks/mobile.tasks/AppleAppBuilder/AppleAppBuilder.csproj
  tools-local/tasks/mobile.tasks/WasmAppBuilder/WasmAppBuilder.csproj
  tools-local/tasks/mobile.tasks/WasmBuildTasks/WasmBuildTasks.csproj
Labels: area-Build-mono

#45579 Slight cleanup of host test RepoDirectoriesProvider helper
  src/installer/tests/HostActivation.Tests/DotnetTestXunit.cs
  src/installer/tests/HostActivation.Tests/HostVersionCompatibility.cs
  src/installer/tests/HostActivation.Tests/LightupAppActivation.cs
  src/installer/tests/HostActivation.Tests/MultilevelSharedFxLookup.cs
  src/installer/tests/HostActivation.Tests/NativeHostApis.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/ApplicationExecution.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/Comhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/GetFunctionPointer.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/LoadAssemblyAndGetFunctionPointer.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/Nethost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/SharedTestStateBase.cs
  src/installer/tests/HostActivation.Tests/PortableAppActivation.cs
  src/installer/tests/HostActivation.Tests/ResourceLookup.cs
  src/installer/tests/HostActivation.Tests/RuntimeProperties.cs
  src/installer/tests/HostActivation.Tests/SharedFxLookup.cs
  src/installer/tests/HostActivation.Tests/StandaloneAppActivation.cs
  src/installer/tests/HostActivation.Tests/StartupHooks.cs
  src/installer/tests/HostActivation.Tests/Tracing.cs
  src/installer/tests/HostActivation.Tests/WindowsSpecificBehavior.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleTestBase.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundledAppWithSubDirs.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/HammerServiceTest.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Bundle.Tests/BundleAndRun.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Bundle.Tests/BundlerConsistencyTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.ComHost.Tests/ClsidMapTests.cs
  src/installer/tests/TestUtils/RepoDirectoriesProvider.cs
  src/installer/tests/TestUtils/TestProjectFixture.cs
Labels: area-Host

#45125 [Mono] Arrays shouldn't implement linked out generic classes
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/icall.c
  src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
Labels: area-VM-meta-mono

#45609 Add description of AvoidSplittingBackedge branch and link to #40264
  docs/design/coreclr/jit/lsra-detail.md
Labels: area-CodeGen-coreclr

#45606 Add link to active issue attribute on PR guide
  docs/pr-guide.md
Labels: area-Meta

#45322 Fix warnings in the code emitted by the wasm pinvoke generator.
  tools-local/tasks/mobile.tasks/WasmAppBuilder/PInvokeTableGenerator.cs
Labels: arch-wasm

#45172 Initial checkin for regions
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gc.h
  src/coreclr/src/gc/gcconfig.h
  src/coreclr/src/gc/gcee.cpp
  src/coreclr/src/gc/gcpriv.h
Labels: area-GC-coreclr

#45303 Optimize huffman encoding static table initialization
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/Huffman.cs
Labels: area-System.Net.Http

#45615 JIT: don't compute edge weights when there's no profile data
  src/coreclr/src/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#45584 Update area-owners.md
  docs/area-owners.md
Labels: area-Meta

#45526 Get exact class during devirtualization
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/icorjitinfoimpl.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/inc/jiteeversionguid.h
  src/coreclr/src/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/src/tools/aot/jitinterface/jitinterface.h
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/vm/jitinterface.h
  src/coreclr/src/zap/zapinfo.cpp
  src/coreclr/src/zap/zapinfo.h
  src/tests/JIT/opt/Devirtualization/exact1.cs
  src/tests/JIT/opt/Devirtualization/exact1.csproj
  src/tests/JIT/opt/Devirtualization/exact2.cs
  src/tests/JIT/opt/Devirtualization/exact2.csproj
Labels: area-CodeGen-coreclr

#45619 Add support for diffing GC ref map info to R2RDump; small bugfix
  src/coreclr/src/tools/r2rdump/Extensions.cs
  src/coreclr/src/tools/r2rdump/R2RDiff.cs
Labels: area-crossgen2-coreclr

#45656 Delete IsIntrinsicWorkaround
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/IL/ReadyToRunILProvider.cs
Labels: area-crossgen2-coreclr

#45652 Delete redundant DivMod implementation
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/FormattingHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.TimeSpan.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Date.cs
Labels: area-System.Numerics

#44505 Static linking of native libs
  eng/native/build-commons.sh
  eng/native/configurecompiler.cmake
  eng/native/gen-buildsys.sh
  eng/native/tryrun.cmake
  src/coreclr/CMakeLists.txt
  src/coreclr/build-runtime.sh
  src/coreclr/src/CMakeLists.txt
  src/coreclr/src/dlls/mscoree/unixinterface.cpp
  src/coreclr/src/hosts/inc/coreclrhost.h
  src/coreclr/src/inc/bundle.h
  src/coreclr/src/inc/cor.h
  src/coreclr/src/inc/corpriv.h
  src/coreclr/src/inc/pinvokeoverride.h
  src/coreclr/src/libraries-native/CMakeLists.txt
  src/coreclr/src/vm/CMakeLists.txt
  src/coreclr/src/vm/bundle.cpp
  src/coreclr/src/vm/corelib.cpp
  src/coreclr/src/vm/dllimport.cpp
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/pinvokeoverride.cpp
  src/installer/corehost/build.sh
  src/installer/corehost/cli/apphost/static/CMakeLists.txt
  src/installer/corehost/cli/hostpolicy/coreclr.cpp
  src/installer/corehost/cli/hostpolicy/coreclr.h
  src/installer/corehost/cli/hostpolicy/hostpolicy_context.cpp
  src/installer/corehost/tryrun.cmake
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/libraries/Common/src/Interop/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Windows/Interop.Libraries.cs
  src/libraries/Native/AnyOS/System.IO.Compression.Native/entrypoints.c
  src/libraries/Native/AnyOS/entrypoints.h
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/entrypoints.c
  src/libraries/Native/Unix/System.IO.Compression.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.IO.Compression.Native/extra_libs.cmake
  src/libraries/Native/Unix/System.IO.Ports.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/extra_libs.cmake
  src/libraries/Native/Unix/System.Net.Security.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Net.Security.Native/extra_libs.cmake
  src/libraries/Native/Unix/System.Net.Security.Native/pal_gssapi.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native/extra_libs.cmake
  src/libraries/Native/Unix/tryrun.cmake
  src/libraries/Native/Windows/CMakeLists.txt
  src/libraries/Native/Windows/clrcompression/CMakeLists.txt
  src/libraries/Native/build-native.sh
  src/mono/mono/metadata/native-library-qcall.c
  src/mono/mono/metadata/native-library.c
  src/mono/mono/metadata/qcall-def.h
  src/mono/wasm/wasm.proj
  src/tests/build.sh
Labels: area-VM-coreclr

#45666 Make PortableThreadPool to check events correctly before firing them
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.HillClimbing.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WaitThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
Labels: area-Tracing-coreclr, auto-merge

#45603 Suppress ILLink warnings in Reflection
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.Shared.xml
Labels: area-System.Reflection

#45664 Fix GNU linker detection on FreeBSD
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure

#45135 Combine free and busy register allocation
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsra.h
  src/coreclr/src/jit/lsraarm64.cpp
  src/coreclr/src/jit/lsrabuild.cpp
  src/coreclr/src/jit/lsraxarch.cpp
  src/coreclr/src/jit/target.h
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_13735/GitHub_13735.cs
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_13735/GitHub_13735.csproj
Labels: area-CodeGen-coreclr

#45669 [aot] Store the addresses of aot constants in an array instead of using a switch statement on wasm to save space.
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono, mono-mirror

#45681 Update portable thread pool event enablement checks
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.GateThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.HillClimbing.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WaitThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPoolEventSource.cs
Labels: area-System.Threading

#43910 Add test for exception propagation inside loader events
  src/libraries/System.Runtime.Extensions/tests/System/AppDomainTests.cs
Labels: area-AssemblyLoader-coreclr, increase-code-coverage

#44749 [wasm] Add WasmAppBuilder pkgproj for wasm sample
  src/mono/netcore/nuget/Microsoft.NET.Runtime.wasm.Sample.Mono/Microsoft.NET.Runtime.wasm.Sample.Mono.pkgproj
  src/mono/netcore/nuget/descriptions.json
  src/mono/netcore/nuget/mono-packages.proj
  tools-local/tasks/mobile.tasks/WasmAppBuilder/WasmAppBuilder.csproj
Labels: area-Build-mono

#45620 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-System.Text.Json

#41960 Add CompressionLevel.SmallestSize
  src/libraries/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliUtils.cs
  src/libraries/System.IO.Compression/ref/System.IO.Compression.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/CompressionLevel.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Deflater.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/ZLibNative.cs
Labels: area-System.IO.Compression, auto-merge, new-api-needs-documentation

#45630 There is one true bool and it is bool
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/icorjitinfoimpl.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/inc/corjit.h
  src/coreclr/src/inc/jiteeversionguid.h
  src/coreclr/src/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/Program.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/src/tools/aot/jitinterface/jitinterface.h
  src/coreclr/src/vm/comdelegate.cpp
  src/coreclr/src/vm/comdelegate.h
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/vm/jitinterface.h
  src/coreclr/src/vm/prestub.cpp
  src/coreclr/src/vm/reflectioninvocation.cpp
  src/coreclr/src/zap/zapinfo.cpp
  src/coreclr/src/zap/zapinfo.h
Labels: area-crossgen2-coreclr

#45707 Add default case in RLimitResources switch
  src/libraries/Native/Unix/System.Native/pal_process.c
  src/libraries/Native/Unix/configure.cmake
Labels: area-PAL-libraries

#45425 Enable StressLog for subprocess in EventPipe tests
  src/tests/tracing/eventpipe/common/IpcUtils.cs
Labels: area-Tracing-coreclr, test enhancement

#45523 Share SingleFileTest publishing between test classes
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/NetCoreApp3CompatModeTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/SingleFileApiTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/SingleFileSharedState.cs
  src/installer/tests/TestUtils/TestArtifact.cs
Labels: area-Single-File

#45662 Fix conditions for implicit use of hardware intrinsics
  src/coreclr/ToolBox/superpmi/superpmi-shared/icorjitinfoimpl.h
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/zap/zapinfo.cpp
  src/coreclr/zap/zapinfo.h
Labels: area-CodeGen-coreclr

#45728 COM Host - Invalid compute of default value string length
  src/installer/corehost/cli/comhost/comhost.cpp
Labels: area-Host

#45756 Add Microsoft StrongNameKey back to System.Composition*
  src/libraries/System.Composition/Directory.Build.props
Labels: area-Infrastructure-libraries

#45752 Fix LLVM link issues when compiling static library on Windows.
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono, mono-mirror

#45494 WinHttpHandler: apply [SupportedOSPlatform("windows10.0.19041")] on TcpKeepAlive properties
  src/libraries/System.Net.Http.WinHttpHandler/ref/System.Net.Http.WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
Labels: area-System.Net.Http

#45449 [release/5.0] Fix InvalidCastException when deserializing some dictionary types (#42835)
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IDictionaryConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableConverterFactoryHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IReadOnlyDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableEnumerableOfTConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/MemberAccessor.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMemberAccessor.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReflectionMemberAccessor.cs
  src/libraries/System.Text.Json/tests/Serialization/CollectionTests/CollectionTests.Dictionary.NonStringKey.cs
  src/libraries/System.Text.Json/tests/Serialization/NumberHandlingTests.cs
  src/libraries/System.Text.Json/tests/Serialization/TestClasses/TestClasses.cs
Labels: Servicing-approved, area-System.Text.Json

#45457 [release/5.0] Set default value for value-type ctor params properly (#43831)
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonParameterInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/tests/Serialization/ConstructorTests/ConstructorTests.ParameterMatching.cs
Labels: Servicing-approved, area-System.Text.Json

#45452 [release/5.0] Set number handling for properties read after deserializing ctor params (#43829)
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/tests/Serialization/NumberHandlingTests.cs
Labels: Servicing-approved, area-System.Text.Json

#45394 [release/5.0] Explicitly check for arrays in Marshal.SizeOf impl.
  src/coreclr/src/vm/marshalnative.cpp
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SizeOfTests.cs
Labels: Servicing-approved, area-Interop-coreclr

#45616 Add support for MONO_TYPE_FNPTR to aot.
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono

#45775 Update package baseline for 5.0.1
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-Infrastructure-libraries

#45744 Simplify devirtualization in crossgen2
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-crossgen2-coreclr

#45622 [release/5.0] Fix ComWrappers interaction with the IReferenceTracker interface
  src/coreclr/src/interop/comwrappers.cpp
  src/coreclr/src/interop/comwrappers.hpp
  src/coreclr/src/interop/inc/interoplib.h
  src/coreclr/src/interop/interoplib.cpp
  src/coreclr/src/interop/trackerobjectmanager.cpp
  src/coreclr/src/vm/gcenv.ee.cpp
  src/coreclr/src/vm/interoplibinterface.cpp
  src/coreclr/src/vm/interoplibinterface.h
  src/coreclr/src/vm/syncblk.h
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/Common.cs
  src/tests/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.cs
  src/tests/Interop/COM/ComWrappers/MockReferenceTrackerRuntime/ReferenceTrackerRuntime.cpp
Labels: Servicing-approved, area-Interop-coreclr, os-windows

#45687 [aot] Don't force gsharedvt to be enabled in llvmonly+interp mode.
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/llvmonly-runtime.c
Labels: area-Codegen-AOT-mono, mono-mirror

#45723 Address remaining Ref.Emit ILLink warnings in Mono.
  src/libraries/illink-sharedframework.targets
  src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.xml
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/MethodOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
Labels: area-CoreLib-mono

#45522 Ensure XslCompiledTransform works with TrimMode=link
  src/libraries/System.Private.Xml/src/ILLink/ILLink.Suppressions.Debug.xml
  src/libraries/System.Private.Xml/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/IlGen/GenerateHelper.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/IlGen/IteratorDescriptor.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/IlGen/XmlIlVisitor.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XsltLibrary.cs
  src/libraries/System.Private.Xml/tests/TrimmingTests/System.Private.Xml.TrimmingTests.proj
  src/libraries/System.Private.Xml/tests/TrimmingTests/XslCompiledTransformTests.cs
Labels: area-System.Xml

#45717 Update using-dotnet-cli.md
  docs/workflow/using-dotnet-cli.md
Labels: area-Meta

#45807 Add a blurb on the x86 calling convention to clr-abi.md
  docs/design/coreclr/botr/clr-abi.md
Labels: area-CodeGen-coreclr, documentation

#45655 JIT: remove early prop's type propagation
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#45802 Add workarounds for brew on old OSX images
  eng/install-native-dependencies.sh
Labels: auto-merge

#45811 Disable long running Socket test on Mono
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
Labels: area-System.Net.Sockets

#44722 [browser][websocket] Throw OperationCanceledException on connect
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/BrowserWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Browser.cs
  src/libraries/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/WebSocketHelper.cs
Labels: arch-wasm, area-System.Net

#45672 Fix EventPipeSession::WriteEventSuspend
  src/coreclr/vm/eventpipebuffermanager.cpp
Labels: area-Tracing-coreclr, auto-merge

#42785 Added Rebecca Purple
  src/libraries/Common/src/System/Drawing/KnownColor.cs
  src/libraries/Common/src/System/Drawing/KnownColorTable.cs
  src/libraries/System.Drawing.Primitives/ref/System.Drawing.Primitives.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/Color.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/KnownColorNames.cs
  src/libraries/System.Drawing.Primitives/tests/ColorTests.cs
Labels: area-System.Drawing, auto-merge

#45563 Remove some allocations related to storing CacheEntry scopes
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntryHelper.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntryStack.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/MemoryCacheSetAndRemoveTests.cs
Labels: area-Extensions-Caching, tenet-performance

#45825 Remove autotools dependencies from the build requirements
  docs/workflow/requirements/freebsd-requirements.md
  docs/workflow/requirements/linux-requirements.md
  docs/workflow/requirements/macos-requirements.md
  eng/Brewfile
  eng/install-native-dependencies.sh
  src/mono/cmake/README.md
Labels: area-Infrastructure

#45766 Add support for external icalls not using a wrapper.
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/icall-internals.h
  src/mono/mono/metadata/icall.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-VM-meta-mono, mono-mirror

#45829 Enable YMM context support on Windows.
  src/mono/mono/mini/mini-windows.c
  src/mono/mono/utils/mono-context.c
  src/mono/mono/utils/mono-context.h
  src/mono/mono/utils/mono-threads-windows.c
  src/mono/mono/utils/win64.asm
Labels: area-VM-meta-mono, mono-mirror

#45029 Fix emitted IgnoresAccessChecksToAttribute.AssemblyName property
  src/libraries/Common/src/System/Reflection/Emit/IgnoreAccessChecksToAttributeBuilder.cs
  src/libraries/System.Reflection.DispatchProxy/tests/DispatchProxyTests.cs
Labels: area-System.Reflection, auto-merge

#45837 Allow building iOS device builds without codesigning
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-Infrastructure-mono, auto-merge

#45845 Update buildtriage.md with a few fixes and new rotation assignments
  docs/infra/buildtriage.md
Labels: area-Meta, documentation

#45838 Remove hardcoded paths to *AppBuilder task dlls
  Directory.Build.props
  src/mono/netcore/nuget/Microsoft.NET.Runtime.Android.Sample.Mono/Microsoft.NET.Runtime.Android.Sample.Mono.pkgproj
  src/mono/netcore/nuget/Microsoft.NET.Runtime.iOS.Sample.Mono/Microsoft.NET.Runtime.iOS.Sample.Mono.pkgproj
  src/mono/netcore/nuget/Microsoft.NET.Runtime.wasm.Sample.Mono/Microsoft.NET.Runtime.wasm.Sample.Mono.pkgproj
  src/mono/netcore/sample/iOS/Makefile
  src/mono/netcore/sample/iOS/Program.csproj
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/netcore/sample/wasm/console/WasmSample.csproj
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/wasm.proj
Labels: area-Build-mono, auto-merge

#45767 Added Nullable Anotation to XmlResolver Property of XmlDocument
  src/libraries/System.Private.Xml/src/System/Xml/Dom/XmlDocument.cs
  src/libraries/System.Xml.ReaderWriter/ref/System.Xml.ReaderWriter.cs
Labels: area-System.Xml, needs-breaking-change-doc-created

#45732 Use Windows.10.Amd64.X86 to run superpmi
  src/coreclr/scripts/superpmi-setup.py
Labels: area-CodeGen-coreclr

#45817 Build wasm with some extra flags so c++ EH works. Remove obsolete wasm options.
  src/mono/mono.proj
  src/mono/netcore/sample/wasm/console/Makefile
  src/mono/netcore/sample/wasm/console/WasmSample.csproj
  src/mono/wasm/Makefile
Labels: area-Build-mono

#45727 Address ILLink warning in InteropServices.JavaScript
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/ILLink/ILLink.Suppressions.Browser.xml
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Runtime.cs
Labels: area-System.Runtime.InteropServices.JavaScript

#44632 expand console arguments when writing them out
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
Labels: arch-wasm, area-Debugger-mono

#45858 Set GenerateErrorForMissingTargetingPacks to false
  eng/targetingpacks.targets
Labels: area-Infrastructure-libraries

#45769 Use explicit arithmetic checks in the amd64 watchOS simulator.
  src/mono/mono/mini/mini-amd64.h
Labels: area-Codegen-JIT-mono, mono-mirror

#45624 Fix ComWrappers interaction with the IReferenceTracker interface
  src/coreclr/interop/comwrappers.cpp
  src/coreclr/interop/comwrappers.hpp
  src/coreclr/interop/inc/interoplib.h
  src/coreclr/interop/interoplib.cpp
  src/coreclr/interop/trackerobjectmanager.cpp
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/interoplibinterface.cpp
  src/coreclr/vm/interoplibinterface.h
  src/coreclr/vm/syncblk.h
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/Common.cs
  src/tests/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.cs
  src/tests/Interop/COM/ComWrappers/MockReferenceTrackerRuntime/ReferenceTrackerRuntime.cpp
Labels: area-Interop-coreclr

#45864 Fix MicrosoftNetCoreAppRefPackRefDir calculation
  eng/targetingpacks.targets
Labels: area-Infrastructure-libraries

#45861 Don't batch the SuperPMI collection job
  eng/pipelines/coreclr/superpmi.yml
Labels: area-Infrastructure-coreclr

#45815 Fix dump of GC vars at call sites
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#45859 Remove unused CORINFO_CALLINFO_ATYPICAL_CALLSITE flag
  src/coreclr/inc/corinfo.h
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/zap/zapimport.cpp
  src/coreclr/zap/zapimport.h
  src/coreclr/zap/zapinfo.cpp
Labels: area-ReadyToRun-coreclr

#45605 Add switches for more general altjit and cross-target commands
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#45848 Move test to right folder
  src/tests/JIT/Regression/JitBlue/GitHub_13735/GitHub_13735.cs
  src/tests/JIT/Regression/JitBlue/GitHub_13735/GitHub_13735.csproj
Labels: area-CodeGen-coreclr

#45866 Delete an old test that is not working.
  src/tests/issues.targets
  src/tests/tracing/tracecontrol/TraceControl.cs
  src/tests/tracing/tracecontrol/tracecontrol.csproj
Labels: area-Infrastructure-coreclr

#44751 [wasm] Remove System.Reflection.MetadataLoadContext from WasmAppBuilder
  eng/testing/tests.mobile.targets
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.csproj
  src/tasks/WasmAppBuilder/WasmLoadAssembliesAndReferences.cs
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
Labels: arch-wasm, area-Build-mono

#45465 [browser][test] Add make target to run the outerloop tests on browser
  src/mono/wasm/Makefile
Labels: arch-wasm, runtime-mono

#44913 Fix vswhere path to work with spaces by surrounding it with quotes
  src/coreclr/ToolBox/SOS/DacTableGen/DacTableGen.csproj
Labels: area-Diagnostics-coreclr, auto-merge

#45527 Fix regression with tail.callvirt transformation to helper call
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Directed/tailcall/more_tailcalls.cs
  src/tests/JIT/Directed/tailcall/more_tailcalls.il
  src/tests/JIT/Regression/JitBlue/Runtime_45250/Runtime_45250.il
  src/tests/JIT/Regression/JitBlue/Runtime_45250/Runtime_45250.ilproj
Labels: area-CodeGen-coreclr

#45878 Disable diagnosticport test until further investigation
  src/tests/issues.targets
Labels: area-Tracing-coreclr

#45863 [wasm] Add a README.md
  src/mono/wasm/README.md
Labels: arch-wasm

#45865 [wasm] Add $(MSBUILD_ARGS) to more build targets
  src/mono/wasm/Makefile
Labels: arch-wasm, area-Infrastructure-mono

#45834 Fix debugger late attach, suspend=n.
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/debugger-engine.c
  src/mono/mono/mini/debugger-engine.h
  src/mono/mono/mini/mini-wasm-debugger.c
Labels: area-Debugger-mono, mono-mirror

#45401 Aggregate adjacent memory sizes regardless of r+x
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.ParseMapModules.cs
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
Labels: area-System.Diagnostics.Process

#45128 [wasm] Use dotnet-serve in Wasm Browser Sample
  src/mono/netcore/sample/wasm/browser/Makefile
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser/server.py
Labels: area-Build-mono
