Repository dotnet/runtime, pull requests merged in 2020-09, with the labels that each got.

#41629 Updating ref source documentation for full facades
  docs/coding-guidelines/updating-ref-source.md
Labels: area-Infrastructure-libraries, documentation

#41541 Add nullable annotations for XmlDataDocument
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Xml/BaseTreeIterator.cs
  src/libraries/System.Data.Common/src/System/Xml/DataDocumentXPathNavigator.cs
  src/libraries/System.Data.Common/src/System/Xml/DataPointer.cs
  src/libraries/System.Data.Common/src/System/Xml/DataSetMappper.cs
  src/libraries/System.Data.Common/src/System/Xml/IXmlDataVirtualNode.cs
  src/libraries/System.Data.Common/src/System/Xml/RegionIterator.cs
  src/libraries/System.Data.Common/src/System/Xml/TreeIterator.cs
  src/libraries/System.Data.Common/src/System/Xml/XPathNodePointer.cs
  src/libraries/System.Data.Common/src/System/Xml/XmlBoundElement.cs
  src/libraries/System.Data.Common/src/System/Xml/XmlDataDocument.cs
  src/libraries/System.Data.Common/src/System/Xml/XmlDataImplementation.cs
Labels: area-System.Data, area-System.Xml

#41581 Optimize out gc polls in basic blocks with regular PInvokes
  src/coreclr/src/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#41622 Fix palsuite build
  src/coreclr/src/pal/inc/pal.h
  src/coreclr/src/pal/src/init/pal.cpp
  src/coreclr/src/pal/tests/palsuite/exception_handling/pal_sxs/test1/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#41551 [RyuJIT] Avoid emitting cdq/coq for a positive constant in rax for idiv
  src/coreclr/src/jit/codegenxarch.cpp
Labels: area-CodeGen-coreclr

#41638 Fix infinite recursion in configuration manager
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ApplicationSettingsBase.cs
  src/libraries/System.Configuration.ConfigurationManager/tests/System/Configuration/ApplicationSettingsBaseTests.cs
Labels: area-System.Configuration

#41501 Obsolete Uri.EscapeUriString
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.Private.Uri/src/System.Private.Uri.csproj
  src/libraries/System.Private.Uri/src/System/Uri.cs
  src/libraries/System.Private.Uri/src/System/UriExt.cs
  src/libraries/System.Private.Uri/tests/FunctionalTests/System.Private.Uri.Functional.Tests.csproj
  src/libraries/System.Reflection/tests/System.Reflection.Tests.csproj
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/NlsTests/System.Runtime.Nls.Tests.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
Labels: area-System.Net

#41503 Search libgdiplus in /usr/local/lib on macOS
  src/coreclr/src/pal/src/loader/module.cpp
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
Labels: area-System.Drawing

#41544 Add assert to verify the correctness of the GCRefMap pulled from an R2R image
  src/coreclr/src/vm/compile.cpp
  src/coreclr/src/vm/crossgen/CMakeLists.txt
  src/coreclr/src/vm/frames.cpp
  src/coreclr/src/vm/frames.h
  src/coreclr/src/vm/prestub.cpp
  src/coreclr/src/vm/virtualcallstub.cpp
Labels: area-crossgen2-coreclr

#41646 Remove dead files from System.Private.DataContractSerialization
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/CollectionDataContractAttribute.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ContractNamespaceAttribute.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContractAttribute.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataMemberAttribute.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/EnumMemberAttribute.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/IgnoreDataMemberAttribute.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/InvalidDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/InvalidDataContractException.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/KnownTypeAttribute.cs
Labels: area-Serialization

#41445 Fix issue 41413
  src/coreclr/src/gc/gc.cpp
Labels: area-GC-coreclr

#41508 SafeSocketHandle: avoid potential blocking of finalizer thread
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
Labels: area-System.Net.Sockets

#41669 [release/5.0] Fix issue 41311 - Assert failure ephemeral_heap_segment->saved_committed == heap_segment_committed
  src/coreclr/src/gc/gc.cpp
Labels: area-GC-coreclr

#41672 [release/5.0] Fix issue 41413
  src/coreclr/src/gc/gc.cpp
Labels: area-GC-coreclr

#41641 Add Support to ActivitySource events in DiagnosticSourceEventSource
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/DiagnosticSourceEventSourceBridgeTests.cs
Labels: area-System.Globalization

#40842 Add SafeBuffer Span<T> methods
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeBuffer.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/SafeBufferTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Collections, new-api-needs-documentation

#41655 Include CrossOs diagnostic assets for signing
  eng/Signing.props
Labels: area-Infrastructure-coreclr

#40882 Add methods to manipulate Half in binary
  src/libraries/System.IO/tests/BinaryReader/BinaryReaderTests.cs
  src/libraries/System.IO/tests/BinaryWriter/BinaryWriter.WriteTests.cs
  src/libraries/System.IO/tests/BinaryWriter/BinaryWriterTests.cs
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/tests/Binary/BinaryReaderUnitTests.cs
  src/libraries/System.Memory/tests/Binary/BinaryWriterUnitTests.cs
  src/libraries/System.Private.CoreLib/src/System/BitConverter.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/ReaderBigEndian.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/ReaderLittleEndian.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/WriterBigEndian.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/WriterLittleEndian.cs
  src/libraries/System.Private.CoreLib/src/System/IO/BinaryReader.cs
  src/libraries/System.Private.CoreLib/src/System/IO/BinaryWriter.cs
  src/libraries/System.Runtime.Extensions/tests/System/BitConverter.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/HalfTests.cs
Labels: area-System.Numerics, new-api-needs-documentation

#41633 Block casting to an interface marked ComInterfaceType.InterfaceIsIInspectable
  src/coreclr/src/vm/runtimecallablewrapper.cpp
  src/tests/Interop/COM/NETClients/IInspectable/App.manifest
  src/tests/Interop/COM/NETClients/IInspectable/NETClientIInspectable.csproj
  src/tests/Interop/COM/NETClients/IInspectable/Program.cs
  src/tests/Interop/COM/NativeServer/COMNativeServer.X.manifest
  src/tests/Interop/COM/NativeServer/InspectableTesting.h
  src/tests/Interop/COM/NativeServer/Servers.cpp
  src/tests/Interop/COM/NativeServer/Servers.h
  src/tests/Interop/COM/ServerContracts/Server.CoClasses.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.h
  src/tests/Interop/COM/ServerContracts/ServerGuids.cs
Labels: area-Interop-coreclr, auto-merge

#41628 [interp] Optimize out conditional branches
  src/mono/mono/mini/interp/mintops.h
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#41680 [release/5.0] Leftover Utf8String defines are causing ILLinker warnings
  src/coreclr/src/vm/corelib.h
Labels: Servicing-approved

#41664 Remove unused USE_REFEMIT define in System.Private.DataContractSerialization
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ClassDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/CollectionDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DateTimeOffsetAdapter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DictionaryGlobals.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ExtensionDataObject.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ExtensionDataReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatReaderGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatWriterGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonReaderDelegator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/KnownTypeDataContractResolver.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatReaderGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatWriterGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerContext.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerReadContext.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerReadContextComplex.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerWriteContext.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerWriteContextComplex.cs
Labels: area-Serialization

#41688 Use dynamic port for BrowserDebugHost process
  src/mono/wasm/debugger/BrowserDebugHost/Program.cs
Labels: arch-wasm, area-Debugger-mono

#41657 free existingTrust when verifying certificate name on macOS
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
Labels: area-System.Security, os-mac-os-x

#41703 Fix issue with covariant return method validation
  src/coreclr/src/vm/class.cpp
  src/coreclr/src/vm/clsload.cpp
  src/coreclr/src/vm/clsload.hpp
  src/tests/Loader/classloader/regressions/GitHub_41571/GitHub_41571.il
  src/tests/Loader/classloader/regressions/GitHub_41571/GitHub_41571.ilproj
Labels: area-TypeSystem-coreclr

#41648 Remove System.Net.Connections and related features
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Net.Connections/ref/System.Net.Connections.cs
  src/libraries/System.Net.Connections/src/System.Net.Connections.csproj
  src/libraries/System.Net.Connections/src/System/Net/NetworkError.cs
  src/libraries/System.Net.Connections/src/System/Net/NetworkException.cs
  src/libraries/System.Net.Connections/tests/System.Net.Connections.Tests/Sockets/SocketsConnectionFactoryTests.cs
  src/libraries/System.Net.Connections/tests/System.Net.Connections.Tests/System.Net.Connections.Tests.csproj
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/ref/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DnsEndPointWithProperties.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsConnectionFactory.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/Resources/Strings.resx
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/libraries/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
  src/libraries/System.Net.Requests/src/System/Net/WebException.cs
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-System.Net.Http, new-api-needs-documentation

#41611 Delete multi-byte related functions from PAL
  src/coreclr/src/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/src/ilasm/asmparse.h
  src/coreclr/src/ilasm/grammar_after.cpp
  src/coreclr/src/ilasm/ilasmpch.h
  src/coreclr/src/pal/inc/pal.h
  src/coreclr/src/pal/inc/rt/palrt.h
  src/coreclr/src/pal/inc/rt/safecrt.h
  src/coreclr/src/pal/src/CMakeLists.txt
  src/coreclr/src/pal/src/cruntime/mbstring.cpp
  src/coreclr/src/pal/src/locale/unicode.cpp
  src/coreclr/src/pal/src/safecrt/input.inl
  src/coreclr/src/pal/src/safecrt/internal.h
  src/coreclr/src/pal/src/safecrt/internal_securecrt.h
  src/coreclr/src/pal/src/safecrt/makepath_s.cpp
  src/coreclr/src/pal/src/safecrt/output.inl
  src/coreclr/src/pal/src/safecrt/safecrt_output_l.cpp
  src/coreclr/src/pal/src/safecrt/splitpath_s.cpp
  src/coreclr/src/pal/src/safecrt/tmakepath_s.inl
  src/coreclr/src/pal/src/safecrt/tsplitpath_s.inl
  src/coreclr/src/pal/src/safecrt/wmakepath_s.cpp
  src/coreclr/src/pal/src/safecrt/wsplitpath_s.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsdec/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsdec/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsdec/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsdec/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsinc/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsinc/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsinc/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsinc/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsninc/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsninc/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsninc/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/_mbsninc/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/locale_info/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test2/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test2/test2.cpp
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test2/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test3/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test3/test3.cpp
  src/coreclr/src/pal/tests/palsuite/locale_info/GetCPInfo/test3/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByte/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByte/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByte/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByte/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByteEx/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByteEx/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByteEx/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/locale_info/IsDBCSLeadByteEx/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/paltestlist.txt
  src/coreclr/src/pal/tests/palsuite/paltestlist_to_be_reviewed.txt
  src/coreclr/src/palrt/CMakeLists.txt
  src/coreclr/src/palrt/unicode.cpp
  src/coreclr/src/utilcode/makepath.cpp
  src/coreclr/src/utilcode/splitpath.cpp
  src/coreclr/src/utilcode/sstring.cpp
Labels: area-PAL-coreclr

#41718 update branding to rc2
  eng/Versions.props
Labels: area-Infrastructure-libraries

#41711 Fix multiple version strings in coreclr shared libraries
  eng/native/functions.cmake
  src/coreclr/src/pal/src/eventprovider/lttngprovider/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#41039 Strip binaries more aggressively
  eng/native/functions.cmake
  src/coreclr/src/debug/daccess/CMakeLists.txt
  src/coreclr/src/pal/tools/gen-dactable-rva.sh
Labels: area-Meta

#41719 Create productVersion.txt as part of BlobArtifacts
  src/installer/publish/prepare-artifacts.proj
Labels: area-Infrastructure-coreclr

#39313 Add cache for Socket.LocalEndPoint
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/LocalEndPointTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets

#41717 [release/5.0-rc2]Using .NET sdk properties to set FileVersion and Information Version
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
Labels: area-Infrastructure-libraries

#41729 Using .NET sdk properties to set FileVersion and Information Version area-Infrastructure-libraries
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
Labels: area-Infrastructure-libraries

#41746 Fix cross-OS DAC metadata locator interface callback
  src/coreclr/src/debug/di/module.cpp
Labels: area-Diagnostics-coreclr

#41725 [release/5.0] Remove System.Net.Connections and related features (#41648)
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Net.Connections/ref/System.Net.Connections.cs
  src/libraries/System.Net.Connections/src/System.Net.Connections.csproj
  src/libraries/System.Net.Connections/src/System/Net/NetworkError.cs
  src/libraries/System.Net.Connections/src/System/Net/NetworkException.cs
  src/libraries/System.Net.Connections/tests/System.Net.Connections.Tests/Sockets/SocketsConnectionFactoryTests.cs
  src/libraries/System.Net.Connections/tests/System.Net.Connections.Tests/System.Net.Connections.Tests.csproj
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/ref/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DnsEndPointWithProperties.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsConnectionFactory.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/Resources/Strings.resx
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/libraries/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
  src/libraries/System.Net.Requests/src/System/Net/WebException.cs
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
  src/libraries/pkg/baseline/packageIndex.json
Labels: new-api-needs-documentation

#41726 [release/5.0-rc2] Remove System.Net.Connections and related features (#41648)
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Net.Connections/ref/System.Net.Connections.cs
  src/libraries/System.Net.Connections/src/System.Net.Connections.csproj
  src/libraries/System.Net.Connections/src/System/Net/NetworkError.cs
  src/libraries/System.Net.Connections/src/System/Net/NetworkException.cs
  src/libraries/System.Net.Connections/tests/System.Net.Connections.Tests/Sockets/SocketsConnectionFactoryTests.cs
  src/libraries/System.Net.Connections/tests/System.Net.Connections.Tests/System.Net.Connections.Tests.csproj
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/ref/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DnsEndPointWithProperties.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsConnectionFactory.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/Resources/Strings.resx
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/libraries/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
  src/libraries/System.Net.Requests/src/System/Net/WebException.cs
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
  src/libraries/pkg/baseline/packageIndex.json
Labels: new-api-needs-documentation

#41736 Add LowLevelMonitor
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.LowLevelMonitor.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.ConditionVariable.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CriticalSection.cs
  src/libraries/Native/Unix/System.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/pal_threading.c
  src/libraries/Native/Unix/System.Native/pal_threading.h
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelMonitor.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelMonitor.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelMonitor.cs
Labels: area-System.Threading

#41753 char.IsAscii xml doc comments
  src/libraries/System.Private.CoreLib/src/System/Char.cs
Labels: auto-merge

#41016 look for dhcp lease file in multiple locations
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxIPInterfaceProperties.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkFiles.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Addresses.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/AddressParsingTests.cs
Labels: area-System.Net, os-linux

#41763 Enable passing runtime tests
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#41710 Add ios support to the cmake build system.
  src/mono/CMakeLists.txt
  src/mono/cmake/QuietOSXRanlib.cmake
  src/mono/cmake/config.h.in
  src/mono/cmake/options.cmake
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/tools/offsets-tool/offsets-tool.py
Labels: area-Build-mono

#41776 Mark `sizeValue` in `impRuntimeLookupToTree` as non faulting.
  src/coreclr/src/jit/importer.cpp
Labels: area-CodeGen-coreclr, enhancement

#41764 Fix neutral source flag in standalone MSIL component assemblies
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tests/issues.targets
Labels: area-crossgen2-coreclr

#41698 Enable runtime closure verification
  eng/Version.Details.xml
  global.json
  src/installer/pkg/projects/Directory.Build.targets
  src/installer/pkg/projects/netcoreapp/pkg/legacy/Microsoft.NETCore.App.pkgproj
Labels: area-Infrastructure-installer

#41707 Add COMPlus env var comment docs
  src/coreclr/src/inc/clrconfigvalues.h
Labels: area-Infrastructure-coreclr

#41539 Add JsonNumberHandling.AllowReadingFromString as a JsonSerializer web default
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/JsonContent.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/HttpClientJsonExtensionsTests.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/HttpContentJsonExtensionsTests.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/TestClasses.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#41798 [runtime] Allocate code memory using MAP_JIT on apple silicon, patching code randomly crashes without it.
  src/mono/mono/utils/mono-mmap.c
Labels: area-VM-meta-mono, mono-mirror

#41791 Fix leaking ICorProfilerCallback10
  src/coreclr/src/vm/eetoprofinterfaceimpl.cpp
Labels: area-Diagnostics-coreclr

#40871 Potential fix for folding of *(typ*)&lclVar for small types #40607
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/morph.cpp
  src/libraries/System.Private.Xml/tests/Xslt/XslTransformApi/CXslTransformMultith.cs
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.cs
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.il
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.ilproj
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.tt
Labels: area-CodeGen-coreclr

#41797 Replace g_tkCorEncodeToken with CorSigDecodeTokenType() inline function to keep its definition in cor.h
  src/coreclr/src/debug/daccess/nidump.cpp
  src/coreclr/src/inc/cor.h
  src/coreclr/src/utilcode/sigbuilder.cpp
Labels: area-Infrastructure-coreclr

#41757 Restrict CCompRC::LoadResourceFile and usage to win
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/utilcode/ccomprc.cpp
Labels: area-PAL-coreclr

#41803 Fix argument name in CompareInfo.IsPrefix (suffix -> prefix)
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Globalization

#41801 Fix param name in ActivityContext..ctor
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
Labels: area-System.Diagnostics

#41835 Fix configurations obsolete messages
  src/libraries/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationException.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationSettings.cs
Labels: area-System.Configuration, auto-merge

#41784 Fix Crossgen2 package by using the proper UCRT version
  src/coreclr/build-runtime.cmd
Labels: area-crossgen2-coreclr

#41817 Revert #40641
  src/libraries/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/libraries/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
  src/libraries/System.IO.FileSystem/tests/Enumeration/AttributeTests.cs
  src/libraries/System.IO.FileSystem/tests/Enumeration/SkipAttributeTests.cs
Labels: area-System.IO

#41830 [release/5.0-rc2] Enable runtime closure verification
  eng/Version.Details.xml
  global.json
  src/installer/pkg/projects/Directory.Build.targets
  src/installer/pkg/projects/netcoreapp/pkg/legacy/Microsoft.NETCore.App.pkgproj
Labels: area-Infrastructure-installer

#41827 Add TailcallStress + GCStress testing to gcstress-extra pipeline
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/tests/testenvironment.proj
Labels: area-CodeGen-coreclr

#41815 Properly handle byrefs in tailcall helper stubs
  src/coreclr/src/vm/corelib.h
  src/coreclr/src/vm/tailcallhelp.cpp
Labels: area-CodeGen-coreclr

#41862 Fix mono_wasm_get_obj_type performing a failed assembly load on every call
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm

#41824 DataContractSerialization cleanup
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/AccessorBuilder.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/CodeGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataMember.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DiagnosticUtility.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ExtensionDataObject.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlJsonReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatReaderGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatWriterGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlReaderDelegator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlWriterDelegator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XsdDataContractExporter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Text/BinHexEncoding.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlCanonicalWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlUTF8TextReader.cs
Labels: area-Serialization

#41694 [wasm] Mark System.Diagnostics.Process APIs as unsupported on Browser
  src/libraries/System.Diagnostics.Process/Directory.Build.props
Labels: arch-wasm, area-Infrastructure-libraries

#41480 [wasm][debugger] Add support for surfacing inherited members
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/debugger/DebuggerTestSuite/CallFunctionOnTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ExceptionTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/GetPropertiesTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/PointerTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-array-test.cs
  src/mono/wasm/debugger/tests/debugger-get-properties-test.cs
  src/mono/wasm/debugger/tests/debugger-pointers-test.cs
  src/mono/wasm/debugger/tests/debugger-test.csproj
  src/mono/wasm/debugger/tests/debugger-valuetypes-test.cs
  src/mono/wasm/debugger/tests/other.js
  src/mono/wasm/runtime/library_mono.js
Labels: arch-wasm, area-Debugger-mono

#41524 Incorporate timezone data from runtime-assets
  Directory.Build.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/testing/tests.mobile.targets
  src/mono/wasm/Makefile
  src/mono/wasm/timezones.props
  src/mono/wasm/wasm.targets
  tools-local/tasks/mobile.tasks/GenerateWasmBundle/CompileTimeZoneData.cs
  tools-local/tasks/mobile.tasks/GenerateWasmBundle/GenerateWasmBundle.cs
  tools-local/tasks/mobile.tasks/GenerateWasmBundle/GenerateWasmBundle.csproj
  tools-local/tasks/tasks.proj
Labels: area-Infrastructure-mono

#41870 [mono] Fix Android and iOS samples
  src/mono/netcore/sample/Android/Makefile
  src/mono/netcore/sample/Android/Program.csproj
  src/mono/netcore/sample/iOS/Program.csproj
Labels: area-Build-mono

#41683 [wasm] Mark System.IO.Compression APIs as unsupported on Browser
  src/libraries/System.IO.Compression.Brotli/Directory.Build.props
Labels: arch-wasm, area-Infrastructure-libraries, auto-merge

#41712 Add libraries on mono outerloop build
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/libraries/outerloop-mono.yml
  eng/pipelines/runtime.yml
  src/libraries/sendtohelix.proj
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#41787 hold ref to temp keychain on OSX to avoild premature cleanup
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Keychain.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/AppleCertificatePal.Pkcs12.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/AppleCertificatePal.cs
Labels: area-System.Security, os-mac-os-x

#41829 Marking Matrix3x2, Matrix4x4, Plane, and Quaternion as Intrinsic
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix3x2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Plane.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.cs
Labels: area-CodeGen-coreclr

#41659 improve test dynamic certificate generation
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Security, test enhancement

#41852 Unconditionally build the cross-os DAC
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossdac-build.yml
Labels: area-Diagnostics-coreclr

#41682 [wasm] Mark System.IO.FileSystem.Watcher APIs as unsupported on Browser
  src/libraries/System.IO.FileSystem.Watcher/Directory.Build.props
Labels: arch-wasm, area-Infrastructure-libraries

#41700 [wasm] Mark System.IO.IsolatedStorage APIs as unsupported on Browser
  src/libraries/System.IO.IsolatedStorage/Directory.Build.props
Labels: arch-wasm, area-Infrastructure-libraries

#41709 [merp] Revert 7a0425e which is causing xamarin-android failures
  src/mono/mono/mini/exceptions-amd64.c
  src/mono/mono/mini/exceptions-ppc.c
  src/mono/mono/mini/exceptions-x86.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-posix.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-windows.c
  src/mono/mono/mini/mini.h
Labels: area-VM-meta-mono, mono-mirror

#41184 [wasm] Mark System.Console APIs as unsupported on Browser
  src/libraries/System.Console/ref/System.Console.cs
  src/libraries/System.Console/src/System/Console.cs
Labels: arch-wasm, area-Infrastructure-libraries, auto-merge

#41903 Update msftbot configuration contacts
  docs/area-owners.md
Labels: area-Meta

#41847 SingleFile: Enable hammer servicing
  src/installer/corehost/cli/bundle/file_entry.h
  src/installer/corehost/cli/bundle/runner.cpp
  src/installer/corehost/cli/bundle/runner.h
  src/installer/corehost/cli/deps_entry.cpp
  src/installer/corehost/cli/deps_entry.h
  src/installer/corehost/cli/hostpolicy/deps_resolver.cpp
  src/installer/corehost/cli/hostpolicy/deps_resolver.h
  src/installer/tests/Assets/TestProjects/HammerServiceApp/HammerServiceApp.csproj
  src/installer/tests/Assets/TestProjects/HammerServiceApp/Location/Class.cs
  src/installer/tests/Assets/TestProjects/HammerServiceApp/Location/Location.csproj
  src/installer/tests/Assets/TestProjects/HammerServiceApp/Program.cs
  src/installer/tests/Assets/TestProjects/ServicedLocation/Class.cs
  src/installer/tests/Assets/TestProjects/ServicedLocation/ServicedLocation.csproj
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/HammerServiceTest.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Helpers/BundleHelper.cs
Labels: area-Single-File

#41874 Fix covariant returns validation
  src/coreclr/src/vm/class.cpp
  src/coreclr/src/vm/clsload.cpp
  src/coreclr/src/vm/clsload.hpp
Labels: area-TypeSystem-coreclr

#41789 Add more Half methods to BitConverter
  src/libraries/System.Private.CoreLib/src/System/BitConverter.cs
  src/libraries/System.Runtime.Extensions/tests/System/BitConverter.cs
  src/libraries/System.Runtime.Extensions/tests/System/BitConverterArray.cs
  src/libraries/System.Runtime.Extensions/tests/System/BitConverterBase.cs
  src/libraries/System.Runtime.Extensions/tests/System/BitConverterSpan.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, new-api-needs-documentation

#41809 Bundle assemblies at 4K for linux arm64
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/TargetInfo.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Helpers/BundleHelper.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Bundle.Tests/BundlerConsistencyTests.cs
Labels: area-Single-File

#41840 Optimize the allocation and speed of ActivitySet/GetCustomProperty
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
Labels: area-System.Diagnostics.Tracing

#41559 [wasm][debugger] Add support for Nullable<T>
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-get-properties-test.cs
  src/mono/wasm/debugger/tests/debugger-nullable-test.cs
  src/mono/wasm/debugger/tests/debugger-test.cs
Labels: arch-wasm, area-Debugger-mono

#41713 [wasm][debugger] Small improvements to fail gracefully
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MonoJsTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-get-properties-test.cs
  src/mono/wasm/debugger/tests/debugger-test.cs
  src/mono/wasm/runtime/library_mono.js
Labels: arch-wasm, area-Debugger-mono

#41900 Suppress C5105 warning on build
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure

#41877 Refine obsolete messages
  src/libraries/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationSettings.cs
Labels: area-System.Configuration

#41909 remove LazyAsyncResult and unnecessary proj references from System.Net.NetworkInformation
  src/libraries/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
Labels: area-System.Net

#41574 [interp] Add basic block support
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
  src/mono/mono/mini/interp/whitebox.c
  src/mono/mono/mini/mini-codegen.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#41844 Updates servicing doc and servicing template
  PULL_REQUEST_TEMPLATE/servicing_pull_request_template.md
  docs/project/library-servicing.md
  eng/pipelines/runtime.yml
Labels: area-Meta

#40715 Add unsigned overloads for Unsafe Add/Subtract and Add/SubtractByteOffset
  src/libraries/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.cs
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.xml
  src/libraries/System.Runtime.CompilerServices.Unsafe/tests/UnsafeTests.cs
Labels: area-System.Runtime.CompilerServices, new-api-needs-documentation

#41795 [Browser] Add mono_wasm_get_icudt_name API
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_static.c
  src/mono/wasm/runtime/library_mono.js
Labels: arch-wasm, area-System.Globalization

#41934 Removed nightly to workaround failing Kestrel init.
  eng/docker/libraries-sdk-aspnetcore.linux.Dockerfile
  eng/docker/libraries-sdk-aspnetcore.windows.Dockerfile
  eng/docker/libraries-sdk.linux.Dockerfile
  eng/docker/libraries-sdk.windows.Dockerfile
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/windows.Dockerfile
Labels: area-System.Net.Http

#41745 Restore exception compatibility in TcpListener.EndAccept***
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPListener.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/TcpListenerTest.cs
Labels: area-System.Net, tenet-compatibility

#41933 Modify condition to match message:
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
Labels: area-System.Net.Http

#41910 More tests for Marshal.Realloc{HGlobal|CoTaskMem}
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReAllocCoTaskMemTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReAllocHGlobalTests.cs
Labels: area-System.Runtime.InteropServices

#41946 Cleanup stack limits usage
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/threads.h
Labels: area-VM-coreclr

#40345 September infra rollout - continued CoreCLR / Mono test cleanup (minimal)
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/wasm-runtime-and-send-to-helix.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossgen-comparison-job.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/runtime.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  src/coreclr/tests/runtest.py
  src/tests/build.cmd
  src/tests/build.proj
  src/tests/build.sh
  src/tests/issues.targets
  src/tests/run.cmd
  src/tests/run.proj
  src/tests/run.sh
Labels: area-Infrastructure

#41880 Force concurrent LdapConnection in new process
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ber.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ber.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ldap.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/BerPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/BerPal.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SafeHandles.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SafeHandles.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
Labels: area-System.DirectoryServices

#41911 Move Marshal memory allocation methods into CoreLib shared partition
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/src/Interop/Unix/Interop.Libraries.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/src/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/src/pal/inc/pal.h
  src/coreclr/src/pal/inc/rt/palrt.h
  src/coreclr/src/pal/src/memory/local.cpp
  src/coreclr/src/palrt/comem.cpp
  src/coreclr/src/vm/ecalllist.h
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MemAlloc.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.LocalAlloc.cs
  src/libraries/Common/src/Interop/Windows/Ole32/Interop.CoTaskMemAlloc.cs
  src/libraries/Common/src/Interop/Windows/OleAut32/Interop.SysAllocStringLen.cs
  src/libraries/Native/Unix/System.Native/pal_memory.c
  src/libraries/Native/Unix/System.Native/pal_memory.h
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReAllocCoTaskMemTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/ReAllocHGlobalTests.cs
  src/mono/mono/metadata/icall-def-netcore.h
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Mono.cs
Labels: area-System.Runtime.InteropServices

#41671 [release/5.0] Update ICU
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.Globalization/tests/System/Globalization/RegionInfoTests.cs
Labels: arch-wasm, area-System.Globalization

#41513 Fixed stress test pipeline and other issues.
  eng/pipelines/libraries/stress/http.yml
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Utils/ErrorAggregator.cs
Labels: area-System.Net.Http

#41679 Honor custom number handling only when property/type is a number/collection of numbers
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/tests/Serialization/NumberHandlingTests.cs
Labels: area-System.Text.Json, breaking-change

#41935 Various Regexes for more testing.
  src/libraries/System.Text.RegularExpressions/tests/Regex.KnownPattern.Tests.cs
Labels: area-System.Text.RegularExpressions

#41912 Fix Configuration Save Full setting default value
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationElement.cs
  src/libraries/System.Configuration.ConfigurationManager/tests/System/Configuration/AppSettingsTests.cs
Labels: area-System.Configuration, auto-merge

#41838 [release/5.0-rc2] Fix for folding of *(typ*)&lclVar for small types
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.cs
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.il
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.ilproj
  src/tests/JIT/Regression/JitBlue/Runtime_40607/Runtime_40607.tt
Labels: Servicing-approved, area-CodeGen-coreclr

#41974 Disable Http2_MultipleConnectionsEnabled_ConnectionLimitNotReached_ConcurrentRequestsSuccessfullyHandled
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net

#41358 [WASM] Add satellite assemblies bundle and hook to register them
  eng/testing/tests.mobile.targets
  src/libraries/System.Runtime.Loader/tests/SatelliteAssemblies.cs
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/image-internals.h
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/loaded-images.c
  src/mono/mono/metadata/loader-internals.h
  src/mono/mono/metadata/mono-private-unstable.h
  src/mono/wasm/runtime/binding_support.js
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/library_mono.js
  tools-local/tasks/mobile.tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: area-AssemblyLoader-mono

#39222 ARM64: Eliminate redundant ldr/str instruction
  src/coreclr/src/jit/emitarm64.cpp
  src/coreclr/src/jit/emitarm64.h
Labels: area-CodeGen-coreclr

#40957 Do not address expose a struct having 1 slot
  src/coreclr/src/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#41972 Remove netcore/ directory from the mono/mono repository.
  src/mono/Makefile.am
Labels: area-Build-mono, mono-mirror

#41856 Add initial release testing for outerloop and jitstress pipelines
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
Labels: area-Infrastructure-coreclr

#41891 [wasm] Mark System.Threading.ThreadPool unsupported on Browser
  src/coreclr/src/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.Portable.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.cs
  src/libraries/System.Threading.ThreadPool/Directory.Build.props
  src/libraries/System.Threading.ThreadPool/ref/System.Threading.ThreadPool.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Browser.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Mono.cs
Labels: arch-wasm, area-System.Threading

#41963 Mark System.Net.WebSockets.ClientWebSocketOptions APIs as unsupported on Browser
  src/libraries/System.Net.WebSockets.Client/Directory.Build.props
  src/libraries/System.Net.WebSockets.Client/ref/System.Net.WebSockets.Client.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
Labels: area-System.Net

#41985 [wasm] Mark System.Net.NameResolution Unsupported at assembly level
  src/libraries/System.Net.NameResolution/Directory.Build.props
Labels: arch-wasm, area-System.Net

#41756 Update xml char type
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/Base64Decoder.cs
  src/libraries/System.Private.Xml/src/System/Xml/BinHexDecoder.cs
  src/libraries/System.Private.Xml/src/System/Xml/BinaryXml/XmlBinaryReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/HtmlEncodedRawTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/HtmlUtf8RawTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlAutoDetectWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlCharCheckingReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlCharCheckingReaderAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlCharCheckingWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlCharCheckingWriterAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlEncodedRawTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlEncodedRawTextWriterAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextEncoder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImplAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlUtf8RawTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlUtf8RawTextWriterAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWellFormedWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWellFormedWriterAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWellFormedWriterHelpers.cs
  src/libraries/System.Private.Xml/src/System/Xml/Dom/XmlCharacterData.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/DtdParser.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/DtdParserAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/Parser.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XmlSchemaValidator.cs
  src/libraries/System.Private.Xml/src/System/Xml/ValidateNames.cs
  src/libraries/System.Private.Xml/src/System/Xml/XPath/Internal/StringFunctions.cs
  src/libraries/System.Private.Xml/src/System/Xml/XPath/Internal/XPathScanner.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlCharType.bin
  src/libraries/System.Private.Xml/src/System/Xml/XmlCharType.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlComplianceUtil.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlConvert.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/WhitespaceRuleReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XsltFunctions.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathScanner.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XslException.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/XsltInput.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/BuilderInfo.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/Compiler.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/ProcessingInstructionAction.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/ReaderOutput.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/SequentialOutput.cs
Labels: area-System.Xml

#41899 V3 publishing
  eng/common/post-build/publish-using-darc.ps1
  eng/pipelines/official/stages/publish.yml
  src/installer/publish/prepare-artifacts.proj
Labels: area-Infrastructure

#41992 [mono] Minor fixes to the wasm browser sample
  src/mono/netcore/sample/wasm/browser/Makefile
  src/mono/netcore/sample/wasm/browser/Program.cs
  src/mono/netcore/sample/wasm/browser/index.html
Labels: arch-wasm, area-VM-meta-mono

#42007 Fix assert ordering
  src/libraries/System.Diagnostics.Process/tests/ProcessStandardConsoleTests.cs
Labels: area-System.Diagnostics.Process, test enhancement

#41800 Fix exception mapping during expect 100 cancellation.
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
Labels: area-System.Net.Http

#41976 Mark System.IO.Pipes Unsupported at assembly level
  src/libraries/System.IO.Pipes/Directory.Build.props
Labels: arch-wasm, area-System.IO

#41999 Integrate minor fixes from dotnet/runtimelab:NativeAOT
  src/coreclr/clr.featuredefines.props
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/coreclr/src/inc/gcinfodecoder.h
  src/coreclr/src/tools/Common/Compiler/VectorFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/Canon/InstantiatedMethod.Canon.cs
  src/coreclr/src/tools/Common/TypeSystem/Canon/StandardCanonicalizationAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/Canon/TypeDesc.Canon.cs
  src/coreclr/src/tools/Common/TypeSystem/Canon/TypeSystemContext.Canon.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/GenericParameterDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/InstantiatedType.Interfaces.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/Utilities/LockFreeReaderHashtable.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/VirtualMethodAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/IL/EcmaMethodIL.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
  src/coreclr/src/vm/gcinfodecoder.cpp
  src/libraries/Native/Unix/System.Native/pal_time.c
  src/libraries/System.Diagnostics.StackTrace/src/System.Diagnostics.StackTrace.csproj
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackFrameExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeFeature.cs
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-Meta

#41813 Handle name constraint errors from chain building.
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
Labels: area-System.Security

#41887 Implement ExportSubjectPublicKeyInfo on ECDHPublicKey
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDhKeyFileTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanTests.cs
  src/libraries/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDiffieHellmanPublicKey.ExportParameters.cs
Labels: area-System.Security, new-api-needs-documentation

#42026 Update comments to match official Win32 API documentation.
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
Labels: area-Interop-coreclr, os-windows

#41691 Handle IdLinkage X509 chain building status.
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
  src/libraries/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
Labels: area-System.Security

#42002 Fix ilasm parsing of defines
  src/coreclr/src/ilasm/grammar_after.cpp
  src/tests/ilasm/System/Runtime/CompilerServices/MiAggressiveOptimization.il
Labels: area-ILTools-coreclr

#41967 [release/5.0] Backport Browser Unsupported Attribute Changes
  src/coreclr/src/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/libraries/System.ComponentModel.TypeConverter/Directory.Build.props
  src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/LicenseManager.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/MaskedTextProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptionProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Security/Authentication/ExtendedProtection/ExtendedProtectionPolicyTypeConverter.cs
  src/libraries/System.Console/ref/System.Console.cs
  src/libraries/System.Console/src/System/Console.cs
  src/libraries/System.Diagnostics.FileVersionInfo/Directory.Build.props
  src/libraries/System.Diagnostics.Process/Directory.Build.props
  src/libraries/System.IO.Compression.Brotli/Directory.Build.props
  src/libraries/System.IO.FileSystem.Watcher/Directory.Build.props
  src/libraries/System.IO.IsolatedStorage/Directory.Build.props
  src/libraries/System.Net.Mail/Directory.Build.props
  src/libraries/System.Net.NameResolution/Directory.Build.props
  src/libraries/System.Net.NetworkInformation/Directory.Build.props
  src/libraries/System.Net.Ping/Directory.Build.props
  src/libraries/System.Net.Requests/Directory.Build.props
  src/libraries/System.Net.Security/Directory.Build.props
  src/libraries/System.Net.Sockets/Directory.Build.props
  src/libraries/System.Net.WebClient/Directory.Build.props
  src/libraries/System.Net.WebSockets.Client/Directory.Build.props
  src/libraries/System.Net.WebSockets.Client/ref/System.Net.WebSockets.Client.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.Portable.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.cs
  src/libraries/System.Threading.ThreadPool/Directory.Build.props
  src/libraries/System.Threading.ThreadPool/ref/System.Threading.ThreadPool.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Browser.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Mono.cs
Labels: Servicing-consider, arch-wasm, area-Meta

#41913 [interp] Remove dead basic blocks and merge adjacent ones
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/interp.h
  src/mono/mono/mini/interp/transform.
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono, mono-mirror

#41962 Add managed Marshal.AllocBSTRByteLen()
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/src/Interop/Unix/Interop.Libraries.cs
  src/coreclr/src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/src/vm/ecalllist.h
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Windows.cs
Labels: area-Interop-coreclr

#42042 Remove empty transform file.
  src/mono/mono/mini/interp/transform.
Labels: area-Infrastructure

#41959 [iOS] Make Environment.GetFolderPathCore Xamarin.iOS compatible
  src/mono/netcore/System.Private.CoreLib/src/System/Environment.iOS.cs
Labels: area-System.Runtime, os-ios

#42033 Avoid Unnecessary Cast
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
Labels: area-System.Numerics, auto-merge

#42032 Microsoft.Extensions.Internal.Transport should be a non-shipping package
  src/libraries/pkg/Microsoft.Extensions.Internal.Transport/Microsoft.Extensions.Internal.Transport.pkgproj
Labels: area-Infrastructure-libraries

#41850 rework UseCallback_BadCertificate_ExpectedPolicyErrors test to use Loopback server to avoid external dependency
  src/libraries/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
  src/libraries/Common/tests/System/Net/Http/LoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/TestHelper.cs
Labels: area-System.Net.Http, test enhancement

#42005 add build rotation doc
  docs/buildtriage.md
Labels: area-Meta

#41394 [browser][http] Add support for AllowAutoRedirect.
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
Labels: arch-wasm, area-System.Net.Http

#42040 Adds instruction count and summarized variable debug info
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/ee_il_dll.cpp
  src/coreclr/src/jit/emit.cpp
  src/coreclr/src/jit/emitpub.h
Labels: area-CodeGen-coreclr

#41996 [mono] Propagate -Werror properly, fix warning
  src/mono/Makefile.am
  src/mono/configure.ac
  src/mono/mono/eglib/Makefile.am
  src/mono/mono/metadata/cominterop.c
Labels: area-VM-meta-mono

#42052 Temporarily disable arm64 intrinsics in UTF-16 validation code paths
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf16Utility.Validation.cs
Labels: area-System.Runtime, tenet-performance

#37476 Add test leg to the PR build to run libraries tests on iOS x64 Simulators
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime.yml
  eng/testing/AppleRunnerTemplate.sh
  eng/testing/tests.mobile.targets
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
Labels: area-Infrastructure

#41982 Enable Alpine ARM support
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/coreclr/src/.nuget/Directory.Build.props
  src/coreclr/src/.nuget/Microsoft.CrossOsDiag.Private.CoreCLR/Microsoft.CrossOsDiag.Private.CoreCLR.proj
  src/installer/pkg/projects/netcoreappRIDs.props
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure

#42069 [release/5.0] Revert back port of unsupported browser APIs
  src/coreclr/src/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/libraries/System.ComponentModel.TypeConverter/Directory.Build.props
  src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/LicenseManager.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/MaskedTextProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptionProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Security/Authentication/ExtendedProtection/ExtendedProtectionPolicyTypeConverter.cs
  src/libraries/System.Console/ref/System.Console.cs
  src/libraries/System.Console/src/System/Console.cs
  src/libraries/System.Diagnostics.FileVersionInfo/Directory.Build.props
  src/libraries/System.Diagnostics.Process/Directory.Build.props
  src/libraries/System.IO.Compression.Brotli/Directory.Build.props
  src/libraries/System.IO.FileSystem.Watcher/Directory.Build.props
  src/libraries/System.IO.IsolatedStorage/Directory.Build.props
  src/libraries/System.Net.Mail/Directory.Build.props
  src/libraries/System.Net.NameResolution/Directory.Build.props
  src/libraries/System.Net.NetworkInformation/Directory.Build.props
  src/libraries/System.Net.Ping/Directory.Build.props
  src/libraries/System.Net.Requests/Directory.Build.props
  src/libraries/System.Net.Security/Directory.Build.props
  src/libraries/System.Net.Sockets/Directory.Build.props
  src/libraries/System.Net.WebClient/Directory.Build.props
  src/libraries/System.Net.WebSockets.Client/Directory.Build.props
  src/libraries/System.Net.WebSockets.Client/ref/System.Net.WebSockets.Client.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.Portable.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.cs
  src/libraries/System.Threading.ThreadPool/Directory.Build.props
  src/libraries/System.Threading.ThreadPool/ref/System.Threading.ThreadPool.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Browser.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Mono.cs
Labels: arch-wasm, area-Meta

#41961 [crashing] update s390x handling
  src/mono/mono/mini/exceptions-s390x.c
Labels: area-Infrastructure-coreclr, mono-mirror

#42051 move Http2_MultipleConnectionsEnabled_IdleConnectionTimeoutExpired_ConnectionRemovedAndNewCreated to outerloop
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, test enhancement

#41955 Implement SocketsHttpHandler.ConnectCallback
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsConnectionFactory.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpConnectionContext.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, new-api-needs-documentation

#42044 Update arcade sdk
  eng/common/post-build/publish-using-darc.ps1
Labels: area-Infrastructure-coreclr

#42067 Delete AreEqualOrdinalIgnoreCase
  src/libraries/Native/Unix/System.Globalization.Native/pal_collation.c
Labels: area-System.Globalization

#41760 Enabling CA1416: Validate platform compatibility
  eng/Analyzers.props
  eng/CodeAnalysis.ruleset
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.Properties.cs
  src/libraries/Common/src/Interop/Windows/WinSock/SafeNativeOverlapped.cs
  src/libraries/Common/src/System/Net/ContextAwareResult.Windows.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/EventLogLogger.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/EventLogLoggerProvider.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/EventLogSettings.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/Microsoft.Extensions.Logging.EventLog.csproj
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/WindowsEventLog.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Internal/SystemColorTracker.cs
  src/libraries/System.IO.Ports/src/System/IO/Ports/SerialPort.Win32.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/BaseOverlappedAsyncResult.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/PkcsPalWindows.cs
Labels: area-CodeGen-coreclr

#42054 improve ConnectAsync_CancellationRequestedAfterConnect_ThrowsOperation test
  src/libraries/System.Net.WebSockets.Client/tests/ConnectTest.cs
Labels: area-System.Net.Security, test enhancement

#42072 Ongoing work on the cmake build.
  src/mono/CMakeLists.txt
  src/mono/cmake/QuietOSXRanlib.cmake
  src/mono/cmake/options.cmake
  src/mono/mono/eglib/CMakeLists.txt
  src/mono/mono/eventpipe/CMakeLists.txt
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/sgen/CMakeLists.txt
  src/mono/mono/utils/CMakeLists.txt
Labels: area-Build-mono
