Repository dotnet/runtime, pull requests merged in 2020-11, with the labels that each got.

#44075 Fix a typo in SerialPortProperties.cs (a test file)
  src/libraries/System.IO.Ports/tests/Support/SerialPortProperties.cs
Labels: area-Meta

#44091 Revert "Make NLS default globalization mode (#44008)"
  eng/testing/SetIcuMode.cmd
  src/libraries/System.Globalization.Extensions/System.Globalization.Extensions.sln
  src/libraries/System.Globalization.Extensions/tests/IcuTests/runtimeconfig.template.json
  src/libraries/System.Globalization.Extensions/tests/NlsTests/System.Globalization.Extensions.Nls.Tests.csproj
  src/libraries/System.Globalization.Extensions/tests/NlsTests/runtimeconfig.template.json
  src/libraries/System.Globalization/System.Globalization.sln
  src/libraries/System.Globalization/tests/IcuTests.cs
  src/libraries/System.Globalization/tests/IcuTests/runtimeconfig.template.json
  src/libraries/System.Globalization/tests/NlsTests/NlsSwitchTests.cs
  src/libraries/System.Globalization/tests/NlsTests/System.Globalization.Nls.Tests.csproj
  src/libraries/System.Globalization/tests/NlsTests/runtimeconfig.template.json
  src/libraries/System.Globalization/tests/System.Globalization.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.cs
  src/libraries/System.Runtime/System.Runtime.sln
  src/libraries/System.Runtime/tests/IcuTests/runtimeconfig.template.json
  src/libraries/System.Runtime/tests/NlsTests/System.Runtime.Nls.Tests.csproj
  src/libraries/System.Runtime/tests/NlsTests/runtimeconfig.template.json
  src/libraries/sendtohelixhelp.proj
Labels: area-Meta

#44105 Avoid linking against libicudata.a, its not needed.
  src/mono/wasm/Makefile
Labels: area-Build-mono

#44097 Delete unnecessary seek from FileStream.SetLengthInternal on Unix
  src/libraries/System.IO.FileSystem/tests/FileStream/SetLength.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CreateNew.Tests.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.Unix.cs
Labels: area-System.IO

#44032 Add optimized String.Join for IList<string>
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Runtime/tests/System/StringTests.cs
Labels: area-System.Runtime, enhancement, tenet-performance

#44041 Fix type generator test failures
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelegateCtorSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/FieldFixupSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InstanceEntryPointTableNode.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureBuilder.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunSymbolNodeFactory.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/tests/build.cmd
  src/tests/build.sh
  src/tests/issues.targets
  src/tests/readytorun/crossgen2/Program.cs
  src/tests/readytorun/crossgen2/crossgen2smoke.csproj
  src/tests/readytorun/crossgen2/crossgen2smoke_donotalwaysusecrossgen2.csproj
  src/tests/readytorun/crossgen2/helperdll.cs
  src/tests/readytorun/crossgen2/helperildll.il
  src/tests/readytorun/crossgen2/smoketest.targets
Labels: area-crossgen2-coreclr

#44122 Remove last remnants of IExpando support.
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/Expando/IExpando.cs
  src/coreclr/src/vm/classnames.h
  src/coreclr/src/vm/comcallablewrapper.cpp
  src/coreclr/src/vm/comcallablewrapper.h
  src/coreclr/src/vm/corelib.h
  src/coreclr/src/vm/dispatchinfo.cpp
  src/coreclr/src/vm/dispatchinfo.h
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/metasig.h
  src/coreclr/src/vm/mngstdinterfaces.cpp
  src/coreclr/src/vm/mngstditflist.h
  src/coreclr/src/vm/namespace.h
  src/coreclr/src/vm/stdinterfaces.cpp
Labels: area-Interop-coreclr

#44043 (MQ cleanup) Remove size_t from managed Brotli code
  src/libraries/Common/src/Interop/Interop.Brotli.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/dec/BrotliDecoder.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliEncoder.cs
Labels: area-System.IO.Compression

#44128 Remove some unused icalls.
  src/mono/mono/metadata/icall-def-netcore.h
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
Labels: area-VM-meta-mono

#44135 Delete dead AppendSpanFormattable method from ValueStringBuilder
  src/libraries/System.Private.CoreLib/src/System/Text/ValueStringBuilder.AppendFormat.cs
Labels: area-Infrastructure-coreclr

#44133 Use slightly smaller code for String.Concat(object, object, ...)
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
Labels: area-Meta

#44099 Fix equality check for unset variables in test scripts
  src/tests/run.sh
Labels: area-Infrastructure-coreclr

#44093 Set GC_SUSPEND based on the target os not the host os.
  src/mono/CMakeLists.txt
  src/mono/cmake/options.cmake
Labels: area-Build-mono

#44142 Add issues.targets CG2 entries for issue #44054
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#44118 Delete duplicate Buffer.Memmove implementations and avoid unnecessary pinning
  src/coreclr/src/System.Private.CoreLib/src/System/Buffer.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/String.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Text/StringBuilder.CoreCLR.cs
  src/coreclr/src/vm/ilmarshalers.cpp
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/Convert.cs
  src/libraries/System.Private.CoreLib/src/System/IO/StringReader.cs
  src/libraries/System.Private.CoreLib/src/System/IO/UnmanagedMemoryStream.cs
  src/libraries/System.Private.CoreLib/src/System/Number.BigInteger.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeBuffer.cs
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Text/UTF32Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Text/UTF7Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Text/UnicodeEncoding.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Buffer.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/String.Mono.cs
Labels: area-System.Memory

#42282 Fix incorrect handling of character range and capitalization in regex
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.MappingTable.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexValidations.netcoreapp.cs
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Labels: area-System.Text.RegularExpressions

#44076 Add NativeMainSource alternative to Android Sample App
  tools-local/tasks/mobile.tasks/AndroidAppBuilder/AndroidAppBuilder.cs
  tools-local/tasks/mobile.tasks/AndroidAppBuilder/ApkBuilder.cs
  tools-local/tasks/mobile.tasks/AppleAppBuilder/AppleAppBuilder.cs
Labels: area-Infrastructure-mono

#44155 Set the MSVC RuntimeLibrary properties for ASM_MASM when we use MASM.
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure, auto-merge

#44160 Remove OSX_arm64 from platform group all
  eng/pipelines/common/platform-matrix.yml
Labels: area-Infrastructure-coreclr

#44107 Update Brotli to v1.0.9
  src/libraries/Native/AnyOS/brotli-version.txt
  src/libraries/Native/AnyOS/brotli/common/constants.c
  src/libraries/Native/AnyOS/brotli/common/constants.h
  src/libraries/Native/AnyOS/brotli/common/context.c
  src/libraries/Native/AnyOS/brotli/common/context.h
  src/libraries/Native/AnyOS/brotli/common/dictionary.c
  src/libraries/Native/AnyOS/brotli/common/platform.c
  src/libraries/Native/AnyOS/brotli/common/platform.h
  src/libraries/Native/AnyOS/brotli/common/transform.c
  src/libraries/Native/AnyOS/brotli/common/transform.h
  src/libraries/Native/AnyOS/brotli/common/version.h
  src/libraries/Native/AnyOS/brotli/dec/bit_reader.c
  src/libraries/Native/AnyOS/brotli/dec/bit_reader.h
  src/libraries/Native/AnyOS/brotli/dec/decode.c
  src/libraries/Native/AnyOS/brotli/dec/huffman.h
  src/libraries/Native/AnyOS/brotli/dec/prefix.h
  src/libraries/Native/AnyOS/brotli/dec/state.c
  src/libraries/Native/AnyOS/brotli/dec/state.h
  src/libraries/Native/AnyOS/brotli/enc/backward_references.c
  src/libraries/Native/AnyOS/brotli/enc/backward_references.h
  src/libraries/Native/AnyOS/brotli/enc/backward_references_hq.c
  src/libraries/Native/AnyOS/brotli/enc/backward_references_hq.h
  src/libraries/Native/AnyOS/brotli/enc/backward_references_inc.h
  src/libraries/Native/AnyOS/brotli/enc/block_splitter.c
  src/libraries/Native/AnyOS/brotli/enc/block_splitter_inc.h
  src/libraries/Native/AnyOS/brotli/enc/brotli_bit_stream.c
  src/libraries/Native/AnyOS/brotli/enc/cluster_inc.h
  src/libraries/Native/AnyOS/brotli/enc/command.c
  src/libraries/Native/AnyOS/brotli/enc/command.h
  src/libraries/Native/AnyOS/brotli/enc/compress_fragment_two_pass.c
  src/libraries/Native/AnyOS/brotli/enc/dictionary_hash.c
  src/libraries/Native/AnyOS/brotli/enc/dictionary_hash.h
  src/libraries/Native/AnyOS/brotli/enc/encode.c
  src/libraries/Native/AnyOS/brotli/enc/encoder_dict.c
  src/libraries/Native/AnyOS/brotli/enc/encoder_dict.h
  src/libraries/Native/AnyOS/brotli/enc/entropy_encode.c
  src/libraries/Native/AnyOS/brotli/enc/entropy_encode.h
  src/libraries/Native/AnyOS/brotli/enc/fast_log.c
  src/libraries/Native/AnyOS/brotli/enc/fast_log.h
  src/libraries/Native/AnyOS/brotli/enc/find_match_length.h
  src/libraries/Native/AnyOS/brotli/enc/hash.h
  src/libraries/Native/AnyOS/brotli/enc/hash_composite_inc.h
  src/libraries/Native/AnyOS/brotli/enc/hash_forgetful_chain_inc.h
  src/libraries/Native/AnyOS/brotli/enc/hash_longest_match64_inc.h
  src/libraries/Native/AnyOS/brotli/enc/hash_longest_match_inc.h
  src/libraries/Native/AnyOS/brotli/enc/hash_longest_match_quickly_inc.h
  src/libraries/Native/AnyOS/brotli/enc/hash_rolling_inc.h
  src/libraries/Native/AnyOS/brotli/enc/hash_to_binary_tree_inc.h
  src/libraries/Native/AnyOS/brotli/enc/memory.h
  src/libraries/Native/AnyOS/brotli/enc/metablock.c
  src/libraries/Native/AnyOS/brotli/enc/metablock_inc.h
  src/libraries/Native/AnyOS/brotli/enc/params.h
  src/libraries/Native/AnyOS/brotli/enc/ringbuffer.h
  src/libraries/Native/AnyOS/brotli/enc/utf8_util.c
  src/libraries/Native/AnyOS/brotli/enc/write_bits.h
  src/libraries/Native/AnyOS/brotli/include/brotli/encode.h
  src/libraries/Native/AnyOS/brotli/include/brotli/port.h
  src/libraries/Native/AnyOS/brotli/tools/brotli.c
  src/libraries/Native/Unix/System.IO.Compression.Native/CMakeLists.txt
  src/libraries/Native/Windows/clrcompression/CMakeLists.txt
Labels: area-System.IO.Compression

#44157 Slight cleanup in hostpolicy
  src/installer/corehost/cli/hostpolicy/args.cpp
  src/installer/corehost/cli/hostpolicy/hostpolicy.cpp
Labels: area-Host, auto-merge

#43951 Strip release builds on wasm. Avoid linking against libicudata.a, its not needed. Fix warnings.
  src/mono/wasm/Makefile
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-Build-mono

#44085 Add alternative to reuse signing key in Android Sample App
  tools-local/tasks/mobile.tasks/AndroidAppBuilder/AndroidAppBuilder.cs
  tools-local/tasks/mobile.tasks/AndroidAppBuilder/ApkBuilder.cs
Labels: area-Infrastructure-mono

#44136 Remove stale TODO-NULLABLE comments from code
  src/coreclr/src/System.Private.CoreLib/src/System/Attribute.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/MulticastDelegate.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/ILGenerator.cs
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/libraries/Common/src/System/Runtime/InteropServices/ComEventsMethod.cs
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/ReflectionModel/LazyMemberInfo.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ClientUtils.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Printing/PrintingServices.Unix.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/ArrayList.cs
  src/libraries/System.Private.CoreLib/src/System/DefaultBinder.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/XplatEventLogger.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitHandle.cs
  src/libraries/System.Private.CoreLib/src/System/Type.Helpers.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ExtensionDataReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlSerializableReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlDictionaryReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.cs
  src/libraries/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectWriter.cs
Labels: area-Infrastructure-coreclr

#42393 JSON continuation tests
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.NullToken.cs
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#44129 [interp] Fix pinvoke passing of valuetype on wasm
  src/mono/mono/mini/interp/interp.c
Labels: area-Interop-mono

#44163 Move the exclusion of unregister01/03 into general CoreCLR group
  src/tests/issues.targets
Labels: area-Infrastructure-coreclr

#43379 (MQ cleanup) Remove some unsafe code from System.Xml
  src/libraries/System.Private.Xml/src/System/Xml/Base64Decoder.cs
  src/libraries/System.Private.Xml/src/System/Xml/BinHexDecoder.cs
  src/libraries/System.Private.Xml/src/System/Xml/BinaryXml/XmlBinaryReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/CodeIdentifier.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlConvert.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPathConvert.cs
Labels: area-System.Xml

#44092 Fix an assert which is hit when compiling Microsoft.CodeAnalysis.dll with llvmonly.
  src/mono/mono/mini/mini-llvm.c
Labels: area-Build-mono, area-Codegen-LLVM-mono

#44162 Use actual nint/nuint in Latin1Utility
  src/libraries/System.Private.CoreLib/src/System/Text/Latin1Utility.cs
Labels: area-Meta

#44069 Add stream conformance tests for standalone streams
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
  src/libraries/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/FileStream/Buffering_regression.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/CanRead.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/CanSeek.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/CanTimeout.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/CanWrite.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/CopyToAsync.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Dispose.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/DisposeAsync.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FileStreamConformanceTests.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FlushAsync.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Length.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Pipes.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Position.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Read.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/ReadAsync.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/ReadByte.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/ReadWriteSpan.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Seek.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/SetLength.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Write.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/WriteByte.cs
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.IO.MemoryMappedFiles/src/System/IO/MemoryMappedFiles/MemoryMappedViewStream.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFilesTestsBase.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStreamConformanceTests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/System.IO.MemoryMappedFiles.Tests.csproj
  src/libraries/System.IO.UnmanagedMemoryStream/tests/System.IO.UnmanagedMemoryStream.Tests.csproj
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsCtorTests.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsDisposeAsync.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsFlush.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsReadWrite.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsSecurityTest.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsTests.cs
  src/libraries/System.IO/tests/BufferedStream/BufferedStreamConnectedConformanceTests.cs
  src/libraries/System.IO/tests/BufferedStream/BufferedStreamTests.cs
  src/libraries/System.IO/tests/MemoryStream/MemoryStreamTests.cs
  src/libraries/System.IO/tests/Stream/Stream.APMMethodsTests.cs
  src/libraries/System.IO/tests/Stream/Stream.Methods.cs
  src/libraries/System.IO/tests/Stream/Stream.ValidateArguments.cs
  src/libraries/System.IO/tests/Stream/SyncStreamConformanceTests.cs
  src/libraries/System.IO/tests/System.IO.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/IO/Stream.cs
  src/libraries/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
Labels: area-System.IO

#44164 Move serializable types for xml serialization generator tests to separate assembly
  src/libraries/Microsoft.XmlSerializer.Generator/Microsoft.XmlSerializer.Generator.sln
  src/libraries/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj
  src/libraries/Microsoft.XmlSerializer.Generator/tests/SGenTests.cs
  src/libraries/Microsoft.XmlSerializer.Generator/tests/SerializableAssembly.csproj
Labels: area-Infrastructure-libraries

#44169 Fix race condition in HttpClient timeout handling and GetAsync_ContentCanBeCanceled
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Labels: area-CodeGen-coreclr

#44156 Fill out hardware intrinsics linker substitutions for unsupported platforms
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.NoArmIntrinsics.xml
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.NoX86Intrinsics.xml
Labels: area-System.Runtime.Intrinsics, linkable-framework

#44149 Fix/remove TODO-NULLABLE in System.Private.Xml
  src/libraries/System.Data.Common/src/System/Data/xmlsaver.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlSerializableReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlDictionaryReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlAsyncCheckReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlSubtreeReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.Unix.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlValidatingReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlValidatingReaderImpl.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWrappingReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XsdCachingReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XsdValidatingReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Dom/DocumentXPathNavigator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/IXpathBuilder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XmlIlGenerator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XmlQueryTypeFactory.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/XsltCompileContext.cs
  src/libraries/System.Xml.ReaderWriter/ref/System.Xml.ReaderWriter.cs
Labels: area-System.Xml, auto-merge

#44184 disable MockQuicStreamConformanceTests.Parallel_ReadWriteMultipleStreamsConcurrently
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
Labels: area-System.Net.Quic

#44197 Fix comment causing formatting leg in CI to fail
  src/coreclr/src/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#44203 Add SYSLIB0013 into obsoletion list
  docs/project/list-of-obsoletions.md
Labels: area-System.Net

#44195 Clean up style of Random.cs
  src/libraries/System.Private.CoreLib/src/System/Random.cs
Labels: area-System.Runtime

#44193 Use different variable in base-job.yml to avoid confusion
  eng/pipelines/libraries/base-job.yml
Labels: area-Infrastructure-libraries

#44081 [mono] remove 2 extra members from System.Object
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
  src/mono/netcore/System.Private.CoreLib/src/System/Object.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/MarshalAsAttribute.Mono.cs
Labels: area-CoreLib-mono

#44110 TcpClient.ConnectAsync(EndPoint)
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/TcpClientTest.cs
Labels: area-System.Net.Sockets, new-api-needs-documentation

#44161 Extend SendAsync/ReceiveAsync cancellation tests
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
Labels: area-System.Net.Sockets

#44053 improve accuracy of Expect100Continue_WaitsExpectedPeriodOfTimeBeforeSendingContent test
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Cancellation.cs
Labels: area-System.Net.Http, test bug

#44172 Don't create a wrapper for run-v8.sh
  src/tests/run.proj
Labels: area-Infrastructure-mono

#43969 Check catch and throw non-Exception derived types
  src/coreclr/src/tools/ILVerification/ILImporter.Verify.cs
  src/coreclr/src/tools/ILVerification/Strings.resx
  src/coreclr/src/tools/ILVerification/Verifier.cs
  src/coreclr/src/tools/ILVerification/VerifierError.cs
  src/coreclr/src/tools/ILVerify/Program.cs
  src/tests/ilverify/ILMethodTester.cs
  src/tests/ilverify/ILTests/ExceptionRegionTests.il
  src/tests/ilverify/ILTests/ThisStateTests.il
  src/tests/ilverify/ILTypeVerificationTester.cs
Labels: area-ILVerification

#44089 Don't pass `listCount` to `gtGet(Late)ArgMsg`.
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#44199 Remove several volatiles from Timer
  src/libraries/System.Private.CoreLib/src/System/Threading/Timer.cs
Labels: area-System.Threading

#44218 Try a different attribute for disabling stream conformance tests on browser
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
Labels: area-Infrastructure-coreclr

#44059 Check that we don't create null checks on an address that is not null.
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/importer.cpp
Labels: area-CodeGen-coreclr, enhancement

#44188 [interp] Reinitialize error in a few places
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#44171 Remove the old mono timezone icall implementation from driver.c
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/library_mono.js
Labels: arch-wasm, area-VM-meta-mono

#44223 Add a PNSE configuration for System.Net.Quic
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/Resources/Strings.resx
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
Labels: area-System.Net

#44228 Add wiggle room to MonitoringIsEnabled test
  src/libraries/System.Runtime.Extensions/tests/System/AppDomainTests.cs
Labels: area-Meta

#44225 Add assert to SharedPerformanceCounter to debug test failures in CI
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/SharedPerformanceCounter.cs
Labels: area-System.Diagnostics

#44168 Tolerate missing tests
  src/tests/run.py
Labels: area-CodeGen-coreclr

#44045 Wasm async entrypoint
  src/mono/netcore/sample/wasm/console/Program.cs
  src/mono/wasm/runtime-test.js
  src/mono/wasm/runtime/driver.c
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
Labels: arch-wasm, area-VM-meta-mono

#44217 [interp] Simplify GetRawData
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#43636 Doubly linked freelist fixes
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcpriv.h
Labels: area-GC-coreclr

#44202 Socket.Tests: remove TestSettings.UDPRedundancy
  src/libraries/Common/tests/System/Net/Sockets/TestSettings.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/IPPacketInformationTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFromAsync.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SelectAndPollTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/UdpClientTest.cs
Labels: area-System.Net.Sockets, test enhancement

#40772 Fix: NetworkStream throwing inconsistent exceptions
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Labels: area-System.Net.Sockets, bug

#44243 Reenable dllmap for iOS/Android
  src/mono/CMakeLists.txt
Labels: area-Build-mono

#44204 Add stream conformance tests for SocketsHttpHandler HTTP/1.1 streams
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FileStreamConformanceTests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStreamConformanceTests.cs
  src/libraries/System.IO.UnmanagedMemoryStream/tests/UmsTests.cs
  src/libraries/System.IO/tests/BufferedStream/BufferedStreamConnectedConformanceTests.cs
  src/libraries/System.IO/tests/MemoryStream/MemoryStreamTests.cs
  src/libraries/System.IO/tests/Stream/SyncStreamConformanceTests.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/RawConnectionStreamTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ResponseStreamConformanceTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http

#44080 Respect DOTNET_SHUTDOWNTIMEOUTSECONDS in HostOptions
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostOptions.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostTests.cs
Labels: area-Extensions-Hosting

#44238 Fix inject_debug_resources target
  src/coreclr/src/dlls/mscoree/coreclr/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#44196 Update buildtriage.md
  docs/infra/buildtriage.md
Labels: area-Meta

#43937 Add debugging a ci dump documentation template and script to fill info and include it on azdo test tab
  eng/testing/debug-dump-template.md
  eng/testing/gen-debug-dump-docs.py
  src/libraries/sendtohelix.proj
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#44170 Use SetFileInformationByHandle on FileStream.SetLength
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FILE_END_OF_FILE_INFO.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetEndOfFile.cs
  src/libraries/System.IO.FileSystem/tests/ManualTests/ManualTests.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.Windows.cs
Labels: area-System.IO

#43811 JIT: simple redundant compare optimization
  src/coreclr/src/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#44259 Remove MNADeprecationWorkaround in host test assets
  src/installer/tests/Assets/TestProjects/AppWithSubDirs/Directory.Build.props
  src/installer/tests/Assets/TestProjects/AppWithWait/Directory.Build.props
  src/installer/tests/Assets/TestProjects/SingleFileApiTests/Directory.Build.props
  src/installer/tests/Assets/TestProjects/StandaloneApp20/Directory.Build.props
  src/installer/tests/Assets/TestProjects/StandaloneApp21/Directory.Build.props
  src/installer/tests/Assets/TestProjects/StandaloneApp3x/Directory.Build.props
  src/installer/tests/Assets/TestUtils/MNADeprecationWorkaround.props
  src/installer/tests/Assets/TestUtils/TestProjects.props
Labels: area-Host

#43711 Update IpcStreamFactory state machine to handle being started on a thread that ends
  src/coreclr/src/debug/debug-pal/win/diagnosticsipc.cpp
  src/coreclr/src/vm/ipcstreamfactory.cpp
Labels: area-Diagnostics-coreclr

#44185 Use shared lock for files opened without FileAccess.Write on Linux
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.LockFileRegion.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/LockUnlock.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.Lock.Unix.cs
Labels: area-System.IO, breaking-change, needs-breaking-change-doc-created

#44262 Disable DOUBLY_LINKED_FL
  src/coreclr/src/gc/gcpriv.h
Labels: area-Infrastructure-coreclr

#44224 Move dotnet version to hardcoded version to workaround TFM change
  eng/common/performance/crossgen_perf.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure-coreclr

#44245 Split SslStream stream conformance tests for TLS1.1/TLS1.2/1.3
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamConformanceTests.cs
Labels: area-Meta

#44112 Omit ErrorInformation from ManagementException binary serialization
  src/libraries/System.Management/src/System/Management/ManagementException.cs
  src/libraries/System.Management/tests/System/Management/ManagementObjectTests.cs
Labels: area-System.Management

#44261 Add R2RDump support for lazy GC info
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/src/tools/r2rdump/TextDumper.cs
Labels: area-crossgen2-coreclr

#44286 More consistent cache key validation in Remove
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
Labels: area-Extensions-Caching

#44282 fix mock QUIC provider issues with Dispose and conformance tests
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockStream.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
Labels: area-System.Net.Quic

#44290 Correctly set dylib version for libmonosgen-2.0.dylib
  src/mono/mono/mini/CMakeLists.txt
Labels: area-Build-mono

#44302 Uncomment `pr: none` in perf.yml
  eng/pipelines/coreclr/perf.yml
Labels: area-Infrastructure-coreclr

#44295 Workaround xunit bug for disabling FileStreamStandaloneConformanceTests
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FileStreamConformanceTests.cs
Labels: area-Meta

#44294 Ctor_SafeHandle_BasicPropertiesPropagate_Success: improve raw packet case.
  src/libraries/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
Labels: area-System.Net.Sockets

#44283 Http version test cleanup
  src/libraries/Common/tests/System/Net/Http/DribbleStream.cs
  src/libraries/Common/tests/System/Net/Http/HttpProtocolTests.cs
Labels: area-System.Net.Http

#44251 Fix illumos native build
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/standardpch.h
  src/installer/corehost/cli/apphost/static/CMakeLists.txt
  src/libraries/Native/Unix/tryrun.cmake
Labels: area-Infrastructure-coreclr

#44301 Bump xharness workitem timeout for Android as well
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#44248 Add stream conformance tests for TranscodingStream
  src/libraries/System.Private.CoreLib/src/System/Text/TranscodingStream.cs
  src/libraries/System.Text.Encoding/tests/Encoding/TranscodingStreamTests.cs
  src/libraries/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
Labels: area-System.Text.Encoding

#44215 JIT: minor inliner refactoring
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/inline.cpp
  src/coreclr/src/jit/inline.h
  src/coreclr/src/jit/inlinepolicy.cpp
  src/coreclr/src/jit/inlinepolicy.h
  src/coreclr/src/jit/utils.cpp
Labels: area-CodeGen-coreclr

#44278 Remove unused QCall for WinRTSupported
  src/coreclr/src/classlibnative/bcltype/system.cpp
  src/coreclr/src/classlibnative/bcltype/system.h
  src/coreclr/src/vm/ecalllist.h
Labels: area-Interop-coreclr

#44310 File.Exists() is not null when true
  src/libraries/System.IO.FileSystem/ref/System.IO.FileSystem.cs
  src/libraries/System.IO.FileSystem/src/System/IO/File.cs
  src/libraries/System.Private.CoreLib/src/Internal/IO/File.cs
Labels: area-System.IO

#44303 [master][watchOS] Add simwatch64 support
  src/mono/mono/utils/mach-support-amd64.c
Labels: area-Infrastructure-coreclr, mono-mirror

#44305 [wasm][debugger] Implementing support to Debugger::Break.
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/mono/mini/mini-wasm.h
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test2.cs
Labels: arch-wasm, area-Debugger-mono

#44268 Set fgOptimizedFinally flag correctly
  src/coreclr/src/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#44046 Use the new async Run method from xharness and implement a test
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/Common/tests/WasmTestRunner/WasmTestRunner.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/Http/HttpRequestMessageTest.cs
  src/mono/mono/mini/mini-wasm.c
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Browser.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/TimerQueue.Browser.Mono.cs
Labels: arch-wasm, area-Interop-mono

#44266 Forbid `- byref cnst` -> `+ (byref -cnst)` transformation.
  src/coreclr/src/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_44266/Runtime_44266.il
  src/tests/JIT/Regression/JitBlue/Runtime_44266/Runtime_44266.ilproj
Labels: area-CodeGen-coreclr

#44291 Pick libmonosgen-2.0.so from cmake install directory instead of .libs
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
Labels: area-Build-mono

#44333 Update SharedPerformanceCounter assert
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/SharedPerformanceCounter.cs
Labels: area-Infrastructure-coreclr

#44335 Remove silly ToString in GetCLRInstanceString
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/VersioningHelper.cs
Labels: area-Extensions-Primitives

#43965 Use targetPlatformMoniker for net5.0 and newer tfms
  eng/BeforeTargetFrameworkInference.targets
  eng/resolveContract.targets
  eng/targetframeworksuffix.props
  eng/versioning.targets
  global.json
  src/libraries/Directory.Build.props
Labels: area-Meta

#43833 [sgen] Add Ward annotations to sgen_get_total_allocated_bytes
  src/mono/mono/sgen/sgen-gc.h
Labels: area-VM-meta-mono, mono-mirror

#44212 [tests] Re-enable tests fixed by #44081
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
Labels: area-System.Reflection-mono, disabled-test

#43386 Add an implicit argument coercion check.
  src/coreclr/src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/vm/corelib.h
  src/coreclr/src/vm/metasig.h
  src/tests/JIT/Directed/coverage/importer/Desktop/byrefsubbyref1.il
  src/tests/JIT/Directed/coverage/importer/byrefsubbyref1.il
  src/tests/JIT/Regression/JitBlue/GitHub_18295/GitHub_18295.il
  src/tests/JIT/opt/Inline/regression/mismatch32/mismatch32.il
  src/tests/JIT/opt/Inline/regression/mismatch64/mismatch64.il
Labels: area-CodeGen-coreclr, breaking-change, needs-breaking-change-doc-created

#44340 [mono] Change CMakelists.txt "python" -> Python3_EXECUTABLE
  src/mono/mono/mini/CMakeLists.txt
Labels: area-Build-mono

#44342 Tweak StreamConformanceTests for cancellation
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
Labels: area-Meta

#44104 Use Dictionary for underlying cache of ResourceSet
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceSet.cs
  src/libraries/System.Resources.ResourceManager/tests/ResourceSetTests.cs
Labels: area-System.Resources

#44246 Simplify catch-rethrow logic in NetworkStream
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Labels: area-Meta

#43921 Simple GT_NEG optimization for #13837
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen-coreclr

#44326 Tighten argument validation in StreamConformanceTests
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
Labels: area-System.IO

#44180 Add threshold on number of files / partition in SPMI collection
  eng/pipelines/coreclr/templates/run-superpmi-job.yml
  src/coreclr/scripts/superpmi-setup.py
  src/coreclr/scripts/superpmi.proj
  src/coreclr/scripts/superpmi.py
Labels: area-Infrastructure-coreclr

#44285 Fix ELT profiler tests
  src/tests/profiler/common/ProfilerTestRunner.cs
  src/tests/profiler/native/eltprofiler/slowpatheltprofiler.cpp
Labels: area-Diagnostics-coreclr

#44356 Fix Send_TimeoutResponseContent_Throws
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Labels: area-System.Net.Http

#44124 Match CoreCLR behaviour on thread start failure
  src/mono/mono/metadata/threads.c
  src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
Labels: area-CoreLib-mono

#44359 Add slash in Windows SoD tool build
  eng/common/performance/crossgen_perf.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure-coreclr

#44371 Reflect test path changes in .gitattributes; remove nonexistent files
  .gitattributes
Labels: area-Infrastructure-coreclr

#42150 Bootstrapping a test for R2RDump
  src/tests/Common/Directory.Build.targets
  src/tests/issues.targets
  src/tests/r2rdump/R2RDumpTester.cs
  src/tests/r2rdump/R2RDumpTests.csproj
Labels: area-R2RDump-coreclr

#44355 Improve performance of Enum's generic IsDefined / GetName / GetValues / GetNames
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
Labels: area-System.Runtime, tenet-performance

#44379 Clarify http version test
  src/libraries/Common/tests/System/Net/Http/HttpProtocolTests.cs
Labels: area-System.Net.Http

#44357 Disable RunThreadLocalTest8_Values on Mono
  src/libraries/System.Threading/tests/ThreadLocalTests.cs
Labels: area-Threading-mono

#44299 LongProcessNamesAreSupported: make test work on distros where sleep is a symlink/script
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Windows.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#44380 add missing QUIC constructor overloads
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicClientConnectionOptions.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
Labels: area-System.Net.Quic

#44366 change `using` in ConnectCallback_UseUnixDomainSocket_Success
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, test enhancement

#44293 Clean up Android and iOS samples
  src/mono/netcore/sample/Android/AndroidSampleApp.csproj
  src/mono/netcore/sample/iOS/Program.csproj
Labels: area-Build-mono

#44300 Fix/remove TODO-NULLABLEs
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/CompareAttribute.cs
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/ValidationAttribute.cs
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/Validator.cs
  src/libraries/System.Data.Odbc/src/System/Data/Odbc/OdbcConnectionOpen.cs
  src/libraries/System.Data.OleDb/src/ColumnBinding.cs
  src/libraries/System.Data.OleDb/src/OleDbCommand.cs
  src/libraries/System.Data.OleDb/src/OleDbConnectionFactory.cs
  src/libraries/System.Data.OleDb/src/OleDbConnectionInternal.cs
  src/libraries/System.Data.OleDb/src/OleDbDataReader.cs
  src/libraries/System.Data.OleDb/src/UnsafeNativeMethods.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/Extensions.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XContainer.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XDocumentType.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XNodeBuilder.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XNodeDocumentOrderComparer.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XNodeReader.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/XPath/XNodeNavigator.cs
  src/libraries/System.Xml.XDocument/ref/System.Xml.XDocument.cs
Labels: area-Meta, breaking-change, needs-breaking-change-doc-created

#44274 Update glossary
  docs/project/glossary.md
Labels: area-Infrastructure-coreclr

#43366 Move some more UnmanagedCallersOnly tests to IL now that they're invalid C#
  src/tests/Interop/UnmanagedCallersOnly/InvalidCallbacks.il
  src/tests/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.cs
  src/tests/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.csproj
Labels: area-Interop-coreclr, test enhancement

#44413 Fix C++ build for mono/metadata/threads.c
  src/mono/mono/metadata/threads.c
Labels: area-VM-meta-mono

#44404 Disable failing crossgen2smoke_donotalwaysusecrossgen2.
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#44418 Change async void System.Text.Json test to be async Task
  src/libraries/System.Text.Json/tests/Serialization/Stream.WriteTests.cs
Labels: area-System.Text.Json

#44119 Improve crossgen2 comparison jobs
  eng/pipelines/coreclr/templates/crossgen2-comparison-job.yml
  src/coreclr/src/gcdump/i386/gcdumpx86.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/tools/aot/crossgen2/CommandLineOptions.cs
  src/coreclr/src/tools/aot/crossgen2/Program.cs
  src/coreclr/src/tools/aot/crossgen2/Properties/Resources.resx
  src/tests/Common/scripts/crossgen2_comparison.py
Labels: area-crossgen2-coreclr

#44414 Remove some unnecessary GetTypeInfo usage
  src/libraries/System.Drawing.Common/src/System/Drawing/Bitmap.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/FontConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ImageFormatConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/macFunctions.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/PropertyValue.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/SimpleTypeInfos.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.GetFolderPathCore.Unix.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XHelper.cs
  src/libraries/System.Private.Xml/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs
  src/libraries/System.Security.AccessControl/src/System/Security/AccessControl/ObjectSecurity.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/IRCollection.cs
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/BaseCodePageEncoding.cs
Labels: area-Meta

#44425 Misc - Remove unused project references
  src/libraries/Microsoft.Extensions.FileProviders.Abstractions/src/Microsoft.Extensions.FileProviders.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/Microsoft.Extensions.Hosting.Abstractions.csproj
Labels: area-Meta, auto-merge

#44311 [iOS] Fix build for Xcode 12.1
  src/mono/netcore/sample/iOS/Makefile
  tools-local/tasks/mobile.tasks/AppleAppBuilder/Xcode.cs
Labels: area-Build-mono, os-ios

#44384 Fix genEventing.py to generate correct EventEnabled functions
  src/coreclr/src/scripts/genEventing.py
Labels: area-Tracing-coreclr

#44410 Improve nullable annotation on Volatile.Read
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Volatile.cs
  src/libraries/System.Threading.Thread/ref/System.Threading.Thread.cs
  src/libraries/System.Threading/ref/System.Threading.cs
Labels: area-System.Threading

#43735 Removing `g_hmodCoreCLR` and `g_hThisInst`
  src/coreclr/src/debug/daccess/daccess.cpp
  src/coreclr/src/debug/daccess/dacimpl.h
  src/coreclr/src/debug/daccess/request.cpp
  src/coreclr/src/debug/di/cordb.cpp
  src/coreclr/src/debug/di/module.cpp
  src/coreclr/src/debug/di/rsmain.cpp
  src/coreclr/src/debug/di/rspriv.h
  src/coreclr/src/debug/di/shimprocess.cpp
  src/coreclr/src/debug/ee/debugger.cpp
  src/coreclr/src/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/src/dlls/mscoree/mscoree.cpp
  src/coreclr/src/dlls/mscoree/stdafx.h
  src/coreclr/src/inc/clrhost.h
  src/coreclr/src/inc/corcompile.h
  src/coreclr/src/inc/corpriv.h
  src/coreclr/src/inc/longfilepathwrappers.h
  src/coreclr/src/inc/stresslog.h
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/jit/dllmain.cpp
  src/coreclr/src/md/compiler/classfactory.cpp
  src/coreclr/src/md/staticmd/stdafx.h
  src/coreclr/src/pal/inc/pal.h
  src/coreclr/src/pal/src/include/pal/stackstring.hpp
  src/coreclr/src/pal/src/init/pal.cpp
  src/coreclr/src/pal/src/misc/miscpalapi.cpp
  src/coreclr/src/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/compilableTests.txt
  src/coreclr/src/pal/tests/palsuite/pal_specific/PAL_GetPALDirectoryW/test1/PAL_GetPALDirectoryW.cpp
  src/coreclr/src/pal/tests/palsuite/paltestlist_to_be_reviewed.txt
  src/coreclr/src/tools/crossgen/CMakeLists.txt
  src/coreclr/src/tools/crossgen/crossgen.cpp
  src/coreclr/src/utilcode/ccomprc.cpp
  src/coreclr/src/utilcode/clrhost.cpp
  src/coreclr/src/utilcode/ex.cpp
  src/coreclr/src/utilcode/longfilepathwrappers.cpp
  src/coreclr/src/utilcode/makepath.cpp
  src/coreclr/src/utilcode/stresslog.cpp
  src/coreclr/src/utilcode/util.cpp
  src/coreclr/src/vm/ceeload.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/codeman.cpp
  src/coreclr/src/vm/common.h
  src/coreclr/src/vm/dwreport.cpp
  src/coreclr/src/vm/eepolicy.cpp
  src/coreclr/src/vm/eventtrace.cpp
  src/coreclr/src/vm/excep.cpp
  src/coreclr/src/vm/exceptionhandling.cpp
  src/coreclr/src/vm/gcheaputilities.cpp
  src/coreclr/src/vm/gcheaputilities.h
  src/coreclr/src/vm/hosting.cpp
  src/coreclr/src/vm/jithelpers.cpp
  src/coreclr/src/vm/pefile.cpp
  src/coreclr/src/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/vars.cpp
  src/coreclr/src/vm/vars.hpp
  src/coreclr/src/zap/zapper.cpp
  src/installer/corehost/cli/apphost/static/CMakeLists.txt
Labels: area-Infrastructure-coreclr, auto-merge

#44030 New event to track memory allocation for JIT code
  src/coreclr/src/gc/env/etmdummy.h
  src/coreclr/src/vm/ClrEtwAll.man
  src/coreclr/src/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#43925 Resolve warnings for assignment or explicit cast of possibly null type parameter value
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedDictionary_2.cs
  src/libraries/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedDictionary.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/Hosting/AtomicCompositionExtensions.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/Utilities.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Partitioning/OrderedHashRepartitionEnumerator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/ExceptQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/HashJoinQueryOperatorEnumerator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/IntersectQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Inlined/LongCountAggregationOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/QueryOperatorEnumerator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/DefaultIfEmptyQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/DistinctQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/ForAllOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/GroupByQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/ReverseQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/SelectQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/SortQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/TakeOrSkipQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/TakeOrSkipWhileQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/WhereQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Utils/HashLookup.cs
  src/libraries/System.Linq/src/System/Linq/ElementAt.cs
  src/libraries/System.Linq/src/System/Linq/First.cs
  src/libraries/System.Linq/src/System/Linq/Last.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/libraries/System.ObjectModel/src/System/Collections/ObjectModel/ReadOnlyDictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs
  src/libraries/System.Private.CoreLib/src/System/WeakReference.T.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathParser.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/DictionaryDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.Small.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.ReadCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonResumableConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/AsyncOperation.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.netstandard21.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/SingleConsumerUnboundedChannel.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/UnboundedChannel.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Interlocked.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/WeakReference.T.Mono.cs
Labels: area-Meta

#44420 Disable 2 failing coreclr tests until they are fixed.
  src/tests/issues.targets
Labels: area-CodeGen-coreclr, disabled-test

#44147 Make internal API ThrowIfDeserializationInProgress internal
  src/libraries/System.Private.CoreLib/src/System/Runtime/Serialization/SerializationInfo.SerializationGuard.cs
Labels: area-System.Runtime

#44127 Initial changes to support Mac Catalyst
  src/mono/mono/utils/mono-log-darwin.c
Labels: area-Build-mono, mono-mirror

#41213 [RyuJIT] Fix get_ManagedThreadId(get_CurrentThread) optimization (convert to NI)
  src/coreclr/src/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/inc/jithelpers.h
  src/coreclr/src/inc/readytorun.h
  src/coreclr/src/inc/readytorunhelpers.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/namedintrinsiclist.h
  src/coreclr/src/jit/utils.cpp
  src/coreclr/src/tools/Common/Internal/Runtime/ReadyToRunConstants.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.Intrinsics.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunSignature.cs
  src/coreclr/src/tools/aot/jitinterface/jitwrapper.cpp
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/jithelpers.cpp
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
Labels: area-CodeGen-coreclr

#44431 [runtime] Add some support for stack walks for AOT code on wasm.
  src/mono/mono/metadata/object-offsets.h
  src/mono/mono/mini/exceptions-wasm.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini-wasm.h
Labels: area-VM-meta-mono, mono-mirror

#44474 Use commit parents instead of branch names to evaulate changed paths.
  eng/pipelines/common/checkout-job.yml
Labels: area-Infrastructure

#44455 Bump Helix SDK - iOS simulators won't reboot for every job
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-Infrastructure

#44345 [mono][jit] Emit profiler enter after jit attach; leave before detach
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#44460 Fix R2RDump test in CG2 pipelines
  src/tests/issues.targets
  src/tests/readytorun/r2rdump/BasicTests/BasicTests.cs
  src/tests/readytorun/r2rdump/BasicTests/R2RDumpTest.csproj
  src/tests/readytorun/r2rdump/BasicTests/TestHelpers.cs
  src/tests/readytorun/r2rdump/BasicTests/files/GcInfoTransitions.cs
  src/tests/readytorun/r2rdump/BasicTests/files/GcInfoTransitions.csproj
  src/tests/readytorun/r2rdump/BasicTests/files/GenericFunctions.cs
  src/tests/readytorun/r2rdump/BasicTests/files/GenericFunctions.csproj
  src/tests/readytorun/r2rdump/BasicTests/files/HelloWorld.cs
  src/tests/readytorun/r2rdump/BasicTests/files/HelloWorld.csproj
  src/tests/readytorun/r2rdump/BasicTests/files/MultipleRuntimeFunctions.cs
  src/tests/readytorun/r2rdump/BasicTests/files/MultipleRuntimeFunctions.csproj
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Checked/GcInfoTransitions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Checked/GenericFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Checked/HelloWorld.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Checked/MultipleRuntimeFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Debug/GcInfoTransitions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Debug/GenericFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Debug/HelloWorld.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Debug/MultipleRuntimeFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Release/GcInfoTransitions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Release/GenericFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Release/HelloWorld.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x64.Release/MultipleRuntimeFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Checked/GcInfoTransitions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Checked/GenericFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Checked/HelloWorld.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Checked/MultipleRuntimeFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Debug/GcInfoTransitions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Debug/GenericFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Debug/HelloWorld.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Debug/MultipleRuntimeFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Release/GcInfoTransitions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Release/GenericFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Release/HelloWorld.xml
  src/tests/readytorun/r2rdump/BasicTests/files/Windows_NT.x86.Release/MultipleRuntimeFunctions.xml
  src/tests/readytorun/r2rdump/BasicTests/rebaseline.cmd
  src/tests/readytorun/r2rdump/FrameworkTests/R2RDumpTester.cs
  src/tests/readytorun/r2rdump/FrameworkTests/R2RDumpTests.csproj
Labels: area-crossgen2-coreclr

#44482 Revert "Use Dictionary for underlying cache of ResourceSet"
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceSet.cs
  src/libraries/System.Resources.ResourceManager/tests/ResourceSetTests.cs
Labels: area-System.Resources

#44450 Add libs.native subset when using the runtime helper target in the wasm makefile
  src/mono/wasm/Makefile
Labels: area-Build-mono

#44496 Implement internal ISpanFormattable on {U}IntPtr
  src/libraries/System.Private.CoreLib/src/System/IntPtr.cs
  src/libraries/System.Private.CoreLib/src/System/UIntPtr.cs
Labels: area-System.Runtime, tenet-performance

#44427 JIT: preliminary version of profile-based inline policy
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/inline.cpp
  src/coreclr/src/jit/inline.def
  src/coreclr/src/jit/inline.h
  src/coreclr/src/jit/inlinepolicy.cpp
  src/coreclr/src/jit/inlinepolicy.h
  src/coreclr/src/jit/jitconfigvalues.h
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr
