Repository dotnet/runtime, pull requests merged in 2020-10, with the labels that each got.

#42872 Infra changes required for stable builds
  src/libraries/Directory.Build.targets
  src/libraries/libraries-packages.proj
  tools-local/tasks/installer.tasks/CopyNupkgAndChangeVersion.cs
Labels: area-Infrastructure-coreclr

#42918 Fix nullable annotation on ISite.Container
  src/libraries/System.ComponentModel.Primitives/ref/System.ComponentModel.Primitives.cs
  src/libraries/System.ComponentModel.Primitives/src/System/ComponentModel/ISite.cs
Labels: area-System.Data

#42930 Update DataContractSerialization ILLink.Suppressions.xml
  src/libraries/System.Private.DataContractSerialization/src/ILLink/ILLink.Suppressions.xml
Labels: area-Serialization

#42931 Fix error in code comment
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/Primitives/Export.cs
Labels: area-System.ComponentModel.Composition

#42819 [metadata] Use MONO_PROFILER_API on MonoClass getters in checked builds
  src/mono/mono/metadata/class-abi-details.h
  src/mono/mono/metadata/class-internals.h
Labels: area-VM-meta-mono, mono-mirror

#42503 Jit preparation for arm64 apple: Use bytes in `fgArgTabEntry`.
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/codegenlinear.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/emit.cpp
  src/coreclr/src/jit/gcencode.cpp
  src/coreclr/src/jit/gcinfo.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/jit.h
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/scopeinfo.cpp
  src/coreclr/src/jit/stacklevelsetter.cpp
  src/tests/Interop/PInvoke/Primitives/Int/PInvokeIntNative.cpp
  src/tests/Interop/PInvoke/Primitives/Int/PInvokeIntTest.cs
Labels: area-CodeGen-coreclr

#42916 [mono] Fix HelloWorld sample for OSX
  src/mono/netcore/sample/HelloWorld/Makefile
Labels: area-VM-meta-mono

#39203 Add an option to keep native debug symbols
  Directory.Build.props
  eng/build.sh
  eng/native/build-commons.sh
  eng/native/functions.cmake
  src/coreclr/runtime.proj
  src/installer/corehost/corehost.proj
  src/libraries/Native/build-native.proj
Labels: area-Infrastructure-coreclr

#42834 Fix build errors on GCC.
  eng/native/configurecompiler.cmake
  src/coreclr/pgosupport.cmake
  src/coreclr/src/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#42935 make CancelConnectAsync thread safe
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
Labels: area-System.Net.Http

#42805 [System.Private.CoreLib] Methods with no instance access can be made static
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Concurrent/ConcurrentQueue.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/XplatEventLogger.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Invariant.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/IdnMapping.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/PersianCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/UmAlQuraCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Stream.cs
  src/libraries/System.Private.CoreLib/src/System/Text/DecoderExceptionFallback.cs
  src/libraries/System.Private.CoreLib/src/System/Text/DecoderFallback.cs
  src/libraries/System.Private.CoreLib/src/System/Text/EncoderLatin1BestFitFallback.cs
  src/libraries/System.Private.CoreLib/src/System/Text/UTF32Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/ThreadPoolTaskScheduler.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
Labels: area-Infrastructure-coreclr

#42844 Add test to validate HttpResponseMessage.RequestMessage
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
Labels: area-System.Net.Http

#42346 Fix HttpClient.CancelAllPending/Timeout handling for GetString/ByteArrayAsync
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/NetEventSource.Http.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
Labels: area-System.Net.Http

#42812 pal_ssl: use same code to DetectCiphersuiteConfiguration for portable and non-portable builds
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Security

#42053 Create a SuperPMI collection pipeline
  eng/common/superpmi/superpmi.proj
  eng/common/templates/steps/superpmi-send-to-helix.yml
  eng/pipelines/coreclr/superpmi.yml
  eng/pipelines/coreclr/templates/run-superpmi-job.yml
  eng/pipelines/coreclr/templates/superpmi-job.yml
  eng/pipelines/runtime.yml
  src/coreclr/scripts/superpmi-setup.py
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#42910 Add log for ILLinkSharedFramework target running in libraries build
  src/libraries/illink-sharedframework.targets
Labels: area-Infrastructure-libraries

#42437 Fix race condition in GetAppdomainStaticAddress test
  src/tests/profiler/native/event.h
  src/tests/profiler/native/getappdomainstaticaddress/getappdomainstaticaddress.cpp
  src/tests/profiler/native/getappdomainstaticaddress/getappdomainstaticaddress.h
  src/tests/profiler/native/holder.h
  src/tests/profiler/native/profiler.h
Labels: area-Diagnostics-coreclr

#42956 Some style clean-up in HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
Labels: area-System.Net.Http

#42962 Add the release wildcard trigger in the release branch
  eng/pipelines/coreclr/perf.yml
Labels: area-Infrastructure-coreclr

#41701 Add server core testing
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/GenericEventTests.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.CreateTimer.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.DisplaySettings.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.InvokeOnEventsThread.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.PowerMode.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.SessionEnding.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.SessionSwitch.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.UserPreference.cs
  src/libraries/System.Console/tests/ConsoleEncoding.cs
  src/libraries/System.Console/tests/WindowAndCursorProps.cs
  src/libraries/System.Diagnostics.EventLog/tests/Helpers.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessStandardConsoleTests.cs
  src/libraries/System.DirectoryServices.AccountManagement/tests/ComputerPrincipalTest.cs
  src/libraries/System.DirectoryServices.AccountManagement/tests/PrincipalContextTests.cs
  src/libraries/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/DirectoryContextTests.cs
  src/libraries/System.Drawing.Primitives/tests/ColorTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Labels: area-Infrastructure

#42728 [wasm][crypto] RandomNumberGenerator mapped to Web Crypto getRandomValues
  src/libraries/Native/Unix/System.Native/pal_random.c
  src/libraries/Native/Unix/System.Native/pal_random.js
  src/mono/wasm/Makefile
  src/mono/wasm/runtime-test.js
  src/mono/wasm/runtime/library_mono.js
Labels: arch-wasm, area-System.Security

#42921 Disable GCExtendedTests.GetTotalAllocatedBytes
  src/libraries/System.Runtime/tests/System/GCTests.cs
Labels: area-Infrastructure-coreclr

#42876 Add single-file app's dir to NATIVE_DLL_SEARCH_DIRECTORIES
  src/installer/corehost/cli/hostpolicy/deps_resolver.cpp
  src/installer/tests/Assets/TestProjects/SingleFileApiTests/Program.cs
  src/installer/tests/Assets/TestProjects/SingleFileApiTests/SingleFileApiTests.csproj
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleTestBase.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/SingleFileApiTests.cs
  src/installer/tests/TestUtils/TestProjectFixture.cs
Labels: area-Single-File

#42960 Address JSON test failures
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.cs
  src/libraries/System.Text.Json/tests/Serialization/EnumConverterTests.cs
  src/libraries/System.Text.Json/tests/Serialization/InvalidJsonTests.cs
Labels: area-System.Text.Json

#42939 Add `Crossgen2JitPath` to R2R test.
  src/coreclr/src/tools/r2rtest/BuildOptions.cs
  src/coreclr/src/tools/r2rtest/CommandLineOptions.cs
  src/coreclr/src/tools/r2rtest/Crossgen2Runner.cs
Labels: area-CodeGen-coreclr

#42941 Use constants instead of instance call for http handlers predefined values
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
Labels: area-System.Net.Http

#42965 Add a few useful links, and move doc as requested
  docs/infra/buildtriage.md
Labels: area-Infrastructure-coreclr

#42901 [release/5.0] [wasm] Download Symbols from microsoft symbol server
  src/mono/wasm/debugger/BrowserDebugHost/Startup.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DebuggerProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessStartup.cs
Labels: Servicing-approved, area-Debugger-mono

#42829 Cleanly split BinDir to RuntimeBinDir and TestBinDir
  src/coreclr/dir.common.props
  src/coreclr/src/.nuget/Microsoft.NETCore.ILAsm/Microsoft.NETCore.ILAsm.pkgproj
  src/coreclr/src/.nuget/Microsoft.NETCore.ILDAsm/Microsoft.NETCore.ILDAsm.pkgproj
  src/coreclr/src/.nuget/Microsoft.NETCore.TestHost/Microsoft.NETCore.TestHost.pkgproj
  src/coreclr/src/Directory.Build.targets
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/pal/tests/palsuite/producepaltestlist.proj
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ILCompiler.Reflection.ReadyToRun.csproj
  src/coreclr/src/tools/aot/crossgen2/crossgen2.csproj
  src/coreclr/src/tools/dotnet-pgo/dotnet-pgo.csproj
  src/coreclr/src/tools/r2rdump/R2RDump.csproj
  src/coreclr/src/tools/r2rtest/R2RTest.csproj
  src/coreclr/src/tools/runincontext/runincontext.csproj
  src/mono/Directory.Build.props
  src/mono/mono.proj
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/tests/Common/dir.common.props
  src/tests/Common/dirs.proj
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Common/ilasm/ilasm.ilproj
  src/tests/Common/testgrouping.proj
Labels: area-Infrastructure-coreclr

#42934 [release/5.0] Extract bundled files when IncludeAllContentForSelfExtract is set
  src/coreclr/src/binder/applicationcontext.cpp
  src/coreclr/src/binder/assemblybinder.cpp
  src/coreclr/src/binder/inc/utils.hpp
  src/coreclr/src/binder/utils.cpp
  src/installer/corehost/cli/bundle/file_entry.cpp
  src/installer/corehost/cli/bundle/file_entry.h
  src/installer/corehost/cli/bundle/manifest.cpp
  src/installer/corehost/cli/bundle/manifest.h
  src/installer/corehost/cli/bundle/runner.cpp
  src/installer/corehost/cli/hostpolicy/deps_resolver.cpp
  src/installer/corehost/cli/hostpolicy/deps_resolver.h
  src/installer/corehost/cli/hostpolicy/hostpolicy.cpp
  src/installer/corehost/cli/hostpolicy/hostpolicy_context.cpp
  src/installer/tests/Assets/TestProjects/AppWithSubDirs/AppWithSubDirs.csproj
  src/installer/tests/Assets/TestProjects/AppWithSubDirs/Directory.Build.props
  src/installer/tests/Assets/TestProjects/AppWithWait/Directory.Build.props
  src/installer/tests/Assets/TestProjects/Directory.Build.targets
  src/installer/tests/Assets/TestProjects/SingleFileApiTests/Directory.Build.props
  src/installer/tests/Assets/TestProjects/SingleFileApiTests/Program.cs
  src/installer/tests/Assets/TestProjects/SingleFileApiTests/SingleFileApiTests.csproj
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleExtractToSpecificPath.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleLocalizedApp.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleProbe.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleRename.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleTestBase.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundledAppWithSubDirs.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/NetCoreApp3CompatModeTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/SingleFileApiTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/StaticHost.cs
  src/installer/tests/TestUtils/TestProjectFixture.cs
Labels: Servicing-approved, area-Single-File, blocking-release

#42920 [metadata] Getting the element size of array of fnptr types is ok
  src/mono/mono/metadata/class.c
Labels: area-VM-meta-mono

#42788 Minor cleanup on Extensions in Configuration
  src/libraries/Common/tests/Extensions/ConfigurationRootTest.cs
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/tests/Microsoft.Extensions.Configuration.FileExtensions.Tests.csproj
  src/libraries/Microsoft.Extensions.Configuration/tests/Microsoft.Extensions.Configuration.Tests.csproj
Labels: area-Extensions-Logging

#42848 Fixes Issue 12446 - Use little endian format when printing constants in ILDASM
  src/coreclr/src/ildasm/dis.cpp
Labels: area-CodeGen-coreclr

#42663 Crossgen2 cross target testing
  eng/pipelines/coreclr/crossgen2-outerloop.yml
  eng/pipelines/coreclr/templates/crossgen2-comparison-build-job.yml
  eng/pipelines/coreclr/templates/crossgen2-comparison-job.yml
  src/tests/Common/scripts/crossgen2_comparison.py
Labels: area-crossgen2-coreclr

#42951 [mono] Fix constant folding for Math.Round
  src/libraries/System.Runtime.Extensions/tests/System/Math.cs
  src/mono/mono/metadata/sysmath.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/utils/mono-math.h
Labels: area-VM-meta-mono

#42164 RyuJIT: Optimize -X and MathF.Abs(X) for floats
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/emit.cpp
Labels: area-CodeGen-coreclr

#42996 R2RDump cleanup
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/UnwindInfo.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/IAssemblyResolver.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunImportSection.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunSignature.cs
  src/coreclr/src/tools/dotnet-pgo/TraceTypeSystemContext.cs
  src/coreclr/src/tools/r2rdump/CoreDisTools.cs
  src/coreclr/src/tools/r2rdump/Extensions.cs
  src/coreclr/src/tools/r2rdump/R2RDump.cs
  src/coreclr/src/tools/r2rdump/TextDumper.cs
Labels: area-R2RDump-coreclr

#42990 make BrowserHttpMessage.Send throw PNSE
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
Labels: area-System.Net.Http

#42982 JSON Escape the strings used in test before comparing for non-English locales
  src/libraries/Microsoft.Extensions.Logging.EventSource/tests/EventSourceLoggerTest.cs
Labels: area-Extensions-Logging, auto-merge

#42860 Improve WASM test output via xharness
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/testing/tests.mobile.targets
  global.json
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-mono

#42202 Reenable MUSL ARM tests
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#42936 [sdb] Add support for function pointers.
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#42997 Handle libunwind_xdac partial C11 support
  src/coreclr/src/pal/src/libunwind/config.h.in
  src/coreclr/src/pal/src/libunwind/configure.cmake
Labels: area-Diagnostics-coreclr

#43037 build-commons.sh: check for OpenSSL 1.1 on macOS
  eng/native/build-commons.sh
Labels: area-Infrastructure

#43041 Add other openssl path to PKG_CONFIG_PATH
  eng/native/build-commons.sh
Labels: area-Infrastructure

#42867 Fix SPMI dump.
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/lightweightmap.h
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen-coreclr

#42937 improve detection of TLS13 on Windows
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
Labels: area-System.Net.Security, os-windows

#43011 Update Helix SDK manually
  eng/Version.Details.xml
  global.json
Labels: area-Infrastructure-coreclr

#43040 enable superpmi collection pipeline
  eng/pipelines/coreclr/superpmi.yml
  eng/pipelines/runtime.yml
Labels: area-CodeGen-coreclr

#42995 Distinguish when we SPMI R2R compilation.
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.h
Labels: area-CodeGen-coreclr

#42987 Fix 64bit X86 compiler instruction size selection
  src/coreclr/src/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr, area-crossgen2-coreclr

#42919 fix async logic in MultipleConnectAsync to avoid lock reentrancy issues
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/MultipleConnectAsync.cs
Labels: area-System.Net.Sockets

#42942 Add dac apis for comwrappers style ccws/rcws
  src/coreclr/src/debug/daccess/daccess.cpp
  src/coreclr/src/debug/daccess/dacimpl.h
  src/coreclr/src/debug/daccess/enummem.cpp
  src/coreclr/src/debug/daccess/request.cpp
  src/coreclr/src/inc/sospriv.idl
  src/coreclr/src/interop/comwrappers.hpp
  src/coreclr/src/pal/prebuilt/idl/sospriv_i.cpp
  src/coreclr/src/pal/prebuilt/inc/sospriv.h
  src/coreclr/src/vm/interoplibinterface.cpp
  src/coreclr/src/vm/interoplibinterface.h
  src/coreclr/src/vm/syncblk.h
Labels: area-Diagnostics-coreclr

#43080 Improve detection of unsupported OS in resource updater
  src/installer/managed/Microsoft.NET.HostModel/ResourceUpdater.cs
Labels: area-HostModel

#43075 Integrate changes in shared files from dotnet/runtimelab:NativeAOT
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/tools/Common/TypeSystem/Common/FieldDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MethodDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/TypeDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/Utilities/DebugNameFormatter.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/InteropTypes.cs
  src/coreclr/src/tools/aot/ILCompiler.DependencyAnalysisFramework/ILCompiler.DependencyAnalysisFramework.csproj
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun/ILCompiler.TypeSystem.ReadyToRun.csproj
  src/libraries/System.Private.CoreLib/src/System/AppContext.AnyOS.cs
  src/libraries/System.Private.CoreLib/src/System/Object.cs
Labels: area-Infrastructure-coreclr

#43043 [release/5.0] build-commons.sh: check for OpenSSL 1.1 on macOS (#43037)
  eng/native/build-commons.sh
Labels: area-Infrastructure

#43009 Changed mono exception type from execution engine to not supported.
  src/mono/mono/metadata/object.c
Labels: area-VM-meta-mono

#42981 Expose BackgroundService.ExecuteTask
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/ref/Microsoft.Extensions.Hosting.Abstractions.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/BackgroundService.cs
  src/libraries/Microsoft.Extensions.Hosting/Microsoft.Extensions.Hosting.sln
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/HostingLoggerExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/LoggerEventIds.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/BackgroundServiceTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostBuilderTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/Internal/HostTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/TestEventListener.cs
Labels: area-Extensions-Hosting, new-api-needs-documentation

#43054 Fix for 'not fully instantiated' Crossgen2 issue bucket
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
Labels: area-crossgen2-coreclr

#43064 [release/5.0] Remove unneeded licenses ingested from dotnet/diagnostics repo
  src/installer/pkg/THIRD-PARTY-NOTICES.TXT
Labels: area-Setup, blocking-release

#42933 Remove pr: none clause from several CoreCLR pipelines
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/crossgen2-composite.yml
  eng/pipelines/coreclr/crossgen2-gcstress.yml
  eng/pipelines/coreclr/crossgen2-outerloop.yml
  eng/pipelines/coreclr/crossgen2.yml
  eng/pipelines/coreclr/ilasm.yml
  eng/pipelines/coreclr/jit-experimental.yml
  eng/pipelines/coreclr/r2r-extra.yml
  eng/pipelines/coreclr/r2r.yml
  eng/pipelines/coreclr/runincontext.yml
Labels: area-Infrastructure-coreclr

#43068 Correctly report struct types in asCorInfoType for normalized structs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-crossgen2-coreclr

#43021 Changing the free list from singly linked to doubly linked
  src/coreclr/src/gc/env/gcenv.object.h
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcpriv.h
  src/coreclr/src/vm/object.h
Labels: area-GC-coreclr

#42564 Small optimization in LSRA for RMW intrinsics
  src/coreclr/src/jit/lsraarm64.cpp
Labels: arch-arm64, area-CodeGen-coreclr

#42964 CoreDisTools and R2RDump support Arm Thumb2 disassembling
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/src/tools/r2rdump/R2RDump.cs
Labels: arch-arm32, area-R2RDump-coreclr

#42968 Lock CoreDisTools package version in stress_dependencies.csproj
  src/tests/Common/stress_dependencies/stress_dependencies.csproj
Labels: area-CodeGen-coreclr

#43056 Roslyn update response
  eng/Versions.props
  src/coreclr/src/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/src/tools/Common/JitInterface/JitConfigProvider.cs
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/Program.cs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/RetryUtil.cs
  src/libraries/Common/src/Extensions/ParameterDefaultValue/ParameterDefaultValue.cs
  src/libraries/Common/src/Interop/Interop.Calendar.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.Globalization.cs
  src/libraries/System.Console/src/System/Console.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnDecoder.GeneralizedTime.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamExtensions.netstandard.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.WebSockets.WebSocketProtocol/src/System/Net/WebSockets/ManagedWebSocketExtensions.netstandard.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/XsltCompileContext.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs
Labels: area-Infrastructure-coreclr

#40180 Jit: Remove bounds checks with tests against length.
  src/coreclr/src/jit/assertionprop.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/rangecheck.cpp
  src/coreclr/src/jit/rangecheck.h
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/tests/JIT/opt/AssertionPropagation/ArrBoundMinLength.cs
  src/tests/JIT/opt/AssertionPropagation/ArrBoundMinLength.csproj
Labels: area-CodeGen-coreclr

#41537 Start stopwatch immediately before sending http request
  src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingHttpMessageHandler.cs
Labels: area-System.Net

#42800 Add MemoryMappedFile tests involving AcquirePointer
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFilesTestsBase.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewAccessor.Tests.cs
Labels: area-System.IO

#39326 Allow enregistering more structs args
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/lsrabuild.cpp
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen-coreclr

#42909 Fix condition to align methods to 32 bytes boundary
  src/coreclr/src/jit/emit.cpp
Labels: area-CodeGen-coreclr

#43104 Disable SatelliteLoadCorrectly_FromName on Browser
  src/libraries/System.Runtime.Loader/tests/SatelliteAssemblies.cs
Labels: area-System.Runtime

#43128 Port #42942 to release/5.0
  src/coreclr/src/debug/daccess/daccess.cpp
  src/coreclr/src/debug/daccess/dacimpl.h
  src/coreclr/src/debug/daccess/enummem.cpp
  src/coreclr/src/debug/daccess/request.cpp
  src/coreclr/src/inc/holder.h
  src/coreclr/src/inc/sospriv.idl
  src/coreclr/src/interop/comwrappers.hpp
  src/coreclr/src/pal/prebuilt/idl/sospriv_i.cpp
  src/coreclr/src/pal/prebuilt/inc/sospriv.h
  src/coreclr/src/vm/interoplibinterface.cpp
  src/coreclr/src/vm/syncblk.h
Labels: Servicing-approved, area-Diagnostics-coreclr

#42709 Add a new net6.0 TargetFramework
  Directory.Build.targets
  eng/Configurations.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/build.ps1
  eng/build.sh
  eng/docker/libraries-sdk-aspnetcore.linux.Dockerfile
  eng/docker/libraries-sdk-aspnetcore.windows.Dockerfile
  eng/docker/libraries-sdk.linux.Dockerfile
  eng/docker/libraries-sdk.windows.Dockerfile
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/testing/linker/SupportFiles/Directory.Build.targets
  eng/testing/linker/project.csproj.template
  eng/testing/linker/trimmingTests.targets
  src/coreclr/src/tools/Common/JitInterface/ThunkGenerator/ThunkGenerator.csproj
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/ILCompiler.TypeSystem.ReadyToRun.Tests.csproj
  src/coreclr/src/tools/aot/crossgen2/crossgen2.csproj
  src/coreclr/src/tools/dotnet-pgo/dotnet-pgo.csproj
  src/coreclr/src/tools/r2rdump/R2RDump.csproj
  src/coreclr/src/tools/r2rtest/R2RTest.csproj
  src/coreclr/src/tools/runincontext/runincontext.csproj
  src/installer/tests/Assets/TestProjects/HammerServiceApp/Location/Location.csproj
  src/installer/tests/Assets/TestUtils/TestProjects.targets
  src/libraries/Native/build-native.sh
  src/libraries/System.Net.Http.Json/ref/System.Net.Http.Json.csproj
  src/libraries/System.Net.Http.Json/src/System.Net.Http.Json.csproj
  src/libraries/System.Security.Permissions/ref/System.Security.Permissions.csproj
  src/libraries/System.Security.Permissions/src/System.Security.Permissions.csproj
  src/libraries/pkg/test/frameworkSettings/net6.0/settings.targets
  src/libraries/pkg/test/project.csproj.template
  src/libraries/shims/ApiCompat.proj
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/BrowserDebugHost/BrowserDebugHost.csproj
  src/mono/wasm/debugger/BrowserDebugProxy/BrowserDebugProxy.csproj
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestSuite.csproj
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/debugger/tests/lazy-debugger-test-embedded/lazy-debugger-test-embedded.csproj
  src/mono/wasm/debugger/tests/lazy-debugger-test/lazy-debugger-test.csproj
  src/tests/Common/CoreCLRTestLibrary/CoreCLRTestLibrary.csproj
  src/tests/Common/Coreclr.TestWrapper/Coreclr.TestWrapper.csproj
  src/tests/Common/dir.sdkbuild.props
  src/tests/Common/external/external.csproj
  src/tests/Common/scripts/run-corefx-tests.py
  src/tests/Common/test_dependencies/test_dependencies.csproj
  src/tests/Common/test_dependencies_fs/test_dependencies.fsproj
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
  src/tests/Directory.Build.props
  src/tests/JIT/Directed/tailcall/mutual_recursion.fsproj
Labels: area-Infrastructure-coreclr

#43077 Fixes Issue 42787
  src/coreclr/src/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#43039 Do not define X509_new as local_X509_new
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
Labels: area-Infrastructure-coreclr

#43085 Enable EventPipe BufferSize CoreCLR test on Mono runtime.
  src/tests/issues.targets
Labels: area-Tracing-mono

#43102 Add UnsupportedOsPlatform(browser) to more synchronous http apis
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMessageInvoker.cs
Labels: arch-wasm, area-System.Net.Http

#42735 Fix ilasm managed resource lookup on Linux.
  src/coreclr/src/ilasm/asmman.cpp
  src/coreclr/src/ilasm/grammar_after.cpp
  src/coreclr/src/ilasm/main.cpp
  src/coreclr/src/ilasm/writer.cpp
Labels: area-ILTools-coreclr

#42963 Port enable Alpine ARM support (#41982)
  eng/Subsets.props
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/templates/crossdac-build.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/coreclr/src/.nuget/Directory.Build.props
  src/coreclr/src/.nuget/Microsoft.CrossOsDiag.Private.CoreCLR/Microsoft.CrossOsDiag.Private.CoreCLR.proj
  src/installer/pkg/projects/netcoreappRIDs.props
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure

#43100 Add issues.targets entry for UnitTest_GVM, #42924
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#43002 [wasm] Implement System.Console.Clear
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.Console/src/System/ConsolePal.WebAssembly.cs
  src/mono/wasm/runtime-test.js
Labels: arch-wasm, area-System.Console

#43112 fix issue with duplicate completion in MultipleConnectAsync
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/MultipleConnectAsync.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
Labels: area-System.Net.Sockets

#43146 Adding Official Build Support for runtimelab
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/runtimelab.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
Labels: area-Infrastructure

#43153 Add inner step as it did not get ported over before
  eng/pipelines/common/templates/runtimes/send-to-helix-inner-step.yml
Labels: area-Infrastructure-coreclr

#43178 Disable SetDateTimeMax test on Linux
  src/libraries/System.IO.FileSystem/tests/File/GetSetTimes.cs
Labels: area-System.IO

#43164 Port ComWrappers 5.0 diagnostic changes back to master and add stowed exception array to minidumps
  src/coreclr/src/debug/daccess/dacimpl.h
  src/coreclr/src/debug/daccess/enummem.cpp
  src/coreclr/src/debug/daccess/request.cpp
  src/coreclr/src/inc/holder.h
  src/coreclr/src/interop/comwrappers.hpp
  src/coreclr/src/pal/prebuilt/inc/sospriv.h
  src/coreclr/src/vm/interoplibinterface.cpp
  src/coreclr/src/vm/interoplibinterface.h
  src/coreclr/src/vm/syncblk.h
Labels: area-Diagnostics-coreclr

#43074 [System.Drawing.Common] Work around libgdiplus use after free
  src/libraries/System.Drawing.Common/src/System/Drawing/Graphics.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Unix.cs
Labels: area-System.Drawing

#43038 Update analyzer versions
  eng/Analyzers.props
Labels: area-Meta

#43114 Add CancellationToken.Register with callback accepting token
  src/libraries/Common/src/System/Threading/Tasks/TaskCompletionSourceWithCancellation.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditWaiter.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/CancellationToken.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/CancellationTokenSource.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Threading.Tasks/tests/CancellationTokenTests.cs
Labels: area-System.Threading.Tasks, new-api-needs-documentation

#43151 minor quic improvements
  src/libraries/Common/src/System/Net/ArrayBuffer.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/StreamBuffer.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net

#43193 Bring changes from runtimelab to publish produced packages in experiments
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/runtimelab.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  src/installer/publish/Directory.Build.targets
Labels: area-Infrastructure

#43177 [release/5.0] Add UnsupportedOSPlatform("browser") to sync http apis.
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMessageInvoker.cs
Labels: Servicing-approved, arch-wasm, area-System.Net.Http

#43190 Simplify DynamicWinsockMethods
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/DynamicWinsockMethods.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
Labels: area-System.Net.Sockets

#42717 Implement ZLibStream and fix SocketsHttpHandler deflate support
  src/libraries/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Decompression.cs
  src/libraries/System.IO.Compression.Brotli/tests/CompressionStreamUnitTests.Brotli.cs
  src/libraries/System.IO.Compression/ref/System.IO.Compression.cs
  src/libraries/System.IO.Compression/src/System.IO.Compression.csproj
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged/DeflateManagedStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/ZLibNative.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/GZipStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZLibStream.cs
  src/libraries/System.IO.Compression/tests/CompressionStreamUnitTests.Deflate.cs
  src/libraries/System.IO.Compression/tests/CompressionStreamUnitTests.Gzip.cs
  src/libraries/System.IO.Compression/tests/CompressionStreamUnitTests.ZLib.cs
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/TestServer.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
Labels: area-System.Net.Http, breaking-change, needs-breaking-change-doc-created, new-api-needs-documentation

#43197 use new CancellationToken.UnsafeRegister overload in StreamBuffer
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/StreamBuffer.cs
Labels: area-System.Net.Sockets

#42947 Fix TypeBuilder's base type in ref
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.Mono.cs
Labels: area-System.Reflection.Emit

#42986 Fix some issues with background thread compilation
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Microsoft.Extensions.DependencyInjection.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/DynamicServiceProviderEngine.cs
Labels: area-Extensions-DependencyInjection

#42974 [wasm][net] System.Net.Mail should not throw PNSE for full assembly.
  src/libraries/System.Net.Mail/Directory.Build.props
  src/libraries/System.Net.Mail/ref/System.Net.Mail.cs
  src/libraries/System.Net.Mail/src/Resources/Strings.resx
  src/libraries/System.Net.Mail/src/System.Net.Mail.csproj
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpClient.Browser.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpFailedRecipientException.cs
  src/libraries/System.Net.Mail/tests/Functional/AssemblyInfo.cs
  src/libraries/System.Net.Mail/tests/Functional/LoggingTest.cs
  src/libraries/System.Net.Mail/tests/Functional/MailMessageTest.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientCredentialsTest.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/libraries/System.Net.Mail/tests/Functional/System.Net.Mail.Functional.Tests.csproj
  src/libraries/System.Net.Mail/tests/Unit/AssemblyInfo.cs
  src/libraries/System.Net.Mail/tests/Unit/SmtpConnectionTests/EhloParseExtensionsTest.cs
  src/libraries/System.Net.Mail/tests/Unit/System.Net.Mail.Unit.Tests.csproj
Labels: arch-wasm, area-System.Net

#40539 Cleanup more EventSource calls in SPC to work better with illinker
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.cs
Labels: area-System.Threading

#43191 Fix libraries jitstress jobs
  eng/pipelines/libraries/run-test-job.yml
  src/libraries/sendtohelix.proj
Labels: area-CodeGen-coreclr

#43192 update versions to the latest versions
  eng/Version.Details.xml
  eng/Versions.props
  src/mono/wasm/debugger/BrowserDebugProxy/BrowserDebugProxy.csproj
Labels: area-Infrastructure-libraries

#43098 [5.0] Fix some issues with background thread compilation
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Microsoft.Extensions.DependencyInjection.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/DynamicServiceProviderEngine.cs
Labels: Servicing-approved, area-Extensions-DependencyInjection

#43233 Update area-owners.md
  docs/area-owners.md
Labels: area-Meta

#43182 turn on stable flag and pin version
  eng/Versions.props
  src/coreclr/dir.common.props
  src/installer/pkg/projects/netcoreapp/pkg/legacy/Microsoft.NETCore.App.Internal.pkgproj
  src/installer/pkg/projects/netcoreapp/pkg/workaround/Microsoft.NETCore.App.pkgproj
  src/mono/Directory.Build.props
Labels: * NO MERGE *, area-Infrastructure-coreclr

#43225 Disable SetDateTimeMax test on Linux
  src/libraries/System.IO.FileSystem/tests/File/GetSetTimes.cs
Labels: area-Infrastructure-libraries

#43218 Update TargetFramework.Sdk and react to changes
  eng/Version.Details.xml
  global.json
  src/libraries/Directory.Build.targets
Labels: area-Meta, auto-merge

#41310 [release/5.0] Set isFullMatrix to true for release/5.0
  eng/pipelines/common/variables.yml
Labels: area-Infrastructure

#43229 Fix link to wasm build instructions
  docs/workflow/building/mono/README.md
Labels: area-Meta

#43230 Address outstanding issues with System.Net MatchingRefApiCompatBaselines
  src/libraries/Common/src/System/Net/Sockets/ProtocolFamily.cs
  src/libraries/Common/src/System/Net/Sockets/ProtocolType.cs
  src/libraries/System.Net.NameResolution/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Net.Primitives/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Net.Requests/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Net.Requests/src/System/Net/HttpWebRequest.cs
Labels: area-System.Net

#43187 Enable building .NET Core osx-arm64 in CI
  eng/install-native-dependencies.sh
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/templates/build-jit-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/xplat-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/outerloop.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Labels: arch-arm64, area-Infrastructure, os-mac-os-x-big-sur

#43158 [wasm][debugger][tests] Make `dotnet test DebuggerTestSuite.csproj` work
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestSuite.csproj
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
  src/mono/wasm/debugger/debugger.sln
  src/mono/wasm/debugger/tests/Directory.Build.props
  src/mono/wasm/debugger/tests/Directory.Build.targets
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/debugger/tests/lazy-debugger-test-embedded/lazy-debugger-test-embedded.csproj
  src/mono/wasm/debugger/tests/lazy-debugger-test/lazy-debugger-test.csproj
Labels: area-Debugger-mono

#43070 Differentiate between IMPL_LIMITATION and NO_WAY
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/inc/corjit.h
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/error.cpp
  src/coreclr/src/jit/error.h
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/tools/aot/jitinterface/jitwrapper.cpp
  src/coreclr/src/vm/jitinterface.cpp
Labels: area-crossgen2-coreclr

#43221 Implement RandomNumberGenerator.GetBytes
  src/libraries/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/AesImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/DesImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/Helpers.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RC2Implementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/TripleDesImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACMD5.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA1.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA256.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA384.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA512.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RandomNumberGenerator.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/RandomNumberGeneratorTests.cs
  src/libraries/System.Security.Cryptography.Csp/src/System/Security/Cryptography/DESCryptoServiceProvider.Windows.cs
  src/libraries/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RC2CryptoServiceProvider.Windows.cs
Labels: area-System.Security, new-api-needs-documentation

#43155 Delete VirtualNetwork{Stream} test code
  src/libraries/Common/src/System/IO/DelegatingStream.cs
  src/libraries/Common/src/System/Net/StreamBuffer.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/System/IO/CallTrackingStream.cs
  src/libraries/Common/tests/System/IO/ConnectedStreams.cs
  src/libraries/Common/tests/System/IO/DelayStream.cs
  src/libraries/Common/tests/System/IO/DelegateDelegatingStream.cs
  src/libraries/Common/tests/System/Net/VirtualNetwork/VirtualNetwork.cs
  src/libraries/Common/tests/System/Net/VirtualNetwork/VirtualNetworkConnectionListenerFactory.cs
  src/libraries/Common/tests/System/Net/VirtualNetwork/VirtualNetworkStream.cs
  src/libraries/Common/tests/Tests/System/Net/VirtualNetworkStreamTest.cs
  src/libraries/Common/tests/Tests/System/Net/VirtualNetworkTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Security/tests/EnterpriseTests/NegotiateStreamLoopbackTest.cs
  src/libraries/System.Net.Security/tests/EnterpriseTests/System.Net.Security.Enterprise.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/NegotiateStreamInvalidOperationTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/NotifyReadVirtualNetworkStream.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslAuthenticationOptionsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamAlertsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamCredentialCacheTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamDisposeTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
Labels: area-Meta

#43242 Remove OSX arm64 from libraries outerloop build
  eng/pipelines/libraries/outerloop.yml
Labels: area-Infrastructure-libraries

#43241 Unpin Roslyn compiler
  eng/Versions.props
Labels: area-Infrastructure

#43240 Fix coreclr official builds when using global build job template
  src/coreclr/runtime.proj
Labels: area-Infrastructure-coreclr

#43245 Remove alpine arm64 from mono outerloop build
  eng/pipelines/libraries/outerloop-mono.yml
Labels: area-Infrastructure-coreclr

#43183 Keep response files used for crossgenning the framework
  src/coreclr/src/tools/r2rtest/BuildFolderSet.cs
  src/coreclr/src/tools/r2rtest/BuildOptions.cs
  src/coreclr/src/tools/r2rtest/CompilerRunner.cs
  src/tests/build.cmd
  src/tests/build.sh
Labels: area-crossgen2-coreclr

#42422 Cleaned up unused CLRConfig code
  src/coreclr/src/inc/clrconfig.h
  src/coreclr/src/inc/clrconfigvalues.h
  src/coreclr/src/utilcode/clrconfig.cpp
Labels: area-VM-coreclr

#43258 Make stableVersion not set for non-shipping packages in coreclr & mono subset
  src/coreclr/dir.common.props
  src/mono/Directory.Build.props
Labels: area-Infrastructure-coreclr

#42866 [wasm][tests][browser] Http - FunctionalTests - mark failing tests
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Authentication.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Decompression.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HPackTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http1.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpConnectionKeyTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpRequestMessageTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SyncHttpHandlerTest.cs
Labels: arch-wasm, area-Infrastructure-coreclr

#38896 Add fast paths to WhenAny(IEnumerable)
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-Meta

#37065 Pipeline performance tweaks (follow-up)
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriter.cs
Labels: area-System.IO.Pipelines

#37555 Add required dependency to .vsconfig (-allconfigurations)
  .vsconfig
Labels: area-Infrastructure

#42349 Fix MathF.Round exception message when out of bounds with numDigits - Issue #41650
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
Labels: area-System.Numerics, auto-merge

#42578 Enable linker substitutions for more architectures.
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
Labels: area-Infrastructure-libraries

#43264 Ongoing work on the cmake build system.
  src/mono/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/mono/eglib/CMakeLists.txt
  src/mono/mono/eventpipe/CMakeLists.txt
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/utils/CMakeLists.txt
Labels: area-Build-mono

#42983 Move Internal.Console to shared CoreLib & port to Unix
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/src/Internal/Console.cs
  src/coreclr/src/vm/ecalllist.h
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Log.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.PrintF.cs
  src/libraries/Native/Unix/System.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/pal_log.c
  src/libraries/Native/Unix/System.Native/pal_log.h
  src/libraries/Native/Unix/System.Native/pal_log.m
  src/libraries/Native/Unix/System.Native/pal_signal.c
  src/libraries/Native/Unix/System.Native/pal_signal.h
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.Private.CoreLib/src/Internal/Console.Unix.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.Windows.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/Mono/Console.Mono.cs
Labels: area-System.Console

#43261 Fix composite Crossgen2 runs on Windows and clean up R2R pipelines
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/src/tools/r2rtest/BuildFolderSet.cs
  src/tests/build.cmd
  src/tests/build.sh
Labels: area-crossgen2-coreclr

#43278 Revert "Add required dependency to .vsconfig (-allconfigurations)"
  .vsconfig
Labels: area-Extensions-Configuration

#42166 Build globalization lib
  src/installer/corehost/cli/apphost/static/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
Labels: area-Single-File

#43120 Add JitDasmWithAddress switch to print the process address of every instruction
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/emit.cpp
  src/coreclr/src/jit/emit.h
  src/coreclr/src/jit/emitarm.cpp
  src/coreclr/src/jit/emitarm64.cpp
  src/coreclr/src/jit/emitxarch.cpp
  src/coreclr/src/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#43299 Don't autoupgrade homebrew formula in install-native-dependencies.sh
  eng/install-native-dependencies.sh
Labels: area-Infrastructure

#43279 Add configuration for issue mover bot
  .github/move.yml
Labels: area-Infrastructure

#42900 Get modules information using proc_pidinfo() on macOS
  src/coreclr/src/pal/src/thread/process.cpp
Labels: area-Diagnostics-coreclr

#43302 Ensure that iOS builds get correct library identity for native libraries
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/build-native.sh
  src/mono/Directory.Build.props
Labels: area-Infrastructure-libraries

#42871 Fix codegen for multi-reg EH vars
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#43195 [Crossgen2] Improve compilation throughput for types with many fields
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#43235 Bump Intellisense version for main branch
  eng/Versions.props
Labels: area-Infrastructure

#36118 Add test coverage for AttributeCollection, fix bugs and nullable annotate
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/AttributeCollection.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/AttributeCollectionTests.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/EventDescriptorCollectionTests.cs
Labels: area-System.ComponentModel

#43154 Remove reflection from Environment.WorkingSet prop
  src/libraries/Common/src/Interop/FreeBSD/Interop.Process.GetProcInfo.cs
  src/libraries/Common/src/Interop/FreeBSD/Interop.Process.cs
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.TryReadStatusFile.cs
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/libraries/Common/src/Interop/OSX/Interop.libproc.GetProcessInfoById.cs
  src/libraries/Common/src/Interop/OSX/Interop.libproc.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Environment.FreeBSD.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.Linux.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.OSX.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.Unix.cs
Labels: area-Tracing-coreclr

#43270 Replace a couple Thread.CurrentThread.ManagedThreadIds
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.InvokeOnEventsThread.cs
  src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/EventLogWatcher.cs
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestEventCounter.cs
  src/libraries/System.IO.Pipelines/tests/SchedulerFacts.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.cs
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/Dbg.cs
  src/libraries/System.Threading.Tasks.Parallel/tests/ParallelStateTest.cs
  src/libraries/System.Threading.Tasks/tests/CancellationTokenTests.cs
  src/libraries/System.Threading.Thread/tests/ThreadTests.cs
Labels: area-System.Threading

#43284 Simplify winsock initialization
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.GetAddrInfoExW.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSAStartup.cs
  src/libraries/Common/src/System/Net/SocketProtocolSupportPal.Windows.cs
  src/libraries/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Win32.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/libraries/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
  src/libraries/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeNameResolutionPal.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/InitializationTest.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/System.Net.NameResolution.Unit.Tests.csproj
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.cs
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.cs
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/StartupTests.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets

#43323 Add back superpmi pipeline files
  eng/pipelines/coreclr/templates/run-superpmi-job.yml
  eng/pipelines/coreclr/templates/superpmi-send-to-helix.yml
  src/coreclr/scripts/superpmi-setup.py
  src/coreclr/scripts/superpmi.proj
Labels: area-CodeGen-coreclr

#43167 Parallelize card table copy/clear in minor GC.
  src/mono/mono/sgen/sgen-cardtable.c
  src/mono/mono/sgen/sgen-gc.c
  src/mono/mono/sgen/sgen-gc.h
  src/mono/mono/sgen/sgen-los.c
  src/mono/mono/sgen/sgen-marksweep.c
Labels: area-GC-mono, mono-mirror

#43317 Add support for the cmake build to mono.proj.
  src/mono/cmake/configure.cmake
  src/mono/mono.proj
Labels: area-Build-mono

#43217 Fix parse error in mprof-report image load event.
  src/mono/mono/profiler/mprof-report.c
Labels: area-Tracing-mono, mono-mirror
