Repository dotnet/runtime, pull requests merged in 2020-07, with the labels that each got.

#38493 Block P/Invokes with UnmanagedCallersOnlyAttribute
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/IL/Stubs/PInvokeILEmitter.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Interop/IL/Marshaller.ReadyToRun.cs
  src/coreclr/src/vm/dllimport.cpp
  src/coreclr/tests/src/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.cs
Labels: area-Interop-coreclr

#38591 Jit liveness fix.
  src/coreclr/src/jit/liveness.cpp
Labels: area-CodeGen-coreclr

#35229 Enable PInvoke stub compilation for R2R
  src/coreclr/src/vm/compile.cpp
  src/coreclr/src/vm/dllimport.cpp
  src/coreclr/src/vm/ilmarshalers.cpp
  src/coreclr/src/vm/ilmarshalers.h
  src/coreclr/src/vm/method.cpp
  src/coreclr/src/vm/method.hpp
  src/coreclr/src/vm/mlinfo.cpp
  src/coreclr/src/vm/stubgen.cpp
  src/coreclr/src/vm/stubgen.h
Labels: area-VM-coreclr

#38612 [browser][wasm][tests] Add tests for TypedArrays
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/TypedArrayTests.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#38600 Add native runtime components to Crossgen2 package
  src/coreclr/src/tools/aot/crossgen2/crossgen2.csproj
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.Crossgen2.pkgproj
Labels: area-crossgen2-coreclr

#38484 Fix 'varDsc->lvExactSize == 12' assert.
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/optcse.cpp
  src/libraries/System.Numerics.Vectors/tests/Matrix4x4Tests.cs
Labels: area-CodeGen-coreclr

#38656 fixes genapi for project with corelib reference
  src/libraries/Directory.Build.targets
Labels: area-Infrastructure-libraries, auto-merge

#38370 [wasm] Rename obsolete --llvm-lto 1 argument, lto is already enabled when -s WASM_OBJECT_FILES=0 is used.
  src/mono/wasm/Makefile
Labels: area-Infrastructure-mono

#38520 Add ExcludeFromCodeCoverageAttribute.Justification property
  src/libraries/Common/src/System/Diagnostics/CodeAnalysis/ExcludeFromCodeCoverageAttribute.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpBinaryOperationBinder.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpConvertBinder.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/CSharpUnaryOperationBinder.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Symbols/SymbolStore.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Tree/EXPR.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/NullableType.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/PointerType.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/Type.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/TypeArray.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/TypeTable.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/WithType.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/SymbolTable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary_2.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableExtensions.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableHashSet_1.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedDictionary_2.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedSet_1.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/ContractUtils.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/ListArgumentProvider.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/BlockExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/StackSpiller.SpilledExpressionBlock.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/DebugInfoExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/DynamicExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/ControlFlowInstructions.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/InvocationExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/LambdaExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/MemberExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/MethodCallExpression.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Enumerables/ParallelQuery.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Merging/ArrayMergeHelper.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Merging/OrderPreservingPipeliningMergeHelper.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/AssociativeAggregationOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Inlined/InlinedAggregationOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/AnyAllSearchOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/ContainsSearchOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/ElementAtQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/FirstQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/ForAllOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/LastQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/SingleQueryOperator.cs
  src/libraries/System.Linq/src/System/Linq/Partition.SpeedOpt.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/ComAwareEventInfoTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexBoyerMoore.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTree.cs
Labels: area-Meta, new-api-needs-documentation

#38624 [docs] Fix wasm testing example directories
  docs/workflow/testing/libraries/testing-wasm.md
Labels: arch-wasm, area-Build-mono, documentation

#38641 [mono] Change default output encoding for ConsolePal.WebAssembly.cs to utf8
  src/libraries/System.Console/src/System/ConsolePal.WebAssembly.cs
  src/libraries/System.Console/tests/ReadAndWrite.cs
Labels: arch-wasm, area-System.Console

#38676 Tidy up ARM tools installation instructions
  docs/workflow/requirements/windows-requirements.md
Labels: area-Infrastructure-coreclr, documentation

#38649 Include System Directory in search dirs for app local ICU
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.cs
Labels: area-System.Globalization

#38658 Mono: reenable tests in System.ComponentModel.Composition.Registration that were fixed
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/ExportBuilderUnitTests.cs
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderInterfaceTests.cs
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderTests.cs
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/PartBuilderUnitTests.cs
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/RegistrationBuilderExportFuncTests.cs
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/RegistrationBuilderTests.cs
Labels: area-System.Composition

#38644 Fix38455
  src/coreclr/src/jit/importer.cpp
  src/libraries/System.Runtime/tests/System/DoubleTests.cs
Labels: area-CodeGen-coreclr

#38665 Bump Helix SDK with breaking change in XHarness SDK
  eng/testing/WasmRunnerTemplate.sh
  eng/testing/tests.mobile.targets
  global.json
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure

#38646 [mono] Implement getting the type modifiers for DynamicMethod parameters
  src/libraries/System.Reflection.Emit.Lightweight/tests/DynamicMethodDefineParameter.cs
  src/mono/mono/metadata/icall.c
Labels: area-CoreLib-mono

#38667 [wasm] Make Common.Tests pass
  src/libraries/Common/tests/Tests/System/Security/IdentityHelperTests.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#38202 add TargetHostName to SslStream
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
Labels: area-System.Net.Security, new-api-needs-documentation

#38575 fix for cg2 + sealed default interface methods
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tests/src/readytorun/crossgen2/Program.cs
  src/coreclr/tests/src/readytorun/crossgen2/helperdll.cs
Labels: area-crossgen2-coreclr

#38632 Fix type layout with explicitly sized structs and classes
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/CoreTestAssembly/InstanceFieldLayout.cs
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/GenericTypeAndMethodTests.cs
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/ILCompiler.TypeSystem.ReadyToRun.Tests.csproj
  src/coreclr/tests/src/readytorun/crossgen2/Program.cs
Labels: area-crossgen2-coreclr

#38299 Disable the two remaining CG2 composite failure buckets
  src/coreclr/tests/issues.targets
Labels: area-crossgen2-coreclr

#38604 Add platform-specific attributes
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/MinimumOSPlatformAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/OSPlatformAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/ObsoletedInOSPlatformAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/RemovedInOSPlatformAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/TargetPlatformAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Runtime/Versioning/OSPlatformAttributeTests.cs
Labels: area-System.Runtime.InteropServices

#38182 add two SslStream tests for custom validation
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/RevocationResponder.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/AiaTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/DynamicRevocationTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
Labels: area-System.Net.Security, test enhancement

#38685 Remove BinaryFormatter from System.Transactions.Local
  src/libraries/System.Transactions.Local/ref/System.Transactions.Local.csproj
  src/libraries/System.Transactions.Local/src/Resources/Strings.resx
  src/libraries/System.Transactions.Local/src/System.Transactions.Local.csproj
  src/libraries/System.Transactions.Local/src/System/Transactions/Configuration/DefaultSettingsSection.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Configuration/MachineSettingsSection.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionManager.cs
Labels: area-System.Transactions

#38681 Align native SpecializeComparer with managed ComparerHelpers
  src/coreclr/src/vm/compile.cpp
Labels: area-Meta

#38578 Turn on argument exception analyzer on runtime, fix warnings found
  .editorconfig
  eng/CodeAnalysis.ruleset
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/CustomAttributeBuilder.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Bitmap.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Bitmap.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/libraries/System.Drawing.Common/tests/BitmapTests.cs
  src/libraries/System.Drawing.Common/tests/Drawing2D/GraphicsPathTests.cs
  src/libraries/System.Drawing.Common/tests/IconTests.cs
  src/libraries/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
Labels: area-Meta, code-analyzer

#38673 Fix interpreter build
  src/coreclr/src/vm/callingconvention.h
  src/coreclr/src/vm/interpreter.cpp
  src/coreclr/src/vm/interpreter.h
Labels: area-VM-coreclr

#38689 Fix SOS/managed debugging failures from PR #36847
  src/coreclr/src/pal/inc/pal.h
  src/coreclr/src/pal/src/thread/process.cpp
Labels: area-Diagnostics-coreclr, auto-merge

#38364 Initial support for SslStreamCertificateContext
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/NetEventSource.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslServerAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.Linux.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslAuthenticationOptionsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamAlpnTests.cs
  src/libraries/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
  src/libraries/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
Labels: area-System.Net.Security, new-api-needs-documentation

#689 Nullability annotations for main System.Data.Common types
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbColumn.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbCommand.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbConnection.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbConnectionStringBuilder.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataReader.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataReaderExtensions.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataRecord.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataSourceEnumerator.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbException.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbMetaDataCollectionNames.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbMetaDataColumnNames.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbParameter.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbParameterCollection.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbProviderFactories.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbProviderFactory.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbProviderSpecificTypePropertyAttribute.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbTransaction.cs
  src/libraries/System.Data.Common/src/System/Data/Common/IDbColumnSchemaGenerator.cs
  src/libraries/System.Data.Common/src/System/Data/Common/identifiercase.cs
  src/libraries/System.Data.Common/src/System/Data/IDataParameter.cs
  src/libraries/System.Data.Common/src/System/Data/IDataParameterCollection.cs
  src/libraries/System.Data.Common/src/System/Data/IDataReader.cs
  src/libraries/System.Data.Common/src/System/Data/IDataRecord.cs
  src/libraries/System.Data.Common/src/System/Data/IDbCommand.cs
  src/libraries/System.Data.Common/src/System/Data/IDbConnection.cs
  src/libraries/System.Data.Common/src/System/Data/IDbDataParameter.cs
  src/libraries/System.Data.Common/src/System/Data/IDbTransaction.cs
  src/libraries/System.Data.Common/src/System/Data/StateChangeEvent.cs
  src/libraries/System.Data.Common/src/System/Data/StateChangeEventHandler.cs
Labels: area-System.Data

#38655 [browser][wasm][bindings] Handle case where AsyncStateMachineBox`1 is…
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#38690 WASM: Add an internal method to pump the threadpool
  src/coreclr/src/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ExecutionContext.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/ThreadPoolTaskScheduler.cs
  src/mono/mono/mini/mini-wasm.c
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.Browser.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.UnixOrWindows.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/ThreadPool.Browser.Mono.cs
Labels: area-System.Threading

#38674 [wasm] Add assembly level skip for System.Net.Requests on Browser
  src/libraries/System.Net.Requests/tests/AssemblyInfo.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Net

#38706 Bump xharness to bring in https://github.com/dotnet/xharness/pull/282
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure

#38680 [Arm64] ASIMD InsertScalar and rename to ShiftLeftAndInsert ShiftRightAndInsert
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/src/jit/lowerarmarch.cpp
  src/coreclr/src/jit/lsraarm64.cpp
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part2_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part2_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part3_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part3_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part4_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part4_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part5_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part5_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/InsertScalar.Vector128.Double.1.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/InsertScalar.Vector128.Int64.1.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/InsertScalar.Vector128.UInt64.1.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd_Part2.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd_Part3.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd_Part4.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd_Part5.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector64.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector64.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector64.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector64.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector64.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsert.Vector64.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsertScalar.Vector64.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftLeftAndInsertScalar.Vector64.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftRightAndInsertScalar.Vector64.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ShiftRightAndInsertScalar.Vector64.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.tt
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/InsertScalarTest.template
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
Labels: arch-arm64, area-System.Runtime.Intrinsics

#38581 Enable some System.Runtime.Loader tests for Mono
  src/libraries/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs
  src/libraries/System.Runtime.Loader/tests/CollectibleAssemblyLoadContextTest.cs
Labels: area-CoreLib-mono

#38687 Trivial fix and renaming
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcpriv.h
Labels: area-GC-coreclr

#37962 [browser][wasm] Wasm websockets support
  src/libraries/System.Net.WebSockets.Client/src/Resources/Strings.resx
  src/libraries/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/BrowserWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/ReceivePayload.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Browser.cs
Labels: arch-wasm, area-System.Net

#38695 Added doc with instructions to run ASP.NET Benchmarks with crossgen2
  docs/workflow/testing/coreclr/running-aspnet-benchmarks-with-crossgen2.md
Labels: area-crossgen2-coreclr

#38146 Update DacHeapWalker to know about POH
  src/coreclr/src/debug/daccess/dacdbiimpl.cpp
  src/coreclr/src/inc/cordebug.idl
  src/coreclr/src/pal/prebuilt/inc/cordebug.h
Labels: area-Diagnostics-coreclr

#38724 Don't ship experimental packages to nuget
  Directory.Build.props
Labels: area-Infrastructure-coreclr

#38357 Add new Unmanaged MD calling convention value
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/MdImport.cs
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/src/debug/daccess/nidump.cpp
  src/coreclr/src/ilasm/asmparse.y
  src/coreclr/src/ilasm/prebuilt/asmparse.cpp
  src/coreclr/src/ilasm/prebuilt/asmparse.grammar
  src/coreclr/src/ildasm/dasm.cpp
  src/coreclr/src/inc/corhdr.h
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/inc/formattype.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MethodDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
  src/coreclr/src/tools/dotnet-pgo/TypeSystemMetadataEmitter.cs
  src/coreclr/src/vm/dllimport.cpp
  src/coreclr/src/vm/interpreter.cpp
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/tests/src/baseservices/callconvs/CMakeLists.txt
  src/coreclr/tests/src/baseservices/callconvs/CallFunctionPointers.il
  src/coreclr/tests/src/baseservices/callconvs/CallFunctionPointers.ilproj
  src/coreclr/tests/src/baseservices/callconvs/NativeFunctions.cpp
  src/coreclr/tests/src/baseservices/callconvs/TestCallingConventions.cs
  src/coreclr/tests/src/baseservices/callconvs/TestCallingConventions.csproj
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeFeature.cs
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Signatures/SignatureCallingConvention.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Signatures/SignatureHeader.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/Decoding/MethodSignatureTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-Interop-coreclr, disabled-test, new-api-needs-documentation

#38490 Enable ilasm/ildasm round trip testing in new AzDO pipeline
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/ilasm.yml
  src/coreclr/tests/src/CLRTest.Execute.Bash.targets
  src/coreclr/tests/src/CLRTest.Execute.Batch.targets
  src/coreclr/tests/src/CLRTest.Jit.targets
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceMarshallingTests.csproj
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceTrackerSupportTests.csproj
  src/coreclr/tests/src/Interop/COM/Dynamic/Dynamic.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Aggregation/NETClientAggregation.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/ConsumeNETServer/ConsumeNETServer.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Events/NETClientEvents.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/IDispatch/NETClientIDispatch.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Licensing/NETClientLicense.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitivesInALC.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/DefaultInterfaces.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/Dispatch.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/Events.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/Licensing.csproj
  src/coreclr/tests/src/Interop/COM/NativeClients/Primitives.csproj
  src/coreclr/tests/src/JIT/jit64/opt/cse/HugeField2.csproj
  src/coreclr/tests/src/JIT/jit64/opt/cse/hugeexpr1.csproj
  src/coreclr/tests/src/JIT/jit64/verif/sniff/fg/ver_fg_13.ilproj
  src/coreclr/tests/src/JIT/opt/Inline/regression/badcallee/badcallee.ilproj
  src/coreclr/tests/src/JIT/superpmi/superpmicollect.csproj
  src/coreclr/tests/src/Loader/classloader/MethodImpl/CovariantReturns/UnitTest/CompatibleWithTest.ilproj
  src/coreclr/tests/src/readytorun/crossgen2/crossgen2smoke.csproj
  src/coreclr/tests/testenvironment.proj
Labels: area-Infrastructure-coreclr

#38723 WASM: Enable System.Threading.Tasks.Dataflow tests
  src/libraries/System.Threading.Tasks.Dataflow/tests/AssemblyInfo.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/ActionBlockTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DebugAttributeTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/JoinBlockTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/SimpleNetworkTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/TransformBlockTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/TransformManyBlockTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/WriteOnceBlockTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/System.Threading.Tasks.Dataflow.Tests.csproj
  src/mono/wasm/Makefile
Labels: area-System.Threading.Tasks

#38651 Fix race condition in BatchBlock's handling of completion
  src/libraries/System.Threading.Tasks.Dataflow/src/Blocks/BatchBlock.cs
Labels: area-System.Threading.Tasks

#38688 Fix memberref resolution involving substitution
  src/coreclr/src/tools/Common/TypeSystem/Common/InstantiatedType.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MethodDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/TypeDesc.cs
  src/coreclr/src/tools/Common/TypeSystem/Ecma/EcmaModule.cs
  src/coreclr/src/tools/Common/TypeSystem/Ecma/EcmaType.cs
  src/coreclr/src/tools/Common/TypeSystem/RuntimeDetermined/RuntimeDeterminedType.cs
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/ILTestAssembly/ILTestAssembly.ilproj
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/ILTestAssembly/MethodImplOverride1.il
  src/coreclr/src/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/VirtualFunctionOverrideTests.cs
  src/coreclr/src/tools/aot/crossgen2.sln
Labels: area-crossgen2-coreclr

#37882 Porting additional SIMD Intrinsics to use SimdAsHWIntrinsic
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/src/jit/hwintrinsiclistxarch.h
  src/coreclr/src/jit/hwintrinsicxarch.cpp
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/lower.h
  src/coreclr/src/jit/lowerarmarch.cpp
  src/coreclr/src/jit/lowerxarch.cpp
  src/coreclr/src/jit/lsraarm64.cpp
  src/coreclr/src/jit/lsraxarch.cpp
  src/coreclr/src/jit/simd.cpp
  src/coreclr/src/jit/simdashwintrinsic.cpp
  src/coreclr/src/jit/simdashwintrinsiclistarm64.h
  src/coreclr/src/jit/simdashwintrinsiclistxarch.h
  src/coreclr/src/jit/simdcodegenxarch.cpp
  src/coreclr/src/jit/simdintrinsiclist.h
Labels: area-CodeGen-coreclr

#38372 Honor user setting overrides for current culture when using ICU on Windows
  src/libraries/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoGetEra.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
Labels: area-System.Globalization

#38650 Create CLR interpreter Azure DevOps Pipeline
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/clrinterpreter.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  src/coreclr/build-runtime.cmd
  src/coreclr/src/vm/interpreter.cpp
  src/coreclr/src/vm/interpreter.h
  src/coreclr/tests/testenvironment.proj
Labels: area-Infrastructure-coreclr

#38431 Annotate more Mono reflection for trimming
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ConstructorBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ConstructorOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/CustomAttributeBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/MethodOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilderInstantiation.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimePropertyInfo.cs
  src/mono/netcore/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
Labels: area-System.Reflection

#38710 Replace linker descriptor for AssemblyBuilder with DynamicDependency
  src/mono/netcore/System.Private.CoreLib/src/ILLink/System.Private.CoreLib.xml
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.Mono.cs
Labels: area-CoreLib-mono

#38729 Make DependencyInjection more linker trimmable
  src/libraries/Microsoft.Extensions.DependencyInjection/Microsoft.Extensions.DependencyInjection.sln
  src/libraries/Microsoft.Extensions.DependencyInjection/src/DependencyInjectionEventSource.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceCollectionContainerBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CompiledServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/DynamicServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/Expressions/ExpressionsServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ILEmit/ILEmitServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/IServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/RuntimeServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceProvider.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceProviderOptions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/CallSiteTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/DependencyInjectionEventSourceTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceCollectionContainerBuilderTestExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderCompilationTest.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderDefaultContainerTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderExpressionsContainerTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderILEmitContainerTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderMode.cs
Labels: area-Extensions-DependencyInjection

#38727 Ask about prior art in API review template
  .github/ISSUE_TEMPLATE/02_api_proposal.md
Labels: area-Meta

#38768 Return true for PlatformDection.IsMonoInterpreter on WASM
  eng/Versions.props
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Drawing.Common/tests/AssemblyInfo.cs
  src/libraries/System.Net.ServicePoint/tests/ServicePointManagerTest.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/libraries/System.Text.Json/tests/Serialization/Stream.Collections.cs
  src/libraries/System.Threading.Tasks/tests/AssemblyInfo.cs
Labels: area-Build-mono

#38740 x86 P/Invokes marked with UnmanagedCallersOnly require marshalling
  src/coreclr/src/vm/comdelegate.cpp
  src/coreclr/src/vm/dllimport.cpp
  src/coreclr/src/vm/dllimport.h
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/tests/src/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.cs
Labels: area-Interop-coreclr, test bug

#38775 Clean up System.Net.Http build a bit for browser
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/SystemProxyInfo.Browser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/ByteArrayContent.cs
Labels: area-System.Net.Http

#38749 [wasm] Skip System.Configuration.ConfigurationManager test suite
  src/libraries/System.Configuration.ConfigurationManager/tests/AssemblyInfo.cs
  src/libraries/System.Configuration.ConfigurationManager/tests/System.Configuration.ConfigurationManager.Tests.csproj
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#38778 Make CultureData properties static to allow illinker to remove more dead code
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
Labels: area-System.Globalization

#38759 Remove redundant initializations in SPC
  src/libraries/System.Private.CoreLib/src/System/CodeDom/Compiler/IndentedTextWriter.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
  src/libraries/System.Private.CoreLib/src/System/IO/MemoryStream.cs
  src/libraries/System.Private.CoreLib/src/System/IO/StreamReader.cs
  src/libraries/System.Private.CoreLib/src/System/IO/TextWriter.cs
  src/libraries/System.Private.CoreLib/src/System/IO/UnmanagedMemoryAccessor.cs
  src/libraries/System.Private.CoreLib/src/System/IO/UnmanagedMemoryStream.cs
  src/libraries/System.Private.CoreLib/src/System/ObsoleteAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Random.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceManager.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Serialization/SerializationInfoEnumerator.cs
  src/libraries/System.Private.CoreLib/src/System/Security/SecurityElement.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-Infrastructure-libraries

#38757 Replace XML descriptors for SRE with DynamicDependency attributes
  src/mono/netcore/System.Private.CoreLib/src/ILLink/System.Private.CoreLib.xml
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ConstructorBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ConstructorOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DerivedTypes.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/EventBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/FieldBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/FieldOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ILGenerator.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/LocalBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/MethodOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ParameterBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/PropertyBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/SignatureHelper.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/UnmanagedMarshal.cs
Labels: area-CoreLib-mono

#38784 Check loh_compacted_p of the right heap
  src/coreclr/src/gc/gc.cpp
Labels: area-GC-coreclr

#38788 Fix handling of native runtime components for Crossgen2 package
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.Crossgen2.pkgproj
  src/installer/pkg/projects/netcoreapp/src/netcoreapp.depproj
Labels: area-crossgen2-coreclr

#38806 [browser][wasm][tests] Add tests for javascript Array
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/ArrayTests.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#38469 [wasm][debugger] Don't download unnecessary assemblies to DebugProxy
  src/mono/mono/metadata/debug-internals.h
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/image.h
Labels: area-Debugger-mono, mono-mirror

#38432 Make parts of ResourceManager trimming safe
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceManager.cs
Labels: area-System.Resources

#38787 Ignore 0-byte responses from AIA fetch
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/RevocationResponder.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/AiaTests.cs
Labels: area-System.Security

#38802 Fix typo in EmailAddressAttribute.cs
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/EmailAddressAttribute.cs
Labels: area-System.Net

#38821 Update area-owners.md
  docs/area-owners.md
Labels: area-Meta

#37942 Use ExecutionContext.Restore rather than EC.Run callback
  src/libraries/System.Private.CoreLib/src/System/Threading/ExecutionContext.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Sources/ManualResetValueTaskSourceCore.cs
Labels: area-System.Threading

#38836 remove area-sdk from area owners list
  docs/area-owners.md
Labels: area-Meta

#38671 Add method names next to reloc adrp/add in disasm
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/codegenarm.cpp
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/emit.h
  src/coreclr/src/jit/emitarm64.cpp
  src/coreclr/src/jit/emitarm64.h
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen-coreclr

#38056 Add support for multiple non-string TKey on dictionaries
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/DictionaryDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/DictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IDictionaryConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IReadOnlyDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/BooleanConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ByteConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/CharConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DateTimeConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DateTimeOffsetConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DecimalConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DoubleConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/GuidConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/Int16Converter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/Int32Converter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/Int64Converter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/SByteConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/SingleConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/StringConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UInt16Converter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UInt32Converter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UInt64Converter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/libraries/System.Text.Json/tests/Serialization/CollectionTests/CollectionTests.Dictionary.NonStringKey.cs
  src/libraries/System.Text.Json/tests/Serialization/CollectionTests/CollectionTests.Dictionary.cs
  src/libraries/System.Text.Json/tests/Serialization/CollectionTests/CollectionTests.Generic.Read.cs
  src/libraries/System.Text.Json/tests/Serialization/CustomConverterTests/CustomConverterTests.DerivedTypes.cs
  src/libraries/System.Text.Json/tests/Serialization/ExtensionDataTests.cs
  src/libraries/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#38808 [wasm] Enable System.Net.WebSockets tests; mark System.Net.WebSocketsTests.WebSocketTests with an active issue
  src/libraries/System.Net.WebSockets/tests/WebSocketTests.cs
  src/libraries/tests.proj
Labels: area-System.Net

#38761 Move rarely used lookup table out of HeaderDescriptor static ctor
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/QPackStaticTable.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#38553 [interp] Access frame arguments as locals
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/mintops.h
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono, mono-mirror

#38835 Fix checks for hardware intrinsics special casing in IL interpreter
  src/coreclr/src/vm/interpreter.cpp
Labels: area-VM-coreclr, runtime-coreclr

#38858 Add eventpipe to dist files
  src/mono/mono/Makefile.am
Labels: area-Tracing-coreclr, mono-mirror

#38453 Fixed outerloop tests for Sync HttpClient API
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Labels: area-System.Net.Http

#38854 [wasm] Mark System.Net.WebSockets.Tests.WebSocketProtocolCreateTests class with an active issue
  src/libraries/System.Net.WebSockets.WebSocketProtocol/tests/WebSocketProtocolTests.cs
  src/libraries/tests.proj
Labels: area-System.Net

#38844 Disable failing Windows arm32 tests
  src/coreclr/tests/issues.targets
Labels: area-CodeGen-coreclr

#38846 Disable Linux arm64 MinMax_ro test
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#38845 Disable GitHub_27924 for Windows arm
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#38825 Delete dead code related to MDAs
  src/coreclr/src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/coreclr/src/vm/appdomain.cpp
  src/coreclr/src/vm/comsynchronizable.cpp
  src/coreclr/src/vm/comsynchronizable.h
  src/coreclr/src/vm/dllimport.cpp
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/finalizerthread.cpp
  src/coreclr/src/vm/interoputil.cpp
  src/coreclr/src/vm/mscorlib.h
  src/coreclr/src/vm/runtimecallablewrapper.cpp
  src/coreclr/src/vm/stubhelpers.cpp
  src/coreclr/src/vm/stubhelpers.h
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/threads.h
  src/coreclr/src/vm/win32threadpool.cpp
Labels: area-VM-coreclr

#38721 [Wasm]Adjust AppContext.BaseDirectory and enable Microsoft.Extensions tests
  src/libraries/Microsoft.Extensions.Configuration.Xml/tests/XmlConfigurationTest.cs
  src/libraries/Microsoft.Extensions.Configuration/tests/FunctionalTests/ConfigurationTests.cs
  src/libraries/Microsoft.Extensions.DependencyModel/tests/AssemblyInfo.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/AssemblyInfo.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/AppContext.AnyOS.cs
  src/libraries/System.Private.CoreLib/src/System/AppContext.Browser.cs
  src/libraries/System.Private.CoreLib/src/System/AppContext.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Runtime

#38868 Tweak BufferPtrSendOperation to address argument confusion
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets

#36260 [wasm][debugger] Add support for deref'ing pointers
  src/mono/mono/mini/mini-wasm-debugger.c
Labels: area-Debugger-mono, mono-mirror

#38219 Add zoneinfo data for System.Runtime.TimeZoneInfoTests
  eng/liveBuilds.targets
  eng/testing/tests.mobile.targets
  src/libraries/Native/native-binplace.proj
  src/mono/wasm/Makefile
  src/mono/wasm/runtime-test.js
  src/mono/wasm/runtime/dotnet.timezones.blat
  src/mono/wasm/runtime/library_mono.js
  tools-local/tasks/mobile.tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: area-Infrastructure-libraries

#38715 Porting serialization fix from 3.1
  src/libraries/System.Private.DataContractSerialization/src/Resources/Strings.resx
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/CollectionDataContract.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
Labels: area-Serialization

#38733 Rewrite System.Net.Http.Json functional tests to use a custom HttpMessageHandler
  src/libraries/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpMessageHandlerLoopbackServer.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/HttpClientJsonExtensionsTests.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/HttpContentJsonExtensionsTests.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/JsonContentTests.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/System.Net.Http.Json.Functional.Tests.csproj
  src/libraries/tests.proj
Labels: area-System.Net

#38857 [wasm] Skip System.Net.WebClient test suite
  src/libraries/System.Net.WebClient/src/Resources/Strings.resx
  src/libraries/System.Net.WebClient/src/System.Net.WebClient.csproj
  src/libraries/System.Net.WebClient/tests/AssemblyInfo.cs
  src/libraries/tests.proj
Labels: area-System.Net

#38850 [Arm64] ASIMD ReverseElement8 ReverseElement16 ReverseElement32
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part4_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part4_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part5_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part5_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part6_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part6_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd_Part4.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd_Part5.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd_Part6.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector128.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector128.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector64.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector64.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector64.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement16.Vector64.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement32.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement32.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement32.Vector64.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement32.Vector64.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector128.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector128.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector128.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector128.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector64.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector64.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector64.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector64.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector64.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/ReverseElement8.Vector64.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.tt
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
Labels: arch-arm64, area-System.Runtime.Intrinsics

#37745 Disable `JitDoOldStructRetyping` by default.
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/jitconfigvalues.h
  src/coreclr/src/jit/lclmorph.cpp
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lower.h
  src/coreclr/src/jit/lsraarm.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/rangecheck.cpp
  src/coreclr/src/jit/ssabuilder.cpp
  src/coreclr/src/jit/valuenum.cpp
  src/coreclr/tests/src/JIT/Directed/StructABI/structreturn.cs
Labels: area-CodeGen-coreclr, optimization

#38838 Remove static variable holding unboxing stubs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelayLoadMethodImport.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelegateCtorSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GenericLookupSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InstanceEntryPointTableNode.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/PrecodeMethodImport.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureBuilder.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunSymbolNodeFactory.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/TypeAndMethod.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/src/tools/aot/crossgen2/CommandLineOptions.cs
  src/coreclr/src/tools/aot/crossgen2/Program.cs
  src/coreclr/tests/src/readytorun/crossgen2/Program.cs
  src/coreclr/tests/src/readytorun/crossgen2/helperdll.cs
  src/coreclr/tests/src/readytorun/crossgen2/helperildll.il
Labels: area-crossgen2-coreclr

#38831 Remove illegal `delete` of `Instr` objects
  src/coreclr/src/ilasm/assembler.cpp
Labels: area-ILTools-coreclr

#38883 Disable pauseonstart test
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#38888 Disable DisableAiaOptionWorks for TailcallStress
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/AiaTests.cs
Labels: area-Infrastructure-coreclr

#38891 Disable 2 System.Drawing tests for TailcallStress
  src/libraries/System.Drawing.Common/tests/FontTests.cs
Labels: area-Infrastructure-coreclr

#38770 Fix LookupPromotedStructDeathVars out param initialization
  src/coreclr/src/jit/compiler.h
Labels: area-CodeGen-coreclr

#38827 fix failing revocation & ssl tests
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Security, test bug

#38834 Use the latest base register while accessing the stack
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/emitarm.cpp
  src/coreclr/src/jit/emitarm.h
  src/coreclr/src/jit/instr.cpp
  src/coreclr/tests/issues.targets
Labels: area-CodeGen-coreclr

#38855 Reenable fixed tests after noRetyping and similar changes.
  src/coreclr/tests/issues.targets
  src/coreclr/tests/src/JIT/Directed/StructABI/structreturn.cs
Labels: area-CodeGen-coreclr, disabled-test

#38813 [interp] Remove usage of some gotos
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono

#38923 Unignore some Makefiles in src/mono
  src/mono/netcore/.gitignore
  src/mono/wasm/.gitignore
Labels: area-Infrastructure

#38866 Avoid unnecessary CultureInfo.CurrentCulture accesses in Enum
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
Labels: area-System.Runtime, tenet-performance

#38922 Add iOS/tvOS/Android to AdditionalBuildTargetFrameworks
  src/libraries/Directory.Build.props
Labels: area-Infrastructure-libraries

#38839 [wasm] Implement support for pinvoke callbacks in the interpeter.
  src/mono/mono/mini/aot-runtime-wasm.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/interp.h
  src/mono/mono/mini/mono-private-unstable.h
Labels: arch-wasm, mono-mirror

#38918 Remove unnecessary codes
  src/coreclr/src/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#38664 Fix inconsistent copyright for C# files in Mono's corelib
  src/mono/netcore/System.Private.CoreLib/src/Mono/RuntimeMarshal.cs
  src/mono/netcore/System.Private.CoreLib/src/Mono/RuntimeStructs.cs
  src/mono/netcore/System.Private.CoreLib/src/Mono/SafeGPtrArrayHandle.cs
  src/mono/netcore/System.Private.CoreLib/src/Mono/SafeStringMarshal.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Delegate.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/IO/MonoIOError.cs
  src/mono/netcore/System.Private.CoreLib/src/System/MulticastDelegate.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/CustomAttributeData.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ConstructorBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ConstructorOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/CustomAttributeBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DerivedTypes.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DynamicILInfo.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.notsupported.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/EventBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/EventOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/FieldBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/FieldOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ILGenerator.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/LocalBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/MethodOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/MonoArrayMethod.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/ParameterBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/PropertyBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/PropertyOnTypeBuilderInst.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/SignatureHelper.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilderInstantiation.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/UnmanagedMarshal.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeEventInfo.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeFieldInfo.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimePropertyInfo.cs
  src/mono/netcore/System.Private.CoreLib/src/System/RuntimeArgumentHandle.cs
  src/mono/netcore/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/mono/netcore/System.Private.CoreLib/src/System/TypeIdentifier.cs
  src/mono/netcore/System.Private.CoreLib/src/System/TypeSpec.cs
Labels: area-CoreLib-mono

#38334 Console.Unix tests: don't run tests when SIGINT/SIGQUIT disposition is ignored
  src/libraries/System.Console/tests/CancelKeyPress.Unix.cs
Labels: area-System.Console

#38898 [Wasm] Modify System.IO.IsolatedStorage to throw PNSE
  src/libraries/System.IO.IsolatedStorage/src/Resources/Strings.resx
  src/libraries/System.IO.IsolatedStorage/src/System.IO.IsolatedStorage.csproj
  src/libraries/System.IO.IsolatedStorage/tests/AssemblyInfo.cs
Labels: area-System.IO

#38926 Fix live libraries build config for the runincontext pipeline
  eng/pipelines/coreclr/runincontext.yml
Labels: area-Infrastructure-coreclr

#38900 ignore loopback NoDelay failure on OSX
  src/libraries/Common/tests/System/Net/Http/LoopbackServer.cs
Labels: area-System.Net.Http, os-mac-os-x, test enhancement

#38131 SocketHttpHandler: include host+IP information in HttpRequestException
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Labels: area-System.Net.Http

#38820 Throw with ParamName=value instead of Encoding
  src/libraries/System.Net.WebClient/src/System/Net/WebClient.cs
  src/libraries/System.Net.WebClient/tests/WebClientTest.cs
Labels: area-Infrastructure-coreclr

#38870 Delete ClientWebSocket's event source
  src/libraries/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/NetEventSource.WebSockets.cs
  src/libraries/System.Net.WebSockets.Client/tests/LoggingTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: area-System.Net

#38829 Fix calling a ThisCall delegate via Reverse P/Invoke.
  src/coreclr/src/vm/dllimport.cpp
Labels: area-Interop-coreclr, auto-merge

#38694 Run CLRTools unittests in PR jobs
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr

#38832 Add tizen-arm64 RIDs
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json
  src/libraries/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props
Labels: area-Infrastructure-libraries

#38906 Delete dead code related to finalization
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcimpl.h
  src/coreclr/src/gc/gcinterface.h
  src/coreclr/src/gc/gcpriv.h
  src/coreclr/src/vm/finalizerthread.cpp
  src/coreclr/src/vm/finalizerthread.h
  src/coreclr/src/vm/hosting.cpp
  src/coreclr/src/vm/spinlock.h
Labels: area-VM-coreclr

#38947 Remove commented libraries windows helix queues
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#38927 Fix case where EventPipeInternal::Enable is called with NULL output file.
  src/mono/mono/metadata/icall-eventpipe.c
Labels: area-Tracing-mono

#38914 Fix TOC in CI Health and investigation
  docs/workflow/ci/coreclr-ci-health.md
Labels: area-Meta

#38735 [metadata] Move rarely used bits out of MonoMethod and give 1 bit back to MonoMethod:slot
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/loader.c
  src/mono/mono/mini/mini.c
Labels: area-VM-meta-mono

#38907 Remove pragma warning from src
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/ref/Microsoft.Extensions.Hosting.Abstractions.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/ref/Microsoft.Extensions.Hosting.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.cs
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.csproj
  src/libraries/System.Collections.NonGeneric/ref/System.Collections.NonGeneric.Forwards.cs
  src/libraries/System.Collections.NonGeneric/ref/System.Collections.NonGeneric.csproj
  src/libraries/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.cs
  src/libraries/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.csproj
  src/libraries/System.Linq.Expressions/ref/System.Linq.Expressions.cs
  src/libraries/System.Linq.Expressions/ref/System.Linq.Expressions.csproj
  src/libraries/System.Net.Requests/ref/System.Net.Requests.cs
  src/libraries/System.Net.Requests/ref/System.Net.Requests.csproj
  src/libraries/System.Net.WebHeaderCollection/ref/System.Net.WebHeaderCollection.cs
  src/libraries/System.Net.WebHeaderCollection/ref/System.Net.WebHeaderCollection.csproj
  src/libraries/System.Runtime.Extensions/ref/System.Runtime.Extensions.Forwards.cs
  src/libraries/System.Runtime.Extensions/ref/System.Runtime.Extensions.csproj
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.csproj
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/ref/System.Runtime.csproj
  src/libraries/System.Security.Cryptography.Csp/ref/System.Security.Cryptography.Csp.cs
  src/libraries/System.Security.Cryptography.Csp/ref/System.Security.Cryptography.Csp.csproj
  src/libraries/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.cs
  src/libraries/System.Text.Encodings.Web/ref/System.Text.Encodings.Web.csproj
Labels: area-Infrastructure-libraries

#38937 Remove global properties for CoreLib P2P
  src/libraries/Directory.Build.targets
Labels: area-Infrastructure-libraries

#38936 Build refs only for applicable BuildTFMs
  eng/referenceAssemblies.props
Labels: area-Infrastructure-coreclr

#38954 Add browser tfm to test projects that used to run when it derived from Unix
  src/libraries/System.Diagnostics.FileVersionInfo/tests/System.Diagnostics.FileVersionInfo.Tests/System.Diagnostics.FileVersionInfo.Tests.csproj
  src/libraries/System.Diagnostics.Process/tests/System.Diagnostics.Process.Tests.csproj
  src/libraries/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/libraries/System.Net.Mail/tests/Functional/System.Net.Mail.Functional.Tests.csproj
  src/libraries/System.Net.Security/tests/EnterpriseTests/System.Net.Security.Enterprise.Tests.csproj
  src/libraries/System.Security.Cryptography.Csp/tests/System.Security.Cryptography.Csp.Tests.csproj
  src/libraries/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
Labels: area-Infrastructure-libraries

#38871 Delete WebHeaderCollection's event source
  src/libraries/System.Net.WebHeaderCollection/src/System.Net.WebHeaderCollection.csproj
  src/libraries/System.Net.WebHeaderCollection/src/System/Net/NetEventSource.WebHeaderCollection.cs
  src/libraries/System.Net.WebHeaderCollection/src/System/Net/WebHeaderCollection.cs
  src/libraries/System.Net.WebHeaderCollection/tests/LoggingTest.cs
  src/libraries/System.Net.WebHeaderCollection/tests/System.Net.WebHeaderCollection.Tests.csproj
Labels: area-System.Net

#38985 Standardize on same illink descriptor name
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
Labels: area-CoreLib-mono

#38978 Delete unreachable code in stackwalker
  src/coreclr/src/vm/threads.h
  src/coreclr/src/vm/threadsuspend.cpp
Labels: area-VM-coreclr

#38765 Add feature switch for diagnostics handler in System.Net.Http
  src/libraries/System.Net.Http/src/ILLink/ILLink.Substitutions.xml
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
Labels: area-System.Net.Http

#38935 increase BufferPtrSendOperation test coverage
  src/libraries/System.Net.Sockets/tests/FunctionalTests/LoggingTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Labels: area-System.Net.Sockets

#38946 [CBOR] Make Half Read/Write methods public and add unit tests
  src/libraries/System.Formats.Cbor/ref/System.Formats.Cbor.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Simple.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Simple.cs
  src/libraries/System.Formats.Cbor/tests/Reader/CborReaderTests.Simple.cs
  src/libraries/System.Formats.Cbor/tests/Writer/CborWriterTests.Simple.cs
Labels: * NO MERGE *, area-System.Security, new-api-needs-documentation

#38989 Use mono_runtime_delegate_invoke in EventPipeInternal::CreateProvider.
  src/mono/mono/metadata/icall-eventpipe.c
Labels: area-Tracing-mono

#38941 [Wasm] Skip System.IO.Compression.Brotli tests b/c the library is PNSE
  src/libraries/System.IO.Compression.Brotli/tests/AssemblyInfo.cs
  src/libraries/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/libraries/tests.proj
Labels: area-System.IO.Compression

#37289 Set memory cache logger field as readonly
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
Labels: area-Microsoft.Extensions

#38940 Various createdump fixes and improvements to help diagnosing problems
  src/coreclr/src/debug/createdump/crashinfo.cpp
  src/coreclr/src/debug/createdump/crashinfomac.cpp
  src/coreclr/src/debug/createdump/createdump.h
  src/coreclr/src/debug/createdump/createdumpunix.cpp
  src/coreclr/src/debug/createdump/dumpwriter.cpp
  src/coreclr/src/debug/createdump/main.cpp
  src/coreclr/src/debug/dbgutil/machoreader.cpp
Labels: area-Diagnostics-coreclr

#38501 Improve performance of DateTime.Kind property.
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
Labels: area-System.Runtime

#38815 [wasm] Enable System.Threading.Tasks.Extensions tests
  src/libraries/System.Threading.Tasks.Extensions/tests/AssemblyInfo.cs
  src/libraries/System.Threading.Tasks.Extensions/tests/AsyncValueTaskMethodBuilderTests.cs
  src/libraries/System.Threading.Tasks.Extensions/tests/ManualResetValueTaskSourceTests.cs
  src/libraries/System.Threading.Tasks.Extensions/tests/System.Threading.Tasks.Extensions.Tests.csproj
  src/libraries/System.Threading.Tasks.Extensions/tests/ValueTaskTests.cs
Labels: arch-wasm, area-System.Threading.Tasks

#38990 WASM: don't compile brotli sources into System.IO.Compression.Native
  src/libraries/Native/Unix/System.IO.Compression.Native/CMakeLists.txt
Labels: area-System.IO.Compression

#39004 Remove local copying of emsdk_env.sh
  src/mono/wasm/.gitignore
  src/mono/wasm/Makefile
Labels: area-Build-mono

#38970 Fix standalone GC on ARM32
  src/coreclr/src/gc/env/gcenv.object.h
Labels: area-GC-coreclr

#38971 Silence ARM inline asm warning in libunwind
  src/coreclr/src/pal/src/exception/seh-unwind.cpp
Labels: area-PAL-coreclr

#38669 HttpStress client timeout increased to 60 seconds
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http

#37768 Change double NOT operation to comparison to 0
  src/coreclr/src/ildasm/dis.cpp
  src/mono/mono/metadata/appdomain.c
Labels: area-VM-meta-mono, up-for-grabs

#38976 WASM Enable System.Collections tests
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Collections/tests/StructuralComparisonsTests.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Collections

#39003 Disable HandlerInvokedForSigQuit test on macOS
  src/libraries/System.Console/tests/CancelKeyPress.Unix.cs
Labels: area-System.Console

#38952 Make DSAKeyValueTests.LoadXml accept seed/counter may not roundtrip.
  src/libraries/System.Security.Cryptography.Xml/tests/DSAKeyValueTest.cs
Labels: area-System.Security

#38965 Fix the condition in assert
  src/coreclr/src/jit/optimizer.cpp
Labels: area-CodeGen-coreclr
