Repository dotnet/runtime, pull requests merged in 2020-08, with the labels that each got.

#40116 Avoid lock contention in common MemberInfoCache code paths
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
Labels: area-System.Reflection

#40220 Address contract violation when running covariant return unittest
  src/coreclr/src/vm/class.cpp
Labels: area-TypeSystem-coreclr

#40229 [wasm] Remove unused bindings
  src/mono/wasm/runtime-test.js
Labels: area-Infrastructure-coreclr

#40209 Increase Http2_MultipleConnectionsEnabled_IdleConnectionTimeoutExpired_ConnectionRemovedAndNewCreated test timeouts
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, test-run-core

#40231 Remove Format wrappers around interpolated strings
  src/installer/managed/Microsoft.NET.HostModel/Bundle/FileEntry.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/FileSpec.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/TargetInfo.cs
  src/libraries/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertTests.cs
  src/libraries/System.Text.Json/tests/Serialization/TestClasses/TestClasses.Constructor.cs
  tools-local/tasks/installer.tasks/BuildTools.Publish/CloudTestTasks/ListAzureBlobs.cs
Labels: area-Meta

#40164 Fix for unsafe CSE of Structs
  src/coreclr/src/jit/optcse.cpp
  src/coreclr/src/jit/valuenum.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_38920/Runtime_38920.cs
  src/tests/JIT/Regression/JitBlue/Runtime_38920/Runtime_38920.csproj
Labels: area-CodeGen-coreclr

#40184 [runtime] Add a configure workaround for apple silicon + older config…
  src/mono/configure.ac
Labels: area-Build-mono, mono-mirror

#40241 Reenable ExceptionDispatchInfo.SetCurrentStackTrace test on WASM
  src/libraries/System.Runtime/tests/System/Runtime/ExceptionServices/ExceptionDispatchInfoTests.cs
Labels: area-System.Runtime

#40239 Remove netstandard packaging infra
  eng/Subsets.props
  eng/Versions.props
  src/installer/pkg/projects/descriptions.json
  src/installer/pkg/projects/netstandard/Directory.Build.props
  src/installer/pkg/projects/netstandard/netstandardRIDs.props
  src/installer/pkg/projects/netstandard/pkg/Directory.Build.props
  src/installer/pkg/projects/netstandard/pkg/NETStandard.Library.Ref.pkgproj
  src/installer/pkg/projects/netstandard/pkg/PackageOverrides.txt
  src/installer/pkg/projects/netstandard/src/netstandard.depproj
  src/installer/tests/Microsoft.DotNet.CoreSetup.Packaging.Tests/NETStandardTests.cs
Labels: area-Infrastructure-coreclr

#40048 Fix ILLink warnings for removed attributes when Debugger.IsSupported is false
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
Labels: area-System.Diagnostics

#40227 Annotate DependencyInjection to make it linker friendly
  eng/testing/linker/project.csproj.template
  eng/testing/linker/trimmingTests.targets
  src/libraries/Common/src/Extensions/ActivatorUtilities/ActivatorUtilities.cs
  src/libraries/Common/src/Extensions/ParameterDefaultValue/ParameterDefaultValue.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/Extensions/ServiceCollectionDescriptorExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/Microsoft.Extensions.DependencyInjection.Abstractions.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ServiceCollectionServiceExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ServiceDescriptor.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Microsoft.Extensions.DependencyInjection.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteFactory.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/TrimmingTests/ActivatorUtilitiesTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/TrimmingTests/Microsoft.Extensions.DependencyInjection.TrimmingTests.proj
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/TrimmingTests/ServiceCollectionExtensionsTests.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/UnconditionalSuppressMessageAttribute.cs
Labels: area-Extensions-DependencyInjection

#39861 Added variable number for tracking
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/DebugInfo.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/DebugInfoTypes.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/src/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
Labels: area-R2RDump-coreclr

#40144 HTTP agnostic loopback server.
  src/libraries/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/libraries/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/Http3LoopbackConnection.cs
  src/libraries/Common/tests/System/Net/Http/Http3LoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpAgnosticLoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Decompression.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/Common/tests/System/Net/Http/LoopbackServer.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/HttpClientHandlerTestBase.WinHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http

#40255 [wasm] Re-enable some Microsoft.Extensions.Logging.Tests tests on browser-wasm.
  src/libraries/Microsoft.Extensions.Logging.Console/tests/ConsoleLoggerExtensionsTests.cs
  src/libraries/Microsoft.Extensions.Logging/tests/Common/LoggerFactoryTest.cs
Labels: area-Infrastructure-libraries

#40263 Fix ICU_CFLAGS in mono configure.ac
  src/mono/configure.ac
Labels: area-Build-mono

#40084 Fix nullable annotations for ImmutableArray cast methods
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Minimal.cs
Labels: area-System.Collections

#40271 IsSupported reports SocketsHttpHandler availability on different platforms
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
Labels: area-System.Net.Http, new-api-needs-documentation

#39249 fix ReceiveMessageFromPacketInfo in DualMode ReceiveMessageFromAsync
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
Labels: area-System.Net.Sockets, os-windows

#40165 Allow increased log level filtering for event source logger
  src/libraries/Microsoft.Extensions.Logging.EventSource/src/LoggingEventSource.cs
  src/libraries/Microsoft.Extensions.Logging.EventSource/tests/EventSourceLoggerTest.cs
Labels: area-Extensions-Logging

#40186 Type verification in tests
  src/coreclr/src/inc/readytorun.h
  src/coreclr/src/tools/Common/Internal/Runtime/ReadyToRunConstants.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/FieldFixupSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeFixupSignature.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunSymbolNodeFactory.cs
  src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/src/vm/fieldmarshaler.cpp
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/zap/zapreadytorun.cpp
  src/coreclr/tests/src/CLRTest.CrossGen.targets
  src/tests/readytorun/crossgen2/Program.cs
Labels: area-crossgen2-coreclr

#40246 Fix the trimming tests to link non-app assemblies correctly.
  eng/testing/linker/SupportFiles/Directory.Build.targets
Labels: area-Infrastructure-coreclr

#40222 fix regression in ChannelBinding/NTLM auth
  src/libraries/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
Labels: area-System.Net.Security, os-windows

#40183 Add ActivityContext parsing APIs
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/Resources/Strings.resx
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityContext.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivitySourceTests.cs
Labels: area-System.Diagnostics.Tracing, new-api-needs-documentation

#39633 Improve default ciphersuites on Linux
  src/libraries/Native/Unix/System.Security.Cryptography.Native/apibridge.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/apibridge.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Net.Security, breaking-change, needs-breaking-change-doc-created

#40226 Don't remove dead indirections that may throw.
  src/coreclr/src/jit/liveness.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lower.h
  src/tests/JIT/Regression/JitBlue/GitHub_39823/GitHub_39823.cs
  src/tests/JIT/Regression/JitBlue/GitHub_39823/GitHub_39823.csproj
Labels: area-CodeGen-coreclr

#40228 Don't rely on the built-in interface marshaller during COM activation.
  src/coreclr/src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/tests/Interop/COM/Activator/Program.cs
  src/tests/Interop/COM/NativeClients/Dispatch/Client.cpp
Labels: area-Interop-coreclr

#40247 Use Environment.SystemPageSize to set desireBufferSize
  src/libraries/System.IO.Pipes/tests/AnonymousPipeTests/AnonymousPipeTest.Specific.cs
Labels: area-System.IO

#40282 Fix Windows coreclr.dll size regression
  src/coreclr/src/debug/inc/dbgipcevents.h
  src/coreclr/src/dlls/mscorpe/ceefilegenwriter.cpp
  src/coreclr/src/dlls/mscorpe/stubs.h
  src/coreclr/src/gcinfo/CMakeLists.txt
  src/coreclr/src/gcinfo/simplerhash.cpp
  src/coreclr/src/inc/delayloadhelpers.h
  src/coreclr/src/inc/simplerhash.inl
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/jit/CMakeLists.txt
  src/coreclr/src/jit/_typeinfo.h
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/jithashtable.cpp
  src/coreclr/src/jit/jithashtable.h
  src/coreclr/src/jit/target.h
  src/coreclr/src/jit/targetamd64.cpp
  src/coreclr/src/jit/targetarm.cpp
  src/coreclr/src/jit/targetarm64.cpp
  src/coreclr/src/jit/targetx86.cpp
  src/coreclr/src/utilcode/CMakeLists.txt
  src/coreclr/src/utilcode/delayloadhelpers.cpp
  src/coreclr/src/vm/stdinterfaces.cpp
Labels: area-VM-coreclr

#40266 Check if a method is dynamic when transforming internal calls
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#40205 Change new thread's affinity after thread starts, from the same thread, as a workaround for Snap
  src/coreclr/src/gc/unix/config.gc.h.in
  src/coreclr/src/gc/unix/configure.cmake
  src/coreclr/src/gc/unix/gcenv.unix.cpp
  src/coreclr/src/pal/src/config.h.in
  src/coreclr/src/pal/src/configure.cmake
  src/coreclr/src/pal/src/thread/thread.cpp
Labels: area-System.Threading

#40251 improve exception message when HTTP2 connection establishment fails
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http

#40274 [wasm] Modify System.Net.Request to throw PNSE on Browser WASM
  src/libraries/System.ComponentModel.EventBasedAsync/tests/BackgroundWorkerTests.cs
  src/libraries/System.Net.Requests/src/Resources/Strings.resx
  src/libraries/System.Net.Requests/src/System.Net.Requests.csproj
  src/libraries/System.Net.Requests/tests/AssemblyInfo.cs
  src/libraries/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
Labels: area-Infrastructure-libraries, auto-merge

#40278 WASM: Pump timer queue in xharness when running unit tests
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.Threading.Tasks.Extensions/tests/AsyncValueTaskMethodBuilderTests.cs
  src/libraries/System.Threading.Tasks.Extensions/tests/ManualResetValueTaskSourceTests.cs
  src/libraries/System.Threading.Tasks.Extensions/tests/ValueTaskTests.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/TimerQueue.Browser.Mono.cs
Labels: area-CoreLib-mono

#39463 [Wasm] Enable System.Data.Common tests
  src/libraries/System.Data.Common/tests/System/Data/Common/DbProviderFactoriesTests.cs
  src/libraries/System.Data.Common/tests/System/Data/Common/DbProviderFactoryTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataRowTest2.cs
  src/libraries/System.Data.Common/tests/System/Data/DataSetInferXmlSchemaTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataSetReadXmlSchemaTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataSetReadXmlTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataSetTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataSetTest2.cs
  src/libraries/System.Data.Common/tests/System/Data/DataSetTypedDataSetTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataTableExtensionsTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataTableReadXmlSchemaTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataTableTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataTableTest4.cs
  src/libraries/System.Data.Common/tests/System/Data/FacadeTest.cs
  src/libraries/System.Data.Common/tests/System/Data/SqlTypes/SqlStringSortingTest.cs
  src/libraries/System.Data.Common/tests/System/Data/SqlTypes/SqlStringTest.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Data

#40273 [NCL] Increased timeouts in WebRequest tests.
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#40309 Bump timeout in global-build.yml for debug runtime builds
  eng/pipelines/global-build.yml
Labels: area-Infrastructure

#40204 Cleanup EventSource
  src/libraries/Microsoft.Diagnostics.Tracing.EventSource.Redist/src/Microsoft.Diagnostics.Tracing.EventSource.Redist.csproj
  src/libraries/Microsoft.Diagnostics.Tracing.EventSource.Redist/src/Microsoft/Diagnostics/Tracing/StubEnvironment.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/ActivityTracker.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventDescriptor.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventProvider.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSourceException.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/StubEnvironment.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/DataCollector.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/FieldMetadata.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/PropertyValue.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/Statics.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TraceLoggingEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TraceLoggingMetadataCollector.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TypeAnalysis.cs
Labels: area-System.Diagnostics.Tracing

#40308 Xml docs for SocketsHttpHandler's IsSupported and EnableMultipleHttp2Connections
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
Labels: area-System.Net.Http

#40243 Fix hang in HTTP/2 handling of canceling credit waits
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditWaiter.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs
Labels: area-System.Net.Http

#40310 [browser][io] Workaround for issue MoveDirectory
  src/libraries/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs
Labels: arch-wasm, area-Infrastructure-coreclr

#40279 [browser] Normalize array magic numbers and remove switch
  src/mono/wasm/runtime/binding_support.js
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#40071 [runtime] Handle null byref returns in runtime invokes.
  src/libraries/System.Runtime/tests/System/Reflection/InvokeRefReturn.cs
  src/mono/mono/metadata/object.c
Labels: area-VM-meta-mono

#40291 [browser] Fix wasm-logger output and add domain.
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#39755 cleanup schannel pal
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CERT_INFO.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.certificates_types.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/ISSPIInterface.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIAuthType.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPISecureChannelType.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/FakeInterop.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/FakeX509Certificates.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/libraries/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/libraries/System.Net.Mail/src/System.Net.Mail.csproj
  src/libraries/System.Net.Mail/tests/Unit/System.Net.Mail.Unit.Tests.csproj
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: area-System.Net.Security, os-windows

#40172 Add step to run linker on entire runtime pack during libraries build
  eng/illink.targets
  src/libraries/Directory.Build.props
  src/libraries/illink-sharedframework.targets
  src/libraries/src.proj
Labels: area-Infrastructure-libraries

#38851 Add more runtime GC counters
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeEventSource.cs
Labels: area-Tracing-coreclr

#40333 fix typo: fuitful -> fruitful
  docs/design/coreclr/botr/xplat-minidump-generation.md
Labels: area-Meta

#40325 Fix warning in debugger-agent.c
  src/mono/mono/mini/debugger-agent.c
Labels: area-Debugger-mono

#40330 Make macOS targets in global build job template default to 120 minutes timeout
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/global-build.yml
Labels: area-Infrastructure-coreclr

#40324 Mono: Ensure tasklets are removed in netcore build
  src/mono/mono/metadata/object-offsets.h
  src/mono/mono/mini/exceptions-amd64.c
  src/mono/mono/mini/exceptions-x86.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/tasklets.c
  src/mono/mono/mini/tasklets.h
Labels: area-VM-meta-mono

#40060 Don't suspend for debugger while holding the slot backpatching lock
  src/coreclr/src/debug/ee/debugger.cpp
  src/coreclr/src/vm/callcounting.cpp
  src/coreclr/src/vm/codeversion.cpp
  src/coreclr/src/vm/crst.cpp
  src/coreclr/src/vm/crst.h
  src/coreclr/src/vm/fptrstubs.cpp
  src/coreclr/src/vm/method.cpp
  src/coreclr/src/vm/methoddescbackpatchinfo.cpp
  src/coreclr/src/vm/methoddescbackpatchinfo.h
  src/coreclr/src/vm/prestub.cpp
  src/coreclr/src/vm/rejit.cpp
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/threads.h
  src/coreclr/src/vm/threads.inl
  src/coreclr/src/vm/threadsuspend.cpp
  src/coreclr/src/vm/tieredcompilation.cpp
  src/coreclr/src/vm/virtualcallstub.cpp
Labels: area-TieredCompilation-coreclr

#40312 [wasm] Make mono_wasm_get_obj_type () GC safe by doing all object access before calling into the runtime.
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-VM-meta-mono

#40221 Add LoggerColorBehavior
  src/libraries/Microsoft.Extensions.Logging.Console/ref/Microsoft.Extensions.Logging.Console.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerProvider.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/LoggerColorBehavior.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/SimpleConsoleFormatter.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/SimpleConsoleFormatterOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/ConsoleFormatterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/ConsoleLoggerExtensionsTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/ConsoleLoggerTest.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/SimpleConsoleFormatterTests.cs
Labels: area-Extensions-Logging, new-api-needs-documentation

#39350 Add Browser specific PersistedFiles implementation
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/PersistedFiles.Browser.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Labels: arch-wasm, area-System.IO

#40294 Annotate Extensions.Options to make it linker friendly
  src/libraries/Microsoft.Extensions.Options/Microsoft.Extensions.Options.sln
  src/libraries/Microsoft.Extensions.Options/ref/Microsoft.Extensions.Options.cs
  src/libraries/Microsoft.Extensions.Options/ref/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Options/src/IOptions.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsFactory.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsMonitor.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsMonitorCache.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsSnapshot.cs
  src/libraries/Microsoft.Extensions.Options/src/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Options/src/Options.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsCache.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsFactory.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsManager.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsMonitor.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsMonitorExtensions.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsServiceCollectionExtensions.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsWrapper.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/ComplexOptions.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/FakeChangeToken.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/FakeOptions.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/FakeOptionsFactory.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/Microsoft.Extensions.Options.Tests.csproj
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsBuilderTest.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsFactoryTests.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsMonitorTest.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsSnapshotTest.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsTest.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsValidationTests.cs
  src/libraries/Microsoft.Extensions.Options/tests/TrimmingTests/ConfigureTests.cs
  src/libraries/Microsoft.Extensions.Options/tests/TrimmingTests/Microsoft.Extensions.Options.TrimmingTests.proj
Labels: area-Extensions-Options

#40347 Add runtime feature checks for net5.0 browser
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeFeatureTests.cs
Labels: arch-wasm, area-System.Runtime.CompilerServices

#40349 Remove potential NULLCHECK creation after LIR on arm32.
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/liveness.cpp
  src/coreclr/src/jit/lower.cpp
Labels: area-CodeGen-coreclr

#40334 Clean up more byte packing/unpacking.
  src/libraries/Common/src/System/Security/Cryptography/DSACng.ImportExport.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/Helpers.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/PKCS1MaskGenerationMethod.cs
  src/libraries/System.Security.Cryptography.Csp/src/System/Security/Cryptography/RSACryptoServiceProvider.Windows.cs
Labels: area-System.Security, auto-merge

#40341 Fix corerun binplacing in testhost
  src/libraries/restore/runtime/runtime.depproj
Labels: area-Infrastructure-libraries

#40260 Do not trim generic interfaces implemented by arrays
  src/coreclr/src/System.Private.CoreLib/ILLinkTrim.xml
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/TrimmingTests/ActivatorUtilitiesTests.cs
  src/libraries/System.Runtime/tests/TrimmingTests/InterfacesOnArrays.cs
  src/libraries/System.Runtime/tests/TrimmingTests/System.Runtime.TrimmingTests.proj
Labels: area-VM-coreclr, linkable-framework

#40292 Unix: throw PNSE from BeginAccept/EndAccept that attempts to receive a buffer
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/Resources/Strings.resx
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets

#40293 When invoking class constructor ensure class is initialized
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/INVOCATION_FLAGS.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/libraries/System.Reflection/tests/ConstructorInfoTests.cs
Labels: area-System.Reflection

#40377 Mark System.Security.Cryptography.OpenSsl as unsupported on Windows
  eng/versioning.targets
  src/libraries/System.Security.Cryptography.OpenSsl/Directory.Build.props
Labels: area-System.Security

#39825 Add BindConfiguration extension method for OptionsBuilder
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/Microsoft.Extensions.Options.ConfigurationExtensions.sln
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/ref/Microsoft.Extensions.Options.ConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/OptionsBuilderConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/tests/FakeOptions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/tests/Microsoft.Extensions.Options.ConfigurationExtensions.Tests.csproj
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/tests/OptionsBuidlerConfigurationExtensionsTests.cs
Labels: area-Extensions-Options

#40363 remove dead code
  src/libraries/System.Net.Security/src/System/Net/BufferAsyncResult.cs
  src/libraries/System.Net.Security/src/System/Net/HelperAsyncResults.cs
Labels: area-System.Net.Security

#40348 Transform dead late arg store to NOP
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/liveness.cpp
  src/coreclr/src/jit/lower.cpp
Labels: area-CodeGen-coreclr

#39832 Issue 39764 fix: Host and Application Lifetime Notifications
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/Internal/HostTests.cs
Labels: area-Extensions-Hosting

#34561 Add savepoint API to DbTransaction
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbTransaction.cs
Labels: area-Infrastructure, new-api-needs-documentation

#39435 In mono_wasm_invoke_js_marshalled, pass through treatResultAsVoid param
  src/mono/wasm/runtime/dotnet_support.js
Labels: area-System.Runtime.InteropServices.JavaScript

#40346 Add support for reporting byrefs to RVA static fields of collectible assemblies
  src/coreclr/src/vm/assembly.cpp
  src/coreclr/src/vm/commodule.cpp
  src/coreclr/src/vm/loaderallocator.cpp
  src/coreclr/src/vm/loaderallocator.hpp
  src/coreclr/src/vm/lockedrangelist.h
  src/coreclr/src/vm/siginfo.cpp
  src/coreclr/src/vm/stubmgr.h
  src/coreclr/tests/issues.targets
  src/tests/Loader/CollectibleAssemblies/ByRefLocals/ByRefLocals.cs
  src/tests/Loader/CollectibleAssemblies/ByRefLocals/ByRefLocals.csproj
  src/tests/Loader/CollectibleAssemblies/ByRefLocals/SpanAccessor.cs
  src/tests/Loader/CollectibleAssemblies/ByRefLocals/SpanAccessor.csproj
  src/tests/Loader/CollectibleAssemblies/ByRefLocals/Unloaded.cs
  src/tests/Loader/CollectibleAssemblies/ByRefLocals/Unloaded.csproj
Labels: area-VM-coreclr

#40321 [mono] Pass delegate target when using CreateDelegate
  src/libraries/System.Runtime/tests/System/DelegateTests.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Delegate.Mono.cs
Labels: area-CoreLib-mono

#40362 System.Diagnostics.Activity Perf Improvement
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
Labels: area-Diagnostics-coreclr

#39548 Add wasm runs
  eng/common/performance/microbenchmarks.proj
  eng/common/performance/performance-setup.sh
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
Labels: area-Infrastructure-coreclr

#40225 [test] fix hang in macOS variants of reverse diagnostics server tests
  src/coreclr/src/debug/debug-pal/unix/diagnosticsipc.cpp
  src/coreclr/src/debug/inc/diagnosticsipc.h
  src/coreclr/src/vm/diagnosticserver.cpp
  src/coreclr/src/vm/ipcstreamfactory.cpp
  src/tests/tracing/eventpipe/common/IpcUtils.cs
  src/tests/tracing/eventpipe/common/Reverse.cs
  src/tests/tracing/eventpipe/reverseouter/reverseouter.cs
Labels: area-Tracing-coreclr, os-mac-os-x, test bug

#40167 Adding support for X86Base.CpuId
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/X86Base.CoreCLR.cs
  src/coreclr/src/classlibnative/bcltype/system.cpp
  src/coreclr/src/classlibnative/bcltype/system.h
  src/coreclr/src/vm/amd64/AsmHelpers.asm
  src/coreclr/src/vm/amd64/unixstubs.cpp
  src/coreclr/src/vm/cgensys.h
  src/coreclr/src/vm/codeman.cpp
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/i386/cgenx86.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Bmi1.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Bmi1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Bmi2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Bmi2.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Lzcnt.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Lzcnt.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Sse.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Sse.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/X86Base.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/X86Base.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/X86Base.Mono.cs
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId.cs
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId_ro.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_34587/Runtime_34587.cs
Labels: area-CodeGen-coreclr, new-api-needs-documentation

#40352 Build Globalization native shim as C++ and don't define __typeof
  src/libraries/Native/Unix/Common/pal_compiler.h
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal.h
  src/libraries/Native/Unix/System.Native/pal_networkstatistics.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
Labels: area-Infrastructure-coreclr

#40146 [wasm] Moving wasm debugger to dotnet/runtime
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/BrowserDebugHost/BrowserDebugHost.csproj
  src/mono/wasm/debugger/BrowserDebugHost/Program.cs
  src/mono/wasm/debugger/BrowserDebugHost/Startup.cs
  src/mono/wasm/debugger/BrowserDebugHost/TestHarnessStartup.cs
  src/mono/wasm/debugger/BrowserDebugProxy/AssemblyInfo.cs
  src/mono/wasm/debugger/BrowserDebugProxy/BrowserDebugProxy.csproj
  src/mono/wasm/debugger/BrowserDebugProxy/BrowserDebugProxy.sln
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DebuggerProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/EvaluateExpression.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ArrayTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/CallFunctionOnTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DateTimeTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestSuite.csproj
  src/mono/wasm/debugger/DebuggerTestSuite/DelegateTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DevToolsClient.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/InspectorClient.cs
  src/mono/wasm/debugger/DebuggerTestSuite/PointerTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/appsettings.json
  src/mono/wasm/debugger/tests/debugger-array-test.cs
  src/mono/wasm/debugger/tests/debugger-cfo-test.cs
  src/mono/wasm/debugger/tests/debugger-datetime-test.cs
  src/mono/wasm/debugger/tests/debugger-driver.html
  src/mono/wasm/debugger/tests/debugger-evaluate-test.cs
  src/mono/wasm/debugger/tests/debugger-pointers-test.cs
  src/mono/wasm/debugger/tests/debugger-test.cs
  src/mono/wasm/debugger/tests/debugger-test.csproj
  src/mono/wasm/debugger/tests/debugger-test2.cs
  src/mono/wasm/debugger/tests/debugger-valuetypes-test.cs
  src/mono/wasm/debugger/tests/dependency.cs
  src/mono/wasm/debugger/tests/other.js
  src/mono/wasm/debugger/tests/runtime-debugger.js
  src/mono/wasm/runtime/library_mono.js
  tools-local/tasks/mobile.tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: area-Debugger-mono

#40421 Turnoff wasm runs for CI
  eng/pipelines/coreclr/perf.yml
Labels: area-Infrastructure-coreclr

#40405 [mono] Don't save byref `System.Void` into `MonoDomain::typeof_void`.
  src/mono/mono/metadata/reflection.c
Labels: area-Build-mono

#40404 Fix crossgenning of sparse COM interface types on non-Windows and add test
  src/coreclr/src/zap/zapimage.cpp
  src/tests/baseservices/typeequivalence/contracts/TypeContracts.csproj
  src/tests/baseservices/typeequivalence/impl/TypeImpl.csproj
  src/tests/baseservices/typeequivalence/simple/Simple.cs
  src/tests/baseservices/typeequivalence/simple/Simple.csproj
Labels: area-Interop-coreclr, auto-merge

#40437 Fix -numproc script handling
  eng/native/build-commons.sh
Labels: area-Infrastructure-coreclr

#40429 [browser] Consider debug levels less than zero disabled
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-Debugger-mono

#39169 Add HeaderEncodingSelector to MultipartContent
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/MultipartContent.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MultipartContentTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/MultipartContentTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http, new-api-needs-documentation

#36252 Improve dictionary lookup perf for OrdinalIgnoreCase
  src/libraries/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.cs
  src/libraries/System.Collections/tests/Generic/Dictionary/HashCollisionScenarios/OutOfBoundsRegression.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/HashSet.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/IInternalStringEqualityComparer.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/NonRandomizedStringEqualityComparer.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/RandomizedStringEqualityComparer.cs
  src/libraries/System.Private.CoreLib/src/System/String.Comparison.cs
  src/libraries/System.Private.CoreLib/src/System/StringComparer.cs
  src/libraries/System.Resources.Extensions/tests/TestData.resources
Labels: area-System.Collections, enhancement, tenet-performance

#40433 Fix Docker cross-build command
  docs/workflow/requirements/freebsd-requirements.md
Labels: area-Infrastructure-coreclr

#40299 Define SIGSTOP 23 for architecture mips
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/pal_process.c
  src/libraries/Native/Unix/System.Native/pal_process.h
Labels: area-System.Diagnostics.Process

#40329 Remove EventSourceAttribute usages when EventSource feature is disabled
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
Labels: area-Infrastructure-coreclr

#40340 Check more patterns for retBuffer.
  src/coreclr/scripts/superpmi.py
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen-coreclr

#39460 [System.Console] Fix manual test
  src/libraries/System.Console/src/System/IO/StdInReader.cs
  src/libraries/System.Console/tests/ManualTests/ManualTests.cs
  src/libraries/System.Console/tests/ManualTests/Readme.md
Labels: area-System.Console

#40417 Fix several typos in bash script generation for Crossgen2
  src/coreclr/tests/src/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#40474 Add nodejs and npm install for lab machines
  eng/pipelines/coreclr/templates/run-performance-job.yml
Labels: area-Infrastructure-coreclr

#40458 [browser] Re-enable debug_levels less than zero
  src/mono/wasm/runtime/driver.c
Labels: area-Infrastructure-coreclr

#40467 Simplify JS interop for Blazor WebAssembly
  src/mono/wasm/runtime/dotnet_support.js
  src/mono/wasm/runtime/driver.c
Labels: area-Interop-coreclr

#40434 JIT: Properly handle a switch opt case during early flow opts
  src/coreclr/src/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#40476 map TcpListener APM methods to Task-based methods
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPListener.cs
Labels: area-System.Net.Sockets

#40468 Fixes for QUIC and HTTP/3
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Implementations/MsQuic/Internal/MsQuicAddressHelpers.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Implementations/MsQuic/Internal/MsQuicSession.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Interop/Interop.MsQuic.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Interop/MsQuicEnums.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Interop/MsQuicNativeMethods.cs
  src/libraries/Common/tests/System/Net/Http/Http3LoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTestBase.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/AltSvcHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpAuthority.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AltSvc.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System/Net/HttpVersion.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslApplicationProtocol.cs
  src/libraries/System.Net.Security/src/System/Net/Security/TlsFrameHelper.cs
Labels: area-System.Net.Http

#40124 [Arm64] Treat Math/MathF.FusedMultiplyAdd as intrinsics
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/lower.h
  src/coreclr/src/jit/lowerarmarch.cpp
  src/coreclr/src/jit/lsraarm64.cpp
Labels: arch-arm64, area-CodeGen-coreclr

#40104 Allow execution of R2R code in singlefile app on windows.
  src/coreclr/src/utilcode/pedecoder.cpp
  src/coreclr/src/vm/peimagelayout.cpp
  src/coreclr/src/vm/peimagelayout.h
Labels: area-Host

#40488 Import array access as OBJ for structs.
  src/coreclr/src/jit/importer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_40440/Runtime_40440.cs
  src/tests/JIT/Regression/JitBlue/Runtime_40440/Runtime_40440.csproj
Labels: area-CodeGen-coreclr

#40448 Remove workaround in DefaultValueAttributeCtorTest trimming test
  src/libraries/System.Runtime/tests/TrimmingTests/DefaultValueAttributeCtorTest.cs
Labels: area-System.ComponentModel

#40432 Fix gc stress coverage handling of epilogs on X86
  src/coreclr/src/vm/gccover.cpp
Labels: area-VM-coreclr

#40295 Add nullability annotations for *XPath* files in Xml/Dom and Xml/Xsl
  src/libraries/System.Private.Xml/src/System/Xml/Dom/DocumentXPathNavigator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Dom/DocumentXmlWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Dom/XmlElement.cs
  src/libraries/System.Private.Xml/src/System/Xml/Dom/XmlNode.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/IXPathEnvironment.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/IXpathBuilder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathAxis.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathBuilder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathCompileException.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathContext.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathOperator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathParser.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathQilFactory.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPath/XPathScanner.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPathConvert.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/XPathPatternBuilder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/XPathPatternParser.cs
Labels: area-System.Xml

#39973 Make ComponentModel intrinsic TypeConverters linker-safe
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.ReflectedTypeData.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TrimmingTests/TypeConverterTest.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
Labels: area-System.ComponentModel

#40493 Remove dynamic caching from EEJitManager::ResolveEHClause
  src/coreclr/src/vm/codeman.cpp
  src/coreclr/src/vm/codeman.h
Labels: area-CodeGen-coreclr

#40457 Implement platform guards in OperatingSystem class
  src/coreclr/clr.featuredefines.props
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/OperatingSystem.cs
  src/libraries/System.Runtime.Extensions/tests/System/OperatingSystemTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-System.Runtime, new-api-needs-documentation

#40400 Trim async debugging when debugging feature is disabled
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.Shared.xml
Labels: area-Infrastructure-coreclr

#40373 Remove new platform members from OSPlatform
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFilesTestsBase.Unix.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System.Runtime.InteropServices.RuntimeInformation.csproj
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/OSPlatform.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Browser.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.PlatformVersion.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Unix.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Windows.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/CheckPlatformTests.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/PlatformVersionTests.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/System.Runtime.InteropServices.RuntimeInformation.Tests.csproj
Labels: area-System.Runtime.InteropServices

#40135 Enable CBOR property tests in CI runs
  src/libraries/System.Formats.Cbor/tests/PropertyTests/CborPropertyTests.cs
  src/libraries/System.Formats.Cbor/tests/System.Formats.Cbor.Tests.csproj
Labels: area-System.Security

#40017 [mono][interp] Optimize box+unbox to no-op
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#39446 [Wasm] Ensure monovm_initialize is called on startup and address other startup items
  src/libraries/Common/tests/TestUtilities/System/AssemblyPathHelper.cs
  src/libraries/Common/tests/TestUtilities/TestUtilities.csproj
  src/libraries/System.CodeDom/tests/System/CodeDom/Compiler/CompilerResultsTests.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ClientConfigPaths.cs
  src/libraries/System.Diagnostics.StackTrace/tests/StackTraceSymbolsTests.cs
  src/libraries/System.Diagnostics.StackTrace/tests/System.Diagnostics.StackTrace.Tests.csproj
  src/libraries/System.Reflection.Metadata/tests/Metadata/Decoding/CustomAttributeDecoderTests.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/Decoding/SignatureDecoderTests.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/TestUtils/CoreMetadataAssemblyResolver.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/TestUtils/TestUtils.JittedRuntimes.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/TestUtils/TestUtils.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/MetadataLoadContext/PathAssemblyResolver.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/MetadataLoadContext/Scenarios.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/RestrictedApis/RestrictedApis.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/Type/TypeTests.cs
  src/libraries/System.Reflection/tests/AssemblyNameTests.cs
  src/libraries/System.Reflection/tests/AssemblyTests.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/RuntimeIdentifierTests.cs
  src/libraries/System.Runtime.Loader/tests/SatelliteAssemblies.cs
  src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs
  src/mono/mono/metadata/appdomain.h
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm

#40478 [Wasm] Rename System.Runtime.InteropServices.JavaScript to System.Private.Runtime.InteropServices.JavaScript
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/Directory.Build.props
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/System.Private.Runtime.InteropServices.JavaScript.sln
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/ILLinkTrim.xml
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/Resources/Strings.resx
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System.Private.Runtime.InteropServices.JavaScript.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/AnyRef.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/ArrayBuffer.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/CoreObject.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/DataView.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Float32Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Float64Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Function.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/HostObject.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Int16Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Int32Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Int8Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSException.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Map.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Runtime.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/SharedArrayBuffer.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/TypedArray.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Uint16Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Uint32Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Uint8Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Uint8ClampedArray.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/AssemblyInfo.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System.Private.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/ArrayTests.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/DataViewTests.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/HelperMarshal.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/Http/HttpRequestMessageTest.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/JavaScriptTests.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/MapTests.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/MarshalTests.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/TypedArrayTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/ref/System.Runtime.InteropServices.JavaScript.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/ref/System.Runtime.InteropServices.JavaScript.csproj
  src/libraries/pkg/baseline/packageIndex.json
  src/mono/wasm/debugger/tests/debugger-test.csproj
  src/mono/wasm/runtime-test.js
  src/mono/wasm/runtime/binding_support.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#40459 Fix nullable annotation for ImmutableInterlocked.Update methods
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableInterlocked.cs
Labels: area-System.Collections

#40505 Address additional feedback from #40172
  eng/illink.targets
  src/libraries/illink-sharedframework.targets
Labels: area-Infrastructure-libraries

#40464 Increase multiple HTTP/2 connections test timeouts again
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, test-run-core

#40446 [JsonSerializer] Verify null can't be assigned to non-nullable structs
  src/libraries/System.Text.Json/tests/Serialization/Array.ReadTests.cs
  src/libraries/System.Text.Json/tests/Serialization/Null.ReadTests.cs
Labels: area-System.Text.Json

#40508 Add code to preserve public fields of input types to JsonSerializer
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/tests/TrimmingTests/Helper.cs
Labels: area-System.Text.Json

#40517 Disable formatting for outerloop.
  eng/pipelines/coreclr/ci.yml
Labels: area-Infrastructure-coreclr, disabled-test

#40482 Handle 16 byte HFA fields in arm64 profiler
  src/coreclr/src/vm/arm64/profiler.cpp
Labels: area-CodeGen-coreclr

#40492 Add -y to apt-get install commands
  eng/pipelines/coreclr/templates/run-performance-job.yml
Labels: area-Infrastructure-coreclr

#40300 Fix Japanese Abbreviated Era Names
  src/libraries/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoTests.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GregorianCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/JapaneseCalendar.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/JapaneseCalendar.cs
Labels: area-System.Globalization

#40471 Minimum CMake downgrade for Linux (#39044)
  eng/native/build-commons.sh
  eng/native/configurecompiler.cmake
  eng/native/configureplatform.cmake
  eng/native/functions.cmake
  eng/native/gen-buildsys.sh
  src/coreclr/CMakeLists.txt
  src/coreclr/pgosupport.cmake
  src/coreclr/src/ToolBox/SOS/DacTableGen/CMakeLists.txt
  src/coreclr/src/binder/CMakeLists.txt
  src/coreclr/src/classlibnative/bcltype/CMakeLists.txt
  src/coreclr/src/classlibnative/float/CMakeLists.txt
  src/coreclr/src/debug/debug-pal/CMakeLists.txt
  src/coreclr/src/debug/ee/wks/CMakeLists.txt
  src/coreclr/src/debug/ildbsymlib/CMakeLists.txt
  src/coreclr/src/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/src/dlls/mscorrc/CMakeLists.txt
  src/coreclr/src/gcinfo/CMakeLists.txt
  src/coreclr/src/inc/CMakeLists.txt
  src/coreclr/src/interop/CMakeLists.txt
  src/coreclr/src/jit/static/CMakeLists.txt
  src/coreclr/src/md/ceefilegen/CMakeLists.txt
  src/coreclr/src/md/compiler/CMakeLists.txt
  src/coreclr/src/md/enc/CMakeLists.txt
  src/coreclr/src/md/hotdata/CMakeLists.txt
  src/coreclr/src/md/runtime/CMakeLists.txt
  src/coreclr/src/pal/src/CMakeLists.txt
  src/coreclr/src/pal/src/eventprovider/dummyprovider/CMakeLists.txt
  src/coreclr/src/pal/src/eventprovider/lttngprovider/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/eventprovider/CMakeLists.txt
  src/coreclr/src/unwinder/CMakeLists.txt
  src/coreclr/src/utilcode/CMakeLists.txt
  src/coreclr/src/vm/CMakeLists.txt
  src/coreclr/src/vm/eventing/CMakeLists.txt
  src/coreclr/src/vm/eventing/EtwProvider/CMakeLists.txt
  src/coreclr/src/vm/eventing/eventpipe/CMakeLists.txt
  src/coreclr/src/vm/wks/CMakeLists.txt
  src/installer/corehost/CMakeLists.txt
  src/installer/corehost/cli/apphost/static/CMakeLists.txt
  src/installer/corehost/cli/exe.cmake
  src/installer/corehost/cli/fxr/standalone/CMakeLists.txt
  src/installer/corehost/cli/test/mockhostfxr/CMakeLists.txt
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
  src/tests/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#40344 add NetworkException
  src/libraries/Common/src/System/Net/NetworkErrorHelper.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Connections/SocketConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpConnectionFactory.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/Resources/Strings.resx
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/libraries/System.Net.Primitives/src/System/Net/NetworkError.cs
  src/libraries/System.Net.Primitives/src/System/Net/NetworkException.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/NetworkExceptionTest.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Labels: area-System.Net, new-api-needs-documentation

#40495 [JsonSerializer] Prevent arbitrary properties from being cached when deserializing with parameterized ctors
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/tests/Serialization/ConstructorTests/ConstructorTests.ParameterMatching.cs
Labels: area-System.Text.Json

#40483 Fix Issue #877 - Use GT_OBJ when copying a struct
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen-coreclr

#40431 Make Extensions linker friendly.
  src/libraries/Common/src/Extensions/ProviderAliasUtilities/ProviderAliasUtilities.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/Microsoft.Extensions.Hosting.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/ServiceCollectionHostedServiceExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/TrimmingTests/AddHostedServiceTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/TrimmingTests/Microsoft.Extensions.Hosting.TrimmingTests.proj
  src/libraries/Microsoft.Extensions.Http/Microsoft.Extensions.Http.sln
  src/libraries/Microsoft.Extensions.Http/src/DefaultTypedHttpClientFactory.cs
  src/libraries/Microsoft.Extensions.Http/src/DependencyInjection/HttpClientBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Http/src/DependencyInjection/HttpClientFactoryServiceCollectionExtensions.cs
  src/libraries/Microsoft.Extensions.Http/src/ITypedHttpClientFactory.cs
  src/libraries/Microsoft.Extensions.Http/src/Microsoft.Extensions.Http.csproj
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/DefaultHttpClientFactoryTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/DefaultHttpMessageHandlerBuilderTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/DependencyInjection/HttpClientFactoryServiceCollectionExtensionsTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/DependencyInjection/OtherTestOptions.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/HttpMessageHandlerBuilderTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/ITestTypedClient.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/HttpHeadersLogValueTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/RedactedLogValueIntegrationTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Microsoft.Extensions.Http.Tests.csproj
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/TestTypedClient.cs
  src/libraries/Microsoft.Extensions.Http/tests/TrimmingTests/AddTypedClientTests.cs
  src/libraries/Microsoft.Extensions.Http/tests/TrimmingTests/Microsoft.Extensions.Http.TrimmingTests.proj
  src/libraries/Microsoft.Extensions.Logging.Console/Microsoft.Extensions.Logging.Console.sln
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/FormatterOptionsMonitor.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/AnsiParserTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/Console/ConsoleContext.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/Console/ConsoleSink.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/Console/TestConsole.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleFormatterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleLoggerExtensionsTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleLoggerTest.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/JsonConsoleFormatterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/Microsoft.Extensions.Logging.Console.Tests.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/SimpleConsoleFormatterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/TestFormatterOptionsMonitor.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/TextWriterExtensionsTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/TrimmingTests/AddConsoleFormatterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/TrimmingTests/Microsoft.Extensions.Logging.Console.TrimmingTests.proj
  src/libraries/tests.proj
Labels: area-Microsoft.Extensions

#40460 [Wasm] Add simple browser sample
  src/mono/netcore/sample/wasm/browser/Makefile
  src/mono/netcore/sample/wasm/browser/Program.cs
  src/mono/netcore/sample/wasm/browser/WasmSample.csproj
  src/mono/netcore/sample/wasm/browser/index.html
  src/mono/netcore/sample/wasm/browser/runtime.js
  src/mono/netcore/sample/wasm/browser/server.py
  src/mono/netcore/sample/wasm/console/Makefile
  src/mono/netcore/sample/wasm/console/Program.cs
  src/mono/netcore/sample/wasm/console/WasmSample.csproj
Labels: arch-wasm

#40502 Fix covariant override disassembly
  src/coreclr/src/ildasm/dasm.cpp
  src/tests/Loader/classloader/MethodImpl/CovariantReturns/UnitTest/CompatibleWithTest.ilproj
Labels: area-ILTools-coreclr

#40472 [mono] Allow creating `TypedReference *` and `TypedReference &` via reflection.
  src/libraries/System.Runtime/tests/System/Type/TypePropertyTests.cs
  src/libraries/System.Runtime/tests/System/Type/TypeTests.cs
  src/mono/mono/metadata/icall.c
Labels: area-System.Reflection

#40136 Reduced code size and optimized name key creation for JSON properties and parameters
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.Cache.cs
Labels: area-System.Text.Json, tenet-performance

#40485 Sign and add entitlements to createdump and host binaries
  eng/Subsets.props
  eng/pipelines/common/createdump-entitlements.plist
  eng/pipelines/common/entitlements.plist
  eng/pipelines/common/macos-sign-with-entitlements.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
Labels: area-Diagnostics-coreclr

#40540 Remove performance runs from CI
  eng/pipelines/coreclr/perf.yml
Labels: area-Infrastructure-coreclr

#40480 [wasm] [debugger] Support Exception Break on Debugger (handled and unhandled)
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/debugger/BrowserDebugHost/BrowserDebugHost.csproj
  src/mono/wasm/debugger/BrowserDebugProxy/AssemblyInfo.cs
  src/mono/wasm/debugger/BrowserDebugProxy/BrowserDebugProxy.csproj
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ExceptionTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
  src/mono/wasm/debugger/tests/debugger-exception-test.cs
  src/mono/wasm/debugger/tests/other.js
  src/mono/wasm/runtime/library_mono.js
Labels: area-Diagnostics-coreclr

#40500 Fix StringBuilder AV
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Runtime/tests/System/Text/StringBuilderTests.cs
Labels: area-System.Runtime

#40355 Continue updating previous generic dictionaries after expansion
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/vm/genericdict.cpp
  src/coreclr/src/vm/genericdict.h
  src/coreclr/src/vm/generics.cpp
  src/coreclr/src/vm/genmeth.cpp
  src/coreclr/src/vm/method.cpp
  src/coreclr/src/vm/methodtable.cpp
  src/coreclr/src/vm/methodtable.h
  src/coreclr/src/vm/methodtable.inl
  src/coreclr/src/vm/methodtablebuilder.cpp
Labels: area-VM-coreclr

#40504 Update using-dotnet-cli.md
  docs/workflow/testing/using-your-build.md
  docs/workflow/using-dotnet-cli.md
Labels: area-Infrastructure-coreclr

#40496 When returning single-register local variable use V0 as the candidate for source operand of GT_RETURN
  src/coreclr/src/jit/lsrabuild.cpp
Labels: arch-arm64, area-CodeGen-coreclr

#40441 [Arm64] Treat methods of non-generic Vector64 and Vector128 classes as intrinsics
  src/coreclr/src/zap/zapinfo.cpp
Labels: arch-arm64, area-CrossGen/NGEN-coreclr

#40515 Reenable a test.
  src/coreclr/tests/issues.targets
Labels: area-CodeGen-coreclr

#40563 Superpmi: adjust relocations
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/src/jit/emit.cpp
Labels: area-CodeGen-coreclr

#40535 Minimal fix for Issue 620
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_620/Runtime_620.cs
  src/tests/JIT/Regression/JitBlue/Runtime_620/Runtime_620.csproj
Labels: area-CodeGen-coreclr

#40110 include more details in exception if remote certificate validation fails
  src/libraries/System.Net.Security/src/Resources/Strings.resx
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
Labels: area-System.Net.Security

#40565 fix flaky test
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#40560 Update Microsoft.CodeAnalysis.NetAnalyzers to 3.3.0-beta3.20407.4
  eng/Analyzers.props
  eng/CodeAnalysis.ruleset
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CreateProcessWithLogon.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CryptGetDefaultProvider.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateProcess.cs
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp.cs
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj
  src/libraries/System.Drawing.Common/src/System/Drawing/Printing/LibcupsNative.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/FakeInterop.cs
Labels: area-Interop-coreclr

#40548 [wasm][debugger] Add support for invoking getters on ValueTypes
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/debugger/DebuggerTestSuite/ArrayTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/CallFunctionOnTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/PointerTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Support.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-cfo-test.cs
  src/mono/wasm/debugger/tests/debugger-valuetypes-test.cs
  src/mono/wasm/debugger/tests/other.js
  src/mono/wasm/runtime/library_mono.js
Labels: arch-wasm, area-Debugger-mono

#40303 make ssl tests more portable
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.SslProtocols.cs
  src/libraries/Common/tests/System/Net/SslProtocolSupport.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/System.Net.Http.WinHttpHandler.Functional.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TransportContextTest.cs
Labels: area-System.Net.Security, test enhancement

#40598 check for Null returned from Assembly.GetEntryAssembly
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs
Labels: area-Serialization

#40600 Fix typo in docs/workflow/building/libraries/REAEMD.md
  docs/workflow/building/libraries/README.md
Labels: area-Infrastructure-coreclr

#40520 Use new OS checks in src
  src/libraries/Common/src/Extensions/CommandLineUtils/Utilities/DotNetMuxer.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Interop/MsQuicStatusCodes.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Quic/Interop/MsQuicStatusHelper.cs
  src/libraries/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/Hosting/DirectoryCatalog.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CryptoConfig.cs
Labels: area-Meta

#40498 [aot] Fix the handling of r4/r8 parameter types with attributes during generic sharing.
  src/mono/mono/mini/mini-generic-sharing.c
Labels: area-Codegen-AOT-mono, mono-mirror

#39191 Support extra compiler flags during building
  docs/workflow/building/coreclr/README.md
  eng/build.sh
  eng/native/build-commons.sh
Labels: area-Infrastructure-coreclr
