Repository dotnet/runtime, pull requests merged in 2020-05, with the labels that each got.

#35621 Cleanup src/coreclr/src/inc/src/metadata.h
  src/coreclr/src/debug/di/module.cpp
  src/coreclr/src/ilasm/ilasmpch.h
  src/coreclr/src/ildasm/dasm.cpp
  src/coreclr/src/ildasm/dasm_mi.cpp
  src/coreclr/src/ildasm/ildasmpch.h
  src/coreclr/src/inc/mdfileformat.h
  src/coreclr/src/inc/metadata.h
  src/coreclr/src/inc/metamodelpub.h
  src/coreclr/src/inc/sstring.h
  src/coreclr/src/inc/stgpool.h
  src/coreclr/src/md/compiler/stdafx.h
  src/coreclr/src/md/datasource/stdafx.h
  src/coreclr/src/md/enc/CMakeLists.txt
  src/coreclr/src/md/enc/stdafx.h
  src/coreclr/src/md/inc/liteweightstgdb.h
  src/coreclr/src/md/inc/metamodel.h
  src/coreclr/src/md/inc/metamodelrw.h
  src/coreclr/src/md/runtime/CMakeLists.txt
  src/coreclr/src/md/runtime/stdafx.h
  src/coreclr/src/md/winmd/stdafx.h
  src/coreclr/src/unwinder/stdafx.h
  src/coreclr/src/utilcode/util.cpp
  src/coreclr/src/vm/assemblyloadcontext.h
  src/coreclr/src/vm/common.h
Labels: area-VM-coreclr, auto-merge

#35547 Strip the ILLinkTrim.xml file from System.Private.Xml
  eng/illink.targets
  src/libraries/System.Data.Common/src/System.Data.Common.csproj
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SqlXml.cs
  src/libraries/System.Private.Xml/src/ILLinkTrim_LibraryBuild.xml
Labels: area-System.Xml

#35660 [wasm] Integrate the m2n-gen.cs tool into mcs/tools/wasm-tuner.
  src/mono/mono/mini/m2n-gen.cs
  src/mono/mono/mini/wasm_m2n_invoke.g.h
Labels: mono-mirror

#35295 [libraries] Build lib-runtime-packs for all of mono, not just mobile
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/Native/native-binplace.proj
  src/libraries/restore/runtime/runtime.depproj
Labels: area-Infrastructure-mono

#35663 IntroSort minor cleanup, remove unnecessary 'hi'
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ArraySortHelper.cs
Labels: area-System.Collections

#35665 [mono] Pass category=failing and category=outerloop to Android and iOS
  .config/dotnet-tools.json
  eng/testing/tests.targets
  src/mono/msbuild/AndroidTestRunner/AndroidTestRunner.cs
  src/mono/msbuild/AppleTestRunner/AppleTestRunner.cs
Labels: area-Infrastructure-mono

#35512 Remove FromAsync usage from TcpClient
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs
Labels: area-System.Net.Sockets

#35709 [eng] Fix condition on RunTestsCommand property
  eng/testing/tests.targets
Labels: area-Infrastructure

#35644 Change ManagedWebSocket to send pong frame for keep-alive
  src/libraries/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#35711 Update nullability.md with note about Try methods and [NotNullWhen(true)]
  docs/coding-guidelines/api-guidelines/nullability.md
Labels: area-Infrastructure

#35707 Arm64: Add TBL and TBX emitter tests and make displayer always emit 16B.
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr

#35673 Pointer types are decomposable by the JIT
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tests/issues.targets
Labels: area-CodeGen-coreclr

#35708 Fix comment on CancellationTokenRegistration.Token
  src/libraries/System.Private.CoreLib/src/System/Threading/CancellationTokenRegistration.cs
Labels: area-Infrastructure

#35701 Remove an unnecessary check from fgMakeOutgoingStructArgCopy.
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen-coreclr

#35721 Fix test after TcpClient change
  src/libraries/System.Net.Sockets/tests/FunctionalTests/TcpClientTest.cs
Labels: area-System.Net

#35576 Crossgen2: Support HVA for ARM64
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/regalloc.cpp
  src/coreclr/src/tools/Common/Compiler/VectorFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/DefType.FieldLayout.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/FieldLayoutAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/TargetDetails.cs
  src/coreclr/src/tools/Common/TypeSystem/RuntimeDetermined/RuntimeDeterminedFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeFixupSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/SystemObjectFieldLayoutAlgorithm.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/TransitionBlock.cs
  src/coreclr/src/vm/callingconvention.h
  src/coreclr/src/vm/class.cpp
Labels: arch-arm64, area-crossgen2-coreclr

#35732 Fix CoreCLR incremental builds
  eng/versioning.targets
Labels: area-Infrastructure

#35741 fix handling of COMPlus_ZapDisable
  src/coreclr/src/vm/appdomain.cpp
Labels: area-ReadyToRun-coreclr

#35723 Fix ZeroInit of finally vars
  src/coreclr/src/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr

#35513 Remove FromAsync usage from SendPacketsAsync on Unix
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
Labels: area-System.Net.Sockets

#35742 build HTTP on FreeBSD once again
  src/libraries/Common/src/Interop/FreeBSD/Interop.Libraries.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
Labels: area-System.Net.Http, os-freebsd

#35710 Remove FromAsync usage from System.Net.NetworkInformation
  src/libraries/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/SystemIPGlobalProperties.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/IPGlobalPropertiesTest.cs
Labels: area-System.Net

#35739 Fix spurious error message in libnethost.lib scenarios
  src/installer/corehost/cli/hostmisc/pal.windows.cpp
Labels: area-Host

#35169 Use GDI+1.1 API set in Windows 8 and later
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/libraries/System.Drawing.Common/tests/BitmapTests.cs
  src/libraries/System.Drawing.Common/tests/GdiplusTests.cs
Labels: area-System.Drawing

#35575 Improve ContinueWith perf with NotOn* options
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs
Labels: area-System.Threading.Tasks, tenet-performance

#35246 [CBOR] Implement Conformance Levels
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Helpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborRoundtripTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Helpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
Labels: area-System.Security

#35750 Ensure the function pointer being returned is from an active method.
  src/coreclr/src/vm/runtimehandles.cpp
Labels: area-VM-coreclr, auto-merge

#35767 Revert "Add Reverse Diagnostics Server"
  src/coreclr/src/debug/debug-pal/unix/diagnosticsipc.cpp
  src/coreclr/src/debug/debug-pal/win/diagnosticsipc.cpp
  src/coreclr/src/debug/inc/diagnosticsipc.h
  src/coreclr/src/inc/clrconfigvalues.h
  src/coreclr/src/inc/corhlprpriv.h
  src/coreclr/src/vm/CMakeLists.txt
  src/coreclr/src/vm/diagnosticserver.cpp
  src/coreclr/src/vm/diagnosticserver.h
  src/coreclr/src/vm/diagnosticsprotocol.h
  src/coreclr/src/vm/ipcstreamfactory.cpp
  src/coreclr/src/vm/ipcstreamfactory.h
  src/coreclr/tests/src/tracing/eventpipe/common/Reverse.cs
  src/coreclr/tests/src/tracing/eventpipe/common/common.csproj
  src/coreclr/tests/src/tracing/eventpipe/reverse/reverse.cs
  src/coreclr/tests/src/tracing/eventpipe/reverse/reverse.csproj
Labels: area-Infrastructure

#35757 Baseline SimpleSIMDProgram failing with CG2; fix typo in build-test.cmd
  src/coreclr/build-test.cmd
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#35768 Fix minor typo in comment.
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
Labels: area-System.Diagnostics.Tracing

#35714 Remove FromAsync usage from TcpListener
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPListener.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/TcpListenerTest.cs
Labels: area-System.Net.Sockets

#35770 Fix some incorrect warnings in LiveBuilds.targets
  eng/liveBuilds.targets
Labels: area-Infrastructure

#35595 [Wasm] Additional signatures for SkiaSharp interop
  src/mono/mono/mini/wasm_m2n_invoke.g.h
Labels: mono-mirror

#35330 Parallelize epoll events on thread pool and process events in the same thread
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Labels: area-System.Net.Sockets, os-linux, tenet-performance

#35765 SpanHelpers use nuint rather than byte* and IntPtr
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Char.cs
Labels: area-System.Memory

#35582 Address the System.Diagnostics Feedback
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityContext.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityContext.netcoreapp.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityContext.netfx.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityEvent.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityLink.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityLink.netcoreapp.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityLink.netfx.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityListener.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
Labels: area-System.Diagnostics.Tracing

#35774 Add error handling in build.sh
  eng/build.sh
Labels: area-Infrastructure

#35715 Fix ManagedWebSocket.CloseAsync cancellation
  src/libraries/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs
Labels: area-System.Net

#35597 Incomplete read ordering in CastCache::Get
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Threading/Interlocked.CoreCLR.cs
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/inc/volatile.h
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/instr.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.Intrinsics.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/vm/castcache.cpp
  src/coreclr/src/vm/comutilnative.cpp
  src/coreclr/src/vm/comutilnative.h
  src/coreclr/src/vm/ecalllist.h
Labels: area-VM-coreclr

#35778 [interp] Move label outside of main loop
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono

#35538 Update SDK and remove RID calculation in favor of RuntimeInformation
  Build.proj
  Directory.Build.props
  eng/Configurations.props
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/installer/jobs/steps/build-linux-package.yml
  eng/pipelines/libraries/build-job.yml
  eng/restore/runtimeprops.targets
  global.json
  src/installer/Directory.Build.props
  src/installer/Directory.Build.targets
  src/installer/pkg/Directory.Build.targets
  src/installer/test/Directory.Build.targets
  src/libraries/Directory.Build.props
  tools-local/scripts/dev/master-build-deb-rpm-docker.sh
  tools-local/tasks/installer.tasks/GetTargetMachineInfo.cs
  tools-local/tasks/installer.tasks/installer.tasks.csproj
Labels: area-Infrastructure

#35285 Enable dotnet test in libraries
  .config/dotnet-tools.json
  Directory.Build.targets
  docs/workflow/building/libraries/code-coverage.md
  eng/Versions.props
  eng/referenceFromRuntime.targets
  eng/references.targets
  eng/testing/.runsettings
  eng/testing/coverage.props
  eng/testing/coverage.targets
  eng/testing/launchSettings.json
  eng/testing/launchSettings.targets
  eng/testing/runsettings.targets
  eng/testing/runtimeConfiguration.targets
  eng/testing/tests.props
  eng/testing/tests.targets
  eng/testing/xunit/vstest.props
  eng/testing/xunit/vstest.targets
  eng/testing/xunit/xunit.console.props
  eng/testing/xunit/xunit.console.targets
  eng/testing/xunit/xunit.props
  eng/testing/xunit/xunit.targets
  eng/versioning.targets
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj
  src/libraries/System.Transactions.Local/tests/System.Transactions.Local.Tests.csproj
  src/libraries/tests.proj
Labels: * NO MERGE *, area-Infrastructure

#35667 Fix Unix stack overflow trace logging for native failure locations
  src/coreclr/src/pal/src/exception/machexception.cpp
  src/coreclr/src/pal/src/exception/seh.cpp
  src/coreclr/src/pal/src/exception/signal.cpp
  src/coreclr/src/vm/exceptionhandling.cpp
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflow.cs
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflow.csproj
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflow3.cs
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflow3.csproj
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflowtester.cs
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflowtester.csproj
Labels: area-ExceptionHandling-coreclr

#35115 [NO_MERGE] Remove deprecated build scripts.
  src/coreclr/build.cmd
  src/coreclr/build.sh
  src/coreclr/src/build.proj
Labels: * NO MERGE *, area-Infrastructure-coreclr

#35515 [runtime] Mono ALC embedding: use public types, correct hook signature
  src/mono/mono/metadata/mono-private-unstable.h
Labels: area-VM-meta-mono

#35713 Insert missing break in hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsicarm64.cpp
Labels: area-CodeGen-coreclr

#35803 Fix-up styling to make the doc more readable
  docs/design/coreclr/botr/dac-notes.md
Labels: area-Meta

#35525 Optimize Vector4.Lerp
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.cs
Labels: area-System.Numerics, auto-merge

#35684 Make corerun exit code more useful
  src/coreclr/src/hosts/corerun/corerun.cpp
Labels: area-Host

#35680 CultureInfo and CultureData use OS information to initialize culture routines on Windows
  src/libraries/System.Globalization/tests/System/Globalization/RegionInfoTests.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
Labels: area-System.Globalization

#35812 Disable failing stack overflow test on mono.
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure, auto-merge

#33044 Remove dead field in Uri
  src/libraries/System.Private.Uri/src/System/Uri.cs
  src/libraries/System.Private.Uri/src/System/UriExt.cs
Labels: area-System.Net

#35744 fix a regression in gc_heap::get_current_allocated
  src/coreclr/src/gc/gc.cpp
Labels: area-GC-coreclr

#35421 Adding basic support for recognizing and handling SIMD intrinsics as HW intrinsics
  src/coreclr/src/jit/CMakeLists.txt
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/hwintrinsic.h
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/src/jit/hwintrinsiclistxarch.h
  src/coreclr/src/jit/hwintrinsicxarch.cpp
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lowerarmarch.cpp
  src/coreclr/src/jit/lowerxarch.cpp
  src/coreclr/src/jit/lsraxarch.cpp
  src/coreclr/src/jit/namedintrinsiclist.h
  src/coreclr/src/jit/rationalize.cpp
  src/coreclr/src/jit/simd.cpp
  src/coreclr/src/jit/simdashwintrinsic.cpp
  src/coreclr/src/jit/simdashwintrinsic.h
  src/coreclr/src/jit/simdashwintrinsiclistarm64.h
  src/coreclr/src/jit/simdashwintrinsiclistxarch.h
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2_Intrinsics.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3_Intrinsics.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4_Intrinsics.cs
Labels: area-CodeGen-coreclr

#35537 Move FreeBSD builds to DncEng Pool provider builds
  eng/pipelines/common/xplat-setup.yml
Labels: area-Infrastructure

#35690 Reduce usage of Win7 and Win8 queues, move to CI and add CI runs in Win arm/arm64
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime.yml
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DependencyInjectionEventSourceTests.cs
  src/libraries/System.Drawing.Common/tests/BitmapTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializerStressTests.cs
  src/libraries/System.Runtime/tests/System/ArgIteratorTests.cs
  src/libraries/System.Runtime/tests/System/Runtime/MemoryFailPointTests.cs
Labels: area-Infrastructure

#35811 BundleProbe: Disable a test to keep rolling builds green.
  src/installer/test/Assets/TestProjects/BundleProbeTester/Program.cs
Labels: area-Single-File

#35681 Separate registration for global ComWrappers instance for tracker support and marshalling
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/interopconverter.cpp
  src/coreclr/src/vm/interoplibinterface.cpp
  src/coreclr/src/vm/interoplibinterface.h
  src/coreclr/src/vm/metasig.h
  src/coreclr/src/vm/mscorlib.h
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.Marshalling.cs
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.TrackerSupport.cs
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.cs
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceMarshallingTests.csproj
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceTrackerSupportTests.csproj
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.PlatformNotSupported.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
Labels: area-Interop-coreclr, new-api-needs-documentation

#35820 Fix a couple of Windows createdump issues
  src/coreclr/src/debug/createdump/createdumpwindows.cpp
  src/coreclr/src/vm/ceemain.cpp
  src/coreclr/src/vm/exceptionhandling.cpp
Labels: area-Diagnostics-coreclr, auto-merge

#35782 Address some new Roslyn nullability warnings
  src/coreclr/src/System.Private.CoreLib/src/System/IO/FileLoadException.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Assembly.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/QCallHandles.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/ConstantSplittableMap.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/DictionaryToMapAdapter.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/IReadOnlyDictionaryToIMapViewAdapter.cs
  src/libraries/System.Private.CoreLib/src/System/Array.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Concurrent/ConcurrentQueue.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncTaskMethodBuilderT.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncValueTaskMethodBuilderT.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/LazyInitializer.cs
  src/libraries/System.Threading/ref/System.Threading.cs
Labels: area-Meta

#33225 Don't retype struct as primitive types in import.
  src/coreclr/src/jit/assertionprop.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/jitconfigvalues.h
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lower.h
  src/coreclr/src/jit/morph.cpp
  src/coreclr/tests/src/JIT/Directed/StructABI/StructWithOverlappingFields.cs
  src/coreclr/tests/src/JIT/Directed/StructABI/StructWithOverlappingFields.csproj
  src/coreclr/tests/src/JIT/Directed/StructABI/structreturn.cs
  src/coreclr/tests/src/JIT/Directed/StructABI/structreturn.csproj
Labels: arch-x64, area-CodeGen-coreclr, os-windows

#35822 Fix error with superpmi.py if `-output_mch_path` not used
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#35729 Compile SERP
  src/coreclr/src/tools/r2rtest/BuildOptions.cs
  src/coreclr/src/tools/r2rtest/CommandLineOptions.cs
  src/coreclr/src/tools/r2rtest/Commands/CompileSerpCommand.cs
  src/coreclr/src/tools/r2rtest/CompilerRunner.cs
  src/coreclr/src/tools/r2rtest/ComputeManagedAssemblies.cs
  src/coreclr/src/tools/r2rtest/CpaotRunner.cs
  src/coreclr/src/tools/r2rtest/PathHelpers.cs
Labels: area-crossgen2-coreclr

#35828 BundleProbe: Disable a test to keep rolling builds green.
  src/installer/test/Assets/TestProjects/BundleProbeTester/Program.cs
Labels: area-Single-File

#35794 Mark eventsourceerror test as unloadability incompatible
  src/coreclr/tests/src/tracing/eventpipe/eventsourceerror/eventsourceerror.csproj
Labels: area-System.Diagnostics.Tracing

#35781 Add soft debugger support to s390x
  src/mono/mono/arch/s390x/s390x-codegen.h
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/mini/cpu-s390x.md
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/exceptions-s390x.c
  src/mono/mono/mini/mini-s390x.c
  src/mono/mono/mini/mini-s390x.h
  src/mono/mono/mini/tramp-s390x.c
  src/mono/mono/mini/unwind.c
  src/mono/mono/utils/mono-hwcap-s390x.c
  src/mono/mono/utils/mono-hwcap-vars.h
Labels: area-Codegen-JIT-mono, mono-mirror

#35792 Preserve fields of AssemblyLoadContext since its accessed by runtime code through the MonoManagedAssemblyLoadContext structure.
  src/mono/netcore/System.Private.CoreLib/src/LinkerDescriptor/System.Private.CoreLib.xml
Labels: area-CoreLib-mono

#35829 Move test results into TestResults directory
  eng/Versions.props
  eng/testing/.runsettings
  eng/testing/coverage.targets
  eng/testing/runsettings.targets
  src/libraries/tests.proj
Labels: area-Infrastructure

#35817 Enable test for MemoryBarrierProcessWide on arm64. Update comments.
  src/libraries/System.Threading/tests/InterlockedTests.cs
Labels: area-System.Threading

#35830 Synchronize SR.cs
  src/libraries/System.Private.CoreLib/src/System/SR.cs
Labels: area-System.Runtime

#34161 removed unused vars from System.DirectoryServices
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ActiveDirectorySchemaClass.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ActiveDirectorySchemaProperty.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ActiveDirectorySite.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ConfigSet.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/DirectoryServer.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/GlobalCatalog.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/Utils.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/PropertyCollection.cs
Labels: area-System.DirectoryServices

#35813 [wasm][debugger] Fix type argument
  src/mono/mono/mini/mini-wasm-debugger.c
Labels: area-Debugger-mono, mono-mirror

#35810 S.S.C.Algorithms: Fix duplicate theories warning
  src/libraries/System.Security.Cryptography.Algorithms/tests/BlockSizeValueTests.cs
Labels: area-System.Security

#35837 Disable preEnumerateTheories for running tests
  eng/testing/xunit/xunit.runner.json
Labels: area-Infrastructure, auto-merge

#35838 Remove duplicate tests from System.Linq.Parallel.Tests
  src/libraries/System.Linq.Parallel/tests/ParallelEnumerableTests.cs
Labels: area-System.Linq.Parallel

#35808 Migrate CBOR classes to System.Formats.Cbor namespace
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Helpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborReaderTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborRoundtripTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Helpers.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor.Tests/CborWriterTests.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborConformanceLevel.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborInitialByte.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.SkipValue.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborReader.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborTag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Array.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Integer.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Map.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Simple.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.String.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.Tag.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/CborWriter.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Cbor/System.Formats.Cbor.Shared.projitems
  src/libraries/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
Labels: area-System.Security

#35763 UnmanagedCallersOnlyAttribute in load_assembly_and_get_function_pointer
  src/coreclr/src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/src/vm/comdelegate.cpp
  src/coreclr/src/vm/comdelegate.h
  src/coreclr/src/vm/corhost.cpp
  src/coreclr/src/vm/dllimportcallback.cpp
  src/coreclr/src/vm/dllimportcallback.h
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/vm/runtimehandles.cpp
  src/installer/corehost/cli/coreclr_delegates.h
  src/installer/corehost/cli/test/nativehost/host_context_test.cpp
  src/installer/test/Assets/TestProjects/ComponentWithNoDependencies/Component.cs
  src/installer/test/HostActivation.Tests/NativeHosting/ComponentActivation.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
Labels: area-Host

#35824 Reduce unnecessary Regex match attempts for expressions beginning with atomic loops
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexReductionTests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#35847 Disable NonDisposedSocket_SafeHandlesCollected test
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
Labels: area-System.Net.Sockets

#35590 ARM64 intrinsic support for Vector64.Create() and Vector128.Create()
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/emitarm64.cpp
  src/coreclr/src/jit/emitarm64.h
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/src/jit/lowerarmarch.cpp
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_35821/GitHub_35821.il
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_35821/GitHub_35821.ilproj
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
Labels: area-CodeGen-coreclr

#35648 Create CI Lane for Mono in Interpreter Mode running the runtime tests
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/send-to-helix-step.yml
  eng/pipelines/runtime.yml
  src/coreclr/tests/helixpublishwitharcade.proj
Labels: area-Infrastructure

#35368 Build an apphost with hostfxr and hostpolicy linked in
  eng/SignCheckExclusionsFile.txt
  eng/Signing.props
  eng/native/functions.cmake
  eng/native/generateexportedsymbols.awk
  eng/native/generateversionscript.awk
  src/installer/corehost/cli/CMakeLists.txt
  src/installer/corehost/cli/apphost/CMakeLists.txt
  src/installer/corehost/cli/apphost/standalone/CMakeLists.txt
  src/installer/corehost/cli/apphost/standalone/hostfxr_resolver_t.cpp
  src/installer/corehost/cli/apphost/static/CMakeLists.txt
  src/installer/corehost/cli/apphost/static/hostfxr_resolver_t.cpp
  src/installer/corehost/cli/apphost/static/hostpolicy_resolver.cpp
  src/installer/corehost/cli/dotnet/CMakeLists.txt
  src/installer/corehost/cli/exe.cmake
  src/installer/corehost/cli/fxr/CMakeLists.txt
  src/installer/corehost/cli/fxr/fx_muxer.cpp
  src/installer/corehost/cli/fxr/hostpolicy_resolver.h
  src/installer/corehost/cli/fxr/standalone/CMakeLists.txt
  src/installer/corehost/cli/fxr/standalone/hostfxr.def
  src/installer/corehost/cli/fxr/standalone/hostfxr_unixexports.src
  src/installer/corehost/cli/fxr/standalone/hostpolicy_resolver.cpp
  src/installer/corehost/cli/fxr/static/CMakeLists.txt
  src/installer/corehost/cli/hostpolicy/CMakeLists.txt
  src/installer/corehost/cli/hostpolicy/standalone/CMakeLists.txt
  src/installer/corehost/cli/hostpolicy/standalone/hostpolicy.def
  src/installer/corehost/cli/hostpolicy/standalone/hostpolicy_unixexports.src
  src/installer/corehost/cli/hostpolicy/static/CMakeLists.txt
  src/installer/corehost/cli/lib_static.cmake
  src/installer/corehost/corehost.cpp
  src/installer/corehost/hostfxr_resolver_t.h
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.Windows_NT.Microsoft.NETCore.DotNetAppHost.props
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.Host.pkgproj
  src/installer/test/Assets/TestProjects/StaticHostApp/Program.cs
  src/installer/test/Assets/TestProjects/StaticHostApp/StaticHostApp.csproj
  src/installer/test/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/StaticHost.cs
Labels: area-Host, auto-merge

#35867 Adding a clarifying comment as to why HWIntrinsicInfo::lookupIval returns an inverted comparison op
  src/coreclr/src/jit/hwintrinsic.h
Labels: area-CodeGen-coreclr, auto-merge

#35868 Revert "Restore Seperate test builds, but fix broken pipe (#35378)"
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/runtime.yml
  src/coreclr/tests/issues.targets
  src/coreclr/tests/src/Interop/COM/Activator/Activator.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyA.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyB.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyC.csproj
  src/coreclr/tests/src/Interop/COM/Activator/Servers/AssemblyContracts.csproj
  src/coreclr/tests/src/Interop/COM/ComWrappers/API/ComWrappersTests.csproj
  src/coreclr/tests/src/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceMarshallingTests.csproj
  src/coreclr/tests/src/Interop/COM/Dynamic/Dynamic.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Aggregation/NETClientAggregation.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/ConsumeNETServer/ConsumeNETServer.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Events/NETClientEvents.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/IDispatch/NETClientIDispatch.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Licensing/NETClientLicense.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  src/coreclr/tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitivesInALC.csproj
  src/coreclr/tests/src/Interop/COM/NETServer/NETServer.DefaultInterfaces.ilproj
  src/coreclr/tests/src/Interop/COM/NETServer/NETServer.csproj
  src/coreclr/tests/src/Interop/COM/Reflection/Reflection.csproj
Labels: area-Infrastructure-coreclr, auto-merge

#35793 Fixes to EtwCallback and EtwCallbackCommon:
  src/coreclr/src/vm/eventtrace.cpp
Labels: area-Tracing-coreclr

#35643 [interpreter] Fix incorrect arg storage for arm softfp interpreter
  src/mono/mono/mini/mini-arm.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#35871 Update arcade from build 20200505.6
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/CIBuild.cmd
  eng/common/PSScriptAnalyzerSettings.psd1
  eng/common/cibuild.sh
  eng/common/cross/arm/sources.list.trusty
  eng/common/cross/arm/sources.list.xenial
  eng/common/cross/arm64/sources.list.trusty
  eng/common/cross/arm64/sources.list.xenial
  eng/common/darc-init.ps1
  eng/common/darc-init.sh
  eng/common/dotnet-install.cmd
  eng/common/generate-graph-files.ps1
  eng/common/init-tools-native.cmd
  eng/common/internal/Tools.csproj
  eng/common/msbuild.ps1
  eng/common/native/install-cmake-test.sh
  eng/common/native/install-cmake.sh
  eng/common/performance/perfhelixpublish.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/common/pipeline-logging-functions.sh
  eng/common/sdk-task.ps1
  eng/common/sdl/NuGet.config
  eng/common/templates/job/performance.yml
  eng/common/templates/steps/run-script-ifequalelse.yml
  eng/pipelines/installer/jobs/base-job.yml
  global.json
  src/libraries/pkg/test/frameworkSettings/net5.0/settings.targets
Labels: area-Infrastructure, auto-merge

#35842 Remove duplicate tests from System.IO.FileSystem.Tests
  src/libraries/System.IO.FileSystem/tests/FileInfo/Open.cs
  src/libraries/System.IO.FileSystem/tests/TestData.cs
Labels: area-System.IO

#35840 Remove duplicate tests from System.Linq.Tests
  src/libraries/System.Linq/tests/ToArrayTests.cs
Labels: area-System.Linq

#35862 Fix nullable warnings in HttpStress
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
Labels: area-System.Net.Http

#35786 [mono] Enable XHarness CLI for Android tests
  .config/dotnet-tools.json
  eng/testing/AndroidRunnerTemplate.sh
  src/mono/msbuild/AndroidAppBuilder/ApkBuilder.cs
Labels: area-Infrastructure-mono, auto-merge, os-android

#34900 [mono] Reintroduce an internal Marshal class method used by the runtime
  src/coreclr/tests/issues.targets
  src/mono/netcore/System.Private.CoreLib/src/LinkerDescriptor/System.Private.CoreLib.xml
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Mono.cs
Labels: area-CoreLib-mono

#35894 Re-enable xunit.console code coverage
  .config/dotnet-tools.json
  docs/workflow/building/libraries/code-coverage.md
  eng/testing/coverage.targets
  src/libraries/tests.proj
Labels: area-Infrastructure, auto-merge

#35875 More SuperPmi Tweaks
  src/coreclr/scripts/superpmi.py
  src/coreclr/src/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#35870 Improve Crossgen2 performance via sorting improvements
  src/coreclr/src/tools/Common/Sorting/ArrayAccessor.cs
  src/coreclr/src/tools/Common/Sorting/ICompareAsEqualAction.cs
  src/coreclr/src/tools/Common/Sorting/ISortableDataStructureAccessor.cs
  src/coreclr/src/tools/Common/Sorting/ListAccessor.cs
  src/coreclr/src/tools/Common/Sorting/MergeSort.cs
  src/coreclr/src/tools/Common/Sorting/MergeSortCore.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.DependencyAnalysisFramework/DependencyAnalyzer.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.DependencyAnalysisFramework/ILCompiler.DependencyAnalysisFramework.csproj
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ArrayOfEmbeddedDataNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/HeaderNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InliningInfoNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodWithGCInfo.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunTableManager.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/SectionBuilder.cs
Labels: area-crossgen2-coreclr

#35849 Enable more formerly-failing-on-mono tests.
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure

#35898 Moved NoWriteNoSeekStreamContent to WinHttpHandler.
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/NoWriteNoSeekStreamContent.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
Labels: area-System.Net.Http

#35893 [mono] Add basic OpenSSL support for Android
  eng/testing/tests.targets
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/mono/netcore/sample/Android/Program.csproj
Labels: area-Infrastructure-mono, os-android

#35858 Fix R2R GC hole on ARM64
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
  src/coreclr/src/tools/r2rtest/CpaotRunner.cs
Labels: arch-arm64, area-ReadyToRun-coreclr

#35892 Fix Linux x86 build error related to #35552
  src/coreclr/src/vm/i386/asmconstants.h
  src/coreclr/src/vm/i386/cgenx86.cpp
  src/coreclr/src/vm/i386/jitinterfacex86.cpp
  src/coreclr/src/vm/i386/virtualcallstubcpu.hpp
Labels: area-VM-coreclr

#33024 RyuJIT: x*2 -> x+x; x*1 -> x (fp)
  src/coreclr/src/jit/morph.cpp
  src/coreclr/tests/src/JIT/opt/InstructionCombining/MulToAdd.cs
  src/coreclr/tests/src/JIT/opt/InstructionCombining/MulToAdd.csproj
Labels: area-CodeGen-coreclr

#35879 Add methods to the compilation graph without a full Entrypoint
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/AllMethodsOnTypeNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelayLoadHelperMethodImport.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
Labels: area-crossgen2-coreclr

#35873 Reduce memory usage of crossgen2 debug data
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugInfoTableNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodWithGCInfo.cs
Labels: area-crossgen2-coreclr

#35737 Fix ETWFireEvent macro to emit events correctly
  src/coreclr/src/inc/eventtracebase.h
Labels: area-Tracing-coreclr

#35901 Disable JIT.HardwareIntrinsics NotSupported runtime tests on Mono
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure

#35904 Ensure we account for intrinsics which have gtType=TYP_SIMD16 but gtSIMDSize=32
  src/coreclr/src/jit/lower.cpp
Labels: area-CodeGen-coreclr, auto-merge

#35899 Have SIMDIntrinsicUpperSave and SIMDIntrinsicUpperRestore set a baseType if one can't otherwise be determined
  src/coreclr/src/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#35913 Stop spamming System.Net.Http.Tests output with HTTP/2 skipped tests
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Cancellation.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
Labels: area-System.Net.Http, test enhancement

#35383 Add app-local support for ICU
  src/coreclr/src/System.Private.CoreLib/PinvokeAnalyzerExceptionList.analyzerdata
  src/coreclr/src/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Unix.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.cs
  src/coreclr/src/libraries-native/entrypoints.c
  src/libraries/Common/src/Interop/Interop.Collation.cs
  src/libraries/Common/src/Interop/Interop.ICU.cs
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.h
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal.h
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal_android.h
  src/libraries/System.Globalization/tests/NlsTests/NlsSwitchTests.cs
Labels: area-System.Globalization

#35799 using the new sdk hook
  eng/BeforeTargetFrameworkInference.targets
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/intellisense.targets
  src/libraries/targetframeworksuffix.props
Labels: area-Infrastructure

#35926 Reenable unmanagedcallersonly related tests
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/tests/issues.targets
  src/coreclr/tests/src/Interop/PInvoke/Vector2_3_4/Vector2_3_4.cs
  src/coreclr/tests/src/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.cs
Labels: area-Interop-coreclr

#35570 Simplify build on macOS
  docs/workflow/building/coreclr/osx-instructions.md
  docs/workflow/requirements/macos-requirements.md
  eng/install-native-dependencies.sh
  eng/native/build-commons.sh
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/build-job.yml
  src/libraries/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
Labels: area-Infrastructure

#35694 Improve HTTP/2 scaling performance
  src/libraries/Common/src/System/Net/ArrayBuffer.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Http/src/System/Threading/AsyncMutex.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/KnownHeadersTest.cs
Labels: area-System.Net.Http, tenet-performance

#35907 [mono] Fix 32bit Android build
  eng/testing/tests.targets
  src/mono/mono.proj
  src/mono/mono/metadata/threads.c
  src/mono/mono/utils/mono-threads-posix.c
Labels: area-Infrastructure-mono

#35905 Fix build issue w/ libs.tests subset on mono
  src/libraries/restore/runtime/runtime.depproj
Labels: area-Infrastructure

#35940 Skip processing async operations from epoll thread
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets

#35902 Fix buffer overflow in assert
  src/coreclr/src/jit/importer.cpp
Labels: area-CodeGen-coreclr

#35952 [interp] Remove unnecessary code
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#35719 Remove FromAsync usage from UdpClient
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/UDPClient.cs
Labels: area-System.Net.Sockets

#35924 Fix a potential memory leak due to EventPipe buffer allocation
  src/coreclr/src/vm/eventpipebuffer.cpp
  src/coreclr/src/vm/eventpipebuffermanager.cpp
Labels: area-Tracing-coreclr

#35911 Remove superflous CheckReleased call which will slow down Event Log R…
  src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/ProviderMetadataCachedInformation.cs
Labels: area-System.Diagnostics

#35973 Fix broken links in BotR doc
  docs/design/coreclr/botr/dac-notes.md
Labels: area-Meta

#35964 Fix crashes when tracing enabled and Socket disposed during connect
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
Labels: area-System.Net.Sockets

#35863 Use C++11 alias templates instead of macro-defined types to implement specialized holder wrappers.
  src/coreclr/src/debug/di/process.cpp
  src/coreclr/src/inc/appxutil.h
  src/coreclr/src/inc/ex.h
  src/coreclr/src/inc/holder.h
  src/coreclr/src/inc/strongnameholders.h
  src/coreclr/src/vm/vmholder.h
  src/coreclr/src/vm/wrappers.h
Labels: area-VM-coreclr, auto-merge

#35914 Fix the stackoverflow test output checks
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflow.cs
  src/coreclr/tests/src/baseservices/exceptions/stackoverflow/stackoverflowtester.cs
Labels: area-ExceptionHandling-coreclr

#35800 Single epoll thread per 28 cores
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Labels: area-System.Net.Sockets, os-linux, tenet-performance

#35889 Re-enable default interface methods tests on ARM64
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure

#35938 Delete FEATURE_CORRUPTING_EXCEPTIONS
  src/coreclr/clrdefinitions.cmake
  src/coreclr/src/inc/clrconfigvalues.h
  src/coreclr/src/inc/corpriv.h
  src/coreclr/src/inc/ex.h
  src/coreclr/src/inc/utilcode.h
  src/coreclr/src/md/runtime/mdinternaldisp.h
  src/coreclr/src/utilcode/util.cpp
  src/coreclr/src/vm/.vscode/c_cpp_properties.json
  src/coreclr/src/vm/castcache.cpp
  src/coreclr/src/vm/clrex.h
  src/coreclr/src/vm/comcallablewrapper.cpp
  src/coreclr/src/vm/comcallablewrapper.h
  src/coreclr/src/vm/comdelegate.cpp
  src/coreclr/src/vm/commodule.cpp
  src/coreclr/src/vm/dispatchinfo.cpp
  src/coreclr/src/vm/eeconfig.cpp
  src/coreclr/src/vm/eeconfig.h
  src/coreclr/src/vm/eventtrace.cpp
  src/coreclr/src/vm/excep.cpp
  src/coreclr/src/vm/excep.h
  src/coreclr/src/vm/exceptionhandling.cpp
  src/coreclr/src/vm/exceptionhandling.h
  src/coreclr/src/vm/exceptmacros.h
  src/coreclr/src/vm/exinfo.cpp
  src/coreclr/src/vm/exinfo.h
  src/coreclr/src/vm/exstate.cpp
  src/coreclr/src/vm/exstate.h
  src/coreclr/src/vm/frames.h
  src/coreclr/src/vm/i386/excepx86.cpp
  src/coreclr/src/vm/interopconverter.cpp
  src/coreclr/src/vm/interopconverter.h
  src/coreclr/src/vm/jithelpers.cpp
  src/coreclr/src/vm/listlock.h
  src/coreclr/src/vm/marshalnative.cpp
  src/coreclr/src/vm/methodtable.cpp
  src/coreclr/src/vm/rcwwalker.cpp
  src/coreclr/src/vm/reflectioninvocation.cpp
  src/coreclr/src/vm/stdinterfaces.cpp
  src/coreclr/src/vm/threads.cpp
Labels: area-ExceptionHandling-coreclr

#35918 Use type system entities instead of strings for node identity
  src/coreclr/src/tools/Common/Compiler/DependencyAnalysis/MethodReadOnlyDataNode.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelayLoadHelperImport.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelayLoadHelperMethodImport.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/Import.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureEmbeddedPointerIndirectionNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunSymbolNodeFactory.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2-coreclr

#35380 Adding Linux support to System.DirectoryServices.Protocols
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Linux/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ber.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Windows/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ber.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ldap.cs
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/BerPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/BerPal.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SafeHandles.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SafeHandles.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SafeHandles.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/DirectoryControl.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapPartialResultsProcessor.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/Wldap32UnsafeMethods.cs
  src/libraries/System.DirectoryServices.Protocols/tests/AsqRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/BerConverterTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirSyncRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesTestHelpers.cs
  src/libraries/System.DirectoryServices.Protocols/tests/ExtendedDNControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapConnectionTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapSessionOptionsTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/PageResultRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/QuotaControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SearchOptionsControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SecurityDescriptorFlagControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SortRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/System.DirectoryServices.Protocols.Tests.csproj
  src/libraries/System.DirectoryServices.Protocols/tests/VerifyNameControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/VlvRequestControlTests.cs
Labels: area-System.DirectoryServices

#35969 Move tfmsuffix file to fix DesignTimeBuild
  eng/targetframeworksuffix.props
  src/libraries/Directory.Build.props
Labels: area-Infrastructure

#35954 Remove TargetFramework reads in eng/testing
  eng/testing/tests.props
  eng/testing/tests.targets
  eng/testing/xunit/xunit.console.props
  eng/testing/xunit/xunit.console.targets
  eng/testing/xunit/xunit.props
Labels: area-Infrastructure

#35549 improve handling of handshake failure
  src/libraries/System.Net.Security/src/Resources/Strings.resx
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SniHelper.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/TlsFrameHelper.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientDefaultEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/TestConfiguration.cs
Labels: area-System.Net.Security

#35704 add requirement doc for FreeBSD
  docs/workflow/README.md
  docs/workflow/requirements/freebsd-requirements.md
Labels: area-Meta, os-freebsd

#35965 Translate all ObjectDisposedExceptions to SocketExceptions in MultipleConnectAsync.AttemptConnection
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/MultipleConnectAsync.cs
Labels: area-System.Net.Sockets

#35910 Make HttpResponseMessage.Content non-nullable
  src/libraries/Microsoft.Extensions.Http/tests/Logging/RedactedLogValueIntegrationTest.cs
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/EmptyContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/EmptyReadStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpBaseStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpResponseMessageTest.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#36011 Compile methods in canon form only
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.Intrinsics.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
Labels: area-crossgen2-coreclr

#36032 Do not package singlefilehost.exe in shared runtime
  src/installer/pkg/projects/netcoreapp/sfx/Microsoft.NETCore.App.SharedFx.sfxproj
Labels: area-Infrastructure

#36043 Add staticapphost template entry to signexclusion file
  eng/SignCheckExclusionsFile.txt
Labels: area-Infrastructure-installer

#36030 Remove unnecessary recursive locking from Http2Stream.Complete
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#35405 Delete task code that has been moved to the shared framework SDK in Arcade
  tools-local/tasks/installer.tasks/CopyNupkgAndChangeVersion.cs
  tools-local/tasks/installer.tasks/CreateFrameworkListFile.cs
  tools-local/tasks/installer.tasks/ExecWithRetries.cs
  tools-local/tasks/installer.tasks/GenerateDebRepoUploadJsonFile.cs
  tools-local/tasks/installer.tasks/GenerateJsonObjectString.cs
  tools-local/tasks/installer.tasks/ProcessSharedFrameworkDeps.cs
  tools-local/tasks/installer.tasks/RuntimeGraphManager.cs
  tools-local/tasks/installer.tasks/RuntimeReference.cs
  tools-local/tasks/installer.tasks/StabilizeWixFileId.cs
  tools-local/tasks/installer.tasks/ZipFileExtractToDirectory.cs
  tools-local/tasks/installer.tasks/ZipFileGetEntries.cs
Labels: area-Infrastructure

#35819 Add support for ComWrappers-based RCWs to the special native WeakReference support.
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/coreclr/src/debug/daccess/daccess.cpp
  src/coreclr/src/debug/daccess/dacdbiimpl.cpp
  src/coreclr/src/debug/daccess/request.cpp
  src/coreclr/src/dlls/mscorrc/mscorrc.rc
  src/coreclr/src/dlls/mscorrc/resource.h
  src/coreclr/src/gc/gchandletable.cpp
  src/coreclr/src/gc/gcinterface.h
  src/coreclr/src/gc/handletable.cpp
  src/coreclr/src/gc/objecthandle.cpp
  src/coreclr/src/inc/cordebug.idl
  src/coreclr/src/pal/prebuilt/inc/cordebug.h
  src/coreclr/src/vm/appdomain.hpp
  src/coreclr/src/vm/ecalllist.h
  src/coreclr/src/vm/gchandleutilities.h
  src/coreclr/src/vm/interoplibinterface.cpp
  src/coreclr/src/vm/interoplibinterface.h
  src/coreclr/src/vm/marshalnative.cpp
  src/coreclr/src/vm/runtimehandles.cpp
  src/coreclr/src/vm/weakreferencenative.cpp
  src/coreclr/tests/src/Interop/CMakeLists.txt
  src/coreclr/tests/src/Interop/COM/ComWrappers/WeakReference/CMakeLists.txt
  src/coreclr/tests/src/Interop/COM/ComWrappers/WeakReference/WeakReferenceNative.cpp
  src/coreclr/tests/src/Interop/COM/ComWrappers/WeakReference/WeakReferenceTest.cs
  src/coreclr/tests/src/Interop/COM/ComWrappers/WeakReference/WeakReferenceTest.csproj
  src/coreclr/tests/src/Interop/common/ComHelpers.h
Labels: area-Interop-coreclr

#36076 Revert "Build an apphost with hostfxr and hostpolicy linked in (#35368)"
  eng/SignCheckExclusionsFile.txt
  eng/Signing.props
  eng/native/functions.cmake
  src/coreclr/generateexportedsymbols.awk
  src/coreclr/generateversionscript.awk
  src/installer/corehost/cli/CMakeLists.txt
  src/installer/corehost/cli/apphost/CMakeLists.txt
  src/installer/corehost/cli/apphost/standalone/CMakeLists.txt
  src/installer/corehost/cli/apphost/standalone/hostfxr_resolver_t.cpp
  src/installer/corehost/cli/apphost/static/CMakeLists.txt
  src/installer/corehost/cli/apphost/static/hostfxr_resolver_t.cpp
  src/installer/corehost/cli/apphost/static/hostpolicy_resolver.cpp
  src/installer/corehost/cli/dotnet/CMakeLists.txt
  src/installer/corehost/cli/exe.cmake
  src/installer/corehost/cli/fxr/CMakeLists.txt
  src/installer/corehost/cli/fxr/fx_muxer.cpp
  src/installer/corehost/cli/fxr/hostpolicy_resolver.cpp
  src/installer/corehost/cli/fxr/hostpolicy_resolver.h
  src/installer/corehost/cli/fxr/standalone/CMakeLists.txt
  src/installer/corehost/cli/fxr/standalone/hostfxr.def
  src/installer/corehost/cli/fxr/standalone/hostfxr_unixexports.src
  src/installer/corehost/cli/fxr/static/CMakeLists.txt
  src/installer/corehost/cli/hostpolicy/CMakeLists.txt
  src/installer/corehost/cli/hostpolicy/standalone/CMakeLists.txt
  src/installer/corehost/cli/hostpolicy/standalone/hostpolicy.def
  src/installer/corehost/cli/hostpolicy/standalone/hostpolicy_unixexports.src
  src/installer/corehost/cli/hostpolicy/static/CMakeLists.txt
  src/installer/corehost/cli/lib_static.cmake
  src/installer/corehost/corehost.cpp
  src/installer/corehost/hostfxr_resolver_t.h
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/runtime.Windows_NT.Microsoft.NETCore.DotNetAppHost.props
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.Host.pkgproj
  src/installer/test/Assets/TestProjects/StaticHostApp/Program.cs
  src/installer/test/Assets/TestProjects/StaticHostApp/StaticHostApp.csproj
  src/installer/test/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/StaticHost.cs
Labels: area-Host

#36083 Disable Microsoft.Extensions.Caching.Memory.Tests on Mono
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/AssemblyAttributes.cs
Labels: area-Microsoft.Extensions

#36099 Disable NonDisposedSocket_SafeHandlesCollected in AnyUnix
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
Labels: area-System.Net.Sockets

#35636 Optimize BitOperations.PopCount() with arm64 intrinsics
  src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs
  src/libraries/System.Utf8String.Experimental/src/System/Runtime/Intrinsics/Intrinsics.Shims.cs
Labels: area-System.Runtime.Intrinsics

#36088 Disable BerConverterTest in arm64
  src/libraries/System.DirectoryServices.Protocols/tests/BerConverterTests.cs
Labels: area-System.DirectoryServices

#36081 Mix installer build configurations in PRs as all are Debug now
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#35535 Migrating libraries props into both iOS and Android test runner workflow
  eng/testing/tests.targets
  src/libraries/Directory.Build.props
  src/mono/mono.proj
Labels: area-Infrastructure

#35835 [interp] Fix memory overwrite during pinvoke r4 parameter passing.
  src/mono/mono/mini/aot-runtime-wasm.c
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono, mono-mirror
