Repository dotnet/runtime, pull requests merged in 2020-02, with the labels that each got.

#2268 Fix UpperVector save asserts
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsrabuild.cpp
Labels: area-CodeGen

#22224 Cleanup NETCOREAPP ifdef usage in System.Runtime.Tests
  src/libraries/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Runtime/tests/System/ActivatorTests.cs
  src/libraries/System.Runtime/tests/System/EnumTests.cs
  src/libraries/System.Runtime/tests/System/ExceptionTests.cs
  src/libraries/System.Runtime/tests/System/RealFormatterTests.cs
  src/libraries/System.Runtime/tests/System/RealParserTests.cs
  src/libraries/System.Runtime/tests/System/Type/TypePropertyTests.cs
  src/libraries/System.Runtime/tests/System/TypedReferenceTests.cs
Labels: area-System.Runtime

#2398 Emit DebugDirectory section and all DebugDirectory entries
  src/coreclr/src/tools/Common/Compiler/DependencyAnalysis/ObjectDataBuilder.cs
  src/coreclr/src/tools/Common/Compiler/DependencyAnalysis/Relocation.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/CodeGen/ReadyToRunObjectWriter.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugDirectoryEntryNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugDirectoryNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/R2RPEBuilder.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/RelocationHelper.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/SectionBuilder.cs
  src/coreclr/tests/src/readytorun/determinism/Program.cs
  src/coreclr/tests/src/readytorun/determinism/crossgen2determinism.csproj
Labels: area-crossgen2

#1751 JIT: fold trees after inline return expression updates
  src/coreclr/src/jit/flowgraph.cpp
Labels: area-CodeGen

#25687 [llvm] Enable jump threading with LLVM JIT.
  src/mono/mono/mini/llvm-jit.cpp
Labels: mono-mirror

#6102 Allow type mismatch for SIMD single field
  src/coreclr/src/jit/gentree.cpp
Labels: area-CodeGen

#21964 Adjust mono_class_init_internal to no longer bypass cleanup when a fa…
  src/mono/mono/metadata/class-init.c
Labels: area-VM-meta-mono, mono-mirror

#1195 Optimize typeof(T1).IsAssignableFrom(typeof(T2))
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/namedintrinsiclist.h
  src/coreclr/tests/src/JIT/Intrinsics/TypeIntrinsics.IsAssignableFrom.cs
  src/coreclr/tests/src/JIT/Intrinsics/TypeIntrinsics.cs
  src/coreclr/tests/src/JIT/Intrinsics/TypeIntrinsics_r.csproj
  src/coreclr/tests/src/JIT/Intrinsics/TypeIntrinsics_ro.csproj
  src/libraries/System.Private.CoreLib/src/System/Type.Helpers.cs
Labels: area-CodeGen

#2278 Eliminated info creation for non-public properties
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs
Labels: area-System.Text.Json, enhancement

#31629 Skip EqualityComparer<TKey>.Default creation in Dictionary .ctor
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs
Labels: area-System.Collections

#3855 Split binder tracing tests into separate test projects
  src/coreclr/tests/src/Loader/binding/tracing/BinderEventListener.cs
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.Basic.cs
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.Basic.csproj
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.DefaultProbing.cs
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.ResolutionFlow.csproj
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.cs
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.targets
Labels: area-AssemblyLoader

#31636 Fix ppc64 build by fixing -mminimal-toc more correctly.
  src/mono/configure.ac
Labels: area-Infrastructure-mono

#31618 [interp] Fix enum constrained calls on netcore
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#2372 [build] Check for Python 3 in configure.ac
  eng/pipelines/common/platform-matrix.yml
  src/mono/configure.ac
Labels: area-Infrastructure-mono, mono-mirror

#2338 Add missing method dependency to Mono SPC
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/LinkerDescriptor/System.Private.CoreLib.xml
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
Labels: area-CoreLib-mono

#2347 Nullable annotate System.Security.Principal.Windows
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CreateWellKnownSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaOpenPolicy.cs
  src/libraries/System.Security.Principal.Windows/ref/System.Security.Principal.Windows.cs
  src/libraries/System.Security.Principal.Windows/ref/System.Security.Principal.Windows.csproj
  src/libraries/System.Security.Principal.Windows/src/System.Security.Principal.Windows.csproj
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/IRCollection.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/IdentityNotMappedException.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/IdentityReference.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/NTAccount.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/Win32.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/WindowsPrincipal.cs
Labels: area-System.Security

#31646 Make fixup decoding lazy
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/src/tools/r2rdump/Extensions.cs
  src/coreclr/src/tools/r2rdump/TextDumper.cs
Labels: area-R2RDump

#2215 Fix x86 InlinedCallFrame popping during EH
  src/coreclr/src/vm/assemblynative.cpp
  src/coreclr/src/vm/i386/excepx86.cpp
Labels: arch-x86, area-ExceptionHandling

#22867 Catch ObjectDisposedException in SmtpClient.Abort
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpConnection.cs
Labels: area-System.Net

#2355 [mini] Add method-triggered printing for runtime stats
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini.c
Labels: area-VM-meta-mono, mono-mirror

#6928 Link System.Globalization.Native into coreclr
  eng/pipelines/runtime.yml
  src/coreclr/CMakeLists.txt
  src/coreclr/build.cmd
  src/coreclr/build.sh
  src/coreclr/src/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/src/libraries-native/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.IO.Compression.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.IO.Ports.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Net.Security.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/CMakeLists.txt
Labels: area-System.Globalization

#31652 Initial Crossgen2 fixes for composite R2R support
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelegateCtorSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
Labels: area-crossgen2

#31677 Remove popped trees more aggressively.
  src/coreclr/src/jit/importer.cpp
Labels: area-CodeGen

#6864 Add Single and Double overloads to BinaryPrimitives
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/tests/Binary/BinaryReaderUnitTests.cs
  src/libraries/System.Memory/tests/Binary/BinaryWriterUnitTests.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/Reader.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/ReaderBigEndian.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/ReaderLittleEndian.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/WriterBigEndian.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/WriterLittleEndian.cs
Labels: area-System.Runtime

#31641 Delete unnecessary netstandard builds
  src/libraries/Native/Windows/clrcompression/CMakeLists.txt
  src/libraries/Native/Windows/clrcompression/clrcompression.Uap.def
  src/libraries/Native/build-native.cmd
  src/libraries/System.Buffers/ref/Configurations.props
  src/libraries/System.Buffers/ref/System.Buffers.cs
  src/libraries/System.Buffers/ref/System.Buffers.csproj
  src/libraries/System.IO.Pipelines/ref/System.IO.Pipelines.csproj
  src/libraries/System.Reflection.Emit.ILGeneration/Directory.Build.props
  src/libraries/System.Reflection.Emit.ILGeneration/pkg/System.Reflection.Emit.ILGeneration.pkgproj
  src/libraries/System.Reflection.Emit.ILGeneration/ref/Configurations.props
  src/libraries/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.cs
  src/libraries/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.csproj
  src/libraries/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.netcore.cs
  src/libraries/System.Reflection.Emit.ILGeneration/src/ApiCompatBaseline.uap10.0.16299.txt
  src/libraries/System.Reflection.Emit.ILGeneration/src/Configurations.props
  src/libraries/System.Reflection.Emit.ILGeneration/src/Resources/Strings.resx
  src/libraries/System.Reflection.Emit.ILGeneration/src/System.Reflection.Emit.ILGeneration.csproj
  src/libraries/System.Reflection.Emit.Lightweight/Directory.Build.props
  src/libraries/System.Reflection.Emit.Lightweight/pkg/System.Reflection.Emit.Lightweight.pkgproj
  src/libraries/System.Reflection.Emit.Lightweight/ref/Configurations.props
  src/libraries/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.cs
  src/libraries/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.csproj
  src/libraries/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.netcore.cs
  src/libraries/System.Reflection.Emit.Lightweight/src/Configurations.props
  src/libraries/System.Reflection.Emit.Lightweight/src/Resources/Strings.resx
  src/libraries/System.Reflection.Emit.Lightweight/src/System.Reflection.Emit.Lightweight.csproj
  src/libraries/System.Reflection.Emit/Directory.Build.props
  src/libraries/System.Reflection.Emit/pkg/System.Reflection.Emit.pkgproj
  src/libraries/System.Reflection.Emit/ref/Configurations.props
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.csproj
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.netcore.cs
  src/libraries/System.Reflection.Emit/src/Configurations.props
  src/libraries/System.Reflection.Emit/src/Resources/Strings.resx
  src/libraries/System.Reflection.Emit/src/System.Reflection.Emit.csproj
  src/libraries/System.Reflection.TypeExtensions/pkg/System.Reflection.TypeExtensions.pkgproj
  src/libraries/System.Reflection.TypeExtensions/ref/Configurations.props
  src/libraries/System.Reflection.TypeExtensions/ref/System.Reflection.TypeExtensions.csproj
  src/libraries/System.Reflection.TypeExtensions/src/Configurations.props
  src/libraries/System.Reflection.TypeExtensions/src/System.Reflection.TypeExtensions.csproj
  src/libraries/System.Reflection.TypeExtensions/tests/Configurations.props
  src/libraries/System.Reflection.TypeExtensions/tests/CoreCLR/ModuleTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/CoreCLR/Resources/System.Reflection.TypeExtensions.CoreCLR.Tests.rd.xml
  src/libraries/System.Reflection.TypeExtensions/tests/CoreCLR/System.Reflection.TypeExtensions.CoreCLR.Tests.csproj
  src/libraries/System.Reflection.TypeExtensions/tests/MemberInfoTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/MetadataTokenTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/ModuleTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/System.Reflection.TypeExtensions.Tests.csproj
  src/libraries/pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/libraries/pkg/test/project.csproj.template
  src/libraries/restore/netfx/netfx.depproj
  src/libraries/restore/netstandard/netstandard.depproj
Labels: area-Meta

#31674 Disable two JIT tests failing with known issue tracked under #31665
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#31690 Fix package testing run name prefix
  src/libraries/sendtohelix.proj
Labels: area-Infrastructure-libraries

#26834 Save stack arguments size in InlinedCallFrame.m_Datum on x86 to handle callee's popping of arguments
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/vm/i386/PInvokeStubs.asm
  src/coreclr/src/vm/i386/cgenx86.cpp
Labels: GCStress, arch-x86, area-ReadyToRun, reliability

#8500 [Arm64] Update execution characteristics for crc32b, crc32h, facge, facgt
  src/coreclr/src/jit/emitarm64.cpp
Labels: arch-arm64, area-CodeGen

#31670 [aot] Avoid inflating gparams with byreflike types during generic sharing.
  src/mono/mono/mini/mini-generic-sharing.c
Labels: area-Codegen-AOT-mono

#21180 set THUMB_CODE bit
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelayLoadHelperImport.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/RuntimeFunctionsTableNode.cs
Labels: area-crossgen2

#31702 Add missing nullability annotation to string ctor
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime

#31634 Allow null IV for Create{Encryptor,Decryptor}.
  src/libraries/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/SymmetricAlgorithm.cs
Labels: area-System.Security

#31696 Fix issue 1871 exception test failing
  src/coreclr/src/vm/debugdebugger.cpp
Labels: area-Diagnostics

#31681 Fix logic in compareTypesForCast
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/tests/src/JIT/opt/Casts/shared2.cs
  src/coreclr/tests/src/JIT/opt/Casts/shared2.csproj
Labels: area-CodeGen

#31651 [interp]Fix the type of clause_args.
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
Labels: mono-mirror

#31704 Remove unused locals in System.ServiceProcess.ServiceController
  src/libraries/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceBase.cs
Labels: area-System.ServiceProcess

#31706 Remove remaining libraries references to string.Copy
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLString.cs
  src/libraries/System.Management/src/System/Management/WMIGenerator.cs
Labels: area-System.Data, area-System.Management

#31684 [runtime] Fix the --enable-minimal=aot build.
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono

#31635 When the interpreter does recurse, use a different function
  src/mono/mono/mini/interp/interp.c
Labels: area-VM-meta-mono, mono-mirror

#2334 Update ILLinkTasksVersion dependency
  eng/Versions.props
  eng/illink.targets
Labels: area-Infrastructure

#1858 Implement Socket.DuplicateAndClose() for Windows
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.HandleInformation.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSADuplicateSocket.cs
  src/libraries/Common/tests/System/Net/Sockets/SocketTestExtensions.cs
  src/libraries/System.Net.Sockets/System.Net.Sockets.sln
  src/libraries/System.Net.Sockets/src/Resources/Strings.resx
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketInformation.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/OSSupport.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketDuplicationTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketInformationTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets, breaking-change

#31667 [interp] Remove goto for code_type unknown | interp | compiled.
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#31708 Remove AppDomain usage from stack walk and related places
  src/coreclr/src/debug/daccess/dacdbiimplstackwalk.cpp
  src/coreclr/src/debug/daccess/stack.cpp
  src/coreclr/src/debug/ee/frameinfo.cpp
  src/coreclr/src/vm/appdomain.cpp
  src/coreclr/src/vm/appdomain.hpp
  src/coreclr/src/vm/assembly.cpp
  src/coreclr/src/vm/crossgencompile.cpp
  src/coreclr/src/vm/debugdebugger.cpp
  src/coreclr/src/vm/debughelp.cpp
  src/coreclr/src/vm/frames.h
  src/coreclr/src/vm/sigformat.cpp
  src/coreclr/src/vm/stackwalk.cpp
  src/coreclr/src/vm/stackwalk.h
  src/coreclr/src/vm/threads.cpp
Labels: area-VM

#31700 Avoid mutating string instances from libraries code
  src/libraries/Common/src/System/Net/WebHeaderEncoding.cs
  src/libraries/System.Private.Uri/src/System/Uri.cs
Labels: area-System.Net.Http

#31715 Bump version to 6.13
  src/mono/configure.ac
Labels: area-Build-mono, mono-mirror

#1817 Optimize `box + isinst + unbox.any` as `nop`
  src/coreclr/src/jit/importer.cpp
  src/coreclr/tests/src/JIT/Generics/Conversions/Boxing/box_isinst_unbox.cs
  src/coreclr/tests/src/JIT/Generics/Conversions/Boxing/box_isinst_unbox.csproj
Labels: area-CodeGen

#2393 Add RunSample target to mono.proj
  src/mono/Directory.Build.props
  src/mono/Makefile.am
  src/mono/mono.proj
  src/mono/netcore/Makefile
  src/mono/netcore/corerun/.gitignore
  src/mono/netcore/corerun/Makefile.am
  src/mono/netcore/corerun/coreclrhost.h
  src/mono/netcore/corerun/corerun.cpp
  src/mono/netcore/corerun/coreruncommon.cpp
  src/mono/netcore/corerun/coreruncommon.h
  src/mono/netcore/sample/HelloWorld/HelloWorld.csproj
Labels: area-Build-mono

#31707 Remove unneeded type SecureStringHasher
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/BinaryXml/XmlBinaryReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/SecureStringHasher.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWellFormedWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlQualifiedName.cs
  src/libraries/System.Private.Xml/tests/Misc/RandomizedHashing.cs
  src/libraries/System.Private.Xml/tests/Misc/System.Xml.Misc.Tests.csproj
Labels: area-System.Xml

#31653 [interp]Factor out common code.
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#2354 DeadEnding Microsoft.CSharp and Bumping Version for System.Runtime.CompilerServices.Unsafe
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/src/tools/r2rdump/R2RDump.csproj
  src/libraries/Microsoft.CSharp/Directory.Build.props
  src/libraries/Microsoft.CSharp/pkg/Microsoft.CSharp.pkgproj
  src/libraries/Microsoft.CSharp/ref/Configurations.props
  src/libraries/Microsoft.CSharp/ref/Microsoft.CSharp.csproj
  src/libraries/Microsoft.CSharp/src/Configurations.props
  src/libraries/Microsoft.CSharp/src/Microsoft.CSharp.csproj
  src/libraries/System.Runtime.CompilerServices.Unsafe/Directory.Build.props
  src/libraries/System.Runtime.CompilerServices.Unsafe/pkg/System.Runtime.CompilerServices.Unsafe.pkgproj
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il
  src/libraries/pkg/Microsoft.Private.PackageBaseline/packageIndex.json
  src/libraries/pkg/descriptions.json
  src/libraries/pkg/test/frameworkSettings/netcoreapp5.0/settings.targets
Labels: area-Infrastructure-libraries, auto-merge

#31733 Reuse positive offset blocks in Regex Boyer-Moore
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#31745 Fix logic to disable mscordbi build
  src/coreclr/crosscomponents.cmake
Labels: area-Infrastructure-coreclr

#2221 Updated composite R2R format doc
  docs/design/coreclr/botr/readytorun-format.md
  docs/design/features/readytorun-composite-format-design.md
Labels: area-crossgen2

#3857 [mini] iltests.exe depends on TestDriver.dll
  src/mono/mono/mini/Makefile.am.in
Labels: area-Infrastructure-mono, mono-mirror

#22388 Use PTRACE_GETREGSET for any arch in createdump
  src/coreclr/src/debug/createdump/threadinfo.cpp
Labels: area-Diagnostics

#31679 Don't block specific generic types in field marshalling scenarios.
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/InteropTypes.cs
  src/coreclr/src/vm/mlinfo.cpp
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SizeOfTests.cs
Labels: area-Interop

#31748 Remove GetRecycleMemoryInfo from DAC builds
  src/coreclr/src/vm/win32threadpool.h
Labels: area-Tracing

#31749 Reduce PAL DAC exports
  src/coreclr/src/dlls/mscordac/mscordac.src
Labels: area-Diagnostics

#31731 Minor improvements to Regex.Replace overhead
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/SegmentStringBuilder.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#31761 Seal CompareInfo and TextInfo and remove virtual dispatch
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/SortKey.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.cs
  src/libraries/System.Private.CoreLib/src/System/StringComparer.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime

#31762 Fix intermittent crash in comhost tests
  src/installer/corehost/cli/test/nativehost/error_writer_redirector.cpp
Labels: area-Host

#31754 [jit] Avoid calling mono_aot_direct_icalls_enabled_for_method () in non-aot mode, it might be a stub if aot is disabled.
  src/mono/mono/mini/method-to-ir.c
Labels: mono-mirror

#31772 Add JSON and other area CODEOWNERS
  .github/CODEOWNERS
Labels: area-Meta

#31784 Use HashCode.Combine directly
  src/libraries/System.Private.Xml/src/System/Xml/BinaryXml/XmlBinaryReader.cs
Labels: area-System.Xml

#31736 Avoid keeping runtext alive in Regex cache
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Capture.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#31734 Change RegexCompiler to special-case sets of just 2 or 3 chars
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#31773 Account for UpperVector saves in minRegs
  src/coreclr/src/jit/lsrabuild.cpp
Labels: area-CodeGen

#31767 Add config knob to the jit to control total_physical_memory
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcconfig.h
Labels: area-GC

#26980 Add EMPTY_BASES_DECL
  src/coreclr/src/inc/palclr.h
  src/coreclr/src/inc/sarray.h
  src/coreclr/src/inc/sbuffer.h
  src/coreclr/src/inc/shash.h
  src/coreclr/src/inc/sstring.h
  src/coreclr/src/md/datasource/targettypes.cpp
  src/coreclr/src/md/inc/VerifyLayouts.inc
  src/coreclr/src/pal/inc/pal.h
Labels: area-VM

#31807 Revert "Update ILLinkTasksVersion dependency"
  eng/Versions.props
  eng/illink.targets
Labels: area-Infrastructure

#2298 Removing unnecessary uses of `unreached` from hwintrinsic importation
  src/coreclr/src/jit/hwintrinsic.cpp
  src/coreclr/src/jit/hwintrinsicarm64.cpp
  src/coreclr/src/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen

#2033 Fix a consistency issue with command line parsing of file names (use FileInfo instead of string)
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/src/tools/crossgen2/crossgen2/CommandLineOptions.cs
Labels: area-Infrastructure-coreclr

#2346 allocate SocketAsyncEngine less frequenty to reduce the number of epoll_wait threads
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
Labels: area-System.Net.Sockets, os-linux

#31741 Make Crossgen2 a self-contained package
  src/coreclr/src/.nuget/Microsoft.NETCore.Crossgen2/Microsoft.NETCore.Crossgen2.builds
  src/coreclr/src/.nuget/Microsoft.NETCore.Crossgen2/Microsoft.NETCore.Crossgen2.pkgproj
  src/coreclr/src/.nuget/Microsoft.NETCore.Crossgen2/runtime.Linux.Microsoft.NETCore.Crossgen2.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Crossgen2/runtime.Windows_NT.Microsoft.NETCore.Crossgen2.props
  src/coreclr/src/.nuget/descriptions.json
  src/coreclr/src/.nuget/packages.builds
  src/installer/pkg/projects/netcoreapp/pkg/Microsoft.NETCore.App.Crossgen2.pkgproj
Labels: area-crossgen2

#31817 Use better names for Regex DynamicMethods to help when profiling
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
Labels: area-System.Text.RegularExpressions

#31730 Tweak Regex compiled code and add more tests
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexAssemblyCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/AttRegexTests.cs
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Labels: area-System.Text.RegularExpressions

#31738 Make more Regex loops atomic automatically
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/RegularExpressionAttributeTests.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexBoyerMoore.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTree.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexReductionTests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#5523 Remove old transport packages from CoreCLR and CoreFX.
  eng/Version.Details.xml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/xplat-job.yml
  src/coreclr/build-packages.sh
  src/coreclr/src/.nuget/Directory.Build.targets
  src/coreclr/src/.nuget/Microsoft.NETCore.Jit/Microsoft.NETCore.Jit.builds
  src/coreclr/src/.nuget/Microsoft.NETCore.Jit/Microsoft.NETCore.Jit.pkgproj
  src/coreclr/src/.nuget/Microsoft.NETCore.Jit/runtime.FreeBSD.Microsoft.NETCore.Jit.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Jit/runtime.Linux.Microsoft.NETCore.Jit.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Jit/runtime.OSX.Microsoft.NETCore.Jit.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Jit/runtime.Windows_NT.Microsoft.NETCore.Jit.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/Directory.Build.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/Microsoft.NETCore.Runtime.CoreCLR.builds
  src/coreclr/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/coreclr/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.FreeBSD.Microsoft.NETCore.Runtime.CoreCLR.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Linux.Microsoft.NETCore.Runtime.CoreCLR.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.OSX.Microsoft.NETCore.Runtime.CoreCLR.props
  src/coreclr/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Windows_NT.Microsoft.NETCore.Runtime.CoreCLR.props
  src/coreclr/src/.nuget/Microsoft.TargetingPack.Private.CoreCLR/Microsoft.TargetingPack.Private.CoreCLR.pkgproj
  src/coreclr/src/.nuget/descriptions.json
  src/coreclr/src/.nuget/packages.builds
  src/coreclr/src/.nuget/packaging.props
  src/libraries/pkg/Directory.Build.targets
  src/libraries/pkg/Microsoft.Private.CoreFx.NETCoreApp/Configurations.props
  src/libraries/pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.builds
  src/libraries/pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj
  src/libraries/pkg/Microsoft.Private.CoreFx.NETCoreApp/netcoreapp.rids.props
  src/libraries/pkg/Microsoft.Windows.Compatibility/tests/Directory.Build.props
  src/libraries/pkg/Microsoft.Windows.Compatibility/tests/Microsoft.Windows.Compatibility.Validation.csproj
  src/libraries/pkg/Microsoft.Windows.Compatibility/tests/publishcompatibilityassets.ps1
  src/libraries/pkg/descriptions.json
  src/libraries/pkg/frameworkPackage.targets
Labels: area-Infrastructure, auto-merge

#31790 [interp] Stack corruption running full AOT interpreter using ValueTuple.
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/metadata.c
Labels: mono-mirror

#2052 [runtime] Report crash when receiving crashing signals
  src/mono/configure.ac
  src/mono/mono/metadata/icall.c
  src/mono/mono/mini/exceptions-amd64.c
  src/mono/mono/mini/exceptions-ppc.c
  src/mono/mono/mini/exceptions-x86.c
  src/mono/mono/mini/mini-posix.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-windows.c
  src/mono/mono/utils/Makefile.am
  src/mono/mono/utils/mono-merp.c
  src/mono/mono/utils/mono-signal-handler.c
  src/mono/mono/utils/mono-signal-handler.h
  src/mono/msvc/libmonoutils-common.targets
  src/mono/msvc/libmonoutils-common.targets.filters
Labels: area-VM-meta-mono, mono-mirror

#31722 [interp] Make call_vararg non-recursive.
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#31808 JIT: rework phase objects so we can use them more widely
  src/coreclr/src/jit/CMakeLists.txt
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/error.cpp
  src/coreclr/src/jit/jit.settings.targets
  src/coreclr/src/jit/jittelemetry.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lower.h
  src/coreclr/src/jit/objectalloc.h
  src/coreclr/src/jit/phase.cpp
  src/coreclr/src/jit/phase.h
  src/coreclr/src/jit/rationalize.h
  src/coreclr/src/jit/stacklevelsetter.cpp
  src/coreclr/src/jit/stacklevelsetter.h
Labels: area-CodeGen

#31819 Nullability: RuntimeHelpers.GetHashCode should accept null obj input
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.Mono.cs
Labels: area-System.Runtime.CompilerServices

#31779 Fix incorrect early exit in SortKey.Compare and seal type
  src/libraries/System.Globalization/tests/CompareInfo/CompareInfoTests.cs
  src/libraries/System.Globalization/tests/Invariant/InvariantMode.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Invariant.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/SortKey.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Globalization

#31756 Use RuntimeHelpers.GetHashCode instead of obj.GetHashCode
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReferenceEqualsEqualityComparer.cs
  src/libraries/System.Text.Json/tests/Serialization/ReferenceHandlingTests.Serialize.cs
Labels: area-System.Text.Json

#31791 Make sure original Utf8JsonReader options are honored when re-creating the reader.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Text.Json/tests/Serialization/ReadValueTests.cs
  src/libraries/System.Text.Json/tests/Serialization/WriteValueTests.cs
Labels: area-System.Text.Json

#31725 Reduce number of mono header files copied into SDK include folder (MSVC build).
  src/mono/msvc/libmono.bat
Labels: mono-mirror

#31850 Fix System.Data.SqlClient rolling tests on Alpine
  src/libraries/System.Data.Common/tests/System.Data.Common.Tests.csproj
  src/libraries/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
  src/libraries/restore/runtime/runtime.depproj
  src/mono/netcore/CoreFX.issues.rsp
Labels: area-System.Data.SqlClient

#31830 Intermittent crash in comhost tests
  src/installer/corehost/cli/test/nativehost/resolve_component_dependencies_test.cpp
Labels: area-Host

#31739 [mono] Improve mono.proj, auto-detect build configurations
  .gitignore
  src/mono/mono.proj
  src/mono/netcore/Makefile
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/Mono/Console.Mono.cs
  src/mono/netcore/init-tools.sh
  src/mono/netcore/sample/HelloWorld/HelloWorld.csproj
Labels: area-Build-mono

#354 Add specification for ReferenceHandling
  src/libraries/System.Text.Json/docs/ReferenceHandling_spec.md
Labels: area-System.Text.Json, auto-merge, documentation

#31671 Nullable annotate System.Diagnostics.Process
  src/libraries/Common/src/Interop/FreeBSD/Interop.Process.cs
  src/libraries/Common/src/Interop/Linux/cgroups/Interop.cgroups.cs
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/libraries/Common/src/Interop/OSX/Interop.libproc.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.ForkAndExecProcess.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetGroupList.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CreateProcessWithLogon.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateProcess.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.ProcessWaitHandle.cs
  src/libraries/Common/src/System/Runtime/Serialization/SerializationGuard.cs
  src/libraries/Common/src/System/Text/ReusableTextReader.cs
  src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/Microsoft/Win32/SafeHandles/SafeProcessHandle.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/System/Collections/Specialized/DictionaryWrapper.cs
  src/libraries/System.Diagnostics.Process/src/System/Collections/Specialized/StringDictionaryWrapper.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/AsyncStreamReader.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/DataReceivedEventArgs.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/PerformanceCounterLib.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.BSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.FreeBSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.NonUap.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.BSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.FreeBSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.OSX.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessModule.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessModuleCollection.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Win32.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessThreadCollection.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitState.Unix.cs
Labels: area-System.Diagnostics.Process

#31873 Enable .NET Framework F5 & VS TestExplorer support for libraries
  eng/build.ps1
  eng/testing/launchSettings.json
Labels: area-Infrastructure-libraries

#635 Initialize Delimiter from Attributes
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System.Diagnostics.TextWriterTraceListener.csproj
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/DelimitedListTraceListener.cs
  src/libraries/System.Diagnostics.TextWriterTraceListener/tests/CommonUtilities.cs
  src/libraries/System.Diagnostics.TextWriterTraceListener/tests/DelimiterWriteMethodTests.cs
Labels: area-System.Diagnostics.Tracing

#31740 Fix JIT TARGET usage
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/disasm.cpp
  src/coreclr/src/jit/disasm.h
  src/coreclr/src/jit/ee_il_dll.cpp
  src/coreclr/src/jit/emit.h
  src/coreclr/src/jit/emitinl.h
  src/coreclr/src/jit/emitxarch.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/instr.cpp
  src/coreclr/src/jit/instrsxarch.h
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsraarmarch.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/optcse.cpp
  src/coreclr/src/jit/reglist.h
  src/coreclr/src/jit/simd.cpp
  src/coreclr/src/jit/target.h
  src/coreclr/src/jit/unwind.cpp
  src/coreclr/src/jit/utils.cpp
Labels: area-CodeGen

#2296 fix FileSystemWatcher_Unix_DoesNotLeak test
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Unix.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
Labels: area-System.IO, test enhancement

#31847 Update SkipOnCoreClrAttributes to RuntimeConfiguration argument
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.ComponentModel.Composition.Registration/tests/System/ComponentModel/Composition/Registration/RegistrationBuilderAttributedOverrideUnitTests.cs
  src/libraries/System.Linq.Expressions/tests/AssemblyInfo.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerAuthenticationTests.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerContextTests.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerResponseTests.Cookies.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerResponseTests.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/libraries/System.Net.Requests/tests/LoggingTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/BigIntegerToStringTests.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Threading.Tasks/tests/Task/TaskContinueWithTests.cs
Labels: area-Infrastructure-libraries

#31879 Disable crypto tests affected by libssl in OSX
  src/libraries/System.Security.Cryptography.Algorithms/tests/AesCcmTests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/AesGcmTests.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
Labels: area-System.Security

#31683 [mono] Enable debugging for netcore configurations by default.
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/mini-runtime.h
Labels: area-Debugger-mono

#31836 JIT: add back no side effect check when optimizing return values
  src/coreclr/src/jit/flowgraph.cpp
Labels: area-CodeGen

#31890 Disable warnAsError from windows libraries builds in official builds to workaround cmake issue
  eng/pipelines/libraries/base-job.yml
Labels: area-Infrastructure

#31726 Tweaking the joined_condemned_reason implementation
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcrecord.h
Labels: area-GC

#31689 Add QuicConnection.IsQuicSupported for runtime feature detection
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/Resources/Strings.resx
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicSession.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net, new-api-needs-documentation

#31909 Disable warnaserror for libraries Windows builds.
  eng/pipelines/libraries/base-job.yml
Labels: area-Infrastructure

#2163 [merp] Add tests for crashing via POSIX signal
  src/mono/mono/tests/libtest.c
  src/mono/mono/tests/merp-crash-test.cs
Labels: area-VM-meta-mono, mono-mirror

#31678 [merp] Add an exception type for managed exceptions
  src/mono/mono/metadata/icall.c
  src/mono/mono/utils/mono-merp.c
  src/mono/mono/utils/mono-state.h
Labels: area-VM-meta-mono, mono-mirror

#31854 Extract detecting CC/CXX into helper script so we can use it from mono.proj
  eng/native/gen-buildsys.sh
  eng/native/init-compiler.sh
  src/mono/mono.proj
Labels: area-Infrastructure

#31875 Annotate System.Net.WebSockets for nullable reference types
  src/libraries/Common/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/libraries/Common/src/System/Net/WebSockets/WebSocketValidate.cs
  src/libraries/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/libraries/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/libraries/System.Net.WebSockets.WebSocketProtocol/src/System.Net.WebSockets.WebSocketProtocol.csproj
  src/libraries/System.Net.WebSockets/ref/System.Net.WebSockets.cs
  src/libraries/System.Net.WebSockets/ref/System.Net.WebSockets.csproj
  src/libraries/System.Net.WebSockets/src/System.Net.WebSockets.csproj
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.netcoreapp.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/WebSocket.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/WebSocketContext.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/WebSocketException.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/WebSocketReceiveResult.cs
Labels: area-System.Net

#31913 [System.IO.Compression] Reenable tests that were disabled on Jenkins CI
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.cs
Labels: area-System.IO.Compression

#31907 Fix encodings
  src/coreclr/tests/src/GC/Features/BackgroundGC/foregroundgc.cs
  src/coreclr/tests/src/GC/Features/LOHCompaction/lohcompactapi.cs
  src/coreclr/tests/src/GC/Features/LOHCompaction/lohcompactapi2.cs
  src/coreclr/tests/src/GC/Features/LOHCompaction/lohcompactapi_exceptions.cs
  src/coreclr/tests/src/GC/Features/LOHCompaction/lohcompactscenariorepro.cs
  src/coreclr/tests/src/GC/Features/LOHCompaction/lohpin.cs
  src/coreclr/tests/src/GC/Features/PartialCompaction/eco1.cs
  src/coreclr/tests/src/GC/Features/PartialCompaction/partialcompactiontest.cs
  src/coreclr/tests/src/GC/Features/PartialCompaction/partialcompactionwloh.cs
  src/coreclr/tests/src/GC/Features/SustainedLowLatency/sustainedlowlatency_race.cs
  src/coreclr/tests/src/GC/Features/SustainedLowLatency/sustainedlowlatency_race_reverse.cs
  src/coreclr/tests/src/Interop/PrimitiveMarshalling/Bool/NativeMethodDef.cs
  src/coreclr/tests/src/baseservices/threading/monitor/isentered/monitorisentered.cs
  src/coreclr/tests/src/baseservices/threading/threadpool/unregister/regression_749068.cs
Labels: area-Infrastructure-coreclr

#31814 [loader] Set domain->entry_assembly earlier in startup
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/object.c
Labels: area-AssemblyLoader-mono

#31925 Clarify what runtime function means
  docs/design/coreclr/botr/readytorun-format.md
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
Labels: area-R2RDump

#31824 Document about possible options for localization
  docs/design/features/localization-options.md
Labels: area-Meta

#31928 Change corefx to runtime in API Review Process document
  docs/project/api-review-process.md
Labels: area-Meta

#2474 Avoid using a spinlock when WeakReference finalization is called by the GC
  src/coreclr/src/vm/threadsuspend.cpp
  src/coreclr/src/vm/threadsuspend.h
  src/coreclr/src/vm/weakreferencenative.cpp
Labels: area-GC

#31929 Build package baseline package only during all config
  src/libraries/pkg/Microsoft.Private.PackageBaseline/Microsoft.Private.PackageBaseline.builds
  src/libraries/pkg/Microsoft.Private.PackageBaseline/Microsoft.Private.PackageBaseline.pkgproj
  src/libraries/pkg/Microsoft.Private.PackageBaseline/Microsoft.Private.PackageBaseline.props
  src/libraries/pkg/baseline/baseline.props
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-Infrastructure-coreclr

#31931 Fix using the nopgooptimize flag in the CoreCLR build scripts.
  src/coreclr/build.cmd
  src/coreclr/build.sh
  src/coreclr/pgosupport.cmake
Labels: area-Infrastructure-coreclr, auto-merge

#651 Always fire join events for an rjoin
  src/coreclr/src/gc/gc.cpp
Labels: area-Tracing

#31924 Clean up more unused methods in System.Private.CoreLib
  src/mono/netcore/System.Private.CoreLib/src/System/Array.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Buffer.Mono.cs
Labels: area-CoreLib-mono

#2123 corehost: Build intermediate library to avoid building twice
  src/installer/corehost/cli/CMakeLists.txt
  src/installer/corehost/cli/apphost/CMakeLists.txt
  src/installer/corehost/cli/comhost/CMakeLists.txt
  src/installer/corehost/cli/common.cmake
  src/installer/corehost/cli/dotnet/CMakeLists.txt
  src/installer/corehost/cli/exe.cmake
  src/installer/corehost/cli/fxr/CMakeLists.txt
  src/installer/corehost/cli/hostcommon/CMakeLists.txt
  src/installer/corehost/cli/hostmisc/CMakeLists.txt
  src/installer/corehost/cli/hostmisc/longfile.h
  src/installer/corehost/cli/hostmisc/longfile.windows.cpp
  src/installer/corehost/cli/hostmisc/pal.h
  src/installer/corehost/cli/hostmisc/pal.unix.cpp
  src/installer/corehost/cli/hostmisc/pal.windows.cpp
  src/installer/corehost/cli/hostmisc/trace.cpp
  src/installer/corehost/cli/hostmisc/trace.h
  src/installer/corehost/cli/hostmisc/utils.cpp
  src/installer/corehost/cli/hostmisc/utils.h
  src/installer/corehost/cli/hostpolicy/CMakeLists.txt
  src/installer/corehost/cli/ijwhost/CMakeLists.txt
  src/installer/corehost/cli/lib.cmake
  src/installer/corehost/cli/lib_static.cmake
  src/installer/corehost/cli/nethost/CMakeLists.txt
  src/installer/corehost/cli/test_fx_ver/CMakeLists.txt
  src/installer/corehost/cli/winrthost/CMakeLists.txt
Labels: area-Infrastructure-coreclr, auto-merge

#31644 Update docs to use the main build script
  src/libraries/Common/src/System/Net/Http/Http2/ReadMe.SharedCode.md
  src/libraries/Common/src/System/Net/Http/Http3/ReadMe.SharedCode.md
  src/libraries/Common/tests/StaticTestGenerator/README.md
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/README.md
Labels: area-Infrastructure

#31971 String Deduplication Design Doc
  docs/design/features/StringDeduplication.md
Labels: area-GC

#31920 [mono] Review [SkipOnTargetFramework(TargetFrameworkMonikers.Mono...] occurrences
  src/libraries/System.Data.Common/tests/System/Data/Common/DbCommandTests.cs
  src/libraries/System.Data.Common/tests/System/Data/Common/DbConnectionTests.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/libraries/System.Net.Requests/tests/LoggingTest.cs
  src/libraries/System.Net.WebHeaderCollection/tests/LoggingTest.cs
  src/libraries/System.Net.WebHeaderCollection/tests/WebHeaderCollectionTest.cs
  src/libraries/System.Threading.Thread/tests/ThreadTests.cs
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.cs
  src/libraries/System.Threading/tests/ExecutionContextTests.cs
  src/libraries/System.Threading/tests/SynchronizationContextTests.cs
  src/libraries/System.Threading/tests/ThreadLocalTests.cs
Labels: area-Infrastructure-libraries

#31930 Use IndexOf for .* in RegexInterpreter/Compiler
  src/libraries/System.Text.RegularExpressions/src/Resources/Strings.resx
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
Labels: area-System.Text.RegularExpressions

#31981 Old repo issue number mapped to new repo issue number
  docs/issue-mappings/README.md
  docs/issue-mappings/core-setup.mapping.txt
  docs/issue-mappings/coreclr.mapping.txt
  docs/issue-mappings/corefx.mapping.txt
Labels: area-Infrastructure-libraries

#31950 fix the loading of Microsoft.VisualBasic.Core/Microsoft.VisualBasic.Core.sln in VS
  src/libraries/Microsoft.VisualBasic.Core/Microsoft.VisualBasic.Core.sln
Labels: area-Microsoft.VisualBasic

#31937 Fixed Memory leak in src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_seckey.c (#1975)
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_seckey.c
Labels: area-System.Security

#31982 Update to latest version of analyzer packages
  eng/Analyzers.props
Labels: area-Infrastructure-libraries

#31983 Enable CA1827 (use Any() instead of Count() compared to 0)
  eng/CodeAnalysis.ruleset
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/Primitives/ContractBasedImportDefinition.cs
  src/libraries/System.Composition.Convention/src/System/Composition/Convention/PartConventionBuilder.cs
  src/libraries/System.Data.Odbc/src/Common/System/Data/Common/DBConnectionString.cs
Labels: area-Infrastructure-libraries

#31837 [cxx] Fix C++ build -- int vs. enum.
  src/mono/mono/mini/mini-llvm.c
Labels: mono-mirror

#31990 Make EqualityComparer thread-safe for Mono
  src/mono/netcore/System.Private.CoreLib/src/System/Collections/Generic/Comparer.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.Mono.cs
Labels: area-CoreLib-mono

#31999 Fix for runtime-live-build break per Santi's suggestion
  eng/pipelines/common/global-build-job.yml
Labels: area-Infrastructure-coreclr

#32002 move ArrayBuffer to Common
  src/libraries/Common/src/System/Net/ArrayBuffer.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net

#32012 Annotate System.Net.ServicePoint for nullable reference types
  src/libraries/System.Net.ServicePoint/ref/System.Net.ServicePoint.cs
  src/libraries/System.Net.ServicePoint/ref/System.Net.ServicePoint.csproj
  src/libraries/System.Net.ServicePoint/src/System.Net.ServicePoint.csproj
  src/libraries/System.Net.ServicePoint/src/System/Net/ServicePoint.cs
  src/libraries/System.Net.ServicePoint/src/System/Net/ServicePointManager.cs
Labels: area-Infrastructure

#32011 Annotate System.Net.NameResolution for nullable reference types
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.GetAddrInfoExW.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.GetAddrInfoW.cs
  src/libraries/Common/src/System/Net/DebugSafeHandle.cs
  src/libraries/Common/src/System/Net/InternalException.cs
  src/libraries/Common/src/System/Net/Internals/SocketExceptionFactory.cs
  src/libraries/Common/src/System/Net/Logging/DebugThreadTracking.cs
  src/libraries/Common/src/System/Net/Logging/NetEventSource.Common.cs
  src/libraries/System.Net.NameResolution/ref/System.Net.NameResolution.cs
  src/libraries/System.Net.NameResolution/ref/System.Net.NameResolution.csproj
  src/libraries/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
  src/libraries/System.Net.NameResolution/src/System/Net/IPHostEntry.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/libraries/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/libraries/System.Net.NameResolution/tests/UnitTests/System.Net.NameResolution.Unit.Tests.csproj
Labels: area-Infrastructure

#31918 Nullable annotate System.IO.Pipes
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateNamedPipeClient.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.WaitNamedPipe.cs
  src/libraries/System.IO.Pipes/ref/System.IO.Pipes.cs
  src/libraries/System.IO.Pipes/ref/System.IO.Pipes.csproj
  src/libraries/System.IO.Pipes/src/Microsoft/Win32/SafeHandles/SafePipeHandle.Unix.cs
  src/libraries/System.IO.Pipes/src/Microsoft/Win32/SafeHandles/SafePipeHandle.cs
  src/libraries/System.IO.Pipes/src/System.IO.Pipes.csproj
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/AnonymousPipeServerStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/AnonymousPipeServerStream.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/ConnectionCompletionSource.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.Unix.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Win32.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeCompletionSource.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeSecurity.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/ReadWriteCompletionSource.cs
Labels: area-System.IO

#31967 Rename COREFX_ to DOTNET_TEST_ in test code/scripts
  src/libraries/Common/tests/CoreFx.Private.TestUtilities/System/TestEnvironment.cs
  src/libraries/Common/tests/System/Net/Configuration.Http.cs
  src/libraries/Common/tests/System/Net/Configuration.Ping.cs
  src/libraries/Common/tests/System/Net/Configuration.Security.cs
  src/libraries/Common/tests/System/Net/Configuration.Sockets.cs
  src/libraries/Common/tests/System/Net/Configuration.WebSockets.cs
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_common.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/README.md
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/load-corefx-testhost.ps1
Labels: area-System.Net

#32007 use TestHelper to create client and server stream
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamAlpnTests.cs
Labels: area-System.Net.Security, test enhancement

#32031 Remove monodis from mono sources
  src/mono/mono/dis/.gitignore
  src/mono/mono/dis/Makefile
  src/mono/mono/dis/Makefile.am
  src/mono/mono/dis/declsec.c
  src/mono/mono/dis/declsec.h
  src/mono/mono/dis/dis-cil.c
  src/mono/mono/dis/dis-cil.h
  src/mono/mono/dis/dump.c
  src/mono/mono/dis/dump.h
  src/mono/mono/dis/get.c
  src/mono/mono/dis/get.h
  src/mono/mono/dis/main.c
  src/mono/mono/dis/meta.h
  src/mono/mono/dis/monodis.1
  src/mono/mono/dis/push-pop.h
  src/mono/mono/dis/tests/ambiguous-gen-params.il
  src/mono/mono/dis/tests/gen-cattr.cs
  src/mono/mono/dis/tests/gen-dump-method.cs
  src/mono/mono/dis/tests/gen-prop.cs
  src/mono/mono/dis/tests/gen-type.cs
  src/mono/mono/dis/tests/test1.cs
  src/mono/mono/dis/tests/test2.cs
  src/mono/mono/dis/tests/test3.cs
  src/mono/mono/dis/util.c
  src/mono/mono/dis/util.h
Labels: area-Build-mono

#2140 Add conditional dependency on LLVM packages for Mono
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/mono/templates/xplat-pipeline-job.yml
  eng/pipelines/runtime.yml
  src/mono/llvm/Makefile.am
  src/mono/llvm/build_llvm_config.sh
  src/mono/llvm/llvm-init.proj
  src/mono/mono.proj
Labels: area-Build-mono

#811 Allow TYP_SIMD8 to be enregistered
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/codegenarmarch.cpp
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/codegenlinear.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/instr.cpp
  src/coreclr/src/jit/lower.cpp
  src/coreclr/src/jit/lower.h
  src/coreclr/src/jit/lowerarmarch.cpp
  src/coreclr/src/jit/lowerxarch.cpp
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsraarm.cpp
  src/coreclr/src/jit/lsrabuild.cpp
  src/coreclr/src/jit/lsraxarch.cpp
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen

#2095 Add a Windows Arm64 job to the runtime innerloop pipeline
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/runtime.yml
  src/coreclr/tests/issues.targets
Labels: area-Infrastructure-coreclr

#32057 Remove Daily Builds section
  README.md
Labels: area-Infrastructure-installer

#32028 SuperIlc changes for composite build mode support
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildFolder.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildFolderSet.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CommandLineOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/Commands/CompileFromCrossgenRspCommand.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CompilerRunner.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CpaotRunner.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CrossgenRunner.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/JitRunner.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/ProcessRunner.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/ReadyToRun.SuperIlc.csproj
Labels: area-crossgen2

#1052 Add MailAddress.TryCreate api
  src/libraries/Common/src/System/Net/Mail/DomainLiteralReader.cs
  src/libraries/Common/src/System/Net/Mail/DotAtomReader.cs
  src/libraries/Common/src/System/Net/Mail/MailAddress.cs
  src/libraries/Common/src/System/Net/Mail/MailAddressParser.cs
  src/libraries/Common/src/System/Net/Mail/QuotedPairReader.cs
  src/libraries/Common/src/System/Net/Mail/QuotedStringFormatReader.cs
  src/libraries/Common/src/System/Net/Mail/WhitespaceReader.cs
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/libraries/System.Net.Mail/ref/System.Net.Mail.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/MailAddress.cs
  src/libraries/System.Net.Mail/tests/Functional/MailAddressTest.cs
  src/libraries/System.Net.Mail/tests/Unit/MailAddressTests/MailAddressEncodeTest.cs
  src/libraries/System.Net.Mail/tests/Unit/MailAddressTests/MailAddressParserTest.cs
Labels: area-System.Net, new-api-needs-documentation

#32043 Fixed armel/tizen support in build-commons.h
  eng/native/build-commons.sh
Labels: area-Infrastructure

#31926 Fix signing in PR runs
  eng/pipelines/installer/jobs/base-job.yml
  src/coreclr/src/build.proj
Labels: area-Infrastructure-coreclr

#31956 Display stack trace at stack overflow
  src/coreclr/src/debug/ee/controller.cpp
  src/coreclr/src/inc/ex.h
  src/coreclr/src/pal/src/arch/amd64/signalhandlerhelper.cpp
  src/coreclr/src/pal/src/arch/arm/signalhandlerhelper.cpp
  src/coreclr/src/pal/src/arch/arm64/signalhandlerhelper.cpp
  src/coreclr/src/pal/src/arch/i386/signalhandlerhelper.cpp
  src/coreclr/src/pal/src/exception/seh.cpp
  src/coreclr/src/pal/src/exception/signal.cpp
  src/coreclr/src/pal/src/include/pal/signal.hpp
  src/coreclr/src/pal/src/thread/thread.cpp
  src/coreclr/src/utilcode/ex.cpp
  src/coreclr/src/vm/amd64/JitHelpers_Fast.asm
  src/coreclr/src/vm/amd64/jithelpers_fast.S
  src/coreclr/src/vm/arm/asmhelpers.S
  src/coreclr/src/vm/arm/asmhelpers.asm
  src/coreclr/src/vm/eedbginterface.h
  src/coreclr/src/vm/eedbginterfaceimpl.cpp
  src/coreclr/src/vm/eedbginterfaceimpl.h
  src/coreclr/src/vm/eepolicy.cpp
  src/coreclr/src/vm/excep.cpp
  src/coreclr/src/vm/excep.h
  src/coreclr/src/vm/exceptionhandling.cpp
  src/coreclr/src/vm/frames.cpp
  src/coreclr/src/vm/i386/jithelp.S
  src/coreclr/src/vm/i386/jithelp.asm
  src/coreclr/src/vm/stackwalk.cpp
  src/coreclr/src/vm/threads.cpp
  src/coreclr/src/vm/threads.h
Labels: area-ExceptionHandling

#32052 Suppress GCC warning
  src/coreclr/configurecompiler.cmake
Labels: area-Infrastructure-coreclr
