Repository dotnet/runtime, pull requests merged in 2020-01, with the labels that each got.

#1084 Start creating struct LCL_VAR nodes in LocalAddressVisitor
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen

#376 Allow folding of aligned loads when using the VEX encoding and optimizations are enabled
  src/coreclr/src/jit/lowerxarch.cpp
Labels: area-CodeGen

#1180 More Code Cleanup for EH WriteThru
  src/coreclr/src/jit/codegen.h
  src/coreclr/src/jit/codegencommon.cpp
  src/coreclr/src/jit/codegenlinear.cpp
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/instr.cpp
  src/coreclr/src/jit/lclvars.cpp
  src/coreclr/src/jit/liveness.cpp
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsrabuild.cpp
Labels: area-CodeGen

#1136 Clean workspace in global-build-job.yml
  eng/pipelines/common/clone-checkout-bundle-step.yml
  eng/pipelines/common/global-build-job.yml
Labels: area-Infrastructure

#654 Support GetCultureInfo with predefinedOnly flag
  src/coreclr/src/System.Private.CoreLib/Resources/Strings.resx
  src/libraries/Native/Unix/System.Globalization.Native/pal_locale.c
  src/libraries/Native/Unix/System.Globalization.Native/pal_locale.h
  src/libraries/System.Globalization/tests/CultureInfo/GetCultureInfo.cs
  src/libraries/System.Globalization/tests/System.Globalization.Tests.csproj
  src/libraries/System.Private.CoreLib/src/Interop/Unix/System.Globalization.Native/Interop.Locale.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Globalization

#1223 Arm64: Implement AbsoluteCompare* hardware intrinsics
  src/coreclr/src/jit/emitarm64.cpp
  src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/src/jit/instrsarm64.h
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AbsoluteCompareGreaterThan.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AbsoluteCompareGreaterThanOrEqual.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AbsoluteCompareLessThan.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AbsoluteCompareLessThanOrEqual.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/Program.AdvSimd.Arm64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareGreaterThan.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareGreaterThan.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareGreaterThanOrEqual.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareGreaterThanOrEqual.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareLessThan.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareLessThan.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareLessThanOrEqual.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AbsoluteCompareLessThanOrEqual.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.tt
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/libraries/System.Runtime.Intrinsics.Experimental/ref/System.Runtime.Intrinsics.Experimental.cs
Labels: arch-arm64, area-CodeGen

#1160 Escape vertical bar (`|`) in the echo message of `RunTests.cmd`
  eng/testing/RunnerTemplate.Windows.txt
Labels: area-Infrastructure-libraries

#1254 Fix CompareInfo and SQL tests
  src/libraries/System.Data.Common/tests/System/Data/SqlTypes/SqlStringSortingTest.cs
  src/libraries/System.Globalization/tests/CompareInfo/CompareInfoTests.Compare.cs
  src/libraries/System.Globalization/tests/CompareInfo/CompareInfoTests.cs
Labels: area-System.Globalization

#1263 Make a copy of the image for PEReader
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ILCompiler.Reflection.ReadyToRun.csproj
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/R2RReader.cs
Labels: area-R2RDump

#1284 All System.Private.Corelib.csproj to build successfully in VS
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-Infrastructure-libraries

#1234 Fix Environment.UserInteractive on Windows
  src/coreclr/src/System.Private.CoreLib/PinvokeAnalyzerExceptionList.analyzerdata
  src/libraries/Common/src/Interop/Windows/User32/Interop.Constants.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.GetUserObjectInformation.cs
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs
  src/libraries/System.Private.CoreLib/src/Interop/Windows/User32/Interop.Constants.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Environment.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
  src/libraries/System.ServiceProcess.ServiceController/tests/ServiceBaseTests.cs
  src/libraries/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/TestService.cs
Labels: area-System.Runtime

#1295 Update the path to built runtime for `build -vs`
  eng/build.ps1
Labels: area-Infrastructure-libraries

#1302 Fix DelayLoadHelper kind for delegate ctors and IsInstanceOf
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunSymbolNodeFactory.cs
Labels: area-crossgen2

#1304 Fix GCRefMap for generic method calls via Unboxing stub
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
Labels: area-crossgen2

#1303 Contributing: renaming methods
  src/coreclr/tests/src/Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.cs
Labels: area-AssemblyLoader

#1299 Make sure we update nextByte when we decode NEXT_OPCODE in x86 GCinfo
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/x86/InfoHdr.cs
Labels: area-R2RDump

#1283 Disable failing jobs in PR testing.
  eng/pipelines/coreclr/pr.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr, disabled-test

#1310 Consolidate .netcoreapp.cs test files in System.Numerics.Vectors
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.netcoreapp.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.netcoreapp.tt
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.tt
  src/libraries/System.Numerics.Vectors/tests/System.Numerics.Vectors.Tests.csproj
Labels: area-System.Numerics

#1314 Fix which platform should be excluded.
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr

#1072 Share compiler config code between libs and coreclr
  eng/common/configuretools.cmake
  eng/common/cross/gen-buildsys.sh
  eng/pipelines/coreclr/templates/build-job.yml
  src/coreclr/CMakeLists.txt
  src/coreclr/_build-commons.sh
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
  src/coreclr/build.cmd
  src/coreclr/build.sh
  src/coreclr/src/pal/tools/find-clang.sh
  src/coreclr/src/pal/tools/find-gcc.sh
  src/coreclr/src/pal/tools/gen-buildsys.sh
  src/coreclr/tests/CMakeLists.txt
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
  src/libraries/Native/Unix/gen-buildsys-clang.sh
  src/libraries/Native/Unix/gen-buildsys-gcc.sh
  src/libraries/Native/build-native.sh
Labels: area-Infrastructure-coreclr

#686 Implement HttpContent and HttpClient cancellation APIs
  src/libraries/Common/src/System/Net/Http/NoWriteNoSeekStreamContent.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/ByteArrayContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/FormUrlEncodedContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/MultipartContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/MultipartFormDataContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/ReadOnlyMemoryContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionResponseContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/StreamContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/StringContent.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/MockContent.cs
Labels: area-System.Net.Http

#1200 Add asserts to catch unintentional use of generic overloads
  src/coreclr/src/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConfiguredValueTaskAwaitable.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ValueTaskAwaiter.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
Labels: area-System.Memory

#1038 implement GetScopeId() on Linux
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxIPv6InterfaceProperties.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/IPInterfacePropertiesTest_Linux.cs
Labels: area-System.Net

#1306 Move LocalAddressVisitor to a separate file
  src/coreclr/src/jit/CMakeLists.txt
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/lclmorph.cpp
  src/coreclr/src/jit/morph.cpp
Labels: area-CodeGen

#892 [ARM64] Change INS_bkpt to INS_brk for INS_BREAKPOINT
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/emitarm64.cpp
Labels: area-CodeGen

#1292 Add CMAKE add_jit function and remove duplicated code for all JIT
  src/coreclr/src/jit/CMakeLists.txt
  src/coreclr/src/jit/armelnonjit/CMakeLists.txt
  src/coreclr/src/jit/crossgen/CMakeLists.txt
  src/coreclr/src/jit/linuxnonjit/CMakeLists.txt
  src/coreclr/src/jit/protojit/CMakeLists.txt
  src/coreclr/src/jit/protononjit/CMakeLists.txt
  src/coreclr/src/jit/standalone/CMakeLists.txt
Labels: area-CodeGen

#1017 CoreFX Renames in System.IO PathInternal.Tests
  src/libraries/Common/tests/Tests/System/IO/PathInternal.Tests.cs
  src/libraries/Common/tests/Tests/System/IO/PathInternal.Windows.Tests.cs
Labels: area-System.IO

#1083 Fix reported result in binder tracing for incompatible version for default ALC
  src/coreclr/src/binder/assemblybinder.cpp
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.ResolutionFlow.cs
Labels: area-AssemblyLoader

#1272 Removed duplicates/unused code from src\jit\jitstd.
  src/coreclr/src/inc/clr_std/type_traits
  src/coreclr/src/jit/arraystack.h
  src/coreclr/src/jit/assertionprop.cpp
  src/coreclr/src/jit/block.cpp
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/jithashtable.h
  src/coreclr/src/jit/jitstd.h
  src/coreclr/src/jit/jitstd/algorithm.h
  src/coreclr/src/jit/jitstd/functional.h
  src/coreclr/src/jit/jitstd/list.h
  src/coreclr/src/jit/jitstd/pair.h
  src/coreclr/src/jit/jitstd/type_traits.h
  src/coreclr/src/jit/jitstd/utility.h
  src/coreclr/src/jit/jitstd/vector.h
  src/coreclr/src/jit/rangecheck.cpp
  src/coreclr/src/jit/ssabuilder.h
  src/coreclr/src/jit/ssarenamestate.h
  src/coreclr/src/jit/utils.cpp
  src/coreclr/src/jit/valuenum.cpp
Labels: area-CodeGen

#1335 Add documentation guidelines when adding new APIs
  docs/coding-guidelines/adding-api-guidelines.md
Labels: area-Meta, documentation

#1319 Copy change to XsdDateTime
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XsdDateTime.cs
Labels: area-System.Xml, auto-merge

#1103 Optimize AdjustMaxWorkersActive
  src/coreclr/src/vm/win32threadpool.cpp
Labels: area-System.Threading, auto-merge

#1243 Fix compMatchedVM by using osType to detect cross target compilation
  src/coreclr/src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/src/inc/corinfo.h
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/src/vm/jitinterface.cpp
Labels: area-CodeGen

#1337 Fix build on Void Linux musl
  src/coreclr/init-distro-rid.sh
  src/coreclr/src/pal/src/config.h.in
  src/coreclr/src/pal/src/configure.cmake
  src/coreclr/src/pal/src/include/pal/context.h
Labels: area-Infrastructure-libraries

#1331 Force Windows SDK to be 10.0
  src/coreclr/build.cmd
  src/installer/corehost/Windows/gen-buildsys-win.bat
  src/installer/corehost/build.cmd
  src/libraries/Native/Windows/gen-buildsys-win.bat
  src/libraries/Native/build-native.cmd
Labels: area-Infrastructure

#1005 Fix broken docs links
  docs/workflow/requirements/linux-requirements.md
  src/coreclr/build-test.cmd
  src/coreclr/setup_vs_tools.cmd
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/conventions.txt
  src/coreclr/src/vm/eetoprofinterfaceimpl.cpp
  src/coreclr/src/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/tests/src/JIT/superpmi/runtests.sh
  src/installer/pkg/packaging/osx/hostfxr/resources/cs.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/de.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/en.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/es.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/fr.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/it.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/ja.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/ko.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/pl.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/pt-br.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/ru.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/tr.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/zh-hans.lproj/conclusion.html
  src/installer/pkg/packaging/osx/hostfxr/resources/zh-hant.lproj/conclusion.html
  src/libraries/Common/src/System/Net/Http/Http2/ReadMe.SharedCode.md
  src/libraries/Common/tests/System/Net/Prerequisites/README.md
  src/libraries/Native/build-native.cmd
  src/libraries/System.Data.SqlClient/tests/ManualTests/README.md
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Readme.md
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Readme.md
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SuppressGCTransitionAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ExecutionContext.cs
  src/libraries/System.Text.Encodings.Web/tools/updating-encodings.md
Labels: area-Infrastructure-coreclr

#1032 Make sure default ALC is initialized before resolving satellite assembly
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/coreclr/src/binder/clrprivbindercoreclr.cpp
  src/coreclr/src/vm/mscorlib.h
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.DefaultProbing.cs
Labels: area-AssemblyLoader

#1305 Require test framework assemblies crossgen to succeed
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
Labels: area-Infrastructure-coreclr

#1057 New PhysicalAddress.TryParse methods taking span and string
  src/libraries/System.Net.NetworkInformation/ref/System.Net.NetworkInformation.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/PhysicalAddress.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/PhysicalAddressTest.cs
Labels: area-System.Memory

#1288 Fix LSRA dump of GC Kills
  src/coreclr/src/jit/lsra.cpp
  src/coreclr/src/jit/lsra.h
Labels: area-CodeGen

#1358 Update shared parts of crossgen2
  src/coreclr/src/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/src/tools/Common/TypeSystem/Common/TargetDetails.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/MarshalUtils.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ArrayOfEmbeddedDataNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ArrayOfEmbeddedPointersNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/EmbeddedObjectNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/EmbeddedPointerIndirectionNode.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
Labels: area-crossgen2

#1359 Another PAL cleanup
  src/coreclr/src/pal/inc/pal.h
  src/coreclr/src/pal/inc/palprivate.h
  src/coreclr/src/pal/src/cruntime/filecrt.cpp
  src/coreclr/src/pal/src/cruntime/thread.cpp
  src/coreclr/src/pal/src/file/directory.cpp
  src/coreclr/src/pal/src/include/pal/file.h
  src/coreclr/src/pal/src/include/pal/palinternal.h
  src/coreclr/src/pal/src/map/virtual.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_fullpath/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_fullpath/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_fullpath/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/_fullpath/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/c_runtime/_open_osfhandle/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_open_osfhandle/test1/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_open_osfhandle/test1/test1.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/_open_osfhandle/test1/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/c_runtime/_open_osfhandle/test2/CMakeLists.txt
  src/coreclr/src/pal/tests/palsuite/c_runtime/_open_osfhandle/test2/test2.cpp
  src/coreclr/src/pal/tests/palsuite/c_runtime/_open_osfhandle/test2/testinfo.dat
  src/coreclr/src/pal/tests/palsuite/paltestlist.txt
  src/coreclr/src/vm/gcenv.os.cpp
Labels: area-PAL

#1279 Kill local asserts for partial write in copyBlock
  src/coreclr/src/jit/morph.cpp
  src/coreclr/tests/src/JIT/Regression/JitBlue/Runtime_1241/Runtime_1241.cs
  src/coreclr/tests/src/JIT/Regression/JitBlue/Runtime_1241/Runtime_1241.csproj
Labels: area-CodeGen

#1181 Update LSRA document
  docs/design/features/lsra-detail.md
Labels: area-CodeGen, documentation

#1236 Delete Tests.props
  src/libraries/Common/tests/Tests.props
  src/libraries/System.Private.Xml.Linq/tests/XPath/XDocument/System.Xml.XPath.XDocument.Tests.csproj
  src/libraries/System.Private.Xml/tests/XPath/XPathDocument/System.Xml.XPath.Tests.csproj
  src/libraries/System.Private.Xml/tests/XPath/XmlDocument/System.Xml.XPath.XmlDocument.Tests.csproj
  src/libraries/System.Private.Xml/tests/XmlDocument/System.Xml.XmlDocument.Tests.csproj
  src/libraries/System.Private.Xml/tests/XmlNodeReader/System.Xml.XmlNodeReader.Tests/System.Xml.XmlNodeReader.Tests.csproj
  src/libraries/System.Private.Xml/tests/XmlResolver/System.Xml.XmlResolver.Tests/System.Xml.XmlResolver.Tests.csproj
  src/libraries/System.Resources.Reader/tests/System.Resources.Reader.Tests.csproj
  src/libraries/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
Labels: area-Infrastructure-libraries

#1369 Fix musl condition for chroot case
  src/coreclr/init-distro-rid.sh
Labels: area-Infrastructure-coreclr

#1373 Add Alpine 3.11 testing
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#1370 Fix Reading Time Formats with quotes from ICU
  src/libraries/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoLongTimePattern.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Unix.cs
Labels: area-System.Globalization

#1376 Change location of some source files
  docs/design/features/native-hosting.md
  eng/native/configuretools.cmake
  eng/native/gen-buildsys.sh
  src/coreclr/CMakeLists.txt
  src/coreclr/build-test.cmd
  src/coreclr/build-test.sh
  src/coreclr/build.cmd
  src/coreclr/build.sh
  src/coreclr/src/CMakeLists.txt
  src/coreclr/src/coreclr/CMakeLists.txt
  src/coreclr/src/hosts/CMakeLists.txt
  src/coreclr/src/hosts/applydefines.pl
  src/coreclr/src/hosts/coreconsole/CMakeLists.txt
  src/coreclr/src/hosts/coreconsole/coreconsole.cpp
  src/coreclr/src/hosts/coreconsole/logger.cpp
  src/coreclr/src/hosts/coreconsole/logger.h
  src/coreclr/src/hosts/coreconsole/native.rc
  src/coreclr/src/hosts/corerun/CMakeLists.txt
  src/coreclr/src/hosts/corerun/corerun.cpp
  src/coreclr/src/hosts/corerun/logger.cpp
  src/coreclr/src/hosts/corerun/logger.h
  src/coreclr/src/hosts/corerun/native.rc
  src/coreclr/src/hosts/corerun/test.txt
  src/coreclr/src/hosts/coreshim/CMakeLists.txt
  src/coreclr/src/hosts/coreshim/ComActivation.cpp
  src/coreclr/src/hosts/coreshim/CoreShim.cpp
  src/coreclr/src/hosts/coreshim/CoreShim.h
  src/coreclr/src/hosts/coreshim/Exports.def
  src/coreclr/src/hosts/inc/coreclrhost.h
  src/coreclr/src/hosts/osxbundlerun/CMakeLists.txt
  src/coreclr/src/hosts/osxbundlerun/osxbundlerun.cpp
  src/coreclr/src/hosts/unixcoreconsole/CMakeLists.txt
  src/coreclr/src/hosts/unixcoreconsole/coreconsole.cpp
  src/coreclr/src/hosts/unixcorerun/CMakeLists.txt
  src/coreclr/src/hosts/unixcorerun/corerun.cpp
  src/coreclr/src/hosts/unixcoreruncommon/CMakeLists.txt
  src/coreclr/src/hosts/unixcoreruncommon/config.h.in
  src/coreclr/src/hosts/unixcoreruncommon/configure.cmake
  src/coreclr/src/hosts/unixcoreruncommon/coreruncommon.cpp
  src/coreclr/src/hosts/unixcoreruncommon/coreruncommon.h
  src/coreclr/tests/CMakeLists.txt
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/build-native.sh
Labels: area-Infrastructure

#1102 Add Job for Release testing
  eng/pipelines/coreclr/release-tests.yml
Labels: area-Infrastructure-coreclr

#1385 Fix stack overflow in PhysicalAddress.TryParse taking out CI
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/PhysicalAddress.cs
Labels: area-System.Net, auto-merge

#1339 Fix reported result in binder tracing for mismatched MVID when loading assembly by path / stream
  src/coreclr/src/binder/assemblybinder.cpp
  src/coreclr/src/binder/bindertracing.cpp
  src/coreclr/src/binder/inc/bindertracing.h
  src/coreclr/tests/src/Loader/binding/tracing/AssemblyToLoad.cs
  src/coreclr/tests/src/Loader/binding/tracing/AssemblyToLoad.csproj
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.ResolutionFlow.cs
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.csproj
  src/coreclr/tests/src/Loader/binding/tracing/Helpers.cs
Labels: area-AssemblyLoader

#1389 Fix GC heap corruption on ARM
  src/coreclr/src/gc/gc.cpp
Labels: arch-arm32, area-GC

#808 Ensure LocalEndPoint being updated in SendToAsync(SocketAsyncEventArgs)
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendTo.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets, breaking-change

#1381 Suppress ExecutionContext flow in SocketHttpHandler's ConnectHelper
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
Labels: area-System.Net.Http

#1364 Fix nullable annotations on CollectionExtensions.GetValueOrDefault
  src/libraries/System.Collections/ref/System.Collections.cs
  src/libraries/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs
Labels: area-System.Collections

#545 Fix ReflectionTypeLoadException nullable annotations
  src/libraries/System.Private.CoreLib/src/System/Reflection/ReflectionTypeLoadException.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Reflection/ReflectionTypeLoadExceptionTests.cs
Labels: area-System.Reflection

#1447 Disable failing BasicTest_AccessInstanceProperties_NoExceptions_Bsd test
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
Labels: area-System.Net.Http

#1036 Add public API MemoryMarshal.GetRawArrayData
  src/coreclr/src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/src/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.CoreCLR.cs
  src/coreclr/src/System.Private.CoreLib/src/System/Text/Utf8Span.Conversion.cs
  src/coreclr/src/tools/Common/TypeSystem/IL/Stubs/MemoryMarshalIntrinsics.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/IL/ReadyToRunILProvider.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/src/vm/jitinterface.cpp
  src/coreclr/src/vm/mscorlib.h
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/tests/MemoryMarshal/GetArrayDataReference.cs
  src/libraries/System.Memory/tests/System.Memory.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Array.cs
  src/libraries/System.Private.CoreLib/src/System/Memory.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/ReadOnlyMemory.cs
  src/libraries/System.Private.CoreLib/src/System/ReadOnlySpan.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.cs
  src/libraries/System.Private.CoreLib/src/System/Span.cs
Labels: area-System.Runtime

#1073 Dev/anscoggi/activate live builds
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
Labels: area-Infrastructure-coreclr

#1474 Update superpmi.py helper script
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen

#1451 Fix fat call transform for x86
  src/coreclr/src/jit/indirectcalltransformer.cpp
Labels: area-CodeGen

#1347 improve ALPN handling
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
Labels: area-System.Net.Security

#1348 More Regex perf improvements
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexBoyerMoore.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFCD.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParseException.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTree.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/libraries/System.Text.RegularExpressions/tests/Configurations.props
  src/libraries/System.Text.RegularExpressions/tests/MonoRegexTests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Cache.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Ctor.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.KnownPattern.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.MultipleMatches.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexCharacterSetTests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexCompilationInfoTests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexMatchTimeoutExceptionTests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexParserTests.cs
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Labels: area-System.Text.RegularExpressions

#1440 CoreFXToLibrariesRename
  src/libraries/System.Runtime.Serialization.Formatters/tests/FormatterServicesTests.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CryptoConfig.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs
  src/libraries/System.Security.Cryptography.Primitives/tests/HmacAlgorithmTest.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/X509Pal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CachedSystemStoreProvider.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509Encoder.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.Import.cs
  src/libraries/System.Security.Principal.Windows/tests/WindowsPrincipalTests.cs
Labels: area-Infrastructure-libraries

#1379 Expose CreateLinkedTokenSource(CancellationToken)
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/WebSockets/WebSocketBase.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/CancellationTokenSource.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs
  src/libraries/System.Threading.Tasks/ref/System.Threading.Tasks.cs
  src/libraries/System.Threading.Tasks/tests/CancellationTokenTests.cs
  src/libraries/System.Threading.Tasks/tests/Task/TaskContinueWithTests.cs
Labels: area-System.Threading.Tasks

#1456 Remove BaseDomain::IsSharedDomain (always false now)
  src/coreclr/src/vm/appdomain.cpp
  src/coreclr/src/vm/appdomain.hpp
  src/coreclr/src/vm/ceeload.cpp
  src/coreclr/src/vm/codeversion.cpp
  src/coreclr/src/vm/contractimpl.cpp
  src/coreclr/src/vm/contractimpl.h
  src/coreclr/src/vm/eventtrace.cpp
  src/coreclr/src/vm/ilstubcache.cpp
  src/coreclr/src/vm/method.hpp
  src/coreclr/src/vm/methodtable.cpp
  src/coreclr/src/vm/virtualcallstub.cpp
Labels: area-AssemblyLoader

#1437 Don't call AdvanceTo(default) in PipeReader.CopyToAsync
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/libraries/System.IO.Pipelines/tests/PipeReaderCopyToAsyncTests.cs
Labels: area-System.IO.Pipelines

#1470 Rename file extension of RunnerTemplate.Windows.txt to .cmd
  eng/testing/RunnerTemplate.cmd
  eng/testing/RunnerTemplate.sh
  eng/testing/tests.targets
Labels: area-Infrastructure-libraries

#1452 HttpStress: fix script issue
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/run-docker-compose.ps1
Labels: area-System.Net.Http, tenet-reliability

#1446 Add gcstress option to SuperILC
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildFolderSet.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/BuildOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CommandLineOptions.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/CompilerRunner.cs
  src/coreclr/src/tools/ReadyToRun.SuperIlc/ProcessRunner.cs
Labels: area-crossgen2

#1521 remove unneeded code
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/FixedSizeReader.cs
  src/libraries/System.Net.Security/src/System/Net/NTAuthentication.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NegoState.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/SslStreamContext.cs
  src/libraries/System.Net.Security/src/System/Net/StreamFramer.cs
Labels: area-System.Net.Security

#1220 Arm64: Add TransposeVectorEven and TransposeVectorOdd intrinsics
  src/coreclr/src/jit/codegenarm64.cpp
  src/coreclr/src/jit/emitarm64.cpp
  src/coreclr/src/jit/hwintrinsiclistarm64.h
  src/coreclr/src/jit/instrsarm64.h
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_r.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_ro.csproj
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/Program.AdvSimd.Arm64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector64.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector64.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector64.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector64.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector64.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeEven.Vector64.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.Double.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.Int64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector128.UInt64.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector64.Byte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector64.Int16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector64.Int32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector64.SByte.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector64.Single.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector64.UInt16.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/TransposeOdd.Vector64.UInt32.cs
  src/coreclr/tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/libraries/System.Runtime.Intrinsics.Experimental/ref/System.Runtime.Intrinsics.Experimental.cs
Labels: arch-arm64, area-CodeGen

#1455 Add binder tracing test for ResolveSatelliteAssembly stage
  src/coreclr/tests/src/Loader/binding/tracing/BinderTracingTest.ResolutionFlow.cs
Labels: area-AssemblyLoader

#1226 Fix parsing of metadata when looking for COM related CustomAttributes.
  src/installer/managed/Microsoft.NET.HostModel/ComHost/ClsidMap.cs
  src/installer/managed/Microsoft.NET.HostModel/ComHost/ComHost.cs
  src/installer/test/Assets/TestProjects/ComLibrary/ComLibrary.cs
Labels: area-HostModel

#1536 Always build the OpenSSL shim in portable mode on macOS.
  src/libraries/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native/openssl.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.c
Labels: area-System.Security

#1059 Fix and Test case for #27924
  src/coreclr/src/jit/codegenxarch.cpp
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_27924/GitHub_27924.cs
  src/coreclr/tests/src/JIT/Regression/JitBlue/GitHub_27924/GitHub_27924.csproj
Labels: area-CodeGen

#1539 R2RDump improvements w.r.t. GC info reporting
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/Amd64/GcInfo.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/Amd64/GcSlotTable.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/GCInfoTypes.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/R2RMethod.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/x86/GcInfo.cs
  src/coreclr/src/tools/r2rdump/Extensions.cs
  src/coreclr/src/tools/r2rdump/R2RDump.csproj
  src/coreclr/src/tools/r2rdump/R2RDump.sln
Labels: area-R2RDump

#1594 Generate full platform manifest in official build
  eng/liveBuilds.targets
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/runtime-official.yml
  src/installer/pkg/projects/netcoreappRIDs.props
Labels: area-Infrastructure-installer

#497 Snap updates for 3.1 GA
  src/installer/pkg/packaging/snaps/dotnet-runtime-3.1/snap/snapcraft.yaml
  src/installer/pkg/packaging/snaps/dotnet-sdk/snap/snapcraft.yaml
Labels: area-Snap

#1619 Fix all GC stress failures in Pri1 tests on Unix with crossgen2
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
Labels: area-crossgen2

#1620 Add LibrariesAllConfigurationsOverridePath for improved live asset arg consistency
  eng/liveBuilds.targets
  eng/pipelines/installer/jobs/base-job.yml
Labels: area-Infrastructure

#1458 Fixup orphaned references to GetRawSzArrayData
  src/coreclr/src/tools/Common/TypeSystem/IL/Stubs/RuntimeHelpersIntrinsics.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/coreclr/src/tools/Common/TypeSystem/Interop/InteropTypes.cs
Labels: area-crossgen2

#1468 gc, pal: Avoid linking libnuma.so on non-NUMA systems
  src/coreclr/src/gc/unix/gcenv.unix.cpp
  src/coreclr/src/pal/src/numa/numa.cpp
Labels: area-PAL

#297 Follow coding conventions
  src/coreclr/src/binder/assemblybinder.cpp
  src/coreclr/src/pal/src/include/pal/shmemory.h
  src/coreclr/src/pal/src/shmemory/shmemory.cpp
  src/coreclr/src/vm/comcache.cpp
  src/coreclr/src/vm/stubmgr.h
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/MetadataTests.cs
  src/libraries/System.Data.SqlClient/src/System/Data/SqlClient/SqlDependency.cs
  src/libraries/System.Data.SqlClient/src/System/Data/SqlClient/SqlDependencyListener.cs
  src/libraries/System.Diagnostics.Process/src/Microsoft/Win32/SafeHandles/SafeProcessHandle.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Private.Xml.Linq/tests/Schema/ExtensionTests.cs
Labels: area-Meta

#1596 Add Library builds for release-testing job
  eng/pipelines/coreclr/release-tests.yml
Labels: area-Infrastructure-coreclr

#1270 Change how we detect SSL3 on Windows
  src/libraries/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/Common/tests/CoreFx.Private.TestUtilities/System/PlatformDetection.cs
Labels: area-System.Net.Security, os-windows, test enhancement

#1604 Enable TRACE_GC for the whole gc.cpp
  src/coreclr/src/gc/gc.cpp
  src/coreclr/src/gc/gcimpl.h
Labels: area-GC

#1597 Normalize Regex char class containing a single negated character
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexCharacterSetTests.cs
Labels: area-System.Text.RegularExpressions

#1614 Annotate System.Diagnostics.FileVersionInfo for nullable reference types
  src/libraries/System.Diagnostics.FileVersionInfo/ref/System.Diagnostics.FileVersionInfo.cs
  src/libraries/System.Diagnostics.FileVersionInfo/ref/System.Diagnostics.FileVersionInfo.csproj
  src/libraries/System.Diagnostics.FileVersionInfo/src/System.Diagnostics.FileVersionInfo.csproj
  src/libraries/System.Diagnostics.FileVersionInfo/src/System/Diagnostics/FileVersionInfo.Unix.cs
  src/libraries/System.Diagnostics.FileVersionInfo/src/System/Diagnostics/FileVersionInfo.Windows.cs
  src/libraries/System.Diagnostics.FileVersionInfo/src/System/Diagnostics/FileVersionInfo.cs
Labels: area-System.Diagnostics

#1617 Add more known Regex patterns to increase test coverage.
  src/libraries/System.Text.RegularExpressions/tests/Regex.KnownPattern.Tests.cs
Labels: area-System.Text.RegularExpressions

#1621 Annotate Microsoft.Win32.SystemEvents for nullable reference types
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetModuleHandle.cs
  src/libraries/Microsoft.Win32.SystemEvents/ref/Microsoft.Win32.SystemEvents.cs
  src/libraries/Microsoft.Win32.SystemEvents/ref/Microsoft.Win32.SystemEvents.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/GenericEventTests.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.DisplaySettings.cs
Labels: area-Microsoft.Win32

#1598 Change NetworkStream.Socket property from protected to public
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ExposedSocketNetworkStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Labels: area-System.Net.Sockets

#636 Remove dead code in BlockingCollection
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs
Labels: area-System.Collections, auto-merge

#1431 Annotate System.Security.Claims for nullable
  src/libraries/System.Security.Claims/ref/System.Security.Claims.cs
  src/libraries/System.Security.Claims/ref/System.Security.Claims.csproj
  src/libraries/System.Security.Claims/src/System.Security.Claims.csproj
  src/libraries/System.Security.Claims/src/System/Security/Claims/Claim.cs
  src/libraries/System.Security.Claims/src/System/Security/Claims/ClaimsIdentity.cs
  src/libraries/System.Security.Claims/src/System/Security/Claims/ClaimsPrincipal.cs
  src/libraries/System.Security.Claims/src/System/Security/Claims/GenericIdentity.cs
  src/libraries/System.Security.Claims/src/System/Security/Claims/GenericPrincipal.cs
Labels: area-System.Security

#1609 [armel/Linux] Fix armel build
  eng/native/gen-buildsys.sh
Labels: area-Infrastructure-coreclr

#1635 Simplify STA apartment condition in BlockingCollection.TryAddToAny
  src/libraries/System.Collections.Concurrent/src/Resources/Strings.resx
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs
  src/libraries/System.Collections.Concurrent/tests/BlockingCollectionTests.cs
Labels: area-System.Collections

#1649 Make PhysicalAddress.GetHashCode thread-safe.
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/PhysicalAddress.cs
Labels: area-System.Net

#1647 Throw NotSupportedException for WaitHandle.WaitAny with 64 handle on STA threads
  src/coreclr/src/System.Private.CoreLib/Resources/Strings.resx
  src/coreclr/src/vm/threads.cpp
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitHandle.cs
  src/libraries/System.Runtime/tests/System/Threading/WaitHandleTests.cs
Labels: area-System.Threading, breaking-change

#1535 Annotate System.Security.Cryptography.Encoding for nullable
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ERR.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Cng.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.FindOidInfo.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeBioHandle.Unix.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeInteriorHandle.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/DirectoryStringAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/GeneralNameAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/asn.xslt
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/Asn1Tag.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.BitString.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Boolean.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.GeneralizedTime.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Integer.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.OctetString.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Oid.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.Text.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnReader.UtcTime.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.BitString.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.cs
  src/libraries/System.Security.Cryptography.Encoding/ref/System.Security.Cryptography.Encoding.cs
  src/libraries/System.Security.Cryptography.Encoding/ref/System.Security.Cryptography.Encoding.csproj
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/AsnFormatter.OSX.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/AsnFormatter.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/CngAsnFormatter.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.OSX.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.Unix.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.Windows.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OpenSslAsnFormatter.cs
  src/libraries/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
  src/libraries/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/AsnEncodedData.cs
  src/libraries/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/Base64Transforms.cs
  src/libraries/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/Oid.cs
  src/libraries/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/OidCollection.cs
Labels: area-System.Security

#1660 Fix invocation of runtest.py
  src/coreclr/tests/runtest.cmd
Labels: area-Infrastructure-coreclr

#1645 Stop buffering traces by default
  src/installer/corehost/common/trace.cpp
  src/installer/test/HostActivation.Tests/NativeHosting/Nethost.cs
Labels: area-Host

#1618 runtest.py: allow skipping test run
  src/coreclr/tests/runtest.py
Labels: area-Infrastructure-coreclr

#1516 Several improvements to superpmi.py
  src/coreclr/scripts/coreclr_arguments.py
  src/coreclr/scripts/superpmi.md
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen

#1627 Don't reload a lclVar if it's RegOptional
  src/coreclr/src/jit/lsra.cpp
Labels: area-CodeGen

#1672 Tiny cleanup - make host_startup_info return void
  src/installer/corehost/cli/host_startup_info.cpp
  src/installer/corehost/cli/host_startup_info.h
Labels: area-Host

#1657 Make parsing of debug info lazy
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/DebugInfo.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/EHInfo.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/GCRefMap.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunHeader.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunImportSection.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunSection.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/ReadyToRunSignature.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/TransitionBlock.cs
  src/coreclr/src/tools/r2rdump/CoreDisTools.cs
  src/coreclr/src/tools/r2rdump/Extensions.cs
  src/coreclr/src/tools/r2rdump/R2RDiff.cs
  src/coreclr/src/tools/r2rdump/R2RDump.cs
  src/coreclr/src/tools/r2rdump/TextDumper.cs
Labels: area-R2RDump

#1687 Globally disable Windows ARM32 runs to reduce noise in CoreCLR runs
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
Labels: area-Infrastructure-coreclr

#1654 Process "multi" strings in compiled regexes 4 or 2 chars at a time when possible
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexCultureTests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#1662 Remove faulty assert from MethodDebugInformation
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/PortablePdb/MethodDebugInformation.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/MetadataReaderTests.cs
Labels: area-System.Reflection.Metadata

#1665 Remove unnecessary DynamicMethod from in-memory compiled regex
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#1705 JIT: some jitstress fixes
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/lclvars.cpp
Labels: area-CodeGen

#1695 Temporarily disable outerloop crossgen comparison runs
  eng/pipelines/coreclr/ci.yml
Labels: area-Infrastructure-coreclr

#1701 Fix indentation bug in helix-queues-setup, sigh
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
Labels: area-Infrastructure-coreclr

#1693 Add Regex test to validate character-by-character comparison
  src/libraries/System.Text.RegularExpressions/tests/RegexCultureTests.cs
Labels: area-System.Globalization

#1697 Remove codebase argument from AssemblyNative::Load
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/src/vm/assemblynative.cpp
  src/coreclr/src/vm/assemblynative.hpp
  src/coreclr/src/vm/assemblyspec.cpp
  src/coreclr/src/vm/assemblyspec.hpp
Labels: area-AssemblyLoader

#1709 Port changes to crossgen2 shared files
  src/coreclr/src/tools/Common/Compiler/DependencyAnalysis/Target_X86/X86Emitter.cs
  src/coreclr/src/tools/crossgen2/jitinterface/jithost.cpp
Labels: area-crossgen2

#1639 Add basic Capture support to non-backtracking RegexCompiler
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexOptions.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Ctor.Tests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#1670 Move Assembly.GetEntryAssembly method to shared version of Assembly
  src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Assembly.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/Assembly.cs
Labels: area-System.Reflection

#1613 [reflection] Add additional TypeInfo.FullName tests
  src/libraries/System.Reflection/tests/System.Reflection.Tests.csproj
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
Labels: area-System.Reflection

#1683 Remove unused function in deps parsing
  src/installer/corehost/cli/deps_format.cpp
  src/installer/corehost/cli/deps_format.h
  src/installer/corehost/cli/hostpolicy/deps_resolver.cpp
  src/installer/corehost/cli/hostpolicy/deps_resolver.h
  src/installer/test/HostActivation.Tests/DependencyResolution/ResolveComponentDependencies.cs
Labels: area-Host

#1702 Fix runtest.py test analysis and repro creation
  src/coreclr/tests/runtest.py
Labels: area-Infrastructure-coreclr

#1623 Use platform-matrix for Installer jobs
  eng/pipelines/common/platform-matrix-multijob.yml
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/installer/azure-pipelines.yml
  eng/pipelines/installer/installer-matrix.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/installer/jobs/bash-build.yml
  eng/pipelines/installer/jobs/osx-build.yml
  eng/pipelines/installer/jobs/windows-build.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-installer

#1690 Enable upgrading loops before alternations to be atomic
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#1715 Fix test property evaluation on netfx vertical
  eng/testing/xunit/xunit.console.targets
Labels: area-Infrastructure-libraries

#1309 JIT: build basic block pred lists before morph
  src/coreclr/src/jit/compiler.cpp
  src/coreclr/src/jit/compiler.hpp
  src/coreclr/src/jit/flowgraph.cpp
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/src/jit/optimizer.cpp
  src/coreclr/tests/src/JIT/opt/Tailcall/EarlyFlowOptExample.cs
  src/coreclr/tests/src/JIT/opt/Tailcall/EarlyFlowOptExample.csproj
Labels: area-CodeGen

#1659 Cleanup remaining rhel/centos 6 conditions
  src/coreclr/init-distro-rid.sh
  src/installer/corehost/build.sh
  src/installer/managed/Microsoft.DotNet.PlatformAbstractions/Native/PlatformApis.cs
  src/libraries/Native/build-native.sh
Labels: area-Infrastructure

#1513 improve cert validation diagnostic on OSX
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Ssl.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.h
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.OSX.cs
Labels: area-System.Net.Security, os-mac-os-x

#1729 Update System.Drawing.Common index to get latest package for harvesting
  src/libraries/pkg/Microsoft.Private.PackageBaseline/packageIndex.json
Labels: area-System.Drawing

#1694 Fix linuxnonjit that got accidentally renamed to linuxonjit
  src/coreclr/src/jit/linuxnonjit/CMakeLists.txt
Labels: area-CodeGen

#1731 Update Version.Details.xml with new UnicodeData test asset
  eng/Version.Details.xml
Labels: area-Infrastructure

#816 Fix token encoding crash when compiling without version bubble
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/CompilationModuleGroup.ReadyToRun.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ModuleTokenResolver.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunSingleAssemblyCompilationModuleGroup.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/SingleMethodCompilationModuleGroup.cs
Labels: area-crossgen2

#979 Nullable annotate System.Linq.Queryable
  src/libraries/System.Linq.Expressions/ref/System.Linq.Expressions.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/IQueryable.cs
  src/libraries/System.Linq.Queryable/ref/System.Linq.Queryable.cs
  src/libraries/System.Linq.Queryable/ref/System.Linq.Queryable.csproj
  src/libraries/System.Linq.Queryable/src/System.Linq.Queryable.csproj
  src/libraries/System.Linq.Queryable/src/System/Linq/CachedReflection.cs
  src/libraries/System.Linq.Queryable/src/System/Linq/EnumerableExecutor.cs
  src/libraries/System.Linq.Queryable/src/System/Linq/EnumerableQuery.cs
  src/libraries/System.Linq.Queryable/src/System/Linq/EnumerableRewriter.cs
  src/libraries/System.Linq.Queryable/src/System/Linq/Queryable.cs
  src/libraries/System.Linq.Queryable/src/System/Linq/TypeHelper.cs
Labels: area-System.Linq

#1624 Add minimum length optimization to RegexCompiler
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFCD.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTree.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexCultureTests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#1727 Mark Value/HasValue/GetValueOrDefault members of Nullable<T> as readonly
  src/libraries/System.Private.CoreLib/src/System/Nullable.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime

#1249 pal_random: Open /dev/urandom with O_CLOEXEC
  src/coreclr/src/pal/src/misc/miscpalapi.cpp
  src/libraries/Native/Unix/System.Native/pal_random.c
Labels: area-PAL, auto-merge

#696 Remove two always false properties in UriSyntax
  src/libraries/System.Private.Uri/src/System/IriHelper.cs
  src/libraries/System.Private.Uri/src/System/UriHelper.cs
  src/libraries/System.Private.Uri/src/System/UriSyntax.cs
  src/libraries/System.Private.Uri/tests/UnitTests/Fakes/FakeUriParser.cs
  src/libraries/System.Private.Uri/tests/UnitTests/System.Private.Uri.Unit.Tests.csproj
Labels: area-System.Net

#778 Revert Async changes in SNIPacket to fix deadlock issues
  src/libraries/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/libraries/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetCoreApp.cs
  src/libraries/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.NetStandard.cs
  src/libraries/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs
Labels: area-System.Data.SqlClient

#534 Fix description of -skipnuget in src/coreclr/build.sh
  src/coreclr/build.sh
Labels: area-Infrastructure-coreclr

#1742 Fix PEReader creation and caching
  src/coreclr/src/tools/r2rdump/R2RDump.cs
Labels: area-crossgen2

#1607 Add link to shared portion of CoreLib to .gitignore
  .gitignore
Labels: area-Infrastructure-coreclr

#1463 Cse tuning
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/optcse.cpp
Labels: area-CodeGen

#1741 JIT: handle some side effects in box pattern match
  src/coreclr/src/jit/importer.cpp
Labels: area-CodeGen

#1773 Bump coverlet version
  .config/dotnet-tools.json
Labels: area-Infrastructure-libraries

#1771 Jitstress fixes for tailcall tests
  src/coreclr/src/jit/compiler.h
  src/coreclr/src/jit/importer.cpp
  src/coreclr/src/jit/morph.cpp
  src/coreclr/tests/src/JIT/Directed/tailcall/tailcall.ilproj
Labels: JitStress, area-CodeGen

#1778 Update ReportGenerator to 4.4.2
  .config/dotnet-tools.json
Labels: area-Infrastructure-libraries

#1734 Fix Issue 1104
  src/coreclr/src/jit/rangecheck.cpp
  src/coreclr/tests/src/JIT/Regression/JitBlue/Runtime_1104/Runtime_1104.cs
  src/coreclr/tests/src/JIT/Regression/JitBlue/Runtime_1104/Runtime_1104.csproj
Labels: area-CodeGen

#1743 Delete checked-in Unicode data files in favor of runtime-assets package
  src/libraries/Common/tests/CoreFx.Private.TestUtilities.Unicode/System/Text/Unicode/UnicodeData.cs
  src/libraries/Common/tests/Data/CaseFolding-12.1.0.txt
  src/libraries/Common/tests/Data/PropList-12.1.0.txt
  src/libraries/Common/tests/Data/UnicodeData.11.0.txt
  src/libraries/Common/tests/Data/UnicodeData.12.1.txt
  src/libraries/Common/tests/Data/UnicodeData.8.0.txt
  src/libraries/Common/tests/Data/UnicodeData63.txt
  src/libraries/Common/tests/Data/UnicodeReadme.txt
  src/libraries/System.Globalization/tests/System.Globalization.Tests.csproj
  src/libraries/System.Globalization/tests/System/Globalization/CharUnicodeInfoTestData.cs
  src/libraries/System.Globalization/tests/System/Globalization/GraphemeBreakTest.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/CharTests.cs
  src/libraries/System.Runtime/tests/System/Text/RuneTests.cs
  src/libraries/System.Runtime/tests/System/Text/Unicode/UnicodeData.cs
  src/libraries/System.Text.Encodings.Web/tests/System.Text.Encodings.Web.Tests.csproj
  src/libraries/System.Text.Encodings.Web/tests/UnicodeHelpersTests.cs
  src/libraries/System.Text.Encodings.Web/tools/updating-encodings.md
Labels: area-System.Globalization

#1774 Fix impSIMDMinMax
  src/coreclr/src/jit/simd.cpp
Labels: area-CodeGen

#1764 Delete duplicated R2R version definition and sync to reality
  src/coreclr/src/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/HeaderNode.cs
Labels: area-crossgen2
