Repository dotnet/runtime, pull requests merged in 2021-03, with the labels that each got.

#48863 Fix implicit conversion warning
  src/mono/mono/mini/local-propagation.c
Labels: area-VM-meta-mono, mono-mirror

#48767 Move runtime specific NativeRuntimeEventSource code into SPC runtime shim.
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Eventing/NativeRuntimeEventSource.PortableThreadPool.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/NativeRuntimeEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/NativeRuntimeEventSource.PortableThreadPool.cs
Labels: area-Tracing-mono

#48821 Add main branch to yml files
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/clrinterpreter.yml
  eng/pipelines/coreclr/crossgen2-composite.yml
  eng/pipelines/coreclr/crossgen2-gcstress.yml
  eng/pipelines/coreclr/crossgen2-outerloop.yml
  eng/pipelines/coreclr/crossgen2.yml
  eng/pipelines/coreclr/gc-longrunning.yml
  eng/pipelines/coreclr/gc-simulator.yml
  eng/pipelines/coreclr/gcstress-extra.yml
  eng/pipelines/coreclr/gcstress0x3-gcstress0xc.yml
  eng/pipelines/coreclr/ilasm.yml
  eng/pipelines/coreclr/jit-experimental.yml
  eng/pipelines/coreclr/jitrollingbuild.yml
  eng/pipelines/coreclr/jitstress-isas-arm.yml
  eng/pipelines/coreclr/jitstress-isas-x86.yml
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/jitstressregs-x86.yml
  eng/pipelines/coreclr/jitstressregs.yml
  eng/pipelines/coreclr/libraries-gcstress-extra.yml
  eng/pipelines/coreclr/libraries-gcstress0x3-gcstress0xc.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/libraries-jitstressregs.yml
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/r2r-extra.yml
  eng/pipelines/coreclr/r2r.yml
  eng/pipelines/coreclr/release-tests.yml
  eng/pipelines/coreclr/runincontext.yml
  eng/pipelines/coreclr/superpmi.yml
  eng/pipelines/global-build.yml
  eng/pipelines/libraries/enterprise/linux.yml
  eng/pipelines/libraries/outerloop-mono.yml
  eng/pipelines/libraries/outerloop.yml
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
  eng/pipelines/runtime-linker-tests.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime-richnav.yml
  eng/pipelines/runtime-staging.yml
  eng/pipelines/runtime.yml
Labels: * NO MERGE *, area-Infrastructure

#48755 Upgrade minimum required SDK to 6.0 Preview 1
  global.json
Labels: area-Infrastructure

#48900 Remove master triggers from ymls
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/clrinterpreter.yml
  eng/pipelines/coreclr/crossgen2-composite.yml
  eng/pipelines/coreclr/crossgen2-gcstress.yml
  eng/pipelines/coreclr/crossgen2-outerloop.yml
  eng/pipelines/coreclr/crossgen2.yml
  eng/pipelines/coreclr/gc-longrunning.yml
  eng/pipelines/coreclr/gc-simulator.yml
  eng/pipelines/coreclr/gcstress-extra.yml
  eng/pipelines/coreclr/gcstress0x3-gcstress0xc.yml
  eng/pipelines/coreclr/ilasm.yml
  eng/pipelines/coreclr/jit-experimental.yml
  eng/pipelines/coreclr/jitrollingbuild.yml
  eng/pipelines/coreclr/jitstress-isas-arm.yml
  eng/pipelines/coreclr/jitstress-isas-x86.yml
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/jitstressregs-x86.yml
  eng/pipelines/coreclr/jitstressregs.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/libraries-jitstressregs.yml
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/r2r-extra.yml
  eng/pipelines/coreclr/r2r.yml
  eng/pipelines/coreclr/release-tests.yml
  eng/pipelines/coreclr/runincontext.yml
  eng/pipelines/coreclr/superpmi.yml
  eng/pipelines/global-build.yml
  eng/pipelines/libraries/enterprise/linux.yml
  eng/pipelines/libraries/outerloop.yml
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
  eng/pipelines/runtime-linker-tests.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime-richnav.yml
  eng/pipelines/runtime-staging.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#48904 Address remaning master mentions that should be main
  docs/design/coreclr/botr/guide-for-porting.md
  docs/project/branching-guide.md
  src/coreclr/scripts/superpmi.md
Labels: area-Infrastructure, documentation

#48634 Apply optimizations and fixes to Enumerable.Take(Range)
  src/libraries/System.Linq/src/System/Linq/Skip.cs
  src/libraries/System.Linq/src/System/Linq/Take.SizeOpt.cs
  src/libraries/System.Linq/src/System/Linq/Take.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Take.cs
  src/libraries/System.Linq/tests/CountTests.cs
  src/libraries/System.Linq/tests/TakeTests.cs
Labels: area-System.Linq

#48746 Adjust WebAssembly functional tests structure
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/Program.cs
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/WebAssembly.Browser.AOT.Test.csproj
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/index.html
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/runtime.js
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/Program.cs
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/WebAssembly.Browser.NormalInterp.Test.csproj
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/index.html
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/runtime.js
  src/tests/FunctionalTests/WebAssembly/Console/AOT/Program.cs
  src/tests/FunctionalTests/WebAssembly/Console/AOT/WebAssembly.Console.AOT.Test.csproj
  src/tests/FunctionalTests/WebAssembly/Console/NormalInterp/Program.cs
  src/tests/FunctionalTests/WebAssembly/Console/NormalInterp/WebAssembly.Console.NormalInterp.Test.csproj
  src/tests/FunctionalTests/WebAssembly/Directory.Build.props
  src/tests/FunctionalTests/WebAssembly/Directory.Build.targets
  src/tests/FunctionalTests/WebAssembly/TopLevel/NormalInterp/Program.cs
  src/tests/FunctionalTests/WebAssembly/TopLevel/NormalInterp/WebAssembly.TopLevel.NormalInterp.Test.csproj
Labels: area-Build-mono

#48889 Temporarily fix SuperPMI crossgen2 collections
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#48852 Clean up test run scripts
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Common/CLRTest.Jit.targets
  src/tests/build.sh
  src/tests/run.cmd
  src/tests/run.py
  src/tests/run.sh
Labels: area-Infrastructure-coreclr

#48536 Change Annotations
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/SymbolType.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilderInstantiation.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/libraries/Common/src/System/Drawing/ColorTable.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/IReflect.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/SignatureType.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/TypeDelegator.cs
  src/libraries/System.Private.CoreLib/src/System/Type.cs
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/DerivedTypes.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilderInstantiation.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
Labels: area-System.Drawing

#48427 Update analyzers
  eng/CodeAnalysis.ruleset
  eng/Versions.props
Labels: area-Infrastructure-libraries

#48524 Fix constant folding for PopCount on 32 bit targets
  src/coreclr/jit/importer.cpp
  src/libraries/System.Runtime.Extensions/tests/System/Numerics/BitOperationsTests.cs
  src/tests/JIT/Intrinsics/BitOperationsIntrinsics_r.csproj
  src/tests/JIT/Intrinsics/BitOperationsIntrinsics_ro.csproj
  src/tests/JIT/Intrinsics/BitOperationsPopCount.cs
Labels: area-CodeGen-coreclr

#42904 Add MS_PLATFORM_CRYPTO_PROVIDER to CngProvider
  src/libraries/System.Security.Cryptography.Cng/ref/System.Security.Cryptography.Cng.cs
  src/libraries/System.Security.Cryptography.Cng/src/System/Security/Cryptography/CngProvider.cs
Labels: area-System.Security, new-api-needs-documentation

#48917 Fix crossgen2 shared framework name and clean-up
  Directory.Build.props
  eng/targetingpacks.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
  src/libraries/Directory.Build.props
  src/libraries/pretest.proj
  src/libraries/ref.proj
Labels: area-crossgen2-coreclr, auto-merge

#48912 Deal with Homebrew prefix not being /usr/local (Apple Silicon)
  eng/native/build-commons.sh
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
  src/mono/CMakeLists.txt
Labels: arch-arm64, area-Infrastructure, os-mac-os-x

#48918 Separate BigNum in Unix vs AndroidCrypto
  src/libraries/Common/src/Interop/Android/Interop.JObjectLifetime.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Bignum.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_bignum.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_bignum.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecc_import_export.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecdsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
Labels: area-System.Security, auto-merge, os-android

#48911 cgroup: fix memory leak in GetCGroupMemoryUsage
  src/coreclr/gc/unix/cgroup.cpp
  src/coreclr/pal/src/misc/cgroup.cpp
Labels: area-PAL-coreclr

#48861 Fix decoding empty cert collection
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.X509.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.h
Labels: area-System.Security, os-android

#47919 Setup OSX.1100.ARM64.* helix queues
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/ilasm.yml
  eng/pipelines/coreclr/jitrollingbuild.yml
  eng/pipelines/coreclr/jitstress-isas-arm.yml
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/jitstressregs.yml
  eng/pipelines/coreclr/release-tests.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/libraries/outerloop.yml
  src/coreclr/pal/tests/palsuite/exception_handling/pal_sxs/test1/exceptionsxs.cpp
  src/coreclr/pal/tests/palsuite/file_io/ReadFile/test2/ReadFile.cpp
  src/coreclr/pal/tests/palsuite/filemapping_memmgt/VirtualProtect/test4/VirtualProtect.cpp
  src/coreclr/pal/tests/palsuite/issues.targets
  src/coreclr/pal/tests/palsuite/miscellaneous/queryperformancecounter/test1/test1.cpp
Labels: area-Infrastructure

#48803 [wasm] entry point improvements
  src/mono/wasm/runtime-test.js
  src/mono/wasm/runtime/binding_support.js
Labels: arch-wasm

#48923 In conservative mode RedirectedThreadFrame should report registers to GC.
  src/coreclr/vm/frames.h
Labels: area-VM-coreclr, auto-merge

#48932 Delete low-value PAL test
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/compilableTests.txt
  src/coreclr/pal/tests/palsuite/paltestlist.txt
  src/coreclr/pal/tests/palsuite/threading/SetThreadDescription/test1/pthread_helpers.cpp
  src/coreclr/pal/tests/palsuite/threading/SetThreadDescription/test1/pthread_helpers.hpp
  src/coreclr/pal/tests/palsuite/threading/SetThreadDescription/test1/test1.cpp
Labels: area-PAL-coreclr

#48881 Use an internal zlib on wasm to avoid emscripten downloading one.
  src/mono/CMakeLists.txt
  src/mono/mono/mini/CMakeLists.txt
  src/mono/wasm/Makefile
Labels: area-Build-mono

#48880 Remove unused autoconf defines and checks.
  src/mono/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/cmake/configure.cmake
  src/mono/cmake/options.cmake
Labels: area-Build-mono

#48869 Remove an unnecessary assert.
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-VM-meta-mono

#48828 [Linux-arm] Do not add resolution move in BBCallAlwaysPairTail
  src/coreclr/jit/block.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#48921 Make jitoption a common option in superpmi.py
  eng/pipelines/coreclr/templates/superpmi-job.yml
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#48901 Remove domains from ALCs
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/assembly-load-context.c
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/coree.c
  src/mono/mono/metadata/custom-attrs.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/loader-internals.h
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/memory-manager.c
  src/mono/mono/metadata/reflection.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/interp/whitebox.c
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/mono/mini/monovm.c
  src/mono/mono/tests/metadata-verifier/gen-md-tests.c
Labels: area-AssemblyLoader-mono

#48928 [mono] Switch to shared LowLevelLock
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/System/Threading/LowLevelLock.cs
Labels: area-Threading-mono

#48817 WinHttpHandler: HttpClientHandlerTestBase.AllowAllCertificates should not be static
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/HttpClientHandlerTestBase.WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/PlatformHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
Labels: area-System.Net.Http

#44562 [RyuJIT] static readonly fields can be Invariant
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#45058 Fix Armel crossgen failing during pack
  Directory.Build.props
  src/coreclr/crossgen-corelib.proj
Labels: area-Infrastructure-coreclr

#47167 Add android AOT/PInvoke functional test
  eng/testing/tests.mobile.targets
  src/mono/sample/Android/AndroidSampleApp.csproj
  src/tasks/AndroidAppBuilder/AndroidAppBuilder.cs
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/AndroidAppBuilder/Templates/CMakeLists-android.txt
  src/tasks/AndroidAppBuilder/Templates/MonoRunner.java
  src/tasks/AndroidAppBuilder/Templates/monodroid.c
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/AotCompilerTask/MonoAOTCompiler.props
  src/tests/FunctionalTests/Android/Device_Emulator/AOT/Android.Device_Emulator.Aot.Test.csproj
  src/tests/FunctionalTests/Android/Device_Emulator/AOT/Program.cs
  src/tests/FunctionalTests/Android/Device_Emulator/Interpreter/Android.Device_Emulator.Interpreter.Test.csproj
  src/tests/FunctionalTests/Android/Device_Emulator/Interpreter/Program.cs
  src/tests/FunctionalTests/Android/Device_Emulator/JIT/Android.Device_Emulator.JIT.Test.csproj
  src/tests/FunctionalTests/Android/Device_Emulator/JIT/Program.cs
  src/tests/FunctionalTests/Android/Device_Emulator/PInvoke/Android.Device_Emulator.PInvoke.Test.csproj
  src/tests/FunctionalTests/Android/Device_Emulator/PInvoke/Program.cs
  src/tests/FunctionalTests/Android/Emulator/AOT/README.md
  src/tests/run.proj
Labels: area-Infrastructure-mono

#47083 Android / iOS / tvOS specific HttpClientHandler
  docs/workflow/trimming/feature-switches.md
  src/libraries/System.Net.Http/src/ILLink/ILLink.Substitutions.xml
  src/libraries/System.Net.Http/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.CreateDefaultHandler.Android.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.CreateDefaultHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.CreateDefaultHandler.iOS.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.CreateDefaultHandler.tvOS.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http, os-android

#48397 [mono] Enable arm64 intrinsic tests
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.h
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/jit-icalls.c
  src/mono/mono/mini/jit-icalls.h
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/simd-intrinsics.c
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/issues.targets
  src/tests/run.proj
Labels: area-Codegen-LLVM-mono, runtime-mono

#49015 [AndroidCrypto] Fix issues in ciphers
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_cipher.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_cipher.h
Labels: area-System.Security, auto-merge, os-android

#49022 Update name of mono build artifact
  eng/pipelines/coreclr/templates/perf-job.yml
Labels: area-Infrastructure-mono

#49023 Remove illink workaround
  src/libraries/illink-sharedframework.targets
Labels: area-Infrastructure-libraries

#48773 JIT: profile updates for return merges and tail calls
  src/coreclr/jit/block.h
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jit.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#49020 Increase jitstress job run frequency
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
Labels: area-Infrastructure-coreclr

#49018 Allow libraries outerloop OSX_arm64 to be triggered from PR
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/libraries/outerloop.yml
Labels: arch-arm64, area-Infrastructure-libraries, os-mac-os-x-big-sur

#49027 [AndroidCrypto] Consume ECC implementation in X509 certs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.EcDsa.ImportExport.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.EcDsa.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.EcKey.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Ecdh.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.X509.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/SafeKeyHandle.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeEcKeyHandle.Android.cs
  src/libraries/Common/src/System/Security/Cryptography/ECAndroid.ImportExport.cs
  src/libraries/Common/src/System/Security/Cryptography/ECAndroid.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanAndroid.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanAndroidPublicKey.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDsaAndroid.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_eckey.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_eckey.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.h
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDsa.Create.Android.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/AndroidCertificatePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/AndroidPkcs12Reader.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/StorePal.LoaderPal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/StorePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/X509Pal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security, os-android

#48833 Fix issue where resolution move would overwrite the source of operand of JCMP
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#49033 Embedding dac and other debugging resources into singlefilehost
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/native/corehost/build.cmd
Labels: area-Diagnostics-coreclr, area-Single-File, auto-merge

#48829 Fix majority of failures in libraries-jitstressregs after EHWriteThru enabled
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#49034 [mono] update readme.md to run sample
  docs/workflow/building/mono/README.md
Labels: area-Meta

#48906 Optimize asm size for the biggest corelib method - WebUtility..cctor
  src/libraries/System.Private.CoreLib/src/System/Net/WebUtility.cs
  src/libraries/System.Web.HttpUtility/tests/HttpUtility/HttpUtilityTest.cs
Labels: area-System.Net

#49050 Remove unused Volatile icalls.
  src/mono/mono/metadata/threads-types.h
  src/mono/mono/metadata/threads.c
Labels: area-VM-meta-mono

#49053 Don't default PackageVersion for NuGet Pack task generated packages
  eng/packaging.props
Labels: area-Infrastructure-libraries

#49032 Fixes for building ARM64 Mac Catalyst test apps
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-Infrastructure-mono

#48774 HostWriter Performance Improvements
  src/installer/managed/Microsoft.NET.HostModel/AppHost/BinaryUtils.cs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/HostWriter.cs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/MachOUtils.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.AppHost.Tests/AppHostUpdateTests.cs
Labels: area-HostModel

#48650 Use MemoryExtensions.LastIndexOf in ReThrowWithPath
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-System.Text.Json, size-reduction

#49039 [mono][debugger] Fix debugger to work without value on frame->de.domain
  src/mono/mono/mini/debugger-agent.c
Labels: area-Debugger-mono

#49031 Add ArrayPool event for dropped buffers
  src/libraries/System.Buffers/tests/ArrayPool/UnitTests.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/ArrayPoolEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/ConfigurableArrayPool.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/TlsOverPerCoreLockedStacksArrayPool.cs
Labels: area-System.Buffers

#48830 Fix isByteReg() assert for x86
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#49067 Disable binplacing for DependencyInjection.Specification.Tests
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/Microsoft.Extensions.DependencyInjection.Specification.Tests.csproj
Labels: area-Extensions-DependencyInjection

#49061 Mono: Cleanup dead code from w32socket.h
  src/mono/mono/metadata/icall-table.h
  src/mono/mono/metadata/w32socket-win32.c
  src/mono/mono/metadata/w32socket.h
Labels: area-VM-meta-mono

#48930 [AndroidCrypto] Fix up RSA and some EC tests
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Rsa.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeRsaHandle.Android.cs
  src/libraries/Common/src/System/Security/Cryptography/RsaPaddingProcessor.cs
  src/libraries/Native/Unix/Common/pal_config.h.in
  src/libraries/Native/Unix/Common/pal_utilities.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecdsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_signature.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_signature.h
  src/libraries/Native/Unix/configure.cmake
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSAAndroid.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDiffieHellmanProvider.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDsaProvider.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
Labels: area-System.Security, auto-merge

#49005 Set default features flags to match to Android SDK defaults
  eng/testing/linker/SupportFiles/Directory.Build.props
  eng/testing/tests.mobile.targets
Labels: area-Infrastructure-mono

#49045 Fix SPMI replay with JitStress.
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen-coreclr

#47899 IntPtr and UIntPtr were added as DisallowedTypes
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DisallowedTypeConverterFactory.cs
  src/libraries/System.Text.Json/tests/Serialization/ExceptionTests.cs
Labels: area-System.Text.Json

#49043 [sdb] Add MODULE_APPLY_CHANGES command for hot reload
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/debugger-protocol.h
Labels: area-Debugger-mono

#47904 New tests that JsonIncludeAttribute and JsonNumberHandlingAttribute are honored during deserialization
  src/libraries/System.Text.Json/tests/Serialization/ConstructorTests/ConstructorTests.ParameterMatching.cs
  src/libraries/System.Text.Json/tests/Serialization/ConstructorTests/ConstructorTests.Stream.cs
  src/libraries/System.Text.Json/tests/Serialization/TestClasses/TestClasses.Constructor.cs
Labels: area-System.Text.Json

#46460 Don't box every single value type dictionary key.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/DictionaryDefaultConverter.cs
Labels: area-System.Text.Json, tenet-performance

#48707 Use unknown placeholder for collectible class typehandle
  src/coreclr/vm/jithelpers.cpp
Labels: area-CodeGen-coreclr

#49068 Remove unnecessary references to System.ComponentModel.TypeConverter
  src/libraries/System.Data.DataSetExtensions/ref/System.Data.DataSetExtensions.csproj
  src/libraries/System.Data.DataSetExtensions/src/System.Data.DataSetExtensions.csproj
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.IO.FileSystem.Watcher/ref/System.IO.FileSystem.Watcher.csproj
  src/libraries/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/libraries/System.Speech/src/System.Speech.csproj
Labels: area-System.ComponentModel

#49038 Misc createdump fixes
  src/coreclr/debug/createdump/crashinfounix.cpp
  src/coreclr/debug/createdump/createdumpunix.cpp
  src/coreclr/debug/createdump/dumpwriter.cpp
Labels: area-Diagnostics-coreclr

#49079 [AndroidCrypto] Fix delete ref for RSA private key spec
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
Labels: area-System.Security, auto-merge, os-android

#49092 Revert "Use llvm-objcopy on Linux x64 (#48444)"
  eng/native/configuretools.cmake
Labels: auto-merge

#48666 Revert async nameresolution on Unix
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.HostEntry.cs
  src/libraries/Native/Unix/Common/pal_config.h.in
  src/libraries/Native/Unix/System.Native/entrypoints.c
  src/libraries/Native/Unix/System.Native/extra_libs.cmake
  src/libraries/Native/Unix/System.Native/pal_networking.c
  src/libraries/Native/Unix/System.Native/pal_networking.h
  src/libraries/Native/Unix/configure.cmake
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/libraries/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
  src/native/corehost/apphost/static/configure.cmake
Labels: area-System.Net

#49085 Disable trimming on ConfigurationManager
  src/libraries/System.Configuration.ConfigurationManager/src/System.Configuration.ConfigurationManager.csproj
Labels: area-System.Configuration, linkable-framework

#49099 Fix Mono MBR build break
  src/mono/mono/mini/debugger-agent.c
Labels: area-Debugger-mono

#49097 [release/6.0-preview2] Revert "Use llvm-objcopy on Linux x64 (#48444)"
  eng/native/configuretools.cmake
Labels: auto-merge

#49093 Fix DacTableGen build on Windows ARM64
  src/coreclr/ToolBox/SOS/DacTableGen/DacTableGen.csproj
Labels: area-Diagnostics-coreclr

#49101 Fix SIMD12 assert when passing on stack on x64 Unix, arm64 Unix/Windows.
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_49101/Runtime_49101.cs
  src/tests/JIT/Regression/JitBlue/Runtime_49101/Runtime_49101.csproj
Labels: area-CodeGen-coreclr

#48195 Add Matrix3x2 transform methods
  src/libraries/Microsoft.Extensions.Primitives/ref/Microsoft.Extensions.Primitives.csproj
  src/libraries/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/libraries/System.Drawing.Common/ref/System.Drawing.Common.csproj
  src/libraries/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/libraries/System.Drawing.Common/src/System/Drawing/Drawing2D/Matrix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/libraries/System.Drawing.Common/tests/Drawing2D/MatrixTests.Core.cs
  src/libraries/System.Drawing.Common/tests/Drawing2D/MatrixTests.cs
  src/libraries/System.Drawing.Common/tests/GraphicsTests.Core.cs
  src/libraries/System.Drawing.Common/tests/GraphicsTests.cs
  src/libraries/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
  src/libraries/System.Windows.Extensions/src/System.Windows.Extensions.csproj
Labels: area-System.Drawing, new-api-needs-documentation

#49029 Don't use the CoercedConstantValue value as the key, when we have a reloc
  src/coreclr/jit/optcse.cpp
Labels: area-CodeGen-coreclr

#49098 Override WriteAsync in StreamPipeWriter
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriter.cs
  src/libraries/System.IO.Pipelines/tests/StreamPipeWriterTests.cs
Labels: area-System.IO.Pipelines

#49126 Move method_to_dyn_method from MonoDomain to sre.c, add accessors.
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/reflection-internals.h
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/mini-exceptions.c
Labels: area-VM-meta-mono

#49130 Fix HttpClientHandler_ServerCertificates_Test
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
Labels: area-System.Net.Http

#49075 [release/6.0-preview2] Turn off LKG calculation
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
Labels: area-Infrastructure

#48438 Add a test to verify current behavior of floating point
  src/tests/JIT/Directed/Convert/CMakeLists.txt
  src/tests/JIT/Directed/Convert/out_of_range_fp_to_int_conversions.cpp
  src/tests/JIT/Directed/Convert/out_of_range_fp_to_int_conversions.cs
  src/tests/JIT/Directed/Convert/out_of_range_fp_to_int_conversions.csproj
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#49090 [AndroidCrypto] Fix incremental hash
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_evp.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_hmac.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/System.Security.Cryptography.Algorithms/tests/IncrementalHashTests.cs
Labels: area-System.Security, os-android

#49118 Port System.IO.Pipelines docs
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/FlushResult.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/IDuplexPipe.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeReader.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeWriter.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeOptions.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeScheduler.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriter.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/ReadResult.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeExtensions.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReaderOptions.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeWriterOptions.cs
Labels: area-System.IO

#48547 Add Vector conversion to PointF/SizeF/RectangleF
  src/libraries/System.Drawing.Primitives/ref/System.Drawing.Primitives.cs
  src/libraries/System.Drawing.Primitives/ref/System.Drawing.Primitives.csproj
  src/libraries/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/libraries/System.Drawing.Primitives/src/System/Drawing/PointF.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/RectangleF.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/SizeF.cs
  src/libraries/System.Drawing.Primitives/tests/PointFTests.cs
  src/libraries/System.Drawing.Primitives/tests/RectangleFTests.cs
  src/libraries/System.Drawing.Primitives/tests/SizeFTests.cs
Labels: area-System.Drawing, new-api-needs-documentation

#49148 Fix test run.cmd - Add quotes around the python command
  src/tests/run.cmd
Labels: area-Infrastructure-coreclr

#49147 Add null-check in AdjustContextForVirtualStub for ARM64
  src/coreclr/vm/arm64/stubs.cpp
Labels: area-VM-coreclr, auto-merge

#49155 Apple Silicon platform detection
  docs/workflow/testing/libraries/filtering-tests.md
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Labels: arch-arm64, area-Infrastructure-libraries, os-mac-os-x-big-sur

#45385 [wasm] Use timezone abbreviations as fallback if full names don't exist
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.GetDisplayName.Invariant.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.GetDisplayName.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: arch-wasm

#49087 Dotnet pgo phase2
  docs/design/features/dotnet-pgo.md
  src/coreclr/tools/Common/TypeSystem/Common/Instantiation.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataTypeSystemContext.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ProfileData.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ProfileDataManager.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/IBCProfileData.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/MIbcProfileParser.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/dotnet-pgo/CommandLineOptions.cs
  src/coreclr/tools/dotnet-pgo/Logger.cs
  src/coreclr/tools/dotnet-pgo/MibcEmitter.cs
  src/coreclr/tools/dotnet-pgo/ModuleLoadLogger.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefSignatureParserProvider.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemContext.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemField.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemGenericParameter.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemMethod.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemModule.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemType.cs
  src/coreclr/tools/dotnet-pgo/TypeSystemMetadataEmitter.cs
  src/coreclr/tools/dotnet-pgo/dotnet-pgo.csproj
Labels: area-crossgen2-coreclr

#49170 [wasm] Silence remaining warnings
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_static.c
  src/mono/CMakeLists.txt
  src/mono/mono.proj
  src/mono/mono/metadata/gc.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/utils/mono-threads-coop.c
Labels: arch-wasm, area-VM-meta-mono

#49151 [AndroidCrypto] Consume RSA implementation in X509 certs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Rsa.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeRsaHandle.Android.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAndroid.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAKeyFileTests.cs
  src/libraries/Native/Unix/Common/pal_atomic.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.c
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.Create.Android.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/AndroidCertificatePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/X509Pal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security, os-android

#49146 Add current-dns-lookups counter to System.Net.NameResolution
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionTelemetry.cs
Labels: area-System.Net

#49133 Remove StructWithPublicDefaultConstructor test
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/ActivatorUtilitiesTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/Fakes/ClassWithOptionalArgsCtorWithStructs.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/Microsoft.Extensions.DependencyInjection.Specification.Tests.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/Microsoft.Extensions.DependencyInjection.sln
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/Microsoft.Extensions.DependencyInjection.Tests.csproj
Labels: area-Extensions-DependencyInjection

#49139 JIT: profile updates for finally optimizations
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#49178 MonoAOTCompiler.cs: Correctly handle relative path for assembly to
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/Common/Utils.cs
Labels: area-Codegen-AOT-mono, auto-merge

#48539 Misc PriorityQueue fixes
  src/libraries/Common/src/System/Collections/Generic/EnumerableHelpers.cs
  src/libraries/System.Collections/src/System/Collections/Generic/PriorityQueue.cs
  src/libraries/System.Collections/tests/Generic/PriorityQueue/PriorityQueue.Tests.cs
Labels: area-System.Collections

#49176 Fix nullable annotations on TraceSource/Listener
  src/libraries/System.Diagnostics.TextWriterTraceListener/ref/System.Diagnostics.TextWriterTraceListener.cs
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/DelimitedListTraceListener.cs
  src/libraries/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/XmlWriterTraceListener.cs
  src/libraries/System.Diagnostics.TraceSource/ref/System.Diagnostics.TraceSource.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceListener.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceSource.cs
Labels: area-System.Diagnostics.TraceSource

#47125 Add Memory Overrides to Streams
  src/libraries/Common/src/System/IO/ChunkedMemoryStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Inflater.cs
  src/libraries/System.Net.Requests/src/System/Net/NetworkStreamWrapper.cs
  src/libraries/System.Net.Requests/src/System/Net/RequestStream.cs
Labels: area-System.IO.Compression

#49188 Add debugger attributes for PriorityQueue
  src/libraries/System.Collections/src/System.Collections.csproj
  src/libraries/System.Collections/src/System/Collections/Generic/PriorityQueue.cs
  src/libraries/System.Collections/src/System/Collections/Generic/PriorityQueueDebugView.cs
Labels: area-System.Collections

#49175 Fix nullable attributes on ProcessStartInfo
  src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.cs
Labels: area-System.Diagnostics.Process

#49190 Delete unused define
  src/libraries/System.Threading.Tasks.Parallel/src/System.Threading.Tasks.Parallel.csproj
Labels: area-System.Threading.Tasks

#48936 Fix stress apple arm64 assertion '(thisFieldOffset + EA_SIZE_IN_BYTES(attr)) <= areaSize'
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#49181 Fix code coverage instrumentation and representation
  eng/testing/coverage.targets
Labels: area-Infrastructure-libraries

#49173 Disable IsAtLeastLibgdiplus6 for Apple Silicon
  src/libraries/System.Drawing.Common/tests/GdiplusTests.cs
Labels: arch-arm64, area-System.Drawing, os-mac-os-x-big-sur

#49223 Delete the exclusion for a fixed test.
  src/tests/issues.targets
Labels: area-CodeGen-coreclr, disabled-test

#49195 [AndroidCrypto] Make RC2 transform explicitly throw PlatformNotSupportedException
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_cipher.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_cipher.h
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RC2Implementation.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
Labels: area-System.Security, os-android

#49066 Capture Reverse P/Invoke frame offset in x86 GC info and disallow return hijacking of reverse P/Invokes on x86.
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/gcdecoder.cpp
  src/coreclr/inc/gcinfotypes.h
  src/coreclr/jit/gcencode.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-crossgen2-coreclr, auto-merge

#49171 Serialize Dns async-over-sync requests for the same host
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
Labels: area-System.Net

#48838 Allow using SupportedOSPlatform, UnsupportedOSPlatform attributes on interfaces
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/PlatformAttributes.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
Labels: area-Meta

#49168 Reduce 6.0 release branch CI runs (6.0 preview 1)
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
Labels: area-Infrastructure-coreclr

#49169 Reduce 6.0 release branch CI runs (6.0 preview 2)
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
Labels: area-Infrastructure-coreclr

#49196 [AndroidCrypto] Implement IExportPal for X509 certs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Crypto.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.X509.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAndroid.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.h
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/StorePal.ExportPal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/StorePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security, os-android

#49177 Do not create R2R in memory hashes if profiler is not present or hasn't added types
  src/coreclr/vm/ceeload.cpp
Labels: area-Diagnostics-coreclr, auto-merge

#49250 Add pip upgrade step inside venv to fix crypto issue
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure-coreclr

#49255 Move scenario to float
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure-coreclr

#49154 JIT: fix prejit entry PGO instrumentation
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#49183 Update debug dump template after runfo update to include dumps
  eng/testing/debug-dump-template.md
  eng/testing/gen-debug-dump-docs.py
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#37876 IAsyncEnumerable support in Dataflow
  src/libraries/System.Threading.Tasks.Dataflow/ref/System.Threading.Tasks.Dataflow.csproj
  src/libraries/System.Threading.Tasks.Dataflow/ref/System.Threading.Tasks.Dataflow.netstandard21.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Base/DataflowBlock.IAsyncEnumerable.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Base/DataflowBlock.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.IAsyncEnumerable.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/System.Threading.Tasks.Dataflow.Tests.csproj
Labels: area-System.Threading.Tasks, new-api-needs-documentation

#49153 [AndroidCrypto] Implement DSA import/export and signing/verification.
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Bignum.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Dsa.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.EcDsa.ImportExport.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Rsa.cs
  src/libraries/Common/src/System/Security/Cryptography/DSAAndroid.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSAImportExport.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSASignVerify.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_dsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_dsa.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_signature.c
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.Create.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DSACreateTests.cs
Labels: area-System.Security, auto-merge, os-android

#49238 JIT: update non-null assertion prop to destructure VNs
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#49265 Fix inverted active issues
  src/libraries/System.Drawing.Common/tests/GdiplusTests.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
Labels: area-Infrastructure-libraries

#49162 Fix Activity.ParentId trace flags part
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
Labels: area-System.Diagnostics.Activity

#49257 Speed up interface checking and casting
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
Labels: area-VM-coreclr

#49123 Improve zero-byte read handling in SslStream to reduce memory usage
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/StreamConformanceTests/StreamConformanceTests.csproj
  src/libraries/Common/tests/StreamConformanceTests/System/IO/StreamConformanceTests.cs
  src/libraries/Common/tests/System/IO/CallTrackingStream.cs
  src/libraries/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.IO.MemoryMappedFiles/tests/System.IO.MemoryMappedFiles.Tests.csproj
  src/libraries/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
  src/libraries/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
  src/libraries/System.IO.UnmanagedMemoryStream/tests/System.IO.UnmanagedMemoryStream.Tests.csproj
  src/libraries/System.IO/tests/System.IO.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Quic/tests/FunctionalTests/System.Net.Quic.Functional.Tests.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamConformanceTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
  src/libraries/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
  src/libraries/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
Labels: area-System.Net.Security

#49167 Apply feedback to grow methods of generic collections
  src/libraries/System.Collections/src/System/Collections/Generic/Queue.cs
  src/libraries/System.Collections/src/System/Collections/Generic/Stack.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs
Labels: area-System.Collections

#48734 fix proxy detection for websockets on Windows
  src/libraries/Common/src/System/Net/Http/WinInetProxyHelper.cs
Labels: area-System.Net.Http, os-windows, tenet-compatibility

#49280 Log the reason for importer's decision to reject the tail call in the dump
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#49270 Reduce the size of the pipe
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeAwaitable.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletion.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallbacks.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeOptions.cs
  src/libraries/System.IO.Pipelines/tests/BufferSegmentPoolTest.cs
Labels: area-System.IO.Pipelines

#49290 Replace a couple FormatterServices uses in DataContractSerialization
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/SurrogateDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatReaderGenerator.cs
Labels: area-Serialization

#49293 Fix https://github.com/dotnet/runtime/issues/46698.
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#49254 Do not bundle mscordaccore.dll in a singlefile package.
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
Labels: area-Single-File

#49307 [AndroidCrypto] Fix some issues from consuming RSA and ECDiffieHellman in certs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanAndroid.Derive.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.h
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/AndroidPkcs12Reader.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security, os-android

#48823 Suppresses the trimmer warning on TypeAnalysis ctor
  src/libraries/Common/src/System/Net/Logging/NetEventSource.Common.cs
  src/libraries/Common/src/System/Net/Security/NetEventSource.Security.Windows.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/libraries/System.Diagnostics.Tracing/ref/System.Diagnostics.Tracing.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs
  src/libraries/System.Net.Http/src/System/Net/Http/NetEventSource.Http.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionTelemetry.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NetEventSource.Security.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NetSecurityTelemetry.cs
  src/libraries/System.Private.CoreLib/generators/System.Private.CoreLib.Generators.csproj
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.Shared.xml
  src/libraries/System.Private.CoreLib/src/System/Buffers/ArrayPoolEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/FrameworkEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/IncrementingEventCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/IncrementingPollingCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/PollingCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/SimpleEventTypes.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/SimpleTypeInfos.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/Statics.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TraceLoggingEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TraceLoggingEventTypes.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TraceLoggingTypeInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TypeAnalysis.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/NativeRuntimeEventSource.PortableThreadPool.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TplEventSource.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Internal/DataflowEtwProvider.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj
  src/libraries/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/ParallelETWProvider.cs
  src/libraries/System.Threading/src/System/Threading/CDSsyncETWBCLProvider.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionsEtwProvider.cs
Labels: area-System.Diagnostics.Tracing, linkable-framework, new-api-needs-documentation

#49321 Enable CheckDownloadedFiles on DownloadBuildArtifacts task
  eng/pipelines/common/download-artifact-step.yml
  eng/pipelines/coreclr/templates/crossdac-pack.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: area-Infrastructure

#49025 Re-enable windows JIT formatting jobs
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr

#49326 Fix null reference in pgo data merging
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ProfileData.cs
Labels: area-crossgen2-coreclr

#49312 [AndroidCrypto] Add certs that don't use RC2 in test data
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2Factory.cs
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
  src/libraries/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/libraries/System.Security.Cryptography.Csp/tests/System.Security.Cryptography.Csp.Tests.csproj
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Android/X509Pal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.X509Certificates/tests/HostnameMatchTests.Unix.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/tests/TestData.cs
Labels: area-System.Security, os-android

#49327 Remove no longer needed `usenmakemakefiles` option
  src/coreclr/build-runtime.cmd
Labels: area-Infrastructure-coreclr

#49253 Fix EC key file import tests
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.LimitedPrivate.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanFactory.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanTests.ImportExport.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDsa/ECDsaImportExport.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecc_import_export.c
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDiffieHellmanProvider.Android.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDiffieHellmanProvider.Unix.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/DefaultECDiffieHellmanProvider.Windows.cs
  src/libraries/System.Security.Cryptography.Cng/tests/ECDiffieHellmanCngProvider.cs
  src/libraries/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/libraries/System.Security.Cryptography.OpenSsl/tests/EcDiffieHellmanOpenSslProvider.cs
Labels: area-System.Security, auto-merge, os-android

#49202 Change package names without interior dir names
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Host.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Ref.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
Labels: area-Infrastructure-installer, auto-merge

#49344 [interp] Stop generating code in the cbb if the inlined method always throws
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#49356 Fix link in covariant-return-methods.md
  docs/design/features/covariant-return-methods.md
Labels: area-CodeGen-coreclr

#49302 Sync shared crossgen2 files
  src/coreclr/tools/Common/Compiler/Logger.cs
  src/coreclr/tools/Common/Compiler/Logging/MessageContainer.cs
  src/coreclr/tools/Common/Compiler/TypeExtensions.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/JitConfigProvider.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/PdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/PortablePdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/IL/EcmaMethodIL.Symbols.cs
  src/coreclr/tools/Common/TypeSystem/IL/HelperExtensions.cs
  src/coreclr/tools/Common/TypeSystem/IL/MethodIL.Symbols.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
Labels: area-crossgen2-coreclr

#49341 Fix access mode of memory-mapped apphost
  src/installer/managed/Microsoft.NET.HostModel/AppHost/HostWriter.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.AppHost.Tests/AppHostUpdateTests.cs
Labels: area-HostModel

#49352 Include timeout value in Regex cache key
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Cache.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#49349 Fix pgo ci bugs
  src/coreclr/tools/Common/CommandLine/ArgumentSyntax.cs
  src/coreclr/tools/dotnet-pgo/TraceTypeSystemContext.cs
Labels: area-crossgen2-coreclr

#49267 JIT: update jit config defaults for PGO
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#49286 Reset assignedInterval during verifyFinalAllocation
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
Labels: area-CodeGen-coreclr
