Repository dotnet/runtime, pull requests merged in 2021-02, with the labels that each got.

#46481 Issue-20619 early return existing value.
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableInterlocked.cs
Labels: area-System.Collections, needs author feedback

#47632 Add SZArrayHelper to CoreCLR linker descriptor
  src/coreclr/System.Private.CoreLib/src/ILLink/ILLinkTrim.xml
Labels: area-System.Runtime

#47695 Increase delay for AIA fetch timeout.
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/TimeoutTests.cs
Labels: area-System.Security

#47643 Add test validating against regression in #46469
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
Labels: area-System.Diagnostics.Process

#47629 Add support for EventPipe stackwalks and method formatting on Mono.
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/metadata/icall-eventpipe.c
Labels: area-Tracing-mono

#47648 Add support for HttpWebRequest.ReadWriteTimeout
  src/libraries/System.Net.Requests/src/System/Net/HttpWebRequest.cs
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#47711 Fix assert / ObjectDisposedException in PLINQ handling of AggregateException
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Scheduling/QueryTaskGroupState.cs
  src/libraries/System.Linq.Parallel/tests/QueryOperators/ForAllTests.cs
Labels: area-System.Linq.Parallel

#40287 Fix filtering properties in TypeDescriptor
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
Labels: area-System.ComponentModel, auto-merge

#47718 Allow macOS chain building to use network if revocation checking is online
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/ChainPal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/DynamicRevocationTests.cs
Labels: area-System.Security

#47558 Pgo phase3
  src/coreclr/inc/corjit.h
  src/coreclr/inc/pgo_formatprocessing.h
  src/coreclr/inc/readytorun.h
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormatWriter.cs
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/tools/Common/Pgo/TypeSystemEntityOrUnknown.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InstrumentationDataTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ProfileData.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ILCompiler.Reflection.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/PgoInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/PgoInfoKey.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/tools/aot/crossgen2/CommandLineOptions.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
  src/coreclr/tools/dotnet-pgo/dotnet-pgo.csproj
  src/coreclr/tools/r2rdump/CommandLineOptions.cs
  src/coreclr/tools/r2rdump/R2RDump.cs
  src/coreclr/tools/r2rdump/TextDumper.cs
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/nativeimage.cpp
  src/coreclr/vm/pgo.cpp
  src/coreclr/vm/pgo.h
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/readytoruninfo.h
Labels: area-crossgen2-coreclr

#47723 JIT: fix issues with profile incorporation phase
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#47716 [mbr] Add a global has_updates flag
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata-update.c
  src/mono/mono/metadata/metadata.c
Labels: area-VM-meta-mono

#47717 Produce a .version file for Microsoft.NETCore.App in the runtime layout.
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
Labels: area-Setup, auto-merge

#47651 Move statics to POH
  src/coreclr/gc/gcpriv.h
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/gchelpers.cpp
  src/coreclr/vm/gchelpers.h
Labels: area-GC-coreclr

#47622 Fix plan phase policy bug with regions
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#46285 adding span version of ReceiveMessageFrom
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets, new-api-needs-documentation

#47737 Fix ReadWriteTimeout_CancelsResponse test
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#47174 [mono] Remove MonoListItem from Corelib
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
  src/mono/netcore/System.Private.CoreLib/src/Mono/MonoListItem.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Exception.Mono.cs
Labels: area-VM-meta-mono

#47220 Replace MonoPInvokeCallbackAttribute with UnmanagedCallersOnlyAttribute in iOS sample
  src/mono/netcore/sample/iOS/Program.cs
Labels: area-CoreLib-mono

#47740 [mbr] Update samples to use hotreload-delta-gen
  src/mono/netcore/sample/mbr/DeltaHelper.targets
  src/mono/netcore/sample/mbr/README.md
Labels: area-Build-mono

#47642 Respect offset in Socket.ReceiveMessageFrom(saea) on Windows
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
Labels: area-System.Net.Sockets

#47742 Set GetCurrentManagedThreadId
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunConstants.cs
Labels: area-crossgen2-coreclr

#47585 Resolve ILLink warnings in System.Linq.Expressions (Round 1)
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/Expressions/ExpressionResolverBuilder.cs
  src/libraries/System.Linq.Expressions/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/DelegateHelpers.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/TypeUtils.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/AssemblyGen.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/ILGen.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/IndexExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/CallInstruction.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/TypeOperations.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/MemberExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/MethodCallExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/NewExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Runtime/CompilerServices/CallSite.cs
  src/libraries/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj
  src/libraries/System.Linq.Expressions/tests/TrimCompatibilityTests.cs
Labels: area-System.Linq.Expressions

#40516 Delay initialization of SocketsHttpHandler specific HTTP2+ data
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
Labels: area-System.Net.Http

#45479 Optimize System.DateTime
  src/coreclr/classlibnative/bcltype/system.h
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FileTimeToSystemTime.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SystemTimeToFileTime.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/DateTime.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormatInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/EastAsianLunisolarCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GregorianCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GregorianCalendarHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/HebrewCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/HijriCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/JulianCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/PersianCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/UmAlQuraCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Serialization/SerializationInfo.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/libraries/System.Runtime/tests/System/DateTimeOffsetTests.cs
  src/libraries/System.Runtime/tests/System/DateTimeTests.cs
Labels: area-System.Runtime, tenet-performance

#47721 Allow overriding of Objective-C message send P/Invokes
  src/coreclr/dlls/mscoree/unixinterface.cpp
  src/coreclr/inc/pinvokeoverride.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/interoplibinterface.h
  src/coreclr/vm/interoplibinterface_objc.cpp
  src/coreclr/vm/pinvokeoverride.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/Bridge.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/Bridge.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/Wrappers.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/ObjectiveC/MessageSendTests.cs
Labels: area-Interop-coreclr

#47608 Change C# names of P/Invokes of objc_msgSend to be call-site specific.
  src/libraries/Common/src/Interop/OSX/Interop.libobjc.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/macFunctions.cs
Labels: area-System.Drawing, auto-merge

#47744 Add doc about running host tests
  docs/workflow/testing/host/testing.md
Labels: area-Host

#47782 Rename FEATURE_OBJCWRAPPERS to FEATURE_OBJCBRIDGE
  src/coreclr/clr.featuredefines.props
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/gc/objecthandle.cpp
  src/coreclr/interop/CMakeLists.txt
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/interoplibinterface.h
  src/coreclr/vm/interoplibinterface_objc.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/Flags.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/Instance.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/ManagedObjectWrapperLifetime.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/ObjectiveCBase.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/Wrappers.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveC/Wrappers.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#46716 Backport docs for System.IO.Compression.Brotli
  src/libraries/System.IO.Compression.Brotli/src/System.IO.Compression.Brotli.csproj
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliStream.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/dec/BrotliDecoder.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/dec/BrotliStream.Decompress.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliEncoder.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliStream.Compress.cs
Labels: area-System.IO.Compression, documentation

#47766 Fix DisableAiaOptionWorks and remove ActiveIssue.
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/AiaTests.cs
Labels: area-System.Security

#47760 unwindLazyState: initialize ContextFlags
  src/coreclr/vm/amd64/gmsamd64.cpp
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/i386/gmsx86.cpp
Labels: area-VM-coreclr

#47773 [Wasm] Silence some warnings
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/sgen/sgen-gchandles.c
  src/mono/wasm/runtime/driver.c
Labels: area-VM-meta-mono

#47375 Remove some extra assertion merges
  src/coreclr/jit/rangecheck.cpp
Labels: area-CodeGen-coreclr

#47788 Fix methods incorrectly using gtFlags
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr

#47751 Fix SuperPMI collection with crossgen2
  src/coreclr/ToolBox/superpmi/superpmi-shared/agnostic.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmirecordhelper.h
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/superpmi-shim-collector.cpp
  src/coreclr/inc/jiteeversionguid.h
Labels: area-CodeGen-coreclr

#47081 Remove DeviceContext HWND handling
  src/libraries/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/libraries/System.Drawing.Common/src/misc/GDI/DeviceContext.cs
  src/libraries/System.Drawing.Common/src/misc/GDI/DeviceContextType.cs
Labels: area-System.Drawing, auto-merge

#47503 Fix race condition reloading file configuration
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/FileConfigurationProvider.cs
Labels: area-Extensions-Configuration

#47757 Add missing logging to gtFoldExpr
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#47747 [AOT] Make native linker name configurable
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#47687 Fix throw decl for math functions
  src/coreclr/pal/inc/pal.h
Labels: area-PAL-coreclr, auto-merge

#47150 Vector.As<TFrom, TTo>
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorUnsupportedTests.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
Labels: area-System.Numerics, new-api-needs-documentation

#47787 Added ConcurrentDictionary.Comparer property
  src/libraries/System.Collections.Concurrent/ref/System.Collections.Concurrent.cs
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs
  src/libraries/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionaryTests.cs
Labels: area-System.Collections, new-api-needs-documentation

#47784 Add ability to update the friend assembly set of an assembly with Reflection Emit
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/CustomAttributeBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/EventBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/FieldBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/ParameterBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/PropertyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/coreclr/dlls/mscorrc/mscorrc.rc
  src/coreclr/dlls/mscorrc/resource.h
  src/coreclr/inc/corhdr.h
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/comdynamic.cpp
  src/coreclr/vm/comdynamic.h
  src/coreclr/vm/domainfile.cpp
  src/coreclr/vm/reflectclasswriter.cpp
  src/coreclr/vm/reflectclasswriter.h
  src/tests/reflection/RefEmit/Dependency.cs
  src/tests/reflection/RefEmit/Dependency.csproj
  src/tests/reflection/RefEmit/EmittingIgnoresAccessChecksToAttributeIsRespected.cs
  src/tests/reflection/RefEmit/EmittingIgnoresAccessChecksToAttributeIsRespected.csproj
Labels: area-System.Reflection

#46436 Bug fix issue 30351
  src/libraries/System.CodeDom/tests/System.CodeDom.Tests.csproj
  src/libraries/System.IO/tests/IndentedTextWriter.cs
  src/libraries/System.Private.CoreLib/src/System/CodeDom/Compiler/IndentedTextWriter.cs
  src/libraries/System.Runtime/System.Runtime.sln
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.CodeDom, area-System.IO

#47645 Add Mac Catalyst RIDs
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtimeGroups.props
Labels: area-Infrastructure-libraries

#43374 Add rich nav specific pipeline to enable Rich Navigation
  NuGet.config
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/runtime-richnav.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#47807 Add missing docs for ConcurrentDictionary.Comparer
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs
Labels: area-System.Collections, documentation

#47470 Fix weight computation in jit
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#47804 Add more sources to tasks.proj build semaphore
  src/tasks/tasks.proj
Labels: area-Infrastructure

#47779 Pass opaque method signature handle between JIT/CG2
  src/coreclr/ToolBox/superpmi/superpmi-shared/agnostic.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmirecordhelper.h
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/vm/jitinterface.cpp
Labels: area-crossgen2-coreclr

#47811 Fix error message in R2R log
  src/coreclr/vm/readytoruninfo.cpp
Labels: area-CrossGen/NGEN-coreclr

#47789 Update the analyzer version in runtime and enable the TFM attributes on browser build
  eng/Versions.props
  eng/versioning.targets
Labels: area-Meta

#47575 Fix Socket test failure ClosedDuringOperation_Throws_ObjectDisposedExceptionOrSocketException
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
Labels: area-System.Net.Sockets

#47705 Handle NativeLibrary.GetExport/Free on libs not loaded through NativeLibrary.*Load* on Mono.
  src/libraries/System.Drawing.Common/tests/IconTests.cs
  src/mono/mono/metadata/native-library.c
Labels: area-AssemblyLoader-mono

#47834 Apple silicon debugger
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/vm/arm64/arm64singlestepper.cpp
  src/coreclr/vm/exceptionhandling.cpp
Labels: arch-arm64, area-Diagnostics-coreclr, os-mac-os-x-big-sur

#47827 Fix DISABLE_JIT support on amd64.
  src/mono/mono/mini/mini-amd64.c
Labels: area-Codegen-JIT-mono

#47851 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-Meta

#47835 Fix createdump on Apple Silicon
  src/coreclr/debug/createdump/crashinfomac.cpp
Labels: arch-arm64, area-Diagnostics-coreclr, os-mac-os-x-big-sur

#47840 Remove unused unicode header inclusion
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal.h
Labels: area-System.Globalization

#47817 Remove ENABLE_MINIMAL options which are disabled on netcore already.
  src/mono/mono.proj
Labels: area-Build-mono

#47790 Fix dynamic pgo
  src/coreclr/vm/pgo.cpp
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#47487 Add missing dlclose on error
  src/installer/corehost/cli/hostmisc/pal.unix.cpp
Labels: area-Host

#47785 [mono] Compile runtime with MBR support by default on Android and Browser
  src/mono/CMakeLists.txt
  src/mono/Directory.Build.props
  src/mono/mono.proj
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/wasm/wasm.proj
Labels: area-VM-meta-mono

#47819 * Initial arm64e support.
  src/mono/mono/arch/arm64/arm64-codegen.h
  src/mono/mono/metadata/threads.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/exceptions-arm64.c
  src/mono/mono/mini/image-writer.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-arm64.h
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-posix.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-trampolines.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/tramp-arm64-gsharedvt.c
  src/mono/mono/mini/tramp-arm64.c
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/ftnptr.h
  src/mono/mono/utils/mach-support-arm64.c
  src/mono/mono/utils/mono-context.c
  src/mono/mono/utils/mono-sigcontext.h
  src/mono/mono/utils/mono-state.c
Labels: area-VM-meta-mono

#47853 Resolve ILLink warnings in System.Security.Cryptography.Primitives
  src/libraries/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
  src/libraries/System.Security.Cryptography.Primitives/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoConfigForwarder.cs
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HMAC.cs
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/KeyedHashAlgorithm.cs
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/SymmetricAlgorithm.cs
Labels: area-System.Security, linkable-framework

#47031 make TestUserCredentialsPropertiesOnWindows stable on Windows Server Core
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Labels: area-System.Diagnostics.Process, test bug

#47865 Update build-runtime to disable PGO when not building release
  src/coreclr/build-runtime.cmd
Labels: area-Infrastructure-coreclr

#47771 Fix armel build
  eng/native/configurecompiler.cmake
  src/coreclr/clrdefinitions.cmake
  src/coreclr/gcinfo/CMakeLists.txt
  src/coreclr/jit/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#47876 JIT: fix interaction of PGO and jitstress
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#47879 Enable SequenceMarshal to be trimmed from default Blazor wasm app
  src/libraries/System.Memory/src/System/Buffers/ReadOnlySequence.cs
Labels: area-System.Memory, size-reduction

#47878 Enable Console.OpenStandard* to be trimmed in default Blazor wasm app
  src/libraries/System.Console/src/System/Console.cs
Labels: area-System.Console, size-reduction

#47854 Limit unique SNI to 63 chars in tests
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.SslProtocols.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Security

#47846 Fix covariant returns when overriding method of non-parent ancestor
  src/coreclr/vm/class.cpp
  src/tests/Regressions/coreclr/GitHub_45053/test45053.cs
  src/tests/Regressions/coreclr/GitHub_45053/test45053.csproj
Labels: area-TypeSystem-coreclr

#47816 Ensure mono_gc_thread_detach is always called
  src/mono/mono/metadata/threads.c
Labels: area-Threading-mono

#47882 Remove more unused files from netcore/.
  src/mono/Makefile
  src/mono/gen-xunit-runner/Program.cs
  src/mono/gen-xunit-runner/README.md
  src/mono/gen-xunit-runner/gen-test.csproj.template
  src/mono/gen-xunit-runner/gen-xunit-runner.csproj
  src/mono/init-tools.sh
Labels: area-Build-mono, auto-merge

#47884 [wasm][browser] Fix the exit code in the sample
  src/mono/sample/wasm/browser/index.html
Labels: area-VM-meta-mono

#44896 Removed unneeded variable
  src/native/eventpipe/ds-server.c
Labels: EventPipe

#47803 Resolve ILLink warnings in System.Linq.Expressions (Round 2)
  src/libraries/System.Linq.Expressions/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/TypeUtils.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/CompilerScope.Storage.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/ILGen.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/LambdaCompiler.Address.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/LambdaCompiler.Binary.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/LambdaCompiler.Expressions.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/LambdaCompiler.Unary.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/ExpressionStringBuilder.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/DefaultValueInstruction.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/LightCompiler.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/LocalAccess.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/LambdaExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/MethodCallExpression.cs
Labels: area-System.Linq.Expressions, linkable-framework

#47872 [mono][debugger] Reverting major protocol version change to a minor version change
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/debugger-protocol.h
Labels: area-Debugger-mono

#47722 Change ParameterDefaultValue to use GetUninitializedObject instead of Activator.CreateInstance
  src/libraries/Common/src/Extensions/ParameterDefaultValue/ParameterDefaultValue.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/Microsoft.Extensions.DependencyInjection.sln
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/Unity.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Specification.Tests/ActivatorUtilitiesTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Specification.Tests/Fakes/ClassWithOptionalArgsCtorWithStructs.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/Microsoft.Extensions.DependencyInjection.Tests.csproj
Labels: area-Extensions-DependencyInjection

#47889 Add example for installing/launching emulator to Android test doc
  docs/workflow/testing/libraries/testing-android.md
Labels: area-Meta

#47914 [mbr] Fix link in README
  src/mono/sample/mbr/README.md
Labels: area-VM-meta-mono, documentation

#47873 Remove a couple LINQ usages in Microsoft.Extensions
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/XmlStreamConfigurationProvider.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LogValuesFormatter.cs
Labels: area-Extensions-Configuration, auto-merge

#47874 Fix violations system private xml
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/IlGen/XmlILTrace.cs
Labels: area-System.Xml

#47913 Fix the mono cmake build to work without mono.proj.
  src/mono/CMakeLists.txt
Labels: area-Build-mono

#47915 [reflection] Remove sre-save and DISABLE_REFLECTION_EMIT_SAVE
  src/mono/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/cmake/options.cmake
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/sre-encode.c
  src/mono/mono/metadata/sre-internals.h
  src/mono/mono/metadata/sre-save.c
Labels: area-Build-mono

#47924 Remove string.Insert/Remove usage from Uri.GetCanonicalPath
  src/libraries/System.Private.Uri/src/System/Uri.cs
Labels: area-System.Net, size-reduction, tenet-performance

#47926 The min address within the segment should be computed using max
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#47883 Remove use of string.GetHashCode(StringComparison)
  src/libraries/System.Net.Mail/src/System/Net/Mail/MailAddress.cs
  src/libraries/System.Private.Uri/src/System/Uri.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/OSPlatform.cs
Labels: area-System.Net, size-reduction

#47885 Replace string.Trim(null) with string.Trim() in corelib
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormatInfo.cs
Labels: area-System.Globalization

#47890 Tweak dependency injection's StackGuard
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/StackGuard.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/StackGuard.cs
Labels: area-Extensions-DependencyInjection, size-reduction

#47917 Re-remove NetEventSource.IsEnabled property
  src/libraries/Common/src/System/Net/Logging/NetEventSource.Common.cs
Labels: area-System.Net

#47893 Avoid unnecessary Range usage in TranscodingStream
  src/libraries/System.Private.CoreLib/src/System/Text/TranscodingStream.cs
Labels: area-System.Text.Encoding, size-reduction

#47945 Cleanup System.Reflection.Emit code.
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/ConstructorBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/dynamic-image.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/sre-encode.c
  src/mono/mono/metadata/sre-internals.h
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini.c
Labels: area-System.Reflection-mono

#47948 Clean up the threading code.
  src/mono/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/threads.c
Labels: area-Threading-mono

#47954 Fix tests failing xunit analyzers after dependency update
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Text.Json/tests/Serialization/CollectionTests/CollectionTests.Generic.Read.cs
  src/libraries/System.Text.Json/tests/Serialization/ContinuationTests.cs
  src/libraries/System.Text.Json/tests/Serialization/InvalidTypeTests.cs
  src/libraries/System.Text.Json/tests/Serialization/NumberHandlingTests.cs
  src/libraries/System.Text.Json/tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json

#47957 Remove security code.
  src/mono/CMakeLists.txt
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata-verify.c
  src/mono/mono/metadata/security-core-clr.c
  src/mono/mono/metadata/security-manager.c
  src/mono/mono/metadata/security-manager.h
  src/mono/mono/metadata/sre.c
  src/mono/mono/metadata/verify.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-VM-meta-mono

#47818 Add crossgen2 automated SuperPMI collection of Core_Root libraries
  eng/pipelines/coreclr/superpmi.yml
  eng/pipelines/coreclr/templates/run-superpmi-job.yml
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmirecordhelper.h
  src/coreclr/scripts/superpmi-setup.py
  src/coreclr/scripts/superpmi.proj
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#47955 Remove the remainder of the appdomain unload code.
  src/mono/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/external-only.c
  src/mono/mono/metadata/gc.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/remoting.c
  src/mono/mono/metadata/threads-types.h
  src/mono/mono/metadata/threads.c
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/debugger-engine.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-VM-meta-mono

#47958 Cleanup assembly loading code.
  src/mono/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/cmake/options.cmake
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/image-internals.h
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/mini/driver.c
Labels: area-AssemblyLoader-mono

#47888 Fix flaky EventLog tests
  src/libraries/System.Diagnostics.EventLog/tests/EventLogMessagesTests.cs
  src/libraries/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogSessionTests.cs
Labels: area-System.Diagnostics.EventLog

#47962 [Mono] remove most of w32process
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/gc.c
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-table.h
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/w32process-internals.h
  src/mono/mono/metadata/w32process-unix-bsd.c
  src/mono/mono/metadata/w32process-unix-default.c
  src/mono/mono/metadata/w32process-unix-haiku.c
  src/mono/mono/metadata/w32process-unix-internals.h
  src/mono/mono/metadata/w32process-unix-osx.c
  src/mono/mono/metadata/w32process-unix.c
  src/mono/mono/metadata/w32process-win32.c
  src/mono/mono/metadata/w32process.c
  src/mono/mono/metadata/w32process.h
  src/mono/mono/mini/driver.c
Labels: area-VM-meta-mono

#47975 [mono] Remove some dead code
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/console-null.c
  src/mono/mono/metadata/console-win32.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/icall.c
Labels: area-VM-meta-mono

#47974 Error out if an unknown option is given in ENABLE_MINIMAL.
  src/mono/CMakeLists.txt
  src/mono/mono.proj
Labels: area-Build-mono

#47966 Remove MONO_ASMCTX_REFONLY
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata-update.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/tests/metadata-verifier/gen-md-tests.c
Labels: area-VM-meta-mono

#47973 Completely get rid of "refonly" from Mono
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/assembly-internals.h
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/coree.c
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/exception-internals.h
  src/mono/mono/metadata/exception.c
  src/mono/mono/metadata/icall-eventpipe.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/image-internals.h
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/loaded-images-internals.h
  src/mono/mono/metadata/loaded-images.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/reflection.c
  src/mono/mono/metadata/verify.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/monovm.c
Labels: area-AssemblyLoader-mono

#47684 Single Transport Package for aspnetcore
  docs/project/library-servicing.md
  global.json
  src/libraries/Microsoft.AspNetCore.Internal.Transport/pkg/Microsoft.AspNetCore.Internal.Transport.pkgproj
  src/libraries/Microsoft.AspNetCore.Internal.Transport/src/Microsoft.AspNetCore.Internal.Transport.proj
  src/libraries/Microsoft.Extensions.Caching.Abstractions/Directory.Build.props
  src/libraries/Microsoft.Extensions.Caching.Memory/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.Binder/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.CommandLine/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.Ini/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.Json/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.Xml/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration/Directory.Build.props
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/Directory.Build.props
  src/libraries/Microsoft.Extensions.DependencyInjection/Directory.Build.props
  src/libraries/Microsoft.Extensions.FileProviders.Abstractions/Directory.Build.props
  src/libraries/Microsoft.Extensions.FileProviders.Composite/Directory.Build.props
  src/libraries/Microsoft.Extensions.FileProviders.Physical/Directory.Build.props
  src/libraries/Microsoft.Extensions.FileSystemGlobbing/Directory.Build.props
  src/libraries/Microsoft.Extensions.HostFactoryResolver/Directory.Build.props
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/Directory.Build.props
  src/libraries/Microsoft.Extensions.Hosting/Directory.Build.props
  src/libraries/Microsoft.Extensions.Http/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging.Abstractions/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging.Configuration/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging.Console/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging.Debug/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging.EventLog/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging.EventSource/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging.TraceSource/Directory.Build.props
  src/libraries/Microsoft.Extensions.Logging/Directory.Build.props
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/Directory.Build.props
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/Directory.Build.props
  src/libraries/Microsoft.Extensions.Options/Directory.Build.props
  src/libraries/Microsoft.Extensions.Primitives/Directory.Build.props
  src/libraries/Microsoft.Win32.Registry/Directory.Build.props
  src/libraries/Microsoft.Win32.SystemEvents/Directory.Build.props
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Diagnostics.EventLog/Directory.Build.props
  src/libraries/System.Drawing.Common/Directory.Build.props
  src/libraries/System.IO.Pipelines/Directory.Build.props
  src/libraries/System.Security.AccessControl/Directory.Build.props
  src/libraries/System.Security.Cryptography.Cng/Directory.Build.props
  src/libraries/System.Security.Cryptography.Pkcs/Directory.Build.props
  src/libraries/System.Security.Cryptography.Xml/Directory.Build.props
  src/libraries/System.Security.Permissions/Directory.Build.props
  src/libraries/System.Security.Principal.Windows/Directory.Build.props
  src/libraries/System.Windows.Extensions/Directory.Build.props
  src/libraries/pkg/Microsoft.Extensions.Internal.Transport/Microsoft.Extensions.Internal.Transport.proj
  src/libraries/pkg/test/testPackages.proj
Labels: area-Infrastructure-libraries

#47982 Consolidate ComWrappers implementation across platforms
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
Labels: area-System.Runtime.InteropServices, auto-merge

#47040 mark FileStream.Lock and Unlock as unsupported on macOS
  src/libraries/Microsoft.VisualBasic.Core/ref/Microsoft.VisualBasic.Core.cs
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/VB6BinaryFile.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/VB6File.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/VB6RandomFile.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileSystem.vb
  src/libraries/System.IO.IsolatedStorage/ref/System.IO.IsolatedStorage.cs
  src/libraries/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/IsolatedStorageFileStream.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.IO

#47769 Split lock to prevent deadlock in Http2Stream.
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#47991 [interp] Add handling for conv.i from r4
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#47983 Fix Numeric Test when Number Grouping is Empty
  src/libraries/System.Runtime.Numerics/tests/BigInteger/parse.cs
Labels: area-System.Numerics

#47971 Update to use HashData method
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSASignatureFormatter.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/System.Net.WebClient/tests/WebClientTest.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/libraries/System.Net.WebSockets.Client/tests/LoopbackHelper.cs
  src/libraries/System.Security.Cryptography.Csp/tests/DSACryptoServiceProviderTests.cs
  src/libraries/System.Security.Cryptography.Csp/tests/RSACryptoServiceProviderBackCompat.cs
  src/libraries/System.Security.Cryptography.Csp/tests/RSACryptoServiceProviderTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/Rfc3161/TimestampTokenTests.cs
Labels: area-System.Security

#40887 Enable markdownlint rule (MD009)
  .github/workflows/markdownlint-problem-matcher.json
  .github/workflows/markdownlint.yml
  .markdownlint.json
  docs/design/coreclr/jit/lsra-detail.md
  docs/design/features/DynamicPgo.md
  docs/design/specs/PortablePdb-Metadata.md
  docs/infra/buildtriage.md
  docs/pr-guide.md
  docs/project/glossary.md
  docs/workflow/using-dotnet-cli.md
  src/libraries/System.Diagnostics.EventLog/src/Messages/readme.md
  src/libraries/System.Memory.Data/README.md
  src/libraries/System.Text.Json/docs/KeyConverter_spec.md
  src/mono/sample/wasm/browser-profile/README.md
  src/mono/wasm/build/README.md
  src/tests/FunctionalTests/README.md
Labels: area-Infrastructure, auto-merge

#36163 BitOperations.IsPow2 for all supported integral types
  src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs
  src/libraries/System.Runtime.Extensions/tests/System/Numerics/BitOperationsTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, auto-merge, new-api-needs-documentation

#47778 Resolve ILLink warnings for System.Resources.ResourceManager
  docs/workflow/trimming/feature-switches.md
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.Shared.xml
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.Shared.xml
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/RequiresUnreferencedCodeAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ManifestBasedResourceGroveler.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.Core.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.cs
  src/libraries/System.Resources.Extensions/src/Resources/Strings.resx
  src/libraries/System.Resources.Extensions/src/System.Resources.Extensions.csproj
  src/libraries/System.Resources.ResourceManager/tests/Resources/CustomReader.resx
  src/libraries/System.Resources.ResourceManager/tests/System.Resources.ResourceManager.Tests.csproj
  src/libraries/System.Resources.ResourceManager/tests/TrimCompatibilityTests.cs
  src/libraries/illink-sharedframework.targets
Labels: area-System.Resources, auto-merge, linkable-framework

#47836 Fix GDI handle leak in Icon.DrawImage
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.SelectClipRgn.cs
  src/libraries/Common/tests/System/Drawing/Helpers.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/libraries/System.Drawing.Common/tests/GdiPlusHandlesTests.cs
  src/libraries/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
Labels: area-System.Drawing

#47729 rebuild certificate context if we use client cert from credential cache
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Security

#47956 Move common corelib code to shared partition
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilderData.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodBody.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeMethodBody.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/StackCrawlMark.cs
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/System/NotImplemented.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeMethodBody.cs
  src/mono/System.Private.CoreLib/src/System/Threading/StackCrawlMark.cs
Labels: area-System.Reflection.Emit

#47325 Add SystemNative_LowLevelMonitor_TimedWait to System.Native
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.LowLevelMonitor.cs
  src/libraries/Native/Unix/Common/pal_config.h.in
  src/libraries/Native/Unix/System.Native/entrypoints.c
  src/libraries/Native/Unix/System.Native/pal_threading.c
  src/libraries/Native/Unix/System.Native/pal_threading.h
  src/libraries/Native/Unix/configure.cmake
Labels: area-Interop-mono

#47058 make sure TcpClient is properly initialized when using name in ctor
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/TcpClientTest.cs
Labels: area-System.Net.Sockets

#47664 Introducing support for callchain profile-driven optimizations
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunFileLayoutOptimizer.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
Labels: area-crossgen2-coreclr

#47999 Allow GlobalizationMode.Invariant = false to be substituted by the trimmer.
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.Shared.xml
Labels: area-System.Globalization, size-reduction

#48007 Remove mono config file support.
  src/mono/CMakeLists.txt
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/external-only.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/mono-config.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/main.c
Labels: area-Build-mono

#47408 Delete dead IFileFormatReader code in System.IO.Compression
  src/libraries/System.IO.Compression/src/System.IO.Compression.csproj
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged/DeflateManagedStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged/FileFormats.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged/InflaterManaged.cs
Labels: area-System.IO.Compression

#47959 Spanning tree instrumentation
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/inc/corjit.h
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/phase.cpp
  src/coreclr/tools/Common/Pgo/PgoFormat.cs
  src/coreclr/vm/pgo.cpp
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#48003 Remove exclusion of the UnitTest_GVM
  src/tests/issues.targets
Labels: area-TypeSystem-coreclr

#48019 Shared properties for COM tests
  src/tests/Interop/COM/Activator/Activator.csproj
  src/tests/Interop/COM/ComWrappers/API/ComWrappersTests.csproj
  src/tests/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceMarshallingTests.csproj
  src/tests/Interop/COM/ComWrappers/GlobalInstance/GlobalInstanceTrackerSupportTests.csproj
  src/tests/Interop/COM/Directory.Build.props
  src/tests/Interop/COM/Directory.Build.targets
  src/tests/Interop/COM/Dynamic/Dynamic.csproj
  src/tests/Interop/COM/NETClients/Aggregation/NETClientAggregation.csproj
  src/tests/Interop/COM/NETClients/ConsumeNETServer/ConsumeNETServer.csproj
  src/tests/Interop/COM/NETClients/Directory.Build.props
  src/tests/Interop/COM/NETClients/Events/NETClientEvents.csproj
  src/tests/Interop/COM/NETClients/IDispatch/NETClientIDispatch.csproj
  src/tests/Interop/COM/NETClients/IInspectable/NETClientIInspectable.csproj
  src/tests/Interop/COM/NETClients/Licensing/NETClientLicense.csproj
  src/tests/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  src/tests/Interop/COM/NETClients/Primitives/NETClientPrimitivesInALC.csproj
  src/tests/Interop/COM/NativeClients/DefaultInterfaces.csproj
  src/tests/Interop/COM/NativeClients/Directory.Build.props
  src/tests/Interop/COM/NativeClients/Dispatch.csproj
  src/tests/Interop/COM/NativeClients/Events.csproj
  src/tests/Interop/COM/NativeClients/Licensing.csproj
  src/tests/Interop/COM/NativeClients/Primitives.csproj
Labels: area-Interop-coreclr, auto-merge

#47862 Allow larger than 0x1000 bytes allocation in genStackPointerConstantAdjustment()
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: arch-arm64, area-CodeGen-coreclr

#47843 Delete mov_i2xmm and mov_xmm2i.
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/simdcodegenxarch.cpp
Labels: area-CodeGen-coreclr

#48020 Fix timeout in ThreadLocalTests
  src/libraries/System.Threading/tests/ThreadLocalTests.cs
Labels: area-System.Threading

#48041 Fix build break in markdown lint
  docs/project/library-servicing.md
Labels: area-Meta

#48011 Annotate DispatchProxy interface type with DynamicallyAccessedMembers.All
  src/libraries/System.Reflection.DispatchProxy/ref/System.Reflection.DispatchProxy.cs
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxy.cs
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
Labels: area-System.Reflection

#48044 Make sure optdatapath.txt only gets touched when different
  src/coreclr/.nuget/optdata/optdata.csproj
Labels: area-Infrastructure-coreclr, auto-merge

#48040 Remove CF_QueryForIdentity flag
  src/coreclr/vm/comcallablewrapper.cpp
  src/coreclr/vm/comcallablewrapper.h
  src/coreclr/vm/cominterfacemarshaler.cpp
  src/coreclr/vm/runtimecallablewrapper.cpp
  src/coreclr/vm/runtimecallablewrapper.h
Labels: area-Interop-coreclr, auto-merge

#48025 Delete dotnet-deb-tool.
  tools-local/dotnet-deb-tool/Program.cs
  tools-local/dotnet-deb-tool/README.md
  tools-local/dotnet-deb-tool/dotnet-deb-tool.csproj
  tools-local/dotnet-deb-tool/example_config.json
  tools-local/dotnet-deb-tool/prefercliruntime
  tools-local/dotnet-deb-tool/tool/package_files/debian/compat
  tools-local/dotnet-deb-tool/tool/package_files/debian/source/format
  tools-local/dotnet-deb-tool/tool/package_tool
  tools-local/dotnet-deb-tool/tool/scripts/config_template_generator.py
  tools-local/dotnet-deb-tool/tool/scripts/debian_build_lib.sh
  tools-local/dotnet-deb-tool/tool/scripts/extract_json_value.py
  tools-local/dotnet-deb-tool/tool/scripts/manpage_generator.py
  tools-local/dotnet-deb-tool/tool/setup/build_setup.sh
  tools-local/dotnet-deb-tool/tool/setup/test_setup.sh
  tools-local/dotnet-deb-tool/tool/templates/debian/changelog
  tools-local/dotnet-deb-tool/tool/templates/debian/control
  tools-local/dotnet-deb-tool/tool/templates/debian/copyright
  tools-local/dotnet-deb-tool/tool/templates/debian/rules
  tools-local/dotnet-deb-tool/tool/test.sh
  tools-local/dotnet-deb-tool/tool/test/integration_tests/test_package.bats
  tools-local/dotnet-deb-tool/tool/test/test_assets/lkgtestman.1
  tools-local/dotnet-deb-tool/tool/test/test_assets/test_package_layout/debian_config.json
  tools-local/dotnet-deb-tool/tool/test/test_assets/test_package_layout/docs.json
  tools-local/dotnet-deb-tool/tool/test/test_assets/test_package_layout/docs/testdocs.1
  tools-local/dotnet-deb-tool/tool/test/test_assets/test_package_layout/package_root/path_relative_to_package_root/test_exe.sh
  tools-local/dotnet-deb-tool/tool/test/test_assets/test_package_layout/package_root/test_called.sh
  tools-local/dotnet-deb-tool/tool/test/test_assets/test_package_layout/samples/testsample.cs
  tools-local/dotnet-deb-tool/tool/test/test_assets/testdocs.json
  tools-local/dotnet-deb-tool/tool/test/unit_tests/test_debian_build_lib.bats
  tools-local/dotnet-deb-tool/tool/test/unit_tests/test_scripts.bats
Labels: area-Infrastructure, blocked

#48004 Fix AOT on ios/amd64.
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono

#47918 Enable size-optimized LINQ build for Browser
  src/libraries/Common/src/System/Collections/Generic/LargeArrayBuilder.SizeOpt.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Linq/src/System.Linq.csproj
  src/libraries/System.Linq/tests/ConcatTests.cs
  src/libraries/System.Linq/tests/EmptyPartitionTests.cs
  src/libraries/System.Linq/tests/OrderedSubsetting.cs
  src/libraries/System.Linq/tests/RangeTests.cs
  src/libraries/System.Linq/tests/SelectManyTests.cs
  src/libraries/System.Linq/tests/TakeTests.cs
Labels: area-System.Linq, size-reduction

#47932 Optimize Matrix.Elements
  src/libraries/System.Drawing.Common/src/System/Drawing/Drawing2D/Matrix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/GraphicsContext.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/libraries/System.Drawing.Common/src/misc/GDI/WindowsGraphics.cs
Labels: area-System.Drawing

#47781 Reimplement APM UDP Socket methods on top of task variants and consolidate related tests
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/BaseOverlappedAsyncResult.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/OverlappedAsyncResult.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/OverlappedAsyncResult.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/OverlappedAsyncResult.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/ReceiveMessageOverlappedAsyncResult.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/ReceiveMessageOverlappedAsyncResult.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/ReceiveMessageOverlappedAsyncResult.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ArgumentValidationTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendTo.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets

#48018 Duplicate productVersion.txt with repo-specific name
  src/installer/publish/prepare-artifacts.proj
Labels: area-Infrastructure-installer

#47933 Refactor Number.NumberToFloatingPointBits so System.Half can be trimmed
  src/libraries/System.Private.CoreLib/src/System/Number.NumberToFloatingPointBits.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Parsing.cs
Labels: area-System.Numerics

#47916 Split HttpClient.Send/SendAsync implementation
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
Labels: area-System.Net.Http, size-reduction

#48038 Add test for COM + dynamic keyword passing IntPtr/UIntPtr
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetNativeVariantForObjectTests.cs
  src/tests/Interop/COM/Dynamic/BasicTest.cs
  src/tests/Interop/COM/Dynamic/Server/BasicTest.cpp
Labels: area-Interop-coreclr, auto-merge

#48013 Revert "Use same code to DetectCiphersuiteConfiguration for portable and non-portable builds" to fix non-portable build
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Security

#48075 update the package index to have the latest stable package for harvesting
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-Infrastructure-libraries

#47074 FileSystem.AccessControl tests not cleaning files properly
  src/libraries/Common/tests/System/IO/TempDirectory.cs
  src/libraries/System.IO.FileSystem.AccessControl/tests/FileSystemAclExtensionsTests.cs
  src/libraries/System.IO.FileSystem.AccessControl/tests/System.IO.FileSystem.AccessControl.Tests.csproj
  src/libraries/System.IO.FileSystem.AccessControl/tests/TempAclDirectory.cs
Labels: area-System.IO

#47981 Big endian fixes for dotnet runtime
  src/libraries/System.Private.CoreLib/src/System/Text/ASCIIUtility.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.Helpers.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.Transcoding.cs
  src/libraries/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryFormatterWriter.cs
  src/libraries/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryParser.cs
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/BaseCodePageEncoding.cs
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/BaseCodePageEncoding.netcoreapp.cs
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/DBCSCodePageEncoding.cs
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/SBCSCodePageEncoding.cs
Labels: arch-s390x, area-System.Text.Encoding

#48050 Assist MSVC dependency analysis when using include sources in EventPipe.
  src/coreclr/vm/eventing/eventpipe/CMakeLists.txt
  src/mono/mono/eventpipe/CMakeLists.txt
  src/native/eventpipe/CMakeLists.txt
  src/native/eventpipe/ds-sources.c
  src/native/eventpipe/ep-sources.c
  src/native/eventpipe/ep.c
Labels: area-Tracing-coreclr
