Repository dotnet/runtime, pull requests merged in 2021-06, with the labels that each got.

#52463 Fix42292
  src/coreclr/pal/tests/palsuite/exception_handling/pal_sxs/test1/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/issues.targets
Labels: area-PAL-coreclr

#53510 Fix StubLinkerCPU::EmitMovConstant
  src/coreclr/vm/arm64/stubs.cpp
Labels: area-VM-coreclr

#53511 Fix arm build fail with clang11
  src/coreclr/vm/arm/cgencpu.h
Labels: area-VM-coreclr

#53516 change exceptions from socks proxy failure to be HttpRequestExceptions
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocksProxyTest.cs
Labels: area-System.Net.Http

#53526 Remove WSL checks and platform detection
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/libraries/System.IO.FileSystem.DriveInfo/tests/DriveInfo.Unix.Tests.cs
  src/libraries/System.Net.HttpListener/tests/HttpResponseStreamTests.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/IPGlobalPropertiesTest.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceIPv4Statistics.cs
  src/libraries/System.Private.Xml/tests/XmlReader/Tests/AsyncReaderLateInitTests.cs
  src/libraries/System.Text.Encoding/tests/Encoder/EncoderConvert2.cs
Labels: area-Meta, auto-merge

#53399 JIT: add option to choose guarded devirt class randomly
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/likelyclass.cpp
Labels: area-CodeGen-coreclr

#53465 [mono] Add basic support for static virtual methods on interfaces
  src/mono/mono/metadata/class-inlines.h
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/method-to-ir.c
  src/tests/issues.targets
Labels: area-VM-meta-mono

#52006 [wasm] Add comments with linker fixes made for running aot tests in
  eng/testing/ILLinkDescriptors/ILLink.Descriptors.Serialization.xml
  src/libraries/Microsoft.Extensions.Logging/tests/ILLink.Descriptors.xml
  src/libraries/System.Reflection.MetadataLoadContext/tests/ILLink.Descriptors.xml
  src/libraries/System.Reflection/tests/ILLink.Descriptors.xml
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: arch-wasm, area-Build-mono, trimming-for-aot

#53482 [mono][aot] Add a pass to remove empty finally clauses.
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-LLVM-mono

#53524 Revert "Disable flaky CodeDom tests"
  src/libraries/System.CodeDom/tests/System/CodeDom/CodeCollectionTestBase.cs
Labels: area-System.CodeDom

#53456 Handle the case when zero byte reads are cancelled with an empty buffer
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReader.cs
  src/libraries/System.IO.Pipelines/tests/StreamPipeReaderTests.cs
Labels: area-System.IO.Pipelines

#53531 Fix logging messages in ApiCompat.proj
  src/libraries/shims/ApiCompat.proj
Labels: area-Infrastructure-libraries, auto-merge

#53313 [release/5.0] Deps package for CBL-Mariner
  eng/pipelines/installer/jobs/base-job.yml
  src/installer/Directory.Build.props
  src/installer/pkg/packaging/rpm/dotnet-runtime-deps-rpm_config_cm.1-x64.json
Labels: Servicing-approved, area-Infrastructure-installer

#53449 Tweak overheads of Regex cache access
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Cache.cs
Labels: area-System.Text.RegularExpressions

#53184 Fully annotate JsonNode for trimmability
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.Dynamic.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.Dynamic.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.CreateOverloads.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueNotTrimmable.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/MetaDynamic.cs
Labels: area-System.Text.Json, linkable-framework

#52907 Add RID values for s390x
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Meta

#53556 Fix access ordering issue in Module::AllocateDynamicEntry on arm64
  src/coreclr/vm/ceeload.cpp
Labels: area-VM-coreclr

#51998 Add support for AvxVnni instructions under Experimental.
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/readytoruninstructionset.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSet.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/vm/codeman.cpp
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.NoX86Intrinsics.xml
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/AvxVnni.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/AvxVnni.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/mono/mono/mini/simd-intrinsics.c
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni/MultiplyWideningAndAdd.Byte.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni/MultiplyWideningAndAdd.Int16.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni/MultiplyWideningAndAddSaturate.Byte.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni/MultiplyWideningAndAddSaturate.Int16.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni/MultiplyWideningAndAdd_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni/MultiplyWideningAndAdd_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni/Program.AvxVnni.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni_Vector128/MultiplyWideningAndAdd.Byte.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni_Vector128/MultiplyWideningAndAdd.Int16.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni_Vector128/MultiplyWideningAndAddSaturate.Byte.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni_Vector128/MultiplyWideningAndAddSaturate.Int16.cs
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni_Vector128/MultiplyWideningAndAdd_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni_Vector128/MultiplyWideningAndAdd_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86/AvxVnni_Vector128/Program.AvxVnni_Vector128.cs
  src/tests/JIT/HardwareIntrinsics/X86/Shared/Program.cs
  src/tests/issues.targets
Labels: area-System.Runtime.Intrinsics, auto-merge, new-api-needs-documentation

#52166 Some mixed missed Equals nullable annotations
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/ref/Microsoft.Extensions.Logging.Abstractions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/EventId.cs
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/DirectoryEntryManager.cs
  src/libraries/System.Text.Encodings.Web/src/Polyfills/System.Text.Rune.netstandard20.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReferenceEqualsWrapper.cs
Labels: area-Meta, new-api-needs-documentation

#53569 Ensure inst_Mov() is used rather than inst_RV_RV(ins_Copy())
  src/coreclr/jit/codegenxarch.cpp
Labels: area-CodeGen-coreclr

#53544 Fix MinBy and MaxBy handling of empty sources
  src/libraries/System.Linq/src/System/Linq/Max.cs
  src/libraries/System.Linq/src/System/Linq/Min.cs
  src/libraries/System.Linq/tests/MaxTests.cs
  src/libraries/System.Linq/tests/MinTests.cs
Labels: area-System.Linq

#52870 [wasm] Bump emscripten to 2.0.21
  docs/workflow/building/libraries/webassembly-instructions.md
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/Native/Unix/System.Native/pal_interfaceaddresses.h
  src/libraries/Native/Unix/System.Native/pal_networkstatistics.h
  src/libraries/Native/Unix/configure.cmake
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllBytes.cs
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllBytesAsync.cs
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllLines.cs
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllLinesAsync.cs
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllText.cs
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllTextAsync.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CreateFromFile.Tests.cs
  src/mono/cmake/configure.cmake
  src/mono/mono.proj
  src/mono/mono/tools/offsets-tool/offsets-tool.py
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.json.in
  src/mono/wasm/Makefile
  src/mono/wasm/README.md
  src/mono/wasm/emscripten-version.txt
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono

#53576 [mono][aot] Pass the correct mtriple= argument to llc on android.
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#53485 [mono][aot] Rework the code which handles llvmonly compilation failures and transition to the interpreter
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini.c
Labels: area-Codegen-LLVM-mono

#53585 Remove unused Libraries.Libdl
  src/libraries/Common/src/Interop/Unix/Interop.Libraries.cs
Labels: area-Interop-coreclr

#53536 [mono] Separate LLVM optimization and compilation into two separate functions
  src/mono/mono/mini/llvm-jit.cpp
  src/mono/mono/mini/llvm-jit.h
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#53387 Add hot reload test that adds custom attributes
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ClassWithCustomAttributes/ClassWithCustomAttributes.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ClassWithCustomAttributes/ClassWithCustomAttributes_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ClassWithCustomAttributes/System.Reflection.Metadata.ApplyUpdate.Test.ClassWithCustomAttributes.csproj
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ClassWithCustomAttributes/deltascript.json
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateUtil.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
Labels: area-Diagnostics-coreclr

#53573 Fix assertion failure / crash in multi-core JIT
  src/coreclr/vm/multicorejit.cpp
  src/coreclr/vm/multicorejitimpl.h
  src/tests/baseservices/TieredCompilation/McjRecorderTimeoutBeforeStop.cs
  src/tests/baseservices/TieredCompilation/McjRecorderTimeoutBeforeStop.csproj
Labels: area-TieredCompilation-coreclr

#53605 Update area-owners.md
  docs/area-owners.md
Labels: area-Meta

#53535 [mono] Consolidate setret handling for diverging functions
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#53500 Support PortableThreadPool native event sinks on Mono.
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Eventing/NativeRuntimeEventSource.PortableThreadPool.NativeSinks.CoreCLR.cs
  src/coreclr/scripts/genRuntimeEventSources.py
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/NativeRuntimeEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/NativeRuntimeEventSource.PortableThreadPool.NativeSinks.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/NativeRuntimeEventSource.PortableThreadPool.cs
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/System/Diagnostics/Tracing/NativeRuntimeEventSource.PortableThreadPool.NativeSinks.Mono.cs
  src/mono/mono/component/event_pipe-stub.c
  src/mono/mono/component/event_pipe.c
  src/mono/mono/component/event_pipe.h
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/eventpipe/gen-eventing-event-inc.lst
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-def-netcore.h
  src/mono/mono/metadata/icall-eventpipe.c
Labels: area-Tracing-mono

#53570 JIT: update switch flags after peel
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#53557 [wasm][aot] Force python to default to UTF8
  src/mono/wasm/build/WasmApp.Native.targets
Labels: area-VM-meta-mono

#53197 [mono] Add a no-exec code manager for AOT compilation; switch Catalyst CI to JustInterp AOT mode
  eng/pipelines/runtime-staging.yml
  eng/testing/tests.mobile.targets
  src/libraries/System.Diagnostics.FileVersionInfo/tests/System.Diagnostics.FileVersionInfo.Tests/System.Diagnostics.FileVersionInfo.Tests.csproj
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewAccessor.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs
  src/libraries/System.Linq.Expressions/tests/InterpreterTests.cs
  src/mono/CMakeLists.txt
  src/mono/Directory.Build.props
  src/mono/mono/metadata/memory-manager.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/utils/mono-codeman.c
  src/mono/mono/utils/mono-codeman.h
  src/mono/mono/utils/mono-mmap.c
  src/mono/sample/iOS/Makefile
  src/mono/sample/iOS/Program.csproj
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/Templates/runtime.m
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-Codegen-meta-mono

#51905 add NegotiateClientCertificateAsync support on Windows
  src/libraries/Common/src/Interop/Windows/SChannel/Interop.SECURITY_STATUS.cs
  src/libraries/Common/src/System/Net/SecurityStatusAdapterPal.Windows.cs
  src/libraries/Common/src/System/Net/SecurityStatusPal.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/Resources/Strings.resx
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
  src/libraries/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
Labels: area-System.Net.Security, new-api-needs-documentation

#53604 Remove more OSPlatformAttribute like attributes from wasm trimmed output
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml
Labels: area-CoreLib-mono, linkable-framework

#53563 Add information about frame chaining to CLR ABI
  docs/design/coreclr/botr/clr-abi.md
Labels: area-CodeGen-coreclr

#53608 Disable leakwheel test for mono
  src/tests/issues.targets
Labels: area-VM-meta-mono

#53027 [wasm] Enable more networking tests
  eng/pipelines/libraries/outerloop-mono.yml
  src/libraries/Common/tests/System/Net/Http/DefaultCredentialsTest.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.AutoRedirect.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Decompression.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.DefaultProxyCredentials.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.RemoteServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/Common/tests/System/Net/Http/PostScenarioTest.cs
  src/libraries/Common/tests/System/Net/Http/ResponseStreamTest.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/PlatformHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.RequestRetry.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SyncHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamAlpnTests.cs
  src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/DeflateTests.cs
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/System.Net.WebSockets/tests/WebSocketCreateTest.cs
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Net

#52760 [iOS] Use weak linking for SecCopyErrorMessageString
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_sec.c
Labels: area-System.Security

#53586 Fix SPMI dump.
  src/coreclr/ToolBox/superpmi/superpmi-shared/lightweightmap.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.h
Labels: area-CodeGen-coreclr

#53590 Fix JIT debugger notification location
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr, auto-merge

#53613 JIT: relax immediate dominator check for jump threading
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#53610 Delete obsolete libraries package settings files
  src/libraries/pkg/test/packageSettings/Microsoft.NETCore.Platforms/netcoreapp3.0/settings.targets
  src/libraries/pkg/test/packageSettings/Microsoft.NETCore.Targets/netcoreapp1.0/settings.targets
  src/libraries/pkg/test/packageSettings/Microsoft.NETCore.Targets/netcoreapp1.1/settings.targets
  src/libraries/pkg/test/packageSettings/Microsoft.NETCore.Targets/netcoreapp2.2/settings.targets
  src/libraries/pkg/test/packageSettings/System.Diagnostics.DiagnosticSource/netcoreapp1.0/workaroundDowngrade.targets
  src/libraries/pkg/test/packageSettings/System.IO.Packaging/netcoreapp1.0/workaroundDowngrade.targets
  src/libraries/pkg/test/packageSettings/System.Reflection.Emit.ILGeneration/netcoreapp1.0/workaroundDowngrade.targets
  src/libraries/pkg/test/packageSettings/System.Reflection.Emit.Lightweight/netcoreapp1.0/workaroundDowngrade.targets
  src/libraries/pkg/test/packageSettings/System.Reflection.Emit/netcoreapp1.0/workaroundDowngrade.targets
  src/libraries/pkg/test/packageSettings/System.Runtime.CompilerServices.Unsafe/netcoreapp1.0/workaroundDowngrade.targets
  src/libraries/pkg/test/packageSettings/System.Security.Cryptography.Pkcs/netcoreapp1.0/workaroundDowngrade.targets
  src/libraries/pkg/test/packageSettings/System.Threading.Tasks.Extensions/netcoreapp1.0/workaroundDowngrade.targets
Labels: area-Infrastructure-libraries

#53618 [mono][aot] Compile llvm object files with -fPIC on android.
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#48487 Add test for EventListener consuming ThreadPool events
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipePayloadDecoder.cs
  src/tests/issues.targets
  src/tests/tracing/eventlistener/EventListenerThreadPool.cs
  src/tests/tracing/eventlistener/EventListenerThreadPool.csproj
Labels: area-Tracing-coreclr

#53631 Remove some unnecessary string copies in hosting layer
  src/native/corehost/deps_format.cpp
  src/native/corehost/fxr/command_line.cpp
  src/native/corehost/fxr/command_line.h
  src/native/corehost/fxr/fx_muxer.cpp
  src/native/corehost/fxr/fx_resolver.cpp
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/pal.unix.cpp
  src/native/corehost/hostmisc/pal.windows.cpp
  src/native/corehost/hostpolicy/deps_resolver.cpp
  src/native/corehost/runtime_config.cpp
  src/native/corehost/test/nativehost/nativehost.cpp
Labels: area-Host

#53629 Additional check if the RSA key is external.
  src/libraries/Native/Unix/System.Security.Cryptography.Native/apibridge.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/apibridge.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/openssl_1_0_structs.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/osslcompat_111.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey_rsa.c
Labels: area-System.Security

#53446 Avoid setting the brick of the next region during sweep in plan
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#53468 Fix Culture Native and Display Names
  src/libraries/Common/src/Interop/Interop.Locale.cs
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal_android.h
  src/libraries/Native/Unix/System.Globalization.Native/pal_localeStringData.c
  src/libraries/Native/Unix/System.Globalization.Native/pal_localeStringData.h
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoNames.cs
  src/libraries/System.Globalization/tests/System.Globalization.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
Labels: area-System.Globalization

#53445 Relax a threading related assert
  src/coreclr/vm/threads.cpp
Labels: area-GC-coreclr

#53649 Fix SuperPMI dumping for replay.
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/superpmi-shim-collector.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-counter/superpmi-shim-counter.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-simple/superpmi-shim-simple.cpp
  src/coreclr/ToolBox/superpmi/superpmi/superpmi.cpp
Labels: area-CodeGen-coreclr

#53463 StringSegment: more AsSpan overloads
  src/libraries/Microsoft.Extensions.Primitives/ref/Microsoft.Extensions.Primitives.cs
  src/libraries/Microsoft.Extensions.Primitives/src/StringSegment.cs
  src/libraries/Microsoft.Extensions.Primitives/tests/StringSegmentTest.cs
Labels: area-Extensions-Primitives, new-api-needs-documentation

#53562 Add MemoryMarshal.GetArrayDataReference(Array)
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.CoreCLR.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/MemoryMarshalIntrinsics.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ilmarshalers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/metasig.h
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/tests/MemoryMarshal/GetArrayDataReference.cs
  src/libraries/System.Private.CoreLib/src/System/Array.cs
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/GCHandle.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/mono/System.Private.CoreLib/src/System/Array.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.Mono.cs
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
Labels: area-System.Runtime, new-api-needs-documentation

#53024 Add Execution Checkpoint EventPipe event used to track runtime init on Mono.
  src/coreclr/scripts/genEventingTests.py
  src/coreclr/scripts/genRuntimeEventSources.py
  src/coreclr/vm/ClrEtwAll.man
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/coreclr/vm/eventing/eventpipe/ep-rt-types-coreclr.h
  src/mono/mono/component/event_pipe-stub.c
  src/mono/mono/component/event_pipe.c
  src/mono/mono/component/event_pipe.h
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/eventpipe/ep-rt-types-mono.h
  src/mono/mono/eventpipe/gen-eventing-event-inc.lst
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/components.c
  src/mono/mono/metadata/components.h
  src/mono/mono/mini/mini-runtime.c
  src/native/eventpipe/ep-rt-types.h
  src/native/eventpipe/ep-rt.h
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-session.h
  src/native/eventpipe/ep-types-forward.h
  src/native/eventpipe/ep-types.h
  src/native/eventpipe/ep.c
  src/native/eventpipe/ep.h
Labels: area-Tracing-mono

#53650 Integrate changes from NativeAOT branch
  src/coreclr/tools/Common/TypeSystem/Common/ArrayType.cs
  src/coreclr/tools/Common/TypeSystem/Common/ExceptionStringID.cs
  src/coreclr/tools/Common/TypeSystem/Common/InstantiatedType.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/tools/Common/TypeSystem/Common/Properties/Resources.resx
  src/coreclr/tools/Common/TypeSystem/Common/ThrowHelper.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemContext.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemException.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/DebugNameFormatter.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaType.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/PortablePdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/coreclr/tools/Common/TypeSystem/Interop/MarshalAsDescriptor.cs
  src/coreclr/tools/Common/TypeSystem/RuntimeDetermined/RuntimeDeterminedType.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/SyntheticVirtualOverrideTests.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackFrame.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackTrace.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionMemberAccessor.cs
Labels: area-crossgen2-coreclr

#52566 Fixing the GetInterfaceMap tests for mono in the runtime repo.
  src/mono/mono/metadata/icall.c
  src/tests/issues.targets
Labels: area-System.Reflection-mono, auto-merge

#53673 use QUIC_ADDRESS_FAMILY enum for assigning socket family
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicAddressHelpers.cs
Labels: area-System.Net.Quic

#53000 [Release/5.0] - Fix versions for Libs native artifacts
  src/libraries/Native/build-native.proj
Labels: Servicing-approved, area-Infrastructure-libraries

#53203 [Release/5.0] - Fix internal cache clean up for ComWrappers
  src/coreclr/src/interop/comwrappers.cpp
  src/coreclr/src/vm/gcenv.ee.cpp
  src/coreclr/src/vm/interoplibinterface.cpp
  src/coreclr/src/vm/interoplibinterface.h
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/Common.cs
Labels: Servicing-approved, area-Interop-coreclr

#52904 Add support for TLS and connectionless LDAP connections on Linux
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
  src/libraries/Common/tests/System/DirectoryServices/LDAP.Configuration.xml
  src/libraries/Common/tests/System/DirectoryServices/LdapConfiguration.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs
Labels: area-System.DirectoryServices, auto-merge

#52593 [mono][llvm] Replace all remaining uses of SimdOp with the INTRINS_ e…
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/simd-intrinsics.c
Labels: * NO MERGE *, area-Codegen-LLVM-mono

#53686 Fix for null pointer bug found by UBSAN
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono, mono-mirror

#53029 [iOS] Fix null dereference in AppleCryptoNative_SslIsHostnameMatch
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ssl.c
Labels: area-System.Security

#53695 Improve ENC logging.
  src/coreclr/gc/objecthandle.cpp
  src/coreclr/inc/corhdr.h
  src/coreclr/md/enc/metamodelrw.cpp
  src/coreclr/vm/class.cpp
  src/coreclr/vm/encee.cpp
Labels: auto-merge

#53661 Disable SuperPMI for arm64 apple under jitstress.
  src/tests/JIT/superpmi/superpmicollect.csproj
Labels: area-CodeGen-coreclr

#52759 [macOS] Specify kSecUseDataProtectionKeychain when generating RSA/ECC keys
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_ecc.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_rsa.c
Labels: area-System.Security

#53646 Resolving most of ILLink warnings on Microsoft.Extensions.Hosting
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.cs
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Extensions.Hosting/src/OptionsBuilderExtensions.cs
Labels: area-Extensions-Hosting, auto-merge, linkable-framework, new-api-needs-documentation

#53690 Disable BundleExtractToSpecificPath tests on Linux due to same problems
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleExtractToSpecificPath.cs
Labels: area-Single-File

#53700 Missing `Dispose` after `RemoteExecutor.Invoke`
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.InvokeOnEventsThread.cs
Labels: area-Microsoft.Win32, auto-merge

#53691 Adjust composite build exclusion list
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.Composite.sfxproj
Labels: area-crossgen2-coreclr

#53694 [mono] LLVM 11: Explicitly zero the unused bits of the result register for AddPairwiseScalar
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono, runtime-mono

#53639 Update feature-switches.md
  docs/workflow/trimming/feature-switches.md
Labels: area-System.Runtime.InteropServices

#53664 Replace remaining constants to Array.MaxLength
  src/libraries/Common/src/System/Buffers/ArrayBufferWriter.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/libraries/System.Private.CoreLib/src/System/Array.cs
  src/libraries/System.Private.CoreLib/src/System/IO/File.cs
Labels: area-System.Runtime

#53578 Retype calls as SIMD when applicable.
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_52864/Runtime_52864.cs
  src/tests/JIT/Regression/JitBlue/Runtime_52864/Runtime_52864.csproj
Labels: area-CodeGen-coreclr

#53589 Fix large object allocation
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#53652 Reduce worst-case alg complexity of MemoryExtensions.IndexOfAny
  src/libraries/Common/tests/TestUtilities/System/Buffers/BoundedMemory.Unix.cs
  src/libraries/Common/tests/TestUtilities/System/Buffers/BoundedMemory.Windows.cs
  src/libraries/System.Memory/tests/Span/IndexOfAny.AlgorithmicComplexity.cs
  src/libraries/System.Memory/tests/System.Memory.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
Labels: area-System.Memory, tenet-performance

#53424 46239 v2 (no runtime layout changes)
  eng/pipelines/coreclr/ci.yml
  src/coreclr/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/InstanceFieldLayoutTests.cs
  src/coreclr/vm/jitinterface.cpp
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#53678 Add better description of what to pass to `hostfxr_initialize_for_dotnet_command_line`
  docs/design/features/native-hosting.md
  src/native/corehost/hostfxr.h
Labels: area-Host, documentation

#53304 [QUIC] Stream write cancellation
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net.Quic

#53677 Adapt more Mono profiler events into NativeRuntimeEvents.
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/eventpipe/gen-eventing-event-inc.lst
  src/mono/mono/metadata/gc-internals.h
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/profiler-private.h
  src/mono/mono/metadata/profiler.c
Labels: area-Tracing-mono

#53129 Implement IEnumerable<> on various X509 collection types
  src/libraries/System.Security.Cryptography.X509Certificates/ref/System.Security.Cryptography.X509Certificates.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate2Collection.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate2Enumerator.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509ChainElementCollection.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509ChainElementEnumerator.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509ExtensionCollection.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509ExtensionEnumerator.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CollectionImportTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CollectionTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/TimeoutTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/X509FilesystemTests.Unix.cs
Labels: area-System.Security, new-api-needs-documentation

#53710 [mono] Disable the remove empty finally pass for now.
  src/mono/mono/mini/mini.c
Labels: area-Codegen-JIT-mono

#53718 Update comments in type system tests
  src/coreclr/tools/aot/ILCompiler.TypeSystem.ReadyToRun.Tests/InstanceFieldLayoutTests.cs
Labels: area-crossgen2-coreclr

#53734 [mono][wasm] Exit with a nonzero exit code on asserts.
  src/mono/wasm/runtime/driver.c
Labels: area-VM-meta-mono

#53714 Include LSRA block sequence progress in JitDump
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr, auto-merge

#53487 Hmac one-shot
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Hmac.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Hmac.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Hmac.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptAlgPseudoHandle.cs
  src/libraries/Common/tests/TestUtilities/System/AssertExtensions.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_hmac.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_hmac.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/entrypoints.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_hmac.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_hmac.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/entrypoints.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_hmac.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_hmac.h
  src/libraries/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.Browser.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.OSX.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.Unix.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.Windows.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACMD5.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA1.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA256.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA384.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA512.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacMD5Tests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacSha1Tests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacSha256Tests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacSha384Tests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacSha512Tests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacTests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/Rfc2202HmacTests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/Rfc4231HmacTests.cs
Labels: area-System.Security, new-api-needs-documentation

#53512 Spanify some Linux SslStreamPal internals and refactor EncryptDecryptHelper
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
Labels: area-System.Net.Security

#53736 Remove the unused AEADBCryptHandles.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/AEADBCryptHandles.cs
Labels: area-System.Security

#52595 Add background type preloading based on multicorejit
  src/coreclr/vm/method.hpp
  src/coreclr/vm/multicorejit.cpp
  src/coreclr/vm/multicorejit.h
  src/coreclr/vm/multicorejitimpl.h
  src/coreclr/vm/multicorejitplayer.cpp
  src/coreclr/vm/prestub.cpp
Labels: area-TieredCompilation-coreclr

#53724 Remove some unused defines and functions
  src/coreclr/jit/cpp.hint
  src/coreclr/jit/jit.h
Labels: area-CodeGen-coreclr

#53696 Build clr/libs dependencies of test build locally
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  src/tests/Common/override.targets
Labels: area-Infrastructure-coreclr

#53746 Minor corrections to BotR intro chapter
  docs/design/coreclr/botr/intro-to-clr.md
Labels: auto-merge

#53581 Socket: don't assign right endpoint until the connect is successful.
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTaskExtensionsTest.cs
Labels: area-System.Net.Sockets

#53214 Eliminate redundant test instruction
  src/coreclr/jit/clrjit.natvis
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
Labels: area-CodeGen-coreclr

#53308 Add GCHandle in native default ALC at creation
  src/mono/mono/metadata/assembly-load-context.c
  src/mono/mono/metadata/mono-private-unstable.h
  src/mono/mono/metadata/native-library.c
Labels: area-AssemblyLoader-mono

#53760 Fixing a regression compiling VT arrays
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
Labels: area-crossgen2-coreclr

#53738 [mono] Fix the remove finally pass.
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-JIT-mono

#53707 [mono] Check for `Vector{64,128,256}<T>` element type validity before emitting unchecked intrinsic IR for `AsByte` etc.
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-meta-mono

#53717 Add Invariant check to DateTimeParse tokens codepaths
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormatInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
Labels: area-System.Globalization

#53716 Disable diagnostics support as default in Mono Android sample app.
  src/mono/sample/Android/Makefile
Labels: area-Build-mono

#52704 QUIC stream limits
  src/libraries/Common/tests/System/Net/Http/Http3LoopbackServer.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockImplementationProvider.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/QuicConnectionProvider.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicOptions.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestBase.cs
Labels: area-System.Net.Quic, new-api-needs-documentation

#53705 Create dotnet symlink during RPM install
  src/installer/pkg/sfx/installers/dotnet-host.proj
  src/installer/pkg/sfx/installers/rpm_scripts/host/after_install.sh
  src/installer/pkg/sfx/installers/rpm_scripts/host/after_remove.sh
Labels: area-Infrastructure-installer

#53779 Reenable a disabled test for arm64 apple.
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process, disabled-test

#53772 Fix for bug #53520, Entry point not found
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ModuleTokenResolver.cs
Labels: area-crossgen2-coreclr

#53789 Add issues.targets entry for the GitHub_13822 test to make CI green
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#53555 Add HttpHeaders.NonValidated
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderStringValues.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeadersNonValidated.cs
  src/libraries/System.Net.Http/src/System/Net/Http/MultipartContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/tests/UnitTests/HPack/HPackRoundtripTests.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/HttpHeadersTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/HttpRequestHeadersTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
Labels: area-System.Net.Http, new-api-needs-documentation

#53755 Optimize constant localloc on x64
  src/coreclr/jit/codegenxarch.cpp
Labels: area-CodeGen-coreclr

#53748 Eliminate intermediate casts to double on ARM64
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#53799 [mono] Disable the remove empty finally pass, it still causes failures.
  src/mono/mono/mini/mini.c
Labels: area-Codegen-JIT-mono

#53775 [mono] Disable null checks in ghsaredvt wrappers, they are not needed,
  src/mono/mono/mini/mini.c
Labels: area-VM-meta-mono

#53719 allow late certificate with disabled renegotiation
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
Labels: area-System.Net.Security

#53801 H/3 stream limit fix
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
Labels: area-System.Net

#53503 Added some logic to include rcwrefcache references required by feature_comwrappers
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
Labels: area-Interop-coreclr

#53786 Alt-Svc tests enabled and fixed for H/3
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AltSvc.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Quic

#53754 Use HMAC one-shot where appropriate
  src/libraries/Common/src/System/Security/Cryptography/HashOneShotHelpers.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HKDF.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/UnixExportProvider.cs
Labels: area-System.Security

#53436 Add ChannelReader<T>.CanPeek/TryPeek
  src/libraries/Common/src/System/Collections/Concurrent/SingleProducerConsumerQueue.cs
  src/libraries/System.Threading.Channels/ref/System.Threading.Channels.cs
  src/libraries/System.Threading.Channels/src/System/Collections/Generic/Deque.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/BoundedChannel.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/SingleConsumerUnboundedChannel.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/UnboundedChannel.cs
  src/libraries/System.Threading.Channels/tests/ChannelTestBase.cs
  src/libraries/System.Threading.Channels/tests/ChannelTests.cs
  src/libraries/System.Threading.Channels/tests/Stress.cs
Labels: area-System.Threading.Channels, new-api-needs-documentation

#53798 Add runtime test logs to HELIX_WORKITEM_UPLOAD_ROOT
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs
  src/tests/run.proj
Labels: area-Infrastructure-coreclr

#53816 Update the Compatibility package for Cng
  src/libraries/pkg/Microsoft.Windows.Compatibility/Microsoft.Windows.Compatibility.pkgproj
Labels: area-Infrastructure-libraries

#53817 [mono] Avoid some unnecessary null checks in wrappers using the .no o…
  src/mono/mono/cil/make-opcodes-def.pl
  src/mono/mono/cil/opcode.def
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/method-builder-ilgen.c
  src/mono/mono/metadata/method-builder-ilgen.h
  src/mono/mono/mini/memory-access.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini.h
Labels: area-VM-meta-mono

#53575 Change package testing to use RuntimeTargets rather than RID-specific restore
  src/libraries/pkg/test/frameworkSettings/net5.0/settings.targets
  src/libraries/pkg/test/frameworkSettings/netcoreapp/settings.targets
  src/libraries/pkg/test/frameworkSettings/netcoreapp1.0/settings.targets
  src/libraries/pkg/test/frameworkSettings/netcoreapp1.1/settings.targets
  src/libraries/pkg/test/frameworkSettings/netcoreapp2.0/settings.targets
  src/libraries/pkg/test/frameworkSettings/netstandard/settings.targets
  src/libraries/pkg/test/frameworkSettings/netstandard2.1/settings.targets
  src/libraries/pkg/test/frameworkSettings/portable-net45+win8+wp8+wpa81/settings.targets
  src/libraries/pkg/test/frameworkSettings/portable-net45+win8+wpa81/settings.targets
  src/libraries/pkg/test/frameworkSettings/portable-net45+win8/settings.targets
  src/libraries/pkg/test/frameworkSettings/portable45-net45+win8/settings.targets
  src/libraries/pkg/test/frameworkSettings/portable46-net451+win81/settings.targets
  src/libraries/pkg/test/packageTest.targets
  src/libraries/pkg/test/project.csproj.template
  src/libraries/pkg/test/test.msbuild
  src/libraries/pkg/test/testPackages.proj
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#53818 Remove HarvestVersionValidation from pkg testing
  src/libraries/pkg/test/testPackages.proj
Labels: area-Infrastructure-libraries

#53115 Add ReplaceLineEndings and EnumerateLines
  src/libraries/System.Data.Common/tests/System/Data/DataSetTest.cs
  src/libraries/System.Data.Common/tests/System/Data/DataTableTest.cs
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/tests/Span/EnumerateLines.cs
  src/libraries/System.Memory/tests/System.Memory.Tests.csproj
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/FileUtil.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.Globalization.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/ExceptionServices/ExceptionDispatchInfo.cs
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Private.CoreLib/src/System/Text/SpanLineEnumerator.cs
  src/libraries/System.Private.Xml.Linq/tests/TreeManipulation/SaveWithFileName.cs
  src/libraries/System.Private.Xml/tests/Xslt/XsltCompiler/CommonScenarios/XsltcTestCaseBase.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/StringTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonTestHelper.cs
Labels: area-System.Runtime, new-api-needs-documentation

#53706 Implement descr_generations_to_profiler for regions
  src/coreclr/gc/gc.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/tests/profiler/native/gcbasicprofiler/gcbasicprofiler.cpp
Labels: area-Diagnostics-coreclr

#53685 Create Sdk.props in AOT compilers with a template
  eng/testing/tests.mobile.targets
  eng/testing/tests.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.MonoCrossAOT.Sdk.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.MonoCrossAOT.Sdk.props.in
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.MonoCrossAOT.sfxproj
  src/libraries/sendtohelixhelp.proj
  src/mono/Directory.Build.props
  src/mono/sample/Android/AndroidSampleApp.csproj
  src/mono/sample/iOS/Program.csproj
  src/mono/wasm/build/WasmApp.LocalBuild.props
  src/mono/wasm/build/WasmApp.Native.targets
Labels: area-Setup

#53626 Add PlatformNeutralAssembly property for targeted builds of cross platform assembly
  eng/Versions.props
  eng/versioning.targets
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3ConnectionException.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3ProtocolException.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
Labels: area-Meta

#53742 Throw ArgumentNull instead of NullReference for null requests
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
Labels: area-System.Net.Http

#53750 Fix superpmi.py/jitrollingbuild.py to handle large REST results
  src/coreclr/scripts/jitrollingbuild.py
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#53552 Resolving ILLink warnings on Microsoft.Extensions.Options.ConfigurationManager
  src/libraries/Microsoft.Extensions.Logging.Configuration/ref/Microsoft.Extensions.Logging.Configuration.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/ref/Microsoft.Extensions.Logging.Configuration.csproj
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/LoggerProviderConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/LoggerProviderConfigureOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/Microsoft.Extensions.Logging.Configuration.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/ref/Microsoft.Extensions.Logging.Console.cs
  src/libraries/Microsoft.Extensions.Logging.Console/ref/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/ref/Microsoft.Extensions.Options.ConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/ref/Microsoft.Extensions.Options.ConfigurationExtensions.csproj
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/ConfigureFromConfigurationOptions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/Microsoft.Extensions.Options.ConfigurationExtensions.csproj
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/NamedConfigureFromConfigurationOptions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/OptionsBuilderConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/OptionsConfigurationServiceCollectionExtensions.cs
Labels: area-Extensions-Configuration, area-Extensions-Logging, auto-merge, linkable-framework, new-api-needs-documentation

#52883 [mono][wasm] Avoid AOTing methods with clauses, use the interpreter instead.
  src/libraries/Microsoft.VisualBasic.Core/tests/FileSystemTests.cs
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/aot-runtime.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-runtime.c
Labels: arch-wasm, area-Codegen-Interpreter-mono

#52515 Add more iterators to JIT
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/cpp.hint
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lir.cpp
  src/coreclr/jit/lir.h
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/patchpoint.cpp
  src/coreclr/jit/rangecheck.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/ssabuilder.cpp
  src/coreclr/jit/stacklevelsetter.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#53839 Use GeneratedDllImport in System.Net.Security
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Ssl.cs
  src/libraries/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.IsNtlmInstalled.cs
  src/libraries/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.SslCtx.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.SslCtxOptions.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertEnumCertificatesInStore.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.certificates.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.certificates_types.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/System/Net/Capability.Security.Unix.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpCertificateHelper.cs
  src/libraries/System.Net.Mail/tests/Unit/System.Net.Mail.Unit.Tests.csproj
  src/libraries/System.Net.Primitives/tests/PalTests/System.Net.Primitives.Pal.Tests.csproj
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
Labels: area-Interop-coreclr

#53845 Use GeneratedDllImport in System.IO.FileSystem.AccessControl
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateDirectory.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateFile.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FindClose.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetFileAttributesEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetFullPathNameW.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetLongPathNameW.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetThreadErrorMode.cs
Labels: area-Interop-coreclr

#53844 Use GeneratedDllImport in System.Net.Sockets
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Accept.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Bind.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Connect.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Fcntl.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetBytesAvailable.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetDomainSocketSizes.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetPeerName.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetSockName.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetSockOpt.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetSocketErrorOption.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetSocketType.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.IPPacketInformation.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.LingerOption.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Listen.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MulticastOption.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Pipe.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Receive.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.ReceiveMessage.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Send.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SendFile.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SendMessage.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SetReceiveTimeout.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SetSendTimeout.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SetSockOpt.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Shutdown.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SocketEvent.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CancelIoEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.HandleInformation.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetFileCompletionNotificationModes.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.TransmitFile.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSAConnect.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSADuplicateSocket.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSAGetOverlappedResult.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSAIoctl.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSARecv.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSARecvFrom.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSASend.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSASendTo.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSASocketW.SafeCloseSocket.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSASocketW.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.accept.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.bind.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.closesocket.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.getpeername.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.getsockname.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.getsockopt.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.ioctlsocket.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.listen.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.recv.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.recvfrom.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.select.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.send.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.sendto.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.setsockopt.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.shutdown.cs
  src/libraries/System.Console/tests/System.Console.Tests.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/UnixDomainSocketEndPoint.Unix.cs
Labels: area-Interop-coreclr

#53828 [libraries] Fix metadata name following arcade change to stop supporting multiple targets in helix sdk
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#53765 Add support for unwinding function fragments in the DAC
  src/coreclr/vm/codeman.cpp
Labels: area-Diagnostics-coreclr

#52599 Sockets.tests: TcpReceiveSendGetsCanceledByDispose: remove Timeout.
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceive.cs
Labels: area-System.Net.Sockets

#53827 [Mono] Multi-target RuntimeConfigParser Task
  src/mono/nuget/Microsoft.NET.Runtime.RuntimeConfigParser.Task/Sdk/Sdk.props
Labels: area-Build-mono

#53847 Distinguish Debug and Checked builds in version resource
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure-coreclr

#53776 [mono][llvm] Access mono_polling_required directly instead of loading…
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#53194 Check if the marshalling of a field is possible across all platforms.
  src/coreclr/vm/comtoclrcall.cpp
  src/coreclr/vm/mlinfo.h
  src/tests/Interop/PInvoke/Variant/VariantTest.cs
Labels: area-Interop-coreclr

#50316 Fix compilation errors if host does not support AVX2
  src/tests/Interop/PInvoke/Generics/CMakeLists.txt
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256B.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256C.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256D.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256F.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256L.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256U.cpp
Labels: area-Infrastructure-coreclr

#53240 Strip libmonosgen linked library
  src/mono/mono.proj
Labels: area-Build-mono

#53250 Fix Apple Silicon shuffle thunks
  src/coreclr/vm/arm64/cgencpu.h
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comdelegate.h
  src/tests/issues.targets
Labels: arch-arm64, area-VM-coreclr, os-mac-os-x-big-sur

#53074 [release/5.0] Fix for Issue 49058 - Do not count page cache towards cgroup’s memory load
  src/coreclr/src/gc/unix/cgroup.cpp
  src/coreclr/src/pal/src/misc/cgroup.cpp
Labels: Servicing-approved, area-PAL-coreclr

#53806 Update instruction table to capture the correct state of EFlags
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/tests/issues.targets
Labels: area-CodeGen-coreclr, auto-merge

#52197 Apple Silicon reenable 49365
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ExportCollectionTests.cs
  src/libraries/System.Private.Xml/tests/Writers/XmlWriterApi/EndOfLineHandlingTests.cs
  src/libraries/System.Private.Xml/tests/Writers/XmlWriterApi/ErrorCondition.cs
  src/libraries/System.Private.Xml/tests/Writers/XmlWriterApi/WriteEndDocumentOnCloseTest.cs
Labels: arch-arm64, area-Infrastructure-libraries, os-mac-os-x-big-sur

#53870 Modernize DiagnosticsHandler tests
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/FakeDiagnosticSourceListenerObserver.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, auto-merge

#53287 Build support for s390x: PAL layer
  eng/native/tryrun.cmake
  src/coreclr/CMakeLists.txt
  src/coreclr/inc/crosscomp.h
  src/coreclr/inc/pedecoder.h
  src/coreclr/inc/switches.h
  src/coreclr/inc/volatile.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/inc/rt/intsafe.h
  src/coreclr/pal/inc/rt/palrt.h
  src/coreclr/pal/inc/unixasmmacros.inc
  src/coreclr/pal/inc/unixasmmacross390x.inc
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/arch/s390x/asmconstants.h
  src/coreclr/pal/src/arch/s390x/callsignalhandlerwrapper.S
  src/coreclr/pal/src/arch/s390x/context2.S
  src/coreclr/pal/src/arch/s390x/debugbreak.S
  src/coreclr/pal/src/arch/s390x/exceptionhelper.S
  src/coreclr/pal/src/arch/s390x/processor.cpp
  src/coreclr/pal/src/arch/s390x/signalhandlerhelper.cpp
  src/coreclr/pal/src/exception/remote-unwind.cpp
  src/coreclr/pal/src/exception/seh-unwind.cpp
  src/coreclr/pal/src/include/pal/context.h
  src/coreclr/pal/src/misc/perfjitdump.cpp
  src/coreclr/pal/src/thread/context.cpp
Labels: area-PAL-coreclr, auto-merge

#53286 Build support for s390x: libunwind
  src/coreclr/pal/src/libunwind/CMakeLists.txt
  src/coreclr/pal/src/libunwind/include/tdep-s390x/libunwind_i.h
  src/coreclr/pal/src/libunwind/include/tdep/dwarf-config.h
  src/coreclr/pal/src/libunwind/libunwind-version.txt
  src/coreclr/pal/src/libunwind/src/CMakeLists.txt
  src/coreclr/pal/src/libunwind/src/s390x/Gresume.c
Labels: area-PAL-coreclr
