Repository dotnet/runtime, pull requests merged in 2021-10, with the labels that each got.

#59789 JIT: fix register arg size computation for OSR
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr

#59831 Fix Unix ARM64 RtlRestoreContext implementation
  src/coreclr/pal/src/arch/arm64/context2.S
Labels: area-PAL-coreclr

#59836 Use the short form of an opcode in `ILGenerator.EmitWriteLine`.
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/ILGenerator.cs
Labels: area-System.Reflection.Emit, community-contribution

#59820 Update WCF dependencies on the compat pack (#59764)
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
Labels: Servicing-approved, area-Infrastructure-libraries

#59840 Use `.maxstack 8` in the `System.Runtime.CompilerServices.Unsafe` IL code.
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il
Labels: area-System.Runtime.CompilerServices, community-contribution

#59828 Arm64: Align methods containing loops to 32B
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr

#59852 [mono][wasm] Fix the --runtime-arg argument in runtime-test.js.
  src/mono/wasm/runtime-test.js
Labels: arch-wasm

#59808 Do not flush serializer buffers before first IAsyncEnumerable element is fetched
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IAsyncEnumerableOfTConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/tests/Common/CollectionTests/CollectionTests.AsyncEnumerable.cs
Labels: area-System.Text.Json

#59524 Fix System.Speech.Tests OtherTests.PromptBuilder test on non-English OS
  src/libraries/System.Speech/tests/OtherTests.cs
Labels: community-contribution

#59790 Remove 3 active issues
  src/libraries/System.IO.FileSystem/tests/Base/InfoGetSetTimes.cs
  src/libraries/System.IO.FileSystem/tests/Directory/EnumerableTests.cs
  src/libraries/System.IO.FileSystem/tests/File/GetSetTimes.cs
Labels: area-System.IO

#59475 Refactoring XslCompiledTransform
  src/libraries/System.Private.Xml/src/System/Xml/Xslt/XslCompiledTransform.cs
Labels: area-System.Xml

#59858 Pass directory path from call-site
  eng/common/native/init-compiler.sh
  eng/native/gen-buildsys.sh
  src/mono/mono.proj
Labels: community-contribution

#59842 Produce symbols archives
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.Composite.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
Labels: area-Infrastructure

#59848 Use ProductVersion in how-to-debug-dump
  eng/testing/debug-dump-template.md
  eng/testing/gen-debug-dump-docs.py
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries, community-contribution

#59876 Change some P/Invokes back to non-blittable + GeneratedDllImport for better usability
  src/libraries/Common/src/Interop/OSX/Interop.RunLoop.cs
  src/libraries/Common/src/Interop/OSX/Interop.SystemConfiguration.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.X509.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.ConfigureTerminalForChildProcess.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.IPPacketInformation.cs
  src/libraries/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.IsNtlmInstalled.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.BIO.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Dsa.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ERR.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EcKey.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.AllocateLocallyUniqueId.cs
  src/libraries/Common/src/Interop/Windows/IpHlpApi/Interop.NetworkInformation.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.EnumWindows.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeBioHandle.Unix.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeDsaHandle.Unix.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeEcKeyHandle.Unix.cs
  src/libraries/Common/tests/System/Net/Capability.Security.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.ConfigureTerminalForChildProcesses.Unix.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.OSX.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/SystemIPGlobalProperties.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509CertificateReader.cs
  src/libraries/System.Security.Principal.Windows/src/System.Security.Principal.Windows.csproj
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
Labels: area-System.Runtime.InteropServices

#59867 Make libraries tests use the same config as the matching libraries build.
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-libraries

#59796 Move MakeReproPackage logic to a shared location
  src/coreclr/tools/Common/CommandLine/CommandLineHelpers.cs
  src/coreclr/tools/ILVerify/ILVerify.csproj
  src/coreclr/tools/aot/crossgen2/CommandLineOptions.cs
Labels: area-crossgen2-coreclr

#59884 Move runtime rolling builds to run twice a day on main
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-libraries

#59857 Optimize DateTime.Equals
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
Labels: area-System.Runtime

#59742 fix resolveVirtualMethodHelper
  src/coreclr/vm/jitinterface.cpp
  src/tests/JIT/opt/Devirtualization/GitHub_59668.cs
  src/tests/JIT/opt/Devirtualization/GitHub_59668.csproj
Labels: area-CodeGen-coreclr

#59645 Clean up fix for single-reg returned normalize-on-load vars
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#59834 More tweaks to regex source generator code
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
Labels: area-System.Text.RegularExpressions

#59783 Update Microsoft.CodeAnalysis.CSharp.CodeStyle version
  docs/workflow/requirements/windows-requirements.md
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  eng/Versions.props
Labels: area-Infrastructure-libraries

#59851 Annotate methods that get MethodBase from a stackwalk as RUC
  src/coreclr/System.Private.CoreLib/src/System/Exception.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/MethodBase.CoreCLR.cs
  src/libraries/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Contracts/Contracts.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackFrame.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackFrameExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackTrace.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/System.Private.CoreLib/src/System/Diagnostics/StackTrace.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Exception.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/MethodBase.Mono.cs
Labels: area-AssemblyLoader-coreclr, new-api-needs-documentation

#59872 Port workload description localization changes to main
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/Microsoft.NET.Workload.Mono.Toolchain.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.cs.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.de.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.en.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.es.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.fr.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.it.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.ja.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.ko.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.pl.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.pt-BR.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.ru.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.tr.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.zh-Hans.json
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/localize/WorkloadManifest.zh-Hant.json
Labels: area-System.Net

#59883 Fix code heap reservation size
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/dynamicmethod.cpp
Labels: area-VM-coreclr

#59655 [wasm] More typescript conversion
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/DebuggerTestSuite/ArrayTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/runtime/base64.ts
  src/mono/wasm/runtime/binding_support.js
  src/mono/wasm/runtime/buffers.ts
  src/mono/wasm/runtime/cancelable-promise.ts
  src/mono/wasm/runtime/corebindings.ts
  src/mono/wasm/runtime/cs-to-js.ts
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/debug.ts
  src/mono/wasm/runtime/dotnet_support.js
  src/mono/wasm/runtime/event-listener.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/gc-handles.ts
  src/mono/wasm/runtime/icu.ts
  src/mono/wasm/runtime/js-to-cs.ts
  src/mono/wasm/runtime/library-dotnet.js
  src/mono/wasm/runtime/library_mono.js
  src/mono/wasm/runtime/method-binding.ts
  src/mono/wasm/runtime/method-calls.ts
  src/mono/wasm/runtime/modules.ts
  src/mono/wasm/runtime/profiler.ts
  src/mono/wasm/runtime/queue.ts
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/runtime/roots.ts
  src/mono/wasm/runtime/scheduling.ts
  src/mono/wasm/runtime/src/binding/types.ts
  src/mono/wasm/runtime/src/mono/cwraps.ts
  src/mono/wasm/runtime/src/mono/string-decoder.ts
  src/mono/wasm/runtime/src/mono/types.ts
  src/mono/wasm/runtime/src/runtime.ts
  src/mono/wasm/runtime/src/startup.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/strings.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/runtime/types/emscripten.d.ts
  src/mono/wasm/runtime/types/v8.d.ts
  src/mono/wasm/runtime/web-socket.ts
  src/mono/wasm/wasm.proj
Labels: arch-wasm

#59868 [wasm][debugger] Fix JS debugger tests
  src/mono/wasm/debugger/DebuggerTestSuite/CallFunctionOnTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ExceptionTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/GetPropertiesTests.cs
Labels: arch-wasm, area-Debugger-mono

#59928 [wasm] lint auto fix
  src/mono/wasm/runtime/.eslintrc.js
  src/mono/wasm/runtime/base64.ts
  src/mono/wasm/runtime/buffers.ts
  src/mono/wasm/runtime/cancelable-promise.ts
  src/mono/wasm/runtime/corebindings.ts
  src/mono/wasm/runtime/cs-to-js.ts
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/debug.ts
  src/mono/wasm/runtime/event-listener.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/gc-handles.ts
  src/mono/wasm/runtime/icu.ts
  src/mono/wasm/runtime/js-to-cs.ts
  src/mono/wasm/runtime/library-dotnet.js
  src/mono/wasm/runtime/method-binding.ts
  src/mono/wasm/runtime/method-calls.ts
  src/mono/wasm/runtime/modules.ts
  src/mono/wasm/runtime/package.json
  src/mono/wasm/runtime/profiler.ts
  src/mono/wasm/runtime/queue.ts
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/runtime/roots.ts
  src/mono/wasm/runtime/scheduling.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/strings.ts
  src/mono/wasm/runtime/types/emscripten.d.ts
  src/mono/wasm/runtime/web-socket.ts
Labels: arch-wasm

#58297 Stop retyping RHSes to byrefs on type mismatch
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Methodical/Coverage/copy_prop_byref_to_native_int.il
  src/tests/JIT/Methodical/Coverage/copy_prop_byref_to_native_int.ilproj
Labels: area-CodeGen-coreclr, community-contribution

#59827 Update workload localization file directory structure
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/Microsoft.NET.Workload.Mono.Toolchain.Manifest.pkgproj
Labels: Servicing-approved, area-System.Net

#59919 Fix unmatched transition callback in JIT_ReversePInvokeExitTrackTransitions
  src/coreclr/vm/jithelpers.cpp
Labels: area-Interop-coreclr, community-contribution

#59797 Don't regress SkipLocalsInit optimization on <= NET6
  src/libraries/Directory.Build.targets
Labels: area-Infrastructure-libraries

#59937 Enable doc generation for source-build
  Build.proj
Labels: area-Infrastructure-libraries

#59929 Show dialog when running .NET 6 GUI single-file on 5.0 hostfxr
  src/installer/tests/HostActivation.Tests/FrameworkResolution/DotNetCliExtensions.cs
  src/installer/tests/HostActivation.Tests/HostActivation.Tests.csproj
  src/installer/tests/HostActivation.Tests/PortableAppActivation.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundledAppWithSubDirs.cs
  src/installer/tests/TestUtils/CommandExtensions.cs
  src/installer/tests/TestUtils/Constants.cs
  src/installer/tests/TestUtils/DotNetBuilder.cs
  src/installer/tests/TestUtils/FileUtils.cs
  src/installer/tests/TestUtils/NetCoreAppBuilder.cs
  src/installer/tests/TestUtils/RuntimeConfig.cs
  src/installer/tests/TestUtils/SharedFramework.cs
  src/installer/tests/TestUtils/TestArtifact.cs
  src/installer/tests/TestUtils/TestUtils.csproj
  src/installer/tests/TestUtils/WindowsUtils.cs
  src/native/corehost/apphost/apphost.windows.cpp
  src/native/corehost/test/CMakeLists.txt
  src/native/corehost/test/mockhostfxr/2_2/CMakeLists.txt
  src/native/corehost/test/mockhostfxr/5_0/CMakeLists.txt
  src/native/corehost/test/mockhostfxr/mockhostfxr.cpp
Labels: area-Single-File

#59873 Fix genCodeForInitBlkUnroll for x86
  src/coreclr/jit/codegenxarch.cpp
  src/libraries/System.Memory/tests/Span/Fill.cs
  src/tests/JIT/Regression/JitBlue/Runtime_59444/Runtime_59444.cs
  src/tests/JIT/Regression/JitBlue/Runtime_59444/Runtime_59444.csproj
Labels: area-CodeGen-coreclr

#55875 Optimize Vector128/256.Equals via TestZ
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
Labels: area-CodeGen-coreclr

#59953 Don't try to build and archive/run libraries tests on official builds.
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-libraries

#59467 Refactoring XmlWriterSettings
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWriterSettings.cs
Labels: area-System.Xml

#57860 DependencyContextWriter.WritePortableTarget(): write the duplicate key name when duplicate keys are detected
  src/libraries/Microsoft.Extensions.DependencyModel/src/CollectionExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/CollectionExtensions.netcoreapp.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/CollectionExtensions.netstandard.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextWriter.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.DependencyModel/tests/DependencyContextJsonWriterTests.cs
Labels: area-DependencyModel

#55778 Optimize division by constant after AND or RSZ
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/utils.h
  src/libraries/System.Private.CoreLib/src/System/Convert.cs
  src/libraries/System.Private.CoreLib/src/System/DateOnly.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
Labels: area-CodeGen-coreclr

#59885 Fix IDE0008 in DllImportGenerator and Microsoft.Interop.SourceGeneration
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/ConvertToGeneratedDllImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/ConvertToGeneratedDllImportFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/GeneratedDllImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/ManualTypeMarshallingAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportStubContext.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/PInvokeStubCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ContiguousCollectionElementMarshallingCodeContext.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ArrayMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/BlittableMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/BoolMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CharMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ConditionalStackallocMarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CustomNativeTypeMarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/DelegateMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomNativeTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallerHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallingGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/PinnableManagedValueMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/SafeHandleMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StringMarshaller.Ansi.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StringMarshaller.PlatformDefined.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StringMarshaller.Utf16.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StringMarshaller.Utf8.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypePositionInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeSymbolExtensions.cs
Labels: area-System.Runtime.InteropServices

#59907 Fix a macro usage and cleanup stale comment
  eng/native/gen-buildsys.sh
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin/util.h
Labels: community-contribution

#59409 Refactoring XmlReaderSettings
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlReaderSettings.cs
Labels: area-System.Xml, community-contribution

#55867 Cleanup XPath.StringToDouble
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XPathConvert.cs
Labels: area-System.Xml, community-contribution

#59975 Update area-owners to reflect a few changes
  docs/area-owners.md
Labels: area-Meta

#59935 Seal internal types in runtime tasks
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/AppleAppBuilder/Xcode.cs
  src/tasks/Crossgen2Tasks/CommonFilePulledFromSdkRepo/BuildErrorException.cs
  src/tasks/Crossgen2Tasks/CommonFilePulledFromSdkRepo/RuntimeGraphCache.cs
  src/tasks/WasmAppBuilder/IcallTableGenerator.cs
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmLoadAssembliesAndReferences.cs
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
  src/tasks/WorkloadBuildTasks/PackageInstaller.cs
Labels: area-Meta

#59968 [wasm] Fix typedef for non-void interp entry callbacks
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
Labels: arch-wasm, area-Interop-mono

#59853 Enable Crossgen for FreeBSD, now that it is actually implemented.
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
Labels: area-Setup, community-contribution

#59337 Refactoring XmlReader{Async}
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlReaderAsync.cs
Labels: area-System.Xml, community-contribution

#58952 Use live-built corehost on s390x for creating testhost
  Directory.Build.props
  eng/Subsets.props
  src/installer/pkg/Directory.Build.props
  src/libraries/externals.csproj
Labels: area-Infrastructure

#59957 Fix byte array handling in STJ sourcegen
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/Reflection/MetadataLoadContextInternal.cs
  src/libraries/System.Text.Json/gen/Reflection/TypeWrapper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/ContextClasses.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataAndSerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MixedModeContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/RealWorldContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/SerializationContextTests.cs
Labels: area-System.Text.Json

#57926 Implement `GT_MUL_LONG` for ARM64
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#59980 Ignore nop-statements between tailcall and ret
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_58827/Runtime_58827.cs
  src/tests/JIT/Regression/JitBlue/Runtime_58827/Runtime_58827.csproj
Labels: area-CodeGen-coreclr

#59941 Seal internal types in runtime libs
  src/libraries/Common/src/System/Memory/PointerMemoryManager.cs
  src/libraries/Common/src/System/Net/ContextAwareResult.Unix.cs
  src/libraries/Common/src/System/Net/ContextAwareResult.Windows.cs
  src/libraries/Common/src/System/Net/ContextAwareResult.cs
  src/libraries/Common/src/System/Net/LazyAsyncResult.cs
  src/libraries/Common/src/System/Runtime/InteropServices/ComEventsMethod.cs
  src/libraries/Common/src/System/SR.vb
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/MethodIterator.cs
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/CacheDict.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/ConversionResolution.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/IDOBinder.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/IOUtils.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/OverloadResolution.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/StructUtils.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/Symbols.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/VB6BinaryFile.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/VB6InputFile.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/CompilerServices/VB6OutputFile.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileIO/FileSystem.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileIO/TextFieldParser.vb
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/DesigntimeLicenseContextSerializer.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/AggregatorStore.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MetricsEventSource.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/GroupByQueryOperator.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/ListenerClientCertAsyncResult.Windows.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/SyncRequestContext.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/WebSockets/WebSocketBase.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockConnection.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlBaseReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.KeyCollection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.ValueCollection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionMemberAccessor.cs
Labels: area-Meta, community-contribution

#59960 Avoid resetting gen0 bricks for background_sweep (#59106)
  src/coreclr/gc/gc.cpp
Labels: Servicing-approved, area-GC-coreclr

#59967 Fixes based on feedback for the original #59929
  src/installer/tests/HostActivation.Tests/PortableAppActivation.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundledAppWithSubDirs.cs
  src/native/corehost/apphost/apphost.windows.cpp
  src/native/corehost/bundle/header.cpp
  src/native/corehost/test/mockhostfxr/mockhostfxr.cpp
Labels: area-Host

#60010 [wasm] do not enforce windows end of line with lint
  src/mono/wasm/runtime/.eslintrc.js
Labels: arch-wasm

#59178 Rocky Linux support
  eng/native/init-distro-rid.sh
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
  src/native/corehost/hostmisc/pal.unix.cpp
Labels: area-Infrastructure-libraries, community-contribution

#55327 FileStream.Unix: improve DeleteOnClose when FileShare.None.
  src/libraries/System.IO.FileSystem/tests/FileStream/DeleteOnClose.cs
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs
Labels: area-System.IO, community-contribution

#60005 Remove use of Unsafe in regex source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
Labels: area-System.Text.RegularExpressions

#59847 Add back the nethost archive.
  eng/Subsets.props
  src/installer/pkg/archives/Directory.Build.props
  src/installer/pkg/archives/dotnet-nethost.proj
Labels: area-Setup

#60014 Code review feedback for DacHeapWalker
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/daccess/request_common.h
  src/coreclr/debug/daccess/request_svr.cpp
Labels: area-Diagnostics-coreclr

#60032 Update CODEOWNERS to remove JSON area and to add Obsoletions
  .github/CODEOWNERS
Labels: area-Meta

#59835 Syndication test fixes for wasm.
  src/libraries/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/Atom10FeedFormatterTests.cs
  src/libraries/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/Atom10ItemFormatterTests.cs
Labels: area-System.ServiceModel.Syndication

#59483 Nonzero Exit Code for performance-setup Failures
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: tenet-performance

#60040 Rollback changes breaking rolling builds
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#60038 Add a Reverse P/Invoke scenario for profiler transition tests.
  src/tests/profiler/native/transitions/transitions.cpp
  src/tests/profiler/native/transitions/transitions.h
  src/tests/profiler/transitions/transitions.cs
Labels: increase-code-coverage, area-Diagnostics-coreclr

#60019 Remove the runtime-specific `Stream` source files.
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/IO/Stream.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Stream.cs
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/System/IO/Stream.Mono.cs
Labels: area-System.IO, community-contribution

#60008 [release/6.0] Update signed wix version for arm64 fixes
  eng/Versions.props
Labels: packaging, area-Infrastructure

#60039 Block out the test Interop/PInvoke/Generics/GenericTest on arm64 pending investigation
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#60013 Use custom error message when running out of syncblocks
  src/coreclr/dlls/mscorrc/mscorrc.rc
  src/coreclr/dlls/mscorrc/resource.h
  src/coreclr/vm/syncblk.cpp
Labels: area-System.Threading

#59658 Dllimport generator build and test fixes
  eng/Versions.props
  eng/generators.targets
  eng/native/output-toolchain-info.cmake
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CloseHandle.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FormatMessage.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetFullPathNameW.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetLongPathNameW.cs
  src/libraries/System.IO.Compression.ZipFile/tests/System.IO.Compression.ZipFile.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/DisabledFileLockingTests/System.IO.FileSystem.DisabledFileLocking.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.Tests/AssemblyInfo.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.Tests/DllImportGenerator.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.Tests/FunctionPointerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/DllImportGenerator.UnitTests.csproj
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/DelegatesAndFunctionPointers.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/NativeExports.csproj
  src/libraries/tests.proj
  src/samples/Directory.Build.props
  src/samples/Directory.Build.targets
  src/samples/DllImportGeneratorSample/DllImportGeneratorSample.csproj
  src/samples/DllImportGeneratorSample/Program.cs
Labels: * NO MERGE *, NO REVIEW, area-System.Runtime.InteropServices

#60034 Updated channel passed to ci_setup in the performance-setup.sh file.
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-libraries

#59988 [mono] Fix libcoreclr.so build incompatibilities on Linux
  src/mono/CMakeLists.txt
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
Labels: area-Build-mono, community-contribution

#60007 Update branding for 5.0.12
  eng/Versions.props
Labels: area-Infrastructure-libraries

#58762 Cleanup of runtime test build scripts
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/xplat-setup.yml
  src/tests/Common/dirs.proj
  src/tests/Common/publishdependency.targets
  src/tests/Directory.Build.props
  src/tests/Directory.Build.targets
  src/tests/build.cmd
  src/tests/build.proj
  src/tests/build.sh
  src/tests/issues.targets
  src/tests/run.proj
  src/tests/run.py
Labels: area-Infrastructure-coreclr

#61016 Build mono by default
  .devcontainer/scripts/onCreateCommand.sh
Labels: area-Infrastructure-libraries

#60727 Alter amount of tests that run per PR for mono mobile configurations
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/runtime-staging.yml
  eng/pipelines/runtime.yml
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
Labels: area-Infrastructure-mono

#61009 [mono][s390x] Fix OP_MOVE_F_TO_I4 codegen bug
  src/mono/mono/mini/mini-s390x.c
Labels: area-Codegen-JIT-mono, community-contribution

#60955 Log more info when perf counter category is missing
  src/libraries/System.Diagnostics.PerformanceCounter/src/Resources/Strings.resx
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceCounterLib.cs
Labels: area-System.Diagnostics.PerformanceCounter

#61029 Fix to run all the tests for the scheduled builds, as intended
  eng/pipelines/common/xplat-setup.yml
Labels: area-Infrastructure-libraries

#60994 Add a fallback RuntimeProductVersion in runtime_version.h
  eng/native/version/runtime_version.h
Labels: area-Infrastructure-coreclr
