Repository dotnet/runtime, pull requests merged in 2021-01, with the labels that each got.

#46453 [wasm] Remove MainAssembly parameter from WasmAppBuilder
  src/mono/wasm/build/WasmApp.targets
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: arch-wasm, area-Infrastructure-mono

#46393 [wasm] Handle the case when emscripten interleaves methods from multiple AOT images.
  src/mono/mono/metadata/jit-info.c
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono, mono-mirror

#46262 [jit] Make the stelem helper calls non-virtual if possible.
  src/mono/mono/metadata/class-inlines.h
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/marshal.h
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono, mono-mirror

#46388 Fix building interp-whitebox test.
  src/mono/mono/mini/Makefile.am.in
Labels: mono-mirror

#46503 remove lo argument in ArratSortHelper.DownHeap
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ArraySortHelper.cs
Labels: area-System.Collections

#46254 [llvm] Change branch weights for GC safe points to 1000:1, 64:4 seems to cause a warning from clang:
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono, mono-mirror

#46494 Remove some dead stuff
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
  src/libraries/System.Private.CoreLib/src/System/Security/SecurityCriticalAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Security/SecurityRulesAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Security/SecuritySafeCriticalAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Security/SecurityTransparentAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Security/SecurityTreatAsSafeAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Security/SuppressUnmanagedCodeSecurityAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/ProducerConsumerQueues.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadLocal.cs
  src/libraries/System.Security.AccessControl/src/System/Security/AccessControl/Privilege.cs
Labels: area-Meta

#46443 [mono] Fix DISABLE_REFLECTION_EMIT on netcore
  src/mono/mono/metadata/icall-def-netcore.h
Labels: area-System.Reflection-mono

#46492 Fix bug in W3C ID version check
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
Labels: area-System.Diagnostics.Tracing

#45072 Add support for rebuilding the wasm executable in non-aot mode.
  src/mono/netcore/sample/wasm/console/Makefile
  src/mono/netcore/sample/wasm/console/WasmSample.csproj
  src/mono/wasm/build/WasmApp.targets
Labels: area-Build-mono

#46523 Half conversion test cases for subnormal corner cases
  src/libraries/System.Runtime/tests/System/HalfTests.cs
Labels: area-System.Numerics

#46527 use a different way of removing the access for the temporary test account
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Labels: area-System.Diagnostics.Process, test enhancement

#45643 Further optimize storage of icu locale data
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoAll.cs
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoCtor.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/IcuLocaleData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/IcuLocaleData.generator.cs
Labels: area-System.Globalization, size-reduction, tenet-performance

#46517 Add memory related logging to S.R.IS tests in Helix
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/DescriptionNameTests.cs
Labels: area-Infrastructure-libraries, auto-merge

#46367 [wasm] Standup EnableAgressiveTrimming for library tests
  eng/testing/ILLink.Descriptor.xunit.xml
  eng/testing/tests.mobile.targets
  eng/testing/xunit/xunit.console.targets
  eng/testing/xunit/xunit.props
Labels: arch-wasm

#46535 Improve msg for corrupted perf counters
  src/libraries/System.Diagnostics.PerformanceCounter/src/Resources/Strings.resx
Labels: area-System.Diagnostics.Tracing

#46511 Log ulimit and related values for test failures
  eng/testing/RunnerTemplate.sh
Labels: area-Infrastructure-libraries, auto-merge

#46474 Move Microsoft.NETCore.Platforms and Microsoft.NETCore.Targets proj to csproj
  Directory.Build.props
  docs/coding-guidelines/project-guidelines.md
  src/libraries/Microsoft.NETCore.Platforms/pkg/Microsoft.NETCore.Platforms.pkgproj
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/pkg/runtimeGroups.props
  src/libraries/Microsoft.NETCore.Platforms/readme.md
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.NETCore.Targets/pkg/Microsoft.NETCore.Targets.pkgproj
  src/libraries/Microsoft.NETCore.Targets/src/Microsoft.NETCore.Targets.csproj
  src/libraries/libraries-packages.proj
  src/libraries/pkg/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.proj
  src/libraries/pkg/Microsoft.NETCore.Targets/Microsoft.NETCore.Targets.proj
Labels: area-Infrastructure-libraries

#46533 Fix array interface generation if both IList and IReadOnlyList are linked out.
  src/mono/mono/metadata/class-init.c
Labels: area-VM-meta-mono

#45184 Update SKIP_ALLOC_FRAME to match 3.1, 5.0 and 6.0 instruction sequences in function prolog
  src/coreclr/inc/readytorun.h
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/vm/eetwain.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_45090/Runtime_45090.cs
  src/tests/JIT/Regression/JitBlue/Runtime_45090/Runtime_45090.csproj
Labels: arch-x86, area-VM-coreclr, os-windows

#46549 Fix setting timeout too early for QuicConnectionlistener
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net

#46554 Fix createdump fault in diagnostic tests
  src/coreclr/debug/daccess/enummem.cpp
Labels: area-Diagnostics-coreclr

#45536 [browser][websocket] Fix for Close Description validation
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/BrowserWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs
Labels: arch-wasm, area-System.Net

#46548 [marshal-ilgen] Fix NULL check for blittable out lparray.
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/tests/cominterop.cs
  src/mono/mono/tests/libtest.c
Labels: area-VM-meta-mono, mono-mirror

#46544 Add a NOSTRIP make variable to allow the wasm runtime to be compiled without stripping.
  src/mono/wasm/Makefile
Labels: area-Build-mono

#46562 Delete stale x86 TODOs from crossgen2
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_X86/X86Emitter.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilationModuleGroupBase.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2-coreclr

#46564 Increase timeout for ProcessWaitingTests.WaitAsyncForSignal
  src/libraries/System.Diagnostics.Process/tests/ProcessWaitingTests.cs
Labels: area-System.Diagnostics.Process, test enhancement

#46539 Avoid an exception in Exception.GetCaptureState() if the stack trace is empty, it can happen on wasm+aot.
  src/mono/netcore/System.Private.CoreLib/src/System/Exception.Mono.cs
Labels: area-CoreLib-mono

#46493 Improve generated dump debugging instructions
  docs/workflow/README.md
  docs/workflow/building/libraries/README.md
  docs/workflow/building/mono/README.md
  docs/workflow/testing/using-corerun.md
  docs/workflow/testing/using-your-build.md
  docs/workflow/using-dotnet-cli.md
  eng/testing/debug-dump-template.md
  eng/testing/gen-debug-dump-docs.py
Labels: area-Infrastructure, auto-merge

#46575 [Wasm] Set WasmBuildDir so that AOT tests can properly run
  eng/testing/tests.mobile.targets
Labels: area-Infrastructure-mono

#46555 Check EnabledFor* individually for non-self-describing events
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
Labels: area-Tracing-coreclr

#46304 Fix TplEventSource.TaskWaitContinuation* events
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TplEventSource.cs
Labels: area-Tracing-coreclr

#46563 Remove ThreadStart delegate allocation from TryCreateWorkerThread
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
Labels: area-System.Threading

#46581 Update MicrosoftCodeAnalysisNetAnalyzersVersion
  eng/Versions.props
Labels: area-Meta

#46565 HTTP/3: Header encoding and decoding fixes
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/QPackDecoder.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/QPackEncoder.cs
Labels: area-System.Net.Http

#45997 Return actual LoadLibrary failures for IJW scenarios.
  src/coreclr/vm/peimage.cpp
  src/coreclr/vm/peimagelayout.cpp
  src/coreclr/vm/peimagelayout.h
Labels: area-Interop-coreclr

#46559 Remove StartupHooks ILLink warning suppressions from shared file
  src/coreclr/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.Shared.xml
  src/libraries/illink-sharedframework.targets
Labels: area-AssemblyLoader-coreclr, linkable-framework

#46205 Use Centos8 instead Centos7 for Helix tests
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#45472 Use assembly name formatting code for missing satellite assemblies
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyName.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyNameFormatter.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ManifestBasedResourceGroveler.cs
Labels: area-System.Resources

#46442 [mono] Add support for PINVOKE_OVERRIDE
  src/mono/mono/metadata/native-library.c
  src/mono/mono/metadata/native-library.h
  src/mono/mono/mini/monovm.c
Labels: area-AssemblyLoader-mono

#43683 Ensure special static slots respect alignment.
  src/mono/mono/metadata/threads.c
Labels: area-VM-meta-mono, mono-mirror

#46587 Cleanup, and little improvement for aggressive trimming
  eng/testing/tests.mobile.targets
Labels: arch-wasm, area-Infrastructure-libraries

#46534 Pass an alc to Assembly.Load() in GetSatelliteAssembly() to avoid a stack walk.
  src/mono/netcore/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
Labels: area-AssemblyLoader-mono

#46334 Fix build errors using GCC 11
  src/coreclr/pal/src/misc/cgroup.cpp
  src/installer/corehost/cli/test/nativehost/host_context_test.cpp
Labels: area-Host

#46601 Handle '/' in locale name in PAL
  src/libraries/Native/Unix/System.Globalization.Native/pal_locale.c
  src/libraries/System.Globalization/tests/CultureInfo/GetCultureInfo.cs
Labels: area-System.Globalization

#46560 Remove JIT_FLAG_PROF_REJIT_NOPS
  src/coreclr/inc/corjitflags.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/jitee.h
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
Labels: area-CodeGen-coreclr

#46567 Fix `assert(isByteReg(ireg))`.
  src/coreclr/jit/lsrabuild.cpp
Labels: arch-x86, area-CodeGen-coreclr

#46574 Cleanups after awk dependency removal
  eng/native/configuretools.cmake
  eng/native/gen-buildsys.sh
  eng/native/init-compiler.sh
  src/coreclr/pal/src/build_tools/mdtool_dummy
  src/coreclr/pal/src/build_tools/mdtool_gcc.in
Labels: area-Infrastructure-coreclr

#46491 [Mono][jit] Emit GC transitions for "calli unmanaged" instructions
  src/mono/mono/metadata/cominterop.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/marshal-noilgen.c
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/marshal.h
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/metadata.h
  src/mono/mono/mini/method-to-ir.c
Labels: area-VM-meta-mono

#46599 Remove duplicate bundle WXL file
  src/installer/pkg/sfx/bundle/bundle.wxl
Labels: area-Setup

#46607 Delete reflection blocking on GetThreadDeserializationTracker
  src/coreclr/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/coreclr/vm/comsynchronizable.cpp
  src/coreclr/vm/comsynchronizable.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Serialization/SerializationInfo.SerializationGuard.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/SerializationGuardTests.cs
Labels: area-VM-coreclr

#46151 Fix Socket.ReceiveFrom on Unix
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceive.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceiveNonParallel.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets

#45870 [Android] Implement RSA encryption using Android SDK
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_bignum.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_err.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_err.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.h
Labels: area-System.Security

#46617 Convert Debugger.Log and Debugger.Launch to QCalls
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/vm/debugdebugger.cpp
  src/coreclr/vm/debugdebugger.h
  src/coreclr/vm/ecalllist.h
Labels: area-Diagnostics-coreclr

#46612 JIT: fix layering of profile and model inlining policies
  src/coreclr/jit/inlinepolicy.cpp
Labels: area-CodeGen-coreclr

#46536 Fix conversions from subnormal System.Half values
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Runtime/tests/System/HalfTests.cs
Labels: area-System.Numerics

#46550 Disable TC for UnmanagedCallersOnly methods.
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/prestub.cpp
Labels: area-TieredCompilation-coreclr

#46611 PGO: don't record info for collectible classes
  src/coreclr/vm/jithelpers.cpp
Labels: area-CodeGen-coreclr

#44980 Implement and use MultiArrayBuffer
  src/libraries/Common/src/System/Net/MultiArrayBuffer.cs
  src/libraries/Common/src/System/Net/StreamBuffer.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/TestUtilities/System/AssertExtensions.cs
  src/libraries/Common/tests/Tests/System/IO/StreamConformanceTests.cs
  src/libraries/Common/tests/Tests/System/Net/MultiArrayBufferTests.cs
  src/libraries/System.IO.Compression.Brotli/tests/System.IO.Compression.Brotli.Tests.csproj
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.IO.MemoryMappedFiles/tests/System.IO.MemoryMappedFiles.Tests.csproj
  src/libraries/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
  src/libraries/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
  src/libraries/System.IO.UnmanagedMemoryStream/tests/System.IO.UnmanagedMemoryStream.Tests.csproj
  src/libraries/System.IO/tests/System.IO.Tests.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/tests/FunctionalTests/System.Net.Quic.Functional.Tests.csproj
  src/libraries/System.Net.Security/tests/EnterpriseTests/System.Net.Security.Enterprise.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
  src/libraries/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
  src/libraries/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
Labels: area-System.Net, tenet-performance

#46537 [mono] Add MonoAOTCompiler MSBuild Task to produce NuPkg
  src/mono/netcore/nuget/Microsoft.NET.Runtime.MonoAOTCompiler.Task/Microsoft.NET.Runtime.MonoAOTCompiler.Task.pkgproj
  src/mono/netcore/nuget/Microsoft.NET.Runtime.MonoAOTCompiler.Task/README.md
  src/mono/netcore/nuget/Microsoft.NET.Runtime.MonoAOTCompiler.Task/build/Microsoft.NET.Runtime.MonoAOTCompiler.Task.props
  src/mono/netcore/nuget/mono-packages.proj
  src/tasks/AotCompilerTask/MonoAOTCompiler.csproj
Labels: area-Build-mono

#46637 JIT: clear patchpoint flags during block split
  src/coreclr/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#46631 Fix rare cleanup race condition in Task.Delay
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-System.Threading.Tasks

#46658 Fix TestsManifestGeneration tests
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsManifestGeneration.Etw.cs
Labels: area-System.Diagnostics.Tracing

#46653 Don't consider types with empty base classes blittable. They have a different managed and native size.
  src/coreclr/vm/classlayoutinfo.cpp
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/SizeOfTests.cs
Labels: area-Interop-coreclr, auto-merge

#46214 Backport parts of EventPipe PR 43711 not currently in C library.
  src/native/eventpipe/ds-ipc-win32.c
  src/native/eventpipe/ds-ipc.c
Labels: area-Tracing-coreclr

#46219 Backport changes affecting EventPipe from PR 38225 into C library.
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/native/eventpipe/ep-config.c
  src/native/eventpipe/ep-rt.h
Labels: area-Tracing-coreclr

#46220 Backport changes affecting EventPipe from PR 45672 into C library.
  src/native/eventpipe/ep-buffer-manager.c
Labels: area-Tracing-coreclr

#43407 [Mono] enable tests that seem to pass
  src/libraries/System.ComponentModel.Composition/tests/AssemblyInfo.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/AdvancedValueComposition.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/AttributedModel/AllowNonPublicCompositionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/AttributedModel/AttributedModelCompositionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/AttributedModel/AttributedModelDiscoveryTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/AttributedModel/INotifyImportTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/AttributedModelServicesTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ComponentServicesTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/CompositionContainerCollectionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/CompositionContainerImportTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/CompositionContainerTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/CompositionServiceExportFactoryTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/DynamicMetadata.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ExportAttributeTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ExportFactoryTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/GenericsTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/CatalogExportProviderTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/CompositionBatchTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/DirectoryCatalogDebuggerProxyTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/DirectoryCatalogTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/FilteredCatalogTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/FilteredCatalogTransitiveClosureTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/ScopeExtensionsTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ImportAttributeTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/MetadataTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Primitives/CompositionScopeDefinitionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ReflectionModel/ReflectionComposablePartTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ScopeExportFactoryTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ScopedCompositionServicetests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/AdaptingCollectionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/CatalogFilteringTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/CompositionContainerAttributedModelCycleTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/ConstructorInjectionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/DelayLoadingTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/DelegateCompositionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/DiscoveryTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/LifetimeTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/RecompositionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/RejectionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/Integration/RequiredCreationPolicyTests.cs
  src/libraries/System.Linq.Parallel/tests/PlinqModesTests.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Private.Xml/tests/Xslt/XslTransformApi/CXslTransform.cs
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
Labels: area-Build-mono, disabled-test, runtime-mono

#46510 EventSource linker warnings fix
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.Shared.xml
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
Labels: area-System.Diagnostics.Tracing, linkable-framework

#46636 Fix watson buckets setting race condition
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exstatecommon.h
  src/coreclr/vm/vars.hpp
  src/tests/Regressions/coreclr/GitHub_45929/test45929.cs
  src/tests/Regressions/coreclr/GitHub_45929/test45929.csproj
Labels: area-VM-coreclr

#43762 Better error message in ActivatorUtilities
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ActivatorUtilities.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Specification.Tests/ActivatorUtilitiesTests.cs
Labels: area-Extensions-DependencyInjection

#45962 Reduce CacheEntry size
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.CacheEntryState.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.CacheEntryTokens.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/CacheEntryScopeExpirationTests.cs
Labels: area-Extensions-Caching, tenet-performance

#46686 Change FeedbackSize on Rijndael wrappers to delegate to implementation.
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RijndaelImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RijndaelManaged.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/RijndaelTests.cs
Labels: area-System.Security

#42831 Jit: propogate constant array length from creation for ReadyToRun
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#45745 Use faster Guid/Name lookup for EventSource
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
Labels: area-System.Diagnostics.Tracing

#45710 Avoid OutOfMemoryException in some test environments
  src/libraries/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.Byte.cs
Labels: area-System.Memory

#46690 Delete DateTime FCalls and switch to fully managed implementation
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/DateTime.Unix.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/DateTime.Windows.CoreCLR.cs
  src/coreclr/classlibnative/bcltype/system.cpp
  src/coreclr/classlibnative/bcltype/system.h
  src/coreclr/vm/ecalllist.h
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetSystemTimeAsTicks.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FileTimeToSystemTime.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetSystemTime.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetSystemTimeAsFileTime.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetSystemTimePreciseAsFileTime.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SystemTimeToFileTime.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/DateTime.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.Windows.cs
Labels: area-System.Runtime

#46605 Resolve easy ILLink warnings from InteropServices, ObjectModel, Drawing.Primitives
  src/coreclr/System.Private.CoreLib/src/System/__ComObject.cs
  src/libraries/Common/src/System/Drawing/ColorTable.cs
  src/libraries/System.ComponentModel.TypeConverter/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Drawing.Primitives/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.ObjectModel/ref/System.ObjectModel.cs
  src/libraries/System.ObjectModel/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.ObjectModel/src/System/Windows/Markup/ValueSerializerAttribute.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.Shared.xml
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventInterfaceAttribute.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/ComAwareEventInfo.cs
Labels: area-Meta, linkable-framework

#46604 Improve SuperPMI handling of CORINFO_SIG_INST handle arrays
  src/coreclr/ToolBox/superpmi/mcs/commandline.cpp
  src/coreclr/ToolBox/superpmi/mcs/commandline.h
  src/coreclr/ToolBox/superpmi/mcs/mcs.cpp
  src/coreclr/ToolBox/superpmi/mcs/verbdump.cpp
  src/coreclr/ToolBox/superpmi/mcs/verbdump.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/lightweightmap.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmirecordhelper.h
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/inc/jiteeversionguid.h
Labels: area-CodeGen-coreclr

#46699 Disable System.ComponentModel.Composition on Mono
  src/libraries/System.ComponentModel.Composition/tests/AssemblyInfo.cs
Labels: area-System.Reflection-mono, auto-merge, disabled-test

#46702 Glob include files based on project extension (VS)
  Directory.Build.targets
  src/libraries/Directory.Build.targets
Labels: area-Infrastructure-libraries

#46680 Remove incorrectly added ActiveIssue
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
Labels: area-System.Reflection-mono, auto-merge, disabled-test

#46625 [browser][bindings] Fix error with SharedArrayBuffer when used as a backing view.
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/SharedArrayBuffer.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System.Private.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/SharedArrayBufferTests.cs
  src/mono/wasm/runtime/binding_support.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#46737 [browser][docs] Add docs for running outerloop and browser instance
  docs/workflow/testing/libraries/testing-wasm.md
Labels: arch-wasm, area-Meta

#46037 [interp] Move from stack based to fully local var based design
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/mintops.h
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
  src/mono/mono/mini/interp/whitebox.c
Labels: area-Codegen-Interpreter-mono, mono-mirror

#46691 Remove System.Runtime.Remoting.Contexts.Context, its not used anymore on netcore.
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/threads.c
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/Remoting/Contexts/Context.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
Labels: area-CoreLib-mono

#46743 [browser] White space clean up.
  src/mono/wasm/runtime/binding_support.js
  src/mono/wasm/runtime/dotnet_support.js
  src/mono/wasm/runtime/library_mono.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#46726 Add missing BrotliStream methods to ref file
  src/libraries/System.IO.Compression.Brotli/ref/System.IO.Compression.Brotli.cs
Labels: area-System.IO.Compression

#46657 Use signals for activation injection on macOS
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/context.h
  src/coreclr/pal/src/thread/context.cpp
Labels: area-PAL-coreclr, os-mac-os-x

#46693 Make const variables internal to be used by other classes
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/Helpers/VariableLengthIntegerHelper.cs
Labels: area-System.Net.Http

#46722 Ensure stack size is computed for stdcall name mangling
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/dllimport.h
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
Labels: area-crossgen2-coreclr

#46588 Fix inconistent minus sign with different culture
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XContainer.cs
  src/libraries/System.Private.Xml.Linq/tests/misc/XAttribute.cs
Labels: area-System.Xml

#46660 Share ICU culture init for unix/win with validation
  src/libraries/System.Globalization/tests/CultureInfo/GetCultureInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Windows.cs
Labels: area-System.Globalization

#44514 Control Crossgen2 optimizations with DebuggableAttribute
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/AssemblyExtensions.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/crossgen2/CommandLineOptions.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
  src/tests/Common/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#46647 Adding System.Math overloads for nint/nuint
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Runtime.Extensions/tests/System/Math.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, new-api-needs-documentation

#46739 add shutdown guard to profiler tests
  src/tests/profiler/native/eltprofiler/slowpatheltprofiler.cpp
  src/tests/profiler/native/eventpipeprofiler/eventpipereadingprofiler.cpp
  src/tests/profiler/native/eventpipeprofiler/eventpipewritingprofiler.cpp
  src/tests/profiler/native/gcbasicprofiler/gcbasicprofiler.cpp
  src/tests/profiler/native/gcprofiler/gcprofiler.cpp
  src/tests/profiler/native/getappdomainstaticaddress/getappdomainstaticaddress.cpp
  src/tests/profiler/native/metadatagetdispenser/metadatagetdispenser.cpp
  src/tests/profiler/native/profiler.cpp
  src/tests/profiler/native/profiler.h
  src/tests/profiler/native/rejitprofiler/rejitprofiler.cpp
  src/tests/profiler/native/releaseondetach/releaseondetach.cpp
  src/tests/profiler/native/transitions/transitions.cpp
Labels: area-Diagnostics-coreclr

#46756 Disable some Speech tests on Server Core
  src/libraries/System.Speech/tests/SynthesizeRecognizeTests.cs
Labels: area-System.Speech, auto-merge

#46734 HTTP/3: Fix decoding trailing headers
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/QPackDecoder.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
Labels: area-System.Net.Http

#46773 Fix parsing of JIT-EE version GUID
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#46781 Fix the allocation of the acfg->cfgs array, it would have an incorrect size when using profiled AOT.
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#46561 Add recursion / thread interaction guard in LogInfoForFatalError
  src/coreclr/vm/eepolicy.cpp
  src/tests/baseservices/exceptions/simple/ParallelCrash.cs
  src/tests/baseservices/exceptions/simple/ParallelCrash.csproj
  src/tests/baseservices/exceptions/simple/ParallelCrashMainThread.csproj
  src/tests/baseservices/exceptions/simple/ParallelCrashWorkerThreads.csproj
Labels: area-VM-coreclr

#46752 Disable PostAsync_Cancel_CancellationTokenPassedToContent test
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Cancellation.cs
Labels: area-System.Net

#46573 Fix Mono Windows x64 crash blocking CI Windows x64 Release job.
  eng/pipelines/runtime.yml
  src/mono/mono/arch/amd64/amd64-codegen.h
Labels: area-Codegen-JIT-mono

#46444 [mono] Add DISABLE_NONBLITTABLE for non-blittable marshaling
  src/mono/cmake/config.h.in
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/marshal-internals.h
  src/mono/mono/metadata/marshal-noilgen.c
Labels: area-VM-meta-mono

#46506 Minor refactoring to collections
  src/libraries/System.Collections/src/System/Collections/Generic/Queue.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedDictionary.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedList.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.TreeSubSet.cs
  src/libraries/System.Collections/src/System/Collections/Generic/Stack.cs
Labels: area-System.Collections

#46806 Fix the position of the comment
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs
Labels: area-System.Collections

#46747 Simplify Uri UnicodeEquivalent helper
  src/libraries/System.Private.Uri/src/System/DomainNameHelper.cs
  src/libraries/System.Private.Uri/src/System/Uri.cs
Labels: area-System.Net

#46711 Use Math.DivRem instead of / % in BigInteger if dividend and divisor are trivial
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
Labels: area-System.Numerics, auto-merge

#46784 [wasm] Fix running on browsers missing SharedArrayBuffer
  src/mono/wasm/runtime/binding_support.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#46779 JIT: suppress edge weight second computation pass
  src/coreclr/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#46614 issue-46477 Fix issue about checking last char in datetime string.
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Runtime/tests/System/DateTimeTests.cs
Labels: area-System.Runtime

#45612 [Mono] Initial metadata update support
  src/mono/cmake/config.h.in
  src/mono/cmake/options.cmake
  src/mono/mono.proj
  src/mono/mono/cil/tables.def
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/Makefile.am
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-def-netcore.h
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/loader.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata-update.c
  src/mono/mono/metadata/metadata-update.h
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/metadata.h
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/threads.c
  src/mono/mono/mini/ee.h
  src/mono/mono/mini/interp-stubs.c
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/utils/mono-logger-internals.h
  src/mono/mono/utils/mono-logger.c
  src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
  src/mono/netcore/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeFeature.Mono.cs
  src/mono/netcore/sample/mbr/DeltaHelper.targets
  src/mono/netcore/sample/mbr/DeltaHelper/DeltaHelper.cs
  src/mono/netcore/sample/mbr/DeltaHelper/DeltaHelper.csproj
  src/mono/netcore/sample/mbr/README.md
  src/mono/netcore/sample/mbr/browser/Makefile
  src/mono/netcore/sample/mbr/browser/Program.cs
  src/mono/netcore/sample/mbr/browser/Program_v1.cs
  src/mono/netcore/sample/mbr/browser/Program_v2.cs
  src/mono/netcore/sample/mbr/browser/WasmDelta.csproj
  src/mono/netcore/sample/mbr/browser/index.html
  src/mono/netcore/sample/mbr/browser/runtime.js
  src/mono/netcore/sample/mbr/console/ConsoleDelta.csproj
  src/mono/netcore/sample/mbr/console/Makefile
  src/mono/netcore/sample/mbr/console/Program.cs
  src/mono/netcore/sample/mbr/console/TestClass.cs
  src/mono/netcore/sample/mbr/console/TestClass_v1.cs
  src/mono/wasm/Makefile
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/wasm.proj
Labels: area-VM-meta-mono

#46664 fix SslStreamCertificateContext.Create with partial chain
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
Labels: area-System.Net.Security

#46807 Fix PostEvictionCallbacks bug
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.CacheEntryTokens.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/TokenExpirationTests.cs
Labels: area-Extensions-Caching

#46819 Improve OidLookup.ToLookup perf, in particular for X509Certificate2.Extensions
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
Labels: area-System.Security, tenet-performance

#46733 No need to handle COR_E_STACKOVERFLOW when waiting for GC.
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
Labels: area-System.Threading

#46828 Disable Speech Tests on Mono.
  src/libraries/System.Speech/tests/GrammarTests.cs
  src/libraries/System.Speech/tests/SynthesizeRecognizeTests.cs
Labels: area-System.Speech, runtime-mono

#46780 Quiet the output from emsdk_env.sh to make the build less verbose.
  src/mono/wasm/build/WasmApp.targets
Labels: area-Infrastructure-mono

#46715 Resolve ILLink warnings in System.Reflection.DispatchProxy
  src/libraries/System.Reflection.DispatchProxy/ref/System.Reflection.DispatchProxy.cs
  src/libraries/System.Reflection.DispatchProxy/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxy.cs
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
  src/libraries/System.Reflection.DispatchProxy/tests/TrimmingTests/DispatchProxyTest.cs
  src/libraries/System.Reflection.DispatchProxy/tests/TrimmingTests/System.Reflection.DispatchProxy.TrimmingTests.proj
Labels: area-System.Reflection

#46839 Remove unnecessary .sln file in System.Runtime.Serialization.Formatters
  src/libraries/System.Runtime.Serialization.Formatters/src/System.Runtime.Serialization.Formatters.sln
Labels: area-Serialization

#46833 R2RDump improvements
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunSignature.cs
Labels: area-R2RDump-coreclr

#45604 Gtneg mul divoptimizations
  src/coreclr/jit/morph.cpp
  src/tests/JIT/opt/InstructionCombining/NegMulOrDivToConst.cs
  src/tests/JIT/opt/InstructionCombining/NegMulOrDivToConst.csproj
Labels: area-CodeGen-coreclr

#44370 Align inner loops
  src/coreclr/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corjitflags.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jit.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jitee.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr, tenet-performance

#45816 fallback to GetAddrInfoW if GetAddrInfoExW fails
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
Labels: area-System.Net

#46783 Fix threading issue in MulticoreJit
  src/coreclr/vm/multicorejit.cpp
  src/coreclr/vm/multicorejit.h
Labels: area-TieredCompilation-coreclr

#46193 Fix couple of races in EventPipe C library.
  src/coreclr/inc/shash.h
  src/coreclr/inc/shash.inl
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/eventpipe/ep-rt-types-mono.h
  src/mono/mono/eventpipe/test/ep-thread-tests.c
  src/native/eventpipe/ep-buffer-manager.c
  src/native/eventpipe/ep-config.c
  src/native/eventpipe/ep-event-source.c
  src/native/eventpipe/ep-provider-internals.h
  src/native/eventpipe/ep-provider.c
  src/native/eventpipe/ep-rt.h
  src/native/eventpipe/ep-sample-profiler.c
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-session.h
  src/native/eventpipe/ep-thread.c
  src/native/eventpipe/ep-thread.h
Labels: area-Tracing-coreclr

#46852 Ensure console is initialized before writing to stdout
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
Labels: area-System.Console, os-linux

#46786 Resolve ILLink warnings in System.Reflection.TypeExtensions
  src/libraries/System.Private.CoreLib/src/System/Type.cs
  src/libraries/System.Reflection.TypeExtensions/ref/System.Reflection.TypeExtensions.cs
  src/libraries/System.Reflection.TypeExtensions/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Reflection.TypeExtensions/src/System/Reflection/TypeExtensions.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
Labels: area-System.Reflection

#46814 Remove RemoteExecutor from library test linker inclusions
  eng/testing/ILLink.Descriptor.xunit.xml
Labels: arch-wasm, area-Infrastructure-libraries

#46864 Fix link
  src/coreclr/scripts/superpmi.md
Labels: area-CodeGen-coreclr

#46841 Fix SAPI error code mappings
  src/libraries/System.Speech/Directory.Build.props
  src/libraries/System.Speech/src/Internal/SapiInterop/SapiInterop.cs
  src/libraries/System.Speech/src/Resources/Strings.resx
  src/libraries/System.Speech/src/SRID.cs
  src/libraries/System.Speech/tests/SpeechRecognizerTests.cs
  src/libraries/System.Speech/tests/SynthesizeRecognizeTests.cs
Labels: area-System.Speech, auto-merge

#46866 Update packageindex for 5.0 servicing release
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-Infrastructure-libraries

#46765 Fix Ilasm Round Trip script by adding retry logic
  src/tests/Common/CLRTest.Jit.targets
Labels: area-CodeGen-coreclr

#46551 Adding support for Math/MathF.SinCos
  src/coreclr/System.Private.CoreLib/src/System/Math.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/MathF.CoreCLR.cs
  src/coreclr/classlibnative/float/floatdouble.cpp
  src/coreclr/classlibnative/float/floatsingle.cpp
  src/coreclr/classlibnative/inc/floatdouble.h
  src/coreclr/classlibnative/inc/floatsingle.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/cruntime/math.cpp
  src/coreclr/pal/src/include/pal/palinternal.h
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/c_runtime/sincos/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/sincosf/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/compilableTests.txt
  src/coreclr/pal/tests/palsuite/paltestlist.txt
  src/coreclr/vm/ecalllist.h
  src/libraries/System.Runtime.Extensions/tests/System/Math.cs
  src/libraries/System.Runtime.Extensions/tests/System/MathF.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/netcore/System.Private.CoreLib/src/System/Math.Mono.cs
  src/mono/netcore/System.Private.CoreLib/src/System/MathF.Mono.cs
Labels: area-CodeGen-coreclr, new-api-needs-documentation

#46787 Publish hostfxr static library
  src/installer/corehost/cli/fxr/standalone/CMakeLists.txt
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/Microsoft.NETCore.DotNetAppHost.pkgproj
Labels: area-Host

#46824 Add RequiresAssemblyFilesAttribute
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/RequiresAssemblyFilesAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Diagnostics/CodeAnalysis/RequiresAssemblyFilesAttributeTests.cs
Labels: new-api-needs-documentation

#46772 [wasm] Simplify, and refactor `WasmApp.targets`, and wasm projects
  eng/testing/tests.mobile.targets
  src/mono/netcore/sample/wasm/Directory.Build.props
  src/mono/netcore/sample/wasm/Directory.Build.targets
  src/mono/netcore/sample/wasm/browser/Makefile
  src/mono/netcore/sample/wasm/browser/Wasm.Browser.Sample.csproj
  src/mono/netcore/sample/wasm/console/Makefile
  src/mono/netcore/sample/wasm/console/Wasm.Console.Sample.csproj
  src/mono/wasm/Makefile
  src/mono/wasm/build/README.md
  src/mono/wasm/build/WasmApp.InTree.props
  src/mono/wasm/build/WasmApp.InTree.targets
  src/mono/wasm/build/WasmApp.props
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/debugger/tests/Directory.Build.props
  src/mono/wasm/debugger/tests/Directory.Build.targets
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tests/Common/Directory.Build.targets
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
  src/tests/Directory.Build.targets
  src/tests/FunctionalTests/wasm/AOT/browser/Wasm.Aot.Browser.Test.csproj
  src/tests/FunctionalTests/wasm/AOT/browser/index.html
  src/tests/FunctionalTests/wasm/AOT/console/Wasm.Aot.Console.Test.csproj
  src/tests/FunctionalTests/wasm/Directory.Build.props
  src/tests/FunctionalTests/wasm/Directory.Build.targets
  src/tests/FunctionalTests/wasm/Interpreter/browser/Wasm.Interpreter.Browser.Test.csproj
  src/tests/FunctionalTests/wasm/Interpreter/browser/index.html
  src/tests/FunctionalTests/wasm/Interpreter/console/Wasm.Interpreter.Console.Test.csproj
  src/tests/FunctionalTests/wasm/common.props
  src/tests/FunctionalTests/wasm/common.targets
Labels: area-Infrastructure-mono

#46401 Implement System.Runtime.InteropServices.CLong/CULong/NFloat
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/vm/dllimportcallback.cpp
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CLong.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CULong.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NFloat.cs
  src/libraries/System.Runtime.InteropServices/System.Runtime.InteropServices.sln
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/CLongTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/CULongTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/NFloatTests.cs
  src/tests/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallNative.cpp
  src/tests/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallTest.cs
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq.cs
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  src/tests/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  src/tests/Interop/StructMarshalling/PInvoke/Struct.cs
  src/tests/issues.targets
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#46875 [wasm] Disable `System.Diagnostics.Tests.ActivityTests.IdGenerationIn…
  src/libraries/System.Diagnostics.DiagnosticSource/tests/TestWithConfigSwitches/ActivityTests.cs
Labels: arch-wasm, area-System.Diagnostics.Tracing

#46876 Small PoliCheck fix
  src/mono/mono/metadata/metadata-update.c
Labels: area-VM-meta-mono

#46257 JIT: jump threading
  src/coreclr/jit/compiler.h
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#46862 Harmonize ReceiveMessageFrom tests and bring them back to Inner Loop
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFromAsync.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj
Labels: area-System.Net.Sockets

#46655 Update TraceEvent version
  eng/Versions.props
  src/tests/Common/external/external.csproj
  src/tests/performance/Scenario/JitBench/JitBench.csproj
  src/tests/performance/Scenario/JitBench/unofficial_dotnet/JitBench.csproj
  src/tests/profiler/native/eventpipeprofiler/eventpipewritingprofiler.cpp
Labels: area-Tracing-coreclr

#46641 [Release/5.0] Port Fix conversions from subnormal System.Half values to .NET 5.0
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Runtime/tests/System/HalfTests.cs
Labels: Servicing-approved, area-System.Numerics

#46896 Mono: use shared StartHelper object
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/mono/mono/metadata/threads.c
  src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
Labels: area-Threading-mono

#46886 Fix sig inst
  src/coreclr/ToolBox/superpmi/superpmi-shared/agnostic.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/callutils.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/compileresult.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/crlwmlist.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmirecordhelper.h
  src/coreclr/inc/jiteeversionguid.h
Labels: area-CodeGen-coreclr

#46812 Fix Mono Windows x64 SIMD support.
  src/mono/CMakeLists.txt
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/simd-intrinsics-netcore.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-meta-mono

#46877 Specify a GUID for the IL SDK and expose it to slngen
  eng/slngen.targets
  src/coreclr/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets
Labels: area-Infrastructure

#37156 Try to fix #19803
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/reflection.c
  src/mono/mono/tests/Makefile.am
  src/mono/mono/tests/assemblyresolve_event7.cs
Labels: area-AssemblyLoader-mono, mono-mirror

#46893 Use stackalloc in RSAPkcs1X509SignatureGenerator.BuildPublicKey
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/RSAPkcs1X509SignatureGenerator.cs
Labels: area-System.Security, tenet-performance
