Repository dotnet/runtime, pull requests merged in 2021-05, with the labels that each got.

#52125 [wasm] Port additional fixes in #52078 main
  src/tasks/AotCompilerTask/MonoAOTCompiler.csproj
  src/tasks/Common/IsExternalInit.cs
  src/tasks/Common/NotNullAttribute.cs
  src/tasks/Directory.Build.props
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.csproj
Labels: arch-wasm, area-Build-mono

#52080 AssemblyName.ToString() returns an empty string for an empty `Name` property
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyName.cs
  src/libraries/System.Reflection/tests/AssemblyNameTests.cs
Labels: area-System.Reflection

#52126 Split ComActivator into separate files for supported and not supported
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivationContextInternal.cs
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.PlatformNotSupported.cs
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/coreclr/clr.featuredefines.props
Labels: area-Interop-coreclr

#51979 Implemented ReadAtLeastAsync
  src/libraries/System.IO.Pipelines/System.IO.Pipelines.sln
  src/libraries/System.IO.Pipelines/ref/System.IO.Pipelines.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.DefaultPipeReader.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/libraries/System.IO.Pipelines/tests/BackpressureTests.cs
  src/libraries/System.IO.Pipelines/tests/Infrastructure/BasePipeReader.cs
  src/libraries/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/libraries/System.IO.Pipelines/tests/ReadAsyncCancellationTests.cs
  src/libraries/System.IO.Pipelines/tests/StreamPipeReaderTests.cs
  src/libraries/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
Labels: area-System.IO.Pipelines, new-api-needs-documentation

#52115 Handle null Type in ServiceCacheKey.GetHashCode
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceCacheKey.cs
Labels: area-Extensions-DependencyInjection

#52154 Delete unused functions reading integers in big-endian format
  src/coreclr/jit/compiler.hpp
Labels: area-CodeGen-coreclr

#52155 Delete the unused `dummyBB` variable
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#52151 Correct grammar
  docs/workflow/README.md
Labels: area-Meta

#52051 Dispose of hash provider in HMACCommon
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HMACCommon.cs
Labels: area-System.Security

#51448 Use non-copyleft RNG implementation in Ready2Run
  THIRD-PARTY-NOTICES.TXT
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/AttributePresenceFilterNode.cs
  src/coreclr/zap/zapreadytorun.cpp
  src/installer/pkg/THIRD-PARTY-NOTICES.TXT
Labels: area-ReadyToRun-coreclr

#52171 Remove redundant enums
  src/coreclr/tools/Common/TypeSystem/Interop/MarshalAsDescriptor.cs
Labels: area-Interop-coreclr

#52028 Add SupportedOSPlatformGuard, UnsupportedOSPlatformGuard attributes
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/PlatformAttributes.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Runtime/Versioning/OSPlatformAttributeTests.cs
Labels: area-Meta, new-api-needs-documentation

#52185 Add a mono_static_field_get_addr () helper function.
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/jit-icalls.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-VM-meta-mono

#51625 Add option to instrument using 64-bit counts
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/inc/corjit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/tools/Common/Pgo/PgoFormat.cs
Labels: area-CodeGen-coreclr

#50549 Use integer division trick to get exact base64 length
  src/libraries/System.Private.CoreLib/src/System/Convert.cs
Labels: area-System.Runtime

#52168 Fixed issues with caching in the wrong slot
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteFactory.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceCollectionContainerBuilderTestExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderDefaultContainerTestsWithOptions.cs
Labels: area-Extensions-DependencyInjection

#52005 Remove unused string resources from System.Text.Json
  src/libraries/System.Text.Json/src/Resources/Strings.resx
Labels: area-System.Text.Json

#52010 Add JsonObject\JsonArray XML doc and tests regarding thread safety
  src/libraries/System.Text.Json/src/System/Text/Json/Node/JsonArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Node/JsonObject.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonObjectTests.cs
Labels: area-System.Text.Json

#51327 Mono toolchain workload
  eng/Version.Details.xml
  eng/Versions.props
  src/mono/nuget/Directory.Build.props
  src/mono/nuget/Directory.Build.targets
  src/mono/nuget/Microsoft.NET.Sdk.Mono.Toolchain.Manifest/Microsoft.NET.Sdk.Mono.Toolchain.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Sdk.Mono.Toolchain.Manifest/WorkloadManifest.json.in
  src/mono/nuget/Microsoft.NET.Sdk.Mono.Toolchain.Manifest/WorkloadManifest.targets
  src/mono/nuget/mono-packages.proj
  src/tasks/WorkloadBuildTasks/GenerateFileFromTemplate.cs
  src/tasks/WorkloadBuildTasks/WorkloadBuildTasks.csproj
Labels: area-Build-mono

#52078 [release/6.0-preview4][wasm] Fix Blazor AOT builds inside Visual Studio
  src/mono/nuget/Microsoft.NET.Runtime.MonoAOTCompiler.Task/Sdk/Sdk.props
  src/mono/nuget/Microsoft.NET.Runtime.WebAssembly.Sdk/Sdk/Sdk.targets
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/AotCompilerTask/MonoAOTCompiler.csproj
  src/tasks/Common/IsExternalInit.cs
  src/tasks/Common/Utils.cs
  src/tasks/Directory.Build.props
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.csproj
Labels: Servicing-approved, arch-wasm, area-Build-mono

#52054 use AssertExtensions.SequenceEqual in a few places
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceive.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceiveMisc.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.cs
Labels: area-System.Net.Sockets

#52066 [wasm] Use '/' directory separator in .blat
  src/tasks/WasmBuildTasks/GenerateWasmBundle.cs
Labels: arch-wasm, area-Interop-mono

#52211 [mono] Update wasm debugging docs.
  docs/workflow/debugging/mono/wasm-debugging.md
Labels: area-Debugger-mono

#51309 [interp] Remove abort protection of finally blocks
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/mini-exceptions.c
Labels: area-Codegen-Interpreter-mono

#52194 Compile Microsoft.Extensions.HostFactoryResolver test file
  src/libraries/Microsoft.Extensions.HostFactoryResolver/tests/Microsoft.Extensions.HostFactoryResolver.Tests.csproj
Labels: area-Extensions-Hosting

#51976 [macOS] Use data keys on macOS for RSA, EC cryptography
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.RSA.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.SecKeyRef.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.SecKeyRef.iOS.cs
  src/libraries/Common/src/System/Security/Cryptography/EccSecurityTransforms.cs
  src/libraries/Common/src/System/Security/Cryptography/EccSecurityTransforms.iOS.cs
  src/libraries/Common/src/System/Security/Cryptography/EccSecurityTransforms.macOS.cs
  src/libraries/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/libraries/Common/src/System/Security/Cryptography/RSASecurityTransforms.iOS.cs
  src/libraries/Common/src/System/Security/Cryptography/RSASecurityTransforms.macOS.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/entrypoints.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_rsa.c
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/ApplePkcs12Reader.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security

#52214 Apple Silicon use default XCode version
  eng/install-native-dependencies.sh
Labels: arch-arm64, area-Infrastructure, os-mac-os-x-big-sur

#52024 Generate coredumps on signals
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/machmessage.h
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/signal.hpp
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/vm/ceemain.h
  src/coreclr/vm/eepolicy.cpp
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-PAL-coreclr

#52207 Remove unreachable code
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/mono/System.Private.CoreLib/src/System/Type.Mono.cs
  src/mono/System.Private.CoreLib/src/System/TypeNameParser.cs
  src/mono/System.Private.CoreLib/src/System/TypeSpec.cs
  src/mono/mono/metadata/icall-def-netcore.h
  src/mono/mono/metadata/icall.c
Labels: area-CoreLib-mono

#52219 [wasm] Fix incorrect quoting
  src/mono/wasm/build/WasmApp.targets
Labels: area-Build-mono

#52181 [mono] [aot] Avoid associating the same AOT image with multiple assemblies
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono

#52213 Dispose of hash handles for Windows 7.
  src/libraries/Common/src/Internal/Cryptography/HashProviderCng.cs
Labels: area-System.Security

#52045 Stop harvesting S.Security.Cryptography.Pkcs
  src/libraries/System.Security.Cryptography.Pkcs/pkg/System.Security.Cryptography.Pkcs.pkgproj
  src/libraries/System.Security.Cryptography.Pkcs/pkg/buildTransitive/System.Security.Cryptography.Pkcs.targets
  src/libraries/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
Labels: area-Infrastructure-libraries

#50767 Changed all tests using random to use a seed in JIT/Methodical
  src/tests/JIT/Directed/CheckedCtor/Generic_Test_CSharp_Base_4.cs
  src/tests/JIT/Directed/CheckedCtor/Generic_Test_CSharp_Peer_4.cs
  src/tests/JIT/Directed/CheckedCtor/Test_CSharp_Base_4.cs
  src/tests/JIT/Directed/CheckedCtor/Test_CSharp_Peer_4.cs
  src/tests/JIT/Directed/PREFIX/PrimitiveVT/callconv1.cs
  src/tests/JIT/Directed/PREFIX/PrimitiveVT/callconv2.cs
  src/tests/JIT/Directed/StrAccess/straccess1.cs
  src/tests/JIT/Directed/StrAccess/straccess2.cs
  src/tests/JIT/Directed/StrAccess/straccess3.cs
  src/tests/JIT/Directed/StrAccess/straccess4.cs
  src/tests/JIT/Directed/VectorABI/VectorMgdMgd.cs
  src/tests/JIT/Directed/VectorABI/VectorMgdMgdArray.cs
  src/tests/JIT/Directed/VectorABI/VectorMgdMgdStatic.cs
  src/tests/JIT/Directed/perffix/primitivevt/callconv1.cs
  src/tests/JIT/Directed/perffix/primitivevt/callconv2.cs
  src/tests/JIT/Methodical/MDArray/InnerProd/classarr.cs
  src/tests/JIT/Methodical/MDArray/InnerProd/doublearr.cs
  src/tests/JIT/Methodical/MDArray/InnerProd/intarr.cs
  src/tests/JIT/Methodical/MDArray/InnerProd/jaggedarr.cs
  src/tests/JIT/Methodical/MDArray/InnerProd/stringarr.cs
  src/tests/JIT/Methodical/MDArray/InnerProd/structarr.cs
  src/tests/JIT/Methodical/MDArray/basics/classarr.cs
  src/tests/JIT/Methodical/MDArray/basics/doublearr.cs
  src/tests/JIT/Methodical/MDArray/basics/jaggedarr.cs
  src/tests/JIT/Methodical/MDArray/basics/stringarr.cs
  src/tests/JIT/Methodical/MDArray/basics/structarr.cs
  src/tests/JIT/Performance/CodeQuality/SIMD/RayTracer/Raytracer.cs
  src/tests/JIT/Performance/CodeQuality/SciMark/FFT.cs
  src/tests/JIT/Performance/CodeQuality/Span/SpanBench.cs
  src/tests/JIT/Performance/CodeQuality/V8/Crypto/Crypto.cs
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M09.5-PDC/b26863/b26863.cs
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M09/b16294/b16294.cs
  src/tests/JIT/Regression/JitBlue/GitHub_19361/GitHub_19361.cs
  src/tests/JIT/Regression/JitBlue/GitHub_21546/GitHub_21546.cs
  src/tests/JIT/Regression/JitBlue/GitHub_27924/GitHub_27924.cs
  src/tests/JIT/Regression/JitBlue/GitHub_7508/Vector3Test.cs
  src/tests/JIT/Regression/JitBlue/GitHub_8220/GitHub_8220.cs
  src/tests/JIT/SIMD/BitwiseOperations.cs
  src/tests/JIT/SIMD/Haar-likeFeaturesGeneric.cs
  src/tests/JIT/SIMD/SqrtGeneric.cs
  src/tests/JIT/SIMD/Sums.cs
  src/tests/JIT/SIMD/VectorArrayInit.cs
  src/tests/JIT/SIMD/VectorConvert.cs
  src/tests/JIT/SIMD/VectorCopyToArray.cs
  src/tests/JIT/SIMD/VectorMatrix.cs
  src/tests/JIT/SIMD/VectorReturn.cs
  src/tests/JIT/Stress/ABI/PInvokes.cs
  src/tests/JIT/Stress/ABI/Program.cs
  src/tests/JIT/Stress/ABI/Stubs.cs
  src/tests/JIT/Stress/ABI/TailCalls.cs
  src/tests/JIT/opt/Inline/tests/mathfunc.cs
Labels: area-CodeGen-coreclr

#51845 Add parameter descriptions to address System.Linq documentation debt
  src/libraries/System.Collections.Immutable/src/System/Linq/ImmutableArrayExtensions.cs
Labels: area-System.Collections

#51993 [mono] LLVM 11 support
  src/mono/mono/mini/llvm-intrinsics-types.h
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/llvm-jit.cpp
  src/mono/mono/mini/mini-llvm-cpp.cpp
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono, runtime-mono

#52216 Delete empty test project
  src/libraries/System.Net.NameResolution/tests/UnitTests/AssemblyInfo.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeContextAwareResult.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeExceptionDispatchInfo.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeNameResolutionPal.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeNameResolutionTelemetry.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeNameResolutionUtilities.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeSocketExceptionFactory.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/Fakes/FakeSocketProtocolSupportPal.cs
  src/libraries/System.Net.NameResolution/tests/UnitTests/System.Net.NameResolution.Unit.Tests.csproj
  src/libraries/System.Net.NameResolution/tests/UnitTests/XunitTestAssemblyAtrributes.cs
Labels: area-System.Net

#52241 Remove !sig->is_inflated assert from icall wrapper generator.
  src/mono/mono/metadata/marshal.c
Labels: area-VM-meta-mono, mono-mirror

#52215 [wasm] Don't use EMSDK_PATH in external builds
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Build-mono

#51504 [mono] Assume C99 support
  src/mono/mono/eglib/glib.h
  src/mono/mono/mini/cfgdump.c
Labels: area-VM-meta-mono

#52183 Fix issue 47805
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#52147 Address feedback from STJ source-gen PR #51300
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Runtime/CompilerServices/IsExternalInit.cs
  src/libraries/Microsoft.CSharp/tests/IsExternalInit.cs
  src/libraries/Microsoft.CSharp/tests/Microsoft.CSharp.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Text.Json/gen/IsExternalInit.cs
  src/libraries/System.Text.Json/gen/JsonSerializableSyntaxReceiver.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.cs
  src/libraries/System.Text.Json/gen/JsonSourceGeneratorHelper.Generate.cs
  src/libraries/System.Text.Json/gen/JsonSourceGeneratorHelper.cs
  src/libraries/System.Text.Json/gen/Reflection/ReflectionExtensions.cs
  src/libraries/System.Text.Json/gen/Resources/Strings.resx
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.de.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.es.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.it.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.UnitTests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.UnitTests/TypeWrapperTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/IsExternalInit.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#52013 Place HKDF info in to a temporary buffer if required.
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HKDF.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HKDFTests.cs
Labels: area-System.Security

#52043 [iOS/macOS] Split S.S.C.Native.Apple into platform specific files
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/entrypoints.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_keychain_macos.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_keychain_macos.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_keyderivation_macos.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_keyderivation_macos.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_sec.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_sec.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_seckey.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_seckey.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_seckey_macos.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_seckey_macos.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_signverify.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_trust_macos.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_trust_macos.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509_macos.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509_macos.h
Labels: area-System.Security

#52239 Use live pkcs build instead of packagereference
  eng/Versions.props
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
Labels: area-Infrastructure-libraries

#51754 mono.proj: skip running CMake configure if the arguments didn't change
  src/mono/mono.proj
Labels: area-Build-mono

#52247 Download Mono AOT workload .nupkg in prepare-artifacts.proj
  src/installer/prepare-artifacts.proj
Labels: area-Build-mono

#52196 Update the SDK to 6.0 Preview 3
  eng/testing/linker/SupportFiles/Directory.Build.props
  eng/testing/tests.mobile.targets
  global.json
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
Labels: area-Infrastructure

#52249 [mono] Revert Mac Catalyst arm64 JITing hack
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/mono-codeman.c
  src/mono/mono/utils/write-protect.c
  src/mono/mono/utils/write-protect.h
Labels: area-VM-meta-mono

#52050 Unify QuicTestBase and add test repros for flaky under-stress failures
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTestBase.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestBase.cs
Labels: area-System.Net.Quic

#52250 Add a tag to the type declarations generated by `TYPED_HANDLE_DECL`.
  src/mono/mono/metadata/handle-decl.h
Labels: area-VM-meta-mono

#48804 update enterpriseTests setup
  src/libraries/Common/tests/System/Net/EnterpriseTests/EnterpriseTestConfiguration.cs
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/README.md
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/apache2.conf
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/run.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/setup-digest.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/setup-pdc.sh
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/docker-compose.yml
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/setup-kdc.sh
  src/libraries/System.Net.Http/tests/EnterpriseTests/HttpClientAuthenticationTest.cs
Labels: area-System.Net, test enhancement

#52200 Rename S.T.J.Node namespace to S.T.J.Nodes
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.IList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.Dynamic.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.Operators.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.Parse.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.To.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNodeOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.Dynamic.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.IDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.KeyCollection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.ValueCollection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/MetaDynamic.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Attributes/JsonExtensionDataAttribute.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonArrayConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonNodeConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonNodeConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/Common.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/DynamicTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonArrayTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonNodeOperatorTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonNodeTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonObjectTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonValueTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/ParentPathRootTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/ParseTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/SerializerInteropTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/ToStringTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ExtensionDataTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#50830 Allow DataContractSerializer to serialize MemoryStream instances
  src/libraries/System.Private.DataContractSerialization/src/System.Private.DataContractSerialization.csproj
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Globals.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatReaderGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatWriterGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/MemoryStreamAdapter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ReflectionClassWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ReflectionReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatGeneratorStatics.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatReaderGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatWriterGenerator.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
Labels: area-Serialization

#52022 Reduce the memory footprint of ManagedWebSocket
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#52129 Improve SuperPMI missing data asserts
  src/coreclr/ToolBox/superpmi/superpmi-shared/errorhandling.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen-coreclr

#52265 Fix Hosting tests in runtime-staging runs
  src/libraries/Microsoft.Extensions.HostFactoryResolver/tests/HostFactoryResolverTests.cs
  src/libraries/Microsoft.Extensions.HostFactoryResolver/tests/Microsoft.Extensions.HostFactoryResolver.Tests.csproj
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostBuilderTests.cs
Labels: area-Extensions-Hosting

#52273 [wasm] Fix Emscripten SDK provisioning for tests
  eng/testing/tests.wasm.targets
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#52159 Add CopyToAsync optimized implementations for StreamPipeReader
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamExtensions.netstandard.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReader.cs
  src/libraries/System.IO.Pipelines/tests/Infrastructure/TestPipeReader.cs
  src/libraries/System.IO.Pipelines/tests/Infrastructure/ThrowingStream.cs
  src/libraries/System.IO.Pipelines/tests/PipeReaderCopyToAsyncTests.cs
  src/libraries/System.IO.Pipelines/tests/StreamPipeReaderCopyToAsyncTests.cs
  src/libraries/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
Labels: area-System.IO.Pipelines, new-api-needs-documentation

#52282 Skip "reserved device names as path segments" tests on Win10
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/System.IO.FileSystem/tests/Directory/CreateDirectory.cs
  src/libraries/System.IO.FileSystem/tests/Directory/Exists.cs
  src/libraries/System.IO.FileSystem/tests/File/Exists.cs
  src/libraries/System.IO.FileSystem/tests/FileSystemTest.cs
  src/libraries/System.IO.FileSystem/tests/PortedCommon/IOInputs.cs
Labels: area-System.IO, test enhancement

#52243 Fix crash in mono_resolve_patch_target_ext when method is NULL.
  src/mono/mono/mini/mini-runtime.c
Labels: area-Codegen-AOT-mono, area-VM-meta-mono

#52261 Delete Microsoft.NETCore.Targets package
  src/libraries/Microsoft.NETCore.Targets/pkg/Microsoft.NETCore.Targets.pkgproj
  src/libraries/Microsoft.NETCore.Targets/src/Microsoft.NETCore.Targets.csproj
  src/libraries/libraries-packages.proj
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-Infrastructure-libraries

#52263 Remove two dead props
  eng/Versions.props
  eng/liveBuilds.targets
Labels: area-Infrastructure

#52039 Prepare JIT backend for structs in registers.
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/scopeinfo.cpp
Labels: area-CodeGen-coreclr

#50903 Trim unnecessary AssemblyMetadataAttribute attributes
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml
Labels: area-CoreLib-mono, linkable-framework

#52260 Hkdf check output length
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HKDF.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HKDFTests.cs
Labels: area-System.Security

#52275 Release GCHandle in FSEventStreamContext release callback
  src/libraries/Common/src/Interop/OSX/Interop.EventStream.cs
  src/libraries/Common/src/Interop/OSX/Interop.SystemConfiguration.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs
Labels: area-System.IO

#48577 Dont throw exception in SerialStream constructor if dtr or rts is not available
  src/libraries/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs
Labels: area-System.IO

#52266 [tests] Fix integer rounding error in GetTestFileName
  src/libraries/Common/tests/TestUtilities/System/IO/FileCleanupTestBase.cs
Labels: area-System.IO, auto-merge

#52184 Add support to disable default diagnostic server listener at build time for Mono iOS/Android builds.
  src/mono/mono.proj
  src/mono/mono/eventpipe/CMakeLists.txt
  src/native/eventpipe/ds-ipc.c
  src/native/eventpipe/ds-rt-config.h
Labels: area-Build-mono

#52252 [wasm] Move EnableAggressiveTrimming build to `runtime` pipeline
  eng/pipelines/runtime-staging.yml
  eng/pipelines/runtime.yml
Labels: arch-wasm, area-Infrastructure-mono, trimming-for-aot

#52256 Move Logging Generator and attribute to Logging.Abstractions
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/DiagnosticDescriptors.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Microsoft.Extensions.Logging.Generators.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.de.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.es.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.it.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/pkg/Microsoft.Extensions.Logging.Abstractions.pkgproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/ref/Microsoft.Extensions.Logging.Abstractions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LoggerMessageAttribute.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithDynamicLogLevel.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithMoreThan6Params.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithTwoParams.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratedCodeTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratorEmitterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratorParserTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Microsoft.Extensions.Logging.Generators.Tests.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/MockLogger.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/ArgTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/CollectionTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/EnumerableTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/EventNameTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/ExceptionTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/LevelTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/MessageTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/MiscTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/README.md
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/SignatureTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/TemplateTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/TestInstances.cs
  src/libraries/Microsoft.Extensions.Logging/pkg/Microsoft.Extensions.Logging.pkgproj
  src/libraries/Microsoft.Extensions.Logging/ref/Microsoft.Extensions.Logging.cs
Labels: area-Extensions-Logging, new-api-needs-documentation

#52262 update the branding for 5.0.7
  eng/Versions.props
Labels: area-Infrastructure-libraries

#50882 [release/5.0] Various fixes for layout class marshalling.
  src/coreclr/src/vm/classlayoutinfo.cpp
  src/coreclr/src/vm/corelib.h
  src/coreclr/src/vm/ilmarshalers.cpp
  src/coreclr/src/vm/ilmarshalers.h
  src/coreclr/src/vm/metasig.h
  src/coreclr/src/vm/mlinfo.cpp
  src/tests/Interop/LayoutClass/LayoutClassNative.cpp
  src/tests/Interop/LayoutClass/LayoutClassTest.cs
Labels: Servicing-approved, area-Interop-coreclr

#51421 [release/5.0] WinRT Reference Tracker memory fixes
  src/coreclr/src/interop/comwrappers.cpp
  src/coreclr/src/interop/comwrappers.hpp
  src/coreclr/src/interop/inc/interoplibimports.h
  src/coreclr/src/interop/interoplib.cpp
  src/coreclr/src/interop/trackerobjectmanager.cpp
  src/coreclr/src/vm/interoplibinterface.cpp
  src/tests/Interop/COM/ComWrappers/MockReferenceTrackerRuntime/ReferenceTrackerRuntime.cpp
Labels: Servicing-approved, area-Interop-coreclr, os-windows

#51718 [release/5.0] backport card mark stealing fix to 5.0
  src/coreclr/src/gc/gc.cpp
Labels: Servicing-approved, area-GC-coreclr

#52232 Some cleanup around PInvokeStaticSigInfo
  src/coreclr/vm/binder.cpp
  src/coreclr/vm/classcompat.cpp
  src/coreclr/vm/compile.cpp
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/dllimport.h
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/memberload.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/siginfo.hpp
Labels: area-Interop-coreclr

#52089 Add AOT WASM SoD for template and BlazingPizza
  eng/testing/performance/blazor_perf.proj
Labels: area-Infrastructure-libraries

#52206 Fix WeakRefCollection Equals behavior
  src/libraries/System.Drawing.Common/src/System/Drawing/ClientUtils.cs
Labels: area-System.Drawing

#51188 [Release/5.0] Update palinternal.h to fix compile on Alpine >= 3.13
  src/coreclr/src/pal/src/include/pal/palinternal.h
Labels: Servicing-approved, area-PAL-coreclr

#51345 [Release/5.0] - Update Alpine ARM docker image
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
Labels: Servicing-approved, area-Infrastructure-coreclr

#52290 [mono] Actually make a copy of vtype arguments on wasm.
  src/mono/mono/mini/mini-llvm-cpp.cpp
  src/mono/mono/mini/mini-llvm-cpp.h
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#52245 Annotate System.Console APIs as unsupported on iOS/tvOS
  src/libraries/Microsoft.Extensions.Logging.Console/src/AnsiParsingLogConsole.cs
  src/libraries/System.Console/ref/System.Console.cs
  src/libraries/System.Console/src/System/Console.cs
Labels: area-System.Console

#52187 DPAD for regions
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#51820 Remove invalid text
  src/tests/performance/Scenario/JitBench/unofficial_dotnet/README.md
Labels: area-CodeGen-coreclr

#51821 Small fixed error in code
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#52307 [mono] Fix leak in assembly-specific dllmap lookups
  src/mono/mono/metadata/native-library.c
Labels: area-AssemblyLoader-mono

#52322 Reenable48001
  src/tests/issues.targets
Labels: arch-arm64, area-crossgen2-coreclr, os-mac-os-x-big-sur

#52329 Improve DOT flow graph dumping
  src/coreclr/jit/fgdiagnostic.cpp
Labels: area-CodeGen-coreclr

#52325 Move loop cloning code
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#52236 Fix ImageAnimator to render the correct frames
  src/libraries/System.Drawing.Common/src/Resources/Strings.resx
  src/libraries/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/libraries/System.Drawing.Common/src/System/Drawing/ImageAnimator.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ImageAnimator.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ImageInfo.cs
  src/libraries/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
  src/libraries/System.Drawing.Common/tests/System/Drawing/ImageAnimator.ManualTests.cs
  src/libraries/System.Drawing.Common/tests/System/Drawing/ImageAnimatorTests.cs
Labels: area-System.Drawing

#52333 Update the loop table after flow graph optimization
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#52330 Move CallConvBuilder and helpers to separate file
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/callconvbuilder.cpp
  src/coreclr/vm/callconvbuilder.hpp
  src/coreclr/vm/clrtocomcall.cpp
  src/coreclr/vm/comtoclrcall.cpp
  src/coreclr/vm/crossgen/CMakeLists.txt
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/dllimportcallback.cpp
  src/coreclr/vm/dllimportcallback.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/siginfo.cpp
  src/coreclr/vm/siginfo.hpp
Labels: area-Interop-coreclr

#52346 [mono][aot] Avoid compiling huge (> 100K IL) methods with llvm on wasm.
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#52284 Move ServiceCollection to abstractions
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/ref/Microsoft.Extensions.DependencyInjection.Abstractions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ServiceCollection.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/ref/Microsoft.Extensions.DependencyInjection.Forwards.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/ref/Microsoft.Extensions.DependencyInjection.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/ref/Microsoft.Extensions.DependencyInjection.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Properties/TypeForwards.cs
Labels: area-Extensions-DependencyInjection, new-api-needs-documentation

#51762 Don't trim if MemoryCache is already empty.
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCacheStatistics.cs
Labels: area-System.Runtime.Caching

#52326 HTTP/3 test fixes
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
  src/libraries/System.Net.Quic/readme.md
Labels: area-System.Net.Http

#52342 Work around a `ClrRestoreNonvolatileContext` issue for a case
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-VM-coreclr

#52355 [mono] Add a null check to Array.GetRawArrayData (), its needed on pl…
  src/libraries/System.Memory/tests/MemoryMarshal/GetArrayDataReference.cs
  src/mono/mono/mini/intrinsics.c
Labels: area-VM-meta-mono

#52372 Bundle test data from subdirectories in AppleAppBuilder
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-Infrastructure-mono

#52377 Re-enable DNS tests on SLES
  src/libraries/System.Net.NameResolution/tests/FunctionalTests/GetHostByNameTest.cs
  src/libraries/System.Net.NameResolution/tests/FunctionalTests/GetHostEntryTest.cs
Labels: area-System.Net

#52193 [wasm][debugger][tests] move setting of the unit test locale to code
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
Labels: arch-wasm, area-Debugger-mono

#52354 [mono] Fix the type argument to the byval llvm attribute.
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#52369 [mono][aot] Avoid an assert on wasm+aot on methods with vararg callin…
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#52210 JIT: more general value class devirtualization
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/inline.h
Labels: area-CodeGen-coreclr

#52344 [metadata-update] Make a copy of the DIL when applying updates
  src/mono/mono/metadata/metadata-update.c
Labels: area-EnC-mono

#52208 Socket.SendFileAsync based on SendPacketsAsync
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SendPacketsElement.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TransmitFileAsyncResult.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets, new-api-needs-documentation

#52165 System.Data.* missed Equals nullable annotations
  src/libraries/Common/src/System/Data/Common/DbConnectionPoolKey.cs
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/ForeignKeyConstraint.cs
  src/libraries/System.Data.Common/src/System/Data/RelatedView.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLBinary.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLBoolean.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLByte.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLDateTime.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLDecimal.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLDouble.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLGuid.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLInt16.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLInt32.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLInt64.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLMoney.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLSingle.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLString.cs
  src/libraries/System.Data.Common/src/System/Data/Selection.cs
  src/libraries/System.Data.Common/src/System/Data/UniqueConstraint.cs
  src/libraries/System.Data.OleDb/src/System/Data/Common/DbConnectionPoolKey.cs
Labels: area-System.Data, new-api-needs-documentation

#52366 Obsolete the Rijndael and RijndaelManaged classes
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/Directory.Build.targets
  src/libraries/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RijndaelImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CryptoConfig.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rijndael.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RijndaelManaged.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/CryptoConfigTests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/RijndaelTests.cs
  src/libraries/System.Security.Cryptography.Primitives/tests/CryptoConfigTests.cs
  src/libraries/System.Security.Cryptography.Xml/tests/TestHelpers.cs
Labels: area-System.Security, breaking-change, new-api-needs-documentation

#52192 Use function pointers for interop in System.Net.NetworkInformation
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.EnumerateInterfaceAddresses.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.NetworkChange.cs
  src/libraries/Native/Unix/System.Native/pal_interfaceaddresses.c
  src/libraries/Native/Unix/System.Native/pal_interfaceaddresses.h
  src/libraries/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdIPv4GlobalStatistics.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdIpInterfaceProperties.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/BsdNetworkInterface.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxIPGlobalStatistics.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Unix.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/UnixIPGlobalProperties.cs
Labels: area-System.Net

#51752 Allocate initial regions
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#51761 Reduce unnecessary allocation of SeldomUsedFields in MemoryCache.
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCacheEntry.cs
Labels: area-System.Runtime.Caching

#51738 Do not count page cache towards cgroup’s memory load
  src/coreclr/gc/unix/cgroup.cpp
  src/coreclr/pal/src/misc/cgroup.cpp
Labels: area-PAL-coreclr

#52349 Remove SSE2-specific logic from UTF-16 validation code
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf16Utility.Validation.cs
  src/libraries/System.Runtime/tests/System/Text/Unicode/Utf16UtilityTests.ValidateChars.cs
Labels: area-System.Text.Encoding

#52397 Fix for hill climbing not working sometimes
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.cs
Labels: area-System.Threading

#52396 [wasm][aot] Update disabled tests to track new fixes on `main`
  src/libraries/Common/tests/Tests/System/Net/MultiArrayBufferTests.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/Decoding/CustomAttributeDecoderTests.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/CustomAttributes/CustomAttributeTests.cs
  src/libraries/System.Reflection/tests/AssemblyTests.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-Codegen-AOT-mono, disabled-test, wasm-aot-test

#52422 [mono] return true for IsDynamicCodeSupported when interpreter is available
  src/mono/mono/mini/intrinsics.c
Labels: area-Codegen-AOT-mono

#52421 [wasm] Normalize WasmAppDir path
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Build-mono

#52347 Improve loop inversion
  src/coreclr/jit/compiler.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#52412 Enhancements to MCS dumpMap
  src/coreclr/ToolBox/superpmi/mcs/verbdumpmap.cpp
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#51760 Add counters to System.Runtime.Caching.MemoryCache
  src/libraries/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/CounterName.cs
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/Counters.cs
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCache.cs
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCacheStore.cs
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/_shims.cs
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching.Tests.csproj
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching/CountersTest.cs
Labels: area-System.Runtime.Caching

#52405 Make PInvokeStaticSigInfo always report errors
  src/coreclr/vm/callconvbuilder.hpp
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/dllimport.h
  src/coreclr/vm/jitinterface.cpp
Labels: area-Interop-coreclr

#52425 Reduce loop inversion JitDump output
  src/coreclr/jit/compiler.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#52387 Fix Mono build warnings on Windows.
  src/mono/mono/metadata/coree.c
Labels: area-Build-mono

#52375 Use MSVC compiler host architecture defines where applicable.
  src/mono/mono/metadata/coree.c
  src/mono/mono/metadata/mono-config.c
  src/mono/mono/mini/helpers.c
  src/mono/mono/utils/mono-codeman.c
  src/mono/mono/utils/mono-context.c
  src/mono/mono/utils/mono-context.h
  src/mono/mono/utils/mono-membar.h
  src/mono/mono/utils/mono-memory-model.h
Labels: area-VM-meta-mono

#52309 Fix Mono async stackwalk when hitting AOT frames in stacks.
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/mini/aot-runtime.c
Labels: area-VM-meta-mono

#52175 Add profiler startup command to the diagnostics command set
  src/coreclr/inc/profilepriv.h
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/diagnosticserveradapter.h
  src/coreclr/vm/eventing/eventpipe/ds-rt-coreclr.h
  src/coreclr/vm/profilinghelper.cpp
  src/mono/mono/eventpipe/ds-rt-mono.h
  src/native/eventpipe/ds-profiler-protocol.c
  src/native/eventpipe/ds-profiler-protocol.h
  src/native/eventpipe/ds-rt.h
  src/native/eventpipe/ds-server.c
  src/native/eventpipe/ds-server.h
  src/native/eventpipe/ds-types.h
  src/tests/profiler/common/DiagnosticsIPCWorkaround.cs
  src/tests/profiler/common/ProfilerControl.cs
  src/tests/profiler/common/ProfilerTestRunner.cs
  src/tests/profiler/common/profiler_common.csproj
  src/tests/profiler/eventpipe/reverse_startup.cs
  src/tests/profiler/eventpipe/reverse_startup.csproj
  src/tests/profiler/native/CMakeLists.txt
  src/tests/profiler/native/classfactory.cpp
  src/tests/profiler/native/nullprofiler/nullprofiler.cpp
  src/tests/profiler/native/nullprofiler/nullprofiler.h
  src/tests/profiler/native/profiler.cpp
  src/tests/profiler/native/profiler.h
  src/tests/profiler/native/releaseondetach/releaseondetach.cpp
  src/tests/profiler/native/releaseondetach/releaseondetach.h
  src/tests/tracing/eventpipe/common/Reverse.cs
Labels: area-Diagnostics-coreclr

#52092 More EventListener overhead reductions
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEvent.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
Labels: area-System.Diagnostics.Tracing

#51859 [wasm][debugger] - RuntimeError: memory access out of bounds
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/wasm/README.md
  src/mono/wasm/build/WasmApp.InTree.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/debugger/DebuggerTestSuite/AssignmentTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Inspector.cs
  src/mono/wasm/debugger/tests/Directory.Build.props
  src/mono/wasm/debugger/tests/debugger-test/debugger-assignment-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
Labels: arch-wasm, area-Debugger-mono

#52428 Disable cache clearing S.CM.TC test from running in parallel
  src/libraries/System.ComponentModel.TypeConverter/tests/ReflectionCachesUpdateHandlerTests.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
Labels: area-System.ComponentModel, auto-merge

#52430 Fix typo in Strings.resx for Cryptography_AlgorithmTypesMustBeVisible
  src/libraries/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx
Labels: area-System.Security

#52339 Fix JsonArray issues with empty array and GetPath()
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonArrayTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/ParentPathRootTests.cs
Labels: area-System.Text.Json

#51751 Fix mscordbi RPATH to find libmscordaccore.dylib
  src/coreclr/dlls/mscordbi/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#52253 Fix error where strings were being tracked on IgnoreCycles
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ReferenceHandlerTests.IgnoreCycles.cs
Labels: area-System.Text.Json

#52182 [mono] Allocate more memory for wrappers from mem managers if possible.
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/method-builder-ilgen-internals.h
  src/mono/mono/metadata/method-builder-ilgen.c
  src/mono/mono/metadata/method-builder-internals.h
Labels: area-Codegen-meta-mono

#52272 Adding Infrastructure to run linker on OOB Assemblies by manually calling the Linker
  eng/illink.targets
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.Hosting/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.Http/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.Logging.EventSource/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.CodeDom/src/System.CodeDom.csproj
  src/libraries/System.ComponentModel.Composition.Registration/src/System.ComponentModel.Composition.Registration.csproj
  src/libraries/System.ComponentModel.Composition/src/System.ComponentModel.Composition.csproj
  src/libraries/System.Composition.Convention/src/System.Composition.Convention.csproj
  src/libraries/System.Composition.Hosting/src/System.Composition.Hosting.csproj
  src/libraries/System.Composition.TypedParts/src/System.Composition.TypedParts.csproj
  src/libraries/System.Data.Odbc/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Data.OleDb/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.DirectoryServices.AccountManagement/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.DirectoryServices/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Drawing.Common/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Management/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Memory.Data/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Reflection.Context/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Reflection.MetadataLoadContext/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Resources.Extensions/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Security.Cryptography.Xml/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.ServiceModel.Syndication/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Speech/src/System.Speech.csproj
  src/libraries/illink-oob.targets
  src/libraries/illink-sharedframework.targets
  src/libraries/illink-trimassemblies.targets
  src/libraries/src.proj
Labels: auto-merge, linkable-framework

#52452 Add TargetPlatformAttribute to list of removed attributes
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml
Labels: area-CoreLib-mono, linkable-framework

#52324 Apple Silicon enable R2R CI testing
  eng/pipelines/coreclr/crossgen2-composite.yml
  eng/pipelines/coreclr/crossgen2-gcstress.yml
  eng/pipelines/coreclr/crossgen2-outerloop.yml
  eng/pipelines/coreclr/crossgen2.yml
  eng/pipelines/coreclr/r2r-extra.yml
  eng/pipelines/coreclr/r2r.yml
Labels: arch-arm64, area-Infrastructure-coreclr, os-mac-os-x-big-sur

#52453 JIT: defer crossgen update when trying to call unboxed entry
  src/coreclr/zap/zapinfo.cpp
Labels: area-CodeGen-coreclr

#52465 Fix over-zeroing of destination buffer for zero padding symmetric encryption
  src/libraries/Common/src/Internal/Cryptography/UniversalCryptoEncryptor.cs
Labels: area-System.Security

#51782 Remove AOT compiler binaries from all mono runtime packs
  eng/liveBuilds.targets
  eng/testing/tests.mobile.targets
  eng/testing/tests.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.MonoCrossAOT.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
  src/libraries/sendtohelixhelp.proj
  src/mono/Directory.Build.props
  src/mono/sample/Android/AndroidSampleApp.csproj
  src/mono/sample/iOS/Program.csproj
  src/mono/wasm/build/WasmApp.InTree.props
  src/mono/wasm/build/WasmApp.LocalBuild.props
  src/mono/wasm/build/WasmApp.LocalBuild.targets
  src/mono/wasm/build/WasmApp.targets
Labels: area-Infrastructure-mono

#52467 [wasm] Turn on verbose emcc output when rebuilding the runtime in local builds
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Build-mono

#52474 Remove dead interop code in System.Management
  src/libraries/System.Management/src/System/Management/InteropClasses/WMIInterop.cs
Labels: area-System.Management

#52478 [wasm][aot] Disable individual failing tests for System.Diagnostics.{StackTrace,TraceSource}
  src/libraries/System.Diagnostics.StackTrace/tests/StackFrameExtensionsTests.cs
  src/libraries/System.Diagnostics.StackTrace/tests/StackFrameTests.cs
  src/libraries/System.Diagnostics.StackTrace/tests/StackTraceTests.cs
  src/libraries/System.Diagnostics.TraceSource/tests/TraceEventCacheClassTests.cs
  src/libraries/System.Diagnostics.TraceSource/tests/TraceListenerClassTests.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Diagnostics, disabled-test, wasm-aot-test

#52490 Use a more reliable method for polling the PollingCounters.
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching/CountersTest.cs
Labels: area-System.Runtime.Caching

#52178 Fix ber scanf/printf, fix for a reverted PR.
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ber.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ber.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/BerPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/BerPal.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.cs
  src/libraries/System.DirectoryServices.Protocols/tests/AsqRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/BerConversionExceptionTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/BerConverterTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirSyncRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/ExtendedDNControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/PageResultRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/QuotaControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SearchOptionsControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SecurityDescriptorFlagControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/VerifyNameControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/VlvRequestControlTests.cs
Labels: area-System.DirectoryServices

#52431 Fix EventPipe shutdown to include last events in session.
  src/native/eventpipe/ep.c
Labels: area-Tracing-coreclr

#51139 Enable tests for MacCatalyst x64
  eng/install-native-dependencies.sh
  eng/native/build-commons.sh
  eng/native/configurecompiler.cmake
  eng/native/configureplatform.cmake
  eng/native/configuretools.cmake
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime-staging.yml
  eng/testing/tests.mobile.targets
  eng/testing/xunit/xunit.console.targets
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/Native/Unix/System.Globalization.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/configure.cmake
  src/libraries/Native/Unix/System.Security.Cryptography.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Security.Cryptography.Native/extra_libs.cmake
  src/libraries/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/CalendarTests.cs
  src/libraries/System.Private.Xml/tests/XmlReader/Tests/AsyncReaderLateInitTests.cs
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
  src/mono/CMakeLists.txt
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
  src/tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
  src/tasks/AppleAppBuilder/Templates/runtime.m
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-Build-mono

#52235 Fix: FileSystemEntry.Attributes property is not correct on Unix
  src/libraries/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/libraries/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/libraries/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs
  src/libraries/System.IO.FileSystem/src/System/IO/FileSystemInfo.Unix.cs
  src/libraries/System.IO.FileSystem/tests/Enumeration/AttributeTests.cs
  src/libraries/System.IO.FileSystem/tests/Enumeration/SkipAttributeTests.cs
Labels: area-System.IO

#52472 Ensure DiagnosticSource has correct package ID
  eng/Versions.props
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
Labels: area-Infrastructure-libraries
