Repository dotnet/runtime, pull requests merged in 2021-07, with the labels that each got.

#54918 Avoid object[1] allocation in PropertyInfo.SetValue
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/MethodBase.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimePropertyInfo.cs
Labels: area-System.Reflection

#54923 Fix single method compilation of canonical methods
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/SingleMethodCompilationModuleGroup.cs
Labels: area-crossgen2-coreclr

#54977 Remove GenerateCompiledExpressionsTempFilePathForEditing hack
  src/libraries/Directory.Build.targets
Labels: area-Infrastructure-libraries

#52708 [JIT] Improve inliner: new heuristics, rely on PGO data
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/inline.def
  src/coreclr/jit/inline.h
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/inlinepolicy.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/varset.h
Labels: area-CodeGen-coreclr

#54377 Enable more LDAP TLS tests on linux
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapSessionOptionsTests.cs
Labels: area-System.DirectoryServices

#54811 Re-enable tests on mono interpreter
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/AssemblyInfo.cs
Labels: area-Codegen-Interpreter-mono, area-Extensions-DependencyInjection

#54746 Clean up a few stackalloc T[1] uses
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/WindowsFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/Text/TranscodingStream.cs
Labels: area-System.Security

#54925 Reduce overheads of EventSource.WriteEvent(int, object[]) with ETW
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventProvider.cs
Labels: area-System.Diagnostics.Tracing, tenet-performance

#54894 Remove unnecessary Prev field in portable tailcall helpers
  docs/design/features/tailcalls-with-helpers.md
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#54962 Remove RequiresAssemblyFilesAttribute in the trimmed app
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml
Labels: area-System.Diagnostics, linkable-framework

#54989 Fix typo in variable name
  src/libraries/System.Drawing.Common/src/System/Drawing/DrawingComWrappers.cs
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.cs
Labels: area-System.Drawing, auto-merge

#54950 Add analyzers to ref-pack / ASP.NET transport package
  docs/coding-guidelines/libraries-packaging.md
  eng/Version.Details.xml
  global.json
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Ref.sfxproj
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Microsoft.Extensions.Logging.Generators.csproj
  src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.csproj
Labels: area-Infrastructure-libraries

#55006 Revert "Add ActivitySource support to DiagnosticsHandler (#54437)"
  src/libraries/System.Net.Http/src/ILLink/ILLink.Substitutions.xml
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandlerLoggingStrings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
Labels: area-System.Net.Http, auto-merge

#55003 Remove reference to non-existent System.Net.NameResolution.Unit.Test.csproj
  src/libraries/System.Net.NameResolution/System.Net.NameResolution.sln
Labels: area-System.Net

#54840 [mono][aot] Implement fetching from the rgctx in llvmonly mode using …
  src/mono/mono/mini/jit-icalls.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-AOT-mono

#54960 [wasm][aot] Enable System.Runtime.Tests
  src/libraries/System.Runtime/tests/System/Type/TypeTests.cs
  src/libraries/tests.proj
Labels: arch-wasm, disabled-test, wasm-aot-test

#54981 [mono] Avoid putting static virtual methods into the IMT table.
  src/mono/mono/metadata/object.c
Labels: area-VM-meta-mono

#54924 [mono] Implement the rest of Vector{64,128}{,<T>}
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Labels: area-Codegen-LLVM-mono, runtime-mono

#54932 Preserve necessary type and method
  eng/testing/ILLink.Descriptor.xunit.xml
  src/libraries/System.Net.Http/tests/UnitTests/Headers/HttpHeadersTest.cs
  src/libraries/System.Private.Xml/tests/Xslt/XslCompiledTransformApi/XslCompiledTransform.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/IDispatchImplAttributeTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CollectionTests/CollectionTests.Generic.Write.cs
Labels: arch-wasm, area-System.Text.Json, linkable-framework, trimming-for-aot

#54975 Fix differences from autogenerated ref file
  src/libraries/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
Labels: area-System.Security, new-api-needs-documentation

#54998 Mark vars as do not enreg earlier in minopts.
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr

#54972 [samples] Include parent Directory.Build.targets in wasm/samples
  src/mono/sample/wasm/Directory.Build.targets
Labels: area-Infrastructure-mono

#54247 Allow restricting cultures creation with any arbitrary names in Globalization Invariant Mode
  docs/workflow/trimming/feature-switches.md
  src/libraries/System.Globalization/tests/CultureInfo/GetCultureInfo.cs
  src/libraries/System.Globalization/tests/Invariant/InvariantMode.cs
  src/libraries/System.Globalization/tests/Invariant/runtimeconfig.template.json
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.Shared.xml
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/AppContextConfigHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ManifestBasedResourceGroveler.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Win32.cs
  src/libraries/System.Runtime/tests/TrimmingTests/InvariantGlobalizationTrue.cs
  src/libraries/System.Runtime/tests/TrimmingTests/System.Runtime.TrimmingTests.proj
  src/tests/BuildWasmApps/Wasm.Build.Tests/InvariantGlobalizationTests.cs
Labels: area-System.Globalization, breaking-change, needs-breaking-change-doc-created

#54988 Remove the the wasm AOT specific test project exclusions
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#54685 Poison address-exposed user variables in debug
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/libraries/System.Private.CoreLib/src/System/Decimal.DecCalc.cs
  src/tests/JIT/Directed/debugging/poison.cs
  src/tests/JIT/Directed/debugging/poison.csproj
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#55027 Enable NonValidated_ValidInvalidAndRaw_AllReturned test on Browser
  src/libraries/System.Net.Http/tests/UnitTests/Headers/HttpHeadersTest.cs
Labels: area-System.Net.Http

#54953 [Mono] Include loaded interpreter methods as EventPipe session rundown method events.
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/mini/ee.h
  src/mono/mono/mini/interp-stubs.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/utils/mono-internal-hash.c
  src/mono/mono/utils/mono-internal-hash.h
Labels: area-Codegen-Interpreter-mono, area-Tracing-mono

#53792 Expand PerfMap format to support metadata for symbol indexation
  src/coreclr/tools/aot/ILCompiler.Diagnostics/AssemblyInfo.cs
  src/coreclr/tools/aot/ILCompiler.Diagnostics/ILCompiler.Diagnostics.csproj
  src/coreclr/tools/aot/ILCompiler.Diagnostics/PerfMapWriter.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/CodeGen/ReadyToRunObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/OutputInfoBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/SymbolFileBuilder.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ILCompiler.Reflection.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/tools/aot/crossgen2/CommandLineOptions.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
  src/coreclr/tools/r2rdump/CommandLineOptions.cs
  src/coreclr/tools/r2rdump/R2RDump.cs
  src/coreclr/tools/r2rdump/R2RDump.sln
  src/coreclr/tools/r2rdump/TextDumper.cs
Labels: area-crossgen2-coreclr

#55039 Make GlobalizationMode code consistent
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.cs
Labels: area-System.Globalization

#54992 package native quic library
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/illink-oob.targets
Labels: area-System.Net.Quic

#55050 Delete `compQuirkForPPP`.
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/layout.cpp
  src/coreclr/jit/layout.h
Labels: area-CodeGen-coreclr, tenet-compatibility

#54969 [mono] Enable many HardwareIntrinsic tests on wasm
  src/tests/issues.targets
Labels: area-Codegen-JIT-mono

#55041 Delete stale references to System.IO.FileSystem.Primitives
  src/libraries/System.IO.Compression.ZipFile/src/System.IO.Compression.ZipFile.csproj
  src/libraries/System.IO.FileSystem/ref/System.IO.FileSystem.csproj
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.csproj
Labels: area-System.IO

#54931 Fix fix_allocation_context for regions
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#55054 [mono][wasm] Disable some tests which crash on AOT.
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Context/Conformance.dynamic.context.method.regmethod.regclass.cs
Labels: wasm-aot-test

#55063 disable a failing poison test.
  src/tests/issues.targets
Labels: area-CodeGen-coreclr, disabled-test

#54625 Http2Stream throws a wrapped Http2ConnectionException on GO_AWAY
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http

#54266 all RandomAccess methods should work for both sync and async file handles
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FileStreamConformanceTests.Windows.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/FileStreamOptions.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/Base.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/GetLength.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/Mixed.Windows.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/NoBuffering.Windows.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/Read.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/ReadAsync.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/ReadScatter.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/ReadScatterAsync.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/Write.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/WriteAsync.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/WriteGather.cs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/WriteGatherAsync.cs
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Windows.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/AsyncWindowsFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/SyncWindowsFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/WindowsFileStreamStrategy.cs
Labels: area-System.IO

#55048 Resolve ILLink warnings in Microsoft.Extensions.Hosting
  src/libraries/Microsoft.Extensions.Hosting/src/ILLink/ILLink.Suppressions.xml
  src/libraries/Microsoft.Extensions.Hosting/src/OptionsBuilderExtensions.cs
Labels: area-Extensions-Hosting, linkable-framework

#55061 [mono][jit] Allow inlining of methods which make calls to ThrowHelper…
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#54250 Add Csproj pack infra for packages with ref and runtime assemblies and symbols.
  NuGet.config
  eng/Versions.props
  eng/packaging.props
  eng/packaging.targets
  global.json
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.Extensions.DependencyModel/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Extensions.DependencyModel/src/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/Microsoft.Extensions.HostFactoryResolver/src/Microsoft.Extensions.HostFactoryResolver.Sources.csproj
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.Windows.Extensions/pkg/System.Windows.Extensions.pkgproj
  src/libraries/System.Windows.Extensions/src/CompatibilitySuppressions.xml
  src/libraries/System.Windows.Extensions/src/System.Windows.Extensions.csproj
Labels: area-Infrastructure-libraries

#54938 Annotate System.Reflection.Context for nullability
  src/libraries/System.Reflection.Context/ref/System.Reflection.Context.cs
  src/libraries/System.Reflection.Context/src/System.Reflection.Context.csproj
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/CollectionServices.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Custom/AttributeUtils.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Custom/CustomType.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/CustomReflectionContext.Projector.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/CustomReflectionContext.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingAssembly.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingConstructorInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingEventInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingExceptionHandlingClause.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingFieldInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingMethodBody.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingMethodInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingModule.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingParameterInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingPropertyInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingType.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingAssembly.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingConstructorInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingEventInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingExceptionHandlingClause.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingFieldInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingManifestResourceInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingMethodInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingModule.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingParameterInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingPropertyInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/ProjectingType.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Projection/Projector.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/InheritedMethodInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/InheritedPropertyInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualMethodBase.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualParameter.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualPropertyBase.FuncPropertyAccessorBase.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualPropertyBase.PropertySetterBase.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualPropertyBase.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualPropertyInfo.PropertyGetter.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualPropertyInfo.PropertySetter.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualPropertyInfo.cs
  src/libraries/System.Reflection.Context/src/System/Reflection/Context/Virtual/VirtualReturnParameter.cs
Labels: area-System.Reflection

#54516 [Mono] Update tracking issue number
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#54942 Add documentation for SafeBuffer.ReadSpan/WriteSpan
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeBuffer.cs
Labels: area-System.Runtime.InteropServices

#55082 Fix spinwaiting in LockFreeReaderHashtable
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/LockFreeReaderHashtable.cs
Labels: area-crossgen2-coreclr

#54994 Add support to DAC for reading tagged memory on tracked types
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/dacimpl.h
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/inc/sospriv.idl
  src/coreclr/pal/prebuilt/idl/sospriv_i.cpp
  src/coreclr/pal/prebuilt/inc/sospriv.h
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/syncblk.h
Labels: area-Diagnostics-coreclr, auto-merge

#54817 [mono] Fix type lookup failure in mono_class_is_subclass_of_internal
  src/mono/mono/metadata/class.c
Labels: area-VM-meta-mono

#55091 [release/6.0-preview6][Mono] Condition Workload AOT import to be osx only
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets
Labels: Servicing-approved, area-System.Net

#54650 Expose and implement generic math interfaces on core types
  eng/Versions.props
  src/coreclr/clr.featuredefines.props
  src/coreclr/vm/typedesc.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Byte.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/DateOnly.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.cs
  src/libraries/System.Private.CoreLib/src/System/Decimal.cs
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/IAdditionOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IAdditiveIdentity.cs
  src/libraries/System.Private.CoreLib/src/System/IBitwiseOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IComparisonOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IDecrementOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IDivisionOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IEqualityOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IFloatingPoint.cs
  src/libraries/System.Private.CoreLib/src/System/IIncrementOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IInteger.cs
  src/libraries/System.Private.CoreLib/src/System/IMinMaxValue.cs
  src/libraries/System.Private.CoreLib/src/System/IModulusOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IMultiplicativeIdentity.cs
  src/libraries/System.Private.CoreLib/src/System/IMultiplyOperators.cs
  src/libraries/System.Private.CoreLib/src/System/INumber.cs
  src/libraries/System.Private.CoreLib/src/System/IParseable.cs
  src/libraries/System.Private.CoreLib/src/System/IShiftOperators.cs
  src/libraries/System.Private.CoreLib/src/System/ISpanParseable.cs
  src/libraries/System.Private.CoreLib/src/System/ISubtractionOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IUnaryNegationOperators.cs
  src/libraries/System.Private.CoreLib/src/System/IUnaryPlusOperators.cs
  src/libraries/System.Private.CoreLib/src/System/Int16.cs
  src/libraries/System.Private.CoreLib/src/System/Int32.cs
  src/libraries/System.Private.CoreLib/src/System/Int64.cs
  src/libraries/System.Private.CoreLib/src/System/IntPtr.cs
  src/libraries/System.Private.CoreLib/src/System/SByte.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Private.CoreLib/src/System/TimeOnly.cs
  src/libraries/System.Private.CoreLib/src/System/TimeSpan.cs
  src/libraries/System.Private.CoreLib/src/System/UInt16.cs
  src/libraries/System.Private.CoreLib/src/System/UInt32.cs
  src/libraries/System.Private.CoreLib/src/System/UInt64.cs
  src/libraries/System.Private.CoreLib/src/System/UIntPtr.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/ref/System.Runtime.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/GenericMathTests.cs
  src/libraries/System.Runtime/tests/System/Int32GenericMathTests.cs
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-System.Numerics, new-api-needs-documentation

#54380 Allow disabling LDAP referral chasing on Linux.
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
  src/libraries/System.DirectoryServices.Protocols/src/Resources/Strings.resx
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapSessionOptionsTests.cs
Labels: area-System.DirectoryServices

#54837 Add new Linq API documentation from #47231.
  src/libraries/System.Linq.Queryable/src/System/Linq/Queryable.cs
  src/libraries/System.Linq/src/System/Linq/Distinct.cs
  src/libraries/System.Linq/src/System/Linq/ElementAt.cs
  src/libraries/System.Linq/src/System/Linq/First.cs
  src/libraries/System.Linq/src/System/Linq/Intersect.cs
  src/libraries/System.Linq/src/System/Linq/Last.cs
  src/libraries/System.Linq/src/System/Linq/Max.cs
  src/libraries/System.Linq/src/System/Linq/Min.cs
  src/libraries/System.Linq/src/System/Linq/Single.cs
  src/libraries/System.Linq/src/System/Linq/Take.cs
  src/libraries/System.Linq/src/System/Linq/Union.cs
Labels: area-System.Linq, documentation

#54254 Add write-raw APIs to Utf8JsonWriter
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Raw.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonWriterTests.WriteRaw.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, auto-merge, new-api-needs-documentation

#54467 ADO.NET batching API
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System.Data.Common.csproj
  src/libraries/System.Data.Common/src/System/Data/Common/DbBatch.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbBatchCommand.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbBatchCommandCollection.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbConnection.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbException.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbProviderFactory.cs
Labels: area-System.Data, new-api-needs-documentation

#55147 Remove a couple of unnecessary casts from Stream
  src/libraries/System.Private.CoreLib/src/System/IO/Stream.cs
Labels: area-System.IO

#54864 Allow implicit widenings when tailcalling
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Methodical/tailcall/widen.cs
  src/tests/JIT/Methodical/tailcall/widen.csproj
Labels: area-CodeGen-coreclr

#55073 Correct SerialPort.BytesToRead for Linux (#53430)
  src/libraries/Common/src/Interop/Unix/System.IO.Ports.Native/Interop.Termios.cs
  src/libraries/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs
Labels: area-System.IO

#55145 Fix morph negation transforms
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_55140/Runtime_55140.cs
  src/tests/JIT/Regression/JitBlue/Runtime_55140/Runtime_55140.csproj
Labels: area-CodeGen-coreclr

#55096 JIT: don't report profile for methods with insufficient samples during prejitting
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#55152 Add FreeBSD terminfo location
  src/libraries/System.Console/src/System/TermInfo.cs
Labels: area-System.Console

#55153 Handle FileOptions.DeleteOnClose on Unix in SafeFileHandle.Dispose
  src/libraries/System.IO.FileSystem/tests/File/OpenHandle.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/Name.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/ctor_str_fm_fa_fs_buffer_fo.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.OverlappedValueTaskSource.Windows.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Windows.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/AsyncWindowsFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/WindowsFileStreamStrategy.cs
Labels: area-System.IO

#55109 Avoid allocating an array in AppleCertificatePal
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.iOS/AppleCertificatePal.Pem.cs
Labels: area-System.Security

#55190 Remove unnecessary spills from BufferedStream.ReadAsync
  src/libraries/System.Private.CoreLib/src/System/IO/BufferedStream.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/BufferedFileStreamStrategy.cs
Labels: area-System.IO

#55134 port system.diagnostics.performanceCounter
  Directory.Build.targets
  src/libraries/System.Diagnostics.PerformanceCounter/pkg/System.Diagnostics.PerformanceCounter.pkgproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/CompatibilitySuppressions.xml
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
Labels: area-System.Diagnostics.Tracing

#54883 Add test global install path is used when DOTNET_ROOT does not exist
  src/installer/tests/HostActivation.Tests/MultiArchInstallLocation.cs
Labels: area-Host

#55148 Fix a couple missing SupportedOSPlatform attributes on ThreadPool
  src/coreclr/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/libraries/System.Threading.ThreadPool/ref/System.Threading.ThreadPool.cs
  src/mono/System.Private.CoreLib/src/System/Threading/ThreadPool.Mono.cs
Labels: area-System.Threading

#54971 [Mono] Optimize mono_dl_build_path for component and Android module loading.
  src/mono/mono/metadata/components.c
  src/mono/mono/metadata/native-library.c
  src/mono/mono/utils/mono-dl.c
  src/mono/mono/utils/mono-dl.h
Labels: area-VM-meta-mono

#55151 Add missing startup flags in runtime/start event
  src/coreclr/vm/eventtrace.cpp
Labels: area-Tracing-coreclr

#55208 Replace Composition* pkgprojs with NuGet Pack task
  src/libraries/System.Composition.AttributedModel/Directory.Build.props
  src/libraries/System.Composition.AttributedModel/pkg/System.Composition.AttributedModel.pkgproj
  src/libraries/System.Composition.AttributedModel/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.AttributedModel/src/System.Composition.AttributedModel.csproj
  src/libraries/System.Composition.Convention/Directory.Build.props
  src/libraries/System.Composition.Convention/pkg/System.Composition.Convention.pkgproj
  src/libraries/System.Composition.Convention/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.Convention/src/System.Composition.Convention.csproj
  src/libraries/System.Composition.Hosting/Directory.Build.props
  src/libraries/System.Composition.Hosting/pkg/System.Composition.Hosting.pkgproj
  src/libraries/System.Composition.Hosting/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.Hosting/src/System.Composition.Hosting.csproj
  src/libraries/System.Composition.Runtime/Directory.Build.props
  src/libraries/System.Composition.Runtime/pkg/System.Composition.Runtime.pkgproj
  src/libraries/System.Composition.Runtime/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.Runtime/src/System.Composition.Runtime.csproj
  src/libraries/System.Composition.TypedParts/Directory.Build.props
  src/libraries/System.Composition.TypedParts/pkg/System.Composition.TypedParts.pkgproj
  src/libraries/System.Composition.TypedParts/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.TypedParts/src/System.Composition.TypedParts.csproj
  src/libraries/System.Composition/Directory.Build.props
  src/libraries/System.Composition/pkg/System.Composition.pkgproj
  src/libraries/System.Composition/src/System.Composition.csproj
  src/libraries/System.Composition/src/System.Composition.proj
  src/libraries/System.Diagnostics.PerformanceCounter/Directory.Build.props
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
Labels: area-Infrastructure-libraries

#55149 [Mono] Increase EventPipe profiler sampling thread priority.
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.h
Labels: area-Tracing-mono

#55142 [Mono] Fix inconsistent linkage error in dynamic component build on Windows.
  src/mono/mono/sgen/gc-internal-agnostic.h
Labels: area-VM-meta-mono

#55139 [Mono] Detail EventPipe sample profiler frames in unmanaged code.
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/metadata/loader.c
  src/mono/mono/metadata/method-builder.h
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/utils/mono-stack-unwinding.h
Labels: area-Tracing-mono, area-VM-meta-mono

#54581 Update new `LoggerMessage.Define` APIs, to take `LogDefineOptions`
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/ref/Microsoft.Extensions.Logging.Abstractions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LogDefineOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LoggerMessage.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithNestedClass.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithSkipEnabledCheck.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithTwoParams.generated.txt
  src/libraries/Microsoft.Extensions.Logging/tests/Common/LoggerMessageTest.cs
Labels: area-Extensions-Logging, new-api-needs-documentation

#55057 compile composite with avx2 on x64
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.Composite.sfxproj
Labels: area-crossgen2-coreclr

#55209 [Mono]Fix jit dump enable flag
  src/mono/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/cmake/configure.cmake
Labels: area-Infrastructure-mono

#55110 [wasm][workload] Use the emsdk workload manifest for the emscripten packages
  eng/Version.Details.xml
  eng/Versions.props
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.json.in
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets
Labels: arch-wasm, area-Build-mono

#54980 Resolve ILLink warnings in System.Memory.Data
  src/libraries/System.Memory.Data/ref/System.Memory.Data.cs
  src/libraries/System.Memory.Data/ref/System.Memory.Data.csproj
  src/libraries/System.Memory.Data/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Memory.Data/src/System.Memory.Data.csproj
  src/libraries/System.Memory.Data/src/System/BinaryData.cs
Labels: area-System.Memory, linkable-framework

#54884 Finish migrating System.Drawing.Common to ComWrappers
  src/libraries/Common/src/Interop/Windows/Ole32/Interop.IStream.COMWrappers.cs
  src/libraries/Common/src/Interop/Windows/Ole32/Interop.IStream.NoCOMWrappers.cs
  src/libraries/System.Drawing.Common/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/libraries/System.Drawing.Common/src/System/Drawing/Bitmap.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/DrawingCom.COMWrappers.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/DrawingCom.NoCOMWrappers.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/DrawingCom.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.COMWrappers.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Internal/GPStream.COMWrappers.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Internal/GPStream.NoCOMWrappers.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Internal/GPStream.cs
Labels: area-System.Drawing

#55116 Avoid conflicts between default [semi-]voiced sound mark rules and custom rules
  src/libraries/Native/Unix/System.Globalization.Native/pal_collation.c
  src/libraries/System.Globalization/tests/CompareInfo/CompareInfoTests.Compare.cs
Labels: area-System.Globalization

#55055 Enable ToBase64Transform.CanTransformMultipleBlocks
  src/libraries/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/Base64Transforms.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/Base64TransformsTests.cs
Labels: area-System.Security

#55225 Fix BinderTracingTest (non-clean) build on Linux
  src/tests/Loader/binding/tracing/BinderTracingTest.targets
Labels: area-AssemblyLoader-coreclr, test bug

#55232 Avoid FileStream allocations in Sockets
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
Labels: area-System.Net.Sockets

#55231 Relax chain status for building an invalid chain.
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
Labels: area-System.Security

#55200 Fix race when signaling waitable objects in managed implementation
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.ThreadWaitInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.WaitableObject.Unix.cs
  src/libraries/System.Threading.Tasks/tests/MethodCoverage.cs
Labels: area-System.Threading

#55236 [mono] Remove mono_corlib_version, it has not been maintained for som…
  src/mono/CMakeLists.txt
  src/mono/System.Private.CoreLib/GenerateMonoCoreLibVersionFile.targets
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
  src/mono/mono/metadata/appdomain.c
Labels: area-VM-meta-mono

#55223 update branding to 5.0.9
  eng/Versions.props
  src/libraries/libraries-packages.proj
Labels: area-Infrastructure-libraries

#54895 [mono] Don't call Assembly.CodeBase directly in RuntimeAssembly.GetName
  src/libraries/System.Reflection/tests/AssemblyTests.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/mono/mono/metadata/icall.c
Labels: area-System.Reflection-mono

#55198 Fix incorrect assert in AbandonExisting test case
  src/libraries/System.Threading/tests/MutexTests.cs
Labels: area-System.Threading

#53782 Disable folding of implementation-defined casts
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/valuenum.cpp
  src/libraries/System.Linq.Expressions/tests/Convert/ConvertTests.cs
  src/tests/JIT/Methodical/Overflow/FloatOvfToInt2.cs
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#54997 [interp] Re-enable tests on android
  src/tests/issues.targets
Labels: area-Codegen-JIT-mono

#54186 System.Text.Json: Add TimeSpanConverter
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/TimeSpanConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonDateTimeTestData.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Value.ReadTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Value.WriteTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonReaderTests.TryGet.Date.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#55263 Fix a couple more unnecessary spilled locals
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
Labels: area-System.Net

#55184 One shot CBC
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherTests.OneShot.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DES/DESCipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DES/DESCipherTests.OneShot.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DES/DESCipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2CipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2CipherTests.OneShot.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2CipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2Factory.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/Symmetric/SymmetricOneShotBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/TripleDES/TripleDESCipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/TripleDES/TripleDESCipherTests.OneShot.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/TripleDES/TripleDESCipherTests.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/AesImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/DesImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RC2Implementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/TripleDesImplementation.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/RC2Provider.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/System.Security.Cryptography.Algorithms.Tests.csproj
  src/libraries/System.Security.Cryptography.Cng/src/System/Security/Cryptography/AesCng.cs
  src/libraries/System.Security.Cryptography.Cng/src/System/Security/Cryptography/TripleDESCng.cs
  src/libraries/System.Security.Cryptography.Cng/tests/RC2Provider.cs
  src/libraries/System.Security.Cryptography.Cng/tests/SymmetricCngTestHelpers.cs
  src/libraries/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/libraries/System.Security.Cryptography.Csp/tests/RC2CryptoServiceProviderProvider.cs
  src/libraries/System.Security.Cryptography.Csp/tests/ShimHelpers.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/RC2Provider.cs
  src/libraries/System.Security.Cryptography.Primitives/ref/System.Security.Cryptography.Primitives.cs
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/SymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography.Primitives/tests/SymmetricAlgorithmTests.cs
Labels: area-System.Security, new-api-needs-documentation

#55268 Fix temporary timer leak in Ping
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.RawSocket.cs
Labels: area-System.Net

#54886 Obsolete useManagedSha1 and ProduceLegacyHmacValues
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.Security.Cryptography.Algorithms/ref/System.Security.Cryptography.Algorithms.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA1.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA384.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/HMACSHA512.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacSha1Tests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacSha384Tests.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/HmacSha512Tests.cs
Labels: area-System.Security, breaking-change, needs-breaking-change-doc-created, new-api-needs-documentation

#54798 close quic streams on Dispose
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConnectionHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicListenerHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicRegistrationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicStreamHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net.Quic

#54333 Add MetricsEventSource
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticListener.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/AggregationManager.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Aggregator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/AggregatorStore.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/ExponentialHistogramAggregator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/InstrumentState.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/LastValueAggregator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Meter.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MetricsEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/ObjectSequence.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/ObjectSequence.netcore.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/ObjectSequence.netfx.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/RateAggregator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/StringSequence.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/StringSequence.netcore.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/StringSequence.netfx.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/AggregationManagerTests.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ExponentialHistogramTests.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/MetricEventSourceTests.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/System.Diagnostics.DiagnosticSource.Tests.csproj
Labels: area-System.Diagnostics.Tracing

#55272 nit: fix doc comments spaces
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
Labels: area-System.Text.Json

#54936 [wasm] Update Wasm.Build.Tests to build with net6.0
  eng/testing/tests.targets
  src/libraries/sendtohelixhelp.proj
  src/mono/wasm/build/WasmApp.LocalBuild.props
  src/mono/wasm/build/WasmApp.LocalBuild.targets
  src/mono/wasm/build/WasmApp.Native.targets
  src/tests/BuildWasmApps/Wasm.Build.Tests/BlazorWasmTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildEnvironment.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildTestBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/CommandResult.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/DotNetCommand.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/LocalEMSDKTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeBuildTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/ProcessExtensions.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/RebuildTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/SatelliteAssembliesTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/SharedBuildPerTestClassFixture.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/ToolCommand.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/Utils.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmBuildAppTest.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/WorkloadTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/Blazor.Directory.Build.props
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/Blazor.Directory.Build.targets
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/Local.Directory.Build.props
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/Local.Directory.Build.targets
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/RunScriptTemplate.sh
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/nuget6.config
  src/tests/BuildWasmApps/testassets/LibraryWithResources/Directory.Build.targets
  src/tests/BuildWasmApps/testassets/LibraryWithResources/LibraryWithResources.csproj
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyFromProjectRef/LibraryWithResources/Class1.cs
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyFromProjectRef/LibraryWithResources/LibraryWithResources.csproj
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyFromProjectRef/LibraryWithResources/resx/words.es-ES.resx
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyFromProjectRef/LibraryWithResources/resx/words.ja-JP.resx
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyFromProjectRef/LibraryWithResources/resx/words.resx
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyInMain/resx/words.es-ES.resx
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyInMain/resx/words.ja-JP.resx
  src/tests/BuildWasmApps/testassets/SatelliteAssemblyInMain/resx/words.resx
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/Program.cs
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/WebAssembly.Browser.AOT.Test.csproj
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/index.html
  src/tests/FunctionalTests/WebAssembly/Browser/AOT/runtime.js
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/Program.cs
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/WebAssembly.Browser.NormalInterp.Test.csproj
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/index.html
  src/tests/FunctionalTests/WebAssembly/Browser/NormalInterp/runtime.js
  src/tests/FunctionalTests/WebAssembly/Console/AOT/Program.cs
  src/tests/FunctionalTests/WebAssembly/Console/AOT/WebAssembly.Console.AOT.Test.csproj
  src/tests/FunctionalTests/WebAssembly/Console/NormalInterp/Program.cs
  src/tests/FunctionalTests/WebAssembly/Console/NormalInterp/WebAssembly.Console.NormalInterp.Test.csproj
  src/tests/FunctionalTests/WebAssembly/TopLevel/NormalInterp/Program.cs
  src/tests/FunctionalTests/WebAssembly/TopLevel/NormalInterp/WebAssembly.TopLevel.NormalInterp.Test.csproj
Labels: arch-wasm, area-Build-mono

#54934 Add crash report file for VS4Mac Watson
  src/coreclr/debug/createdump/CMakeLists.txt
  src/coreclr/debug/createdump/crashinfo.cpp
  src/coreclr/debug/createdump/crashinfo.h
  src/coreclr/debug/createdump/crashinfomac.cpp
  src/coreclr/debug/createdump/crashinfounix.cpp
  src/coreclr/debug/createdump/crashreportwriter.cpp
  src/coreclr/debug/createdump/crashreportwriter.h
  src/coreclr/debug/createdump/createdump.h
  src/coreclr/debug/createdump/createdumpunix.cpp
  src/coreclr/debug/createdump/createdumpwindows.cpp
  src/coreclr/debug/createdump/datatarget.cpp
  src/coreclr/debug/createdump/dumpwriter.cpp
  src/coreclr/debug/createdump/dumpwriterelf.h
  src/coreclr/debug/createdump/dumpwritermacho.cpp
  src/coreclr/debug/createdump/dumpwritermacho.h
  src/coreclr/debug/createdump/main.cpp
  src/coreclr/debug/createdump/memoryregion.h
  src/coreclr/debug/createdump/moduleinfo.h
  src/coreclr/debug/createdump/stackframe.h
  src/coreclr/debug/createdump/threadinfo.cpp
  src/coreclr/debug/createdump/threadinfo.h
  src/coreclr/debug/createdump/threadinfomac.cpp
  src/coreclr/debug/createdump/threadinfounix.cpp
  src/coreclr/debug/daccess/dacfn.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/exception/remote-unwind.cpp
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/process.h
  src/coreclr/pal/src/thread/process.cpp
Labels: area-Diagnostics-coreclr

#54755 Implement dynamic HTTP/2 window scaling
  src/libraries/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/libraries/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTestBase.cs
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/GlobalHttpSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpHandlerDefaults.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2StreamWindowManager.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RuntimeSettingParser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2FlowControl.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Http/tests/UnitTests/RuntimeSettingParserTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http, new-api-needs-documentation

#54903 Auto-enable SO_REUSE_UNICASTPORT for ConnectEx
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
Labels: area-System.Net.Sockets

#54432 [mono] new Sdk that selects mono runtime components
  docs/design/mono/components.md
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
  src/mono/mono.proj
  src/mono/mono/component/CMakeLists.txt
  src/mono/mono/component/RuntimeComponentManifest.json.in
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Microsoft.NET.Runtime.MonoTargets.Sdk.pkgproj
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/README.md
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Sdk/RuntimeComponentManifest.props
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Sdk/RuntimeComponentManifest.targets
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Sdk/RuntimeConfigParserTask.props
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Sdk/Sdk.props
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Sdk/Sdk.targets
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/build/Microsoft.NET.Runtime.MonoTargets.Sdk.props
  src/mono/nuget/Microsoft.NET.Runtime.RuntimeConfigParser.Task/Microsoft.NET.Runtime.RuntimeConfigParser.Task.pkgproj
  src/mono/nuget/Microsoft.NET.Runtime.RuntimeConfigParser.Task/README.md
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.json.in
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets
  src/mono/nuget/mono-packages.proj
  src/tasks/JsonToItemsTaskFactory/JsonToItemsTaskFactory.cs
  src/tasks/JsonToItemsTaskFactory/JsonToItemsTaskFactory.csproj
  src/tasks/JsonToItemsTaskFactory/README.md
Labels: area-Build-mono, auto-merge

#55247 Use correct assignedInterval for SPILL_COST calculation
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#55262 Use Task.WaitAsync in SemaphoreSlim.WaitAsync
  src/libraries/System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskScheduler.cs
  src/libraries/System.Threading/tests/SemaphoreSlimCancellationTests.cs
Labels: area-System.Threading, tenet-performance

#55291 update MsQuic version
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
Labels: area-System.Net.Quic

#55210 FileSystem.Exists.Unix: eliminate a stat call when checking a non-existing file/directory.
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Exists.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs
Labels: area-System.IO

#55303 fix GCHandle free for connection and related fixes and asserts
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
Labels: area-System.Net.Quic

#55288 Sync HPack encoding changes from aspnetcore
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/HPackEncoder.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/HeaderField.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http

#55300 Fix perf regressions with a recent change.
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#54897 Fix ILLink warnings related to SchemaMapping.SetupSchema* in S.Data.Common
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Data.Common/src/System/Data/Common/DBSchemaRow.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DataAdapter.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DataRecordInternal.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataAdapter.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataReader.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbDataRecord.cs
  src/libraries/System.Data.Common/src/System/Data/DataSet.cs
  src/libraries/System.Data.Common/src/System/Data/DataTable.cs
  src/libraries/System.Data.Common/src/System/Data/DataTableReader.cs
  src/libraries/System.Data.Common/src/System/Data/IDataAdapter.cs
  src/libraries/System.Data.Common/src/System/Data/IDataRecord.cs
  src/libraries/System.Data.Common/src/System/Data/ProviderBase/DataReaderContainer.cs
  src/libraries/System.Data.Common/src/System/Data/ProviderBase/SchemaMapping.cs
  src/libraries/System.Data.Odbc/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Data.OleDb/src/ILLink/ILLink.Suppressions.xml
Labels: area-System.Data, new-api-needs-documentation

#55180 [mono] Add constructor for jagged arrays
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/jit-icalls.c
  src/mono/mono/mini/jit-icalls.h
  src/mono/mono/mini/method-to-ir.c
  src/tests/issues.targets
Labels: area-Codegen-meta-mono

#55309 QUIC: fix handling of peer send abort
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net

#55319 Improve MetricEventSource error message
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MetricsEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/MetricEventSourceTests.cs
Labels: area-System.Diagnostics.Tracing

#55086 Override Read(Span)/ReadByte on PipeReaderStream
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeReaderStream.cs
Labels: area-System.IO.Pipelines, tenet-performance

#50446 JIT: Drop redundant static initializations from (Equality)Comparer<T>.Default
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/inline.def
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr

#55246 Trim Linq.Expressions when using DependencyInjection
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/Expressions/ExpressionResolverBuilder.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ILEmit/ILEmitResolverBuilder.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceLookupHelpers.cs
Labels: area-Extensions-DependencyInjection, linkable-framework

#55326 readme msquic packaging
  src/libraries/System.Net.Quic/readme.md
Labels: area-System.Net

#55320 Fix formatting errors
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr, auto-merge

#55191 Add UnixFileStreamStrategy
  src/libraries/System.IO.FileSystem/tests/FileStream/WriteAsync.cs
  src/libraries/System.IO.FileSystem/tests/Net5CompatTests/System.IO.FileSystem.Net5Compat.Tests.csproj
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.ThreadPoolValueTaskSource.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Windows.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/AsyncWindowsFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/BufferedFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.Lock.OSX.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.Lock.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/Net5CompatFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/OSFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/SyncWindowsFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/UnixFileStreamStrategy.cs
  src/libraries/System.Private.CoreLib/src/System/OperatingSystem.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/ValueTask.cs
Labels: area-System.IO, tenet-performance

#55199 Support in-process named mutexes in managed implementation
  src/libraries/System.IO.IsolatedStorage/tests/AssemblyInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Mutex.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.WaitableObject.Unix.cs
  src/libraries/System.Threading/tests/MutexTests.cs
Labels: area-Threading-mono

#55294 Return DSA and ECDSA keys from certificate in SignedXml.
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Utils.cs
  src/libraries/System.Security.Cryptography.Xml/tests/Samples/SigningVerifyingX509Cert.cs
  src/libraries/System.Security.Cryptography.Xml/tests/TestHelpers.cs
Labels: area-System.Security

#55280 Add missing extra jit flag dump entries
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmidumphelper.cpp
Labels: area-CodeGen-coreclr

#55308 Fix race condition caused by updating interface map with exact target
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtable.h
  src/coreclr/vm/methodtable.inl
  src/coreclr/vm/siginfo.cpp
Labels: area-TypeSystem-coreclr

#55092 Do not setup both an inlined call frame and perform a reverse pinvoke…
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#55229 JIT: Set default value for JitExtDefaultPolicyProfTrust 0
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#55238 Fix NRE in EncodingProvider
  src/libraries/System.Private.CoreLib/src/System/Text/EncodingProvider.cs
  src/libraries/System.Runtime/tests/System/Text/EncodingTests.cs
Labels: area-System.Text.Encoding

#52520 Fix infinite loop in DeflateStream.ReadAsync when read buffer is empty
  src/libraries/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
Labels: Servicing-approved, area-System.IO.Compression

#54613 [release/5.0] Add name of corrupted certificate to CryptographicException on Mac
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.X509.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509.h
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
Labels: Servicing-approved, area-System.Security

#55265 Clean-up sendtohelix and fix prop ordering issue
  src/libraries/sendtohelix.proj
Labels: area-Infrastructure-libraries

#53370 Ship a .framework version of Mono
  eng/liveBuilds.targets
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/runtime-staging.yml
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
Labels: area-Build-mono, os-ios, os-maccatalyst, os-tvos

#55202 [mono] Fix crash in AssemblyBuilder::GetModules
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.Mono.cs
Labels: area-System.Reflection-mono, auto-merge

#55341 fix read abort handling and revert CanRead/CanWrite to previous behavior
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/Mock/MockStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestBase.cs
Labels: area-System.Net.Quic

#54855 [mono] Make Mono CMake Windows build work without mono.proj
  src/mono/CMakeLists.txt
Labels: area-Build-mono

#55340 Fix NullReferenceException in background thread emitting IL in Depend…
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/DynamicServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceProvider.cs
Labels: area-Extensions-DependencyInjection

#54928 Print indices of assertions instead of raw bitsets
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/jit.h
  src/coreclr/jit/rangecheck.cpp
Labels: area-CodeGen-coreclr

#54780 Don't use GT_ARR_ELEM as a location/value
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#54244 [release/5.0] Remove the sealed blittable layoutclass correctness fix because of backcompat.
  src/coreclr/src/vm/classlayoutinfo.cpp
  src/coreclr/src/vm/ilmarshalers.cpp
  src/coreclr/src/vm/mlinfo.cpp
  src/tests/Interop/LayoutClass/LayoutClassNative.cpp
  src/tests/Interop/LayoutClass/LayoutClassTest.cs
Labels: Servicing-approved, area-Interop-coreclr

#55047 Loop alignment: Handle blocks added in loop as part of split edges of LSRA
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
Labels: area-CodeGen-coreclr, auto-merge

#55351 Move DiagnosticsHandler.IsGloballyEnabled back to a method
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
Labels: area-System.Net.Http

#55045 Enregister structs on win x64.
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsra.cpp
Labels: arch-x64, area-CodeGen-coreclr, optimization, os-windows

#55098 H/3 stress
  eng/docker/libraries-sdk-aspnetcore.linux.Dockerfile
  eng/docker/libraries-sdk-aspnetcore.windows.Dockerfile
  eng/docker/libraries-sdk.linux.Dockerfile
  eng/docker/libraries-sdk.windows.Dockerfile
  eng/pipelines/libraries/stress/http.yml
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/HttpStress.csproj
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/NuGet.config
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/StressClient.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/windows.Dockerfile
  src/libraries/System.Net.Quic/src/System/Net/Quic/NetEventSource.Quic.cs
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Dockerfile
  src/libraries/System.Net.Security/tests/StressTests/SslStress/SslStress.csproj
  src/libraries/System.Net.Security/tests/StressTests/SslStress/run-docker-compose.sh
  src/libraries/System.Net.Security/tests/StressTests/SslStress/windows.Dockerfile
Labels: area-System.Net.Http

#55344 [mono] Enable icall export for ios device builds.
  src/mono/mono.proj
Labels: area-Build-mono

#55297 Add private Task.StateFlags property to help with debugging
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.Shared.xml
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Future.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskScheduler.cs
Labels: area-System.Threading.Tasks

#55335 Remove few more ILLink warnings in System.Data.Common
  src/libraries/System.Data.Common/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Data.Common/src/System/Data/ColumnTypeConverter.cs
Labels: area-System.Data

#55333 Add Windows support to PosixSignal
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetConsoleCtrlHandler.Delegate.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetConsoleCtrlHandler.cs
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.Console/src/System/Console.cs
  src/libraries/System.Console/src/System/ConsolePal.Android.cs
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/src/System/ConsolePal.WebAssembly.cs
  src/libraries/System.Console/src/System/ConsolePal.Windows.cs
  src/libraries/System.Console/src/System/ConsolePal.iOS.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/src/System.Runtime.InteropServices.csproj
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/PosixSignal.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/PosixSignalContext.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/PosixSignalRegistration.Browser.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/PosixSignalRegistration.Unix.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/PosixSignalRegistration.Unsupported.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/PosixSignalRegistration.Windows.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/PosixSignalRegistration.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/PosixSignalContextTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/PosixSignalRegistrationTests.Browser.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/PosixSignalRegistrationTests.Unix.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/PosixSignalRegistrationTests.Windows.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/PosixSignalRegistrationTests.cs
Labels: area-System.Runtime, new-api-needs-documentation

#54253 Add symbolic link APIs
  src/libraries/Common/src/Interop/Unix/Interop.DefaultPathBufferSize.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetCwd.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.ReadLink.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Stat.Span.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SymLink.cs
  src/libraries/Common/src/Interop/Windows/Interop.Errors.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateSymbolicLink.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.DeviceIoControl.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FileOperations.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetFinalPathNameByHandle.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.REPARSE_DATA_BUFFER.cs
  src/libraries/Common/src/System/IO/FileSystem.Attributes.Windows.cs
  src/libraries/Common/tests/TestUtilities/System/IO/FileCleanupTestBase.cs
  src/libraries/Microsoft.IO.Redist/src/Microsoft.IO.Redist.csproj
  src/libraries/Microsoft.IO.Redist/src/Resources/Strings.resx
  src/libraries/Native/Unix/System.Native/entrypoints.c
  src/libraries/Native/Unix/System.Native/pal_io.c
  src/libraries/Native/Unix/System.Native/pal_io.h
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/libraries/System.IO.FileSystem.Watcher/tests/Utility/FileSystemWatcherTest.cs
  src/libraries/System.IO.FileSystem/tests/Base/BaseSymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.FileSystem.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.FileSystemInfo.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.Unix.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.Windows.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/Directory/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/DirectoryInfo/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/File/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/FileInfo/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/FileSystemTest.cs
  src/libraries/System.IO.FileSystem/tests/Net5CompatTests/System.IO.FileSystem.Net5Compat.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
  src/libraries/System.Net.Ping/tests/FunctionalTests/System.Net.Ping.Functional.Tests.csproj
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/Directory.cs
  src/libraries/System.Private.CoreLib/src/System/IO/File.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystemInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystemInfo.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystemInfo.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Path.cs
  src/libraries/System.Private.CoreLib/src/System/IO/PathInternal.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.IO, new-api-needs-documentation

#55256 use fstatfs to detect whether current file system supports shared locks for files opened for writing
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MountPoints.FormatInfo.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.UnixFileSystemTypes.cs
  src/libraries/Native/Unix/Common/pal_config.h.in
  src/libraries/Native/Unix/System.Native/entrypoints.c
  src/libraries/Native/Unix/System.Native/pal_io.c
  src/libraries/Native/Unix/System.Native/pal_io.h
  src/libraries/Native/Unix/configure.cmake
  src/libraries/System.IO.FileSystem.DriveInfo/src/System.IO.FileSystem.DriveInfo.csproj
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
Labels: area-System.IO

#54812 Remove redundant pinvokes in S.N.Http/Mail on tvOS
  src/libraries/Common/src/System/Net/NTAuthentication.Common.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.tvOS.cs
  src/libraries/System.Net.Mail/src/System.Net.Mail.csproj
Labels: area-System.Net, os-tvos

#53266 Optimize index bounds check for immutable sorted set and list
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.Node.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedSet_1.Node.cs
Labels: area-System.Collections

#55094 Fix incorrect comparison (#54834)
  src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.TreeSubSet.cs
  src/libraries/System.Collections/tests/Generic/SortedSet/SortedSet.Generic.cs
Labels: area-System.Collections
