Repository dotnet/runtime, pull requests merged in 2021-09, with the labels that each got.

#56904 Delete `TruncateOrSignExtend32`
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#58441 Fix X509ChainElementCollection_CopyTo_NonZeroLowerBound_ThrowsIndexOutOfRangeException test on Android
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CollectionTests.cs
Labels: area-System.Security

#58457 Don't always build source build with ci flag
  eng/SourceBuild.props
Labels: area-Infrastructure

#57816 [release/6.0] Bring back System.Security.AccessControl package
  src/libraries/Microsoft.Diagnostics.Tracing.EventSource.Redist/src/Microsoft.Diagnostics.Tracing.EventSource.Redist.csproj
  src/libraries/Microsoft.Diagnostics.Tracing.EventSource.Redist/tests/Microsoft.Diagnostics.Tracing.EventSource.Redist.Tests.csproj
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/Microsoft.Extensions.Configuration.Xml.csproj
  src/libraries/Microsoft.Extensions.Configuration.Xml/tests/Microsoft.Extensions.Configuration.Xml.Tests.csproj
  src/libraries/Microsoft.Extensions.Configuration/tests/FunctionalTests/Microsoft.Extensions.Configuration.Functional.Tests.csproj
  src/libraries/Microsoft.NETCore.Platforms/tests/Microsoft.NETCore.Platforms.Tests.csproj
  src/libraries/Microsoft.VisualBasic.Core/tests/Microsoft.VisualBasic.Core.Tests.csproj
  src/libraries/Microsoft.Win32.Registry.AccessControl/ref/Microsoft.Win32.Registry.AccessControl.csproj
  src/libraries/Microsoft.Win32.Registry.AccessControl/src/Microsoft.Win32.Registry.AccessControl.csproj
  src/libraries/Microsoft.Win32.SystemEvents/tests/Microsoft.Win32.SystemEvents.Tests.csproj
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.Configuration.ConfigurationManager/src/System.Configuration.ConfigurationManager.csproj
  src/libraries/System.Configuration.ConfigurationManager/tests/System.Configuration.ConfigurationManager.Tests.csproj
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.Data.OleDb/ref/System.Data.OleDb.csproj
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.DirectoryServices/ref/System.DirectoryServices.csproj
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.Security.AccessControl/NuGet.config
  src/libraries/System.Security.AccessControl/ref/System.Security.AccessControl.Evidence.cs
  src/libraries/System.Security.AccessControl/ref/System.Security.AccessControl.cs
  src/libraries/System.Security.AccessControl/ref/System.Security.AccessControl.csproj
  src/libraries/System.Security.AccessControl/ref/System.Security.AccessControl.net461.cs
  src/libraries/System.Security.AccessControl/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.AccessControl/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
  src/libraries/System.Security.AccessControl/src/System.Security.AccessControl.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
  src/libraries/System.Security.Cryptography.Xml/tests/System.Security.Cryptography.Xml.Tests.csproj
  src/libraries/System.Security.Permissions/ref/System.Security.Permissions.Forwards.cs
  src/libraries/System.Security.Permissions/ref/System.Security.Permissions.csproj
  src/libraries/System.Security.Permissions/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Permissions/src/System.Security.Permissions.csproj
  src/libraries/System.ServiceModel.Syndication/tests/System.ServiceModel.Syndication.Tests.csproj
  src/libraries/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/System.ServiceProcess.ServiceController.TestService.csproj
  src/libraries/System.Threading.AccessControl/ref/System.Threading.AccessControl.csproj
  src/libraries/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
Labels: area-Infrastructure-libraries, regression-from-last-release

#57077 Re-enable Vector3DistanceTest
  src/libraries/System.Numerics.Vectors/tests/Vector3Tests.cs
Labels: area-System.Numerics

#58456 Add System.Net.Http ServerCertificateCustomValidationCallback ILLink Suppression
  src/libraries/System.Net.Http/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.InvokeNativeHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.cs
Labels: area-System.Net

#58467 [debugger] Avoid calling debugger_agent_single_step_from_context when thread is not attached yet
  src/mono/mono/mini/method-to-ir.c
Labels: area-Debugger-mono

#58350 In reset_memory, check settings.entry_memory_load ...
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#58491 [MonoVM] Fix calculation of code size for AOT assemblies mixing JIT and LLVM
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-LLVM-mono, community-contribution

#58474 fix stable pkg proj versioning support
  src/coreclr/.nuget/Directory.Build.props
  src/mono/nuget/Directory.Build.props
Labels: area-Infrastructure-libraries

#58454 JIT: Fix preheader weight computation
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#58147 Initial document for JIT and GC stress usage
  docs/design/coreclr/jit/investigate-stress.md
Labels: area-CodeGen-coreclr

#58465 Add & publish a cm.1 file for each .rpm we ship
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure-installer

#58406 Add `Zero` property to `Quaternion`.
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Numerics.Vectors/tests/QuaternionTests.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.cs
Labels: area-System.Numerics, new-api-needs-documentation, community-contribution

#58478 Add RemoteInvokeOptions to EtwManifestGeneration test
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsManifestGeneration.Etw.cs
Labels: area-System.Diagnostics.Tracing, test enhancement, auto-merge

#57341 Use temporary ni.dll.tmp files with crossgen2 pipeline mode in order to not interfere with crossgen2 itself
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
  src/coreclr/tools/r2rtest/Buckets.cs
Labels: area-crossgen2-coreclr, community-contribution

#58513 Delete shutdown special handling in a few CoreCLR PAL methods
  src/coreclr/pal/src/loader/module.cpp
  src/coreclr/pal/src/thread/thread.cpp
Labels: area-PAL-coreclr

#58302 Update native COM server tests to execute directly instead of using the Exe launcher program.
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Common/CLRTest.Execute.targets
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Interop/COM/NativeClients/DefaultInterfaces.csproj
  src/tests/Interop/COM/NativeClients/DefaultInterfaces/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/DefaultInterfaces/DefaultInterfacesTests.cpp
  src/tests/Interop/COM/NativeClients/Directory.Build.props
  src/tests/Interop/COM/NativeClients/Directory.Build.targets
  src/tests/Interop/COM/NativeClients/Dispatch.csproj
  src/tests/Interop/COM/NativeClients/Dispatch/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Dispatch/Client.cpp
  src/tests/Interop/COM/NativeClients/Events.csproj
  src/tests/Interop/COM/NativeClients/Events/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Events/EventTests.cpp
  src/tests/Interop/COM/NativeClients/Licensing.csproj
  src/tests/Interop/COM/NativeClients/Licensing/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Licensing/LicenseTests.cpp
  src/tests/Interop/COM/NativeClients/Primitives.csproj
  src/tests/Interop/COM/NativeClients/Primitives/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Primitives/Client.cpp
  src/tests/Interop/COM/NativeClients/Program.cs
  src/tests/Interop/COM/NativeClients/windows_version_helpers.h
  src/tests/Interop/common/ExeLauncherProgram.cs
Labels: test enhancement, area-Interop-coreclr, auto-merge

#58080 Rename NGenHashTable to DacEnumerableHashTable to describe its unique feature and remove dead code
  src/coreclr/inc/clr_std/type_traits
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/classhash.cpp
  src/coreclr/vm/classhash.h
  src/coreclr/vm/dacenumerablehash.h
  src/coreclr/vm/dacenumerablehash.inl
  src/coreclr/vm/ilstubcache.cpp
  src/coreclr/vm/ilstubcache.h
  src/coreclr/vm/instmethhash.cpp
  src/coreclr/vm/instmethhash.h
  src/coreclr/vm/ngenhash.h
  src/coreclr/vm/typeequivalencehash.cpp
  src/coreclr/vm/typeequivalencehash.hpp
  src/coreclr/vm/typehash.cpp
  src/coreclr/vm/typehash.h
Labels: area-VM-coreclr, auto-merge

#58532 Convert the check for stdatomic.h into a compile step as opposed to existence check
  src/coreclr/pal/src/libunwind/configure.cmake
Labels: area-Infrastructure-coreclr, auto-merge

#58529 Move the implementation of Win32Exception into System.Private.CoreLib
  src/libraries/Microsoft.Win32.Primitives/src/Microsoft.Win32.Primitives.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/ComponentModel/Win32Exception.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/ComponentModel/Win32Exception.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/ComponentModel/Win32Exception.cs
Labels: area-Microsoft.Win32, auto-merge

#58530 Fix dump generation segfault in DAC
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exceptmacros.h
Labels: area-ExceptionHandling-coreclr, auto-merge

#58106 Run runtime tests marked as JitOptimizationSensitive on Mono.
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#56713 Fix Console.Write on iOS
  src/libraries/System.Console/src/System/ConsolePal.iOS.cs
  src/libraries/System.Console/tests/ReadAndWrite.cs
Labels: area-System.Console, os-ios

#57445 [Group 1] Enable nullable annotations for `Microsoft.Extensions.DependencyModel`
  src/libraries/Microsoft.Extensions.DependencyModel/ref/Microsoft.Extensions.DependencyModel.cs
  src/libraries/Microsoft.Extensions.DependencyModel/ref/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/Microsoft.Extensions.DependencyModel/src/CollectionExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/CompilationLibrary.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/CompilationOptions.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Dependency.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContext.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextExtensions.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextJsonReader.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextLoader.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextPaths.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextWriter.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DirectoryWrapper.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/EnvironmentWrapper.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/FileWrapper.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/HashCodeCombiner.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/IDirectory.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/IEnvironment.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/IFile.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Library.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/AppBaseCompilationAssemblyResolver.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/CompositeCompilationAssemblyResolver.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/DotNetReferenceAssembliesPathResolver.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/ICompilationAssemblyResolver.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/PackageCompilationAssemblyResolver.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/ReferenceAssemblyPathResolver.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/ResolverUtils.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/RuntimeAssembly.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/RuntimeAssetGroup.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/RuntimeFallbacks.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/RuntimeFile.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/RuntimeLibrary.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/TargetInfo.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Utf8JsonReaderExtensions.cs
Labels: area-DependencyModel, new-api-needs-documentation, community-contribution

#58484 Use new Hosted build pools
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: area-Infrastructure-libraries

#58523 [mono] win32 implementation of g_get_current_dir
  src/mono/mono/eglib/gfile-posix.c
  src/mono/mono/eglib/gmisc-unix.c
  src/mono/mono/eglib/gmisc-win32.c
Labels: area-VM-meta-mono

#58512 Turn off release branch in perf-slow.yml for release/6.0
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure-coreclr

#58291 Disable fast path serialization for types with properties using custom converters.
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/TypeGenerationSpec.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/ContextClasses.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataAndSerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MixedModeContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/RealWorldContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/SerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/TestClasses.cs
Labels: area-System.Text.Json

#58405 Pass a null getter\setter with [JsonIgnore] and src gen
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json

#58485 Change compile time dependency of ICU API ucol_setMaxVariable to be runtime instead.
  src/libraries/Native/Unix/System.Globalization.Native/pal_collation.c
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal.h
Labels: area-System.Globalization

#58472 Notify Reference Tracker runtime of disconnect at the right time
  src/coreclr/interop/comwrappers.cpp
  src/coreclr/interop/comwrappers.hpp
  src/coreclr/interop/inc/interoplib.h
  src/coreclr/interop/interoplib.cpp
  src/coreclr/interop/trackerobjectmanager.cpp
  src/coreclr/vm/interoplibinterface_comwrappers.cpp
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/Common.cs
  src/tests/Interop/COM/ComWrappers/MockReferenceTrackerRuntime/ReferenceTrackerRuntime.cpp
Labels: area-Interop-coreclr

#58477 Delete redundant AssemblyName test
  src/tests/Loader/regressions/GitHub_15544/main.cs
  src/tests/Loader/regressions/GitHub_15544/main.csproj
Labels: area-AssemblyLoader-coreclr

#58565 Conditionally pack symbols based on keepNativeSymbols
  src/libraries/System.IO.Ports/pkg/runtime.native.System.IO.Ports.props
Labels: area-System.IO

#58510 JIT: fix some issues in fgIsThrowHlpBlk
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr

#58528 Clean up tests under CoreMangLib/system/runtime/interopservices/safehandle
  src/libraries/System.Runtime.Handles/tests/SafeHandle.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleCtor_cti_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleDangerousGetHandle_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleDispose1_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleDispose2_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleHandle_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleIsClosed_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleIsInvalid_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleSetHandleAsInvalid_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/SafeHandleSetHandle_PSC.csproj
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandlector_cti.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandledangerousgethandle.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandledispose1.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandledispose2.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandlehandle.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandleisclosed.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandleisinvalid.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandlesethandle.cs
  src/tests/CoreMangLib/system/runtime/interopservices/safehandle/safehandlesethandleasinvalid.cs
Labels: area-Interop-coreclr, auto-merge

#58573 Convert test from using XUnitBase to typical CoreCLR test pattern so
  src/tests/Interop/ICustomMarshaler/Primitives/ICustomMarshaler.cs
Labels: area-Interop-coreclr, auto-merge

#57329 docs: add missing xml document's comments
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/ConfigurationExtensions.cs
Labels: area-Extensions-Configuration, community-contribution

#58579 JIT: fix jump threading to keep track of preds instead of reanalyzing
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#54412 Import `KEEPALIVE(BOX)` as `KEEPALIVE(ADDR(TEMP))`
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Methodical/Boxing/boxunbox/KeepAliveBoxOpt.cs
  src/tests/JIT/Methodical/Boxing/boxunbox/KeepAliveBoxOpt.csproj
  src/tests/JIT/Regression/JitBlue/GitHub_19256/GitHub_19256.cs
  src/tests/issues.targets
Labels: area-CodeGen-coreclr, auto-merge, community-contribution

#58222 Implement support for passing a .env file to corerun to easily set environment variables for stress testing.
  docs/workflow/testing/using-corerun.md
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/corerun/corerun.cpp
  src/coreclr/hosts/corerun/corerun.hpp
  src/coreclr/hosts/corerun/dotenv.cpp
  src/coreclr/hosts/corerun/dotenv.hpp
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
Labels: area-Host, auto-merge

#58582 Undo struct promotion on "RetInd" code path
  src/coreclr/jit/clrjit.natvis
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_57912/Runtime_57912.cs
  src/tests/JIT/Regression/JitBlue/Runtime_57912/Runtime_57912.csproj
Labels: area-CodeGen-coreclr

#58593 fix spelling
  src/libraries/System.Net.Security/src/System/Net/Security/SslSessionsCache.cs
Labels: area-System.Net.Security, auto-merge

#58430 Fix crossgen2 calli GC hole by unifying MethodDesc/MethodSignature IsMarshallingRequired logic
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Interop/IL/Marshaller.ReadyToRun.cs
  src/tests/JIT/Regression/JitBlue/Runtime_58259/Runtime_58259.cs
  src/tests/JIT/Regression/JitBlue/Runtime_58259/Runtime_58259.csproj
Labels: area-crossgen2-coreclr

#58564 Ensure proper memory ordering in allocator::copy_with_no_repair
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#58520 Add support for build.cmd -vs corehost.sln
  eng/build.ps1
Labels: area-Infrastructure-libraries

#58129 Increase some of the DnsEndPointTest timeouts
  src/libraries/Common/tests/System/Net/Sockets/TestSettings.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DnsEndPointTest.cs
Labels: area-System.Net.Sockets

#58606 Remove unnecessary unsafe keyword
  src/libraries/System.Console/src/System/ConsolePal.iOS.cs
Labels: area-System.Console

#58553 Fix source-build on the s390x platform
  eng/Subsets.props
Labels: community-contribution

#58611 run System.IO.Tests .NET 5 compat tests on every OS
  src/libraries/System.IO/tests/Net5CompatTests/System.IO.Net5Compat.Tests.csproj
Labels: area-System.IO, auto-merge

#58559 Fix Console.Write on iOS (#56713)
  src/libraries/System.Console/src/System/ConsolePal.iOS.cs
  src/libraries/System.Console/tests/ReadAndWrite.cs
Labels: area-System.Console

#58521 [mini] Don't add unbox tramopline on generic DIM calls
  src/mono/mono/mini/mini-trampolines.c
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github58394.cs
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github58394.csproj
Labels: area-Codegen-JIT-mono

#58600 JIT: adjust assert in optUnmarkCSE
  src/coreclr/jit/optcse.cpp
Labels: area-CodeGen-coreclr

#57208 [libraries] Skip test suites crashing on CI for iOS/tvOS/MacCatalyst
  src/libraries/Microsoft.Extensions.FileProviders.Physical/tests/PhysicalFileProviderTests.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.WaitForChanged.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewAccessor.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
  src/libraries/tests.proj
  src/tasks/AotCompilerTask/MonoAOTCompiler.props
Labels: area-Infrastructure-libraries, os-maccatalyst

#58398 Support JsonConverterFactory with src-gen
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/PropertyGenerationSpec.cs
  src/libraries/System.Text.Json/gen/TypeGenerationSpec.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/ContextClasses.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataAndSerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MixedModeContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/RealWorldContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/SerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/TestClasses.CustomConverters.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/TestClasses.cs
Labels: area-System.Text.Json

#58444 Run minimal set of iOS / tvOS device tests
  Directory.Build.props
  eng/pipelines/runtime-staging.yml
  eng/testing/tests.mobile.targets
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
  src/mono/sample/iOS/Program.csproj
  src/tests/FunctionalTests/iOS/Device/AOT-LLVM/Program.cs
  src/tests/FunctionalTests/iOS/Device/AOT-LLVM/iOS.Device.Aot-Llvm.Test.csproj
  src/tests/FunctionalTests/tvOS/Device/AOT-LLVM/Program.cs
  src/tests/FunctionalTests/tvOS/Device/AOT-LLVM/tvOS.Device.Aot-Llvm.Test.csproj
Labels: area-Infrastructure-mono

#58598 Fix Native Digit Reading
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/NumberFormatInfo.cs
Labels: area-System.Globalization

#58590 add TLS 1.3 support to WinHttp
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp_types.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.SslProtocols.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
Labels: area-System.Net.Http, os-windows

#58605 Do Contain analysis after inserting node in block range
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#58666 [release/6.0] Replace S.S.Permissions ref with AccessControl in S.S.C.Xml
  src/libraries/System.Security.Cryptography.Xml/ref/System.Security.Cryptography.Xml.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
Labels: Servicing-approved, area-Infrastructure-libraries

#58658 The signal enum in the native library should match the managed code.
  src/libraries/Native/Unix/System.Native/pal_signal.h
Labels: area-System.Runtime.InteropServices, community-contribution

#58597 JIT: relax assert in lvaSetDoNotEnregister
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#58615 Make sure EventPipe streaming thread won't write session->streaming_thread after session free.
  src/native/eventpipe/ep-session.c
Labels: area-Tracing-coreclr

#58627 Fix ConfigurationManager when BaseDirectory starts with \\?"
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ClientConfigPaths.cs
Labels: area-System.Configuration

#58519 [libraries] Restrict ILLink Suppression xml to mobile platforms
  src/libraries/System.Net.Http/src/ILLink/ILLink.Suppressions.Mobile.LibraryBuild.xml
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
Labels: area-Infrastructure-libraries, linkable-framework

#58696 JIT: Skip covariant store checks when jit sees exact Array's type
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#55004 Remove redundant zeroing for small stackallocs with SkipLocalsInit
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#58644 Fix source generation support for tuples with explicitly named elements
  src/libraries/System.Text.Json/gen/Reflection/TypeWrapper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/ContextClasses.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataAndSerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MixedModeContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/RealWorldContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/SerializationContextTests.cs
Labels: area-System.Text.Json

#58632 Allow instrumentation for methods with explicit tail calls
  src/coreclr/jit/fgbasic.cpp
Labels: area-CodeGen-coreclr

#58701 Fix HAVE_PTHREAD_CONDATTR_SETCLOCK detection on Android
  src/libraries/Native/Unix/configure.cmake
Labels: area-System.Threading

#58377 Remove conditional compilation conditions that are no longer possible
  src/libraries/Common/src/Internal/Cryptography/AsymmetricAlgorithmHelpers.Hash.cs
  src/libraries/Common/src/Internal/Cryptography/UniversalCryptoDecryptor.cs
  src/libraries/Common/src/Internal/Cryptography/UniversalCryptoEncryptor.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanDerivation.cs
Labels: area-System.Security, community-contribution

#56973 Remove Reflection.Emit packages from the Windows Compatibility Pack on frameworks greater than .NET Standard 2.0.
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
Labels: area-Infrastructure-libraries, community-contribution

#56239 Fixed paths above repo root level (#55628)
  src/tests/run.cmd
Labels: area-Infrastructure-coreclr

#58711 PosixSignalRegistrationTests.Unix: validate signal pal mapping
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/PosixSignalRegistrationTests.Unix.cs
Labels: area-System.Runtime.InteropServices

#58595 Add threading test for Regex
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#58755 Revert "Fix HAVE_PTHREAD_CONDATTR_SETCLOCK detection on Android"
  src/libraries/Native/Unix/configure.cmake
Labels: area-Infrastructure-libraries

#58731 Avoid S.S.Permissions dependency in S.S.Crypto.Xml
  eng/Versions.props
  src/libraries/System.Security.AccessControl/ref/System.Security.AccessControl.Evidence.cs
  src/libraries/System.Security.AccessControl/ref/System.Security.AccessControl.cs
  src/libraries/System.Security.AccessControl/ref/System.Security.AccessControl.csproj
  src/libraries/System.Security.Cryptography.Xml/ref/System.Security.Cryptography.Xml.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
  src/libraries/System.Security.Permissions/ref/System.Security.Permissions.Forwards.cs
  src/libraries/System.Security.Permissions/ref/System.Security.Permissions.csproj
  src/libraries/System.Security.Permissions/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Permissions/src/System.Security.Permissions.csproj
Labels: area-Infrastructure-libraries

#58646 Add support for variance to IDIC
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/DynamicInterfaceCastableHelpers.cs
  src/tests/Interop/IDynamicInterfaceCastable/Program.cs
Labels: area-Interop-coreclr

#58448 Support duplicated type names with src gen
  src/libraries/Common/src/Roslyn/GetBestTypeByMetadataName.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/Reflection/MetadataLoadContextInternal.cs
  src/libraries/System.Text.Json/gen/Reflection/RoslynExtensions.cs
  src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorTests.cs
Labels: area-System.Text.Json

#58677 Skip allocation for ZeroInit writeThru intervals
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#58596 Remove unused test libraries under classloader
  src/tests/Loader/classloader/PrivateInterfaceImpl/Test2_NonFriendPriInterface.cs
  src/tests/Loader/classloader/PrivateInterfaceImpl/Test2_NonFriendPriInterface.il
  src/tests/Loader/classloader/PrivateInterfaceImpl/Test2_NonFriendPriInterface.ilproj
  src/tests/Loader/classloader/generics/GenericMethods/VarargTypes.il
  src/tests/Loader/classloader/generics/GenericMethods/VarargTypes.ilproj
  src/tests/Loader/classloader/generics/Instantiation/Negative/T_Types.il
  src/tests/Loader/classloader/generics/Instantiation/Negative/T_Types.ilproj
  src/tests/Loader/classloader/generics/Instantiation/Positive/Types.il
  src/tests/Loader/classloader/generics/Instantiation/Positive/Types.ilproj
  src/tests/Loader/classloader/generics/Misc/Classes.cs
  src/tests/Loader/classloader/generics/Misc/Classes.csproj
  src/tests/Loader/classloader/generics/Variance/IL/VarInterfaceLib.il
  src/tests/Loader/classloader/generics/Variance/IL/VarInterfaceLib.ilproj
  src/tests/Loader/classloader/generics/Visibility/A_Types.cs
  src/tests/Loader/classloader/generics/Visibility/A_Types.il
  src/tests/Loader/classloader/generics/Visibility/A_Types.ilproj
  src/tests/Loader/classloader/generics/Visibility/B_Types.cs
  src/tests/Loader/classloader/generics/Visibility/B_Types.il
  src/tests/Loader/classloader/generics/Visibility/B_Types.ilproj
  src/tests/Loader/classloader/nesting/Tests/nesting88.il
  src/tests/Loader/classloader/nesting/Tests/nesting88.ilproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-1-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-1-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-10-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-10-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-11-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-11-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-12-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-12-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-2-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-2-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-5-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-5-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-6-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-6-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-7-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-7-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-8-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-8-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-9-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-1-9-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-10-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-10-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-11-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-12-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-12-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-5-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-5-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-6-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-6-2D.cs
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-9-2.csproj
  src/tests/Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-9-2D.cs
  src/tests/Loader/classloader/v1/M10/Relocation/IL/IL_DLL.il
  src/tests/Loader/classloader/v1/M10/Relocation/IL/IL_DLL.ilproj
Labels: area-AssemblyLoader-coreclr

#56812 Fix PerfScore inconcistencies
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#58630 Switch weights to doubles to mitigate rounding inaccuracies and use epsilon when sorting locals
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jit.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/regalloc.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/utils.h
Labels: area-CodeGen-coreclr

#58669 Retarget DOTNETHOME when installing x64 on ARM64
  src/installer/pkg/sfx/installers/host.wxs
Labels: area-Infrastructure-installer

#58778 Fix JitDump crash
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#57300 Update both TPN files with missing notices
  THIRD-PARTY-NOTICES.TXT
  src/installer/pkg/THIRD-PARTY-NOTICES.TXT
Labels: area-Setup, community-contribution

#58763 [release/6.0] Change namespace of embedded Cecil in ILStrip task
  eng/Version.Details.xml
  eng/Versions.props
  src/tasks/ILStripTask/ILStrip.cs
Labels: area-Infrastructure

#58764 Change namespace of embedded Cecil in ILStrip task
  eng/Version.Details.xml
  eng/Versions.props
  src/tasks/ILStripTask/ILStrip.cs
Labels: area-Infrastructure

#58548 Send RST_STREAM instead EOF when sending request body is cancelled
  src/libraries/Common/tests/System/Net/Http/Http2LoopbackConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
Labels: area-System.Net.Http

#57855 Add documentation to System.Net
  src/libraries/System.Net.Http/src/System/Net/Http/HeaderEncodingSelector.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NegotiateStream.cs
Labels: area-System.Net.Http, community-contribution

#58804 Revert "[main] Update dependencies from 9 repositories"
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-Infrastructure-libraries

#58793 Use `BitOperations.Log2` in SortedSet.
  src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.cs
Labels: area-System.Collections, community-contribution

#58808 Update dependencies from https://github.com/dotnet/arcade build 20210907.3
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-Infrastructure-libraries

#58462 More cleanups in Assembly/Loader/Binder area
  src/coreclr/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/coreclr/binder/assemblybindercommon.cpp
  src/coreclr/binder/bindertracing.cpp
  src/coreclr/binder/customassemblybinder.cpp
  src/coreclr/binder/defaultassemblybinder.cpp
  src/coreclr/binder/inc/assemblybindercommon.hpp
  src/coreclr/binder/inc/customassemblybinder.h
  src/coreclr/binder/inc/defaultassemblybinder.h
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/appdomainnative.cpp
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/assemblybinder.cpp
  src/coreclr/vm/assemblybinder.h
  src/coreclr/vm/assemblyloadcontext.cpp
  src/coreclr/vm/assemblyloadcontext.h
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/assemblynative.hpp
  src/coreclr/vm/assemblyspec.cpp
  src/coreclr/vm/assemblyspec.hpp
  src/coreclr/vm/assemblyspecbase.h
  src/coreclr/vm/baseassemblyspec.h
  src/coreclr/vm/baseassemblyspec.inl
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/common.h
  src/coreclr/vm/coreassemblyspec.cpp
  src/coreclr/vm/corebindresult.cpp
  src/coreclr/vm/coreclr/corebindresult.h
  src/coreclr/vm/coreclr/corebindresult.inl
  src/coreclr/vm/corhost.cpp
  src/coreclr/vm/multicorejit.cpp
  src/coreclr/vm/multicorejit.h
  src/coreclr/vm/multicorejitimpl.h
  src/coreclr/vm/multicorejitplayer.cpp
  src/coreclr/vm/nativeimage.cpp
  src/coreclr/vm/nativeimage.h
  src/coreclr/vm/nativelibrary.cpp
  src/coreclr/vm/object.h
  src/coreclr/vm/pefile.cpp
  src/coreclr/vm/pefile.h
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/typeparse.cpp
  src/coreclr/vm/typeparse.h
  src/coreclr/vm/typestring.h
Labels: area-AssemblyLoader-coreclr

#58736 Fix Windows 8 detection.
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/Pbkdf2Implementation.Windows.cs
Labels: area-System.Security

#58760 Update branding for 5.0.11
  eng/Versions.props
  src/libraries/libraries-packages.proj
Labels: area-Infrastructure-libraries

#58774 Add explicit APIs to Double/Single/Half/TimeOnly
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Private.CoreLib/src/System/TimeOnly.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, blocking-release

#58791 Deallocate resources for DacDbiArrayList with a matching deallocator
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/di/rspriv.h
  src/coreclr/debug/inc/dacdbiinterface.h
  src/coreclr/debug/inc/dacdbistructures.inl
Labels: area-Diagnostics-coreclr

#58570 add W11 test queue
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/EventLogRecordTests.cs
  src/libraries/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/ProviderMetadataTests.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
Labels: area-Infrastructure

#58820 Fix incorrect SIMD temp allocation for Vector256 with AVX2 disabled
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/simd.cpp
Labels: area-CodeGen-coreclr

#58410 Fix zero initialization use of "initReg"
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#58475 Remove dead code
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/target.h
  src/coreclr/jit/unwindarm64.cpp
  src/coreclr/jit/utils.cpp
Labels: area-CodeGen-coreclr

#58720 Always write sample events in EventPipe based on sample frequency.
  src/mono/mono/eventpipe/ep-rt-mono.c
Labels: area-Tracing-mono

#58815 Fix reporting of live var ranges after callf+always pairs
  src/coreclr/jit/lsra.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_57752/Runtime_57752_1.cs
  src/tests/JIT/Regression/JitBlue/Runtime_57752/Runtime_57752_1.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_57752/Runtime_57752_2.cs
  src/tests/JIT/Regression/JitBlue/Runtime_57752/Runtime_57752_2.csproj
Labels: area-CodeGen-coreclr

#58796 Fix x86 EH for UnmanagedCallersOnly methods
  src/coreclr/vm/stackwalk.cpp
Labels: area-ExceptionHandling-coreclr

#58730 [wasm] WebSocket perf test
  src/libraries/System.Net.WebSockets.Client/tests/wasm/BrowserTimerThrottlingTest.cs
  src/mono/sample/wasm/Directory.Build.props
  src/mono/sample/wasm/browser-bench/BenchTask.cs
  src/mono/sample/wasm/browser-bench/Program.cs
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.sln
  src/mono/sample/wasm/browser-bench/WebSocket.cs
  src/mono/sample/wasm/browser-bench/index.html
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#58830 [build] Bump XHarness version
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure

#58745 System.Net.Ping: Skip TimeoutIsRespected test if network is unreachable
  src/libraries/System.Net.Ping/tests/FunctionalTests/UnixPingUtilityTests.cs
Labels: area-System.Net

#58206 [MonoVM] Report original DLL name when P/Invoke lookup fails
  src/mono/mono/metadata/native-library.c
Labels: area-AssemblyLoader-mono

#57292 Use XHarnessApkToTest to create helix work items for runtime tests when running on Android
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-Infrastructure

#58594 only cache credentials on success
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
Labels: area-System.Net.Security

#58771 Consider finally that jumps to itself as non-empty
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#58807 Change PKCS12 password to assist with credscan
  src/libraries/System.Security.Cryptography.Xml/tests/TestHelpers.cs
Labels: area-System.Security, test enhancement, community-contribution

#58843 Port fixes for perf pipeline from main branch
  eng/pipelines/coreclr/templates/build-perf-sample-apps.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  src/mono/sample/iOS/Makefile
  src/mono/sample/iOS/Program.csproj
Labels: area-Infrastructure-coreclr

#57885 Request fewer threads in the thread pool
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolWorkQueue.cs
Labels: area-System.Threading

#58834 Ignore the DuplicateExtension status from macOS 12.
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c
Labels: area-System.Security, community-contribution

#58417 Add linker flags to add fixup data to PDBs
  eng/native/configurecompiler.cmake
Labels: Servicing-approved, area-Infrastructure-coreclr

#58728 [wasm][debugger] Fix pause on exception behavior
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ExceptionTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-exception-test.cs
Labels: area-Debugger-mono

#58844 Fix publishing symbols for `dotnet` and `hostpolicy`
  src/installer/pkg/projects/Directory.Build.targets
Labels: area-Host

#58871 Skip dead conditions in eventpipe srcgen
  src/coreclr/scripts/genEventPipe.py
  src/coreclr/scripts/genLttngProvider.py
Labels: area-Tracing-coreclr, community-contribution

#58641 Don't force using the system libunwind for source-build
  eng/SourceBuild.props
Labels: area-Infrastructure, community-contribution

#58825 [tasks] [net472] Add ProjectReferences to JsonToItemsTaskFactory
  src/tasks/JsonToItemsTaskFactory/JsonToItemsTaskFactory.csproj
Labels: area-Build-mono

#58885 Add delete operator in Crst class
  eng/native/configurecompiler.cmake
  src/coreclr/vm/crst.h
Labels: area-VM-coreclr, community-contribution

#58875 Add typeparam docs to interpolated string handler AppendFormatted methods
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Debug.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/DefaultInterpolatedStringHandler.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
Labels: area-System.Runtime

#58836 Increment source generator assembly versions with every build
  src/libraries/Directory.Build.props
Labels: area-Infrastructure-libraries

#58900 [wasm] fix local build for NetCoreServer and RemoteLoopServer
  src/libraries/Common/tests/System/Net/Prerequisites/LocalEchoServer.props
Labels: arch-wasm, area-System.Net

#58896 documentation for HttpRequestOptions
  src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestOptions.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestOptionsKey.cs
Labels: area-System.Net.Http

#58592 Address Windows recommendations for Link APIs
  src/libraries/Common/src/System/IO/PathInternal.Windows.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.FileSystem.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.FileSystemInfo.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/Junctions.Windows.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs
Labels: area-System.IO

#58914 Fix SIMD temp register interference
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#58558 Simplify .NETFramework tfms
  docs/coding-guidelines/libraries-packaging.md
  docs/coding-guidelines/project-guidelines.md
  eng/packaging.targets
  src/libraries/Microsoft.VisualBasic.Core/tests/Microsoft.VisualBasic.Core.Tests.csproj
  src/libraries/Microsoft.Win32.Registry.AccessControl/src/Microsoft.Win32.Registry.AccessControl.csproj
  src/libraries/Microsoft.Win32.Registry.AccessControl/tests/Microsoft.Win32.Registry.AccessControl.Tests.csproj
  src/libraries/System.Data.Odbc/tests/System.Data.Odbc.Tests.csproj
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Data.OleDb/tests/System.Data.OleDb.Tests.csproj
  src/libraries/System.IO.Packaging/tests/System.IO.Packaging.Tests.csproj
  src/libraries/System.IO.Ports/src/System.IO.Ports.csproj
  src/libraries/System.IO.Ports/tests/System.IO.Ports.Tests.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/System.Net.Http.WinHttpHandler.Functional.Tests.csproj
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching.Tests.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
  src/libraries/System.Security.Cryptography.ProtectedData/src/System.Security.Cryptography.ProtectedData.csproj
  src/libraries/System.Security.Cryptography.ProtectedData/tests/System.Security.Cryptography.ProtectedData.Tests.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/libraries/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/System.ServiceProcess.ServiceController.TestService.csproj
  src/libraries/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.Tests.csproj
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Text.Encoding.CodePages/tests/System.Text.Encoding.CodePages.Tests.csproj
  src/libraries/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
  src/libraries/System.Threading.AccessControl/tests/System.Threading.AccessControl.Tests.csproj
  src/libraries/testPackages/build/packageTest.targets
Labels: area-Infrastructure-libraries

#57726 Enable global constant propagation for small types
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/utils.h
Labels: area-CodeGen-coreclr, community-contribution

#58868 Use separate VNs for DBL2INT_OVF helpers
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
  src/tests/JIT/Regression/JitBlue/Runtime_58832/Runtime_58832.cs
  src/tests/JIT/Regression/JitBlue/Runtime_58832/Runtime_58832.csproj
Labels: area-CodeGen-coreclr

#58802 [mono] Remove MonoAssemblyContextKind MONO_ASMCTX_ enum
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/assembly-internals.h
  src/mono/mono/metadata/assembly-load-context.c
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/coree.c
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/image-internals.h
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/reflection.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/interp/whitebox.c
  src/mono/mono/mini/monovm.c
Labels: area-AssemblyLoader-mono

#58775 Throw on unsupported types in src gen
  src/libraries/System.Text.Json/gen/ClassType.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UnsupportedTypeConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UnsupportedTypeConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/tests/Common/UnsupportedTypesTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/RealWorldContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/UnsupportedTypesTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/TestClasses.CustomConverters.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ExceptionTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/UnsupportedTypesTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, new-api-needs-documentation

#58901 Fix Type.GetTypeFromHandle nullable annotation
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/coreclr/System.Private.CoreLib/src/System/Type.CoreCLR.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonXmlDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerReadContext.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerReadContextComplex.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerWriteContext.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerWriteContextComplex.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/System.Private.CoreLib/src/Mono/RuntimeHandles.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/DynamicILInfo.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/mono/System.Private.CoreLib/src/System/Type.Mono.cs
Labels: area-System.Reflection, new-api-needs-documentation

#58694 Fix minor typo in inline comments in Decimal.cs
  src/libraries/System.Private.CoreLib/src/System/Decimal.cs
Labels: area-System.Runtime

#58929 [release/6.0] Enhance CrossGen2 to emit PerfMap debug directory entry
  src/coreclr/tools/aot/ILCompiler.Diagnostics/PerfMapWriter.cs
  src/coreclr/tools/aot/ILCompiler.Diagnostics/ReadyToRunDiagnosticsConstants.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/CodeGen/ReadyToRunObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugDirectoryEntryNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugDirectoryNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/SymbolFileBuilder.cs
  src/coreclr/tools/r2rdump/R2RDump.cs
Labels: area-crossgen2-coreclr

#58891 [release/6.0] Add info about .NET 6 compatibility with Intel CET shadow stacks and how to try it
  docs/design/features/images/intel-cet-dotnet6-fig1.png
  docs/design/features/intel-cet-dotnet6.md
Labels: documentation, area-VM-coreclr

#58934 Fix an issue with ILStripping mscorlib.dll
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure-mono

#58918 Fix race during cancellation of SoundPlayer.Load() due to timeout
  src/libraries/System.Windows.Extensions/src/System/Media/SoundPlayer.cs
  src/libraries/System.Windows.Extensions/tests/System/Media/SoundPlayerTests.cs
Labels: area-Microsoft.Win32

#58589 Add cast when replacing promoted struct with field in lowering
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_58373/Runtime_58373_1.cs
  src/tests/JIT/Regression/JitBlue/Runtime_58373/Runtime_58373_1.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_58373/Runtime_58373_2.cs
  src/tests/JIT/Regression/JitBlue/Runtime_58373/Runtime_58373_2.csproj
Labels: area-CodeGen-coreclr

#58846 Enable more iOS/tvOS device tests
  eng/pipelines/runtime-staging.yml
  eng/testing/tests.mobile.targets
  src/libraries/System.Collections.Immutable/tests/ImmutableListTest.cs
  src/libraries/System.Collections/tests/Generic/Comparers/Comparer.Tests.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#58935 [release/6.0] Fix an issue with ILStripping mscorlib.dll
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure-mono

#58183 #58181 Fix NullReferenceException in crossgen2.
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
Labels: area-crossgen2-coreclr, community-contribution

#58921 JIT: fix VN loop dependence when VN reaches budget limit
  src/coreclr/jit/optimizer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_58877/Runtime_58877.cs
  src/tests/JIT/Regression/JitBlue/Runtime_58877/Runtime_58877.csproj
Labels: area-CodeGen-coreclr

#58948 Fix unloadability issue in AppDomain::FindAssembly
  src/coreclr/vm/appdomain.cpp
Labels: area-VM-coreclr

#58915 Fix Unix ARM floating point registers unwinding
  src/coreclr/pal/src/exception/seh-unwind.cpp
  src/coreclr/pal/src/libunwind/include/libunwind-arm.h
  src/coreclr/pal/src/libunwind/src/arm/Gex_tables.c
  src/coreclr/pal/src/libunwind/src/arm/Gget_save_loc.c
  src/coreclr/pal/src/libunwind/src/arm/Ginit.c
  src/coreclr/pal/src/libunwind/src/arm/Gregs.c
  src/coreclr/pal/src/libunwind/src/arm/init.h
  src/tests/JIT/IL_Conformance/Convert/TestConvertFromIntegral.csproj
Labels: area-PAL-coreclr

#58803 Coalesce live var ranges right before reporting
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr

#58552 Add perfmap debug directory entry to crossgen2 output as needed
  docs/design/coreclr/botr/r2r-perfmap-format.md
  docs/design/coreclr/botr/readytorun-format.md
  docs/design/specs/PE-COFF.md
  src/coreclr/crossgen-corelib.proj
  src/coreclr/tools/aot/ILCompiler.Diagnostics/PerfMapWriter.cs
  src/coreclr/tools/aot/ILCompiler.Diagnostics/ReadyToRunDiagnosticsConstants.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/CodeGen/ReadyToRunObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugDirectoryEntryNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugDirectoryNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/SymbolFileBuilder.cs
  src/coreclr/tools/r2rdump/R2RDump.cs
Labels: area-crossgen2-coreclr

#58953 Resolve overload ambiguities from lambda expression inference change
  src/libraries/System.Linq.Parallel/tests/QueryOperators/AggregateTests.cs
Labels: area-System.Linq.Parallel
