Repository dotnet/runtime, pull requests merged in 2021-11, with the labels that each got.

#61006 JIT: Disable implicit tailcalls for throwhelpers
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#60873 [wasm][debugger] Fix debugging blazor app after ts changes.
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/runtime/debug.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/modules.ts
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/tsconfig.json
Labels: * NO MERGE *, arch-wasm, area-Debugger-mono

#60863 Fix for #60340
  src/mono/wasm/debugger/BrowserDebugProxy/EvaluateExpression.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MemberReferenceResolver.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: arch-wasm, area-Debugger-mono

#60995 Fix various dump generation issues for VS4Mac
  src/coreclr/debug/createdump/crashreportwriter.cpp
  src/coreclr/debug/dbgutil/machoreader.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/vm/eventing/eventpipe/ds-rt-coreclr.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/gcenv.ee.cpp
  src/mono/mono/eventpipe/ds-rt-mono.h
  src/native/eventpipe/ds-dump-protocol.c
  src/native/eventpipe/ds-dump-protocol.h
  src/native/eventpipe/ds-rt.h
  src/native/eventpipe/ds-types.h
Labels: area-Diagnostics-coreclr

#59880 Consume PosixSignal in Hosting.Systemd's SystemdLifetime
  src/libraries/Microsoft.Extensions.Hosting.Systemd/Directory.Build.props
  src/libraries/Microsoft.Extensions.Hosting.Systemd/Microsoft.Extensions.Hosting.Systemd.sln
  src/libraries/Microsoft.Extensions.Hosting.Systemd/ref/Microsoft.Extensions.Hosting.Systemd.cs
  src/libraries/Microsoft.Extensions.Hosting.Systemd/ref/Microsoft.Extensions.Hosting.Systemd.csproj
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/Microsoft.Extensions.Hosting.Systemd.csproj
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdHostBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdLifetime.cs
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdLifetime.netcoreapp.cs
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdLifetime.netstandard.cs
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdNotifier.cs
Labels: area-Extensions-Hosting

#60246 Updating named mutex design docs
  src/coreclr/pal/src/include/pal/mutex.hpp
Labels: area-PAL-coreclr, community-contribution

#61021 support loading versioned libmsquic
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
Labels: area-System.Net.Quic

#61024 Delete duplicate test projects
  src/tests/JIT/Methodical/Boxing/xlang/_odbgsin_il_cs.ilproj
  src/tests/JIT/Methodical/Boxing/xlang/_odbgsin_il_il.ilproj
  src/tests/JIT/Methodical/Boxing/xlang/_orelsin_il_cs.ilproj
  src/tests/JIT/Methodical/Boxing/xlang/_orelsin_il_il.ilproj
  src/tests/JIT/Methodical/Invoke/thiscall/_speed_dbgthisnull.ilproj
  src/tests/JIT/Methodical/Invoke/thiscall/_speed_relthisnull.ilproj
  src/tests/JIT/Regression/VS-ia64-JIT/V1.2-M02/b14368/b14368.ilproj
  src/tests/JIT/Regression/VS-ia64-JIT/V1.2-M02/b14368/bug4.il
  src/tests/JIT/jit64/opt/cg/il/jmp_opt.ilproj
  src/tests/JIT/jit64/opt/cg/il/ldftn_opt.ilproj
  src/tests/JIT/jit64/regress/vsw/575343/test.il
  src/tests/JIT/jit64/regress/vsw/575343/test.ilproj
  src/tests/JIT/jit64/regress/vsw/575343/test2.il
  src/tests/JIT/jit64/regress/vsw/575343/test2.ilproj
  src/tests/Loader/classloader/TypeInitialization/CoreCLR/CctorThrowStaticFieldBFI.il
  src/tests/Loader/classloader/TypeInitialization/CoreCLR/CctorThrowStaticFieldBFI.ilproj
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Lib.il
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Lib.ilproj
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Lib2.il
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Lib2.ilproj
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Method001.cs
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Method001.csproj
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Method003.cs
  src/tests/Loader/classloader/generics/Variance/CoreCLR/Method003.csproj
  src/tests/Loader/classloader/nesting/coreclr/nesting4.il
  src/tests/Loader/classloader/nesting/coreclr/nesting4.ilproj
Labels: area-Infrastructure-coreclr

#61057 Fix 60597 by using genActualType
  src/coreclr/jit/morph.cpp
  src/tests/JIT/CodeGenBringUpTests/CastThenBinop.cs
Labels: area-CodeGen-coreclr

#57561 Validate CompressionLevel value is defined in BrotliStream ctor
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliUtils.cs
  src/libraries/System.IO.Compression.Brotli/tests/CompressionStreamUnitTests.Brotli.cs
Labels: area-System.IO.Compression, breaking-change, needs-breaking-change-doc-created, community-contribution

#60817 Add linux x86 build CI for pull request
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/runtime.yml
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/i386/virtualcallstubcpu.hpp
Labels: * NO MERGE *, community-contribution

#61068 Add Maui iOS and MacCatalyst build steps
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/templates/build-perf-maui-apps.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/testing/performance/ios_scenarios.proj
  eng/testing/performance/performance-setup.ps1
  src/tests/Common/maui/MauiScenario.targets
Labels: area-Infrastructure-coreclr

#60988 disable sending NT Authority in TLS handshake if specific trust was specified
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslSessionsCache.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: area-System.Net.Security

#61035 [arm64] JIT: Fix IsContainableImmed for arm64 v8.1 or higher
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#60999 Fix typo in profiler method
  src/coreclr/inc/corprof.idl
  src/coreclr/pal/prebuilt/inc/corprof.h
  src/coreclr/vm/eetoprofinterfaceimpl.cpp
  src/coreclr/vm/eetoprofinterfaceimpl.h
  src/coreclr/vm/profilinghelper.cpp
  src/tests/profiler/native/multiple/multiple.cpp
  src/tests/profiler/native/multiple/multiple.h
  src/tests/profiler/native/profiler.cpp
  src/tests/profiler/native/profiler.h
Labels: area-Diagnostics-coreclr

#61034 Some VN refactoring
  src/coreclr/jit/compiler.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#61090 Temporarily disable scaled index on arm64
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr

#61069 revert 58594 CacheCredential change
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
Labels: area-System.Net.Security

#61070 Avoid bogus cred scanning hits
  src/libraries/System.Text.RegularExpressions/tests/RegexExperiment.cs
Labels: area-System.Text.RegularExpressions

#60675 Fix gcc warnings during mono linux-x64 build
  src/coreclr/pal/src/thread/process.cpp
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Globalization.Native/pal_collation.c
  src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c
  src/mono/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/cmake/configure.cmake
  src/mono/cmake/defines-todo.cmake
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/component/debugger-engine.c
  src/mono/mono/component/event_pipe.c
  src/mono/mono/component/hot_reload.c
  src/mono/mono/eglib/gmarkup.c
  src/mono/mono/eglib/gstr.c
  src/mono/mono/eventpipe/ds-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/metadata/components.c
  src/mono/mono/metadata/components.h
  src/mono/mono/metadata/custom-attrs.c
  src/mono/mono/metadata/gc.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/sre-encode.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/metadata/threads.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/calls.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/ir-emit.h
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-trampolines.c
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/sgen/sgen-hash-table.c
  src/mono/mono/utils/mono-hwcap-vars.h
  src/mono/mono/utils/mono-proclib.c
  src/native/eventpipe/ds-ipc-pal-socket.c
  src/native/eventpipe/ep-config.h
  src/native/eventpipe/ep-event-source.h
  src/native/eventpipe/ep-sample-profiler.c
  src/native/eventpipe/ep.h
Labels: community-contribution

#60842 Throwing `FormatException` when a required property from `Microsoft.Extensions.DependencyModel` is empy
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextJsonReader.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.DependencyModel/tests/DependencyContextJsonReaderTest.cs
Labels: area-DependencyModel, community-contribution

#60798 Removed two unused packages from .vsconfig
  .vsconfig
  docs/workflow/requirements/windows-requirements.md
Labels: area-Meta, community-contribution

#61037 [arm64] JIT: Fold "A * B + C" to MADD/MSUB
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#60701 [wasm] Re-enable source generator tests failing due to OOM
  eng/testing/WasmRunnerAOTTemplate.sh
  eng/testing/tests.targets
  eng/testing/tests.wasm.targets
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Microsoft.Extensions.Logging.Generators.Roslyn3.11.Tests.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Microsoft.Extensions.Logging.Generators.Roslyn4.0.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/System.Text.Json.SourceGeneration.Roslyn3.11.Unit.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/System.Text.Json.SourceGeneration.Roslyn4.0.Unit.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/TypeWrapperTests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexCultureTests.cs
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Generators.Tests/System.Text.RegularExpressions.Generators.Tests.csproj
  src/libraries/tests.proj
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
  src/mono/wasm/build/WasmApp.Native.targets
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: arch-wasm, area-Build-mono

#61101 Disable couple of randomly failing PerformanceCounter tests
  src/libraries/System.Diagnostics.PerformanceCounter/tests/PerformanceCounterCategoryTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/PerformanceCounterTests.cs
Labels: area-System.Diagnostics.Tracing

#61102 [wasm] Disable failing System.Security.Cryptography tests due to http…
  src/libraries/System.Security.Cryptography/tests/CryptoConfigTests.cs
  src/libraries/System.Security.Cryptography/tests/HashAlgorithmTest.cs
Labels: arch-wasm, area-System.Security

#53645 Fix: Incorrect order of checks for TypeBuilder `GetConstructor` and `GetField` method
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/libraries/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderGetConstructor.cs
  src/libraries/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderGetField.cs
  src/libraries/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderGetMethod.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
Labels: area-System.Reflection, community-contribution

#61108 Switch to run only smoke tests per PR for apple mobile configurations
  eng/pipelines/runtime-staging.yml
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#61118 Add back SoD Blazor Pizza Aot test
  eng/testing/performance/blazor_perf.proj
Labels: area-Infrastructure-libraries

#61066 Fix refcount when a composite r2r image is loaded from a bundle
  src/coreclr/vm/nativeimage.cpp
Labels: area-Single-File

#61129 Remove dead code in jit
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/instr.cpp
Labels: area-CodeGen-coreclr

#61130 [DllImportGenerator] Switch away from setting CallingConvention field on GeneratedDllImport
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ConvertSdToStringSd.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ConvertStringSdToSd.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.SetSecurityInfoByHandle.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.SetSecurityInfoByName.cs
  src/libraries/System.IO.FileSystem.AccessControl/src/System.IO.FileSystem.AccessControl.csproj
  src/libraries/System.Security.AccessControl/src/System.Security.AccessControl.csproj
Labels: area-System.Runtime.InteropServices

#61064 Add TFM and version support query to marshaller interface.
  docs/design/libraries/DllImportGenerator/Compatibility.md
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Comparers.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportStubContext.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/PInvokeStubCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Resources.Designer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Resources.resx
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ArrayMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/BlittableMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/BoolMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CharMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ConditionalStackallocMarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CustomNativeTypeMarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/DelegateMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/Forwarder.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/HResultExceptionMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/PinnableManagedValueMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/SafeHandleMarshaller.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/AdditionalAttributesOnStub.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Diagnostics.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/TestUtils.cs
Labels: area-System.Runtime.InteropServices, source-generator

#61072 [wasm] simplify startup configuration
  eng/pipelines/runtime.yml
  src/mono/sample/mbr/browser/runtime.js
  src/mono/sample/wasm/browser-bench/runtime.js
  src/mono/sample/wasm/browser-profile/runtime.js
  src/mono/sample/wasm/browser/runtime.js
  src/mono/wasm/debugger/tests/debugger-test/runtime-debugger.js
  src/mono/wasm/runtime-test.js
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/runtime/types/emscripten.d.ts
  src/tests/FunctionalTests/WebAssembly/Browser/HotReload/runtime.js
  src/tests/FunctionalTests/WebAssembly/Browser/RuntimeConfig/runtime.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#61110 Skip sys/sysctl.h on linux in mono
  src/libraries/Native/Unix/CMakeLists.txt
  src/mono/cmake/configure.cmake
Labels: area-Build-mono, community-contribution

#61143 [wasm][debugger]Add hidden attribute support
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
Labels: arch-wasm, area-Debugger-mono

#61114 Credential fixes
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Authentication.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.RemoteServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
Labels: area-System.Net

#61091 Fix invalid optimization of (-1 * -A) + A
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_61077/Runtime_61077.cs
  src/tests/JIT/Regression/JitBlue/Runtime_61077/Runtime_61077.csproj
Labels: area-CodeGen-coreclr

#59589 Remove _validator field from ObjectCollection
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/CacheControlHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/ContentDispositionHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/MediaTypeHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/MediaTypeWithQualityHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/NameValueHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/NameValueWithParametersHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/ObjectCollection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/RangeHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/TransferCodingHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/TransferCodingWithQualityHeaderValue.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/HeaderUtilitiesTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/ObjectCollectionTest.cs
Labels: area-System.Net.Http, community-contribution

#60256 Update SDK to 6.0 RC2
  eng/build.ps1
  eng/build.sh
  global.json
  src/installer/tests/HostActivation.Tests/NativeHosting/Nethost.cs
Labels: area-Infrastructure

#61023 JIT: limited version of forward substitution for some relops
  src/coreclr/jit/compiler.h
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#61010 make System.Security.Cryptography.X509Certificates compliant with interop guidelines - part 2
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CRYPT_KEY_PROV_INFO_ANSI.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertAddCertificateContextToStore.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertAddCertificateLinkToStore_CertStoreAddDisposition.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertDuplicateCertificateChain.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertDuplicateCertificateContextWithKeyContainerDeletion.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertDuplicateStore.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertEnumCertificatesInStore_SafeCertStoreHandle.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertGetCertificateContextPropertyString.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertGetNameString.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertNameFlags.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertNameStringType.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertNameType.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertOpenStore_ENUM.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertSerializeCertificateStoreElement.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertSetCertificateContextProperty_CRYPT_KEY_PROV_INFO.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertSetCertificateContextProperty_DATA_BLOB.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertSetCertificateContextProperty_SafeNCryptKeyHandle.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertSetPropertyFlags.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertStoreAddDisposition.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertStoreFlags.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertStrToName.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CryptAcquireContextFlags.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CryptDecodeObjectFlags.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CryptDecodeObject_CertEncodingType.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CryptEncodeObject_CertEncodingType.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CryptMsgGetParam.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.PFXExportCertStore.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.PFXExportFlags.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.PFXImportCertStore.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.PfxCertStoreFlags.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeCertContextHandleWithKeyContainerDeletion.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.Import.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.PrivateKey.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/ChainPal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/FindPal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Helpers.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Interop.crypt32.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Interop.cryptoapi.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Primitives.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/SafeHandles.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/StorePal.Export.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/StorePal.Import.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/StorePal.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/X509Pal.X500DistinguishedName.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
Labels: area-System.Security, community-contribution

#60942 lock protect nullability cache of symbolic regex node
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/CharKind.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexExperiment.cs
Labels: area-System.Text.RegularExpressions

#61188 [DllImportGenerator] Fix stub generation for char array marshalling
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CharMarshaller.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.Tests/ArrayTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/Arrays.cs
Labels: area-System.Runtime.InteropServices

#61045 [arm64] JIT: Recognize sbfiz/ubfiz idioms
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/tests/JIT/opt/InstructionCombining/UbfizSbfiz.cs
  src/tests/JIT/opt/InstructionCombining/UbfizSbfiz.csproj
Labels: area-CodeGen-coreclr

#61189 Set IL offsets for calls created during devirtualization
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgstmt.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
Labels: area-CodeGen-coreclr

#61171 Fix Assertion failed 'ins == INS_add' for madd/msub
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/lowerarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_61037/Runtime_61037.cs
  src/tests/JIT/Regression/JitBlue/Runtime_61037/Runtime_61037.csproj
Labels: area-CodeGen-coreclr

#61165 Applied @marek-safar review to exit the loop once the condition is fulfilled.
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
Labels: arch-wasm, area-Debugger-mono

#61111 Update branding for 5.0.13
  eng/Versions.props
  src/libraries/libraries-packages.proj
Labels: area-Infrastructure-libraries

#57785 Change hosted pool
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: Servicing-approved, area-Infrastructure-libraries

#60414 [release/5.0] Add pull request template for 5.0 to point to the servicing docs
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: * NO MERGE *, area-Infrastructure-libraries

#61020 [mono][interp] Fix GetType called on ptr constrained to Nullable`
  src/mono/mono/mini/interp/transform.c
  src/tests/JIT/Directed/nullabletypes/gettype.cs
  src/tests/JIT/Directed/nullabletypes/gettype_d.csproj
  src/tests/JIT/Directed/nullabletypes/gettype_do.csproj
  src/tests/JIT/Directed/nullabletypes/gettype_r.csproj
  src/tests/JIT/Directed/nullabletypes/gettype_ro.csproj
Labels: area-Codegen-Interpreter-mono

#61142 improved BDD Unicode table representation in NonBacktracking engine
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/BDD.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/CharSetSolver.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/GeneratorHelper.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/IgnoreCaseRelation.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/IgnoreCaseRelationGenerator.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/IgnoreCaseTransformer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/UnicodeCategoryRanges.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/UnicodeCategoryRangesGenerator.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/UnicodeCategoryTheory.cs
Labels: area-System.Text.RegularExpressions

#61177 Use constant ids for RoArrayType GetMethodsCore
  src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/Methods/RoSyntheticMethod.cs
  src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/Types/RoArrayType.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/Type/TypeTests.cs
Labels: area-System.Reflection.Metadata

#61219 [DllImportGenerator] Use ElementMarshallingGeneratorFactory to create the marshalling generator for collection elements
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportStubContext.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
Labels: area-Interop-coreclr

#61137 Fold S.S.C.Encoding into new System.Security.Cryptography library
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Security.Cryptography.Encoding/System.Security.Cryptography.Encoding.sln
  src/libraries/System.Security.Cryptography.Encoding/ref/System.Security.Cryptography.Encoding.Forwards.cs
  src/libraries/System.Security.Cryptography.Encoding/ref/System.Security.Cryptography.Encoding.cs
  src/libraries/System.Security.Cryptography.Encoding/ref/System.Security.Cryptography.Encoding.csproj
  src/libraries/System.Security.Cryptography.Encoding/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
  src/libraries/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsnEncodedData.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsnEncodedDataCollection.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsnEncodedDataEnumerator.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsnFormatter.Managed.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsnFormatter.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsnFormatter.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsnFormatter.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Base64Transforms.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngAsnFormatter.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Oid.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidCollection.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidEnumerator.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidGroup.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidLookup.NoFallback.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidLookup.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidLookup.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidLookup.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OpenSslAsnFormatter.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/PemEncoding.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/PemFields.cs
  src/libraries/System.Security.Cryptography/tests/AsnEncodedDataCollectionTests.cs
  src/libraries/System.Security.Cryptography/tests/AsnEncodedDataTests.cs
  src/libraries/System.Security.Cryptography/tests/AsymmetricAlgorithm/Trivial.cs
  src/libraries/System.Security.Cryptography/tests/Base64TransformsTests.cs
  src/libraries/System.Security.Cryptography/tests/CryptoConfigTests.cs
  src/libraries/System.Security.Cryptography/tests/CryptoStream.cs
  src/libraries/System.Security.Cryptography/tests/CryptographicException.cs
  src/libraries/System.Security.Cryptography/tests/FixedTimeEqualsTests.cs
  src/libraries/System.Security.Cryptography/tests/HashAlgorithmNameTests.cs
  src/libraries/System.Security.Cryptography/tests/HashAlgorithmTest.cs
  src/libraries/System.Security.Cryptography/tests/HmacAlgorithmTest.cs
  src/libraries/System.Security.Cryptography/tests/KeyedHashAlgorithmTests.cs
  src/libraries/System.Security.Cryptography/tests/Length32Hash.cs
  src/libraries/System.Security.Cryptography/tests/OidCollectionTests.cs
  src/libraries/System.Security.Cryptography/tests/OidTests.cs
  src/libraries/System.Security.Cryptography/tests/PbeParametersTests.cs
  src/libraries/System.Security.Cryptography/tests/PemEncodingFindTests.cs
  src/libraries/System.Security.Cryptography/tests/PemEncodingTests.cs
  src/libraries/System.Security.Cryptography/tests/SimpleHashAlgorithmTest.cs
  src/libraries/System.Security.Cryptography/tests/Sum32Hash.cs
  src/libraries/System.Security.Cryptography/tests/SymmetricAlgorithm/Minimal.cs
  src/libraries/System.Security.Cryptography/tests/SymmetricAlgorithm/Trivial.cs
  src/libraries/System.Security.Cryptography/tests/SymmetricAlgorithmTests.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/ZeroMemoryTests.cs
Labels: area-System.Security

#61176 Update branding to 6.0.1
  eng/Versions.props
  eng/packaging.targets
  src/libraries/Microsoft.Internal.Runtime.AspNetCore.Transport/src/Microsoft.Internal.Runtime.AspNetCore.Transport.proj
  src/libraries/Microsoft.Internal.Runtime.WindowsDesktop.Transport/src/Microsoft.Internal.Runtime.WindowsDesktop.Transport.proj
Labels: area-Infrastructure-libraries

#61242 Fix the WASM Iterator test
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/JavaScriptTests.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#61222 JIT: Fold "shift-by-zero" in lower
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_61045/Runtime_61045.cs
  src/tests/JIT/Regression/JitBlue/Runtime_61045/Runtime_61045.csproj
Labels: area-CodeGen-coreclr

#61212 [wasm] Revert back to eval in wasm InvokeJS with modularization support .
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/MarshalTests.cs
  src/mono/wasm/runtime/method-calls.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#60890 Fix UnobservedTaskException from SemaphoreSlim.WaitAsync
  src/libraries/System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Threading/tests/SemaphoreSlimTests.cs
Labels: area-System.Threading.Tasks

#61191 JIT: don't bother with GDV for an abstract class
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#61229 Fix build options for native test lib to not enable avx-512
  src/tests/Interop/PInvoke/Generics/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#58932 1388 xml serializer assembly load context awareness
  src/libraries/Common/tests/System/Runtime/Serialization/Utils.cs
  src/libraries/System.Private.Xml/src/Resources/Strings.resx
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ContextAwareTables.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/ReflectionOnly/System.Xml.XmlSerializer.ReflectionOnly.Tests.csproj
  src/libraries/System.Private.Xml/tests/XmlSerializer/System.Xml.XmlSerializer.Tests.csproj
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTypes.cs
Labels: area-Serialization

#61199 fix unexpected TimeSeriesLimitReached after HistogramLimitReached(#60752)
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/AggregationManager.cs
Labels: area-System.Diagnostics.Tracing, community-contribution

#60673 [wasm] Add test for blazor/sdk fix for lazy loaded assemblies
  src/tests/BuildWasmApps/Wasm.Build.Tests/BlazorWasmBuildPublishTests.cs
Labels: arch-wasm

#61232 Simplify minterm generation in Regex NonBacktracking engine
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/BDDAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/BV64Algebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/BVAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/IBooleanAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/MintermGenerator.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexNode.cs
Labels: area-System.Text.RegularExpressions

#61184 Convert to OleDb assembly and last Cryptography DllImport to GeneratedDllImport
  eng/generators.targets
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CryptMsgGetParam.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetUserDefaultLCID.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.LocalAlloc.cs
  src/libraries/Common/src/Interop/Windows/Ole32/Interop.PropVariantClear.cs
  src/libraries/Common/src/Interop/Windows/OleAut32/Interop.SetErrorInfo.cs
  src/libraries/Common/src/Interop/Windows/OleAut32/Interop.SysAllocStringLen.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/System.Data.OleDb/src/DbPropSet.cs
  src/libraries/System.Data.OleDb/src/NativeMethods.cs
  src/libraries/System.Data.OleDb/src/OleDbError.cs
  src/libraries/System.Data.OleDb/src/PropertyInfoSet.cs
  src/libraries/System.Data.OleDb/src/RowBinding.cs
  src/libraries/System.Data.OleDb/src/SafeHandles.cs
  src/libraries/System.Data.OleDb/src/SafeNativeMethods.cs
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Data.OleDb/src/System/Data/ProviderBase/DbBuffer.cs
  src/libraries/System.Data.OleDb/src/System/Data/ProviderBase/DbConnectionPoolCounters.cs
  src/libraries/System.Data.OleDb/src/System/Data/ProviderBase/DbConnectionPoolIdentity.cs
  src/libraries/System.Data.OleDb/src/UnsafeNativeMethods.COMWrappers.cs
  src/libraries/System.Data.OleDb/src/UnsafeNativeMethods.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ArrayMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/HelpersWindows.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/Native/Interop.crypt32.cs
Labels: area-System.Data.OleDB

#61269 Update area-owners.md
  docs/area-owners.md
Labels: area-Meta

#59881 Implement `GT_AND_NOT` for ARM/ARM64
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lsraarm.cpp
  src/coreclr/jit/lsraarm64.cpp
Labels: area-CodeGen-coreclr, community-contribution

#61182 Remove BestFitMapping, CallingConvention, and ThrowOnUnmappableChar from GeneratedDllImportAttribute
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LookupPrivilegeValue.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegCreateKeyEx.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegDeleteKeyEx.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegDeleteValue.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegFlushKey.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegOpenKeyEx.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegSetValueEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetFullPathNameW.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetLongPathNameW.cs
  src/libraries/Common/src/System/Runtime/InteropServices/GeneratedDllImportAttribute.cs
  src/libraries/Microsoft.Win32.Registry/src/Microsoft.Win32.Registry.csproj
  src/libraries/Microsoft.Win32.Registry/tests/Microsoft.Win32.Registry.Tests.csproj
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/GeneratedDllImportData.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Compiles.cs
Labels: area-System.Runtime.InteropServices

#61272 use `GenTreeFlags` oftener for better debugging.
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#61208 Make JitPrintInlinedMethods less verbose
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#61258 ensure the AcceptSocket is cleared when AcceptAsync completes
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
Labels: area-System.Net.Sockets

#61267 Don't create a COM weak reference if the object is an aggregated COMWrappers RCW.
  src/coreclr/vm/interoplibinterface.h
  src/coreclr/vm/interoplibinterface_comwrappers.cpp
  src/coreclr/vm/weakreferencenative.cpp
  src/tests/Interop/COM/ComWrappers/WeakReference/WeakReferenceNative.cpp
  src/tests/Interop/COM/ComWrappers/WeakReference/WeakReferenceTest.cs
Labels: area-Interop-coreclr

#61286 Fix build failure due to conflicting PR merge
  src/tests/Interop/COM/ComWrappers/WeakReference/WeakReferenceTest.cs
Labels: area-Infrastructure-coreclr

#59799 [mono][interp] Implement tailcalls
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#59401 Clean up the documentation for the library testing
  docs/workflow/testing/libraries/testing-android.md
  docs/workflow/testing/libraries/testing-apple.md
  docs/workflow/testing/mono/testing.md
Labels: area-Infrastructure-libraries

#61209 Enable global constant propagation for `GT_LCL_FLD`
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr, community-contribution

#61113 Fix value numbering of field assignments
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr, community-contribution

#61292 Removing `m_hostAssemblyMap` and ceremony around it
  src/coreclr/binder/assembly.cpp
  src/coreclr/binder/inc/assembly.hpp
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/crsttypes.h
  src/coreclr/inc/shash.h
  src/coreclr/inc/shash.inl
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/domainfile.cpp
  src/coreclr/vm/domainfile.h
Labels: area-AssemblyLoader-coreclr, area-VM-coreclr

#61234 Type key hash tweaks.
  src/coreclr/vm/clsload.cpp
  src/coreclr/vm/dacenumerablehash.inl
  src/coreclr/vm/gdbjit.h
  src/coreclr/vm/pendingload.cpp
  src/coreclr/vm/pendingload.h
  src/coreclr/vm/typehash.cpp
  src/coreclr/vm/typehash.h
  src/coreclr/vm/typekey.h
Labels: area-TypeSystem-coreclr, area-VM-coreclr

#61193 Fix incorrect CCW decoding in GetObjectForCCW
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/dacimpl.h
  src/coreclr/debug/daccess/request.cpp
Labels: area-Diagnostics-coreclr

#60541 Remove sorting requirement for interface lists
  docs/design/specs/Ecma-335-Augments.md
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/MetadataBuilder.Tables.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/Ecma335/MetadataBuilderTests.cs
Labels: area-System.Reflection.Metadata

#61320 Fix: add missed open curly
  src/libraries/System.Private.CoreLib/src/System/Reflection/CustomAttributeTypedArgument.cs
  src/libraries/System.Runtime/tests/System/Reflection/CustomAttribute_Named_Typed_ArgumentTests.cs
Labels: area-System.Reflection, community-contribution

#61334 Fix format.py to use jit-format.exe, not jit-format.bat
  src/tests/Common/scripts/format.py
Labels: area-CodeGen-coreclr

#61275 JIT: extend redundant relop to handle side effects
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#60996 Add instructions for using Codespaces
  .devcontainer/devcontainer.json
  .devcontainer/scripts/onCreateCommand.sh
  .devcontainer/scripts/postCreateCommand.sh
  docs/workflow/Codespaces.md
  docs/workflow/README.md
Labels: area-Infrastructure

#61329 Adding Regex source generator to Microsoft.netcore.app.ref pack
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
Labels: area-System.Text.RegularExpressions

#61344 Use UTC throughout X509Certificate request tests
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestChainTests.cs
Labels: area-System.Security, test enhancement, community-contribution

#61333 Fix binplacing for (impl) System.Security.Cryptography.Encoding.dll
  src/libraries/System.Security.Cryptography.Encoding/src/System.Security.Cryptography.Encoding.csproj
Labels: area-System.Security

#61284 Provide PEM implementations for AsymmetricAlgorithm.
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDiffieHellman.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDsa.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography/tests/AsymmetricAlgorithmTests.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
Labels: area-System.Security, community-contribution

#61323 [wasm][aot] Disable (again) `Microsoft.Extensions.Logging.Generators.Roslyn3.11.Tests` failing due to OOM
  eng/testing/WasmRunnerAOTTemplate.sh
  src/libraries/tests.proj
Labels: arch-wasm, area-Infrastructure-libraries

#61315 [wasm] Remove WasmBuildTemplate
  src/mono/wasm/Makefile
Labels: area-Build-mono

#61241 Add additional steps in gcc validation leg
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr, community-contribution

#61364 Ensure MaxBy/MinBy return first element if all keys are null.
  src/libraries/System.Linq/src/System/Linq/Max.cs
  src/libraries/System.Linq/src/System/Linq/Min.cs
  src/libraries/System.Linq/tests/MaxTests.cs
  src/libraries/System.Linq/tests/MinTests.cs
Labels: area-System.Linq

#61289 Add System.Diagnostics.StackFrame.GetMethodFromNativeIP API for VS4Mac
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/StackFrame.CoreCLR.cs
  src/coreclr/vm/debugdebugger.cpp
  src/coreclr/vm/debugdebugger.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
Labels: area-Diagnostics-coreclr

#61063 Fix dump generation issues for VS4Mac
  src/coreclr/debug/createdump/crashreportwriter.cpp
  src/coreclr/debug/dbgutil/machoreader.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/vm/eventing/eventpipe/ds-rt-coreclr.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/gcenv.ee.cpp
  src/mono/mono/eventpipe/ds-rt-mono.h
  src/native/eventpipe/ds-dump-protocol.c
  src/native/eventpipe/ds-dump-protocol.h
  src/native/eventpipe/ds-rt.h
  src/native/eventpipe/ds-types.h
Labels: Servicing-approved, area-Diagnostics-coreclr

#60881 [release/6.0] Disable package validation in source-build for reliability
  eng/packaging.targets
Labels: area-Infrastructure-libraries

#60789 Disable a couple of pen tests on Windows on release/6.0
  src/libraries/System.Drawing.Common/tests/PenTests.cs
Labels: area-Infrastructure-libraries, area-System.Drawing

#61254 SPMI: Use diffed bytes for jit-analyze and print more info
  src/coreclr/ToolBox/superpmi/superpmi/jitinstance.cpp
  src/coreclr/ToolBox/superpmi/superpmi/metricssummary.cpp
  src/coreclr/ToolBox/superpmi/superpmi/metricssummary.h
  src/coreclr/ToolBox/superpmi/superpmi/superpmi.cpp
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#61341 [release/6.0] Fix incorrect CCW decoding in GetObjectForCCW
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/dacimpl.h
  src/coreclr/debug/daccess/request.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#61271 Only run source-index on main branch.
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-libraries

#61285 Proper VNs for zeroed structs
  src/coreclr/jit/compiler.h
  src/coreclr/jit/ee_il_dll.hpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr, community-contribution

#61220 Start tracking debug info for inlined statements
  src/coreclr/inc/cordebuginfo.h
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/debuginfo.cpp
  src/coreclr/jit/debuginfo.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm.h
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgstmt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/inlinepolicy.h
  src/coreclr/jit/jit.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/rationalize.cpp
Labels: area-CodeGen-coreclr

#60913 Request CachePolicy isn't applied in HTTP request header
  src/libraries/System.Net.Requests/src/Resources/Strings.resx
  src/libraries/System.Net.Requests/src/System/Net/HttpWebRequest.cs
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/libraries/System.Net.Requests/tests/WebRequestTest.cs
Labels: area-System.Net, community-contribution

#60766 add unit test for variable length encoding HTTP/3
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/Tests/System/Net/aspnetcore/Http3/VariableLengthIntegerHelperTests.cs
Labels: area-System.Net.Http, community-contribution

#61345 [DllImportGenerator] Remove unnecessary DLLIMPORTGENERATOR_ENABLED ifdefs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.AdjustTokenPrivileges.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CheckTokenMembership.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ConvertStringSidToSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CreateWellKnownSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.DuplicateTokenEx.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.DuplicateTokenEx_SafeTokenHandle.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetSecurityInfoByHandle.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetSecurityInfoByName.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetWindowsAccountDomainSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ImpersonateLoggedOnUser.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.IsEqualDomainSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.IsWellKnownSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaClose.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaFreeMemory.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaLookupSids.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaOpenPolicy.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.OpenProcessToken_IntPtr.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.OpenThreadToken.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.OpenThreadToken_SafeTokenHandle.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RevertToSelf.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.SetThreadToken.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CopyFileEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateDirectory.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateFile_IntPtr.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.DeleteFile.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.DeleteVolumeMountPoint.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.DuplicateHandle_SafeAccessTokenHandle.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FindClose.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetFileAttributesEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetLogicalDrives.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetVolumeInformation.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.MoveFileEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.RemoveDirectory.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.ReplaceFile.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetFileAttributes.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetFileInformationByHandle.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.SetThreadErrorMode.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.LsaConnectUntrusted.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.LsaFreeReturnBuffer.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.LsaGetLogonSessionData.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.LsaLookupAuthenticationPackage.cs
Labels: area-System.Runtime.InteropServices

#61348 Delete unused test projects
  src/tests/CoreMangLib/system/delegate/generics/NullableTypes.csproj
  src/tests/CoreMangLib/system/delegate/generics/nullabletypes.cs
  src/tests/CoreMangLib/system/delegate/miscellaneous/Central.csproj
  src/tests/CoreMangLib/system/delegate/miscellaneous/central.cs
  src/tests/baseservices/exceptions/regressions/whidbeym3.3/293674/ReproTrusted.csproj
  src/tests/baseservices/exceptions/regressions/whidbeym3.3/293674/securedispatcher.cs
  src/tests/baseservices/visibility/Target.csproj
  src/tests/baseservices/visibility/target.cs
Labels: area-VM-coreclr

#61372 Fix credscan bugs release/6.0
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Authentication.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.RemoteServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
Labels: Servicing-approved, area-System.Net

#60699 InstallWorkload: Use the repo's `nuget.config` as the base for installing manifests
  eng/testing/workloads-testing.targets
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
  src/tasks/WorkloadBuildTasks/WorkloadBuildTasks.csproj
Labels: arch-wasm, area-Build-mono

#61293 [arm64] JIT: Enable CSE/hoisting for "arrayBase + elementOffset"
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/vartype.h
Labels: area-CodeGen-coreclr

#61355 Change WASM direct heap access to use helper functions
  src/mono/wasm/runtime/cs-to-js.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/js-to-cs.ts
  src/mono/wasm/runtime/memory.ts
  src/mono/wasm/runtime/method-binding.ts
  src/mono/wasm/runtime/roots.ts
  src/mono/wasm/runtime/strings.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#61324 [wasm] Add task marshaling tests.
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/HelperMarshal.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/MarshalTests.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#61386 [wasm][debugger] Correct the endian swapping and string implementation
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Labels: arch-wasm, area-Debugger-mono

#61276 [wasm] Build improvements
  src/mono/wasm/build/WasmApp.Native.targets
  src/tasks/WasmAppBuilder/IcallTableGenerator.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BlazorWasmTests.cs
Labels: arch-wasm, area-Build-mono

#61384 Delete unused mono_unbox_int
  eng/pipelines/coreclr/templates/build-job.yml
  src/mono/wasm/runtime/driver.c
Labels: community-contribution

#61371 Fix credscan bugs release/5.0
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Authentication.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.AutoRedirect.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
Labels: Servicing-approved, area-System.Net

#60632 [release/6.0][wasm] Change dotnet.wasm link optimization
  src/mono/wasm/Makefile
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/wasm.proj
Labels: Servicing-approved, arch-wasm, area-Build-mono

#61298 [release/6.0.x] Add System.Diagnostics.StackFrame.GetMethodInfoFromNativeIP API for VS4Mac
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/StackFrame.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/StackTrace.CoreCLR.cs
  src/coreclr/vm/debugdebugger.cpp
  src/coreclr/vm/debugdebugger.h
  src/coreclr/vm/ecalllist.h
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
Labels: Servicing-approved, area-Diagnostics-coreclr

#61028 [release/6.0.1] add support for macOS 12
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
  src/native/corehost/hostmisc/pal.unix.cpp
Labels: Servicing-approved, area-Host

#61433 [wasm] fix lint issue
  src/mono/wasm/runtime/cs-to-js.ts
Labels: arch-wasm

#61027 Fix common workflow issues
  eng/native/build-commons.sh
Labels: community-contribution

#61436 Update timeout for sourcebuild
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure

#61280 Baseline two failing tests to make outerloop green again
  src/tests/issues.targets
Labels: area-Infrastructure-coreclr

#61071 Fix inconsistency in p/invoke arguments introduced when switching some to be blittable
  src/libraries/Common/src/Interop/Unix/System.Net.Security.Native/Interop.NetSecurityNative.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs
Labels: area-System.Runtime.InteropServices

#61431 [DllImportGenerator] Initialize by-value out array to default
  docs/design/libraries/DllImportGenerator/Compatibility.md
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomNativeTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.Tests/ArrayTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/Arrays.cs
Labels: area-Interop-coreclr

#61427 [wasm][debugger] Cleanup unused code.
  src/mono/wasm/debugger/BrowserDebugProxy/MemberReferenceResolver.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Labels: arch-wasm, area-Debugger-mono

#61235 Explicitly mark tests with CLRTestKind=SharedLibrary
  src/tests/CoreMangLib/system/delegate/VSD/OpenDelegate.csproj
  src/tests/Directory.Build.targets
  src/tests/FunctionalTests/WebAssembly/Browser/HotReload/ApplyUpdateReferencedAssembly/ApplyUpdateReferencedAssembly.csproj
  src/tests/Interop/COM/Activator/Servers/AssemblyA.csproj
  src/tests/Interop/COM/Activator/Servers/AssemblyB.csproj
  src/tests/Interop/COM/Activator/Servers/AssemblyC.csproj
  src/tests/Interop/COM/Activator/Servers/AssemblyContracts.csproj
  src/tests/Interop/COM/NETServer/NETServer.DefaultInterfaces.ilproj
  src/tests/Interop/COM/NETServer/NETServer.csproj
  src/tests/Interop/ICustomMarshaler/ConflictingNames/CustomMarshaler.csproj
  src/tests/Interop/ICustomMarshaler/ConflictingNames/CustomMarshaler2.csproj
  src/tests/Interop/NativeLibrary/AssemblyLoadContext/TestAsm/TestAsm.csproj
  src/tests/Interop/PInvoke/Miscellaneous/CopyCtor/CopyCtorUtil.ilproj
  src/tests/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/ManagedDll1/ManagedDll1.csproj
  src/tests/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/ManagedDll2/ManagedDll2.csproj
  src/tests/Interop/SuppressGCTransition/SuppressGCTransitionUtil.ilproj
  src/tests/Interop/UnmanagedCallConv/PInvokesIL.ilproj
  src/tests/Interop/UnmanagedCallersOnly/InvalidCSharp.ilproj
  src/tests/JIT/Regression/JitBlue/GitHub_22583/base.csproj
  src/tests/JIT/Regression/JitBlue/GitHub_22583/lib.csproj
  src/tests/Regressions/coreclr/22021/provider.ilproj
  src/tests/baseservices/callconvs/CallFunctionPointers.ilproj
  src/tests/baseservices/compilerservices/RuntimeWrappedException/StringThrower.ilproj
  src/tests/baseservices/compilerservices/modulector/moduleCctor.ilproj
  src/tests/baseservices/typeequivalence/contracts/TypeContracts.csproj
  src/tests/baseservices/typeequivalence/impl/TypeImpl.csproj
  src/tests/ilverify/ILTests/ILTests.targets
  src/tests/profiler/unittest/unloadlibrary.csproj
  src/tests/reflection/DefaultInterfaceMethods/GetInterfaceMapProvider.ilproj
  src/tests/reflection/DefaultInterfaceMethods/InvokeProvider.ilproj
  src/tests/reflection/RefEmit/Dependency.csproj
  src/tests/reflection/StaticInterfaceMembers/provider.ilproj
Labels: area-Infrastructure-coreclr

#61347 Fix Array ctor integer widening and add Reflection tests
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtable.h
  src/coreclr/vm/reflectioninvocation.cpp
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/libraries/System.Reflection/tests/Common.cs
  src/libraries/System.Reflection/tests/ConstructorInfoTests.cs
  src/libraries/System.Reflection/tests/MethodInfoTests.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.Mono.cs
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/object-internals.h
Labels: area-System.Reflection

#61444 Fix CI trigger of superpmi-asmdiffs pipeline
  eng/pipelines/coreclr/superpmi-asmdiffs.yml
Labels: area-CodeGen-coreclr

#61179 JIT: slightly more aggressive tail duplication
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#61432 Include the "TargetingPack" folder in the mobile apps.
  src/tests/build.proj
Labels: area-Infrastructure-mono

#61419 Some more precise debug info improvements
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/debuginfo.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/rationalize.cpp
Labels: area-CodeGen-coreclr

#61460 [Mono] Skip flaky android tests
  src/libraries/System.Net.Ping/tests/FunctionalTests/UnixPingUtilityTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendTo.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/UdpClientTest.cs
Labels: area-System.Net, os-android

#60966 Fix bug where we reference the entry #0 in the pinned plug queue
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#61438 [release/6.0] Remove pre-release version iteration
  eng/Versions.props
Labels: area-Infrastructure-libraries

#61389 Use DllImportGenerator in System.Diagnostics.PerformanceCounter
  eng/generators.targets
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ConvertStringSecurityDescriptorToSecurityDescriptor.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetSecurityDescriptorLength.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetTokenInformation.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaNtStatusToWinError.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegCloseKey.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegConnectRegistry.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegEnumKeyEx.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegEnumValue.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegQueryInfoKey.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegQueryValueEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateFileMapping.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.DuplicateHandle_SafeWaitHandle.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FreeLibrary.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetComputerName.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetCurrentProcess.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetCurrentProcessId.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetCurrentThread.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetProcessTimes.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.LoadLibrary.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.MapViewOfFile.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.OpenFileMapping.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.OpenProcess.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.UnmapViewOfFile.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.VirtualQuery.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.WaitForSingleObject.cs
  src/libraries/Common/src/Interop/Windows/Pdh/Interop.PdhFormatFromRawValue.cs
  src/libraries/Common/src/Interop/Windows/PerfCounter/Interop.PerformanceData.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.LsaDeregisterLogonProcess.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/libraries/Common/tests/TestUtilities/TestUtilities.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj
  src/libraries/System.Diagnostics.EventLog/tests/System.Diagnostics.EventLog.Tests.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.Diagnostics.Process/tests/System.Diagnostics.Process.Tests.csproj
  src/libraries/System.IO.MemoryMappedFiles/tests/System.IO.MemoryMappedFiles.Tests.csproj
  src/libraries/System.Management/src/System.Management.csproj
  src/libraries/System.Reflection.Metadata/tests/System.Reflection.Metadata.Tests.csproj
Labels: area-Interop-coreclr

#61342 [release/5.0] Fix incorrect CCW decoding in GetObjectForCCW
  src/coreclr/src/debug/daccess/dacdbiimpl.cpp
  src/coreclr/src/debug/daccess/dacimpl.h
  src/coreclr/src/debug/daccess/request.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#61442 [release/6.0] The 6.0 branch is no longer pre-release
  Directory.Build.props
  eng/native/configureplatform.cmake
Labels: area-Infrastructure-libraries

#61469 Refine superpmi-replay trigger
  eng/pipelines/coreclr/superpmi-asmdiffs.yml
  eng/pipelines/coreclr/superpmi-replay.yml
Labels: area-CodeGen-coreclr

#61449 Add tests for metricseventsource HistogramLimitReached(#60752, #61199)
  src/libraries/System.Diagnostics.DiagnosticSource/tests/MetricEventSourceTests.cs
Labels: area-System.Diagnostics.Metric, community-contribution

#61439 PKCS#8 and SPKI PEM Exports
  src/libraries/Common/src/Internal/Cryptography/PemKeyHelpers.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System.Security.Cryptography.Algorithms.csproj
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDiffieHellman.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDsa.cs
  src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography/tests/AsymmetricAlgorithmTests.cs
Labels: area-System.Security, new-api-needs-documentation, community-contribution

#61429 Update the ref pack version to 6.0.0 for apicompat
  src/libraries/shims/ApiCompat.proj
Labels: area-Infrastructure-libraries

#61259 Updating src/tests/Interop/PInvoke/Generics/GenericsNative.Vector* to annotate individual methods as requiring AVX
  src/tests/Common/Platform/platformdefines.h
  src/tests/Interop/PInvoke/Generics/CMakeLists.txt
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256B.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256C.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256D.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256F.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256L.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.Vector256U.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.VectorD.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.VectorL.cpp
  src/tests/Interop/PInvoke/Generics/GenericsNative.VectorU.cpp
Labels: area-Interop-coreclr

#61152 XARCH: Remove redudant tests for GT_LT/GT_GE relops.
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr, community-contribution

#60094 Implement Narrow and Widen using SIMDAsHWIntrinsic
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsic.h
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/coreclr/jit/simdcodegenxarch.cpp
  src/coreclr/jit/simdintrinsiclist.h
  src/coreclr/jit/valuenum.cpp
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
Labels: area-CodeGen-coreclr

#61481 [wasm] Add AppStart task to the bench Sample
  src/mono/sample/wasm/browser-bench/AppStart.cs
  src/mono/sample/wasm/browser-bench/BenchTask.cs
  src/mono/sample/wasm/browser-bench/Program.cs
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
  src/mono/sample/wasm/browser-bench/appstart-frame.html
  src/mono/sample/wasm/browser-bench/appstart.js
  src/mono/sample/wasm/browser-bench/index.html
  src/mono/sample/wasm/browser-bench/runtime.js
  src/mono/sample/wasm/browser-bench/style.css
Labels: area-VM-meta-mono

#61413 System.IO files cleanup
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/File.cs
  src/libraries/System.Private.CoreLib/src/System/IO/File.netcoreapp.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileInfo.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileInfo.netcoreapp.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Win32.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Windows.cs
Labels: area-System.IO

#61410 [release/6.0.1] Support async operations on unseekable files
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllBytes.cs
  src/libraries/System.IO.FileSystem/tests/File/ReadWriteAllBytesAsync.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.OverlappedValueTaskSource.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/File.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Windows.cs
Labels: Servicing-approved, area-System.IO
