Repository dotnet/runtime, pull requests merged in 2021-04, with the labels that each got.

#50512 Fix accidental closure in Regex.Replace
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Split.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/SegmentStringBuilder.cs
Labels: area-System.Text.RegularExpressions

#50502 Avoid closure in WebSocketHandle.ConnectAsync
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
Labels: area-System.Net

#50509 Stop skipping entire System.Net.Http functional test suite on Android
  src/libraries/System.Net.Http/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/tests.proj
Labels: area-System.Net.Http

#50392 Add ExceptionDispatchInfo.SetRemoteStackTrace
  src/coreclr/System.Private.CoreLib/src/System/Exception.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Exception.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/ExceptionServices/ExceptionDispatchInfo.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Runtime/ExceptionServices/ExceptionDispatchInfoTests.cs
  src/mono/System.Private.CoreLib/src/System/Exception.Mono.cs
Labels: area-System.Runtime, new-api-needs-documentation

#50511 Remove a bunch of X509 PAL closures from FindCore
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/ManagedCertificateFinder.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/FindPal.cs
Labels: area-System.Security

#50064 Add class as a target for RequiresUnreferencedCodeAttribute
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/RequiresUnreferencedCodeAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
Labels: * NO MERGE *, linkable-framework, new-api-needs-documentation

#50534 [AndroidCrypto] Fix leaks from missed local ref releases
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Rsa.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_dsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecc_import_export.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
Labels: area-System.Security

#50326 Bring up tvOS x64 staging pipeline leg
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime-staging.yml
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
Labels: area-Build-mono

#50297 Add Random.Shared
  src/libraries/Common/tests/StreamConformanceTests/System/IO/StreamConformanceTests.cs
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentStack.cs
  src/libraries/System.IO.Compression.Brotli/tests/CompressionStreamUnitTests.Brotli.cs
  src/libraries/System.Net.Mail/tests/Functional/LoopbackSmtpServer.cs
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.cs
  src/libraries/System.Net.WebClient/tests/WebClientTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Hashing/HashHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Random.cs
  src/libraries/System.Private.Xml/tests/XmlReaderLib/CXMLGeneralTest.cs
  src/libraries/System.Runtime.Extensions/tests/System/Environment.ExpandEnvironmentVariables.cs
  src/libraries/System.Runtime.Extensions/tests/System/Environment.GetEnvironmentVariable.cs
  src/libraries/System.Runtime.Extensions/tests/System/Random.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Security.Cryptography.Algorithms/tests/ECDsaTests.cs
Labels: area-System.Runtime, new-api-needs-documentation

#50475 Set iOSSimulator as TargetOS in case of empty value for the iOS functional tests
  src/tests/FunctionalTests/iOS/Simulator/AOT/iOS.Simulator.Aot.Test.csproj
  src/tests/FunctionalTests/iOS/Simulator/Interpreter/iOS.Simulator.Interpreter.Test.csproj
  src/tests/FunctionalTests/iOS/Simulator/InvariantCultureOnlyMode/iOS.Simulator.InvariantCultureOnlyMode.Test.csproj
  src/tests/FunctionalTests/iOS/Simulator/PInvoke/iOS.Simulator.PInvoke.Test.csproj
Labels: area-Infrastructure-mono, os-ios

#50557 Delete missed mono/netcore from the documentation
  docs/workflow/testing/mono/testing.md
Labels: area-Meta

#50471 Free temporary enums on failure
  src/coreclr/md/compiler/assemblymd.cpp
  src/coreclr/md/compiler/custattr_import.cpp
  src/coreclr/md/compiler/import.cpp
  src/coreclr/md/compiler/regmeta_import.cpp
Labels: area-TypeSystem-coreclr

#50538 [release/6.0-preview3] Re-enable iOS/tvOS arm64 simulator builds
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/runtime-official.yml
Labels: Servicing-approved

#50539 Fix default nothrow behavior for MethodIL.GetObject
  src/coreclr/tools/Common/TypeSystem/Common/ResolutionFailure.cs
  src/coreclr/tools/Common/TypeSystem/IL/MethodIL.cs
Labels: area-crossgen2-coreclr

#50544 Fix GC overreporting with generics context + GS cookie
  src/coreclr/jit/codegenxarch.cpp
Labels: area-Interop-coreclr

#50507 Support DOTNET_ prefix
  src/coreclr/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/inc/clrconfig.h
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/winwrap.h
  src/coreclr/utilcode/clrconfig.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/debughelp.cpp
Labels: area-VM-coreclr

#50533 Fix dumping R2R embedded PGO data
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/PgoInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/tools/r2rdump/TextDumper.cs
Labels: area-R2RDump-coreclr

#50591 Exclude tvOS aot functional test from ci run
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#50463 Pool the underlying list and dictionary in scopes.
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ScopePool.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteRuntimeResolver.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/Expressions/ExpressionResolverBuilder.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ILEmit/ILEmitResolverBuilder.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceProviderEngine.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceProviderEngineScope.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderEngineScopeTests.cs
Labels: area-Extensions-DependencyInjection

#50474 Fix formatting string for assembly MVID mismatch
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/crsttypes.h
  src/coreclr/vm/nativeimage.cpp
Labels: area-crossgen2-coreclr

#50592 Disable TestDynamicAssembly tests
  src/tests/Loader/ContextualReflection/ContextualReflection.cs
Labels: area-System.Reflection-coreclr

#50617 Disable stackoverflowtester under gcstress
  src/tests/baseservices/exceptions/stackoverflow/stackoverflowtester.csproj
Labels: area-VM-coreclr

#50620 Split up complicated assert into parts.
  src/coreclr/vm/stackwalk.cpp
Labels: area-CodeGen-coreclr

#50584 [mono] Add back mono_register_config_for_assembly
  src/mono/mono/metadata/assembly.h
  src/mono/mono/metadata/external-only.c
Labels: area-VM-meta-mono, auto-merge

#50628 Disable test b426654 for GCStress
  src/tests/JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b426654/b426654.ilproj
Labels: area-CodeGen-coreclr, disabled-test

#50602 Simplify Comparer_get_Default runtime test
  src/tests/JIT/opt/Devirtualization/Comparer_get_Default.cs
Labels: area-CodeGen-coreclr

#50599 mono_breakpoint_clean_code always returns TRUE.
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-x86.c
  src/mono/mono/mini/tramp-amd64.c
  src/mono/mono/mini/tramp-x86.c
Labels: mono-mirror

#50558 Use existing HexConvertor method for ascii to hex digit conversion
  src/mono/System.Private.CoreLib/src/Mono/RuntimeMarshal.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/AssemblyName.Mono.cs
Labels: area-CoreLib-mono

#50610 Remove unused MonoIOError file
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/System/IO/MonoIOError.cs
Labels: area-CoreLib-mono

#50605 Remove AssemblyName from SPC descriptor
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
  src/mono/System.Private.CoreLib/src/System/Reflection/AssemblyName.Mono.cs
Labels: area-CoreLib-mono

#50627 [wasm] Fix the handling of float arguments in the icall table generator.
  src/tasks/WasmAppBuilder/IcallTableGenerator.cs
Labels: arch-wasm, area-Infrastructure-mono

#50476 Bundle allow exact duplicates
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Bundle.Tests/BundlerConsistencyTests.cs
Labels: area-Single-File

#50582 [iOS/tvOS] Fix TargetOS case-sensitivity in tests
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/TargetOS.cs
Labels: area-Infrastructure-libraries

#50640 More precise descriptor for Mono's Enum/String types
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
Labels: area-CoreLib-mono, linkable-framework

#50257 Use EVP_PKEY for RSA signing operations
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EvpPkey.Rsa.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Rsa.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAOpenSsl.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native/entrypoints.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey_rsa.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_rsa.c
Labels: area-System.Security

#50626 Moving Suppress message to assembly level and adding Scope in order to get right suppressing behavior
  src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoConfigForwarder.cs
Labels: area-System.Security, linkable-framework

#50460 Fix setting or getting pointer fields with reflection
  src/mono/mono/metadata/object.c
Labels: area-System.Reflection-mono

#50614 `AVInRuntimeImplOkayHolder` should use `GetThreadNULLOk()`
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr, auto-merge

#50643 Correcting proclib function that did not adhere to filemap wrappers
  src/mono/mono/utils/mono-proclib.c
  src/mono/mono/utils/mono-proclib.h
Labels: area-VM-meta-mono, mono-mirror

#50649 Disable Test49826 for ilasm round-trip testing
  src/tests/Regressions/coreclr/GitHub_49826/test49826.csproj
Labels: area-CodeGen-coreclr

#47783 Add PhysicalMemoryLimit capabilities for /proc/meminfo OS's like Linux.
  src/libraries/System.Runtime.Caching/ref/System.Runtime.Caching.csproj
  src/libraries/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCacheStatistics.cs
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/PhysicalMemoryMonitor.Unix.cs
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching.Tests.csproj
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching/MemoryCacheTest.cs
Labels: area-System.Runtime.Caching

#50618 Add back missing gcstress0xf pipeline.
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/r2r-extra.yml
  src/tests/Common/testenvironment.proj
Labels: area-Infrastructure

#50241 Disable tracing.eventcounter test on arm64 Mac, to mitigate failures from dotnet/runtime#50238
  src/tests/issues.targets
Labels: area-Tracing-coreclr

#50468 Make Microsoft.NETCore.Platforms pack from CSProj
  Directory.Build.props
  eng/Versions.props
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.NETCore.Platforms/Microsoft.NETCore.Platforms.sln
  src/libraries/Microsoft.NETCore.Platforms/pkg/Microsoft.NETCore.Platforms.pkgproj
  src/libraries/Microsoft.NETCore.Platforms/src/AssemblyResolver.cs
  src/libraries/Microsoft.NETCore.Platforms/src/BuildTask.Desktop.cs
  src/libraries/Microsoft.NETCore.Platforms/src/BuildTask.cs
  src/libraries/Microsoft.NETCore.Platforms/src/Directory.Build.props
  src/libraries/Microsoft.NETCore.Platforms/src/Extensions.cs
  src/libraries/Microsoft.NETCore.Platforms/src/GenerateRuntimeGraph.cs
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/RID.cs
  src/libraries/Microsoft.NETCore.Platforms/src/RuntimeGroup.cs
  src/libraries/Microsoft.NETCore.Platforms/src/_._
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
  src/libraries/Microsoft.NETCore.Platforms/tests/AssemblyInfo.cs
  src/libraries/Microsoft.NETCore.Platforms/tests/GenerateRuntimeGraphTests.cs
  src/libraries/Microsoft.NETCore.Platforms/tests/Log.cs
  src/libraries/Microsoft.NETCore.Platforms/tests/Microsoft.NETCore.Platforms.Tests.csproj
  src/libraries/Microsoft.NETCore.Platforms/tests/TestBuildEngine.cs
Labels: area-Infrastructure-libraries

#50655 Keep blittable layout class In/Out by default
  src/coreclr/vm/mlinfo.cpp
  src/tests/Interop/LayoutClass/LayoutClassNative.cpp
  src/tests/Interop/LayoutClass/LayoutClassTest.cs
Labels: area-Interop-coreclr

#50660 Disable test VerifyInMemoryDirectoryInfo_IsNotEmpty
  src/libraries/Microsoft.Extensions.FileSystemGlobbing/tests/FunctionalTests.cs
Labels: area-Extensions-FileSystem

#50282 Add a missing fclose in jitutils MethodSet constructor
  src/coreclr/jit/utils.cpp
Labels: area-CodeGen-coreclr

#50117 Enable limited Apple Silicon GCStress testing
  eng/pipelines/coreclr/gcstress-extra.yml
  eng/pipelines/coreclr/gcstress0x3-gcstress0xc.yml
  src/tests/JIT/Methodical/tailcall_v4/hijacking.ilproj
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M13-RTM/b99969/b99969.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_add.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_and.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_div.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_mod.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_mul.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_or.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_shr.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_sub.csproj
  src/tests/JIT/jit64/opt/cse/VolatileTest_op_xor.csproj
  src/tests/ilasm/System/Runtime/CompilerServices/MethodImplOptionsTests.csproj
  src/tests/profiler/transitions/transitions.csproj
  src/tests/tracing/eventpipe/providervalidation/providervalidation.csproj
  src/tests/tracing/eventpipe/rundownvalidation/rundownvalidation.csproj
Labels: arch-arm64, area-Infrastructure-coreclr, os-mac-os-x-big-sur

#50666 Annotate Interop APIs that always throw PNSE as Obsolete
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/RuntimeEnvironment.cs
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/RuntimeEnvironmentTests.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#50541 Add a System.Text.Json threat model doc
  src/libraries/System.Text.Json/docs/ThreatModel.md
Labels: area-System.Text.Json

#50604 Add GC committed bytes counter
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeEventSource.cs
  src/tests/tracing/eventcounter/runtimecounters.cs
  src/tests/tracing/eventcounter/runtimecounters.csproj
Labels: area-Tracing-coreclr

#50676 Reenable readytorun/coreroot_determinism since referenced issues are closed.
  src/tests/baseservices/threading/regressions/beta2/437017.csproj
  src/tests/baseservices/threading/threadpool/unregister/regression_749068.csproj
  src/tests/readytorun/coreroot_determinism/coreroot_determinism.csproj
Labels: area-crossgen2-coreclr, auto-merge

#50677 Remove duplicate WaitHandle tests from src/tests
  src/libraries/System.Threading/tests/AutoResetEventTests.cs
  src/tests/baseservices/threading/waithandle/waitall/emptyarray.cs
  src/tests/baseservices/threading/waithandle/waitall/nullarray.cs
  src/tests/baseservices/threading/waithandle/waitall/nullarraymember.cs
  src/tests/baseservices/threading/waithandle/waitall/nullarraymember.csproj
  src/tests/baseservices/threading/waithandle/waitall/waitallemptyarray.csproj
  src/tests/baseservices/threading/waithandle/waitall/waitallnullarray.csproj
  src/tests/baseservices/threading/waithandle/waitany/emptyarray.cs
  src/tests/baseservices/threading/waithandle/waitany/nullarray.cs
  src/tests/baseservices/threading/waithandle/waitany/nullarraymember.cs
  src/tests/baseservices/threading/waithandle/waitany/nullarraymemberwaitany.csproj
  src/tests/baseservices/threading/waithandle/waitany/waitanyemptyarray.csproj
  src/tests/baseservices/threading/waithandle/waitany/waitanynullarray.csproj
  src/tests/baseservices/threading/waithandle/waithandlecommon.cs
Labels: area-VM-coreclr, auto-merge

#50593 Fix some linker annotations in S.CM.TypeConverter
  src/libraries/System.ComponentModel.TypeConverter/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/DesigntimeLicenseContextSerializer.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TrimmingTests/DesigntimeLicenseContextSerialization_Deserialize.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TrimmingTests/DesigntimeLicenseContextSerialization_Serialize.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TrimmingTests/DesigntimeLicenseContextSerialization_Stream.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TrimmingTests/System.ComponentModel.TypeConverter.TrimmingTests.proj
Labels: area-System.ComponentModel

#50679 Reenable tests after recent impacting JIT fix
  src/tests/issues.targets
Labels: area-Interop-coreclr, auto-merge

#50681 [mono] AOT instances of SZGenericArrayEnumerator for primitive types, its needed by the IEnumerable wrappers for arrays.
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#50693 Obsolete message should contain property name.
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/RuntimeEnvironment.cs
Labels: area-System.Runtime.InteropServices, auto-merge, new-api-needs-documentation

#50698 Remove code that references resolved issues
  src/coreclr/debug/ee/dactable.cpp
  src/coreclr/inc/winwrap.h
  src/coreclr/vm/amd64/virtualcallstubcpu.hpp
  src/coreclr/vm/eeconfig.h
Labels: area-VM-coreclr

#50633 JIT: fixes for mixed PGO/nonPGO compiles
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#49620 Fix SHL/SHR/SAR PerfScores
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#50692 Use GC.AllocateUninitializedArray in MemoryStream.ToArray
  src/libraries/System.IO/tests/MemoryStream/MemoryStream.ToArrayTests.cs
  src/libraries/System.IO/tests/System.IO.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/IO/MemoryStream.cs
Labels: area-System.IO

#50706 Disable crossroot_determinism for GCStress runs
  src/tests/readytorun/coreroot_determinism/coreroot_determinism.csproj
Labels: area-CodeGen-coreclr, auto-merge

#50616 Update ref assemblies libraries unsupported on mobile
  eng/versioning.targets
  src/libraries/System.DirectoryServices.Protocols/Directory.Build.props
  src/libraries/System.IO.Ports/Directory.Build.props
  src/libraries/System.Security.Cryptography.OpenSsl/Directory.Build.props
Labels: area-Infrastructure-libraries

#50366 Update iOS workflow docs to clarify simulator/device os split
  docs/workflow/testing/libraries/testing-apple.md
Labels: area-Build-mono, documentation

#50637 [AppleAppBuilder] Entitlements to run tests on catalyst using the JIT
  src/mono/sample/iOS/Makefile
  src/mono/sample/iOS/Program.csproj
  src/tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
  src/tasks/AppleAppBuilder/Templates/app.entitlements.template
  src/tasks/AppleAppBuilder/Templates/runtime.m
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-Infrastructure-mono, auto-merge

#49715 Make Ninja the default CMake generator on Windows for the repo
  docs/workflow/debugging/coreclr/debugging.md
  docs/workflow/editing-and-debugging.md
  eng/build.ps1
  eng/native/configurecompiler.cmake
  eng/native/functions.cmake
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/global-build.yml
  src/coreclr/CMakeLists.txt
  src/coreclr/build-runtime.cmd
  src/coreclr/debug/runtimeinfo/CMakeLists.txt
  src/coreclr/dlls/mscordac/CMakeLists.txt
  src/coreclr/dlls/mscordbi/CMakeLists.txt
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/runtime.proj
  src/installer/corehost.proj
  src/libraries/Native/Windows/CMakeLists.txt
  src/libraries/Native/build-native.cmd
  src/libraries/Native/build-native.proj
  src/native/corehost/CMakeLists.txt
  src/native/corehost/build.cmd
  src/tests/Common/dir.common.props
  src/tests/Directory.Build.targets
  src/tests/Interop/COM/Dynamic/Server/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/DefaultInterfaces/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Dispatch/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Events/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Licensing/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/Primitives/CMakeLists.txt
  src/tests/Interop/COM/NativeServer/CMakeLists.txt
  src/tests/build.cmd
Labels: area-Infrastructure

#50670 [AndroidCrypto] Remove unused BigNumFromBinary P/Invoke
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Bignum.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_bignum.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_bignum.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_dsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecc_import_export.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
Labels: area-System.Security

#50611 Change Configuration.Json to use a regular Dictionary.
  src/libraries/Microsoft.Extensions.Configuration.Json/src/JsonConfigurationFileParser.cs
Labels: area-Extensions-Configuration, size-reduction

#50659 Support compiling against OpenSSL 3 headers
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OCSP.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey_rsa.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_x509.h
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs
Labels: area-System.Security

#49682 Annotate APIs in System.Private.Xml
  src/libraries/System.Data.Common/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Private.Xml/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XmlSchema.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/CodeGenerator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Compiler.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ImportContext.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Mappings.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Models.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/PrimitiveXmlSerializers.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/SchemaImporter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/SoapReflectionImporter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/SourceInfo.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/TypeExtensions.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Types.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlAttributes.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlReflectionImporter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSchemaImporter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSchemas.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationGeneratedCode.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriterILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializerFactory.cs
  src/libraries/System.Private.Xml/tests/TrimmingTests/System.Private.Xml.TrimmingTests.proj
  src/libraries/System.Private.Xml/tests/TrimmingTests/XmlSchema.Write.cs
  src/libraries/System.Xml.ReaderWriter/ref/System.Xml.ReaderWriter.cs
  src/libraries/System.Xml.XmlSerializer/ref/System.Xml.XmlSerializer.cs
Labels: area-System.Xml, linkable-framework

#50675 Resolve call mdtokens when making tier 1 inline observations
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#50545 improve connection scavenge logic by doing zero-byte read
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http

#50458 [mbr] Turn on hot reload for iOS, tvOS and MacCatalyst
  src/mono/Directory.Build.props
  src/mono/mono/mini/debugger-agent.c
Labels: area-Build-mono

#50600 Enforce 64KB event payload size limit on EventPipe
  src/native/eventpipe/ep-buffer-manager.c
  src/native/eventpipe/ep-buffer-manager.h
  src/tests/tracing/eventpipe/bigevent/bigevent.cs
  src/tests/tracing/eventpipe/bigevent/bigevent.csproj
Labels: area-Tracing-coreclr

#50703 Do not confuse fgDispBasicBlocks in fgMorphBlocks
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#50301 Fix X509 test failures on Android
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.X509Chain.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ecc_import_export.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_eckey.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509chain.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509chain.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509store.c
  src/libraries/System.Security.Cryptography.X509Certificates/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestChainTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/PublicKeyTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/DynamicRevocationTests.Android.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/DynamicRevocationTests.Default.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/DynamicRevocationTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/libraries/tests.proj
Labels: area-System.Security, auto-merge, os-android

#50754 Fix Crossgen2 of PlatformDefaultMemberFunction methods and calls.
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-Interop-coreclr, auto-merge

#50479 [mono] More domain cleanups
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/appdomain.h
  src/mono/mono/metadata/assembly-load-context.c
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/external-only.c
  src/mono/mono/metadata/icall-eventpipe.c
  src/mono/mono/metadata/jit-info.h
  src/mono/mono/metadata/loader-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/reflection-internals.h
  src/mono/mono/metadata/reflection.c
  src/mono/mono/metadata/runtime.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/mini-wasm-debugger.c
  src/mono/mono/mini/mini.c
Labels: area-VM-meta-mono

#50622 Improve RGB Min Max evaluation performance by using 2 or 3 comparison…
  src/libraries/System.Drawing.Primitives/src/System/Drawing/Color.cs
  src/libraries/System.Drawing.Primitives/tests/ColorTests.cs
Labels: area-System.Drawing, auto-merge

#50763 make EstablishProxyTunnelAsync throw on failure status code from proxy
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http

#50740 [mbr] Add Apple sample
  src/mono/sample/mbr/DeltaHelper/DeltaHelper.cs
  src/mono/sample/mbr/README.md
  src/mono/sample/mbr/apple/AppleDelta.csproj
  src/mono/sample/mbr/apple/ChangeablePart.cs
  src/mono/sample/mbr/apple/ChangeablePart_v1.cs
  src/mono/sample/mbr/apple/Makefile
  src/mono/sample/mbr/apple/Program.cs
  src/mono/sample/mbr/apple/deltascript.json
  src/mono/sample/mbr/apple/main.m
Labels: area-VM-meta-mono

#50084 Update the minimum version of the SDK to 6.0 Preview 2
  global.json
Labels: * NO MERGE *, area-Infrastructure, enhancement

#50494 Unblock clean CI
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/tests/ConfigurationExtensionTest.cs
  src/libraries/Microsoft.Extensions.Configuration/tests/FunctionalTests/ArrayTests.cs
  src/libraries/Microsoft.Extensions.Configuration/tests/FunctionalTests/ConfigurationTests.cs
  src/libraries/Microsoft.Extensions.FileProviders.Physical/tests/PhysicalFileProviderTests.cs
  src/libraries/Microsoft.Extensions.FileProviders.Physical/tests/PhysicalFilesWatcherTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostBuilderTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/OptionsBuilderExtensionsTests.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsBuilderTest.cs
Labels: area-Extensions-Hosting

#50756 Simplify superpmi.py `-jitoption`
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#50226 Improve Http Telemetry tests
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
Labels: area-System.Net.Http

#50766 branding update to 5.0.6
  eng/Versions.props
  src/libraries/libraries-packages.proj
Labels: area-Infrastructure-libraries

#49512 Backport "Fix incomplete dumps generated by createdump (#49468)"
  src/coreclr/src/debug/createdump/createdumpunix.cpp
  src/coreclr/src/debug/createdump/dumpwriter.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#50274 [release/5.0] Fix pointer tearing in JIT_MemSet helper on ARM64
  src/coreclr/src/vm/arm64/crthelpers.S
Labels: Servicing-approved, area-VM-coreclr

#49801 [release/5.0] Fix GCDesc::GetNumPointers for collectible types
  src/coreclr/src/gc/gcdesc.h
Labels: Servicing-approved, area-GC-coreclr

#50478 [release/5.0] Fix usage of process_vm_readv in createdump
  src/coreclr/src/debug/createdump/crashinfo.cpp
  src/coreclr/src/debug/createdump/crashinfo.h
  src/coreclr/src/debug/createdump/crashinfounix.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#49552 [release/5.0] Fix silent bad codegen VSD possible tailcall converted to normal call
  src/coreclr/src/jit/gentree.cpp
  src/coreclr/src/jit/gentree.h
  src/coreclr/src/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_49078/Runtime_49078.cs
  src/tests/JIT/Regression/JitBlue/Runtime_49078/Runtime_49078.csproj
Labels: Servicing-approved, area-CodeGen-coreclr

#50625 Move performance support files out of eng/common
  eng/common/templates/job/performance.yml
  eng/pipelines/coreclr/templates/perf-send-to-helix.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  eng/testing/performance/android_scenarios.proj
  eng/testing/performance/blazor_perf.proj
  eng/testing/performance/crossgen_perf.proj
  eng/testing/performance/microbenchmarks.proj
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure

#50138 [release/5.0] When marshalling a layout class, fall-back to dynamically marshalling the type if it doesn't match the static type in the signature.
  src/coreclr/src/vm/corelib.h
  src/coreclr/src/vm/ilmarshalers.cpp
  src/coreclr/src/vm/ilmarshalers.h
  src/coreclr/src/vm/metasig.h
  src/coreclr/src/vm/mlinfo.cpp
  src/tests/Interop/LayoutClass/LayoutClassNative.cpp
  src/tests/Interop/LayoutClass/LayoutClassTest.cs
Labels: Servicing-approved, area-Interop-coreclr

#49637 [mono] More Threading changes
  src/coreclr/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/coreclr/vm/comsynchronizable.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/mono/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs
  src/mono/mono/metadata/domain-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/gc.c
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-def-netcore.h
  src/mono/mono/metadata/threads-types.h
  src/mono/mono/metadata/threads.c
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
Labels: area-Threading-mono

#50772 [arm64] Fix wrong marshalling in gsharedvt transition
  src/mono/mono/mini/mini-arm64-gsharedvt.c
Labels: area-VM-meta-mono

#50809 Clarify that Ninja is required for the default build experience.
  docs/workflow/building/coreclr/README.md
  docs/workflow/requirements/windows-requirements.md
Labels: area-Infrastructure, documentation

#50516 Limit superpmi replay failures using 'failureLimit' command line option
  src/coreclr/ToolBox/superpmi/superpmi/commandline.cpp
  src/coreclr/ToolBox/superpmi/superpmi/commandline.h
  src/coreclr/ToolBox/superpmi/superpmi/superpmi.cpp
Labels: area-CodeGen-coreclr

#50793 Fix to build mono on Windows with ninja by default as well
  eng/build.ps1
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/runtime-official.yml
  src/mono/mono.proj
Labels: area-Infrastructure-mono

#50650 [WASM] Use consistent display names for UTC time zone
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.FullGlobalizationData.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.MinimalGlobalizationData.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Win32.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: arch-wasm, area-System.Runtime

#50828 Disable failing test for GCStress.
  src/tests/baseservices/threading/threadpool/unregister/regression_749068.csproj
Labels: area-CodeGen-coreclr, disabled-test

#50755 Remove IAssemblyName (and various fusion remnants)
  src/coreclr/binder/CMakeLists.txt
  src/coreclr/binder/applicationcontext.cpp
  src/coreclr/binder/assembly.cpp
  src/coreclr/binder/assemblybinder.cpp
  src/coreclr/binder/assemblyname.cpp
  src/coreclr/binder/clrprivbinderassemblyloadcontext.cpp
  src/coreclr/binder/clrprivbindercoreclr.cpp
  src/coreclr/binder/coreclrbindercommon.cpp
  src/coreclr/binder/fusionassemblyname.cpp
  src/coreclr/binder/inc/assembly.hpp
  src/coreclr/binder/inc/assemblybinder.hpp
  src/coreclr/binder/inc/assemblyidentity.hpp
  src/coreclr/binder/inc/assemblyname.hpp
  src/coreclr/binder/inc/assemblyname.inl
  src/coreclr/binder/inc/bindertypes.hpp
  src/coreclr/binder/inc/clrprivbinderassemblyloadcontext.h
  src/coreclr/binder/inc/clrprivbindercoreclr.h
  src/coreclr/binder/inc/coreclrbindercommon.h
  src/coreclr/binder/inc/failurecachehashtraits.hpp
  src/coreclr/binder/inc/fusionassemblyname.hpp
  src/coreclr/binder/inc/fusionhelpers.hpp
  src/coreclr/binder/inc/utils.hpp
  src/coreclr/binder/inc/variables.hpp
  src/coreclr/binder/textualidentityparser.cpp
  src/coreclr/binder/utils.cpp
  src/coreclr/binder/variables.cpp
  src/coreclr/ilasm/asmman.cpp
  src/coreclr/inc/bbsweep.h
  src/coreclr/inc/clrprivbinding.idl
  src/coreclr/inc/corpriv.h
  src/coreclr/inc/fusion.idl
  src/coreclr/inc/peinformation.h
  src/coreclr/inc/readme.md
  src/coreclr/pal/prebuilt/inc/clrprivbinding.h
  src/coreclr/pal/prebuilt/inc/fusion.h
  src/coreclr/utilcode/CMakeLists.txt
  src/coreclr/utilcode/peinformation.cpp
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/assemblyloadcontext.h
  src/coreclr/vm/assemblyspec.cpp
  src/coreclr/vm/assemblyspec.hpp
  src/coreclr/vm/baseassemblyspec.cpp
  src/coreclr/vm/baseassemblyspec.h
  src/coreclr/vm/baseassemblyspec.inl
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/coreassemblyspec.cpp
Labels: area-AssemblyLoader-coreclr

#50804 Race condition in Mock reference tracker runtime with GC.
  src/tests/Interop/COM/ComWrappers/MockReferenceTrackerRuntime/ReferenceTrackerRuntime.cpp
Labels: area-Interop-coreclr, auto-merge

#50771 [mono] More domain cleanup
  src/mono/mono/metadata/appdomain.c
  src/mono/mono/metadata/appdomain.h
  src/mono/mono/metadata/boehm-gc.c
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/exception.c
  src/mono/mono/metadata/external-only.c
  src/mono/mono/metadata/gc-internals.h
  src/mono/mono/metadata/icall-eventpipe.c
  src/mono/mono/metadata/jit-info.c
  src/mono/mono/metadata/jit-info.h
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/sgen-mono.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/metadata/threads.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/aot-runtime.h
  src/mono/mono/mini/debugger-agent.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-posix.c
  src/mono/mono/mini/mini-ppc.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-trampolines.c
  src/mono/mono/profiler/log.c
  src/mono/mono/utils/mono-threads.c
  src/mono/mono/utils/mono-threads.h
Labels: area-VM-meta-mono

#50644 JIT: Enable CSE for VectorX.Create
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#50364 Fix for field layout verification across version bubble boundary
  src/coreclr/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/CompilationModuleGroup.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/FieldFixupSignature.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilationModuleGroupBase.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/vm/jitinterface.cpp
  src/tests/Regressions/coreclr/GitHub_49982/test49982.cs
  src/tests/Regressions/coreclr/GitHub_49982/test49982.csproj
Labels: area-crossgen2-coreclr

#50496 Avoid unnecessary closures/delegates in Process
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.NonUap.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
Labels: area-System.Diagnostics.Process

#50265 Resolve ILLink warnings in System.Diagnostics.DiagnosticSource
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticListener.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
Labels: area-System.Diagnostics, linkable-framework

#50624 Add loop alignment stats to JitLogCsv
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#50810 [wasm] Remove unncessary check for EMSDK_PATH
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Build-mono

#50805 Remove extraneous CMake version requirement.
  src/coreclr/pal/tests/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#50735 Move type check to after the null ref branch in out marshalling of blittable classes.
  src/coreclr/vm/ilmarshalers.cpp
  src/tests/Interop/LayoutClass/LayoutClassNative.cpp
  src/tests/Interop/LayoutClass/LayoutClassTest.cs
Labels: area-Interop-coreclr

#50819 Fix binplacing symbol files.
  eng/native/functions.cmake
Labels: area-Infrastructure-coreclr, auto-merge, blocking-official-build

#38001 Vectorized common String.Split() paths
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
Labels: area-System.Runtime

#50678 [wasm][tests] Add properties to allow passing args to xharness
  docs/workflow/testing/libraries/testing-wasm.md
  eng/testing/tests.mobile.targets
  eng/testing/tests.wasm.targets
  src/libraries/System.IO.FileSystem/tests/Net5CompatTests/System.IO.FileSystem.Net5Compat.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/mono/wasm/Makefile
Labels: arch-wasm, area-Build-mono

#50834 Fix outdated comment
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
Labels: area-System.Runtime.CompilerServices

#50418 [wasm] Fix debug build of AOT cross compiler
  src/mono/mono.proj
Labels: arch-wasm, area-Build-mono

#50303 [wasm] Fix order of include paths, to have the obj dir first
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/wasm/Makefile
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono

#50842 [wasm] Set __DistroRid on Windows to browser-wasm
  eng/build.ps1
Labels: arch-wasm, area-Build-mono

#50876 Fix JIT rolling build for new build-runtime script arguments
  eng/pipelines/coreclr/templates/build-jit-job.yml
Labels: area-Infrastructure-coreclr

#50869 Clarify instructions for building individual test with native dependency
  docs/workflow/testing/coreclr/testing.md
Labels: area-Meta

#50829 Update build-runtime.cmd help documentation
  src/coreclr/build-runtime.cmd
Labels: area-Infrastructure-coreclr

#50669 Fix contained LCL_VAR_ADDR in RMW.
  src/coreclr/jit/emitxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_41073/Runtime_41073.il
  src/tests/JIT/Regression/JitBlue/Runtime_41073/Runtime_41073.ilproj
Labels: area-CodeGen-coreclr

#50845 Fix handling of not found exported types
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaModule.cs
Labels: area-crossgen2-coreclr

#50619 Resolve ILLink warnings on System.Private.DataContractSerialization Part 1; Json)
  src/libraries/System.Private.DataContractSerialization/src/ILLink/ILLink.Suppressions.xml
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/CodeGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/DataContractJsonSerializer.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonByteArrayDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonClassDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonCollectionDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonEnumDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatGeneratorStatics.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatReaderGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatWriterGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonObjectDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonQNameDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonStringDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonUriDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonXmlDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/ReflectionJsonFormatReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/ReflectionJsonFormatWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlObjectSerializerReadContextComplexJson.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlObjectSerializerWriteContextComplexJson.cs
  src/libraries/System.Runtime.Serialization.Json/ref/System.Runtime.Serialization.Json.cs
Labels: area-Serialization, auto-merge, linkable-framework, new-api-needs-documentation

#50166 Disable Net5CompatFileStream by default
  src/libraries/System.IO.FileSystem/tests/Net5CompatTests/Net5CompatSwitchTests.cs
  src/libraries/System.IO.FileSystem/tests/Net5CompatTests/runtimeconfig.template.json
  src/libraries/System.IO/tests/Net5CompatTests/runtimeconfig.template.json
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.cs
Labels: area-System.IO, breaking-change, needs-breaking-change-doc-created

#50280 Make ModuleTests.ResolveField/Method actually test something
  src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs
Labels: area-System.Runtime

#50244 [wasm] Add targets to run samples
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/browser/Wasm.Browser.Sample.csproj
  src/mono/sample/wasm/console/Wasm.Console.Sample.csproj
  src/mono/wasm/README.md
Labels: arch-wasm, area-Build-mono

#50469 cruntime/*printf*: free temporary string buffers also on failure
  src/coreclr/pal/src/cruntime/printf.cpp
  src/coreclr/pal/src/cruntime/printfcpp.cpp
  src/coreclr/pal/src/cruntime/silent_printf.cpp
Labels: area-PAL-coreclr, auto-merge

#50732 [iOS/tvOS] Fix target OS case-sensitivity
  eng/testing/AppleRunnerTemplate.sh
  eng/testing/tests.targets
Labels: area-Infrastructure-libraries

#50852 Disposing scopes more than once should work
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceProviderEngineScope.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderEngineScopeTests.cs
Labels: area-Extensions-DependencyInjection

#50696 Set LC_ALL=C before running ping process in Ping.Send()
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
Labels: area-System.Net

#50603 Make some region parameters configurable
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#50519 [AndroidCrypto] Basic SSL stream implementation
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Ssl.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_jni.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_ssl.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_sslstream.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_sslstream.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_x509.c
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Android/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
Labels: area-System.Net.Security, os-android

#50964 Fixed broken link
  docs/workflow/testing/libraries/testing.md
Labels: area-Meta

#50863 Fix superpmi.py private store filtering
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#50788 ensure that sync Connect calls ShouldRetrySyncOperation
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
Labels: area-System.Net.Sockets

#50237 Avoid exceptions from FileVersionInfo.TryLoadManagedAssemblyMetadata on Unix
  src/libraries/System.Diagnostics.FileVersionInfo/src/System/Diagnostics/FileVersionInfo.Unix.cs
Labels: area-System.Diagnostics

#50891 Switch to ProjectExclusions for assembly-level ActiveIssue tests on browser
  src/libraries/Microsoft.Extensions.DependencyModel/tests/AssemblyInfo.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/AssemblyInfo.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/TestWithConfigSwitches/AssemblyInfo.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/TestWithConfigSwitches/System.Diagnostics.DiagnosticSource.Switches.Tests.csproj
  src/libraries/System.Security.Cryptography.Csp/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.Csp/tests/System.Security.Cryptography.Csp.Tests.csproj
  src/libraries/System.Security.Cryptography.Encoding/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.Encoding/tests/System.Security.Cryptography.Encoding.Tests.csproj
  src/libraries/System.Security.Cryptography.OpenSsl/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/libraries/System.Security.Cryptography.Pkcs/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
  src/libraries/System.Security.Cryptography.Primitives/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.Primitives/tests/System.Security.Cryptography.Primitives.Tests.csproj
  src/libraries/System.Security.Cryptography.Xml/tests/AssemblyInfo.cs
  src/libraries/System.Security.Cryptography.Xml/tests/System.Security.Cryptography.Xml.Tests.csproj
  src/libraries/tests.proj
Labels: area-System.Security

#50759 Fix GC hole on arm32
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#50898 Consider failing tests a failure
  eng/testing/RunnerTemplate.cmd
  eng/testing/RunnerTemplate.sh
Labels: area-Infrastructure-mono

#50991 [wasm] Copy icu libs to runtime pack
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono

#50993 Switch to VS preview pool for public builds
  eng/pipelines/common/xplat-setup.yml
  src/mono/mono.proj
Labels: area-Infrastructure

#50613 basic certificate handling for quic
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicEnums.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTestBase.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestBase.cs
Labels: area-System.Net.Quic

#50883 Revert "[release/5.0] When marshalling a layout class, fall-back to dynamically marshalling the type if it doesn't match the static type in the signature."
  src/coreclr/src/vm/corelib.h
  src/coreclr/src/vm/ilmarshalers.cpp
  src/coreclr/src/vm/ilmarshalers.h
  src/coreclr/src/vm/metasig.h
  src/coreclr/src/vm/mlinfo.cpp
  src/tests/Interop/LayoutClass/LayoutClassNative.cpp
  src/tests/Interop/LayoutClass/LayoutClassTest.cs
Labels: Servicing-approved, area-Interop-coreclr

#50776 [release/5.0] Fix polling on https connections in HttpConnectionPool
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: Servicing-approved, area-System.Net.Http, tenet-performance

#50665 Make sure separated_poh_p and use_large_pages_p works together
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#51021 Revert "[release/5.0] When marshalling a layout class, fall-back to dynamically marshalling the type if it doesn't match the static type in the signature. (#50138)" (#50883)
  src/coreclr/src/vm/corelib.h
  src/coreclr/src/vm/ilmarshalers.cpp
  src/coreclr/src/vm/ilmarshalers.h
  src/coreclr/src/vm/metasig.h
  src/coreclr/src/vm/mlinfo.cpp
  src/tests/Interop/LayoutClass/LayoutClassNative.cpp
  src/tests/Interop/LayoutClass/LayoutClassTest.cs
Labels: area-Interop-coreclr

#50318 JIT: Catch "cns".Length also in Morph
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#50954 Add MetadataUpdateHandlerAttribute
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Metadata/RuntimeTypeMetadataUpdateHandler.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Reflection/Metadata/MetadataUpdateHandlerAttribute.cs
  src/libraries/System.Runtime.Loader/ref/System.Runtime.Loader.cs
  src/libraries/System.Runtime.Loader/tests/MetadataUpdateHandlerAttributeTest.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Reflection/ReflectionCacheTests.cs
Labels: area-System.Reflection, new-api-needs-documentation

#50886 Make TranscodingStream resilient against partial reads
  src/libraries/System.Private.CoreLib/src/System/Text/TranscodingStream.cs
  src/libraries/System.Text.Encoding/tests/Encoding/TranscodingStreamTests.cs
  src/libraries/System.Text.Encoding/tests/System.Text.Encoding.Tests.csproj
Labels: area-System.Text.Encoding
