Repository dotnet/runtime, pull requests merged in 2021-12, with the labels that each got.

#62169 Improve SuperPMI temp filename creation
  src/coreclr/ToolBox/superpmi/superpmi-shared/spmiutil.cpp
Labels: area-CodeGen-coreclr

#62190 Shrink version name due to NuGet maximum
  eng/Versions.props
  eng/packaging.targets
Labels: area-Infrastructure-libraries, packaging

#62163 Track a missing place to reset alignment flag from BasicBlock
  src/coreclr/jit/block.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgopt.cpp
  src/tests/JIT/Directed/LoopAlignment/LoopsToProcess.cs
  src/tests/JIT/Directed/LoopAlignment/LoopsToProcess.csproj
Labels: area-CodeGen-coreclr

#62165 Have RegexInterpreter work over ReadOnlySpan<char> instead of strings.
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
Labels: area-System.Text.RegularExpressions

#61952 Start building a universal System.Linq.Expressions library
  eng/illink.targets
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Linq.Expressions/src/ILLink/ILLink.Substitutions.IsInterpreting.LibraryBuild.xml
  src/libraries/System.Linq.Expressions/src/ILLink/ILLink.Substitutions.xml
  src/libraries/System.Linq.Expressions/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Linq.Expressions/src/System.Linq.Expressions.csproj
  src/libraries/System.Linq.Expressions/src/System/Dynamic/UpdateDelegates.Generated.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/UpdateDelegates.Generated.tt
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/DelegateHelpers.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/TypeExtensions.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/TypeUtils.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Common/CachedReflectionInfo.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/DelegateHelpers.Generated.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/DelegateHelpers.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/CallInstruction.Generated.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/CallInstruction.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/LambdaExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Runtime/CompilerServices/CallSite.cs
  src/libraries/System.Linq.Expressions/src/System/Runtime/CompilerServices/DebugInfoGenerator.cs
  src/libraries/System.Linq.Expressions/tests/BinaryOperators/Coalesce/BinaryCoalesceTests.cs
  src/libraries/System.Linq.Expressions/tests/BinaryOperators/Logical/BinaryLogicalTests.cs
  src/libraries/System.Linq.Expressions/tests/Cast/CastTests.cs
  src/libraries/System.Linq.Expressions/tests/CompilerTests.cs
  src/libraries/System.Linq.Expressions/tests/Constant/ConstantTests.cs
  src/libraries/System.Linq.Expressions/tests/DelegateType/GetDelegateTypeTests.cs
  src/libraries/System.Linq.Expressions/tests/Dynamic/InvokeMemberBindingTests.cs
  src/libraries/System.Linq.Expressions/tests/ExceptionHandling/ExceptionHandlingExpressions.cs
  src/libraries/System.Linq.Expressions/tests/HelperTypes.cs
  src/libraries/System.Linq.Expressions/tests/IndexExpression/IndexExpressionTests.cs
  src/libraries/System.Linq.Expressions/tests/InterpreterTests.cs
  src/libraries/System.Linq.Expressions/tests/Invoke/InvocationTests.cs
  src/libraries/System.Linq.Expressions/tests/Lambda/LambdaTests.cs
  src/libraries/System.Linq.Expressions/tests/Member/MemberAccessTests.cs
  src/libraries/System.Linq.Expressions/tests/MemberInit/BindTests.cs
  src/libraries/System.Linq.Expressions/tests/MemberInit/ListBindTests.cs
  src/libraries/System.Linq.Expressions/tests/MemberInit/MemberBindTests.cs
  src/libraries/System.Linq.Expressions/tests/New/NewTests.cs
  src/libraries/System.Linq.Expressions/tests/New/NewWithByRefParameterTests.cs
  src/libraries/System.Linq.Expressions/tests/StackSpillerTests.cs
  src/libraries/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj
  src/libraries/System.Linq.Expressions/tests/TestExtensions/InlinePerCompilationTypeAttribute.cs
  src/libraries/System.Linq.Expressions/tests/TestExtensions/PerCompilationTypeAttribute.cs
  src/libraries/System.Linq.Expressions/tests/Unary/UnaryArithmeticNegateCheckedNullableTests.cs
  src/libraries/System.Linq.Expressions/tests/Unary/UnaryArithmeticNegateCheckedTests.cs
Labels: area-System.Linq.Expressions

#62200 re-enable and fix the SetOutReadToEnd test
  src/libraries/System.Console/tests/SetOut.cs
  src/libraries/System.Console/tests/System.Console.Tests.csproj
Labels: area-System.Console

#62134 don't run the System.IO.FileSystem.DriveInfo tests in parallel
  src/libraries/Common/tests/TestUtilities/System/DisableParallelizationPerAssembly.cs
  src/libraries/System.IO.FileSystem.DriveInfo/tests/System.IO.FileSystem.DriveInfo.Tests.csproj
  src/libraries/System.Private.Xml/tests/Readers/CharCheckingReader/System.Xml.RW.CharCheckingReader.Tests.csproj
  src/libraries/System.Private.Xml/tests/Readers/CustomReader/System.Xml.RW.CustomReader.Tests.csproj
  src/libraries/System.Private.Xml/tests/Readers/FactoryReader/System.Xml.RW.FactoryReader.Tests.csproj
  src/libraries/System.Private.Xml/tests/Readers/NameTable/System.Xml.RW.NameTable.Tests.csproj
  src/libraries/System.Private.Xml/tests/Readers/ReaderSettings/System.Xml.RW.ReaderSettings.Tests.csproj
  src/libraries/System.Private.Xml/tests/Readers/SubtreeReader/System.Xml.RW.SubtreeReader.Tests.csproj
  src/libraries/System.Private.Xml/tests/Readers/WrappedReader/System.Xml.RW.WrappedReader.Tests.csproj
  src/libraries/System.Private.Xml/tests/Writers/RwFactory/System.Xml.RW.RwFactory.Tests.csproj
  src/libraries/System.Private.Xml/tests/Writers/XmlWriterApi/DisableParallelization.cs
  src/libraries/System.Private.Xml/tests/Writers/XmlWriterApi/System.Xml.RW.XmlWriterApi.Tests.csproj
  src/libraries/System.Private.Xml/tests/XmlConvert/System.Xml.RW.XmlConvert.Tests.csproj
Labels: area-System.IO

#62153 Console.Unix: fix OpenStandardInput Stream sometimes throwing for Reads.
  src/libraries/System.Console/src/System/IO/StdInReader.cs
  src/libraries/System.Console/tests/ManualTests/ManualTests.cs
Labels: area-System.Console

#62018 Fix some missing debug info
  src/coreclr/jit/block.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Directed/debugging/debuginfo/tests.il
Labels: area-CodeGen-coreclr

#62177 Fix trees generated for vtable calls
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#62214 JIT/EE interface cleanups
  src/coreclr/ToolBox/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/ICorJitInfo_API_names.h
  src/coreclr/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
  src/coreclr/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.Intrinsics.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#62225 fix issue where HTTP2 connection could be scavenged but not disposed
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http

#58196 Optimize FMA codegen base on the overwritten
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#62147 Fix use of StringBuilder.AppendFormat in ILCompiler
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/PgoInfoKey.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
Labels: area-R2RDump-coreclr

#62025 Force new label after IG that ends with align instruction
  src/coreclr/jit/codegenlinear.cpp
Labels: area-CodeGen-coreclr

#62199 Couple of debug info test fixes
  src/tests/JIT/Directed/debugging/debuginfo/tester.cs
  src/tests/JIT/Directed/debugging/debuginfo/tester.csproj
Labels: area-crossgen2-coreclr

#60391 Feature/get debug view value processing
  src/libraries/Common/tests/Extensions/ConfigurationRootTest.cs
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/ref/Microsoft.Extensions.Configuration.Abstractions.cs
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/ConfigurationDebugViewContext.cs
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/ConfigurationRootExtensions.cs
Labels: area-Extensions-Configuration, community-contribution

#62198 [mono][llvm] Mark the gc poll function as used so llvm doesn't optimi…
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#60973 throw exception when creating an entry name that already exists in ZipArchive
  src/libraries/System.IO.Compression/src/Resources/Strings.resx
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchive.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_UpdateTests.cs
Labels: area-System.IO.Compression, community-contribution

#61187 Cache LastAccessed during MemoryCache compaction
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/CompactTests.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/Microsoft.Extensions.Caching.Memory.Tests.csproj
Labels: area-Extensions-Caching

#62222 Use ReadOnlySpan<char> instead of strings on SourceGenerator engine
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
Labels: area-System.Text.RegularExpressions

#62175 Fix mono debugger thread block when wait for attach
  src/mono/mono/component/debugger-agent.c
Labels: area-Debugger-mono, community-contribution

#62224 JIT: don't forward sub a volatile read tree via copy
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#62253 Revert PR #60054: add Windows.Server.Core.20H2
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#62257 Fix some typos in test
  src/libraries/System.Globalization/tests/System/Globalization/TextInfoTests.cs
Labels: area-System.Globalization

#61975 Use GeneratedDllImport in System.DirectoryServices
  src/libraries/Common/src/Interop/Windows/Activeds/Interop.ADsOpenObject.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ConvertSidToStringSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LogonUser.cs
  src/libraries/Common/src/Interop/Windows/NtDll/Interop.NtStatus.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeLibraryHandle.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/Utils.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/interopt.cs
  src/libraries/System.DirectoryServices/src/Interop/SafeNativeMethods.cs
  src/libraries/System.DirectoryServices/src/Interop/UnsafeNativeMethods.cs
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ActiveDirectorySite.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/DirectoryContext.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/DirectoryServer.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/DomainController.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/Forest.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ForestTrustDomainInformation.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ForestTrustRelationshipInformation.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/NativeMethods.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/SafeHandle.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/TopLevelName.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/TrustHelper.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/UnsafeNativeMethods.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/Utils.cs
Labels: area-System.Runtime.InteropServices

#62244 [mono] Fix warnings with recent clang/gcc
  src/mono/mono/component/hot_reload.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-AOT-mono

#62240 Add test that ensures that it's possible to zip a named pipe on Unix
  src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Unix.cs
Labels: area-System.IO.Compression

#61467 [Mono] Fix support for nested structs with explicit layout
  src/mono/mono/metadata/class-init.c
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case01.cs
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case01.csproj
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case02.cs
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case02.csproj
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case03.cs
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case03.csproj
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case04.cs
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case04.csproj
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case05.cs
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case05.csproj
  src/tests/Loader/classloader/explicitlayout/misc/array_segment.cs
  src/tests/Loader/classloader/explicitlayout/misc/array_segment.csproj
Labels: area-VM-meta-mono

#62245 Use ReadOnlySpan<char> on RegexCompiled engine.
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#60770 [mono] Fix StackTrace from a dim and Vtable offsets for static interface method
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/mini-exceptions.c
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github60486.cs
  src/tests/Loader/classloader/DefaultInterfaceMethods/regressions/github60486.csproj
Labels: area-VM-meta-mono

#62284 Add missing return in LoopsToProcess test
  src/tests/JIT/Directed/LoopAlignment/LoopsToProcess.cs
Labels: area-CodeGen-coreclr

#61549 [arm64] JIT: Add with sign/zero extend
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#62288 Lock MemeoryMappedFile CreateViewAccesssor call
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/MemoryBlocks/StreamMemoryBlockProvider.cs
Labels: area-System.Reflection.Metadata

#61986 make System.Security.Cryptography.X509Certificates compliant with interop guidelines - part 4
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.CheckX509Hostname_IntPtr.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CryptQueryObject_IntPtr_out.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/HostnameMatchTests.Unix.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/InteropTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/tests/X509StoreTests.Unix.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/X509StoreTests.cs
Labels: area-System.Security, community-contribution

#62263 JIT: handle interaction of OSR, PGO, and tail calls
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/tests/JIT/opt/OSR/tailpgo.cs
  src/tests/JIT/opt/OSR/tailpgo.csproj
  src/tests/JIT/opt/OSR/tailpgo2.cs
  src/tests/JIT/opt/OSR/tailpgo2.csproj
Labels: area-CodeGen-coreclr

#62268 Finish new code gen approach for RegexCompiler / source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/AttRegexTests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexGeneratorHelper.netcoreapp.cs
Labels: area-System.Text.RegularExpressions

#62295 Use GeneratedDllImport throughout System.Private.CoreLib.
  src/coreclr/System.Private.CoreLib/src/System/Buffer.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/CLRConfig.cs
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Eventing/NativeRuntimeEventSource.PortableThreadPool.NativeSinks.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/StackFrame.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Enum.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Environment.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Exception.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/GC.cs
  src/coreclr/System.Private.CoreLib/src/System/IO/FileLoadException.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Assembly.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/LoaderAllocator.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Metadata/AssemblyExtensions.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Metadata/MetadataUpdater.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeLibrary.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveCMarshal.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/X86Base.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/System.Private.CoreLib/src/System/Threading/Interlocked.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Threading/LowLevelLifoSemaphore.Unix.cs
  src/coreclr/System.Private.CoreLib/src/System/Threading/Monitor.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Threading/Timer.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/TypeLoadException.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/TypeNameParser.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetDefaultTimeZone.Android.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/XplatEventLogger.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportGenerator.cs
Labels: area-System.Runtime.InteropServices, source-generator

#61663 Reduce repeated variable add operations to a single multiply.
  src/coreclr/jit/compiler.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#61982 Ensure that we don't try to get the simdBaseJitType for scalar intrinsics
  src/coreclr/jit/hwintrinsic.cpp
Labels: area-CodeGen-coreclr

#62290 [wasm] Work around `System.Diagnostics.Tests.StopwatchTests.GetTimestamp` failure
  src/libraries/System.Runtime.Extensions/tests/System/Diagnostics/Stopwatch.cs
Labels: arch-wasm

#62309 Move the remainder of X509Certificates and TestUtilities use GeneratedDllImport
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.X509Chain.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.X509Store.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Keychain.iOS.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.X509.iOS.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSslGetProtocolSupport.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetTokenInformation_void.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FormatMessage.cs
  src/libraries/Common/tests/TestUtilities/System/Buffers/BoundedMemory.Windows.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/Common/tests/TestUtilities/System/WindowsIdentityFixture.cs
Labels: area-System.Runtime.InteropServices, source-generator

#62317 Avoid closure for GetOrAdd
  src/libraries/System.Data.Common/src/System/Data/Common/SqlUDTStorage.cs
Labels: area-System.Data, community-contribution

#62322 Simplify code emitted for single char repeater
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
Labels: area-System.Text.RegularExpressions

#62319 Disable TestIgnoreCaseRelationBorderCasesInNonBacktracking test
  src/libraries/System.Text.RegularExpressions/tests/RegexCultureTests.cs
Labels: area-System.Text.RegularExpressions

#62323 Fix soundplayer assertion failure
  src/libraries/System.Windows.Extensions/src/System/Media/SoundPlayer.cs
Labels: area-Microsoft.Win32

#62095 Support unloadability in `DispatchProxy`.
  src/libraries/System.Reflection.DispatchProxy/src/System.Reflection.DispatchProxy.csproj
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
  src/libraries/System.Reflection.DispatchProxy/tests/DispatchProxyTests.cs
Labels: area-System.Reflection, community-contribution

#62306 Fixes #62167. WriteAsync may truncate data if called after .Advance(int)
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/libraries/System.IO.Pipelines/tests/PipeLengthTests.cs
Labels: area-System.IO.Pipelines, community-contribution

#62335 [mono] Disable new test running on AOT.
  src/tests/issues.targets
Labels: area-Codegen-meta-mono

#62339 [mono][wasm] Fix a windows cross compiler issue.
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-JIT-mono

#62299 [mono][wasm] Fix the passing/returning of small vtypes.
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-LLVM-mono

#62308 Update overlapped field test to conflict on 32-bit arches
  src/mono/mono/metadata/class-init.c
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case04.cs
Labels: area-VM-meta-mono

#62093 Add parser tests from nim-regex
  src/libraries/System.Text.RegularExpressions/tests/RegexParserTests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexParserTests.netcoreapp.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexParserTests.netfx.cs
  src/libraries/System.Text.RegularExpressions/tests/THIRD-PARTY-NOTICES.TXT
Labels: area-System.Text.RegularExpressions

#62338 Consistently use CreateProxyUri in WebProxy ctors
  src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.cs
  src/libraries/System.Net.WebProxy/tests/WebProxyTest.cs
Labels: area-System.Net

#62318 Delete old code generation approach from RegexCompiler / source generator
  src/libraries/System.Text.RegularExpressions/gen/DiagnosticDescriptors.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Parser.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.cs
  src/libraries/System.Text.RegularExpressions/gen/Resources/Strings.resx
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.de.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.es.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.it.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.MultipleMatches.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexGeneratorHelper.netcoreapp.cs
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Generators.Tests/RegexGeneratorParserTests.cs
Labels: area-System.Text.RegularExpressions

#62347 Fix superpmi.py collect script
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#61788 Add RateLimiting APIs
  docs/area-owners.md
  src/libraries/Common/src/System/Collections/Generic/Deque.cs
  src/libraries/System.Threading.Channels/src/System.Threading.Channels.csproj
  src/libraries/System.Threading.RateLimiting/System.Threading.RateLimiting.sln
  src/libraries/System.Threading.RateLimiting/ref/System.Threading.RateLimiting.cs
  src/libraries/System.Threading.RateLimiting/ref/System.Threading.RateLimiting.csproj
  src/libraries/System.Threading.RateLimiting/src/Resources/Strings.resx
  src/libraries/System.Threading.RateLimiting/src/System.Threading.RateLimiting.csproj
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/MetadataName.T.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/MetadataName.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/QueueProcessingOrder.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/RateLimitLease.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/RateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/tests/BaseRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/ConcurrencyLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/System.Threading.RateLimiting.Tests.csproj
  src/libraries/System.Threading.RateLimiting/tests/TokenBucketRateLimiterTests.cs
Labels: area-System.Threading, new-api-needs-documentation

#62368 Always create the AsmDiffs zip file to upload for asmdiff pipeline
  src/coreclr/scripts/superpmi_asmdiffs.py
Labels: area-CodeGen-coreclr

#62349 Fix superpmi.exe handling of exclusion lists
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontextreader.cpp
Labels: area-CodeGen-coreclr

#62324 Use Spans on Go() methods for Code Gen engines
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#62367 JIT: three fixes for OSR
  src/coreclr/jit/fgopt.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-CodeGen-coreclr

#61581 [wasm] Build improvements, and fixes
  eng/testing/tests.wasm.targets
  src/libraries/tests.proj
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/sln/WasmBuild.sln
  src/mono/wasm/wasm.proj
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildPublishTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildTestBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/InvariantGlobalizationTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/LocalEMSDKTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/MainWithArgsTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeBuildTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeLibraryTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeRebuildTests/NativeRebuildTestsBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/PInvokeTableGeneratorTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/RebuildTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/SatelliteAssembliesTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmBuildAppTest.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmNativeDefaultsTests.cs
Labels: arch-wasm, area-Build-mono

#61437 Update previous netcoreapp version to run API Compat against 6.0 ref pack
  Directory.Build.props
  src/libraries/Microsoft.Extensions.DependencyModel/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Win32.Registry.AccessControl/src/CompatibilitySuppressions.xml
  src/libraries/System.Collections.Immutable/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.AttributedModel/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.Convention/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.Hosting/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.Runtime/src/CompatibilitySuppressions.xml
  src/libraries/System.Composition.TypedParts/src/CompatibilitySuppressions.xml
  src/libraries/System.Data.Odbc/src/CompatibilitySuppressions.xml
  src/libraries/System.Diagnostics.DiagnosticSource/src/CompatibilitySuppressions.xml
  src/libraries/System.Drawing.Common/src/CompatibilitySuppressions.xml
  src/libraries/System.IO.Packaging/src/CompatibilitySuppressions.xml
  src/libraries/System.IO.Pipelines/src/CompatibilitySuppressions.xml
  src/libraries/System.Net.Http.WinHttpHandler/src/CompatibilitySuppressions.xml
  src/libraries/System.Reflection.Context/src/CompatibilitySuppressions.xml
  src/libraries/System.Reflection.Metadata/src/CompatibilitySuppressions.xml
  src/libraries/System.Runtime.CompilerServices.Unsafe/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Cryptography.Pkcs/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Cryptography.ProtectedData/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Permissions/src/CompatibilitySuppressions.xml
  src/libraries/System.ServiceProcess.ServiceController/src/CompatibilitySuppressions.xml
  src/libraries/System.Text.Encoding.CodePages/src/CompatibilitySuppressions.xml
  src/libraries/System.Text.Encodings.Web/src/CompatibilitySuppressions.xml
  src/libraries/System.Threading.AccessControl/src/CompatibilitySuppressions.xml
  src/libraries/System.Threading.Channels/src/CompatibilitySuppressions.xml
  src/libraries/System.Threading.Tasks.Dataflow/src/CompatibilitySuppressions.xml
  src/libraries/System.Windows.Extensions/src/CompatibilitySuppressions.xml
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
Labels: area-Infrastructure-libraries

#62358 Small fix for Crossgen2 execution on Windows
  src/tests/Common/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#62361 Remove explicit Exe output types from tests without Main
  src/tests/ilasm/PortablePdb/IlasmPortablePdbTests.csproj
  src/tests/ilverify/ILVerificationTests.csproj
  src/tests/readytorun/r2rdump/FrameworkTests/R2RDumpTests.csproj
Labels: area-Infrastructure-coreclr

#62397 Fix re-initialization of hash objects on CNG.
  src/libraries/Common/src/Internal/Cryptography/HashProviderCng.cs
  src/libraries/System.Security.Cryptography/tests/HashAlgorithmTestDriver.cs
Labels: area-System.Security, community-contribution

#62344 Add regex test for parsing runtime-assets expressions
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.Text.RegularExpressions/tests/Regex.KnownPattern.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Tests.csproj
Labels: area-System.Text.RegularExpressions

#62404 Make copynative use nested msbuild out-of-proc executions
  src/tests/build.proj
Labels: area-Infrastructure-coreclr

#62379 Change assert in NewPutArg(), so it is consistent with transformation done by fgMorphArgs()
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_62249/Runtime_62249.cs
  src/tests/JIT/Regression/JitBlue/Runtime_62249/Runtime_62249.csproj
Labels: arch-arm32, area-CodeGen-coreclr

#62351 Fixes an issue with FeatureSIMD=0 and ArmBase.Yield
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
Labels: arch-arm64, area-CodeGen-coreclr

#62352 [wasm] Re-enable windows wasm AOT tests
  eng/pipelines/runtime-manual.yml
  eng/pipelines/runtime-staging.yml
  src/libraries/tests.proj
Labels: arch-wasm, area-Codegen-AOT-mono

#62418 [wasm] force versioned dotnet.d.ts to always have unix style end of line
  .gitattributes
  src/mono/wasm/runtime/rollup.config.js
Labels: arch-wasm

#62297 Move FabricBot rules to Config-As-Code
  .github/fabricbot.json
  docs/infra/automation.md
Labels: area-Meta

#62262 Filter blocks to be used for hiding alignment instruction
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#62411 [wasm] Work around the browser having a lower timer resolution than the
  src/libraries/System.Runtime.Extensions/tests/System/Diagnostics/Stopwatch.cs
Labels: arch-wasm, area-System.Diagnostics-mono

#62400 [mono][wasm] Fix an issue with the passing of small vtypes.
  src/libraries/tests.proj
  src/mono/mono/mini/mini-wasm.c
Labels: arch-wasm, area-VM-meta-mono

#62395 [wasm] benchmark sample modularized
  src/mono/sample/wasm/browser-bench/AppStart.cs
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
  src/mono/sample/wasm/browser-bench/appstart-frame.html
  src/mono/sample/wasm/browser-bench/appstart.js
  src/mono/sample/wasm/browser-bench/frame-main.js
  src/mono/sample/wasm/browser-bench/index.html
  src/mono/sample/wasm/browser-bench/main.js
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/icu.ts
  src/mono/wasm/runtime/startup.ts
Labels: arch-wasm, area-Infrastructure-mono

#62382 Ensure that FMA codegen operand swapping matches the lsra selections
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#62373 Fix SuperPMI unit test 'strip' behavior
  src/tests/JIT/superpmi/superpmicollect.cs
Labels: area-CodeGen-coreclr

#62369 Revise the Regex description output in source
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
Labels: area-System.Text.RegularExpressions

#62439 Clarifying a comment in genFMAIntrinsic
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
Labels: area-CodeGen-coreclr

#62432 Disable Rollup warning for use of eval
  src/mono/wasm/runtime/rollup.config.js
Labels: arch-wasm

#62426 Some more Regex cleanup and optimization (mostly source generator)
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
Labels: area-System.Text.RegularExpressions

#62415 [wasm] load dotnet.js with import in tests
  src/mono/wasm/runtime/cjs/dotnet.cjs.lib.js
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/test-main.js
Labels: arch-wasm

#60967 error C2665: 'CorSigUncompressData': none of the 3 overloads could convert all the argument types
  src/coreclr/inc/cor.h
Labels: area-Infrastructure-coreclr, community-contribution

#62446 Fix the presence of managed build logs on Windows
  src/tests/build.cmd
Labels: area-Infrastructure-coreclr

#62229 Follow up to universal System.Linq.Expressions
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/DelegateHelpers.cs
  src/libraries/System.Linq.Expressions/tests/BinaryOperators/Logical/BinaryLogicalTests.cs
  src/libraries/System.Linq.Expressions/tests/Cast/CastTests.cs
  src/libraries/System.Linq.Expressions/tests/Constant/ConstantTests.cs
  src/libraries/System.Linq.Expressions/tests/DelegateType/GetDelegateTypeTests.cs
  src/libraries/System.Linq.Expressions/tests/Dynamic/InvokeMemberBindingTests.cs
  src/libraries/System.Linq.Expressions/tests/ExceptionHandling/ExceptionHandlingExpressions.cs
  src/libraries/System.Linq.Expressions/tests/IndexExpression/IndexExpressionTests.cs
  src/libraries/System.Linq.Expressions/tests/InterpreterTests.cs
  src/libraries/System.Linq.Expressions/tests/Invoke/InvocationTests.cs
  src/libraries/System.Linq.Expressions/tests/Lambda/LambdaTests.cs
  src/libraries/System.Linq.Expressions/tests/Member/MemberAccessTests.cs
  src/libraries/System.Linq.Expressions/tests/MemberInit/BindTests.cs
  src/libraries/System.Linq.Expressions/tests/MemberInit/ListBindTests.cs
  src/libraries/System.Linq.Expressions/tests/MemberInit/MemberBindTests.cs
  src/libraries/System.Linq.Expressions/tests/New/NewTests.cs
  src/libraries/System.Linq.Expressions/tests/New/NewWithByRefParameterTests.cs
Labels: area-System.Linq.Expressions

#62376 Fix Some Date and Time parsing cases
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Runtime/tests/System/DateTimeTests.cs
Labels: area-System.Runtime

#62460 Renaming some local variables to make the generated code more readable
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
Labels: area-System.Text.RegularExpressions

#62455 Symlink for dotnet host should be created at build time
  eng/Version.Details.xml
  eng/Versions.props
  src/installer/pkg/sfx/installers/dotnet-host.proj
  src/installer/pkg/sfx/installers/rpm_scripts/host/after_install.sh
  src/installer/pkg/sfx/installers/rpm_scripts/host/after_remove.sh
Labels: area-Setup

#62158 Ensure all types are loaded when methods are accessed as function pointers
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/jitinterface/jitinterface.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/runtimehandles.cpp
  src/tests/Loader/classloader/Casting/punning.cs
  src/tests/Loader/classloader/Casting/punning.csproj
  src/tests/Loader/classloader/Casting/punninglib.il
  src/tests/Loader/classloader/Casting/punninglib.ilproj
  src/tests/baseservices/typeequivalence/contracts/Types.cs
  src/tests/baseservices/typeequivalence/impl/Impls.cs
  src/tests/baseservices/typeequivalence/impl/PunningLib.il
  src/tests/baseservices/typeequivalence/impl/PunningLib.ilproj
  src/tests/baseservices/typeequivalence/simple/Simple.cs
  src/tests/baseservices/typeequivalence/simple/Simple.csproj
Labels: area-Interop-coreclr

#62365 Convert System.DirectoryServices.Protocols and System.Drawing.Common to use GeneratedDllImport
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ber.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.BitBlt.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.CombineRgn.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.CreateCompatibleDC.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.CreateDC.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.CreateFontIndirect.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.CreateIC.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.CreateRectRgn.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.DeleteDC.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.DeleteObject.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.GetClipRgn.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.GetCurrentObject.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.GetDeviceCaps.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.GetObjectType.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.GetRgnBox.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.GetStockObject.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.OffsetViewportOrgEx.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.RestoreDC.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.SaveDC.cs
  src/libraries/Common/src/Interop/Windows/Gdi32/Interop.SelectClipRgn.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GlobalFree.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.GetDC.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.ReleaseDC.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.SystemParametersInfo.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.WindowFromDC.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ber.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ldap.cs
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Comdlg32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Gdi32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Kernel32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.User32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Winspool.cs
  src/libraries/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.COMWrappers.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/LibX11Functions.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Printing/LibcupsNative.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/macFunctions.cs
Labels: area-System.Runtime.InteropServices

#62399 [arm64] JIT: X % 2 == 0 -> X & 1 == 0
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#62087 Clean up symlink tests
  src/libraries/Common/tests/System/IO/ReparsePointUtilities.cs
  src/libraries/Common/tests/TestUtilities/System/IO/FileCleanupTestBase.cs
  src/libraries/Common/tests/TestUtilities/TestUtilities.csproj
  src/libraries/System.Diagnostics.FileVersionInfo/tests/System.Diagnostics.FileVersionInfo.Tests/FileVersionInfoTest.Unix.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Directory.Changed.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Directory.Create.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Directory.Delete.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Changed.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Create.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.File.Delete.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.SymbolicLink.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/Base/AllGetSetAttributes.cs
  src/libraries/System.IO.FileSystem/tests/Base/BaseGetSetTimes.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.Unix.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.Windows.cs
  src/libraries/System.IO.FileSystem/tests/Base/SymbolicLinks/BaseSymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/Directory/Delete.cs
  src/libraries/System.IO.FileSystem/tests/Directory/Delete_MountVolume.cs
  src/libraries/System.IO.FileSystem/tests/Directory/Exists.cs
  src/libraries/System.IO.FileSystem/tests/Directory/GetDirectories.cs
  src/libraries/System.IO.FileSystem/tests/Directory/GetFiles.cs
  src/libraries/System.IO.FileSystem/tests/Directory/ReparsePoints_MountVolume.cs
  src/libraries/System.IO.FileSystem/tests/Directory/SetCurrentDirectory.cs
  src/libraries/System.IO.FileSystem/tests/Directory/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/DirectoryInfo/Exists.cs
  src/libraries/System.IO.FileSystem/tests/DirectoryInfo/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/Enumeration/AttributeTests.cs
  src/libraries/System.IO.FileSystem/tests/Enumeration/SymbolicLinksTests.cs
  src/libraries/System.IO.FileSystem/tests/File/Delete.cs
  src/libraries/System.IO.FileSystem/tests/File/Exists.cs
  src/libraries/System.IO.FileSystem/tests/File/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/FileInfo/Exists.cs
  src/libraries/System.IO.FileSystem/tests/FileInfo/Length.cs
  src/libraries/System.IO.FileSystem/tests/FileInfo/SymbolicLinks.cs
  src/libraries/System.IO.FileSystem/tests/Junctions.Windows.cs
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/VirtualDriveSymbolicLinks.Windows.cs
Labels: area-System.IO

#61773 Optimize XmlTextEncoder.Write
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextEncoder.cs
Labels: area-System.Xml, community-contribution, needs-author-action

#62476 Update windows-requirements.md
  docs/workflow/requirements/windows-requirements.md
Labels: community-contribution

#61408 Fix perf issues discovered in "For software performance, can you always trust inlining" blog
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#59672 Issue 55685 processname optimisation
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetProcessName.cs
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.UnknownUnix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs
Labels: area-System.Diagnostics.Process, tenet-performance, community-contribution

#62477 don't run CanZipNamedPipe test on iOS/tvOS
  src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Unix.cs
Labels: area-System.IO.Compression, test enhancement

#62487 Notepad window title is uppercase on Windows 11
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process

#62364 Remove #ifs in System.ComponentModel.TypeConverter
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/StandardCommands.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/ComponentResourceManagerTests.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/ReflectTypeDescriptionProviderTests.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/libraries/System.Data.Common/tests/TrimmingTests/DbConnectionStringBuilder.cs
Labels: area-System.ComponentModel, community-contribution

#62490 [mono] Remove unused defines from config.h.in
  src/mono/cmake/config.h.in
Labels: area-Build-mono

#62491 [mono] Fix samples building against wrong TFM
  src/mono/sample/Android/AndroidSampleApp.csproj
  src/mono/sample/HelloWorld/HelloWorld.csproj
  src/mono/sample/iOS/Program.csproj
  src/mono/sample/mbr/DeltaHelper/DeltaHelper.csproj
  src/mono/sample/mbr/apple/AppleDelta.csproj
  src/mono/sample/mbr/console/ConsoleDelta.csproj
Labels: area-Build-mono

#62495 Update area owners: carlossanlop changes area pods
  docs/area-owners.md
Labels: area-Meta

#61507 Support Process.Start() on MacCatalyst
  docs/workflow/testing/libraries/testing-apple.md
  eng/pipelines/runtime-manual.yml
  eng/pipelines/runtime-staging.yml
  src/libraries/Common/src/Interop/OSX/Interop.libproc.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.BSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.NonUap.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.UnknownUnix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.iOS.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
  src/mono/msbuild/apple/build/AppleApp.targets
  src/mono/sample/iOS/Makefile
  src/mono/sample/iOS/Program.csproj
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/Xcode.cs
  src/tests/Directory.Build.props
  src/tests/build.proj
Labels: area-System.Diagnostics.Process

#62488 [wasm] only trigger global compatibility mode when usage and configuration are global
  src/mono/wasm/runtime/cjs/dotnet.cjs.extpost.js
  src/mono/wasm/runtime/cjs/dotnet.cjs.pre.js
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#62504 Disable DispatchProxyTests.Test_Unloadability on Mono
  src/libraries/System.Reflection.DispatchProxy/tests/DispatchProxyTests.cs
Labels: area-System.Reflection

#61515 Convert TryGetRawMetadata comment to XML documentation
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Metadata/AssemblyExtensions.cs
Labels: area-System.Reflection.Metadata

#60463 S.IO.StringReader: Use ReadOnlySpan.IndexOfAny in ReadLine() for performance
  src/libraries/System.IO/tests/StringReader/StringReader.CtorTests.cs
  src/libraries/System.Private.CoreLib/src/System/IO/StringReader.cs
Labels: area-System.IO, tenet-performance, community-contribution

#62463 Unblock tests in LINQ interpreter only mode
  src/libraries/Microsoft.VisualBasic.Core/tests/NewLateBindingTests.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Context/Conformance.dynamic.context.indexer.genclass.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Context/Conformance.dynamic.context.operator.compound.basic.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Declarations/Conformance.dynamic.declarations.formalParameter.Methods.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Declarations/Conformance.dynamic.declarations.localVariable.blockVariable.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.DynamicType/Conformance.dynamic.dynamicType.conversions.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.OverloadResolution/Conformance.dynamic.overloadResolution.Indexers.1class2indexers.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.OverloadResolution/Conformance.dynamic.overloadResolution.Methods.1class2methods.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Variance/Conformance.dynamic.Variance.assign.cs
Labels: area-System.Dynamic.Runtime

#62278 [wasm][debugger] View object attributes - DebugType=full
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Tests.cs
  src/mono/wasm/debugger/tests/debugger-test-with-full-debug-type/debugger-test-with-full-debug-type.csproj
  src/mono/wasm/debugger/tests/debugger-test-with-full-debug-type/test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
Labels: arch-wasm, area-Debugger-mono

#60076 Optimize ReadOnlyTernaryTree for System.Private.Xml
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/Core/HtmlEncodedRawTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/HtmlRawTextWriterGenerator.ttinclude
  src/libraries/System.Private.Xml/src/System/Xml/Core/HtmlTernaryTree.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/HtmlUtf8RawTextWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/ReadOnlyTernaryTree.cs
Labels: area-System.Xml, community-contribution

#61117 [mono][jit] Fix and optimize llvmonly+gsharedvt code generation
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/icall-signatures.h
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/calls.c
  src/mono/mono/mini/decompose.c
  src/mono/mono/mini/ee.h
  src/mono/mono/mini/interp-stubs.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/llvmonly-runtime.c
  src/mono/mono/mini/llvmonly-runtime.h
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/patch-info.h
Labels: area-Codegen-JIT-mono

#60161 CI matrix: add openSUSE 15.2 - second attempt
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#62492 Update branding to 5.0.14
  eng/Versions.props
Labels: area-Infrastructure-libraries

#62493 Update branding to 6.0.2
  eng/Versions.props
  src/installer/tests/Microsoft.DotNet.CoreSetup.Packaging.Tests/NETCoreTests.cs
  src/installer/tests/Microsoft.DotNet.CoreSetup.Packaging.Tests/NuGetArtifactTester.cs
Labels: area-Infrastructure-libraries

#62469 Port changes from 6.0 for future servicing releases into main
  eng/packaging.targets
  src/libraries/System.DirectoryServices/Directory.Build.props
Labels: area-Infrastructure-libraries

#62330 Delete `gtEvalSizeFirst`
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/rationalize.cpp
Labels: area-CodeGen-coreclr, community-contribution

#62381 JIT: refactor arm64 epilog generation
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#62465 Fix createdump failure on MacOS Monterey version 12.0.1
  src/coreclr/debug/dbgutil/machoreader.cpp
  src/coreclr/debug/dbgutil/machoreader.h
Labels: area-Diagnostics-coreclr

#61123 Enable memory-mapped stress log on cross platform
  src/coreclr/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/inc/stresslog.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/loader/module.cpp
  src/coreclr/pal/src/map/map.cpp
  src/coreclr/tools/CMakeLists.txt
  src/coreclr/tools/StressLogAnalyzer/CMakeLists.txt
  src/coreclr/tools/StressLogAnalyzer/StressLogAnalyzer.cpp
  src/coreclr/tools/StressLogAnalyzer/StressLogAnalyzer.sln
  src/coreclr/tools/StressLogAnalyzer/StressLogAnalyzer.vcxproj
  src/coreclr/tools/StressLogAnalyzer/StressLogAnalyzer.vcxproj.filters
  src/coreclr/tools/StressLogAnalyzer/StressLogAnalyzer.vcxproj.users
  src/coreclr/tools/StressLogAnalyzer/StressLogDump.cpp
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin.cpp
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin/StressLogPlugin.vcxproj
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin/StressLogPlugin.vcxproj.filters
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin/framework.h
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin/pch.cpp
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin/pch.h
  src/coreclr/tools/StressLogAnalyzer/staticcontract.h
  src/coreclr/tools/StressLogAnalyzer/strike.h
  src/coreclr/tools/StressLogAnalyzer/util.h
  src/coreclr/utilcode/stresslog.cpp
Labels: area-GC-coreclr

#62515 Integration of changes in shared files from runtimelab/NativeAOT
  src/coreclr/tools/Common/Compiler/Logger.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/libraries/Common/src/System/SR.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/PropertyValue.cs
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
Labels: area-crossgen2-coreclr

#62526 [TODO-List-Cleanup] `gtHasRef` refactoring
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr, community-contribution

#62536 Disable tests on Mac Catalyst in App Sandbox mode
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#62294 Update build pool to macOS 11
  eng/pipelines/common/xplat-setup.yml
Labels: area-Infrastructure-libraries

#62353 Switch over miscellaneous DllImports to GeneratedDllImport.
  eng/generators.targets
  src/libraries/Common/src/Interop/Android/Interop.Logcat.cs
  src/libraries/Common/src/Interop/Interop.ICU.iOS.cs
  src/libraries/Common/src/Interop/OSX/System.Native/Interop.SearchPath.cs
  src/libraries/Common/src/Interop/OSX/System.Native/Interop.iOSSupportVersion.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetNodeName.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MemSet.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ChangeServiceConfig2.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CreateService.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.DeleteService.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CheckTokenMembershipEx.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.Threading.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.SystemParametersInfo.cs
  src/libraries/Microsoft.Diagnostics.Tracing.EventSource.Redist/src/Microsoft/Diagnostics/Tracing/StubEnvironment.cs
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/Microsoft.Extensions.Hosting.Systemd.csproj
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdHelpers.cs
  src/libraries/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
Labels: area-System.Runtime.InteropServices

#62556 Improve loop JitDump output
  src/coreclr/jit/block.h
  src/coreclr/jit/clrjit.natvis
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#62500 [build] Create clr.host subset to remove patching step for mono runtime tests
  eng/Subsets.props
  src/coreclr/build-runtime.cmd
  src/coreclr/build-runtime.sh
  src/coreclr/components.cmake
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/coreshim/CMakeLists.txt
  src/coreclr/runtime.proj
  src/tests/Common/Directory.Build.targets
Labels: area-Infrastructure

#62542 Using ReadOnlySpan<char> on SymbolicRegexRunner
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexRunnerFactory.cs
Labels: area-System.Text.RegularExpressions

#62507 Escape lower-cased type names
  src/coreclr/tools/dotnet-pgo/CommandLineOptions.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Interop.zlib.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ber.cs
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Linux/cgroups/Interop.cgroups.cs
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.TryReadStatusFile.cs
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/libraries/Common/src/Interop/Windows/WinSock/hostent.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ber.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ldap.cs
  src/libraries/Common/src/System/IO/Compression/ZLibNative.cs
  src/libraries/Common/tests/System/Xml/XmlCoreTest/AsyncUtil.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SafeHandles.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SafeHandles.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/DirectoryControl.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Context/Conformance.dynamic.context.delegateEvent.delegate.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Declarations/Conformance.dynamic.declarations.backwardscompatible.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Declarations/Conformance.dynamic.declarations.formalParameter.Methods.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.NamedAndOptional/Conformance.dynamic.namedandoptional.usage.basic.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.NamedAndOptional/Conformance.dynamic.namedandoptional.usage.other.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Statements/Conformance.dynamic.statements.foreach.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Statements/Conformance.dynamic.statements.unaryOperators.cs
  src/libraries/System.Dynamic.Runtime/tests/Dynamic.Variance/Conformance.dynamic.Variance.complex.cs
  src/libraries/System.IO.Compression/src/System.IO.Compression.csproj
  src/libraries/System.IO.Compression/src/System/IO/Compression/Crc32Helper.ZLib.cs
  src/libraries/System.IO.Ports/tests/SerialPort/ctor.cs
  src/libraries/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/libraries/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/libraries/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
  src/libraries/System.Net.WebSockets/src/System.Net.WebSockets.csproj
  src/libraries/System.Private.CoreLib/src/System/Collections/Hashtable.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/XsltLoader.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/Type/TypeTests.Get.CornerCases.cs
  src/libraries/System.Reflection/tests/GetTypeTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/Error.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTestTypes/DCRTypeLibrary.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTestTypes/Primitives.cs
  src/libraries/System.Runtime/tests/System/Reflection/TypeTests.Get.CornerCases.cs
Labels: area-Meta

#62549 [tests] Fix local test runs for mobile
  eng/testing/tests.mobile.targets
Labels: area-Infrastructure-mono

#62501 [wasm] Use await on task when waiting for tests to complete
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
Labels: arch-wasm

#62539 More regex source generator tweaks
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexGeneratorHelper.netcoreapp.cs
Labels: area-System.Text.RegularExpressions

#60162 CI matrix update: add Ubuntu 21.04 - second attempt
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#62575 fix the build
  src/libraries/System.IO.Compression/src/System.IO.Compression.csproj
  src/libraries/System.Net.WebSockets/src/System.Net.WebSockets.csproj
Labels: area-Infrastructure-libraries

#61662 Add additional binary operations into the RangeCheck analysis.
  src/coreclr/jit/rangecheck.cpp
  src/coreclr/jit/rangecheck.h
  src/tests/JIT/opt/AssertionPropagation/ArrBoundElim.cs
  src/tests/JIT/opt/AssertionPropagation/ArrBoundElim.csproj
Labels: area-CodeGen-coreclr, community-contribution

#62518 Skip source gen DLLs in mono AOT
  src/tests/build.proj
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#62558 [mono] Support LLVM inline assembly.
  src/mono/mono/mini/mini-llvm-cpp.cpp
  src/mono/mono/mini/mini-llvm-cpp.h
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#62271 Convert some old style intrinsics to NamedIntrinsic
  docs/design/coreclr/botr/clr-abi.md
  src/coreclr/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.Intrinsics.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/StressLogAnalyzer/StressLogAnalyzer.cpp
  src/coreclr/tools/StressLogAnalyzer/StressLogDump.cpp
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/vm/corelib.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/ecall.cpp
  src/coreclr/vm/ecall.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/interpreter.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/stubhelpers.cpp
  src/coreclr/vm/stubhelpers.h
Labels: area-CodeGen-coreclr, community-contribution

#62559 Fix some outerloop tests
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/Common/tests/TestUtilities/System/WindowsIdentityFixture.cs
  src/libraries/System.IO.FileSystem/tests/FileStream/DeleteOnClose.cs
  src/libraries/System.IO.Ports/tests/SerialPort/DosDevices.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ImpersonatedAuthTests.cs
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/libraries/System.Security.Principal.Windows/tests/WindowsIdentityImpersonatedTests.netcoreapp.cs
Labels: area-Meta

#62452 App does not Run as a service in a Windows Container
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceHelpers.cs
Labels: area-Extensions-Hosting

#62588 [Doc][Mono] Updated testing document to use clr.hosts; remove references to special mono targets
  docs/workflow/testing/mono/testing.md
Labels: documentation, area-Build-mono, runtime-mono

#62568 Make `gtHasRef` pay attention to LCL_FLD nodes
  src/coreclr/jit/gentree.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_62524/Runtime_62524.cs
  src/tests/JIT/Regression/JitBlue/Runtime_62524/Runtime_62524.csproj
Labels: area-CodeGen-coreclr, community-contribution

#62584 Fix ReadAsync_ThrowsIfWriterCompletedWithException for PGO
  src/libraries/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
Labels: area-System.IO.Pipelines

#62437 Reenable Mono runtime tests on PRs
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-mono

#62598 Disable CreateSpan_il test
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#62621 Relegate PatternsDataSet_ConstructRegexForAll_SourceGenerated test to 64-bit only
  src/libraries/System.Text.RegularExpressions/tests/Regex.KnownPattern.Tests.cs
Labels: area-System.Text.RegularExpressions

#62617 Mark forward delegate stubs as not having hidden arguments
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/metasig.h
  src/coreclr/vm/method.hpp
Labels: area-Interop-coreclr

#62433 [wasm] Reduce number of calls to setTimer
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System.Private.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/TimerTests.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/timers.js
  src/mono/System.Private.CoreLib/src/System/Threading/TimerQueue.Browser.Mono.cs
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/runtime/scheduling.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#62541 Enforce HTTP request Content-Length correctness
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ContentLengthWriteStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http
