Repository dotnet/runtime, pull requests merged in 2022-05, with the labels that each got.

#68656 [MONO] Refactored code into marshal-ilgen and marshal-shared.
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/marshal-shared.c
  src/mono/mono/metadata/marshal-shared.h
Labels: area-VM-meta-mono

#68724 Update Microsoft.CodeAnalysis.NetAnalyzers version
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Http/src/DefaultHttpClientFactory.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerProcessor.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventDispatcher.cs
Labels: area-Meta

#68735 Simplify AssemblyName marshalling between VM and CoreLib
  src/coreclr/System.Private.CoreLib/src/System/Reflection/AssemblyName.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/vm/appdomainnative.cpp
  src/coreclr/vm/appdomainnative.hpp
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/assemblynative.hpp
  src/coreclr/vm/assemblyspec.cpp
  src/coreclr/vm/assemblyspec.hpp
  src/coreclr/vm/baseassemblyspec.cpp
  src/coreclr/vm/baseassemblyspec.h
  src/coreclr/vm/baseassemblyspec.inl
  src/coreclr/vm/coreassemblyspec.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/metasig.h
  src/coreclr/vm/object.h
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyNameFormatter.cs
Labels: area-AssemblyLoader-coreclr

#68705 Reduce allocation in Process.GetProcessesByName
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.BSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.NonUap.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.UnknownUnix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.iOS.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.BSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.FreeBSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.OSX.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.UnknownUnix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.iOS.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Win32.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessThread.UnknownUnix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process, tenet-performance

#68721 Clean up some debug-only code in Regex
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Debug.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreterCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BDD.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/UnicodeCategoryRangesGenerator.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexCharClassTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/System.Text.RegularExpressions.Unit.Tests.csproj
Labels: area-System.Text.RegularExpressions

#68655 Fix RegexCompiler regression on 32-bit for some set matching
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#68725 JIT: fix loop recognition in OSR PGO methods
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#68745 Remove unnecessary throwOnPrematureClosure in ManagedWebSocket.
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#68752 Avoid delegate allocation in NamedPipeClientStream.ConnectAsync
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.cs
Labels: area-System.IO, tenet-performance

#68190 Use 'unsigned short' instead of 'unsigned'.
  src/coreclr/ildasm/dres.cpp
Labels: area-CodeGen-coreclr

#68189 avoid Reflection in Quic
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs
  src/libraries/System.Net.Security/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Net.Security/src/ReferenceAssemblyExclusions.txt
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.cs
Labels: area-System.Net.Quic

#68750 Avoid unnecessary closure/delegate for new SocketsHttpHandler connections
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http, tenet-performance

#68751 Avoid delegate allocation per LowLevelLock
  src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelLock.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelSpinWaiter.cs
Labels: area-System.Threading

#67772 fix build for musl 1.2.3
  src/coreclr/pal/src/include/pal/palinternal.h
  src/coreclr/pal/src/init/pal.cpp
Labels: area-PAL-coreclr, community-contribution

#68559 Adding the 2-parameter xplat shuffle helpers and accelerating them
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/morph.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector256Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector64Tests.cs
Labels: area-CodeGen-coreclr, new-api-needs-documentation

#68713 Bump Intellisense package to Preview 3
  eng/Versions.props
Labels: documentation, area-Infrastructure-libraries

#68689 Delete some unused wrappers for registry operations
  src/coreclr/inc/registrywrapper.h
  src/coreclr/inc/safewrap.h
  src/coreclr/inc/winwrap.h
  src/coreclr/utilcode/safewrap.cpp
Labels: area-VM-coreclr

#68704 Pass UseStrongCrypto to server-side TLS
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: area-System.Net.Security

#68771 Fix expected number of RequestLeftQueue events in telemetry test.
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
Labels: area-System.Net.Http

#67936 Move EventPipe thread buffer allocation outside of lock
  src/native/eventpipe/ep-buffer-manager.c
Labels: EventPipe, area-Tracing-coreclr

#68741 Remove GTF_GLOB_REF on a few more addressing nodes
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#68657 Clean up some ActiveIssues in regex
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.KnownPattern.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#68777 Update comments and simplify implementation of ResourceManager.IsDefault
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceManager.cs
  src/libraries/System.Resources.Reader/tests/ResourceReaderUnitTest.cs
Labels: area-System.Resources

#68766 Remove REGEX_OPTIONS from TextFieldParser.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileIO/TextFieldParser.vb
Labels: area-Microsoft.VisualBasic

#68737 Delete unmanaged AssemblyName parser
  src/coreclr/System.Private.CoreLib/src/System/Reflection/AssemblyName.CoreCLR.cs
  src/coreclr/binder/CMakeLists.txt
  src/coreclr/binder/applicationcontext.cpp
  src/coreclr/binder/assemblyidentitycache.cpp
  src/coreclr/binder/inc/applicationcontext.hpp
  src/coreclr/binder/inc/assemblybindercommon.hpp
  src/coreclr/binder/inc/assemblyidentity.hpp
  src/coreclr/binder/inc/assemblyidentitycache.hpp
  src/coreclr/binder/inc/stringlexer.hpp
  src/coreclr/binder/inc/stringlexer.inl
  src/coreclr/binder/inc/textualidentityparser.hpp
  src/coreclr/binder/stringlexer.cpp
  src/coreclr/binder/textualidentityparser.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/AssemblyNameHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/RuntimeAssemblyName.cs
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assemblynative.hpp
  src/coreclr/vm/baseassemblyspec.cpp
  src/coreclr/vm/baseassemblyspec.h
  src/coreclr/vm/baseassemblyspec.inl
  src/coreclr/vm/coreassemblyspec.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/corhost.cpp
  src/coreclr/vm/metasig.h
  src/coreclr/vm/multicorejitplayer.cpp
  src/coreclr/vm/nativelibrary.cpp
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/typeparse.cpp
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyNameParser.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-AssemblyLoader-coreclr

#68728 Regenerate fabricbot config to include several new/revised automation tasks
  .github/fabricbot.json
Labels: area-Meta

#68701 [Mono]: Fix static closed delegate fnptr crash.
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GetFunctionPointerForDelegateTests.cs
  src/mono/mono/metadata/cominterop.c
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/marshal.c
Labels: area-Interop-mono

#68561 Update arm/arm64 Linux cross build images
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  src/mono/mono.proj
Labels: area-Infrastructure

#68784 [System.Native] (wasm) use a temporary buffer if threading is used
  src/native/libs/System.Native/pal_random.lib.js
Labels: arch-wasm, area-System.Security

#68738 Avoid string-related allocation from GetCSharpString in XML serializer
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriterILGen.cs
Labels: area-Serialization, tenet-performance

#67419 Reenable SocketsHttpHandlerTest_Http3_MsQuic.SendMoreThanStreamLimitRequestsConcurrently_LastWaits test
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
Labels: area-System.Net.Http

#68562 Remove unwrapping of OCTET STRING wrapping in EnvelopedCms.
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/GeneralTests.cs
Labels: area-System.Security, breaking-change, needs-breaking-change-doc-created

#67919 Add support for storing method handle histograms in profiles
  src/coreclr/inc/corjit.h
  src/coreclr/inc/eventtracebase.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/pgo_formatprocessing.h
  src/coreclr/inc/readytorun.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/likelyclass.cpp
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/Pgo/PgoFormat.cs
  src/coreclr/tools/Common/Pgo/TypeSystemEntityOrUnknown.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InstrumentationDataTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ProfileData.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/MIbcProfileParser.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/PgoInfo.cs
  src/coreclr/tools/dotnet-pgo/MibcEmitter.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/coreclr/tools/superpmi/mcs/verbdumpmap.cpp
  src/coreclr/tools/superpmi/mcs/verbjitflags.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shared/spmidumphelper.cpp
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/pgo.cpp
Labels: area-crossgen2-coreclr

#64158 Ensure that InstructionSetFlags are correctly fixed up for unmatched VM
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#68805 Fix PeriodicTimer_ActiveOperations_TimerRooted test
  src/libraries/System.Runtime/tests/System/Threading/PeriodicTimerTests.cs
Labels: area-System.Threading

#68627 Disable win-arm64 runtime tests on PRs for CoreCLR
  eng/pipelines/coreclr/crossgen2-composite.yml
  eng/pipelines/coreclr/crossgen2-outerloop.yml
  eng/pipelines/coreclr/crossgen2.yml
  eng/pipelines/coreclr/exploratory.yml
  eng/pipelines/coreclr/gc-longrunning.yml
  eng/pipelines/coreclr/gc-simulator.yml
  eng/pipelines/coreclr/jit-cfg.yml
  eng/pipelines/coreclr/jit-experimental.yml
  eng/pipelines/coreclr/jitstress-isas-arm.yml
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/libraries-jitstressregs.yml
  eng/pipelines/coreclr/libraries-pgo.yml
  eng/pipelines/coreclr/pgo.yml
  eng/pipelines/coreclr/r2r.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr

#68793 Do not save/restore upper vector for blocks that will always return
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#68796 JIT: update `NO_WAY` assert, fix issue it was hiding
  src/coreclr/jit/error.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#68817 Ensure that Arm64 always sets the VectorTableLookup type for shuffle to be `byte` or `sbyte`
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#67656 [Infrastructure] Update devcontainer
  .devcontainer/Dockerfile
  .gitignore
Labels: area-Infrastructure

#68813 Enable PGO with cross compilation
  src/coreclr/pgosupport.cmake
Labels: area-Infrastructure-coreclr

#68630 regenerate networking ref assemblies
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/ReferenceAssemblyExclusions.txt
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs
Labels: area-System.Net, new-api-needs-documentation

#68825 Update branding to 6.0.6
  eng/Versions.props
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-Infrastructure-libraries

#67934 [release/6.0] Add single-file debugging fix to DBI
  src/coreclr/debug/di/cordb.cpp
  src/coreclr/debug/di/process.cpp
  src/coreclr/debug/di/rsmain.cpp
  src/coreclr/debug/di/rspriv.h
  src/coreclr/debug/di/shimpriv.h
  src/coreclr/debug/di/shimprocess.cpp
  src/coreclr/dlls/mscordbi/mscordbi.src
  src/coreclr/dlls/mscordbi/mscordbi_unixexports.src
Labels: Servicing-approved, area-Diagnostics-coreclr

#68332 [Release/6.0] Backport test fixes
  src/libraries/Common/tests/System/Net/SslProtocolSupport.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/LoggingTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TelemetryTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestConfiguration.cs
Labels: area-System.Net.Security

#68501 Disable profiler multiple test against JIT and GC stress runs
  src/tests/profiler/multiple/multiple.csproj
Labels: test-bug, area-Diagnostics-coreclr

#68801 [mono][wasm] Pin corlib exceptions after creation.
  src/mono/mono/mini/mini-exceptions.c
Labels: area-VM-meta-mono

#68608 Improve rendering of some negated sets
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
Labels: area-System.Text.RegularExpressions

#68679 Fix a few TODOs in regex
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicNFA.cs
Labels: area-System.Text.RegularExpressions

#68583 [release/6.0] Use x64 directory if running x64 process on arm64 apphost
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/pal.unix.cpp
  src/native/corehost/hostmisc/pal.windows.cpp
Labels: Servicing-approved, area-Host

#68768 Remove some unnecessary StringBuilder use
  src/libraries/Common/src/System/Diagnostics/NetFrameworkUtils.cs
  src/libraries/System.CodeDom/src/Microsoft/VisualBasic/VBCodeGenerator.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/GenericEnumConverter.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/MgmtConfigurationRecord.cs
  src/libraries/System.Data.Common/src/System/Data/DataView.cs
  src/libraries/System.Data.OleDb/src/OleDbConnectionString.cs
  src/libraries/System.Data.OleDb/src/OleDb_Util.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AD/ADStoreCtx_Query.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AD/TokenGroupsSet.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/Context.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
  src/libraries/System.DirectoryServices/src/Interop/AdsValueHelper2.cs
  src/libraries/System.Net.HttpListener/src/System/Net/HttpListenerRequestUriBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWellFormedWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/XslAst.cs
Labels: area-Meta

#68788 [PERF][MAUI] Update iOS result and post command
  eng/testing/performance/ios_scenarios.proj
Labels: area-Infrastructure-libraries

#68831 Use switch over a span in a few more places
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.TryReadStatusFile.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSA.cs
Labels: area-System.Security

#68425 [release/6.0] add support for parsing Unified TLS hello
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/TlsFrameHelper.cs
Labels: Servicing-approved, area-System.Net.Security

#66550 Align API surface of immutable collections and their corresponding builder types
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Builder.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.Builder.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedSet_1.Builder.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableArrayBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableArrayTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableListBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableSortedSetBuilderTest.cs
Labels: area-System.Collections, new-api-needs-documentation, community-contribution

#68861 Clean up some Regex error messages
  src/libraries/System.Text.RegularExpressions/gen/Resources/Strings.resx
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.de.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.es.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.it.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Text.RegularExpressions/src/Resources/Strings.resx
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParseException.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
Labels: area-System.Text.RegularExpressions

#68050 [release/6.0] JIT: fix bug where a gc struct is not zero initialized
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/optimizer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_65694/Runtime_65694.cs
  src/tests/JIT/Regression/JitBlue/Runtime_65694/Runtime_65694.csproj
Labels: Servicing-approved, area-CodeGen-coreclr

#68859 [wasm][debugger] Use new image to run debugger tests on firefox
  eng/pipelines/libraries/helix-queues-setup.yml
  src/mono/wasm/debugger/BrowserDebugProxy/Firefox/FirefoxMonoProxy.cs
Labels: area-Infrastructure-libraries

#68845 Fix singlefile on OSX ARM64
  src/coreclr/pal/src/map/map.cpp
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/R2RPEBuilder.cs
  src/coreclr/vm/peimagelayout.cpp
  src/installer/managed/Microsoft.NET.HostModel/Bundle/TargetInfo.cs
Labels: area-Single-File

#68857 Delete stale IgnoreCaseRelation regex tests
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexCultureTests.cs
Labels: area-System.Text.RegularExpressions

#68842 Move `CustomTypeMarshaller` APIs to `System.Runtime.InteropServices.Marshalling`
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Interop.Odbc.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaLookupNames2.cs
  src/libraries/Common/src/Interop/Windows/CryptUI/Interop.CryptUIDlgCertificate.cs
  src/libraries/Common/src/Interop/Windows/WebSocket/Interop.Structs.cs
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp.cs
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp_types.cs
  src/libraries/Common/src/Interop/Windows/WinMm/Interop.waveOutGetDevCaps.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WinsockBSD.cs
  src/libraries/Common/src/System/Runtime/InteropServices/HandleRefMarshaller.cs
  src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/UnsafeNativeMethods.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Gdi32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Kernel32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Shell32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.User32.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Winspool.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/BitmapData.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/ColorMatrix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/MetafileHeaderEmf.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/MetafileHeaderWmf.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/WmfPlaceableFileHeader.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/AnsiStringMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/ArrayMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/CustomTypeMarshallerAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/CustomTypeMarshallerDirection.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/CustomTypeMarshallerFeatures.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/CustomTypeMarshallerKind.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/MarshalUsingAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/NativeMarshallingAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/PointerArrayMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/Utf16StringMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/Utf8StringMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/CustomTypeMarshallerAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/CustomTypeMarshallerFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManualTypeMarshallingHelper.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Microsoft.Interop.SourceGeneration.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/SpanMarshallers.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/ArrayTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CustomMarshallingTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/SetLastErrorTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/SpanTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/StringTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AddDisableRuntimeMarshallingAttributeFixerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AdditionalAttributesOnStub.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AttributeForwarding.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomTypeMarshallerFixerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#68856 Stop escaping ' and " in generated regex XML comments
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
Labels: area-System.Text.RegularExpressions

#68867 [release/6.0] Disable ZipFile_Unix.UnixCreateSetsPermissionsInExternalAttributes on Apple OSs
  src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Unix.cs
Labels: area-System.IO.Compression

#68790 Add a four-element AsyncLocalValueMap type
  src/libraries/System.Private.CoreLib/src/System/Threading/AsyncLocal.cs
Labels: area-System.Threading, tenet-performance

#68865 Update message for unsupported char marshalling
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshalAsMarshallingGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
Labels: area-System.Runtime.InteropServices, source-generator

#68795 Improving the 64-bit number formatting to better match the 32-bit algorithm
  src/libraries/System.Private.CoreLib/src/System/Number.Formatting.cs
Labels: area-System.Numerics

#68879 Fixed the yp_spin_count_unit to be a factor of the original_spin_count_unit rather than a continually increasing value
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#68288 [QUIC] Adopted msquic generated interop
  THIRD-PARTY-NOTICES.TXT
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicAddressHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicBuffers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicParameterHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/QuicExceptionHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicAlpnHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicEnums.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicException.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicSafeHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.Linux.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.OSX.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.Windows.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicTraceHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConnectionHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicListenerHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicRegistrationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicStreamHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated_linux.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated_macos.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated_windows.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/NetEventSource.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicException.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicCipherSuitesPolicyTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net.Quic

#68828 Replace invalid sourcegen debug assertion with runtime check
  src/libraries/System.Text.Json/gen/Reflection/ConstructorInfoWrapper.cs
  src/libraries/System.Text.Json/gen/Reflection/CustomAttributeDataWrapper.cs
Labels: area-System.Text.Json

#68875 Use Docker images from mcr.microsoft.com in EnterpriseTests
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/apacheweb/Dockerfile
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/kdc/Dockerfile
Labels: area-System.Net.Security

#68486 [wasm][debugger] Refactor of getProperties mechanism
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/Firefox/FirefoxMonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MemberObjectsExplorer.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MemberReferenceResolver.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/ValueTypeClass.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/GetPropertiesTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-get-properties-test.cs
Labels: arch-wasm, area-Debugger-mono

#68834 Fix a few more API compat inconsistencies
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessThread.FreeBSD.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/libraries/System.Net.NetworkInformation/ref/System.Net.NetworkInformation.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.OSX.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Unix.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Windows.cs
Labels: area-System.Net.Http, new-api-needs-documentation

#68893 Add test for multiple calls of QuicConnection.CloseAsync
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#68846 Tweak Regex comparison to improve subsequent bounds check removals
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#68881 [release/6.0] Fixed the yp_spin_count_unit to be a factor of the original_spin_count_unit rather than a continually increasing value
  src/coreclr/gc/gc.cpp
Labels: Servicing-approved, area-GC-coreclr

#68674 [release/6.0] Unloadability bugs fixes
  src/coreclr/binder/assemblybinder.cpp
  src/coreclr/binder/clrprivbinderassemblyloadcontext.cpp
  src/coreclr/binder/clrprivbindercoreclr.cpp
  src/coreclr/binder/inc/assemblybinder.hpp
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/loaderallocator.cpp
Labels: Servicing-approved, area-AssemblyLoader-coreclr

#68113 [release/6.0] Fix passing too small args for PUTARG_STK on macOS arm64 ABI
  src/coreclr/jit/codegenarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_66720/Runtime_66720.cs
  src/tests/JIT/Regression/JitBlue/Runtime_66720/Runtime_66720.csproj
Labels: Servicing-approved, area-CodeGen-coreclr

#68505 add RID for Alpine 3.16
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Infrastructure-libraries

#68908 Fix for FileStream.Lock(Int64, Int64) always fails on FreeBSD #65831
  src/libraries/System.IO.FileSystem/tests/FileStream/LockUnlock.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.Unix.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.IO, new-api-needs-documentation, community-contribution

#68863 Fix VSTest and dotnet test broken on .NETFramework
  eng/Versions.props
Labels: area-Infrastructure

#68851 Do not fold relocatable constants into displacements
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/gentree.cpp
  src/tests/JIT/Directed/ConstantFolding/HandlesInAddrModes.il
  src/tests/JIT/Directed/ConstantFolding/HandlesInAddrModes.ilproj
  src/tests/JIT/Directed/ConstantFolding/folding_extends_int32_on_64_bit_hosts.cs
Labels: area-CodeGen-coreclr, community-contribution

#68706 Detect the default locale name during startup on Apple platforms
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoCurrentCulture.cs
  src/mono/mono/mini/CMakeLists.txt
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.Globalization.Native/pal_locale.c
  src/native/libs/System.Globalization.Native/pal_locale.m
  src/native/libs/System.Globalization.Native/pal_locale_internal.h
Labels: area-System.Globalization, os-mac-os-x

#68924 Use more char.Is helpers from RegexCompiler / source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#68883 Revert FileSystemEventArgs/RenamedEventArgs FullPath/OldFullPath changes
  src/libraries/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/RenamedEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/Args.FileSystemEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/Args.RenamedEventArgs.cs
Labels: area-System.IO

#68933 System.Diagnostics.ActivityLink/ActivityEvent: Implement EnumerateTagObjects API
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityEvent.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivityLink.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
Labels: new-api-needs-documentation, area-System.Diagnostics.Activity, community-contribution

#68941 Update ApiCompat to exclude UnsupportedOSPlatform["freebsd"] on Lock/Unlock
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.txt
Labels: area-System.IO

#68920 Enable dumping of R2R manifest metadata from ildasm
  src/coreclr/ildasm/dasm.cpp
  src/coreclr/ildasm/dasm.rc
  src/coreclr/ildasm/windasm.cpp
Labels: area-ILTools-coreclr, area-crossgen2-coreclr

#68935 Fix System.Collections.Immutable version in ILCompiler.Build.Tasks
  eng/Versions.props
  src/coreclr/tools/aot/ILCompiler.Build.Tasks/ILCompiler.Build.Tasks.csproj
Labels: area-crossgen2-coreclr

#68940 Revert "[QUIC] Adopted msquic generated interop"
  THIRD-PARTY-NOTICES.TXT
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicAddressHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicBuffers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicParameterHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/QuicExceptionHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicAlpnHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicEnums.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicException.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicSafeHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.Linux.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.OSX.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.Windows.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusCodes.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicStatusHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicTraceHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConnectionHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicListenerHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicRegistrationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicStreamHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated_linux.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated_macos.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/msquic_generated_windows.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/NetEventSource.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicException.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicCipherSuitesPolicyTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net.Quic

#68736 Improve impPopCallArgs
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#68922 Reenable win-arm64 runtime tests on PRs
  eng/pipelines/coreclr/crossgen2-composite.yml
  eng/pipelines/coreclr/crossgen2-outerloop.yml
  eng/pipelines/coreclr/crossgen2.yml
  eng/pipelines/coreclr/exploratory.yml
  eng/pipelines/coreclr/gc-longrunning.yml
  eng/pipelines/coreclr/gc-simulator.yml
  eng/pipelines/coreclr/jit-cfg.yml
  eng/pipelines/coreclr/jit-experimental.yml
  eng/pipelines/coreclr/jitstress-isas-arm.yml
  eng/pipelines/coreclr/jitstress.yml
  eng/pipelines/coreclr/jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/libraries-jitstress.yml
  eng/pipelines/coreclr/libraries-jitstress2-jitstressregs.yml
  eng/pipelines/coreclr/libraries-jitstressregs.yml
  eng/pipelines/coreclr/libraries-pgo.yml
  eng/pipelines/coreclr/pgo.yml
  eng/pipelines/coreclr/r2r.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr

#68944 Fix Regex handling of control characters
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexCharacterSetTests.cs
Labels: area-System.Text.RegularExpressions

#68938 Fix double-validation in BoundedChannelOptions
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelOptions.cs
Labels: area-System.Threading.Channels

#68910 [MONO][TEST] Disabled k-nucleotide test on mono
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#68115 Make concurrent reads on HttpHeaders thread-safe
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/HttpHeadersTest.cs
Labels: area-System.Net.Http

#68847 Deprecate ICU ucol_safeClone and support ucol_clone
  src/native/libs/System.Globalization.Native/configure.cmake
  src/native/libs/System.Globalization.Native/pal_collation.c
  src/native/libs/System.Globalization.Native/pal_icushim.c
  src/native/libs/System.Globalization.Native/pal_icushim_internal.h
  src/native/libs/System.Globalization.Native/pal_icushim_internal_android.h
Labels: area-System.Globalization

#68955 Add WaitAsync to prevent CI hangs of System.Net.Http.Functional.Tests
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
Labels: area-System.Net.Http

#68833 Throw from MsQuicImplementationProvider if not supported.
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicImplementationProvider.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: area-System.Net.Quic

#68973 Fix the Version.Details.xml entry for Microsoft.CodeAnalysis.NetAnaly…
  eng/Version.Details.xml
Labels: area-Infrastructure-libraries

#67575 Allow running System.Reflection tests on NativeAOT
  src/libraries/System.Reflection/tests/AssemblyNameTests.cs
  src/libraries/System.Reflection/tests/AssemblyTests.cs
  src/libraries/System.Reflection/tests/ConstructorInfoTests.cs
  src/libraries/System.Reflection/tests/MemberInfoTests.cs
  src/libraries/System.Reflection/tests/MethodInfoTests.cs
  src/libraries/System.Reflection/tests/ParameterInfoTests.cs
  src/libraries/System.Reflection/tests/System.Reflection.Tests.csproj
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
  src/libraries/System.Reflection/tests/default.rd.xml
  src/libraries/System.Runtime/tests/System/Attributes.cs
Labels: area-System.Reflection

#68899 Update libunwind to latest
  src/native/external/libunwind-version.txt
  src/native/external/libunwind/include/libunwind-aarch64.h
  src/native/external/libunwind/include/libunwind_i.h
  src/native/external/libunwind/include/win/unistd.h
  src/native/external/libunwind/src/aarch64/Ginit.c
  src/native/external/libunwind/src/arm/Ginit.c
  src/native/external/libunwind/src/mi/init.c
  src/native/external/libunwind/src/riscv/Ginit.c
  src/native/external/libunwind/src/s390x/Ginit.c
  src/native/external/libunwind/src/win/pal-single-threaded.c
  src/native/external/libunwind/src/x86/Ginit.c
  src/native/external/libunwind/src/x86_64/Ginit.c
Labels: area-PAL-coreclr

#68977 Break ExtensionsTests.cs into one file per type tested
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ExtensionsTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ExtensionsTests/BasicConstraintsTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ExtensionsTests/ComprehensiveTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ExtensionsTests/EnhancedKeyUsageTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ExtensionsTests/KeyUsageTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ExtensionsTests/SubjectKeyIdentifierTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
Labels: area-System.Security, test-enhancement

#68134 Dynamically sized stacks in EventPipe buffer manager
  src/native/eventpipe/ep-block.c
  src/native/eventpipe/ep-block.h
  src/native/eventpipe/ep-buffer.c
  src/native/eventpipe/ep-event-instance.c
  src/native/eventpipe/ep-event-instance.h
  src/native/eventpipe/ep-file.c
  src/native/eventpipe/ep-file.h
  src/native/eventpipe/ep-json-file.c
  src/native/eventpipe/ep-json-file.h
  src/native/eventpipe/ep-stack-contents.c
  src/native/eventpipe/ep-stack-contents.h
  src/native/eventpipe/ep-types-forward.h
Labels: EventPipe, area-Tracing-coreclr

#68982 [mono][llvm] Fix support for --break + LLVM.
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-Codegen-LLVM-mono

#68612 Updating Complex to implement INumberBase and ISignedNumber
  src/libraries/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/Complex.cs
  src/libraries/System.Runtime.Numerics/tests/ComplexTests.GenericMath.cs
  src/libraries/System.Runtime.Numerics/tests/System.Runtime.Numerics.Tests.csproj
Labels: area-System.Numerics, new-api-needs-documentation

#65611 Add basic fake NTLM server to test NTAuthentication round-trip scenarios
  src/libraries/Common/src/System/Net/NTAuthentication.Common.cs
  src/libraries/System.Net.Security/tests/UnitTests/Fakes/FakeNtlmServer.cs
  src/libraries/System.Net.Security/tests/UnitTests/NTAuthenticationTests.cs
  src/libraries/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
Labels: area-System.Net.Security, community-contribution

#68993 Normalize S.S.Cryptography's ref.cs file
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
Labels: area-System.Security

#67138 [mono] Fix read of image_info while raising image_unload event
  src/mono/mono/metadata/image.c
Labels: area-System.Diagnostics-mono, community-contribution

#68320 Move away from exposing internal EventPipe wait handle to EventPipeEventDispatcher.
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.CoreCLR.cs
  src/coreclr/vm/eventpipeadapter.h
  src/coreclr/vm/eventpipeinternal.cpp
  src/coreclr/vm/eventpipeinternal.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventDispatcher.cs
  src/mono/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipe.Mono.cs
  src/mono/mono/component/event_pipe-stub.c
  src/mono/mono/component/event_pipe.c
  src/mono/mono/component/event_pipe.h
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/icall-eventpipe.c
  src/tests/issues.targets
Labels: area-Tracing-coreclr, area-Tracing-mono

#68552 [eventpipe] Fix environment variable parser for multiple configurations
  src/native/eventpipe/ep.c
Labels: area-Tracing-coreclr

#68985 Implement IAsyncEnumerable source generator support
  src/libraries/System.Text.Json/Common/ReflectionExtensions.cs
  src/libraries/System.Text.Json/gen/CollectionType.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/Reflection/TypeExtensions.cs
  src/libraries/System.Text.Json/gen/TypeGenerationSpec.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/QueueOfTConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Collections.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/Common/CollectionTests/CollectionTests.AsyncEnumerable.cs
  src/libraries/System.Text.Json/tests/Common/UnsupportedTypesTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/CollectionTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Stream.DeserializeAsyncEnumerable.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#68966 Add Interlocked.{Compare}Exchange for UIntPtr
  src/libraries/System.Private.CoreLib/src/System/Threading/Interlocked.cs
  src/libraries/System.Threading/ref/System.Threading.cs
  src/libraries/System.Threading/tests/InterlockedTests.cs
Labels: area-System.Threading, new-api-needs-documentation

#66965 Optimize bswap+mov to movbe on xarch
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/readytoruninstructionset.h
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/nativeaot/Runtime/IntrinsicConstants.h
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSet.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/HardwareIntrinsicHelpers.Aot.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/vm/codeman.cpp
  src/tests/JIT/Intrinsics/BinaryPrimitivesReverseEndianness.cs
Labels: area-CodeGen-coreclr, community-contribution

#67565 Override CompleteAsync() in StreamPipeReader to call Stream.DisposeAsync
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReader.cs
  src/libraries/System.IO.Pipelines/tests/StreamPipeReaderTests.cs
Labels: area-System.IO.Pipelines, community-contribution

#69029 Simple runtime.yml change hoping it fixes rolling builds not triggering
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#68678 refactor SslStream internals
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/NetEventSource.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Linux.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.IO.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/UnitTests/Fakes/FakeSslStream.Implementation.cs
Labels: area-System.Net.Security

#69013 Clean up specialized value num functions
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#68748 Remove GT_PUTARG_TYPE
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/rationalize.cpp
Labels: area-CodeGen-coreclr

#68998 Fix packs.product subset build with gcc
  eng/build.sh
Labels: area-crossgen2-coreclr, community-contribution

#69014 Specify action permissions in cleanup task
  .github/workflows/backport.yml
Labels: area-Infrastructure, community-contribution

#69024 Remove an allocation during RSA key generation
  src/libraries/System.Security.Cryptography.Cng/tests/PropertyTests.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngAlgorithmCore.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngProperty.cs
Labels: area-System.Security

#69054 Fix formatting job on windows
  eng/pipelines/coreclr/templates/format-job.yml
Labels: area-CodeGen-coreclr

#69016 format correctly chuncked response with Content-Length header
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
Labels: area-System.Net.Http, community-contribution

#68641 `PUTARG_STK`/x86: mark `push [mem]` candidates reg optional
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#68997 [mono][arm64] Save the full 128 bit simd argument registers in the tr…
  src/mono/mono/arch/arm64/arm64-codegen.h
  src/mono/mono/mini/tramp-arm64.c
Labels: area-VM-meta-mono

#69057 Add the capability to walk up the inheritance chain for GetMemberWithSameMetadataDefinitionAs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.GetMember.cs
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
  src/libraries/tests.proj
Labels: area-System.Reflection

#69083 Fix namespace in error message
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.zh-Hant.xlf
Labels: area-System.Runtime.InteropServices

#69077 [mono] Avoid an assertion when cattrs with array parameters are const…
  src/mono/mono/metadata/custom-attrs.c
Labels: area-VM-meta-mono

#69078 Remove coverlet.collector reference from LibraryImportGenerator tests
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/LibraryImportGenerator.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/LibraryImportGenerator.Unit.Tests.csproj
Labels: area-System.Runtime.InteropServices

#68989 Allow some lazy loops to upgrade with auto-atomicity
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexReductionTests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#69073 [wasm][debugger][tests] Fix crash in `EvaluateOnCallFrameTests` on CI
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessProxy.cs
Labels: arch-wasm, test-bug, area-Debugger-mono

#68921 Reenable `System.Runtime.Serialization.Xml.Tests`
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-Serialization, disabled-test

#69102 Remove Hardlink workaround under FreeBSD
  src/libraries/externals.csproj
Labels: area-Infrastructure-libraries

#69012 Implement JsonContext and JsonTypeInfo Overloads for Binary Data
  src/libraries/System.Memory.Data/ref/System.Memory.Data.cs
  src/libraries/System.Memory.Data/src/System/BinaryData.cs
  src/libraries/System.Memory.Data/tests/BinaryDataTests.cs
  src/libraries/System.Memory.Data/tests/System.Memory.Data.Tests.csproj
Labels: area-System.Memory, new-api-needs-documentation, community-contribution

#69075 Update ApiCompat.proj
  src/libraries/apicompat/ApiCompat.proj
Labels: area-Infrastructure-libraries

#68195 fix(wasm): Discriminate satellite assemblies loading based on culture
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/test-main.js
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildTestBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/SatelliteAssembliesTests.cs
Labels: arch-wasm, community-contribution

#69112 Update System.Net solution files
  src/libraries/System.Net.Http/System.Net.Http.sln
  src/libraries/System.Net.Quic/System.Net.Quic.sln
Labels: area-System.Net

#69074 Update testPackages.proj
  src/libraries/testPackages/testPackages.proj
Labels: area-Infrastructure-libraries

#68758 49936 text json failures
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/NumberHandlingTests.cs
  src/libraries/tests.proj
Labels: area-System.Text.Json

#69137 Revert "Add the capability to walk up the inheritance chain for GetMemberWithSameMetadataDefinitionAs"
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.GetMember.cs
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
  src/libraries/tests.proj
Labels: area-System.Reflection

#69091 Automatically choose correct cross-compile JIT name for SPMI
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#68803 Handle case to update loop tables when preheader is removed
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#68591 Avoid byte[] allocation for IPAddressUtil.IsMulticast
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/IPAddressUtil.cs
Labels: area-System.Net, community-contribution

#69103 skip unnecessary ALPN processing on Windows
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: area-System.Net.Security, os-windows

#69087 [wasm] Move `Microsoft.Extensions.Logging.Generators.Roslyn4.0.Tests` to
  src/libraries/tests.proj
Labels: arch-wasm, area-Infrastructure-libraries, wasm-aot-test, test-failure

#69120 JIT: Stop keeping parent stacks for fgWalkTree and friends
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
Labels: area-CodeGen-coreclr

#69148 Perf fix maui dotnet running
  eng/pipelines/coreclr/templates/build-perf-maui-apps.yml
Labels: area-Infrastructure-coreclr

#69065 add option to set TLS cache size
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.SslCtx.cs
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.h
Labels: area-System.Net.Security

#68860 Update generators.targets
  eng/generators.targets
Labels: area-Infrastructure-libraries

#69097 Add doc about using local build of apphost
  docs/workflow/testing/host/using-apphost.md
Labels: area-Host
