Repository dotnet/runtime, pull requests merged in 2022-11, with the labels that each got.

#77030 Trim trailing SP and HTAB for header value on HTTP/1.1
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, community-contribution

#77701 Remove `MetaDataTracker`
  src/coreclr/inc/metadatatracker.h
  src/coreclr/inc/stgpool.h
  src/coreclr/md/inc/metamodel.h
  src/coreclr/md/runtime/CMakeLists.txt
  src/coreclr/md/runtime/liteweightstgdb.cpp
  src/coreclr/md/runtime/metamodelro.cpp
  src/coreclr/utilcode/stgpoolreadonly.cpp
  src/coreclr/vm/peassembly.h
  src/coreclr/vm/peimage.cpp
  src/coreclr/vm/peimage.h
Labels: area-VM-coreclr

#77055 JIT: introduce some SSA accounting and checking
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/ssabuilder.cpp
  src/coreclr/jit/ssabuilder.h
Labels: area-CodeGen-coreclr

#76851 [JIT] x86/x64 - improved localloc codegen in some cases
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#77684 [NativeAOT] Don't generate extra structure record in debugging information for enums
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UserDefinedTypeDescriptor.cs
Labels: community-contribution, area-NativeAOT-coreclr

#77682 Correct minimum memory size value from 200MB to 20MB
  src/mono/mono/utils/memfuncs.c
Labels: area-VM-meta-mono

#76732 Add doc describing well-known properties that the host can pass to the runtime
  docs/design/features/host-runtime-properties.md
Labels: area-Host

#77196 Switch CoreCLR WeakReference to unified managed implementation
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/ComAwareWeakReference.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/GCHandle.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/WeakReference.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/WeakReference.T.CoreCLR.cs
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/gc/gcinterface.h
  src/coreclr/inc/dacvars.h
  src/coreclr/nativeaot/Runtime/ObjectLayout.h
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/ComAwareWeakReference.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.NativeAot.cs
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/gcenv.ee.standalone.cpp
  src/coreclr/vm/gcenv.ee.static.cpp
  src/coreclr/vm/gchandleutilities.h
  src/coreclr/vm/marshalnative.cpp
  src/coreclr/vm/object.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/vars.cpp
  src/coreclr/vm/vars.hpp
  src/coreclr/vm/weakreferencenative.cpp
  src/coreclr/vm/weakreferencenative.h
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/ComAwareWeakReference.cs
  src/libraries/System.Private.CoreLib/src/System/WeakReference.T.cs
  src/libraries/System.Private.CoreLib/src/System/WeakReference.cs
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/sgen-mono.c
Labels: area-VM-coreclr

#77593 Fold bound checks for static readonly arrays/strings
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FrozenObjectNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FrozenStringNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-CodeGen-coreclr

#77655 Delete a bit of dead code
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#73472 Arm64: Add If conversion pass
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/valuenum.cpp
  src/tests/JIT/opt/Compares/compareAnd2Chains.cs
  src/tests/JIT/opt/Compares/compareAnd3Chains.cs
  src/tests/JIT/opt/Compares/compareAndTestChains.cs
Labels: area-CodeGen-coreclr, community-contribution

#77678 Update a few dependencies
  eng/Versions.props
  src/tasks/MonoTargetsTasks/MonoTargetsTasks.csproj
  src/tasks/WasmAppBuilder/WasmAppBuilder.csproj
Labels: area-Infrastructure

#77705 Avoid running R2RDump if crossgen2 failed
  src/tests/Common/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#77693 First pass at adding a test to reproduce the problem.
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationBinderTests.cs
Labels: area-Extensions-Configuration, community-contribution

#77711 Update some documentation
  docs/design/coreclr/jit/viewing-jit-dumps.md
  docs/workflow/debugging/coreclr/debugging-aot-compilers.md
Labels: area-CodeGen-coreclr

#77691 Improve WoA workflow documentation
  docs/workflow/requirements/windows-requirements.md
Labels: area-Meta

#77715 Run dotnet-format for ThunkGenerator
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetGenerator.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/Program.cs
Labels: area-crossgen2-coreclr

#77704 [wasm] Fix analyzer support in templates
  src/libraries/sendtohelix-wasm.targets
  src/libraries/sendtohelix.proj
  src/mono/sample/wasm/CommonAssemblyInfo.cs
  src/mono/sample/wasm/Directory.Build.props
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestSuite.csproj
  src/mono/wasm/debugger/Wasm.Debugger.Tests/Wasm.Debugger.Tests.csproj
  src/mono/wasm/templates/templates/browser/Properties/AssemblyInfo.cs
  src/mono/wasm/templates/templates/console/Properties/AssemblyInfo.cs
Labels: arch-wasm, area-Build-mono

#77449 [wasm] browser profiler
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/mono.proj
  src/mono/mono/metadata/profiler.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
  src/mono/mono/profiler/browser.c
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/sample/wasm/browser-advanced/main.js
  src/mono/sample/wasm/browser-profile/Makefile
  src/mono/sample/wasm/browser-profile/Wasm.BrowserProfile.Sample.csproj
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-internal.ts
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/invoke-cs.ts
  src/mono/wasm/runtime/invoke-js.ts
  src/mono/wasm/runtime/profiler.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/wasm.proj
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#77302 Update mask for lookup of `this` in CCW `ComWrappers` scenario
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/coreclr/interop/comwrappers.cpp
  src/coreclr/interop/inc/interoplibabi.h
Labels: area-Interop-coreclr

#77700 Fixing VarLocInfo on JITDUMP
  src/coreclr/jit/ee_il_dll.cpp
Labels: area-CodeGen-coreclr

#77733 Add readmes for configuration packages, part 1
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/README.md
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/Microsoft.Extensions.Configuration.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Configuration.Binder/README.md
  src/libraries/Microsoft.Extensions.Configuration.CommandLine/README.md
  src/libraries/Microsoft.Extensions.Configuration.CommandLine/src/Microsoft.Extensions.Configuration.CommandLine.csproj
  src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/README.md
  src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/src/Microsoft.Extensions.Configuration.EnvironmentVariables.csproj
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/README.md
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/Microsoft.Extensions.Configuration.FileExtensions.csproj
  src/libraries/Microsoft.Extensions.Configuration/README.md
  src/libraries/Microsoft.Extensions.Configuration/src/Microsoft.Extensions.Configuration.csproj
Labels: area-Extensions-Configuration, community-contribution

#77739 [PERF][MAUI] Update the Nuget Config used for Maui net6 apps.
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net6.yml
Labels: area-Infrastructure-coreclr

#77745 Fix TimeZoneInfo test failure
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: area-System.Runtime

#77746 Fix Activity.OperationName when Activity is created with null value
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivityTests.cs
Labels: breaking-change, needs-breaking-change-doc-created, area-System.Diagnostics.Activity

#77747 JIT: increase edge weight slop tolerance some more
  src/coreclr/jit/block.h
Labels: area-CodeGen-coreclr

#77759 Revert "[wasm] browser profiler (#77449)"
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/mono.proj
  src/mono/mono/metadata/profiler.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
  src/mono/mono/profiler/browser.c
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/sample/wasm/browser-advanced/main.js
  src/mono/sample/wasm/browser-profile/Makefile
  src/mono/sample/wasm/browser-profile/Wasm.BrowserProfile.Sample.csproj
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-internal.ts
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/invoke-cs.ts
  src/mono/wasm/runtime/invoke-js.ts
  src/mono/wasm/runtime/profiler.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/wasm.proj
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Labels: arch-wasm, blocking-clean-ci, area-Build-mono, test-failure

#75671 Add option for truncated stream detection
  src/libraries/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/libraries/Common/tests/System/IO/Compression/ZipTestHelper.cs
  src/libraries/System.IO.Compression.Brotli/src/Resources/Strings.resx
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/dec/BrotliStream.Decompress.cs
  src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Create.cs
  src/libraries/System.IO.Compression/src/Resources/Strings.resx
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Inflater.cs
  src/libraries/System.IO.Compression/tests/CompressionStreamUnitTests.Deflate.cs
  src/libraries/System.IO.Compression/tests/CompressionStreamUnitTests.Gzip.cs
  src/libraries/System.IO.Compression/tests/CompressionStreamUnitTests.ZLib.cs
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
Labels: area-System.IO.Compression, community-contribution

#77709 [mono][wasm] Handle delegates decorated with [UnmanagedFunctionPointe…
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
Labels: area-Interop-mono

#76939 [release/7.0][wasm] Fix Wasm.Build.Tests with stable 7.0.0
  eng/Versions.props
  eng/testing/tests.wasm.targets
  eng/testing/workloads-testing.targets
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BlazorWasmBuildPublishTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BlazorWasmTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/CleanTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeRebuildTests/NoopNativeRebuildTest.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/Wasm.Build.Tests.csproj
Labels: arch-wasm, blocking, test-failure

#76600 Add RIDs for Tizen 7.0
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Infrastructure-libraries, community-contribution

#77534 [mono] Remove Vector128 checks for amd64 APIs
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#77721 JIT: Support profiles with only histograms
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.def
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/inlinepolicy.h
  src/coreclr/jit/phase.cpp
Labels: area-CodeGen-coreclr

#77563 [hot_reload] implement param reflection
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ReflectionAddNewMethod/ReflectionAddNewMethod.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ReflectionAddNewMethod/ReflectionAddNewMethod_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ReflectionAddNewMethod/System.Reflection.Metadata.ApplyUpdate.Test.ReflectionAddNewMethod.csproj
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ReflectionAddNewMethod/deltascript.json
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
  src/mono/mono/component/hot_reload-internals.h
  src/mono/mono/component/hot_reload-stub.c
  src/mono/mono/component/hot_reload.c
  src/mono/mono/component/hot_reload.h
  src/mono/mono/metadata/custom-attrs.c
  src/mono/mono/metadata/loader.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata-update.c
  src/mono/mono/metadata/metadata-update.h
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/reflection.c
Labels: area-EnC-mono

#77562 Mark and expose additional Vector functions as Intrinsic
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsic.h
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.csproj
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Numerics.Vectors/tests/Util.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Scalar.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector256Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector64Tests.cs
Labels: area-CodeGen-coreclr, new-api-needs-documentation

#77289 Avoid reporting empty debug info ranges to the vm
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/ee_il_dll.cpp
Labels: area-CodeGen-coreclr

#77615 Use SR.Format in a few more places
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/CompositionExceptionTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/TypeCatalogTests.cs
  src/libraries/System.Configuration.ConfigurationManager/tests/System/Configuration/ExceptionUtilTests.cs
  src/libraries/System.Configuration.ConfigurationManager/tests/System/Configuration/ValidatiorUtilsTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CharMarshallingGeneratorFactory.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
Labels: area-Meta, community-contribution

#76687 Fix triple slash documentation for System.Runtime.Intrinsics
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
Labels: area-System.Runtime.Intrinsics

#77765 Avoid locking during host trace flush when not necessary
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/trace.cpp
Labels: area-Host

#76784 Fix missing dispose on rate limiting
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiter.cs
Labels: area-System.Threading, community-contribution

#74157 Update assembly version from hardcoded to MajorVersion
  eng/Versions.props
  eng/testing/ForXHarness.Directory.Build.props
  eng/testing/ForXHarness.Directory.Build.targets
  eng/testing/linker/SupportFiles/Directory.Build.targets
  src/libraries/Common/tests/System/Net/Prerequisites/LocalEchoServer.helix.targets
  src/libraries/Common/tests/System/Net/Prerequisites/LocalEchoServer.props
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/Directory.Build.props
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/Directory.Build.targets
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/NetCoreServer.csproj
  src/libraries/Common/tests/System/Net/Prerequisites/RemoteLoopServer/Directory.Build.props
  src/libraries/Common/tests/System/Net/Prerequisites/RemoteLoopServer/Directory.Build.targets
  src/libraries/Common/tests/System/Net/Prerequisites/RemoteLoopServer/RemoteLoopServer.csproj
  src/libraries/Microsoft.VisualBasic.Core/Directory.Build.props
  src/libraries/System.Diagnostics.EventLog/src/CompatibilitySuppressions.xml
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/System.Net.WebSockets.Client/tests/wasm/System.Net.WebSockets.Client.Wasm.Tests.csproj
  src/libraries/System.Resources.Extensions/tests/System.Resources.Extensions.Tests.csproj
  src/libraries/System.Resources.Extensions/tests/TestData.resources
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterTypesTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/SurrogateTests.cs
  src/libraries/sendtohelix-wasm.targets
  src/mono/wasm/build/WasmApp.InTree.props
  src/mono/wasm/build/WasmApp.InTree.targets
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
Labels: area-Infrastructure-libraries

#77549 Update branding to 7.0.1
  eng/Versions.props
Labels: area-Infrastructure-libraries

#77182 System.Threading.RateLimiting de-queue canceled request
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/tests/BaseRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/ConcurrencyLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/FixedWindowRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/SlidingWindowRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/TokenBucketRateLimiterTests.cs
Labels: area-System.Threading, community-contribution

#77263 [release/7.0] [wasm] Template nits 2
  src/mono/wasm/templates/templates/browser/.template.config/template.json
  src/mono/wasm/templates/templates/browser/README.md
  src/mono/wasm/templates/templates/console/.template.config/template.json
  src/mono/wasm/templates/templates/console/README.md
Labels: arch-wasm, area-Build-mono

#77533 [Release/7.0] Issue ICorProfiler ModuleLoadFinished callbacks for dynamic modules
  src/coreclr/vm/domainassembly.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#77763 [mono] Avoid returning true from RuntimeType.IsActualEnum for generic…
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
Labels: area-CoreLib-mono

#77699 [PERF][Release/7.0] Update release/7.0 Perf infrastructure to use Perf repo release/7.0 branch
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net6.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-coreclr

#77510 [release/6.0] Use generated runtime.json when building shared framework packages (backport of #76068)
  Directory.Build.props
  eng/liveBuilds.targets
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/pretest.proj
Labels: Servicing-approved, area-Infrastructure-libraries, community-contribution

#77810 Remove empty BEGIN/END_ENTRYPOINT_* macros
  src/coreclr/dlls/mscoree/mscoree.cpp
  src/coreclr/inc/entrypoints.h
  src/coreclr/inc/ex.h
  src/coreclr/inc/utilcode.h
  src/coreclr/md/ceefilegen/cceegen.cpp
  src/coreclr/md/ceefilegen/ceegentokenmapper.cpp
  src/coreclr/md/compiler/assemblymd.cpp
  src/coreclr/md/compiler/assemblymd_emit.cpp
  src/coreclr/md/compiler/classfactory.cpp
  src/coreclr/md/compiler/custattr_emit.cpp
  src/coreclr/md/compiler/custattr_import.cpp
  src/coreclr/md/compiler/disp.cpp
  src/coreclr/md/compiler/emit.cpp
  src/coreclr/md/compiler/helper.cpp
  src/coreclr/md/compiler/import.cpp
  src/coreclr/md/compiler/regmeta.cpp
  src/coreclr/md/compiler/regmeta_compilersupport.cpp
  src/coreclr/md/compiler/regmeta_emit.cpp
  src/coreclr/md/compiler/regmeta_imetadatatables.cpp
  src/coreclr/md/compiler/regmeta_import.cpp
  src/coreclr/md/compiler/regmeta_vm.cpp
  src/coreclr/md/staticmd/apis.cpp
  src/coreclr/utilcode/posterror.cpp
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/comcallablewrapper.cpp
  src/coreclr/vm/corhost.cpp
  src/coreclr/vm/dllimportcallback.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/i386/excepx86.cpp
  src/coreclr/vm/i386/stublinkerx86.cpp
  src/coreclr/vm/multicorejitplayer.cpp
  src/coreclr/vm/olecontexthelpers.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/virtualcallstub.cpp
Labels: area-VM-coreclr

#77748 JIT: Enable phi-based jump threading when SSA updates aren't needed
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#77785 Update tar test data version
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.ExtractToDirectoryAsync.Stream.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.File.Tests.cs
Labels: area-System.IO, community-contribution

#77816 Fix ThunkGenerator build break
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetGenerator.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/Program.cs
Labels: area-crossgen2-coreclr

#77581 correct code snippets
  docs/design/features/source-generator-pinvokes.md
Labels: community-contribution

#77355 Implement Environment.IsPrivilegedProcess
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetTokenInformation_void.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.TOKEN_ACCESS_LEVELS.cs
  src/libraries/Common/tests/TestUtilities/System/AdminHelpers.cs
  src/libraries/Common/tests/TestUtilities/TestUtilities.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Environment.Browser.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.cs
  src/libraries/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/libraries/System.Runtime.Extensions/tests/System/Environment.IsPrivilegedProcess.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime, new-api-needs-documentation, community-contribution

#76975 Fixes typos and formatting in comments
  src/libraries/System.Private.CoreLib/src/System/Nullable.cs
Labels: area-Meta, community-contribution

#77819 [wasm] Bump tests timeout 15mins to 30mins, for ..
  eng/testing/tests.wasm.targets
  src/mono/sample/wasm/console-v8/Makefile
Labels: arch-wasm, area-Build-mono, test-failure

#77832 Avoid some unnecessary MemoryStream.ToArray calls
  src/libraries/System.Private.Xml/src/System/Xml/Resolvers/XmlPreloadedResolver.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/DebugDirectory/DebugDirectoryBuilder.EmbeddedPortablePdb.cs
Labels: area-Meta

#77796 Do not add null checks for boxed statics
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr, community-contribution

#77808 Unify RunCrossGen2 environment variable to be set to 1 instead of "true"
  src/tests/run.cmd
  src/tests/run.py
Labels: area-Infrastructure-coreclr

#77774 Use correct container definitions in perf_slow.yml
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure

#77260 [release/6.0][Android] Backport fix NetworkInterface.GetAllNetworkInterfaces
  src/libraries/Native/Unix/System.Native/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/pal_ifaddrs.c
  src/libraries/Native/Unix/System.Native/pal_ifaddrs.h
  src/libraries/Native/Unix/System.Native/pal_interfaceaddresses.c
Labels: Servicing-approved, area-System.Net, os-android

#77322 [release/6.0] Always generate metadata for dynamic methods
  src/coreclr/vm/ceeload.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#77750 Update branding to 6.0.12
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-Infrastructure-libraries

#77825 Update superpmi-collect queues
  src/coreclr/scripts/superpmi_collect_setup.py
Labels: area-CodeGen-coreclr

#77620 [release/6.0] [wasm][debugger] Never send messages from our internal protocol extensions to the browser
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: Servicing-approved, area-Debugger-mono

#77772 [release/6.0] Clear OpenSSL error queues before reading/writing SSL data
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c
Labels: Servicing-approved, area-System.Security

#77815 Fix op_Inequality for `Vector64<T>`
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
Labels: area-System.Runtime.Intrinsics

#77756 Optimize XxHash3
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash3.cs
Labels: area-System.Security, tenet-performance, community-contribution

#67129 Design to support ByRefLike types in Generics
  docs/design/features/byreflike-generics.md
Labels: area-TypeSystem-coreclr

#77779 [wasm] browser profiler (again)
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/mono.proj
  src/mono/mono/metadata/profiler.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
  src/mono/mono/profiler/browser.c
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/sample/wasm/browser-advanced/main.js
  src/mono/sample/wasm/browser-profile/Makefile
  src/mono/sample/wasm/browser-profile/Wasm.BrowserProfile.Sample.csproj
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-internal.ts
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/imports.ts
  src/mono/wasm/runtime/invoke-cs.ts
  src/mono/wasm/runtime/invoke-js.ts
  src/mono/wasm/runtime/profiler.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/wasm.proj
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#76483 Standardize test script naming to CLRTestBa{tc,s}hP{re,ost}Commands
  src/tests/Common/CLRTest.CrossGen.targets
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Common/CLRTest.GC.targets
  src/tests/Common/CLRTest.Jit.targets
  src/tests/GC/Regressions/Github/Runtime_76219/Runtime_76219.csproj
  src/tests/Interop/DllImportAttribute/DllImportPath/DllImportPathTest.csproj
  src/tests/JIT/PGO/InstrumentedTiers/InstrumentedTiers.csproj
  src/tests/JIT/Regression/JitBlue/GitHub_27924/GitHub_27924.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_45090/Runtime_45090.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_75607/Runtime_75607.csproj
  src/tests/JIT/SIMD/Directory.Build.props
  src/tests/Loader/NativeLibs/FromNativePaths.csproj
  src/tests/baseservices/TieredCompilation/BasicTestWithMcj.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/x64Vex.csproj
  src/tests/nativeaot/SmokeTests/SharedLibrary/SharedLibrary.csproj
  src/tests/readytorun/determinism/crossgen2determinism.csproj
  src/tests/readytorun/multifolder/multifolder.csproj
  src/tests/readytorun/r2rdump/BasicTests/R2RDumpTest.csproj
  src/tests/readytorun/tests/mainv1.csproj
  src/tests/readytorun/tests/mainv2.csproj
Labels: area-CodeGen-coreclr

#76339 Add BinaryPrimitives.ReverseEndianness for spans of elements
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/tests/Binary/ReverseEndiannessUnitTests.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/BinaryPrimitives.ReverseEndianness.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/Reader.cs
Labels: area-System.Memory, new-api-needs-documentation

#77844 Use backport workflow from arcade repo
  .github/workflows/backport.yml
  eng/actions/backport/action.yml
  eng/actions/backport/index.js
Labels: area-Infrastructure

#77265 [wasm] WasmAppHost docs
  src/mono/wasm/README.md
  src/mono/wasm/host/README.md
Labels: arch-wasm, area-Build-mono

#77674 Move `LibraryImport`s of `System.Data.OleDb` to `Common\src\Interop`
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.WaitForMultipleObjects.cs
  src/libraries/System.Data.OleDb/src/SafeNativeMethods.cs
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Data.OleDb/src/System/Data/ProviderBase/DbConnectionPool.cs
Labels: area-System.Data, community-contribution

#77556 Remove `palrt` from JIT and remove `memcpy` from PAL
  src/coreclr/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/codegen.h
  src/coreclr/jit/utils.cpp
  src/coreclr/nativeaot/Runtime/inc/MethodTable.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/cruntime/misc.cpp
  src/coreclr/pal/src/include/pal/palinternal.h
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/c_runtime/memcpy/test1/test1.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/vm/common.h
Labels: area-PAL-coreclr

#77858 Remove SharedFxLookup tests
  src/installer/tests/Assets/TestProjects/SharedFxLookupPortableApp/Program.cs
  src/installer/tests/Assets/TestProjects/SharedFxLookupPortableApp/SharedFxLookupPortableApp.csproj
  src/installer/tests/HostActivation.Tests/SharedFxLookup.cs
Labels: area-Host

#77860 Update api-review-process.md
  docs/project/api-review-process.md
Labels: area-Meta

#77786 source-build: set the properties to build for mono runtime.
  eng/SourceBuild.props
Labels: community-contribution

#77890 Adding issue #77889 to GenerateRuntimeGraphTests.
  src/libraries/Microsoft.NETCore.Platforms/tests/GenerateRuntimeGraphTests.cs
Labels: area-Infrastructure-libraries

#77845 JIT: Propagate only BBF_COPY_PROPAGATE flags during inliner substitution
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#77876 Improve JIT bit sets
  src/coreclr/jit/bitset.cpp
  src/coreclr/jit/bitset.h
  src/coreclr/jit/bitsetasshortlong.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compilerbitsettraits.h
  src/coreclr/jit/compilerbitsettraits.hpp
Labels: area-CodeGen-coreclr

#77888 If conversion should not convert PHI nodes (#77886)
  src/coreclr/jit/optimizer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_77886/Runtime_77886.cs
  src/tests/JIT/Regression/JitBlue/Runtime_77886/Runtime_77886.csproj
Labels: area-CodeGen-coreclr, community-contribution

#77856 Add System.IO.Hashing ref csproj
  eng/ApiCompatExcludeAttributes.txt
  src/libraries/System.IO.Hashing/System.IO.Hashing.sln
  src/libraries/System.IO.Hashing/ref/System.IO.Hashing.cs
  src/libraries/System.IO.Hashing/ref/System.IO.Hashing.csproj
Labels: area-System.Security

#77799 Add FrozenDictionary/Set
  src/libraries/Common/tests/System/Collections/ICollection.Generic.Tests.cs
  src/libraries/Common/tests/System/Collections/ICollection.NonGeneric.Tests.cs
  src/libraries/Common/tests/System/Collections/IDictionary.Generic.Tests.cs
  src/libraries/Common/tests/System/Collections/IDictionary.NonGeneric.Tests.cs
  src/libraries/Common/tests/System/Collections/ISet.Generic.Tests.cs
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.netcoreapp.cs
  src/libraries/System.Collections.Immutable/src/Resources/Strings.resx
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/DefaultFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/DefaultFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/EmptyFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/EmptyFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenHashTable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenSetInternalBase.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Int32FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Int32FrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/ItemsFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/KeysAndValuesFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/LengthBucketsFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/LengthBucketsFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/OrdinalStringFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/OrdinalStringFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/ComparerPicker.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/FullCaseInsensitiveAsciiStringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/FullCaseInsensitiveStringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/FullStringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/LeftJustifiedCaseInsensitiveAsciiSubstringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/LeftJustifiedCaseInsensitiveSubstringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/LeftJustifiedSingleCharComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/LeftJustifiedSubstringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/RightJustifiedCaseInsensitiveAsciiSubstringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/RightJustifiedCaseInsensitiveSubstringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/RightJustifiedSingleCharComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/RightJustifiedSubstringComparer.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/StringComparerBase.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/StringComparers/SubstringComparerBase.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/ValueTypeDefaultComparerFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/ValueTypeDefaultComparerFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableEnumerableDebuggerProxy.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/ThrowHelper.cs
  src/libraries/System.Collections.Immutable/src/System/Polyfills.cs
  src/libraries/System.Collections.Immutable/src/Validation/Requires.cs
  src/libraries/System.Collections.Immutable/src/Validation/ValidatedNotNullAttribute.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenDictionaryTest.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenSetTests.cs
  src/libraries/System.Collections.Immutable/tests/System.Collections.Immutable.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Collections/HashHelpers.cs
Labels: area-System.Collections, new-api-needs-documentation

#76740 Vectorize {Last}IndexOfAny{Except} for ASCII needles
  src/libraries/System.Memory/tests/Span/IndexOfAny.char.cs
  src/libraries/System.Memory/tests/Span/IndexOfAnyExcept.T.cs
  src/libraries/System.Memory/tests/Span/LastIndexOfAny.T.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IndexOfAnyAsciiSearcher.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/ProbabilisticMap.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
Labels: area-System.Memory

#77911 Suppress warnings for deprecated keychain APIs
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_keychain_macos.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_x509_macos.c
Labels: area-System.Security, os-mac-os-x

#77848 Work around invalid IR with field morphing temps
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_77773/Runtime_77773.cs
  src/tests/JIT/Regression/JitBlue/Runtime_77773/Runtime_77773.csproj
Labels: area-CodeGen-coreclr, community-contribution

#77917 Remove nonexistent tests from PAL test run files
  src/coreclr/pal/tests/palsuite/compilableTests.txt
  src/coreclr/pal/tests/palsuite/paltestlist.txt
Labels: area-PAL-coreclr

#77419 Adding EVEX encoding logic for RR/AM pathways
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/simdcodegenxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#77933 Switch custom attribute hash from using CClosedHashEx to SHash
  src/coreclr/inc/utilcode.h
  src/coreclr/md/compiler/custattr_emit.cpp
  src/coreclr/md/compiler/custattr_import.cpp
  src/coreclr/md/compiler/regmeta.h
Labels: area-VM-coreclr

#77881 Optimize XxHash3 on ARM platform
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash3.cs
Labels: area-System.IO, community-contribution

#77903 Fix rerunning crossgen2 tests
  src/tests/Common/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#77854 Fix mono arm assert with large return structs
  src/mono/mono/mini/mini-arm.c
  src/tests/JIT/Regression/JitBlue/GitHub_77854/GitHub_77854.cs
  src/tests/JIT/Regression/JitBlue/GitHub_77854/GitHub_77854.csproj
Labels: area-Codegen-JIT-mono, community-contribution

#77238 Include dependently promoted fields in SSA
  src/coreclr/jit/compiler.h
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/ssabuilder.cpp
  src/coreclr/jit/ssabuilder.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#77958 Correct typo
  src/libraries/System.ComponentModel.Composition/README.md
Labels: area-Meta

#77708 Control if invalid configuration values are swallowed or thrown
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/BinderOptions.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationBinderTests.cs
Labels: breaking-change, area-Extensions-Configuration, community-contribution

#76366 Remove unnecessary encoding allocations in System.Private.DataContractSerialization
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContractSerializer.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonEncodingStreamWrapper.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonGlobals.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlJsonWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/EncodingStreamWrapper.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/ValueHandle.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlBaseReader.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlBaseWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlBinaryWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlConverter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlDictionaryWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlSigningNodeWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlStreamNodeWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlUTF8TextWriter.cs
Labels: area-Serialization

#77952 check the right return value for mmap
  src/coreclr/gc/unix/gcenv.unix.cpp
Labels: area-GC-coreclr

#77895 Add and use a MakeSrcRegOptional that validates IsSafeToContainMem was called
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#77925 Improve IndexOf handling in regex source generator / compiler
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
Labels: area-System.Text.RegularExpressions

#76971 Fix typo in docs of AdvSimd.Arm64.TransposeOdd
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
Labels: area-System.Runtime.Intrinsics, community-contribution

#77804 Refactor ProcessStartInfoTests to use WindowsTestAccount
  src/libraries/Common/tests/TestUtilities/System/WindowsIdentityFixture.cs
  src/libraries/System.Diagnostics.Process/tests/Interop.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Labels: area-System.Diagnostics.Process, community-contribution

#77811 [release/7.0] Managed EventSources do not show up by default in EventPipe sessions (#75248)
  src/native/eventpipe/ep-provider.c
Labels: Servicing-approved, EventPipe, area-Tracing-coreclr

#69888 Fix StreamReader EOF handling and improve perf
  src/libraries/System.IO/tests/StreamReader/StreamReaderTests.cs
  src/libraries/System.Private.CoreLib/src/System/IO/StreamReader.cs
Labels: area-System.IO

#77283 [release/6.0] Fix process aborts when using cryptographic primitives with empty input for Android
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2CipherOneShotTests.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_evp.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_hmac.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native.Android/pal_rsa.c
  src/libraries/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/HashProviderDispenser.Unix.cs
Labels: Servicing-approved, area-System.Security

#77507 [release/6.0] Define __cpuid{ex} only when there's no builtin one (backport of #73065)
  eng/common/native/find-native-compiler.sh
  src/coreclr/gc/env/gcenv.base.h
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/vm/amd64/unixstubs.cpp
Labels: Servicing-approved, area-Infrastructure-coreclr, community-contribution

#77508 [release/6.0] Pass TargetRid and SourceBuildNonPortable to the native scripts (backport of #74504)
  eng/SourceBuild.props
  eng/build.sh
  eng/common/templates/steps/source-build.yml
  eng/native/build-commons.sh
  eng/pipelines/common/global-build-job.yml
  src/native/corehost/build.sh
  src/native/corehost/corehost.proj
Labels: area-Infrastructure-coreclr, community-contribution

#77872 Allow deleting any kind of nodes after address mode formation
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#77982 Add readmes for configuration packages, part 2
  src/libraries/Microsoft.Extensions.Configuration.Ini/README.md
  src/libraries/Microsoft.Extensions.Configuration.Ini/src/Microsoft.Extensions.Configuration.Ini.csproj
  src/libraries/Microsoft.Extensions.Configuration.Json/README.md
  src/libraries/Microsoft.Extensions.Configuration.Json/src/Microsoft.Extensions.Configuration.Json.csproj
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/README.md
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/Microsoft.Extensions.Configuration.UserSecrets.csproj
  src/libraries/Microsoft.Extensions.Configuration.Xml/README.md
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/Microsoft.Extensions.Configuration.Xml.csproj
Labels: area-Extensions-Configuration, community-contribution

#77929 Improve coreclr test infra
  docs/workflow/testing/coreclr/test-configuration.md
  src/tests/Common/CoreCLRTestLibrary/PlatformDetection.cs
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
  src/tests/Common/XUnitWrapperLibrary/TestFilter.cs
  src/tests/Common/XUnitWrapperLibrary/TestSummary.cs
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Common/mergedrunner.targets
  src/tests/Common/testenvironment.proj
  src/tests/Directory.Build.targets
  src/tests/build.proj
Labels: area-Infrastructure-coreclr

#77997 Fixes typo in TimerQueue.Portable.cs comment
  src/libraries/System.Private.CoreLib/src/System/Threading/TimerQueue.Portable.cs
Labels: area-System.Threading, community-contribution

#77930 Add AVX-512 testing pipeline
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/jitstress-isas-avx512.yml
  src/coreclr/jit/compiler.h
  src/coreclr/jit/jitconfigvalues.h
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#77950 Fix sprintf deprecation error with Xcode 14.1
  src/tests/Common/Platform/platformdefines.cpp
  src/tests/nativeaot/SmokeTests/PInvoke/PInvokeNative.cpp
Labels: community-contribution, area-NativeAOT-coreclr

#77937 [wasm] Update repository URL in package.json
  src/mono/wasm/runtime/package.json
Labels: arch-wasm, area-Build-mono

#75824 Implement Console.SetWindowSize() for linux
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetWindowWidth.cs
  src/libraries/System.Console/ref/System.Console.cs
  src/libraries/System.Console/src/Resources/Strings.resx
  src/libraries/System.Console/src/System/Console.cs
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/src/System/ConsolePal.Windows.cs
  src/libraries/System.Console/tests/ManualTests/ManualTests.cs
  src/libraries/System.Console/tests/WindowAndCursorProps.cs
  src/libraries/System.Private.CoreLib/src/System/ArgumentOutOfRangeException.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
  src/native/libs/Common/pal_config.h.in
  src/native/libs/System.Native/entrypoints.c
  src/native/libs/System.Native/pal_console.c
  src/native/libs/System.Native/pal_console.h
  src/native/libs/configure.cmake
Labels: area-System.Console, community-contribution

#77981 JIT: Fix GenTreeCall::Equals for virtual vs static calls
  src/coreclr/jit/gentree.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_77710/Runtime_77710.cs
  src/tests/JIT/Regression/JitBlue/Runtime_77710/Runtime_77710.csproj
Labels: area-CodeGen-coreclr

#77777 [wasm] Add intrinsics for clz and ctz instructions
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/WasmBase.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/WasmBase.cs
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-LLVM-mono

#77977 Remove .NET 6 Console Key Parser
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.ReadStdinUnbuffered.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SetSignalForBreak.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.StdinReady.cs
  src/libraries/Common/src/System/Console/ConsoleUtils.cs
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/src/System/IO/Net6KeyParser.cs
  src/libraries/System.Console/src/System/IO/StdInReader.cs
  src/libraries/System.Console/tests/System.Console.Tests.csproj
  src/native/libs/System.Native/pal_console.c
  src/native/libs/System.Native/pal_console.h
Labels: area-System.Console

#77543 unify error handling for FileStream and Pipe Streams
  src/libraries/System.IO.Pipes/tests/System.IO.Pipes.Tests.csproj
  src/libraries/System.IO.Pipes/tests/UnifiedErrorHandlingTests.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.Windows.cs
Labels: area-System.IO

#78011 Fix typo in timeout.
  eng/pipelines/coreclr/templates/perf-job.yml
Labels: area-Infrastructure-coreclr

#77827 [mono] Added null-checks for LDFLDA on pointers.
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/method-to-ir.c
  src/tests/issues.targets
Labels: area-Codegen-JIT-mono

#77039 [wasm][debugger] Fix DebuggerTypeProxy for structs and for classes with multiple constructors
  src/mono/wasm/debugger/BrowserDebugProxy/MemberObjectsExplorer.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/ValueTypeClass.cs
  src/mono/wasm/debugger/DebuggerTestSuite/CustomViewTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-custom-view-test.cs
Labels: area-Debugger-mono

#77328 Fix the build with BACKGROUND_GC turned off
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/daccess/request_common.h
  src/coreclr/debug/daccess/request_svr.cpp
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#78032 [mono] Don't use lld on s390x architecture
  eng/common/native/init-compiler.sh
Labels: area-Build-mono

#77859 Links to issue with more info on flaky behavior
  src/libraries/Microsoft.Extensions.Configuration/tests/FunctionalTests/ConfigurationTests.cs
Labels: area-Extensions-Configuration

#76490 Implement AES-GCM with CryptoKit on macOS
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Aead.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesGcm.Android.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesGcm.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesGcm.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesGcm.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesGcm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesGcm.macOS.cs
  src/libraries/System.Security.Cryptography/tests/AesGcmTests.cs
  src/native/libs/System.Security.Cryptography.Native.Apple/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_swiftbindings.h
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_swiftbindings.swift
Labels: area-System.Security, breaking-change, needs-breaking-change-doc-created

#77932 Add Readme.md for Resources, Threading.Tasks, Threading.Channels, ComilerServices, Configuration and CodeDom assemblies
  src/libraries/System.CodeDom/README.md
  src/libraries/System.Configuration.ConfigurationManager/README.md
  src/libraries/System.Resources.Extensions/README.md
  src/libraries/System.Resources.Reader/README.md
  src/libraries/System.Resources.ResourceManager/README.md
  src/libraries/System.Resources.Writer/README.md
  src/libraries/System.Runtime.CompilerServices.Unsafe/README.md
  src/libraries/System.Runtime.CompilerServices.VisualC/README.md
  src/libraries/System.Threading.Channels/README.md
  src/libraries/System.Threading.Tasks.Dataflow/README.md
  src/libraries/System.Threading.Tasks.Extensions/README.md
  src/libraries/System.Threading.Tasks.Parallel/README.md
  src/libraries/System.Threading.Tasks/README.md
Labels: area-Meta

#78021 Fix an issue with Vector<T>.Multiply
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/tests/JIT/Regression/JitBlue/Performance_2700/Performance_2700.cs
  src/tests/JIT/Regression/JitBlue/Performance_2700/Performance_2700.csproj
Labels: area-CodeGen-coreclr

#78060 [main] Disable NativeAOT subset for source-build. (#76206)
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
Labels: area-NativeAOT-coreclr

#78058 Exclude unnecessary functions/fields when FEATURE_METADATA_EMIT_IN_DEBUGGER
  src/coreclr/md/compiler/custattr_emit.cpp
  src/coreclr/md/compiler/emit.cpp
  src/coreclr/md/compiler/regmeta.h
Labels: area-Diagnostics-coreclr

#78056 Fix build error due to unused windowSize parameter in pal_console.c
  src/native/libs/System.Native/pal_console.c
Labels: area-System.Console

#78028 Update `GTF_VAR_USEASG` in the GS transformation
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gschecks.cpp
Labels: area-CodeGen-coreclr, community-contribution

#78088 Upgrade dotnet version needed to build benchmarks in superpmi
  src/coreclr/scripts/superpmi_benchmarks.py
  src/coreclr/scripts/superpmi_collect_setup.py
Labels: area-CodeGen-coreclr

#77894 Sync linker to NativeAOT
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/AttributeDataFlow.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/DiagnosticContext.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/DiagnosticUtilities.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/DynamicallyAccessedMembersBinder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/EcmaExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FieldReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/HandleCallAction.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/InterproceduralState.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/LocalVariableReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodParameterValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodProxy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodThisParameterValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ParameterProxy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ParameterReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/AttributeDataFlow.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/CompilerGeneratedState.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/DiagnosticContext.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/DiagnosticUtilities.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/DynamicallyAccessedMembersBinder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/FieldReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/HandleCallAction.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/InterproceduralState.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/LocalVariableReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodParameterValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodProxy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/MethodThisParameterValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ParameterProxy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ParameterReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/README.md
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/ScannerExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceSource/SingleValueExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReferenceValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TypeExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILLink.Shared/Annotations.cs
  src/coreclr/tools/aot/ILLink.Shared/DiagnosticId.cs
  src/coreclr/tools/aot/ILLink.Shared/ParameterIndex.cs
  src/coreclr/tools/aot/ILLink.Shared/SharedStrings.resx
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/DiagnosticContext.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/FlowAnnotations.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/HandleCallAction.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/IntrinsicId.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/Intrinsics.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/MethodParameterValue.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/MethodThisParameterValue.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/RequireDynamicallyAccessedMembersAction.cs
  src/coreclr/tools/aot/ILLink.Shared/TypeSystemProxy/MethodProxy.cs
  src/coreclr/tools/aot/ILLink.Shared/TypeSystemProxy/ParameterCollection.cs
  src/coreclr/tools/aot/ILLink.Shared/TypeSystemProxy/ParameterProxy.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MethodByRefParameterDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MethodParametersDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/TestRunner.cs
Labels: area-NativeAOT-coreclr

#78084 Fix XxHash3 DeriveSecretFromSeed scalar fallback on big endian
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash3.cs
Labels: area-System.IO

#78067 [wasm] Implement Vector128.Abs intrinsics
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-LLVM-mono

#78095 Update area tizen owners
  docs/area-owners.json
  docs/area-owners.md
Labels: area-Meta

#78012 Update framework to net8.0 for perf-job.
  eng/pipelines/coreclr/templates/perf-job.yml
Labels: area-Infrastructure-coreclr

#78102 Fixed clang15 build issues
  src/mono/mono/mini/mini-ppc.c
  src/mono/mono/mini/tramp-ppc.c
Labels: area-VM-meta-mono, arch-ppc64le

#78074 JIT: fix gc hole in peephole optimizations
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#78057 Merging internal commits for release/7.0
  src/coreclr/pal/src/include/pal/sharedmemory.h
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
  src/coreclr/pal/src/synchobj/mutex.cpp
Labels: area-PAL-coreclr

#78126 Revert changes to fabricbot.json
  .github/fabricbot.json
Labels: area-Meta

#77509 [release/6.0] source-build: support building runtime using non-portable runtime packages (backport of #75597)
  Directory.Build.targets
Labels: area-Infrastructure, community-contribution

#76793 Split and simplify `fgMorphOneAsgBlockOp`
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr, community-contribution

#78051 Merging internal commits for release/6.0
  src/coreclr/pal/src/include/pal/sharedmemory.h
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
  src/coreclr/pal/src/synchobj/mutex.cpp
Labels: area-PAL-coreclr

#78119 [release/6.0] Bump consumed dependency of Microsoft.Windows.Compatibility
  eng/Versions.props
Labels: area-Infrastructure-libraries

#78106 Restrict named mutex files permissions
  src/coreclr/pal/src/include/pal/sharedmemory.h
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
  src/coreclr/pal/src/synchobj/mutex.cpp
Labels: area-PAL-coreclr

#78129 Bring back fabricbot changes
  .github/fabricbot.json
Labels: area-Meta

#78005 [NativeAOT] Make Frozen collections tests pass with NativeAOT
  src/libraries/System.Collections.Immutable/tests/default.rd.xml
Labels: area-NativeAOT-coreclr
