Repository dotnet/runtime, pull requests merged in 2022-10, with the labels that each got.

#76416 Remove `IDispatchImplAttribute` API
  src/coreclr/vm/comcallablewrapper.cpp
  src/coreclr/vm/comcallablewrapper.h
  src/coreclr/vm/stdinterfaces.cpp
  src/coreclr/vm/stdinterfaces_internal.h
  src/coreclr/vm/wellknownattributes.h
  src/libraries/System.Reflection.Metadata/tests/Resources/Interop/Interop.Mock01.cs
  src/libraries/System.Runtime.InteropServices/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Runtime.InteropServices/src/System.Runtime.InteropServices.csproj
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/IDispatchImplAttribute.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/IDispatchImplType.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System.Runtime.InteropServices.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/IDispatchImplAttributeTests.cs
Labels: area-System.Runtime.InteropServices

#76470 Fix DEBUG/non-DEBUG SuperPMI asm diffs
  src/coreclr/scripts/superpmi.py
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi/commandline.cpp
  src/coreclr/tools/superpmi/superpmi/commandline.h
  src/coreclr/tools/superpmi/superpmi/parallelsuperpmi.cpp
  src/coreclr/tools/superpmi/superpmi/superpmi.cpp
Labels: area-CodeGen-coreclr

#76443 JIT: Avoid internal register allocation when possible for PUTARG_SPLIT
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/lsraarmarch.cpp
Labels: area-CodeGen-coreclr

#76359 Improve early bail-out logic in GCInfoDecoder
  src/coreclr/vm/gcinfodecoder.cpp
Labels: area-VM-coreclr, community-contribution

#76472 Update jitrollingbuild.py
  src/coreclr/scripts/jitrollingbuild.py
Labels: area-CodeGen-coreclr

#76476 JIT: allow forward sub of QMARK nodes
  src/coreclr/jit/forwardsub.cpp
Labels: area-CodeGen-coreclr

#76424 [JIT] Fix potential division by zero in fgopt.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr, community-contribution

#76411 Fix SuperPMI unit test error checking
  src/tests/JIT/superpmi/superpmicollect.cs
  src/tests/JIT/superpmi/superpmicollect.csproj
Labels: area-CodeGen-coreclr

#76496 Revert change in AddInternedString
  src/coreclr/vm/dynamicmethod.cpp
  src/coreclr/vm/stringliteralmap.cpp
  src/coreclr/vm/stringliteralmap.h
Labels: area-VM-coreclr

#76489 Re-enable DynamicGenerics test on OSX
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#76499 Attempt to fix native AOT with CryptoKit
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: area-NativeAOT-coreclr

#76155 Process primitives in local morph
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#76439 JIT: A small CQ improvement for Equals/StartsWith unrolling
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr

#76460 Ensure NI_Vector128_AsVector128 (aka `Vector128<T> AsVector128(this Vector<T> value)`) doesn't have a side-effect in its assert
  src/coreclr/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen-coreclr

#76487 Delete security object from GCInfo encoder/decoder
  src/coreclr/gcdump/gcdumpnonx86.cpp
  src/coreclr/gcinfo/gcinfoencoder.cpp
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/gcinfodecoder.h
  src/coreclr/inc/gcinfoencoder.h
  src/coreclr/inc/gcinfotypes.h
  src/coreclr/jit/gcencode.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gcinfodecoder.cpp
  src/coreclr/vm/stackwalktypes.h
Labels: area-VM-coreclr

#76418 Reduce OrderBy overheads for default comparer
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.cs
Labels: area-System.Linq, tenet-performance

#76467 Use System.CommandLine (v2) in dotnet-pgo
  src/coreclr/tools/Common/CommandLine/Argument.cs
  src/coreclr/tools/Common/CommandLine/ArgumentCommand.cs
  src/coreclr/tools/Common/CommandLine/ArgumentCommand_1.cs
  src/coreclr/tools/Common/CommandLine/ArgumentLexer.cs
  src/coreclr/tools/Common/CommandLine/ArgumentList_1.cs
  src/coreclr/tools/Common/CommandLine/ArgumentParser.cs
  src/coreclr/tools/Common/CommandLine/ArgumentSyntax.cs
  src/coreclr/tools/Common/CommandLine/ArgumentSyntaxException.cs
  src/coreclr/tools/Common/CommandLine/ArgumentSyntax_Definers.cs
  src/coreclr/tools/Common/CommandLine/ArgumentToken.cs
  src/coreclr/tools/Common/CommandLine/Argument_1.cs
  src/coreclr/tools/Common/CommandLine/CommandLineException.cs
  src/coreclr/tools/Common/CommandLine/CommandLineHelpers.cs
  src/coreclr/tools/Common/CommandLine/Enumerable.cs
  src/coreclr/tools/Common/CommandLine/HelpTextGenerator.cs
  src/coreclr/tools/Common/CommandLine/Resources/Strings.resx
  src/coreclr/tools/Common/CommandLineHelpers.cs
  src/coreclr/tools/ILVerify/ILVerify.csproj
  src/coreclr/tools/ILVerify/Program.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/crossgen2/Crossgen2RootCommand.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/coreclr/tools/dotnet-pgo/CommandLineOptions.cs
  src/coreclr/tools/dotnet-pgo/PgoRootCommand.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/coreclr/tools/dotnet-pgo/dotnet-pgo.csproj
Labels: area-Infrastructure-coreclr, community-contribution

#76387 [mono][arm] Fix rethrow instruction size
  src/mono/mono/mini/cpu-arm.mdesc
Labels: area-VM-meta-mono

#76196 [wasm] add missing API xml doc
  src/libraries/System.Runtime.InteropServices.JavaScript/ref/System.Runtime.InteropServices.JavaScript.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSException.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSExportAttribute.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHost.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSImportAttribute.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSMarshalAsAttribute.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSMarshalerType.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSType.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Array.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/ArrayBuffer.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.BigInt64.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Bool.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Byte.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Char.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.DateTime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Double.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Exception.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Func.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Int16.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Int32.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Int52.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.IntPtr.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.JSObject.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Object.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Single.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.String.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
Labels: arch-wasm, new-api-needs-documentation, area-System.Runtime.InteropServices.JavaScript

#76456 Ensure NI_Vector256_GetLower has the right simdSize and improve codegen slightly
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#76400 [mono][sgen] Update memory load information after world is resumed
  src/mono/mono/sgen/sgen-memory-governor.c
Labels: area-GC-mono

#76370 [Android] Fix NetworkInterface.GetAllNetworkInterfaces
  src/native/libs/System.Native/CMakeLists.txt
  src/native/libs/System.Native/pal_ifaddrs.c
  src/native/libs/System.Native/pal_ifaddrs.h
  src/native/libs/System.Native/pal_interfaceaddresses.c
Labels: area-System.Net, os-android

#76497 Fix illumos-x64 build
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure-coreclr, community-contribution

#76524 JIT: don't forward sub qmarks to LCL_FLD assignments
  src/coreclr/jit/forwardsub.cpp
Labels: area-CodeGen-coreclr

#75612 Align parameter default value resolution between coreCLR, Mono and NativeAOT runtimes
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeParameterInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/Helpers.cs
  src/libraries/System.Reflection/tests/ParameterInfoTests.cs
  src/libraries/System.Runtime/tests/System/DelegateTests.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeParameterInfo.cs
Labels: area-System.Reflection

#76396 [PERF] Pass local runtime timestamp from git into ci_setup
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-coreclr

#61558 [API Implementation]: Expose general purpose Crc32 APIs
  src/libraries/Common/src/System/Numerics/Crc32ReflectedTable.cs
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Crc32.Table.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs
  src/libraries/System.Runtime.Extensions/tests/System/Numerics/BitOperationsTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, new-api-needs-documentation

#76532 JIT: Ensure no overflow in ContainBlockStoreAddress
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#76544 SPMI: Avoid division by zero
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#76541 [Android] Fix NetworkInterface.GetAllNetworkInterfaces on API 21-23
  src/native/libs/System.Native/CMakeLists.txt
  src/native/libs/System.Native/pal_ifaddrs.c
  src/native/libs/System.Native/pal_ifaddrs.h
  src/native/libs/System.Native/pal_interfaceaddresses.c
Labels: area-System.Net, os-android

#76564 [PERF] Update perf_slow scheduled micro_mono run queue
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure-mono

#76459 Update to latest .NET 7 Roslyn compiler
  eng/Versions.props
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/DynamicInvokeInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/ILCompiler.Compiler.Tests.Assets.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Number.BigInteger.cs
  src/libraries/System.Private.CoreLib/src/System/Number.NumberToFloatingPointBits.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCaseEquivalences.cs
Labels: area-Meta

#76267 update arm32 test queues for msquic
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: arch-arm32, area-Infrastructure-libraries, os-linux, test-enhancement

#76404 Tar: Use indexer setter instead of Add on ExtendedAttributes dictionary
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Write.cs
  src/libraries/System.Formats.Tar/tests/TarTestsBase.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Entry.Roundtrip.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Entry.Roundtrip.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Tests.cs
Labels: area-System.IO

#76221 Updating Vector256 to have its software fallback be 2x Vector128<T> ops
  src/coreclr/jit/morph.cpp
  src/coreclr/tools/Common/Compiler/VectorFieldLayoutAlgorithm.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-System.Numerics

#76519 Improve performance of FormattingHelper.CountDigits(uint)
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/FormattingHelpers.CountDigits.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Formatting.cs
Labels: area-System.Runtime, tenet-performance

#76364 Remove encoding allocations for System.Security.Xml
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXml.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlAttribute.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlCDataSection.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlComment.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlElement.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlProcessingInstruction.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlSignificantWhitespace.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlText.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/CanonicalXmlWhitespace.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/ExcCanonicalXml.cs
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/XmlDsigBase64Transform.cs
Labels: area-System.Security

#76573 AOT Runtime.Base: Change AttributeTargets and AttributeUsageAttribute to public
  src/coreclr/nativeaot/Runtime.Base/src/System/AttributeTargets.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/AttributeUsageAttribute.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/ILCompiler.Compiler.Tests.Assets.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.csproj
Labels: area-NativeAOT-coreclr

#76517 Fixing where `ClearContained` is called for certain Arm64 cast ops
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#76473 System.Private.Xml AOT compatibility fixes
  src/libraries/System.Private.Xml/src/System/Xml/Schema/ContentValidator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/DataTypeImplementation.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XmlSchemaDataType.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XmlValueConverter.cs
Labels: area-System.Xml, linkable-framework

#76569 Fix Interop.Gdi32.StartDoc p/invoke
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Gdi32.cs
Labels: area-System.Drawing

#76553 Update Crst lock levels
  src/coreclr/inc/CrstTypeTool.cs
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/clrhost.h
  src/coreclr/inc/crsttypes_generated.h
  src/coreclr/vm/crst.cpp
  src/coreclr/vm/crst.h
  src/coreclr/vm/inlinetracking.h
Labels: area-VM-coreclr

#76580 [wasm] Avoid unnecessarily zipping tests
  eng/testing/tests.wasm.targets
Labels: arch-wasm, area-Infrastructure-mono

#76407 fix lower heap hard limit condition for regions
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#76576 [PERF][MAUI] Update net6.0 Maui nuget.config link
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net6.yml
Labels: area-Infrastructure-coreclr

#76585 [LinuxBionic] Disable failing ProcessStartInfo tests on CI
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Labels: area-System.Diagnostics.Process

#76485 WasmAppHost: block port# 5060 and 5061, for the webserver
  src/mono/wasm/host/WebServerStartup.cs
Labels: arch-wasm, area-Build-mono, community-contribution

#75248 Update provider_compute_event_enable_mask so EventSouces with no keywords show up by default
  src/native/eventpipe/ep-provider.c
Labels: EventPipe, area-Tracing-coreclr

#76587 CI: Run `runtime-extra-platforms` with batched builds for release
  eng/pipelines/runtime-extra-platforms.yml
Labels: arch-wasm, area-Infrastructure

#76594 CI: Fix triggers for pipeline changes
  eng/pipelines/common/evaluate-default-paths.yml
Labels: area-Infrastructure

#76471 [release/7.0] Update to latest .NET 7 Roslyn compiler
  eng/Versions.props
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/DynamicInvokeInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/ILCompiler.Compiler.Tests.Assets.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Number.BigInteger.cs
  src/libraries/System.Private.CoreLib/src/System/Number.NumberToFloatingPointBits.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCaseEquivalences.cs
Labels: Servicing-approved, area-Meta

#76307 HttpStress do not use SYS_PTRACE cap for docker runs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/docker-compose.yml
Labels: area-System.Net.Http

#76561 Remove macOS exception for building crossgen2 with NativeAOT
  src/coreclr/tools/aot/crossgen2/crossgen2.csproj
Labels: area-crossgen2-coreclr, community-contribution

#76549 Do not produce full-width local field stores for normalize-on-store locals
  src/coreclr/jit/lclmorph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#76251 GC: Fix CheckPromoted for frozen objects
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
  src/coreclr/vm/jitinterface.cpp
  src/tests/GC/Regressions/Github/Runtime_76219/Runtime_76219.cs
  src/tests/GC/Regressions/Github/Runtime_76219/Runtime_76219.csproj
Labels: area-GC-coreclr

#76621 [wasm] WBT.WithDllImportInAssembly - don't use RandomFileName in `id`
  src/mono/wasm/Wasm.Build.Tests/BlazorWasmBuildPublishTests.cs
Labels: arch-wasm, area-VM-meta-mono, test-failure

#76612 JIT: Fix vnDumpZeroObj
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#76615 [release/7.0] CI: Run `runtime-extra-platforms` with batched builds for release
  eng/pipelines/runtime-extra-platforms.yml
Labels: area-Infrastructure

#76466 Remove .dll from Interop.Libraries.HostPolicy for consistency with other runtime libraries
  src/libraries/Common/src/Interop/Windows/Interop.Libraries.cs
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/utils.h
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
  src/native/corehost/test/nativehost/nativehost.cpp
Labels: area-Host

#76583 [NativeAot] Start running S.R.Metadata tests
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#76634 cherry-picking small refactor fix from 7.0
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#76631 [NativeAOT] Remove unused EmitBlobWithRelocs method
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectWriter.cs
Labels: community-contribution, area-NativeAOT-coreclr

#76537 Streamline root commands and cli helpers
  src/coreclr/tools/Common/CommandLineHelpers.cs
  src/coreclr/tools/Common/InstructionSetHelpers.cs
  src/coreclr/tools/ILVerify/ILVerifyRootCommand.cs
  src/coreclr/tools/ILVerify/Program.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/coreclr/tools/r2rdump/CoreDisTools.cs
  src/coreclr/tools/r2rdump/DumpModel.cs
  src/coreclr/tools/r2rdump/Dumper.cs
  src/coreclr/tools/r2rdump/Extensions.cs
  src/coreclr/tools/r2rdump/Program.cs
  src/coreclr/tools/r2rdump/R2RDiff.cs
  src/coreclr/tools/r2rdump/R2RDump.csproj
  src/coreclr/tools/r2rdump/R2RDumpRootCommand.cs
  src/coreclr/tools/r2rdump/TextDumper.cs
Labels: area-Infrastructure-coreclr, community-contribution

#76590 [ilasm] Lazily allocate memory in Indx256
  src/coreclr/ilasm/asmtemplates.h
  src/tests/JIT/jit64/opt/cse/HugeField1.csproj
  src/tests/JIT/jit64/opt/cse/HugeField2.csproj
  src/tests/JIT/jit64/opt/cse/hugeexpr1.csproj
Labels: area-ILTools-coreclr

#76619 JIT: Avoid __vsnprintf_s for printing method names
  src/coreclr/jit/compiler.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/eeinterface.cpp
Labels: area-CodeGen-coreclr

#76545 Add `JsonEncodedText.Value`
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonEncodedText.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonEncodedTextTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation, community-contribution

#76586 Fix FOH for SOS
  src/coreclr/vm/frozenobjectheap.cpp
  src/coreclr/vm/frozenobjectheap.h
Labels: area-VM-coreclr

#76640 [mono] Restore correct llvm 14 version for macOS too
  eng/Version.Details.xml
  eng/Versions.props
  src/mono/llvm/llvm-init.proj
Labels: area-Build-mono

#76659 Revert "Backport: work around GitHub .patch URL issue"
  eng/actions/backport/index.js
Labels: area-Infrastructure

#76616 Support Arm64 "constructed" constants in SuperPMI asm diffs
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.h
  src/coreclr/tools/superpmi/superpmi/neardiffer.cpp
Labels: area-CodeGen-coreclr

#76620 Update branding to 6.0.11
  eng/Versions.props
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Microsoft.Extensions.DependencyInjection.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/Microsoft.Extensions.Hosting.WindowsServices.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
Labels: area-Infrastructure-libraries, blocking

#76646 roll-back helix change from arm32
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: test-enhancement, area-System.Net.Quic

#76645 Don't scan bricks of frozen segments in verify_heap
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#76667 [wasm] Disable failing debugger test
  src/mono/wasm/debugger/DebuggerTestSuite/AssignmentTests.cs
Labels: arch-wasm, area-Debugger-mono, test-failure

#76083 Make sure the initial mark list size is capped
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#76628 Include bitcasts in an assert
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr, community-contribution

#76514 Obsolete `RSA.EncryptValue` and `RSA.DecryptValue`
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSA.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSACryptoServiceProvider.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSAWrapper.cs
Labels: area-System.Security, community-contribution

#76565 [release/7.0][Android] Backport fix NetworkInterface.GetAllNetworkInterfaces
  src/native/libs/System.Native/CMakeLists.txt
  src/native/libs/System.Native/pal_ifaddrs.c
  src/native/libs/System.Native/pal_ifaddrs.h
  src/native/libs/System.Native/pal_interfaceaddresses.c
Labels: Servicing-approved, area-System.Net, os-android

#76633 Add workaround for Windows 10 (1903) bug to RSABCrypt
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptEncryptDecrypt.RSA.cs
Labels: area-System.Security, community-contribution

#76558 Rename request count to permit count on System.Threading.RateLimiting
  src/libraries/System.Threading.RateLimiting/ref/System.Threading.RateLimiting.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiter.cs
Labels: area-System.Threading, new-api-needs-documentation, community-contribution

#75643 [release/6.0] Fix `DataContractJsonSerializer`'s handling of -0.0
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlConverter.cs
  src/libraries/System.Runtime.Serialization.Json/tests/DataContractJsonSerializer.cs
Labels: Servicing-approved, area-Serialization

#75650 [release/6.0] Fix binary serialization of DateTime with DCS and add test.
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlWriterDelegator.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
Labels: Servicing-approved, area-Serialization

#75772 [release/6.0] Ensure Max/Min for floating-point on x86/x64 are not handled as commutative
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/tests/JIT/Regression/JitBlue/ImageSharp_2117/ImageSharp_2117.cs
  src/tests/JIT/Regression/JitBlue/ImageSharp_2117/ImageSharp_2117.csproj
Labels: Servicing-approved, area-CodeGen-coreclr

#76394 remove LangVersion workarounds
  src/libraries/Common/tests/SourceGenerators/RoslynTestUtils.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/CompilationHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/CompilationHelper.cs
Labels: community-contribution

#76618 [hot_reload] Fix unresolved token when new nested structs are used
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ReflectionAddNewType/ReflectionAddNewType.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.ReflectionAddNewType/ReflectionAddNewType_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/mono/mono/component/hot_reload.c
  src/mono/mono/metadata/class.c
Labels: area-EnC-mono

#76075 [release/6.0] [wasm][debugger] Fix debugging an app that has another .NET Wasm instance in a service worker
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: Servicing-approved, area-Debugger-mono

#76448 [release/6.0][mono] Fix iOS/tvOS build with Xcode 14
  src/mono/cmake/config.h.in
  src/mono/cmake/configure.cmake
  src/mono/mono/utils/mono-threads-mach-helper.c
Labels: Servicing-approved, area-VM-meta-mono

#75068 Replace assert with BADCODE
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#74075 Fix gtGetClassHandle for static fields (R2R only)
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#76103 Fix triple slash documentation for System/System.Numerics
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/IParsable.cs
  src/libraries/System.Private.CoreLib/src/System/ISpanParsable.cs
  src/libraries/System.Private.CoreLib/src/System/IntPtr.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/INumberBase.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix3x2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NFloat.cs
  src/libraries/System.Private.CoreLib/src/System/UIntPtr.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
Labels: area-System.Numerics

#76270 [release/7.0][workloads] Bump the runtime net6 versions for GA
  eng/Versions.props
Labels: area-Infrastructure

#76629 Ensure we cleanup the marshalling for elements of collections (stateful and stateless)
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ElementsMarshalling.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallerHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatefulMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatelessMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/VariableDeclarations.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.cs
Labels: area-System.Runtime.InteropServices, source-generator

#76121 docs: add missing document to microsoft.extensions.options
  src/libraries/Microsoft.Extensions.Options/src/IConfigureNamedOptions.cs
  src/libraries/Microsoft.Extensions.Options/src/IConfigureOptions.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsChangeTokenSource.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsFactory.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsMonitor.cs
  src/libraries/Microsoft.Extensions.Options/src/IOptionsSnapshot.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsBuilder.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsFactory.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsManager.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsMonitor.cs
  src/libraries/Microsoft.Extensions.Options/src/OptionsMonitorExtensions.cs
Labels: area-Extensions-Options, community-contribution

#76652 Robustify speech recognition test
  src/libraries/System.Speech/tests/SynthesizeRecognizeTests.cs
Labels: area-System.Speech

#76614 Update docs on libraries cross build
  docs/workflow/building/libraries/cross-building.md
Labels: area-Infrastructure-libraries, community-contribution

#76607 Rewrite the shared JsonSerializerOptions cache implementation.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptionsUpdateHandler.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CacheTests.cs
Labels: area-System.Text.Json, tenet-performance

#76455 [wasm] EmccExportedRuntimeMethod MSBuild item
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/sample/wasm/browser-advanced/main.js
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#76662 Check for non-valid compare chains (#76566)
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#76665 [mono] Fix incorrect version comparison in loader
  src/mono/mono/metadata/assembly.c
Labels: area-AssemblyLoader-mono, community-contribution

#76695 JIT: disable phi based redundant branch opts
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#76492 Lower `GetLower` nodes formed from `GetElement(0)`
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#76521 Add GenTreeID in allocating registers table
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#76713 [mono] Remove unused variable from mono_interp_transform_method
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#76711 SPMI: Write out improvements/regressions breakdown details
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#74499 Simplify handling of multi-reg returns
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/forwardsub.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#75363 Remove closed issues from issues.targets
  src/tests/Interop/PInvoke/Varargs/VarargsTest.csproj
  src/tests/JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b441487/b441487.ilproj
  src/tests/issues.targets
Labels: area-Infrastructure-coreclr

#76685 Enable sourcelink in source-build
  eng/SourceBuild.props
  src/coreclr/runtime-prereqs.proj
Labels: area-Infrastructure-coreclr

#76208 [release/6.0] Use new buildpools
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
  eng/pipelines/official/stages/publish.yml
Labels: area-Infrastructure-libraries

#76674 [release/7.0] Low memory fixes
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: Servicing-approved, area-GC-coreclr

#76691 [Release/7.0] Delete dangling thread session states
  src/native/eventpipe/ep-buffer-manager.c
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-thread.c
Labels: Servicing-approved, EventPipe, area-Tracing-coreclr

#76468 low memory fixes
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#76239 [mono] Add Vector128 Dot intrinsics for Amd64
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#76567 Add readmes to reflection
  CONTRIBUTING.md
  src/libraries/README.md
  src/libraries/System.Reflection.Context/README.md
  src/libraries/System.Reflection.DispatchProxy/README.md
  src/libraries/System.Reflection.Emit.ILGeneration/README.md
  src/libraries/System.Reflection.Emit.Lightweight/README.md
  src/libraries/System.Reflection.Emit/README.md
  src/libraries/System.Reflection.Extensions/README.md
  src/libraries/System.Reflection.Metadata/README.md
  src/libraries/System.Reflection.Metadata/src/README.md
  src/libraries/System.Reflection.MetadataLoadContext/README.md
  src/libraries/System.Reflection.Primitives/README.md
  src/libraries/System.Reflection.TypeExtensions/README.md
  src/libraries/System.Reflection/README.md
Labels: documentation, area-System.Reflection

#76474 Don't cache the Compilation object in steps in the interop source generators
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/PInvokeStubCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManagedToNativeStubCodeContext.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/SequenceEqualImmutableArray.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/StubEnvironment.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/SyntaxEquivalentComparer.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/IncrementalGenerationTests.cs
Labels: area-System.Runtime.InteropServices, source-generator

#76431 [release/6.0] Delete dangling thread session states
  src/native/eventpipe/ep-buffer-manager.c
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-thread.c
Labels: Servicing-approved, EventPipe, area-Tracing-coreclr

#76639 Use normal VNs when adding NRE exception sets
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#74955 Remove XmlConvert.StrEqual and use Span<char>.StartsWith() instead.
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImplAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlConvert.cs
  src/libraries/System.Private.Xml/tests/System.Private.Xml.Tests.csproj
  src/libraries/System.Private.Xml/tests/XmlReader/Tests/ReadCharsTests.cs
Labels: area-System.Xml, community-contribution

#76729 Remove GUID <=> string functions in PAL
  src/coreclr/ildasm/dasm.cpp
  src/coreclr/ildasm/dis.cpp
  src/coreclr/ildasm/dman.cpp
  src/coreclr/inc/utilcode.h
  src/coreclr/md/compiler/custattr_emit.cpp
  src/coreclr/md/compiler/importhelper.cpp
  src/coreclr/md/enc/mdinternalrw.cpp
  src/coreclr/md/runtime/mdinternalro.cpp
  src/coreclr/pal/inc/rt/palrt.h
  src/coreclr/palrt/CMakeLists.txt
  src/coreclr/palrt/coguid.cpp
  src/coreclr/tools/metainfo/mdinfo.cpp
  src/coreclr/utilcode/posterror.cpp
  src/coreclr/utilcode/util.cpp
  src/coreclr/utilcode/util_nodependencies.cpp
  src/coreclr/vm/assemblybinder.cpp
  src/coreclr/vm/comcallablewrapper.cpp
  src/coreclr/vm/interoputil.cpp
  src/coreclr/vm/perfmap.cpp
  src/coreclr/vm/profilinghelper.cpp
  src/coreclr/vm/runtimecallablewrapper.cpp
Labels: area-VM-coreclr

#76577 Test and fix using AesCcm after disposal with OpenSSL
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesCcm.OpenSsl.cs
  src/libraries/System.Security.Cryptography/tests/AesCcmTests.cs
  src/libraries/System.Security.Cryptography/tests/AesGcmTests.cs
  src/libraries/System.Security.Cryptography/tests/ChaCha20Poly1305Tests.cs
Labels: area-System.Security

#76479 Make CodeSnippets tests more pluggable
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/Compiles.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/Fails.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/JSImportGenerator.Unit.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/Common/CustomCollectionMarshallingCodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/Common/CustomStructMarshallingCodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/Common/ICustomMarshallingSignatureTestProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/Common/TestUtils.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AdditionalAttributesOnStub.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AttributeForwarding.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Diagnostics.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/IncrementalGenerationTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/LibraryImportGenerator.Unit.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/LibraryImportGeneratorOptionsProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ShapeBreakingDiagnosticSuppressorTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Verifiers/CSharpCodeFixVerifier.cs
Labels: area-System.Runtime.InteropServices, source-generator

#76688 Use CCKeyDerivationPBKDF on iOS
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Pbkdf2Implementation.Apple.cs
  src/native/libs/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native.Apple/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_keyderivation.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_keyderivation.h
Labels: area-System.Security, os-ios

#76650 Add RIDs for Tizen 7.0
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: Servicing-approved, area-Infrastructure-libraries, community-contribution

#76758 Fix for pipelines broken in #75473
  eng/pipelines/runtime-android.yml
  eng/pipelines/runtime-androidemulator.yml
  eng/pipelines/runtime-ioslike.yml
  eng/pipelines/runtime-ioslikesimulator.yml
  eng/pipelines/runtime-linuxbionic.yml
  eng/pipelines/runtime-maccatalyst.yml
Labels: area-Infrastructure-mono

#76747 Use checked arithmetic when appending ICollection values to List<T>
  src/libraries/System.Collections/tests/Generic/List/List.Generic.Tests.AddRange.cs
  src/libraries/System.Collections/tests/Generic/List/List.Generic.Tests.InsertRange.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs
Labels: area-System.Collections

#76737 enable regions for AoT
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#76753 Throw ObjectDisposedException for AES-CCM on Android
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesCcm.Android.cs
Labels: area-System.Security, os-android

#76613 JIT: Streamline SIMD recognition
  src/coreclr/jit/compiler.h
  src/coreclr/jit/simd.cpp
Labels: area-CodeGen-coreclr

#76599 [release/6.0] Add RIDs for Tizen6.5 and 7.0
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Infrastructure-libraries, community-contribution

#73475 Port SpanHelpers.SequenceCompareTo(ref byte, int, ref byte, int) to Vector128/256
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
Labels: area-System.Memory, tenet-performance

#74701 Fix Vector documentation
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
Labels: area-System.Numerics, community-contribution

#76539 [wasm] Implement next part of PackedSimd class
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/PackedSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/PackedSimd.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/simd-intrinsics.c
Labels: new-api-needs-documentation

#76671 JIT: Preference locals away from PUTARG_REG killed registers
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#76714 Devirtualize EqualityComparer for reference types
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#76804 Use IndexOf to find closing quote in WarningHeaderValue
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/WarningHeaderValue.cs
Labels: area-System.Net.Http, tenet-performance

#76559 DateTime: Use Optimised Equals Implementation in object.Equals()
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
Labels: community-contribution

#76765 SPMI: Return recorded base instrumentation data address
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen-coreclr

#76446 [wasm] Vector128's Sum and Dot SIMD implementation
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/sample/wasm/browser-bench/Vector.cs
Labels: arch-wasm, area-Codegen-LLVM-mono

#76810 Add VMR attributes to preserve empty PDB files
  src/coreclr/.nuget/.gitattributes
  src/installer/pkg/.gitattributes
Labels: area-Infrastructure

#76772 Fix help formatting in cg2/ilc
  src/coreclr/tools/Common/CommandLineHelpers.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
Labels: area-crossgen2-coreclr, community-contribution

#76799 Combine AsSpan().Slice(...) calls into AsSpan(...)
  src/libraries/Common/src/System/Net/MultiArrayBuffer.cs
  src/libraries/Common/tests/StreamConformanceTests/System/IO/StreamConformanceTests.cs
  src/libraries/System.Data.Odbc/src/System/Data/Odbc/OdbcHandle.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Instrument.netcore.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Instrument.netfx.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/TagList.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/CborHelpers.netstandard.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/Ordinal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CapiHelper.Windows.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonReaderTests.TryGet.cs
Labels: area-Meta

#76733 Improve perf of Enumerable.Order{Descending} for primitives
  src/libraries/System.Linq/src/System/Linq/OrderBy.cs
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.cs
  src/libraries/System.Linq/tests/OrderDescendingTests.cs
  src/libraries/System.Linq/tests/OrderTests.cs
Labels: area-System.Linq, tenet-performance

#76376 Require global opt-in for distributed transactions
  src/libraries/System.Transactions.Local/ref/System.Transactions.Local.cs
  src/libraries/System.Transactions.Local/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/libraries/System.Transactions.Local/src/Resources/Strings.resx
  src/libraries/System.Transactions.Local/src/System/Transactions/DtcProxyShim/DtcProxyShimFactory.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionManager.cs
  src/libraries/System.Transactions.Local/tests/OleTxTests.cs
Labels: Servicing-approved, area-System.Transactions, new-api-needs-documentation, linkable-framework

#76771 Remove more PAL exports for `wprintf` `wscanf` funcs
  src/coreclr/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/ilasm/main.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/inc/rt/palrt.h
  src/coreclr/pal/src/cruntime/printf.cpp
  src/coreclr/pal/src/cruntime/printfcpp.cpp
  src/coreclr/pal/src/include/pal/palinternal.h
  src/coreclr/pal/src/include/pal/printfcpp.hpp
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/fwprintf.h
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test10/test10.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test11/test11.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test12/test12.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test13/test13.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test14/test14.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test15/test15.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test16/test16.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test17/test17.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test18/test18.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test19/test19.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test2/test2.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test3/test3.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test4/test4.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test5/test5.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test6/test6.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test7/test7.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test8/test8.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/fwprintf/test9/test9.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/swscanf.h
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test10/test10.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test11/test11.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test12/test12.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test13/test13.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test14/test14.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test15/test15.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test16/test16.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test17/test17.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test2/test2.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test3/test3.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test4/test4.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test5/test5.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test6/test6.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test7/test7.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test8/test8.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/swscanf/test9/test9.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/wprintf/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/wprintf/test2/test2.cpp
  src/coreclr/pal/tests/palsuite/c_runtime/wprintf/wprintf.h
  src/coreclr/pal/tests/palsuite/compilableTests.txt
  src/coreclr/pal/tests/palsuite/paltestlist.txt
  src/coreclr/pal/tests/palsuite/paltestlist_to_be_reviewed.txt
  src/coreclr/vm/hosting.cpp
Labels: area-VM-coreclr

#76768 Correct error messages for CoreCLR Win32 PAL uses in CoreLib
  src/libraries/Common/src/System/IO/Win32Marshal.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
Labels: area-System.Runtime.InteropServices

#76795 Base64.Decode: fixed latent bug for non-ASCII inputs
  src/libraries/System.Memory/tests/Base64/Base64DecoderUnitTests.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Base64Decoder.cs
Labels: area-System.Memory, community-contribution

#76112 JIT: import static readonly fields holding frozen objects as const handles
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_API_names.h
  src/coreclr/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FrozenObjectNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/jitinterface/jitinterface.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#73819 Some SIMD-related cleanup
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#76827 Only run Compilation liveness test on platforms with precise GC.
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/IncrementalGenerationTests.cs
Labels: area-System.Runtime.InteropServices

#75569 Improvements to CoreCLR Building, Debugging, and Testing Documentation
  README.md
  docs/workflow/Codespaces.md
  docs/workflow/README.md
  docs/workflow/building/coreclr/README.md
  docs/workflow/building/coreclr/cross-building.md
  docs/workflow/building/coreclr/crossgen.md
  docs/workflow/building/coreclr/freebsd-instructions.md
  docs/workflow/building/coreclr/linux-instructions.md
  docs/workflow/building/coreclr/macos-instructions.md
  docs/workflow/building/coreclr/nativeaot.md
  docs/workflow/building/coreclr/osx-instructions.md
  docs/workflow/building/coreclr/windows-instructions.md
  docs/workflow/debugging/coreclr/debugging-aot-compilers.md
  docs/workflow/debugging/coreclr/debugging-compiler-dependency-analysis.md
  docs/workflow/debugging/coreclr/debugging-runtime.md
  docs/workflow/debugging/coreclr/debugging.md
  docs/workflow/editing-and-debugging.md
  docs/workflow/requirements/freebsd-requirements.md
  docs/workflow/requirements/linux-requirements.md
  docs/workflow/requirements/macos-requirements.md
  docs/workflow/requirements/windows-requirements.md
  docs/workflow/testing/coreclr/testing.md
  docs/workflow/testing/testing-workloads.md
  docs/workflow/testing/using-corerun-and-coreroot.md
  docs/workflow/testing/using-corerun.md
  docs/workflow/testing/using-dev-shipping-packages.md
  docs/workflow/testing/using-your-build-with-installed-sdk.md
  docs/workflow/testing/using-your-build.md
  docs/workflow/using-dotnet-cli.md
Labels: documentation, area-Meta

#71865 Fix converting old SIMD ctors to HWI ones
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsiclistxarch.h
Labels: area-CodeGen-coreclr, community-contribution
