Repository dotnet/runtime, pull requests merged in 2022-02, with the labels that each got.

#64574 [wasm] Revert "Disable InspectVariableBeforeAndAfterAssignment test (#64546)"
  src/mono/wasm/debugger/DebuggerTestSuite/AssignmentTests.cs
Labels: arch-wasm, area-Debugger-mono

#64218 Use hash size constants where applicable
  src/libraries/Common/src/System/Security/Cryptography/DSASecurityTransforms.cs
  src/libraries/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashProviderDispenser.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/RSAPssX509SignatureGenerator.cs
Labels: area-System.Security, community-contribution

#64580 NativeAot: Allow disabling -pie flag
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.props
Labels: area-Infrastructure-coreclr, community-contribution

#64324 Move FabricBot generation scripts to dotnet/runtime
  .github/fabricbot.json
  eng/fabricbot/Makefile
  eng/fabricbot/README.md
  eng/fabricbot/generated/areapods-dotnet-api-docs.json
  eng/fabricbot/generated/areapods-runtime.json
  eng/fabricbot/scripts/updateAreaPodConfigs.js
Labels: area-Meta

#64597 superpmi: Catch errors while printing the unicode string
  src/coreclr/scripts/jitutil.py
Labels: area-CodeGen-coreclr

#64518 Add NetCoreAppCurrent rid agnostic tfm to libs
  src/libraries/System.Console/src/Resources/Strings.resx
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.IO.Compression.ZipFile/src/System.IO.Compression.ZipFile.csproj
  src/libraries/System.IO.Compression/src/Resources/Strings.resx
  src/libraries/System.IO.Compression/src/System.IO.Compression.csproj
  src/libraries/System.IO.FileSystem.DriveInfo/src/System.IO.FileSystem.DriveInfo.csproj
  src/libraries/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Default.cs
  src/libraries/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.UnixOrDefault.cs
  src/libraries/System.IO.MemoryMappedFiles/src/Resources/Strings.resx
  src/libraries/System.IO.MemoryMappedFiles/src/System.IO.MemoryMappedFiles.csproj
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Mail/src/Resources/Strings.resx
  src/libraries/System.Net.Mail/src/System.Net.Mail.csproj
  src/libraries/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/libraries/System.Net.Primitives/src/Resources/Strings.resx
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/libraries/System.Net.Requests/src/System.Net.Requests.csproj
  src/libraries/System.Net.WebSockets/src/Resources/Strings.resx
  src/libraries/System.Net.WebSockets/src/System.Net.WebSockets.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System.Private.Runtime.InteropServices.JavaScript.csproj
Labels: area-Infrastructure-libraries

#64555 Fix several remaining IL tests I missed in my assembly name cleanup
  src/tests/JIT/Methodical/Coverage/b518440.il
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/ptr.il
  src/tests/JIT/Methodical/eh/basics/throwinexcept.il
  src/tests/JIT/Methodical/eh/basics/throwinfault.il
  src/tests/JIT/Methodical/eh/basics/throwinfilter.il
  src/tests/JIT/Methodical/eh/basics/throwinfinallyintryfilter1.il
  src/tests/JIT/Methodical/eh/basics/throwinfinallyintryfilter2.il
  src/tests/JIT/Methodical/eh/basics/throwinfinallyintryfilter3.il
  src/tests/JIT/Methodical/eh/basics/tryexcept.il
  src/tests/JIT/Methodical/eh/basics/tryfault.il
  src/tests/JIT/Methodical/eh/basics/tryfaulttrycatch.il
  src/tests/JIT/Methodical/eh/basics/tryfaulttrycatchfn.il
  src/tests/JIT/Methodical/eh/basics/trythrowexcept.il
  src/tests/JIT/Methodical/eh/deadcode/deadnonlocalexit.il
  src/tests/JIT/Methodical/eh/deadcode/deadrgninfunclet.il
  src/tests/JIT/Methodical/eh/deadcode/deadtrycatch.il
  src/tests/JIT/Methodical/eh/deadcode/deadtryfinally.il
  src/tests/JIT/Methodical/eh/deadcode/deadtryfinallythrow.il
  src/tests/JIT/Methodical/eh/deadcode/severaldeadehregions.il
  src/tests/JIT/Methodical/eh/deadcode/severalnesteddeadehregions.il
  src/tests/JIT/Methodical/eh/deadcode/simpledeadehregion.il
  src/tests/JIT/Methodical/eh/disconnected/backwardleave.il
  src/tests/JIT/Methodical/eh/disconnected/catchbeforetrybody.il
  src/tests/JIT/Methodical/eh/disconnected/catchtryintryfinally.il
  src/tests/JIT/Methodical/eh/disconnected/faultbeforetrybody.il
  src/tests/JIT/Methodical/eh/disconnected/finallybeforetrybody.il
  src/tests/JIT/Methodical/eh/disconnected/finallytryintryfinally.il
  src/tests/JIT/Methodical/eh/disconnected/reversedhandlers.il
  src/tests/JIT/Methodical/eh/disconnected/reversedtryblock.il
  src/tests/JIT/Methodical/eh/disconnected/sehhandlerbeforetry.il
  src/tests/JIT/Methodical/eh/disconnected/testeit.il
  src/tests/JIT/Methodical/eh/disconnected/trybodyinbetweencatchhandlers.il
  src/tests/JIT/Methodical/eh/disconnected/tryfinallyincatchtry.il
  src/tests/JIT/Methodical/eh/nested/cascadedcatchret/cascadedcatch.il
  src/tests/JIT/Methodical/eh/nested/cascadedcatchret/cascadedexcept.il
  src/tests/JIT/Methodical/eh/nested/cascadedcatchret/throwincascadedcatch.il
  src/tests/JIT/Methodical/eh/nested/cascadedcatchret/throwincascadedcatchnofin.il
  src/tests/JIT/Methodical/eh/nested/cascadedcatchret/throwincascadedexcept.il
  src/tests/JIT/Methodical/eh/nested/cascadedcatchret/throwincascadedexceptnofin.il
  src/tests/JIT/Methodical/eh/nested/general/localvarincatch.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/nestedtrycatch.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/nestedtryexcept.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/nestedtryfault.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/nestedtryfinally.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/throwinnestedtrycatch.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/throwinnestedtryexcept.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/throwinnestedtryfault.il
  src/tests/JIT/Methodical/eh/nested/nestedtry/throwinnestedtryfinally.il
  src/tests/JIT/Methodical/xxblk/cpblk3.il
  src/tests/JIT/Methodical/xxblk/dynblk_order.il
  src/tests/JIT/Methodical/xxblk/initblk3.il
Labels: area-Infrastructure-coreclr

#64339 [wasm][debugger] Set wasm debugger log level at execution time.
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/component/debugger-agent.h
  src/mono/mono/component/mini-wasm-debugger.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/debug.ts
  src/mono/wasm/runtime/exports.ts
Labels: area-Debugger-mono

#64607 Do not add NRE sets for non-null addresses
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#64454 Set language specific flags appropriately in mono
  src/mono/CMakeLists.txt
  src/mono/mono/component/hot_reload.c
Labels: area-Build-mono, community-contribution

#64105 Reduce the size of HeaderDescriptor
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/QPackStaticTable.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
Labels: area-System.Net.Http

#64584 Remove an allocation importing symmetric keys
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptImportKey.cs
Labels: area-System.Security, community-contribution

#64547 Override DisposeAsync in PipeWriterStream
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeWriterStream.cs
  src/libraries/System.IO.Pipelines/tests/PipeWriterStreamTests.nonnetstandard.cs
Labels: area-System.IO.Pipelines

#64421 Avoid CreateThreadStressLog under SpinLock
  src/coreclr/vm/object.cpp
  src/coreclr/vm/spinlock.cpp
Labels: area-VM-coreclr

#64478 Implement operator delete on ThreadStressLog
  src/coreclr/inc/stresslog.h
  src/coreclr/utilcode/stresslog.cpp
Labels: area-VM-coreclr

#64583 Port vs4 mac fixes
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/seh-unwind.cpp
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/seh.hpp
  src/libraries/Native/Unix/System.Native/pal_io.c
  src/libraries/System.IO.MemoryMappedFiles/src/System/IO/MemoryMappedFiles/MemoryMappedFile.Unix.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CreateNew.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewAccessor.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStreamConformanceTests.cs
  src/tests/Regressions/coreclr/GitHub_62058/test62058.cs
  src/tests/Regressions/coreclr/GitHub_62058/test62058.csproj
Labels: area-System.IO

#64561 [AOT] Use `.short` directive instead of `.hword`
  src/mono/mono/mini/image-writer.c
Labels: community-contribution

#64005 Update ComputeHash to remove hash allocations for digest authentication
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs
Labels: area-System.Net.Http, community-contribution

#64531 Fix client-initiated renegotiation on OpenSSL 3.0+
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Net.Security

#64630 Use latest System.Memory.Data baseline version
  src/libraries/System.Memory.Data/src/System.Memory.Data.csproj
Labels: area-Infrastructure-libraries

#64617 Roll out board automation for Jeremy & Levi
  .github/fabricbot.json
  eng/fabricbot/generated/areapods-dotnet-api-docs.json
  eng/fabricbot/generated/areapods-runtime.json
  eng/fabricbot/scripts/updateAreaPodConfigs.js
Labels: area-Meta

#64396 [Mono] Add incremental build instructions when ...
  docs/workflow/building/mono/README.md
Labels: area-Infrastructure-libraries

#64610 Delete NS2x runtime specific impls
  docs/coding-guidelines/libraries-packaging.md
  eng/BeforeTargetFrameworkInference.targets
  eng/build.ps1
  eng/packaging.targets
  eng/slngen.nuget.config
  eng/targetframeworksuffix.props
  eng/testing/tests.props
  src/libraries/Directory.Build.props
  src/libraries/Microsoft.Extensions.Configuration.Xml/NuGet.config
  src/libraries/Microsoft.Extensions.Configuration/NuGet.config
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/NuGet.config
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.VisualBasic.Core/NuGet.config
  src/libraries/Microsoft.Win32.Registry.AccessControl/NuGet.config
  src/libraries/Microsoft.Win32.Registry.AccessControl/src/Microsoft.Win32.Registry.AccessControl.csproj
  src/libraries/System.Configuration.ConfigurationManager/NuGet.config
  src/libraries/System.Data.Odbc/NuGet.config
  src/libraries/System.Data.OleDb/NuGet.config
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Data.OleDb/src/UnsafeNativeMethods.NoCOMWrappers.cs
  src/libraries/System.Diagnostics.PerformanceCounter/NuGet.config
  src/libraries/System.DirectoryServices.AccountManagement/NuGet.config
  src/libraries/System.IO.FileSystem/NuGet.config
  src/libraries/System.IO.Pipes/NuGet.config
  src/libraries/System.IO.Ports/NuGet.config
  src/libraries/System.IO.Ports/src/System.IO.Ports.csproj
  src/libraries/System.Net.Http.WinHttpHandler/NuGet.config
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Runtime.Caching/NuGet.config
  src/libraries/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/libraries/System.Runtime.Serialization.Formatters/NuGet.config
  src/libraries/System.Runtime/NuGet.config
  src/libraries/System.Security.Cryptography.Algorithms/NuGet.config
  src/libraries/System.Security.Cryptography.Pkcs/NuGet.config
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.ProtectedData/NuGet.config
  src/libraries/System.Security.Cryptography.ProtectedData/src/System.Security.Cryptography.ProtectedData.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/NuGet.config
  src/libraries/System.Security.Cryptography.Xml/NuGet.config
  src/libraries/System.ServiceProcess.ServiceController/NuGet.config
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/libraries/System.Text.Encoding.CodePages/NuGet.config
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Threading.AccessControl/NuGet.config
  src/libraries/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
  src/libraries/slngen.proj
Labels: area-Infrastructure-libraries

#64247 Fix generic method resolution in composite R2R images
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/nativeimage.cpp
  src/coreclr/vm/nativeimage.h
  src/coreclr/vm/zapsig.cpp
Labels: area-crossgen2-coreclr

#64628 [wasm] Remove USE_ZLIB=1 on windows, as we are already including the …
  src/mono/wasm/wasm.proj
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/pal_zlib.c
Labels: arch-wasm, area-Build-mono

#64578 With `build -subset help` output "macro" subset components
  eng/Subsets.props
Labels: area-Infrastructure

#64523 Fix debugger initialization
  src/coreclr/vm/common.h
  src/coreclr/vm/peassembly.h
Labels: area-Diagnostics-coreclr

#64573 Allow use of overloaded methods when using LoggerMessage
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratedCodeTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/OverloadTestExtensions.cs
Labels: area-Extensions-Logging, community-contribution

#64593 Fixes two logging source gen bugs - when using "in" or "ref" modifier / when dealing with constraints
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithNestedClass.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratedCodeTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratorParserTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/ConstaintsTestExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/NestedClassTestsExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/ParameterTestExtensions.cs
Labels: area-Extensions-Logging

#64542 Remove unused variable, fix typos
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
Labels: area-crossgen2-coreclr, community-contribution

#62921 NativeAOT: ICustomMarshaller
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/Marshaller.Aot.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshallerKind.cs
  src/coreclr/tools/Common/TypeSystem/Interop/MarshalAsDescriptor.cs
  src/tests/Common/CoreCLRTestLibrary/Utilities.cs
  src/tests/Interop/ICustomMarshaler/Primitives/ICustomMarshaler.cs
  src/tests/issues.targets
Labels: area-Interop-coreclr, community-contribution

#64350 Add xarch `andn`
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#64651 Ignore exit code returned from the merged wrappers
  src/tests/Common/tests.targets
Labels: area-Infrastructure-coreclr

#63845 Stop using `CLS_VAR` for "boxed statics"
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
  src/coreclr/jit/valuenumtype.h
Labels: area-CodeGen-coreclr, community-contribution

#64533 Disable a few ECKeyFileTests on Android 31 and later
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/EC/ECKeyFileTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
Labels: area-System.Security

#64669 Change message for uncompilable methods
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilation.cs
Labels: area-NativeAOT-coreclr

#64661 Avoid downcasting NewSize
  src/coreclr/pal/src/map/map.cpp
Labels: area-PAL-coreclr

#64404 Fix some nullability warnings in NativeAOT CoreLib
  src/coreclr/nativeaot/Common/src/System/Collections/Generic/LowLevelList.cs
  src/coreclr/nativeaot/Directory.Build.props
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Exception.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/MulticastDelegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/GCHandle.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/PInvokeMarshal.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeType.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/WeakReference.CoreRT.cs
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/LockFreeReaderHashtable.cs
Labels: community-contribution, area-NativeAOT-coreclr

#64643 Add tests for `ref` field overlap with OBJECTREF and non-aligned `ref` fields.
  src/coreclr/vm/methodtablebuilder.cpp
  src/mono/mono/metadata/class-init.c
  src/tests/Loader/classloader/RefFields/InvalidCSharp.il
  src/tests/Loader/classloader/RefFields/Validate.cs
Labels: area-TypeSystem-coreclr

#64666 Logging Source Generator - Remove extra blank space with generated code
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithDefaultValues.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithDynamicLogLevel.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithMoreThan6Params.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithNestedClass.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithSkipEnabledCheck.generated.txt
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Baselines/TestWithTwoParams.generated.txt
Labels: area-Extensions-Logging

#64114 [wasm][debugger] Implement support to Set Next Instruction Pointer.
  eng/testing/scenarios/WasmDebuggerTestsJobsList.txt
  src/mono/mono/component/debugger-agent.c
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SetNextIpTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-async-test.cs
Labels: arch-wasm, area-Debugger-mono

#63837 Member resolving fix for derived attributes (#62937)
  src/libraries/System.Text.Json/gen/Reflection/CustomAttributeDataWrapper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/ContextClasses.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataAndSerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MixedModeContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/RealWorldContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/SerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/TestClasses.cs
Labels: area-System.Text.Json, community-contribution

#64662 Delete InternalModuleBuilder and InternalAssemblyBuilder
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/domainassembly.cpp
Labels: area-System.Reflection.Emit

#64652 [wasm][debugger] Fix some flaky tests
  src/mono/wasm/debugger/DebuggerTestSuite/ArrayTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/HarnessTests.cs
Labels: arch-wasm, area-Debugger-mono

#64691 [release/6.0-maui] Bump emsdk version
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/packaging.targets
  src/libraries/Microsoft.Extensions.Caching.Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/src/Microsoft.Extensions.Configuration.EnvironmentVariables.csproj
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/Microsoft.Extensions.Configuration.UserSecrets.csproj
  src/libraries/Microsoft.Extensions.HostFactoryResolver/src/Microsoft.Extensions.HostFactoryResolver.Sources.csproj
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Internal.Runtime.AspNetCore.Transport/src/Microsoft.Internal.Runtime.AspNetCore.Transport.proj
  src/libraries/Microsoft.Internal.Runtime.WindowsDesktop.Transport/src/Microsoft.Internal.Runtime.WindowsDesktop.Transport.proj
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.Runtime.Experimental/ref/System.Runtime.Experimental.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-Build-mono

#63722 Begin using the xplat hardware intrinsics in BitArray
  src/libraries/System.Collections/src/System/Collections/BitArray.cs
Labels: area-System.Collections

#64685 Add notes about ignored checks to superpmi-asmdiffs and enterprise-linux pipelines
  eng/pipelines/coreclr/superpmi-asmdiffs.yml
  eng/pipelines/libraries/enterprise/linux.yml
Labels: area-Infrastructure

#64699 Update windows helix queues
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#64644 Update branding to 6.0.3
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Caching.Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/src/Microsoft.Extensions.Configuration.EnvironmentVariables.csproj
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/Microsoft.Extensions.Configuration.UserSecrets.csproj
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.Runtime.Experimental/ref/System.Runtime.Experimental.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-Infrastructure-libraries

#62499 [wasm] Emscripten 2.0.34 bump
  eng/Version.Details.xml
  eng/Versions.props
  eng/liveBuilds.targets
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/metadata/seq-points-data.c
  src/mono/mono/metadata/sre-encode.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/sgen/sgen-gc.h
  src/mono/mono/sgen/sgen-workers.h
  src/mono/mono/utils/mono-mmap-wasm.c
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/emscripten-version.txt
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/test-main.js
  src/mono/wasm/wasm.proj
Labels: area-Build-mono

#64695 [wasm][debugger] Fix racy page reload test
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
Labels: arch-wasm, area-Debugger-mono

#64715 Improve metadata generation resiliency
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.Type.cs
Labels: area-NativeAOT-coreclr

#64589 [wasm] Enable WasmTemplateTests on CI
  eng/pipelines/common/evaluate-default-paths.yml
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmTemplateTests.cs
Labels: arch-wasm, area-Build-mono

#64718 fixup more helix pools
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#64731 Add `--jitpath` parameter to ILC
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT-coreclr

#64729 Check for multicast delegate before comparing invocation lists
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/MulticastDelegate.cs
Labels: area-NativeAOT-coreclr

#64690 Fix test build command in docs/workflow/building/coreclr/nativeaot.md
  docs/workflow/building/coreclr/nativeaot.md
Labels: area-Infrastructure-coreclr, community-contribution

#64530 JIT: Import string.Empty as ""
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: area-CodeGen-coreclr

#64682 #55822 Disable CanRecurseFrom root for Android
  src/libraries/System.IO.FileSystem/tests/Enumeration/RootTests.cs
Labels: area-System.IO

#64670 Consume renamed TargetFramework package
  eng/Version.Details.xml
  eng/Versions.props
  eng/illink.targets
  global.json
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.sln
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.NETCore.Platforms/src/Directory.Build.props
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.Win32.Primitives/Microsoft.Win32.Primitives.sln
  src/libraries/System.AppContext/System.AppContext.sln
  src/libraries/System.Buffers/System.Buffers.sln
  src/libraries/System.Collections.Concurrent/System.Collections.Concurrent.sln
  src/libraries/System.Collections/System.Collections.sln
  src/libraries/System.Data.Common/System.Data.Common.sln
  src/libraries/System.Diagnostics.Contracts/System.Diagnostics.Contracts.sln
  src/libraries/System.Diagnostics.Debug/System.Diagnostics.Debug.sln
  src/libraries/System.Diagnostics.StackTrace/System.Diagnostics.StackTrace.sln
  src/libraries/System.Diagnostics.Tools/System.Diagnostics.Tools.sln
  src/libraries/System.Diagnostics.TraceSource/System.Diagnostics.TraceSource.sln
  src/libraries/System.Diagnostics.Tracing/System.Diagnostics.Tracing.sln
  src/libraries/System.Globalization.Calendars/System.Globalization.Calendars.sln
  src/libraries/System.Globalization/System.Globalization.sln
  src/libraries/System.IO.UnmanagedMemoryStream/System.IO.UnmanagedMemoryStream.sln
  src/libraries/System.Memory/System.Memory.sln
  src/libraries/System.Numerics.Vectors/System.Numerics.Vectors.sln
  src/libraries/System.Private.CoreLib/gen/EventSourceGenerator.Emitter.cs
  src/libraries/System.Private.CoreLib/gen/EventSourceGenerator.Parser.cs
  src/libraries/System.Private.CoreLib/gen/EventSourceGenerator.cs
  src/libraries/System.Private.CoreLib/gen/System.Private.CoreLib.Generators.csproj
  src/libraries/System.Private.Uri/System.Private.Uri.sln
  src/libraries/System.Reflection.Emit.ILGeneration/System.Reflection.Emit.ILGeneration.sln
  src/libraries/System.Reflection.Emit.Lightweight/System.Reflection.Emit.Lightweight.sln
  src/libraries/System.Reflection.Emit/System.Reflection.Emit.sln
  src/libraries/System.Reflection.Primitives/System.Reflection.Primitives.sln
  src/libraries/System.Reflection.TypeExtensions/System.Reflection.TypeExtensions.sln
  src/libraries/System.Reflection/System.Reflection.sln
  src/libraries/System.Resources.ResourceManager/System.Resources.ResourceManager.sln
  src/libraries/System.Runtime.Extensions/System.Runtime.Extensions.sln
  src/libraries/System.Runtime.InteropServices/System.Runtime.InteropServices.sln
  src/libraries/System.Runtime.Intrinsics/System.Runtime.Intrinsics.sln
  src/libraries/System.Runtime.Loader/System.Runtime.Loader.sln
  src/libraries/System.Runtime.Serialization.Formatters/System.Runtime.Serialization.Formatters.sln
  src/libraries/System.Runtime/System.Runtime.sln
  src/libraries/System.Security.Principal/System.Security.Principal.sln
  src/libraries/System.Text.Encoding.Extensions/System.Text.Encoding.Extensions.sln
  src/libraries/System.Text.Encoding/System.Text.Encoding.sln
  src/libraries/System.Threading.Overlapped/System.Threading.Overlapped.sln
  src/libraries/System.Threading.Tasks.Extensions/System.Threading.Tasks.Extensions.sln
  src/libraries/System.Threading.Tasks/System.Threading.Tasks.sln
  src/libraries/System.Threading.Thread/System.Threading.Thread.sln
  src/libraries/System.Threading.ThreadPool/System.Threading.ThreadPool.sln
  src/libraries/System.Threading.Timer/System.Threading.Timer.sln
  src/libraries/System.Threading/System.Threading.sln
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/System.Private.CoreLib.sln
Labels: area-Infrastructure-libraries

#64740 Prefer "mov reg, wzr" over "mov reg, #0"
  src/coreclr/jit/instr.cpp
Labels: area-CodeGen-coreclr

#64692 Update Maui Workload Install Process for Perf
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/templates/build-perf-maui-apps.yml
  eng/testing/performance/android_scenarios.proj
  src/tests/Common/maui/MauiScenario.targets
Labels: area-Infrastructure-coreclr

#64625 Throw PNSE if insufficient privileges when custom Ping payload was specified
  src/libraries/System.Net.Ping/src/Resources/Strings.resx
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.PingUtility.cs
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.cs
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
Labels: area-System.Net

#64733 Disable some library tests on ARMv6 architecture due to failures
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Net.ServicePoint/tests/ServicePointManagerTest.cs
  src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs
  src/libraries/tests.proj
Labels: area-Meta

#64663 Logging Source Generator - Adds support to `@` signed prefixed parameters
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/TestClasses/AtSymbolTestExtensions.cs
Labels: area-Extensions-Logging

#63382 Validate behavior of ProcessInfo command before and after suspension point
  src/tests/tracing/eventpipe/pauseonstart/pauseonstart.cs
Labels: test enhancement, area-Diagnostics-coreclr

#64641 Pass IV through cipher resets for OpenSSL and Android
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Cipher.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EVP.Cipher.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OpenSslCipherLite.cs
  src/native/libs/System.Security.Cryptography.Native.Android/pal_cipher.c
  src/native/libs/System.Security.Cryptography.Native.Android/pal_cipher.h
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/osslcompat_30.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_cipher.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_cipher.h
Labels: area-System.Security

#64716 Bump up visibility for several helper types under JIT/Methodical
  src/tests/JIT/Methodical/MDArray/GaussJordan/classarr.cs
  src/tests/JIT/Methodical/MDArray/GaussJordan/structarr.cs
  src/tests/JIT/Methodical/VT/etc/ctor_recurse.cs
  src/tests/JIT/Methodical/VT/etc/han2.cs
  src/tests/JIT/Methodical/VT/etc/han3.cs
  src/tests/JIT/Methodical/VT/etc/han3_ctor.cs
  src/tests/JIT/Methodical/VT/etc/han3_ref.cs
  src/tests/JIT/Methodical/flowgraph/dev10_bug679008/GCOverReporting.cs
  src/tests/JIT/Methodical/flowgraph/dev10_bug679008/singleRefField.cs
Labels: area-Infrastructure-coreclr

#64110 Improve `fgValueNumberBlockAssignment`
  src/coreclr/jit/compiler.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#64706 Clean up remaining tests under JIT/Methodical using Environment.Exit
  src/tests/JIT/Methodical/ldtoken/types.il
  src/tests/JIT/Methodical/switch/switch1.il
  src/tests/JIT/Methodical/switch/switch10.il
  src/tests/JIT/Methodical/switch/switch11.il
  src/tests/JIT/Methodical/switch/switch2.il
  src/tests/JIT/Methodical/switch/switch3.il
  src/tests/JIT/Methodical/switch/switch4.il
  src/tests/JIT/Methodical/switch/switch5.il
  src/tests/JIT/Methodical/switch/switch6.il
  src/tests/JIT/Methodical/switch/switch7.il
  src/tests/JIT/Methodical/switch/switch8.il
  src/tests/JIT/Methodical/switch/switch9.il
  src/tests/JIT/Methodical/tailcall/test_implicit.il
Labels: area-Infrastructure-coreclr

#64708 Move explicit coverage entry points into separate public classes
  src/tests/JIT/Methodical/explicit/coverage/expl_byte_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_double_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_float_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_byte_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_double_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_float_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_int_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_long_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_obj_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_short_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_gc_val_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_int_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_long_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_obj_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_short_1.cs
  src/tests/JIT/Methodical/explicit/coverage/expl_val_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_byte_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_double_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_float_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_byte_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_double_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_float_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_int_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_long_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_obj_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_short_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_gc_val_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_int_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_long_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_obj_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_short_1.cs
  src/tests/JIT/Methodical/explicit/coverage/seq_val_1.cs
Labels: area-Infrastructure-coreclr

#64709 Deduplicate single-assembly vs. multi-assembly stringintern tests
  src/tests/JIT/Methodical/stringintern/_XModuletest1-xmod.csproj
  src/tests/JIT/Methodical/stringintern/_XModuletest2-xmod.csproj
  src/tests/JIT/Methodical/stringintern/_XModuletest4-xmod.csproj
  src/tests/JIT/Methodical/stringintern/test1-xassem.csproj
  src/tests/JIT/Methodical/stringintern/test1.cs
  src/tests/JIT/Methodical/stringintern/test2-xassem.csproj
  src/tests/JIT/Methodical/stringintern/test2.cs
  src/tests/JIT/Methodical/stringintern/test4-xassem.csproj
  src/tests/JIT/Methodical/stringintern/test4.cs
Labels: area-Infrastructure-coreclr

#64702 Use ordinal comparison for known header values
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/KnownHeadersTest.cs
Labels: area-System.Net.Http

#64710 Deduplicate class names under JIT/Methodical/cctor
  src/tests/JIT/Methodical/cctor/misc/assemname.cs
  src/tests/JIT/Methodical/cctor/misc/deadlock.il
  src/tests/JIT/Methodical/cctor/misc/threads1.cs
  src/tests/JIT/Methodical/cctor/misc/threads2.cs
  src/tests/JIT/Methodical/cctor/xassem/xprecise1.cs
  src/tests/JIT/Methodical/cctor/xassem/xprecise1b.cs
  src/tests/JIT/Methodical/cctor/xassem/xprecise2.cs
  src/tests/JIT/Methodical/cctor/xassem/xprecise4.cs
Labels: area-Infrastructure-coreclr

#64712 [wasm][debugger] Fix some racy tests
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ExceptionTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Inspector.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
Labels: arch-wasm, area-Debugger-mono

#63357 Mitigate #60154
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#63720 JIT: simple forward substitution pass
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/forwardsub.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/phase.cpp
  src/tests/JIT/Directed/debugging/debuginfo/tests.il
  src/tests/JIT/opt/ForwardSub/callArgInterference.cs
  src/tests/JIT/opt/ForwardSub/callArgInterference.csproj
  src/tests/JIT/opt/ForwardSub/normalizeOnStore.cs
  src/tests/JIT/opt/ForwardSub/normalizeOnStore.il
  src/tests/JIT/opt/ForwardSub/normalizeOnStore.ilproj
Labels: area-CodeGen-coreclr

#64772 Fix issue in r2rdump where conflicting generic instantiations can cause the r2rdump process to fail
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
Labels: area-crossgen2-coreclr

#64426 fix some test for FreeBSD
  src/libraries/System.Net.HttpListener/tests/HttpListenerPrefixCollectionTests.cs
  src/libraries/System.Net.HttpListener/tests/HttpListenerResponseTests.cs
  src/libraries/System.Net.HttpListener/tests/HttpResponseStreamTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestConfiguration.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendTo.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: area-System.Net, os-freebsd

#59442 Expose Comment in ZipArchive and ZipArchiveEntry
  src/libraries/Common/tests/System/IO/Compression/ZipTestHelper.cs
  src/libraries/System.IO.Compression/ref/System.IO.Compression.cs
  src/libraries/System.IO.Compression/src/Resources/Strings.resx
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchive.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipHelper.cs
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.Comments.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_UpdateTests.Comments.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_UpdateTests.cs
Labels: area-System.IO.Compression, new-api-needs-documentation

#64759 [wasm] Disable failing tests
  src/libraries/tests.proj
Labels: arch-wasm, area-Codegen-AOT-mono

#64788 Split out clr.tools unit tests
  eng/Subsets.props
  eng/pipelines/coreclr/templates/build-job.yml
Labels: area-Infrastructure-coreclr

#64758 Fix outerloop AcceptAsync_WithTooSmallReceiveBuffer_Failure test
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
Labels: area-System.Net.Sockets

#64734 [wasm] pass ExitStatus when calling quit_
  src/libraries/tests.proj
  src/mono/wasm/runtime/cjs/dotnet.cjs.lib.js
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/imports.ts
  src/mono/wasm/runtime/run.ts
  src/mono/wasm/test-main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#64804 Track local var ranges for "interfering writes" LIR check
  src/coreclr/jit/lir.cpp
  src/coreclr/jit/sideeffects.cpp
  src/coreclr/jit/sideeffects.h
Labels: area-CodeGen-coreclr

#64627 Handle ((IAsyncResult)task).AsyncWaitHandle.Dispose better in task completion
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Threading.Tasks/tests/Task/TaskAPMTest.cs
Labels: area-System.Threading.Tasks

#64624 Improve perf of Enumerable.Sum/Average/Max/Min for arrays and lists
  src/libraries/System.Linq/src/System.Linq.csproj
  src/libraries/System.Linq/src/System/Linq/Average.cs
  src/libraries/System.Linq/src/System/Linq/Enumerable.cs
  src/libraries/System.Linq/src/System/Linq/Max.cs
  src/libraries/System.Linq/src/System/Linq/Min.cs
  src/libraries/System.Linq/src/System/Linq/Sum.cs
  src/libraries/System.Linq/tests/AverageTests.cs
  src/libraries/System.Linq/tests/MaxTests.cs
  src/libraries/System.Linq/tests/MinTests.cs
  src/libraries/System.Linq/tests/Shuffler.cs
Labels: area-System.Linq, tenet-performance

#64256 make sure failed SSL does not impact other sessions
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.h
Labels: area-System.Net.Security, os-linux

#64766 [wasm] Some cleanup of wasm jobs in runtime-extra-platforms
  eng/pipelines/runtime-extra-platforms.yml
Labels: arch-wasm, area-Infrastructure-mono

#64506 [Jit] Delete Statement::m_compilerAdded .
  src/coreclr/jit/gentree.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr, community-contribution

#64827 Move 20H2 queues to server 2022
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#64721 [release/6.0] Update helix queues
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#64800 [wasm] Fix scenario specific tests
  src/libraries/Common/tests/System/Net/Prerequisites/LocalEchoServer.props
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/sendtohelix-wasm.targets
Labels: arch-wasm, area-Infrastructure-mono

#64836 Set up an analyzer exception filter to make intermittent failures more actionable.
  eng/Versions.props
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Verifiers/CSharpCodeFixVerifier.cs
Labels: area-System.Runtime.InteropServices

#64753 Add ActivitySource support to DiagnosticsHandler
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandlerLoggingStrings.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
Labels: area-System.Net.Http

#64858 fix broken outerloop test
  src/tests/JIT/opt/ForwardSub/normalizeOnStore.il
Labels: area-CodeGen-coreclr

#64294 [mono] Allow missing assemblies in llvmonly+interp mode.
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono

#64640 [mono] Add an 'allow-loader-errors' AOT option.
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#64501 Add support for `TYP_BYREF` `LCL_FLD`s to VN
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#64878 Fix link in readytorun-format.md
  docs/design/coreclr/botr/readytorun-format.md
Labels: area-Meta, community-contribution

#64855 Mark promoted SIMD locals used by HWIs as DNER
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#64814 Fix operator precedence consistency in ASCIIUtility.GetIndexOfFirstNonAsciiByte
  src/libraries/System.Private.CoreLib/src/System/Text/ASCIIUtility.cs
Labels: area-System.Runtime.Intrinsics

#64877 JIT: clear lvMustInit from dependent locals
  src/coreclr/jit/codegencommon.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_64808/Runtime_64808.cs
  src/tests/JIT/Regression/JitBlue/Runtime_64808/Runtime_64808.csproj
Labels: area-CodeGen-coreclr

#64865 Delete ReflectionModule::m_pCreatingAssembly and PEAssembly::m_creator
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/vm/appdomainnative.cpp
  src/coreclr/vm/appdomainnative.hpp
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/peassembly.cpp
  src/coreclr/vm/peassembly.h
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyName.cs
Labels: area-AssemblyLoader-coreclr

#64882 Propagate exception sets for assignments
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#64872 Improvements for SpanHelpers.IndexOf
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Char.cs
Labels: area-System.Memory

#64881 Normalize returns after optimizing returned indirs
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_61359/Runtime_61359.cs
  src/tests/JIT/Regression/JitBlue/Runtime_61359/Runtime_61359.csproj
Labels: area-CodeGen-coreclr

#64818 [mobile] Add extra HttpClientHandler linker substitution
  src/libraries/System.Net.Http/src/ILLink/ILLink.Substitutions.mobile.xml
Labels: area-System.Net.Http, linkable-framework, size-reduction

#64875 Bump coverlet version
  .config/dotnet-tools.json
  eng/Versions.props
Labels: area-Infrastructure-libraries, community-contribution

#64558 Explicit test for injecting scoped IServiceProvider (#63225)
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/DependencyInjectionSpecificationTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/LightInject.cs
Labels: area-Extensions-DependencyInjection, community-contribution

#64394 [wasm][debugger] Fixing race condition
  src/mono/mono/component/mini-wasm-debugger.c
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/runtime/debug.ts
Labels: area-Debugger-mono

#64915 Improve backport.yml to only check start of line and instructions for team visibility
  .github/workflows/backport.yml
  eng/actions/backport/index.js
Labels: area-Infrastructure

#64847 Turn off -ffp-contract on Unix
  eng/native/configurecompiler.cmake
  src/mono/CMakeLists.txt
Labels: area-System.Numerics, community-contribution

#62816 [release/6.0] [wasm][debugger] Avoiding assert on mono runtime
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MemberReferenceResolver.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/tests/debugger-test-with-source-link/test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: Servicing-approved, area-Debugger-mono

#63533 [release/6.0] Support Single-file executable in Windows 7
  src/native/corehost/apphost/static/CMakeLists.txt
Labels: Servicing-approved, area-Single-File, community-contribution

#63739 [release/6.0] [wasm][debugger] Fixing error after receiving loaded_files = null
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-driver.html
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/debugger/tests/debugger-test/wasm-page-without-assets.html
Labels: Servicing-approved, arch-wasm, area-Debugger-mono

#63888 [release/6.0] Serialize SendPacketsAsync tests
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.cs
Labels: area-System.Net.Sockets, test bug

#64897 Skip System.Net.NetworkInformation.Tests.PingTest.SendPingWithIPAddressAndBigSize test on Android
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
Labels: area-System.Net

#63955 [release/6.0] Fix OpenSSL 3 reporting an OutOfMemoryException for missing private key
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EvpPkey.cs
  src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.h
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey.c
  src/libraries/Native/Unix/System.Security.Cryptography.Native/pal_evp_pkey.h
Labels: Servicing-approved, area-System.Security, community-contribution

#64086 [release/6.0] Fix crash when VS4Mac is debugging VS4Mac arm64
  src/coreclr/debug/daccess/dacdbiimpl.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#64266 [release/6.0] Make sure that shared memory object name meets the length requiremens
  src/libraries/Native/Unix/System.Native/pal_io.c
  src/libraries/System.IO.MemoryMappedFiles/src/System/IO/MemoryMappedFiles/MemoryMappedFile.Unix.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CreateNew.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewAccessor.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStreamConformanceTests.cs
Labels: Servicing-approved, area-System.IO

#64252 [release/6.0] make sure OpenSSL is initialized before Tls13Supported code runs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/System.Net.Security/src/System/Net/Security/CipherSuitesPolicyPal.Linux.cs
Labels: Servicing-approved, area-System.Net.Security

#64284 [release/6.0] Fix profiling objectsallocatedbyclass (#63814)
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/tests/profiler/native/gcprofiler/gcprofiler.cpp
  src/tests/profiler/native/gcprofiler/gcprofiler.h
Labels: Servicing-approved, area-Diagnostics-coreclr

#64304 [release/6.0] add RID for Alpine 3.15
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Meta

#64104 [release/6.0] Fix ReadyToRun loading on Apple Silicon
  src/coreclr/jit/importer.cpp
  src/coreclr/pal/src/map/map.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/peimagelayout.cpp
Labels: Servicing-approved, area-ReadyToRun-coreclr, community-contribution

#64919 Move one more 20H2 queue to server 2022
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/System.Globalization/tests/IcuTests.cs
Labels: area-Infrastructure-libraries

#63051 62606 Return fully qualified path from FileSystemEventArgs
  src/libraries/System.IO.FileSystem.Watcher/src/System.IO.FileSystem.Watcher.csproj
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/RenamedEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/Args.FileSystemEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/Args.RenamedEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/System.IO.FileSystem.Watcher.Tests.csproj
Labels: area-System.IO, breaking-change, needs-breaking-change-doc-created, community-contribution

#64200 Console.Unix: fix missing terminal configuration on SIGINT/SIGQUIT/SGCONT.
  src/native/libs/System.Native/pal_signal.c
Labels: area-System.Console, community-contribution

#64928 Delete unnecessary entries from ApiCompatBaseline.netcoreapp.netstandard.txt
  src/libraries/shims/ApiCompatBaseline.netcoreapp.netstandard.txt
Labels: area-Infrastructure-libraries

#64782 Streamline bool.TryParse/Format
  src/libraries/System.Private.CoreLib/src/System/Boolean.cs
Labels: area-System.Runtime

#64461 Add S.S.C.Cose with COSE Sign1 support
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/RequiresPreviewFeaturesAttribute.cs
  src/libraries/System.Security.Cryptography.Cose/Directory.Build.props
  src/libraries/System.Security.Cryptography.Cose/System.Security.Cryptography.Cose.sln
  src/libraries/System.Security.Cryptography.Cose/ref/System.Security.Cryptography.Cose.cs
  src/libraries/System.Security.Cryptography.Cose/ref/System.Security.Cryptography.Cose.csproj
  src/libraries/System.Security.Cryptography.Cose/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.Cose/src/System.Security.Cryptography.Cose.csproj
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseHeaderLabel.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseHeaderMap.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseMessage.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseSign1Message.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/KnownCoseAlgorithms.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/KnownHeaders.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseHeaderLabelTests.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseHeaderMapTests.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseMessageTests.DecoseSign1.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseSign1MessageTests.Sign.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseSign1MessageTests.Verify.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseTestHelpers.cs
  src/libraries/System.Security.Cryptography.Cose/tests/System.Security.Cryptography.Cose.Tests.csproj
  src/libraries/tests.proj
Labels: area-System.Security, new-api-needs-documentation

#63816 [release/6.0] Avoid deadlock with ConfigurationManager
  src/libraries/Microsoft.Extensions.Configuration/src/ConfigurationManager.cs
  src/libraries/Microsoft.Extensions.Configuration/src/InternalConfigurationRootExtensions.cs
  src/libraries/Microsoft.Extensions.Configuration/src/Microsoft.Extensions.Configuration.csproj
  src/libraries/Microsoft.Extensions.Configuration/src/ReferenceCountedProviders.cs
  src/libraries/Microsoft.Extensions.Configuration/src/ReferenceCountedProvidersManager.cs
  src/libraries/Microsoft.Extensions.Configuration/tests/ConfigurationManagerTest.cs
Labels: Servicing-approved, area-Extensions-Configuration

#64018 [Group 2] Enable nullable annotations for `Microsoft.Extensions.Caching.Abstractions`
  src/libraries/Microsoft.Extensions.Caching.Abstractions/ref/Microsoft.Extensions.Caching.Abstractions.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/ref/Microsoft.Extensions.Caching.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/CacheEntryExtensions.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/DistributedCacheExtensions.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/ICacheEntry.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/IDistributedCache.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/IMemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/MemoryCacheEntryExtensions.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/MemoryCacheExtensions.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/Microsoft.Extensions.Caching.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/PostEvictionCallbackRegistration.cs
Labels: area-Extensions-Caching, community-contribution

#63834 Preserve existing keys in dictionary
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationCollectionBindingTests.cs
Labels: area-Extensions-Configuration, community-contribution

#63712 Increase default HostOptions.ShutdownTimeout value to 30 seconds
  src/libraries/Microsoft.Extensions.Hosting/src/HostOptions.cs
Labels: area-Extensions-Hosting, community-contribution

#64770 Remove spin lock from SocketAsyncEventArgs on Windows
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
Labels: area-System.Net.Sockets, tenet-performance

#64946 Fix SymbolixRegexRunner handling of "beginning"
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#64373 NativeAOT ARM64 libraries testing
  docs/workflow/building/coreclr/nativeaot.md
  eng/Subsets.props
  eng/liveBuilds.targets
  eng/pipelines/runtime.yml
  eng/testing/tests.singlefile.targets
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/ILCompiler/ILCompiler_crossarch.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2_crossarch.csproj
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#64642 Update branding to 5.0.15
  eng/Versions.props
  eng/pipelines/common/checkout-job.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/System.Drawing.Common/tests/FontFamilyTests.cs
  src/libraries/libraries-packages.proj
  src/libraries/pkg/baseline/packageIndex.json
Labels: area-Infrastructure-libraries

#64481 Local heap optimizations on Arm64
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/targetarm64.h
Labels: arch-arm64, area-CodeGen-coreclr

#64923 Improve SSL platform detection
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
Labels: area-System.Net.Security, test enhancement

#64894 Add user-facing docs and samples for NativeAOT
  src/coreclr/nativeaot/docs/README.md
  src/coreclr/nativeaot/docs/compiling.md
  src/coreclr/nativeaot/docs/debugging.md
  src/coreclr/nativeaot/docs/interop.md
  src/coreclr/nativeaot/docs/limitations.md
  src/coreclr/nativeaot/docs/optimizing.md
  src/coreclr/nativeaot/docs/prerequisites.md
  src/coreclr/nativeaot/docs/rd-xml-format.md
  src/coreclr/nativeaot/docs/reflection-free-mode.md
  src/coreclr/nativeaot/docs/reflection-in-aot-mode.md
  src/coreclr/nativeaot/docs/troubleshooting.md
Labels: area-NativeAOT-coreclr

#64908 [Mono] Fix potential crash when handling image load event.
  src/mono/mono/eventpipe/ep-rt-mono.c
Labels: area-Tracing-mono

#64748 Fix card marking issue
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#63675 Improve Directory.Move and DirectoryInfo.MoveTo
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Rename.cs
  src/libraries/System.IO.FileSystem/tests/Directory/Move.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Directory.cs
  src/libraries/System.Private.CoreLib/src/System/IO/DirectoryInfo.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.cs
Labels: area-System.IO, tenet-performance

#64903 [mono] Fix is_byreflike_set on big-endian platforms
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/sre.c
Labels: area-Codegen-JIT-mono, community-contribution

#64965 Delete StructLayoutAttribute.Pack adjustment
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeCustomAttributeData.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/TypeInfos/RuntimeNamedTypeInfo.cs
  src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/Types/RoDefinitionType.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/Type/TypeTests.StructLayoutAttribute.cs
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
Labels: area-System.Reflection

#64701 Take into account zero-offset field sequences when propagating locals
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/copyprop.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_64700/Runtime_64700.cs
  src/tests/JIT/Regression/JitBlue/Runtime_64700/Runtime_64700.csproj
Labels: area-CodeGen-coreclr, community-contribution

#63763 Add JIT support for control-flow guard on x64 and arm64
  docs/design/coreclr/botr/clr-abi.md
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/jit-cfg.yml
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/corjitflags.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jitee.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/targetamd64.h
  src/coreclr/jit/targetarm.h
  src/coreclr/jit/targetarm64.h
  src/coreclr/jit/targetx86.h
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternSymbolNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/vm/amd64/JitHelpers_Fast.asm
  src/coreclr/vm/amd64/jithelpers_fast.S
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/jithelpers.cpp
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#64933 JIT: more stringent interference checks in forward sub
  src/coreclr/jit/forwardsub.cpp
  src/tests/JIT/opt/ForwardSub/callArgInterference2.cs
  src/tests/JIT/opt/ForwardSub/callArgInterference2.csproj
  src/tests/JIT/opt/ForwardSub/callArgInterference3.cs
  src/tests/JIT/opt/ForwardSub/callArgInterference3.csproj
Labels: area-CodeGen-coreclr
