Repository dotnet/runtime, pull requests merged in 2022-08, with the labels that each got.

#73133 Update description
  src/coreclr/inc/clrconfigvalues.h
Labels: area-TieredCompilation-coreclr

#73104 Enable more libraries tests
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/libraries/System.Console/tests/TermInfo.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
  src/libraries/System.Runtime.Extensions/tests/System/AppDomainTests.cs
  src/libraries/System.Runtime.Extensions/tests/System/Diagnostics/Stopwatch.cs
  src/libraries/System.Runtime.Extensions/tests/System/Environment.ProcessorCount.cs
  src/libraries/System.Runtime.Extensions/tests/System/Environment.StackTrace.cs
  src/libraries/System.Runtime.Extensions/tests/System/Reflection/AssemblyNameProxyTests.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/DescriptionNameTests.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/RuntimeIdentifierTests.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#73085 Fix assert in NativeAOT when handling data flow on compiler generated…
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
Labels: area-NativeAOT-coreclr

#73137 Link issue to the RDC attribute on DispatchProxy
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxy.cs
Labels: area-System.Reflection

#73072 Add some QuicListener tests
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
Labels: area-System.Net.Quic

#73109 Add localloc empty stack verification
  src/coreclr/tools/ILVerification/ILImporter.Verify.cs
  src/coreclr/tools/ILVerification/Strings.resx
  src/coreclr/tools/ILVerification/VerifierError.cs
  src/tests/ilverify/ILTests/DefaultInterfaceMethod.il
  src/tests/ilverify/ILTests/LocalAllocTests.il
  src/tests/ilverify/ILTests/LocalAllocTests.ilproj
Labels: area-ILVerification, community-contribution

#70649 [mono][interp] Improve tiering performance
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono

#72777 Add more DataFlow tests from linker to NativeAOT
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/DiagnosticUtilities.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptPrivateImplementationDetails.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/ApplyTypeAnnotations.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/ArrayDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/AssemblyQualifiedNameDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/AttributeConstructorDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/AttributeFieldDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/AttributePropertyDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/ByRefDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedTypes.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/Dependencies/MemberTypesAllBaseTypeAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/Dependencies/TestSystemTypeBase.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/Dependencies/UnresolvedLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/DynamicDependencyDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/EventDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/ExceptionalDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/FieldDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/IReflectDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/LocalDataFlowKeptMembers.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MemberTypesAllOnCopyAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MethodByRefParameterDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MethodByRefReturnDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MethodParametersDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MethodReturnParameterDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/MethodThisDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/TypeBaseTypeDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/UnresolvedMembers.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
Labels: area-NativeAOT-coreclr

#72193 [Unix] Console.ReadKey rewrite
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.ReadStdinUnbuffered.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SetSignalForBreak.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.StdinReady.cs
  src/libraries/Common/src/System/Console/ConsoleUtils.cs
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/src/System/IO/KeyParser.cs
  src/libraries/System.Console/src/System/IO/Net6KeyParser.cs
  src/libraries/System.Console/src/System/IO/StdInReader.cs
  src/libraries/System.Console/src/System/TermInfo.Database.cs
  src/libraries/System.Console/src/System/TermInfo.DatabaseFactory.cs
  src/libraries/System.Console/src/System/TermInfo.WellKnownNumbers.cs
  src/libraries/System.Console/src/System/TermInfo.WellKnownStrings.cs
  src/libraries/System.Console/src/System/TermInfo.cs
  src/libraries/System.Console/src/System/TerminalFormatStrings.cs
  src/libraries/System.Console/tests/KeyParserTests.cs
  src/libraries/System.Console/tests/System.Console.Tests.csproj
  src/libraries/System.Console/tests/TermInfo.cs
  src/native/libs/System.Native/pal_console.c
  src/native/libs/System.Native/pal_console.h
Labels: area-System.Console

#73115 Remove static readonly fields from X500NameEncoder
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X500NameEncoder.cs
Labels: area-System.Security

#73067 Don't hardcode /tmp in named pipe tests, it's not for us on Android
  src/libraries/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.UnixDomainSockets.cs
Labels: area-System.IO

#72945 Make IHostEnvironment.ApplicationName non-nullable
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/ref/Microsoft.Extensions.Hosting.Abstractions.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/IHostEnvironment.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/IHostingEnvironment.cs
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/HostingEnvironment.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostApplicationBuilderTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostBuilderTests.cs
Labels: area-Extensions-Hosting

#73125 Update the asp.net spmi collection script
  src/coreclr/scripts/superpmi_aspnet.py
Labels: area-CodeGen-coreclr

#72923 Fixed a WKS specific issue by not clobbering the heap_segment_saved_allocated
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#66869 Reduce the cost of adding many unnamed parameters to an OdbcCommand.
  src/libraries/System.Data.Odbc/src/System/Data/Odbc/OdbcParameterCollectionHelper.cs
  src/libraries/System.Data.Odbc/tests/OdbcParameterTests.cs
Labels: area-System.Data.Odbc, community-contribution

#72973 Remove ActiveIssue tag in ThreadPoolBoundHandle_IntegrationTests.netcoreapp.cs
  src/libraries/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_IntegrationTests.netcoreapp.cs
Labels: area-System.Threading

#73018 [eventpipe] Use MonoImage:module_name when filename is NULL
  src/mono/mono/eventpipe/ep-rt-mono.c
Labels: arch-wasm, area-Tracing-mono

#73061 #73041 exclude Microsoft.CSharp.Tests for tvOS
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#71798 Use UnrelatedR2RCode flag when --compilebubblegenerics is specified
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilationModuleGroupBase.cs
Labels: area-crossgen2-coreclr

#72952 Remove all pinvoke source generator attributes in aggressive trimming mode
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
Labels: area-System.Runtime, linkable-framework

#73146 Revert "Consolidate importer spilling code V2 (#72744)"
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_72133/Runtime_72133.il
  src/tests/JIT/Regression/JitBlue/Runtime_72133/Runtime_72133.ilproj
Labels: area-CodeGen-coreclr

#72975 Descriptor parser support
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CodeBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EmbeddedTrimmingDescriptorNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GCStaticsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ModuleUseBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NonGCStaticsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ThreadStaticsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DescriptorMarker.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/EventPseudoDesc.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/FeatureSwitchManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ProcessLinkerXmlBase.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ReferenceSource/TypePreserve.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreserve.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Repro/RequiresViaXml.descriptor.xml
  src/tests/nativeaot/SmokeTests/EmbeddedDescriptor/EmbeddedDescriptor.cs
  src/tests/nativeaot/SmokeTests/EmbeddedDescriptor/EmbeddedDescriptor.csproj
  src/tests/nativeaot/SmokeTests/EmbeddedDescriptor/ILLink.Descriptors.xml
Labels: area-NativeAOT-coreclr

#73175 Add more tests that have been enabled by recent changes
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/RequiresCapability/Dependencies/RequiresInCopyAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/RequiresCapability/RequiresCapabilityFromCopiedAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/RequiresCapability/RequiresCapabilityReflectionAnalysisEnabled.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/RequiresCapability/RequiresViaDataflow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/RequiresCapability/RequiresWithCopyAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/RequiresCapability/SuppressRequires.cs
Labels: area-NativeAOT-coreclr

#73129 Delete duplicate unwind info files
  src/mono/mono/mini/dwarfwriter.c
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/freebsd-elf32.h
  src/mono/mono/utils/freebsd-elf64.h
  src/mono/mono/utils/freebsd-elf_common.h
  src/native/external/libunwind-version.txt
  src/native/external/libunwind/include/remote/freebsd-elf_common.h
Labels: area-Infrastructure-mono, community-contribution

#73092 Remove buffer copying from Utf8JsonReader Deserialize methods.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.ReadAhead.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.ReadCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-System.Text.Json

#73181 Disable SourceGen unit tests in non-release runtime builds
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/TypeWrapperTests.cs
Labels: area-System.Text.Json

#73161 Refine wording in RequiresDynamicCode annotation in JsonStringEnumConverter.
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonStringEnumConverter.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#69548 Fix handling process affinity mask on Windows 11
  src/coreclr/gc/windows/gcenv.windows.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/utilcode/util.cpp
  src/coreclr/vm/gcenv.os.cpp
Labels: area-GC-coreclr

#73164 Fix local initialization in regex conditional backreferences in loops
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#73179 Tweak XML comments on BrotliStream and ZLibStream
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliStream.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliStream.Compress.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZLibStream.cs
Labels: area-System.IO.Compression

#73193 Fix duplicate reference issue
  src/coreclr/tools/dotnet-pgo/Program.cs
Labels: area-crossgen2-coreclr

#73093 Fix xxHash64 handling of large (> 4GB) inputs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash64.State.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash64.cs
  src/libraries/System.IO.Hashing/tests/NonCryptoHashTestDriver.cs
  src/libraries/System.IO.Hashing/tests/XxHash32Tests.007.cs
  src/libraries/System.IO.Hashing/tests/XxHash32Tests.cs
  src/libraries/System.IO.Hashing/tests/XxHash32Tests.f00d.cs
  src/libraries/System.IO.Hashing/tests/XxHash64Tests.007.cs
  src/libraries/System.IO.Hashing/tests/XxHash64Tests.cs
  src/libraries/System.IO.Hashing/tests/XxHash64Tests.f00d.cs
Labels: area-System.Security

#73190 Add all memory allocation ucrtbase APIs to the hardbound list
  src/coreclr/nativeaot/BuildIntegration/WindowsAPIs.txt
Labels: area-NativeAOT-coreclr

#73182 Wrap FileSystemEntry buffer in a struct to workaround visibility issues with api compat
  src/libraries/System.IO.FileSystem/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Private.CoreLib/src/System/IO/Enumeration/FileSystemEntry.Unix.cs
  src/libraries/System.Runtime/src/MatchingRefApiCompatBaseline.txt
Labels: area-System.IO

#73201 Fix grammar typo in comment in TplEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TplEventSource.cs
Labels: community-contribution

#67861 [iOS] Remove unnecessary newline from CI script
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime-extra-platforms-other.yml
  eng/testing/tests.ioslike.targets
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Formats.Cbor/tests/PropertyTests/CborPropertyTests.cs
  src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Extract.cs
  src/libraries/System.IO.Compression.ZipFile/tests/ZipFileExtensions.ZipArchive.Extract.cs
  src/libraries/System.Runtime.Extensions/tests/System/AppDomainTests.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GetDelegateForFunctionPointerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GetFunctionPointerForDelegateTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/IsComObjectTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/PtrToStructureTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/StructureToPtrTests.cs
  src/libraries/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-mono, os-tvos

#73165 [mono] Don't allow interfaces as catch classes to catch anything.
  src/mono/mono/mini/mini-exceptions.c
  src/tests/issues.targets
Labels: area-VM-meta-mono

#73176 [mono][interp] Throw exception if stack is not empty after localloc
  src/mono/mono/mini/interp/transform.c
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#71703 Add setter to TransactionManager.DefaultTimeout and MaxTimeout.
  src/libraries/System.Transactions.Local/ref/System.Transactions.Local.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionManager.cs
  src/libraries/System.Transactions.Local/tests/System.Transactions.Local.Tests.csproj
  src/libraries/System.Transactions.Local/tests/TransactionManagerTest.cs
Labels: area-System.Transactions, new-api-needs-documentation

#73191 Enable AOT analyzer in System.Net.HttpListener and System.Net.Http.Json
  src/libraries/System.Net.Http.Json/ref/System.Net.Http.Json.cs
  src/libraries/System.Net.Http.Json/ref/System.Net.Http.Json.csproj
  src/libraries/System.Net.Http.Json/src/System.Net.Http.Json.csproj
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Delete.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Get.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Patch.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Post.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Put.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpContentJsonExtensions.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/JsonContent.cs
  src/libraries/System.Net.HttpListener/src/System.Net.HttpListener.csproj
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
Labels: new-api-needs-documentation, area-NativeAOT-coreclr

#72933 [wasm][draft] re-try downloading assets
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/imports.ts
  src/mono/wasm/runtime/polyfills.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#73131 [NativeAOT] Reflection Invoke refactoring
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/Runtime/thread.inl
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Core/Execution/ExecutionEnvironment.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/ThrowHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/DelegateDynamicInvokeInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/DynamicInvokeInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/MethodInfos/RuntimeMethodInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/MethodInfos/RuntimeNamedMethodInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/TypeLoaderExports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Type.Internal.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Reflection/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.Runtime.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokeInfo.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokers/InstanceMethodInvoker.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokers/StaticMethodInvoker.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokers/VirtualMethodInvoker.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/SortableDependencyNode.cs
  src/coreclr/tools/Common/Internal/Runtime/MetadataBlob.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.Mangling.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.DynamicInvoke.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DynamicInvokeTemplateDataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DynamicInvokeTemplateNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionInvokeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DynamicInvokeThunkGenerationPolicy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/GeneratingMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/libraries/System.Formats.Asn1/tests/Reader/ReadLength.cs
  src/libraries/System.Memory/tests/Span/Reflection.cs
  src/libraries/System.Runtime/tests/System/Reflection/InvokeWithRefLikeArgs.cs
Labels: area-NativeAOT-coreclr

#73158 [wasm-mt] Fixup C exports initialization after startup.ts refactoring
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/startup.ts
Labels: arch-wasm, area-Threading-mono

#73013 [mono][aot] AOT ptr-to-structure and structure-to-ptr wrappers for no…
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#73224 Remove reflection usage from Console tests
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/src/System/TermInfo.DatabaseFactory.cs
  src/libraries/System.Console/tests/System.Console.Tests.csproj
  src/libraries/System.Console/tests/TermInfo.Unix.cs
  src/libraries/System.Console/tests/TermInfo.cs
Labels: area-System.Console

#72464 Consume renamed ApiCompat.Task package
  eng/Version.Details.xml
  eng/Versions.props
  eng/packaging.targets
  src/libraries/Directory.Build.targets
Labels: area-Infrastructure-libraries

#73066 [mono] Skip .mibc profile methods when not found
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#72143 Add reference assembly for System.Private.CoreLib.dll
  Directory.Build.props
  docs/coding-guidelines/updating-ref-source.md
  eng/Version.Details.xml
  eng/Versions.props
  eng/references.targets
  eng/resolveContract.props
  eng/resolveContract.targets
  src/coreclr/System.Private.CoreLib/MatchingRefApiCompatBaseline.txt
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/MatchingRefApiCompatBaseline.txt
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/ThreadPool.Windows.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/System.Private.DisabledReflection.csproj
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/System.Private.Reflection.Execution.csproj
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/System.Private.StackTraceMetadata.csproj
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/System.Collections.Concurrent/ref/System.Collections.Concurrent.cs
  src/libraries/System.Collections.Concurrent/src/System.Collections.Concurrent.csproj
  src/libraries/System.Collections/ref/System.Collections.cs
  src/libraries/System.Collections/src/System.Collections.csproj
  src/libraries/System.Diagnostics.Debug/tests/System.Diagnostics.Debug.Tests.csproj
  src/libraries/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.cs
  src/libraries/System.Diagnostics.StackTrace/src/System.Diagnostics.StackTrace.csproj
  src/libraries/System.Diagnostics.Tracing/src/ApiCompatBaseline.Tracing.txt
  src/libraries/System.Diagnostics.Tracing/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Diagnostics.Tracing/src/System.Diagnostics.Tracing.csproj
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/src/System.Memory.csproj
  src/libraries/System.Private.CoreLib/ref/System.Private.CoreLib.ExtraApis.cs
  src/libraries/System.Private.CoreLib/ref/System.Private.CoreLib.ExtraApis.txt
  src/libraries/System.Private.CoreLib/ref/System.Private.CoreLib.ManualShimTypeForwards.cs
  src/libraries/System.Private.CoreLib/ref/System.Private.CoreLib.csproj
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/CounterGroup.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/DiagnosticCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/IncrementingEventCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/IncrementingPollingCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/PollingCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/RegisteredWaitHandle.Portable.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolWorkQueue.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System.Runtime.InteropServices.csproj
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/src/System.Runtime.csproj
  src/libraries/System.Threading.Thread/src/ApiCompatBaseline.Threading.txt
  src/libraries/System.Threading.Thread/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Threading.Thread/src/System.Threading.Thread.csproj
  src/libraries/System.Threading.ThreadPool/src/ApiCompatBaseline.Threading.txt
  src/libraries/System.Threading.ThreadPool/src/MatchingRefApiCompatBaseline.txt
  src/libraries/System.Threading.ThreadPool/src/System.Threading.ThreadPool.csproj
  src/libraries/System.Threading/ref/System.Threading.cs
  src/libraries/System.Threading/src/System.Threading.csproj
  src/mono/System.Private.CoreLib/MatchingRefApiCompatBaseline.txt
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/System.Private.CoreLib/src/System/Threading/ThreadPool.Browser.Mono.cs
Labels: area-Infrastructure-libraries

#73020 Respect the Keep-Alive response header on HTTP/1.0
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http1KeepAlive.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http

#73207 Update fabricbot config per dotnet/fabricbot-config#59
  .github/fabricbot.json
Labels: area-Meta

#73059 JIT: Disallow return buffer aliasing for unmanaged calls
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Directed/aliasing_retbuf/CMakeLists.txt
  src/tests/JIT/Directed/aliasing_retbuf/aliasing_retbuf.cs
  src/tests/JIT/Directed/aliasing_retbuf/aliasing_retbuf.csproj
  src/tests/JIT/Directed/aliasing_retbuf/aliasing_retbuf_native.cpp
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#73248 Update ApiCompat baselines for NativeAOT System.Private.CoreLib
  src/coreclr/nativeaot/System.Private.CoreLib/src/MatchingRefApiCompatBaseline.txt
Labels: area-NativeAOT-coreclr

#73024 [mono][debugger] Fix infinite recursion and null pointer access while debugging
  src/mono/mono/component/debugger-agent.c
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
Labels: area-Debugger-mono

#73063 JSON support required properties
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/PropertyGenerationSpec.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Attributes/JsonRequiredAttribute.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonSerializerWrapper.Reflection.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonPropertyInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/RequiredKeywordTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, new-api-needs-documentation

#73153 Enable HTTP/3 support by default
  src/libraries/System.Net.Http/src/System/Net/Http/GlobalHttpSettings.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/HttpStress.csproj
Labels: area-System.Net.Http

#71794 Describe the validity of null managed pointers
  docs/design/specs/Ecma-335-Augments.md
Labels: area-VM-coreclr

#73249 Fix typo in Quic resource string
  src/libraries/System.Net.Quic/src/Resources/Strings.resx
Labels: area-System.Net.Quic

#73239 avoid string concatenation in case when there are no Extended Strings
  src/libraries/System.Console/src/System/TermInfo.Database.cs
  src/libraries/System.Console/src/System/TerminalFormatStrings.cs
Labels: area-System.Console, tenet-performance

#73178 Make diagnostic checks more reliable with more exact result matching.
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulValueShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessValueShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Verifiers/CSharpCodeFixVerifier.cs
Labels: area-System.Runtime.InteropServices

#73132 Fix execution of ilverify tests in outerloop runs
  src/tests/Common/CLRTest.CrossGen.targets
  src/tests/build.proj
  src/tests/xunit-wrappers.targets
Labels: area-Infrastructure-coreclr

#73218 Fix sealing of types that were not concretely instantiated
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Devirtualization.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Main.cs
  src/tests/nativeaot/SmokeTests/UnitTests/UnitTests.csproj
Labels: area-NativeAOT-coreclr

#73057 Implement new API GetEnumValuesAsUnderlyingType
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/EnumConverter.cs
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/SignatureType.cs
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.Private.CoreLib/src/System/Type.cs
  src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/Types/RoType.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/SampleMetadata/SampleMetadata.cs
  src/libraries/System.Reflection.MetadataLoadContext/tests/src/Tests/Type/TypeTests.cs
  src/libraries/System.Reflection/tests/TypeInfoTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/EnumTests.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-System.Reflection, new-api-needs-documentation, CoreClr

#73082 Update zlib, zlib-intel dependencies
  THIRD-PARTY-NOTICES.TXT
  src/installer/pkg/THIRD-PARTY-NOTICES.TXT
  src/native/external/zlib-intel-version.txt
  src/native/external/zlib-intel/crc32.c
  src/native/external/zlib-intel/crc32.h
  src/native/external/zlib-intel/crc_folding.c
  src/native/external/zlib-intel/deflate.c
  src/native/external/zlib-intel/deflate.h
  src/native/external/zlib-intel/deflate_medium.c
  src/native/external/zlib-intel/gzguts.h
  src/native/external/zlib-intel/inflate.c
  src/native/external/zlib-intel/inflate.h
  src/native/external/zlib-intel/inftrees.c
  src/native/external/zlib-intel/match.c
  src/native/external/zlib-intel/trees.c
  src/native/external/zlib-intel/x86.h
  src/native/external/zlib-intel/zlib.h
  src/native/external/zlib-intel/zutil.h
  src/native/external/zlib-version.txt
  src/native/external/zlib/CMakeLists.txt
  src/native/external/zlib/ChangeLog
  src/native/external/zlib/Makefile.in
  src/native/external/zlib/README
  src/native/external/zlib/configure
  src/native/external/zlib/crc32.c
  src/native/external/zlib/crc32.h
  src/native/external/zlib/deflate.c
  src/native/external/zlib/deflate.h
  src/native/external/zlib/gzguts.h
  src/native/external/zlib/gzlib.c
  src/native/external/zlib/gzread.c
  src/native/external/zlib/gzwrite.c
  src/native/external/zlib/infback.c
  src/native/external/zlib/inffast.c
  src/native/external/zlib/inflate.c
  src/native/external/zlib/inflate.h
  src/native/external/zlib/inftrees.c
  src/native/external/zlib/treebuild.xml
  src/native/external/zlib/trees.c
  src/native/external/zlib/zlib.3
  src/native/external/zlib/zlib.3.pdf
  src/native/external/zlib/zlib.h
  src/native/external/zlib/zlib.map
  src/native/external/zlib/zutil.c
  src/native/external/zlib/zutil.h
Labels: area-System.IO.Compression

#73256 Switch to using ReadOnlySpan/SpanMarshaller for some generated p/invokes
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Evp.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Hmac.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.RSA.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EVP.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Hmac.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptCreateHash.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptFinishHash.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptHashData.cs
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.EncryptDecrypt.cs
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.SignVerify.cs
Labels: area-System.Runtime.InteropServices

#71824 Add Kerberos loopback test
  src/libraries/Common/tests/System/Net/Security/Kerberos/FakeKdcServer.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/FakeKerberosPrincipal.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/FakePrincipalService.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/FakeRealmReferral.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/FakeRealmService.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/FakeRealmSettings.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/FakeTrustedRealms.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/KerberosExecutor.cs
  src/libraries/Common/tests/System/Net/Security/Kerberos/README.md
  src/libraries/Common/tests/System/Net/Security/Kerberos/System.Net.Security.Kerberos.Shared.projitems
  src/libraries/System.Net.Security/tests/FunctionalTests/NegotiateAuthenticationKerberosTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security, community-contribution

#73253 Rename RateLimiter Acquire methods
  src/libraries/System.Threading.RateLimiting/ref/System.Threading.RateLimiting.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ChainedPartitionedRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/DefaultPartitionedRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/NoopLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/PartitionedRateLimiter.T.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/QueueProcessingOrder.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/RateLimitPartition.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/RateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TranslatingLimiter.cs
  src/libraries/System.Threading.RateLimiting/tests/BaseRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/ChainedLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/ConcurrencyLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/FixedWindowRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/Infrastructure/Utils.cs
  src/libraries/System.Threading.RateLimiting/tests/PartitionedRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/RateLimiterPartitionTests.cs
  src/libraries/System.Threading.RateLimiting/tests/SlidingWindowRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/TokenBucketRateLimiterTests.cs
Labels: area-System.Threading, new-api-needs-documentation

#73275 Typo in MULTIPLE_HEAPS to fix a memory usage regression
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#73268 Add System.Threading.RateLimiting to Microsoft.Internal.Runtime.AspNetCore.Transport
  src/libraries/NetCoreAppLibrary.props
Labels: area-Infrastructure-libraries

#73270 Update branding to 6.0.9
  eng/Versions.props
Labels: area-Infrastructure-libraries

#72706 Annotating System.Diagnostics.DiagnosticSource on AOT
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticListener.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/HttpHandlerDiagnosticListener.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/AggregationManager.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/DiagnosticSourceEventSourceBridgeTests.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/System.Diagnostics.DiagnosticSource.Tests.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/tests/default.rd.xml
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#72693 Fix x64 and x86 emulation on arm64 Windows
  src/coreclr/vm/amd64/cgenamd64.cpp
  src/coreclr/vm/amd64/cgencpu.h
  src/coreclr/vm/amd64/jitinterfaceamd64.cpp
  src/coreclr/vm/arm/cgencpu.h
  src/coreclr/vm/arm64/cgencpu.h
  src/coreclr/vm/comcallablewrapper.cpp
  src/coreclr/vm/i386/cgencpu.h
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/i386/jitinterfacex86.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/loongarch64/cgencpu.h
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/threadsuspend.cpp
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId.cs
  src/tests/JIT/Regression/JitBlue/Runtime_34587/Runtime_34587.cs
Labels: area-VM-coreclr

#72978 [mono] Fix delegate invokes returning byref types.
  src/mono/mono/metadata/marshal-lightweight.c
Labels: area-VM-meta-mono

#73244 JIT: Assign method handle for root inline context in all builds
  src/coreclr/jit/inline.cpp
Labels: area-CodeGen-coreclr

#73286 Don't generate templates for MdArrays
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionInvokeMapNode.cs
Labels: area-NativeAOT-coreclr

#73279 Use PtrToStringUTF8 instead of PtrToStringAnsi on Unix
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Environment.NativeAot.Unix.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeLibrary.NativeAot.Unix.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Disassembler.cs
  src/coreclr/tools/r2rdump/CoreDisTools.cs
  src/installer/tests/TestUtils/SymbolicLinking.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Err.cs
  src/libraries/Common/src/Interop/FreeBSD/Interop.Process.cs
  src/libraries/Common/src/Interop/Unix/Interop.Errors.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetCwd.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetDomainName.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetHostName.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetPwUid.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MountPoints.FormatInfo.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MountPoints.cs
  src/libraries/Common/src/Interop/Unix/System.Net.Security.Native/Interop.GssApiException.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ASN1.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ERR.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.SslCtx.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509.cs
  src/libraries/Common/src/System/IO/Compression/ZLibNative.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.OSX.cs
  src/libraries/System.IO.Pipes/tests/InteropTest.Unix.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxNetworkInterface.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkInterfacePal.Android.cs
  src/libraries/System.Private.CoreLib/src/System/IO/PersistedFiles.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidLookup.OpenSsl.cs
  src/mono/System.Private.CoreLib/src/System/Environment.Unix.Mono.cs
Labels: area-System.Runtime.InteropServices

#73271 Avoid integer overflow on ARM machine with 8G of memory
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/pal/src/misc/sysinfo.cpp
Labels: area-GC-coreclr

#73241 Extend detection for unsupported types
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/Reflection/TypeWrapper.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UnsupportedTypeConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/Common/UnsupportedTypesTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/UnsupportedTypesTests.cs
Labels: area-System.Text.Json

#73267 Fix Configuration.Binder to bind to IList<T> properties
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationCollectionBindingTests.cs
Labels: area-Extensions-Configuration

#73294 Use in-tree ilasm to run test suite natively on ppc64le
  Directory.Build.props
Labels: area-Infrastructure-libraries, community-contribution, arch-ppc64le

#73260 Fix handling of empty iterations in Regex lazy loops
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#73308 Ensure correct exception message is being thrown in JsonParameterInfo
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
Labels: area-System.Text.Json

#72294 enable OpenSSL tests on arm64 mac
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/libraries/tests.proj
Labels: area-System.Security, os-mac-os-x

#72211 Use correct runtime assembly in MetadataReader tests
  src/libraries/System.Reflection.Metadata/tests/Metadata/Decoding/CustomAttributeDecoderTests.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/Decoding/SignatureDecoderTests.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/MetadataReaderTestHelpers.cs
Labels: area-System.Reflection.Metadata, test-bug

#73269 Fix missing symbols for `singlefilehost`
  eng/native/naming.props
  src/native/corehost/corehost.proj
Labels: area-Single-File

#73173 Ignoring failures due to the test machine insufficient memory
  src/tests/GC/LargeMemory/API/gc/collect.cs
  src/tests/GC/LargeMemory/API/gc/getgeneration.cs
  src/tests/GC/LargeMemory/API/gc/gettotalmemory.cs
  src/tests/GC/LargeMemory/API/gc/keepalive.cs
  src/tests/GC/LargeMemory/API/gc/reregisterforfinalize.cs
  src/tests/GC/LargeMemory/API/gc/suppressfinalize.cs
  src/tests/GC/LargeMemory/Allocation/finalizertest.cs
  src/tests/GC/LargeMemory/Allocation/largeexceptiontest.cs
Labels: area-GC-coreclr

#73264 [mono][interp] Make sure containing klass has field offsets initialized
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#73306 Fix JSON perf regressions reported by #73242.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
Labels: area-System.Text.Json

#73023 Add the ability to load a PKCS10 into CertificateRequest
  src/libraries/Common/src/System/Security/Cryptography/Asn1/PssParamsAsn.manual.cs
  src/libraries/Common/src/System/Security/Cryptography/Helpers.cs
  src/libraries/Common/src/System/Security/Cryptography/PemLabels.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.RSA.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestApiTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestLoadTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestUsageTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/X509Sha1SignatureGenerators.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/System.Security.Cryptography.X509Certificates.Tests.csproj
  src/libraries/System.Security.Cryptography.X509Certificates/tests/TestData.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.Load.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequestLoadOptions.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/PublicKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
Labels: area-System.Security, new-api-needs-documentation, cryptographic-docs-impact

#73278 Convert GetAllMountPoints to UnmanagedCallersOnly
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.MountPoints.cs
  src/libraries/Common/src/Interop/Windows/HttpApi/Interop.HttpApi.cs
  src/libraries/System.IO.FileSystem.DriveInfo/src/System.IO.FileSystem.DriveInfo.csproj
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
  src/native/libs/System.Native/pal_mount.c
  src/native/libs/System.Native/pal_mount.h
Labels: area-System.IO

#73314 [wasm] Make Wasm.Build.Tests on CI, green again
  eng/Versions.props
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmTemplateTests.cs
Labels: arch-wasm, area-Build-mono, test-failure

#73198 Enhance the date and time precision in Add methods
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
  src/libraries/System.Private.Xml/tests/XmlConvert/ToTypeTests.cs
  src/libraries/System.Runtime/tests/System/DateTimeTests.cs
Labels: area-System.Runtime

#73265 [MONO] Increased timeout for llvmfullaot lanes
  eng/pipelines/common/templates/runtimes/run-test-job.yml
Labels: area-Infrastructure-mono

#72649 Add RequiresAccessedThrough test to NativeAOT
  src/coreclr/tools/Common/Compiler/DisplayNameHelpers.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAccessedThrough.cs
Labels: area-NativeAOT-coreclr

#73199 Annotate System.Data.Common with RequiresDynamicCode
  src/libraries/System.Data.Common/src/System.Data.Common.csproj
  src/libraries/System.Data.Common/src/System/Data/DataRowExtensions.cs
  src/libraries/System.Data.Common/src/System/Data/DataTable.cs
  src/libraries/System.Data.DataSetExtensions/tests/System/Data/DataRowExtensionsTests.cs
Labels: new-api-needs-documentation, area-NativeAOT-coreclr

#73273 ILASM - Fixing ILASM roundtrip issue with `vararg` calling convention
  src/coreclr/inc/corhlprpriv.cpp
Labels: area-ILTools-coreclr

#73333 Fix path to non-Windows symbols for Microsoft.NETCore.App.Host
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Host.sfxproj
Labels: area-Setup

#73351 Propagate BBF_HAS_MDARRAYREF to new blocks when copying IR
  src/coreclr/jit/block.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/optimizer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_72768/Runtime_72768.cs
  src/tests/JIT/Regression/JitBlue/Runtime_72768/Runtime_72768.csproj
Labels: area-CodeGen-coreclr

#73214 Enable 4 more libraries tests
  src/libraries/System.Linq/tests/EnumerableDebugViewTests.cs
  src/libraries/System.Linq/tests/GroupByTests.DebuggerAttributes.cs
  src/libraries/System.Linq/tests/GroupByTests.cs
  src/libraries/System.Linq/tests/System.Linq.Tests.csproj
  src/libraries/System.Linq/tests/ToLookupTests.DebuggerAttributes.cs
  src/libraries/System.Linq/tests/default.rd.xml
  src/libraries/System.Net.Mail/tests/Functional/MailMessageTest.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientCredentialsTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/StartupTests.Windows.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#73309 [debugger][mono] Fix side effect of 73024
  src/mono/mono/component/debugger-agent.c
Labels: area-Debugger-mono

#73300 Disable System.Net.Http.Functional.Tests.SocketsHttpHandler_Cancellation_Test_NonParallel.CancelPendingRequest_DropsStalledConnectionAttempt on Linux
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Cancellation.NonParallel.cs
Labels: area-System.Net.Http

#72993 Move format.py script and use retrying download
  eng/pipelines/coreclr/templates/format-job.yml
  src/coreclr/scripts/jitformat.py
Labels: area-Infrastructure-coreclr

#73340 Disable SendMailAsync test
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientTest.cs
Labels: area-System.Net

#73227 Throw exception with correct QuicError for ConnectionTimeout
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/ThrowHelper.cs
Labels: area-System.Net.Quic

#73288 [wasm][debugger][codespaces] Fix debugger's Firefox tests in Codespaces
  src/mono/wasm/debugger/DebuggerTestSuite/FirefoxProvider.cs
Labels: arch-wasm, area-Debugger-mono

#73156 [wasm] marshling call to assembly entrypoint via new interop
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
  src/mono/wasm/runtime/debug.ts
  src/mono/wasm/runtime/dotnet-legacy.d.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/gc-handles.ts
  src/mono/wasm/runtime/imports.ts
  src/mono/wasm/runtime/invoke-cs.ts
  src/mono/wasm/runtime/invoke-js.ts
  src/mono/wasm/runtime/managed-exports.ts
  src/mono/wasm/runtime/marshal-to-cs.ts
  src/mono/wasm/runtime/marshal-to-js.ts
  src/mono/wasm/runtime/marshal.ts
  src/mono/wasm/runtime/memory.ts
  src/mono/wasm/runtime/net6-legacy/corebindings.ts
  src/mono/wasm/runtime/net6-legacy/cs-to-js.ts
  src/mono/wasm/runtime/net6-legacy/export-types.ts
  src/mono/wasm/runtime/net6-legacy/exports-legacy.ts
  src/mono/wasm/runtime/net6-legacy/imports.ts
  src/mono/wasm/runtime/net6-legacy/js-to-cs.ts
  src/mono/wasm/runtime/net6-legacy/method-binding.ts
  src/mono/wasm/runtime/net6-legacy/method-calls.ts
  src/mono/wasm/runtime/roots.ts
  src/mono/wasm/runtime/run.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/strings.ts
  src/mono/wasm/runtime/types.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#73364 port SpanHelpers.IndexOf(ref byte, byte, int) to Vector128/256
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
Labels: area-System.Memory, tenet-performance

#73366 [wasm] fix types, tests and samples
  src/mono/sample/wasm/browser-eventpipe/main.js
  src/mono/sample/wasm/browser-profile/main.js
  src/mono/sample/wasm/console-node-ts/main.ts
  src/mono/sample/wasm/console-node-ts/tsconfig.json
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/exports.ts
  src/tests/FunctionalTests/WebAssembly/Browser/HotReload/main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#73134 Optimize Enumerable.Chunk
  src/libraries/System.Linq/src/System/Linq/Chunk.cs
Labels: area-System.Linq, community-contribution

#72572 [LoongArch64] Fix the wrong GCInfo when testing GCStress.
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/instrsloongarch64.h
  src/coreclr/jit/jit.h
  src/coreclr/jit/lsraloongarch64.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#72000 Socket: cancel on-going operations when Sockets with non-owning handle gets disposed.
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/CreateSocketTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/InlineCompletions.Unix.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceive.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets, community-contribution

#72394 [Android] Introduce NetTraceToMibcConverter task & streamline testing targets
  Directory.Build.props
  eng/Subsets.props
  eng/testing/tests.android.targets
  eng/testing/tests.mobile.targets
  src/mono/msbuild/android/build/AndroidApp.InTree.props
  src/mono/msbuild/android/build/AndroidApp.InTree.targets
  src/mono/msbuild/android/build/AndroidApp.props
  src/mono/msbuild/android/build/AndroidApp.targets
  src/mono/msbuild/apple/build/AppleApp.targets
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Sdk/MonoTargetsTasks.props.in
  src/tasks/AndroidAppBuilder/AndroidAppBuilder.cs
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/AndroidAppBuilder/Templates/monodroid.c
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/AotCompilerTask/MonoAOTCompiler.csproj
  src/tasks/Common/CompilerCache.cs
  src/tasks/Common/FileCache.cs
  src/tasks/Common/ProxyFile.cs
  src/tasks/MonoTargetsTasks/MonoTargetsTasks.csproj
  src/tasks/MonoTargetsTasks/NetTraceToMibcConverterTask/NetTraceToMibcConverter.cs
Labels: area-Infrastructure-mono

#73056 Add support for X509ChainPolicy for QUIC
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.SslConnectionOptions.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
Labels: area-System.Net

#73317 enable Quic tests on Alpine
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-System.Net.Quic

#73301 [mono][aot] Emit struct-to-ptr and ptr-to-struct wrappers for generic…
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#73372 Disable failing tests when aggressive trimming is enabled
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs
Labels: arch-wasm, area-System.Text.Json

#73032 Enable inlining P/Invokes into try blocks with no catch or filter clauses
  src/coreclr/inc/corinfo.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/i386/excepx86.cpp
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInterop.cs
Labels: area-ExceptionHandling-coreclr

#73393 [docs] Debugging Libraries tests on Mono using VS Code
  docs/workflow/debugging/libraries/debugging-vscode.md
  docs/workflow/testing/mono/testing.md
Labels: documentation, area-Build-mono

#73383 Delete NGen flavor of JIT configs
  docs/coding-guidelines/clr-jit-coding-conventions.md
  docs/workflow/debugging/coreclr/debugging-aot-compilers.md
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#73381 run CET pipeline on a schedule.
  eng/pipelines/runtime-cet.yml
Labels: area-Infrastructure-libraries

#72056 Add TieredPGO and ReadyToRun to Microsoft-Windows-DotNETRuntime/TieredCompilation/Settings event
  src/coreclr/vm/ClrEtwAll.man
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/readytoruninfo.h
Labels: area-VM-coreclr

#73369 Fix performance regression introduced in object deserialization
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
Labels: area-System.Text.Json, tenet-performance

#73259 Fix InvalidCastException when casting a polymorphic converter
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/CastingConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonCollectionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonDictionaryConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.Polymorphic.cs
Labels: area-System.Text.Json

#73395 Fail JsonTypeInfo.CreateObject setting when not supported by converter.
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/CastingConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ArrayConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IAsyncEnumerableOfTConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableOfTConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IReadOnlyDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableEnumerableOfTConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonCollectionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonDictionaryConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/FSharp/FSharpListConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/FSharp/FSharpMapConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/FSharp/FSharpSetConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonMetadataServicesConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/SourceGenJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
Labels: area-System.Text.Json

#73196 increase timeout on ZeroByteRead_IssuesZeroByteReadOnUnderlyingStream test
  src/libraries/System.Net.Http/tests/FunctionalTests/ResponseStreamZeroByteReadTests.cs
Labels: area-System.Net.Http

#73341 Fix missing case for function pointer signatures in Crossgen2
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureBuilder.cs
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#73385 Add initial riscv64 port
  eng/build.sh
  eng/native/build-commons.sh
  eng/native/configurecompiler.cmake
  eng/native/configureplatform.cmake
  eng/native/functions.cmake
  eng/native/init-os-and-arch.sh
  eng/native/tryrun.cmake
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/arch/riscv64/activationhandlerwrapper.S
  src/coreclr/pal/src/arch/riscv64/asmconstants.h
  src/coreclr/pal/src/arch/riscv64/callsignalhandlerwrapper.S
  src/coreclr/pal/src/arch/riscv64/context.S
  src/coreclr/pal/src/arch/riscv64/context2.S
  src/coreclr/pal/src/arch/riscv64/debugbreak.S
  src/coreclr/pal/src/arch/riscv64/dispatchexceptionwrapper.S
  src/coreclr/pal/src/arch/riscv64/exceptionhelper.S
  src/coreclr/pal/src/arch/riscv64/processor.cpp
  src/coreclr/pal/src/arch/riscv64/signalhandlerhelper.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/RuntimeInformation.cs
  src/mono/CMakeLists.txt
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-riscv.h
  src/mono/mono/mini/tramp-riscv.c
  src/mono/mono/utils/CMakeLists.txt
  src/native/corehost/bundle/reader.h
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/utils.cpp
  src/native/external/libunwind.cmake
  src/native/external/libunwind_extras/CMakeLists.txt
  src/native/libs/System.Native/pal_runtimeinformation.c
  src/tests/Common/scripts/bringup_runtest.sh
  src/tests/Common/scripts/run-libraries-tests.bat
  src/tests/Common/scripts/run-libraries-tests.sh
  src/tests/run.sh
Labels: area-Infrastructure, community-contribution

#73274 Expose the IBinaryInteger<T>.ReadBig/LittleEndian APIs
  src/libraries/Common/tests/System/GenericMathHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/Reader.cs
  src/libraries/System.Private.CoreLib/src/System/Byte.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Private.CoreLib/src/System/Int16.cs
  src/libraries/System.Private.CoreLib/src/System/Int32.cs
  src/libraries/System.Private.CoreLib/src/System/Int64.cs
  src/libraries/System.Private.CoreLib/src/System/IntPtr.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IBinaryInteger.cs
  src/libraries/System.Private.CoreLib/src/System/SByte.cs
  src/libraries/System.Private.CoreLib/src/System/UInt128.cs
  src/libraries/System.Private.CoreLib/src/System/UInt16.cs
  src/libraries/System.Private.CoreLib/src/System/UInt32.cs
  src/libraries/System.Private.CoreLib/src/System/UInt64.cs
  src/libraries/System.Private.CoreLib/src/System/UIntPtr.cs
  src/libraries/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime/System.Runtime.sln
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/ByteTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/CharTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/Int128Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/Int16Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/Int32Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/Int64Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/IntPtrTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/SByteTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UInt128Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UInt16Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UInt32Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UInt64Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UIntPtrTests.GenericMath.cs
Labels: area-System.Numerics, new-api-needs-documentation

#73397 Make Ibc support opt-in instead of enabled by default
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ProfileDataManager.cs
  src/coreclr/tools/aot/crossgen2/CommandLineOptions.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
Labels: area-Single-File

#73362 Guard Kerberos test with RemoteExecutor.IsSupported
  src/libraries/Common/tests/System/Net/Security/Kerberos/KerberosExecutor.cs
Labels: area-System.Net.Security, community-contribution

#72814 Allow trimming away `ScopedRefAttribute`.
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
Labels: linkable-framework, community-contribution

#73283 [NativeAot] Start running 8 more libs tests
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Extensions/NonPortable/CustomAttributeInheritanceRules.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ValueTypeGetFieldHelperMethodOverride.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/NoMetadataBlockingPolicy.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/Microsoft.NETCore.Platforms/tests/GenerateRuntimeGraphTests.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/SystemEvents.InvokeOnEventsThread.cs
  src/libraries/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/System.Globalization.CalendarsWithConfigSwitch.Tests.csproj
  src/libraries/System.Globalization.Calendars/tests/CalendarTestWithConfigSwitch/runtimeconfig.template.json
  src/libraries/System.Globalization/tests/NlsTests/System.Globalization.Nls.Tests.csproj
  src/libraries/System.Globalization/tests/NlsTests/runtimeconfig.template.json
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpConnectionKeyTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/default.rd.xml
  src/libraries/System.Reflection.TypeExtensions/tests/FieldInfoTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/MetadataTokenTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/MethodBaseTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/ModuleTests.cs
  src/libraries/System.Reflection.TypeExtensions/tests/PropertyInfoTests.cs
  src/libraries/System.Threading.RateLimiting/tests/Infrastructure/Utils.cs
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#73363 [NativeAot] Bring up a dozen or so libraries tests
  eng/testing/tests.singlefile.targets
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EmbeddedTrimmingDescriptorNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectableFieldNode.cs
  src/libraries/Microsoft.Extensions.DependencyModel/tests/DependencyContextLoaderTests.cs
  src/libraries/Microsoft.Extensions.FileSystemGlobbing/tests/Microsoft.Extensions.FileSystemGlobbing.Tests.csproj
  src/libraries/Microsoft.Extensions.FileSystemGlobbing/tests/default.rd.xml
  src/libraries/Microsoft.Extensions.HostFactoryResolver/tests/HostFactoryResolverTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostBuilderTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/Internal/HostTests.cs
  src/libraries/Microsoft.Extensions.Logging/tests/Common/LoggerFactoryExtensionsTest.cs
  src/libraries/Microsoft.Extensions.Logging/tests/Common/LoggerTest.cs
  src/libraries/System.Reflection.Context/tests/CustomAssemblyTests.cs
  src/libraries/System.Reflection.Context/tests/CustomReflectionContextTests.cs
  src/libraries/System.Resources.Extensions/tests/BinaryResourceWriterUnitTest.cs
  src/libraries/System.Resources.ResourceManager/tests/ResourceManagerTests.cs
  src/libraries/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/libraries/System.Security.Cryptography.Cng/tests/default.rd.xml
  src/libraries/System.Security.Cryptography.X509Certificates/tests/CollectionTests.cs
  src/libraries/System.Security.Cryptography/tests/CryptoConfigTests.cs
  src/libraries/System.Security.Cryptography/tests/PKCS1MaskGenerationMethodTest.cs
  src/libraries/System.Security.Cryptography/tests/SignatureDescriptionTests.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/default.rd.xml
  src/libraries/System.Security.Permissions/tests/System.Security.Permissions.Tests.csproj
  src/libraries/System.Security.Permissions/tests/default.rd.xml
  src/libraries/System.Threading.Channels/tests/ChannelTestBase.cs
  src/libraries/System.Threading.Channels/tests/DebugAttributeTests.cs
  src/libraries/System.Threading.Channels/tests/UnboundedChannelTests.cs
  src/libraries/System.Threading.Overlapped/tests/OverlappedTests.cs
  src/libraries/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_AllocateNativeOverlappedTests.cs
  src/libraries/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_PreAllocatedOverlappedTests.cs
  src/libraries/tests.proj
Labels: area-Meta

#73423 Wasm.Build.Tests: re-enable building with latest sdk
  eng/Versions.props
Labels: arch-wasm, test-enhancement, area-Build-mono

#73338 Implement thread-local caching for Utf8JsonWriter in JsonSerializer.
  src/libraries/Common/src/System/Text/Json/PooledByteBufferWriter.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Document.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Element.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Node.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriterCache.cs
Labels: area-System.Text.Json, tenet-performance

#73427 MonoAOTCompiler.cs: fix regression in caching, which breaks incremental
  src/tasks/Common/FileCache.cs
Labels: area-Build-mono

#73443 Replace BUILDING_INBOX_LIBRARY conditional with NETCOREAPP
  src/libraries/Common/src/System/Text/Json/PooledByteBufferWriter.cs
  src/libraries/System.Text.Json/Common/JsonCamelCaseNamingPolicy.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableConverterFactoryHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/CharConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/VersionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadBufferState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonTestHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.Dynamic.Sample.Tests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Value.ReadTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#73446 Disable System.Net.Quic.Tests.QuicStreamConformanceTests.Parallel_ReadWriteMultipleStreamsConcurrently
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
Labels: area-System.Net.Quic

#73378 Skip Manual_CertificateOnlySentWhenValid_Success for WinHttpHandler
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ClientCertificates.cs
Labels: area-System.Net.Http

#73105 `runtime-wasm-perf`: add support for running against forks, and branches
  eng/pipelines/coreclr/perf-wasm-jobs.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/runtime-wasm-perf.yml
  eng/testing/performance/microbenchmarks.proj
  eng/testing/performance/performance-setup.sh
Labels: arch-wasm, tenet-performance, area-Infrastructure-mono

#73296 Documenting providing websocket upgrade response
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
Labels: documentation, area-System.Net

#73439 Fixes for Overlapped tests
  src/libraries/System.Threading.Overlapped/tests/OverlappedTests.cs
  src/libraries/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_AllocateNativeOverlappedTests.cs
  src/libraries/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_PreAllocatedOverlappedTests.cs
Labels: area-System.Threading

#73368 port SpanHelpers.IndexOf(ref char, char, int) to Vector128/256
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Char.cs
Labels: area-System.Memory, tenet-performance

#73384 port SpanHelpers.IndexOfAny(ref byte, byte, byte, int) to Vector128/256
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
Labels: area-System.Memory

#73320 Vectorize Convert.ToBase64CharArray and TryToBase64Chars
  src/libraries/System.Private.CoreLib/src/System/Convert.cs
  src/libraries/System.Runtime.Extensions/tests/System/Convert.cs
Labels: area-System.Runtime, tenet-performance

#73171 [PERF][MAUI] Update global.json default and Version of dotnet used to test net7 Maui
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net6.yml
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net7.yml
  src/tests/Common/maui/rollbackfile-net7.json
Labels: area-Infrastructure-coreclr

#73451 JIT: Ensure correct alignment of CILJit singleton
  src/coreclr/jit/ee_il_dll.cpp
Labels: area-CodeGen-coreclr

#73222 Fix sending end stream in http2 web socket stream
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.WebSockets.Client/tests/ConnectTest.Http2.cs
  src/libraries/System.Net.WebSockets.Client/tests/SendReceiveTest.Http2.cs
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
Labels: bug, area-System.Net.Http

#73404 Add missing const qualifier to hosting API implementation
  src/native/corehost/hostpolicy/hostpolicy.cpp
  src/native/corehost/hostpolicy/hostpolicy_init.cpp
  src/native/corehost/hostpolicy/hostpolicy_init.h
Labels: area-Host

#73335 Do not throw ObjectDisposeException from Socket.EndXyz methods
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Accept.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisposedSocketTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceive.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs
Labels: area-System.Net.Sockets

#73186 Provide a code-fix to add missing stateful marshaller shape methods
  eng/Versions.props
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/CustomMarshallerAttributeAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/CustomMarshallerAttributeFixer.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTest.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulValueShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessValueShapeValidation.cs
Labels: area-System.Runtime.InteropServices, source-generator
