Repository dotnet/runtime, pull requests merged in 2022-09, with the labels that each got.

#74885 Revert change in StringBuilder.Append(char)
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
Labels: area-CodeGen-coreclr

#74829 Add host trace message to indicate runtimeconfig was not found
  src/installer/tests/HostActivation.Tests/StandaloneAppActivation.cs
  src/native/corehost/runtime_config.cpp
Labels: area-Host

#74601 CI: Reduce the unrelated jobs running on wasm only PRs
  eng/pipelines/common/evaluate-changed-paths.yml
  eng/pipelines/common/evaluate-default-paths.yml
  eng/pipelines/common/evaluate-paths-job.yml
  eng/pipelines/common/templates/wasm-build-only.yml
  eng/pipelines/common/templates/wasm-build-tests.yml
  eng/pipelines/common/templates/wasm-debugger-tests.yml
  eng/pipelines/common/templates/wasm-library-tests.yml
  eng/pipelines/common/templates/wasm-runtime-tests.yml
  eng/pipelines/global-build.yml
  eng/pipelines/runtime-community.yml
  eng/pipelines/runtime-extra-platforms-other.yml
  eng/pipelines/runtime-linker-tests.yml
  eng/pipelines/runtime-llvm.yml
  eng/pipelines/runtime-staging.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#74441 [wasm] JS interop without JS code gen - CSP friendly
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportExportTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.mjs
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/invoke-cs.ts
  src/mono/wasm/runtime/invoke-js.ts
  src/mono/wasm/runtime/marshal-to-cs.ts
  src/mono/wasm/runtime/marshal-to-js.ts
  src/mono/wasm/runtime/marshal.ts
  src/mono/wasm/runtime/net6-legacy/corebindings.ts
  src/mono/wasm/runtime/types.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#74897 Disable copying ProjectReferences in generator projects
  eng/references.targets
Labels: area-Infrastructure-libraries

#74872 [wasm] Speedup Vector128.Shuffle with SIMD
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#74904 Update public pool names
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/libraries/enterprise/linux.yml
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
Labels: area-Infrastructure-libraries

#74749 Unload MsQuic after checking for QUIC support to free resources.
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
Labels: area-System.Net.Http

#74888 [NativeAOT] Save full ARM64 SIMD arg registers in UniversalTransition
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/UniversalTransitionHelpers.cpp
  src/coreclr/nativeaot/Runtime/arm64/UniversalTransition.S
  src/coreclr/nativeaot/Runtime/arm64/UniversalTransition.asm
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosarm64.inc
Labels: area-NativeAOT-coreclr

#74459 [Android][libs] Introduce GetLocalUtcOffset temporary fast result
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.Android.cs
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.NonAndroid.cs
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.Android.cs
  src/tasks/AndroidAppBuilder/Templates/MonoRunner.java
  src/tasks/AndroidAppBuilder/Templates/monodroid.c
Labels: area-System.Runtime, os-android

#74665 Mark certain compiler-created locals as aliased
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclvars.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_74635/Runtime_74635.il
  src/tests/JIT/Regression/JitBlue/Runtime_74635/Runtime_74635.ilproj
  src/tests/issues.targets
Labels: area-CodeGen-coreclr, community-contribution

#74954 Update CompatibilitySuppressions.xml after sorting
  src/libraries/System.Configuration.ConfigurationManager/src/CompatibilitySuppressions.xml
  src/libraries/System.Data.Odbc/src/CompatibilitySuppressions.xml
  src/libraries/System.Diagnostics.DiagnosticSource/src/CompatibilitySuppressions.xml
  src/libraries/System.Drawing.Common/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Cryptography.Pkcs/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Permissions/src/CompatibilitySuppressions.xml
  src/libraries/System.ServiceModel.Syndication/src/CompatibilitySuppressions.xml
  src/libraries/System.ServiceProcess.ServiceController/src/CompatibilitySuppressions.xml
  src/libraries/System.Speech/src/CompatibilitySuppressions.xml
  src/libraries/System.Windows.Extensions/src/CompatibilitySuppressions.xml
Labels: area-Infrastructure-libraries

#74847 Fix buffer overruns in GC code
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/windows/gcenv.windows.cpp
Labels: area-GC-coreclr

#74845 Change some exception types thrown in Tar APIs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/GnuTarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/PaxTarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/SeekableSubReadStream.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/SubReadStream.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarFile.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Read.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHelpers.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarReader.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.Unix.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.Windows.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/UstarTarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/V7TarEntry.cs
  src/libraries/System.Formats.Tar/tests/System.Formats.Tar.Tests.csproj
  src/libraries/System.Formats.Tar/tests/TarEntry/GnuTarEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/PaxTarEntry.Conversion.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/PaxTarEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/TarEntry.Conversion.Tests.Base.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/UstarTarEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/V7TarEntry.Conversion.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/V7TarEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.CreateFromDirectory.Stream.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.CreateFromDirectoryAsync.Stream.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.ExtractToDirectory.Stream.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.ExtractToDirectoryAsync.Stream.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.File.Async.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.File.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.GetNextEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.GetNextEntryAsync.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarTestsBase.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Tests.cs
Labels: area-System.IO

#74892 Disallow TarWriter from writing link entries without LinkName set
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Write.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Entry.Gnu.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Entry.Pax.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Entry.Ustar.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Entry.V7.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Entry.Gnu.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Entry.Pax.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Entry.Ustar.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Entry.V7.Tests.cs
Labels: area-System.IO

#74903 Fix testhost build with different libraries and host configurations
  Directory.Build.props
  eng/Subsets.props
  eng/build.ps1
  eng/build.sh
Labels: area-Host

#74932 Ensure that the SSE fallback for Vector3.Dot masks off the unused element of op1 and op2
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#74984 Revert "Unload MsQuic after checking for QUIC support to free resources. (#74749)"
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
Labels: area-System.Net

#74796 [mono][jit] Zero extend the return when we might be invoking llvm generated code
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#74957 Avoid a crash when the debugger code fails to lookup the signature
  src/mono/mono/component/debugger-agent.c
Labels: area-Debugger-mono, community-contribution

#74147 Don't try to build PGO tools on platforms with no CoreCLR port.
  eng/Subsets.props
Labels: area-Infrastructure-coreclr, arch-s390x, arch-ppc64le

#74855 Fix GetTempFileName() on Windows
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.GetTempFileNameW.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/Enumeration/FileSystemEnumerableFactory.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Path.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Path.Windows.cs
  src/libraries/System.Runtime.Extensions/tests/System/IO/PathTests.cs
Labels: area-System.IO

#74875 Fix inclusion for tests/run.sh (#74866)
  src/tests/run.sh
Labels: area-Infrastructure-coreclr, community-contribution

#74943 Ensure Microsoft.Interop.SourceGeneration ships
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Microsoft.Interop.SourceGeneration.csproj
Labels: area-System.Runtime.InteropServices

#74942 [release/7.0] Only attempt to use ESRP connection in approved branches
  eng/pipelines/coreclr/templates/sign-diagnostic-files.yml
Labels: area-Infrastructure-coreclr

#74360 [RateLimiting] Handle Timer jitter
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiterOptions.cs
  src/libraries/System.Threading.RateLimiting/tests/FixedWindowRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/SlidingWindowRateLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/TokenBucketRateLimiterTests.cs
Labels: area-System.Threading

#74789 Add WaitAsync functionality to Background Service
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/BackgroundService.cs
Labels: area-Extensions-Hosting

#74978 JIT: assign plausible loop number to new throw helper blocks
  src/coreclr/jit/fgbasic.cpp
Labels: area-CodeGen-coreclr

#74853 [ARM64] - `IsValidCompareChain` should return `false` if both operands are not integral types
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#74473 Throw on incompatible WebSocket options
  src/libraries/System.Net.WebSockets.Client/src/Resources/Strings.resx
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/libraries/System.Net.WebSockets.Client/tests/AbortTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/CancelTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketTestBase.cs
  src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/ConnectTest.Http2.cs
  src/libraries/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/DeflateTests.cs
  src/libraries/System.Net.WebSockets.Client/tests/SendReceiveTest.Http2.cs
  src/libraries/System.Net.WebSockets.Client/tests/SendReceiveTest.cs
Labels: area-System.Net

#74998 Fix argument validation in RuntimeType.InvokeMember
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.Reflection/tests/DefaultBinderTests.cs
Labels: area-System.Reflection

#75017 Add support so that SDK6 will continue to get the latest ILC packages
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.SingleEntry.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.targets
Labels: area-NativeAOT-coreclr

#74030 Do not retype small locals in `FIELD_LIST`s on x86
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_73951/Runtime_73951.cs
  src/tests/JIT/Regression/JitBlue/Runtime_73951/Runtime_73951.csproj
Labels: area-CodeGen-coreclr, community-contribution

#74807 Fix `fgNoStructParamPromotion`
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lclvars.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_74774/Runtime_74774.cs
  src/tests/JIT/Regression/JitBlue/Runtime_74774/Runtime_74774.csproj
Labels: area-CodeGen-coreclr, community-contribution

#75043 Simplify NativeAOT warning message
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.SingleEntry.targets
Labels: area-NativeAOT-coreclr

#74777 Preference sources of copy-like casts to destinations
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#75001 JIT: Mark an F# test as GC stress incompatible
  src/tests/JIT/Regression/JitBlue/Runtime_72845/Runtime_72845.fsproj
Labels: area-CodeGen-coreclr

#74430 JIT: Simplify JitDisasm matching behavior
  docs/design/coreclr/jit/viewing-jit-dumps.md
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/eeinterface.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfig.cpp
  src/coreclr/jit/jitconfig.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
Labels: area-CodeGen-coreclr

#74995 Remove unnecessary LoaderHeap asserts
  src/coreclr/inc/loaderheap.h
  src/coreclr/utilcode/loaderheap.cpp
Labels: area-VM-coreclr

#74994 System.Net.Requests: Pick correct RemoteExecutor overload in test
  src/libraries/System.Net.Requests/tests/AssemblyInfo.cs
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
Labels: area-System.Net

#74989 Fix SharedLibrary smoke test build on osx-arm64
  src/coreclr/nativeaot/Runtime/arm64/InteropThunksHelpers.S
Labels: community-contribution, area-NativeAOT-coreclr

#74982 Use ConfigureAwait(false)
  src/coreclr/tools/Common/Sorting/MergeSortCore.cs
Labels: area-crossgen2-coreclr

#74945 Add missing documentation to System.Net.Quic and System.Net.WebSockets
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpRequestHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.Stream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
Labels: area-System.Net

#74863 Add nullability annotation on CacheControlHeaderValue
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/CacheControlHeaderValue.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/CacheControlHeaderValueTest.cs
Labels: area-System.Net.Http, community-contribution

#75010 [mono] Enable a bunch of System.Net tests on Windows
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/System.Net.Http.WinHttpHandler.Functional.Tests.csproj
  src/libraries/System.Net.Mail/tests/Functional/AssemblyInfo.cs
  src/libraries/System.Net.Mail/tests/Functional/System.Net.Mail.Functional.Tests.csproj
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/IPGlobalPropertiesTest.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
  src/libraries/System.Net.Requests/tests/AssemblyInfo.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Net.WebClient/tests/AssemblyInfo.cs
  src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
  src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/DeflateTests.cs
  src/libraries/System.Net.WebSockets/tests/WebSocketCreateTest.cs
Labels: area-System.Net

#75025 Avoid allocations in ClientWebSocket.ConnectAsync in the common case
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
Labels: area-System.Net

#74275 Use the register of CAST for contained index operator
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_74117/Runtime_74117.cs
  src/tests/JIT/Regression/JitBlue/Runtime_74117/Runtime_74117.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_74373/Runtime_74373.cs
  src/tests/JIT/Regression/JitBlue/Runtime_74373/Runtime_74373.csproj
Labels: area-CodeGen-coreclr

#75083 Remove duplicate SourceGeneration generator refs
  src/libraries/System.Console/src/System.Console.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
Labels: area-Infrastructure-libraries

#75026 Fix NCL stress tests after ProductVersion upgrade
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Directory.Build.props
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/build-local.ps1
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/build-local.sh
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/windows.Dockerfile
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Build-Local.ps1
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Directory.Build.props
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Dockerfile
  src/libraries/System.Net.Security/tests/StressTests/SslStress/build-local.sh
  src/libraries/System.Net.Security/tests/StressTests/SslStress/windows.Dockerfile
Labels: area-System.Net

#75045 Fix W^X flag for setting `ITypeInfo`
  src/coreclr/vm/comcallablewrapper.cpp
Labels: area-Interop-coreclr

#75081 Fix typo in gentree.cpp
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#75029 Fix undefined behavior issues in aarch64
  src/native/external/libunwind-version.txt
  src/native/external/libunwind/src/aarch64/Ginit.c
Labels: area-Infrastructure-coreclr, community-contribution

#74999 JIT: Disable TYP_BLK stressing for tail call to loop optimization
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#75085 Enable DOTNET_JitStdOutFile in Release
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/host.h
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#75007 [wasm] CI: Trigger wasm jobs on some specific libraries
  eng/pipelines/common/evaluate-default-paths.yml
  eng/pipelines/common/templates/wasm-build-only.yml
  eng/pipelines/common/templates/wasm-library-tests.yml
  eng/pipelines/runtime.yml
Labels: arch-wasm, area-Infrastructure-mono

#73233 Consolidate importer spilling code V3
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_72133/Runtime_72133.il
  src/tests/JIT/Regression/JitBlue/Runtime_72133/Runtime_72133.ilproj
Labels: area-CodeGen-coreclr, community-contribution

#73120 Improve morphing of bit comparisons to constant 0/1
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#74639 [Mono] Fix Mono Windows x86 build and runtime crash.
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/mono/mono/component/debugger-agent.c
Labels: area-System.Runtime.Intrinsics, runtime-mono

#75122 [wasm] move the legacy interop tests to new location
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/Directory.Build.props
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/System.Private.Runtime.InteropServices.JavaScript.sln
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/ArrayTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/DataViewTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/DelegateTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/HelperMarshal.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/Http/HttpRequestMessageTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/MarshalTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/MemoryTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/ParallelTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/TimerTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/TypedArrayTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/timers.mjs
  src/libraries/tests.proj
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/test-main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#75092 [wasm] fix prefetch in samples
  src/mono/sample/mbr/browser/index.html
  src/mono/sample/wasm/browser-advanced/index.html
  src/mono/sample/wasm/browser-bench/appstart-frame.html
  src/mono/sample/wasm/browser-bench/index.html
  src/mono/sample/wasm/browser-eventpipe/index.html
  src/mono/sample/wasm/browser-profile/index.html
  src/mono/sample/wasm/browser-threads/index.html
  src/mono/sample/wasm/browser-webpack/index.html
  src/mono/sample/wasm/browser/index.html
  src/mono/wasm/templates/templates/browser/index.html
  src/tests/FunctionalTests/WebAssembly/Browser/HotReload/index.html
  src/tests/FunctionalTests/WebAssembly/Browser/RuntimeConfig/index.html
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#74669 [QUIC] Fix native crashes and heap corruption via "generated-like" interop
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.NativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicConfiguration.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicSafeHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
Labels: area-System.Net.Quic

#74695 improve handling of TLS certificates on Linux
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/Common/src/System/Net/Security/Unix/SafeFreeCertContext.cs
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Unix.cs
Labels: area-System.Net.Security, os-linux

#75058 Update Roslyn compiler build
  eng/Versions.props
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/Platform.cs
  src/libraries/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/libraries/System.Runtime/tests/System/Attributes.cs
Labels: area-Infrastructure

#74986 Make the JsonSerializerOptions.MemberAccessorStrategy property static.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableDictionaryOfTKeyTValueConverterWithReflection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableEnumerableOfTConverterWithReflection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/StackOrQueueConverterWithReflection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.Large.Reflection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.Small.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
Labels: area-System.Text.Json

#74831 add ability to set GCName via runtimeconfig.
  src/coreclr/gc/gcconfig.h
  src/coreclr/vm/gcheaputilities.cpp
Labels: area-VM-coreclr

#75027 [Perf][Maui] Quick fix for current Maui net6.0 runs.
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net6.yml
Labels: area-Infrastructure-coreclr, perf-pipeline

#74544 use msquic bits on all Windows platforms
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
Labels: area-System.Net.Quic

#75149 Disable MaxResponseHeadersLength_Http3 test
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Quic

#75136 Avoid temporary byte[] allocation in Pkcs' HeapBlockRetainer.AllocAsciiString
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/HeapBlockRetainer.cs
Labels: area-System.Security

#75101 Add a few missing char.IsXx helpers usage to RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#75028 [release/7.0][wasm] Use the correct runtime pack version when the workload is not installed
  eng/testing/workloads-testing.targets
  src/libraries/sendtohelix-wasm.targets
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net6.Manifest/WorkloadManifest.targets.in
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest/WorkloadManifest.targets.in
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BlazorWasmBuildPublishTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildEnvironment.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildTestBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/EnvironmentVariables.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/Blazor.Directory.Build.targets
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/nuget7.config
Labels: arch-wasm, area-Build-mono

#75032 Update docs for renamed type parameters
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
Labels: area-System.Runtime.Intrinsics

#75146 Update branding to 6.0.10
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
  src/libraries/System.Configuration.ConfigurationManager/src/System.Configuration.ConfigurationManager.csproj
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-Infrastructure-libraries

#75165 Support multiple processor groups for NativeAOT
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/gcload.cpp
  src/coreclr/gc/windows/gcenv.windows.cpp
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
Labels: os-windows, area-NativeAOT-coreclr

#75099 Fix race condition in DacEnumerableHashTable::BaseFindNextEntryByHash
  src/coreclr/vm/dacenumerablehash.inl
Labels: area-VM-coreclr

#74953 Encode UserName value in UriBuilder (Issue #74662)
  src/libraries/System.Private.Uri/src/System/UriBuilder.cs
  src/libraries/System.Private.Uri/tests/FunctionalTests/UriBuilderTests.cs
Labels: area-System.Net, community-contribution

#74634 Swallow ObjectDisposedException when aborting QuicStream from CancellationAction
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
Labels: area-System.Net.Quic

#75057 [mono][wasm] Make OP_WASM_SIMD_SWIZZLE use the shufflevector LLVM ins…
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#74744 [SocketException]: New Constructor with string? for SocketException
  src/libraries/Common/src/System/Net/Internals/SocketExceptionFactory.Unix.cs
  src/libraries/Common/src/System/Net/Internals/SocketExceptionFactory.Windows.cs
  src/libraries/Common/src/System/Net/Internals/SocketExceptionFactory.cs
  src/libraries/Common/src/System/Net/Sockets/SocketExceptionFactory.Unix.cs
  src/libraries/Common/src/System/Net/Sockets/SocketExceptionFactory.Windows.cs
  src/libraries/Common/src/System/Net/Sockets/SocketExceptionFactory.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System/Net/SocketException.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/SocketExceptionTest.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Connect.cs
Labels: area-System.Net, new-api-needs-documentation

#75162 [wasm-mt] Fix pack/build issues in threaded builds
  eng/liveBuilds.targets
  src/libraries/System.Diagnostics.Tracing/src/System.Diagnostics.Tracing.csproj
  src/libraries/System.Private.CoreLib/ref/System.Private.CoreLib.csproj
  src/libraries/System.Threading.Thread/src/System.Threading.Thread.csproj
  src/libraries/System.Threading.ThreadPool/src/System.Threading.ThreadPool.csproj
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets.in
  src/mono/wasm/templates/templates/browser/.template.config/template.json
  src/mono/wasm/templates/templates/console/.template.config/template.json
Labels: area-Build-mono

#75186 [wasm] Add more vector measurements
  src/mono/sample/wasm/browser-bench/BenchTask.cs
  src/mono/sample/wasm/browser-bench/Vector.cs
Labels: area-Infrastructure-mono

#75182 [wasm] Use swizzle instruction for byte vectors
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-AOT-mono

#75189 Mark allocating function in finalizer test as NoInlining
  src/tests/Interop/ObjectiveC/ObjectiveCMarshalAPI/Program.cs
Labels: area-Interop-coreclr

#75118 [LoongArch64] amend the crossgen2 for LA64.
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
  src/coreclr/vm/loongarch64/stubs.cpp
Labels: area-crossgen2-coreclr, community-contribution

#75153 [wasm] Rename `$(WasmSIMD)`, and `$(WasmExceptionHandling)` to `$(WasmEnable*)`
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets.in
  src/mono/wasm/Wasm.Build.Tests/BlazorWasmBuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/EnvironmentVariables.cs
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/WasmSIMDTests.cs
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Build-mono

#75042 [release/7.0][wasm] SIMD related build fixes
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest/WorkloadManifest.targets.in
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildTestBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmSIMDTests.cs
Labels: arch-wasm, area-Build-mono

#75143 Fix issue with pip install on Alpine
  eng/pipelines/coreclr/templates/run-performance-job.yml
Labels: area-Infrastructure-coreclr

#74791 Avoid gate/worker thread creation failure stall the thread pool
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.GateThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
Labels: area-System.Threading

#75161 Implement TryExportEncryptedPkcs8PrivateKeyPem with byte passwords
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/PemKeyHelpers.cs
  src/libraries/System.Security.Cryptography/tests/AsymmetricAlgorithmTests.cs
Labels: area-System.Security, new-api-needs-documentation

#75141 Disable the GetTotalPauseDuration test
  src/tests/issues.targets
Labels: area-GC-coreclr

#75145 [release/7.0] Use the register of CAST for contained index operator
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_74117/Runtime_74117.cs
  src/tests/JIT/Regression/JitBlue/Runtime_74117/Runtime_74117.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_74373/Runtime_74373.cs
  src/tests/JIT/Regression/JitBlue/Runtime_74373/Runtime_74373.csproj
Labels: area-CodeGen-coreclr

#74961 Enable SuperPMI collection of CoreCLR test run
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/send-to-helix-step.yml
  eng/pipelines/common/upload-artifact-step.yml
  eng/pipelines/coreclr/superpmi-collect.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/coreclr/templates/run-superpmi-collect-job.yml
  src/coreclr/scripts/superpmi-collect.proj
  src/coreclr/scripts/superpmi.py
  src/coreclr/scripts/superpmi_collect_setup.py
  src/coreclr/tools/superpmi/mcs/commandline.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Common/CLRTest.Jit.targets
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-CodeGen-coreclr

#75135 Use IndexOf{Any} in a few more places in System.Reflection.Metadata
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/MemoryBlock.cs
Labels: area-System.Reflection.Metadata

#73986 Backport crossgen2 fix for musl-libc
  Directory.Build.props
Labels: area-Infrastructure, community-contribution

#74188 [release/6.0] App does not Run as a service in a Windows Container
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/Microsoft.Extensions.Hosting.WindowsServices.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceHelpers.cs
Labels: Servicing-approved, area-Extensions-Hosting

#74351 [release/6.0][mono][jit] Don't memset memory in increments lower than word size
  src/mono/System.Private.CoreLib/src/System/String.Mono.cs
Labels: Servicing-approved, area-CoreLib-mono

#74383 [release/6.0] Add Fedora 38 RID
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Infrastructure-libraries, community-contribution

#75211 Remove SuperPMI collection of PMI of coreclr tests
  eng/pipelines/coreclr/superpmi-collect.yml
Labels: area-Infrastructure-coreclr

#74836 [release/6.0][wasm][debugger] Ignoring all protocol extension messages that are not supported on .net6
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: Servicing-approved, area-Debugger-mono

#74879 Stage spmi aspnet collection through the repo artifacts dir
  src/coreclr/scripts/superpmi_aspnet.py
Labels: area-CodeGen-coreclr

#72887 Clean `impReturnInstruction` up a bit
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr, community-contribution

#74625 Make special_sweep_p a per heap member
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#74276 Do not create `ADDR(HWI/SIMD)` in the inliner
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Directed/arglist/vararg.cs
  src/tests/JIT/Directed/arglist/varargmanaged.cs
Labels: area-CodeGen-coreclr, community-contribution

#75217 dummy commit to runtime-extra-platforms.yml to kick the scheduling en…
  eng/pipelines/runtime-extra-platforms.yml
Labels: area-Infrastructure

#75197 [release/7.0] Remove wbt manifest hack
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
Labels: area-Meta, new-api-needs-documentation

#74372 Add Fedora 38 RID
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Infrastructure-libraries, community-contribution

#75216 Remove unreferenced cryptographic files
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptChainingModes.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptKeyDataBlob.cs
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.NCryptAlgorithms.cs
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.NCryptCipherKeyBlob.cs
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.NCryptPropertyNames.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanSecurityTransforms.macOS.cs
Labels: area-System.Security

#74975 Exclude segment_standby_list from regions
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#75192 [release/7.0] [QUIC] Fix native crashes and heap corruption via "generated-like" interop
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.NativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicConfiguration.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicSafeHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
Labels: area-System.Net.Http

#75241 [AArch64] amend the disassembly comment for the instruction.
  src/coreclr/vm/arm64/stubs.cpp
Labels: area-VM-coreclr, community-contribution

#75011 Simplify installer build by using step container targets
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/coreclr/templates/crossdac-pack.yml
  eng/pipelines/installer/installer-matrix.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/installer/jobs/build-job.yml
  eng/pipelines/installer/jobs/steps/build-linux-package.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  eng/pipelines/runtimelab.yml
Labels: area-Infrastructure-installer

#75196 [Android] Avoid using OffsetDateTime on APIs 25 and lower
  src/tasks/AndroidAppBuilder/Templates/MonoRunner.java
Labels: os-android, area-Build-mono

#75193 Fix WebProxy Race Condition Issue
  src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.cs
Labels: area-System.Net

#75187 [wasm] fix NodeJS build
  eng/pipelines/runtime-extra-platforms-wasm.yml
  eng/testing/WasmRunnerAOTTemplate.sh
  eng/testing/WasmRunnerTemplate.cmd
  eng/testing/WasmRunnerTemplate.sh
  eng/testing/tests.wasm.targets
  src/libraries/Common/tests/System/Net/Prerequisites/LocalEchoServer.props
  src/libraries/sendtohelix-wasm.targets
  src/mono/wasm/Wasm.Build.Tests/data/RunScriptTemplate.cmd
  src/mono/wasm/Wasm.Build.Tests/data/RunScriptTemplate.sh
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#67589 Use CLOCK_BOOTTIME to calculate BootTime on linux
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetBootTimeTicks.cs
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
  src/native/libs/System.Native/entrypoints.c
  src/native/libs/System.Native/pal_time.c
  src/native/libs/System.Native/pal_time.h
Labels: area-System.Diagnostics.Process, community-contribution

#74797 [mono][llvm] Disable simd intrinsics when we might be interoping between jit and llvmaot
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#75252 [wasm] Drop actually not exported types from dotnet.d.ts
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/export-types.ts
Labels: arch-wasm, area-Build-mono

#75240 [release/7.0] Fix tests to use valid PBE iterations
  src/libraries/System.Security.Cryptography/tests/AsymmetricAlgorithmTests.cs
Labels: area-System.Security, test-enhancement

#75238 Fix tests to use valid PBE iterations
  src/libraries/System.Security.Cryptography/tests/AsymmetricAlgorithmTests.cs
Labels: area-System.Security, test-enhancement

#73238 Remove redundant trimmer warning suppressions
  src/coreclr/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/InMemoryAssemblyLoader.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/SymbolType.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilderInstantiation.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/Assignability.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Operators.cs
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Interaction.vb
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.Data.Common/src/System/Data/DataRowExtensions.cs
  src/libraries/System.Data.Common/src/System/Data/DataTable.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/libraries/System.Linq.Expressions/src/System/Runtime/CompilerServices/CallSite.cs
  src/libraries/System.Linq.Queryable/src/System/Linq/EnumerableRewriter.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Delete.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Get.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpContentJsonExtensions.cs
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/JsonContent.cs
  src/libraries/System.Net.Http/src/ILLink/ILLink.Suppressions.Mobile.LibraryBuild.xml
  src/libraries/System.Private.CoreLib/src/System/Activator.RuntimeType.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/SignatureType.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.Core.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.cs
  src/libraries/System.Private.CoreLib/src/System/Type.Helpers.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatReaderGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/JsonFormatWriterGenerator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/PrimitiveDataContract.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Types.cs
  src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IAsyncEnumerableConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionEmitCachingMemberAccessor.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/DtcProxyShim/DtcProxyShimFactory.cs
  src/libraries/sfx.proj
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/DerivedTypes.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilderInstantiation.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimePropertyInfo.cs
Labels: area-Infrastructure-libraries, linkable-framework

#73919 JIT: Skip unnecessary binary VN folding checks
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#75274 [wasm] Disable WBT completely due to #75233, till a fix lands
  eng/pipelines/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime.yml
Labels: arch-wasm, area-Build-mono, test-failure

#75258 [release/7.0][ppc64le] Fixed thunk address 8 byte alignment issue
  src/mono/mono/mini/mini-ppc.c
  src/mono/mono/mini/mini-ppc.h
Labels: area-VM-meta-mono, community-contribution

#75266 Disable System.Net.Requests.Tests on Mono Linux arm64
  src/libraries/System.Net.Requests/tests/AssemblyInfo.cs
Labels: area-System.Net

#75124 [wasm-mt] Fix failing System.Xml tests on Browser with multi-threading enabled
  src/libraries/System.Private.Xml/tests/XmlReader/XmlResolver/XmlSystemPathResolverTests.cs
  src/libraries/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_Add_URL.cs
  src/libraries/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_XmlResolver.cs
  src/libraries/System.Private.Xml/tests/XmlSchema/XmlSchemaValidatorApi/ValidateMisc.cs
Labels: area-System.Xml

#75163 Unload MsQuic after checking for QUIC support to free resources
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
Labels: area-System.Net.Quic

#75063 Fix `Exp10M1(TSelf)` and `Round(TSelf, MidpointRounding)`
  src/libraries/System.Private.CoreLib/src/System/Numerics/IExponentialFunctions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IFloatingPoint.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Numerics/GenericMathDimHelpers.cs
  src/libraries/System.Runtime/tests/System/Numerics/IExponentialFunctionsTests.cs
  src/libraries/System.Runtime/tests/System/Numerics/IFloatingPointTests.cs
Labels: area-System.Numerics, community-contribution

#75064 [release/7.0][wasm] Add CI job for AOT+SIMD to `runtime-wasm` for PRs
  eng/pipelines/runtime-wasm-features.yml
  eng/pipelines/runtime-wasm.yml
  eng/testing/tests.wasm.targets
  src/libraries/System.Runtime.Intrinsics/tests/System.Runtime.Intrinsics.Tests.csproj
  src/libraries/System.Runtime.Intrinsics/tests/wasm.helix.targets
  src/libraries/sendtohelix-wasm.targets
  src/libraries/tests.proj
Labels: arch-wasm, area-Build-mono

#75260 [release/7.0] JIT: Simplify JitDisasm matching behavior and support namespaces/generics in release
  docs/design/coreclr/jit/viewing-jit-dumps.md
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/eeinterface.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfig.cpp
  src/coreclr/jit/jitconfig.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
Labels: area-CodeGen-coreclr

#75205 Update namespace of JsonPolymorphismOptionsTests
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonPolymorphismOptionsTests.cs
Labels: area-System.Text.Json

#74164 [release/6.0] Add Rocky Linux RIDs (#74159)
  eng/native/init-distro-rid.sh
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
  src/native/corehost/hostmisc/pal.unix.cpp
Labels: area-Infrastructure-libraries, community-contribution

#75227 JIT: fix OSR post-phase assert
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#74967 JIT: local assertion prop and redundant zeroing
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#75300 Comment fix: WebProxy volatile field comment fix
  src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.cs
Labels: area-System.Net

#75235 move ref DirectoryEntryConverter to System.DirectoryServices.Design namespace
  src/libraries/System.DirectoryServices/ref/System.DirectoryServices.manual.cs
Labels: area-System.DirectoryServices, new-api-needs-documentation

#74525 Fix RegexOptions.NonBacktracking matching end anchors at timeout check boundaries
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#74595 [release/6.0] Drop 6.0.200 workload manifests
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#75288 [mono][wasm] Fix boxing of gsharedvt nullables.
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#75298 Fix GCEvent::Wait with timeout on OSX
  src/coreclr/gc/unix/events.cpp
Labels: area-GC-coreclr

#75309 disable gcmemoryinfo on win-arm64
  src/tests/issues.targets
Labels: area-GC-coreclr

#75291 update Debian Helix images to msquic 2.1.1
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: test-enhancement, area-System.Net.Quic

#73055 try to port ASCIIUtility.WidenAsciiToUtf16 to x-plat intrinsics
  src/libraries/System.Private.CoreLib/src/System/Text/ASCIIUtility.cs
Labels: area-System.Text.Encoding

#74865 [mono] Add Vector128 SQRT intrinsics for amd64
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#75334 Do no test StartTime in GetProcessesByName test
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
Labels: area-System.Diagnostics.Process, community-contribution

#75088 [Mono] Race in init_method when using LLVM AOT.
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono, runtime-mono, area-Codegen-LLVM-mono

#73456 [mono][jit] box+callvirt optimization
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#75323 Use IndexOf in Uri.GetLocalPath
  src/libraries/System.Private.Uri/src/System/Uri.cs
Labels: area-System.Net

#75319 Use IndexOf in NamespaceCache.SynthesizeNamespaceData
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Internal/NamespaceCache.cs
Labels: area-System.Reflection.Metadata

#75303 Remove enumerator allocation when constructing RestrictedAsciiStringEncoding
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnCharacterStringEncodings.cs
Labels: area-System.Formats.Asn1

#75301 Simplify AsnDecoder.ReverseBitsPerByte
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnDecoder.NamedBitList.cs
Labels: area-System.Formats.Asn1
