Repository dotnet/runtime, pull requests merged in 2022-04, with the labels that each got.

#67409 Don't produce unnecessary default interface methods
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/tests/nativeaot/SmokeTests/DeadCodeElimination/DeadCodeElimination.cs
Labels: area-NativeAOT-coreclr

#67412 Re-baseline Pri-0 tests with NativeAOT
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#67385 Bring back direct dependencies on System.Runtime.CompilerServices.Unsafe for other tfms than net7.0
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Configuration.Json/src/Microsoft.Extensions.Configuration.Json.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Microsoft.Extensions.DependencyInjection.csproj
  src/libraries/Microsoft.Extensions.DependencyModel/src/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Logging.EventSource/src/Microsoft.Extensions.Logging.EventSource.csproj
  src/libraries/Microsoft.Extensions.Primitives/src/Microsoft.Extensions.Primitives.csproj
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Formats.Asn1/src/System.Formats.Asn1.csproj
  src/libraries/System.Formats.Cbor/src/System.Formats.Cbor.csproj
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.IO.Packaging/src/System.IO.Packaging.csproj
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
  src/libraries/System.IO.Ports/src/System.IO.Ports.csproj
  src/libraries/System.Net.Http.Json/src/System.Net.Http.Json.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Reflection.MetadataLoadContext/src/System.Reflection.MetadataLoadContext.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.ProtectedData/src/System.Security.Cryptography.ProtectedData.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
  src/libraries/System.Threading.Channels/src/System.Threading.Channels.csproj
Labels: area-Infrastructure-libraries

#66741 Use ROS<byte> instead of byte[] where it makes sense on S.S.C.Cose
  src/libraries/System.Security.Cryptography.Cose/ref/System.Security.Cryptography.Cose.cs
  src/libraries/System.Security.Cryptography.Cose/src/System.Security.Cryptography.Cose.csproj
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseHeaderLabel.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseHeaderMap.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseHelpers.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseMessage.cs
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseSign1Message.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseSign1MessageTests.Sign.CustomHeaderMaps.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseSign1MessageTests.Sign.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseSign1MessageTests.Verify.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseTestHelpers.cs
  src/libraries/System.Security.Cryptography.Cose/tests/System.Security.Cryptography.Cose.Tests.csproj
Labels: area-System.Security, new-api-needs-documentation

#67395 Optimize `ValueNumStore::GetVNFunc`
  src/coreclr/jit/gentree.h
  src/coreclr/jit/utils.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#67183 Refactor JsonSerializer metadata reading infrastructure
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ArrayConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/DictionaryDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableDictionaryOfTKeyTValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/ImmutableEnumerableOfTConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonCollectionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonDictionaryConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/FSharp/FSharpMapConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonMetadataServicesConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleMetadata.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleMetadata.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/MetadataPropertyName.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/StackFrameObjectState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.Exceptions.cs
  src/libraries/System.Text.Json/tests/Common/ReferenceHandlerTests/ReferenceHandlerTests.Deserialize.cs
  src/libraries/System.Text.Json/tests/Common/ReferenceHandlerTests/ReferenceHandlerTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/ReferenceHandlerTests.cs
Labels: area-System.Text.Json

#67430 Clean up JsonTypeInfo constructor
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
Labels: area-System.Text.Json

#65652 [iOS] Enable some previously skipped tests
  src/libraries/System.Text.Json/tests/Common/CollectionTests/CollectionTests.Dictionary.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/NullableTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/NumberHandlingTests.cs
  src/libraries/tests.proj
  src/mono/msbuild/apple/build/AppleApp.targets
Labels: area-Infrastructure-libraries

#67370 Fix IsPrefix and IsSuffix with ignored characters
  src/libraries/System.Globalization/tests/CompareInfo/CompareInfoTests.IsPrefix.cs
  src/libraries/System.Globalization/tests/CompareInfo/CompareInfoTests.IsSuffix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
Labels: area-System.Globalization

#67108 Make the cross-component build just another invocation of the build-runtime script
  docs/workflow/building/coreclr/cross-building.md
  eng/Subsets.props
  eng/native/build-commons.sh
  eng/native/gen-buildsys.sh
  eng/nativepgo.targets
  eng/pipelines/coreclr/templates/build-jit-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossdac-build.yml
  src/coreclr/_build-commons.sh
  src/coreclr/build-runtime.cmd
  src/coreclr/build-runtime.sh
  src/coreclr/crosscomponents.cmake
  src/coreclr/runtime.proj
  src/native/corehost/build.sh
  src/native/libs/build-native.sh
  src/tests/build.sh
Labels: area-Infrastructure-coreclr

#65948 Publish crossgen as AOT if supported by the target platform
  eng/Subsets.props
  eng/liveBuilds.targets
  eng/testing/tests.singlefile.targets
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/crossgen2/crossgen2.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: area-crossgen2-coreclr

#67200 [Group 4] Enable nullable annotations for `Microsoft.Extensions.Logging.EventLog`
  src/libraries/Microsoft.Extensions.Logging.EventLog/ref/Microsoft.Extensions.Logging.EventLog.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/ref/Microsoft.Extensions.Logging.EventLog.csproj
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/EventLogLogger.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/EventLogLoggerProvider.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/EventLogSettings.cs
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/Microsoft.Extensions.Logging.EventLog.csproj
Labels: new-api-needs-documentation, area-Extensions-Logging, community-contribution

#67450 Revert "[mono][workload] add workloads for win-arm64 using emulation again"
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.json.in
Labels: area-Build-mono

#67396 Bump Intellisense to Preview2
  eng/Versions.props
Labels: documentation, area-Infrastructure-libraries

#66739 [mono] Fix static virtual calls to generic methods from gshared code
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini.h
  src/tests/issues.targets
Labels: area-VM-meta-mono

#64581 Use a simpler representation for array addresses after morph
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/compmemkind.h
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/gtstructs.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#67174 [Group 6] Enable nullable annotations for `Microsoft.Extensions.Logging.Configuration`
  src/libraries/Microsoft.Extensions.Logging.Configuration/ref/Microsoft.Extensions.Logging.Configuration.csproj
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/LoggerFilterConfigureOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/LoggerProviderConfigurationFactory.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/Microsoft.Extensions.Logging.Configuration.csproj
Labels: area-Extensions-Logging

#67178 [Group 5] Enable nullable annotations for `Microsoft.Extensions.Configuration.Xml`
  src/libraries/Microsoft.Extensions.Configuration.Xml/ref/Microsoft.Extensions.Configuration.Xml.cs
  src/libraries/Microsoft.Extensions.Configuration.Xml/ref/Microsoft.Extensions.Configuration.Xml.csproj
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/Microsoft.Extensions.Configuration.Xml.csproj
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/XmlConfigurationElement.cs
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/XmlConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/XmlDocumentDecryptor.cs
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/XmlStreamConfigurationProvider.cs
Labels: new-api-needs-documentation, area-Extensions-Configuration, community-contribution

#65922 Rely on PGO for isinst/castclass
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/tests/JIT/PGO/ProfileCastClassAndIsInst/ProfileCastClassAndIsInst.cs
  src/tests/JIT/PGO/ProfileCastClassAndIsInst/ProfileCastClassAndIsInst.csproj
  src/tests/JIT/PGO/ProfileCastClassAndIsInst/ProfileCastClassAndIsInst_random1.csproj
  src/tests/JIT/PGO/ProfileCastClassAndIsInst/ProfileCastClassAndIsInst_random2.csproj
  src/tests/JIT/PGO/ProfileCastClassAndIsInst/ProfileCastClassAndIsInst_random3.csproj
Labels: area-CodeGen-coreclr

#67383 [QUIC] Update to msquic 2
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Cancellation.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.MaxResponseHeadersLength.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocksProxyTest.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicParameterHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicEnums.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#67010 Multiple enveloped signatures
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Reference.cs
  src/libraries/System.Security.Cryptography.Xml/tests/SignedXmlTest.cs
Labels: area-System.Security, community-contribution

#67011 Use the stapled OCSP response from TLS, when available.
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OCSP.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509ChainEventSource.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509ChainProcessor.cs
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/openssl.c
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
  src/native/libs/System.Security.Cryptography.Native/pal_x509.c
  src/native/libs/System.Security.Cryptography.Native/pal_x509.h
Labels: area-System.Security

#67452 Ignore execution scripts under merged wrappers
  src/tests/build.proj
Labels: area-Infrastructure-coreclr

#67400 More XARCH `PUTARG_STK` CQ improvements
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#67288 Detect systemd when inside a container.
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdHelpers.cs
Labels: area-Extensions-Hosting

#67466 Update System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#67469 Disable ArrBoundBinaryOp under GCStress due to failure
  src/tests/JIT/opt/AssertionPropagation/ArrBoundBinaryOp.csproj
Labels: area-CodeGen-coreclr

#67468 Disable readytorun/coreroot_determinism test on GCStress due to failure
  src/tests/readytorun/coreroot_determinism/coreroot_determinism.csproj
Labels: area-CodeGen-coreclr

#67472 Disable GitHub_35821 on arm64
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#67406 Removed the hard heap limit heap balancing logic for regions + UOH and fixed infinite retries in case at the LOH boundary
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#67393 Infra fixes for bugs uncovered by testing of the JIT/Methodical merged tests
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Common/Directory.Build.targets
  src/tests/Common/XHarnessRunnerLibrary/GeneratedTestRunner.cs
  src/tests/Common/XHarnessRunnerLibrary/RunnerEntryPoint.cs
  src/tests/Common/XUnitWrapperLibrary/TestSummary.cs
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Directory.Build.targets
  src/tests/Exceptions/ForeignThread/ForeignThreadExceptions.csproj
  src/tests/Interop/DisabledRuntimeMarshalling/DisabledRuntimeMarshalling_Disabled_NativeAssemblyEnabled.csproj
  src/tests/Interop/SuppressGCTransition/SuppressGCTransitionTest.csproj
  src/tests/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.csproj
  src/tests/JIT/Directed/callconv/Directory.Build.props
  src/tests/JIT/Directed/pinning/object-pin/CMakeLists.txt
  src/tests/JIT/Directed/pinvoke/CMakeLists.txt
  src/tests/JIT/HardwareIntrinsics/General/Vector256_1/Vector256_1_r.csproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/u_conv_il_r.ilproj
  src/tests/JIT/Methodical/eh/deadcode/deadoponerrorinfunclet_il_d.ilproj
  src/tests/JIT/Methodical/eh/deadcode/deadoponerrorinfunclet_il_r.ilproj
  src/tests/JIT/Methodical/flowgraph/dev10_bug679008/helper.ilproj
  src/tests/JIT/Methodical/structs/systemvbringup/CMakeLists.txt
  src/tests/JIT/Performance/CodeQuality/Roslyn/CscBench.csproj
  src/tests/JIT/Regression/VS-ia64-JIT/V1.2-M02/b108129/CMakeLists.txt
  src/tests/JIT/jit64/hfa/main/dll/CMakeLists.txt
  src/tests/JIT/jit64/localloc/ehverify/eh07_large.ilproj
  src/tests/JIT/jit64/mcc/interop/CMakeLists.txt
  src/tests/JIT/opt/virtualstubdispatch/bigvtbl/Directory.Build.props
  src/tests/Loader/NativeLibs/FromNativePaths.csproj
  src/tests/Loader/classloader/RefFields/Validate.csproj
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case03.csproj
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case04.csproj
  src/tests/Loader/classloader/explicitlayout/NestedStructs/case05.csproj
  src/tests/Loader/classloader/explicitlayout/objrefandnonobjrefoverlap/Directory.Build.props
  src/tests/baseservices/typeequivalence/simple/Simple.csproj
  src/tests/build.proj
Labels: area-Infrastructure

#67460 JIT: Disable cast profiling by default
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#67421 Don't consider ShadowMethods reflectable
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
Labels: area-NativeAOT-coreclr

#67482 Remove invalid assertion in InitializePropCache
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
Labels: area-System.Text.Json, needs-author-action

#67481 Fixed msquic method that's become void
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
Labels: area-System.Net.Quic

#67467 build: fix corehost.proj dac injection unquoted path
  src/native/corehost/corehost.proj
Labels: area-Host, community-contribution

#66723 Change ConfigurationBinder to avoid reading properties unnecessarily.
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/BindingPoint.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationBinderTests.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationCollectionBindingTests.cs
Labels: area-Extensions-Configuration, community-contribution

#67486 Allow null-based `ARR_ADDR`s
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr, community-contribution

#67130 Fix loop cloning of array of struct with array field
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_66254/Runtime_66254.cs
  src/tests/JIT/Regression/JitBlue/Runtime_66254/Runtime_66254.csproj
Labels: area-CodeGen-coreclr

#67479 Cleanup legacy interop in System.Security.Principal.Windows
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ClaimSecurityAttributes.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/NTAccount.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs
  src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs
Labels: area-System.Security

#67495 Skip check of Notepad title on Win 11
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
Labels: area-System.Diagnostics.Process

#67501 Tests for altered references for SignedXml
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Reference.cs
  src/libraries/System.Security.Cryptography.Xml/tests/SignedXmlTest.cs
Labels: area-System.Security, community-contribution

#65629 Cleanup fp registers assignments from arm64 path
  src/coreclr/pal/src/exception/seh-unwind.cpp
Labels: area-PAL-coreclr

#67335 Stop using `CLS_VAR` on x86
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#67490 [arm64] Addressing modes for SIMD
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#67449 Consistently use AssemblyName in execution script generator
  src/tests/Common/CLRTest.CrossGen.targets
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Common/CLRTest.Execute.targets
  src/tests/Common/CLRTest.Jit.targets
Labels: area-Infrastructure-coreclr

#67516 Align nodes when `!SupportsRelativePointers`
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternalReferencesTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/SealedVTableNode.cs
Labels: area-NativeAOT-coreclr

#66473 Disable tests/profiler/eventpipe/eventpipe on JIT stress runs
  src/tests/profiler/eventpipe/eventpipe.csproj
Labels: area-Tracing-coreclr

#67205 JIT: Optimize unused array allocations
  src/coreclr/inc/corinfo.h
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/gentree.cpp
  src/tests/GC/API/GC/GetGCMemoryInfo.cs
  src/tests/profiler/gc/gcallocate.cs
Labels: area-CodeGen-coreclr

#67210 Avoid pre-allocating large arrays in some scenarios for Enumerable.Chunk
  src/libraries/System.Linq/src/System/Linq/Chunk.cs
  src/libraries/System.Linq/tests/ChunkTests.cs
Labels: area-System.Linq, community-contribution

#67522 Updated branch name, from master to main.
  README.md
Labels: community-contribution

#67528 Fix parent test folder name
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/Microsoft.Extensions.Hosting.WindowsServices.Tests.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/UseWindowsServiceTests.cs
Labels: area-Extensions-Hosting

#67455 Concatenate multiple cookies with semicolon
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Cookies.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/CookieHeaderParser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Headers.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http, community-contribution

#67539 Revert "[main] Update dependencies from dotnet/linker (#67381)"
  eng/Version.Details.xml
  eng/Versions.props
Labels: arch-wasm, area-Infrastructure-libraries, blocking-clean-ci, linkable-framework

#67373 [wasm][debugger] Some test fixes
  src/libraries/sendtohelix-wasm.targets
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessStartup.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-driver.html
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
Labels: arch-wasm, area-Debugger-mono

#67553 Disable some interop tests on Win-ARM32
  src/tests/issues.targets
Labels: arch-arm32, disabled-test, os-windows

#67550 Disable `Microsoft.Extensions.Hosting.WindowsServices.Tests` for
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/UseWindowsServiceTests.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries, blocking-clean-ci

#67489 Don't force `TieredCompilation=0` for SuperPMI replay job
  src/coreclr/scripts/superpmi_replay.py
Labels: area-CodeGen-coreclr

#67543 Don't pass --minimize to Xcode 13.3 dsymutil
  eng/native/functions.cmake
Labels: area-Infrastructure-libraries

#67336 Fix too wide constant stores to parameters on macOS
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/scopeinfo.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_67331/Runtime_67331.cs
  src/tests/JIT/Regression/JitBlue/Runtime_67331/Runtime_67331.csproj
Labels: area-CodeGen-coreclr

#67564 Update error message for runtime not found
  src/installer/tests/HostActivation.Tests/MultiArchInstallLocation.cs
  src/installer/tests/HostActivation.Tests/StandaloneAppActivation.cs
  src/native/corehost/apphost/apphost.windows.cpp
  src/native/corehost/fxr_resolver.cpp
  src/native/corehost/hostmisc/utils.h
Labels: area-Host

#67590 Revert "Publish crossgen as AOT if supported by the target platform"
  eng/Subsets.props
  eng/liveBuilds.targets
  eng/testing/tests.singlefile.targets
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/crossgen2/crossgen2.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: area-crossgen2-coreclr

#67563 Disable deleting call counting stubs
  src/coreclr/inc/clrconfigvalues.h
Labels: area-TieredCompilation-coreclr

#67593 Move tests that touch the network to outerloop only for infra-stability reasons
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AdditionalAttributesOnStub.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AttributeForwarding.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Diagnostics.cs
Labels: area-System.Runtime.InteropServices

#67542 [tests] Re-enable generic math Create tests on iOS
  src/libraries/System.Runtime/tests/System/IntPtrTests.GenericMath.cs
Labels: arch-arm64, area-System.Runtime, os-ios, os-tvos

#67613 [iOS] Disable OptionsMonitorTest.TestCurrentValueDoesNotAllocateOnceValueIsCached
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsMonitorTest.cs
Labels: area-Extensions-Options

#67614 Update branding to 5.0.17
  eng/Versions.props
Labels: area-Infrastructure-libraries

#67615 Update branding to 6.0.5
  eng/Versions.props
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Runtime.Experimental/ref/System.Runtime.Experimental.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-Infrastructure-libraries

#67054 [release/6.0] Move to Windows.10.Amd64.Server2022.ES.Open
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#67584 Use ComSmartPtr in tests
  src/tests/Interop/COM/Dynamic/Server/DispatchImpl.cpp
  src/tests/Interop/COM/Dynamic/Server/DispatchImpl.h
Labels: area-Interop-coreclr, community-contribution

#67184 Changing the logic for how we deal with RegexOptions.IgnoreCase matching.
  src/libraries/System.Private.CoreLib/Tools/GenUnicodeProp/Updating-Unicode-Versions.md
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/System.Text.RegularExpressions.Generator.csproj
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Debug.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCaseBehavior.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCaseEquivalences.Data.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCaseEquivalences.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.MappingTable.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTree.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BitVector64Algebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BitVectorAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/CharSetSolver.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/ICharAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/RegexNodeConverter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/GeneratorHelper.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/IgnoreCaseRelation.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/IgnoreCaseRelationGenerator.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/IgnoreCaseTransformer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/UnicodeCategoryRangesGenerator.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexCultureTests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexIgnoreCaseTests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/System.Text.RegularExpressions.Tests.csproj
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexFindOptimizationsTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/System.Text.RegularExpressions.Unit.Tests.csproj
  src/libraries/System.Text.RegularExpressions/tools/DataTable.cs
  src/libraries/System.Text.RegularExpressions/tools/Directory.Build.props
  src/libraries/System.Text.RegularExpressions/tools/Directory.Build.targets
  src/libraries/System.Text.RegularExpressions/tools/GenerateRegexCasingTable.csproj
  src/libraries/System.Text.RegularExpressions/tools/Program.cs
  src/libraries/System.Text.RegularExpressions/tools/Readme.md
  src/libraries/System.Text.RegularExpressions/tools/UnicodeDataCasingParser.cs
Labels: area-System.Text.RegularExpressions

#67585 Re-enable a few Regex source generator tests
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#67239 Add CipherSuitesPolicy support for MsQuic
  src/libraries/System.Net.Quic/src/Resources/Strings.resx
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicEnums.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/MsQuicNativeMethods.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicCipherSuitesPolicyTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestBase.cs
Labels: area-System.Net.Quic

#67586 log entire content to see which assertion fails
  src/libraries/Common/tests/TestUtilities/System/AssertExtensions.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessStreamReadTests.cs
Labels: area-System.Diagnostics.Process, test-enhancement

#65994 Introduce write barriers in wasm bindings, migrate to ref/out params, add gc safe regions
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Array.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Runtime.CS.Owned.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Runtime.JS.Owned.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Runtime.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Uint8Array.cs
  src/mono/wasi/mono-wasi-driver/driver.c
  src/mono/wasm/runtime/buffers.ts
  src/mono/wasm/runtime/cjs/dotnet.cjs.lib.js
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/corebindings.ts
  src/mono/wasm/runtime/cs-to-js.ts
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/gc-common.h
  src/mono/wasm/runtime/gc-handles.ts
  src/mono/wasm/runtime/js-to-cs.ts
  src/mono/wasm/runtime/memory.ts
  src/mono/wasm/runtime/method-binding.ts
  src/mono/wasm/runtime/method-calls.ts
  src/mono/wasm/runtime/roots.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/strings.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/runtime/web-socket.ts
  src/mono/wasm/wasm.proj
Labels: NO-MERGE, arch-wasm, area-System.Runtime.InteropServices.JavaScript

#67365 Improve handling of common Regex sets
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexCharacterSetTests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#67576 Change Regex UnicodeCategoryRanges to use spans
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Debug.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BDD.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/CharSetSolver.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/RegexNodeConverter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Unicode/UnicodeCategoryRanges.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/UnicodeCategoryConditions.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/UnicodeCategoryRanges.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/UnicodeCategoryRangesGenerator.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexExperiment.cs
Labels: area-System.Text.RegularExpressions

#67638 Disable System.Net.Quic.Tests.QuicStreamTests.WriteAsync_LocalAbort_Throws
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net.Quic

#66714 Proposed changes to ECMA 335 for checked user-defined operators
  docs/design/specs/Ecma-335-Augments.md
Labels: api-approved, area-Meta

#67240 [release/6.0] improve SslStream tests on server 2022
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/ClientCertificateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
Labels: area-System.Net.Security

#67277 [mono][llvm] Remove support for llvm 9.x, the 11.x support is stable …
  src/mono/CMakeLists.txt
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/llvm-jit.cpp
  src/mono/mono/mini/mini-llvm-cpp.cpp
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#67608 Enable MSVC standard conformance for JIT sources
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/unwind.h
Labels: area-CodeGen-coreclr

#67610 Allow access to child providers in ChainedConfigurationProvider
  src/libraries/Microsoft.Extensions.Configuration/ref/Microsoft.Extensions.Configuration.cs
  src/libraries/Microsoft.Extensions.Configuration/src/ChainedConfigurationProvider.cs
  src/libraries/Microsoft.Extensions.Configuration/tests/ChainedConfigurationProviderTests.cs
  src/libraries/Microsoft.Extensions.Configuration/tests/ConfigurationManagerTest.cs
Labels: new-api-needs-documentation, area-Extensions-Configuration

#67662 Disable HandleCollectionsAsync for OSX x64
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Stream.Collections.cs
Labels: area-System.Text.Json

#67599 Pin Roslyn version for generators in .NET 7 ref pack
  eng/Versions.props
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Microsoft.Interop.SourceGeneration.csproj
Labels: area-Infrastructure-libraries

#67658 Add libssl3 dependency to Debian DEPS package
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-debian.proj
Labels: area-Infrastructure-installer

#67674 Revert "Enable MSVC standard conformance for JIT sources (#67608)"
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/unwind.h
Labels: area-Infrastructure-coreclr

#67338 Fix System.DirectoryServices.Protocols to work on Linux
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs
Labels: area-System.DirectoryServices, community-contribution

#67162 System.Runtime no longer needs to enable preview features
  src/libraries/System.Net.Security/src/System/Net/Security/ReadWriteAdapter.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeFeature.cs
  src/libraries/System.Runtime/src/System.Runtime.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
Labels: area-System.Runtime

#67681 Remove _caseInsensitive field from RegexInterpreter
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
Labels: area-System.Text.RegularExpressions

#67665 Various fixes for merged test runners on Mono
  Directory.Build.props
  eng/pipelines/common/templates/runtimes/android-runtime-and-send-to-helix.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/send-to-helix-step.yml
  eng/pipelines/common/templates/runtimes/wasm-runtime-and-send-to-helix.yml
  eng/pipelines/common/templates/wasm-runtime-tests.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/TestExclusionListTasks/PatchExclusionListInApks.cs
  src/tasks/TestExclusionListTasks/TestExclusionListTasks.csproj
  src/tests/Common/CoreCLRTestLibrary/OutOfProcessTest.cs
  src/tests/Common/XHarnessRunnerLibrary/RunnerEntryPoint.cs
  src/tests/Common/XUnitWrapperGenerator/ITestInfo.cs
  src/tests/Common/XUnitWrapperLibrary/TestFilter.cs
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Common/mergedrunnermobile.targets
  src/tests/build.proj
  src/tests/issues.targets
Labels: area-Infrastructure

#63626 [debugger][wasm] ValueTypeClass refactoring.
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Labels: arch-wasm, area-Debugger-mono

#67526 Split Reflection and SourceGen TypeInfos
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonMetadataServicesConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.Large.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Collections.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonParameterInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoInternalOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/SourceGenJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/Common/ReferenceHandlerTests/ReferenceHandlerTests.IgnoreCycles.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MixedModeContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/RealWorldContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/SerializationContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonSerializerApiValidation.cs
Labels: area-System.Text.Json

#67669 JIT: Fix UB in CreateConstVector (strict alignment)
  src/coreclr/jit/importer_vectorization.cpp
Labels: area-CodeGen-coreclr

#66983 Reenable crossgen2 promotion outside version bubble
  src/coreclr/inc/corinfo.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
Labels: area-CodeGen-coreclr

#67695 Enable MSVC standard conformance for JIT sources, try 2
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/jitstd/new.h
  src/coreclr/jit/unwind.h
Labels: area-CodeGen-coreclr

#67700 Simplify JsonTypeInfo construction
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/SourceGenJsonTypeInfoOfT.cs
Labels: area-System.Text.Json

#67678 JIT: Fix OSR local detection for implicit byref promotion
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#67680 JIT: fix OSR handling for pinned locals
  src/coreclr/jit/lclvars.cpp
  src/tests/JIT/opt/OSR/pinnedlocal.cs
  src/tests/JIT/opt/OSR/pinnedlocal.csproj
Labels: area-CodeGen-coreclr

#67690 [mono][llvm] Add support for llvm 13.x.
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/llvm-jit.cpp
  src/mono/mono/mini/mini-llvm-cpp.cpp
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#67708 Increase timeout as AOT tests take longer
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure-coreclr

#67713 VS4Mac crash reports on MacOS v12 (Monterey) are missing native stack frames
  THIRD-PARTY-NOTICES.TXT
  src/coreclr/pal/src/exception/remote-unwind.cpp
Labels: area-Diagnostics-coreclr

#67715 Update dependencies from https://github.com/dotnet/emsdk build 202204…
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure-libraries

#67001 Cache several char[] allocations in System.Private.Xml library methods
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/Extensions/ExtensionMethods.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/CodeGenerator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/CodeIdentifier.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/SourceInfo.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Types.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlReflectionImporter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriterILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializerNamespaces.cs
Labels: area-System.Xml, community-contribution

#67574 Block implementation details on System.Object
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/nativeaot/Common/src/Internal/Runtime/CompilerHelpers/StartupCodeHelpers.cs
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/CachedInterfaceDispatch.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/RuntimeExports.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/__Finalizer.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Enum.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Exception.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/MulticastDelegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Object.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/InteropExtensions.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/TypeLoaderExports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeType.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/ValueType.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Object.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ArrayMethodILEmitter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/NoMetadataBlockingPolicy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: area-NativeAOT-coreclr

#67661 S.S.C.Cose: Remove ECDsa and RSA overloads in favor of AsymmetricAlgorithm
  src/libraries/System.Security.Cryptography.Cose/ref/System.Security.Cryptography.Cose.cs
  src/libraries/System.Security.Cryptography.Cose/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.Cose/src/System/Security/Cryptography/Cose/CoseSign1Message.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseSign1MessageTests.Sign.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseSign1MessageTests.Verify.cs
Labels: area-System.Security, new-api-needs-documentation

#67719 [wasm] Bundle net472 dependencies for MonoAOTCompiler task
  src/tasks/AotCompilerTask/MonoAOTCompiler.csproj
Labels: arch-wasm, area-Build-mono

#67459 [Group 7] Enable nullable annotations for `Microsoft.Extensions.Logging.Console`
  src/libraries/Common/src/Extensions/Logging/NullExternalScopeProvider.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/ref/Microsoft.Extensions.Logging.Abstractions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LogEntry.cs
  src/libraries/Microsoft.Extensions.Logging.Console/ref/Microsoft.Extensions.Logging.Console.cs
  src/libraries/Microsoft.Extensions.Logging.Console/ref/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleFormatter.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleFormatterOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLogger.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerProcessor.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerProvider.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/FormatterOptionsMonitor.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/JsonConsoleFormatter.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/SimpleConsoleFormatter.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/SystemdConsoleFormatter.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleFormatterTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleLoggerTest.cs
Labels: new-api-needs-documentation, area-Extensions-Logging

#67525 Don't detect link on path
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.props
Labels: area-NativeAOT-coreclr

#67573 Make it possible to do typeof of function pointers
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
Labels: area-NativeAOT-coreclr

#67572 Improve reflection rooting generic methods
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
Labels: area-NativeAOT-coreclr

#67606 [wasm] Add support for installing latest sdk for workload testing
  eng/Versions.props
  eng/testing/workloads-testing.targets
Labels: arch-wasm, area-Build-mono

#67711 Temporarily disable assert to avoid #67600
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr

#67570 Fix generation of type forwarders
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.TypeForwarders.cs
Labels: area-NativeAOT-coreclr

#67729 need to check if the child obj is on an ro region in verify_heap
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#67714 Updating generic math to support user-defined checked operators
  eng/CodeAnalysis.src.globalconfig
  src/libraries/System.Private.CoreLib/src/System/Byte.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.cs
  src/libraries/System.Private.CoreLib/src/System/Decimal.cs
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/Int16.cs
  src/libraries/System.Private.CoreLib/src/System/Int32.cs
  src/libraries/System.Private.CoreLib/src/System/Int64.cs
  src/libraries/System.Private.CoreLib/src/System/IntPtr.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IAdditionOperators.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IDecrementOperators.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IDivisionOperators.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IIncrementOperators.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IMultiplyOperators.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/ISubtractionOperators.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IUnaryNegationOperators.cs
  src/libraries/System.Private.CoreLib/src/System/SByte.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Private.CoreLib/src/System/TimeOnly.cs
  src/libraries/System.Private.CoreLib/src/System/TimeSpan.cs
  src/libraries/System.Private.CoreLib/src/System/UInt16.cs
  src/libraries/System.Private.CoreLib/src/System/UInt32.cs
  src/libraries/System.Private.CoreLib/src/System/UInt64.cs
  src/libraries/System.Private.CoreLib/src/System/UIntPtr.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/ByteTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/CharTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/GenericMathHelpers.cs
  src/libraries/System.Runtime/tests/System/Int16Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/Int32Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/Int64Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/IntPtrTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/SByteTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UInt16Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UInt32Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UInt64Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/UIntPtrTests.GenericMath.cs
Labels: area-System.Numerics

#67663 [mono][interp] Fix corruption of the LMF chain
  src/libraries/System.Net.NameResolution/tests/FunctionalTests/TelemetryTest.cs
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono

#67002 Replace 2 allocations from string.ToCharArray() with ReadOnlySpan in System.Private.Xml library
  src/libraries/System.Private.Xml/src/System/Xml/BinHexDecoder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlConvert.cs
Labels: area-System.Xml, community-contribution

#65132 FileSystem: MoveDirectory: some improvements.
  src/libraries/System.IO.FileSystem/tests/Directory/Move.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.cs
Labels: area-System.IO, community-contribution

#67737 Disable ClientAndServer_OneOrBothUseDefault_Ok test
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
Labels: area-System.Net.Security

#67160 Change `CrossLoaderAllocatorHash` to not use the GC
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CrossLoaderAllocatorHashHelpers.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/GCHeapHash.cs
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/crsttypes.h
  src/coreclr/inc/shash.h
  src/coreclr/inc/shash.inl
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/callcounting.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeversion.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/crossloaderallocatorhash.h
  src/coreclr/vm/crossloaderallocatorhash.inl
  src/coreclr/vm/fptrstubs.cpp
  src/coreclr/vm/gcheaphashtable.h
  src/coreclr/vm/gcheaphashtable.inl
  src/coreclr/vm/inlinetracking.cpp
  src/coreclr/vm/inlinetracking.h
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/loaderallocator.hpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/methoddescbackpatchinfo.cpp
  src/coreclr/vm/methoddescbackpatchinfo.h
  src/coreclr/vm/object.cpp
  src/coreclr/vm/object.h
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/rejit.cpp
  src/coreclr/vm/tieredcompilation.cpp
Labels: area-TieredCompilation-coreclr

#67651 Fix exception thrown from MsQuicStream writes when connection is aborted by peer.
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
Labels: area-System.Net.Http

#67736 Allow getting code coverage for the unit test project itself
  eng/testing/coverage.targets
Labels: area-Infrastructure-libraries

#67754 Further JsonPropertyInfo caching cleanup
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
Labels: area-System.Text.Json

#67639 Add JitDump output for calls to recordRelocation
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#67721 Add NoWASM to category filter
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-libraries

#62843 [LoongArch64] coreclr-jit directory
  src/coreclr/gcinfo/CMakeLists.txt
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/crosscomp.h
  src/coreclr/inc/palclr.h
  src/coreclr/inc/targetosarch.h
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitdef.h
  src/coreclr/jit/emitfmts.h
  src/coreclr/jit/emitfmtsloongarch64.h
  src/coreclr/jit/emitinl.h
  src/coreclr/jit/emitjmps.h
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitloongarch64.h
  src/coreclr/jit/emitpub.h
  src/coreclr/jit/error.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrs.h
  src/coreclr/jit/instrsloongarch64.h
  src/coreclr/jit/jit.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraloongarch64.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/regalloc.cpp
  src/coreclr/jit/register.h
  src/coreclr/jit/registerloongarch64.h
  src/coreclr/jit/regset.cpp
  src/coreclr/jit/regset.h
  src/coreclr/jit/scopeinfo.cpp
  src/coreclr/jit/target.h
  src/coreclr/jit/targetloongarch64.cpp
  src/coreclr/jit/targetloongarch64.h
  src/coreclr/jit/unwind.cpp
  src/coreclr/jit/unwind.h
  src/coreclr/jit/unwindloongarch64.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr, new-api-needs-documentation, community-contribution, arch-loongarch64

#66479 Add metrics for caching
  src/libraries/Microsoft.Extensions.Caching.Abstractions/ref/Microsoft.Extensions.Caching.Abstractions.Typeforwards.netcoreapp.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/ref/Microsoft.Extensions.Caching.Abstractions.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/ref/Microsoft.Extensions.Caching.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Caching.Abstractions/ref/Microsoft.Extensions.Caching.Abstractions.net6.0.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/IMemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/MemoryCacheStatistics.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/Microsoft.Extensions.Caching.Abstractions.Typeforwards.netcoreapp.cs
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/Microsoft.Extensions.Caching.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Caching.Memory/ref/Microsoft.Extensions.Caching.Memory.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCacheOptions.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/MemoryCacheGetCurrentStatisticsTests.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/Microsoft.Extensions.Caching.Memory.Tests.csproj
Labels: new-api-needs-documentation, area-Extensions-Caching

#67750 display tidy message for failed assertions on mono
  src/mono/mono/metadata/icall.c
Labels: area-VM-meta-mono, community-contribution

#67710 Fix cross dac packaging
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossdac-build.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
Labels: area-Infrastructure-coreclr

#67717 Use properties for target versions for core and framework
  Directory.Build.props
  src/libraries/sendtohelix-wasm.targets
  src/mono/nuget/Microsoft.NET.Runtime.MonoAOTCompiler.Task/Microsoft.NET.Runtime.MonoAOTCompiler.Task.pkgproj
  src/mono/nuget/Microsoft.NET.Runtime.MonoAOTCompiler.Task/Sdk/Sdk.props
  src/mono/nuget/Microsoft.NET.Runtime.MonoAOTCompiler.Task/Sdk/Sdk.props.in
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Microsoft.NET.Runtime.MonoTargets.Sdk.pkgproj
  src/mono/nuget/Microsoft.NET.Runtime.MonoTargets.Sdk/Sdk/MonoTargetsTasks.props.in
  src/mono/nuget/Microsoft.NET.Runtime.WebAssembly.Sdk/Microsoft.NET.Runtime.WebAssembly.Sdk.pkgproj
  src/mono/nuget/Microsoft.NET.Runtime.WebAssembly.Sdk/Sdk/Sdk.targets.in
  src/mono/wasm/build/WasmApp.InTree.props
  src/mono/wasm/templates/Microsoft.NET.Runtime.WebAssembly.Templates.csproj
  src/tasks/Directory.Build.props
  src/tests/tracing/eventpipe/common/Microsoft.Diagnostics.NETCore.Client/DiagnosticsIpc/IpcSocket.cs
Labels: area-Infrastructure-libraries

#66357 Reflection Invoke refactoring to support future byref-like and IL emit features
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethodInvoker.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RtFieldInfo.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecall.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/invokeutil.cpp
  src/coreclr/vm/invokeutil.h
  src/coreclr/vm/object.cpp
  src/coreclr/vm/object.h
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/runtimehandles.h
  src/libraries/System.Memory/tests/Span/Reflection.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Reflection/ConstructorInvoker.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/FieldAccessor.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/InvokeUtils.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodInvoker.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.cs
  src/libraries/System.Reflection.TypeExtensions/tests/ConstructorInfo/ConstructorInfoInvokeArrayTests.cs
  src/libraries/System.Reflection/tests/ConstructorInfoTests.cs
  src/libraries/System.Reflection/tests/FieldInfoTests.cs
  src/libraries/System.Reflection/tests/MethodInfoTests.cs
  src/libraries/System.Runtime/tests/System/DelegateTests.cs
  src/libraries/System.Runtime/tests/System/Reflection/InvokeRefReturn.cs
  src/libraries/System.Runtime/tests/System/Reflection/InvokeWithRefLikeArgs.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeFieldInfo.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/tests/reflection/DefaultInterfaceMethods/Emit.cs
  src/tests/reflection/DefaultInterfaceMethods/InvokeConsumer.cs
Labels: area-System.Reflection, breaking-change, tenet-performance, needs-breaking-change-doc-created

#67725 Remove dbgshim and related code
  src/coreclr/debug/CMakeLists.txt
  src/coreclr/debug/shim/CMakeLists.txt
  src/coreclr/debug/shim/debugshim.cpp
  src/coreclr/debug/shim/debugshim.h
  src/coreclr/dlls/CMakeLists.txt
  src/coreclr/dlls/dbgshim/CMakeLists.txt
  src/coreclr/dlls/dbgshim/dbgshim.cpp
  src/coreclr/dlls/dbgshim/dbgshim.h
  src/coreclr/dlls/dbgshim/dbgshim.ntdef
  src/coreclr/dlls/dbgshim/dbgshim.rc
  src/coreclr/dlls/dbgshim/dbgshim_unixexports.src
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/include/pal/procobj.hpp
  src/coreclr/pal/src/thread/process.cpp
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/tests/Common/Directory.Build.targets
  src/tests/Directory.Build.targets
Labels: area-Infrastructure-coreclr

#67749 Update host tracing doc to match the current functionality
  docs/design/features/host-tracing.md
Labels: documentation, area-Host

#67785 Fix a JIT formatting issue
  src/coreclr/jit/emit.cpp
Labels: area-CodeGen-coreclr

#67571 Fix some minor reflection bugs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeType.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/Assemblies/RuntimeAssemblyInfo.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ThunkedApis.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/TypeParsing/TypeParser.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.ManifestResources.cs
Labels: area-System.Reflection

#67414 [wasm] Perf: Fixes for blazor_scenarios
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  eng/testing/performance/blazor_perf.proj
  eng/testing/performance/microbenchmarks.proj
  eng/testing/performance/performance-setup.sh
Labels: arch-wasm, tenet-performance, area-Infrastructure-mono

#67125 [Mono]Enable emitting intrinsics for System.Numerics.Vector<T> on arm64
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#67652 [runtime] copy updated byref nullables after invoke
  src/libraries/System.Reflection/tests/MethodInfoTests.cs
  src/mono/mono/metadata/object.c
Labels: area-VM-meta-mono

#67780 Update C# compiler and revert workaround
  eng/Versions.props
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildPublishTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeBuildTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/PInvokeTableGeneratorTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/SatelliteAssembliesTests.cs
Labels: area-Build-mono

#67709 Re-adding some tests that were commented out now that IgnoreCase work is done
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexCultureTests.cs
Labels: area-System.Text.RegularExpressions

#67758 Vectorize IndexOf for OrdinalIgnoreCase
  src/libraries/System.Private.CoreLib/src/System/Globalization/Ordinal.cs
Labels: area-System.Globalization

#67732 Rewrite RegexPrefixAnalyzer.FindFirstCharClass
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexPrefixAnalyzerTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/System.Text.RegularExpressions.Unit.Tests.csproj
Labels: area-System.Text.RegularExpressions, tenet-performance

#67801 Update coding-style.md
  docs/coding-guidelines/coding-style.md
Labels: area-Infrastructure-libraries, community-contribution

#67718 Always run CopyAllNativeProjectReferenceBinaries
  src/tests/Common/CLRTest.CrossGen.targets
  src/tests/Common/CoreCLRTestLibrary/OutOfProcessTest.cs
  src/tests/Common/XUnitWrapperGenerator/ITestInfo.cs
  src/tests/Directory.Build.targets
  src/tests/JIT/Methodical/Arrays/misc/arrres_il_r.ilproj
  src/tests/JIT/Methodical/tailcall_v4/hijacking.ilproj
  src/tests/issues.targets
  src/tests/run.py
Labels: area-Infrastructure-coreclr

#67787 FabricBot config: Viktor is back
  .github/fabricbot.json
Labels: area-Meta

#67778 Adding class target to RequiresDynamicCodeAttribute
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/RequiresDynamicCodeAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Diagnostics, new-api-needs-documentation

#67628 Fix for the elusive suspension hang on Win7 WOW64
  src/coreclr/vm/threadsuspend.cpp
  src/libraries/System.Collections.Concurrent/tests/ConcurrentStackTests.cs
Labels: area-VM-coreclr

#67799 GC: Correctly align `exclusive_sync.alloc_objects`
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr, community-contribution

#67814 Delete some Win9x-specific code and comments
  src/coreclr/debug/di/publish.cpp
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/inc/amd64/primitives.h
  src/coreclr/inc/sbuffer.inl
  src/coreclr/utilcode/ccomprc.cpp
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/libraries/Microsoft.Win32.Registry/tests/RegistryKey/RegistryKey_Flush.cs
  src/libraries/System.Data.OleDb/src/OleDbConnection.cs
Labels: area-VM-coreclr
