Repository dotnet/runtime, pull requests merged in 2022-03, with the labels that each got.

#65915 Move diagnostics for invalid `GeneratedDllImportAttribute` usage to generator instead of analyzer
  docs/design/libraries/DllImportGenerator/Diagnostics.md
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/GeneratedDllImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Resources.Designer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Resources.resx
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Diagnostics.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/GeneratedDllImportAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/TestUtils.cs
Labels: area-System.Runtime.InteropServices, source-generator

#65916 Fix GC hole with multi-reg local var stores
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/treelifeupdater.cpp
Labels: area-CodeGen-coreclr

#65905 Add AssemblyName overload for ILVerify.IResolver.Resolve method
  src/coreclr/tools/ILVerification/ILVerifyTypeSystemContext.cs
  src/coreclr/tools/ILVerification/IResolver.cs
  src/coreclr/tools/ILVerification/Verifier.cs
  src/coreclr/tools/ILVerify/Program.cs
  src/tests/ilverify/TestDataLoader.cs
Labels: area-ILVerification

#65910 null-check the redirect context before using.
  src/coreclr/vm/threadsuspend.cpp
Labels: area-VM-coreclr

#64867 [mono][wasm] Allow AOTing methods with catch/filter clauses.
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Roslyn3.11.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Roslyn4.0.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/ee.h
  src/mono/mono/mini/interp-stubs.c
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/llvmonly-runtime.c
  src/mono/mono/mini/llvmonly-runtime.h
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
  src/mono/sample/wasm/browser-bench/Console/Makefile
  src/mono/sample/wasm/browser-bench/Console/Wasm.Console.Bench.Sample.csproj
Labels: area-Codegen-LLVM-mono

#65990 Fix name of regex unit tests project
  src/libraries/System.Text.RegularExpressions/System.Text.RegularExpressions.sln
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/System.Text.RegularExpressions.Unit.Tests.csproj
Labels: area-System.Text.RegularExpressions

#65748 Make ObjectConverter use ConverterStrategy.Object
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ConverterStrategy.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonCollectionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonDictionaryConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/FSharp/FSharpOptionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/FSharp/FSharpValueOptionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/NullableConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.ReadAhead.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.ReadCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.WriteCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleMetadata.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleMetadata.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PolymorphicSerializationState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
Labels: area-System.Text.Json

#65899 add missing GC.SuppressFinalize(this) to FileStream.DisposeAsync
  src/libraries/System.IO.FileSystem/tests/FileStream/DisposeAsync.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileStream.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Strategies/DerivedFileStreamStrategy.cs
Labels: area-System.IO

#65837 Optimize clear_brick_table.
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#65995 [wasm] Fix a race condition in adding payloads for helix
  src/libraries/sendtohelix-wasm.targets
Labels: arch-wasm, area-Build-mono

#65816 Native aot trim annotations experiment
  eng/ApiCompatExcludeAttributes.txt
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.Reflection.Emit.Lightweight/ref/System.Reflection.Emit.Lightweight.cs
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/System.Private.CoreLib/src/System/Array.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Mono.cs
Labels: area-System.Reflection, new-api-needs-documentation

#65924 Fix libraries GCStress pipeline
  eng/pipelines/libraries/run-test-job.yml
  src/libraries/externals.csproj
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-libraries

#63874 Repair inconsistent nullability nullability on TypeConverter (#63186)
  src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/BaseNumberConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/CultureInfoConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/DateTimeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/DateTimeOffsetConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/DecimalConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/EnumConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/GuidConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/NullableConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TimeSpanConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeListConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/UriTypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/VersionConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Drawing/ColorConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Drawing/PointConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Drawing/RectangleConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Drawing/SizeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Drawing/SizeFConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/Security/Authentication/ExtendedProtection/ExtendedProtectionPolicyTypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/SampleClasses.cs
  src/libraries/System.Data.Common/src/System/Data/ColumnTypeConverter.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DataColumnMapping.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DataTableMapping.cs
  src/libraries/System.Data.Common/src/System/Data/ConstraintConverter.cs
  src/libraries/System.Data.Common/src/System/Data/PrimaryKeyTypeConverter.cs
  src/libraries/System.Data.Common/src/System/Data/RelationshipConverter.cs
  src/libraries/System.Data.OleDb/src/OleDbConnectionStringBuilder.cs
  src/libraries/System.Data.OleDb/src/OleDbParameter.cs
  src/libraries/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ColorConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/FontConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/IconConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ImageFormatConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/PointConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Printing/MarginsConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/RectangleConverter.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/SizeConverter.cs
Labels: area-System.ComponentModel, new-api-needs-documentation, community-contribution

#65926 FastMod for EEHashTable (Faster virtual generics)
  src/coreclr/vm/eehash.h
  src/coreclr/vm/eehash.inl
  src/coreclr/vm/util.hpp
Labels: area-VM-coreclr

#66006 Revert "[mono][jit] Remove support for -O=-float32, i.e. treating r4 values a…"
  src/mono/mono/mini/calls.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-amd64.h
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm.h
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-arm64.h
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-native-types.c
  src/mono/mono/mini/mini-s390x.c
  src/mono/mono/mini/mini-s390x.h
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini-wasm.h
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-JIT-mono

#64967 [mono] Decompress ICU data during iOS/tvOS app startup
  src/mono/mono/mini/CMakeLists.txt
  src/native/libs/System.Globalization.Native/pal_icushim_static.c
  src/tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
Labels: area-System.Globalization, os-ios, os-tvos, os-maccatalyst

#65973 [hot_reload] various post-Preview 1 fixes
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/StaticLambdaRegression.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/StaticLambdaRegression_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/StaticLambdaRegression_v2.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression.csproj
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/deltascript.json
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateUtil.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
  src/mono/mono/component/hot_reload.c
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/mono-debug.c
Labels: area-EnC-mono

#65983 Update p/invoke source generator errors to use SYSLIB prefix
  docs/project/list-of-diagnostics.md
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/AnalyzerDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/GeneratorDiagnostics.cs
Labels: area-System.Runtime.InteropServices, source-generator

#66035 Fix div-by-zero introduced in #65926
  src/coreclr/vm/eehash.inl
  src/coreclr/vm/util.hpp
Labels: area-VM-coreclr

#66051 Remove incorrect exception comment from AsSpan
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
Labels: area-System.Memory

#65878 EE Suspension on x86 should use RtlRestoreContext when available
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
Labels: area-VM-coreclr

#65986 Avoid RegexCode/RegexWriter for all engines other than RegexInterpreter
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Parser.cs
  src/libraries/System.Text.RegularExpressions/gen/System.Text.RegularExpressions.Generator.csproj
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Split.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreterCode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexOpcode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTree.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTreeAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/RegexNodeConverter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/System.Text.RegularExpressions.Tests.csproj
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexFindOptimizationsTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexReductionTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexTreeAnalyzerTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/System.Text.RegularExpressions.Unit.Tests.csproj
Labels: area-System.Text.RegularExpressions

#65842 [wasm][debugger] Support "on frame evaluation" of functions returning char
  src/mono/wasm/debugger/BrowserDebugProxy/EvaluateExpression.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/AssignmentTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/PointerTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: arch-wasm, area-Debugger-mono

#66011 Simplify RuntimeHelpers.GetSubArray
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
Labels: area-System.Runtime.CompilerServices

#65867 [release/7.0-preview2][mono][hot reload] Fix sequence point logic for compiler-generated methods in updates
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/StaticLambdaRegression.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/StaticLambdaRegression_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/StaticLambdaRegression_v2.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression.csproj
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.StaticLambdaRegression/deltascript.json
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateUtil.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
  src/mono/mono/component/hot_reload.c
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/mono-debug.c
Labels: Servicing-approved, area-EnC-mono

#66075 Keep CLSCompliantAttribute in sync for src <-> ref
  eng/ApiCompatExcludeAttributes.txt
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/apicompat/ApiCompatBaselineExcludedAttributes.txt
Labels: area-Infrastructure-libraries

#64850 Use generic `Enum` methods when possible.
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ReadyToRunInstructionSetSupportSignature.cs
  src/coreclr/tools/dotnet-pgo/CommandLineOptions.cs
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/DataTypeAttribute.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ToolboxItemFilterAttribute.cs
  src/libraries/System.Data.Common/src/System/Data/DataViewManager.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/SourceSwitch.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceSwitch.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/FontConverter.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/Emit/Opcode.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/IlGen/OptimizerPatterns.cs
Labels: area-Meta, community-contribution

#66017 [wasm] Fix S.T.Regex test failures due to line ending differences
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/PrecompiledRegexScenarioTest.cs
Labels: arch-wasm

#65288 JIT: Unroll Equals and StartsWith for constant strings and spans. [0..32] chars
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importer_vectorization.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.Globalization.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/String.Comparison.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/tests/JIT/opt/Vectorization/StringEquals.cs
  src/tests/JIT/opt/Vectorization/StringEquals.csproj
  src/tests/JIT/opt/Vectorization/UnrollEqualsStartsWIth.cs
  src/tests/JIT/opt/Vectorization/UnrollEqualsStartsWIth.csproj
  src/tests/JIT/opt/Vectorization/UnrollEqualsStartsWIth_Tests.cs
Labels: area-CodeGen-coreclr

#66057 Address TODO to switch to generated p/invoke
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ChangeServiceConfig2.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.SERVICE_DELAYED_AUTOSTART_INFO.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateToolhelp32Snapshot.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/Microsoft.Extensions.Hosting.WindowsServices.csproj
  src/libraries/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.TestService/System.ServiceProcess.ServiceController.TestService.csproj
Labels: area-System.Runtime.InteropServices

#66061 JIT: fix interaction of PGO and partial compilation
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#66062 Disable SuperPMI replay jobs until #65332 is fixed
  src/coreclr/scripts/superpmi_replay.py
Labels: area-CodeGen-coreclr

#66093 Disable Match_Timeout_Repetition_Throws test with NonBacktracking
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#66094 Fix cross-arch build compilation error about missing O_RDONLY
  src/coreclr/pal/src/libunwind/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#66113 Switch field being examined by NullablePublicOnlyOtherTypesTest
  src/libraries/System.Runtime/tests/System/Reflection/NullabilityInfoContextTests.cs
Labels: area-System.Reflection

#65902 Do not value number locals on the LHS
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#66065 Partition SuperPMI replay task
  src/coreclr/scripts/superpmi-replay.proj
  src/coreclr/scripts/superpmi_replay.py
Labels: area-CodeGen-coreclr

#66116 Try to work around random CI failures in "dotnet restore" of benchmarks
  src/coreclr/scripts/jitutil.py
  src/coreclr/scripts/superpmi_benchmarks.py
Labels: area-CodeGen-coreclr

#61335 SPMI no ASMDiff between Checked and Release
  eng/pipelines/coreclr/superpmi-asmdiffs-checked-release.yml
  eng/pipelines/coreclr/templates/run-superpmi-asmdiffs-checked-release-job.yml
  eng/pipelines/coreclr/templates/superpmi-asmdiffs-checked-release-job.yml
  src/coreclr/scripts/superpmi-asmdiffs-checked-release.proj
  src/coreclr/scripts/superpmi.py
  src/coreclr/scripts/superpmi_asmdiffs_checked_release.py
  src/coreclr/scripts/superpmi_asmdiffs_checked_release_setup.py
Labels: area-Infrastructure-coreclr

#65003 [wasm] Bump sdk for workload testing to `7.0.100-preview.3.22151.18`
  eng/Versions.props
  eng/pipelines/common/evaluate-default-paths.yml
  eng/testing/tests.wasm.targets
  src/mono/wasm/build/WasmApp.Native.targets
  src/tests/BuildWasmApps/Wasm.Build.Tests/BlazorWasmBuildPublishTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildEnvironment.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildTestBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/CleanTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeRebuildTests/NoopNativeRebuildTest.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/SatelliteAssembliesTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/nuget7.config
Labels: arch-wasm, area-Build-mono

#63978 Update Roslyn and use new step tracking API in incremental tests.
  eng/Versions.props
  eng/formatting/format.sh
  src/libraries/Common/src/Interop/OSX/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Unix/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Unix/libc/Interop.GetParentPid.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Microsoft.Extensions.Logging.Generators.Roslyn3.11.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Microsoft.Extensions.Logging.Generators.Roslyn4.0.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Microsoft.Extensions.Logging.Generators.Roslyn3.11.Tests.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Microsoft.Extensions.Logging.Generators.Roslyn4.0.Tests.csproj
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/DllImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/IncrementalGenerationTests.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/TestUtils.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/Error.cs
  src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.Roslyn3.11.csproj
  src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.Roslyn4.0.csproj
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/System.Text.Json.SourceGeneration.Roslyn3.11.Unit.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/System.Text.Json.SourceGeneration.Roslyn4.0.Unit.Tests.csproj
  src/tests/Directory.Build.props
  src/tests/Directory.Build.targets
  src/tests/GC/Features/HeapExpansion/bestfit-threaded.cs
Labels: area-Infrastructure

#66107 JIT: add hash and tiering name to assert message
  src/coreclr/jit/error.cpp
Labels: area-CodeGen-coreclr

#66105 JIT: tolerate schema mismatches in partial compilation with pgo
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#66110 [tests] Update eventsvalidation tests to use intree Microsoft.Diagnostics.NETCore.Client
  src/tests/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.cs
  src/tests/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.csproj
  src/tests/tracing/eventpipe/eventsvalidation/GCEvents.cs
  src/tests/tracing/eventpipe/eventsvalidation/GCEvents.csproj
  src/tests/tracing/eventpipe/eventsvalidation/GCFinalizers.cs
  src/tests/tracing/eventpipe/eventsvalidation/GCFinalizers.csproj
Labels: area-Tracing-coreclr

#65886 Fix ZipArchiveEntry names shown as corrupted on other zip programs
  src/libraries/Common/tests/System/IO/Compression/ZipTestHelper.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.cs
Labels: area-System.IO.Compression

#66111 Update RegexGenerator to require LangVersion > 10
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Parser.cs
  src/libraries/System.Text.RegularExpressions/gen/Resources/Strings.resx
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.de.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.es.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.it.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Text.RegularExpressions/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorParserTests.cs
Labels: area-System.Text.RegularExpressions

#66119 Fix marshalling issue with BerVal
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
Labels: area-System.DirectoryServices

#65297 Fix remaining COM warnings in crossgen2
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/aot/Directory.Build.props
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler.MetadataTransform.csproj
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ILCompiler.Reflection.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.props
Labels: area-crossgen2-coreclr

#66084 Add support for static virtual methods
  src/coreclr/tools/Common/Compiler/TypeExtensions.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Common/VirtualMethodAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericLookupResult.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceDispatchMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/VTableSliceNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/Platform.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/VirtualStaticInterfaceMethods.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/ILCompiler.TypeSystem.Tests.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/VirtualStaticInterfaceMethodTests.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Interfaces.cs
Labels: area-NativeAOT-coreclr

#65949 Mark ImageAnimator.UpdateFrames to accept a nullable Image
  src/libraries/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/ImageAnimator.cs
Labels: area-System.Drawing

#65773 Mark SslProtocols.Tls and SslProtocols.Tls11 as obsolete
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/System/Net/SecurityProtocol.cs
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.AcceptAllCerts.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.SslProtocols.cs
  src/libraries/Common/tests/System/Net/Http/LoopbackServer.cs
  src/libraries/Common/tests/System/Net/SslProtocolSupport.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/WinHttpHandlerTest.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
  src/libraries/System.Net.Primitives/src/System/Net/SecureProtocols/SslEnumTypes.cs
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/NetSecurityTelemetry.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Android/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Linux.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/src/System/Net/Security/TlsFrameHelper.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/DummyTcpServer.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAllowNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerRequireEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslAuthenticationOptionsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamConformanceTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TlsFrameHelperTests.cs
  src/libraries/System.Net.ServicePoint/src/System/Net/SecurityProtocolType.cs
Labels: area-System.Net.Security, breaking-change, new-api-needs-documentation, needs-breaking-change-doc-created

#66055 [iOS] Fix return code when failing to load ICU data
  src/native/libs/System.Globalization.Native/pal_icushim_static.c
Labels: area-System.Globalization

#66007 [monoapi] Add mono_method_get_unmanaged_callers_only_ftnptr
  src/mono/mono/metadata/external-only.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/object-internals.h
  src/native/public/mono/metadata/details/mono-private-unstable-functions.h
Labels: area-VM-meta-mono

#66114 Add a comment in source-generated regexes explaining why they cannot have optimized code.
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
Labels: area-System.Text.RegularExpressions, community-contribution, source-generator

#66156 Fix test failure due to conflicting merged PRs in DllImportGenerator tests.
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/IncrementalGenerationTests.cs
Labels: area-System.Runtime.InteropServices

#66152 remove MemoryManagerPinLargeArray test as it tests something that we don't ship
  src/libraries/System.Memory/tests/Memory/MemoryManager.cs
Labels: area-System.Memory

#66021 Update branding to 6.0.4
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Configuration/src/Microsoft.Extensions.Configuration.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/libraries/System.Runtime.InteropServices.NFloat.Internal/ref/System.Runtime.InteropServices.NFloat.Internal.csproj
Labels: area-Infrastructure-libraries

#66020 Update branding to 5.0.16
  eng/Versions.props
  src/libraries/libraries-packages.proj
Labels: area-Infrastructure-libraries

#66129 Remove leftover runtextbeg/end references from RegexCompiler / source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#65981 attempt to fix up EnterpriseTests
  eng/pipelines/libraries/enterprise/linux.yml
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/docker-compose.yml
  src/libraries/Common/tests/System/Net/EnterpriseTests/setup/linuxclient/test-webserver.sh
Labels: area-System.Net

#66158 Use a unique EventId for Verbose in NetEventSource.Common
  src/libraries/Common/src/System/Net/Logging/NetEventSource.Common.cs
Labels: area-System.Net

#61304 Add RIDs for MIRACLE LINUX 8 and 9
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Infrastructure-libraries, community-contribution

#65947 Update the StubManager for better debugger stepping.
  src/coreclr/debug/daccess/fntableaccess.h
  src/coreclr/debug/ee/amd64/amd64walker.cpp
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/frameinfo.cpp
  src/coreclr/debug/ee/functioninfo.cpp
  src/coreclr/debug/ee/rcthread.cpp
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/dynamicmethod.cpp
  src/coreclr/vm/i386/stublinkerx86.cpp
  src/coreclr/vm/ilstubcache.cpp
  src/coreclr/vm/ilstubresolver.cpp
  src/coreclr/vm/ilstubresolver.h
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/method.inl
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/stublink.cpp
  src/coreclr/vm/stublink.h
  src/coreclr/vm/stublink.inl
  src/coreclr/vm/stubmgr.cpp
  src/coreclr/vm/stubmgr.h
  src/coreclr/vm/threadsuspend.cpp
Labels: area-Diagnostics-coreclr

#65979 [Release/6.0] Backport of Mariner 2.0 and Linux Arm64 packaging work
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/installer/jobs/base-job.yml
  src/installer/pkg/sfx/installers.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-cm.2.proj
Labels: Servicing-approved, area-Infrastructure-installer

#66176 Fix System.IO.Ports native package not getting published any longer after the oob + sfx split
  src/libraries/oob-all.proj
  src/libraries/oob-src.proj
Labels: area-Infrastructure-libraries

#65876 retire DummyTcpServer from SslStream tests
  src/libraries/System.Net.Quic/tests/FunctionalTests/System.Net.Quic.Functional.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientDefaultEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/DummyTcpServer.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ParameterValidationTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAllowNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerRequireEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/TestConfiguration.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/TransportContextTest.cs
Labels: area-System.Net.Security, test-enhancement

#65237 Avoid Attribute.GetCustomAttributes() returning null for open generic type
  src/coreclr/System.Private.CoreLib/src/System/Attribute.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeCustomAttributeData.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeParameterInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Attribute.CoreRT.cs
  src/libraries/System.Reflection/tests/ParameterInfoTests.cs
  src/libraries/System.Runtime/tests/System/Attributes.cs
  src/tests/reflection/GenericAttribute/GenericAttributeMetadata.cs
  src/tests/reflection/GenericAttribute/GenericAttributeTests.cs
Labels: area-System.Reflection, community-contribution

#66109 Skip Upper vector save/restore for blocks that THROW
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/scripts/superpmi_replay.py
Labels: area-CodeGen-coreclr

#66173 Correct JsonPropertyOrderAttribute's ctor XMLDoc
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Attributes/JsonPropertyOrderAttribute.cs
Labels: area-System.Text.Json, community-contribution

#66150 Improve ICU missing msg for Alpine
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Unix.cs
Labels: area-System.Globalization

#66157 Don't add TestLibrary as a reference to all runtime tests
  src/tests/Directory.Build.targets
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/i_array_merge_Target_32BIT_il_d.ilproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/i_array_merge_Target_32BIT_il_r.ilproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/i_array_merge_Target_64BIT_il_d.ilproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/i_array_merge_Target_64BIT_il_r.ilproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/u_array_merge_Target_32BIT_il_d.ilproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/u_array_merge_Target_32BIT_il_r.ilproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/u_array_merge_Target_64BIT_il_d.ilproj
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/u_array_merge_Target_64BIT_il_r.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof32_Target_32Bit_x86_il_d.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof32_Target_32Bit_x86_il_r.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof32_Target_64Bit_and_arm_il_d.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof32_Target_64Bit_and_arm_il_r.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof64_Target_32Bit_x86_il_d.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof64_Target_32Bit_x86_il_r.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof64_Target_64Bit_and_arm_il_d.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof64_Target_64Bit_and_arm_il_r.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof_Target_32Bit_x86_il_d.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof_Target_32Bit_x86_il_r.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof_Target_64Bit_and_arm_il_d.ilproj
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof_Target_64Bit_and_arm_il_r.ilproj
Labels: area-Infrastructure-mono

#65623 Only register composite R2R native image code range once
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/crsttypes.h
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/domainassembly.cpp
Labels: area-crossgen2-coreclr

#66142 Use RegexGenerator in System.Private.Xml
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/Schema/FacetChecker.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/SourceInfo.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlConvert.cs
Labels: area-System.Xml

#65221 [tests] Add MonoApi runtime tests
  src/tests/Interop/CMakeLists.txt
  src/tests/Interop/MonoAPI/Common/MonoAPISupport.cs
  src/tests/Interop/MonoAPI/MonoMono/Directory.Build.props
  src/tests/Interop/MonoAPI/MonoMono/InstallEHCallback.cs
  src/tests/Interop/MonoAPI/MonoMono/InstallEHCallback.csproj
  src/tests/Interop/MonoAPI/MonoMono/PInvokeDetach.cs
  src/tests/Interop/MonoAPI/MonoMono/PInvokeDetach.csproj
  src/tests/Interop/MonoAPI/MonoMono/Thunks.cs
  src/tests/Interop/MonoAPI/MonoMono/Thunks.csproj
  src/tests/Interop/MonoAPI/Native/CMakeLists.txt
  src/tests/Interop/MonoAPI/Native/mono-embedding-api-test/CMakeLists.txt
  src/tests/Interop/MonoAPI/Native/mono-embedding-api-test/api-functions.h
  src/tests/Interop/MonoAPI/Native/mono-embedding-api-test/api-types.h
  src/tests/Interop/MonoAPI/Native/mono-embedding-api-test/mono-embedding-api-test.c
  src/tests/issues.targets
Labels: area-Interop-mono

#66175 Remove the multitarget from ILCompiler.Reflection.R2R
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ILCompiler.Reflection.ReadyToRun.csproj
Labels: area-R2RDump-coreclr

#66190 Rename unixinterface.cpp -> exports.cpp
  src/coreclr/dlls/mscoree/CMakeLists.txt
  src/coreclr/dlls/mscoree/exports.cpp
Labels: area-VM-coreclr

#66192 delete the test file with custom security settings when it's being closed
  src/libraries/Common/tests/TestUtilities/System/IO/FileCleanupTestBase.cs
  src/libraries/Common/tests/TestUtilities/System/IO/PathGenerator.cs
  src/libraries/Common/tests/TestUtilities/TestUtilities.csproj
  src/libraries/System.IO.FileSystem.AccessControl/tests/FileSystemAclExtensionsTests.cs
  src/libraries/System.IO.FileSystem.AccessControl/tests/TempAclDirectory.cs
Labels: area-System.IO, test-enhancement

#65967 [mono] Remove support for nint/nuint/nfloat from mini-native-types.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/builtin-types.cs
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/mini-codegen.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-native-types.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-JIT-mono

#66018 Some more clean up for RegexOptions.NonBacktracking
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/BV.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/BV64Algebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/Algebras/BVAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BDD.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BDDAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BDDRangeConverter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BitVector.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BitVector64Algebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/BitVectorAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/CharSetSolver.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/IBooleanAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/ICharAlgebra.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/MintermGenerator.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/RegexNodeConverter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexSampler.cs
Labels: area-System.Text.RegularExpressions

#65971 Fix DebuggerDisplay for serializer types
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
Labels: area-System.Text.Json

#65863 Fix issues related to JsonSerializerOptions mutation and caching.
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonMetadataServicesConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSerializerContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CacheTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json, breaking-change, needs-breaking-change-doc-created

#66169 Make ReadStack.JsonTypeInfo derivation logic consistent with WriteStack's
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonCollectionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/JsonDictionaryConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.Callback.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ExceptionTests.cs
Labels: area-System.Text.Json

#66160 Update files to remove imhameed
  .github/CODEOWNERS
  .github/fabricbot.json
  docs/area-owners.md
Labels: area-Meta

#64594 Make sure that StressLogAnalyzer works with filtering 64 bit addresses
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin.cpp
Labels: area-GC-coreclr

#66162 Fix catching of generic exception in crossgened shared generic code
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/tests/Regressions/coreclr/GitHub_66005/test66005.cs
  src/tests/Regressions/coreclr/GitHub_66005/test66005.csproj
Labels: area-crossgen2-coreclr

#65790 [wasm] Use INITIAL_MEMORY instead of TOTAL_MEMORY
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
Labels: area-Build-mono

#66178 Clean up stale use of runtextbeg/end in RegexInterpreter
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
Labels: area-System.Text.RegularExpressions

#66195 Fix source generated regex compilation failure due to mismatched notion of atomic
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
Labels: area-System.Text.RegularExpressions

#65919 Keep the volatility of `CLS_VAR`s in rationalization
  src/coreclr/jit/rationalize.cpp
Labels: area-CodeGen-coreclr, community-contribution

#65920 Slightly more aggressive ASG reversal
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr, community-contribution

#66204 Delete `compUnsafeCastUsed`
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr, community-contribution

#65109 Add HostApplicationBuilder
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.cs
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Extensions.Hosting/src/Host.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostApplicationBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostApplicationBuilderSettings.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.netcoreapp.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.notnetcoreapp.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs
  src/libraries/Microsoft.Extensions.Hosting/src/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostApplicationBuilderTests.cs
Labels: new-api-needs-documentation, area-Extensions-Hosting

#66042 [wasm] Add support for symbolicating native traces from JS, using a symbols file
  eng/testing/tests.wasm.targets
  src/mono/sample/wasm/wasm.mk
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/runtime/debug.ts
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/imports.ts
  src/mono/wasm/runtime/method-calls.ts
  src/mono/wasm/runtime/run.ts
  src/mono/wasm/runtime/types/emscripten.ts
  src/mono/wasm/test-main.js
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono

#66217 Rename classes in p/invoke generator to be `LibraryImport`
  docs/design/libraries/LibraryImportGenerator/Pipeline.md
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/AnalyzerDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Comparers.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportData.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGeneratorOptions.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/PInvokeStubContext.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Resources.Designer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Resources.resx
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/ArrayTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/BlittableStructTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/BooleanTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CallingConventionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CharacterTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/Constants.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CustomMarshallingTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/DelegateTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/EnumTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/FunctionPointerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/PointerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/SafeHandleTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/SetLastErrorTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/SpanTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/StringTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AdditionalAttributesOnStub.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AttributeForwarding.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ConvertToLibraryImportAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ConvertToLibraryImportFixerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Diagnostics.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/IncrementalGenerationTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/LibraryImportGeneratorOptionsProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ManualTypeMarshallingAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/TestUtils.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Verifiers/CSharpAnalyzerVerifier.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Verifiers/CSharpCodeFixVerifier.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Verifiers/CSharpVerifierHelper.cs
Labels: area-System.Runtime.InteropServices, source-generator

#66227 Replace CngCommon hash with OneShotHashHelpers
  src/libraries/Common/src/System/Security/Cryptography/DSACng.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDsaCng.HashData.cs
  src/libraries/Common/src/System/Security/Cryptography/RSACng.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngCommon.Hash.cs
Labels: area-System.Security

#66137 Address feedback on fabricbot config for area pods
  .github/fabricbot/Makefile
  .github/fabricbot/README.md
  .github/fabricbot/generated/areapods-dotnet-api-docs.json
  .github/fabricbot/generated/areapods-machinelearning.json
  .github/fabricbot/generated/areapods-runtime.json
  .github/fabricbot/updateAreaPodConfigs.js
Labels: area-Meta

#66235 Revert "Fix issues related to JsonSerializerOptions mutation and caching."
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonMetadataServicesConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSerializerContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CacheTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#65391 [mono][llvm] Fix crashes when methods fail LLVM compilation.
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#66252 Remove unnecessary return
  src/libraries/System.IO.Compression/src/System/IO/Compression/GZipStream.cs
Labels: area-System.IO.Compression, community-contribution

#66211 [mono] Remove SkipVerification support from the runtime
  src/mono/cmake/config.h.in
  src/mono/cmake/configure.cmake
  src/mono/cmake/defines-todo.cmake
  src/mono/mono/eglib/eglib-remap.h
  src/mono/mono/eglib/giconv.c
  src/mono/mono/eglib/glib.h
  src/mono/mono/eglib/test/utf8.c
  src/mono/mono/eventpipe/test/CMakeLists.txt
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-VM-meta-mono

#66208 JIT: add OSR patchpoint strategy, inhibit tail duplication
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#66259 JIT: fix scalability issue in redundant branch optimizer
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#65682 [crossgen2] Promote single byref aot.
  src/coreclr/inc/corinfo.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
Labels: area-CodeGen-coreclr, community-contribution

#66200 Try to remove "-" and "'" from HighCharTable
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
Labels: area-System.Globalization, community-contribution

#66216 Add missing regex position check after BOL optimization
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.MultipleMatches.Tests.cs
Labels: area-System.Text.RegularExpressions

#66077 Fix performance regression in SSL handshake
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
Labels: area-System.Net.Security

#66253 Fix address exposure in forward sub (x86)
  src/coreclr/jit/forwardsub.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_66242/Runtime_66242.cs
  src/tests/JIT/Regression/JitBlue/Runtime_66242/Runtime_66242.csproj
Labels: area-CodeGen-coreclr

#66270 Do not create small constants while morphing cascading addition
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_66269/Runtime_66269.cs
  src/tests/JIT/Regression/JitBlue/Runtime_66269/Runtime_66269.csproj
Labels: area-CodeGen-coreclr, community-contribution

#66135 Count `OBJ/BLK` as memory uses
  src/coreclr/jit/liveness.cpp
  src/tests/JIT/Directed/lifetime/ObjBlkMemLiveness.cs
  src/tests/JIT/Directed/lifetime/ObjBlkMemLiveness.csproj
Labels: area-CodeGen-coreclr, community-contribution

#66002 Merikhamoyan vector intrinsics operators
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#66290 Fix workaround for static virtual methods
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectableMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT-coreclr

#66112 Annotating Native CoreLib library to be AOT friendly
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.CoreRT.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Reflection/RuntimeTypeInfo.cs
  src/coreclr/nativeaot/System.Private.Reflection.Core/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.cs
  src/libraries/Common/src/System/Runtime/InteropServices/Variant.cs
  src/libraries/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
  src/libraries/System.Private.CoreLib/src/System/Array.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/ArrayList.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/SignatureType.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.Core.cs
  src/libraries/System.Private.CoreLib/src/System/Type.cs
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/System.Private.CoreLib/src/System/Array.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/EnumBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/GenericTypeParameterBuilder.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.Mono.cs
Labels: area-System.Reflection, new-api-needs-documentation

#66180 Backport docs fixes for Cbor
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/CborConformanceLevel.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/CborContentException.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Array.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Integer.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Map.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Simple.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Simple.netcoreapp.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.SkipValue.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.String.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Tag.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Array.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Integer.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Map.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Simple.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Simple.netcoreapp.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Simple.netstandard.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.String.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Tag.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.cs
Labels: area-System.Formats.Cbor

#66296 remove invalid System.IO.FileSystem.Watcher tests
  src/libraries/System.IO.FileSystem.Watcher/tests/Args.FileSystemEventArgs.cs
  src/libraries/System.IO.FileSystem.Watcher/tests/Args.RenamedEventArgs.cs
Labels: area-System.IO, test-bug

#66247 Fix a couple issues with `GTF_GLOB_REF` setting
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#66248 Fix issues related to JsonSerializerOptions mutation and caching.
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonMetadataServicesConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSerializerContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CacheTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#65946 [Mono] Intrinsify Convert* for Vector{64, 128} on ARM64
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-LLVM-mono

#66179 Use RegexGenerator in applicable tests
  src/libraries/System.Configuration.ConfigurationManager/tests/Mono/ConfigurationErrorsExceptionTest.cs
  src/libraries/System.Diagnostics.StackTrace/tests/StackTraceTests.cs
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsUserErrors.cs
  src/libraries/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/libraries/System.Linq.Expressions/tests/CompilerTests.cs
  src/libraries/System.Linq.Expressions/tests/DelegateType/GetDelegateTypeTests.cs
  src/libraries/System.Private.DataContractSerialization/src/System.Private.DataContractSerialization.csproj
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Globals.cs
  src/libraries/System.Runtime.Extensions/tests/System/IO/PathTests_Windows.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/ExceptionTests.cs
  src/libraries/System.Runtime/tests/System/Runtime/ExceptionServices/ExceptionDispatchInfoTests.cs
  src/libraries/System.Runtime/tests/System/Text/Unicode/Utf8Tests.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
  src/libraries/System.Runtime/tests/System/Uri.CreateStringTests.cs
Labels: area-Meta, community-contribution

#66284 Use runtime and targeting pack version of System.Diagnostics.DiagnosticSource in Microsoft.Extensions.Logging.
  src/libraries/Microsoft.Extensions.Logging/src/Microsoft.Extensions.Logging.csproj
Labels: area-Extensions-Logging, community-contribution

#66280 Enable RegexOptions.RightToLeft and lookbehinds in compiler / source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Parser.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTreeAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorParserTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexTreeAnalyzerTests.cs
Labels: area-System.Text.RegularExpressions

#66309 Fix missing StringSyntax attribute in Regex ref assembly
  src/libraries/System.Text.RegularExpressions/ref/System.Text.RegularExpressions.cs
Labels: area-System.Text.RegularExpressions, new-api-needs-documentation

#66311 [wasm][aot] Disable `System.Text.RegularExpressions.Unit.Tests`
  src/libraries/tests.proj
Labels: arch-wasm

#66233 [wasm] Rename `$(EmccInitialMemory)` to `$(EmccInitialHeapSize)`
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Build-mono

#66215 Revisiting nullable annotations on caching
  src/libraries/Microsoft.Extensions.Caching.Memory/ref/Microsoft.Extensions.Caching.Memory.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/ref/Microsoft.Extensions.Configuration.Binder.cs
  src/libraries/Microsoft.Extensions.Primitives/ref/Microsoft.Extensions.Primitives.cs
  src/libraries/Microsoft.Extensions.Primitives/src/StringValues.cs
Labels: new-api-needs-documentation, area-Extensions-Caching

#66245 JIT: Optimize movzx after setcc
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr

#66306 Try additional nuget retries
  src/coreclr/scripts/jitutil.py
  src/coreclr/scripts/superpmi_benchmarks.py
Labels: area-CodeGen-coreclr

#65452 Add partial to the enclosing types when running the ConvertToGeneratedDllImport fixer
  src/libraries/System.Runtime.InteropServices/System.Runtime.InteropServices.sln
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/IGeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ConvertToLibraryImportFixerTests.cs
Labels: area-System.Runtime.InteropServices, source-generator

#66312 Fix ConditionalFactAttribute instances in ILPROJ tests
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/i_array_merge_Target_32BIT.il
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/i_array_merge_Target_64BIT.il
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/sizeof_Target_32BIT.il
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/sizeof_Target_64BIT.il
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/u_array_merge_Target_32BIT.il
  src/tests/JIT/Methodical/ELEMENT_TYPE_IU/u_array_merge_Target_64BIT.il
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof32_Target_32Bit_x86.il
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof32_Target_64Bit_and_arm.il
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof64_Target_32Bit_x86.il
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof64_Target_64Bit_and_arm.il
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof_Target_32Bit_x86.il
  src/tests/JIT/Methodical/xxobj/sizeof/sizeof_Target_64Bit_and_arm.il
Labels: area-Infrastructure-coreclr

#66026 Adding Count(ReadOnlySpan<char>) Overloads
  src/libraries/System.Text.RegularExpressions/ref/System.Text.RegularExpressions.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/MatchCollection.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Count.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Match.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Replace.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Split.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Count.Tests.cs
Labels: area-System.Text.RegularExpressions, new-api-needs-documentation

#66303 Disable failing bindhandleinvalid tests
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#66289 Add MultiModule test to issues.targets
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#66213 [mono] Put WeakAttribute support under an ifdef
  src/mono/cmake/config.h.in
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/custom-attrs.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-VM-meta-mono

#66268 [mono][jit] Remove OP_FCONV_TO_I/OP_RCONV_TO_I from the back ends, co…
  src/mono/mono/mini/cpu-amd64.md
  src/mono/mono/mini/cpu-arm.md
  src/mono/mono/mini/cpu-arm64.md
  src/mono/mono/mini/cpu-mips.md
  src/mono/mono/mini/cpu-ppc.md
  src/mono/mono/mini/cpu-ppc64.md
  src/mono/mono/mini/cpu-s390x.md
  src/mono/mono/mini/cpu-sparc.md
  src/mono/mono/mini/cpu-x86.md
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-mips.c
  src/mono/mono/mini/mini-ppc.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-s390x.c
  src/mono/mono/mini/mini-sparc.c
  src/mono/mono/mini/mini-x86.c
Labels: area-Codegen-meta-mono

#66308 Add tests for `ijwhost`
  docs/workflow/testing/host/testing.md
  eng/native/ijw/IJW.cmake
  eng/native/ijw/getRefPackFolderFromArtifacts.ps1
  eng/native/ijw/getRefPackFolderFromSdk.ps1
  src/installer/tests/Assets/TestProjects/ManagedHost/ManagedHost.cs
  src/installer/tests/Assets/TestProjects/ManagedHost/ManagedHost.csproj
  src/installer/tests/HostActivation.Tests/NativeHosting/Ijwhost.cs
  src/native/corehost/test/CMakeLists.txt
  src/native/corehost/test/ijw/CMakeLists.txt
  src/native/corehost/test/ijw/ijw.cpp
  src/native/corehost/test/nativehost/nativehost.cpp
  src/tests/Interop/IJW/CopyConstructorMarshaler/CMakeLists.txt
  src/tests/Interop/IJW/IjwNativeCallingManagedDll/CMakeLists.txt
  src/tests/Interop/IJW/IjwNativeDll/CMakeLists.txt
  src/tests/Interop/IJW/LoadIjwFromModuleHandle/LoadIjwFromModuleHandle.cs
  src/tests/Interop/IJW/LoadIjwFromModuleHandle/LoadIjwFromModuleHandle.csproj
  src/tests/Interop/IJW/NativeVarargs/CMakeLists.txt
Labels: test-enhancement, area-Host

#66292 Mark EncryptionPolicy.NoEncryption and EncryptionPolicy.AllowNoEncryption as obsolete
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/CipherSuitesPolicyPal.Linux.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Android/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslClientAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslServerAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientDefaultEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAllowNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerRequireEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslAuthenticationOptionsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/libraries/System.Net.Security/tests/UnitTests/SslAuthenticationOptionsTests.cs
  src/libraries/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
Labels: area-System.Net.Security, breaking-change, new-api-needs-documentation, needs-breaking-change-doc-created

#66328 Fix instruction hex display for arm/arm64 when W^X is on
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr

#66321 Fix code coverage gaps in RegexGenerator and fix RegexCompiler bug
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexInterpreterCode.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorParserTests.cs
Labels: area-System.Text.RegularExpressions

#64648 [release/6.0] [wasm][debugger] Fixing race condition
  src/mono/mono/component/mini-wasm-debugger.c
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/runtime/library_mono.js
Labels: Servicing-approved, area-Debugger-mono

#66038 Fix NonBacktracking quadratic behavior with deep loops
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/DfaMatchingState.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicNFA.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexBuilder.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexKind.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexMatcher.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexSet.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/TransitionRegex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/TransitionRegexKind.cs
  src/libraries/System.Text.RegularExpressions/src/System/Threading/StackHelper.cs
Labels: area-System.Text.RegularExpressions

#65733 [release/6.0] Build a new version of System.Runtime.Experimental with the correct assembly version
  src/libraries/System.Runtime.Experimental/ref/System.Runtime.Experimental.csproj
Labels: Servicing-approved, area-System.Runtime

#65768 [release/6.0][EventPipe] Fix reverse connection socket leaking to child processes.
  src/coreclr/CMakeLists.txt
  src/coreclr/debug/debug-pal/CMakeLists.txt
  src/coreclr/vm/eventing/eventpipe/CMakeLists.txt
  src/mono/mono/eventpipe/CMakeLists.txt
  src/native/eventpipe/configure.cmake
  src/native/eventpipe/ds-ipc-pal-socket.c
  src/native/eventpipe/ep-rt-config.h
  src/native/eventpipe/ep-shared-config.h.in
Labels: Servicing-approved, area-Tracing-coreclr

#66120 [Release/6.0] Backporting recent fixes related to AVX and suspension.
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
Labels: Servicing-approved, area-VM-coreclr

#65444 Add "[createdump]" prefix to all createdump output and logging for VS4Mac
  src/coreclr/debug/createdump/crashinfo.cpp
  src/coreclr/debug/createdump/crashinfomac.cpp
  src/coreclr/debug/createdump/crashinfounix.cpp
  src/coreclr/debug/createdump/crashreportwriter.cpp
  src/coreclr/debug/createdump/createdump.h
  src/coreclr/debug/createdump/createdumpunix.cpp
  src/coreclr/debug/createdump/createdumpwindows.cpp
  src/coreclr/debug/createdump/dumpname.cpp
  src/coreclr/debug/createdump/dumpwriter.cpp
  src/coreclr/debug/createdump/dumpwriterelf.cpp
  src/coreclr/debug/createdump/dumpwritermacho.cpp
  src/coreclr/debug/createdump/main.cpp
  src/coreclr/debug/createdump/threadinfomac.cpp
  src/coreclr/debug/createdump/threadinfounix.cpp
  src/coreclr/pal/src/thread/process.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#66230 [release/6.0] Fix race conditions in SystemEvents shutdown logic
  src/libraries/Common/src/Interop/Windows/User32/Interop.Constants.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.GetMessage.cs
  src/libraries/Common/src/Interop/Windows/User32/Interop.PostQuitMessage.cs
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/Microsoft.Win32.SystemEvents.Tests.csproj
  src/libraries/Microsoft.Win32.SystemEvents/tests/ShutdownTest.cs
Labels: Servicing-approved, area-Microsoft.Win32

#66221 Partial revert of Maui Install Fix #65904
  eng/pipelines/coreclr/templates/build-perf-maui-apps.yml
Labels: area-Infrastructure-coreclr

#66234 Remove compiler warning suppression
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/jit/eeinterface.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/libunwind/CMakeLists.txt
  src/coreclr/pal/src/libunwind/include/mempool.h
  src/coreclr/pal/src/libunwind/libunwind-version.txt
  src/coreclr/pal/src/libunwind/src/dwarf/Gfind_proc_info-lsb.c
  src/coreclr/pal/src/safecrt/input.inl
  src/coreclr/pal/src/safecrt/internal.h
  src/coreclr/tools/superpmi/superpmi-shared/standardpch.h
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/common.h
  src/coreclr/vm/eehash.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/object.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/virtualcallstub.h
Labels: area-Infrastructure

#66291 Do not propagate RHS flags in block morphing
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr, community-contribution

#66326 Fix some exception messages for BindHandle-like cases
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/tests/baseservices/threading/threadpool/bindhandle/bindhandle1.cs
  src/tests/baseservices/threading/threadpool/bindhandle/bindhandleinvalid.cs
  src/tests/baseservices/threading/threadpool/bindhandle/bindhandleinvalid3.cs
  src/tests/baseservices/threading/threadpool/bindhandle/bindhandleinvalid4.cs
  src/tests/baseservices/threading/threadpool/bindhandle/bindhandleinvalid5.cs
  src/tests/baseservices/threading/threadpool/bindhandle/bindhandleinvalid6.cs
  src/tests/baseservices/threading/threadpool/bindhandle/bindhandlenull.csproj
  src/tests/issues.targets
Labels: area-System.Threading

#66266 Do not mark implicit byrefs with GTF_GLOB_REF
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#63231 First try at implementing newly suggested ctor for providing tighter control over charset
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/MediaTypeHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/StringContent.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/StringContentTest.cs
Labels: area-System.Net.Http, new-api-needs-documentation, community-contribution
