Repository dotnet/runtime, pull requests merged in 2022-07, with the labels that each got.

#71502 Make dotnet-pgo capable of handling dll conflicts by providing deconfliction options
  src/coreclr/tools/dotnet-pgo/CommandLineOptions.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/coreclr/tools/dotnet-pgo/TraceRuntimeDescToTypeSystemDesc.cs
  src/coreclr/tools/dotnet-pgo/TraceTypeSystemContext.cs
Labels: area-crossgen2-coreclr

#71495 Use llvm-objcopy with StripSymbols=true and clang
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: community-contribution, area-NativeAOT-coreclr

#71357 Fix crossgen2 version resilience test
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/tests/readytorun/tests/main.cs
  src/tests/readytorun/tests/mainv1.csproj
  src/tests/readytorun/tests/mainv2.csproj
Labels: area-crossgen2-coreclr

#71474 Delete .NET Native leftovers
  src/coreclr/nativeaot/Runtime/RuntimeInstance.cpp
  src/coreclr/nativeaot/Runtime/RuntimeInstance.h
  src/coreclr/nativeaot/Runtime/TypeManager.cpp
  src/coreclr/nativeaot/Runtime/TypeManager.h
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/Runtime/gcrhscan.cpp
  src/coreclr/nativeaot/Runtime/inc/ModuleHeaders.h
  src/coreclr/nativeaot/Runtime/inc/TargetPtrs.h
  src/coreclr/nativeaot/Runtime/inc/rhbinder.h
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
Labels: area-NativeAOT-coreclr

#71505 [wasm][debugger] Fix get properties from an object of a library without pdb
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/tests/debugger-test-with-pdb-deleted/debugger-test-with-pdb-deleted.csproj
  src/mono/wasm/debugger/tests/debugger-test-with-pdb-deleted/test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
Labels: arch-wasm, area-Debugger-mono

#71483 [wasm] Clean up debugger tests output
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/DebuggerTestSuite/ArrayTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/AssignmentTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/AsyncTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BadHarnessInitTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/CallFunctionOnTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/CustomViewTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DateTimeTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestFirefox.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestSuite.csproj
  src/mono/wasm/debugger/DebuggerTestSuite/DelegateTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EnvironmentVariables.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ExceptionTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/GetPropertiesTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/HarnessTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/HotReloadTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Inspector.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MonoJsTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/PointerTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SetNextIpTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SetVariableValueTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Settings.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SteppingTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/WasmHostProvider.cs
  src/mono/wasm/runtime/startup.ts
  src/tests/BuildWasmApps/Wasm.Debugger.Tests/Wasm.Debugger.Tests.csproj
Labels: arch-wasm, area-Debugger-mono

#71444 Enable CA1727: Use PascalCase for named placeholders
  eng/CodeAnalysis.src.globalconfig
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceLifetime.cs
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/ConsoleLifetime.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: area-Extensions-Hosting

#70735 Make the archives created on Unix have the read permissions by default
  src/libraries/Common/src/System/IO/Compression/ZipArchiveEntryConstants.Unix.cs
  src/libraries/Common/src/System/IO/Compression/ZipArchiveEntryConstants.Windows.cs
  src/libraries/System.IO.Compression.ZipFile/src/System.IO.Compression.ZipFile.csproj
  src/libraries/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchive.Create.Unix.cs
  src/libraries/System.IO.Compression/src/System.IO.Compression.csproj
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.IO.Compression/tests/System.IO.Compression.Tests.csproj
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.Unix.cs
Labels: area-System.IO.Compression, community-contribution

#71523 Fix ordering issue in JSON
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyInfoDictionaryValueList.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
Labels: area-System.Text.Json

#70346 [custom_attrs] Use the image's ALC instead of the default one (#68266)
  src/mono/mono/metadata/custom-attrs.c
  src/mono/mono/metadata/sre.c
Labels: area-VM-meta-mono, community-contribution

#71529 Add tests for contract customization per feedback in #70435
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/TypeInfoResolverFunctionalTests.cs
Labels: area-System.Text.Json

#71484 Fix crash in GSSAPI on macOS
  src/libraries/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
  src/libraries/Common/src/System/Net/Security/Unix/SafeDeleteNegoContext.cs
Labels: area-System.Net.Security, community-contribution

#71534 STJ: Add AggressiveInlining to CheckNotDisposed()
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
Labels: area-System.Text.Json

#71511 [NativeAOT] Remove WaitForSuspend and some ordering cleanups.
  src/coreclr/nativeaot/Runtime/RhVolatile.h
  src/coreclr/nativeaot/Runtime/amd64/AsmMacros.inc
  src/coreclr/nativeaot/Runtime/amd64/PInvoke.S
  src/coreclr/nativeaot/Runtime/amd64/PInvoke.asm
  src/coreclr/nativeaot/Runtime/arm/AsmMacros.h
  src/coreclr/nativeaot/Runtime/arm/PInvoke.S
  src/coreclr/nativeaot/Runtime/arm/PInvoke.asm
  src/coreclr/nativeaot/Runtime/arm64/AsmMacros.h
  src/coreclr/nativeaot/Runtime/arm64/PInvoke.S
  src/coreclr/nativeaot/Runtime/arm64/PInvoke.asm
  src/coreclr/nativeaot/Runtime/i386/AsmMacros.inc
  src/coreclr/nativeaot/Runtime/i386/PInvoke.asm
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/nativeaot/Runtime/threadstore.h
Labels: area-NativeAOT-coreclr

#71428 add basic support for SNI different than URI in H3
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#71544 Fix inlining of ObjectDisposedException.ThrowIf
  src/libraries/System.Private.CoreLib/src/System/ObjectDisposedException.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-System.Runtime

#71542 Fix nullable annotations on new Order{Descending} methods
  src/libraries/System.Linq/ref/System.Linq.cs
  src/libraries/System.Linq/src/System/Linq/OrderBy.cs
Labels: area-System.Linq

#71473 Basic support for stateless linear collection marshalling
  docs/design/libraries/LibraryImportGenerator/UserTypeMarshallingV2.md
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManagedTypeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManualTypeMarshallingHelper.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallerShape.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeSymbolExtensions.cs
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/ElementUnmanagedTypeAttribute.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/ArrayTests.Custom.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.V1.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.V1.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.cs
Labels: area-System.Runtime.InteropServices, source-generator

#71562 [mono][wasm] Updating code owners
  .github/CODEOWNERS
Labels: area-Meta

#71540 [wasm] Don't pollute VS Code TS suggestions with node
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/memory.ts
  src/mono/wasm/runtime/tsconfig.shared.json
  src/mono/wasm/runtime/types.ts
Labels: arch-wasm, area-Build-mono

#69906 Support long pdata unwinding and save_next for floating point regs in ARM64
  src/coreclr/inc/clrnt.h
  src/coreclr/unwinder/arm64/unwinder_arm64.cpp
  src/tests/Exceptions/UnwindFpBleedTest/UnwindFpBleedTest.cs
  src/tests/Exceptions/UnwindFpBleedTest/UnwindFpBleedTest.csproj
  src/tests/issues.targets
Labels: area-VM-coreclr

#71438 Introduce System.Runtime.TieredPGO knob
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/pgo.cpp
Labels: area-VM-coreclr

#71359 Add a config to MIBC format
  src/coreclr/inc/eventtracebase.h
  src/coreclr/nativeaot/Runtime/eventtracebase.h
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ProfileData.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/IBCProfileData.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/IBCProfileParser.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/MIbcProfileParser.cs
  src/coreclr/tools/dotnet-pgo/MibcEmitter.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/mono/mono/eventpipe/ep-rt-mono.c
Labels: area-crossgen2-coreclr

#71504 Improvements to loop hoisting
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#71412 Add support for GetPinnableReference for the new marshaller shapes
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StaticPinnableManagedValueMarshaller.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CustomMarshallingTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/Blittable.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.cs
Labels: area-System.Runtime.InteropServices

#71568 Add arm64 macOS cross-compilation instructions.
  docs/workflow/building/coreclr/cross-building.md
Labels: area-Infrastructure-coreclr

#71015 Various cryptographic allocation improvements
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decrypt.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Encrypt.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.KeyAgree.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/HelpersWindows.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/PkcsHelpers.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs9AttributeObject.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs9ContentType.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs9DocumentDescription.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs9DocumentName.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs9MessageDigest.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs9SigningTime.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ECDsaX509SignatureGenerator.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/RSAPkcs1X509SignatureGenerator.cs
Labels: area-System.Security

#71531 Add `RequiresAssemblyFiles` onto `Marshal.GetHINSTANCE`.
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
Labels: area-Single-File

#70514 Added a new method to the GC API to Get the GC Configurations
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/gcimpl.h
  src/coreclr/gc/gcinterface.h
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/System.Private.CoreLib/src/System/GC.Mono.cs
  src/tests/GC/API/GC/GetConfigurationVariables.cs
  src/tests/GC/API/GC/GetConfigurationVariables.csproj
Labels: area-GC-coreclr, new-api-needs-documentation

#70907 JIT: Run optRedundantBranches twice and try to compute more accurate doms
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#71327 Enable `TYP_STRUCT` `LCL_VAR/LCL_FLD` call args on LA
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#71498 Consume Roslyn with `ref` fields support
  eng/Versions.props
  src/coreclr/System.Private.CoreLib/src/System/TypedReference.CoreCLR.cs
  src/coreclr/inc/dacvars.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/TypedReference.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/SystemVStructClassificator.cs
  src/coreclr/tools/Common/TypeSystem/Common/ExplicitLayoutValidator.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataTypeSystemContext.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/WellKnownType.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Interop/InteropTypes.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/IBCProfileData.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/InstanceFieldLayout.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/Platform.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/ILTestAssembly/InstanceFieldLayout.il
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/InstanceFieldLayoutTests.cs
  src/coreclr/tools/dotnet-pgo/dotnet-pgo.csproj
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/classnames.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/interpreter.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/mlinfo.cpp
  src/coreclr/vm/siginfo.cpp
  src/coreclr/vm/tailcallhelp.cpp
  src/coreclr/vm/vars.cpp
  src/coreclr/vm/vars.hpp
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/ByReference.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TimeSpanFormat.cs
  src/libraries/System.Private.CoreLib/src/System/ReadOnlySpan.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/InvokerEmitUtil.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/LifetimeAnnotationAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/Unsafe.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.cs
  src/libraries/System.Private.CoreLib/src/System/Span.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TypedReference.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/FormatterServicesTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/System.Private.CoreLib/src/System/TypedReference.Mono.cs
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/marshal-shared.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
Labels: area-Meta, CoreClr, Mono

#71585 We should return the error when there is one
  src/coreclr/debug/dbgutil/dbgutil.cpp
Labels: area-Diagnostics-coreclr

#71554 Defer objcopy selection after alt. compiler check
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: community-contribution, area-NativeAOT-coreclr

#71576 [LoongArch64] Fixed the assert error
  src/coreclr/jit/lsraloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution

#71524 Implement type loader support for thread statics
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Runtime/RuntimeInstance.cpp
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/TypeLoaderCallbacks.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/ThreadStatics.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/TypeLoaderExports.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/GenericDictionaryCell.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.StaticsLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormat.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
  src/tests/nativeaot/SmokeTests/DynamicGenerics/DynamicGenerics.main.cs
  src/tests/nativeaot/SmokeTests/DynamicGenerics/rd.xml
Labels: area-NativeAOT-coreclr

#71514 Refactor JsonPropertyInfo initialization infrastructure and implement JsonPropertyInfo.AttributeProvider
  src/libraries/System.Text.Json/src/System/ReflectionExtensions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/CustomJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/SourceGenJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-System.Text.Json

#67345 Add Ubuntu 22.04 to libraries CI run
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries, community-contribution

#71610 [Mono]: Fix EventPipe profiler recursion in class_loading under full AOT (#71143)
  src/coreclr/vm/ClrEtwAllMeta.lst
  src/mono/mono/eventpipe/ep-rt-mono.c
Labels: area-Diagnostics-mono

#68648 [mono][eventpipe] Write primitive types and UTF-16 strings in little endian order
  src/coreclr/scripts/genEventPipe.py
  src/coreclr/scripts/genEventing.py
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/mono/mono/eglib/giconv.c
  src/mono/mono/eglib/glib.h
  src/mono/mono/eventpipe/CMakeLists.txt
  src/mono/mono/eventpipe/ds-rt-mono.h
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/native/eventpipe/ds-dump-protocol.c
  src/native/eventpipe/ds-eventpipe-protocol.c
  src/native/eventpipe/ds-process-protocol.c
  src/native/eventpipe/ds-protocol.c
  src/native/eventpipe/ds-types.h
  src/native/eventpipe/ep-block.c
  src/native/eventpipe/ep-config.c
  src/native/eventpipe/ep-event-source.c
  src/native/eventpipe/ep-file.c
  src/native/eventpipe/ep-metadata-generator.c
  src/native/eventpipe/ep-provider.c
  src/native/eventpipe/ep-rt.h
  src/native/eventpipe/ep-stack-contents.h
  src/native/eventpipe/ep-stream.c
  src/native/eventpipe/ep-stream.h
  src/native/eventpipe/ep.h
Labels: area-Tracing-coreclr, community-contribution

#71572 Throw protocol error returned by GoAway on HTTP/2 connection negotation
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http

#71527 Get S.C.Immutable.Tests running with NativeAOT
  src/libraries/System.Collections.Immutable/tests/ImmutableArrayBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableArrayTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableDictionaryBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableDictionaryTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableHashSetBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableHashSetTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableListBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableListTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableQueueTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableSortedDictionaryBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableSortedDictionaryTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableSortedSetBuilderTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableSortedSetTest.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableStackTest.cs
  src/libraries/System.Collections.Immutable/tests/System.Collections.Immutable.Tests.csproj
  src/libraries/System.Collections.Immutable/tests/default.rd.xml
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#71617 Handle out-of-bounds access to locals in block morphing
  src/coreclr/jit/morphblock.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_71601/Runtime_71601.cs
  src/tests/JIT/Regression/JitBlue/Runtime_71601/Runtime_71601.csproj
Labels: area-CodeGen-coreclr, community-contribution

#71577 [LoongArch64] Fixed the assert error within the "CodeGen::genCodeForNullCheck()"
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/emitloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution

#71612 Ensure JsonPropertyInfo<T> matches property type and not the converter type
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/ReflectionExtensions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyInfoDictionaryValueList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/CastingConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/CustomJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonPropertyInfo.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#71630 Ensure JsonTypeInfo.Configure() is called once even when exceptions are thrown
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
Labels: area-System.Text.Json

#71639 Update area-owners.md
  docs/area-owners.md
Labels: area-Meta

#69715 Add a build lane for FreeBSD Mono.
  eng/pipelines/runtime-staging.yml
Labels: os-freebsd, area-Build-mono

#71616 Add Conditional nodes and Arm64 code generation
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/gtstructs.h
Labels: area-CodeGen-coreclr, community-contribution

#71405 Refactoring IShiftOperators to take a `TOther`
  src/coreclr/vm/appdomain.cpp
  src/libraries/Common/tests/System/GenericMathHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Byte.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Private.CoreLib/src/System/Int16.cs
  src/libraries/System.Private.CoreLib/src/System/Int32.cs
  src/libraries/System.Private.CoreLib/src/System/Int64.cs
  src/libraries/System.Private.CoreLib/src/System/IntPtr.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IBinaryInteger.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IShiftOperators.cs
  src/libraries/System.Private.CoreLib/src/System/SByte.cs
  src/libraries/System.Private.CoreLib/src/System/UInt128.cs
  src/libraries/System.Private.CoreLib/src/System/UInt16.cs
  src/libraries/System.Private.CoreLib/src/System/UInt32.cs
  src/libraries/System.Private.CoreLib/src/System/UInt64.cs
  src/libraries/System.Private.CoreLib/src/System/UIntPtr.cs
  src/libraries/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, new-api-needs-documentation

#71626 Release global lock before throwing exceptions from the Unix WaitSystem
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.ThreadWaitInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.WaitableObject.Unix.cs
Labels: area-NativeAOT-coreclr

#68685 Blazor Hybrid iOS & Mac Catalyst Performance Profiling
  eng/pipelines/coreclr/templates/build-perf-maui-apps.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/testing/performance/ios_scenarios.proj
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-coreclr

#70926 [mono][aot] Avoid inflating methods with instantiation with a wrong a…
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#70867 [mono][wasm] Add a minimal version of gsharedvt for llvmonly, enabled…
  src/mono/System.Private.CoreLib/src/System/Delegate.Mono.cs
  src/mono/mono/metadata/marshal-lightweight.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object-offsets.h
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/llvmonly-runtime.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: arch-wasm, area-Codegen-AOT-mono

#70271 Optimize multi-dimensional array access
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/compphases.h
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/gtstructs.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr

#71388 Fix: using default value for nullable enum parameter throws ArgumentException
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs
  src/libraries/System.Reflection/tests/MethodInfoTests.cs
Labels: area-System.Reflection

#71633 Make getTypeForPrimitiveValueClass treat different signs as different types
  src/coreclr/vm/jitinterface.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_71632/Runtime_71632.cs
  src/tests/JIT/Regression/JitBlue/Runtime_71632/Runtime_71632.csproj
Labels: area-CodeGen-coreclr, community-contribution

#71399 Do not spill "mis-sized" struct args passed on stack
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Directed/StructABI/MisSizedStructs_ArmArch.cs
  src/tests/JIT/Directed/StructABI/MisSizedStructs_ArmArch.csproj
  src/tests/JIT/Directed/StructABI/MisSizedStructs_ArmSplit.cs
Labels: area-CodeGen-coreclr, community-contribution

#71669 Call stateless free for linear collection marshallers
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomTypeMarshallingStrategy.cs
Labels: area-System.Runtime.InteropServices, source-generator

#71660 Hold stop-go lock when requesting CCW
  src/coreclr/debug/di/rsappdomain.cpp
Labels: area-Diagnostics-coreclr

#71501 Use crypto.subtle for AES on Browser WASM
  src/libraries/Common/src/Interop/Browser/System.Security.Cryptography.Native.Browser/Interop.Sign.cs
  src/libraries/Common/src/Interop/Browser/System.Security.Cryptography.Native.Browser/Interop.SubtleCrypto.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesContractTests.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Aes.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesImplementation.Browser.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesImplementation.NonBrowser.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesManagedTransform.Browser.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesSubtleCryptoTransform.Browser.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACHashProvider.Browser.Native.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashProviderDispenser.Browser.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHAHashProvider.Browser.Native.cs
  src/libraries/System.Security.Cryptography/tests/AesTests.Browser.cs
  src/mono/wasm/runtime/cjs/dotnet.cjs.lib.js
  src/mono/wasm/runtime/crypto-worker.ts
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/workers/dotnet-crypto-worker.js
  src/native/libs/System.Security.Cryptography.Native.Browser/pal_crypto_webworker.c
  src/native/libs/System.Security.Cryptography.Native.Browser/pal_crypto_webworker.h
Labels: arch-wasm, area-System.Security

#71634 Disable a test for ilasm roundtripping
  src/tests/profiler/rejit/rejit.csproj
Labels: area-CodeGen-coreclr

#71615 JIT: Avoid reordering operands in fgMorphModToSubMulDiv
  src/coreclr/jit/compiler.h
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_71600/Runtime_71600.cs
  src/tests/JIT/Regression/JitBlue/Runtime_71600/Runtime_71600.csproj
Labels: area-CodeGen-coreclr

#71686 Simplify CEEInfo::getTypeForPrimitiveValueClass
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#71673 Don't set CORINFO_FLG_CUSTOMLAYOUT for auto-layout structs
  src/coreclr/vm/classlayoutinfo.cpp
Labels: area-CodeGen-coreclr

#71687 JIT: Fix generating unrepresentable nullchecks on ARM64
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_71687/Runtime_71687.cs
  src/tests/JIT/Regression/JitBlue/Runtime_71687/Runtime_71687.csproj
Labels: area-CodeGen-coreclr

#71326 Use in-tree ilasm to run test suite natively on s390x
  Directory.Build.props
Labels: area-Infrastructure-libraries, community-contribution

#71650 Simplify JsonPropertyInfo list implementation and expose IsExtensionData properties
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.KeyCollection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.ValueCollection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyInfoDictionaryValueList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ConfigurationList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/SourceGenJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
Labels: area-System.Text.Json

#71682 Update design and expose new attributes for the CustomTypeMarshaller support
  .editorconfig
  docs/design/libraries/LibraryImportGenerator/UserTypeMarshallingV2.md
  eng/generators.targets
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Windows/CryptUI/Interop.CryptUIDlgCertificate.cs
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp.cs
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp_types.cs
  src/libraries/Common/src/Interop/Windows/WinMm/Interop.waveOutGetDevCaps.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WinsockBSD.cs
  src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/UnsafeNativeMethods.cs
  src/libraries/System.Drawing.Common/src/Interop/Windows/Interop.Gdi32.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/CustomMarshallerAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/MarshalMode.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/CustomTypeMarshallerAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManualTypeMarshallingHelper.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallerShape.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Microsoft.Interop.SourceGeneration.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/ContiguousCollectionMarshallerAttribute.cs
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/CustomMarshallerAttribute.cs
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/ElementUnmanagedTypeAttribute.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CustomMarshallingTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation, source-generator

#71013 DefaultBinder named parameter support skipping default parameters
  src/libraries/System.Private.CoreLib/src/System/DefaultBinder.cs
  src/libraries/System.Reflection/tests/DefaultBinderTests.cs
  src/libraries/System.Reflection/tests/System.Reflection.Tests.csproj
Labels: area-System.Reflection

#71602 [wasm] WBT: Enable playwright based tests
  src/tests/BuildWasmApps/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmTemplateTests.cs
Labels: arch-wasm, area-Build-mono

#71670 Use OS-provided RSA OAEP implementation for Android
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Rsa.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAndroid.cs
  src/libraries/Common/src/System/Security/Cryptography/RsaPaddingProcessor.cs
  src/native/libs/System.Security.Cryptography.Native.Android/pal_jni.c
  src/native/libs/System.Security.Cryptography.Native.Android/pal_jni.h
  src/native/libs/System.Security.Cryptography.Native.Android/pal_rsa.c
  src/native/libs/System.Security.Cryptography.Native.Android/pal_rsa.h
Labels: area-System.Security, os-android

#71653 Polyfill the incremental generator ForAttributeWithMetadataName from roslyn (for JsonGenerator).
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ValueListBuilder.Pop.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Roslyn3.11.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Roslyn4.0.cs
  src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.Roslyn4.0.csproj
  src/libraries/System.Text.RegularExpressions/gen/System.Text.RegularExpressions.Generator.csproj
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/System.Text.RegularExpressions.Unit.Tests.csproj
Labels: area-System.Text.Json

#71457 Allow UTF-8 BOM in BinaryData When Deserializing
  src/libraries/System.Memory.Data/src/System/BinaryData.cs
  src/libraries/System.Memory.Data/tests/BinaryDataTests.cs
Labels: area-System.Memory, community-contribution

#71690 Add host.pkg to DefaultHostSubsets
  eng/Subsets.props
Labels: area-Infrastructure-libraries

#71695 Mark ILVerify as AnyCPU
  src/coreclr/tools/ILVerification/ILVerification.csproj
  src/coreclr/tools/ILVerify/ILVerify.csproj
Labels: area-ILVerification

#71436 [debugger] Fix debugging on Mac and iOS
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-Debugger-mono

#71659 Adjust weights of blocks with profile inside loops in non-profiled methods
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#71571 On 64 bit platforms, "stelem.ref" and "ldelema" ignore the high bits of a native int index
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/readytorun.h
  src/coreclr/jit/importer.cpp
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/CompilerServices/Unsafe.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/Runtime/inc/ModuleHeaders.h
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/metasig.h
  src/tests/JIT/Directed/Arrays/nintindexoutofrange.cs
  src/tests/JIT/Directed/Arrays/nintindexoutofrange.csproj
  src/tests/issues.targets
Labels: area-VM-coreclr

#71721 JSON tests for creating recursive types with contract resolver
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
Labels: area-System.Text.Json

#71691 Exclude AssemblyStripper from source-build
  src/tasks/tasks.proj
Labels: area-Infrastructure-mono

#71730 Check for V2 shapes on string marshallers
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
Labels: area-System.Runtime.InteropServices, source-generator

#71729 Leverage compiler attributes for snippets identification
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/TestUtils.cs
Labels: area-System.Runtime.InteropServices

#71675 TypedByReference should be treated as a normal valuetype for calling convention purposes
  src/coreclr/vm/callingconvention.h
  src/tests/Regressions/coreclr/GitHub_42732/test42732.cs
  src/tests/Regressions/coreclr/GitHub_42732/test42732.csproj
Labels: area-VM-coreclr

#71163 Using /unicode when running ildasm.exe roundtrip tests
  src/tests/Common/CLRTest.Jit.targets
Labels: area-Infrastructure-mono

#71724 Handle stateless collection marshalling with non-blittable elements
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatelessMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/ArrayTests.Custom.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/ArrayTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/Arrays.cs
Labels: area-System.Runtime.InteropServices, source-generator

#70054 Ensure side effects get spilled for the various hwintrinsic and simdashwintrinsic nodes
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsic.h
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/tests/JIT/Regression/JitBlue/Runtime_54956/Runtime_54956.cs
  src/tests/JIT/Regression/JitBlue/Runtime_54956/Runtime_54956.csproj
Labels: area-CodeGen-coreclr

#71728 Fixing public field order for System.Numerics types
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
Labels: area-System.Numerics, new-api-needs-documentation

#71742 Improve objcopy detection
  eng/native/configuretools.cmake
Labels: area-Infrastructure-coreclr, community-contribution

#71479 Update ILToNativeMap event to include IL version
  src/coreclr/inc/eventtracebase.h
  src/coreclr/vm/ClrEtwAll.man
  src/coreclr/vm/eventtrace.cpp
Labels: area-Tracing-coreclr

#71749 Make things work for arrays of function pointers
  src/coreclr/tools/Common/Compiler/NativeAotNameMangler.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectableFieldNode.cs
Labels: area-NativeAOT-coreclr

#71734 [mono] Avoid calling mono_metadata_type_hash () on the container clas…
  src/mono/mono/metadata/metadata.c
Labels: area-VM-meta-mono

#71546 Use ObjectDisposedException.ThrowIf in more places
  src/libraries/Common/src/System/IO/Compression/ZLibNative.cs
  src/libraries/System.Collections.Concurrent/src/Resources/Strings.resx
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchive.cs
  src/libraries/System.IO.Pipes/src/Microsoft/Win32/SafeHandles/SafePipeHandle.Unix.cs
  src/libraries/System.Memory/src/System/Buffers/ArrayMemoryPool.ArrayMemoryPoolBuffer.cs
  src/libraries/System.Memory/src/System/ThrowHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/DelegatingHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMessageInvoker.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Managed/HttpResponseStream.Managed.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicStream.cs
  src/libraries/System.Net.Requests/src/System/Net/HttpWebResponse.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NegotiateStream.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.References.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Runtime.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DSACryptoServiceProvider.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDiffieHellmanCngPublicKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/IncrementalHash.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSACryptoServiceProvider.Windows.cs
  src/libraries/System.Threading/src/Resources/Strings.resx
  src/libraries/System.Threading/src/System/Threading/Barrier.cs
  src/libraries/System.Threading/src/System/Threading/CountdownEvent.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/CommittableTransaction.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/DependentTransaction.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Transaction.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionInterop.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionScope.cs
Labels: area-Meta

#71541 #37093 disable Reciprocal test only for Android x86
  src/libraries/System.Runtime.Numerics/tests/BigInteger/ctor.cs
  src/libraries/System.Runtime.Numerics/tests/ComplexTests.cs
Labels: area-System.Numerics

#71747 Move ICustomTypeMarshallingStrategy implementations into separate files
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CustomNativeTypeMarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomNativeTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ICustomTypeMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatefulMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatelessMarshallingStrategy.cs
Labels: area-System.Runtime.InteropServices, source-generator

#71512 Unix arm64 atomics
  eng/native/configurecompiler.cmake
  src/coreclr/debug/createdump/datatarget.cpp
  src/coreclr/dlls/mscordbi/mscordbi.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/vm/codeman.cpp
Labels: arch-arm64, area-PAL-coreclr

#71743 Remove GeneratePackageOnBuild missed on branding PR
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
Labels: area-Infrastructure-libraries

#71269 [Mono] Fix all remaining C4018 warnings and enable the check during build
  src/mono/cmake/config.h.in
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/component/debugger-engine.c
  src/mono/mono/component/event_pipe.c
  src/mono/mono/eglib/giconv.c
  src/mono/mono/eglib/glib.h
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/debug-helpers.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/marshal-lightweight.c
  src/mono/mono/metadata/marshal-shared.c
  src/mono/mono/metadata/mono-debug.c
  src/mono/mono/metadata/seq-points-data.c
  src/mono/mono/metadata/sgen-mono.c
  src/mono/mono/metadata/sgen-new-bridge.c
  src/mono/mono/metadata/sgen-stw.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/debug-mini.c
  src/mono/mono/mini/decompose.c
  src/mono/mono/mini/dominators.c
  src/mono/mono/mini/dwarfwriter.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/ir-emit.h
  src/mono/mono/mini/liveness.c
  src/mono/mono/mini/local-propagation.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-arm-gsharedvt.c
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm64-gsharedvt.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-exceptions.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-x86-gsharedvt.c
  src/mono/mono/mini/mini-x86.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/ssa.c
  src/mono/mono/profiler/helper.c
  src/mono/mono/sgen/sgen-cardtable.c
  src/mono/mono/sgen/sgen-debug.c
  src/mono/mono/sgen/sgen-internal.c
  src/mono/mono/sgen/sgen-los.c
  src/mono/mono/sgen/sgen-marksweep.c
  src/mono/mono/sgen/sgen-pinning.c
  src/mono/mono/sgen/sgen-thread-pool.c
  src/mono/mono/utils/hazard-pointer.c
  src/mono/mono/utils/mono-flight-recorder.c
  src/mono/mono/utils/mono-log-flight-recorder.c
  src/mono/mono/utils/mono-threads.c
  src/mono/mono/utils/monobitset.c
  src/mono/mono/utils/os-event-win32.c
Labels: area-VM-meta-mono

#70165 Fix long latencies in `ReaderWriterLockSlim` lock operations due to `Sleep(1)`
  src/libraries/System.Private.CoreLib/src/System/Threading/ReaderWriterLockSlim.cs
Labels: area-System.Threading

#71651 Polyfill the incremental generator ForAttributeWithMetadataName from roslyn (for LoggingGenerator).
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Roslyn3.11.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Roslyn4.0.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Microsoft.Extensions.Logging.Generators.Roslyn4.0.csproj
Labels: area-Extensions-Logging

#71726 Preparatory changes for enabling direct decomposition of promoted locals into `FIELD_LIST`s on ARM
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#71567 Updating a few BitConverter APIs to be intrinsic
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/utils.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/libraries/System.Private.CoreLib/src/System/BitConverter.cs
Labels: area-CodeGen-coreclr

#71536 Handle some rare scenarios in local morph
  src/coreclr/jit/lclmorph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#71493 Ensure that CreateChecked, CreateSaturating, and CreateTruncating are publicly exposed
  src/libraries/System.Private.CoreLib/src/System/Byte.cs
  src/libraries/System.Private.CoreLib/src/System/Decimal.cs
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Private.CoreLib/src/System/Int16.cs
  src/libraries/System.Private.CoreLib/src/System/Int32.cs
  src/libraries/System.Private.CoreLib/src/System/Int64.cs
  src/libraries/System.Private.CoreLib/src/System/IntPtr.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NFloat.cs
  src/libraries/System.Private.CoreLib/src/System/SByte.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Private.CoreLib/src/System/UInt128.cs
  src/libraries/System.Private.CoreLib/src/System/UInt16.cs
  src/libraries/System.Private.CoreLib/src/System/UInt32.cs
  src/libraries/System.Private.CoreLib/src/System/UInt64.cs
  src/libraries/System.Private.CoreLib/src/System/UIntPtr.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/Complex.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Numerics, new-api-needs-documentation

#71637 Implement GetIndexOfFirstNonAsciiChar intrinsic on AArch64
  src/libraries/System.Private.CoreLib/src/System/Text/ASCIIUtility.cs
Labels: area-System.Text.Encoding, community-contribution

#71462 Return receive flags from ReceiveMessageFromAsync on Windows
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveMessageFrom.cs
Labels: area-System.Net.Sockets

#71230 Obsolete Create(string) cryptographic factory methods
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Aes.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AsymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DES.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DSA.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDiffieHellman.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDsa.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMAC.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/KeyedHashAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MD5.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RC2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSA.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RandomNumberGenerator.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Rijndael.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA1.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA256.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA384.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA512.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/TripleDES.cs
  src/libraries/System.Security.Cryptography/tests/CryptoConfigTests.cs
  src/libraries/System.Security.Cryptography/tests/ECDsaTests.cs
Labels: area-System.Security, breaking-change, needs-breaking-change-doc-created

#70047 Optimize `System.Reflection.Metadata.ByteSequenceComparer`.
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/ByteSequenceComparer.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/Hash.cs
  src/libraries/System.Reflection.Metadata/tests/Utilities/HashTests.cs
Labels: area-System.Reflection.Metadata, community-contribution

#71263 Add an ETW event for reporting richer debug information back
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/cordebuginfo.h
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/eventtracebase.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/jit/ICorJitInfo_API_names.h
  src/coreclr/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/debuginfo.cpp
  src/coreclr/jit/debuginfo.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/morph.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/ClrEtwAll.man
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/debuginfostore.cpp
  src/coreclr/vm/debuginfostore.h
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-CodeGen-coreclr

#71746 Remove implicit fallback to reflection-based serialization
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/CustomJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonParameterInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/PolymorphicTypeResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/MetadataTests.Options.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#71470 Update all internal marshallers to the new model
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.LsaLookupNames2.cs
  src/libraries/Common/src/Interop/Windows/WebSocket/Interop.Structs.cs
  src/libraries/Common/src/System/Runtime/InteropServices/HandleRefMarshaller.cs
  src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/UnsafeNativeMethods.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Image.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/BitmapData.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/ColorMatrix.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/MetafileHeaderEmf.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/MetafileHeaderWmf.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/WmfPlaceableFileHeader.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManualTypeMarshallingHelper.cs
Labels: area-System.Runtime.InteropServices, source-generator

#71750 Silence SPMI replay REL32 reloc warning on 32-bit
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.h
Labels: area-CodeGen-coreclr

#71781 [PERF][MAUI] Changed the number of Maui iOS Blazor startups from 7 to 5.
  eng/testing/performance/ios_scenarios.proj
Labels: area-Infrastructure-libraries

#71788 Support stateful linear collection marshalling
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManualTypeMarshallingHelper.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallerShape.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallerHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/NonBlittableElementsMarshalling.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatefulMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatelessMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/ArrayTests.Custom.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/SpanTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.cs
Labels: area-System.Runtime.InteropServices, source-generator

#71803 Delete invalid GVM analysis optimization
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GVMDependenciesNode.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
Labels: area-NativeAOT-coreclr

#71802 Detect generic recursion pattern in S.Linq.Parallel
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/LazyGenerics/GraphBuilder.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
Labels: area-NativeAOT-coreclr

#71759 JIT: Handle GTF_REVERSE_OPS in fgMorphModToSubMulDiv
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#71767 JIT: Remove some fgWalkTree uses
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#71455 Delete the zero-offset field sequence map
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/compmemkind.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr, community-contribution

#71765 Use file-scoped types in RegexGenerator output
  eng/Versions.props
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/System.Text.RegularExpressions.Tests.csproj
Labels: area-System.Text.RegularExpressions

#71647 Tar, Zip: respect umask when creating files.
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.Unix.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.Windows.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.cs
  src/libraries/System.IO.Compression.ZipFile/src/System.IO.Compression.ZipFile.csproj
  src/libraries/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchiveEntry.Extract.Unix.cs
  src/libraries/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchiveEntry.Extract.cs
  src/libraries/System.IO.Compression.ZipFile/tests/System.IO.Compression.ZipFile.Tests.csproj
  src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Unix.cs
Labels: area-System.IO, community-contribution

#71792 Make sure the struct field offset matches with that of parent during morphing
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#70620 Reduce allocations when using DataContractSerializer with SurrogateTypes
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
Labels: area-Serialization, community-contribution

#71760 Tar: for directories, use a default mask that has the 'x' bit.
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Write.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHelpers.cs
  src/libraries/System.Formats.Tar/tests/TarTestsBase.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.File.Tests.Unix.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.File.Tests.Unix.cs
Labels: area-System.IO, community-contribution

#71787 [mono] Update MonoAOTCompiler to provide reference assemblies location
  src/mono/sample/HelloWorld/HelloWorld.csproj
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Labels: area-Infrastructure-mono

#71745 Re-enable test now that the msbuild fix has propagated
  src/tests/reflection/GenericAttribute/GenericAttributeMetadata.il
  src/tests/reflection/GenericAttribute/GenericAttributeTests.cs
Labels: area-TypeSystem-coreclr

#71834 [wasm] fix events for V8
  src/mono/wasm/runtime/pthreads/worker/events.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#71663 Less aggressive `stfld` spilling
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_71638/Runtime_71638.il
  src/tests/JIT/Regression/JitBlue/Runtime_71638/Runtime_71638.ilproj
Labels: area-CodeGen-coreclr, community-contribution

#71844 Disable Runtime_57606 on win-arm32
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#71837 Update Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
Labels: area-System.Runtime.InteropServices

#71796 Check for V2 shapes on array marshallers
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
Labels: area-System.Runtime.InteropServices, source-generator

#71797 Add missing APIs to contract customization
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ConfigurationList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonParameterInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/PolymorphicTypeResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStackFrame.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonPropertyInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/TypeInfoResolverFunctionalTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#71739 Always expand "obj is ExactClass" even in cold blocks
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#71842 Fix stack overflow from start set calculation
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexBuilder.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#71846 Add/implement ObsoletedInOSPlatformAttribute.
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/PlatformAttributes.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Runtime/Versioning/OSPlatformAttributeTests.cs
Labels: area-Meta, new-api-needs-documentation

#71850 Add basic regression testing for .NET 6 source generated JsonSerializerContext.
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.ClassWithCustomConverter.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.DateTimeOffset.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.DictionaryStringHighLowTemps.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.GetJsonTypeInfo.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.HighLowTemps.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.Int32.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.ListDateTimeOffset.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.PropertyNames.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.String.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.StringArray.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.WeatherForecastWithPOCOs.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60/Net60GeneratedContext.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net60RegressionTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/README.md
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#71393 Add an Azure NPM registry
  src/libraries/System.Net.Http/tests/FunctionalTests/.npmrc
  src/libraries/System.Net.WebSockets.Client/tests/.npmrc
  src/mono/sample/wasm/browser-nextjs/.npmrc
  src/mono/sample/wasm/browser-webpack/.npmrc
  src/mono/sample/wasm/console-node-es6/.npmrc
  src/mono/sample/wasm/console-node-ts/.npmrc
  src/mono/wasm/runtime/.npmrc
  src/mono/wasm/wasm.proj
Labels: area-Infrastructure

#71821 Enabled `System.ComponentModel.TypeConverter.Tests`.
  src/libraries/System.ComponentModel.TypeConverter/tests/ILLink.Descriptors.xml
  src/libraries/System.ComponentModel.TypeConverter/tests/XTypeDescriptionProviderTests.cs
Labels: arch-wasm, area-System.ComponentModel

#71465 Move _OOP_find_proc_info to libunwind
  src/coreclr/pal/src/exception/remote-unwind.cpp
  src/native/external/libunwind-version.txt
  src/native/external/libunwind.cmake
  src/native/external/libunwind/doc/Makefile.am
  src/native/external/libunwind/doc/unw_get_proc_info_in_range.man
  src/native/external/libunwind/doc/unw_get_proc_info_in_range.tex
  src/native/external/libunwind/include/libunwind-common.h.in
  src/native/external/libunwind/src/CMakeLists.txt
  src/native/external/libunwind/src/Makefile.am
  src/native/external/libunwind/src/mi/Gget_proc_info_in_range.c
  src/native/external/libunwind/src/mi/Lget_proc_info_in_range.c
  src/native/external/libunwind/tests/check-namespace.sh.in
  src/native/external/libunwind_extras/CMakeLists.txt
  src/native/external/libunwind_extras/oop/_OOP_internal.h
Labels: area-PAL-coreclr, community-contribution

#71845 Handle unary operator GT_CNEG_LT in few code paths
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#71768 Enable Rfc2898DeriveBytes on Browser WASM
  src/libraries/Common/src/Interop/Browser/System.Security.Cryptography.Native.Browser/Interop.SubtleCrypto.cs
  src/libraries/Common/src/System/Security/Cryptography/HashOneShotHelpers.cs
  src/libraries/Common/src/System/Security/Cryptography/Helpers.cs
  src/libraries/Common/src/System/Security/Cryptography/PasswordBasedEncryption.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesSubtleCryptoTransform.Browser.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACHashProvider.Browser.Native.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Pbkdf2Implementation.Browser.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Pbkdf2Implementation.Managed.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHAHashProvider.Browser.Native.cs
  src/libraries/System.Security.Cryptography/tests/HKDFTests.cs
  src/libraries/System.Security.Cryptography/tests/Rfc2898OneShotTests.cs
  src/libraries/System.Security.Cryptography/tests/Rfc2898Tests.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.txt
  src/mono/wasm/runtime/cjs/dotnet.cjs.lib.js
  src/mono/wasm/runtime/crypto-worker.ts
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/workers/dotnet-crypto-worker.js
  src/native/libs/System.Security.Cryptography.Native.Browser/pal_crypto_webworker.c
  src/native/libs/System.Security.Cryptography.Native.Browser/pal_crypto_webworker.h
Labels: arch-wasm, area-System.Security, new-api-needs-documentation, cryptographic-docs-impact

#71820 Do not throw BadImageFormat from the type system
  src/coreclr/tools/Common/TypeSystem/Interop/MethodDesc.Interop.cs
Labels: area-crossgen2-coreclr

#71551 [wasm] JSImport and JSExport code gen
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Runtime.InteropServices.JavaScript/System.Runtime.InteropServices.JavaScript.sln
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/.gitignore
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/Directory.Build.props
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/AttributeData.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Comparers.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Constants.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSGeneratedStatements.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSGeneratorOptions.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportStubContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSManagedTypeInfo.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSMarshallingAttributeInfoParser.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSMarshallingInfo.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSStubCodeContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSTypeFlags.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/KnownManagedType.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/LanguageSupport.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/ArrayJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/ArraySegmentJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/BaseJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/EmptyJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/FuncJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/IJSMarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/NullableJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/PrimitiveJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/SpanJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/TaskJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/VoidGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/MethodSignatureDiagnosticLocations.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/UnreachableException.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/Compiles.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/Fails.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/JSImportGenerator.Unit.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/JSTestUtils.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/StubCodeContext.cs
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#71598 Enable `TYP_STRUCT` `LCL_VAR/LCL_FLD` call args on ARM
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#71859 Use HashCode.Combine instead of ValueTuple.GetHashCode in MatchingState
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/MatchingState.cs
Labels: area-System.Text.RegularExpressions

#71864 Use the portable timer implementation in CoreCLR
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Threading/Timer.CoreCLR.cs
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/inc/dacvars.h
  src/coreclr/inc/gfunc_list.h
  src/coreclr/inc/utilcode.h
  src/coreclr/vm/comthreadpool.cpp
  src/coreclr/vm/comthreadpool.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/threadpoolrequest.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/win32threadpool.cpp
  src/coreclr/vm/win32threadpool.h
  src/libraries/System.Private.CoreLib/src/System/Threading/TimerQueue.Portable.cs
Labels: area-System.Threading

#71417 Use u8 string in CultureNames
  eng/Versions.props
  src/libraries/System.Private.CoreLib/src/System/Globalization/IcuLocaleData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/IcuLocaleData.generator.cs
Labels: area-System.Globalization, community-contribution

#70693 [wasm] Bump emscripten to 3.1.12
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/wasm-library-aot-tests.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime-staging.yml
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CreateFromFile.Tests.cs
  src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CreateNew.Tests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ILLink.Descriptor.xml
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/sendtohelix-wasm.targets
  src/mono/CMakeLists.txt
  src/mono/wasm/emscripten-version.txt
  src/mono/wasm/wasm.proj
  src/native/libs/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
Labels: arch-wasm, area-Build-mono

#71878 Move System.Drawing files from Common to System.Drawing.Primitives
  src/libraries/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/libraries/System.Drawing.Primitives/src/System/Drawing/ColorTranslator.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/KnownColor.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/KnownColorTable.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/SystemColors.cs
Labels: area-System.Drawing, community-contribution

#71873 Convert a few trivial Type, RuntimeType and Enum FCalls to C#
  src/coreclr/System.Private.CoreLib/src/System/Enum.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/Type.CoreCLR.cs
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/reflectioninvocation.h
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
Labels: area-System.Reflection
