Repository dotnet/runtime, pull requests merged in 2022-01, with the labels that each got.

#63248 Update issue suppressions
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#63263 [mono][wasm] Remove unused targets from wasm/Makefile.
  src/mono/wasm/Makefile
Labels: area-Infrastructure-mono

#62808 [release/6.0] Add runtime-community.yml pipeline and add s390x job
  Directory.Build.props
  eng/Subsets.props
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime-community.yml
  src/installer/pkg/Directory.Build.props
  src/libraries/externals.csproj
  src/libraries/tests.proj
  src/mono/mono.proj
Labels: Servicing-approved, area-Infrastructure-libraries

#62705 [wasm][release/6.0] Reduce number of calls to setTimer
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System.Private.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/Simple/SimpleTest.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/System/Runtime/InteropServices/JavaScript/Simple/TimerTests.cs
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/simple.html
  src/libraries/System.Private.Runtime.InteropServices.JavaScript/tests/simple.js
  src/mono/System.Private.CoreLib/src/System/Threading/TimerQueue.Browser.Mono.cs
  src/mono/wasm/runtime/library_mono.js
Labels: Servicing-approved, arch-wasm, area-System.Runtime.InteropServices.JavaScript

#63269 Fix strings typo
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
Labels: area-System.Threading

#63271 Implement DiagnosticName in NativeAOT code
  src/coreclr/tools/Common/TypeSystem/Common/GenericParameterDesc.Diagnostic.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/AssemblyGetExecutingAssemblyMethodThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/CalliMarshallingMethodThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateMarshallingMethodThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateThunks.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/EnumThunks.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ForwardDelegateCreationThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/MethodBaseGetCurrentMethodThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/StructMarshallingThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/TypeGetTypeMethodThunk.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ValueTypeGetFieldHelperMethodOverride.cs
  src/coreclr/tools/Common/TypeSystem/IL/TypeSystemContext.GeneratedAssembly.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/InlineArrayType.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/NativeStructType.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/PInvokeDelegateWrapper.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/PInvokeDelegateWrapperConstructor.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.BoxedTypes.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.IntefaceThunks.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/Stubs/StartupCode/AppContextInitializerMethod.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/Stubs/StartupCode/NativeLibraryStartupMethod.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/Stubs/StartupCode/StartupCodeMainMethod.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
Labels: area-NativeAOT-coreclr

#62160 Use interpolated strings in place of `StringBuilder.AppendFormat` where possible.
  src/coreclr/ToolBox/SOS/DacTableGen/diautil.cs
  src/coreclr/tools/Common/TypeSystem/IL/ILDisassembler.cs
  src/coreclr/tools/r2rdump/CoreDisTools.cs
  src/coreclr/tools/r2rdump/R2RDiff.cs
Labels: community-contribution

#63272 Fix nullability annotations on ProcessModule.FileName/ModuleName
  src/libraries/Common/src/Interop/FreeBSD/Interop.Process.cs
  src/libraries/Common/src/Interop/Linux/procfs/Interop.ProcFsStat.ParseMapModules.cs
  src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.BSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.FreeBSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessModule.cs
Labels: area-System.Diagnostics.Process, new-api-needs-documentation

#63280 Move things from ILCompiler.TypeSystem to ILCompiler.Compiler
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/CalliMarshallingMethodThunk.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateMarshallingMethodThunk.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateThunks.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateThunks.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DynamicInvokeMethodThunk.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/EnumThunks.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ForwardDelegateCreationThunk.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/PInvokeLazyFixupField.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/StructMarshallingThunk.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ValueTypeGetFieldHelperMethodOverride.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/InlineArrayType.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/NativeStructType.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/PInvokeDelegateWrapper.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/PInvokeDelegateWrapperConstructor.Sorting.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.DelegateInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.DynamicInvoke.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.EnumMethods.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.GeneratedAssembly.Sorting.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.GeneratedAssembly.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.IntefaceThunks.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.ValueTypeMethods.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DelegateCreationInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MultiFileCompilationModuleGroup.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT-coreclr

#62045 [wasm][debugger] Add Browsable Attribute support.
  docs/design/mono/debugger.md
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: arch-wasm, area-Debugger-mono

#62625 Fix issues in PAL
  src/coreclr/pal/src/file/file.cpp
Labels: area-PAL-coreclr, community-contribution

#62941 [release/6.0-vs4mac] Set stabilize package version to false
  eng/Versions.props
  eng/packaging.targets
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/workloads-testing.targets
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-Infrastructure-libraries

#63281 Last ILCompiler.TypeSystem <-> ILCompiler.TypeSystem.ReadyToRun diff
  src/coreclr/tools/Common/TypeSystem/Aot/TargetDetails.Aot.cs
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/GCPointerMap.Algorithm.cs
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/GCPointerMap.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CallingConventionConverterKey.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FatFunctionPointerNode.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem/Utilities/UniqueTypeNameFormatter.cs
Labels: area-NativeAOT-coreclr

#63297 Bump sourcebuild leg timeout
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-mono

#62122 Add missing PTEST docs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Sse41.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Sse41.cs
Labels: area-System.Runtime, community-contribution

#63277 Mark Regex source generator Go override as SkipLocalsInit if possible
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.cs
  src/libraries/System.Text.RegularExpressions/tests/System.Text.RegularExpressions.Generators.Tests/RegexGeneratorParserTests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#63081 [mono] Don't access MonoClassField:parent directly
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/custom-attrs.c
  src/mono/mono/metadata/debug-helpers.c
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/loader.c
  src/mono/mono/metadata/marshal-ilgen.c
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/reflection.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/jit-icalls.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-runtime.c
Labels: area-VM-meta-mono

#63278 Use pattern matching in RegexNode to reduce some "when" duplication
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
Labels: area-System.Text.RegularExpressions

#63288 Fix user => use typo in comments
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/TaskAwaiter.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/YieldAwaitable.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Future.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-System.Threading.Tasks

#63282 Unify threading between crossgen2 and ilc
  docs/workflow/debugging/coreclr/debugging-aot-compilers.md
  src/coreclr/tools/Common/Compiler/CompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilationBuilder.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScannerBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilation.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/ILCompiler.RyuJit.csproj
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
Labels: area-NativeAOT-coreclr

#62743 Do not create non-null assertions from location nodes
  src/coreclr/jit/assertionprop.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_13762/Runtime_13762.cs
  src/tests/JIT/Regression/JitBlue/Runtime_13762/Runtime_13762.csproj
Labels: area-CodeGen-coreclr

#63293 transform sgen_get_descriptor to parallel safe version in job_major_mod_union_preclean
  src/mono/mono/sgen/sgen-cardtable.c
  src/mono/mono/sgen/sgen-marksweep.c
Labels: area-GC-mono, mono-mirror, community-contribution

#61185 Fixed ILVerify incorrectly flagging valid default interface implementations
  src/coreclr/tools/ILVerification/TypeVerifier.cs
  src/tests/ilverify/ILTests/DefaultInterfaceMethod.il
  src/tests/ilverify/ILTests/DefaultInterfaceMethod.ilproj
  src/tests/ilverify/ILTests/InterfaceImplementation.il
Labels: area-ILVerification, community-contribution

#63292 Update COM host to match RegAsm registration behavior
  src/native/corehost/comhost/comhost.cpp
Labels: area-Host

#62973 make sure OpenSSL is initialized before Tls13Supported code runs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/System.Net.Security/src/System/Net/Security/CipherSuitesPolicyPal.Linux.cs
Labels: area-System.Net.Security, os-linux

#63259 Robustify a name resolution test
  src/libraries/System.Net.NameResolution/tests/PalTests/NameResolutionPalTests.cs
Labels: area-System.Net

#62958 Extend CPU capabilities detection for osx-arm64 (#62832)
  src/coreclr/pal/src/misc/jitsupport.cpp
Labels: area-PAL-coreclr, community-contribution

#63275 Extend case optimization in MatchCharacterClass to all chars that differ by one bit
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#63276 A few minor tweaks to Regex source generator rendering
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#63289 Revert SafeBuffer change around pointer initialization
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeBuffer.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/SafeBufferTests.cs
Labels: area-System.Runtime.InteropServices

#63243 Add some diagnostics for EFS tests
  src/libraries/System.IO.FileSystem/tests/File/EncryptDecrypt.Windows.cs
  src/libraries/System.IO.FileSystem/tests/File/EncryptDecrypt.cs
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
Labels: area-System.IO

#63306 Fix GetSpanDataFrom
  src/coreclr/classlibnative/bcltype/arraynative.cpp
  src/coreclr/classlibnative/bcltype/arraynative.h
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#61649 Accelerate additional cross platform hardware intrinsics
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/coreclr/jit/simdcodegenxarch.cpp
  src/coreclr/jit/simdintrinsiclist.h
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.NoArmIntrinsics.xml
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.NoX86Intrinsics.xml
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/tests/JIT/HardwareIntrinsics/General/Shared/GenerateTests.csx
  src/tests/JIT/HardwareIntrinsics/General/Shared/VectorConvertToTest.template
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToDouble.Int64.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToDouble.UInt64.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToInt32.Single.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToInt64.Double.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToSingle.Int32.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToSingle.UInt32.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToUInt32.Single.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/ConvertToUInt64.Double.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector128/Program.Vector128.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToDouble.Int64.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToDouble.UInt64.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToInt32.Single.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToInt64.Double.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToSingle.Int32.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToSingle.UInt32.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToUInt32.Single.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/ConvertToUInt64.Double.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256/Program.Vector256.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToDouble.Int64.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToDouble.UInt64.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToInt32.Single.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToInt64.Double.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToSingle.Int32.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToSingle.UInt32.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToUInt32.Single.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/ConvertToUInt64.Double.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector64/Program.Vector64.cs
Labels: area-CodeGen-coreclr

#63326 Logging in console test to help understand #60240
  src/libraries/System.Console/tests/ConsoleKeyInfoTests.cs
Labels: area-System.Console

#62627 Divide properties into: public, private, protected.
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: arch-wasm, area-Debugger-mono

#63343 Fix Instrument.ts_tags to be static in .NET Framework build
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Instrument.netfx.cs
Labels: area-System.Diagnostics.Metric

#63344 Fix order of line number/position arguments to XsltException ctor
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/Compiler.cs
Labels: area-System.Xml

#63349 Disable console test for jitstressreg mode
  src/libraries/System.Console/tests/ConsoleKeyInfoTests.cs
Labels: area-System.Console

#63350 Add comment about using source-generated p/invokes to interop guidelines
  docs/coding-guidelines/interop-guidelines.md
Labels: documentation, area-Interop-coreclr

#63308 clean up header collection property implementations
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpContentHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpGeneralHeaders.cs
Labels: area-System.Net.Http

#63348 Pass configuration as a parameter for local Apple mobile test runs
  eng/testing/tests.targets
  src/mono/msbuild/apple/build/AppleApp.InTree.targets
Labels: area-Infrastructure-mono

#62787 Bump SdkBandVersion prop to 6.0.200
  eng/Versions.props
Labels: area-Infrastructure

#63314 [release/6.0] Fix build with Clang 13
  eng/native/configurecompiler.cmake
  src/coreclr/inc/corhlpr.h
  src/coreclr/jit/bitsetasshortlong.h
  src/coreclr/jit/inlinepolicy.h
  src/libraries/Native/Unix/CMakeLists.txt
  src/libraries/Native/Unix/System.Native/pal_process.c
Labels: Servicing-approved, area-Meta

#63376 Update Codespaces instructions for latest
  docs/workflow/Codespaces.md
  docs/workflow/codespace-machine-size.png
Labels: area-Meta

#63372 Fix LazyMemberInfo.Equals to return false for null
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/ReflectionModel/LazyMemberInfo.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/ReflectionModel/LazyMemberInfoTests.cs
Labels: area-System.ComponentModel

#63368 Remove unnecessary field writes in MimePart.SetContent
  src/libraries/System.Net.Mail/src/System/Net/Mime/MimePart.cs
Labels: area-System.Net

#63369 Fix null ref for null Stream input in Icon.Save
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.NoCOMWrappers.cs
Labels: area-System.Drawing

#63362 Move HttpRequestStream.{Begin}Read argument logging to after validation
  src/libraries/System.Net.HttpListener/src/System/Net/HttpRequestStream.cs
Labels: area-System.Net.Http

#63323 Remove dependency of type system tests on ILCompiler.ReadyToRun
  src/coreclr/tools/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshallerKind.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/ILCompiler.TypeSystem.Tests.csproj
  src/coreclr/tools/aot/ilc.sln
Labels: area-crossgen2-coreclr

#63334 Fix running WASM tests locally on Windows
  eng/testing/WasmRunnerTemplate.cmd
  src/tests/BuildWasmApps/Wasm.Build.Tests/data/RunScriptTemplate.cmd
Labels: arch-wasm, area-Build-mono

#62910 Replace name with type and codepage in EncodingConversionOverflow exception
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/Text/Encoding.cs
Labels: area-System.Text.Encoding

#63363 Remove dead code in OdbcCommandBuilder.UnquoteIdentifier
  src/libraries/System.Data.Odbc/src/System/Data/Odbc/OdbcCommandBuilder.cs
Labels: area-System.Data

#63388 Simplify condition in System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
Labels: area-Infrastructure-libraries

#63341 Remove some unnecessary duplicated checks
  src/libraries/System.Data.Common/src/System/Data/xmlsaver.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged/DeflateManagedStream.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriterILGen.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
Labels: area-Meta

#63390 Delete __SkipCrossgenFramework
  src/tests/build.cmd
  src/tests/build.sh
Labels: area-Infrastructure-coreclr

#63391 Fix MethodDesc::CbStackPop for string ctors on x86
  src/coreclr/vm/method.cpp
Labels: area-VM-coreclr

#63378 Fix the MacOS remote unwinder for VS4Mac
  src/coreclr/debug/dbgutil/machoreader.cpp
Labels: area-Diagnostics-coreclr

#63394 Handle race condition when HttpListener is stopped or closed
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
Labels: area-System.Net.Http, community-contribution

#63298 [release/6.0] bump sourcebuild leg timeout
  eng/pipelines/runtime-official.yml
  src/installer/tests/TestUtils/Command.cs
Labels: area-Infrastructure

#63402 JIT: refactor fields of GenTreeCall
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/inline.h
Labels: area-CodeGen-coreclr

#62895 Arm64: Memory barrier improvements
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#63403 [wasm][debugger] GetProperties broken on chrome
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
Labels: arch-wasm, area-Debugger-mono

#63380 [wasm] Fix test filtering for debugger tests on windows
  src/libraries/sendtohelixhelp.proj
Labels: arch-wasm, area-Debugger-mono

#63351 [release/6.0] Fix bug where we reference the entry #0 in the pinned plug queue
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: Servicing-approved, area-GC-coreclr

#62765 [6.0] Fix named mutexes on OSX to work between arm64 and emulated x64 processes
  src/coreclr/pal/src/include/pal/mutex.hpp
  src/coreclr/pal/src/include/pal/sharedmemory.h
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
Labels: Servicing-approved, area-System.Threading

#63393 [release/6.0] Change macOS activatin injection failure handling
  src/coreclr/pal/src/exception/signal.cpp
Labels: Servicing-approved, area-PAL-coreclr

#63410 Make DllImportGenerator unit tests' compilations use live refs
  eng/testing/tests.props
  src/libraries/Common/tests/SourceGenerators/LiveReferencePack.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/ConvertToGeneratedDllImportAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/DllImportGenerator.Unit.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/TestUtils.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Verifiers/CSharpCodeFixVerifier.cs
Labels: area-System.Runtime.InteropServices

#63452 Fix time reporting for the merged tests
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
  src/tests/Common/XUnitWrapperLibrary/TestSummary.cs
Labels: area-Infrastructure-coreclr

#63421 Refactor DllImports in Microsoft.Extensions.Hosting.Systemd
  src/libraries/Common/src/Interop/Unix/Interop.Libraries.cs
  src/libraries/Common/src/Interop/Unix/libc/Interop.GetParentPid.cs
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/Microsoft.Extensions.Hosting.Systemd.csproj
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdHelpers.cs
Labels: area-Extensions-Hosting, community-contribution

#63415 Ensure UserSecretsIdAttribute is added to assembly
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/Microsoft.Extensions.Configuration.UserSecrets.csproj
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/buildTransitive/netstandard2.0/Microsoft.Extensions.Configuration.UserSecrets.props
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/buildTransitive/netstandard2.0/Microsoft.Extensions.Configuration.UserSecrets.targets
Labels: Servicing-approved, area-Extensions-Configuration

#63179 Fix stack overflow with X509Certificate FriendlyName
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.CertGetCertificateContextPropertyString.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/CertificatePal.cs
Labels: area-System.Security, community-contribution

#63365 [mono] Reorganize zlib dependency logic
  src/mono/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/cmake/defines-todo.cmake
  src/mono/cmake/options.cmake
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
  src/mono/mono/profiler/log.c
  src/mono/mono/profiler/mprof-report.c
  src/native/libs/System.IO.Compression.Native/extra_libs.cmake
Labels: area-Build-mono

#62752 Convert JIT/Methodical/Array/range Pri0 tests and hook up mobile testing
  eng/Version.Details.xml
  eng/Versions.props
  eng/testing/tests.ioslike.targets
  eng/testing/tests.mobile.targets
  eng/testing/tests.wasm.targets
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tests/Common/XHarnessRunnerLibrary/GeneratedTestRunner.cs
  src/tests/Common/XHarnessRunnerLibrary/RunnerEntryPoint.cs
  src/tests/Common/XHarnessRunnerLibrary/XHarnessRunnerLibrary.csproj
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
  src/tests/Common/XUnitWrapperLibrary/TestFilter.cs
  src/tests/Common/XUnitWrapperLibrary/TestSummary.cs
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Common/mergedrunnermobile.targets
  src/tests/Common/nobuild.targets
  src/tests/Directory.Build.props
  src/tests/Directory.Build.targets
  src/tests/JIT/Methodical/Arrays/range/Directory.Build.props
  src/tests/JIT/Methodical/Arrays/range/float64_range1.il
  src/tests/JIT/Methodical/Arrays/range/float64_range1_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/float64_range1_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/float64_range2.il
  src/tests/JIT/Methodical/Arrays/range/float64_range2_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/float64_range2_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_0.il
  src/tests/JIT/Methodical/Arrays/range/int32_0_5a.il
  src/tests/JIT/Methodical/Arrays/range/int32_0_5a_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_0_5a_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_0_5b.il
  src/tests/JIT/Methodical/Arrays/range/int32_0_5b_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_0_5b_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_0_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_0_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_1.il
  src/tests/JIT/Methodical/Arrays/range/int32_1_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_1_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_m1.il
  src/tests/JIT/Methodical/Arrays/range/int32_m1_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_m1_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_neg_range.il
  src/tests/JIT/Methodical/Arrays/range/int32_neg_range_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_neg_range_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_range1.il
  src/tests/JIT/Methodical/Arrays/range/int32_range1_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_range1_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_range2.il
  src/tests/JIT/Methodical/Arrays/range/int32_range2_il_d.ilproj
  src/tests/JIT/Methodical/Arrays/range/int32_range2_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range/negIndexRngChkElim_il_r.ilproj
  src/tests/JIT/Methodical/Arrays/range_d.csproj
  src/tests/JIT/Methodical/Arrays/range_r.csproj
  src/tests/build.proj
  src/tests/xunit-wrappers.targets
Labels: area-Infrastructure

#62798 Fix bugs with generation for ctor param default values
  src/libraries/System.Text.Json/Common/JsonConstants.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/SourceGenerationSpec.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/ConstructorTests.cs
Labels: area-System.Text.Json

#63464 [DllImportGenerator] Remove DLLIMPORTGENERATOR_ENABLED define option
  eng/generators.targets
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Analyzers/ConvertToGeneratedDllImportFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Resources.Designer.cs
  src/libraries/System.Runtime.InteropServices/gen/DllImportGenerator/Resources.resx
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/ConvertToGeneratedDllImportFixerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/DllImportGenerator.UnitTests/Verifiers/CSharpCodeFixVerifier.cs
Labels: area-System.Runtime.InteropServices, source-generator

#62141 [mono] Make some icalls pass/return object references using ObjectHandleOnStack/QCallTypeHandle
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/QCallHandles.cs
  src/mono/System.Private.CoreLib/src/System/Delegate.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Enum.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/mono/mono/metadata/handle.h
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-def-netcore.h
  src/mono/mono/metadata/icall-table.h
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/loader.c
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini-wasm.h
Labels: area-VM-meta-mono

#63311 [DRAFT][Perf][Mono] Enable llvm for arm perf runs
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure-mono

#63420 JIT: save generics context for late devirtualization
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/inline.h
Labels: area-CodeGen-coreclr

#63483 [Test][Revert] Reverted change to global build job
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure

#63435 Support for specifying max depth of generic cycle
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/LazyGenerics/ModuleCycleInfo.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-crossgen2-coreclr, community-contribution

#63431 Use "read" to fetch misaligned 64bit values from bundle header
  src/native/corehost/bundle/file_entry.cpp
  src/native/corehost/bundle/header.cpp
  src/native/corehost/bundle/reader.cpp
  src/native/corehost/bundle/reader.h
Labels: arch-arm32, area-Single-File

#63492 Bump Microsoft.CodeAnalysis.CSharp version to 4.0.1
  eng/Versions.props
Labels: area-Infrastructure-libraries

#63496 Suppress warnings about [Obsolete] member usage in JSON src-gen'd code
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorTests.cs
Labels: area-System.Text.Json

#63471 Sign ILVerification.dll
  src/coreclr/tools/ILVerification/ILVerification.csproj
Labels: area-ILVerification

#62888 [LoongArch64] add coreclr-libraries directory.
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
  src/libraries/System.Private.CoreLib/src/Internal/Padding.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Buffer.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Architecture.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/RuntimeInformation.ProcessArchitecture.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/Machine.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/CheckArchitectureTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/native/corehost/bundle/reader.h
  src/native/corehost/hostmisc/utils.cpp
  src/native/eventpipe/ep-event-source.c
  src/native/libs/System.Native/pal_runtimeinformation.h
Labels: area-System.Runtime, new-api-needs-documentation, community-contribution, arch-loongarch64

#62922 [release/6.0] Fix setting timestamp on Windows on readonly files
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.FileOperations.cs
  src/libraries/System.IO.FileSystem/tests/Base/BaseGetSetTimes.cs
  src/libraries/System.IO.FileSystem/tests/Directory/GetSetTimes.cs
  src/libraries/System.IO.FileSystem/tests/DirectoryInfo/GetSetTimes.cs
  src/libraries/System.IO.FileSystem/tests/File/GetSetTimes.cs
  src/libraries/System.IO.FileSystem/tests/FileInfo/GetSetTimes.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs
Labels: Servicing-approved, area-System.IO

#63386 Fix Creating Cultures with Sort Names
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoCtor.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
Labels: area-System.Globalization

#63450 Bump SdkVersionForWorkloadTesting to use a 200 band SDK
  eng/Versions.props
  src/libraries/workloads-testing.targets
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
  src/tasks/WorkloadBuildTasks/PackageInstaller.cs
Labels: area-Infrastructure

#63423 [release/6.0] Ensure UserSecretsIdAttribute is added to assembly
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/Microsoft.Extensions.Configuration.UserSecrets.csproj
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/buildTransitive/netstandard2.0/Microsoft.Extensions.Configuration.UserSecrets.props
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/buildTransitive/netstandard2.0/Microsoft.Extensions.Configuration.UserSecrets.targets
  src/libraries/Microsoft.Extensions.Hosting/Directory.Build.props
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/Microsoft.Extensions.Hosting.Unit.Tests.csproj
Labels: Servicing-approved, area-Extensions-Hosting

#63495 Make delegates unsupported by JsonSerializer
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UnsupportedTypeConverterFactory.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json

#63491 Update coverlet and reportgenerator versions
  .config/dotnet-tools.json
  eng/Versions.props
Labels: area-Infrastructure-libraries

#63470 Clarify P/Invoke shims guidance for OOB assemblies
  docs/coding-guidelines/interop-guidelines.md
Labels: area-Meta, community-contribution

#63433 Move init-vs-env in test build script down
  src/tests/build.cmd
Labels: area-Infrastructure-coreclr

#62935 HttpConnectionPool improvements
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Cancellation.cs
Labels: area-System.Net.Http

#63511 Show test names in merged wrapper execution log
  src/tests/Common/XUnitWrapperGenerator/ITestInfo.cs
Labels: area-Infrastructure-coreclr

#63507 [release/6.0] Port test-only test fixes
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/Common/tests/TestUtilities/System/WindowsIdentityFixture.cs
  src/libraries/System.IO.FileSystem/tests/Enumeration/SpecialDirectoryTests.cs
  src/libraries/System.IO.FileSystem/tests/File/EncryptDecrypt.Windows.cs
  src/libraries/System.IO.FileSystem/tests/File/EncryptDecrypt.cs
  src/libraries/System.IO.FileSystem/tests/Net5CompatTests/System.IO.FileSystem.Net5Compat.Tests.csproj
  src/libraries/System.IO.FileSystem/tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.IO.Ports/tests/SerialPort/DosDevices.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ImpersonatedAuthTests.cs
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/libraries/System.Security.Principal.Windows/tests/WindowsIdentityImpersonatedTests.netcoreapp.cs
Labels: area-Meta

#63482 Fix exception propagation over HW exception frame on macOS arm64
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/seh-unwind.cpp
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/seh.hpp
  src/tests/Regressions/coreclr/GitHub_62058/test62058.cs
  src/tests/Regressions/coreclr/GitHub_62058/test62058.csproj
Labels: arch-arm64, os-mac-os-x, area-PAL-coreclr

#63237 Fix translation of Ping error codes
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/IcmpV4MessageConstants.cs
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/IcmpV6MessageConstants.cs
Labels: area-System.Net, community-contribution

#63196 Support Single-file executable in Windows 7
  src/native/corehost/apphost/static/CMakeLists.txt
Labels: area-Single-File, community-contribution

#63493 [release/6.0] Fix bugs with generation for ctor param default values (#62798)
  src/libraries/System.Text.Json/Common/JsonConstants.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/SourceGenerationSpec.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/ConstructorTests.cs
Labels: Servicing-approved, area-System.Text.Json

#62757 [wasm] Backport build improvements, and fixes from #61581
  eng/testing/tests.wasm.targets
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/sln/WasmBuild.sln
  src/mono/wasm/wasm.proj
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildPublishTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/BuildTestBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/InvariantGlobalizationTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/LocalEMSDKTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/MainWithArgsTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeBuildTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeLibraryTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/NativeRebuildTests/NativeRebuildTestsBase.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/PInvokeTableGeneratorTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/RebuildTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/SatelliteAssembliesTests.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmBuildAppTest.cs
  src/tests/BuildWasmApps/Wasm.Build.Tests/WasmNativeDefaultsTests.cs
Labels: Servicing-approved, arch-wasm, area-Build-mono

#63429 [wasm][tests] Fix, and simplify sample building on CI
  eng/pipelines/runtime-manual.yml
  src/libraries/sendtohelixhelp.proj
  src/libraries/tests.proj
  src/mono/sample/Directory.Build.props
  src/mono/sample/Directory.Build.targets
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/browser-es6/Wasm.Browser.ES6.Sample.csproj
  src/mono/sample/wasm/browser/Wasm.Browser.CJS.Sample.csproj
  src/mono/sample/wasm/console-node-cjs/Wasm.Console.Node.CJS.Sample.csproj
  src/mono/sample/wasm/console-node-es6/Wasm.Console.Node.ES6.Sample.csproj
  src/mono/sample/wasm/console-v8-cjs/Wasm.Console.V8.CJS.Sample.csproj
  src/mono/sample/wasm/console-v8-es6/Wasm.Console.V8.ES6.Sample.csproj
Labels: arch-wasm, area-Build-mono

#63417 add instructions for running on FreeBSD
  docs/workflow/requirements/freebsd-requirements.md
Labels: community-contribution

#63529 Increase timeout on regex test
  src/libraries/System.Text.RegularExpressions/tests/Regex.KnownPattern.Tests.cs
Labels: area-System.Text.RegularExpressions

#63342 Fix debug-only tracing in PhysicalMemoryMonitor.SetLimit
  src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/PhysicalMemoryMonitor.cs
Labels: area-System.Runtime.Caching

#63361 Delete a dead null check in TransactionStateDelegatedBase.EnterState
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionState.cs
Labels: area-System.Transactions

#63371 Delete dead null check in XmlQueryRuntime.DocOrderDistinct
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XmlQueryRuntime.cs
Labels: area-System.Xml

#63367 Delete duplicated consts in XmlUTF8TextReader
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlUTF8TextReader.cs
Labels: area-Serialization

#63335 [wasm] Webpack & NextJS & TypeScript samples
  .gitignore
  src/libraries/tests.proj
  src/mono/sample/wasm/browser-nextjs/.gitignore
  src/mono/sample/wasm/browser-nextjs/Program.cs
  src/mono/sample/wasm/browser-nextjs/README.md
  src/mono/sample/wasm/browser-nextjs/Wasm.Browser.NextJs.Sample.csproj
  src/mono/sample/wasm/browser-nextjs/components/deepThought.js
  src/mono/sample/wasm/browser-nextjs/package-lock.json
  src/mono/sample/wasm/browser-nextjs/package.json
  src/mono/sample/wasm/browser-nextjs/pages/index.js
  src/mono/sample/wasm/browser-webpack/Program.cs
  src/mono/sample/wasm/browser-webpack/README.md
  src/mono/sample/wasm/browser-webpack/Wasm.Browser.WebPack.Sample.csproj
  src/mono/sample/wasm/browser-webpack/app.js
  src/mono/sample/wasm/browser-webpack/index.html
  src/mono/sample/wasm/browser-webpack/main.js
  src/mono/sample/wasm/browser-webpack/package-lock.json
  src/mono/sample/wasm/browser-webpack/package.json
  src/mono/sample/wasm/browser-webpack/webpack.config.js
  src/mono/sample/wasm/console-node-ts/Makefile
  src/mono/sample/wasm/console-node-ts/Program.cs
  src/mono/sample/wasm/console-node-ts/Wasm.Console.Node.TS.Sample.csproj
  src/mono/sample/wasm/console-node-ts/main.ts
  src/mono/sample/wasm/console-node-ts/package-lock.json
  src/mono/sample/wasm/console-node-ts/package.json
  src/mono/sample/wasm/console-node-ts/tsconfig.json
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/package-lock.json
  src/mono/wasm/runtime/package.json
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/runtime/strings.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono

#63302 [metadata] Borrow bits from MonoClassField:parent for flags
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/class-internals.h
Labels: area-VM-meta-mono

#63359 [release/6.0-maui] Add back HAVE_SYS_ZLIB support
  src/mono/cmake/configure.cmake
  src/mono/cmake/defines-todo.cmake
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
Labels: area-Build-mono

#63557 Fix paramName in CryptoStream ArgumentExceptions
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CryptoStream.cs
  src/libraries/System.Security.Cryptography/tests/CryptoStream.cs
Labels: area-System.Security, community-contribution

#63567 disable lltng on FreeBSD
  src/coreclr/pal/src/eventprovider/CMakeLists.txt
Labels: os-freebsd, area-Diagnostics-coreclr

#63569 Fix some trimming/AOT warnings in crossgen2/ilc
  src/coreclr/tools/aot/ILCompiler.DependencyAnalysisFramework/EventSourceLogStrategy.cs
  src/coreclr/tools/aot/ILCompiler.DependencyAnalysisFramework/ILCompiler.DependencyAnalysisFramework.csproj
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler.MetadataTransform.csproj
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/Internal/Metadata/NativeFormat/Writer/NativeMetadataWriter.cs
Labels: area-crossgen2-coreclr

#63563 Add AvxVnni support for NativeAOT
  src/coreclr/nativeaot/Runtime/IntrinsicConstants.h
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/HardwareIntrinsicHelpers.Aot.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
Labels: area-NativeAOT-coreclr

#63576 Revert "Fix exception propagation over HW exception frame on macOS arm64 (#63482)
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/seh-unwind.cpp
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/seh.hpp
  src/tests/Regressions/coreclr/GitHub_62058/test62058.cs
  src/tests/Regressions/coreclr/GitHub_62058/test62058.csproj
Labels: area-PAL-coreclr

#63476 Fix Fiji time zone time conversion
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: area-System.Runtime

#63525 [release/6.0] Fix GENERIC_MATH_FEATURE by making sure we always choose the right ref
  src/libraries/System.Runtime.Experimental/ref/System.Runtime.Experimental.csproj
Labels: Servicing-consider

#63427 Fix Regex if-then-else code generation
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexWriter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/RegexNodeToSymbolicConverter.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/Regex.MultipleMatches.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/RegexReductionTests.cs
Labels: area-System.Text.RegularExpressions

#63517 Fixes Event Log Message Format on Unmanaged FailFast
  src/coreclr/dlls/mscorrc/mscorrc.rc
  src/coreclr/vm/eepolicy.cpp
  src/coreclr/vm/eventreporter.cpp
Labels: area-VM-coreclr, community-contribution

#63579 Add a few missing Stream overrides
  src/libraries/System.IO.Compression/ref/System.IO.Compression.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/GZipStream.cs
  src/libraries/System.Net.Quic/ref/System.Net.Quic.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
Labels: area-System.IO.Compression, new-api-needs-documentation

#63528 [wasm][debugger] Fix hang in ArrayTests
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ArrayTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/AssignmentTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/CallFunctionOnTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/CustomViewTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ExceptionTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Inspector.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SetVariableValueTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SteppingTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
Labels: arch-wasm, area-Debugger-mono

#63586 Revert "Remove extra call to PropertyInfo.GetValue(object) (#60415)"
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationBinderTests.cs
Labels: area-Extensions-Configuration

#62938 add RID for Alpine 3.15
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Meta, community-contribution

#63030 improve TLS resume on server
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.SslCtx.cs
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.h
Labels: area-System.Net.Security, os-linux

#63406 JIT: rework logic for when OSR imports method entry
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#63599 Set File Version Minor for System.Runtime.Experimental
  src/libraries/System.Runtime.Experimental/ref/System.Runtime.Experimental.csproj
Labels: area-System.Runtime

#63582 Special-case ERROR_INVALID_PARAMETER in PosixSignalRegistration.Unregister
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/PosixSignalRegistration.Windows.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/PosixSignalRegistrationTests.Windows.cs
Labels: area-System.Runtime.InteropServices

#62948 [TODO-List-Cleanup] Refactor `fgDebugCheckFlags`
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
Labels: area-CodeGen-coreclr, community-contribution

#63121 Fix non-portable coreclr arm64 build
  Directory.Build.props
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
Labels: area-Infrastructure-coreclr, community-contribution

#63409 Fix ABI stress test coverage
  src/tests/JIT/Stress/ABI/Config.cs
  src/tests/JIT/Stress/ABI/PInvokes.cs
  src/tests/JIT/Stress/ABI/Program.cs
  src/tests/JIT/Stress/ABI/Stubs.cs
  src/tests/JIT/Stress/ABI/TailCalls.cs
Labels: area-CodeGen-coreclr

#63600 Update CoreShim.cpp
  src/coreclr/hosts/coreshim/CoreShim.cpp
Labels: test bug, area-Interop-coreclr

#63549 Remove leading and trailing white-spaces from section name
  src/libraries/Microsoft.Extensions.Configuration.Ini/src/IniStreamConfigurationProvider.cs
  src/libraries/Microsoft.Extensions.Configuration.Ini/tests/IniConfigurationTest.cs
Labels: area-Extensions-Configuration, community-contribution

#62520 [release/6.0-maui] Backport MacCatalyst process start support
  eng/pipelines/runtime-staging.yml
  eng/testing/tests.mobile.targets
  src/libraries/Common/src/Interop/OSX/Interop.libproc.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/libraries/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.BSD.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.NonUap.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.UnknownUnix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.iOS.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
  src/libraries/shims/ApiCompatBaseline.PreviousNetCoreApp.txt
  src/libraries/tests.proj
  src/mono/sample/iOS/Makefile
  src/mono/sample/iOS/Program.csproj
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/Xcode.cs
  src/tests/Directory.Build.props
  src/tests/run.proj
Labels: area-System.Diagnostics.Process, new-api-needs-documentation

#63577 Fix case where we fail to commit the start of a new region.
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#63574 [wasm][debugger] Add getter properties unfolding in structures.
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: arch-wasm, area-Debugger-mono

#62780 [Android] Fix accessing network interfaces information
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/IPGlobalPropertiesTest.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkInterfaceBasicTest.cs
  src/libraries/tests.proj
  src/mono/cmake/config.h.in
  src/native/libs/Common/pal_config.h.in
  src/native/libs/System.Native/pal_interfaceaddresses.c
  src/native/libs/configure.cmake
Labels: area-System.Net, os-android

#63503 [debugger] Fix reading a byte without checking the version of the Protocol
  src/mono/mono/component/debugger-agent.c
Labels: area-Debugger-mono

#63515 [mono][debugger] Fix step on ios when using interpreter
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#62275 [Android] Prevent potential out of bounds write on Android
  src/native/libs/System.Security.Cryptography.Native.Android/pal_sslstream.c
Labels: area-System.Security, os-android

#59283 Enable GC regions by default
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
Labels: area-GC-coreclr

#63012 LoggingHttpMessageHandler should log unescaped URL in log message (#62894)
  src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingHttpMessageHandler.cs
  src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingScopeHttpMessageHandler.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/LoggingUriOutputTests.cs
Labels: area-Extensions-HttpClientFactory, community-contribution

#63255 add capture group name in comment
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/System.Text.RegularExpressions.Generator.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
Labels: area-System.Text.RegularExpressions, community-contribution

#62385 Added DrawRectangle overload accepting RectangleF
  src/libraries/System.Drawing.Common/ref/System.Drawing.Common.netcoreapp.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/libraries/System.Drawing.Common/tests/GraphicsTests.Core.cs
  src/libraries/System.Drawing.Common/tests/GraphicsTests.cs
Labels: area-System.Drawing, community-contribution

#57434 [Group 4] Enable nullable annotations for `Microsoft.Extensions.Configuration.FileExtensions`
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/ref/Microsoft.Extensions.Configuration.FileExtensions.cs
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/ref/Microsoft.Extensions.Configuration.FileExtensions.csproj
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/FileConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/FileConfigurationProvider.cs
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/FileConfigurationSource.cs
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/FileLoadExceptionContext.cs
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/Microsoft.Extensions.Configuration.FileExtensions.csproj
Labels: new-api-needs-documentation, area-Extensions-Configuration, community-contribution

#63123 HostBuilder.Build doc: mention lifetime
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/BackgroundService.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/IHost.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs
Labels: area-Extensions-Hosting, community-contribution

#63024 Delete some null checks
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr, community-contribution

#63613 Delete `CEEInfo::IsCompilingForNGen`
  src/coreclr/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/coreclr/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_API_names.h
  src/coreclr/jit/ICorJitInfo_API_wrapper.hpp
  src/coreclr/tools/Common/JitInterface/CorInfoBase.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface.h
  src/coreclr/vm/interpreter.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-VM-coreclr

#62420 Ensure the JIT view of InstructionSets is correct in the face of JitConfig switches
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetGenerator.cs
  src/coreclr/vm/codeman.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_34587/Runtime_34587.cs
  src/tests/JIT/Regression/JitBlue/Runtime_60035/Runtime_60035.cs
  src/tests/JIT/Regression/JitBlue/Runtime_60035/Runtime_60035.csproj
Labels: area-CodeGen-coreclr

#63608 Fix address mode for `IconHandle + Icon`
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr
