Repository dotnet/runtime, pull requests merged in 2022-12, with the labels that each got.

#78879 JIT: Support GT_SELECT on xarch
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/decomposelongs.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/ifconversion.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#78252 Simplify `impAssignStruct[Ptr]` and `gtNewBlkOpNode`
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
Labels: area-CodeGen-coreclr, community-contribution

#79044 [hot_reload] Enable some CustomAttributes tests on Mono; new issue for async
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
Labels: area-EnC-mono

#78924 Fix repro package creation
  src/coreclr/tools/Common/CommandLineHelpers.cs
Labels: area-NativeAOT-coreclr

#79074 Remove file with unused APIs.
  src/libraries/Common/src/Interop/Interop.CheckedAccess.cs
  src/libraries/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/libraries/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/libraries/System.Net.Primitives/tests/PalTests/System.Net.Primitives.Pal.Tests.csproj
Labels: area-Meta

#78874 Allow inlining in some over-bugdet cases
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/inlinepolicy.h
Labels: area-CodeGen-coreclr

#78929 Fold some HW nodes for constant input
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/tests/JIT/HardwareIntrinsics/General/ConstantFolding/ScalarConstantFoldings.cs
  src/tests/JIT/HardwareIntrinsics/General/ConstantFolding/ScalarConstantFoldings.csproj
Labels: area-CodeGen-coreclr

#79069 Fix null vs empty string in InterpolatedStringHandlerArgumentAttribute XML comments
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/InterpolatedStringHandlerArgumentAttribute.cs
Labels: area-System.Runtime.CompilerServices

#79090 Fix comment typo in PipeOptions.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeOptions.cs
Labels: area-System.IO.Pipelines

#79093 Put back setting of field in DirectorySearcher.FindAll
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/DirectorySearcher.cs
Labels: area-System.DirectoryServices

#79070 Factoring out same if condition
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#79088 Fix boundary handling in Regex auto-atomicity optimization
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.MultipleMatches.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexReductionTests.cs
Labels: area-System.Text.RegularExpressions

#79103 Fix `IMetaDataImport::GetCustomAttributeByName` generic attributes
  src/coreclr/md/inc/metamodel.h
Labels: area-VM-coreclr

#79073 Delete .NET Native leftovers from type loader (part 2 of X)
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/TypeLoaderCallbacks.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/NativeLayoutFieldAlgorithm.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/SerializedDebugData.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.FieldAccess.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/DefType.Runtime.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeDesc.Runtime.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
Labels: area-NativeAOT-coreclr

#78222 ArgOutOfRangeException throw helpers
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/ArgumentOutOfRangeException.cs
  src/libraries/System.Private.CoreLib/src/System/BitConverter.cs
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/ConfigurableArrayPool.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/TlsOverPerCoreLockedStacksArrayPool.cs
  src/libraries/System.Private.CoreLib/src/System/Convert.cs
  src/libraries/System.Private.CoreLib/src/System/Decimal.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipe.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
  src/libraries/System.Private.CoreLib/src/System/String.Comparison.cs
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ManualResetEventSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ReaderWriterLockSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Version.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/ArgumentOutOfRangeExceptionTests.cs
Labels: area-System.Runtime, new-api-needs-documentation, community-contribution

#79091 Simplify Task.FromResult
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-System.Threading.Tasks

#79107 Use the new DateTimeOffset.TotalOffsetMinutes API
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Tag.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlWriter.cs
  src/libraries/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/Atom10FeedFormatter.cs
  src/libraries/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/Rss20FeedFormatter.cs
Labels: area-System.DateTime

#79124 [wasm] Fix debugger tests run on CI/Windows
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestSuite.csproj
Labels: arch-wasm, area-Debugger-mono

#77944 Add XxHash128
  src/libraries/System.IO.Hashing/ref/System.IO.Hashing.cs
  src/libraries/System.IO.Hashing/ref/System.IO.Hashing.csproj
  src/libraries/System.IO.Hashing/ref/System.IO.Hashing.netcoreapp.cs
  src/libraries/System.IO.Hashing/src/System.IO.Hashing.csproj
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash128.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash3.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash32.State.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash64.State.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHashShared.cs
  src/libraries/System.IO.Hashing/tests/System.IO.Hashing.Tests.csproj
  src/libraries/System.IO.Hashing/tests/XxHash128Tests.cs
Labels: community-contribution, area-System.IO.Hashing

#79133 Delete .NET Native leftovers from type loader (part 3 of X)
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TemplateLocator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.SignatureParsing.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormat.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
Labels: area-NativeAOT-coreclr

#78995 Remove FILEDosToUnixPathA conversion
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/ildasm/dis.cpp
  src/coreclr/ildasm/dman.cpp
  src/coreclr/inc/longfilepathwrappers.h
  src/coreclr/inc/nsutilpriv.h
  src/coreclr/inc/winwrap.h
  src/coreclr/jit/error.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeLibrary.NativeAot.Unix.cs
  src/coreclr/pal/inc/mbusafecrt.h
  src/coreclr/pal/inc/rt/safecrt.h
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/cruntime/file.cpp
  src/coreclr/pal/src/file/directory.cpp
  src/coreclr/pal/src/file/file.cpp
  src/coreclr/pal/src/file/find.cpp
  src/coreclr/pal/src/file/path.cpp
  src/coreclr/pal/src/include/pal/file.h
  src/coreclr/pal/src/include/pal/file.hpp
  src/coreclr/pal/src/include/pal/stackstring.hpp
  src/coreclr/pal/src/loader/module.cpp
  src/coreclr/pal/src/safecrt/tmakepath_s.inl
  src/coreclr/pal/src/safecrt/tsplitpath_s.inl
  src/coreclr/pal/src/safecrt/wsplitpath_s.cpp
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/pal/tests/palsuite/common/palsuite.cpp
  src/coreclr/pal/tests/palsuite/file_io/GetFullPathNameA/test3/test3.cpp
  src/coreclr/pal/tests/palsuite/file_io/GetFullPathNameW/test2/test2.cpp
  src/coreclr/pal/tests/palsuite/file_io/GetTempFileNameW/test1/GetTempFileNameW.cpp
  src/coreclr/tools/metainfo/mdobj.cpp
  src/coreclr/tools/superpmi/mcs/verbmerge.cpp
  src/coreclr/tools/superpmi/superpmi-shared/standardpch.h
  src/coreclr/tools/superpmi/superpmi/jitdebugger.cpp
  src/coreclr/utilcode/longfilepathwrappers.cpp
  src/coreclr/utilcode/splitpath.cpp
  src/coreclr/vm/clrex.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/gdbjit.cpp
  src/coreclr/vm/multicorejit.cpp
  src/coreclr/vm/peassembly.cpp
  src/coreclr/vm/peimage.cpp
  src/coreclr/vm/peimage.inl
  src/coreclr/vm/stubgen.cpp
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleExtractToSpecificPath.cs
  src/libraries/System.Runtime/tests/System/Type/TypeTests.cs
  src/tests/Loader/CollectibleAssemblies/ResolvedFromDifferentContext/ResolvedFromDifferentContext.cs
Labels: breaking-change, area-PAL-coreclr, needs-breaking-change-doc-created

#78782 Wasm jiterpreter cleanup and bug fixes pt. 3
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/jiterpreter.h
  src/mono/mono/mini/interp/transform.c
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono

#79135 Fix NonCryptoHashTestDriver.AssertEqualHashNumber for big endian
  src/libraries/System.IO.Hashing/tests/NonCryptoHashTestDriver.cs
Labels: area-System.IO

#79119 Remove staged build param
  eng/pipelines/common/build-coreclr-and-libraries-job.yml
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/runtimes/android-runtime-and-send-to-helix.yml
  eng/pipelines/common/templates/runtimes/build-runtime-tests-and-send-to-helix.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/xplat-job.yml
  eng/pipelines/coreclr/templates/build-jit-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossdac-pack.yml
  eng/pipelines/coreclr/templates/crossgen2-comparison-build-job.yml
  eng/pipelines/coreclr/templates/crossgen2-comparison-job.yml
  eng/pipelines/coreclr/templates/format-job.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/installer/jobs/build-job.yml
  eng/pipelines/mono/templates/workloads-build.yml
Labels: area-Infrastructure-coreclr

#79071 Wait for serverTask before asserting IsCompletedSuccessfully
  src/libraries/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.Windows.cs
Labels: area-System.IO

#79123 fixes dotnet-diagnostictests funceval failures
  src/coreclr/debug/ee/funceval.cpp
Labels: area-Diagnostics-coreclr

#79026 Enable loading COM component in default ALC via runtime config setting
  src/coreclr/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.Windows.xml
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivationContextInternal.cs
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/installer/tests/Assets/TestProjects/ComLibrary/ComLibrary.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/Comhost.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
  src/native/corehost/comhost/comhost.cpp
  src/native/corehost/fxr_resolver.h
  src/native/corehost/ijwhost/ijwhost.cpp
  src/tests/Interop/COM/Activator/ComActivationContext.cs
  src/tests/Interop/COM/Activator/Program.cs
Labels: area-Host

#78755 [wasm] Add warning code to all warnings produced in WasmAppBuilder
  src/tasks/WasmAppBuilder/EmccCompile.cs
  src/tasks/WasmAppBuilder/IcallTableGenerator.cs
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmLoadAssembliesAndReferences.cs
Labels: arch-wasm, area-Build-mono

#79096 Use ArgumentNullException.ThrowIfNull and ObjectDisposedException.ThrowIf in more places
  src/coreclr/System.Private.CoreLib/src/System/Threading/Monitor.CoreCLR.cs
  src/libraries/Common/src/System/Net/WebSockets/WebSocketValidate.cs
  src/libraries/System.Collections.Concurrent/src/Resources/Strings.resx
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/PartitionerStatic.cs
  src/libraries/System.ComponentModel.TypeConverter/src/MS/Internal/Xml/Linq/ComponentModel/XComponentModel.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/ServiceContainer.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectPropertyDescriptor.cs
  src/libraries/System.Console/src/System/Console.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLBytes.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLChars.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLDecimal.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SqlXml.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/SourceFilter.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/SwitchAttribute.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/SwitchLevelAttribute.cs
  src/libraries/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceSource.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/DiagnosticCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/IncrementingPollingCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/PollingCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/EventPayload.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TraceLoggingEventTypes.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/TraceLoggingTypeInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TimeSpanParse.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/RuntimeResourceSet.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/TypeForwardedFromAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeHandle.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/DeferredDisposableLifetime.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ManualResetEventSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ReaderWriterLockSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadLocal.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolBoundHandle.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Timer.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitHandle.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/AttributesTests.cs
  src/libraries/System.Security.AccessControl/src/System/Security/AccessControl/ACE.cs
  src/libraries/System.Security.AccessControl/src/System/Security/AccessControl/ACL.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngAlgorithmCore.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CryptoStream.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DSACng.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDiffieHellmanCng.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDsaCng.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSABCrypt.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSACng.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Oletx/OletxDependentTransaction.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Oletx/OletxTransaction.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Oletx/OletxTransactionManager.cs
Labels: area-Meta

#79164 Fix a build error on x86 with FEATURE_AUTO_TRACE turned on
  src/coreclr/vm/autotrace.cpp
Labels: area-Diagnostics-coreclr

#79165 [mono][interp] Add stobj version for no reference case
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#79060 Remove getFieldAddress
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-CodeGen-coreclr

#79186 Fix XxHash3/XxHash128 DeriveSecretFromSeed scalar fallback on big endian
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHashShared.cs
Labels: area-System.IO, community-contribution

#78737 Remove char[] allocations from RegistryKey and List copy to Array
  src/libraries/Microsoft.Win32.Registry/src/Microsoft/Win32/RegistryKey.cs
Labels: area-Microsoft.Win32, community-contribution

#79208 Disable Allow_Connection_UnderDifferentUsers_ForClientReading on mono
  src/libraries/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.Windows.cs
Labels: area-System.IO

#79160 [mono][tests] Using a literal field with stdsfld/ldsfld should trigger a MissingFieldException
  src/mono/mono/mini/interp/transform.c
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#79209 Speed up data dehydration
  src/coreclr/nativeaot/Common/src/Internal/Runtime/CompilerHelpers/StartupCodeHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/DehydratedData.cs
Labels: area-NativeAOT-coreclr

#79219 delete tfm constants
  src/installer/tests/HostActivation.Tests/FrameworkResolution/MultipleHives.cs
  src/installer/tests/TestUtils/Constants.cs
  src/installer/tests/TestUtils/RuntimeConfig.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/FunctionalTests/IntegrationTesting/src/Common/Tfm.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/FunctionalTests/IntegrationTesting/src/Deployers/ApplicationDeployer.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/FunctionalTests/IntegrationTesting/src/Deployers/SelfHostDeployer.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/FunctionalTests/ShutdownTests.cs
Labels: area-Infrastructure, community-contribution

#79202 Handle local address nodes in `GenTree::Compare`
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr, community-contribution

#79181 Intrinsify Interlocked.CompareExchange and Interlocked.Exchange for null
  src/coreclr/System.Private.CoreLib/src/System/Threading/Interlocked.CoreCLR.cs
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr

#78085 Fix build error when enabling interpreter
  src/coreclr/vm/interpreter.cpp
Labels: area-VM-coreclr, community-contribution

#78646 Implement a heuristic for using fast-path serialization in streaming JsonSerializer methods.
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.ReadCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.WriteCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Document.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Element.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Node.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Document.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Element.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Node.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Utf8JsonWriter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.ReadHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.WriteHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/WriteStack.cs
  src/libraries/System.Text.Json/tests/Common/StreamingJsonSerializerWrapper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonSerializerWrapper.Reflection.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Stream.WriteTests.cs
Labels: area-System.Text.Json, tenet-performance

#79042 Small ConfigurationBinder Cleanup
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
Labels: area-Extensions-Configuration

#79172 Speed up `Matrix4x4.CreateScale`
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
Labels: area-System.Numerics, community-contribution

#79221 Enable package validation for libs introduced in .NET 7
  src/libraries/System.Runtime.Serialization.Schema/src/System.Runtime.Serialization.Schema.csproj
  src/libraries/System.Security.Cryptography.Cose/src/System.Security.Cryptography.Cose.csproj
  src/libraries/System.Threading.RateLimiting/src/System.Threading.RateLimiting.csproj
Labels: area-Infrastructure-libraries

#79230 fix a typo
  src/libraries/Microsoft.Extensions.Hosting/tests/FunctionalTests/ShutdownTests.cs
Labels: area-Extensions-Hosting, community-contribution

#79177 Delete host test targeting old xunit packages
  src/installer/tests/Assets/TestProjects/PortableTestApp/PortableTestApp.csproj
  src/installer/tests/Assets/TestProjects/PortableTestApp/Program.cs
  src/installer/tests/Assets/TestProjects/StandaloneTestApp/Program.cs
  src/installer/tests/Assets/TestProjects/StandaloneTestApp/StandaloneTestApp.csproj
  src/installer/tests/HostActivation.Tests/DotnetTestXunit.cs
Labels: area-Host

#79157 Update new ArgumentOutOfRangeException.Throw methods to include ActualValue
  src/libraries/System.Private.CoreLib/src/System/ArgumentOutOfRangeException.cs
  src/libraries/System.Runtime/tests/System/ArgumentOutOfRangeExceptionTests.cs
Labels: area-System.Runtime

#79222 [wasm] Update generated typescript files
  src/mono/wasm/runtime/diagnostics-mock.d.ts
  src/mono/wasm/runtime/diagnostics-mock.d.ts.sha256
  src/mono/wasm/runtime/dotnet.d.ts
Labels: arch-wasm, area-Build-mono

#79176 Speeds up linker tests in NativeAOT
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/LazyGenerics/ModuleCycleInfo.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases.Expectations/Metadata/SetupIlcFrameworkCompilationAttribute.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerDriver.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerOptions.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerOptionsBuilder.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerTestPInvokePolicy.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/TestCaseLinkerOptions.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/TestCaseMetadataProvider.cs
Labels: area-NativeAOT-coreclr

#79129 add SEC_E_CONTEXT_EXPIRED to avoid throwing InternalException
  src/libraries/Common/src/Interop/Windows/SChannel/Interop.SECURITY_STATUS.cs
  src/libraries/Common/src/System/Net/SecurityStatusAdapterPal.Windows.cs
  src/libraries/Common/src/System/Net/SecurityStatusPal.cs
Labels: area-System.Net.Security, os-windows

#79162 [JIT] Allow new temp assignment whose dstTyp is TYP_I_IMPL and valTyp is TYP_BYREF
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#79138 Delete .NET Native leftovers from type loader (part 4 of X)
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ExternalReferencesTable.NativeFormatModuleInfo.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/GenericDictionaryCell.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.FieldAccess.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.StaticsLookup.cs
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormat.cs
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormatWriter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CallingConventionConverterKey.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericLookupResult.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.GenericLookups.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.NativeLayout.cs
Labels: area-NativeAOT-coreclr

#79252 Disable Runtime_31615
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#79174 Map correct fmt for mov instruction
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#79250 Fix run.cmd syntax error
  src/tests/run.cmd
Labels: area-Infrastructure-coreclr

#78580 Rewrite Enum and add {ISpanFormattable}.TryFormat
  src/coreclr/System.Private.CoreLib/src/System/Enum.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Core/Execution/ExecutionEnvironment.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Enum.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/EnumInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeType.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Reflection/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.Runtime.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/NativeFormatEnumInfo.cs
  src/coreclr/vm/reflectioninvocation.cpp
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Operators.cs
  src/libraries/Microsoft.Win32.Registry/src/Microsoft/Win32/RegistryKey.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/EnumConverterTest.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.cs
  src/libraries/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.cs
  src/libraries/System.Private.CoreLib/src/System/Boolean.cs
  src/libraries/System.Private.CoreLib/src/System/Enum.EnumInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
  src/libraries/System.Private.CoreLib/src/System/Environment.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/NeutralResourcesLanguageAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/DefaultInterpolatedStringHandler.cs
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Text/ValueStringBuilder.AppendFormat.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/libraries/System.Private.Uri/src/System/UriExt.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/IlGen/OptimizerPatterns.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/EnumTests.cs
  src/libraries/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceController.cs
  src/mono/System.Private.CoreLib/src/System/Enum.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/icall.c
Labels: new-api-needs-documentation

#79095 Fix creating incorrect options in the repro package
  src/coreclr/tools/Common/CommandLineHelpers.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
Labels: area-crossgen2-coreclr

#79256 Delete workarounds for RuntimeInformation.OSArchitecture bugs
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.SingleEntry.targets
Labels: area-NativeAOT-coreclr

#79260 Delete .NET Native leftovers from type loader (part 5 of X)
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/LowLevelStringConverter.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/NativeLayoutFieldDesc.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/PermanentAllocatedMemoryBlobs.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TemplateLocator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.ConstructedGenericMethodsLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.ConstructedGenericTypesLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.ConstructedGenericsRegistration.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.FieldAccess.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.Metadata.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.MethodAddress.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.NamedTypeLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.StaticsLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderTypeSystemContext.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeSystemExtensions.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeSystemContext.Runtime.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
Labels: area-NativeAOT-coreclr

#79249 Fix Processor Count getting ignored due to typo in libs/build-native.proj
  src/native/libs/build-native.proj
Labels: area-Infrastructure

#79148 [wasm] Supply `-s INITIAL_MEMORY` to emcc in wasm.proj
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono

#79258 remove default framework in perf setup script
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-libraries, community-contribution

#79268 Move reference assembly logic into root msbuild files
  Directory.Build.props
  Directory.Build.targets
  eng/referenceAssemblies.props
  eng/references.targets
  src/libraries/Directory.Build.props
Labels: area-Infrastructure

#78918 [Android] Fix SslStream on Android API 21-23
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Ssl.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Android/SafeDeleteSslContext.cs
  src/native/libs/System.Security.Cryptography.Native.Android/pal_jni.c
  src/native/libs/System.Security.Cryptography.Native.Android/pal_jni.h
  src/native/libs/System.Security.Cryptography.Native.Android/pal_sslstream.c
  src/native/libs/System.Security.Cryptography.Native.Android/pal_sslstream.h
Labels: area-System.Net.Security, os-android

#79264 Delete .NET Native leftovers from type loader (part 6 of X)
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/DispatchResolve.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/MethodTable.Runtime.cs
  src/coreclr/nativeaot/Runtime/inc/MethodTable.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/TypeLoaderCallbacks.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/TypeLoaderExports.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/GenericDictionaryCell.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ModuleList.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/NoMetadataFieldLayoutAlgorithm.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.GVMResolution.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.LdTokenResultLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.Metadata.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.MethodAddress.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.SignatureParsing.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeDesc.Runtime.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeSystemContext.Runtime.cs
  src/coreclr/tools/Common/Internal/Runtime/MethodTable.Constants.cs
Labels: area-NativeAOT-coreclr

#79269 [corlib] Don't include Interop.InitializeTerminalAndSignalHandling.cs on mobile
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
Labels: area-CoreLib-mono

#79226 Add tizen x64 cross build support
  eng/native/tryrun.cmake
Labels: community-contribution

#79278 Fix comment typo in DateTime.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
Labels: community-contribution, area-System.DateTime

#78760 Fix Runtime_76194 test
  src/tests/JIT/Regression/JitBlue/Runtime_76194/CMakeLists.txt
  src/tests/JIT/Regression/JitBlue/Runtime_76194/CrossplatVirtualAlloc.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_76194/Runtime_76194.cs
  src/tests/JIT/Regression/JitBlue/Runtime_76194/Runtime_76194.csproj
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#79194 Fold all local addresses in local morph
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#78970 Avoid dereferencing null if the debugger APIs are called before initializing the AppDomain
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/dacimpl.h
Labels: area-Diagnostics-coreclr

#79168 Documentation signature parser tests and fixes for NativeAOT
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logging/DocumentationSignatureGenerator.PartVisitor.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logging/DocumentationSignatureParser.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCases/TestDatabase.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerDriver.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/MemberAssertionsCollector.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/Tests/DocumentationSignatureParserTests.cs
Labels: area-NativeAOT-coreclr

#78292 Reserve memory for FOH in-range
  src/coreclr/vm/frozenobjectheap.cpp
Labels: area-VM-coreclr

#78798 Add mechanism for runtime to query host for information
  src/coreclr/dlls/mscoree/exports.cpp
  src/coreclr/inc/hostinformation.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/corhost.cpp
  src/coreclr/vm/hostinformation.cpp
  src/installer/tests/Assets/TestProjects/HostApiInvokerApp/HostApiInvokerApp.csproj
  src/installer/tests/Assets/TestProjects/HostApiInvokerApp/HostRuntimeContract.cs
  src/installer/tests/Assets/TestProjects/HostApiInvokerApp/Program.cs
  src/installer/tests/HostActivation.Tests/NativeHostApis.cs
  src/native/corehost/host_runtime_contract.h
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/pal.windows.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.h
Labels: area-Host

#79296 JIT: Avoid containing small memory operands in GT_SELECT nodes
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#78790 CoreCLR initialization failures logging
  src/coreclr/binder/utils.cpp
  src/coreclr/dlls/mscoree/exports.cpp
  src/coreclr/dlls/mscoree/mscorwks_ntdef.src
  src/coreclr/dlls/mscoree/mscorwks_unixexports.src
  src/coreclr/gc/env/gcenv.ee.h
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gccommon.cpp
  src/coreclr/gc/gcenv.ee.standalone.inl
  src/coreclr/gc/gcinterface.ee.h
  src/coreclr/gc/gcinterface.h
  src/coreclr/gc/gcload.cpp
  src/coreclr/gc/sample/gcenv.ee.cpp
  src/coreclr/hosts/corerun/corerun.cpp
  src/coreclr/hosts/inc/coreclrhost.h
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/common.h
  src/coreclr/vm/corhost.cpp
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/gcenv.ee.h
  src/mono/mono/mini/main-core.c
  src/native/corehost/coreclr_resolver.h
  src/native/corehost/hostpolicy/coreclr.cpp
  src/native/corehost/hostpolicy/standalone/coreclr_resolver.cpp
Labels: area-VM-coreclr

#79307 Fix test by actually passing the message and exception.
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Diagnostics/UnreachableExceptionTests.cs
Labels: area-System.Diagnostics, community-contribution

#79126 [JIT] X64 - Allow containment of larger memory operands for `AND`, `OR`, `XOR`
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#79321 Simplify MethodCell
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/GenericDictionaryCell.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.SignatureParsing.cs
Labels: area-NativeAOT-coreclr

#77343 [mono] Convert Array icalls to use ObjectHandleOnStack.
  src/mono/System.Private.CoreLib/src/System/Array.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.Mono.cs
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/icall.c
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object.c
Labels: area-VM-meta-mono

#79076 [Android] Fix path to `ping` on Android API 21-27
  src/libraries/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
Labels: area-System.Net, os-android

#79340 [wasm] fix marshaling Error to C# as JSType.Any
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportExportTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.mjs
  src/mono/wasm/runtime/marshal-to-cs.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#79322 Compile native code with `-ffunction-sections`
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure

#79163 Fix a NonBacktracking subsumption checking rule for XY|X??Y
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexNode.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#79013 Handle zero value modulus for OpenSSL 1.1
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/ImportExport.cs
  src/native/libs/System.Security.Cryptography.Native/apibridge.c
  src/native/libs/System.Security.Cryptography.Native/apibridge.h
  src/native/libs/System.Security.Cryptography.Native/openssl_1_0_structs.h
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/osslcompat_111.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey.c
Labels: area-System.Security

#79300 Call BIO_gets in a loop until no more data can be read
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.BIO.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OpenSslAsnFormatter.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509CertificateReader.cs
  src/libraries/System.Security.Cryptography/tests/AsnEncodedDataTests.cs
Labels: area-System.Security

#79353 Fix handling of backtracking stack with some loops
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions

#79357 Use IndexOfAnyExceptInRange in ZipHelper.GetEncoding
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipHelper.cs
Labels: area-System.IO.Compression

#79332 Use static sealed vtable for dynamically created types
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormat.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
Labels: area-NativeAOT-coreclr

#79358 Ignoring test regression runtime_63354 in x86
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#79356 Fix dump creation on MacOS Ventura
  src/coreclr/debug/createdump/crashinfo.h
  src/coreclr/debug/createdump/crashinfomac.cpp
  src/coreclr/debug/dbgutil/machoreader.cpp
  src/coreclr/debug/dbgutil/machoreader.h
Labels: area-Diagnostics-coreclr

#79048 Add MemoryExtensions.Split
  src/libraries/Common/src/Interop/Linux/cgroups/Interop.cgroups.cs
  src/libraries/Common/src/System/Drawing/ColorConverterCommon.cs
  src/libraries/System.Data.Common/src/System/Data/XDRSchema.cs
  src/libraries/System.Diagnostics.FileVersionInfo/src/System/Diagnostics/FileVersionInfo.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs
  src/libraries/System.Drawing.Primitives/src/System.Drawing.Primitives.csproj
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/AltSvcHeaderParser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/ContentDispositionHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs
  src/libraries/System.Net.Primitives/src/System/Net/CookieContainer.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/JapaneseCalendar.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyNameParser.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/FrameworkName.cs
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Win32.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/Inference/Infer.cs
  src/libraries/System.Runtime/tests/System/String.SplitTests.cs
Labels: area-System.Memory, new-api-needs-documentation

#77760 [JIT] - Fixed sub-optimal optimization for `a % 1` to Zero
  src/coreclr/jit/compiler.h
  src/coreclr/jit/morph.cpp
  src/tests/JIT/opt/Remainder/IntRemainder.cs
  src/tests/JIT/opt/Remainder/IntRemainder.csproj
  src/tests/JIT/opt/Remainder/Regressions/Regression1/Regression1.cs
  src/tests/JIT/opt/Remainder/Regressions/Regression1/Regression1.csproj
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#79366 Delete parts of type system that deal with layouts
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/NativeLayoutFieldAlgorithm.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/NoMetadataFieldLayoutAlgorithm.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderTypeSystemContext.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
Labels: area-NativeAOT-coreclr

#79341 JIT: Allow cloning addresses even before initobj
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#79368 Fix Sse3 => Ssse3 typo
  src/libraries/System.Private.CoreLib/src/System/IndexOfAnyValues/IndexOfAnyValues.cs
Labels: area-System.Memory

#77293 [wasm] Lazy init of [JSExport] bindings
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Comparers.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Constants.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSSignatureContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.cs
  src/mono/wasm/runtime/invoke-cs.ts
  src/mono/wasm/runtime/invoke-js.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#79343 [mono][interp] Remove some dead opcodes
  src/mono/System.Private.CoreLib/src/System/Array.Mono.cs
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/mintops.h
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
  src/mono/wasm/runtime/jiterpreter.ts
Labels: area-Codegen-Interpreter-mono

#79392 [mono][interp] Add intrinsic for string allocation
  src/mono/mono/metadata/gc-internals.h
  src/mono/mono/metadata/gc.c
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#79389 Convert b08046 to C# and fix it
  src/tests/JIT/Regression/CLR-x86-JIT/V1.2-M01/b08046/SyncGCHole.il
  src/tests/JIT/Regression/CLR-x86-JIT/V1.2-M01/b08046cs/SyncGCHole.cs
  src/tests/JIT/Regression/CLR-x86-JIT/V1.2-M01/b08046cs/b08046cs.csproj
Labels: area-CodeGen-coreclr

#79242 Do not override content root with default
  src/libraries/Microsoft.Extensions.Hosting/src/HostApplicationBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostApplicationBuilderTests.cs
Labels: area-Extensions-Hosting

#79374 Update doc to describe host_runtime_contract
  docs/design/features/host-runtime-information.md
Labels: area-Host

#78320 [wasm][debugger] Revert don't need to escape special characters anymore
  .gitignore
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/Firefox/FirefoxMonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestSuite.csproj
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/tests/debugger-test-special-char-in-path-#@/non-ascii-test-ąłÅ.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
Labels: area-Debugger-mono

#79011 Remaining feedback part1
  src/tools/illink/.editorconfig
  src/tools/illink/Directory.Build.props
  src/tools/illink/Directory.Build.targets
  src/tools/illink/eng/Analyzers.props
  src/tools/illink/eng/azure-pipelines.yml
  src/tools/illink/eng/bootstrap.proj
  src/tools/illink/ilasm.ilproj
  src/tools/illink/src/Directory.Build.props
  src/tools/illink/src/ILLink.CodeFix/ILLink.CodeFixProvider.csproj
  src/tools/illink/src/ILLink.Tasks/LinkTask.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/UnreachableBlockTests.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Attributes.NoSecurityTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Attributes.OnlyKeepUsedTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Attributes.StructLayoutTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/AttributesTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/BasicTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/DynamicDependenciesTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Inheritance.Interfaces.DefaultInterfaceMethodsTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Inheritance.Interfaces.OnReferenceTypeTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Inheritance.Interfaces.StaticInterfaceMethodsTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/References.IndividualTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/ReflectionTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/SymbolsTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/TestFrameworkTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/TypeForwardingTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Warnings.IndividualTests.g.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Warnings.WarningSuppressionTests.g.cs
  src/tools/illink/test/Mono.Linker.Tests/Mono.Linker.Tests.csproj
Labels: linkable-framework, area-Tools-ILLink

#79396 [wasm] Ignore not relevant rollup warnings
  src/mono/wasm/runtime/rollup.config.js
Labels: arch-wasm, area-Build-mono

#79385 Add ImmutableArray<T>.Builder.DrainToImmutable()
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Builder.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableArrayBuilderTest.cs
Labels: area-System.Collections, new-api-needs-documentation

#79407 Temporarily disable NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
Labels: area-System.Net.Http

#79394 [mono][tests] Throw InvalidProgramException when ENDFILTER has invalid value type or invalid number of values
  src/mono/mono/mini/interp/transform.c
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#79349 Don't embed bitcode on tvOS anymore
  eng/native/configurecompiler.cmake
  src/mono/CMakeLists.txt
  src/native/libs/CMakeLists.txt
Labels: area-Build-mono, community-contribution

#77256 [wasm] optimize interop startup and linker hints
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System.Runtime.InteropServices.JavaScript.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/LegacyExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.Types.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Array.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/ArrayBuffer.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/DataView.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Function.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/LegacyHostImplementation.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Uint8Array.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#79254 [wasm] Wasm.Build.Tests - build projects for net8.0 by default
  eng/Versions.props
  eng/testing/workloads-testing.targets
  src/libraries/Directory.Build.props
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest/WorkloadManifest.json.in
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/NativeLibraryTests.cs
  src/mono/wasm/Wasm.Build.Tests/NonWasmTemplateBuildTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmTemplateTests.cs
  src/mono/wasm/templates/templates/browser/.template.config/template.json
  src/mono/wasm/templates/templates/console/.template.config/template.json
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
  src/tasks/WorkloadBuildTasks/PackageInstaller.cs
Labels: arch-wasm, area-Build-mono

#78840 [mono] Add a managed cache for flags in RuntimeType.
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
Labels: area-CoreLib-mono

#79447 [wasm] Add Vector128.Narrow intrinsics
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#77999 Reflection context tests working
  src/libraries/System.Reflection.Context/tests/CustomAssemblyAttributes.cs
  src/libraries/System.Reflection.Context/tests/InheritedPropertyInfoTests.cs
  src/libraries/System.Reflection.Context/tests/InteritedMethodInfoTests.cs
  src/libraries/System.Reflection.Context/tests/ProjectingFieldInfoTests.cs
  src/libraries/System.Reflection.Context/tests/ProjectingModuleTests.cs
  src/libraries/System.Reflection.Context/tests/ProjectionConstants.cs
  src/libraries/System.Reflection.Context/tests/System.Reflection.Context.Tests.csproj
  src/libraries/System.Reflection.Context/tests/TestTypes.cs
Labels: area-System.Reflection, community-contribution

#79182 Fixing assert on variable live range for simd12 LCL / STORE_LCL
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/simdcodegenxarch.cpp
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#79370 fix determin lib name varation logic
  src/coreclr/vm/nativelibrary.cpp
Labels: area-Interop-coreclr, community-contribution

#79183 A gentle reminder that TraceGC is turned off
  src/coreclr/gc/gc.cpp
  src/coreclr/inc/gcmsg.inl
  src/coreclr/tools/StressLogAnalyzer/StressLogPlugin.cpp
Labels: area-GC-coreclr

#79262 Move the rearrange_uoh_segments call earlier so that distribute_free_regions can take them into account
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#79417 Enable `runtime-coreclr jitstress-isas-avx512` pipeline on Linux
  eng/pipelines/coreclr/jitstress-isas-avx512.yml
Labels: area-Infrastructure-coreclr

#79476 Fix for COM Weakreference test failure under JIT stress.
  src/tests/Interop/COM/ComWrappers/WeakReference/WeakReferenceTest.cs
Labels: area-Interop-coreclr

#79435 Only create MethodTable optional fields when needed
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
Labels: area-NativeAOT-coreclr

#79466 [wasm] Improve terser setup
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#79323 improve symlink handling in Ping
  src/libraries/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
Labels: area-System.Net

#79259 Select libraries using the ICU build time version
  src/native/libs/System.Globalization.Native/pal_icushim.c
Labels: area-System.Globalization, community-contribution

#76560 [NativeAOT] Enable smoke tests on macOS
  eng/pipelines/coreclr/nativeaot-post-build-steps.yml
Labels: community-contribution, area-NativeAOT-coreclr

#79501 Link static libstdc++ with libicuc in NativeAOT
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: community-contribution, area-NativeAOT-coreclr

#79400 add --allconfigurations for portable source-build
  eng/SourceBuild.props
Labels: source-build

#79426 Fix GC stress C on macOS arm64
  src/coreclr/pal/src/arch/arm64/context2.S
  src/coreclr/pal/src/exception/machexception.cpp
Labels: area-PAL-coreclr

#79452 Delete unused FreeLibraryAndExitThread from PAL
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/loader/module.cpp
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/compilableTests.txt
  src/coreclr/pal/tests/palsuite/filemapping_memmgt/FreeLibraryAndExitThread/test1/dlltest.cpp
  src/coreclr/pal/tests/palsuite/filemapping_memmgt/FreeLibraryAndExitThread/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/paltestlist_to_be_reviewed.txt
Labels: area-PAL-coreclr

#79398 Fixes remaining issues with DynamicDependency attribute and adds tests
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DynamicDependencyAttributeAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FieldMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MethodMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/AssemblyDependency.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/AssemblyDependencyWithMultipleReferences.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssemblyLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyInCopyAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyMethodInAssemblyLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyMethodInNonReferencedAssemblyBase.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyMethodInNonReferencedAssemblyBase2.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyMethodInNonReferencedAssemblyChainedLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyMethodInNonReferencedAssemblyChainedReferenceLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyMethodInNonReferencedAssemblyLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyMethodInNonReferencedAssemblyLibrary.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyOnUnusedMethodInNonReferencedAssemblyWithCopyUsedAction_Lib.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/FacadeAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/ImplementationLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/ReferenceImplementationLibrary.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/UnusedAssemblyDependency.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyField.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXml.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXml.mono.Attributes.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXml.netcore.Attributes.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssembly.mono.Attributes.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssembly.netcore.Attributes.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromCopiedAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyKeptOption.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMemberSignatureWildcard.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMemberTypes.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethod.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethodInAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethodInNonReferencedAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethodInNonReferencedAssemblyChained.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethodInNonReferencedAssemblyChainedReference.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethodInNonReferencedAssemblyWithEmbeddedXml.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethodInNonReferencedAssemblyWithSweptReferences.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyOnForwardedType.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyOnUnusedMethodInNonReferencedAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyOnUnusedMethodInNonReferencedAssemblyWithCopyUsedAction.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyOnUnusedMethodInNonReferencedAssemblyWithEmbeddedXml.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Mono.Linker.Tests.Cases.csproj
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCases/TestDatabase.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCases/TestSuites.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
Labels: area-NativeAOT-coreclr

#73215 [mono][interp] Throw invalid program if stack state is invalid
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#79526 [wasm] Disable failing blazor tests
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmTemplateTests.cs
Labels: arch-wasm, disabled-test, area-Build-mono

#79457 [wasm] reduce MethodImplOptions.NoInlining
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptImports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/LegacyExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Array.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Uint8Array.cs
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/invoke-cs.ts
  src/mono/wasm/runtime/invoke-js.ts
  src/mono/wasm/runtime/net6-legacy/buffers.ts
  src/mono/wasm/runtime/net6-legacy/cs-to-js.ts
  src/mono/wasm/runtime/net6-legacy/js-to-cs.ts
  src/mono/wasm/runtime/net6-legacy/method-calls.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#79397 Add weakly typed Serialize and Deserialize overloads accepting JsonTypeInfo.
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Document.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Element.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Node.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Document.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Element.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Node.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Utf8JsonWriter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.ReadHelper.cs
  src/libraries/System.Text.Json/tests/Common/JsonSerializerWrapper.cs
  src/libraries/System.Text.Json/tests/Common/StreamingJsonSerializerWrapper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/JsonSerializerWrapper.SourceGen.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonSerializerWrapper.Reflection.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/MetadataTests.JsonSerializer.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Stream.DeserializeAsyncEnumerable.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#79412 Fix compression
  src/libraries/System.Net.WebSockets.Client/ref/System.Net.WebSockets.Client.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/tests/DeflateTests.cs
Labels: area-System.Net

#79445 [mono][interp] Add unbox when calling valuetype method through delegate
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/tests/JIT/Regression/JitBlue/Runtime_79354/Runtime_79354.cs
  src/tests/JIT/Regression/JitBlue/Runtime_79354/Runtime_79354.csproj
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#78280 [NativeAOT] Objective-C Marshal: object tracker support
  src/coreclr/nativeaot/Bootstrap/main.cpp
  src/coreclr/nativeaot/CMakeLists.txt
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/Crst.h
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/ICodeManager.h
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/Runtime/inc/MethodTable.h
  src/coreclr/nativeaot/Runtime/interoplibinterface.h
  src/coreclr/nativeaot/Runtime/interoplibinterface_objc.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/EETypePtr.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ObjectiveCMarshal.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/tools/Common/Internal/Runtime/EETypeBuilderHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/MethodTable.Constants.cs
  src/coreclr/vm/syncblk.h
  src/tests/Interop/ObjectiveC/ObjectiveCMarshalAPI/Program.cs
Labels: community-contribution, area-NativeAOT-coreclr

#79541 JIT: Add missing case to relational with constant optimization
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#78068 [wasm] Enable System.Numerics vectors SIMD
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.wasm.xml
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#79128 fix SslStream.IsMutuallyAuthenticated with cached credentials
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/CertificateValidationClientServer.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamMutualAuthenticationTest.cs
Labels: area-System.Net.Security

#79523 Fix up NativeAOT testing
  eng/pipelines/extra-platforms/runtime-extra-platforms-other.yml
  eng/pipelines/runtime.yml
Labels: area-NativeAOT-coreclr

#79497 Fix versions of the .NET 8 ILC package
  src/coreclr/nativeaot/docs/compiling.md
Labels: community-contribution, area-NativeAOT-coreclr

#76898 Adding new ReadyToRun helper for static cctor
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: area-CodeGen-coreclr

#79564 [mono][interp] Fix some issues that are hit in tests when we tier up methods immediately
  src/mono/mono/mini/interp/transform.c
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#79565 Don't require singlefilehost in host.native
  src/native/corehost/corehost.proj
Labels: area-Host

#79585 Handle RSA zero modulus for Android
  src/libraries/Common/src/System/Security/Cryptography/RSAAndroid.cs
Labels: area-System.Security, os-android

#79597 [mono] Fix passing of NULL via mono_runtime_invoke to method expecting nullable
  src/mono/mono/metadata/object.c
Labels: area-VM-meta-mono

#78466 Console.Unix: don't calculate cached cursor position from the last column.
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/tests/ManualTests/ManualTests.cs
Labels: area-System.Console, community-contribution

#79573 [wasm] Let browser-bench post bootstrap flag
  src/mono/sample/wasm/browser-bench/main.js
Labels: area-Infrastructure-mono
