Repository dotnet/runtime, pull requests merged in 2023-08, with the labels that each got.

#89599 [Perf] Cache key size in CngKey
  src/libraries/System.Security.Cryptography.Cng/tests/CngKeyTests.cs
  src/libraries/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngKey.StandardProperties.cs
Labels: area-System.Security, tenet-performance

#89598 Stop using computed RID for RUNTIME_IDENTIFIER property
  src/installer/tests/HostActivation.Tests/NativeHostApis.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/RuntimeIdentifierTests.cs
  src/native/corehost/fxr/command_line.cpp
  src/native/corehost/hostmisc/utils.cpp
  src/native/corehost/hostmisc/utils.h
  src/native/corehost/hostpolicy/deps_format.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
Labels: breaking-change, area-Host, needs-breaking-change-doc-created

#88970 add SendTo/ReceiveFrom with SocketAddress
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Socket.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.SocketAddress.cs
  src/libraries/Common/src/Interop/Windows/IpHlpApi/Interop.ICMP.cs
  src/libraries/Common/src/Interop/Windows/IpHlpApi/Interop.NetworkInformation.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSAConnect.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.accept.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.recvfrom.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.sendto.cs
  src/libraries/Common/src/System/Net/IPEndPointExtensions.cs
  src/libraries/Common/src/System/Net/SocketAddress.cs
  src/libraries/Common/src/System/Net/SocketAddressPal.Unix.cs
  src/libraries/Common/src/System/Net/SocketAddressPal.Windows.cs
  src/libraries/Common/src/System/Net/SocketProtocolSupportPal.Unix.cs
  src/libraries/System.Net.NameResolution/tests/PalTests/System.Net.NameResolution.Pal.Tests.csproj
  src/libraries/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/SystemNetworkInterface.cs
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/SocketAddressTest.cs
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicExtensions.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicHelpers.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/Resources/Strings.resx
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveFrom.cs
  src/native/libs/System.Native/entrypoints.c
  src/native/libs/System.Native/pal_networking.c
  src/native/libs/System.Native/pal_networking.h
  src/native/libs/System.Native/pal_networking_wasi.c
Labels: area-System.Net.Sockets, new-api-needs-documentation

#89758 Fix building with GVM_RESOLUTION_TRACE
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.GVMResolution.cs
Labels: area-NativeAOT-coreclr

#89710 JIT: Fix RBO introducing data races
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#89296 [iOS] HybridGlobalization Implement missing cases for GlobalizationNative_GetLocaleInfoString
  src/libraries/Common/src/Interop/Interop.Casing.iOS.cs
  src/libraries/Common/src/Interop/Interop.Collation.iOS.cs
  src/libraries/Common/src/Interop/Interop.Locale.iOS.cs
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoEnglishName.cs
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoNativeName.cs
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoThreeLetterISOInfo.cs
  src/libraries/System.Globalization/tests/Hybrid/HybridMode.cs
  src/libraries/System.Globalization/tests/Hybrid/System.Globalization.IOS.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.iOS.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.iOS.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.iOS.cs
  src/native/libs/System.Globalization.Native/entrypoints.c
  src/native/libs/System.Globalization.Native/pal_casing.m
  src/native/libs/System.Globalization.Native/pal_collation.m
  src/native/libs/System.Globalization.Native/pal_locale.m
  src/tests/build.proj
Labels: area-System.Globalization, os-ios, os-tvos, os-maccatalyst

#89753 [LoongArch64] fix the compiling errors by GCC.
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/vm/loongarch64/asmhelpers.S
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#89503 Add CreateParameter() to DbBatchCommand
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/Common/DbBatchCommand.cs
Labels: area-System.Data, new-api-needs-documentation

#89580 [mono] Fix more memory leaks in aot+interp mode.
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/llvmonly-runtime.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-trampolines.c
Labels: needs-area-label

#89596 Add [DebuggerGuidedStepThrough] to new invoker methods
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/ConstructorInvoker.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/MethodInvoker.cs
Labels: area-System.Reflection, area-NativeAOT-coreclr

#89775 Add missing namespace to CreateParameter()
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
Labels: area-System.Data, new-api-needs-documentation

#89777 [mono] Enable sourcelink for native bits on MSVC
  eng/versioning.targets
  src/mono/CMakeLists.txt
  src/mono/mono.proj
Labels: area-Build-mono

#89611 [wasm] CI: Add support for running WBT with multithreaded runtime installed too
  eng/Subsets.props
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/browser-wasm-build-tests.yml
  eng/pipelines/common/templates/simple-wasm-build-tests.yml
  eng/pipelines/common/templates/wasm-build-only.yml
  eng/pipelines/common/wasm-post-build-steps.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime.yml
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  eng/testing/workloads-testing.targets
  src/mono/wasm/Wasm.Build.Tests/AssertWasmSdkBundleOptions.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/AppsettingsTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorRunOptions.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmProjectProvider.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/SimpleMultiThreadedTests.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserRunner.cs
  src/mono/wasm/Wasm.Build.Tests/BuildProjectOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Common/AssertBundleOptionsBase.cs
  src/mono/wasm/Wasm.Build.Tests/Common/AssertTestMainJsAppBundleOptions.cs
  src/mono/wasm/Wasm.Build.Tests/Common/BuildEnvironment.cs
  src/mono/wasm/Wasm.Build.Tests/Common/EnvironmentVariables.cs
  src/mono/wasm/Wasm.Build.Tests/Common/GlobalizationMode.cs
  src/mono/wasm/Wasm.Build.Tests/IcuShardingTests.cs
  src/mono/wasm/Wasm.Build.Tests/InvariantGlobalizationTests.cs
  src/mono/wasm/Wasm.Build.Tests/NativeRebuildTests/NativeRebuildTestsBase.cs
  src/mono/wasm/Wasm.Build.Tests/ProjectProviderBase.cs
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/WasmTemplateTestBase.cs
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/wasm.code-workspace
  src/mono/wasm/workloads.proj
Labels: arch-wasm, area-Build-mono, area-Infrastructure-mono

#89268 Add workaround for broken SPNEGO in IBM WebSphere
  src/libraries/System.Net.Security/src/System/Net/NegotiateAuthenticationPal.ManagedSpnego.cs
Labels: area-System.Net.Security, community-contribution

#89748 Fix ConnectCallback_UseNamedPipe_Success test
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Labels: area-System.Net.Http

#89745 Fix COM object leak
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/interopt.cs
Labels: area-System.DirectoryServices

#89762 Longer timeouts for perf slow jobs
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure-coreclr

#88884 [wasm][debugger] Support NO_PROXY": "localhost" in launchSettings.json
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/ProxyOptions.cs
Labels: arch-wasm, area-Debugger-mono

#89788 Improve HTTP/2 MultipleConnectionsEnabled tests
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#89770 Reenable Deserialize test for GCStress
  src/tests/JIT/Performance/CodeQuality/Serialization/Deserialize.csproj
Labels: area-Serialization

#89223 Remove Crossgen2's -O option in Test Builds Wherever Possible
  src/coreclr/crossgen-corelib.proj
  src/tests/Common/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#89537 Flow binder gen diag locations correctly & pick up more bind input patterns
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/ConfigurationBindingGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/Parser/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/Parser/OptionsBuilderConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/Parser/OptionsConfigurationServiceCollectionExtensions.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.Collections.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.TestClasses.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/ConfigurationBindingGeneratorTests.Baselines.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/ConfigurationBindingGeneratorTests.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Microsoft.Extensions.Configuration.Binder.SourceGeneration.Tests.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/JsonConsoleFormatterOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
Labels: area-Extensions-Configuration

#89800 Update branding to 6.0.22
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#89801 Update branding to 7.0.11
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#89743 JIT: don't dead store untracked OSR locals based on ref count
  src/coreclr/jit/lclvars.cpp
  src/tests/JIT/opt/OSR/Runtime_89666.cs
  src/tests/JIT/opt/OSR/Runtime_89666.csproj
Labels: area-CodeGen-coreclr

#89802 Don't have getVectorTByteLength() return 0 for the time being
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#89605 Add MediaType to BinaryData
  src/libraries/System.Memory.Data/ref/System.Memory.Data.cs
  src/libraries/System.Memory.Data/src/System/BinaryData.cs
  src/libraries/System.Memory.Data/tests/BinaryDataTests.cs
Labels: area-System.Memory, new-api-needs-documentation, community-contribution

#89601 Add Info warning for int return values
  docs/project/list-of-diagnostics.md
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/Common/Verifiers/CSharpSourceGeneratorVerifier.cs
Labels: area-System.Runtime.InteropServices

#89741 [wasm][debugger] Do not pause on exceptions from our framework js files if JMC is enabled
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: area-Debugger-mono

#89706 Debloat serialization guard
  src/libraries/Common/src/System/Runtime/Serialization/SerializationGuard.cs
Labels: area-Serialization, size-reduction

#89808 avoid allocating SocketAddress GCHandle for every ReceiveFromAsync
  src/libraries/Common/src/System/Net/SocketAddress.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
Labels: area-System.Net.Sockets, os-windows

#89824 Make test `HugeField2` optimization sensitive for ARM32
  src/coreclr/jit/emitarm.cpp
  src/tests/JIT/jit64/opt/cse/HugeField2.csproj
Labels: area-CodeGen-coreclr

#89819 Don't access AlgorithmGroup until necessary
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngKey.StandardProperties.cs
Labels: area-System.Security

#89792 Change www.microsoft.com to www.github.com in test
  src/libraries/System.Net.Security/tests/FunctionalTests/CertificateValidationRemoteServer.cs
Labels: area-System.Net.Security

#89130 Add FileAttributes.None
  src/libraries/System.IO.FileSystem.Primitives/tests/FileAttributesTests.cs
  src/libraries/System.IO.FileSystem/tests/File/GetSetAttributes_SafeFileHandle.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileAttributes.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/EnumConverterTests.cs
Labels: area-System.IO, new-api-needs-documentation, community-contribution

#89836 Add an option to run ILC with workstation GC
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#89838 Move SVM regression tests to a shorter path
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GetInterfaceMapWithStaticVirtualsAndConstraints.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GetInterfaceMapWithStaticVirtualsAndConstraints.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_59432.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_59432.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_70385.cs.template
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_70385.il
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_70385.ilproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_71319.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_71319.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_73658.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_74792.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_74792.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_76673.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_76673.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_78865.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_78866.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_78866.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_80350.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/GitHub_80350.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/RecursiveConstraintOnDefaultImplementationOfStaticAbstractMember.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/RecursiveConstraintOnDefaultImplementationOfStaticAbstractMember.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/StaticVirtualsAndMethodConstraintsAndDefaultImplementation.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/StaticVirtualsAndMethodConstraintsAndDefaultImplementation.csproj
  src/tests/issues.targets
Labels: area-VM-coreclr

#89623 Add more verifications in EventPipe rundownvalidation test.
  src/tests/tracing/eventpipe/rundownvalidation/rundownvalidation.cs
Labels: area-Diagnostics-coreclr, area-Diagnostics-mono

#89725 [Mono]: Fix iOS/Android sample diagnostics config.
  src/mono/sample/Android/Makefile
  src/mono/sample/iOS/Makefile
Labels: area-Infrastructure-mono

#89780 [Mono]: Align GetProcessinfo3 diagnostics command for MacCatalyst.
  src/native/eventpipe/ds-sources.c
  src/native/eventpipe/ep-event-source.c
Labels: area-Tracing-coreclr

#89654 SPMI: Gracefully handle managed exceptions during replay
  src/coreclr/tools/superpmi/superpmi-shared/errorhandling.cpp
  src/coreclr/tools/superpmi/superpmi-shared/errorhandling.h
  src/coreclr/tools/superpmi/superpmi-shared/logging.h
  src/coreclr/tools/superpmi/superpmi/jitinstance.cpp
Labels: area-CodeGen-coreclr

#89773 JIT: Consistently use '0x' as the hex specifier
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#89719 [wasm] Assure name starts with `icudt` + fix testing scenario.
  src/mono/wasm/Wasm.Build.Tests/IcuTests.cs
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/testassets/incorrectName.dat
Labels: arch-wasm, area-System.Globalization, area-Build-mono

#89687 [browser] fix loading assets
  src/mono/sample/wasm/browser-advanced/main.js
  src/mono/sample/wasm/browser-minimal-config/Program.cs
  src/mono/sample/wasm/browser-minimal-config/Wasm.Browser.Config.Sample.csproj
  src/mono/sample/wasm/browser-minimal-config/index.html
  src/mono/sample/wasm/browser-minimal-config/main.js
  src/mono/wasm/Wasm.Build.Tests/ProjectProviderBase.cs
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/loader/assets.ts
  src/mono/wasm/runtime/loader/config.ts
  src/mono/wasm/runtime/loader/polyfills.ts
  src/mono/wasm/runtime/loader/run.ts
  src/mono/wasm/runtime/types/export-types.ts
  src/mono/wasm/runtime/types/index.ts
  src/mono/wasm/testassets/WasmBasicTestApp/wwwroot/main.js
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/BootJsonBuilderHelper.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/BootJsonData.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#89728 Enable BinSkim scan in nightly validation
  eng/sdl-tsa-vars.config
Labels: needs-area-label

#89660 Fix Globalization Invariant string comparisons with ordinal ignore casing
  src/libraries/System.Globalization/tests/Invariant/InvariantMode.cs
  src/libraries/System.Globalization/tests/System/Globalization/CharUnicodeInfoTests.Generated.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CharUnicodeInfo.cs
Labels: area-System.Globalization

#89803 Update prepare-artifacts.proj
  src/installer/prepare-artifacts.proj
Labels: area-Infrastructure-installer

#89676 [browser] remove active issue 77334
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportExportTest.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#89847 [browser] fix for delayed WS close event on NodeJs
  src/mono/wasm/runtime/marshal-to-cs.ts
  src/mono/wasm/runtime/web-socket.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#89679 Fix DAC GetFlags() function for SOS
  src/coreclr/debug/daccess/task.cpp
  src/coreclr/vm/appdomain.hpp
Labels: area-Diagnostics-coreclr

#85192 Add `CompressSymbols` opt-out option in NativeAOT
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/tests/nativeaot/SmokeTests/DwarfDump/Program.cs
Labels: community-contribution, area-NativeAOT-coreclr

#88633 [NativeAOT] A few scalability fixes for the fat Lock
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/SynchronizedMethodHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Lock.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Monitor.NativeAot.cs
Labels: area-NativeAOT-coreclr

#89829 Fix optimizations for comparers corner cases in native AOT
  src/coreclr/tools/Common/TypeSystem/IL/NativeAotILProvider.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ComparerIntrinsics.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/RuntimeHelpersIntrinsics.cs
Labels: area-NativeAOT-coreclr

#89875 Create temp directory for SuperPMI JIT when running crossgen2 collections
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#89873 [wasm][debugger] Avoid step out if JMC is enabled before runtime is ready
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: area-Debugger-mono

#89583 Guaranteed unmarshal before managed call in unmanaged to managed stubs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/UnmanagedToManagedStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallerHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatefulMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/StatelessMarshallingStrategy.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/ComInterfaceGenerator.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/RcwAroundCcwTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatefulFinallyMarshalling.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatelessFinallyMarshalling.cs
Labels: area-System.Runtime.InteropServices

#89888 Clarifications in botr gc section
  docs/design/coreclr/botr/garbage-collection.md
Labels: area-GC-coreclr

#89757 Fix analysis issue in LDTOKEN dependencies
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingServiceProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT-coreclr

#89737 [wasm][debugger] Fix failed to fetch debugger MT tests
  src/mono/wasm/debugger/tests/debugger-test/debugger-main.js
Labels: arch-wasm, area-Debugger-mono

#89886 Escape both CR and LF in IL disassembler
  src/coreclr/tools/Common/TypeSystem/IL/ILDisassembler.cs
Labels: area-NativeAOT-coreclr

#89835 Rebaseline failing pri0 tests
  src/tests/Common/CoreCLRTestLibrary/PlatformDetection.cs
  src/tests/JIT/HardwareIntrinsics/X86/X86Serialize/Serialize_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86/X86Serialize/Serialize_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86/X86Serialize_X64/Serialize.X64_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86/X86Serialize_X64/Serialize.X64_ro.csproj
  src/tests/JIT/Intrinsics/MemoryMarshalGetArrayDataReference.cs
  src/tests/JIT/Intrinsics/MemoryMarshalGetArrayDataReference_r.csproj
  src/tests/JIT/Intrinsics/MemoryMarshalGetArrayDataReference_ro.csproj
  src/tests/JIT/opt/Devirtualization/Comparer_get_Default.cs
  src/tests/JIT/opt/Devirtualization/Comparer_get_Default.csproj
Labels: area-NativeAOT-coreclr

#89890 [wasm] Fix condition to use latest chrome for testing
  eng/pipelines/common/evaluate-default-paths.yml
  eng/testing/ProvisioningVersions.props
  src/mono/wasm/runtime/marshal.ts
Labels: arch-wasm, area-Infrastructure-mono

#89884 [PERF] Setup scheduled once a day runs rather than constant runs
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/perf.yml
Labels: area-Infrastructure

#89898 Improve zlib defenses on mono
  src/native/external/zlib.cmake
Labels: area-System.IO.Compression

#89571 Specify callback calling convention for callbacks on Windows x86 causes crashes on Mono.
  src/coreclr/scripts/genEventPipe.py
  src/libraries/System.Diagnostics.DiagnosticSource/tests/AssemblyInfo.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/AssemblyInfo.cs
  src/libraries/System.Runtime.Caching/tests/AssemblyInfo.cs
  src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/AssemblyInfo.cs
  src/libraries/System.Transactions.Local/tests/AssemblyInfo.cs
  src/mono/mono/eventpipe/ep-rt-mono-profiler-provider.c
  src/mono/mono/eventpipe/ep-rt-mono-runtime-provider.c
  src/mono/mono/eventpipe/ep-rt-mono.c
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/eventpipe/test/ep-provider-callback-dataqueue-tests.c
  src/mono/mono/eventpipe/test/ep-tests.c
  src/native/eventpipe/ds-ipc.c
  src/native/eventpipe/ep-types-forward.h
  src/native/libs/Common/pal_compiler.h
  src/native/libs/System.Globalization.Native/pal_calendarData.h
Labels: arch-x86, area-Interop-mono, area-Diagnostics-mono

#89899 Fix IsFixupPrecodeByASM and StubPrecode::IsStubPrecodeByASM
  src/coreclr/vm/precode.cpp
Labels: area-VM-coreclr

#89781 Fix handling ThreadAbortException at the end of catch
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/amd64/redirectedhandledjitcase.S
  src/coreclr/vm/amd64/unixstubs.cpp
  src/coreclr/vm/arm/ehhelpers.S
  src/coreclr/vm/arm/unixstubs.cpp
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/unixstubs.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/threadsuspend.cpp
  src/libraries/System.Runtime/tests/System/Runtime/ControlledExecutionTests.cs
Labels: area-VM-coreclr

#89726 [Mono] Fix deadlock during gcdump when using interp full AOT fallback.
  src/mono/mono/eventpipe/ep-rt-mono-runtime-provider.c
  src/tests/issues.targets
  src/tests/tracing/eventpipe/gcdump/gcdump.cs
Labels: area-VM-meta-mono

#89573 For perf, use the new ConstructorInvoker APIs for ActivatorUtilities.CreateFactory
  src/libraries/Common/src/Extensions/ParameterDefaultValue/ParameterDefaultValue.netstandard.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ActivatorUtilities.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/ActivatorUtilitiesTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ActivatorUtilitiesTests.cs
Labels: tenet-performance, area-Extensions-DependencyInjection

#89900 Fix binder gen nullability issue wrt binding ref type members
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/ConfigurationBindingGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/Emitter/CoreBindingHelper.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.TestClasses.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Collections.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ConfigurationBinder/Bind.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ConfigurationBinder/Bind_Instance.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ConfigurationBinder/Bind_Instance_BinderOptions.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ConfigurationBinder/Bind_Key_Instance.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ConfigurationBinder/Get.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ConfigurationBinder/Get_T.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ConfigurationBinder/Get_T_BinderOptions.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/OptionsBuilder/BindConfiguration.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/OptionsBuilder/Bind_T.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/OptionsBuilder/Bind_T_BinderOptions.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ServiceCollection/Configure_T.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ServiceCollection/Configure_T_BinderOptions.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ServiceCollection/Configure_T_name.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/ServiceCollection/Configure_T_name_BinderOptions.generated.txt
Labels: area-Extensions-Configuration

#89922 Disable failing outerloop tests and fix a build issue in MonoAOTCompiler
  src/libraries/System.Threading.Tasks/tests/Task/TaskRunSyncTests.cs
  src/libraries/System.Threading.Tasks/tests/TaskScheduler/TaskSchedulerTests.cs
  src/tasks/AndroidAppBuilder/Templates/monodroid.c
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Labels: area-Infrastructure-mono

#89912 Fix BinSkim scan in nightly validation
  eng/sdl-tsa-vars.config
Labels: needs-area-label

#89865 Tie llvm to emsdk's version
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure-libraries

#88724 [NativeAOT] macOS/iOS: Emit simple compact unwinding information
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.h
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectWriter.cs
Labels: community-contribution, area-NativeAOT-coreclr

#89901 fix Accept assert
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
Labels: area-System.Net.Sockets

#89833 [wasm] WBT: Fix up AppTest tests to fix missed testing cases
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorRunOptions.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Common/BuildEnvironment.cs
  src/mono/wasm/Wasm.Build.Tests/ProjectProviderBase.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/AppTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/SatelliteLoadingTests.cs
  src/mono/wasm/Wasm.Build.Tests/TestMainJsProjectProvider.cs
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/testassets/WasmBasicTestApp/WasmBasicTestApp.csproj
  src/mono/wasm/testassets/WasmBasicTestApp/wwwroot/main.js
Labels: arch-wasm, area-Build-mono

#89809 Adjust System.Net.Http metrics
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/HttpMetricsEnrichmentContext.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/MetricsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Metrics/ConnectionMetrics.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Metrics/SocketsHttpHandlerMetrics.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: area-System.Net.Http

#89935 Fix race condition in System.Net.Http.Json JsonSerializerOptions initialization.
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/JsonHelpers.cs
Labels: area-System.Text.Json

#89947 [PERF] Remove trigger completely to stabilize queues
  eng/pipelines/coreclr/perf.yml
Labels: area-Infrastructure

#89289 preserve TargetHostName even if we do not send it out via SNI
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Android/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
Labels: area-System.Net.Security

#89930 Fix isIPAdjusted setting during exception handling
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/stackwalk.cpp
  src/tests/Regressions/coreclr/GitHub_89834/test89834.cs
  src/tests/Regressions/coreclr/GitHub_89834/test89834.csproj
Labels: area-ExceptionHandling-coreclr

#89221 Add the interop tags to the "add to the AppModel project" automation
  .github/fabricbot.json
Labels: area-Meta

#89813 Adjust DNS metrics
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionMetrics.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionTelemetry.cs
  src/libraries/System.Net.NameResolution/tests/FunctionalTests/MetricsTest.cs
Labels: area-System.Net

#89887 Pass through ComWrappers based objects to COM type descriptor
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
Labels: area-System.ComponentModel

#89932 Disable objc_msgSend stubs in clang
  eng/native/configurecompiler.cmake
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.Native/CMakeLists.txt
Labels: area-Infrastructure-libraries

#89939 Expect ThrowForHR to throw Exception on NativeAOT
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/RcwAroundCcwTests.cs
Labels: area-System.Runtime.InteropServices

#89916 Split off system libraries into a separate ItemGroup
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: area-NativeAOT-coreclr

#89317 Hide IntrospectionExtensions.GetTypeInfo
  src/libraries/System.Private.CoreLib/src/System/Reflection/IntrospectionExtensions.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Reflection, new-api-needs-documentation, community-contribution

#89411 Fix `LocalBuilder.IsPinned` always returning `false` on CoreCLR runtime
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/DynamicILGenerator.cs
  src/libraries/System.Reflection.Emit.ILGeneration/tests/ILGenerator/DeclareLocalTests.cs
Labels: area-System.Reflection, community-contribution

#89946 Remove Runtime composite package from being built.
  eng/Subsets.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.Composite.sfxproj
  src/installer/pkg/sfx/bundle/Microsoft.NETCore.App.Composite.Bundle.bundleproj
Labels: area-crossgen2-coreclr

#89371 Dynamic events
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcevent_serializers.h
  src/coreclr/gc/gcevents.h
  src/coreclr/gc/gceventstatus.h
  src/coreclr/gc/gcpriv.h
  src/coreclr/vm/ClrEtwAll.man
Labels: area-GC-coreclr

#89699 [wasm] Remove hardcoded references to `net8.0` from WasmApp*targets
  eng/testing/tests.browser.targets
  eng/testing/tests.wasi.targets
  src/mono/wasi/build/WasiApp.Native.targets
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasm/build/WasmApp.LocalBuild.props
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/tests/Common/wasm-test-runner/WasmTestRunner.proj
Labels: arch-wasm, area-Build-mono

#89945 [wasm] WBT: Use project ids that are safe for use as identifiers
  src/mono/wasi/Wasi.Build.Tests/BuildTestBase.cs
  src/mono/wasi/Wasi.Build.Tests/WasiTemplateTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/AppsettingsTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/CleanTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests2.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/NativeRefTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/NoopNativeRebuildTest.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/SimpleMultiThreadedTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Common/HelperExtensions.cs
  src/mono/wasm/Wasm.Build.Tests/Common/TestUtils.cs
  src/mono/wasm/Wasm.Build.Tests/NonWasmTemplateBuildTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/NativeBuildTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/AppTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/WasmNativeDefaultsTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmSIMDTests.cs
Labels: arch-wasm, area-Build-mono

#89959 [HTTP Metrics] Shorter version tags
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/MetricsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Metrics/SocketsHttpHandlerMetrics.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: area-System.Net.Http

#89963 [HTTP/2] Forward innerException's HttpRequestError to retryable HttpRequestException
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http

#89981 Prefer vectorized ProbabilisticMap over Latin1CharSearchValues
  src/libraries/System.Private.CoreLib/src/System/SearchValues/SearchValues.cs
Labels: area-System.Buffers

#89840 Don't generate symbols if user doesn't want them
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#89970 Move ThrowForHR to start of NotifyForSuccessFulInvoke
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ManagedToNativeVTableMethodGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Marshallers/ManagedHResultExceptionMarshallerFactory.cs
Labels: area-System.Runtime.InteropServices

#89827 Add diagnostic when the size of an array that is marshalled to the callee is an 'out' parameter.
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallerHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypePositionInfo.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
Labels: area-System.Runtime.InteropServices

#89989 Fix trimming issue in the cpuid test
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId.cs
Labels: area-CodeGen-coreclr

#89797 Try Vector128 before Vector
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Utility.cs
Labels: area-System.Text.Encoding

#89894 Make marshaller types specific to each scenario
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ElementsMarshalling.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatefulFinallyMarshalling.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatefulMarshalling.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatelessCollectionStatelessElement.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatelessMarshalling.cs
Labels: area-System.Runtime.InteropServices

#89969 Make ImplementsInterfaceOfSelf more precise for canonical subtypes
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ComparerIntrinsics.cs
Labels: area-NativeAOT-coreclr

#89974 Exclude NETFramework targets file during source build
  src/libraries/System.Resources.Extensions/src/System.Resources.Extensions.csproj
Labels: area-System.Resources

#89995 Roll Ubuntu 18.04 queue to 22.04
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-libraries

#89999 Move Microsoft.NET.WebAssembly.WebCil into tasks
  src/libraries/Microsoft.NET.WebAssembly.Webcil/Directory.Build.props
  src/libraries/Microsoft.NET.WebAssembly.Webcil/src/Common/IsExternalInit.cs
  src/mono/wasm/debugger/BrowserDebugProxy/BrowserDebugProxy.csproj
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks.csproj
  src/tasks/Microsoft.NET.WebAssembly.Webcil/Internal/Constants.cs
  src/tasks/Microsoft.NET.WebAssembly.Webcil/Microsoft.NET.WebAssembly.Webcil.csproj
  src/tasks/Microsoft.NET.WebAssembly.Webcil/WasmModuleReader.cs
  src/tasks/Microsoft.NET.WebAssembly.Webcil/WebciHeader.cs
  src/tasks/Microsoft.NET.WebAssembly.Webcil/WebcilConverter.cs
  src/tasks/Microsoft.NET.WebAssembly.Webcil/WebcilReader.Reflection.cs
  src/tasks/Microsoft.NET.WebAssembly.Webcil/WebcilReader.cs
  src/tasks/Microsoft.NET.WebAssembly.Webcil/WebcilSectionHeader.cs
  src/tasks/Microsoft.NET.WebAssembly.Webcil/WebcilWasmWrapper.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.csproj
Labels: area-Infrastructure

#89301 [nativeaot][ios] Improve Native AOT test coverage on apple mobile platforms
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslike.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslikesimulator.yml
  src/tests/nativeaot/SmokeTests/Exceptions/Exceptions.csproj
  src/tests/nativeaot/SmokeTests/FrameworkStrings/Baseline.csproj
  src/tests/nativeaot/SmokeTests/FrameworkStrings/UseSystemResourceKeys.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx2.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx512.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx_NoAvx2.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Baseline.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Sse42.csproj
  src/tests/nativeaot/SmokeTests/PInvoke/PInvoke.csproj
  src/tests/nativeaot/SmokeTests/Reflection/Reflection_FromUsage.csproj
  src/tests/nativeaot/SmokeTests/SharedLibrary/SharedLibrary.csproj
  src/tests/nativeaot/SmokeTests/StackTraceMetadata/StackTraceMetadata_Stripped.csproj
  src/tests/nativeaot/SmokeTests/UnitTests/Delegates.cs
Labels: os-ios, area-NativeAOT-coreclr

#89991 Light up for newer arm64 hardware capabilities
  src/native/minipal/cpufeatures.c
Labels: area-NativeAOT-coreclr

#90002 [mono][ios] Disable failing eventpipe gcdump test on apple mobile platforms
  src/tests/issues.targets
Labels: area-Infrastructure-mono, os-ios

#89992 Revert "For perf, use the new ConstructorInvoker APIs for ActivatorUtilities.CreateFactory"
  src/libraries/Common/src/Extensions/ParameterDefaultValue/ParameterDefaultValue.netstandard.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ActivatorUtilities.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/ActivatorUtilitiesTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ActivatorUtilitiesTests.cs
Labels: area-Extensions-DependencyInjection

#89998 [NativeAOT] Fix Linux ARM64 checked build asserts
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
Labels: community-contribution, area-NativeAOT-coreclr

#89882 Add test for TypeIdentifierAttribute
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Reflection/tests/GetTypeTests.cs
  src/libraries/System.Reflection/tests/System.Reflection.Tests.csproj
  src/libraries/System.Reflection/tests/TestAssembly/EquivalentValueType.cs
  src/libraries/System.Reflection/tests/TestAssembly/TestAssembly.csproj
Labels: area-System.Reflection, test-enhancement

#89951 [browser] doc feedback
  src/mono/wasm/features.md
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#89960 [wasm][debugger] Using "RollForward": major for BrowserDebugHost
  src/mono/wasm/debugger/BrowserDebugHost/BrowserDebugHost.csproj
  src/mono/wasm/debugger/BrowserDebugHost/runtimeconfig.template.json
Labels: area-Debugger-mono

#89961 [workloads] Use native arm64 aot compilers for iOS, tvOS, maccatalyst, and android where possible
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WorkloadManifest.json.in
Labels: area-Build-mono

#89841 use approved SocketAddress API instead of direct internal access
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.Bind.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.WSASocketW.cs
  src/libraries/Common/src/Interop/Windows/WinSock/Interop.bind.cs
  src/libraries/Common/src/System/Net/IPEndPointExtensions.cs
  src/libraries/Common/src/System/Net/Internals/IPEndPointExtensions.cs
  src/libraries/Common/src/System/Net/SocketAddress.cs
  src/libraries/Common/src/System/Net/SocketProtocolSupportPal.Unix.cs
  src/libraries/Common/src/System/Net/SocketProtocolSupportPal.Windows.cs
  src/libraries/Common/src/System/Net/SocketProtocolSupportPal.cs
  src/libraries/System.Net.NameResolution/src/System.Net.NameResolution.csproj
  src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/libraries/System.Net.Ping/src/System.Net.Ping.csproj
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
Labels: area-System.Net.Sockets

#89972 Update the event used for the tiered compilation background thread
  src/coreclr/vm/tieredcompilation.cpp
  src/coreclr/vm/tieredcompilation.h
Labels: area-TieredCompilation-coreclr

#89026 Avoid extra console write for clearing on Unix
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/src/System/TerminalFormatStrings.cs
  src/libraries/System.Console/tests/TermInfo.Unix.cs
Labels: area-System.Console

#89902 Use the same tracked contexts for event pipe and ETW in nativeaot
  src/coreclr/nativeaot/Runtime/EtwEvents.h
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/eventpipe/dotnetruntime.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventtrace.cpp
  src/coreclr/nativeaot/Runtime/eventtrace.h
  src/coreclr/nativeaot/Runtime/eventtrace_bulktype.cpp
  src/coreclr/nativeaot/Runtime/eventtrace_context.h
  src/coreclr/nativeaot/Runtime/eventtrace_etw.h
  src/coreclr/nativeaot/Runtime/eventtrace_gcheap.cpp
Labels: area-NativeAOT-coreclr

#89926 [wasm][wbt] Split WBT classes to speed up CI job execution.
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests3.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/SimpleRunTests.cs
  src/mono/wasm/Wasm.Build.Tests/IcuShardingTests.cs
  src/mono/wasm/Wasm.Build.Tests/IcuShardingTests2.cs
  src/mono/wasm/Wasm.Build.Tests/IcuTests.cs
  src/mono/wasm/Wasm.Build.Tests/IcuTestsBase.cs
Labels: arch-wasm, test-enhancement, area-Build-mono

#89957 [wasm] CI: Don't trigger non-wasm runtime tests when wasm-test-runner
  eng/pipelines/common/evaluate-default-paths.yml
Labels: arch-wasm, area-Infrastructure-mono

#89966 Revert "Disable MonitoringIsEnabled with issue 75302 (#75306)"
  src/libraries/System.Runtime.Extensions/tests/System/AppDomainTests.cs
Labels: area-GC-coreclr

#90016 SPMI: Restore CORINFO_CALL_INFO stub lookup correctly
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen-coreclr

#90028 Fix HttpListener path parsing for trailing %
  src/libraries/System.Net.HttpListener/src/System/Net/HttpListenerRequestUriBuilder.cs
  src/libraries/System.Net.HttpListener/tests/InvalidClientRequestTests.cs
Labels: area-System.Net

#89948 Improve reliability of HttpRequestError.NameResolutionError
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestBase.cs
Labels: area-System.Net

#89985 Introducing TimeZoneInfo.GetSystemTimeZones(bool skipSorting)
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.FullGlobalizationData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: new-api-needs-documentation, area-System.DateTime

#89955 Delete dangling thread session states
  src/native/eventpipe/ep-buffer-manager.c
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-thread.c
Labels: area-Tracing-coreclr

#90043 Make sure all new GCDacVars are reported only for v2
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#86802 POH allocation fix
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#89739 Try to enable some JIT tests
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#90055 [NativeAOT] Do not suppress inlining of random threadstatics
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
Labels: area-NativeAOT-coreclr

#89872 [wasm] Fix startup without emcc -g option
  src/mono/wasm/runtime/startup.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#90033 Recover some lost EH performance on Unix amd64
  eng/native/configurecompiler.cmake
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/thread/context.cpp
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-PAL-coreclr

#90068 Fix mono's Wsingle-bit-bitfield-constant-conversion
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/image-internals.h
  src/mono/mono/metadata/jit-info.h
  src/mono/mono/mini/interp/transform.h
  src/mono/mono/mini/mini.h
  src/mono/mono/utils/mono-codeman.c
Labels: area-VM-meta-mono, community-contribution

#90072 [RISCV] Store 2*XLEN ValueType half in Reg and half on stack when only A7 available
  src/mono/mono/mini/cpu-riscv64.mdesc
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/tramp-riscv.c
Labels: area-VM-meta-mono, community-contribution, arch-riscv

#89698 Rename area-ILVerification to area-Tools-ILVerification
  .github/fabricbot.json
  src/coreclr/tools/ILVerify/README.md
Labels: area-Meta

#90070 Add note about creating arrays using newobj
  docs/design/specs/Ecma-335-Augments.md
Labels: area-Meta

#90078 Fix CompositeChangeToken & CancellationTokenSource deadlock
  src/libraries/Microsoft.Extensions.Primitives/src/CompositeChangeToken.cs
  src/libraries/Microsoft.Extensions.Primitives/tests/CompositeChangeTokenTest.cs
  src/libraries/Microsoft.Extensions.Primitives/tests/Microsoft.Extensions.Primitives.Tests.csproj
Labels: area-Extensions-Primitives, community-contribution

#89852 SPMI: Capture EE API exceptions in getNewHelper, and simplify the API shape a bit
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#90067 Fix an assert and clean up a codegen issue
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#90066 TimeProvider GetLocalNow enhancement
  src/libraries/Common/src/System/TimeProvider.cs
Labels: community-contribution, area-System.DateTime

#90065 [mono][aot] Use g_strcasecmp () to check whenever aot input assemblie…
  src/mono/mono/mini/driver.c
Labels: area-VM-meta-mono

#90035 Check for <framework_name>.deps.json when enumerating framework paths
  src/installer/tests/HostActivation.Tests/FrameworkResolution/MultipleHives.cs
  src/installer/tests/HostActivation.Tests/NativeHostApis.cs
  src/installer/tests/TestUtils/DotNetBuilder.cs
  src/native/corehost/fxr/framework_info.cpp
  src/native/corehost/fxr/framework_info.h
  src/native/corehost/fxr/fx_resolver.cpp
  src/native/corehost/fxr/fx_resolver.messages.cpp
  src/native/corehost/fxr/hostfxr.cpp
Labels: area-Host

#89967 Improve test failure messages
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectNonZeroExitCodeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/CommandLine/InvalidArguments.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/FeatureSettings/FeatureSubstitutionsInvalid.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/LinkAttributes/TypedArgumentsErrors.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Logging/CommonLogs.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/CanDisableWarnAsError.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/CanSingleWarnWithWarnAsError.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/CanWarnAsError.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/InvalidWarningVersion.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/LinkedTestCaseResult.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/TestRunner.cs
Labels: linkable-framework, community-contribution, area-Tools-ILLink

#90006 Add `JsonNode.ParseAsync` public API
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.Parse.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/ParseTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation, community-contribution

#90013 Add JsonSerializerOptions.MakeReadOnly(bool) overload.
  src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/TrimmingTests/IsReflectionEnabledByDefaultFalse.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#90093 Fix wasm perf setup
  eng/pipelines/coreclr/templates/run-performance-job.yml
Labels: area-Infrastructure-coreclr

#86888 Integrate HttpClientFactory and metrics
  src/libraries/Microsoft.Extensions.Http/Microsoft.Extensions.Http.sln
  src/libraries/Microsoft.Extensions.Http/src/DependencyInjection/HttpClientFactoryServiceCollectionExtensions.cs
  src/libraries/Microsoft.Extensions.Http/src/MetricsFactoryHttpMessageHandlerFilter.cs
  src/libraries/Microsoft.Extensions.Http/src/Microsoft.Extensions.Http.csproj
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/DefaultHttpMessageHandlerBuilderTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/MeterFactoryIntegrationTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Microsoft.Extensions.Http.Tests.csproj
Labels: area-Extensions-HttpClientFactory

#89594 Upgrade DNNE to build incrementally
  eng/Versions.props
Labels: area-System.Runtime.InteropServices

#90091 Put crossgen perf into "Ubuntu.1804.Amd64.Tiger.Perf".
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-coreclr
