Repository dotnet/runtime, pull requests merged in 2023-05, with the labels that each got.

#85509 Delete `arrayArgumentsFound` logic from type loader
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.ConstructedGenericTypesLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeDesc.Runtime.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayMapNode.cs
Labels: area-NativeAOT-coreclr

#85532 JIT: Make optAssertionPropGlobal_RelOp less conservative for side-effects
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#85180 Split assignment rationalization into a separate phase
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/rationalize.h
  src/coreclr/jit/sideeffects.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85504 Emission and reading of custom modifiers
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/ModifiedType.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/FieldInfos/NativeFormat/NativeFormatRuntimeFieldInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/QSignatureTypeHandle.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/ParameterInfos/RuntimeMethodParameterInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/PropertyInfos/NativeFormat/NativeFormatRuntimePropertyInfo.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeSystemContext.Runtime.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/Generator/SchemaDef.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeFormatReaderGen.cs
  src/coreclr/tools/Common/TypeSystem/Common/FieldDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/FieldForInstantiatedType.cs
  src/coreclr/tools/Common/TypeSystem/Common/PropertySignature.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaField.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/PInvokeLazyFixupField.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/InlineArrayType.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/NativeStructType.cs
  src/coreclr/tools/Common/TypeSystem/MetadataEmitter/TypeSystemMetadataEmitter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FieldMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MethodMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ExternSymbolMappedField.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.Field.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.Method.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.Property.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.Type.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/Internal/Metadata/NativeFormat/Writer/NativeFormatWriterGen.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemField.cs
  src/libraries/Common/tests/System/FunctionPointerCallingConventionTests.cs
  src/libraries/Common/tests/System/FunctionPointerEqualityTests.cs
  src/libraries/Common/tests/System/FunctionPointerTests.cs
  src/libraries/Common/tests/System/ModifiedTypeTests.cs
  src/libraries/System.Runtime/tests/default.rd.xml
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#85577 Delete finally blocks in EcmaSignatureParser
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
Labels: area-NativeAOT-coreclr

#85384 [mono][aot] Refactor deduplication to use enum instead of flags
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#85575 Translate AV in RhpByRefAssignRef to NullReferenceException
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/amd64/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/amd64/WriteBarriers.asm
  src/coreclr/nativeaot/Runtime/arm/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/arm64/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/arm64/WriteBarriers.asm
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#85557 Remove cached Type instances
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/MaskedTextProvider.cs
  src/libraries/System.Data.Common/src/System/Data/DataSetUtil.cs
  src/libraries/System.Private.CoreLib/src/System/Convert.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/ResourceManager.cs
  src/libraries/System.Private.Xml/src/System/Xml/BinaryXml/XmlBinaryReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/DataTypeImplementation.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/IlGen/XmlILOptimizerVisitor.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XmlQueryContext.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XmlQueryRuntime.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XsltConvert.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XsltFunctions.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XsltLibrary.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/QilGeneratorEnv.cs
Labels: area-System.Runtime, community-contribution

#82301 Fix processing of x86 test results
  src/tests/run.py
Labels: area-CodeGen-coreclr, community-contribution

#85566 Do not set pre-decided consecutive registers as busy (again)
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarm64.cpp
Labels: area-CodeGen-coreclr

#85437 Improve vectorization of IndexOf(chars, StringComparison.OrdinalIgnoreCase)
  src/libraries/System.Private.CoreLib/src/System/Globalization/Ordinal.cs
Labels: area-System.Runtime, tenet-performance

#85581 fix: Change severity for SYSLIB1006 to Info instead of warning
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/DiagnosticDescriptors.cs
Labels: area-Extensions-Logging, community-contribution

#85438 Enable regex to use IndexOf(..., OrdinalIgnoreCase) for prefix searching
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
Labels: area-System.Text.RegularExpressions, tenet-performance

#85398 Set lvSingleDef for non TYP_REF locals
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85546 JIT: one phi arg per pred
  src/coreclr/jit/ssabuilder.cpp
Labels: area-CodeGen-coreclr

#85574 Compare host using OrdinalIgnoreCase instead of InvariantCultureIgnoreCase
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
Labels: area-System.Net, community-contribution

#85594 Ensure that IF_*WR_RRD formats support 4-byte SIMD instructions
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr, arch-avx512

#81485 NativeAOT instruction for NixOS
  src/coreclr/nativeaot/docs/compiling.md
Labels: community-contribution, area-NativeAOT-coreclr

#85596 Save interfaces implementations and nested types
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveWithVariousMembersTests.cs
Labels: area-System.Reflection.Emit

#85607 Fix typo in SafeHandle.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeHandle.cs
Labels: area-System.Runtime.InteropServices, community-contribution

#85360 Support encoding `TypedReference`s in signatures.
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/Encoding/BlobEncoders.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/Ecma335/Encoding/BlobEncodersTests.cs
Labels: area-System.Reflection.Metadata, new-api-needs-documentation, community-contribution

#84539 DependencyGraphViewer: Fix catastrophic designer fail for NodeForm
  src/coreclr/tools/aot/DependencyGraphViewer/NodeForm.cs
  src/coreclr/tools/aot/DependencyGraphViewer/Program.cs
Labels: community-contribution, area-NativeAOT-coreclr

#85536 Cleanup some xarch emit logic
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitfmtsxarch.h
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/simdcodegenxarch.cpp
Labels: area-CodeGen-coreclr

#85622 Fix Helix command lines error code handling
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-Infrastructure-coreclr

#85613 Fix new warnings found with CA1854 improvement.
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Emitter.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Managed/HttpEndPointManager.cs
  src/tools/illink/src/linker/Linker.Dataflow/MethodBodyScanner.cs
Labels: area-Meta, needs-area-label

#85623 Make generic composition information more efficient
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/DispatchResolve.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/EETypePtr.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeSystemContext.Runtime.cs
  src/coreclr/tools/Common/Internal/NativeFormat/NativeFormat.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericCompositionNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDefinitionEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericVarianceNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
Labels: area-NativeAOT-coreclr

#85626 Allow emitting function pointers in TypeSystemMetadataEmitter
  src/coreclr/tools/Common/TypeSystem/MetadataEmitter/TypeSystemMetadataEmitter.cs
Labels: area-NativeAOT-coreclr

#85458 [mono][jit] ArmBase methods are now intrinsic.
  src/mono/mono/arch/arm64/arm64-codegen.h
  src/mono/mono/mini/cpu-arm64.mdesc
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Labels: area-Codegen-JIT-mono

#85620 JIT: Prefer block copies for unenregisterable locals even with GC pointers
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr

#85583 ComWrappers test that allocate object can't inline
  src/tests/Interop/COM/ComWrappers/API/Program.cs
Labels: area-Interop-coreclr

#85625 Ensure zroSimd12Elm3 is explicitly nulled out
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/simdcodegenxarch.cpp
Labels: area-CodeGen-coreclr

#85610 [JIT] X64 Fix - Handle 'imul' instruction variants to determine if a register was written to
  src/coreclr/jit/emitxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_85602/Runtime_85602.cs
  src/tests/JIT/Regression/JitBlue/Runtime_85602/Runtime_85602.csproj
Labels: area-CodeGen-coreclr

#85639 Remove unnecessary dependency in M.Bcl.TimeProvider
  src/libraries/Microsoft.Bcl.TimeProvider/src/Microsoft.Bcl.TimeProvider.csproj
Labels: area-System.DateTime

#85434 Implement ICorProfilerInfo14::GetNonGCHeapBounds
  src/coreclr/inc/corprof.idl
  src/coreclr/pal/prebuilt/inc/corprof.h
  src/coreclr/vm/frozenobjectheap.cpp
  src/coreclr/vm/frozenobjectheap.h
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.h
  src/tests/profiler/native/nongcheap/nongcheap.cpp
Labels: area-Diagnostics-coreclr

#85636 [wasm] Move SelfContained=true from pack to SDK
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.props
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
Labels: arch-wasm, area-Build-mono

#85617 [wasi] Combine `main` function for the default and single file bundle
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasi/runtime/driver.c
  src/mono/wasi/runtime/main.c
  src/mono/wasi/wasi.proj
Labels: arch-wasm, area-VM-meta-mono

#85633 enable ntlm tests on RHEL7 again
  src/libraries/Common/tests/System/Net/Capability.Security.Unix.cs
  src/libraries/System.Net.Security/tests/UnitTests/NegotiateAuthenticationTests.cs
Labels: area-System.Net.Security, os-linux

#85585 Move assignment rationalization to before the late helper expansion phases
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/ifconversion.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85646 JIT: Fix modelling of exceptions thrown by INDEX_ADDR
  src/coreclr/jit/gentree.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_85645/Runtime_85645.cs
  src/tests/JIT/Regression/JitBlue/Runtime_85645/Runtime_85645.csproj
Labels: area-CodeGen-coreclr

#85553 [mono] Implement Vector128.Shuffle using tbl1 on arm64.
  src/mono/mono/mini/cpu-arm64.mdesc
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#85655 Fix add/edit for generic methods scenario
  src/coreclr/vm/methoditer.cpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/runtimehandles.cpp
Labels: area-Diagnostics-coreclr

#84874 [release/7.0-staging] define UNW_AARCH64 aliases conditionally
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/exception/seh-unwind.cpp
Labels: Servicing-approved, area-PAL-coreclr

#84873 [release/6.0-staging] define UNW_AARCH64 aliases conditionally
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/exception/seh-unwind.cpp
Labels: Servicing-approved, area-PAL-coreclr

#85678 [wasm] Disable some System.Net.Http.Functional.Tests
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
Labels: arch-wasm, area-Codegen-AOT-mono, test-failure

#85191 offers the synchronous part of start and stop in IHostedService to run concurrently
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/DelegateHostedService.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostTests.cs
Labels: area-Extensions-Hosting, community-contribution

#85685 [wasm] WBT: Renable blazor lazy loading test
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
Labels: arch-wasm, area-Build-mono

#85681 [wasi] Disable failing tests to get CI green
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterApiTests.cs
Labels: arch-wasm, disabled-test, area-VM-meta-mono, os-wasi

#85595 Add `count` and `sum` to Histogram for System.Diagnostics.Metrics
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Aggregator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/ExponentialHistogramAggregator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MetricsEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ExponentialHistogramTests.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/MetricEventSourceTests.cs
Labels: area-System.Diagnostics.Metric, community-contribution

#85664 [JIT] ARM64 - Fix Assertion failed 'node->OperIs(GT_DIV, GT_UDIV, GT_MOD)' during 'Lowering nodeinfo'
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/tests/JIT/Regression/JitBlue/Runtime_85630/Runtime_85630.cs
  src/tests/JIT/Regression/JitBlue/Runtime_85630/Runtime_85630.csproj
Labels: area-CodeGen-coreclr

#85657 Skip stp/ldp only for unwind portion of prolog/epilog
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/unwindamd64.cpp
  src/coreclr/jit/unwindarmarch.cpp
  src/coreclr/jit/unwindloongarch64.cpp
  src/coreclr/jit/unwindriscv64.cpp
Labels: area-CodeGen-coreclr

#85660 [wasm] Use monotonic clock in wasm, emscripten has it now
  src/mono/mono/utils/mono-os-mutex.h
  src/mono/mono/utils/mono-time.c
Labels: arch-wasm, area-VM-meta-mono

#85677 [browser] fix job queue timespan calculation
  src/mono/System.Private.CoreLib/src/System/Threading/TimerQueue.Browser.Mono.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#85683 Implement Micrososoft.Bcl.Cryptography without System.Security.Cryptography.Algorithms
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationCng.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationManaged.cs
Labels: area-System.Security

#85642 Avoid S.R.I.RuntimeInformation package dependency
  eng/Versions.props
  src/libraries/Microsoft.Extensions.DependencyModel/src/EnvironmentWrapper.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/DotNetReferenceAssembliesPathResolver.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceHelpers.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceLifetimeHostBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerProvider.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
Labels: area-Infrastructure-libraries

#85634 Shuffle some `MethodTable` flags
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/tools/Common/Internal/Runtime/EETypeBuilderHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/MethodTable.Constants.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
Labels: area-NativeAOT-coreclr

#85559 Allocate Array.Empty<> on a frozen segment (NonGC heap)
  docs/design/coreclr/botr/readytorun-format.md
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/corjitflags.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/inc/readytorun.h
  src/coreclr/inc/readytorunhelpers.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/jitee.h
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
  src/coreclr/nativeaot/Runtime/inc/ModuleHeaders.h
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunConstants.cs
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/ILVerification/ILImporter.StackValue.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunSignature.cs
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/frozenobjectheap.cpp
  src/coreclr/vm/gchelpers.cpp
  src/coreclr/vm/gchelpers.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/object.h
Labels: area-VM-coreclr

#85516 [browser][non-icu] `HybridGlobalization` faster encoding for change case.
  src/libraries/System.Globalization/tests/System/Globalization/TextInfoTests.cs
  src/mono/wasm/runtime/hybrid-globalization.ts
  src/mono/wasm/runtime/memory.ts
Labels: arch-wasm, area-System.Globalization

#68424 Support building a mono-based .NET Runtime on x64
  eng/SourceBuild.props
  eng/Subsets.props
  eng/build.ps1
  eng/build.sh
Labels: area-Infrastructure-mono, community-contribution

#85654 JIT: Fix liveness for partial defs of parent locals
  src/coreclr/jit/liveness.cpp
Labels: area-CodeGen-coreclr

#85698 Move DispatchMap pointer to MethodTable
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Common/src/Internal/Runtime/TypeManagerHandle.cs
  src/coreclr/nativeaot/Runtime/TypeManager.cpp
  src/coreclr/nativeaot/Runtime/TypeManager.h
  src/coreclr/nativeaot/Runtime/inc/ModuleHeaders.h
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/tools/Common/Internal/Runtime/MethodTable.Constants.cs
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CanonicalEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceDispatchMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
Labels: area-NativeAOT-coreclr

#85671 Arm64: Add back the annotation in JitDisasm with the local var (+offset)
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr

#85669 Update branding to 6.0.18
  eng/Versions.props
Labels: area-Infrastructure-libraries

#85670 Update branding to 7.0.7
  eng/Versions.props
Labels: area-Infrastructure-libraries

#85588 [release/6.0-staging] Skip DllImportSearchPathsTest on wasm
  src/tests/issues.targets
Labels: Servicing-approved, arch-wasm, area-Interop-mono

#85246 Directory.Build.props: restore previous behavior when targetting 'other' TargetOSes from Windows.
  Directory.Build.props
Labels: area-Infrastructure-libraries, community-contribution

#85542 [browser] es6 test main
  eng/testing/WasmRunnerAOTTemplate.sh
  eng/testing/WasmRunnerTemplate.cmd
  eng/testing/WasmRunnerTemplate.sh
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportExportTest.cs
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/console-node/main.mjs
  src/mono/sample/wasm/console-v8/main.mjs
  src/mono/sample/wasm/wasm.mk
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/jiterpreter.ts
  src/mono/wasm/runtime/package-lock.json
  src/mono/wasm/runtime/package.json
  src/mono/wasm/runtime/polyfills.ts
  src/mono/wasm/runtime/run-outer.ts
  src/mono/wasm/runtime/run.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/test-main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#85214 Change default CFB feedback size for DES.Create()
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DES/DesTests.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DESCryptoServiceProvider.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DesImplementation.cs
  src/libraries/System.Security.Cryptography/tests/DESTests.cs
Labels: area-System.Security

#85419 Add new SafeHandleMarshaller type to provide out-of-generator marshalling support.
  docs/design/libraries/LibraryImportGenerator/Compatibility.md
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/SafeHandleMarshaller.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Microsoft.Interop.SourceGeneration.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/SafeHandleMarshallingInfoProvider.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/SafeHandleTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime.InteropServices, breaking-change, new-api-needs-documentation, needs-breaking-change-doc-created, source-generator

#84807 [release/6.0-staging] Add status code and exception info to System.Net.Http events
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMessageInvoker.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/Fakes/HttpTelemetry.cs
Labels: Servicing-approved, area-System.Net.Http

#85501 JIT: Improve block unrolling, enable AVX-512
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#84806 [release/7.0-staging] Add status code and exception info to System.Net.Http events
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMessageInvoker.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/Fakes/HttpTelemetry.cs
Labels: Servicing-approved, area-System.Net.Http

#85714 Fix AreFlagsSetToZeroCmp to not consider unsupported formats
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#85388 [wasm] Use the docker images with floating tags
  eng/pipelines/common/templates/pipeline-with-resources.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-mono

#85673 Add back IHtmlString to System.Web.HttpUtility
  src/libraries/System.Web.HttpUtility/ref/System.Web.HttpUtility.cs
  src/libraries/System.Web.HttpUtility/src/System.Web.HttpUtility.csproj
  src/libraries/System.Web.HttpUtility/src/System/Web/HttpUtility.cs
  src/libraries/System.Web.HttpUtility/src/System/Web/IHtmlString.cs
  src/libraries/System.Web.HttpUtility/tests/HttpUtility/HttpUtilityTest.cs
Labels: area-System.Net, new-api-needs-documentation

#85695 Simplify SelectArrayIterator method
  src/libraries/System.Linq/src/System/Linq/Select.cs
Labels: area-System.Linq

#85682 Fix building ReferenceTrackerRuntime.cpp in Interop tests
  src/tests/Interop/COM/ComWrappers/MockReferenceTrackerRuntime/ReferenceTrackerRuntime.cpp
Labels: area-Interop-coreclr, community-contribution

#85689 [NativeAOT] Use inline relocs for win-arm64 INLINE_GETTHREAD
  src/coreclr/nativeaot/Runtime/amd64/GetThread.asm
  src/coreclr/nativeaot/Runtime/arm/GetThread.asm
  src/coreclr/nativeaot/Runtime/arm64/AllocFast.asm
  src/coreclr/nativeaot/Runtime/arm64/AsmMacros.h
  src/coreclr/nativeaot/Runtime/arm64/ExceptionHandling.asm
  src/coreclr/nativeaot/Runtime/arm64/GcProbe.asm
  src/coreclr/nativeaot/Runtime/arm64/GetThread.asm
  src/coreclr/nativeaot/Runtime/arm64/PInvoke.asm
  src/coreclr/nativeaot/Runtime/i386/GetThread.asm
Labels: area-NativeAOT-coreclr

#85702 Fix GetNonGCHeapBounds
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
Labels: area-Diagnostics-coreclr

#85615 Fix TimeZoneInfo Perf
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
Labels: area-System.DateTime

#85601 Revert "[NativeAOT] Do not strip exported symbols from executables on Apple platforms (#85293)"
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/tests/nativeaot/GenerateUnmanagedEntryPoints/GenerateUnmanagedEntryPoints.csproj
Labels: area-NativeAOT-coreclr

#85651 Enable more ILLink tests in NativeAOT
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/Mono.Linker.Tests.csproj
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerDriver.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILInputCompiler.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/TestRunner.cs
  src/tools/illink/src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ByRefDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeInPreservedAssembly.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ConstructedTypesDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MakeGenericDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MemberTypes.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MemberTypesAllOnCopyAssembly.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MethodByRefParameterDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/NullableAnnotations.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/PropertyDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/RefFieldDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/StaticInterfaceMethodDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/TypeInfoIntrinsics.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethod.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsUsingTargetViaXmlNetCore.cs
Labels: area-NativeAOT-coreclr

#85728 JIT: Refactor physical promotion in preparation of generalized assignment decomposition
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotiondecomposition.cpp
Labels: area-CodeGen-coreclr

#85709 Add negative test for creating instances of function pointers
  src/libraries/System.Runtime/tests/System/ActivatorTests.cs
  src/libraries/System.Runtime/tests/System/Runtime/CompilerServices/RuntimeHelpersTests.cs
Labels: area-System.Reflection

#85723 Keep `this` alive across the native call for VTable-based source-generation
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ManagedToNativeVTableMethodGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
Labels: area-System.Runtime.InteropServices, source-generator

#85143 Missing overrides in LoggingHttpMessageHandler and LoggingScopeHttpMessageHandler
  src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingHttpMessageHandler.cs
  src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingScopeHttpMessageHandler.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/LoggingUriOutputTests.cs
Labels: area-Extensions-HttpClientFactory, community-contribution

#85647 JIT: Allow forward sub to reorder trees throwing the same single exception
  src/coreclr/jit/forwardsub.cpp
Labels: area-CodeGen-coreclr

#85745 Add mcs support for new FROZEN_ALLOC_ALLOWED jit flag
  src/coreclr/tools/superpmi/superpmi-shared/spmidumphelper.cpp
Labels: area-CodeGen-coreclr

#85746 JIT: properly scrub SSA from return address buffers
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/ssabuilder.cpp
Labels: area-CodeGen-coreclr

#85770 [mono][wasm] Make experimental-gshared-mrgctx really true on WASM AOT.
  src/mono/mono/utils/options-def.h
Labels: area-VM-meta-mono

#84566 [NativeAOT] Simplifying access to thread static variables
  src/coreclr/nativeaot/Runtime/AsmOffsets.h
  src/coreclr/nativeaot/Runtime/RuntimeInstance.cpp
  src/coreclr/nativeaot/Runtime/RuntimeInstance.h
  src/coreclr/nativeaot/Runtime/amd64/AsmMacros.inc
  src/coreclr/nativeaot/Runtime/amd64/MiscStubs.S
  src/coreclr/nativeaot/Runtime/amd64/MiscStubs.asm
  src/coreclr/nativeaot/Runtime/arm64/MiscStubs.S
  src/coreclr/nativeaot/Runtime/arm64/MiscStubs.asm
  src/coreclr/nativeaot/Runtime/gcrhscan.cpp
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/nativeaot/Runtime/threadstore.inl
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/ThreadStatics.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_ARM64/ARM64Emitter.cs
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/GCPointerMap.Algorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilationBuilder.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ILScanNodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionFieldMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ThreadStaticsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/TypeThreadStaticIndexNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/InlinedThreadStatics.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/DependencyAnalysis/RyuJitNodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/tests/nativeaot/SmokeTests/DwarfDump/Program.cs
Labels: area-NativeAOT-coreclr

#85658 Add GenericTypeParameterBuilder implementation and save a generic type into assembly.
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeTypeBuilder.cs
  src/libraries/System.Reflection.Emit/src/System.Reflection.Emit.csproj
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/GenericTypeParameterBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveWithVariousMembersTests.cs
Labels: area-System.Reflection.Emit

#85786 [wasm] WBT: Disable blazor test due to https://github.com/dotnet/runt…
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
Labels: arch-wasm, disabled-test, area-Build-mono

#85661 [release/6.0-staging] Make WindowsServiceLifetime gracefully stop
  eng/testing/xunit/xunit.targets
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.QueryServiceStatusEx.cs
  src/libraries/Common/src/Interop/Windows/Interop.Errors.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/Microsoft.Extensions.Hosting.WindowsServices.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceLifetime.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/test/Microsoft.Extensions.Hosting.WindowsServices.Tests.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/test/UseWindowsServiceTests.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/test/WindowsServiceLifetimeTests.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/test/WindowsServiceTester.cs
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceBase.cs
Labels: Servicing-approved, area-Extensions-Hosting

#85656 [release/7.0-staging] Make WindowsServiceLifetime gracefully stop
  eng/testing/xunit/xunit.targets
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.QueryServiceStatusEx.cs
  src/libraries/Common/src/Interop/Windows/Interop.Errors.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/Microsoft.Extensions.Hosting.WindowsServices.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceLifetime.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/Microsoft.Extensions.Hosting.WindowsServices.Tests.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/UseWindowsServiceTests.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/WindowsServiceLifetimeTests.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/WindowsServiceTester.cs
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceBase.cs
Labels: Servicing-approved, area-Extensions-Hosting

#85781 Avoid using two-char search in IndexOfOrdinalIgnoreCase for 1-char values
  src/libraries/System.Private.CoreLib/src/System/Globalization/Ordinal.cs
Labels: area-System.Globalization

#85773 Revert "SetThreadDpiAwareness for host error dialog"
  src/native/corehost/apphost/apphost.windows.cpp
Labels: area-Host

#85668 Don't add duplicate suffix in LibraryImport code fix.
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportFixer.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ConvertToLibraryImportFixerTests.cs
Labels: area-System.Runtime.InteropServices

#85790 Convert ComWrappers/API tests to XUnit-style
  src/tests/Interop/COM/ComWrappers/API/ComWrappersTestsBuiltInComDisabled.csproj
  src/tests/Interop/COM/ComWrappers/API/Program.cs
Labels: area-Interop-coreclr

#85794 [wasm] Update path in the WBT README
  src/mono/wasm/Wasm.Build.Tests/README.md
Labels: area-Build-mono

#85788 Remove a number of unneeded nullability suppressions.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/CastingConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.WriteCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.WriteHelpers.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#85787 [mono][interp] Fix first arg offset computation for unoptimized newobj
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#85805 JIT: prepare for instrumentation before incorporating profile counts
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#85808 Skip displaying raw instruction bytes by default for non-xarch
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitriscv64.cpp
Labels: area-CodeGen-coreclr

#84797 [RISC-V][GC] Use 128gb for regions_range on RISCV64
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/pal/src/misc/sysinfo.cpp
Labels: area-GC-coreclr, community-contribution, arch-riscv

#85819 Remove AO from a couple of SpanHelpers methods
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Char.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
Labels: area-System.Memory

#85792 [browser] prevent <DebuggerSupport> from disabling interp optimizations
  eng/testing/tests.browser.targets
  eng/testing/tests.wasi.targets
  eng/testing/tests.wasm.targets
Labels: arch-wasm, area-Build-mono

#85561 Stop passing around struct handles in importer
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/importervectorization.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85604 Delete the concept of "location" values from local morph
  src/coreclr/jit/lclmorph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85430 Fix Diagnostic port suspension message doesn't report expected port name
  src/coreclr/vm/eventing/eventpipe/ds-rt-coreclr.h
Labels: area-Tracing-coreclr, community-contribution

#85502 [LoongArch64] Implements the CodeGen::genCodeForIncSaturate().
  src/coreclr/jit/codegenloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#85832 Disable NativeLibraryTests for ilasm round-trip testing
  src/tests/Interop/NativeLibrary/API/NativeLibraryTests.csproj
Labels: area-System.Runtime.InteropServices, disabled-test

#85735 Address `TODO-FIELD`s and delete quirks
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/importervectorization.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simd.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85731 Servicing docs improvements
  .github/PULL_REQUEST_TEMPLATE/servicing_pull_request_template.md
  .github/workflows/check-service-labels.yml
  docs/project/library-servicing.md
Labels: documentation, Servicing-approved, area-Infrastructure

#85744 Skip FP registers processing if method don't have floating points use
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/target.h
Labels: area-CodeGen-coreclr

#85494 Move `ASG` rationalization to just after global morph
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/rangecheck.cpp
  src/coreclr/jit/rangecheck.h
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/ssabuilder.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85323 JIT: Generalize assignment decomposition in physical promotion
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/jitstd/vector.h
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotiondecomposition.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/utils.h
  src/tests/JIT/Directed/physicalpromotion/mixedpromotion.cs
  src/tests/JIT/Directed/physicalpromotion/physicalpromotion.cs
Labels: area-CodeGen-coreclr

#85853 Save some space in the hwintrinsic and instruction tables
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr

#85861 Replace GetInternalValue methods on RuntimeHandles with public equivalents
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/RuntimeHandlesExtensions.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeSystemExtensions.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/RuntimeTypeHandle.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Type.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ilmarshalers.cpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/virtualcallstub.cpp
Labels: area-System.Runtime

#85860 JIT: produce consistent flow graph when producing or consuming profile data
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr

#85370 Ensure `maxSIMDStructBytes` doesn't report `compVerifyInstructionSetUnusable`
  docs/design/coreclr/botr/vectors-and-intrinsics.md
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#85876 Fixed link to PR guide in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area-Meta, community-contribution

#85873 JIT: fix another case of early flow graph divergence
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#82773 [wasm] Add Vector128 and PackedSimd support to the jiterpreter; add PackedSimd to the interpreter
  src/mono/CMakeLists.txt
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp-simd-intrins.def
  src/mono/mono/mini/interp/interp-simd.c
  src/mono/mono/mini/interp/interp-simd.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.h
  src/mono/mono/mini/interp/simd-methods.def
  src/mono/mono/mini/interp/transform-simd.c
  src/mono/mono/utils/options-def.h
  src/mono/sample/wasm/browser-bench/Vector.cs
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/genmintops.py
  src/mono/wasm/runtime/jiterpreter-interp-entry.ts
  src/mono/wasm/runtime/jiterpreter-jit-call.ts
  src/mono/wasm/runtime/jiterpreter-opcodes.ts
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
  src/mono/wasm/runtime/wasm-simd-feature-detect.wasm
  src/mono/wasm/runtime/wasm-simd-feature-detect.wat
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#85890 Fix flags checking for `GT_IND`
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85886 Fix JsonNode.To allocations
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.To.cs
Labels: area-System.Text.Json, community-contribution

#85881 [PERF] Pin urllib to version 1.26.15 for perf runs
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure

#85153 [mono][interp] Fix arg alignment issues when mixing with compiled code
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/jiterpreter.h
  src/mono/mono/mini/interp/transform-simd.c
  src/mono/mono/mini/interp/transform.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/jiterpreter-interp-entry.ts
  src/mono/wasm/runtime/jiterpreter-support.ts
Labels: area-Codegen-Interpreter-mono

#85898 JIT: assert if we see schema mismatches with dynamic pgo data
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#85905 [wasm] Prune opcodes in the jiterpreter if they follow an unconditional bailout/exit
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#85904 [wasm] Fetch interpreter opcode info from the runtime instead of generating a table
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/genmintops.py
  src/mono/wasm/runtime/jiterpreter-opcodes.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#85915 Update version of Python urllib3
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure-mono

#85903 Add test for unnmanaged delegates interop
  src/tests/nativeaot/SmokeTests/PInvoke/PInvoke.cs
  src/tests/nativeaot/SmokeTests/PInvoke/PInvokeNative.cpp
Labels: area-Interop-coreclr, community-contribution

#85901 Speed up `GVMLookupForSlot`
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/TypeLoaderExports.cs
Labels: area-NativeAOT-coreclr

#85929 Revert "[release/8.0-preview4] Bump package version for .net 7 to 7.0.6"
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#85870 Ensure the insTupleType mask entries stay correct
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr

#85072 [release/7.0] Port perfmap environment variable change to 7.0
  src/coreclr/vm/perfmap.cpp
  src/coreclr/vm/perfmap.h
Labels: Servicing-approved, area-Tracing-coreclr

#85935 Reorder the url lib install
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure

#85902 Delete call to `GetMethod` in runtime type system
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeSystemContext.Runtime.cs
Labels: area-NativeAOT-coreclr

#85880 Remove check from FillStringChecked and rename it to CopyStringContent
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-System.Runtime

#85909 JIT: Stop using ref counts in forward sub
  src/coreclr/jit/forwardsub.cpp
  src/coreclr/jit/promotiondecomposition.cpp
Labels: area-CodeGen-coreclr

#85887 JIT: Fix block morphing/physical promotion self-interference
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/promotiondecomposition.cpp
  src/tests/JIT/Directed/physicalpromotion/addressinterference.cs
  src/tests/JIT/Directed/physicalpromotion/addressinterference.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_85874/Runtime_85874.cs
  src/tests/JIT/Regression/JitBlue/Runtime_85874/Runtime_85874.csproj
Labels: area-CodeGen-coreclr

#85936 Disable foreground-shutdown test on Windows
  src/tests/issues.targets
Labels: area-VM-coreclr

#85958 Do not generate PerfMap entries for methods we didn't compile
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/CodeGen/ReadyToRunObjectWriter.cs
Labels: area-crossgen2-coreclr

#85919 Attempt to bypass emscripten's generated wrappers for cwraps
  src/mono/wasm/runtime/cwraps.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#85900 [RISC-V] Fixed errors in jit and unwinding
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/scopeinfo.cpp
  src/coreclr/jit/unwindriscv64.cpp
  src/coreclr/unwinder/riscv64/unwinder.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85959 [LoongArch64] amend the multiply's overflow check and delete some unused codes.
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/emitloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution

#85888 Fold "FrozenObjectHandle(REF) + CNS" to a byref constant
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#85969 Fix ReadOnlySpanGetReferenceAndReadInteger on BigEndian
  src/libraries/System.Memory/tests/MemoryMarshal/GetReference.cs
Labels: area-System.Memory

#84184 Improve IndexOfAnyValues throughput for needles with 0
  src/libraries/System.Private.CoreLib/src/System/SearchValues/IndexOfAnyAsciiSearcher.cs
Labels: area-System.Memory

#85963 Stop special casing reflected-on internals
  src/coreclr/nativeaot/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/PropertyValue.cs
  src/libraries/System.Private.CoreLib/src/System/Resources/RuntimeResourceSet.cs
  src/libraries/System.Private.CoreLib/src/System/SR.cs
Labels: area-NativeAOT-coreclr
