Repository dotnet/runtime, pull requests merged in 2023-06, with the labels that each got.

#86972 [wasm][build] Don't use GetTempFileName; emit webcil to subdir of obj
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ConvertDllsToWebCil.cs
Labels: arch-wasm, area-Build-mono

#86931 Use IUtf8SpanFormattable.TryFormat in a few more places
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DateOnlyConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/VersionConverter.cs
Labels: area-System.Text.Json

#84279 Tar: Improve unseekable stream handling
  src/libraries/System.Formats.Tar/src/Resources/Strings.resx
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/FieldLocations.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Write.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.ExtractToDirectory.Stream.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.ExtractToDirectoryAsync.Stream.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.GetNextEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarReader/TarReader.GetNextEntryAsync.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarTestsBase.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Base.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.Tests.cs
Labels: area-System.Formats.Tar

#86979 Update runtime-codeql.yml to run 3x/week
  eng/pipelines/runtime-codeql.yml
Labels: area-Infrastructure-libraries

#86790 [RISC-V] Optimize Load Immediate
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#86965 Fix rounding error in getLikelyClassesOrMethods
  src/coreclr/jit/likelyclass.cpp
Labels: area-CodeGen-coreclr

#83923 Read StartDiskNumber as uint32
  src/libraries/System.IO.Compression/src/Resources/Strings.resx
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_InvalidParametersAndStrangeFiles.cs
Labels: area-System.IO.Compression, community-contribution

#86994 [wasm][build] Fix webcil obj path for publish
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
Labels: arch-wasm, area-Build-mono, os-browser

#86997 [RISC-V] Fix typo in UMEntryThunkCode::Decode
  src/coreclr/vm/riscv64/stubs.cpp
Labels: area-VM-coreclr, community-contribution, arch-riscv

#86856 Update binder gen parser to issue diagnostics for invalid input types
  docs/project/list-of-diagnostics.md
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/ConfigurationBindingGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/ConfigurationBindingGenerator.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/Emitter.ExceptionMessages.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/ExceptionMessages.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/Parser.Diagnostics.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Helpers/ParserDiagnostics.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Microsoft.Extensions.Configuration.Binder.SourceGeneration.csproj
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Model/KnownTypeSymbols.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.de.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.es.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.it.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.Collections.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.TestClasses.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/ConfigurationBindingSourceGeneratorTests.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Microsoft.Extensions.Configuration.Binder.SourceGeneration.Tests.csproj
Labels: area-Extensions-Configuration

#86470 [wasm] Optimize constant i2/i4 shuffles in jiterpreter
  src/mono/mono/mini/interp/interp-simd-intrins.def
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: NO-MERGE, arch-wasm, area-Codegen-Jiterpreter-mono

#86928 [wasm] Optimize jiterpreter type cast opcodes & add zero page optimizations
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#86967 Revert "Revert "Change our Android build and test legs to use the new CBL-Mariner-based images.""
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/pipeline-with-resources.yml
  eng/pipelines/runtime-android-grpc-client-tests.yml
Labels: area-Infrastructure

#86910 Add individual compilation tests for each config binding overload
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/ConfigurationBindingGenerator.Emitter.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Model/BinderMethodSpecifier.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Bind.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Bind_Instance.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Bind_Instance_BinderOptions.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Bind_Key_Instance.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Collections.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Configure.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Get.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/GetValue.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/GetValue_T_Key.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/GetValue_T_Key_DefaultValue.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/GetValue_TypeOf_Key.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/GetValue_TypeOf_Key_DefaultValue.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Get_T.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Get_T_BinderOptions.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Get_TypeOf.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Get_TypeOf_BinderOptions.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Baselines/Primitives.generated.txt
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/ConfigurationBindingGeneratorTests.Baselines.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/ConfigurationBindingGeneratorTests.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/Microsoft.Extensions.Configuration.Binder.SourceGeneration.Tests.csproj
Labels: area-Extensions-Configuration

#86809 Devirtualization with multiple guesses: JIT
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#87029 [wasm] CI: Add more wasm specific paths
  eng/pipelines/common/evaluate-default-paths.yml
Labels: arch-wasm, area-Infrastructure-mono

#86963 StringMarshalling behavior override tests
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/StringMarshallingTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/ComInterfaceGenerator/StringMarshallingOverride.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStringMarshallingOverride.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStringMarshallingOverrideDerived.cs
Labels: area-System.Runtime.InteropServices

#86048 [browser] Fix fingerprinting of relinked dotnet.js during build
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ComputeWasmBuildAssets.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ComputeWasmPublishAssets.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ConvertDllsToWebCil.cs
Labels: arch-wasm, area-Build-mono

#86991 [RISC-V] Copy SPC.dll when BuildDll is disabled
  src/coreclr/crossgen-corelib.proj
Labels: area-Infrastructure-coreclr, community-contribution, arch-riscv

#86992 Delete various end symbols
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/EmbeddedDataContainerNode.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/ObjectAndOffsetSymbolNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerGeneratedInteropStubManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayOfEmbeddedDataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayOfEmbeddedPointersNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayOfFrozenObjectsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ByRefTypeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ClassConstructorContextMap.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DehydratedDataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DelegateMarshallingStubMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EmbeddedObjectNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExactMethodInstantiationsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternalReferencesTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FunctionPointerMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericMethodsHashtableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericMethodsTemplateMap.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericTypesHashtableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericTypesTemplateMap.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericVirtualMethodTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceGenericVirtualMethodTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ModuleInitializerListNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutInfoNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/PointerTypeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunHeaderNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionFieldMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionInvokeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionVirtualInvokeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ResourceDataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ResourceIndexNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/StackTraceMethodMappingNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/StaticsInfoHashtableNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/StructMarshallingStubMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/TypeMetadataMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ArrayOfEmbeddedDataNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ArrayOfEmbeddedPointersNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/EmbeddedObjectNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportSectionNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportSectionsTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodGCInfoNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/RuntimeFunctionsGCInfoNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/RuntimeFunctionsTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
Labels: area-NativeAOT-coreclr

#86988 More test baselining
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#87035 Mark some loader tests as NativeAotIncompatible
  src/tests/Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.csproj
  src/tests/Loader/binding/tracing/BinderTracingTest.Basic.csproj
  src/tests/Loader/binding/tracing/BinderTracingTest.ResolutionFlow.csproj
  src/tests/issues.targets
Labels: area-AssemblyLoader-coreclr

#87015 Delete unused seed file support from PEWriter
  src/coreclr/dlls/mscorpe/ceefilegenwriter.cpp
  src/coreclr/dlls/mscorpe/iceefilegen.cpp
  src/coreclr/dlls/mscorpe/pewriter.cpp
  src/coreclr/dlls/mscorpe/pewriter.h
  src/coreclr/inc/ceefilegenwriter.h
  src/coreclr/inc/ceegen.h
  src/coreclr/inc/ceegentokenmapper.h
  src/coreclr/inc/corpriv.h
  src/coreclr/inc/iceefilegen.h
  src/coreclr/inc/pedecoder.h
  src/coreclr/inc/pedecoder.inl
  src/coreclr/inc/pesectionman.h
  src/coreclr/md/ceefilegen/cceegen.cpp
  src/coreclr/md/ceefilegen/ceegentokenmapper.cpp
  src/coreclr/md/ceefilegen/pesectionman.cpp
Labels: area-ILTools-coreclr

#86913 Implement AsnReader.Clone
  src/libraries/System.Formats.Asn1/ref/System.Formats.Asn1.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnDecoder.cs
  src/libraries/System.Formats.Asn1/tests/Reader/ReaderStateTests.cs
Labels: new-api-needs-documentation, area-System.Formats.Asn1

#87046 Update APICompat.Task to latest version
  eng/Version.Details.xml
  eng/Versions.props
  src/libraries/Microsoft.Extensions.DependencyInjection/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Extensions.Hosting/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Extensions.Logging/src/CompatibilitySuppressions.xml
  src/libraries/System.Configuration.ConfigurationManager/src/CompatibilitySuppressions.xml
  src/libraries/System.Diagnostics.DiagnosticSource/src/CompatibilitySuppressions.xml
  src/libraries/System.DirectoryServices/src/CompatibilitySuppressions.xml
  src/libraries/System.Security.Permissions/src/CompatibilitySuppressions.xml
Labels: area-Infrastructure-libraries

#84821 Enable EVEX feature: embedded broadcast for Vector128/256/512.Add() in limited cases
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-avx512

#87026 [wasm][debugger] Fix calling multiple times mono_wasm_asm_loaded when webcil is enabled
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-Diagnostics-mono

#87042 Fix missing link libraries in host components
  src/native/corehost/common.cmake
  src/native/corehost/hostpolicy/standalone/CMakeLists.txt
Labels: area-Host

#87002 Account for PredefinedCulturesOnly in CultureInfo LCID .ctor
  src/libraries/System.Globalization/tests/Invariant/InvariantMode.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
Labels: area-System.Globalization, community-contribution

#87066 Revert "[mono][aot] Deduplicate runtime invoke wrappers on iOS"
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono, os-ios

#86908 Create DiagnosticInfo as an incremental Diagnostic replacement type.
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Comparers.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/GeneratedComInterfaceAttributeAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Comparers.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratedStubCodeContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/IncrementalMethodStubGenerationContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/LocationInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/SkippedStubContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VirtualMethodPointerStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VtableIndexStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/CustomMarshallerAttributeFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/DiagnosticReporter.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Comparers.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/DiagnosticInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/DiagnosticOr.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/IGeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/IncrementalGeneratorInitializationContextExtensions.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MethodSignatureDiagnosticLocations.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Microsoft.Interop.SourceGeneration.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ValueEqualityImmutableDictionary.cs
Labels: area-System.Runtime.InteropServices

#87076 Remove legacy stacksampler logic
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corjitflags.h
  src/coreclr/inc/switches.h
  src/coreclr/jit/jitee.h
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmidumphelper.cpp
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/stacksampler.cpp
  src/coreclr/vm/stacksampler.h
Labels: area-CodeGen-coreclr

#87079 [wasm] Disable System.Text.Json AOT tests due to crashes
  src/libraries/tests.proj
Labels: arch-wasm, area-Infrastructure-libraries, test-failure

#87077 [wasm] Remove dependency on definition of MonoClass
  src/mono/mono/mini/interp/jiterpreter.c
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#87057 Dispose of linked CTS in QuicListener
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
Labels: area-System.Net

#87034 enable DATAS config via runtimeconfig.json
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.h
Labels: area-GC-coreclr

#87033 [RISC-V] Sync comment and implementation
  src/coreclr/vm/riscv64/virtualcallstubcpu.hpp
Labels: area-VM-coreclr, community-contribution, arch-riscv

#87019 [mono] Use underlying type in RuntimeHelpers.GetSpanDataFrom
  src/mono/mono/metadata/icall.c
  src/tests/Regressions/coreclr/GitHub_86865/test86865.cs
  src/tests/Regressions/coreclr/GitHub_86865/test86865.csproj
Labels: area-System.Runtime.CompilerServices

#86816 Unify trim warnings for accessing compiler generated code
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMarker.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeAccessedViaReflection.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchyReflectionWarnings.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/ReflectionAccessFromCompilerGeneratedCode.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAccessedThrough.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAttributeMismatch.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresInCompilerGeneratedCode.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnVirtualsAndInterfaces.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresViaDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
Labels: area-Tools-ILLink

#87067 Add and use ConfigureAwaitOptions
  src/libraries/Common/src/System/Net/Http/X509ResourceClient.cs
  src/libraries/Common/src/System/Threading/AsyncOverSyncWithIoCancellation.cs
  src/libraries/Common/tests/StreamConformanceTests/System/IO/StreamConformanceTests.cs
  src/libraries/Common/tests/System/TimeProviderTests.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/AsyncStreamReader.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitState.Unix.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/WebSockets/HttpWebSocket.Windows.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/WebSockets/WebSocketBase.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/WebSockets/WebSocketHttpListenerDuplexStream.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Android.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Unix.cs
  src/libraries/System.Net.Requests/src/System/Net/WebRequest.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/BrowserWebSocket.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncTaskMethodBuilderT.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/TaskAwaiter.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/CancellationTokenSource.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/ConfigureAwaitOptions.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Future.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskScheduler.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.WriteHelpers.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/DefaultPartitionedRateLimiter.cs
  src/libraries/System.Threading.Tasks/tests/System.Runtime.CompilerServices/TaskAwaiterTests.cs
Labels: area-System.Threading.Tasks, tenet-performance, new-api-needs-documentation

#87111 Ensure the correct `typeToConvert` parameter is being passed to constructor parameter converters.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.Large.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/ConstructorTests.cs
Labels: area-System.Text.Json

#86917 [NativeAOT] A few cleanups in stack walking on Windows
  src/coreclr/nativeaot/Runtime.Base/src/System/RuntimeTypeHandle.cs
  src/coreclr/nativeaot/Runtime/ICodeManager.h
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/windows/CoffNativeCodeManager.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/RuntimeTypeHandle.cs
Labels: area-NativeAOT-coreclr

#85945 Save 260k in InitValueNumStoreStatics
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gentreeopsdef.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr

#87120 Do not use ValueTuple in SynchronizationContext
  src/libraries/System.Private.CoreLib/src/System/Threading/SynchronizationContext.cs
Labels: area-System.Threading

#87121 Update area-owners.md
  docs/area-owners.md
Labels: area-Meta

#87007 [browser][non-icu] Revert `HybridGlobalization` normalization.
  src/libraries/Common/src/Interop/Browser/Interop.Normalization.cs
  src/libraries/System.Globalization.Extensions/tests/Hybrid/System.Globalization.Extensions.Hybrid.WASM.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.WebAssembly.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.cs
  src/mono/sample/wasm/browser-bench/String.cs
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/hybrid-globalization/normalization.ts
Labels: arch-wasm, area-System.Globalization

#87105 Fix a few Parse uses to be TryParse
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/System.Data.Common/src/System/Data/XDRSchema.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/HijriCalendar.Win32.cs
Labels: needs-area-label

#84756 fix(76268): Fix invalid behavior for ignored properties with "new" mo…
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json, community-contribution

#87093 Ensure JsonSerializerOptions always returns a JsonTypeInfo for `object`.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSerializerContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/JsonTypeInfoResolverTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#85245 [browser][non-icu] `HybridGlobalization` set flag in SDK
  docs/design/features/globalization-hybrid-mode.md
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/HybridGlobalizationTests.cs
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/loader/blazor/_Integration.ts
  src/mono/wasm/runtime/types/blazor.ts
  src/mono/wasm/testassets/Wasm.Buid.Tests.Programs/HybridGlobalization.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/BootJsonData.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
Labels: arch-wasm, area-System.Globalization

#85203 Avoid bloom filter checks for IndexOfAnyExcept in ProbabilisticMap
  src/libraries/System.Private.CoreLib/src/System/SearchValues/ProbabilisticCharSearchValues.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/ProbabilisticMap.cs
Labels: area-System.Buffers

#87101 Fold obj.GetType to a constant
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#85220 Set .env variables in corerun prior to CLR init
  src/coreclr/hosts/corerun/corerun.cpp
Labels: area-Host, community-contribution

#87094 Remove unnecessary suppressions in APICompat files
  eng/resolveContract.targets
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Com.cs
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/CompatibilitySuppressions.xml
  src/libraries/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.NoCom.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
  src/libraries/apicompat/ApiCompatBaseline.netstandard2.0.xml
  src/libraries/apicompat/ApiCompatBaseline.netstandard2.1.xml
Labels: area-Infrastructure-libraries

#86914 Test passing struct on a border of 12bit offset
  src/tests/JIT/Methodical/structs/systemvbringup/structinregs.csproj
  src/tests/JIT/Methodical/structs/systemvbringup/structpasstest.cs
  src/tests/JIT/Methodical/structs/systemvbringup/structpasstest2.cs
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#86508 Disable mark list optimization if we hit a per region mark list overflow
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#87023 Documentation for the HotColdMap section
  docs/design/coreclr/botr/readytorun-format.md
Labels: area-crossgen2-coreclr

#87136 Fix a number of accessibility resolution issues in the source generator.
  src/libraries/System.Text.Json/gen/Helpers/RoslynExtensions.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.TestLibrary/TestClasses.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSerializerContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/CompilationHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorTests.cs
Labels: area-System.Text.Json

#85551 Allow the user to control the MaxVectorTBitWidth
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/readytoruninstructionset.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/nativeaot/Runtime/IntrinsicConstants.h
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/nativeaot/docs/optimizing.md
  src/coreclr/pal/src/misc/jitsupport.cpp
  src/coreclr/tools/Common/Compiler/InstructionSetSupport.cs
  src/coreclr/tools/Common/InstructionSetHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSet.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetGenerator.cs
  src/coreclr/tools/Common/TypeSystem/Common/DefType.FieldLayout.cs
  src/coreclr/tools/Common/TypeSystem/Common/FieldLayoutAlgorithm.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/HardwareIntrinsicHelpers.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/VectorOfTFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeFixupSignature.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/crossgen2/Crossgen2RootCommand.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/tools/aot/crossgen2/Properties/Resources.resx
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/methodtablebuilder.cpp
Labels: area-CodeGen-coreclr, arch-avx512

#87104 Superpmi collection for real-world benchmarks
  eng/pipelines/coreclr/superpmi-collect.yml
  eng/pipelines/coreclr/templates/run-superpmi-collect-job.yml
  src/coreclr/scripts/superpmi-collect.proj
  src/coreclr/scripts/superpmi_benchmarks.py
  src/coreclr/scripts/superpmi_collect_setup.py
Labels: area-CodeGen-coreclr

#87075 [wasm] Perf blazor scenarios: Use the correct wasm sdk pack
  eng/pipelines/coreclr/perf-wasm-prepare-artifacts-steps.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  eng/testing/performance/blazor_perf.proj
Labels: arch-wasm, area-Infrastructure-coreclr

#87040 [fabricbot] Area pods: Exclude arch- and os- issues/prs with owners
  .github/fabricbot.json
Labels: area-Meta

#86501 [wasm][debugger] Disable failing multithreading debugger tests
  src/mono/wasi/Makefile
  src/mono/wasm/Makefile
  src/mono/wasm/debugger/DebuggerTestSuite/AssignmentTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/AsyncTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/GetPropertiesTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SetNextIpTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SteppingTests.cs
  src/mono/wasm/debugger/Wasm.Debugger.Tests/wasm.helix.targets
Labels: arch-wasm, area-Debugger-mono, test-failure

#86996 [RISC-V][JIT] Fix arithmetics
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/lowerriscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#87144 Update area-owners.json to reflect change in area-owners.md
  .github/CODEOWNERS
  docs/area-owners.json
Labels: area-Meta

#87058 [mono] Reenabled k-nucleotide-9 test.
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#86862 [release/7.0-staging][mono][debugger] Remove cast bug
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
Labels: Servicing-approved, arch-wasm, area-Debugger-mono

#86766 Enable EventPipe support in MacOS
  eng/pipelines/runtime.yml
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/Directory.Build.props
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-aot.cpp
Labels: area-NativeAOT-coreclr

#87114 Fix creating cultures with extensions in the name
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoCtor.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
Labels: area-System.Globalization

#87163 Cleanup scripts for PGO cleanup (dotnet/performance#3067).
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/perf_slow.yml
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: tenet-performance-benchmarks, needs-area-label

#86839 JIT: Clean up BB successor iteration
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/ssabuilder.cpp
Labels: area-CodeGen-coreclr

#87192 Update branding to 7.0.8
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#87191 Update branding to 6.0.19
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#87157 [wasm] Disable System.Text.Json/AOT tests
  src/libraries/tests.proj
Labels: arch-wasm, area-System.Text.Json, test-failure

#87084 Add back fixed xunit decimal, IntPtr and UIntPtr commented test cases
  src/libraries/System.Linq.Parallel/tests/ParallelEnumerableTests.cs
  src/libraries/System.Linq.Parallel/tests/QueryOperators/DefaultIfEmptyTests.cs
  src/libraries/System.Runtime/tests/System/ArrayTests.cs
  src/libraries/System.Runtime/tests/System/Reflection/InvokeRefReturn.cs
  src/libraries/System.Runtime/tests/default.rd.xml
Labels: area-Meta, community-contribution

#87212 Set ApiCompatIgnoreTargetPlatformMoniker for packable projects
  eng/packaging.targets
Labels: area-Infrastructure-libraries

#87211 Move the CreateCastingConverter<T>() method to the base JsonConverter type.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/CastingConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
Labels: area-System.Text.Json, size-reduction

#87134 Fix handling of CreateScalarUnsafe for embedded broadcast
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lowerxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_87116/Runtime_87116.cs
  src/tests/JIT/Regression/JitBlue/Runtime_87116/Runtime_87116.csproj
Labels: area-CodeGen-coreclr, arch-avx512

#87215 Tweak assert in AsyncTaskMethodBuilder
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncTaskMethodBuilderT.cs
Labels: area-System.Runtime.CompilerServices

#87207 Allow duplicate feature switch settings
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/FeatureSwitchManager.cs
Labels: area-NativeAOT-coreclr

#87127 Ensure the CPUID tests cover a couple hwintrinsic disablement edge cases
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId.cs
  src/tests/readytorun/HardwareIntrinsics/X86/CpuId.cs
Labels: area-CodeGen-coreclr

#87119 [VM] Fix potential undefined behavior
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcdesc.h
  src/coreclr/vm/array.cpp
  src/coreclr/vm/i386/stublinkerx86.cpp
Labels: area-VM-coreclr, community-contribution

#87166 Use Unsafe.BitCast for Interlocked.{Compare}Exchange of float/double
  src/coreclr/System.Private.CoreLib/src/System/Threading/Interlocked.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Interlocked.cs
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/ecalllist.h
  src/libraries/System.Private.CoreLib/src/System/Threading/Interlocked.cs
  src/mono/System.Private.CoreLib/src/System/Threading/Interlocked.Mono.cs
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/threads-types.h
  src/mono/mono/metadata/threads.c
Labels: area-System.Threading, community-contribution

#87226 Apply source build patch
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
Labels: area-NativeAOT-coreclr

#87089 Improve codegen for AVX-512 comparisons and general handling of `TYP_MASK`
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, arch-avx512

#87224 Implement JsonStringEnumConverter<TEnum>
  src/libraries/System.Text.Json/gen/Helpers/KnownTypeSymbols.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.DiagnosticDescriptors.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/Resources/Strings.resx
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.de.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.es.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.it.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/CompatibilitySuppressions.xml
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/NullableConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/UnsupportedTypeConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonStringEnumConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSerializerContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/MetadataContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Tests.targets
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/TestClasses.CustomConverters.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/CompilationHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorDiagnosticsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConverterTests/CustomConverterTests.BadConverters.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/EnumConverterTests.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
Labels: area-System.Text.Json, new-api-needs-documentation

#87205 Fix reading runtime settings early in startup
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RuntimeConfigurationRootProvider.cs
  src/coreclr/tools/aot/ILCompiler/repro/repro.csproj
  src/tests/nativeaot/SmokeTests/Exceptions/Exceptions.cs
  src/tests/nativeaot/SmokeTests/Exceptions/Exceptions.csproj
Labels: area-NativeAOT-coreclr

#87216 [NativeAOT] Don't link Swift/CryptoKit on iOS-like platforms
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: community-contribution, area-NativeAOT-coreclr

#83400 Implement `FlipBit`
  src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
Labels: area-System.Numerics, community-contribution

#87219 Simplify Random for ulong
  src/libraries/System.Private.CoreLib/src/System/Random.ImplBase.cs
Labels: area-System.Runtime, community-contribution

#87159 Update ClaimsIdentity debug display
  src/libraries/System.Security.Claims/src/System/Security/Claims/ClaimsIdentity.cs
Labels: area-System.Security

#87242 Fix FreeBSD build break
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
Labels: area-crossgen2-coreclr

#86512 Fix crossgen2.pdb
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: area-crossgen2-coreclr

#87228 [wasm] Fix running debugger tests on windows
  src/mono/wasm/debugger/Wasm.Debugger.Tests/wasm.helix.targets
Labels: NO-MERGE, arch-wasm, area-Debugger-mono

#87088 Handle diagnostic port configuration in NativeAOT
  eng/pipelines/runtime.yml
  src/coreclr/nativeaot/Runtime/RhConfig.h
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/tests/issues.targets
  src/tests/tracing/eventpipe/common/IpcUtils.cs
  src/tests/tracing/eventpipe/common/common.csproj
  src/tests/tracing/eventpipe/diagnosticport/diagnosticport.cs
  src/tests/tracing/eventpipe/diagnosticport/diagnosticport.csproj
  src/tests/tracing/eventpipe/reverse/reverse.csproj
Labels: area-NativeAOT-coreclr

#87249 Delete some dead code
  src/coreclr/nativeaot/Runtime/AsmOffsets.h
  src/coreclr/nativeaot/Runtime/AsmOffsetsVerify.cpp
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/CallDescr.h
  src/coreclr/nativeaot/Runtime/MiscHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/RuntimeInstance.cpp
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/StackFrameIterator.h
  src/coreclr/nativeaot/Runtime/amd64/CallDescrWorker.S
  src/coreclr/nativeaot/Runtime/amd64/CallDescrWorker.asm
  src/coreclr/nativeaot/Runtime/arm/CallDescrWorker.S
  src/coreclr/nativeaot/Runtime/arm/CallDescrWorker.asm
  src/coreclr/nativeaot/Runtime/arm64/CallDescrWorker.S
  src/coreclr/nativeaot/Runtime/arm64/CallDescrWorker.asm
  src/coreclr/nativeaot/Runtime/i386/CallDescrWorker.asm
  src/coreclr/nativeaot/Runtime/portable.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
Labels: area-NativeAOT-coreclr

#87238 Optimize MethodTable on both sides of `==`
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
Labels: area-NativeAOT-coreclr

#87227 Setup for benchmark runs with physical promotion.
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: tenet-performance-benchmarks

#87115 Fix inline decision reporting + noinline propagation
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.def
  src/coreclr/jit/inlinepolicy.cpp
Labels: area-CodeGen-coreclr

#86920 [wasm][debugging] Enable debugging when Device Toolbar is enabled and Iphone is selected
  src/mono/wasm/runtime/loader/blazor/_Polyfill.ts
  src/mono/wasm/runtime/loader/polyfills.ts
  src/mono/wasm/runtime/loader/run.ts
  src/mono/wasm/runtime/scheduling.ts
  src/mono/wasm/runtime/types/internal.ts
Labels: arch-wasm, area-Debugger-mono

#86652 [NativeAOT] Improving HelloiOS sample for NativeAOT to be testable with runtime packs
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/installer/pkg/projects/nativeaot-packages.proj
  src/mono/sample/iOS-NativeAOT/Makefile
  src/mono/sample/iOS-NativeAOT/Program.csproj
  src/mono/sample/iOS-NativeAOT/README.md
  src/tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: os-ios, area-NativeAOT-coreclr

#87051 [browser] Fix fingerprinting of relinked dotnet.js - follow up
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
Labels: arch-wasm, area-Build-mono

#87189 [mono][arm64] Handle sysctlbyname failing to find system options.
  src/mono/mono/utils/mono-hwcap-arm64.c
Labels: area-VM-meta-mono

#87263 Don't use GetEarlyNode in impGetSpecialIntrinsicExactReturnType
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr

#87264 [browser] remove mono_wasm_load_data_archive
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/dotnet-legacy.d.ts
  src/mono/wasm/runtime/net6-legacy/export-types.ts
  src/mono/wasm/runtime/net6-legacy/exports-legacy.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#85916 Remove Vector<T> fallbacks for Vector128<T>
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Char.cs
Labels: area-System.Memory

#87186 JIT: Fix a couple of inequalities in promotion decomposition
  src/coreclr/jit/promotiondecomposition.cpp
Labels: area-CodeGen-coreclr

#87246 [wasm] Fix for getelema1 crash in specific scenarios
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#87276 Fix DeserializeAsyncEnumerable generic recursion issue.
  src/libraries/System.Text.Json/Common/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.ReadHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PreserveReferenceResolver.cs
Labels: area-System.Text.Json, size-reduction

#86974 Add IHostApplicationBuilder interface
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/ref/Microsoft.Extensions.Configuration.Abstractions.cs
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/IConfigurationManager.cs
  src/libraries/Microsoft.Extensions.Configuration/ref/Microsoft.Extensions.Configuration.cs
  src/libraries/Microsoft.Extensions.Configuration/src/ConfigurationManager.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/ref/Microsoft.Extensions.Hosting.Abstractions.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/IHostApplicationBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/Microsoft.Extensions.Hosting.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostApplicationBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/IHostApplicationBuilderTests.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/ref/Microsoft.Extensions.Logging.Abstractions.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/ref/Microsoft.Extensions.Logging.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/ILoggingBuilder.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Logging/ref/Microsoft.Extensions.Logging.Forwards.cs
  src/libraries/Microsoft.Extensions.Logging/ref/Microsoft.Extensions.Logging.cs
  src/libraries/Microsoft.Extensions.Logging/ref/Microsoft.Extensions.Logging.csproj
  src/libraries/Microsoft.Extensions.Logging/src/Properties/TypeForwards.cs
  src/libraries/Microsoft.Extensions.Logging/tests/Common/LoggerBuilderExtensionsTests.cs
Labels: new-api-needs-documentation, area-Extensions-Hosting

#87217 JIT: Handle primitive remainder stores to regularly promoted fields in physical promotion
  src/coreclr/jit/promotiondecomposition.cpp
Labels: area-CodeGen-coreclr

#87295 Fix typo in dac-notes.md
  docs/design/coreclr/botr/dac-notes.md
Labels: area-Meta, community-contribution

#87290 Remove some dead code that threw file load exception
  src/coreclr/dlls/mscorrc/mscorrc.rc
  src/coreclr/inc/corerror.xml
  src/coreclr/pal/prebuilt/corerror/mscorurt.rc
  src/coreclr/pal/prebuilt/inc/corerror.h
  src/coreclr/utilcode/ex.cpp
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/coreassemblyspec.cpp
  src/coreclr/vm/peimage.cpp
  src/coreclr/vm/peimage.h
  src/coreclr/vm/rexcep.h
  src/libraries/Common/src/System/HResults.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Runtime/tests/System/IO/Exceptions.HResults.cs
  src/libraries/System.Runtime/tests/System/IO/FileLoadException.InteropTests.cs
Labels: area-VM-coreclr

#87288 Delete Debian 10 test runs
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-System.Net

#87251 Generate debug info even if managed debug info not present
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/IL/EcmaMethodIL.Symbols.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectWriter.cs
Labels: area-NativeAOT-coreclr

#87301 Bump the max Dwarf warning limit
  src/tests/nativeaot/SmokeTests/DwarfDump/Program.cs
Labels: area-NativeAOT-coreclr

#87223 Add analyzers and code-fixes to help adoption of source-generated COM
  docs/project/list-of-diagnostics.md
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/AddGeneratedComClassAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/AddGeneratedComClassFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/AnalyzerDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ComHostingDoesNotSupportGeneratedComInterfaceAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ConvertComImportToGeneratedComInterfaceAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ConvertComImportToGeneratedComInterfaceFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/GeneratedComInterfaceAttributeAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/RuntimeComApiUsageWithSourceGeneratedComAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/AttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratedComInterfaceAttributeData.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/ConvertToSourceGeneratedInteropFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/FixAllContextExtensions.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/OperationExtensions.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/AddGeneratedComClassTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ComHostingDoesNotSupportGeneratedComInterfaceTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ConvertToGeneratedComInterfaceTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/GeneratedComInterfaceAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/RuntimeComApiUsageWithSourceGeneratedComTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ConvertToLibraryImportFixerTests.cs
Labels: area-System.Runtime.InteropServices

#87240 Ensure that Vector<T> is tracked as "optimistic" for crossgen2
  src/coreclr/tools/Common/Compiler/InstructionSetSupport.cs
  src/coreclr/tools/Common/InstructionSetHelpers.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
Labels: area-crossgen2-coreclr

#87304 Set PublishTrimmed in NativeAOT targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#87306 Disable Quic_IsSupportedTests against ActiveIssue
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: area-System.Net.Quic

#87278 [wasi] make console always redirected
  src/libraries/System.Console/src/System/ConsolePal.Wasi.cs
Labels: area-System.Console, os-wasi

#80410 Assign correct slots during IEnumerable resolution
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/DependencyInjectionSpecificationTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteChain.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteFactory.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderContainerTests.cs
Labels: area-Extensions-DependencyInjection, community-contribution

#87222 Don't publish wixpacks
  src/installer/prepare-artifacts.proj
Labels: area-Infrastructure-installer

#87292 Revise how we set tiering and pgo options for spmi benchmark collections
  src/coreclr/scripts/superpmi_benchmarks.py
Labels: area-CodeGen-coreclr

#87302 Crossgen2 determinism fix and stress mode
  src/coreclr/jit/gentree.h
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/crossgen2/Crossgen2RootCommand.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/tests/Common/scripts/crossgen2_comparison.py
Labels: area-crossgen2-coreclr

#86668 Add newly introduced modifiers to our csharp_preferred_modifier_order editorconfig
  .editorconfig
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ElementsMarshalling.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/UnmanagedToManagedOwnershipTrackingStrategy.cs
Labels: area-Meta

#87313 JIT: Fix gtGetClassHandle with commas
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#87177 [release/6.0-staging] Fix creating cultures with extensions in the name
  src/libraries/System.Globalization/tests/CultureInfo/CultureInfoCtor.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs
Labels: Servicing-approved, area-System.Globalization

#87283 Removing the struct/unmanaged constraint from the Vector types
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Scalar.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128DebugView_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256DebugView_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512DebugView_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64DebugView_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
Labels: area-System.Numerics, new-api-needs-documentation

#87320 Fix ndpinfinal test with JitStress
  src/tests/GC/Scenarios/NDPin/ndpinfinal.cs
Labels: area-GC-coreclr

#87265 JIT: Reorder physical promotion and forward sub
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotiondecomposition.cpp
Labels: area-CodeGen-coreclr

#87146 Add marshalling tests and warn if interface is not partial
  docs/project/list-of-diagnostics.md
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/AnalyzerDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/GeneratedComInterfaceAttributeAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/RcwAroundCcwTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/StringMarshallingTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/GeneratedComInterfaceAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IDerived.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IGetAndSetInt.cs
Labels: area-System.Runtime.InteropServices

#86806 Update to use the cbl-mariner webassembly images.
  eng/pipelines/common/templates/pipeline-with-resources.yml
  eng/pipelines/common/templates/wasm-build-tests.yml
  eng/pipelines/common/templates/wasm-runtime-tests.yml
  eng/pipelines/coreclr/perf-wasm-jobs.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime-linker-tests.yml
  eng/pipelines/runtime.yml
  src/mono/llvm/llvm-init.proj
  src/mono/mono.proj
  src/mono/monoaotcross.proj
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Infrastructure

#87221 Use HashCode.Combine() in interop source generators and analyzers instead of custom GetHashCode implementations
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ContainingSyntaxContext.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManagedTypeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManualTypeMarshallingHelper.cs
Labels: area-System.Runtime.InteropServices

#87316 [RISC-V] Fix Stubs for Generics
  docs/design/coreclr/botr/clr-abi.md
  src/coreclr/vm/riscv64/stubs.cpp
Labels: area-VM-coreclr, community-contribution, arch-riscv

#87331 Simplify ManagedWebSocket.ApplyMask
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#78786 fuse < and > with = when applicable
  src/coreclr/jit/optimizebools.cpp
  src/tests/JIT/opt/OptimizeBools/optboolsreturn.cs
Labels: area-CodeGen-coreclr, community-contribution

#87332 Bump HandleHistogram32::SIZE to 16
  src/coreclr/inc/corjit.h
Labels: area-CodeGen-coreclr

#87357 Remove unused methods in cgencpu.h
  src/coreclr/vm/amd64/cgencpu.h
  src/coreclr/vm/arm/cgencpu.h
  src/coreclr/vm/arm64/cgencpu.h
  src/coreclr/vm/i386/cgencpu.h
  src/coreclr/vm/loongarch64/cgencpu.h
  src/coreclr/vm/riscv64/cgencpu.h
Labels: area-VM-coreclr, community-contribution

#87342 Mark GeneratedComClass code as generated
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComClassGenerator.cs
Labels: area-System.Runtime.InteropServices, source-generator

#87310 [RISC-V] Fix errors in vm
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/riscv64/asmconstants.h
  src/coreclr/vm/riscv64/cgencpu.h
Labels: area-VM-coreclr, community-contribution, arch-riscv

#87360 Emit pointer alignment before config knobs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RuntimeConfigurationRootProvider.cs
Labels: community-contribution, area-NativeAOT-coreclr

#87162 [mono][tests] Enable DriveInfoUnix test on tvOS
  src/libraries/System.IO.FileSystem.DriveInfo/tests/DriveInfo.Unix.Tests.cs
Labels: area-Infrastructure-mono, os-ios

#87329 Optimize zero-byte receives on ManagedWebSocket
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs
Labels: area-System.Net

#87378 Fix NativeAOT JIT-EE bug
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
Labels: community-contribution, area-NativeAOT-coreclr

#86578 [mono][tests] Run Mono iOS sample as functional test on the simulator and maccatalyst on Helix
  eng/pipelines/coreclr/templates/build-perf-sample-apps.yml
  src/libraries/tests.proj
  src/mono/msbuild/apple/build/AppleBuild.InTree.targets
  src/mono/msbuild/apple/build/AppleBuild.targets
  src/mono/sample/iOS/Makefile
  src/mono/sample/iOS/Program.csproj
Labels: area-Infrastructure-mono

#87386 Fix xlinq outerloop tests
  src/libraries/System.Private.Xml.Linq/tests/xNodeBuilder/ErrorConditions.cs
Labels: area-System.Xml

#87218 Fixes and improvements:
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#87396 [mono][aot] Add @kotlarmilos as code owner for Mono AOT and iOS
  .github/fabricbot.json
  docs/area-owners.json
  docs/area-owners.md
Labels: area-Meta

#87385 enable disabled Quic tests
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: area-System.Net.Quic
