Repository dotnet/runtime, pull requests merged in 2023-10, with the labels that each got.

#92841 Preinitialize pop/switch/Type.IsValueType
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
Labels: area-NativeAOT-coreclr

#92755 Use UnsafeAccessor in JSHostImplementation instead of reflection
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.cs
Labels: area-System.Runtime.InteropServices.JavaScript

#92821 Call fgRenumberBlocks in optIfConversion
  src/coreclr/jit/ifconversion.cpp
Labels: area-CodeGen-coreclr

#92658 [llvm] Fix spilling of valuetypes to the stack if they are passed by …
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#91792 Check DotNetFinalVersionKind when setting WorkloadVersionSuffix
  eng/Versions.props
Labels: area-Infrastructure, needs-area-label

#91904 [RISC-V] regArg dependcies unrolling in genFnPrologCalleeRegArgs()
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#92403 [browser] Remove duplicated marshaling of return value for JSExport
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportCodeGenerator.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#92868 Update intellisense.targets
  eng/intellisense.targets
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-System.Text.Json

#92187 Ensure the adapter name 100% matching when parsing proc/net/dev
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Statistics.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/dev
Labels: area-System.Net, community-contribution

#92842 [mono] Only emit pshufb when ssse3 is enabled.
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#92871 [browser][nodejs] keep runtime alive for JSExport calls
  src/mono/wasm/runtime/startup.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#92696 [wasm] Disable MetricsSupport feature by default
  src/mono/wasm/build/WasmApp.LocalBuild.targets
  src/mono/wasm/build/WasmApp.targets
Labels: area-Build-mono

#92878 Fix build of IJW test after VS upgrade
  eng/native/ijw/IJW.cmake
Labels: area-Host

#92898 [wasm] Perf pipeline - fix blazor_scenarios run for hybrid globalization
  eng/pipelines/coreclr/perf-wasm-jobs.yml
Labels: arch-wasm, area-Infrastructure-mono, perf-pipeline

#92900 Update owner list
  .github/fabricbot.json
  docs/area-owners.json
Labels: area-Meta

#92899 [mono][android] Add Android linux-arm64 workload definitions
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WorkloadManifest.json.in
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net8.Manifest/WorkloadManifest.json.in
Labels: area-Build-mono

#92806 Fix deadlock in EventPipeEventDispatcher
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventDispatcher.cs
Labels: area-System.Diagnostics.Tracing

#92825 Remove 'tracing' from Native AOT PR runs
  eng/pipelines/runtime.yml
Labels: area-NativeAOT-coreclr

#92753 [release/8.0][wasm][debugger] Support multidimensional indexing of object scheme
  src/mono/wasm/debugger/BrowserDebugProxy/EvaluateExpression.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MemberReferenceResolver.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrame2Tests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: Servicing-approved, arch-wasm, area-Debugger-mono

#92826 Clean up the crossgen2_publish project and local/live packs references
  eng/codeOptimization.targets
  eng/liveBuilds.targets
  eng/targetingpacks.targets
  eng/testing/tests.singlefile.targets
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/coreclr/tools/aot/crossgen2/crossgen2_inbuild.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2_publish.csproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/ReadyToRun.targets
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/NativeExports.csproj
Labels: area-Infrastructure

#92893 [infra] Disable failing test on tvos with Native AOT
  src/tests/nativeaot/SmokeTests/StackTraceMetadata/StackTraceMetadata.csproj
Labels: area-Infrastructure-mono, os-ios

#92872 SPMI: Disable CodeQL in superpmi-collect pipeline
  eng/pipelines/coreclr/superpmi-collect.yml
Labels: area-Infrastructure-coreclr

#92824 SPMI: Simplify and improve reporting of context information
  src/coreclr/scripts/superpmi.py
  src/coreclr/tools/superpmi/superpmi/CMakeLists.txt
  src/coreclr/tools/superpmi/superpmi/commandline.cpp
  src/coreclr/tools/superpmi/superpmi/commandline.h
  src/coreclr/tools/superpmi/superpmi/jitinstance.cpp
  src/coreclr/tools/superpmi/superpmi/jitinstance.h
  src/coreclr/tools/superpmi/superpmi/metricssummary.cpp
  src/coreclr/tools/superpmi/superpmi/metricssummary.h
  src/coreclr/tools/superpmi/superpmi/parallelsuperpmi.cpp
  src/coreclr/tools/superpmi/superpmi/superpmi.cpp
Labels: area-CodeGen-coreclr

#92882 [mono][jit] Arm64 SIMD regs are now zeroed with movi instead of eor
  src/mono/mono/arch/arm64/arm64-codegen.h
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#92852 JIT: Merge stores
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
Labels: area-CodeGen-coreclr

#92284 Improve throughput / allocations of JsonNode.GetPath
  src/libraries/Common/src/System/Text/ValueStringBuilder.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.cs
Labels: area-System.Text.Json

#92897 This vectorizes TensorPrimitives.Log2
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netstandard.cs
Labels: area-System.Numerics

#92926 Add testing for #92539.
  src/libraries/System.Formats.Cbor/tests/Reader/CborReaderTests.Tag.cs
  src/libraries/System.Formats.Cbor/tests/System.Formats.Cbor.Tests.csproj
  src/libraries/System.Formats.Cbor/tests/Writer/CborWriterTests.Tag.cs
Labels: test-enhancement, area-System.Formats.Cbor

#92928 Fix illink task lock during live build
  eng/illink.targets
Labels: area-Infrastructure, linkable-framework

#92937 Throw when applying `JsonObjectHandling.Populate` to types with parameterized constructors.
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/Common/JsonCreationHandlingTests.Object.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/JsonCreationHandlingTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
Labels: area-System.Text.Json

#92903 CI: Don't trigger runtime pipelines on perf pipeline only changes
  eng/pipelines/common/evaluate-default-paths.yml
Labels: arch-wasm, area-Infrastructure, perf-pipeline

#92941 Condition the use of NetCoreAppPrevious TFM
  Directory.Build.props
  src/libraries/Microsoft.Win32.Registry.AccessControl/src/Microsoft.Win32.Registry.AccessControl.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.IO.Ports/src/System.IO.Ports.csproj
  src/libraries/System.Management/src/System.Management.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/libraries/System.Speech/src/System.Speech.csproj
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/libraries/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
  src/libraries/System.Windows.Extensions/src/System.Windows.Extensions.csproj
Labels: area-Infrastructure-libraries

#92948 Don't publish crossgen2 as NativeAOT when doing a cross-os build.
  src/coreclr/tools/aot/crossgen2/crossgen2_publish.csproj
Labels: area-Infrastructure-coreclr

#92958 Fix publishing PGO assets
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-coreclr

#90764 Expose an internal ISimdVector interface and being using it to deduplicate some SIMD code
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/ISimdVector_2.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/SimdVectorExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-System.Runtime.Intrinsics

#92953 [wasm] Disable `TensorPrimitivesTests.ConvertToHalf_SpecialValues`
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.netcore.cs
Labels: arch-wasm, area-Codegen-AOT-mono

#92906 [release/8.0][wasm] Use intended ports when running `DevServer`
  eng/pipelines/common/evaluate-default-paths.yml
  src/mono/wasm/host/BrowserHost.cs
  src/mono/wasm/host/DevServer/DevServer.cs
  src/mono/wasm/host/RuntimeConfigJson.cs
Labels: Servicing-approved, arch-wasm, area-Build-mono

#92938 JIT: Expand unaligned address recognition for ARM32
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#92799 runtime-wasm-perf: add triggers for PRs
  eng/pipelines/common/evaluate-default-paths.yml
  eng/pipelines/runtime-wasm-perf.yml
Labels: arch-wasm, area-Infrastructure-mono

#92962 Microsoft.Extensions.Logging.TraceSource package readme update
  src/libraries/Microsoft.Extensions.Logging.TraceSource/src/PACKAGE.md
Labels: area-Extensions-Logging, community-contribution

#92952 [wasm] wasmbrowser - change the default webserver port to 0, to randomly select a port
  src/mono/wasm/host/RuntimeConfigJson.cs
Labels: arch-wasm, area-Build-mono

#92960 Adding a vectorized implementation of TensorPrimitives.Log
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netstandard.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
Labels: area-System.Numerics

#92846 Minimal ILGenerator implementation for new AssemblyBuilder.Save
  src/libraries/System.Reflection.Emit/src/Resources/Strings.resx
  src/libraries/System.Reflection.Emit/src/System.Reflection.Emit.csproj
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/AssemblyBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ILGeneratorImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/MethodBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveILGeneratorTests.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveTools.cs
  src/libraries/System.Reflection.Emit/tests/System.Reflection.Emit.Tests.csproj
Labels: area-System.Reflection.Emit

#92978 [release/7.0-staging] CI: runtime-wasm-perf: disable for PRs
  eng/pipelines/runtime-wasm-perf.yml
Labels: Servicing-approved, arch-wasm, area-Infrastructure-mono

#92977 [release/8.0] CI: runtime-wasm-perf: disable for PRs
  eng/pipelines/runtime-wasm-perf.yml
Labels: Servicing-approved, arch-wasm, area-Infrastructure-mono

#92908 JIT: Make BasicBlock::bbJumpKind private
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/ifconversion.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lir.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/optimizebools.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/patchpoint.cpp
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/switchrecognition.cpp
Labels: area-CodeGen-coreclr

#92970 Update branding to 7.0.13
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#92989 Fix typo in Microsoft.Extensions.Logging.TraceSource PACKAGE.md
  src/libraries/Microsoft.Extensions.Logging.TraceSource/src/PACKAGE.md
Labels: area-Extensions-Logging, community-contribution

#92875 Fix zero/sign extend casts on arm64
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_92865/Runtime_92865.cs
  src/tests/JIT/Regression/JitBlue/Runtime_92865/Runtime_92865.csproj
Labels: area-CodeGen-coreclr

#90556 Fix hwintrinsicChild->isContained() assert
  src/coreclr/jit/lowerxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_90508/Runtime_90508.cs
  src/tests/JIT/Regression/JitBlue/Runtime_90508/Runtime_90508.csproj
Labels: area-CodeGen-coreclr

#92954 Fix duplicate file name generated by GenerateHWIntrinsicTests_General.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_General.cs
Labels: area-System.Runtime.Intrinsics

#92714 [mono][jit] Fuse SIMD extract and insert on arm64
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#92982 Consolidate some TensorPrimitivesTests logic around special values
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
Labels: area-System.Numerics.Tensors

#92971 Fix the path for crossgen2 for the outerloop cg2 legs
  eng/pipelines/coreclr/templates/crossgen2-comparison-build-job.yml
  src/tests/build.proj
Labels: area-crossgen2-coreclr

#93018 Vectorize TensorPrimitives.Exp
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netstandard.cs
Labels: area-System.Numerics

#92791 IndentedTextWriter doesn't use indentation on the first line
  src/libraries/System.CodeDom/tests/System/CodeDom/Compiler/CodeGeneratorTests.cs
  src/libraries/System.IO/tests/IndentedTextWriter.cs
  src/libraries/System.Private.CoreLib/src/System/CodeDom/Compiler/IndentedTextWriter.cs
Labels: area-System.CodeDom, community-contribution

#92966 Replace CMake Object Interfaces with CMake 3.20 Objects
  src/coreclr/binder/CMakeLists.txt
  src/coreclr/classlibnative/bcltype/CMakeLists.txt
  src/coreclr/classlibnative/float/CMakeLists.txt
  src/coreclr/debug/debug-pal/CMakeLists.txt
  src/coreclr/debug/ee/wks/CMakeLists.txt
  src/coreclr/dlls/mscorrc/CMakeLists.txt
  src/coreclr/gcinfo/CMakeLists.txt
  src/coreclr/inc/CMakeLists.txt
  src/coreclr/interop/CMakeLists.txt
  src/coreclr/jit/static/CMakeLists.txt
  src/coreclr/md/ceefilegen/CMakeLists.txt
  src/coreclr/md/compiler/CMakeLists.txt
  src/coreclr/md/enc/CMakeLists.txt
  src/coreclr/md/runtime/CMakeLists.txt
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/unwinder/CMakeLists.txt
  src/coreclr/utilcode/CMakeLists.txt
  src/coreclr/vm/wks/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#92901 Merge CoreCLR-based official builds legs into one leg per platform
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/global-build-step.yml
  eng/pipelines/common/templates/runtimes/xplat-job.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/crossdac-build.yml
  eng/pipelines/coreclr/templates/crossdac-hostarch.yml
  eng/pipelines/coreclr/templates/crossdac-pack.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/installer/jobs/build-job.yml
  eng/pipelines/installer/jobs/steps/build-linux-package.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/coreclr/build-runtime.cmd
Labels: area-Infrastructure

#93034 Remove the MarshallingGeneratorFactoryKey type and construct the generator factory during the "source emit" stage
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSGeneratorOptions.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ConvertComImportToGeneratedComInterfaceAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGeneratorHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/IncrementalMethodStubGenerationContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VirtualMethodPointerStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VtableIndexStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VtableIndexStubGeneratorHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGeneratorHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/IMarshallingGeneratorFactory.cs
Labels: area-System.Runtime.InteropServices, source-generator

#93038 Split the MarshalAsParser into two classes
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ConvertComImportToGeneratedComInterfaceAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/DefaultMarshallingInfoParser.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshalAsParser.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshalAsWithCustomMarshallersParser.cs
Labels: area-System.Runtime.InteropServices, source-generator

#90554 Add -skipcrossarchnative and -verbose options
  eng/build.sh
  src/coreclr/build-runtime.sh
  src/coreclr/runtime.proj
Labels: area-Infrastructure-coreclr, community-contribution

#92855 Arm64: Implement LoadVector64x* and LoadVector128x* APIs
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarm64.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/LoadVectorx2Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/LoadVectorx3Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/LoadVectorx4Test.template
Labels: area-CodeGen-coreclr, new-api-needs-documentation

#92644 [mono] Fix linux-x64 AOT-llvm perf job
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/perf_slow.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/testing/performance/microbenchmarks.proj
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-mono

#92983 Remove ActiveIssue on HostFactoryResolver tests
  src/libraries/Microsoft.Extensions.HostFactoryResolver/tests/HostFactoryResolverTests.cs
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#92754 [wasm][debugger] Support passing negative/positive numbers to methods.
  src/mono/wasm/debugger/BrowserDebugProxy/MemberReferenceResolver.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrame2Tests.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: arch-wasm, area-Debugger-mono

#93012 Fix conflicting test assembly name in classloader tests
  src/tests/Loader/classloader/regressions/dd52/dd52.csproj
  src/tests/Loader/classloader/regressions/dd52/test_dd52.il
  src/tests/Loader/classloader/regressions/dd52/test_dd52.ilproj
  src/tests/Loader/classloader/regressions/dev10_897464/Test_dev10_897464.il
  src/tests/Loader/classloader/regressions/dev10_897464/Test_dev10_897464.ilproj
  src/tests/Loader/classloader/regressions/dev10_897464/dev10_897464.csproj
Labels: area-Infrastructure-coreclr

#92984 Don't widen to Int128 in CastCache
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastCache.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/GenericCache.cs
Labels: area-NativeAOT-coreclr

#92864 Remove base type rooting for types in rooted assemblies
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCases/TestDatabase.cs
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCases/TestSuites.cs
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCasesRunner/AssemblyChecker.cs
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCasesRunner/ResultChecker.cs
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCasesRunner/TrimmingDriver.cs
  src/coreclr/tools/aot/ILCompiler/RdXmlRootProvider.cs
  src/libraries/System.Collections/tests/Generic/PriorityQueue/PriorityQueue.Tests.cs
  src/libraries/System.IO/tests/BinaryWriter/BinaryWriter.EncodingTests.cs
  src/libraries/System.Security.Cryptography/tests/DSATests.cs
  src/libraries/System.Security.Cryptography/tests/ECDsaTests.cs
  src/libraries/System.Text.Json/tests/Common/TestClasses/TestClasses.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/BaseInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/CanLinkPublicApisOfLibrary.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/CopyUsedAssemblyWithMainEntryRoot.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/CopyUsedAssemblyWithPublicRoots.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/DefaultLibraryLinkBehavior.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/Dependencies/UserAssemblyActionWorks_ChildLib.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/Dependencies/UserAssemblyActionWorks_Lib.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/LibraryWithUnresolvedInterfaces.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/RootLibrary.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/RootLibraryInternalsWithIVT.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/RootLibraryVisibleAndDescriptor.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/RootLibraryVisibleForwarders.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/RootLibraryVisibleForwardersWithoutReference.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Libraries/UserAssemblyActionWorks.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/LinkXml/CanPreserveAnExportedType.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/LinkXml/CanPreserveExportedTypesUsingRegex.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/LinkXml/EmbeddedLinkXmlFromCopyAssemblyIsProcessed.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/LinkXml/UsedNonRequiredExportedTypeIsKeptWhenRooted.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
Labels: area-NativeAOT-coreclr

#93060 [wasm] Use relative path for blazor-template
  src/mono/sample/wasm/blazor-frame/wwwroot/index.html
Labels: area-Infrastructure-mono

#93000 [browser] streaming compile wasm bit earlier
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/loader/assets.ts
  src/mono/wasm/runtime/loader/exit.ts
  src/mono/wasm/runtime/loader/globals.ts
  src/mono/wasm/runtime/loader/run.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types/internal.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#93055 Update area tizen owners
  docs/area-owners.json
  docs/area-owners.md
  docs/project/issue-guide.md
Labels: area-Meta, community-contribution

#93027 Try to resolve x64 libc++ being included with linux-arm64
  src/mono/mono.proj
Labels: area-Build-mono

#93031 [mono][workloads] Allow overriding the current version
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WorkloadManifest.targets.in
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Common/BuildEnvironment.cs
  src/mono/wasm/Wasm.Build.Tests/SatelliteAssembliesTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmTemplateTestBase.cs
Labels: area-Build-mono

#93026 [wasm] WBT: Avoid using `-O0` in tests
  src/mono/wasm/Wasm.Build.Tests/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/NativeRebuildTests/OptimizationFlagChangeTests.cs
  src/mono/wasm/Wasm.Build.Tests/SatelliteAssembliesTests.cs
Labels: arch-wasm, area-Build-mono

#92998 JIT: Add ordering side effects in fgMorphExpandInstanceField
  src/coreclr/jit/compiler.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#93062 SPMI: Fix wrong SPMI replay result check
  src/coreclr/tools/superpmi/superpmi/superpmi.cpp
Labels: area-CodeGen-coreclr

#93045 CI: Do not run `CrossDac` job for mono, or wasm changes.
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#92889 Implement overrides for Span and ReadOnlySpan on SslStream
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
Labels: area-System.Net.Security

#91364 [wasm] Migrate from catch_all to catch in the jiterpreter and destroy exceptions
  src/mono/CMakeLists.txt
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/jiterpreter.h
  src/mono/mono/mini/llvm-runtime.cpp
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/exports-binding.ts
  src/mono/wasm/runtime/jiterpreter-enums.ts
  src/mono/wasm/runtime/jiterpreter-feature-detect.ts
  src/mono/wasm/runtime/jiterpreter-jit-call.ts
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types/internal.ts
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Codegen-Interpreter-mono

#93056 Add WaitAsync on Read operation of StreamConformanceTests.ReadWrite
  src/libraries/Common/tests/StreamConformanceTests/System/IO/StreamConformanceTests.cs
Labels: area-System.Net.Security

#93053 Pass /OPT:NOREF for DEBUG VS builds
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure-coreclr

#92939 Merged stores: Fix alignment-related issues and enable SIMD where possible
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#92728 [Mono] Disabled failing tests on Mono Android and interpreter lanes to keep CI green
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#93074 [release/6.0-staging] Re-add emsdk key to NuGet.config
  NuGet.config
Labels: Servicing-approved, area-codeflow

#93003 JIT: Fix invalid smnegl transformation
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_92537/Runtime_92537.cs
  src/tests/JIT/Regression/JitBlue/Runtime_92537/Runtime_92537.csproj
Labels: area-CodeGen-coreclr

#93029 Vectorize TensorPrimitives.Sigmoid and TensorPrimitives.SoftMax
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netstandard.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
Labels: area-System.Numerics

#93032 JIT: Make BasicBlock::bbPrev and bbNext private
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/clrjit.natvis
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/ifconversion.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/optimizebools.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/patchpoint.cpp
  src/coreclr/jit/promotionliveness.cpp
  src/coreclr/jit/rangecheck.cpp
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/switchrecognition.cpp
  src/coreclr/jit/unwind.cpp
Labels: area-CodeGen-coreclr

#90110 Create IL-RT folder to store roundtripped IL assemblies and sources, removed suffix '.asm' to roundtripped files, re-enabled rejit ilasm roundtripping
  src/tests/Common/CLRTest.Jit.targets
  src/tests/profiler/rejit/rejit.csproj
Labels: area-ILTools-coreclr

#93068 Move internal BitOperations.LeadingZeroCount({U}Int128)
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs
  src/libraries/System.Private.CoreLib/src/System/UInt128.cs
Labels: area-System.Numerics

#92909 Arm64: Implement LoadAndReplicateToVector64x* and LoadAndReplicateToVector128x* APIs
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/lsraarm64.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/LoadVectorx2Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/LoadVectorx4Test.template
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation

#79432 Consider numeric string json for EnumConverter.
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.FSharp.Tests/EnumTests.fs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/EnumConverterTests.cs
Labels: area-System.Text.Json, community-contribution

#93084 JIT: Remove duplicated stores
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#93049 Add catch for ConnectionAborted in Http3
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
Labels: area-System.Net.Http

#93039 [mono][hotreload] Generate seq_points if we don't have pdb information from HotReload
  src/mono/mono/metadata/debug-internals.h
  src/mono/mono/metadata/mono-debug.c
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#93077 [Android][build] Fix android package name containing `-`
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
Labels: area-Infrastructure-mono

#92927 [mono][interp] Fix calling of static delegates with simd arguments
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#92772 [mono][ios] Apple mobile template allows passing process arguments to the runtime
  src/mono/sample/iOS/main.m
  src/tasks/AppleAppBuilder/Templates/runtime.m
Labels: area-Codegen-AOT-mono, os-ios

#93118 Avoid large array allocation in UmAlQuraCalendar.InitDateMapping
  src/libraries/System.Private.CoreLib/src/System/Globalization/UmAlQuraCalendar.cs
Labels: area-System.Globalization

#93117 Avoid per-NumberFormatInfo default array allocations
  src/libraries/System.Private.CoreLib/src/System/Globalization/NumberFormatInfo.cs
Labels: area-System.Globalization

#93082 Convert AllConfigurations and NETFX jobs to use the global build templates
  eng/pipelines/extra-platforms/runtime-extra-platforms-other.yml
  eng/pipelines/global-build.yml
  eng/pipelines/installer/jobs/build-job.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/runtime-android-grpc-client-tests.yml
  eng/pipelines/runtime-linker-tests.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-libraries

#92918 JIT: Allow experimenting with different CSE subsets
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#93087 [PERF] Update release/8.0-rc1 to release/8.0 in perf.yml
  eng/pipelines/coreclr/perf.yml
Labels: area-Infrastructure

#93051 Fix passing CMAKE_BUILD_TYPE in runtime tests using Ninja
  src/tests/Interop/DisabledRuntimeMarshalling/DisabledRuntimeMarshallingNative.cpp
  src/tests/Interop/PInvoke/Array/MarshalArrayAsField/LPArrayNative/MarshalArrayByValArrayNative.cpp
  src/tests/Interop/PInvoke/Array/MarshalArrayAsParam/LPArrayNative/MarshalArrayLPArrayNative.cpp
  src/tests/build.cmd
Labels: area-Infrastructure-coreclr

#92778 [release/8.0] Manually update release/8.0 arcade to latest
  eng/Analyzers.targets
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/sdk-task.ps1
  eng/common/tools.ps1
  global.json
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/aot/Directory.Build.props
  src/coreclr/tools/aot/Directory.Build.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
  src/tests/Common/external/external.csproj
Labels: Servicing-approved, blocking-release, area-Infrastructure-installer, area-codeflow

#93101 Fix "warning : Reference to undeclared extern assembly 'mscorlib'" in tst.il
  src/tests/Regressions/coreclr/44465/tst.il
Labels: area-VM-coreclr

#93126 Replace some stackallocs with collection expressions
  src/libraries/Common/src/Interop/FreeBSD/Interop.Process.cs
  src/libraries/System.Data.Common/src/System/Data/SQLTypes/SQLDecimal.cs
  src/libraries/System.Private.CoreLib/src/System/Array.cs
  src/libraries/System.Private.CoreLib/src/System/IO/DriveInfoInternal.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/Helpers/AhoCorasick.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Json/XmlJsonWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/ValueHandle.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlBaseWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlBinaryWriter.cs
  src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XNodeBuilder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Cache/XPathDocumentBuilder.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlRawWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlRawWriterAsync.cs
  src/libraries/System.Private.Xml/src/System/Xml/Dom/DocumentXmlWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlException.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationCng.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationManaged.cs
Labels: area-Meta

#92934 CBOR Writer: Use canonical NaN representation for NaN values
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/HalfHelpers.netstandard.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Simple.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Simple.netcoreapp.cs
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Writer/CborWriter.Simple.netstandard.cs
  src/libraries/System.Formats.Cbor/tests/CborTestHelpers.netcoreapp.cs
  src/libraries/System.Formats.Cbor/tests/CborTestHelpers.netstandard.cs
  src/libraries/System.Formats.Cbor/tests/Reader/CborReaderTests.Simple.cs
  src/libraries/System.Formats.Cbor/tests/System.Formats.Cbor.Tests.csproj
  src/libraries/System.Formats.Cbor/tests/Writer/CborWriterTests.Array.cs
  src/libraries/System.Formats.Cbor/tests/Writer/CborWriterTests.Simple.cs
  src/libraries/System.Formats.Cbor/tests/Writer/CborWriterTests.Simple.netcoreapp.cs
Labels: area-System.Formats.Cbor, community-contribution

#93109 [mono][android] Fix android extra-platforms by renaming the project name
  src/tests/Loader/classloader/generics/LoaderClassloaderGenerics.csproj
  src/tests/Loader/classloader/regressions/LoaderClassloaderRegressions.csproj
Labels: os-android, area-Infrastructure-mono

#93110 [mono][tests] Disable MemoryStream_SeekOverflow_Throws on apple mobile platforms
  src/libraries/System.IO/tests/MemoryStream/MemoryStreamTests.cs
Labels: area-Infrastructure-mono, os-ios

#93093 Vectorize TensorPrimitives.Tanh/Cosh/Sinh
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.netstandard.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
Labels: area-System.Numerics

#91038 Implement standalone GC loading in NativeAOT
  src/coreclr/gc/CMakeLists.txt
  src/coreclr/gc/env/gctoeeinterface.standalone.inl
  src/coreclr/gc/gcinterface.ee.h
  src/coreclr/gc/gcload.cpp
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/Full/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/clrgc.disabled.cpp
  src/coreclr/nativeaot/Runtime/clrgc.enabled.cpp
  src/coreclr/nativeaot/Runtime/gcenv.h
  src/coreclr/nativeaot/Runtime/gcheaputilities.cpp
  src/coreclr/nativeaot/Runtime/gcheaputilities.h
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/gcenv.ee.h
  src/coreclr/vm/gcenv.ee.standalone.cpp
  src/coreclr/vm/gcenv.ee.static.cpp
  src/coreclr/vm/gcheaputilities.cpp
Labels: area-NativeAOT-coreclr

#92768 JIT: Reorder indirs on arm64 to make them amenable to ldp optimization
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/promotiondecomposition.cpp
  src/coreclr/jit/sideeffects.cpp
  src/coreclr/jit/sideeffects.h
Labels: area-CodeGen-coreclr

#93092 [mono] Enable branch optimizations when using LLVM.
  src/mono/mono/mini/branch-opts.c
  src/mono/mono/mini/mini-codegen.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-LLVM-mono

#93098 [RISC-V] Use standard NaNs in FP ops for cross-compiling RISC-V on x86
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#93025 Change SendAsync_SlowServerRespondsAfterDefaultReceiveTimeout_ThrowsHttpRequestException server to Loopback
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
Labels: area-System.Net.Http

#93131 [mono] Use C11 _Noreturn (or [[noreturn]]) instead of GCC attribute
  src/mono/CMakeLists.txt
  src/mono/cmake/eglib-config.h.cmake.in
  src/mono/mono/eglib/glib.h
Labels: area-Build-mono

#93170 [mono] Update emsdk
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Workloads, needs-area-label

#93181 Add new nativeaot files to the platform manifest
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
Labels: blocking-official-build, area-Infrastructure-installer

#93086 Update JIT debug helpers
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#93185 Add standalonegc-disabled.lib to reproNative.vcxproj
  src/coreclr/tools/aot/ILCompiler/reproNative/reproNative.vcxproj
Labels: area-NativeAOT-coreclr

#93180 Update comment with min OS version locations to update
  Directory.Build.props
Labels: area-Infrastructure

#91968 crashinfo.cpp/crashinfounix.cpp: use off_t instead of off64_t
  src/coreclr/debug/createdump/crashinfo.cpp
  src/coreclr/debug/createdump/crashinfounix.cpp
Labels: area-Diagnostics-coreclr, community-contribution

#92037 Permissive handling for runtimeconfig.json
  src/installer/tests/HostActivation.Tests/NativeHosting/Ijwhost.cs
  src/native/corehost/comhost/comhost.cpp
  src/native/corehost/fxr_resolver.h
  src/native/corehost/ijwhost/ijwhost.cpp
  src/native/corehost/test/nativehost/nativehost.cpp
Labels: area-Host, community-contribution

#93088 Fix Options Source Gen Trimming Issues
  docs/project/list-of-diagnostics.md
  src/libraries/Microsoft.Extensions.Options/gen/DiagDescriptors.cs
  src/libraries/Microsoft.Extensions.Options/gen/Emitter.cs
  src/libraries/Microsoft.Extensions.Options/gen/Generator.cs
  src/libraries/Microsoft.Extensions.Options/gen/Microsoft.Extensions.Options.SourceGeneration.csproj
  src/libraries/Microsoft.Extensions.Options/gen/OptionsSourceGenContext.cs
  src/libraries/Microsoft.Extensions.Options/gen/Parser.cs
  src/libraries/Microsoft.Extensions.Options/gen/ParserUtilities.cs
  src/libraries/Microsoft.Extensions.Options/gen/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.de.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.es.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.it.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/Microsoft.Extensions.Options/gen/SymbolHolder.cs
  src/libraries/Microsoft.Extensions.Options/gen/SymbolLoader.cs
  src/libraries/Microsoft.Extensions.Options/src/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/DataAnnotationAttributesWithParams.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/EmitterWithCustomValidator.netcore.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/EmitterWithCustomValidator.netfx.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netcore.lang10.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netcore.lang11.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netfx.lang10.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netfx.lang11.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Main.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Microsoft.Extensions.Options.SourceGeneration.Unit.Tests.csproj
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/OptionsRuntimeTests.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Baselines/NetCoreApp/Validators.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Baselines/NetFX/Validators.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Options/tests/TrimmingTests/ConfigureTests.cs
  src/libraries/Microsoft.Extensions.Options/tests/TrimmingTests/Microsoft.Extensions.Options.TrimmingTests.proj
Labels: area-Extensions-Options

#93061 [Mono] Enable intrinsics support for multiplication and division for Vector2/4 by scalar + refactor
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#93021 System.Formats.Cbor package's readme
  src/libraries/System.Formats.Cbor/src/PACKAGE.md
Labels: area-System.Security, community-contribution

#93123 Microsoft.Extensions.FileSystemGlobbing PACKAGE.md
  src/libraries/Microsoft.Extensions.FileSystemGlobbing/src/PACKAGE.md
Labels: area-Extensions-FileSystem, community-contribution

#93153 [mono] Remove coree/mixed-mode support
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/assembly.c
  src/mono/mono/metadata/coree-internals.h
  src/mono/mono/metadata/coree.c
  src/mono/mono/metadata/coree.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/jit-info.c
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/mini-windows.c
  src/mono/mono/tests/mixed-mode/MixedModeApp/MixedModeApp.cpp
  src/mono/mono/tests/mixed-mode/MixedModeApp/MixedModeApp.sln
  src/mono/mono/tests/mixed-mode/MixedModeApp/MixedModeApp.vcproj
  src/mono/mono/tests/mixed-mode/MixedModeLibrary/MixedModeLibrary.cpp
  src/mono/mono/tests/mixed-mode/MixedModeLibrary/MixedModeLibrary.def
  src/mono/mono/tests/mixed-mode/MixedModeLibrary/MixedModeLibrary.sln
  src/mono/mono/tests/mixed-mode/MixedModeLibrary/MixedModeLibrary.vcproj
  src/mono/mono/tests/mixed-mode/MixedModeLibrary/NativeApp.cpp
  src/mono/mono/tests/mixed-mode/MixedModeLibrary/NativeApp.vcproj
  src/mono/mono/tests/mixed-mode/MixedModeMsvcrtApp/MixedModeMsvcrtApp.cpp
  src/mono/mono/tests/mixed-mode/MixedModeMsvcrtApp/MixedModeMsvcrtApp.sln
  src/mono/mono/tests/mixed-mode/MixedModeMsvcrtApp/MixedModeMsvcrtApp.vcproj
  src/mono/mono/tests/mixed-mode/PureMsvcrtApp/PureMsvcrtApp.cpp
  src/mono/mono/tests/mixed-mode/PureMsvcrtApp/PureMsvcrtApp.sln
  src/mono/mono/tests/mixed-mode/PureMsvcrtApp/PureMsvcrtApp.vcproj
  src/mono/mono/utils/w32subset.h
Labels: area-VM-meta-mono

#93135 [HTTP/SSL] Fix stress
  .dockerignore
  eng/docker/libraries-sdk.linux.Dockerfile
  eng/docker/libraries-sdk.windows.Dockerfile
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Program.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/windows.Dockerfile
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Build-Local.ps1
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Directory.Build.targets
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Dockerfile
  src/libraries/System.Net.Security/tests/StressTests/SslStress/build-local.sh
  src/libraries/System.Net.Security/tests/StressTests/SslStress/windows.Dockerfile
Labels: area-System.Net

#92895 [mono] Reenable MSVC warnings
  src/mono/CMakeLists.txt
  src/mono/mono/arch/arm64/arm64-codegen.h
  src/mono/mono/eglib/garray.c
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/cominterop.c
  src/mono/mono/metadata/icall-eventpipe.c
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/metadata/marshal.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini.h
  src/mono/mono/profiler/aot.c
  src/mono/mono/profiler/log.c
  src/mono/mono/utils/mono-error-internals.h
  src/mono/mono/utils/mono-logger-internals.h
  src/mono/mono/utils/mono-threads.h
  src/mono/mono/utils/mono-utility-thread.c
Labels: area-VM-meta-mono

#93195 [mono] Revert part of 93092 since it causes a regression when aot-ing corlib.
  src/mono/mono/mini/mini.c
Labels: area-Codegen-JIT-mono

#93203 [mono] Reenable Sse2.X64/StoreNonTemporal tests
  src/tests/JIT/HardwareIntrinsics/X86/Sse2.X64/StoreNonTemporal.cs
  src/tests/issues.targets
Labels: area-Codegen-JIT-mono

#92471 [iOS][non-icu] HybridGlobalization implement japanese calendar data
  src/libraries/Common/src/Interop/Interop.Calendar.iOS.cs
  src/libraries/System.Globalization.Calendars/tests/System/Globalization/CalendarTestBase.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/JapaneseCalendar.Icu.cs
  src/native/libs/System.Globalization.Native/entrypoints.c
  src/native/libs/System.Globalization.Native/pal_calendarData.c
  src/native/libs/System.Globalization.Native/pal_calendarData.h
  src/native/libs/System.Globalization.Native/pal_calendarData.m
Labels: area-System.Globalization, os-ios

#92035 Doc fix-ups to InstrumentRule
  src/libraries/Microsoft.Extensions.Diagnostics.Abstractions/src/Metrics/InstrumentRule.cs
Labels: area-Extensions-Primitives, needs-area-label

#93201 Use isRollingBuild variable instead of removed isFullMatrix in pipelines
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure

#93213 Update some artifact names that were recently changed
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/templates/superpmi-collect-job.yml
  eng/pipelines/libraries/run-test-job.yml
Labels: area-Infrastructure-coreclr

#93179 SPMI: Fix 'misses' fraction computation and calculate total contexts correctly
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#86811 JIT: Add support for byte/sbyte SIMD multiplication on XArch
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#93210 JIT: Fix LowerHWIntrinsicCreate LIR ordering issues
  src/coreclr/jit/lir.cpp
  src/coreclr/jit/lir.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#92985 Make thread pool thread timeouts configurable
  src/libraries/System.Private.CoreLib/src/System/AppContextConfigHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.NonBrowser.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.cs
Labels: area-System.Threading

#93147 [release/6.0] Fix a memory leak in runtime interop stubs when using an array of structs of types that use old-style managed marshalers
  src/coreclr/vm/ilmarshalers.h
Labels: Servicing-approved, area-Interop-coreclr

#93231 Do not clone empty arrays in CloneByteArray
  src/libraries/Common/src/System/Security/Cryptography/Helpers.cs
Labels: area-System.Security

#91845 Fix old gcc build
  src/coreclr/debug/createdump/crashinfounix.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/valuenum.h
Labels: area-Infrastructure-coreclr, community-contribution

#93214 Align data in Buffer.Memmove for arm64
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
Labels: area-System.Buffers

#93238 Make a copy of assembly path.
  src/coreclr/vm/perfinfo.cpp
Labels: area-VM-coreclr

#93089 Fix a memory leak in runtime interop stubs when using an array of structs of types that use old-style managed marshalers
  src/coreclr/vm/ilmarshalers.h
  src/tests/Interop/ArrayMarshalling/StructArray/MarshalStructArrayTest.cs
  src/tests/Interop/ArrayMarshalling/StructArray/MarshalStructArrayTest.csproj
Labels: area-Interop-coreclr

#93260 Make Emitted Attribute Order Deterministic in Options Source Generator
  src/libraries/Microsoft.Extensions.Options/gen/Emitter.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netcore.lang10.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netcore.lang11.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netfx.lang10.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netfx.lang11.g.cs
Labels: area-Extensions-Options

#93270 Delete docs/design/features/cross-platform-cryptography.md
  docs/design/features/cross-platform-cryptography.md
Labels: area-System.Security

#93209 [wasm] Make it easy to run blazor startup measurements
  src/mono/sample/wasm/browser-bench/README.md
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
Labels: area-Infrastructure-mono

#88136 Fix Unnecessary sign-extension for `(nuint)span.Length`
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/libraries/System.Private.CoreLib/src/System/ReadOnlySpan.cs
  src/libraries/System.Private.CoreLib/src/System/Span.cs
Labels: area-CodeGen-coreclr, community-contribution
