Repository dotnet/runtime, pull requests merged in 2023-02, with the labels that each got.

#81399 Bump main branding to .NET 8.0 Preview2
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure

#81384 Address ConfigurationBinder feedback
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
Labels: area-Extensions-Configuration

#81398 [release/8.0-preview1] Branding of .NET 8.0 Preview1
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-Infrastructure

#81417 [wasm] Enable jiterpreter traces; fix floating point compares
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/utils/options-def.h
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-VM-meta-mono

#81451 Add note on WarningsAsErrors
  docs/workflow/README.md
Labels: area-Meta

#81421 [wasm] Drop `_SampleProject` and `_SampleAssembly` properties
  src/mono/sample/wasi/Directory.Build.targets
  src/mono/sample/wasi/console/Wasi.Console.Sample.csproj
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/sample/wasm/browser-bench/Console/Wasm.Console.Bench.Sample.csproj
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
  src/mono/sample/wasm/browser-eventpipe/Wasm.Browser.EventPipe.Sample.csproj
  src/mono/sample/wasm/browser-threads/Wasm.Browser.Threads.Sample.csproj
  src/mono/sample/wasm/browser/Wasm.Browser.Sample.csproj
  src/mono/sample/wasm/console-node/Wasm.Console.Node.Sample.csproj
  src/mono/sample/wasm/console-v8/Wasm.Console.V8.Sample.csproj
Labels: arch-wasm, area-Build-mono

#81446 Enable packaging of Microsoft.NET.ILLink.Tasks from runtime
  eng/Analyzers.props
  eng/Subsets.props
  eng/Version.Details.xml
  eng/pipelines/libraries/build-job.yml
Labels: area-Tools-ILLink

#81450 Sync ILLink
  src/tools/illink/illink.sln
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/ParameterProxy.cs
  src/tools/illink/src/ILLink.Shared/DataFlow/DefaultValueDictionary.cs
  src/tools/illink/src/ILLink.Shared/DataFlow/MaybeLattice.cs
  src/tools/illink/src/ILLink.Shared/DataFlow/ValueSet.cs
  src/tools/illink/src/ILLink.Shared/TypeSystemProxy/WellKnownType.cs
  src/tools/illink/src/linker/Linker.Dataflow/HoistedLocalKey.cs
  src/tools/illink/src/linker/Linker.Dataflow/ValueNode.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/Verifiers/CSharpAnalyzerVerifier`1.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedInstructionSequenceAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedInstructionSequenceOnMemberInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedLocalsSequenceAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/IgnoreTestCaseAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptAttributeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptAttributeOnFixedBufferTypeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptBaseOnTypeInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptBaseTypeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptExportedTypeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptInitializerData.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptInterfaceAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptInterfaceOnTypeInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptMemberInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptOverrideAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptReferencesInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptSecurityAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/KeptTypeInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/RemovedInterfaceOnTypeInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/RemovedMemberInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/RemovedTypeInAssemblyAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/TestCaseRequirementsAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Metadata/SetupCompileAfterAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Metadata/SetupCompileBeforeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/GenericParameterWarningLocation.cs
  src/tools/illink/test/Mono.Linker.Tests/Extensions/NiceIO.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/TestCaseCompiler.cs
Labels: linkable-framework, area-Tools-ILLink

#81216 JIT: Avoid xchg for resolution
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
Labels: area-CodeGen-coreclr

#80214 Avoid unobserved ReadAheadTask exceptions in HttpConnection
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#81473 Remove ArgumentState "caching" that leaked memory deserialization.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStack.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
Labels: area-System.Text.Json, community-contribution

#81475 [browser] benchmark - generated JSON serializer
  src/mono/sample/wasm/browser-bench/Console/Wasm.Console.Bench.Sample.csproj
  src/mono/sample/wasm/browser-bench/Json.cs
  src/mono/sample/wasm/browser-bench/Person.cs
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
  src/mono/sample/wasm/browser-bench/main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#81453 [PERF] Remove Android Maui Scenarios from Runtime Repo
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net6.yml
  eng/pipelines/coreclr/templates/build-perf-maui-apps-net7.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/testing/performance/android_scenarios.proj
  eng/testing/performance/android_scenarios_net6.proj
  eng/testing/performance/performance-setup.ps1
Labels: area-Infrastructure

#81257 Fix ReaderWriterLock when using it in recursive scenarios and multiple instances on the same thread
  src/libraries/System.Threading/src/System/Threading/ReaderWriterLock.cs
  src/libraries/System.Threading/tests/ReaderWriterLockTests.cs
Labels: area-System.Threading

#81496 Enable in-build signing based on branch
  eng/pipelines/common/internal-variables.yml
Labels: area-Infrastructure-coreclr

#81490 [QUIC] Fix conditions to bin place msquic.dll for Windows builds
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: area-System.Net.Quic

#81190 Change Source link version number refs to new properties
  eng/Tools.props
Labels: area-Infrastructure-libraries

#81464 Make newly introduced Immutable tests work with AOT.
  src/libraries/System.Collections.Immutable/tests/default.rd.xml
Labels: area-System.Collections

#81463 Do not remove resource messages in Xml tests
  src/libraries/System.Private.Xml/tests/System.Private.Xml.Tests.csproj
  src/libraries/System.Private.Xml/tests/default.rd.xml
Labels: area-System.Xml

#81466 Do not strip resource messages if EventSource would use it
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
Labels: area-NativeAOT-coreclr

#81430 JIT: Update GTF_GLOB_REF after last-use copy omission
  src/coreclr/jit/compiler.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#81457 [release/8.0-preview1] Install workload manifests in sdk band version derived from the
  eng/Versions.props
  eng/testing/tests.wasm.targets
  eng/testing/workloads-testing.targets
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net6.Manifest/Microsoft.NET.Workload.Mono.Toolchain.net6.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest.pkgproj
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
Labels: area-Infrastructure-mono

#79134 Copy local intellisense xmls for assemblies with source of truth.
  Build.proj
  Directory.Build.props
  eng/intellisense.targets
  eng/packaging.targets
  eng/restore/docs.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Ref.sfxproj
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/System.Formats.Cbor/src/System.Formats.Cbor.csproj
Labels: area-Infrastructure-libraries

#81486 Use IndexOfAnyValues in MailBnfHelper
  src/libraries/System.Net.Mail/src/System/Net/Mail/MailBnfHelper.cs
Labels: area-System.Net

#81508 WarningsAsErrors -> TreatWarningsAsErrors
  docs/workflow/README.md
Labels: area-Meta

#81511 [wasm][debugger] Enabling firefox debugger tests on CI rolling builds
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
Labels: arch-wasm, area-Infrastructure-mono, area-Debugger-mono

#74820 [wasm] [debugger] First version of multithreaded debugging
  eng/pipelines/common/templates/wasm-debugger-tests.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime-wasm-dbgtests.yml
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/component/mini-wasm-debugger.c
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/Firefox/FirefoxMonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/wasm/debugger/DebuggerTestSuite/AsyncTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EnvironmentVariables.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests2.cs
  src/mono/wasm/debugger/DebuggerTestSuite/FirefoxInspectorClient.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Inspector.cs
  src/mono/wasm/debugger/DebuggerTestSuite/InspectorClient.cs
  src/mono/wasm/debugger/DebuggerTestSuite/MiscTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/SteppingTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessOptions.cs
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessStartup.cs
  src/mono/wasm/debugger/Wasm.Debugger.Tests/Wasm.Debugger.Tests.csproj
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-test.csproj
  src/mono/wasm/host/WebServerStartup.cs
  src/mono/wasm/runtime/debug.ts
  src/mono/wasm/runtime/dotnet-legacy.d.ts
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/rollup.config.js
Labels: area-Debugger-mono

#81448 JIT: build pred lists first
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#81474 Delete `!CODEGEN_CPP` ifdefs from NAOT smoke tests
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Delegates.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
Labels: community-contribution, area-NativeAOT-coreclr

#81409 Consider method accessibility in interface resolution
  src/coreclr/tools/Common/TypeSystem/Common/InstantiatedMethod.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/tools/Common/TypeSystem/Common/MethodDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/MethodForInstantiatedType.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaMethod.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Interfaces.cs
Labels: area-crossgen2-coreclr

#81516 Ensure that we don't try to constant fold BSF(0) or BSR(0)
  src/coreclr/jit/valuenum.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_81460/Runtime_81460.cs
  src/tests/JIT/Regression/JitBlue/Runtime_81460/Runtime_81460.csproj
Labels: area-CodeGen-coreclr

#81335 Improve the codegen of the vector accelerated `System.Numerics.*` types
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsic.h
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Numerics/Plane.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Labels: area-System.Numerics, new-api-needs-documentation

#81306 Remove types deriving from JsonTypeInfo<T> and mark as sealed.
  src/libraries/System.Text.Json/gen/TypeGenerationSpec.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/CustomJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Collections.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/SourceGenJsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-System.Text.Json, new-api-needs-documentation, size-reduction

#81377 JIT: change profile slop assert to a jitdump note
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#81510 Fix build for FreeBSD arm64 w/NativeAOT
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/ILCompiler/repro/repro.csproj
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/ILCompilerRIDs.props
Labels: community-contribution, area-NativeAOT-coreclr

#81533 Pass -pie and -no-pie to the linker
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: community-contribution, area-NativeAOT-coreclr

#81513 [wasm] CI: fix the new runtime-wasm-dbgtests pipeline
  eng/pipelines/common/variables.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime-wasm-dbgtests.yml
  src/mono/wasm/README.md
Labels: arch-wasm, area-Infrastructure-mono, area-Debugger-mono

#81461 Install workload manifests in sdk band version derived from the
  eng/Versions.props
  eng/testing/tests.wasm.targets
  eng/testing/workloads-testing.targets
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net6.Manifest/Microsoft.NET.Workload.Mono.Toolchain.net6.Manifest.pkgproj
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest.pkgproj
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
Labels: arch-wasm, test-enhancement, area-Infrastructure-mono

#81538 Delete JIT disasm output in test wrappers before running FileCheck
  src/tests/Common/CLRTest.Jit.targets
Labels: area-CodeGen-coreclr

#80495 [wasm] Allow users to control behavior of undefined symbols
  src/mono/wasm/Wasm.Build.Tests/NativeBuildTests.cs
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/testassets/native-libs/undefined-symbol.c
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono

#81524 JIT: build pred lists when we first build the flow graph
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#81559 [release/8.0-preview1] Fix ROOTFS_DIR for arm64 container in pipeline-with-resources.yml
  eng/pipelines/common/templates/pipeline-with-resources.yml
Labels: area-Infrastructure

#78736 Allow inlining for ldsfld + value-type
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#81556 CI: Update darc dependency to track emsdk manifest name change
  eng/Versions.props
  eng/pipelines/common/xplat-setup.yml
Labels: arch-wasm, area-Infrastructure-mono

#81562 JIT: remove cheap preds
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#81575 [wasm] Implement more opcodes in the jiterpreter
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/jiterpreter.h
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono

#81581 Do not expect quic to work on single file deployments
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: area-System.Net.Quic

#81467 Do not print stack trace if error reading crashReportJsonFile
  src/tests/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs
Labels: area-Infrastructure-coreclr

#81476 Support targeting iOS platforms with ILCompiler
  src/coreclr/tools/Common/CommandLineHelpers.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_X64/TargetRegisterMap.cs
  src/coreclr/tools/Common/Internal/Runtime/EETypeBuilderHelpers.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/TypeSystem/Common/TargetDetails.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ExportsFileWriter.cs
  src/coreclr/tools/aot/ILCompiler/ConfigurablePInvokePolicy.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
Labels: area-NativeAOT-coreclr

#81579 Remove JsonMetadataServices dependency from DeserializeAsyncEnumerable
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.ReadHelper.cs
Labels: area-System.Text.Json

#81576 Use eager evaluation when configuring the JsonTypeInfo type graph.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
Labels: area-System.Text.Json

#81565 Remove AggressiveInlining from XxHash128.HashLength0To16
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash128.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash3.cs
Labels: area-System.IO

#81582 JIT: revise checking for computed preds
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/ssabuilder.cpp
Labels: area-CodeGen-coreclr

#81596 pal_ssl: include missing code for non-portable OpenSSL 3.0 build.
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Security, community-contribution

#81602 Fix OOM edge case in interleaved LoaderHeap
  src/coreclr/utilcode/loaderheap.cpp
Labels: area-VM-coreclr

#81412 Update the assert to correctly check if a tree with value has non-zero destination registers
  src/coreclr/jit/lsraarm.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_81356/Runtime_81356.cs
  src/tests/JIT/Regression/JitBlue/Runtime_81356/Runtime_81356.csproj
Labels: area-CodeGen-coreclr

#81568 Respect HostApplicationBuilderSettings.Args when DisableDefaults=true
  src/libraries/Microsoft.Extensions.Hosting/src/HostApplicationBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostApplicationBuilderSettings.cs
  src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostApplicationBuilderTests.cs
Labels: breaking-change, area-Extensions-Hosting, needs-breaking-change-doc-created

#80636 System.DirectoryServices.Protocols.LdapConnection has wrong argument check (#78459)
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapConnectionTests.cs
Labels: area-System.DirectoryServices, community-contribution

#81603 Make internal FrozenHashTable non-generic
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenHashTable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Int32/Int32FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Int32/Int32FrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/ItemsFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/KeysAndValuesFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenSet.cs
Labels: area-System.Collections

#81623 Generate StandardOptimizationData uncompressed
  src/coreclr/crossgen-corelib.proj
Labels: area-Infrastructure-coreclr

#81618 Fix -Wformat violations
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/common/palsuite.h
  src/coreclr/pal/tests/palsuite/miscellaneous/GlobalMemoryStatusEx/test1/test.cpp
  src/coreclr/pal/tests/palsuite/threading/QueryThreadCycleTime/test1/test1.cpp
  src/coreclr/tools/superpmi/CMakeLists.txt
  src/coreclr/tools/superpmi/mcs/verbdumptoc.cpp
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/native/minipal/types.h
Labels: area-PAL-coreclr, community-contribution

#81571 Prep for new diagnostic work and tests
  src/coreclr/vm/class.cpp
  src/coreclr/vm/clsload.cpp
  src/coreclr/vm/codeversion.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/encee.cpp
  src/coreclr/vm/genmeth.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/methodtablebuilder.h
Labels: area-Diagnostics-coreclr

#81051 Promote Tier0 methods with loops to InstrumentedTier0
  docs/design/features/DynamicPgo-InstrumentedTiers.md
  src/coreclr/inc/corjitflags.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jitee.h
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/vm/tieredcompilation.cpp
Labels: area-CodeGen-coreclr

#81620 [wasm] Jiterpreter field op refactorings; fixes #81558
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono

#81573 Suppress clang-16 warnings
  eng/common/native/init-compiler.sh
  eng/native/configurecompiler.cmake
  src/coreclr/dlls/mscordbi/CMakeLists.txt
  src/coreclr/dlls/mscordbi/mscordbi.cpp
  src/native/corehost/apphost/static/CMakeLists.txt
  src/native/corehost/apphost/static/singlefilehost_freebsdexports.src
  src/native/corehost/apphost/static/singlefilehost_unixexports.src
Labels: area-Infrastructure, community-contribution

#81616 Upstream a few changes from the NativeAOT-LLVM branch
  src/coreclr/nativeaot/Runtime/AsmOffsets.h
  src/coreclr/nativeaot/Runtime/CachedInterfaceDispatch.cpp
  src/coreclr/nativeaot/Runtime/CachedInterfaceDispatch.h
  src/coreclr/tools/Common/TypeSystem/Common/ArrayType.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.BoxedTypes.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceDispatchCellNode.cs
Labels: community-contribution, area-NativeAOT-coreclr

#81325 Use MemoryExtensions.Count in a few places
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Misc.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.Android.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Internal/NamespaceCache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
Labels: area-Meta

#81657 SPMI: Fix SpmiRecordsHelper::RestoreCORINFO_RUNTIME_LOOKUP
  src/coreclr/tools/superpmi/superpmi-shared/spmirecordhelper.h
Labels: area-CodeGen-coreclr

#81650 Vectorize Guid.ToString
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
Labels: area-System.Runtime

#81503 diagnostic to detect malformed format strings in lsg template message
  docs/project/list-of-diagnostics.md
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/DiagnosticDescriptors.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.de.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.es.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.it.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/LoggerMessageGeneratorParserTests.cs
Labels: area-Extensions-Logging, community-contribution

#81652 Suppress unobserved task exceptions for channel Completion tasks
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelUtilities.cs
Labels: area-System.Threading.Channels

#81642 Set UseLLVMLinker=true when targeting FreeBSD by default
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: community-contribution, area-NativeAOT-coreclr

#81647 [wasm] CI: add wasi jobs to runtime-wasm
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
Labels: arch-wasm, area-Infrastructure-mono, wasi

#81667 Fix spmi jit flag dumper for new flag
  src/coreclr/tools/superpmi/superpmi-shared/spmidumphelper.cpp
Labels: area-CodeGen-coreclr

#81010 [NativeAOT] correctly initalize CONTEXT before failing fast
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
Labels: community-contribution, area-NativeAOT-coreclr

#81605 JIT: fix issue with partial comp pred list maintenance
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#81636 Adjust impNormStructVal to not wrap in GT_OBJ
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclmorph.cpp
Labels: area-CodeGen-coreclr

#81651 Optimize IND<SIMD>(RVA)
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#81266 NativeAOT Fully implements warning suppressions logic
  src/coreclr/tools/Common/Compiler/EventPseudoDesc.cs
  src/coreclr/tools/Common/Compiler/PropertyPseudoDesc.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/MetadataExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CustomAttributeExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/DiagnosticUtilities.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logger.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logging/SuppressMessageInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logging/UnconditionalSuppressMessageAttributeState.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/Dependencies/TriggerWarnings_Lib.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/Dependencies/TriggerWarnings_TrimmableLib.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/AddSuppressionsBeforeAttributeRemoval.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/AddSuppressionsBeforeAttributeRemoval.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFeatureSubstitutions.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFeatureSubstitutions.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFromXML.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFromXML.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInCompilerGeneratedCode.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInMembersAndTypes.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInMembersAndTypesUsingTarget.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInModule.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsSingleWarn.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsTrimmedMembersTarget.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/ModuleSuppressionWithMemberScopeNullTarget.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/ModuleSuppressionWithModuleScopeNullTarget.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/ModuleSuppressionWithNullScopeNullTarget.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCompilerGeneratedCode.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCopyAssembly.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInMembersAndTypes.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInMembersAndTypesUsingTarget.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInModule.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsUsingTargetViaXml.mono.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsUsingTargetViaXml.netcore.xml
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsUsingTargetViaXmlMono.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsUsingTargetViaXmlNetCore.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/TargettedModuleSuppressionWithUnmatchedScope.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCases/TestDatabase.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCases/TestSuites.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerDriver.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerOptions.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerOptionsBuilder.cs
Labels: area-NativeAOT-coreclr

#81219 [mono][interp] Align simd types to 16 bytes by default
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono

#81682 Wrap exceptions in reflection virtual method resolution
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MethodInvokers/VirtualMethodInvoker.cs
Labels: area-NativeAOT-coreclr

#81011 Fix handling of postponed messages in TargetCore
  src/libraries/System.Threading.Tasks.Dataflow/src/Internal/TargetCore.cs
  src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/ConcurrentTests.cs
Labels: area-System.Threading.Tasks

#81686 Delete leftover reflection eventsource handling
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
Labels: area-NativeAOT-coreclr

#81626 Use initialCapacity in ASN.1 templates for some primitives
  src/libraries/Common/src/System/Security/Cryptography/Asn1/Pkcs12/MacData.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/PssParamsAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/X509ExtensionAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/asn.xslt
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/Rfc3161TimeStampReq.xml.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/Rfc3161TstInfo.xml.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/Asn1/BasicConstraintsAsn.xml.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/Asn1/TbsCertificateAsn.xml.cs
Labels: area-System.Formats.Asn1

#81661 SPMI: Display TP diffs as a range in the header
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#81567 [Mono] Enable AOT to print out the list of compiled methods
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#81662 LSG: removing unnecessary null forgiven operators and refactor other minor nullability issues
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
Labels: area-Extensions-Logging, community-contribution

#81598 Split Mono manifest creation into a separate subset
  eng/Subsets.props
  src/mono/nuget/manifest-packages.proj
  src/mono/nuget/mono-packages.proj
Labels: area-Infrastructure-mono

#81629 prevent use of null when processing alpn list
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
Labels: area-System.Net.Security, os-linux

#81707 [wasm] jiterpreter cleanup and performance improvements
  src/mono/wasm/runtime/jiterpreter-interp-entry.ts
  src/mono/wasm/runtime/jiterpreter-jit-call.ts
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#81678 Simplify language version check in Regex generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.cs
Labels: area-System.Text.RegularExpressions, community-contribution

#81440 [wasm][debugger]Adding stack info to the exception details when evaluating expressions
  src/mono/wasm/debugger/BrowserDebugProxy/EvaluateExpression.cs
  src/mono/wasm/debugger/BrowserDebugProxy/ExpressionEvaluationFailedException.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MemberReferenceResolver.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests2.cs
Labels: arch-wasm, area-Debugger-mono

#81694 Update icu version and uncomment wasi icu libc
  eng/Version.Details.xml
  eng/Versions.props
  src/mono/wasi/wasi.proj
Labels: arch-wasm, area-System.Globalization

#81718 Fix order of parameters in exception message formatter.
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
Labels: area-System.Text.Json

#81528 Adjust workaround for event source resource stripping
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
Labels: area-NativeAOT-coreclr

#81621 JIT: rename flowList to FlowEdge and encapsulate all fields
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compmemkind.h
  src/coreclr/jit/dataflow.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jit.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/ssabuilder.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#81683 Match ILScanner with CorInfoImpl
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
Labels: area-NativeAOT-coreclr

#81727 Fix contract violations.
  src/coreclr/vm/assemblyspec.cpp
  src/coreclr/vm/assemblyspec.hpp
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/peassembly.inl
Labels: area-VM-coreclr

#81729 [wasm] Migrate jiterpreter hit counting to C
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/jiterpreter.h
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono

#81726 Avoid using `file` in generated regexes pre-C# 11
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorHelper.netcoreapp.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorParserTests.cs
Labels: area-System.Text.RegularExpressions

#81517 Add a simple size test
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Baseline.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/x64NonVex.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/x64Vex.csproj
Labels: area-NativeAOT-coreclr

#81532 Fix generic parameter data flow validation in NativeAOT
  src/coreclr/tools/Common/Compiler/DisplayNameHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/GenericArgumentDataFlow.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TrimAnalysisGenericInstantiationAccessPattern.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TrimAnalysisPatternStore.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TrimAnalysisReflectionAccessPattern.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DataflowAnalyzedTypeDefinitionNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FieldMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDefinitionEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDictionaryNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MethodMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logger.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/GenericParameterDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/GenericParameterWarningLocation.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/AssemblyQualifiedToken.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DependencyInjectionPattern.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/Main.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/TrimmingBehaviors.csproj
Labels: area-NativeAOT-coreclr

#81583 Fix warnings found with new analyzer CA1860: Prefer Length/Count/IsEmpty property check over Any()
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logging/DocumentationSignatureParser.cs
  src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextJsonReader.cs
  src/libraries/Microsoft.Extensions.FileSystemGlobbing/src/Internal/MatcherContext.cs
  src/libraries/Microsoft.NETCore.Platforms/src/GenerateRuntimeGraph.cs
  src/libraries/System.ComponentModel.Composition.Registration/src/System/ComponentModel/Composition/Registration/PartBuilder.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/Hosting/CatalogExportProvider.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/Hosting/ImportEngine.PartManager.cs
  src/libraries/System.Composition.Convention/src/System/Composition/Convention/PartConventionBuilder.cs
  src/libraries/System.Composition.TypedParts/src/System/Composition/TypedParts/Discovery/DiscoveredPart.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ElementsMarshalling.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/Common/DexBuilder.cs
  src/tasks/WorkloadBuildTasks/PackageInstaller.cs
Labels: area-Meta

#81561 Move all of the ref-pack generators to use the "LatestVS" Roslyn build so they don't pull in prebuilts in source-build
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Microsoft.Interop.SourceGeneration.csproj
  src/libraries/System.Text.RegularExpressions/gen/System.Text.RegularExpressions.Generator.csproj
Labels: source-build, area-Infrastructure, dev-innerloop

#81725 Fix a bug around Vector4.Distance and Sse41.Insert lowering
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/jit/simdashwintrinsiclistarm64.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/tests/JIT/Regression/JitBlue/Runtime_81585/Runtime_81585.cs
  src/tests/JIT/Regression/JitBlue/Runtime_81585/Runtime_81585.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_81725/Runtime_81725.cs
  src/tests/JIT/Regression/JitBlue/Runtime_81725/Runtime_81725.csproj
Labels: area-CodeGen-coreclr

#79120 SP800-108 CTR HMAC
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptAlgPseudoHandle.cs
  src/libraries/Common/src/System/Security/Cryptography/SP800108HmacCounterKdf.cs
  src/libraries/Common/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationBase.cs
  src/libraries/Common/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationCng.cs
  src/libraries/Common/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationManaged.cs
  src/libraries/Common/src/System/Security/Cryptography/Utf8DataEncoding.cs
  src/libraries/Common/tests/System/Security/Cryptography/SP800108HmacCounterKdfTests.ArgValidation.cs
  src/libraries/Common/tests/System/Security/Cryptography/SP800108HmacCounterKdfTests.Functional.cs
  src/libraries/Common/tests/System/Security/Cryptography/SP800108HmacCounterKdfTests.Helpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/SP800108HmacCounterKdfTests.ThreadSafety.cs
  src/libraries/Microsoft.Bcl.Cryptography/Microsoft.Bcl.Cryptography.sln
  src/libraries/Microsoft.Bcl.Cryptography/ref/Microsoft.Bcl.Cryptography.Forwards.cs
  src/libraries/Microsoft.Bcl.Cryptography/ref/Microsoft.Bcl.Cryptography.cs
  src/libraries/Microsoft.Bcl.Cryptography/ref/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/Resources/Strings.resx
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/HashAlgorithmNames.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/NetStandardShims.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdf.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationCng.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationManaged.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdf.Managed.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdf.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationCng.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SP800108HmacCounterKdfImplementationManaged.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
Labels: area-System.Security, new-api-needs-documentation

#80715 Harden and re-enable DualMode socket tests
  src/libraries/Common/tests/System/Net/Sockets/SocketTestExtensions.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Connect.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceive.cs
Labels: area-System.Net.Sockets

#81640 update owner for are:System.Transactions
  docs/area-owners.json
  docs/area-owners.md
Labels: area-Meta

#81711 Enable AppleAppBuilder to bundle iOS applications built for NativeAOT runtime
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
  src/tasks/AppleAppBuilder/Templates/main-simple.m
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-Infrastructure-mono

#81731 PGO: Reduce number of block counters
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#81715 [wasm][debugger] Skip generated wrappers when trying to step into/out with JustMyCode enabled
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Constants.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#81764 [HTTP/3] Add libnuma-dev into docker image
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
Labels: area-System.Net.Http

#81162 [wasm][debug] Avoid pausing on breakpoint while invoking methods.
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/component/debugger-agent.h
  src/mono/mono/component/debugger-engine.h
  src/mono/mono/component/debugger-protocol.h
  src/mono/mono/component/debugger.h
  src/mono/mono/component/mini-wasm-debugger.c
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Inspector.cs
  src/mono/wasm/debugger/tests/debugger-test/debugger-evaluate-test.cs
Labels: arch-wasm, area-Debugger-mono

#79127 Improve CI path-changes-based-triggers to work better
  eng/pipelines/common/evaluate-default-paths.yml
  eng/pipelines/common/evaluate-paths-job.yml
  eng/pipelines/common/templates/wasm-build-only.yml
  eng/pipelines/common/templates/wasm-build-tests.yml
  eng/pipelines/common/templates/wasm-debugger-tests.yml
  eng/pipelines/common/templates/wasm-library-tests.yml
  eng/pipelines/common/templates/wasm-runtime-tests.yml
  eng/pipelines/evaluate-changed-paths.sh
  eng/pipelines/global-build.yml
  eng/pipelines/runtime-linker-tests.yml
Labels: area-Infrastructure

#81509 Use MiniDumpWriteDump to create dumps on Windows
  src/tests/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs
Labels: area-Infrastructure

#81665 Fix EncodingExtensions.Convert for sliced single segment ROSequence
  src/libraries/System.Memory/src/System/Text/EncodingExtensions.cs
  src/libraries/System.Memory/tests/EncodingExtensions/EncodingExtensionsTests.cs
Labels: area-System.Text.Encoding, community-contribution

#81724 EnableAotAnalyzer for System.Diagnostics.EventLog
  src/libraries/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj
  src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/Reader/NativeWrapper.cs
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/SharedPerformanceCounter.cs
Labels: area-System.Diagnostics.EventLog

#81775 Fix two compilation constants for .NET 8
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Internal/NamespaceCache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
Labels: area-Meta

#81765 Fix condition for module registration export
  src/coreclr/dlls/mscordbi/mscordbi.cpp
Labels: area-Diagnostics-coreclr, community-contribution

#81783 NativeAOT Revert generic parameter data flow validation changes
  src/coreclr/tools/Common/Compiler/DisplayNameHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/GenericArgumentDataFlow.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TrimAnalysisGenericInstantiationAccessPattern.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TrimAnalysisPatternStore.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TrimAnalysisReflectionAccessPattern.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DataflowAnalyzedTypeDefinitionNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FieldMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDefinitionEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDictionaryNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MethodMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Logger.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/GenericParameterDataFlow.cs
  src/coreclr/tools/aot/Mono.Linker.Tests.Cases/DataFlow/GenericParameterWarningLocation.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/AssemblyQualifiedToken.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DependencyInjectionPattern.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/Main.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/TrimmingBehaviors.csproj
Labels: area-NativeAOT-coreclr

#81685 Baseline most of the Pri0 test suite
  src/tests/Directory.Build.targets
  src/tests/Loader/classloader/MethodImpl/generics_override1.ilproj
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInterop.csproj
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInterop_ro.csproj
  src/tests/issues.targets
  src/tests/nativeaot/Directory.Build.props
Labels: area-ExceptionHandling-coreclr

#81644 [Jiterpreter] Add support for TryGetHashCode intrinsic
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: area-Codegen-Interpreter-mono, community-contribution

#81777 Update branding to 7.0.4
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Extensions.Options/src/Microsoft.Extensions.Options.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.ProtectedData/src/System.Security.Cryptography.ProtectedData.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-Infrastructure-libraries

#81776 Update branding to 6.0.15
  eng/Versions.props
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
Labels: area-Infrastructure-libraries

#81545 Bump non-existent Win10 ARM64 helix queue to Win11
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#80754 [release/6.0] Allow retaining the original casing for known header values
  src/libraries/System.Net.Http/src/System/Net/Http/GlobalHttpSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HeaderDescriptor.cs
  src/libraries/System.Net.Http/tests/UnitTests/Headers/KnownHeadersTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: Servicing-approved, area-System.Net.Http

#80785 [release/6.0] Close MsQuic after checking for QUIC support to free resources
  src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicApi.cs
Labels: Servicing-approved, area-System.Net.Quic

#81770 Prevent unwinding through stack bottom
  src/coreclr/dlls/mscoree/exports.cpp
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-ExceptionHandling-coreclr

#81349 [release/6.0] [Android] Add NetworkChange implementation using PeriodicTimer (#80548)
  src/libraries/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Android.cs
Labels: Servicing-approved, area-System.Net

#81735 [release/6.0][Android] Disable 32-bit nfloat tests
  src/libraries/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/NFloatTests.cs
Labels: area-System.Runtime.InteropServices

#81806 [wasm] [jiterp] Add optimized C version of STFLD_O that uses correct write barrier
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono

#81802 [release/6.0] Bump non-existent Win10 ARM64 helix queue to Win11
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#79339 [mono][aot] Optimize constrained calls made from gsharedvt methods.
  src/mono/mono/metadata/icall-signatures.h
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/mini/jit-icalls.c
  src/mono/mono/mini/jit-icalls.h
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-JIT-mono

#81808 [release/7.0] More Windows Arm64 helix queues 10->11
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#81807 [release/6.0] More Windows Arm64 helix queues 10->11
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#81814 [wasm] Pin the version of chrome used for tests - `109.0.5414.119`
  eng/testing/ProvisioningVersions.props
Labels: arch-wasm, area-Debugger-mono, test-failure

#81684 Fix handling of the generic byreflike constraint
  src/coreclr/tools/Common/Compiler/CompilerTypeSystemContext.Validation.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaGenericParameter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingServiceProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/tests/nativeaot/SmokeTests/DynamicGenerics/rd.xml
Labels: area-NativeAOT-coreclr

#81716 SPMI: Warn when comparing throughput of JITs compiled with native PGO
  src/coreclr/jit/buildstring.cpp
  src/coreclr/pgosupport.cmake
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#81758 [json] Use S.R.I vectors in JsonReaderHelper
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.sn.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.sri.cs
Labels: area-System.Text.Json

#81821 Fix race condition when accessing nested JsonTypeInfo metadata
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPolymorphismOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
Labels: area-System.Text.Json

#80382 Initial work to port EventPipe library to NativeAOT
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/Directory.Build.props
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/DisabledEventPipeInterface.cpp
  src/coreclr/nativeaot/Runtime/EmptyContainers.h
  src/coreclr/nativeaot/Runtime/EmptyContainers2.h
  src/coreclr/nativeaot/Runtime/EnabledEventPipeInterface.cpp
  src/coreclr/nativeaot/Runtime/EventPipeInterface.h
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/diagnosticserveradapter.h
  src/coreclr/nativeaot/Runtime/disabledeventpipeinternal.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/eventpipe/NativeaotEventPipeSupport.h
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-types-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-config-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-types-aot.h
  src/coreclr/nativeaot/Runtime/eventpipeadapter.h
  src/coreclr/nativeaot/Runtime/eventpipeadaptertypes.h
  src/coreclr/nativeaot/Runtime/eventpipeinternal.cpp
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/tools/aot/ILCompiler/reproNative/reproNative.vcxproj
  src/libraries/Microsoft.Extensions.Logging.EventSource/tests/Microsoft.Extensions.Logging.EventSource.Tests.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/tests/NativeAotTests/System.Diagnostics.DiagnosticSource.NativeAotTests.proj
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeEventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Overlapped.cs
  src/native/eventpipe/ep-rt-config.h
  src/tests/tracing/eventpipe/common/IpcTraceTest.cs
  src/tests/tracing/eventpipe/simpleprovidervalidation/simpleprovidervalidation.cs
  src/tests/tracing/eventpipe/simpleprovidervalidation/simpleprovidervalidation.csproj
Labels: area-NativeAOT-coreclr

#81276 Handle crash when [out] parameter of type int is passed to delegate
  src/mono/mono/metadata/marshal-lightweight.c
  src/tests/Interop/MarshalAPI/FunctionPointer/FunctionPointer.cs
  src/tests/Interop/MarshalAPI/FunctionPointer/FunctionPointerNative.cpp
Labels: area-Interop-mono, community-contribution

#81800 [release/6.0] Improve servicing docs for Microsoft.Windows.Compatibility
  docs/project/library-servicing.md
  src/libraries/Microsoft.Win32.Registry.AccessControl/src/Microsoft.Win32.Registry.AccessControl.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/System.CodeDom/src/System.CodeDom.csproj
  src/libraries/System.ComponentModel.Composition.Registration/src/System.ComponentModel.Composition.Registration.csproj
  src/libraries/System.ComponentModel.Composition/src/System.ComponentModel.Composition.csproj
  src/libraries/System.Configuration.ConfigurationManager/src/System.Configuration.ConfigurationManager.csproj
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/libraries/System.IO.Packaging/src/System.IO.Packaging.csproj
  src/libraries/System.IO.Ports/src/System.IO.Ports.csproj
  src/libraries/System.Management/src/System.Management.csproj
  src/libraries/System.Reflection.Context/src/System.Reflection.Context.csproj
  src/libraries/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/libraries/System.Security.AccessControl/src/System.Security.AccessControl.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.ProtectedData/src/System.Security.Cryptography.ProtectedData.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
  src/libraries/System.Security.Permissions/src/System.Security.Permissions.csproj
  src/libraries/System.ServiceModel.Syndication/src/System.ServiceModel.Syndication.csproj
  src/libraries/System.ServiceProcess.ServiceController/src/System.ServiceProcess.ServiceController.csproj
  src/libraries/System.Speech/src/System.Speech.csproj
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
Labels: documentation, area-Infrastructure-libraries

#81795 [release/7.0] fix TLS resume with client certificates on Linux
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamMutualAuthenticationTest.cs
Labels: Servicing-approved, area-System.Net.Security, os-linux

#80866 [release/7.0] Target lower glibc for Linux arm64
  eng/pipelines/common/platform-matrix.yml
  src/mono/mono.proj
Labels: Servicing-approved, area-Infrastructure

#81760 Ensure CNS_VEC and BLK are handled for setLclRelatedToSIMDIntrinsic
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#81541 Minimally light up Quaternion and Plane for Mono SIMD
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Labels: area-Codegen-LLVM-mono

#80741 Support use of fast-path serialization in combined JsonSerializerContexts.
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ConfigurationList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonMetadataServicesConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.WriteHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSerializerContextTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/JsonTypeInfoResolverTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#81631 don't send server_name when literal IP
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/libraries/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
Labels: area-System.Net.Security

#81789 JIT: Handle promoted struct liveness updates properly in forward sub
  src/coreclr/jit/forwardsub.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr
