Repository dotnet/runtime, pull requests merged in 2023-03, with the labels that each got.

#80539 Refactoring store liveness update
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/simdcodegenxarch.cpp
Labels: area-CodeGen-coreclr

#82775 JIT: Enable interlocked profiling for basic block counts too
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#82767 [browser] delete unused mono_wasm_* functions
  src/mono/wasi/mono-include/driver.h
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/icu.ts
  src/native/libs/System.Globalization.Native/pal_icushim.h
  src/native/libs/System.Globalization.Native/pal_icushim_static.c
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#82429 [mono] Raise soft RLIMIT_NOFILE on Linux
  src/mono/CMakeLists.txt
  src/mono/mono/mini/driver.c
Labels: area-VM-meta-mono, community-contribution

#82618 Add more type-forwarders for Xamarin.Android compatibility to mscorlib.dll
  src/libraries/shims/src/mscorlib.csproj
  src/libraries/shims/src/mscorlib.forwards.cs
Labels: area-Infrastructure-libraries

#82816 Fix build failure in pal_ssl
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Security, community-contribution

#82619 [browser][icu][libraries] Load full ICU in library tests only when it's necessary
  eng/testing/tests.browser.targets
  src/libraries/System.Collections.NonGeneric/tests/System.Collections.NonGeneric.Tests.csproj
  src/libraries/System.Globalization.Calendars/tests/System.Globalization.Calendars.Tests.csproj
  src/libraries/System.Globalization/tests/System.Globalization.Tests.csproj
  src/libraries/System.Runtime.Extensions/tests/System.Runtime.Extensions.Tests.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/System.Text.RegularExpressions.Tests.csproj
Labels: arch-wasm, area-Infrastructure-libraries

#82780 [QUIC] Disable failing test on arm machines
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
Labels: area-System.Net.Quic

#82787 [HTTP/3] Fix ReservedFrameType_Throws
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
Labels: area-System.Net.Http

#82817 [API] OperatingSystem.IsWasi()
  src/libraries/System.Private.CoreLib/src/System/OperatingSystem.cs
  src/libraries/System.Runtime.Extensions/tests/System/OperatingSystemTests.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: arch-wasm, new-api-needs-documentation, os-wasi

#82250 [wasi+browser] bundle timezones into .wasm
  eng/liveBuilds.targets
  eng/native/configurecompiler.cmake
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetTimeZoneData.Wasm.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.NonAndroid.cs
  src/mono/mono/utils/mono-dl-wasm.c
  src/mono/mono/utils/mono-dl.h
  src/mono/wasi/Wasi.Build.Tests/BuildTestBase.cs
  src/mono/wasi/build/WasiApp.Native.targets
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasi/build/WasiSdk.Defaults.props
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasi/runtime/driver.c
  src/mono/wasi/runtime/main.c
  src/mono/wasi/wasi.proj
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/host/WebServerStartup.cs
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/wasm.proj
  src/native/libs/System.Native/entrypoints.c
  src/native/libs/System.Native/pal_datetime.c
  src/native/libs/System.Native/pal_datetime.h
  src/tasks/Common/Utils.cs
  src/tasks/WasmAppBuilder/EmitWasmBundleBase.cs
  src/tasks/WasmAppBuilder/EmitWasmBundleObjectFiles.cs
  src/tasks/WasmAppBuilder/EmitWasmBundleSourceFiles.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/wasi/EmitWasmBundleObjectFile.cs
  src/tasks/WasmAppBuilder/wasi/WasmResolveAssemblyDependencies.cs
  src/tasks/WasmBuildTasks/GenerateWasmBundle.cs
Labels: arch-wasm, area-Build-mono, os-wasi

#81742 update msquic
  eng/Versions.props
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
Labels: area-System.Net.Quic

#82646 [wasm] Add an internal GC lock API
  src/mono/mono/metadata/sgen-stw.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/exports-internal.ts
  src/mono/wasm/runtime/gc-lock.ts
Labels: arch-wasm, area-GC-mono

#80797 [wasm] Enable SIMD
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/testing/WasmRunnerAOTTemplate.sh
  eng/testing/tests.wasm.targets
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/sendtohelix-wasm.targets
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/wasm/Wasm.Build.Tests/HostRunner/NodeJSHostRunner.cs
  src/mono/wasm/Wasm.Build.Tests/HostRunner/V8HostRunner.cs
  src/mono/wasm/Wasm.Build.Tests/WasmSIMDTests.cs
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/templates/templates/console/runtimeconfig.template.json
Labels: arch-wasm, area-Build-mono

#82245 Check for pending IO in the portable thread pool's worker threads
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.Threading.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
Labels: area-System.Threading

#82849 [wasm] Implement more jiterpreter opcodes
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#82797 Implement load_assembly delegate for hosting API
  src/installer/tests/HostActivation.Tests/NativeHosting/ComhostSideBySide.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/HostContext.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/HostContextResultExtensions.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/Ijwhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/LoadAssembly.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.Shared.xml
  src/libraries/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
  src/native/corehost/coreclr_delegates.h
  src/native/corehost/corehost_context_contract.h
  src/native/corehost/fxr/hostfxr.cpp
  src/native/corehost/hostfxr.h
  src/native/corehost/hostpolicy/hostpolicy.cpp
  src/native/corehost/test/nativehost/host_context_test.cpp
  src/native/corehost/test/nativehost/host_context_test.h
  src/native/corehost/test/nativehost/nativehost.cpp
Labels: area-Host

#82591 Try skipping generation of empty method dictionaries
  src/coreclr/inc/corinfo.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DictionaryLayoutNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_LoongArch64/LoongArch64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/GenericDictionaryLookup.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: area-NativeAOT-coreclr

#82482 Fixed name of frozen string dictionary files
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenSet_LeftJustifiedCaseInsensitiveAsciiSubstring.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenSet_LeftJustifiedCaseInsensitiveSubstring.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenSet_LeftJustifiedSubstring.cs
Labels: area-System.Collections, community-contribution

#82751 Unify Array enumerators between CoreCLR and NativeAOT
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.NativeAot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/libraries/System.Private.CoreLib/src/System/Array.Enumerators.cs
Labels: area-NativeAOT-coreclr

#82863 Add OS/architecture specific CLRDEBUGINFO resource
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/dlls/mscoree/coreclr/dump_helper_resource.rc.in
Labels: area-Infrastructure-coreclr

#82698 Enable symbol stripping for crossgen2
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: area-crossgen2-coreclr, community-contribution

#82865 [browser] remove unused methods
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/driver.c
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#82785 [mono] Move networking code to debugger component
  src/mono/mono/component/CMakeLists.txt
  src/mono/mono/component/debugger-agent.c
  src/mono/mono/component/debugger-networking.c
  src/mono/mono/component/debugger-networking.h
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/networking-fallback.c
  src/mono/mono/utils/networking-missing.c
  src/mono/mono/utils/networking-posix.c
  src/mono/mono/utils/networking-windows.c
  src/mono/mono/utils/networking.c
Labels: area-Debugger-mono

#82852 [wasm][debugger] Support new feature on browser: instrumentation pause
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: area-Debugger-mono

#82836 Have bool and string implement ISpanParsable<T>
  src/libraries/System.Private.CoreLib/src/System/Boolean.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/BooleanTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System/BooleanTests.cs
  src/libraries/System.Runtime/tests/System/StringTests.GenericMath.cs
Labels: area-System.Runtime, new-api-needs-documentation

#82866 Simplify IndexOfAnyAsciiByteValues for needles with 0 on X86
  src/libraries/System.Memory/tests/Span/IndexOfAnyValues.cs
  src/libraries/System.Private.CoreLib/src/System/IndexOfAnyValues/IndexOfAnyAsciiByteValues.cs
  src/libraries/System.Private.CoreLib/src/System/IndexOfAnyValues/IndexOfAnyAsciiSearcher.cs
  src/libraries/System.Private.CoreLib/src/System/IndexOfAnyValues/IndexOfAnyValues.cs
Labels: area-System.Memory

#82794 Add MemoryExtensions.AsSpan(string, Index/Range)
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Memory/tests/ReadOnlySpan/AsSpan.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Managed/HttpListenerRequest.Managed.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
Labels: area-System.Memory, new-api-needs-documentation

#82896 [browser][docs] Update keywords.
  docs/design/features/globalization-icu-wasm.md
Labels: documentation, arch-wasm

#82864 ActiveIssue for BuildInvalidSignatureTwice on mono interpreter.
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ChainTests.cs
Labels: area-System.Security

#82890 [mono][interp] Fix incorrect masking
  src/mono/mono/mini/interp/interp-simd.c
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#82707 Pass wasi invariant mode through env variable
  eng/testing/tests.wasi.targets
  src/libraries/tests.proj
  src/mono/wasi/build/WasiApp.Native.targets
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasi/runtime/driver.c
  src/mono/wasi/wasi.proj
Labels: arch-wasm

#82147 Use shared IValueTaskSource implementation in AwaitableSocketAsyncEventArgs
  src/libraries/System.Net.Sockets/src/Resources/Strings.resx
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
Labels: area-System.Net.Sockets

#82782 disable SendFileGetsCanceledByDispose also on Catalyst
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendFile.cs
Labels: area-System.Net.Sockets

#82181 Combine ExecutionContext/CapturedContext fields in ManualResetValueTaskSourceCore
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Sources/ManualResetValueTaskSourceCore.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-System.Threading.Tasks, tenet-performance

#82543 Move throw out of inlined CompositeFormat helper
  src/libraries/System.Private.CoreLib/src/System/Text/CompositeFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Text/ValueStringBuilder.AppendFormat.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-System.Runtime

#82560 Add PeriodicTimer.Period property
  src/libraries/System.Private.CoreLib/src/System/Threading/PeriodicTimer.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Threading/PeriodicTimerTests.cs
Labels: area-System.Threading

#82748 [wasm] Avoid unnecessary relinking when publishing a blazor project for AOT
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/NativeRefTests.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserRunner.cs
  src/mono/wasm/Wasm.Build.Tests/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/CleanTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmNativeDefaultsTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmTemplateTests.cs
  src/mono/wasm/build/WasmApp.targets
Labels: arch-wasm, area-Build-mono

#82612 Fix SoundPlayer handling of partial reads on streams
  src/libraries/System.Windows.Extensions/src/System/Media/SoundPlayer.cs
  src/libraries/System.Windows.Extensions/tests/System/Media/SoundPlayerTests.cs
Labels: area-Microsoft.Win32

#82621 Fix Icon(Stream) handling of partial reads
  src/libraries/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/libraries/System.Drawing.Common/tests/IconTests.cs
Labels: area-System.Drawing

#82790 EventPipe lock implementation
  src/coreclr/nativeaot/Runtime/Crst.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-types-aot.h
  src/tests/tracing/eventpipe/simpleprovidervalidation/simpleprovidervalidation.cs
Labels: area-NativeAOT-coreclr

#82069 [workloads] Upstream workload fixes from 7.0
  src/workloads/workloads.csproj
Labels: area-Workloads

#81497 Append version to RID only with valid characters
  eng/native/init-distro-rid.sh
Labels: area-Infrastructure, community-contribution

#82578 disable tests on Server 2022 with spanish locale
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#82811 Stop storing the parsed RID fallback graph
  src/installer/tests/HostActivation.Tests/StandaloneAppActivation.cs
  src/native/corehost/hostpolicy/deps_format.cpp
  src/native/corehost/hostpolicy/deps_format.h
  src/native/corehost/hostpolicy/deps_resolver.h
  src/native/corehost/hostpolicy/hostpolicy.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.h
  src/native/corehost/hostpolicy/hostpolicy_init.h
Labels: area-Host

#82434 Store Parallel.ForEachAsync exceptions from cancellation callbacks
  src/libraries/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/Parallel.ForEachAsync.cs
  src/libraries/System.Threading.Tasks.Parallel/tests/ParallelForEachAsyncTests.cs
Labels: area-System.Threading.Tasks

#82861 Fix string allocation in DateTimeParse.ParseByFormat
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
Labels: area-System.Globalization

#82915 [iOS][maccatalyst] Disable MacCatalyst and Simulator CI runs
  eng/pipelines/runtime-extra-platforms.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-libraries

#82749 Introducing ValidateOptionsResultBuilder
  src/libraries/Microsoft.Extensions.Options/ref/Microsoft.Extensions.Options.cs
  src/libraries/Microsoft.Extensions.Options/ref/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Options/src/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Options/src/ValidateOptionsResultBuilder.cs
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsValidationBuilderTests.cs
Labels: new-api-needs-documentation, area-Extensions-Options

#82899 Add dedicated empty array enumerator for footprint reduction
  src/libraries/System.Private.CoreLib/src/System/Array.Enumerators.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs
Labels: area-System.Runtime

#82901 [wasm] Fix tests substitution conditions
  eng/testing/tests.wasm.targets
Labels: area-Infrastructure-mono

#82454 [wasi] CI: Provision `wasi-sdk`, and `wasmtime` only when needed
  Directory.Build.props
  eng/pipelines/common/global-build-job.yml
  eng/testing/wasi-provisioning.targets
  src/libraries/sendtohelix-wasi.targets
  src/libraries/sendtohelix-wasm.targets
  src/libraries/sendtohelixhelp.proj
  src/mono/sample/wasi/Directory.Build.targets
  src/mono/wasi/Wasi.Build.Tests/Wasi.Build.Tests.csproj
Labels: arch-wasm, area-Infrastructure-mono, os-wasi

#82415 Mark some internal/private structs as readonly
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ActivatorUtilities.cs
  src/libraries/Microsoft.Extensions.Http/src/ValueStopwatch.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/CompositionResultOfT.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReferenceConverter.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ClientSettingsStore.cs
  src/libraries/System.Data.Common/src/System/Data/Range.cs
  src/libraries/System.Data.OleDb/src/OleDbMetaDataFactory.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/AggregatorStore.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash128.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/PackageXmlStringTable.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/XmlCompatibilityReader.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeCompletionCallback.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/ConcatQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/GroupJoinQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Binary/JoinQueryOperator.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Utils/ExchangeUtilities.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/Parallel/Utils/WrapperEqualityComparer.cs
  src/libraries/System.Linq/src/System/Linq/Max.cs
  src/libraries/System.Linq/src/System/Linq/Min.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpCommands.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/DynamicWinsockMethods.cs
  src/libraries/System.Private.CoreLib/src/Internal/Padding.cs
  src/libraries/System.Private.CoreLib/src/System/Decimal.DecCalc.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/EmptyStruct.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendricalCalculationsHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/HebrewNumber.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/UmAlQuraCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.HillClimbing.Complex.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/ClassDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Text/SurrogateChar.cs
  src/libraries/System.Private.Xml/src/System/Xml/BinaryXml/SqlUtils.cs
  src/libraries/System.Private.Xml/src/System/Xml/Cache/XPathNode.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/SourceLineInfo.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Xslt/XslAstAnalyzer.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/XsltOld/RootAction.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.StackRow.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReferenceEqualsWrapper.cs
  src/libraries/System.Threading.Channels/src/System/VoidResult.cs
  src/libraries/System.Threading.Tasks.Dataflow/src/Internal/Common.cs
Labels: area-Meta

#82470 EventPipe env var to disable stack collection
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/native/eventpipe/ep-buffer-manager.c
  src/native/eventpipe/ep-rt.h
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-session.h
Labels: EventPipe

#82809 [mono][aot] Emit a list of exported methods into the AOT image and load them when the image is loaded.
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/aot-runtime.h
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-AOT-mono

#82900 [mono][aot] Emit cctor instantiations for classes referenced by gshar…
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#82902 Disable SupportedWindowsPlatforms_IsSupportedIsTrue on Windows Arm64
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: area-System.Net

#82916 Substitute out geopolitical term in TimeZoneInfo
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.NonAndroid.cs
Labels: area-System.DateTime

#82877 Improve DateTime.ParseExact perf for invariant culture
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormatInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
Labels: area-System.Globalization, tenet-performance

#82881 Revert "Enable symbol stripping for crossgen2"
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: area-Setup, community-contribution

#82919 [jiterp] Perform a single unsigned bounds check for array accesses
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#82912 Allow default AsyncFlowControls rather than throwing
  src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.MultipleWatchers.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Unix.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ExecutionContextFlowTest.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/Threading/ExecutionContext.cs
  src/libraries/System.Threading.Tasks.Parallel/tests/ParallelForEachAsyncTests.cs
  src/libraries/System.Threading.Tasks/tests/Task/ExecutionContextFlowTest.cs
  src/libraries/System.Threading/tests/AsyncLocalTests.cs
  src/libraries/System.Threading/tests/ExecutionContextTests.cs
Labels: area-System.Threading

#81867 Issue correct Enable/Disable commands for EventSources with EventPipe
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventProvider.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventProvider.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/NameInfo.cs
  src/native/eventpipe/ep-config.c
  src/native/eventpipe/ep-provider-internals.h
  src/native/eventpipe/ep-provider.c
  src/native/eventpipe/ep-types.h
  src/native/eventpipe/ep.c
  src/tests/issues.targets
  src/tests/tracing/eventpipe/enabledisable/enabledisable.cs
  src/tests/tracing/eventpipe/enabledisable/enabledisable.csproj
Labels: area-Tracing-coreclr

#82891 [browser] Calculate hash for runtime assets
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/sample/wasm/browser-advanced/index.html
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/types.ts
  src/tasks/AndroidAppBuilder/AndroidAppBuilder.csproj
  src/tasks/AotCompilerTask/MonoAOTCompiler.csproj
  src/tasks/AppleAppBuilder/AppleAppBuilder.csproj
  src/tasks/Common/Utils.cs
  src/tasks/MonoTargetsTasks/MonoTargetsTasks.csproj
  src/tasks/TestExclusionListTasks/TestExclusionListTasks.csproj
  src/tasks/WasmAppBuilder/ManagedToNativeGenerator.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.csproj
  src/tasks/WorkloadBuildTasks/WorkloadBuildTasks.csproj
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#82551 Support raw ECDH key agreements
  src/libraries/Common/src/Interop/Windows/BCrypt/Cng.cs
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.NCryptDeriveKeyMaterial.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanAndroid.Derive.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanCng.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanOpenSsl.Derive.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanSecurityTransforms.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanFactory.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanTests.NistValidation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanTests.Raw.cs
  src/libraries/System.Security.Cryptography.Cng/tests/ECDiffieHellmanCngProvider.cs
  src/libraries/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/libraries/System.Security.Cryptography.OpenSsl/tests/EcDiffieHellmanOpenSslProvider.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDiffieHellman.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDiffieHellmanWrapper.cs
  src/libraries/System.Security.Cryptography/tests/DefaultECDiffieHellmanProvider.Android.cs
  src/libraries/System.Security.Cryptography/tests/DefaultECDiffieHellmanProvider.Unix.cs
  src/libraries/System.Security.Cryptography/tests/DefaultECDiffieHellmanProvider.Windows.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
Labels: area-System.Security, cryptographic-docs-impact

#82841 Remove cached RW mapping when the corresponding RX one is released
  src/coreclr/inc/executableallocator.h
  src/coreclr/utilcode/executableallocator.cpp
  src/coreclr/utilcode/loaderheap.cpp
Labels: area-VM-coreclr

#82803 Nullable annotation fixes
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/VersionConverter.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContractSet.cs
  src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/Parameters/Ecma/EcmaFatMethodParameter.cs
Labels: area-Meta

#82882 Guard more COM interop related code
  src/coreclr/inc/ex.h
  src/coreclr/pal/inc/rt/oaidl.h
  src/coreclr/tools/metainfo/mdinfo.cpp
  src/coreclr/utilcode/comex.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/interoputil.cpp
  src/coreclr/vm/interoputil.h
  src/coreclr/vm/marshalnative.cpp
  src/coreclr/vm/marshalnative.h
Labels: area-Interop-coreclr, community-contribution

#82940 [wasm] Implement more jiterpreter opcodes
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#82834 [browser] legacy JS interop optional via WasmEnableLegacyJsInterop - native
  src/mono/wasi/build/WasiApp.Native.targets
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/CMakeLists.txt
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-internal.ts
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/imports.ts
  src/mono/wasm/runtime/net6-legacy/cs-to-js.ts
  src/mono/wasm/runtime/net6-legacy/exports-legacy.ts
  src/mono/wasm/runtime/net6-legacy/imports.ts
  src/mono/wasm/runtime/net6-legacy/js-to-cs.ts
  src/mono/wasm/runtime/net6-legacy/method-binding.ts
  src/mono/wasm/runtime/rollup.config.js
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/runtime/wasm-config.h.in
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#82284 add RID for Ubuntu 23.04
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Meta

#82933 use PlatformSpecific attribute to supress platform specific Quic tests
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: test-enhancement, area-System.Net.Quic

#82952 Fix trim warning in ComponentActivator
  src/libraries/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
Labels: area-Host

#82947 Fix patterns that defeat resource string optimizations in CoreLib
  src/libraries/System.Private.CoreLib/src/System/DateOnly.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
  src/libraries/System.Private.CoreLib/src/System/TimeOnly.cs
Labels: area-NativeAOT-coreclr

#82950 JIT: fix fgDfsReversePostorder
  src/coreclr/jit/block.h
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#82958 [wasm] Debugger tests - fix build
  eng/pipelines/common/xplat-setup.yml
  src/mono/wasm/debugger/DebuggerTestSuite/TestHarnessProxy.cs
Labels: arch-wasm, blocking-clean-ci, area-Build-mono

#82883 Implement managed SegmentCommandLine
  src/libraries/Common/src/Interop/Windows/Shell32/Interop.CommandLineToArgv.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Environment.Windows.cs
  src/libraries/System.Runtime.Extensions/tests/System/Environment.GetCommandLineArgs.cs
Labels: area-System.Runtime, community-contribution

#82925 Trim some overheads for "r"/"o" DateTime parsing
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
Labels: area-System.Globalization

#82604 [wasm] Improve jiterpreter trace entry point selection heuristic
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/utils/options-def.h
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#79021 Fix the multicore performance of mapping from an instruction pointer to a MethodDesc
  src/coreclr/inc/daccess.h
  src/coreclr/inc/dacvars.h
  src/coreclr/inc/vptr_list.h
  src/coreclr/nativeaot/Runtime/inc/daccess.h
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/codeman.inl
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/common.h
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/genericdict.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/loaderallocator.hpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/stubmgr.cpp
  src/coreclr/vm/stubmgr.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#82185 Add RID for Fedora 39
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.compatibility.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtime.json
  src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props
Labels: area-Infrastructure-libraries, community-contribution

#82972 Remove missing link
  docs/workflow/requirements/linux-requirements.md
Labels: area-Meta

#82977 [mono] Fix Hello World sample.
  src/mono/sample/HelloWorld/Program.cs
Labels: area-VM-meta-mono

#82971 Fix invariant check in DateTimeParse
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormatInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Runtime/tests/System/DateTimeTests.cs
Labels: area-System.Globalization

#82983 Clean up run.sh documentation
  src/tests/run.sh
Labels: area-Infrastructure-coreclr

#82988 Replace some unnecessary use of CompareInfo
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Private.CoreLib/src/System/String.Searching.cs
  src/libraries/System.Private.Xml/src/System/Xml/XPath/Internal/StringFunctions.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XsltFunctions.cs
Labels: area-System.Globalization

#82987 Fix BitConverter.ToXx error message
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/BitConverter.cs
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-System.Runtime

#82733 [JIT] Fixed improper peephole zero-extension removal when cdq/cwde instructions are involved
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/tests/JIT/opt/Regressions/Regression6.cs
  src/tests/JIT/opt/Regressions/Regression6.csproj
Labels: area-CodeGen-coreclr

#80960 Initial support for zmm in .NET
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importervectorization.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/regset.h
  src/coreclr/jit/scopeinfo.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simd.h
  src/coreclr/jit/simdashwintrinsic.h
  src/coreclr/jit/simdashwintrinsiclistxarch.h
  src/coreclr/jit/simdcodegenxarch.cpp
  src/coreclr/jit/targetamd64.h
  src/coreclr/jit/targetx86.h
  src/coreclr/jit/typelist.h
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/coreclr/vm/jitinterface.cpp
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr, community-contribution, arch-avx512

#83024 Expose verbose logging in ILC as a property
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#82961 JIT: Assume allocations succeed
  src/coreclr/inc/unreachable.h
  src/coreclr/jit/alloc.h
Labels: area-CodeGen-coreclr

#83006 [wasm] Fix jiterpreter null check optimization bug
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#80635 Fixes for partial compilation of methods
  src/coreclr/jit/importer.cpp
  src/coreclr/vm/jithelpers.cpp
Labels: area-CodeGen-coreclr

#83018 Simplify fgDfsReversePostorderHelper
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#81248 Fix special sweep issue for workstation
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#82926 JIT: initial implementation of profile synthesis
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/block.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/fgprofilesynthesis.h
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#83033 [wasm] Implement INITBLK and CPBLK in the Jiterpreter
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#82800 Use output size helpers for cryptographic primitives
  src/libraries/Common/src/System/Security/Cryptography/ECDsaCng.SignVerify.cs
  src/libraries/Common/src/System/Security/Cryptography/RSACng.EncryptDecrypt.cs
  src/libraries/Common/src/System/Security/Cryptography/RSACng.SignVerify.cs
Labels: area-System.Security

#82728 Use SecurityTransforms for RSA+PSS
  src/libraries/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
Labels: area-System.Security, os-ios, cryptographic-docs-impact

#76724 Fix for GitHub issue 76673 and regression test - incorrect static virtual method resolution
  src/coreclr/vm/methodtable.cpp
  src/tests/Loader/classloader/StaticVirtualMethods/RegressionTests/GitHub_76673.cs
  src/tests/Loader/classloader/StaticVirtualMethods/RegressionTests/GitHub_76673.csproj
Labels: area-VM-coreclr

#82913 Add IPAddress ISpanFormattable/Parsable implementations
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressParsing.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressParsingSpan.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressTest.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPEndPointParsing.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/System.Net.Primitives.Functional.Tests.csproj
Labels: area-System.Net, new-api-needs-documentation

#82986 Allow PeriodicTimer to have an infinite timeout
  src/libraries/System.Private.CoreLib/src/System/Threading/PeriodicTimer.cs
  src/libraries/System.Runtime/tests/System/Threading/PeriodicTimerTests.cs
Labels: area-System.Threading

#82957 Adds a test for compiler generated trim warning suppression issue
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCompilerGeneratedCode.cs
  src/tools/illink/trimming.sln
Labels: linkable-framework, area-Tools-ILLink

#82766 JIT: Remove JTRUE(relop) invariant in the backend
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lir.cpp
  src/coreclr/jit/lir.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsraarm.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#83046 Make ComWrappersUnwrapper public in test assembly
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/ComWrappersUnwrapper.cs
Labels: area-System.Runtime.InteropServices

#82994 [NativeAOT] Experiment: Cache location of unwind sections
  src/coreclr/nativeaot/Runtime/unix/UnixContext.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixContext.h
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.h
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.cpp
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.h
Labels: community-contribution, area-NativeAOT-coreclr

#83011 fix QUIC_STATUS in macOS
  src/libraries/System.Net.Quic/src/System/Net/Quic/Interop/msquic.cs
Labels: area-System.Net.Quic

#83054 Improve EqualityComparer for NativeAOT
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Collections/Generic/Comparer.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.NativeAot.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ComparerIntrinsics.cs
Labels: area-NativeAOT-coreclr

#83061 [wasm] Don't generate unused imports in jiterpreter traces
  src/mono/mono/mini/interp/interp.c
  src/mono/wasm/runtime/jiterpreter-interp-entry.ts
  src/mono/wasm/runtime/jiterpreter-jit-call.ts
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#83063 Avoid generic virtual methods in enum infrastructure
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Enum.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Reflection/ReflectionCoreCallbacksImplementation.cs
Labels: area-NativeAOT-coreclr

#82927 Allow devirtualizing more interface calls
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
Labels: area-NativeAOT-coreclr

#82990 Improve perf of CharEnumerator
  src/libraries/System.Private.CoreLib/src/System/CharEnumerator.cs
Labels: area-System.Runtime

#83067 Ifdef out a piece of unreachable reflection stack
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
Labels: area-NativeAOT-coreclr

#83064 Make open method resolver pay for play
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerServices/OpenMethodResolver.cs
Labels: area-NativeAOT-coreclr

#83084 [wasm] Add narrow methods to PackedSimd
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/PackedSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/PackedSimd.cs
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Labels: area-System.Runtime.Intrinsics

#83090 [wasm] Disable GetAsync_ManyDifferentResponseHeaders_ParsedCorrectly …
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
Labels: arch-wasm, area-System.Net.Http

#83068 JIT: profile synthesis consistency checking and more
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/libraries/run-test-job.yml
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/fgprofilesynthesis.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/optimizer.cpp
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#83062 Rename IntegralRange::IsPositive() to IsNonNegative to be accurate
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#83057 Use more traditional interface implementation + delegation for generator unit tests
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CallingConventionForwarding.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/GeneratedComInterfaceAttributeProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/IComInterfaceAttributeProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/IVirtualMethodIndexSignatureProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/NativeInterfaceShape.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/VirtualMethodIndexAttributeProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/Common/CustomCollectionMarshallingCodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/Common/CustomStructMarshallingCodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/Compiles.cs
Labels: area-System.Runtime.InteropServices, source-generator

#83044 Some minor cleanup post the addition of TYP_SIMD64 and ZMM support - P1
  docs/design/coreclr/botr/vectors-and-intrinsics.md
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/instr.h
  src/coreclr/jit/simd.h
Labels: area-CodeGen-coreclr

#83055 Change the ComInterfaceGenerator to output source in one file per interface and use file-scoped types
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/IncrementalMethodStubGenerationContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/IncrementalValuesProviderExtensions.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VirtualMethodPointerStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VtableIndexStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/SyntaxEquivalentNode.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/IUnknownDerivedAttribute.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CallingConventionForwarding.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ComInterfaceGeneratorOutputShape.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/GeneratedComInterfaceAttributeProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/IVirtualMethodIndexSignatureProvider.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/VTableGeneratorOutputShape.cs
Labels: area-System.Runtime.InteropServices, source-generator

#82142 Separate the generation of PerfMap and JitDump files
  src/coreclr/vm/perfmap.cpp
  src/coreclr/vm/perfmap.h
Labels: area-VM-coreclr

#83013 fix failing ConnectWithRevocation_ServerCertWithoutContext_NoStapleOcsp failures
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/CertificateValidationRemoteServer.cs
Labels: area-System.Net.Security, os-linux

#83104 get transport MsQuic for Windows arm64
  eng/Versions.props
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicPlatformDetectionTests.cs
Labels: area-System.Net.Quic

#83029 Rename cgroup.cpp to cgroupcpu.cpp
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/unix/cgroupcpu.cpp
  src/coreclr/nativeaot/Runtime/unix/cgroupcpu.h
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: community-contribution, area-NativeAOT-coreclr

#83102 Update branding to 6.0.16
  eng/Versions.props
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Net.Http.Json/src/System.Net.Http.Json.csproj
Labels: area-Infrastructure-libraries

#83103 Update branding to 7.0.5
  eng/Versions.props
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/Microsoft.Extensions.Configuration.Binder.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Net.Http.Json/src/System.Net.Http.Json.csproj
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
Labels: area-Infrastructure-libraries

#83100 [7.0] Fix superpmi_collect-setup.py helix images to use floating versions instead
  src/coreclr/scripts/superpmi_collect_setup.py
Labels: area-Infrastructure

#83082 [browser] cleanup before memory snapshot
  src/mono/wasm/runtime/assets.ts
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/exports.ts
  src/mono/wasm/runtime/icu.ts
  src/mono/wasm/runtime/imports.ts
  src/mono/wasm/runtime/managed-exports.ts
  src/mono/wasm/runtime/marshal.ts
  src/mono/wasm/runtime/polyfills.ts
  src/mono/wasm/runtime/startup.ts
  src/mono/wasm/runtime/types.ts
  src/mono/wasm/runtime/types/emscripten.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#83124 use MsQuic 2.1 again
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
Labels: area-System.Net.Quic

#83089 JIT: Support converting OR(condition, condition) -> CCMP
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#82826 [browser] legacy JS interop optional via WasmEnableLegacyJsInterop - managed
  eng/testing/tests.browser.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System.Runtime.InteropServices.JavaScript.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptImports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/LegacyExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.References.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Array.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/LegacyHostImplementation.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportExportTest.cs
  src/mono/nuget/Microsoft.NET.Runtime.WebAssembly.Sdk/Microsoft.NET.Runtime.WebAssembly.Sdk.pkgproj
  src/mono/wasm/build/ILLink.Descriptors.LegacyJsInterop.xml
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/net6-legacy/corebindings.ts
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#82818 Implement correct handling of new constraint in ilc
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ArrayValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/AttributeDataFlow.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILLink.Shared/TrimAnalysis/ArrayValue.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCases/TestDatabase.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCases/TestSuites.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DependencyInjectionPattern.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/ArrayValue.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisVisitor.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/ArrayValue.cs
  src/tools/illink/src/linker/Linker.Dataflow/ArrayValue.cs
  src/tools/illink/src/linker/Linker.Dataflow/MethodBodyScanner.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ArrayDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/CorrectOverloadedMethodGetsStrippedInGenericClass.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/DerivedClassWithMethodOfSameNameAsBaseButDifferentNumberOfGenericParametersUnusedBaseWillGetStripped.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/GenericInstanceInterfaceMethodImplementedWithDifferentGenericArgumentNameDoesNotGetStripped.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/MethodWithParameterWhichHasGenericParametersAndOverrideUsesADifferentNameForGenericParameter.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/MethodWithParameterWhichHasGenericParametersAndOverrideUsesADifferentNameForGenericParameterNestedCase.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/MethodWithParameterWhichHasGenericParametersAndOverrideUsesADifferentNameForGenericParameterNestedCase2.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/NewConstraintOnClass.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/OverrideWithAnotherVirtualMethodOfSameNameWithDifferentParameterType.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAccessedThrough.cs
Labels: area-NativeAOT-coreclr

#82839 Add type-forwarders for Xamarin.Android compatibility to System.Drawing.Common.dll
  src/libraries/System.Drawing.Common/src/CompatibilitySuppressions.xml
  src/libraries/System.Drawing.Common/src/System.Drawing.Common.Forwards.cs
  src/libraries/System.Drawing.Common/src/System.Drawing.Common.csproj
Labels: area-System.Drawing

#82259 Remove S.S.Permissions reference from S.C.ConfigurationManager
  src/libraries/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.cs
  src/libraries/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.csproj
  src/libraries/System.Configuration.ConfigurationManager/src/System.Configuration.ConfigurationManager.csproj
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/Internal/DelegatingConfigHost.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/Internal/IInternalConfigHost.cs
  src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/Internal/InternalConfigHost.cs
  src/libraries/testPackages/packageSettings/System.Configuration.ConfigurationManager/netstandard/settings.targets
  src/libraries/testPackages/packageSettings/System.Runtime.Caching/netstandard/settings.targets
Labels: area-System.Configuration, breaking-change, needs-breaking-change-doc-created

#83026 [mono][jit] Don't try to do devirt for Delegate.Invoke ().
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#82789 Switch JsonReaderHelper.IndexOfQuoteOrAnyControlOrBackSlash to use IndexOfAnyValues
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.net8.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.netstandard.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.sri.cs
Labels: area-System.Text.Json

#83028 [mono][arm64] Implement delegate virtual invoke trampolines.
  src/mono/mono/mini/mini-arm64.c
Labels: area-Codegen-JIT-mono

#82966 [wasi] Fixes to enable more tests
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterTypesTests.cs
  src/libraries/tests.proj
  src/mono/wasi/build/WasiApp.targets
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmAppBuilderBaseTask.cs
  src/tasks/WasmAppBuilder/wasi/WasiAppBuilder.cs
Labels: arch-wasm, test-enhancement, area-Build-mono, os-wasi

#82662 Support WindowStyle without UseShellExecute
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ProcessOptions.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Diagnostics.Process/tests/Interop.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.Windows.cs
Labels: area-System.Diagnostics.Process, community-contribution

#82323 [release/7.0] Install native dependencies on all Apple OS in CI
  eng/install-native-dependencies.sh
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/coreclr/templates/build-jit-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/mono/templates/generate-offsets.yml
Labels: area-Infrastructure, community-contribution

#82268 [release/7.0][workloads] Backport UsingMobileWorkload change
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net6.Manifest/WorkloadManifest.targets.in
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net7.Manifest/WorkloadManifest.targets.in
Labels: area-Build-mono

#82219 [release/7.0][wasm] Use latest sdk 7.0 sdk for workload testing, and perf runs
  eng/Versions.props
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: arch-wasm, area-Infrastructure-mono, perf-pipeline

#82322 [release/6.0] Install native dependencies on all Apple OS in CI
  eng/install-native-dependencies.sh
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/coreclr/templates/build-jit-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/libraries/build-job.yml
  eng/pipelines/libraries/run-test-job.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/mono/templates/generate-offsets.yml
Labels: area-Infrastructure, community-contribution

#83004 [mono] Fix virtual method resolution in mono_delegate_trampoline ().
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/mini/mini-trampolines.c
  src/tests/JIT/Regression/JitBlue/Runtime_83003/Runtime_83003.cs
  src/tests/JIT/Regression/JitBlue/Runtime_83003/Runtime_83003.csproj
Labels: area-VM-meta-mono

#82433 [release/6.0] System.Console: allow terminfo files to be larger than 4KiB.
  src/libraries/System.Console/src/System/TermInfo.cs
Labels: Servicing-approved, area-System.Console

#83060 Add NT_SIGINFO NOTE to ELF dumps
  src/coreclr/debug/createdump/crashinfo.cpp
  src/coreclr/debug/createdump/crashinfo.h
  src/coreclr/debug/createdump/crashreportwriter.cpp
  src/coreclr/debug/createdump/createdump.h
  src/coreclr/debug/createdump/createdumpunix.cpp
  src/coreclr/debug/createdump/createdumpwindows.cpp
  src/coreclr/debug/createdump/dumpwriterelf.cpp
  src/coreclr/debug/createdump/dumpwriterelf.h
  src/coreclr/debug/createdump/main.cpp
  src/coreclr/debug/createdump/threadinfo.cpp
  src/coreclr/debug/createdump/threadinfo.h
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/process.h
  src/coreclr/pal/src/thread/process.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#83106 Update SourceBuild image to be our Centos 8 Stream image.
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/pipeline-with-resources.yml
Labels: area-Infrastructure

#83142 Clean up some code in SmtpDateTime
  src/libraries/System.Net.Mail/src/System/Net/Mime/SmtpDateTime.cs
  src/libraries/System.Net.Mail/tests/Unit/SmtpDateTimeTest.cs
Labels: area-System.Net

#83138 Change a few more Encoding.UTF8.GetBytes to u8 in json
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleMetadata.cs
Labels: area-System.Text.Json
