Repository dotnet/runtime, pull requests merged in 2023-04, with the labels that each got.

#76436 Improve XmlSerializationWriter.WriteTypedPrimitive
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XsdDateTime.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XsdDuration.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Xmlcustomformatter.cs
  src/libraries/System.Private.Xml/src/System/Xml/XmlConvert.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.RuntimeOnly.cs
Labels: area-Serialization, community-contribution

#83554 Initial step for adding AssemblyBuilder.Save implementation
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeAssemblyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeFieldBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeTypeBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/libraries/System.Reflection.Emit/System.Reflection.Emit.sln
  src/libraries/System.Reflection.Emit/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
  src/libraries/System.Reflection.Emit/src/Resources/Strings.resx
  src/libraries/System.Reflection.Emit/src/System.Reflection.Emit.csproj
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/AssemblyBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/FieldBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/MetadataHelper.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/MethodBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/SignatureHelper.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/ModuleBuilder/ModuleBuilderDefineEnum.cs
  src/libraries/System.Reflection.Emit/tests/ModuleBuilder/ModuleBuilderDefineType.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveTestsWithVariousTypes.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblyTools.cs
  src/libraries/System.Reflection.Emit/tests/System.Reflection.Emit.Tests.csproj
  src/libraries/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderDefineNestedType.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeAssemblyBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeModuleBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeTypeBuilder.Mono.cs
Labels: area-System.Reflection.Emit

#84028 Reverting: Set AssemblyName.ProcessorArchitecture for compatibility (#80581)
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReader.netstandard.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/MetadataReaderTests.cs
Labels: area-System.Reflection

#83926 Preserve OCE.CancellationToken in ReadAtLeastAsync of StreamPipeReader
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/StreamPipeReader.cs
  src/libraries/System.IO.Pipelines/tests/PipeReaderReadAtLeastAsyncTests.cs
Labels: area-System.IO.Pipelines, community-contribution

#84147 Delete `GT_ADDR`
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#71478 Improve Binary Xml (XmlDictionaryWriter) performance
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlBinaryWriter.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlStreamNodeWriter.cs
Labels: area-Serialization, community-contribution

#83862 Optimization on LinearScan::buildPhysRegRecords
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/targetamd64.h
Labels: area-CodeGen-coreclr, community-contribution

#84206 Use FastAllocateString in InvariantModeCasing
  src/libraries/System.Private.CoreLib/src/System/Globalization/InvariantModeCasing.cs
Labels: area-System.Globalization

#84200 Improve Guid.Parse for invalid input
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
Labels: needs-area-label

#84193 Address timeouts in merged test groups
  src/tests/JIT/Directed/lifetime/lifetime1.csproj
  src/tests/JIT/Directed/lifetime/lifetime2.csproj
  src/tests/JIT/Directed/pinvoke/preemptive_cooperative.ilproj
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M09.5-PDC/b12795/b12795.csproj
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b38269/b38269.csproj
  src/tests/JIT/Regression/CLR-x86-JIT/dev10/b400791/_b400971b400971.csproj
  src/tests/JIT/Regression/CLR-x86-JIT/v2.1/DDB/b202743/b202743.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_4781/Runtime_4781.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_4781/Runtime_4781_1.csproj
  src/tests/JIT/Regression/Regression_1.csproj
  src/tests/JIT/Regression/Regression_4.csproj
  src/tests/baseservices/threading/regressions/30032/30032.csproj
  src/tests/baseservices/threading/threading_group1.csproj
Labels: test-bug, area-Infrastructure-coreclr

#84204 Improve reachability sets computation
  src/coreclr/jit/bitset.h
  src/coreclr/jit/bitsetasshortlong.h
  src/coreclr/jit/bitsetops.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
Labels: area-CodeGen-coreclr

#84211 Disallow the `InitObj` form for SIMD types
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#84210 Improve Guid.Parse for input without whitespaces
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.Trim.cs
Labels: needs-area-label

#84213 Eliminate bound checks for "arr[arr.Length - cns]"
  src/coreclr/jit/rangecheck.cpp
Labels: area-CodeGen-coreclr

#84215 Refine BBF_GC_SAFE_POINT handling in reachability computation
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#84197 Delete dead code
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/jit.h
Labels: area-CodeGen-coreclr

#84223 Change culture-sensitive IndexOf to culture-insensitive
  src/libraries/System.Text.Json/Common/ReflectionExtensions.cs
Labels: area-System.Text.Json, community-contribution

#84217 Delete `GTF_BLK_VOLATILE` and `GTF_BLK_UNALIGNED`
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
Labels: area-CodeGen-coreclr, community-contribution

#84030 Use timeouts in 2 socket test cases
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive/SendReceive.cs
Labels: area-System.Net.Sockets

#83705 [mono] Futher cleanups to delegate invocation
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/object-internals.h
  src/mono/mono/metadata/object-offsets.h
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-trampolines.c
  src/mono/mono/mini/patch-info.h
Labels: area-VM-meta-mono

#84226 [mono][llvm] Add a fastpath to calling mini_init_method_rgctx ().
  src/mono/mono/mini/cpu-arm64.mdesc
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-arm64.h
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-LLVM-mono

#84205 Split Rank1 MdArray allocation into a separate helper
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/ArrayHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunConstants.cs
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
Labels: area-NativeAOT-coreclr

#84195 Stop excluding existing files from CORE_ROOT generation
  src/tests/Common/Directory.Build.targets
  src/tests/Directory.Build.targets
Labels: area-Infrastructure-coreclr

#84058 [wasm] Re-enable null check optimization for mid-method traces
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/cwraps.ts
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#82005 [mono] Remove the support for non r4fp, its not used by any supported platforms.
  src/mono/mono/mini/calls.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-amd64.h
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm.h
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-arm64.h
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-s390x.c
  src/mono/mono/mini/mini-s390x.h
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini-wasm.h
  src/mono/mono/mini/mini-x86.h
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-meta-mono

#84214 [wasm] Don't publish the aot-instances.dll assembly, its not needed a…
  src/mono/wasm/build/WasmApp.Native.targets
Labels: area-Build-mono

#84185 Delete `LCL_VAR_ADDR`
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/gtstructs.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraarm.cpp
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsraloongarch64.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/sideeffects.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/treelifeupdater.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#83714 [RISC-V] Port Mono for RISC-V 64 Arch (1/3) lp64d ABI
  src/mono/mono.proj
  src/mono/mono/arch/riscv/riscv-codegen.h
  src/mono/mono/metadata/object-offsets.h
  src/mono/mono/mini/helpers.c
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-riscv.h
Labels: area-VM-meta-mono, community-contribution

#84255 [mono] update sgen codeowners
  .github/CODEOWNERS
Labels: area-Meta

#84203 [PERF] Enable daily perf runs on cloud VMs
  eng/pipelines/coreclr/perf_slow.yml
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure

#84164 Refactor `Interop.LocalAlloc` follow-up
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.Net.Primitives/src/System.Net.Primitives.csproj
Labels: area-System.Runtime.InteropServices, community-contribution

#84270 Fix debugger stack unwind AV
  src/coreclr/vm/amd64/cgenamd64.cpp
Labels: area-Diagnostics-coreclr

#80297 Arm64: Implement VectorTableLookup/VectorTableLookupExtension intrinsinsic + Consecutive registers support
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/simd-intrinsics.c
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/VectorLookupExtension_2Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/VectorLookupExtension_3Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/VectorLookupExtension_4Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/VectorLookup_2Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/VectorLookup_3Test.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/VectorLookup_4Test.template
Labels: area-CodeGen-coreclr, new-api-needs-documentation

#84151 Introduce a diagnostic switch to turn off the use of file mapping in PE loader.
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/peimagelayout.cpp
  src/coreclr/vm/peimagelayout.h
Labels: area-AssemblyLoader-coreclr

#83438 Fix reflection invoke file format issue for generic methods
  src/coreclr/nativeaot/Common/src/Internal/Runtime/TypeLoader/ExternalReferencesTable.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.Metadata.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDictionaryNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.NativeLayout.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectedMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectionInvokeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/RuntimeMethodHandleNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/GeneratingMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/RootingHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/libraries/System.Linq/tests/default.rd.xml
Labels: area-NativeAOT-coreclr

#84019 [browser][non-icu] `HybridGlobalization` change case
  docs/design/features/hybrid-globalization.md
  eng/testing/tests.browser.targets
  src/libraries/System.Globalization/System.Globalization.sln
  src/libraries/System.Globalization/tests/Hybrid/Hybrid.IOS.Tests.csproj
  src/libraries/System.Globalization/tests/Hybrid/Hybrid.WASM.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.WebAssembly.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.cs
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/icu.ts
  src/mono/wasm/runtime/net6-legacy/method-calls.ts
  src/mono/wasm/runtime/types.ts
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
  src/tasks/WasmAppBuilder/WasmAppBuilderBaseTask.cs
Labels: arch-wasm, area-System.Globalization

#84124 JIT: Properly allocate shadow space for block op helpers on win-x64
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#84089 Static cctor analysis for reflection
  src/coreclr/tools/Common/Compiler/Dataflow/DynamicallyAccessedMembersBinder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMarker.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnStaticConstructor.cs
Labels: area-NativeAOT-coreclr

#84180 [Mono] Support get_Count and get_AllBitsSet for mini JIT on Arm64
  src/mono/mono/mini/cpu-arm64.mdesc
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#84165 [Mono]: Library mode enhancements.
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#84252 Fix gtMarkAddrMode assert
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#84280 Fix FrozenDictionary/Set handling of ValueTuple keys
  src/libraries/Common/tests/System/Collections/ISet.Generic.Tests.cs
  src/libraries/Common/tests/System/Collections/TestBase.Generic.cs
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Constants.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallComparableValueTypeFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallComparableValueTypeFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallValueTypeDefaultComparerFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallValueTypeDefaultComparerFrozenSet.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenDictionaryTests.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenSetTests.cs
Labels: area-System.Collections

#84219 Fix parallel SuperPMI output handling
  src/coreclr/tools/superpmi/superpmi-shared/logging.cpp
  src/coreclr/tools/superpmi/superpmi-shared/logging.h
  src/coreclr/tools/superpmi/superpmi/commandline.cpp
  src/coreclr/tools/superpmi/superpmi/commandline.h
  src/coreclr/tools/superpmi/superpmi/parallelsuperpmi.cpp
Labels: area-CodeGen-coreclr

#83494 don't load MsQuic unless needed by HttpClient
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http

#83694 [JIT] ARM64/X64 - Add `IsVNNeverNegative`
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#84051 [JIT] Fix re-use val zero on GC tracking
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
Labels: area-CodeGen-coreclr

#84284 Add error check for skipped tests in merged groups
  src/tests/Directory.Build.targets
  src/tests/Directory.Merged.props
  src/tests/JIT/Directed/Directory.Build.props
  src/tests/JIT/HardwareIntrinsics/Directory.Build.props
  src/tests/JIT/HardwareIntrinsics/General/ConstantFolding/StaticReadonlySimd.cs
  src/tests/JIT/HardwareIntrinsics/General/ConstantFolding/StaticReadonlySimd.csproj
  src/tests/JIT/HardwareIntrinsics/X86/X86Serialize_X64/Serialize.X64.cs
  src/tests/JIT/HardwareIntrinsics/X86/X86Serialize_X64/Serialize.X64_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86/X86Serialize_X64/Serialize.X64_ro.csproj
  src/tests/JIT/IL_Conformance/Directory.Build.props
  src/tests/JIT/Methodical/Directory.Build.props
  src/tests/JIT/Regression/Directory.Build.props
  src/tests/Loader/classloader/TypeGeneratorTests/Directory.Build.props
  src/tests/baseservices/threading/Directory.Build.props
  src/tests/reflection/ldtoken/byrefs.il
Labels: test-enhancement, area-Infrastructure-coreclr

#84300 Fast-path in String.Trim
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
Labels: area-System.Runtime

#83589 ConvertIcuTimeFormatString: convert narrow no-break spaces to spaces too.
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Runtime/tests/System/DateTimeTests.cs
Labels: NO-MERGE, area-System.Globalization, community-contribution

#73336 Improve XmlDictionaryWriter UTF8 encoding performance
  src/libraries/System.Private.DataContractSerialization/src/System/Xml/XmlStreamNodeWriter.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XmlDictionaryWriterTest.cs
Labels: area-Serialization, community-contribution

#81998 JIT: Handle some "field offset computation" patterns
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#84314 [NativeAOT] Remove unused native memcopy helpers.
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/RuntimeExports.cs
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/GCMemoryHelpers.cpp
  src/coreclr/nativeaot/Runtime/GCMemoryHelpers.h
  src/coreclr/nativeaot/Runtime/GCMemoryHelpers.inl
  src/coreclr/nativeaot/Runtime/amd64/MiscStubs.asm
  src/coreclr/nativeaot/Runtime/arm/MiscStubs.asm
  src/coreclr/nativeaot/Runtime/arm64/MiscStubs.S
  src/coreclr/nativeaot/Runtime/arm64/MiscStubs.asm
  src/coreclr/nativeaot/Runtime/i386/MiscStubs.asm
Labels: area-NativeAOT-coreclr

#84312 JIT: use synthesis to repair some reconstruction issues
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
Labels: area-CodeGen-coreclr

#84306 Mark FirstCharInUInt32IsAscii with aggressiveinlining
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Utility.cs
Labels: area-System.Text.Encoding

#84272 Suppress linker warnings properly
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/MetadataHelper.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/MethodBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/SignatureHelper.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveTestsWithVariousTypes.cs
Labels: area-System.Reflection.Emit

#83255 Optimize stackalloc zeroing via BLK
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lsraxarch.cpp
  src/tests/JIT/opt/Vectorization/StackallocBlkTests.cs
  src/tests/JIT/opt/Vectorization/StackallocBlkTests.csproj
Labels: area-CodeGen-coreclr

#84331 [7.0] Add check-service-labels.yml to unblock base branch PRs
  .github/workflows/check-service-labels.yml
Labels: Servicing-approved, area-Infrastructure

#84316 Update branding to 7.0.6
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#84315 Update branding to 6.0.17
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#84011 Enabled Sqrt and Abs intrinsics
  src/mono/mono/mini/simd-arm64.h
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-JIT-mono

#84170 [wasm] Simd refactoring
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/wasm/build/WasmApp.Native.targets
Labels: area-Codegen-LLVM-mono

#84273 [wasm] Implement the ENDFINALLY opcode in the jiterpreter
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/transform.c
  src/mono/sample/wasm/browser-bench/Exceptions.cs
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
  src/mono/wasm/runtime/jiterpreter.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#84356 [wasm] Freeze the emscripten cache
  src/mono/wasm/build/WasmApp.Native.targets
Labels: area-Build-mono

#84353 JIT: Ensure tail merging does not add preds to scratch block
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#83623 Avoid clearing uncommitted mark array
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
  src/tests/GC/API/Frozen/Frozen.cs
Labels: area-GC-coreclr

#84281 Switch CustomAttributeTypeNameParser to use common type name parser
  src/coreclr/System.Private.CoreLib/src/System/Reflection/TypeNameParser.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/TypeNameParser.NativeAot.cs
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/CustomAttributeTypeNameParser.cs
  src/coreclr/tools/ILVerification/ILVerification.projitems
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TypeNameParser.Dataflow.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/CallChainProfile.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/libraries/Common/src/System/Reflection/TypeNameParser.cs
Labels: area-NativeAOT-coreclr

#84189 Caching settings.pause_mode to avoid deadlock
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#84080 [wasm][debugger] Retry after timeout on debugger tests on CI
  src/mono/wasm/debugger/DebuggerTestSuite/BadHarnessInitTests.cs
  src/mono/wasm/debugger/DebuggerTestSuite/ChromeProvider.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestBase.cs
  src/mono/wasm/debugger/DebuggerTestSuite/DebuggerTestFirefox.cs
  src/mono/wasm/debugger/DebuggerTestSuite/Inspector.cs
Labels: area-Debugger-mono

#82750 [JIT] X86/X64 - Eliminate redundant 'cmp' instructions
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
Labels: area-CodeGen-coreclr

#83844 Implement the JsonSerializer.IsReflectionEnabledByDefault feature switch
  docs/workflow/trimming/feature-switches.md
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/ILLink/ILLink.Substitutions.xml
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/AppContextSwitchHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoResolverChain.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/TrimmingTests/IsReflectionEnabledByDefaultFalse.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/TrimmingTests/System.Text.Json.TrimmingTests.proj
Labels: area-System.Text.Json

#81525 Avoid scaning the used region if there are no free units
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#84363 [PERF] Removed pipeline dependencies and steps for running Maui-iOS
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/testing/performance/ios_scenarios.proj
  eng/testing/performance/ios_scenarios_net6.proj
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure

#84381 Add missing step to native AOT dev workflow instructions
  docs/workflow/building/coreclr/nativeaot.md
Labels: area-Infrastructure-libraries

#84354 [Android] Free up more disk space on CI builds
  eng/testing/tests.android.targets
  src/tests/FunctionalTests/Android/Device_Emulator/StartupHook/Android.Device_Emulator.StartupHook.Test.csproj
Labels: area-Infrastructure-mono

#84285 Speed up named type lookups in managed type system
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaModule.cs
Labels: area-NativeAOT-coreclr

#84301 Add back IComparable-based optimization to FrozenDictionary/Set
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Constants.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallValueTypeComparableFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallValueTypeComparableFrozenSet.cs
Labels: area-System.Collections

#83853 Add ArgumentOutOfRangeException.ThrowIf{Not}Equal
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/InMemoryAssemblyLoader.cs
  src/libraries/System.Linq.Expressions/src/Resources/Strings.resx
  src/libraries/System.Linq.Expressions/src/System/Dynamic/DynamicMetaObjectBinder.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/DebugInfoExpression.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Error.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Strings.cs
  src/libraries/System.ObjectModel/src/System/Collections/Specialized/NotifyCollectionChangedEventArgs.cs
  src/libraries/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/ArgumentOutOfRangeException.cs
  src/libraries/System.Private.Uri/src/System/UriScheme.cs
  src/libraries/System.Private.Xml/src/System/Xml/Dom/XmlNamedNodeMap.SmallXmlNodeList.cs
  src/libraries/System.Private.Xml/src/System/Xml/Schema/XmlSchemaCollection.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/ArgumentOutOfRangeExceptionTests.cs
Labels: new-api-needs-documentation

#84350 Arm64: Optimize pairs of "str wzr" to "str xzr"
  src/coreclr/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr, community-contribution

#83892 Make WindowsServiceLifetime gracefully stop
  eng/testing/xunit/xunit.targets
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.QueryServiceStatusEx.cs
  src/libraries/Common/src/Interop/Windows/Interop.Errors.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceLifetime.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/Microsoft.Extensions.Hosting.WindowsServices.Tests.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/UseWindowsServiceTests.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/WindowsServiceLifetimeTests.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/WindowsServiceTester.cs
  src/libraries/System.ServiceProcess.ServiceController/src/System/ServiceProcess/ServiceBase.cs
Labels: area-System.ServiceProcess

#84390 Fix ThunkGenerator
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/Program.cs
Labels: area-crossgen2-coreclr, community-contribution

#84385 [mono][aot] Fix an assert.
  src/mono/mono/mini/memory-access.c
Labels: area-Codegen-AOT-mono

#84382 Disable nullability checks in file shared between the managed type system and ILVerificationTests
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/CustomAttributeTypeNameParser.cs
Labels: area-Tools-ILVerification

#84366 Fix Roslyn dependency version in source-build
  eng/Versions.props
Labels: blocking, area-Infrastructure, partner-impact

#83852 Add Utf8.TryWrite
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IUtf8SpanFormattable.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Text/Unicode/Utf8Tests.TryWrite.cs
  src/libraries/System.Runtime/tests/System/Text/Unicode/Utf8Tests.cs
Labels: area-System.Text.Encoding, new-api-needs-documentation

#84387 [wasm] Implement LEAVE_CHECK in the jiterpreter (as a bailout)
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Jiterpreter-mono

#84403 [mono][tests] Properly triage known GC failure
  src/tests/issues.targets
Labels: needs-area-label

#84410 [mono][interp] Remove MINT_LEAVE opcode
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: area-Codegen-Interpreter-mono

#83715 [RISC-V] Port Mono for RISC-V 64 Arch (2/3) thunk & tramponlie
  src/mono/mono/arch/riscv/riscv-codegen.h
  src/mono/mono/mini/exceptions-riscv.c
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/tramp-riscv.c
Labels: area-VM-meta-mono, community-contribution

#83956 Always create loop pre headers
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#84413 Microsoft.NETCore.Platforms: support adding rids with '-' in the base part.
  src/libraries/Microsoft.NETCore.Platforms/src/RID.cs
  src/libraries/Microsoft.NETCore.Platforms/src/RuntimeGroupCollection.cs
  src/libraries/Microsoft.NETCore.Platforms/tests/RidTests.cs
Labels: area-Infrastructure-libraries, community-contribution

#84408 Disable StackallocBlkTests test on Mono
  src/tests/JIT/opt/Vectorization/StackallocBlkTests.cs
  src/tests/issues.targets
Labels: needs-area-label

#84357 [release/6.0] Fix pinned assembly version 6.0
  eng/packaging.targets
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.ComponentModel.Composition/Directory.Build.props
  src/libraries/System.ComponentModel.Composition/Directory.Build.targets
  src/libraries/System.DirectoryServices.AccountManagement/Directory.Build.props
  src/libraries/System.DirectoryServices.AccountManagement/Directory.Build.targets
  src/libraries/System.DirectoryServices.Protocols/Directory.Build.props
  src/libraries/System.DirectoryServices.Protocols/Directory.Build.targets
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.DirectoryServices/Directory.Build.props
  src/libraries/System.DirectoryServices/Directory.Build.targets
  src/libraries/System.Management/Directory.Build.props
  src/libraries/System.Management/Directory.Build.targets
  src/libraries/System.Management/src/System.Management.csproj
  src/libraries/System.Reflection.Context/Directory.Build.props
  src/libraries/System.Reflection.Context/Directory.Build.targets
  src/libraries/System.Runtime.Caching/Directory.Build.props
  src/libraries/System.Runtime.Caching/Directory.Build.targets
  src/libraries/System.Speech/Directory.Build.props
  src/libraries/System.Speech/Directory.Build.targets
Labels: Servicing-approved, area-Infrastructure-libraries

#84440 [wasm][debugger] Removing test case that is not working on chrome anymore
  src/mono/wasm/debugger/DebuggerTestSuite/BreakpointTests.cs
Labels: area-Debugger-mono

#84355 [release/7.0] Fix pinned assembly version 7.0
  eng/packaging.targets
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.ComponentModel.Composition/Directory.Build.props
  src/libraries/System.ComponentModel.Composition/Directory.Build.targets
  src/libraries/System.DirectoryServices.AccountManagement/Directory.Build.props
  src/libraries/System.DirectoryServices.AccountManagement/Directory.Build.targets
  src/libraries/System.DirectoryServices.Protocols/Directory.Build.props
  src/libraries/System.DirectoryServices.Protocols/Directory.Build.targets
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.DirectoryServices/Directory.Build.props
  src/libraries/System.DirectoryServices/Directory.Build.targets
  src/libraries/System.Management/Directory.Build.props
  src/libraries/System.Management/Directory.Build.targets
  src/libraries/System.Management/src/System.Management.csproj
  src/libraries/System.Reflection.Context/Directory.Build.props
  src/libraries/System.Reflection.Context/Directory.Build.targets
  src/libraries/System.Runtime.Caching/Directory.Build.props
  src/libraries/System.Runtime.Caching/Directory.Build.targets
  src/libraries/System.Speech/Directory.Build.props
  src/libraries/System.Speech/Directory.Build.targets
Labels: Servicing-approved, area-Infrastructure-libraries

#84365 Enable building preview workload components
  src/workloads/workloads.csproj
Labels: area-Workloads

#84439 Reserving two diagnostic codes for serialization work
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
Labels: area-Meta

#83716 [RISC-V] Port Mono for RISC-V 64 Arch (3/3) IL Lowering & Outputting
  src/mono/mono/mini/cpu-riscv64.mdesc
  src/mono/mono/mini/mini-codegen.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/mini-riscv.c
Labels: area-VM-meta-mono, community-contribution

#84418 [mono][jit] Revert parts of '[mono] Remove the support for non r4fp, its not used by any supported platforms. (#82005)'
  src/mono/mono/mini/calls.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-amd64.h
  src/mono/mono/mini/mini-arm.h
  src/mono/mono/mini/mini-arm64.h
  src/mono/mono/mini/mini-s390x.h
  src/mono/mono/mini/mini-wasm.h
  src/mono/mono/mini/mini-x86.h
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-JIT-mono

#84437 Unit tests should re-enable BinaryFormatter for compat testing
  Directory.Build.props
  src/libraries/System.Runtime.Serialization.Formatters/tests/DisableBitTests.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj
Labels: area-Meta

#84162 added explanation to more GC data structures
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#84201 Correctly display the GCSettings specified in the runtimeconfig json via the GC Configuration API Call
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.cpp
  src/coreclr/gc/gcconfig.h
Labels: area-GC-coreclr

#84409 Fix eventpipe/enabledisable.cs test on Android
  src/tests/tracing/eventpipe/common/Microsoft.Diagnostics.NETCore.Client/AssemblyInfo.cs
  src/tests/tracing/eventpipe/enabledisable/enabledisable.cs
  src/tests/tracing/eventpipe/enabledisable/enabledisable.csproj
Labels: area-Tracing-coreclr

#84352 JIT: Set GTF_DEBUG_NODE_MORPHED properly in block morph
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr

#84338 Move startup hook tests targeting `StartupHookProvider` out of hosting tests
  src/installer/tests/Assets/TestProjects/StartupHookFake/StartupHookFake.csproj
  src/installer/tests/Assets/TestProjects/StartupHookFake/StartupHookInvalidAssembly.dll
  src/installer/tests/Assets/TestProjects/StartupHookWithInstanceMethod/StartupHookWithInstanceMethod.cs
  src/installer/tests/Assets/TestProjects/StartupHookWithInstanceMethod/StartupHookWithInstanceMethod.csproj
  src/installer/tests/Assets/TestProjects/StartupHookWithMultipleIncorrectSignatures/StartupHookWithMultipleIncorrectSignatures.csproj
  src/installer/tests/Assets/TestProjects/StartupHookWithNonPublicMethod/StartupHookWithNonPublicMethod.cs
  src/installer/tests/Assets/TestProjects/StartupHookWithNonPublicMethod/StartupHookWithNonPublicMethod.csproj
  src/installer/tests/Assets/TestProjects/StartupHookWithOverload/StartupHookWithOverload.cs
  src/installer/tests/Assets/TestProjects/StartupHookWithOverload/StartupHookWithOverload.csproj
  src/installer/tests/Assets/TestProjects/StartupHookWithParameter/StartupHookWithParameter.cs
  src/installer/tests/Assets/TestProjects/StartupHookWithParameter/StartupHookWithParameter.csproj
  src/installer/tests/Assets/TestProjects/StartupHookWithReturnType/StartupHookWithReturnType.cs
  src/installer/tests/Assets/TestProjects/StartupHookWithReturnType/StartupHookWithReturnType.csproj
  src/installer/tests/Assets/TestProjects/StartupHookWithoutInitializeMethod/StartupHookWithoutInitializeMethod.cs
  src/installer/tests/Assets/TestProjects/StartupHookWithoutInitializeMethod/StartupHookWithoutInitializeMethod.csproj
  src/installer/tests/Assets/TestProjects/StartupHookWithoutStartupHookType/StartupHookWithoutStartupHookType.cs
  src/installer/tests/Assets/TestProjects/StartupHookWithoutStartupHookType/StartupHookWithoutStartupHookType.csproj
  src/installer/tests/HostActivation.Tests/StartupHooks.cs
  src/tests/Loader/StartupHooks/Hook.cs
  src/tests/Loader/StartupHooks/Hooks/Basic.cs
  src/tests/Loader/StartupHooks/Hooks/Basic.csproj
  src/tests/Loader/StartupHooks/Hooks/Invalid/InstanceMethod.csproj
  src/tests/Loader/StartupHooks/Hooks/Invalid/InvalidHook.cs
  src/tests/Loader/StartupHooks/Hooks/Invalid/MultipleIncorrectSignatures.csproj
  src/tests/Loader/StartupHooks/Hooks/Invalid/NoInitializeMethod.csproj
  src/tests/Loader/StartupHooks/Hooks/Invalid/NonVoidReturn.csproj
  src/tests/Loader/StartupHooks/Hooks/Invalid/NotParameterless.csproj
  src/tests/Loader/StartupHooks/Hooks/PrivateInitialize.cs
  src/tests/Loader/StartupHooks/Hooks/PrivateInitialize.csproj
  src/tests/Loader/StartupHooks/StartupHookTests.cs
  src/tests/Loader/StartupHooks/StartupHookTests.csproj
  src/tests/issues.targets
Labels: area-Host

#84339 Added the ability to specify a Spin Count Unit via a GC Configuration
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#84207 Simplify numasupport
  .devcontainer/libraries/Dockerfile
  .devcontainer/wasm/Dockerfile
  docs/workflow/requirements/linux-requirements.md
  eng/install-native-dependencies.sh
  src/coreclr/gc/unix/CMakeLists.txt
  src/coreclr/gc/unix/config.gc.h.in
  src/coreclr/gc/unix/configure.cmake
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/gc/unix/numasupport.cpp
  src/coreclr/gc/unix/numasupport.dynamic.cpp
  src/coreclr/gc/unix/numasupport.h
  src/coreclr/gc/unix/numasupport.static.cpp
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/docs/compiling.md
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
  src/libraries/System.Net.Quic/readme.md
Labels: area-Infrastructure-coreclr, community-contribution

#84235 Introducing Time abstraction Part2 (down-level support)
  src/libraries/Common/src/System/Threading/ITimer.cs
  src/libraries/Common/src/System/TimeProvider.cs
  src/libraries/Common/tests/System/TimeProviderTests.cs
  src/libraries/Microsoft.Bcl.TimeProvider/Microsoft.Bcl.TimeProvider.sln
  src/libraries/Microsoft.Bcl.TimeProvider/ref/Microsoft.Bcl.TimeProvider.Common.cs
  src/libraries/Microsoft.Bcl.TimeProvider/ref/Microsoft.Bcl.TimeProvider.Forwards.cs
  src/libraries/Microsoft.Bcl.TimeProvider/ref/Microsoft.Bcl.TimeProvider.cs
  src/libraries/Microsoft.Bcl.TimeProvider/ref/Microsoft.Bcl.TimeProvider.csproj
  src/libraries/Microsoft.Bcl.TimeProvider/src/Microsoft.Bcl.TimeProvider.csproj
  src/libraries/Microsoft.Bcl.TimeProvider/src/Resources/Strings.resx
  src/libraries/Microsoft.Bcl.TimeProvider/src/System/Threading/Tasks/TimeProviderTaskExtensions.cs
  src/libraries/Microsoft.Bcl.TimeProvider/tests/Microsoft.Bcl.TimeProvider.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
Labels: new-api-needs-documentation, area-System.DateTime

#84430 [NativeAOT] Using the same CastCache implementation as in CoreClr
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/Runtime/Crst.h
  src/coreclr/nativeaot/Runtime/MiscHelpers.cpp
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/CompilerServices/CastCache.cs
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/coreclr/vm/castcache.cpp
  src/coreclr/vm/corelib.h
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastCache.cs
Labels: area-NativeAOT-coreclr

#84459 [manual] Merge branch 'release/7.0' => 'release/7.0-staging'
  eng/Versions.props
Labels: Servicing-approved, area-codeflow

#84460 [manual] Merge branch 'release/6.0' => 'release/6.0-staging'
  eng/Versions.props
Labels: Servicing-approved, area-codeflow

#83565 [release/7.0] Reverting: Set AssemblyName.ProcessorArchitecture for compatibility (#81101)
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReader.netstandard.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/MetadataReaderTests.cs
Labels: Servicing-approved, area-System.Reflection.Metadata

#84463 Shrink hello world by 3.2%
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Core/Execution/ExecutionDomain.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/RuntimeAssemblyName.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/NativeFormatEnumInfo.cs
Labels: area-NativeAOT-coreclr

#84249 [browser][non-icu] `HybridGlobalization` compare
  docs/design/features/hybrid-globalization.md
  src/libraries/Common/src/Interop/Browser/Interop.CompareInfo.cs
  src/libraries/Common/src/Interop/Browser/Interop.TextInfo.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Globalization/tests/CompareInfo/CompareInfoTests.Compare.cs
  src/libraries/System.Globalization/tests/Hybrid/Hybrid.WASM.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.WebAssembly.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.WebAssembly.cs
  src/mono/wasm/runtime/corebindings.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/runtime/exports-linker.ts
  src/mono/wasm/runtime/net6-legacy/hybrid-globalization.ts
  src/mono/wasm/runtime/net6-legacy/method-calls.ts
Labels: arch-wasm, area-System.Globalization

#84449 Mitigation for #84446: comment out problematic JIT assertion check
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#84473 [mono] Fix build error due to undeclared identifier 'llvm'
  src/mono/mono/mini/mini.c
Labels: area-Codegen-JIT-mono

#84447 Make service wait on its state before stopping
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/WindowsServiceLifetimeTests.cs
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/WindowsServiceTester.cs
Labels: area-Extensions-Hosting

#84452 Add a test for warning behavior of Requires on type with a const field
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
Labels: test-enhancement, linkable-framework, area-Tools-ILLink

#84335 Use a tuned ConcurrentDictionary in the default caching implementation for the COM source generator
  src/libraries/System.Runtime.InteropServices/tests/Ancillary.Interop/DefaultCaching.cs
Labels: area-System.Runtime.InteropServices, source-generator

#84349 JIT: Avoid unnecessary GTF_GLOB_REFs
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr

#84476 [mono][sgen] Remove more dead code
  src/mono/mono/sgen/sgen-gc.c
  src/mono/mono/sgen/sgen-gc.h
  src/mono/mono/sgen/sgen-marksweep.c
Labels: area-GC-mono

#84271 Derived Interface support in ComInterfaceGenerator
  docs/design/libraries/ComInterfaceGenerator/DerivedComInterfaces.md
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/TypeNames.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/GeneratedComInterfaceTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/IDerivedComInterface.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/RcwTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ComInterfaceGeneratorOutputShape.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/Compiles.cs
Labels: area-System.Runtime.InteropServices, source-generator

#84467 Introduce BBJ_EHFAULTRET
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#84485 Fix typo in build instructions for libraries
  docs/workflow/building/libraries/README.md
Labels: area-Infrastructure-libraries, community-contribution

#84496 Strip public keyword from managedToNative stub
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VtableIndexStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/SyntaxExtensions.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/Compiles.cs
Labels: area-System.Runtime.InteropServices

#82970 Allow multiple EventCounters sessions and make sure EventListeners always send a Disable command
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestCallbacks.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/CounterGroup.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/tests/tracing/eventlistener/eventlistenerenabledisable.cs
  src/tests/tracing/eventlistener/eventlistenerenabledisable.csproj
Labels: area-Tracing-coreclr

#84470 [mono] [RISC-V] re-implement floating point arithmetic without r4fp
  src/mono/mono/mini/cpu-riscv64.mdesc
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-riscv.h
Labels: area-VM-meta-mono, community-contribution, arch-riscv

#84493 Write linker script for lld to enable gc-sections
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: community-contribution, area-NativeAOT-coreclr

#83911 NativeAOT: Partially expand static initialization
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/compphases.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/runtimelookup.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkGenerator.csproj
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
  src/tests/JIT/opt/Remainder/IntRemainder.cs
Labels: area-CodeGen-coreclr

#84506 Disable enabledisable test for GCStress
  src/tests/tracing/eventpipe/enabledisable/enabledisable.csproj
Labels: area-Tracing-coreclr

#84399 Perform ldr to ldp peephole optimization
  src/coreclr/jit/emitarm64.h
Labels: area-CodeGen-coreclr

#84429 Avx512 arithmetic
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-avx512

#84498 Updating the JIT to support Narrow, WidenLower, and WidenUpper for Vector512
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, arch-avx512

#84469 Implement IUtf8SpanFormattable on DateTime, DateTimeOffset, DateOnly, TimeOnly, TimeSpan, Char, Rune
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/FormattingHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.G.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.L.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.O.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.R.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.TimeSpan.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ValueListBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/DateOnly.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/HebrewNumber.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TimeSpanFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Formatting.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Rune.cs
  src/libraries/System.Private.CoreLib/src/System/TimeOnly.cs
  src/libraries/System.Private.CoreLib/src/System/TimeSpan.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/DateOnlyTests.cs
  src/libraries/System.Runtime/tests/System/DateTimeOffsetTests.cs
  src/libraries/System.Runtime/tests/System/DateTimeTests.cs
  src/libraries/System.Runtime/tests/System/TimeOnlyTests.cs
  src/libraries/System.Runtime/tests/System/TimeSpanTests.cs
Labels: area-System.Runtime, new-api-needs-documentation

#84535 Fix IUtf8SpanFormattable.TryFormat argument name
  src/libraries/System.Private.CoreLib/src/System/IUtf8SpanFormattable.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/Text/Unicode/Utf8Tests.TryWrite.cs
Labels: new-api-needs-documentation, needs-area-label

#84379 Simplify target to enable config binding src generator from NuGet package, ensure it runs for all TFMs, and rename enabling property
  eng/OffByDefaultRoslynComponent.targets.template
  eng/packaging.targets
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/Microsoft.Extensions.Configuration.Binder.csproj
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/buildTransitive/Microsoft.Extensions.Configuration.Binder.targets
Labels: area-Extensions-Configuration

#84458 Ensure loops respect dominators
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#84348 Enable AVX-512 in Memmove unrolling
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr, arch-avx512

#84526 fix Kernel32.GetSystemTimes usage on Windows
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeEventSourceHelper.Windows.cs
Labels: area-System.Diagnostics.Tracing, community-contribution

#84427 JIT: scalable profile counter mode
  docs/design/features/ScalableApproximateCounting.md
  docs/design/features/counter-accuracy-detail.png
  docs/design/features/counter-accuracy-tunable.png
  docs/design/features/counter-accuracy.png
  docs/design/features/counter-scaling-detail.png
  docs/design/features/counter-scaling.png
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/vm/jithelpers.cpp
Labels: area-CodeGen-coreclr

#84501 Apply the TimeProvider design feedback
  src/libraries/Common/src/System/TimeProvider.cs
  src/libraries/Common/tests/System/TimeProviderTests.cs
  src/libraries/Microsoft.Bcl.TimeProvider/ref/Microsoft.Bcl.TimeProvider.cs
  src/libraries/Microsoft.Bcl.TimeProvider/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: new-api-needs-documentation, area-System.DateTime

#84556 Implement IUtf8SpanFormattable on Version
  src/libraries/System.Private.CoreLib/src/System/Version.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/VersionTests.cs
Labels: new-api-needs-documentation, needs-area-label

#84212 Delete `gtGetStructHandle` and friends
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importervectorization.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
Labels: area-CodeGen-coreclr, community-contribution

#84548 Fix minor jitdisasm issue
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/instr.cpp
Labels: area-CodeGen-coreclr

#84370 Improve regex compiler / source generator for sets
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#84511 Update implementation of optUpdateLoopsBeforeRemoveBlock
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#84571 [mono] Disable TestCurrentValueDoesNotAllocateOnceValueIsCached on mono
  src/libraries/Microsoft.Extensions.Options/tests/Microsoft.Extensions.Options.Tests/OptionsMonitorTest.cs
Labels: area-GC-mono

#84483 Add SPMI benchmarks run collections for tiered and tiered pgo
  eng/pipelines/coreclr/superpmi-collect.yml
  src/coreclr/scripts/superpmi-collect.proj
  src/coreclr/scripts/superpmi.py
  src/coreclr/scripts/superpmi_benchmarks.py
  src/coreclr/scripts/superpmi_collect_setup.py
Labels: area-CodeGen-coreclr

#84530 Add SIMD to LowerCallMemcmp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#83470 Adding support for Vector512 `Equals`, `EqualsAny`, `op_Equality`, and `op_Inequality`.
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/targetx86.h
Labels: area-CodeGen-coreclr, community-contribution, arch-avx512

#84568 [release/6.0][Android] Free up more disk space on CI builds
  eng/testing/tests.mobile.targets
Labels: Servicing-approved, area-Infrastructure-mono
