Repository dotnet/runtime, pull requests merged in 2023-07, with the labels that each got.

#88266 Fix Out of memory with source gen tests
  src/libraries/Common/tests/SourceGenerators/RoslynTestUtils.cs
Labels: area-Extensions-Logging, source-generator

#88227 JIT: Don't set patchpoints in methods with CORINFO_DEBUG_CODE
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#87284 [wasm] Introduce <InvariantTimezone> build flag
  docs/design/features/timezone-invariant-mode.md
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/sample/wasm/browser-advanced/Program.cs
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/wasi/Wasi.Build.Tests/WasiTemplateTests.cs
  src/mono/wasi/build/WasiApp.Native.targets
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasi/runtime/driver.c
  src/mono/wasi/wasi.proj
  src/mono/wasm/Wasm.Build.Tests/InvariantGlobalizationTests.cs
  src/mono/wasm/Wasm.Build.Tests/InvariantTimezoneTests.cs
  src/mono/wasm/build/WasmApp.Native.targets
  src/mono/wasm/build/WasmApp.targets
  src/mono/wasm/runtime/driver.c
  src/mono/wasm/runtime/es6/dotnet.es6.lib.js
  src/mono/wasm/testassets/Wasm.Buid.Tests.Programs/InvariantGlobalization.cs
  src/mono/wasm/testassets/Wasm.Buid.Tests.Programs/InvariantTimezone.cs
  src/mono/wasm/wasm.proj
Labels: arch-wasm, area-Build-mono, size-reduction

#88194 Apply a number of improvements and bugfixes to JsonNode
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonPropertyDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.IList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.To.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.IDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.CreateOverloads.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueNotTrimmable.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueOfTCustomized.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueOfTPrimitive.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueTrimmable.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonNodeConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonNodeConverterFactory.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonValueConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleMetadata.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/Common.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonArrayTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonObjectTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonValueTests.cs
Labels: area-System.Text.Json

#88130 JIT: Remove a quirk in regular promotion
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#88289 Fix make repro cli command
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/crossgen2/Crossgen2RootCommand.cs
Labels: area-NativeAOT-coreclr

#88238 Unify JIT interface getTypeLayout between VM and crossgen2; refine what is considered "significant padding"
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#85727 Avoid reporting frozen segments in GetGenerationBounds
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcee.cpp
  src/coreclr/gc/gceventstatus.h
  src/coreclr/gc/gcinterface.h
  src/coreclr/nativeaot/Runtime/eventtrace.cpp
  src/coreclr/nativeaot/Runtime/gcrhenv.cpp
  src/coreclr/nativeaot/Runtime/rheventtrace.h
  src/coreclr/vm/ClrEtwAll.man
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/tests/profiler/native/nongcheap/nongcheap.cpp
Labels: area-GC-coreclr

#87903 [wasm] Complete interp PackedSimd support and expand jiterp support
  src/mono/mono/mini/interp/interp-simd-intrins.def
  src/mono/mono/mini/interp/interp-simd.c
  src/mono/mono/mini/interp/transform-simd.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
  src/mono/wasm/runtime/genmintops.py
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-tables.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono

#88249 Implement ICollection<T> on several LINQ iterators
  src/libraries/System.Linq/src/System/Linq/Partition.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Range.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Repeat.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/ThrowHelper.cs
  src/libraries/System.Linq/tests/EmptyEnumerable.cs
  src/libraries/System.Linq/tests/EmptyPartitionTests.cs
  src/libraries/System.Linq/tests/RangeTests.cs
  src/libraries/System.Linq/tests/RepeatTests.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
Labels: area-System.Linq, tenet-performance

#88254 Fix OptionsValidator source-gen to skip static and const members
  docs/project/list-of-diagnostics.md
  src/libraries/Microsoft.Extensions.Options/Microsoft.Extensions.Options.sln
  src/libraries/Microsoft.Extensions.Options/gen/DiagDescriptors.cs
  src/libraries/Microsoft.Extensions.Options/gen/Parser.cs
  src/libraries/Microsoft.Extensions.Options/gen/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.de.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.es.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.it.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Main.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Resources/Strings.resx
Labels: area-Extensions-Options

#88235 Expose stack trace metadata stripping as a supported option
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/nativeaot/docs/optimizing.md
  src/tests/nativeaot/SmokeTests/StackTraceMetadata/StackTraceMetadata.cs
  src/tests/nativeaot/SmokeTests/StackTraceMetadata/StackTraceMetadata.csproj
  src/tests/nativeaot/SmokeTests/StackTraceMetadata/StackTraceMetadata_Stripped.csproj
Labels: area-NativeAOT-coreclr

#88300 [mono] fix memfuncs for FreeBSD
  src/mono/mono/utils/memfuncs.c
Labels: area-VM-meta-mono, community-contribution

#87190 Upgrade to LLVM 16 & C++17, and bundle libc++ on Linux
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-runtime-tests-and-send-to-helix.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-other.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/coreclr/tools/SuperFileCheck/SuperFileCheck.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/CMakeLists.txt
  src/mono/Directory.Build.props
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/mini-llvm-cpp.cpp
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/tools/offsets-tool/offsets-tool.py
  src/tests/Common/Directory.Build.targets
  src/tests/nativeaot/SmokeTests/DwarfDump/Program.cs
Labels: blocked, area-Codegen-LLVM-mono

#88324 [Crossgen] Don't display list of enum values in help
  src/coreclr/tools/aot/crossgen2/Crossgen2RootCommand.cs
Labels: area-crossgen2-coreclr

#88337 Remove TODO from a comment in System.Guid.cs
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
Labels: community-contribution, needs-area-label

#88331 [mono] Remove mono_loader_save_bundled_library()
  src/mono/mono/eglib/eglib-remap.h
  src/mono/mono/eglib/glib.h
  src/mono/mono/eglib/gstr.c
  src/mono/mono/metadata/loader-internals.h
  src/mono/mono/metadata/native-library.c
Labels: area-VM-meta-mono

#87998 Fix incorrect sequence number used in NTLM signature calculation
  src/libraries/System.Net.Security/src/System/Net/NTAuthentication.Managed.cs
Labels: area-System.Net.Security, community-contribution

#88043 TcpListener should implement IDisposable
  src/libraries/System.Net.Sockets/ref/System.Net.Sockets.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/TCPListener.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/TcpListenerTest.cs
Labels: area-System.Net.Sockets, new-api-needs-documentation, community-contribution

#88342 Fix condition for ENSURE_PRIMARY_STACK_SIZE
  src/coreclr/nativeaot/CMakeLists.txt
  src/native/libs/System.Native/CMakeLists.txt
Labels: area-NativeAOT-coreclr

#88356 Shrink column width in `ilc --help`
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
Labels: community-contribution, area-NativeAOT-coreclr

#88025 Pass exact context to getMethodInfo
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#87841 Try adding cross-compilers for Musl
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/mono/llvm/llvm-init.proj
  src/mono/monoaotcross.proj
Labels: area-Infrastructure-mono

#88313 Improve LoggerFactory and Logger debugging
  src/libraries/Common/src/Extensions/Logging/DebuggerDisplayFormatting.cs
  src/libraries/Microsoft.Extensions.Logging/src/Logger.cs
  src/libraries/Microsoft.Extensions.Logging/src/LoggerFactory.cs
  src/libraries/Microsoft.Extensions.Logging/src/LoggerFactoryOptions.cs
  src/libraries/Microsoft.Extensions.Logging/src/LoggerFilterOptions.cs
  src/libraries/Microsoft.Extensions.Logging/src/LoggerInformation.cs
Labels: area-Extensions-Logging

#86530 Up Minimum CMake Version to 3.20
  docs/workflow/requirements/linux-requirements.md
  docs/workflow/requirements/macos-requirements.md
  docs/workflow/requirements/windows-requirements.md
  src/coreclr/CMakeLists.txt
  src/libraries/tests.proj
  src/mono/CMakeLists.txt
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasm/runtime/CMakeLists.txt
  src/native/corehost/CMakeLists.txt
  src/native/libs/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tests/Interop/MonoAPI/Native/mono-embedding-api-test/CMakeLists.txt
  src/tests/Interop/ObjectiveC/AutoReleaseTest/CMakeLists.txt
  src/tests/Interop/ObjectiveC/ObjectiveCMarshalAPI/CMakeLists.txt
  src/tests/profiler/native/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#88354 Fix libraries Windows test runner script
  eng/testing/RunnerTemplate.cmd
Labels: area-Infrastructure-libraries

#88362 Remove empty files
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/Dispensers/DispenserThatReusesAsLongAsKeyedValueIsAlive.cs
  src/libraries/System.Data.Common/src/System/Data/Common/NameValuePermission.cs
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/GlobalSuppressions.cs
Labels: area-Meta

#88367 Allow inlining array methods
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
Labels: area-NativeAOT-coreclr

#88360 Remove conservative generic scanning logic
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
Labels: area-NativeAOT-coreclr

#88184 [OSX] HybridGlobalization Workaround for insufficiently sized destination buffer
  docs/design/features/globalization-hybrid-mode.md
  src/libraries/System.Globalization/tests/System/Globalization/TextInfoTests.cs
  src/native/libs/System.Globalization.Native/pal_casing.m
Labels: area-System.Globalization, os-ios

#87721 Email addresses in same domain not equal
  src/libraries/System.Private.Uri/src/System/Uri.cs
  src/libraries/System.Private.Uri/tests/FunctionalTests/UriMailToTest.cs
Labels: area-System.Net, breaking-change, needs-breaking-change-doc-created, community-contribution

#88322 [mono] Reenable disabled tests as mono now respects non-public custom attributes in dynamic assemblies
  src/libraries/System.Private.CoreLib/tests/IntrinsicsInSystemPrivatecoreLibAnalyzer.Tests/IntrinsicsInSystemPrivateCoreLibUnitTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/AddGeneratedComClassTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ComHostingDoesNotSupportGeneratedComInterfaceTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ConvertToGeneratedComInterfaceTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/GeneratedComInterfaceAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/RuntimeComApiUsageWithSourceGeneratedComTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/AddDisableRuntimeMarshallingAttributeFixerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ConvertToLibraryImportAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ConvertToLibraryImportFixerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_AttributeUsage.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulValueShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessValueShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/NativeMarshallingAttributeAnalyzerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/ShapeBreakingDiagnosticSuppressorTests.cs
Labels: area-System.Runtime.InteropServices

#88374 JIT: Quirk a quirk in fgExpandVirtualVtableCallTarget
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/promotion.cpp
Labels: area-CodeGen-coreclr

#88109 JIT: Handle primitive-sized remainders overlapping padding/promotions in physical promotion
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotiondecomposition.cpp
Labels: area-CodeGen-coreclr

#88379 [LoongArch64] Fix the NotImplementedException within R2RDump.
  src/coreclr/tools/r2rdump/Program.cs
Labels: area-R2RDump-coreclr, community-contribution

#88381 [mono][interp] Extract simd create opcodes in separate methods
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono

#88366 change regex options tests to extension method
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
Labels: area-System.Text.RegularExpressions

#88398 [mono] Respect KeepNativeSymbols when building cross compilers.
  src/mono/mono.proj
Labels: area-Build-mono

#88397 [mono][llvm] Fix another crash when using opaque pointers.
  src/mono/mono/mini/mini-llvm.c
Labels: area-Codegen-LLVM-mono

#88302 Move IMeterFactory to System.Diagnostics.DiagnosticSource
  src/libraries/Microsoft.Extensions.Diagnostics.Abstractions/Microsoft.Extensions.Diagnostics.Abstractions.sln
  src/libraries/Microsoft.Extensions.Diagnostics.Abstractions/README.md
  src/libraries/Microsoft.Extensions.Diagnostics.Abstractions/ref/Microsoft.Extensions.Diagnostics.Abstractions.cs
  src/libraries/Microsoft.Extensions.Diagnostics.Abstractions/ref/Microsoft.Extensions.Diagnostics.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Diagnostics.Abstractions/src/Microsoft.Extensions.Diagnostics.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Diagnostics/Microsoft.Extensions.Diagnostics.sln
  src/libraries/Microsoft.Extensions.Diagnostics/ref/Microsoft.Extensions.Diagnostics.csproj
  src/libraries/Microsoft.Extensions.Diagnostics/src/Metrics/MetricsServiceExtensions.cs
  src/libraries/Microsoft.Extensions.Diagnostics/src/Microsoft.Extensions.Diagnostics.csproj
  src/libraries/Microsoft.Extensions.Diagnostics/tests/Microsoft.Extensions.Diagnostics.Tests.csproj
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Diagnostics.DiagnosticSource/ref/System.Diagnostics.DiagnosticSourceActivity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/IMeterFactory.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MeterFactoryExtensions.cs
Labels: new-api-needs-documentation, area-System.Diagnostics.Metric

#88402 Bump to libc++ without libatomic linkage
  eng/Version.Details.xml
  eng/Versions.props
Labels: needs-area-label

#88093 Faster optimized frozen dictionary creation (6/6)
  src/libraries/Common/tests/System/Collections/ICollection.Generic.Tests.cs
  src/libraries/Common/tests/System/Collections/IDictionary.Generic.Tests.cs
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Constants.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/ItemsFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/KeysAndValuesFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/SmallFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/LengthBuckets.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/LengthBucketsFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/LengthBucketsFrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/ValueTypeDefaultComparerFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/ValueTypeDefaultComparerFrozenSet.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenDictionaryTests.cs
Labels: area-System.Collections, tenet-performance

#88340 Permit trailing data after PKCS12 on iOS
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.ImportExport.iOS.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxIterationCountTests.cs
Labels: area-System.Security, os-ios

#88160 Add clr.tools subset to runtime-community
  eng/pipelines/runtime-community.yml
Labels: area-Infrastructure, arch-s390x

#88393 Improve non-SIMD block copy/init codegen
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#88255 Implement JsonTypeInfoResolver.WithAddedModifier
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Converters.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoResolver.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoResolverWithAddedModifiers.cs
  src/libraries/System.Text.Json/tests/Common/JsonSerializerWrapper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonPropertyInfo.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/JsonTypeInfoResolverTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#88231 Tar: set directory modification times while extracting.
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarFile.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHelpers.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.CreateFromDirectory.File.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.CreateFromDirectoryAsync.File.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.ExtractToDirectory.File.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarFile/TarFile.ExtractToDirectoryAsync.File.Tests.cs
Labels: community-contribution, area-System.Formats.Tar

#88261 [iOS] Add temp cindex attribute to build on xcode 15
  src/mono/mono/tools/offsets-tool/clang/cindex.py
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
Labels: area-Infrastructure-mono

#88157 Suppress System.Drawing.Common dependency from System.Windows.Extensions
  src/libraries/System.Windows.Extensions/ref/System.Windows.Extensions.csproj
  src/libraries/System.Windows.Extensions/src/System.Windows.Extensions.csproj
  src/libraries/System.Windows.Extensions/tests/System.Windows.Extensions.Tests.csproj
  src/libraries/testPackages/packageSettings/System.Security.Permissions/settings.targets
  src/libraries/testPackages/packageSettings/System.Windows.Extensions/settings.targets
Labels: area-Microsoft.Win32, breaking-change, needs-breaking-change-doc-created

#88363 Fix SIMD node DOT retType
  src/coreclr/jit/simdashwintrinsic.cpp
Labels: area-CodeGen-coreclr

#88417 [mono] Fix InlineArrayAttribute access on big-endian platforms
  src/mono/mono/metadata/class-init.c
Labels: area-VM-meta-mono, community-contribution

#88385 JIT: Compute BB weights with higher precision, use tolerance in if-conversion
  src/coreclr/jit/block.cpp
  src/coreclr/jit/ifconversion.cpp
Labels: area-CodeGen-coreclr

#88410 Fix Codespaces prebuild after CMake upgrade and set policy in Mono
  .devcontainer/libraries/Dockerfile
  .devcontainer/libraries/devcontainer.json
  .devcontainer/wasm/Dockerfile
  .devcontainer/wasm/devcontainer.json
  src/mono/CMakeLists.txt
Labels: area-Infrastructure-coreclr

#88421 Fix AVX512 moves on X86
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#88006 Unify Default Comparer logic
  src/coreclr/System.Private.CoreLib/src/System/Collections/Generic/ComparerHelpers.cs
  src/coreclr/jit/importercalls.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/jitinterface.cpp
  src/mono/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/CompilerServices/JitHelpers.cs
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/mini.c
  src/tests/JIT/opt/Devirtualization/Comparer_get_Default.cs
  src/tests/JIT/opt/Devirtualization/Comparer_get_Default.csproj
  src/tests/JIT/opt/Devirtualization/UncommonEnums.il
  src/tests/JIT/opt/Devirtualization/UncommonEnums.ilproj
Labels: area-VM-coreclr, community-contribution

#83001 Add option to decrypt Quic traffic in debug builds
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicSafeHandle.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicTlsSecret.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
Labels: area-System.Net.Quic

#88435 [mono] Fix sorting custom attributes in ILStrip
  src/tasks/MonoTargetsTasks/ILStrip/AssemblyStripper/AssemblyStripper.cs
Labels: area-VM-meta-mono

#84122 JIT: Always look for SIMD fields during promotion
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#88440 Add gtNewGenericCon
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#88241 Make DoesConsoleSupportAnsi respect DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerProvider.cs
Labels: area-Extensions-Logging, community-contribution

#88154 Dedup Task.WhenAll non-generic and generic implementations
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/FutureFactory.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskFactory.cs
Labels: area-System.Threading.Tasks

#88432 Add docs for AsyncInterfaces
  src/libraries/Microsoft.Bcl.AsyncInterfaces/src/Microsoft.Bcl.AsyncInterfaces.csproj
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConfiguredAsyncDisposable.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConfiguredCancelableAsyncEnumerable.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/EnumeratorCancellationAttribute.cs
Labels: needs-area-label

#88430 Add consultants for some extensions areas
  docs/area-owners.md
Labels: area-Meta

#87899 Type equivalence support in Crossgen2
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/tools/Common/Compiler/CompilerTypeSystemContext.Validation.cs
  src/coreclr/tools/Common/Compiler/TypeExtensions.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/TypeSystem/Common/CastingHelper.TypeEquivalence.cs
  src/coreclr/tools/Common/TypeSystem/Common/CastingHelper.cs
  src/coreclr/tools/Common/TypeSystem/Common/InstantiatedType.TypeEquivalence.cs
  src/coreclr/tools/Common/TypeSystem/Common/InstantiatedType.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/tools/Common/TypeSystem/Common/MethodDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeDesc.TypeEquivalence.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemContext.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaModule.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaType.TypeEquivalence.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaType.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EffectiveVisibility.cs
  src/coreclr/tools/Common/TypeSystem/Interop/MarshalAsDescriptor.cs
  src/coreclr/tools/Common/TypeSystem/RuntimeDetermined/RuntimeDeterminedType.cs
  src/coreclr/tools/ILVerification/ILVerification.csproj
  src/coreclr/tools/ILVerification/ILVerification.projitems
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeValidationChecker.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/Canonicalization.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/Platform.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/ILCompiler.TypeSystem.Tests.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TestTypeSystemContext.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceAssembly/TypeEquivalenceAssembly1.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceAssembly/TypeEquivalenceAssembly2.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceAssembly/TypesWhichDoNotLoad.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceAssembly/TypesWhichDoNotMatch.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceAssembly/TypesWhichMatch.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceTests.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
  src/coreclr/vm/methodtable.cpp
  src/tests/baseservices/typeequivalence/istypeequivalent/istypeequivalent.cs
  src/tests/baseservices/typeequivalence/istypeequivalent/istypeequivalent.csproj
  src/tests/baseservices/typeequivalence/istypeequivalent/typeequivalenttypes_1.csproj
  src/tests/baseservices/typeequivalence/istypeequivalent/typeequivalenttypes_2.csproj
  src/tests/baseservices/typeequivalence/signatures/basetestclassesil.il
  src/tests/baseservices/typeequivalence/signatures/basetestclassesil.ilproj
  src/tests/baseservices/typeequivalence/signatures/nopiatestil.il
  src/tests/baseservices/typeequivalence/signatures/nopiatestil.ilproj
  src/tests/baseservices/typeequivalence/signatures/testclassesil.il
  src/tests/baseservices/typeequivalence/signatures/testclassesil.ilproj
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#88425 Fix which path is taken in Enumerable.Select for empty partition
  src/libraries/System.Linq/src/System/Linq/Enumerable.SizeOpt.cs
  src/libraries/System.Linq/src/System/Linq/Enumerable.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Select.cs
Labels: area-System.Linq

#88446 Disable use of certains R2R data structures in the DAC
  src/coreclr/vm/readytoruninfo.cpp
Labels: area-Diagnostics-coreclr

#88063 Fix unsafe walking of DacEnumerableHash
  src/coreclr/vm/dacenumerablehash.h
  src/coreclr/vm/dacenumerablehash.inl
Labels: area-TypeSystem-coreclr

#88450 Fix diagnostic message
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
Labels: area-System.Runtime.InteropServices

#88454 Delete formatter test blob for `EqualityComparer<byte>.Default`
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
Labels: needs-area-label

#88445 Update branding to 7.0.10
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#88444 Update branding to 6.0.21
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#88311 [RISC-V] Fix floating point
  src/coreclr/vm/argdestination.h
  src/coreclr/vm/callhelpers.cpp
  src/coreclr/vm/object.cpp
  src/coreclr/vm/riscv64/calldescrworkerriscv64.S
Labels: area-VM-coreclr, community-contribution, arch-riscv

#88210 [Android] Add NdkToolFinder task & Fix up AOT app build
  Directory.Build.props
  src/mono/mono/mini/aot-compiler.c
  src/mono/msbuild/android/build/AndroidBuild.props
  src/mono/msbuild/android/build/AndroidBuild.targets
  src/mono/sample/Android/AndroidSampleApp.csproj
  src/mono/sample/Android/Makefile
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/Common/Utils.cs
  src/tasks/MobileBuildTasks/Android/Ndk/AndroidArch.cs
  src/tasks/MobileBuildTasks/Android/Ndk/Ndk.cs
  src/tasks/MobileBuildTasks/Android/Ndk/NdkTools.cs
  src/tasks/MobileBuildTasks/Android/Ndk/NdkVersion.cs
  src/tasks/MobileBuildTasks/Android/Tasks/NdkToolFinder.cs
  src/tasks/MobileBuildTasks/MobileBuildTasks.csproj
  src/tests/FunctionalTests/Android/Device_Emulator/AOT_LLVM/Android.Device_Emulator.Aot_Llvm.Test.csproj
Labels: area-Build-mono

#87785 Setup support for managed runtime events
  eng/pipelines/runtime.yml
  src/coreclr/nativeaot/Runtime/EventPipeInterface.h
  src/coreclr/nativeaot/Runtime/clretwallmain.h
  src/coreclr/nativeaot/Runtime/clreventpipewriteevents.h
  src/coreclr/nativeaot/Runtime/diagnosticserveradapter.h
  src/coreclr/nativeaot/Runtime/disabledeventpipeinternal.cpp
  src/coreclr/nativeaot/Runtime/disabledruntimeeventinternal.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/eventpipe/disableddotnetruntime.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/dotnetruntime.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-types-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-config-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-types-aot.h
  src/coreclr/nativeaot/Runtime/eventpipeadapter.h
  src/coreclr/nativeaot/Runtime/eventpipeadaptertypes.h
  src/coreclr/nativeaot/Runtime/eventpipeinternal.cpp
  src/coreclr/nativeaot/Runtime/eventtrace.h
  src/coreclr/nativeaot/Runtime/gctoclreventsink.cpp
  src/coreclr/nativeaot/Runtime/rheventtrace.cpp
  src/coreclr/nativeaot/Runtime/runtimeeventinternal.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/Eventing/NativeRuntimeEventSource.Threading.NativeSinks.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Exception.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/tests/tracing/Directory.Build.props
  src/tests/tracing/eventcounter/runtimecounters.csproj
  src/tests/tracing/eventpipe/config/name_config_with_pid.csproj
  src/tests/tracing/eventpipe/diagnosticport/diagnosticport.csproj
  src/tests/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.cs
  src/tests/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.csproj
  src/tests/tracing/eventpipe/eventsvalidation/GCEvents.cs
  src/tests/tracing/eventpipe/eventsvalidation/GCEvents.csproj
  src/tests/tracing/eventpipe/eventsvalidation/GCFinalizers.cs
  src/tests/tracing/eventpipe/eventsvalidation/GCFinalizers.csproj
  src/tests/tracing/eventpipe/providervalidation/providervalidation.cs
  src/tests/tracing/eventpipe/providervalidation/providervalidation.csproj
  src/tests/tracing/eventpipe/reverse/reverse.csproj
  src/tests/tracing/eventpipe/simpleprovidervalidation/simpleprovidervalidation.cs
  src/tests/tracing/eventpipe/simpleruntimeeventvalidation/simpleruntimeeventvalidation.cs
  src/tests/tracing/eventpipe/simpleruntimeeventvalidation/simpleruntimeeventvalidation.csproj
Labels: area-NativeAOT-coreclr

#87141 Optimize Ascii.Equals when widening
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Equality.cs
  src/libraries/System.Text.Encoding/tests/Ascii/EqualsTests.cs
Labels: area-System.Text.Encoding

#88468 [RISC-V] Increase instruction group size
  src/coreclr/jit/emit.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#87082 Inline TLS field access for linux/osx x64/arm64
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitfmtsarm64.h
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/instrsarm64.h
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/vm/amd64/asmhelpers.S
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#87771 Enable reading process environment variables in EventPipe
  eng/pipelines/runtime.yml
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ds-rt-aot.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/tests/tracing/eventpipe/processenvironment/processenvironment.csproj
Labels: area-NativeAOT-coreclr

#88472 Disable System.Diagnostics.Tests.EventLogMessagesTests.CanReadAndWriteMessages on Windows 11
  src/libraries/System.Diagnostics.EventLog/tests/EventLogMessagesTests.cs
Labels: area-System.Diagnostics.EventLog

#88428 [MONO] Incorrect timestamps for perf events
  src/mono/cmake/config.h.in
  src/mono/cmake/configure.cmake
Labels: area-Build-mono, community-contribution

#88462 Tar: use UtcDateTime when setting last write time.
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHelpers.cs
Labels: community-contribution, area-System.Formats.Tar

#88214 fix TLS resume with HttpClientHandler on Linux
  src/libraries/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/LoopbackServer.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#88273 NativeAOT Watson changes for crashes/unhandled exceptions
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/nativeaot/Runtime/RuntimeInstance.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/DeveloperExperience/DeveloperExperience.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/CrashInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.RaiseFailFastException.cs
  src/libraries/Common/src/System/HResults.cs
Labels: area-NativeAOT-coreclr

#88364 Update testing.md
  docs/workflow/testing/libraries/testing.md
Labels: area-Meta

#88498 [wasm] Disable runtime test dependent on creating a process
  src/tests/issues.targets
Labels: arch-wasm, area-VM-meta-mono

#88500 Disable failing `simpleruntimeeventvalidation` test on mono.
  src/tests/issues.targets
Labels: arch-wasm, disabled-test, area-VM-meta-mono

#88371 Bring back old array enumerator code
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.NativeAot.cs
  src/libraries/System.Private.CoreLib/src/System/Array.Enumerators.cs
  src/mono/System.Private.CoreLib/src/System/Array.Mono.cs
Labels: area-NativeAOT-coreclr

#88480 Disable default JSON reflection when PublishTrimmed == true
  src/tools/illink/src/ILLink.Tasks/build/Microsoft.NET.ILLink.targets
Labels: linkable-framework, area-Tools-ILLink

#88466 [mono][interp] Tweaks to x86 call convention handling
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#88452 Extend `JsonIncludeAttribute` and `JsonConstructorAttribute` support to internal and private members
  docs/project/list-of-diagnostics.md
  src/libraries/System.Text.Json/Common/ReflectionExtensions.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.DiagnosticDescriptors.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/Resources/Strings.resx
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.de.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.es.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.it.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Text.Json/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonMetadataServices.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionEmitMemberAccessor.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.AttributePresence.cs
  src/libraries/System.Text.Json/tests/Common/JsonSerializerWrapper.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.NonPublicAccessors.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Tests.targets
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/CompilationHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Unit.Tests/JsonSourceGeneratorDiagnosticsTests.cs
Labels: area-System.Text.Json

#88259 [RISC-V] Fix .cfi directives for ThePreStub
  src/coreclr/pal/inc/unixasmmacrosriscv64.inc
  src/coreclr/pal/src/arch/riscv64/callsignalhandlerwrapper.S
  src/coreclr/pal/src/arch/riscv64/context2.S
  src/coreclr/vm/riscv64/asmhelpers.S
  src/coreclr/vm/riscv64/pinvokestubs.S
Labels: area-VM-coreclr, community-contribution, arch-riscv

#88508 Reduce size of ArgumentOutOfRangeException throw helpers when not inlined
  src/libraries/System.Private.CoreLib/src/System/ArgumentOutOfRangeException.cs
Labels: area-System.Runtime, tenet-performance

#81632 Optimized conversions between `Half` and `Single`.
  src/libraries/System.Private.CoreLib/src/System/Half.cs
Labels: area-System.Numerics, tenet-performance, community-contribution

#86287 StringBuilder: use Span.Fill in Append repeating char
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Runtime/tests/System/Text/StringBuilderTests.cs
Labels: area-System.Runtime, tenet-performance, community-contribution

#84733 Improve BigInteger operators +, - and * for trivial cases
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
Labels: area-System.Numerics, tenet-performance, community-contribution

#88487 Use E3 to completely clear console on Unix when possible
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/libraries/System.Console/src/System/TerminalFormatStrings.cs
  src/libraries/System.Console/tests/TermInfo.Unix.cs
Labels: area-System.Console, community-contribution

#86070 FIx SequenceReader Rewind(0) state corruption
  src/libraries/System.Memory/src/System/Buffers/SequenceReader.cs
  src/libraries/System.Memory/tests/SequenceReader/Rewind.cs
Labels: area-System.Buffers, community-contribution

#88526 Fix Int128 truncating conversion discarding significant bits
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/tests/BigIntegerTests.GenericMath.cs
Labels: area-System.Numerics, community-contribution

#88396 Disallow Options source gen produce diagnostics from outside the compilation
  src/libraries/Microsoft.Extensions.Options/gen/Parser.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Main.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Microsoft.Extensions.Options.SourceGeneration.Unit.Tests.csproj
Labels: area-Extensions-Options, source-generator

#88420 Print variable types when dumping the output
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr, community-contribution

#87161 [interp] Add MINT_STELEM_VT_NOREF
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: area-Codegen-Interpreter-mono

#88493 [RISC-V, LOONGARCH64] Fix FuncEvalHijack stack allocation
  src/coreclr/debug/ee/loongarch64/dbghelpers.S
  src/coreclr/debug/ee/riscv64/dbghelpers.S
  src/coreclr/pal/src/arch/loongarch64/activationhandlerwrapper.S
  src/coreclr/pal/src/arch/loongarch64/dispatchexceptionwrapper.S
Labels: area-Diagnostics-coreclr, community-contribution, arch-loongarch64, arch-riscv

#88531 Have jitstress_isas_x86_evex set PreferredVectorBitWidth=512
  eng/pipelines/coreclr/jitstress-isas-avx512.yml
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/jitconfigvalues.h
  src/tests/Common/testenvironment.proj
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId.cs
  src/tests/readytorun/HardwareIntrinsics/X86/CpuId.cs
Labels: area-CodeGen-coreclr, arch-avx512

#85445 [Mono][RISC-V] emit mul inst instead of emulated mul
  src/mono/mono/arch/riscv/riscv-codegen.h
  src/mono/mono/mini/cpu-riscv64.mdesc
  src/mono/mono/mini/exceptions-riscv.c
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-riscv.h
  src/mono/mono/mini/tramp-riscv.c
Labels: area-VM-meta-mono, community-contribution, arch-riscv

#88552 Fix XML doc for Avx.Floor
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx.cs
Labels: area-System.Runtime.Intrinsics, community-contribution

#88584 [RISC-V] Disable Inline TLS field access on RISC-V
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#88282 Fix missing GC events on non-Windows for nativeaot
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/eventpipe/disableddotnetruntime.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/dotnetruntime.cpp
  src/coreclr/nativeaot/Runtime/eventtrace.cpp
  src/coreclr/nativeaot/Runtime/eventtrace.h
  src/coreclr/nativeaot/Runtime/eventtrace_bulktype.cpp
  src/coreclr/nativeaot/Runtime/eventtrace_etw.h
  src/coreclr/nativeaot/Runtime/eventtrace_gcheap.cpp
  src/coreclr/nativeaot/Runtime/eventtracebase.h
  src/coreclr/nativeaot/Runtime/eventtracepriv.h
  src/coreclr/nativeaot/Runtime/gcenv.h
  src/coreclr/nativeaot/Runtime/rheventtrace.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/eventtrace_bulktype.cpp
  src/coreclr/vm/eventtrace_gcheap.cpp
Labels: area-NativeAOT-coreclr

#88447 Ensure that NI_Vector_Dot is always handled as TYP_SIMD
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
Labels: area-CodeGen-coreclr

#88114 [wasm] [jiterp] Use wasm if opcode for null checks and conditional branches
  src/mono/wasm/runtime/jiterpreter-support.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: area-Codegen-Interpreter-mono

#88329 [browser] Internalize assetUniqueQuery as modulesUniqueQuery
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/SecondRuntimeTest.js
  src/mono/wasm/runtime/dotnet.d.ts
  src/mono/wasm/runtime/loader/assets.ts
  src/mono/wasm/runtime/loader/blazor/_Integration.ts
  src/mono/wasm/runtime/loader/config.ts
  src/mono/wasm/runtime/loader/polyfills.ts
  src/mono/wasm/runtime/snapshot.ts
  src/mono/wasm/runtime/types/index.ts
  src/mono/wasm/runtime/types/internal.ts
  src/mono/wasm/test-main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#87398 Fix example of building a library.
  docs/workflow/building/libraries/README.md
Labels: documentation, area-Meta, community-contribution

#88591 Convert RegistryKey.SystemKeyHandle to method
  src/libraries/Microsoft.Win32.Registry/src/Microsoft/Win32/RegistryKey.cs
Labels: area-Diagnostics-coreclr, community-contribution

#88368 [libs][Unix][perf] Lazily initialize TimeZoneInfo names and order GetSystemTimeZones by Ids
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.FullGlobalizationData.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.MinimalGlobalizationData.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Win32.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
Labels: area-System.DateTime

#86864 Missing symbol crash fix
  src/mono/dlls/mscordbi/CMakeLists.txt
Labels: area-Debugger-mono, community-contribution

#86868 Fix crash happening due to invalid pointer to free()
  src/mono/dlls/mscordbi/CMakeLists.txt
Labels: area-VM-meta-mono, community-contribution

#88511 fix processing of TLS renegotiation
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.IO.cs
Labels: area-System.Net.Security

#88321 Fix CoreCLR tests build with skipmanaged option
  src/tests/Interop/DllImportSearchPaths/DllImportSearchPathsTest.csproj
  src/tests/Interop/NativeLibrary/API/NativeLibraryTests.csproj
Labels: area-Interop-coreclr, community-contribution

#88351 [release/6.0-staging][mono][debugger] Showing "Frame not in module" after vscode-js-debug bump on VS
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Labels: Servicing-approved, area-Debugger-mono

#88336 [release/7.0-staging][mono][debugger] Showing "Frame not in module" after vscode-js-debug bump on VS
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/Firefox/FirefoxMonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
Labels: Servicing-approved, area-Debugger-mono

#88606 [mono][interp] Add support for missing argument storage type on arm64
  src/mono/mono/mini/mini-arm64.c
Labels: area-Codegen-JIT-mono

#88595 [wasm] Update PackedSimd API
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/PackedSimd.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Wasm/PackedSimd.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/IndexOfAnyAsciiSearcher.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/mono/mono/mini/interp/interp-simd-intrins.def
  src/mono/mono/mini/interp/interp-simd.c
  src/mono/mono/mini/interp/simd-methods.def
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
  src/mono/wasm/runtime/jiterpreter-tables.ts
  src/mono/wasm/runtime/jiterpreter-trace-generator.ts
Labels: new-api-needs-documentation, needs-area-label

#88260 Add C library detection to processinfo3 test
  src/tests/tracing/eventpipe/processinfo3/processinfo3.cs
Labels: area-Diagnostics-coreclr, community-contribution

#88602 [release/7.0-staging][wasm][debugger] Improve debugger performance
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
Labels: Servicing-approved, area-Debugger-mono

#87598 [Release/7.0-staging] Allow GetILFunctionBody for dynamic methods
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#88560 Reduce boxing in logging
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LogValuesFormatter.cs
Labels: area-Extensions-Logging

#88630 [wasm][debugger] Disable failing HotReload tests
  src/mono/wasm/debugger/DebuggerTestSuite/HotReloadTests.cs
Labels: arch-wasm, area-Debugger-mono

#88345 Work around for Android builds using GCC for cross compiler native tools build
  eng/native/build-commons.sh
  eng/pipelines/common/templates/pipeline-with-resources.yml
  src/mono/mono.proj
Labels: area-Infrastructure-mono

#87339 Disable mark list optimization if we hit a per region mark list overflow (#86508)
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: Servicing-approved, area-GC-coreclr

#87546 [release/7.0-staging][wasm] CI: Fix EAT/AOT tests build
  src/libraries/tests.proj
Labels: Servicing-approved, arch-wasm, area-Build-mono

#86504 Add Support For Multiplexing `System.Diagnostics.Metrics` for `Dotnet Monitor` and `Dotnet Counters`
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/AggregationManager.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MetricsEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/MetricEventSourceTests.cs
Labels: area-System.Diagnostics.Metric, community-contribution

#87990 [mono][aot] Avoid prefer-ing gsharedvt versions of AsyncMethodBuilder…
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#88369 [mono] Precompute the CallInfo structure used by the mono_arch_..nati…
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-x86.c
  src/mono/mono/mini/mini.h
Labels: area-VM-meta-mono

#88542 Fixes #82871 Add an additional constructor for StackTrace
  src/libraries/System.Diagnostics.StackTrace/ref/System.Diagnostics.StackTrace.cs
  src/libraries/System.Diagnostics.StackTrace/tests/StackTraceTests.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackTrace.cs
Labels: area-System.Diagnostics, new-api-needs-documentation, community-contribution

#88635 [wasm][debugger]Fix hotreload tests
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/DebuggerTestSuite/HotReloadTests.cs
Labels: area-Debugger-mono

#87143 GetTotalPauseDuration implementation (#68835)
  src/coreclr/System.Private.CoreLib/src/System/GC.cs
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcimpl.h
  src/coreclr/gc/gcinterface.h
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/ecalllist.h
  src/libraries/System.Runtime/src/MatchingRefApiCompatBaseline.txt
  src/mono/System.Private.CoreLib/src/System/GC.Mono.cs
  src/tests/GC/API/GC/GetTotalPauseDuration.cs
  src/tests/GC/API/GC/GetTotalPauseDuration.csproj
Labels: NO-MERGE, Servicing-approved, area-GC-coreclr, new-api-needs-documentation

#87525 [release/6.0-staging] Reset OOB packages from 6.0.19
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
Labels: Servicing-approved, area-Infrastructure-libraries

#87526 [release/7.0-staging] Reset OOB packages from 7.0.8
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
Labels: Servicing-approved, area-Infrastructure-libraries

#88230 Add support to specify substitutions externally
  src/coreclr/tools/Common/Compiler/ProcessLinkerXmlBase.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/DependencyGraphTests.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/BodySubstitution.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/BodySubstitutionParser.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/FeatureSwitchManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ManifestResourceBlockingPolicy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/Mono.Linker.Tests/TestCasesRunner/ILCompilerDriver.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/FeatureSwitches.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/ILLink.Substitutions.xml
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/NonEmbedded.ILLink.Substitutions1.xml
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/NonEmbedded.ILLink.Substitutions2.xml
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/TrimmingBehaviors.csproj
Labels: area-NativeAOT-coreclr

#79885 Disable outerloop tests on mono/mobile and fix timeout in sendtohelixhelp.proj
  eng/pipelines/libraries/outerloop-mono.yml
  src/libraries/System.Diagnostics.DiagnosticSource/tests/DiagnosticSourceTests.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.Windows.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
  src/libraries/System.DirectoryServices.AccountManagement/tests/PrincipalContextTests.cs
  src/libraries/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/ActiveDirectoryInterSiteTransportTests.cs
  src/libraries/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/DomainControllerTests.cs
  src/libraries/System.DirectoryServices/tests/System/DirectoryServices/ActiveDirectory/ForestTests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.LongFile.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntryAsync.LongFile.Tests.cs
  src/libraries/System.Management/tests/System/Management/ManagementEventWatcherTests.cs
  src/libraries/System.Management/tests/System/Management/ManagementObjectSearcherTests.cs
  src/libraries/System.Management/tests/System/Management/ManagementObjectSearcherTestsMofRequired.cs
  src/libraries/System.Management/tests/System/Management/ManagementObjectTests.cs
  src/libraries/System.Memory/tests/EncodingExtensions/EncodingExtensionsTests.cs
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/libraries/System.Runtime.Extensions/tests/System/EnvironmentTests.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/BigIntegerToStringTests.cs
  src/libraries/System.Runtime/tests/System/DoubleTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/DecryptTestsRsaPaddingModeTests.cs
  src/libraries/System.Security.Principal.Windows/tests/WindowsIdentityImpersonatedTests.netcoreapp.cs
  src/libraries/System.Text.Json/tests/Common/CollectionTests/CollectionTests.AsyncEnumerable.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.Cache.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.KnownPattern.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexIgnoreCaseTests.cs
  src/libraries/sendtohelixhelp.proj
Labels: area-Infrastructure-mono

#88464 Move Win32 resource emission to the compiler
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/tools/Common/Compiler/Win32Resources/ResourceData.Reader.cs
  src/coreclr/tools/Common/Compiler/Win32Resources/ResourceData.ResourcesDataModel.cs
  src/coreclr/tools/Common/Compiler/Win32Resources/ResourceData.UpdateResourceDataModel.cs
  src/coreclr/tools/Common/Compiler/Win32Resources/ResourceData.Win32Structs.cs
  src/coreclr/tools/Common/Compiler/Win32Resources/ResourceData.cs
  src/coreclr/tools/aot/ILCompiler.Build.Tasks/DumpNativeResources.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Win32ResourcesRootProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/ILCompiler/reproNative/reproNative.vcxproj
  src/tests/Directory.Build.targets
  src/tests/nativeaot/SmokeTests/Win32Resources/Win32Resources.cs
  src/tests/nativeaot/SmokeTests/Win32Resources/Win32Resources.csproj
  src/tests/nativeaot/SmokeTests/Win32Resources/build.cmd
  src/tests/nativeaot/SmokeTests/Win32Resources/test.rc
  src/tests/nativeaot/SmokeTests/Win32Resources/test.res
Labels: area-NativeAOT-coreclr

#88646 [manual] Merge release/7.0-staging into release/7.0
  eng/Version.Details.xml
  eng/Versions.props
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/installer/tests/HostActivation.Tests/PortableAppActivation.cs
  src/installer/tests/HostActivation.Tests/StartupHooks.cs
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Deflater.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Inflater.cs
  src/libraries/System.Reflection.Extensions/tests/RuntimeReflectionExtensionTests.cs
  src/libraries/System.Reflection/tests/AssemblyTests.cs
  src/libraries/tests.proj
  src/mono/mono/metadata/icall.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/wasm/debugger/BrowserDebugProxy/DebugStore.cs
  src/mono/wasm/debugger/BrowserDebugProxy/DevToolsHelper.cs
  src/mono/wasm/debugger/BrowserDebugProxy/Firefox/FirefoxMonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoProxy.cs
  src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/native/corehost/hostmisc/pal.windows.cpp
  src/tasks/MonoTargetsTasks/ILStrip/AssemblyStripper/AssemblyStripper.cs
Labels: Servicing-approved, area-codeflow

#88590 Remove stub of special treatment for POSIX char ranges
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexParserTests.netcoreapp.cs
Labels: area-System.Text.RegularExpressions

#88539 Respect IsDynamicCodeSupported in more places in Linq.Expressions
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/DelegateHelpers.cs
  src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/CallInstruction.cs
  src/libraries/System.Linq.Expressions/tests/CompilerTests.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
  src/libraries/System.Private.CoreLib/src/System/Reflection/Emit/AssemblyBuilder.cs
Labels: area-System.Linq.Expressions

#88627 Add more docs for new COM source generator types
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/ComInterfaceMarshaller.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/ComObject.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/GeneratedComClassAttribute.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/GeneratedComInterfaceAttribute.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/UniqueComInterfaceMarshaller.cs
Labels: documentation, area-System.Runtime.InteropServices

#88242 [nativeaot] Add Native AOT cross-build support for iOS-like platforms
  eng/Subsets.props
  eng/build.sh
  eng/liveBuilds.targets
  eng/native/build-commons.sh
  src/coreclr/build-runtime.sh
  src/coreclr/crosscomponents.cmake
  src/coreclr/runtime.proj
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.csproj
  src/mono/sample/iOS-NativeAOT/Program.csproj
Labels: area-NativeAOT-coreclr

#87993 Read/Write Big/LittleEndian support for Guid
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System/GuidTests.cs
Labels: area-System.Runtime, new-api-needs-documentation, community-contribution

#88648 [mono] Fix the formatting of field types FieldInfo.ToString () so it …
  src/libraries/System.Runtime/tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System/Reflection/FieldInfoTests.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeFieldInfo.cs
Labels: area-CoreLib-mono

#88623 Ensure that the CpuId tests set preferredVectorByteLength to a non-zero value
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId.cs
  src/tests/readytorun/HardwareIntrinsics/X86/CpuId.cs
Labels: area-CodeGen-coreclr

#88639 Fix virtual static dispatch for variant interfaces when using default implementations
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtable.h
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/tests/Loader/classloader/StaticVirtualMethods/InterfaceVariance/ComplexHierarchyPositive.cs
  src/tests/Loader/classloader/StaticVirtualMethods/InterfaceVariance/ComplexHierarchyPositive.csproj
  src/tests/issues.targets
Labels: area-TypeSystem-coreclr

#88613 Fix options source gen with non-accessible validation attributes
  docs/project/list-of-diagnostics.md
  src/libraries/Microsoft.Extensions.Options/gen/DiagDescriptors.cs
  src/libraries/Microsoft.Extensions.Options/gen/Parser.cs
  src/libraries/Microsoft.Extensions.Options/gen/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.cs.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.de.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.es.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.fr.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.it.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ja.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ko.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.pl.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.ru.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.tr.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/Microsoft.Extensions.Options/gen/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Main.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Resources/Strings.resx
Labels: area-Extensions-Options
