Repository dotnet/runtime, pull requests merged in 2024-08, with the labels that each got.

#105353 Automatically export '__managed__Main' when needed
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/tests/nativeaot/CustomMainWithStubExe/CMakeLists.txt
  src/tests/nativeaot/CustomMainWithStubExe/CustomMainWithStubExe.cs
  src/tests/nativeaot/CustomMainWithStubExe/CustomMainWithStubExe.csproj
  src/tests/nativeaot/CustomMainWithStubExe/CustomMainWithStubExeNative.cpp
Labels: community-contribution, area-NativeAOT-coreclr

#105740 [LoongArch64] Add gcinfodumper related implementation.
  src/coreclr/debug/createdump/threadinfo.cpp
  src/coreclr/debug/daccess/datatargetadapter.cpp
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/di/rsthread.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.inl
  src/coreclr/gcdump/gcdumpnonx86.cpp
  src/coreclr/gcinfo/gcinfodumper.cpp
  src/coreclr/inc/clrnt.h
  src/coreclr/inc/crosscomp.h
  src/coreclr/inc/regdisp.h
Labels: area-Diagnostics-coreclr, community-contribution, arch-loongarch64

#105741 [LoongArch64] Implement DFEATURE_EMULATE_SINGLESTEP for LA64.
  src/coreclr/clrdefinitions.cmake
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/loongarch64/primitives.cpp
  src/coreclr/debug/inc/loongarch64/primitives.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/loongarch64/singlestepper.cpp
  src/coreclr/vm/loongarch64singlestepper.h
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr, community-contribution, arch-loongarch64

#105464 [browser] Marshalling of resolved Tasks/promises is not resolved in JS/C#
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSExportTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.mjs
Labels: arch-wasm, area-Build-mono

#105785 Partial revert of #105301 to fix build break
  eng/common/native/init-compiler.sh
Labels: area-Infrastructure

#104237 [RISC-V][LoongArch64] JIT: pass structs according to floating-point calling convention properly
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/targetloongarch64.cpp
  src/coreclr/jit/targetriscv64.cpp
  src/tests/JIT/Directed/StructABI/EmptyStructs.cpp
  src/tests/JIT/Directed/StructABI/EmptyStructs.cs
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#105676 [LoongArch64] Fix the arithmetic shift right in CodeGen::genSaveCalleeSavedRegistersHelp.
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#105674 [LoongArch64] Fix the add overflow check for A=A+A.
  src/coreclr/jit/emitloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#105789 Fix condition to run CertificateCallbackThrowPropagates test on msquic 2.4 and higher
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#105695 JIT: Check for potential store-to-load forwarding before reordering ldr -> ldp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
Labels: area-CodeGen-coreclr

#105793 Revert "Temporarily disable NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds"
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
Labels: area-System.Net.Http

#105747 Fix failing tests for GatherVectorByteOffsets (#105568)
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveGatherVectorByteOffsets.template
Labels: area-CodeGen-coreclr, community-contribution

#105777 JIT: Add out-of-bounds fallback for AdvSimd.ShiftRightLogical
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105621/Runtime_105621.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105621/Runtime_105621.csproj
Labels: area-CodeGen-coreclr

#105110 Remove support for older LLVM versions, and re-order linker flags
  src/mono/CMakeLists.txt
Labels: area-Build-mono

#105730 JIT: Fixed assertion on IsUnusedValue when creating ConditionalSelect nodes around SVE methods
  src/coreclr/jit/lowerarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105484/Runtime_105484.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105484/Runtime_105484.csproj
Labels: area-CodeGen-coreclr

#105703 Add missing tests for LoadVector*()
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveLoadMaskedUnOpTest.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveLoadVectorMaskedTest.template
Labels: area-CodeGen-coreclr, community-contribution

#105781 [mono][debugger] Fixing AV on accessing source_file_list that is NULL
  src/mono/mono/component/debugger-agent.c
Labels: area-Debugger-mono

#105831 JIT: Fix test that uses SVE intrinsic using 'nowarn'
  src/tests/JIT/Regression/JitBlue/Runtime_105484/Runtime_105484.csproj
Labels: area-CodeGen-coreclr

#105763 [PERF] Update Android App Maui rollback generation
  eng/pipelines/coreclr/templates/build-perf-bdn-app.yml
Labels: area-Infrastructure

#105671 Convert exception throwing JIT helpers to managed code.
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/ThrowHelper.cs
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/dacdbiimplstackwalk.cpp
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/eeinterface.cpp
  src/coreclr/tools/superpmi/superpmi-shared/callutils.cpp
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecall.cpp
  src/coreclr/vm/ecall.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/metasig.h
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtable.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs
Labels: area-VM-coreclr

#105816 Emit instantiated types as external references if possible
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
Labels: area-NativeAOT-coreclr

#105380 Use ArgumentNullException.ThrowIfNull in more places
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/SignatureHelper.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeCustomAttributeData.cs
  src/coreclr/nativeaot/Common/src/System/Collections/Generic/LowLevelDictionary.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/PInvokeMarshal.cs
  src/libraries/System.Collections.Concurrent/src/Resources/Strings.resx
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs
  src/libraries/System.Collections.Concurrent/src/System/ThrowHelper.cs
  src/libraries/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionaryTests.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedDictionary.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedList.cs
  src/libraries/System.Console/src/System/Console.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DSA.Xml.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Helpers.cs
  src/libraries/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/Parallel.ForEachAsync.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/NonWindowsUnsupported.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Transaction.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeMethodBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeTypeBuilder.Mono.cs
Labels: area-System.Runtime

#105735 Revert "Use IndexOf for bounded loops in a regex code gen"
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#105386 [mono][interp] Remove short branches
  src/mono/browser/runtime/jiterpreter-opcodes.ts
  src/mono/browser/runtime/jiterpreter-tables.ts
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter-opcode-values.h
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/mintops.h
  src/mono/mono/mini/interp/transform-opt.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono

#105874 [browser] Disable InterpPGO test
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/InterpPgoTests.cs
Labels: arch-wasm, area-Infrastructure-libraries, os-browser

#105858 [LoongArch64] Fix the case 'ReadyToRunHelperId.ResolveVirtualFunction' in LoongArch64ReadyToRunHelperNode.cs.
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_LoongArch64/LoongArch64ReadyToRunHelperNode.cs
Labels: community-contribution, area-NativeAOT-coreclr, arch-loongarch64

#105833 JIT: Fix overzealous assert in `CodeGen::genSSE42Intrinsic`
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105821/Runtime_105821.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105821/Runtime_105821.csproj
Labels: area-CodeGen-coreclr

#105864 ARM64-SVE: Fix API summary blocks #105796
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
Labels: area-CodeGen-coreclr, community-contribution

#99576 Simplified muxer fix
  src/installer/tests/AppHost.Bundle.Tests/BundleExtractToSpecificPath.cs
  src/installer/tests/HostActivation.Tests/InvalidHost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/ComhostSideBySide.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/SharedTestStateBase.cs
  src/installer/tests/HostActivation.Tests/NativeUnitTests.cs
  src/installer/tests/HostActivation.Tests/SelfContainedAppLaunch.cs
  src/installer/tests/HostActivation.Tests/SymbolicLinks.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Bundle/BundlerConsistencyTests.cs
  src/installer/tests/TestUtils/Binaries.cs
  src/installer/tests/TestUtils/SingleFileTestApp.cs
  src/installer/tests/TestUtils/SymLink.cs
  src/installer/tests/TestUtils/TestApp.cs
  src/native/corehost/corehost.cpp
  src/native/corehost/fxr/command_line.cpp
  src/native/corehost/fxr/fx_muxer.cpp
  src/native/corehost/fxr/hostfxr.cpp
  src/native/corehost/fxr/standalone/hostpolicy_resolver.cpp
  src/native/corehost/fxr_resolver.h
  src/native/corehost/host_startup_info.cpp
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/pal.unix.cpp
  src/native/corehost/hostmisc/pal.windows.cpp
  src/native/corehost/hostmisc/utils.cpp
  src/native/corehost/hostpolicy/args.cpp
  src/native/corehost/hostpolicy/deps_format.cpp
  src/native/corehost/hostpolicy/deps_resolver.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
  src/native/corehost/hostpolicy/shared_store.cpp
  src/native/corehost/runtime_config.cpp
  src/native/corehost/test/nativehost/host_context_test.cpp
  src/native/corehost/test/nativehost/nativehost.cpp
Labels: area-Host

#105876 [HTTP/2] Move away marking idle/non-idle from HttpConnectionPool
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: area-System.Net.Http

#105884 Add cross-linking between guidance files
  CONTRIBUTING.md
  docs/project/copyright.md
Labels: area-Meta

#105830 Fix legacy exception handling dump generation on background threads
  src/coreclr/vm/excep.cpp
Labels: area-ExceptionHandling-coreclr

#105869 JIT: Encode SIMD base type in VN for all HW intrinsics
  src/coreclr/jit/compiler.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/coreclr/jit/valuenumfuncs.h
  src/tests/JIT/Regression/JitBlue/Runtime_105721/Runtime_105721.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105721/Runtime_105721.csproj
Labels: area-CodeGen-coreclr

#105889 Fix Runtime_105821 ISA check
  src/tests/JIT/Regression/JitBlue/Runtime_105821/Runtime_105821.cs
Labels: area-CodeGen-coreclr

#105883 Ensure that we are correctly typing simd comparison nodes
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105623/Runtime_105623.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105623/Runtime_105623.csproj
Labels: area-CodeGen-coreclr

#105894 Fix field offset not being set for 0-offset
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistedAssemblyBuilder/AssemblySaveILGeneratorTests.cs
Labels: area-System.Reflection.Emit, community-contribution

#105905 [NativeAOT] Respect Align8 flag for thread statics
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/ThreadStatics.cs
  src/tests/nativeaot/SmokeTests/UnitTests/BasicThreading.cs
Labels: community-contribution, area-NativeAOT-coreclr

#105832 JIT: Make sure static ctor flag check uses a volatile load
  src/coreclr/jit/helperexpansion.cpp
Labels: area-CodeGen-coreclr

#105920 Revert "[NativeAOT] Respect Align8 flag for thread statics"
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/ThreadStatics.cs
  src/tests/nativeaot/SmokeTests/UnitTests/BasicThreading.cs
Labels: area-NativeAOT-coreclr

#105871 Do not emit unsupported thunks for delegates with `allows ref struct` generics
  src/coreclr/tools/Common/TypeSystem/IL/DelegateInfo.cs
  src/coreclr/tools/Common/TypeSystem/IL/NativeAotILProvider.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateThunks.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ILEmitter.cs
Labels: area-NativeAOT-coreclr

#104148 Avoid scanning isinst checks when building whole program view
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SubstitutedILProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/IsInstCheckPatternAnalyzer.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DeadCodeElimination.cs
Labels: area-NativeAOT-coreclr

#105794 [release/8.0-staging] Use workstation GC in outerloop NativeAOT libs runs
  eng/pipelines/extra-platforms/runtime-extra-platforms-other.yml
  src/libraries/tests.proj
Labels: Servicing-approved, area-NativeAOT-coreclr

#105873 [mono] Fail on LLVM version mismatch and add instructions for updating
  src/mono/CMakeLists.txt
Labels: area-Build-mono

#105847 JIT: Fix over-shifting logic when constant-folding `AdvSimd.ShiftRight*` and `AdvSimd.ShiftLeft*`
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/simd.h
  src/tests/JIT/Regression/JitBlue/Runtime_105621/Runtime_105621.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105817/Runtime_105817.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105817/Runtime_105817.csproj
Labels: area-CodeGen-coreclr

#105317 [WASI] bump WASI SDK 24
  eng/native/gen-buildsys.cmd
  eng/native/gen-buildsys.sh
  eng/testing/tests.wasi.targets
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/.gitignore
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttp.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.clocks.v0_2_1.MonotonicClockInterop.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.http.v0_2_1.ITypes.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.http.v0_2_1.OutgoingHandlerInterop.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.http.v0_2_1.TypesInterop.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.io.v0_2_1.ErrorInterop.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.io.v0_2_1.IError.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.io.v0_2_1.IPoll.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.io.v0_2_1.IStreams.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.io.v0_2_1.PollInterop.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld.wit.imports.wasi.io.v0_2_1.StreamsInterop.cs
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/WasiHttpWorld_component_type.wit
  src/libraries/System.Net.Http/src/System/Net/Http/WasiHttpHandler/generate-wasi-http-bindings.sh
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Threading/Wasi/.gitignore
  src/libraries/System.Private.CoreLib/src/System/Threading/Wasi/WasiEventLoop.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Wasi/WasiPoll.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Wasi/WasiPollWorld.wit.imports.wasi.io.v0_2_1.IPoll.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Wasi/WasiPollWorld.wit.imports.wasi.io.v0_2_1.PollInterop.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Wasi/generate-wasi-poll-bindings.sh
  src/libraries/sendtohelix-wasi.targets
  src/mono/Directory.Build.props
  src/mono/mono.proj
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasi/build/WasiSdk.Defaults.props
  src/mono/wasi/provision.ps1
  src/mono/wasi/wasi-sdk-version.txt
  src/mono/wasi/wasi.proj
  src/mono/wasi/wasmtime-version.txt
  src/mono/wasm/build/WasmApp.LocalBuild.props
  src/mono/wasm/data/aot-tests/Directory.Build.props
  src/native/external/wasi-sdk-p2.cmake
  src/native/libs/build-native.proj
  src/native/libs/build-native.sh
Labels: arch-wasm, area-Build-mono, os-wasi

#105854 Don't use ZR as target in LSE atomics
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/lsraarm64.cpp
Labels: area-CodeGen-coreclr

#105904 [PERF] Ensure scenario app builds are self contained
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure-coreclr

#105909 Enable x86 AOT compilation for components build
  eng/Subsets.props
Labels: arch-x86, community-contribution, area-NativeAOT-coreclr

#105779 Fix copy constructor injection for unsafe value classes
  src/coreclr/vm/jitinterface.cpp
  src/tests/Interop/IJW/CopyConstructorMarshaler/CopyConstructorMarshaler.cs
  src/tests/Interop/IJW/CopyConstructorMarshaler/IjwCopyConstructorMarshaler.cpp
Labels: area-Interop-coreclr

#104307 [mono] Only ship runtime packs that are classified as mobile targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
Labels: area-Build-mono

#105596 Partial re-revert of #104336. Only JIT fixes are included.
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitinl.h
  src/coreclr/jit/gcencode.cpp
  src/coreclr/nativeaot/Runtime/thread.cpp
Labels: area-CodeGen-coreclr

#105943 JIT: Fix NumArgs for `GetFfr*` and `CreateTrueMaskAll` HW intrinsics
  src/coreclr/jit/hwintrinsiclistarm64sve.h
Labels: area-CodeGen-coreclr

#105521 [GC] Avoid OOM in large-allocation-only workloads
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#105990 Mark ericstj as lead for area-System.Formats.Tar
  docs/area-owners.md
Labels: area-Meta

#105953 Emit logging before recompiling bad IL
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilation.cs
Labels: area-NativeAOT-coreclr

#105951 Make it possible to run ILC with non-resilient mode
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#105958 ARM64-SVE: Use `emitIns_R_R_Imm` to handle large immediates correctly
  src/coreclr/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr

#105963 Ensure side effects are preserved for Arm64
  src/coreclr/jit/gentree.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105818/Runtime_105818.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105818/Runtime_105818.csproj
Labels: area-CodeGen-coreclr

#105999 [debugger] Adding comment
  src/coreclr/vm/exceptionhandling.cpp
Labels: needs-area-label

#105911 Fix comments around static constructor memory
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/ClassConstructorRunner.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/StaticClassConstructionContext.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/CompilerServices/ClassConstructorRunner.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/CompilerServices/StaticClassConstructionContext.cs
Labels: area-NativeAOT-coreclr

#105945 Delete some useless RareFlags
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.Metadata.cs
  src/coreclr/tools/Common/Internal/Runtime/MethodTable.Constants.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
Labels: area-NativeAOT-coreclr

#105548 Update IncrementingPollingCounter only on Timer thread
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/CounterGroup.cs
Labels: area-System.Diagnostics.Tracing, community-contribution

#105995 Enable ReceiveAsync_Cancel_Success test
  src/libraries/System.Net.WebSockets.Client/tests/CancelTest.cs
Labels: area-System.Net

#105948 Emit predicated version of the MUL instruction for Sve.Multiply()
  src/coreclr/jit/hwintrinsiclistarm64sve.h
Labels: area-CodeGen-coreclr, community-contribution

#105885 ARM64-SVE: Generate FMA uses in the correct order #105723
  src/coreclr/jit/lsraarm64.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105723/Runtime_105723.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105723/Runtime_105723.csproj
Labels: area-CodeGen-coreclr, community-contribution

#106012 Merge `.managedcode` and `hydrated` sections into well-known sections
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
Labels: area-NativeAOT-coreclr

#105996 JIT: Extend USEASG liveness to cover partial writes to retbufs
  src/coreclr/jit/compiler.h
  src/coreclr/jit/liveness.cpp
Labels: area-CodeGen-coreclr

#106017 ARM64-SVE: Fix SVE API formatting for FFR APIs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, community-contribution

#105898 Fix dump generation on background threads
  src/coreclr/vm/excep.cpp
Labels: Servicing-approved, area-ExceptionHandling-coreclr

#105888 Ensure we consistently broadcast the result of simd dot product
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/morph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_99391/Runtime_99391.cs
  src/tests/JIT/Regression/JitBlue/Runtime_99391/Runtime_99391.csproj
Labels: area-CodeGen-coreclr

#105972 Ensure embedded masking is handled for emitIns_R_R
  src/coreclr/jit/emitxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105822/Runtime_105822.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105822/Runtime_105822.csproj
Labels: area-CodeGen-coreclr

#103271 Respect general-purpose bit flags when decoding ZipArchiveEntry names and comments
  src/libraries/Common/tests/System/IO/Compression/ZipTestHelper.cs
  src/libraries/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFile.Create.cs
  src/libraries/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFile.Extract.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchive.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.Comments.cs
Labels: area-System.IO.Compression, breaking-change, needs-breaking-change-doc-created

#105842 [EventPipe] Handle EventPipe Enable calls during shutdown
  src/coreclr/vm/eventpipeinternal.cpp
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventDispatcher.cs
Labels: area-Tracing-coreclr

#105711 Fix JitStackChecks failures
  src/tests/Interop/DisabledRuntimeMarshalling/PInvokeAssemblyMarshallingEnabled/Delegates.cs
  src/tests/Interop/DisabledRuntimeMarshalling/PInvokeAssemblyMarshallingEnabled/PInvokes.cs
  src/tests/Interop/ICustomMarshaler/Primitives/ICustomMarshaler.cs
Labels: area-Interop-coreclr

#105835 [release/8.0-staging] Fix problem in ReadyToRun_TypeGenericInfoMap::HasConstraints (Recovery PR)
  src/coreclr/vm/readytoruninfo.cpp
Labels: Servicing-approved, area-VM-coreclr

#106032 [PERF] Add release/9.0 to the trigger includes for perf and perf_slow.
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/perf_slow.yml
Labels: area-Infrastructure-coreclr

#105993 Ensure we aren't containing nodes that shouldn't be contained
  src/coreclr/jit/lowerxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105967/Runtime_105967.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105967/Runtime_105967.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_105968/Runtime_105968.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105968/Runtime_105968.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_105970/Runtime_105970.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105970/Runtime_105970.csproj
Labels: area-CodeGen-coreclr

#106008 Lower expected object count in gcheapenumerationprofiler test
  src/tests/profiler/native/gcheapenumerationprofiler/gcheapenumerationprofiler.cpp
Labels: area-Diagnostics-coreclr, community-contribution

#106034 Update branding to 6.0.34
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#106035 Update branding to 8.0.9
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#105709 [browser] http streaming request server error
  src/libraries/Common/tests/System/Net/Configuration.Http.cs
  src/libraries/Common/tests/System/Net/Http/ResponseStreamTest.cs
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/GenericHandler.cs
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/Handlers/StatusCodeHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/BrowserHttpHandler/BrowserHttpInterop.cs
  src/mono/browser/runtime/exports-internal.ts
  src/mono/browser/runtime/http.ts
  src/mono/browser/runtime/loader/exit.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#105119 Implement basic (recommended against) support for inheriting from COM interfaces defined in different assemblies
  docs/project/list-of-diagnostics.md
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/IncrementalValuesProviderExtensions.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CompileFails.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/TargetSignatureTests.cs
  src/libraries/System.Runtime.InteropServices/tests/Common/Verifiers/CSharpSourceGeneratorVerifier.cs
Labels: area-System.Runtime.InteropServices, source-generator

#106023 Fix _LOGALLOC define
  src/coreclr/gc/gc.h
  src/coreclr/inc/log.h
Labels: area-GC-coreclr, community-contribution

#106042 Don't hit all properties on Color in ColorTranslator
  src/libraries/System.Drawing.Primitives/src/System/Drawing/Color.cs
  src/libraries/System.Drawing.Primitives/src/System/Drawing/ColorTranslator.cs
Labels: area-System.Drawing

#106038 Fix TimeZone Names
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/TimeZoneInfoTests.cs
Labels: area-System.DateTime

#106018 [RISC-V][LoongArch64] HijackFrame::UpdateRegDisplay update A0
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/riscv64/stubs.cpp
Labels: area-VM-coreclr, community-contribution

#106016 Ensure owning type of GVMs is kept
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceGenericVirtualMethodTableNode.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
Labels: area-NativeAOT-coreclr

#106055 [PERF] Remove --user from pip installs
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure

#106010 [NativeAOT] Move RequiresAlign8 flag from RareFlags into ExtendedFlags
  src/coreclr/nativeaot/Common/src/Internal/Runtime/MethodTable.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/RuntimeExports.cs
  src/coreclr/nativeaot/Runtime/inc/MethodTable.h
  src/coreclr/tools/Common/Internal/Runtime/EETypeBuilderHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/MethodTable.Constants.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
Labels: community-contribution, area-NativeAOT-coreclr

#106026 [mono] Mark AOT modules unusable if no AOT version is found
  src/mono/mono/mini/aot-runtime.c
Labels: os-android, area-VM-meta-mono

#106043 Make sure get_total_soh_stable_size never return zero
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#106030 [wasm] Fix long branches in jiterpreter
  src/mono/browser/runtime/jiterpreter-opcodes.ts
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono

#106068 Use SVE1 variants of AddSaturate and SubtractSaturate instructions
  src/coreclr/jit/hwintrinsiclistarm64sve.h
Labels: area-CodeGen-coreclr, community-contribution

#106046 JIT: Use `jitstd::utility::scoped_code` to unmark trees during lowering
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#105783 [LoongArch64] Fix code generation for type conversion from float/double to uint/ulong.
  src/coreclr/jit/codegenloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#106065 JIT: Expose top-level address computations in local morph
  src/coreclr/jit/lclmorph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105952/Runtime_105952.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105952/Runtime_105952.csproj
Labels: area-CodeGen-coreclr

#105891 Try Fix Cpu Usage Test
  src/libraries/System.Runtime/tests/System.Runtime.Extensions.Tests/System/EnvironmentTests.cs
Labels: area-System.Runtime

#105782 Add/update AssemblyBuilder/PersistedAssemblyBuilder tests covering boundary / edge case scenarios
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/RuntimePropertyBuilder.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeTypeBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/PropertyBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/ModuleBuilder/ModuleBuilderDefineEnum.cs
  src/libraries/System.Reflection.Emit/tests/ModuleBuilder/ModuleBuilderDefineType.cs
  src/libraries/System.Reflection.Emit/tests/PersistedAssemblyBuilder/AssemblySaveTools.cs
  src/libraries/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderDefineField.cs
  src/libraries/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderDefineMethod.cs
  src/libraries/System.Reflection.Emit/tests/TypeBuilder/TypeBuilderDefineProperty.cs
  src/libraries/System.Reflection.Emit/tests/Utilities.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/RuntimePropertyBuilder.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/Emit/RuntimeTypeBuilder.Mono.cs
Labels: area-System.Reflection.Emit

#106019 [release/8.0] Bump additional npm deps and lock file format
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/package-lock.json
  src/libraries/System.Net.Http/tests/FunctionalTests/package.json
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/System.Net.WebSockets.Client/tests/package-lock.json
  src/libraries/System.Net.WebSockets.Client/tests/package.json
Labels: Servicing-approved, area-System.Net

#105776 Return null instead of throwing in ServiceDescriptor.ImplementationInstance\Type\Factory if a keyed service
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ServiceDescriptor.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceCollectionKeyedServiceExtensionsTest.cs
Labels: area-Extensions-DependencyInjection

#106069 Pass `ManagedAssemblyToLink` with `TrimmerSingleWarn=true` metadata to ILC
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#106078 [browser][MT] longer timeouts for FS in MT, one test at the time
  src/libraries/Microsoft.VisualBasic.Core/tests/Microsoft.VisualBasic.Core.Tests.csproj
  src/libraries/System.Private.Xml/tests/System.Private.Xml.Tests.csproj
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/System.IO.FileSystem.Tests.csproj
  src/libraries/System.Runtime/tests/System.IO.Tests/System.IO.Tests.csproj
  src/libraries/sendtohelix-browser.targets
Labels: arch-wasm, area-VM-threading-mono, os-browser

#105961 [release/8.0-staging] Fix copy constructor injection for unsafe value classes
  src/coreclr/vm/jitinterface.cpp
Labels: Servicing-approved, arch-x86, os-windows, area-Interop-coreclr

#105666 Fix flaky tests in WindowsServiceLifetimeTests
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/tests/WindowsServiceLifetimeTests.cs
Labels: area-Extensions-Hosting

#106060 Avoid calling GetCurrentInternalFrame if ExhaustedAllInternalFrames is true
  src/coreclr/debug/di/shimstackwalk.cpp
Labels: area-Diagnostics-coreclr

#106059 ActivatorUtilitier supports value typed values as key of keyedService.
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ActivatorUtilities.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ActivatorUtilitiesTests.cs
Labels: area-Extensions-DependencyInjection, community-contribution

#105839 Do not allow a non-keyed service to be injected to a keyed parameter
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/KeyedDependencyInjectionSpecificationTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteFactory.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderContainerTests.cs
Labels: breaking-change, area-Extensions-DependencyInjection, needs-breaking-change-doc-created

#105942 JIT: Split trees containing no-return calls to avoid creating illegal IR
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#106058 Linux createdump: skip/ignore ptrace suspend on threads that have terminated
  src/coreclr/debug/createdump/crashinfounix.cpp
Labels: area-Diagnostics-coreclr

#106040 [EventPipe] Block EventPipeProvider Deletion for ongoing callbacks
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventProvider.cs
  src/mono/mono/eventpipe/test/ep-provider-callback-dataqueue-tests.c
  src/native/eventpipe/ep-provider.c
  src/native/eventpipe/ep-provider.h
  src/native/eventpipe/ep-types.h
  src/native/eventpipe/ep.c
  src/tests/issues.targets
Labels: area-Tracing-coreclr

#106076 JIT: Fix loop memory dependence recording for memory defined in sibling loops
  src/coreclr/jit/optimizer.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105413/Runtime_105413.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105413/Runtime_105413.csproj
Labels: area-CodeGen-coreclr

#106052 Enable TLS on linux/arm64 only for static resolver
  src/coreclr/hosts/corerun/corerun.cpp
  src/coreclr/hosts/corerun/corerun.hpp
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/threadstatics.cpp
  src/tests/JIT/Directed/tls/CMakeLists.txt
  src/tests/JIT/Directed/tls/TestTLSWithLoadedDlls.cs
  src/tests/JIT/Directed/tls/TestTLSWithLoadedDlls.csproj
  src/tests/JIT/Directed/tls/testtls.cpp
Labels: area-CodeGen-coreclr

#105634 Set the initial spin count unit to 10 for DATAS.
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#106054 Fix input size flag on `vpermd`.
  src/coreclr/jit/instrsxarch.h
  src/tests/JIT/Regression/JitBlue/Runtime_105824/Runtime_105824.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105824/Runtime_105824.csproj
Labels: area-CodeGen-coreclr, community-contribution

#106053 TimeOnlyConverter should tolerate more formats in line with TimeSpanConverter
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/TimeOnlyConverter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json, community-contribution

#105836 Increment nested depth in TooDeepJsonDocument test by 10x
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonElementTests.cs
Labels: area-System.Text.Json

#106073 Add space in shared lib entrypoint option
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: community-contribution, area-NativeAOT-coreclr

#106118 Run Antigen/Fuzzlyn on Sat/Sun
  eng/pipelines/coreclr/exploratory.yml
Labels: needs-area-label

#106114 [browser][MT] disable test HttpClient_CancelInDifferentThread
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.Http.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#105903 Fix some core typeof(...) references
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ArrayMethod.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistedAssemblyBuilder/AssemblySaveEnumBuilderTests.cs
  src/libraries/System.Reflection.Emit/tests/PersistedAssemblyBuilder/AssemblySaveModuleBuilderTests.cs
Labels: area-System.Reflection.Emit

#106112 [mono][x64] Disable EmptyStructs tests on System V
  src/tests/JIT/Directed/StructABI/EmptyStructs.csproj
Labels: area-Codegen-AOT-mono, community-contribution

#105677 JIT ARM64-SVE: add missing test coverage for invalid immediate (#104809)
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/ScalarImm2UnOpTest.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveImm2UnaryOpTestTemplate.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveImmTernOpFirstArgTestTemplate.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveImmUnaryOpTestTemplate.template
Labels: area-CodeGen-coreclr, community-contribution

#106092 JIT: Remove `GT_CAST` handling in `Lowering::IsValidConstForMovImm`
  src/coreclr/jit/lowerarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_106020/Runtime_106020.cs
  src/tests/JIT/Regression/JitBlue/Runtime_106020/Runtime_106020.csproj
Labels: area-CodeGen-coreclr

#105812 ARM64-SVE: Avoid containing non-embedded conditional select #105719
  eng/pipelines/coreclr/jitstress-isas-sve.yml
  src/coreclr/jit/lowerarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105719/Runtime_105719.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105719/Runtime_105719.csproj
Labels: area-CodeGen-coreclr, community-contribution, arm-sve

#104964 JIT ARM64-SVE: Add Sve.LoadVector*FirstFaulting APIs
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveGatherVectorFirstFaultingIndices.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveLoadVectorFirstFaultingTest.template
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, community-contribution, arm-sve

#106107 Make {Try}GetAlternateLookup methods for Dictionary/HashSet instance instead of extensions
  src/libraries/System.Collections/ref/System.Collections.cs
  src/libraries/System.Collections/tests/Generic/CollectionExtensionsTests.cs
  src/libraries/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.cs
  src/libraries/System.Collections/tests/Generic/Dictionary/HashCollisionScenarios/OutOfBoundsRegression.cs
  src/libraries/System.Collections/tests/Generic/HashSet/HashSet.Generic.Tests.cs
  src/libraries/System.Console/src/System/IO/KeyParser.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/CollectionExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/HashSet.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverter.cs
Labels: area-System.Collections, new-api-needs-documentation

#105746 Assign latest virtual timestamp for added node to enable LRU manner of RegexCache
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Cache.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Cache.Tests.cs
Labels: area-System.Text.RegularExpressions, community-contribution

#106138 [NRBF] List all exceptions that can be thrown by the decoder
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/NrbfDecoder.cs
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/SerializationRecord.cs
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
Labels: binary-serialization, area-System.Formats.Nrbf

#106132 Align methods at 16-byte boundaries for CFG
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-NativeAOT-coreclr

#105907 Detect avx512 in test infra to cover more platforms
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx2.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx512.csproj
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx_NoAvx2.csproj
Labels: os-freebsd, community-contribution, area-NativeAOT-coreclr

#105145 Add a thread pool config var on Windows for choosing the number of IOCPs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.IO.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.cs
  src/libraries/System.Threading.ThreadPool/tests/System.Threading.ThreadPool.Tests.csproj
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.cs
  src/libraries/System.Threading.ThreadPool/tests/WindowsThreadPool/System.Threading.ThreadPool.WindowsThreadPool.Tests.csproj
Labels: area-System.Threading

#106159 [PERF] Remove Ubuntu Crossgen from perf tests
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
Labels: area-Infrastructure

#106100 JIT: Fix `genHWIntrinsic_R_R_RM_I` assertion handling when ins is `INS_insertps`
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_105467/Runtime_105467.cs
  src/tests/JIT/Regression/JitBlue/Runtime_105467/Runtime_105467.csproj
Labels: area-CodeGen-coreclr

#106056 [release/8.0-staging] Fix TimeZone Names
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Runtime/tests/System/TimeZoneInfoTests.cs
Labels: Servicing-approved, area-System.DateTime

#106049 Backport https://github.com/dotnet/runtime/pull/100528 to release/8.0 to fix Perf runs.
  eng/pipelines/common/upload-intermediate-artifacts-step.yml
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
Labels: Servicing-approved, area-Infrastructure

#106126 Fix Sve.StoreNarrow() tests
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
Labels: community-contribution, needs-area-label

#106097 Add package readme to framework packages
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/PACKAGE.md
Labels: area-Infrastructure-installer

#105507 Fixed a broken build with STRESS_DYNAMIC_HEAP_COUNT enabled
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#106101 [release/8.0-staging] Enable TLS on linux/arm64 only for static resolver
  src/coreclr/hosts/corerun/corerun.cpp
  src/coreclr/hosts/corerun/corerun.hpp
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/jitinterface.cpp
  src/tests/JIT/Directed/tls/CMakeLists.txt
  src/tests/JIT/Directed/tls/TestTLSWithLoadedDlls.cs
  src/tests/JIT/Directed/tls/TestTLSWithLoadedDlls.csproj
  src/tests/JIT/Directed/tls/testtls.cpp
Labels: Servicing-approved, Servicing-consider, area-CodeGen-coreclr

#106146 JIT: fix assert in assertion prop
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#106014 EventSource startup initialization
  src/coreclr/vm/corelib.h
  src/coreclr/vm/corhost.cpp
  src/libraries/System.Diagnostics.DiagnosticSource/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MetricsEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/MetricEventSourceTests.cs
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestUtilities.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.EventSource.xml
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventProvider.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventProvider.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeEventSource.cs
  src/mono/mono/eventpipe/ep-rt-mono.c
Labels: area-System.Diagnostics.Metric

#106080 [wasm] Be more cautious about page zeroing
  src/mono/mono/utils/lock-free-alloc.c
Labels: arch-wasm, area-GC-mono

#101088 Add some basic guidelines around using C++ standard headers now that our build allows us to
  docs/coding-guidelines/clr-code-guide.md
Labels: documentation, area-Meta

#106158 Fix config binding with records having collection constructor parameter
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.TestClasses.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.cs
Labels: area-Extensions-Configuration

#105841 Add WebSocket Keep-Alive Ping and Timeout (minimal) implementation
  src/libraries/Common/src/System/Net/WebSockets/WebSocketDefaults.cs
  src/libraries/Common/src/System/Net/WebSockets/WebSocketValidate.cs
  src/libraries/Common/tests/TestUtilities/TestEventListener.cs
  src/libraries/System.Net.WebSockets.Client/ref/System.Net.WebSockets.Client.cs
  src/libraries/System.Net.WebSockets.Client/src/System.Net.WebSockets.Client.csproj
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocketOptions.cs
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs
  src/libraries/System.Net.WebSockets.Client/tests/AbortTest.Loopback.cs
  src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs
  src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketTestBase.cs
  src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/KeepAliveTest.Loopback.cs
  src/libraries/System.Net.WebSockets.Client/tests/KeepAliveTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/LoopbackServer/Http2LoopbackStream.cs
  src/libraries/System.Net.WebSockets.Client/tests/LoopbackServer/LoopbackWebSocketServer.cs
  src/libraries/System.Net.WebSockets.Client/tests/LoopbackServer/ReadAheadWebSocket.cs
  src/libraries/System.Net.WebSockets.Client/tests/LoopbackServer/WebSocketHandshakeHelper.cs
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/System.Net.WebSockets.Client/tests/WebSocketHelper.cs
  src/libraries/System.Net.WebSockets/ref/System.Net.WebSockets.cs
  src/libraries/System.Net.WebSockets/src/Resources/Strings.resx
  src/libraries/System.Net.WebSockets/src/System.Net.WebSockets.csproj
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/AsyncMutex.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.KeepAlive.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/NetEventSource.WebSockets.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/WebSocket.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/WebSocketCreationOptions.cs
  src/libraries/System.Net.WebSockets/tests/System.Net.WebSockets.Tests.csproj
  src/libraries/System.Net.WebSockets/tests/WebSocketCloseTests.cs
  src/libraries/System.Net.WebSockets/tests/WebSocketKeepAliveTests.cs
  src/libraries/System.Net.WebSockets/tests/WebSocketTests.cs
Labels: area-System.Net, new-api-needs-documentation

#106150 [wasm] Use the right env variable in mono.proj for frozen cache
  src/mono/mono.proj
Labels: area-Build-mono

#105878 Consider methods returning constants same as substitutions
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SubstitutedILProvider.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DeadCodeElimination.cs
Labels: area-NativeAOT-coreclr

#105931 [NativeAOT] Emit Align8 flag for thread statics
  src/coreclr/tools/Common/TypeSystem/Common/TargetDetails.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GCStaticEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GCStaticsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NativeLayoutVertexNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ThreadStaticsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/tests/nativeaot/SmokeTests/UnitTests/BasicThreading.cs
Labels: community-contribution, area-NativeAOT-coreclr

#106062 [iOS][HybridGlobalization] Handle small buffer case in sortkey
  src/native/libs/System.Globalization.Native/pal_collation.m
Labels: area-System.Globalization, os-ios

#106177 [wasm] Fix overriding emscripten cache
  src/mono/browser/build/BrowserWasmApp.targets
Labels: arch-wasm, area-Build-mono
