Repository dotnet/runtime, pull requests merged in 2024-11, with the labels that each got.

#109349 Improve handling of encoding of X.520 attributes
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X500NameEncoder.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/NameTests.cs
Labels: area-System.Security, breaking-change, needs-breaking-change-doc-created

#109433 Set the ReferenceAssembly metadata on the manually added ReferencePath items
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Ref.sfxproj
Labels: blocking, area-Infrastructure

#104562 add new JsonIgnoreAttribute WhenWriting/WhenReading
  src/libraries/System.Text.Json/Common/JsonIgnoreCondition.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/DefaultJsonTypeInfoResolverTests.JsonPropertyInfo.cs
Labels: area-System.Text.Json, new-api-needs-documentation, community-contribution

#109424 Add annotations and regression testing for members accessed by legacy schema generation.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverterOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/NullableConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/DefaultJsonTypeInfoResolver.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/tests/Common/JsonSchemaExporterTests.cs
Labels: area-System.Text.Json

#109427 Make SocksException more informative
  src/libraries/System.Net.Http/src/Resources/Strings.resx
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocksHelper.cs
Labels: area-System.Net.Http, community-contribution

#109324 Add TryAdd and TryGetValue overloads with `out int index` to OrderedDictionary
  src/libraries/System.Collections/ref/System.Collections.cs
  src/libraries/System.Collections/src/System/Collections/Generic/OrderedDictionary.cs
  src/libraries/System.Collections/tests/Generic/OrderedDictionary/OrderedDictionary.Generic.Tests.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
Labels: area-System.Collections, new-api-needs-documentation

#109187 [cdac] GetMethodDescData for jitted methods
  docs/design/datacontracts/CodeVersions.md
  docs/design/datacontracts/Loader.md
  docs/design/datacontracts/ReJIT.md
  docs/design/datacontracts/RuntimeTypeSystem.md
  src/coreclr/debug/runtimeinfo/contracts.jsonc
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/method.hpp
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IReJIT.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/CodeVersions_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager_1.EEJitManager.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Loader_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/PrecodeStubs_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ReJITFactory.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ReJIT_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystemFactory.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.NonValidated.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/Assembly.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/MethodDesc.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/MethodDescCodeData.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/MethodTable.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/MethodTableAuxiliaryData.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ProfControlBlock.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/RuntimeTypeSystemHelpers/MethodClassification.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/RuntimeTypeSystemHelpers/MethodDescFlags_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/RuntimeTypeSystemHelpers/MethodValidation.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader/CachingContractRegistry.cs
  src/native/managed/cdacreader/src/Legacy/SOSDacImpl.cs
  src/native/managed/cdacreader/tests/MethodDescTests.cs
  src/native/managed/cdacreader/tests/MethodTableTests.cs
  src/native/managed/cdacreader/tests/MockDescriptors.cs
  src/native/managed/cdacreader/tests/PrecodeStubsTests.cs
  src/native/managed/cdacreader/tests/TestPlaceholderTarget.cs
Labels: area-Diagnostics-coreclr

#109394 JIT: account for newly unreachable blocks in morph
  src/coreclr/jit/compiler.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#109453 Update cgmanifest to align with the JSON schema
  src/native/external/cgmanifest.json
Labels: area-Infrastructure

#108401 [MonoVM] Improve thread state debugging and make it usable on Android
  src/mono/mono.proj
  src/mono/mono/utils/mono-threads-debug.h
  src/mono/mono/utils/mono-threads-state-machine.c
Labels: os-android, area-VM-threading-mono, community-contribution

#109231 Remove unnecessary unsafe keywords
  src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/HashSet.cs
Labels: area-System.Collections

#109467 Update Roslyn to 4.13.0-1.24510.9
  eng/Version.Details.xml
  eng/Versions.props
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCasesRunner/AssemblyChecker.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/DependencyInjectionSpecificationTests.cs
  src/libraries/Microsoft.Extensions.Primitives/tests/StringValuesTests.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableStackTest.cs
  src/libraries/System.Collections.Specialized/tests/ListDictionaryTests.cs
  src/libraries/System.Collections/tests/Generic/Queue/Queue.Generic.Tests.cs
  src/libraries/System.Collections/tests/Generic/Stack/Stack.Generic.Tests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/CompositionErrorTests.cs
  src/libraries/System.Diagnostics.TraceSource/tests/System.Diagnostics.TraceSource.Tests/TraceListenerClassTests.cs
  src/libraries/System.Memory/tests/Memory/CopyTo.cs
  src/libraries/System.Memory/tests/ReadOnlySpan/CopyTo.cs
  src/libraries/System.Memory/tests/Span/CopyTo.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/QCallHandles.cs
  src/libraries/System.Runtime/tests/System.Diagnostics.Debug.Tests/System.Diagnostics.Debug.Tests.csproj
  src/libraries/System.Runtime/tests/System.Globalization.Tests/System/Globalization/GraphemeBreakTest.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Runtime/CompilerServices/RuntimeHelpersTests.cs
Labels: area-Infrastructure, community-contribution

#108469 [MonoVM] Fix assert on startup with abcrem optimization enabled
  src/mono/mono/mini/decompose.c
Labels: community-contribution, needs-area-label

#109485 Do not apply the user mention automation for closed issues/prs
  .github/policies/resourceManagement.yml
Labels: area-Meta

#109473 Update dynamic methods reference
  docs/design/coreclr/botr/method-descriptor.md
  docs/project/glossary.md
Labels: area-Meta, community-contribution

#109494 Fix ifdef for RawArrayData in NativeAOT Runtime.Base
  src/coreclr/nativeaot/Runtime.Base/src/System/Array.cs
Labels: community-contribution, area-NativeAOT-coreclr

#109381 [android] Fix crash in method_to_ir
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#109399 Adding info to debug WindowsAlternateDataStreamOverwrite failure
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/File/Copy.cs
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/FileInfo/CopyTo.cs
Labels: area-System.IO

#109389 [release/8.0-staging] Fix Version.Details.xml SHA typo
  eng/Version.Details.xml
Labels: Servicing-approved, area-Infrastructure-libraries

#103450 JIT: Add 3-opt implementation for improving upon RPO-based layout
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#109470 Fix condition in PAL's SetThreadDescription
  src/coreclr/pal/src/thread/thread.cpp
Labels: area-PAL-coreclr, community-contribution

#109258 JIT: Enable EVEX embedded broadcast in more places
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#109505 JIT: Add missing `lvTracked` check in `optLocalHasNonLoopUses`
  src/coreclr/jit/inductionvariableopts.cpp
Labels: area-CodeGen-coreclr

#109539 Do not override `DefineConstants` in WBT
  src/mono/wasi/Wasi.Build.Tests/Wasi.Build.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
Labels: arch-wasm, area-Infrastructure-mono, os-wasi, os-browser

#109509 Update area owners
  .github/CODEOWNERS
  .github/policies/resourceManagement.yml
  docs/area-owners.md
Labels: area-Meta

#109519 JIT: Don't convert unreachable `BBJ_CALLFINALLYRET` blocks to `BBJ_THROW` during morph
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#109541 Unify DefineConstants
  src/coreclr/tools/ILVerification/ILVerification.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceAssembly/TypeEquivalenceAssembly1.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TypeEquivalenceAssembly/TypeEquivalenceAssembly2.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/SerializationTypes/SerializationTypes.csproj
  src/tests/Interop/NativeLibrary/Callback/CallbackStressTest_TargetWindows.csproj
  src/tests/baseservices/exceptions/WindowsEventLog/WindowsEventLog_TargetWindows.csproj
  src/tests/baseservices/typeequivalence/istypeequivalent/typeequivalenttypes_2.csproj
Labels: area-Meta, community-contribution

#109197 Fix typo in PackageDownloadAndReference.targets
  eng/PackageDownloadAndReference.targets
Labels: area-Infrastructure-libraries

#109391 Eliminate redundant SafePasswordHandle values
  src/libraries/System.Security.Cryptography/src/Microsoft/Win32/SafeHandles/SafePasswordHandle.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2Collection.cs
Labels: area-System.Security

#109228 Conditionally check the compiler flags in libs.native
  src/native/libs/CMakeLists.txt
Labels: area-Infrastructure-libraries

#109438 Add support for UTF-8 in PemEncoding
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/PemEncoding.cs
  src/libraries/System.Security.Cryptography/tests/PemEncodingFindTests.cs
  src/libraries/System.Security.Cryptography/tests/PemEncodingTests.cs
Labels: area-System.Security, new-api-needs-documentation

#108117 Cleanup after GC info version update.
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/gcinfo.h
  src/coreclr/inc/gcinfodecoder.h
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
  src/coreclr/nativeaot/Runtime/windows/CoffNativeCodeManager.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/gccover.h
  src/coreclr/vm/gcinfodecoder.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
Labels: area-VM-coreclr

#109562 Update branding to 8.0.12
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#109553 Add 1.1 runtime packages to PackageOverrides.txt
  src/installer/pkg/sfx/Microsoft.NETCore.App/PackageOverrides.txt
Labels: area-Setup

#109458 Fix FP state restore on macOS exception forwarding
  src/coreclr/pal/src/exception/machexception.cpp
Labels: area-ExceptionHandling-coreclr

#109436 Fix file name buffer size for PAL's CreateProcess
  src/coreclr/pal/src/thread/process.cpp
Labels: area-PAL-coreclr, community-contribution

#109547 JIT: Fix codegen for misaligned double `STORE_LCL_FLD` on arm32
  src/coreclr/jit/codegenarm.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_109269/Runtime_109269.cs
  src/tests/JIT/Regression/JitBlue/Runtime_109269/Runtime_109269.csproj
Labels: area-CodeGen-coreclr

#93907 Haiku: Add Haiku support for CoreCLR/PAL
  src/coreclr/ilasm/ilasmpch.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/inc/rt/safecrt.h
  src/coreclr/pal/src/arch/amd64/signalhandlerhelper.cpp
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/debug/debug.cpp
  src/coreclr/pal/src/exception/seh.cpp
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/file/file.cpp
  src/coreclr/pal/src/include/pal/context.h
  src/coreclr/pal/src/include/pal/palinternal.h
  src/coreclr/pal/src/include/pal/thread.hpp
  src/coreclr/pal/src/loader/module.cpp
  src/coreclr/pal/src/map/map.cpp
  src/coreclr/pal/src/map/virtual.cpp
  src/coreclr/pal/src/misc/cgroup.cpp
  src/coreclr/pal/src/misc/sysinfo.cpp
  src/coreclr/pal/src/thread/context.cpp
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/pal/src/thread/thread.cpp
  src/coreclr/pal/tests/palsuite/exception_handling/pal_sxs/test1/exceptionsxs.cpp
  src/coreclr/pal/tests/palsuite/filemapping_memmgt/MapViewOfFile/test1/MapViewOfFile.cpp
  src/native/minipal/debugger.c
  src/native/minipal/thread.h
Labels: area-PAL-coreclr, community-contribution, os-haiku

#109575 JIT: some deabstraction prerequisites
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compphases.h
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/objectalloc.cpp
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/IEnumerable.cs
Labels: area-CodeGen-coreclr

#109501 Dedup remaining MemoryExtensions Span overloads
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
Labels: area-System.Memory

#109576 Report more details when dictionary layout missing
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
Labels: area-NativeAOT-coreclr

#109586 Fix erroneous success in AsnDecoder.ReadEncodedValue
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnDecoder.Sequence.cs
  src/libraries/System.Formats.Asn1/tests/Decoder/ReadEncodedValueTests.cs
  src/libraries/System.Formats.Asn1/tests/Reader/ReadSequence.cs
  src/libraries/System.Formats.Asn1/tests/Reader/ReadSetOf.cs
  src/libraries/System.Formats.Asn1/tests/System.Formats.Asn1.Tests.csproj
Labels: area-System.Formats.Asn1

#109559 [ILASM] Add wrappers for platform-specific SHA-256 implementations
  src/coreclr/ilasm/CMakeLists.txt
  src/coreclr/ilasm/sha256.h
Labels: area-ILTools-coreclr

#106637 JIT: Put all CSEs into SSA
  src/coreclr/jit/block.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/inductionvariableopts.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/ssabuilder.cpp
  src/coreclr/jit/ssabuilder.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#109472 Add `STJ.Nodes.JsonArray.Remove(All|Range)`
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonArray.IList.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonArrayTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation, community-contribution

#109607 Don't drop the warning/error code and type when overriding by binlog
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
Labels: arch-wasm, test-enhancement, area-Infrastructure-mono

#109507 Clean up code with `NET8_0_OR_GREATER`
  src/libraries/System.Collections/src/System/Collections/Generic/OrderedDictionary.cs
  src/libraries/System.Collections/src/System/Collections/ThrowHelper.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/ZLibException.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ICollectionDebugView.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
Labels: area-Infrastructure, community-contribution

#109603 Fix debug-only assert in IsInPlaceSingleStep
  src/coreclr/debug/ee/controller.h
Labels: area-Diagnostics-coreclr

#109238 Fix servicing version of Microsoft.Extensions.Hosting
  src/libraries/Microsoft.Extensions.Hosting/Directory.Build.props
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
Labels: Servicing-approved, area-Extensions-Hosting

#109468 Clarifying instructions for GenerateReferenceAssemblySource target
  docs/coding-guidelines/updating-ref-source.md
Labels: area-Meta

#109564 Change iOS PEM searcher to use PemEncoding.TryFindUtf8
  src/libraries/Common/src/System/Security/Cryptography/PemLabels.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/PemEnumerator.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.Pem.iOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.Load.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRevocationListBuilder.Load.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2Collection.cs
Labels: area-System.Security

#109563 Update branding to 9.0.1
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#109616 Respect `ClassInterfaceAttribute` during COM server activation
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/tests/Interop/COM/NETServer/ClassInterfaceTesting.cs
  src/tests/Interop/COM/NativeClients/MiscTypes/CoreShim.X.manifest
  src/tests/Interop/COM/NativeClients/MiscTypes/MiscTypes.cpp
  src/tests/Interop/COM/NativeServer/Servers.h
  src/tests/Interop/COM/ServerContracts/ServerGuids.cs
Labels: area-Interop-coreclr

#109448 Add regression testing for source generated with .NET 9
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.ClassWithCustomConverter.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.DateTimeOffset.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.DictionaryStringHighLowTemps.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.GetJsonTypeInfo.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.HighLowTemps.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.Int32.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.ListDateTimeOffset.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.MyLinkedList.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.PropertyNames.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.String.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.StringArray.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.WeatherForecastWithPOCOs.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90/Net90GeneratedContext.g.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/SourceGenRegressionTests/Net90RegressionTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json

#109342 Remove uncompiled `net7.0` files
  src/libraries/System.Reflection.MetadataLoadContext/src/System.Reflection.MetadataLoadContext.csproj
  src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/TypeExtensions.net7.cs
Labels: area-System.Reflection, community-contribution

#109252 Implement IUtf8SpanParsable on System.Version
  src/libraries/System.Private.CoreLib/src/System/Version.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/VersionTests.cs
Labels: new-api-needs-documentation, community-contribution, needs-area-label

#109529 Add Span<byte> overloads for ProtectedData
  src/libraries/System.Security.Cryptography.ProtectedData/ref/System.Security.Cryptography.ProtectedData.cs
  src/libraries/System.Security.Cryptography.ProtectedData/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.ProtectedData/src/System/Security/Cryptography/ProtectedData.cs
  src/libraries/System.Security.Cryptography.ProtectedData/tests/ArrayProtectedDataTests.cs
  src/libraries/System.Security.Cryptography.ProtectedData/tests/ProtectedDataTests.cs
  src/libraries/System.Security.Cryptography.ProtectedData/tests/SpanInArrayOutProtectedDataTests.cs
  src/libraries/System.Security.Cryptography.ProtectedData/tests/SpanProtectedDataTests.cs
  src/libraries/System.Security.Cryptography.ProtectedData/tests/System.Security.Cryptography.ProtectedData.Tests.csproj
  src/libraries/System.Security.Cryptography.ProtectedData/tests/TrySpanProtectedDataTests.cs
Labels: area-System.Security, new-api-needs-documentation

#109213 use `Stopwatch.GetElapsedTime` for rate limiter
  src/libraries/System.Threading.RateLimiting/src/System.Threading.RateLimiting.csproj
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ConcurrencyLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/FixedWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/RateLimiterHelper.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/SlidingWindowRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/TokenBucketRateLimiter.cs
Labels: area-System.Threading, community-contribution

#109612 [mono] Check in offsets files used for AOT cross compilers
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-runtime-tests-and-send-to-helix.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/perf_slow.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/mono/CMakeLists.txt
  src/mono/mono.proj
  src/mono/mono/metadata/abi-details.h
  src/mono/mono/offsets/.gitignore
  src/mono/mono/offsets/README.md
  src/mono/mono/offsets/aarch64-apple-darwin10.h
  src/mono/mono/offsets/aarch64-apple-maccatalyst.h
  src/mono/mono/offsets/aarch64-v8a-linux-android.h
  src/mono/mono/offsets/armv7-none-linux-androideabi.h
  src/mono/mono/offsets/i686-none-linux-android.h
  src/mono/mono/offsets/offsets-tool.py
  src/mono/mono/offsets/wasm32-unknown-none.h
  src/mono/mono/offsets/wasm32-unknown-wasip2.h
  src/mono/mono/offsets/x86_64-apple-darwin10.h
  src/mono/mono/offsets/x86_64-apple-maccatalyst.h
  src/mono/mono/offsets/x86_64-none-linux-android.h
  src/mono/monoaotcross.proj
Labels: area-Build-mono

#108368 Expand an optimization for short values to IgnoreCase in single-value SearchValues<string>
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/SingleStringSearchValuesThreeChars.cs
Labels: area-System.Memory

#109628 Remove and readd .deb, .rpm, and .pkg as FileExtensionSignInfos
  eng/Signing.props
Labels: needs-area-label

#109526 Convert dotnet/runtime to use the new Arcade tooling for RPMs
  Directory.Build.props
  docs/workflow/using-docker.md
  eng/Subsets.props
  eng/pipelines/common/templates/pipeline-with-resources.yml
  eng/pipelines/installer/steps/build-linux-package.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/installer/pkg/sfx/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Host.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Ref.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
  src/installer/pkg/sfx/installers.proj
  src/installer/pkg/sfx/installers/Directory.Build.props
  src/installer/pkg/sfx/installers/dotnet-host.proj
  src/installer/pkg/sfx/installers/dotnet-hostfxr.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/Directory.Build.props
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-azl.3.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-centos.9.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-cm.1.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-cm.2.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-debian.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-fedora.27.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-fedora.34.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-opensuse.42.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-oraclelinux.8.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-rhel.8.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-sles.12.proj
Labels: area-Infrastructure-installer

#109253 Exclude shared libs from ilcframework in nupkg
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/Microsoft.DotNet.ILCompiler.pkgproj
Labels: community-contribution, area-NativeAOT-coreclr

#109340 Handle IOV_MAX limit in RandomAccess
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Unix.cs
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/RandomAccess/WriteGatherAsync.cs
  src/native/libs/System.Native/pal_io.c
Labels: area-System.IO

#109634 Avoid hardcoded illink.tasks TFM
  eng/liveILLink.targets
  eng/packaging.targets
  eng/testing/linker/project.csproj.template
  src/mono/msbuild/apple/build/AppleBuild.LocalBuild.props
  src/tools/illink/src/ILLink.Tasks/ILLink.Tasks.csproj
  src/tools/illink/src/ILLink.Tasks/LinkTask.cs
  src/tools/illink/src/ILLink.Tasks/build/Microsoft.NET.ILLink.Tasks.props
Labels: area-Infrastructure-libraries

#109422 Simplify temporary keychain password-gen
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Keychain.macOS.cs
Labels: area-System.Security, cryptographic-docs-impact

#104932 Move GenTreeVecCon and GenTreeMskCon under the respective FEATURE_* defines
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/gtstructs.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/optcse.cpp
Labels: area-CodeGen-coreclr

#109647 Use 1ES templateContext for workloads upload
  eng/pipelines/common/upload-intermediate-artifacts-step.yml
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-mono

#109650 Fix upload conflict Microsoft.NETCore.App.Ref in official build
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-mono

#109655 Update trimmer attributes for `ComActivator`
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/ComAwareEventInfo.cs
Labels: area-Interop-coreclr

#109676 Fix the condition to exclude only native shared libs
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/Microsoft.DotNet.ILCompiler.pkgproj
Labels: area-Setup, community-contribution

#107231 Add FromFile to BinaryData
  src/libraries/System.Memory.Data/ref/System.Memory.Data.cs
  src/libraries/System.Memory.Data/src/System/BinaryData.cs
  src/libraries/System.Memory.Data/tests/BinaryDataFromFileTests.cs
  src/libraries/System.Memory.Data/tests/BinaryDataTests.cs
  src/libraries/System.Memory.Data/tests/System.Memory.Data.Tests.csproj
Labels: area-System.Memory, new-api-needs-documentation, community-contribution

#109681 Mention cpio and pigz in linux-requirements doc
  docs/workflow/requirements/linux-requirements.md
Labels: area-Infrastructure, community-contribution

#109618 Update IHttpClientLogger.cs and IHttpClientAsyncLogger.cs remarks
  src/libraries/Microsoft.Extensions.Http/src/Logging/IHttpClientAsyncLogger.cs
  src/libraries/Microsoft.Extensions.Http/src/Logging/IHttpClientLogger.cs
Labels: area-Extensions-HttpClientFactory, community-contribution

#109700 Fix native AOT repro project
  src/coreclr/tools/aot/ILCompiler/reproNative/reproNative.vcxproj
Labels: area-NativeAOT-coreclr

#108049 Add support for (experimental) profile-based trimming
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/ReachabilityInstrumentationSupport.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/StartupCode/StartupCodeHelpers.Extensions.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ScannedMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ReachabilityInstrumentationFilter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ReachabilityInstrumentationProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: Hackathon, area-NativeAOT-coreclr

#109661 JIT: enable tail merge for try exits
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#108559 use SpecialFolder.UserProfile instead of USERPROFILE
  src/libraries/Microsoft.Extensions.DependencyModel/src/Resolution/PackageCompilationAssemblyResolver.cs
  src/libraries/Microsoft.Extensions.DependencyModel/tests/PackageResolverTest.cs
Labels: area-DependencyModel, community-contribution

#109683 Use IsNative metadata to exclude native shared libs
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/Microsoft.DotNet.ILCompiler.pkgproj
Labels: area-Setup, community-contribution

#109694 Ignore modopts/modreqs for `UnsafeAccessor` field targets
  src/coreclr/vm/prestub.cpp
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/marshal-lightweight.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata.c
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.cs
Labels: area-System.Runtime.CompilerServices

#109654 [cdac] add v2 ExecutionManager contract for NibbleMap change
  docs/design/datacontracts/ExecutionManager.md
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerBase.EEJitManager.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerBase.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerFactory.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_2.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/Helpers/INibbleMap.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/Helpers/NibbleMapConstantLookup.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/Helpers/NibbleMapHelpers.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/Helpers/NibbleMapLinearLookup.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/Helpers/RangeSectionMap.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/ExecutionManagerHelpers/NibbleMap.cs
  src/native/managed/cdacreader/tests/ExecutionManager/ExecutionManagerTestBuilder.cs
  src/native/managed/cdacreader/tests/ExecutionManager/ExecutionManagerTests.cs
  src/native/managed/cdacreader/tests/ExecutionManager/NibbleMapTestBuilder.cs
  src/native/managed/cdacreader/tests/ExecutionManager/NibbleMapTests.cs
  src/native/managed/cdacreader/tests/ExecutionManager/RangeSectionMapTests.cs
  src/native/managed/cdacreader/tests/ExecutionManagerTests.cs
Labels: area-Diagnostics-coreclr

#108939 Constant Time Lookup NibbleMap
  src/coreclr/debug/daccess/fntableaccess.cpp
  src/coreclr/debug/runtimeinfo/contracts.jsonc
  src/coreclr/inc/nibblemapmacros.h
  src/coreclr/utilcode/pedecoder.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/codepitchingmanager.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-VM-coreclr

#109608 Implement `DAMT.*WithInherited`
  src/coreclr/tools/Common/Compiler/Dataflow/DynamicallyAccessedMembersBinder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/DynamicallyAccessedMemberTypes.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DataFlow/DynamicallyAccessedMembersBinder.cs
  src/tools/illink/src/ILLink.Shared/DynamicallyAccessedMemberTypesEx.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/HandleCallAction.cs
  src/tools/illink/src/linker/CompatibilitySuppressions.xml
  src/tools/illink/src/linker/Linker.Dataflow/DynamicallyAccessedMembersBinder.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Helpers/DataFlowTypeExtensions.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Mono.Linker.Tests.Cases.Expectations.csproj
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MemberTypes.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MemberTypesRelationships.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/TypeBaseTypeDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests/Tests/TestFrameworkRulesAndConventions.cs
Labels: new-api-needs-documentation, area-Tools-ILLink

#109577 fix for `MissingTestException`
  src/tests/GC/Stress/Framework/ReliabilityFramework.cs
Labels: area-GC-coreclr, community-contribution

#109598 Build the cdac as part of clr.tools instead of as a prereq to the runtime native build
  eng/Subsets.props
  eng/pipelines/runtime.yml
  src/coreclr/runtime-prereqs.proj
Labels: enhancement, area-Diagnostics-coreclr

#109699 Define a DllMain for native AOT shared libraries
  src/coreclr/nativeaot/Bootstrap/CMakeLists.txt
  src/coreclr/nativeaot/Bootstrap/dllmain/CMakeLists.txt
  src/coreclr/nativeaot/Bootstrap/dllmain/dllmain.cpp
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
Labels: area-NativeAOT-coreclr

#109705 Pass BaseOS property down to the inner build as well
  eng/DotNetBuild.props
Labels: area-Infrastructure-installer

#109659 Remove CoreCLR PAL's InternalNew/Delete and just use new/delete with std::nothrow
  src/coreclr/pal/src/debug/debug.cpp
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/machmessage.cpp
  src/coreclr/pal/src/exception/seh.cpp
  src/coreclr/pal/src/file/file.cpp
  src/coreclr/pal/src/file/find.cpp
  src/coreclr/pal/src/file/path.cpp
  src/coreclr/pal/src/handlemgr/handlemgr.cpp
  src/coreclr/pal/src/include/pal/handlemgr.hpp
  src/coreclr/pal/src/include/pal/malloc.hpp
  src/coreclr/pal/src/include/pal/synchcache.hpp
  src/coreclr/pal/src/include/pal/threadsusp.hpp
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/pal/src/loader/module.cpp
  src/coreclr/pal/src/map/map.cpp
  src/coreclr/pal/src/map/virtual.cpp
  src/coreclr/pal/src/misc/dbgmsg.cpp
  src/coreclr/pal/src/misc/environ.cpp
  src/coreclr/pal/src/misc/strutil.cpp
  src/coreclr/pal/src/misc/tracepointprovider.cpp
  src/coreclr/pal/src/objmgr/palobjbase.cpp
  src/coreclr/pal/src/objmgr/palobjbase.hpp
  src/coreclr/pal/src/objmgr/shmobject.cpp
  src/coreclr/pal/src/objmgr/shmobject.hpp
  src/coreclr/pal/src/objmgr/shmobjectmanager.cpp
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
  src/coreclr/pal/src/sync/cs.cpp
  src/coreclr/pal/src/synchmgr/synchmanager.cpp
  src/coreclr/pal/src/synchmgr/synchmanager.hpp
  src/coreclr/pal/src/synchmgr/wait.cpp
  src/coreclr/pal/src/thread/thread.cpp
Labels: area-PAL-coreclr

#109645 extend xml docs with OverflowException information
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeName.cs
Labels: area-System.Reflection.Metadata

#105456 Add a missing = in BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/MyBigInt.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/SampleGeneration.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/UInt32Samples.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/op_and.cs
  src/libraries/System.Runtime.Numerics/tests/System.Runtime.Numerics.Tests.csproj
Labels: area-System.Numerics, community-contribution

#109660 Check input length for empty when decrypting with padding
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/Symmetric/SymmetricOneShotBase.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/UniversalCryptoOneShot.cs
Labels: area-System.Security

#109733 Add dllmain to PlatformManifestEntry
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
Labels: area-Infrastructure-installer

#109624 [EventTrace] AddEventPipe filter data parsing
  src/coreclr/nativeaot/Runtime/eventtrace.cpp
  src/coreclr/vm/eventtrace.cpp
  src/native/eventpipe/ep-provider.c
Labels: area-Tracing-coreclr

#108992 Add managed MachO signing
  eng/Version.Details.xml
  eng/Versions.props
  src/installer/managed/Microsoft.NET.HostModel/AppHost/HostWriter.cs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/MachOUtils.cs
  src/installer/managed/Microsoft.NET.HostModel/AssemblyAttributes.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Codesign.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/TargetInfo.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/BlobIndex.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/CmsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/CodeDirectoryHeader.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/EmbeddedSignatureHeader.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/LinkEditCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/LoadCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/MachHeader.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/NameBuffer.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/RequirementsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Section64LoadCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Segment64LoadCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/EndianConversionExtensions.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/BlobMagic.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/CodeDirectoryFlags.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/CodeDirectorySpecialSlot.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/CodeDirectoryVersion.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/ExecutableSegmentFlags.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/HashType.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/MachFileType.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/MachLoadCommandType.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/MachMagic.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachMagicExtensions.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.CodeSignature.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.cs
  src/installer/managed/Microsoft.NET.HostModel/Microsoft.NET.HostModel.csproj
  src/installer/pkg/THIRD-PARTY-NOTICES.TXT
  src/installer/tests/HostActivation.Tests/MachOHostSigningTests.cs
  src/installer/tests/HostActivation.Tests/SelfContainedAppLaunch.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost/CreateAppHost.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/SigningTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/TestData.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Tests.csproj
  src/installer/tests/TestUtils/SingleFileTestApp.cs
Labels: area-HostModel

#109737 Add AggressiveInlining to type checks in SearchValues<string>
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/SingleStringSearchValuesThreeChars.cs
Labels: area-System.Buffers

#109717 Fix message when no DAM members match
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DynamicDependencyAttributesOnEntityNode.cs
Labels: area-NativeAOT-coreclr

#109718 Reference ILVerification projects from ILLink solutions
  src/tools/illink/illink.sln
  src/tools/illink/trimming.sln
Labels: linkable-framework, area-Tools-ILLink

#109753 Fix alloc-dealloc mismatch
  src/coreclr/pal/src/thread/thread.cpp
Labels: area-PAL-coreclr

#109756 Support building the repo with clang 20
  eng/native/configurecompiler.cmake
  src/coreclr/debug/ee/stdafx.h
  src/coreclr/vm/common.h
Labels: area-Infrastructure-coreclr

#109725 [ppc64le] Fixed System.Runtime.Intrinsics tests failures
  src/libraries/tests.proj
  src/mono/mono/mini/mini-ppc.c
Labels: area-Codegen-JIT-mono, community-contribution

#109765 Update SseItem's ctor eventType argument to be nullable
  src/libraries/System.Net.ServerSentEvents/ref/System.Net.ServerSentEvents.cs
  src/libraries/System.Net.ServerSentEvents/src/System/Net/ServerSentEvents/SseItem.cs
  src/libraries/System.Net.ServerSentEvents/tests/SseItemTests.cs
  src/libraries/System.Net.ServerSentEvents/tests/SseParserTests.cs
  src/libraries/System.Net.ServerSentEvents/tests/System.Net.ServerSentEvents.Tests.csproj
Labels: area-System.Net, new-api-needs-documentation

#109714 JIT: fix inliner profile consistency computation
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#109706 Re-try loading ENGINE keys with a non-NULL UI_METHOD
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey.c
Labels: area-System.Security

#109769 Explicitly set UnsupportedTargetFrameworkVersion for VS support
  Directory.Build.targets
Labels: area-Infrastructure-libraries

#109684 Fix BigInteger bitwise operators on certain negative numbers
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/op_and.cs
Labels: area-System.Numerics, community-contribution

#109316 [release/9.0-staging] Switch to non-incremental servicing
  .github/PULL_REQUEST_TEMPLATE/servicing_pull_request_template.md
  .github/workflows/backport.yml
  Directory.Build.props
  docs/project/library-servicing.md
  eng/Versions.props
  eng/packaging.targets
  src/libraries/Directory.Build.props
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/Microsoft.Extensions.Logging.Console.Tests.csproj
  src/libraries/Microsoft.NET.WebAssembly.Threading/src/CompatibilitySuppressions.xml
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
Labels: Servicing-approved, area-Infrastructure-libraries

#109602 Apply OverloadResolutionPriority to Span-based delegating to ROS counterparts
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.csproj
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray.cs
  src/libraries/System.Memory/ref/System.Memory.cs
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.Globalization.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/OverloadResolutionPriorityAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.BinarySearch.cs
Labels: area-System.Memory

#109776 Allow building Mono Cross AOT compilers in the VMR
  Directory.Build.props
  eng/DotNetBuild.props
  eng/Subsets.props
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-mono

#108489 Avoid Blocking Finalizer Thread During Shutdown in SystemEvents
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/Microsoft.Win32.SystemEvents/ref/Microsoft.Win32.SystemEvents.cs
  src/libraries/Microsoft.Win32.SystemEvents/ref/Microsoft.Win32.SystemEvents.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft.Win32.SystemEvents.csproj
  src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs
  src/libraries/Microsoft.Win32.SystemEvents/tests/ShutdownTest.cs
Labels: area-Microsoft.Win32, breaking-change, needs-breaking-change-doc-created

#109788 JIT: Don't try to create fallthrough from try region into cloned finally
  src/coreclr/jit/fgehopt.cpp
Labels: area-CodeGen-coreclr

#109772 Replace DAMT.All with DAMT.AllMethods in delegate creation
  src/coreclr/System.Private.CoreLib/src/System/Delegate.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Reflection/ReflectionCoreCallbacksImplementation.cs
  src/libraries/System.Private.CoreLib/src/System/Delegate.cs
  src/libraries/System.Private.CoreLib/src/System/MulticastDelegate.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
  src/mono/System.Private.CoreLib/src/System/Delegate.Mono.cs
Labels: area-System.Reflection, new-api-needs-documentation, linkable-framework

#109797 Fix name of MonoAOTOffsets artifact in runtime.yml
  eng/pipelines/runtime.yml
Labels: needs-area-label

#104955 Randomized allocation sampling
  docs/design/features/RandomizedAllocationSampling.md
  src/coreclr/inc/eventtracebase.h
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/disabledeventtrace.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/gen-eventing-event-inc.lst
  src/coreclr/nativeaot/Runtime/eventtrace.cpp
  src/coreclr/nativeaot/Runtime/eventtracebase.h
  src/coreclr/nativeaot/Runtime/gctoclreventsink.cpp
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/Runtime/thread.inl
  src/coreclr/vm/ClrEtwAll.man
  src/coreclr/vm/gcheaputilities.cpp
  src/coreclr/vm/gcheaputilities.h
  src/coreclr/vm/gchelpers.cpp
  src/coreclr/vm/gctoclreventsink.cpp
  src/native/minipal/CMakeLists.txt
  src/native/minipal/xoshiro128pp.c
  src/native/minipal/xoshiro128pp.h
  src/tests/tracing/eventpipe/randomizedallocationsampling/allocationsampling.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/allocationsampling.csproj
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/Allocate.csproj_
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/AllocateArraysOfDoubles.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/AllocateDifferentTypes.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/AllocateRatioSizedArrays.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/AllocateSmallAndBig.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/AllocationsRunEventSource.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/IAllocations.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/Program.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/Allocate/ThreadedAllocations.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/AllocationProfiler.sln
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/AllocationProfiler/AllocationProfiler.csproj_
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/AllocationProfiler/Program.cs
  src/tests/tracing/eventpipe/randomizedallocationsampling/manual/README.md
Labels: area-Diagnostics-coreclr

#109786 Fix regression in constructor parameter binding logic.
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/ConstructorTests.cs
Labels: area-System.Text.Json

#109116 [release/8.0] Disable user mapper for SslStream on Windows (TLS 1.3) (#100833)
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: Servicing-approved, area-System.Net.Security

#109418 JIT: Switch config values to UTF8
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/corjithost.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/bitset.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/disasm.cpp
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/importervectorization.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/jitconfig.cpp
  src/coreclr/jit/jitconfig.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/utils.h
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/JitConfigProvider.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jithost.cpp
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/icorjithostimpl.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-collector/jithost.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/jithost.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/jithost.cpp
  src/coreclr/tools/superpmi/superpmi/commandline.cpp
  src/coreclr/tools/superpmi/superpmi/commandline.h
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi/jithost.cpp
  src/coreclr/tools/superpmi/superpmi/jithost.h
  src/coreclr/tools/superpmi/superpmi/jitinstance.cpp
  src/coreclr/tools/superpmi/superpmi/jitinstance.h
  src/coreclr/tools/superpmi/superpmi/parallelsuperpmi.cpp
  src/coreclr/tools/superpmi/superpmi/streamingsuperpmi.cpp
  src/coreclr/vm/jithost.cpp
  src/coreclr/vm/jithost.h
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#109192 Bump TraceEvent package version
  eng/Versions.props
  src/tests/tracing/eventpipe/common/Microsoft.Diagnostics.NETCore.Client/AssemblyInfo.cs
Labels: area-Infrastructure-libraries

#109818 Downgrade STJ to 8.0.4
  eng/Versions.props
  src/installer/managed/Microsoft.NET.HostModel/Microsoft.NET.HostModel.csproj
  src/installer/tests/AppHost.Bundle.Tests/AppHost.Bundle.Tests.csproj
  src/installer/tests/HostActivation.Tests/HostActivation.Tests.csproj
  src/installer/tests/Microsoft.DotNet.CoreSetup.Packaging.Tests/Microsoft.DotNet.CoreSetup.Packaging.Tests.csproj
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Tests.csproj
  src/installer/tests/TestUtils/TestUtils.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/mono/wasm/symbolicator/WasmSymbolicator.csproj
  src/tasks/Directory.Build.targets
Labels: area-Infrastructure

#109731 Ensure proper cleanup of key files when not persisting them
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeCertContextHandleWithKeyContainerDeletion.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509FilesystemTests.Windows.cs
Labels: area-System.Security

#109789 [release/9.0] Update ApiCompatNetCoreAppBaselineVersion to 9.0.0
  Directory.Build.props
Labels: Servicing-approved, area-Infrastructure-libraries

#108402 JIT: Don't run `fgRenumberBlocks` after switch recognition
  src/coreclr/jit/switchrecognition.cpp
Labels: area-CodeGen-coreclr

#109849 Fix native aot outerloop
  src/libraries/Microsoft.Win32.SystemEvents/tests/ShutdownTest.cs
Labels: area-Microsoft.Win32

#109512 [RISC-V][LoongArch64] Encode missing tailcall in GC info
  docs/design/coreclr/botr/guide-for-porting.md
  docs/design/coreclr/botr/threading.md
  src/coreclr/jit/gcencode.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#109857 Delete reflection-free mode
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/nativeaot/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.xml
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Collections/Generic/Comparer.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeType.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Reflection/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Reflection/RuntimeAssemblyInfo.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Internal/Runtime/CompilerHelpers/LibraryInitializer.cs
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/Resources/Strings.resx
  src/coreclr/nativeaot/System.Private.DisabledReflection/src/System.Private.DisabledReflection.csproj
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/ILLink/ILLink.Substitutions.xml
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/Internal/StackTraceMetadata/StackTraceMetadata.cs
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/System.Private.StackTraceMetadata.csproj
  src/coreclr/nativeaot/docs/reflection-free-mode.md
  src/coreclr/nativeaot/docs/reflection-in-aot-mode.md
  src/coreclr/nativeaot/nativeaot.sln
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
Labels: area-NativeAOT-coreclr

#109836 [wasm] Use correct current runtime pack version for Wasm.Build.Tests
  src/mono/wasi/Wasi.Build.Tests/Wasi.Build.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
Labels: arch-wasm, area-Infrastructure-mono

#109723 [release/9.0] [wasm] Run downlevel tests only on main
  src/mono/wasm/Wasm.Build.Tests/NonWasmTemplateBuildTests.cs
Labels: Servicing-approved, arch-wasm, area-Infrastructure-mono

#109817 Add cpio to Codespaces Dockerfiles
  .devcontainer/Dockerfile
  .devcontainer/android/Dockerfile
  .devcontainer/wasm-multiThreaded/Dockerfile
  .devcontainer/wasm/Dockerfile
Labels: needs-area-label

#109875 Fix obtaining type handles of IDynamicInterfaceCastableImplementation
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/TypeMetadataNode.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Interfaces.cs
Labels: area-NativeAOT-coreclr

#109889 `TensorPrimitives` XML docs: `MinNumber`/`ReciprocalSqrt`/`ReciprocalSqrtEstimate` oversights
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.MinNumber.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Reciprocal.cs
Labels: area-System.Numerics, community-contribution

#109897 tailcalls-with-helpers.md typo (heper)
  docs/design/features/tailcalls-with-helpers.md
Labels: area-CodeGen-coreclr, community-contribution

#109842 Ensure that MultiplyAddEstimate exits for cases where GT_MUL is unsupported
  src/coreclr/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen-coreclr

#102829 Avoid SerialPort IOLoop when there's no event handlers
  src/libraries/System.IO.Ports/src/System/IO/Ports/SerialPort.cs
Labels: community-contribution, area-System.IO.Ports

#109838 [WASI] Skip signal handler registration on WASI
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/ConsoleLifetime.netcoreapp.cs
Labels: arch-wasm, area-Extensions-Hosting, community-contribution, os-wasi

#109882 Remove more HelperMethodFrames (HMF) from Reflection
  src/coreclr/System.Private.CoreLib/src/System/Object.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.BoxCache.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Type.CoreCLR.cs
  src/coreclr/classlibnative/bcltype/objectnative.cpp
  src/coreclr/classlibnative/bcltype/objectnative.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/icall.c
Labels: area-VM-coreclr

#109910 Delete dead link in RD.XML docs
  src/coreclr/nativeaot/docs/rd-xml-format.md
Labels: area-NativeAOT-coreclr

#109808 Docs updates
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceProviderOptions.cs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/IHost.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/Asn1Tag.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnDecoder.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnEncodingRules.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnWriter.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/TagClass.cs
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/UniversalTagNumber.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/ISimdVector_2.cs
Labels: needs-area-label

#109917 Add regression test for a default interface method issue
  src/tests/nativeaot/SmokeTests/UnitTests/Interfaces.cs
Labels: area-NativeAOT-coreclr

#109286 ARM64-SVE: Allow LCLs to be of type MASK
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compmemkind.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jithashtable.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/optimizemaskconversions.cpp
  src/tests/JIT/opt/MaskConversions/ChangeMaskUse.cs
  src/tests/JIT/opt/MaskConversions/ChangeMaskUse.csproj
  src/tests/JIT/opt/MaskConversions/MaskUse.cs
  src/tests/JIT/opt/MaskConversions/MaskUse.csproj
Labels: arch-arm64, area-CodeGen-coreclr, community-contribution, arm-sve

#109853 Fix failing test on NativeAOT
  src/tests/tracing/eventpipe/randomizedallocationsampling/allocationsampling.cs
Labels: area-Tracing-coreclr

#109944 Add tests for [UnsafeAccessor] on fields with readonly
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.cs
Labels: area-System.Runtime.CompilerServices, community-contribution

#109929 Fix attribute spelling in resx
  src/libraries/System.Reflection.Emit/src/Resources/Strings.resx
Labels: area-System.Reflection.Emit

#109912 Move ReflectionCoreCallbacks into ReflectionAugments
  src/coreclr/nativeaot/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Core/Execution/ReflectionCoreExecution.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Extensions/NonPortable/CustomAttributeInheritanceRules.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/ReflectionHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Activator.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/StackFrame.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Enum.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Assembly.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/FieldInfo.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/MethodBase.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeExceptionHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeMethodHandle.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/TypedReference.cs
Labels: area-NativeAOT-coreclr

#107680 Improved the test coverage of XmlWriter.
  src/libraries/Common/tests/System/Xml/XmlCoreTest/AsyncUtil.cs
  src/libraries/Common/tests/System/Xml/XmlCoreTest/WriterFactory.cs
  src/libraries/System.Private.Xml/tests/System.Private.Xml.Tests.csproj
  src/libraries/System.Private.Xml/tests/Writers/XmlWriterApi/TCWriteNode_XPathNavigator.cs
  src/libraries/System.Private.Xml/tests/Writers/XmlWriterApi/XmlWriterTestCaseBase.cs
Labels: area-System.Xml, community-contribution

#109896 Remove unsafe perf quirks from System.Text.Encodings.Web
  src/libraries/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/libraries/System.Text.Encodings.Web/src/System/Text/Encodings/Web/DefaultHtmlEncoder.cs
  src/libraries/System.Text.Encodings.Web/src/System/Text/Encodings/Web/DefaultJavaScriptEncoder.cs
  src/libraries/System.Text.Encodings.Web/src/System/Text/Encodings/Web/DefaultUrlEncoder.cs
  src/libraries/System.Text.Encodings.Web/src/System/Text/Encodings/Web/OptimizedInboxTextEncoder.cs
  src/libraries/System.Text.Encodings.Web/src/System/Text/Encodings/Web/SpanUtility.cs
  src/libraries/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs
  src/libraries/System.Text.Encodings.Web/tests/SpanUtilityTests.cs
  src/libraries/System.Text.Encodings.Web/tests/System.Text.Encodings.Web.Tests.csproj
Labels: area-System.Text.Encodings.Web

#108178 [browser] disable debugger tests on CI
  eng/pipelines/common/evaluate-default-paths.yml
  eng/pipelines/common/templates/wasm-debugger-tests.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime.yml
  eng/testing/tests.browser.targets
  src/libraries/sendtohelix-browser.targets
  src/libraries/sendtohelix.proj
  src/libraries/tests.proj
  src/mono/browser/Makefile
  src/mono/browser/debugger/Wasm.Debugger.Tests/Wasm.Debugger.Tests.csproj
  src/mono/browser/debugger/Wasm.Debugger.Tests/wasm.helix.targets
  src/mono/wasi/Makefile
Labels: arch-wasm, area-Debugger-mono, os-browser

#109839 [WASI] throw PNSE in `ManualResetEventSlim.Wait`
  src/libraries/System.Private.CoreLib/src/System/Threading/ManualResetEventSlim.cs
Labels: arch-wasm, area-System.Threading, community-contribution, os-wasi

#109701 Remove `netcoreapp >= 7.0` condition
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
Labels: area-System.Text.Json, community-contribution

#109932 [mono] Fix output directory for cross compilers if OutputRID is overridden
  eng/DotNetBuild.props
  src/mono/mono.proj
  src/mono/monoaotcross.proj
Labels: area-Build-mono

#106085 Remove `unsafe` modifier from `Memory<T>.Span`
  src/libraries/System.Private.CoreLib/src/System/Memory.cs
  src/libraries/System.Private.CoreLib/src/System/ReadOnlyMemory.cs
Labels: area-System.Memory, community-contribution

#109947 Fix small typos in linux-build-methodology.md
  docs/project/linux-build-methodology.md
Labels: area-Meta
