Repository dotnet/runtime, pull requests merged in 2024-07, with the labels that each got.

#104192 Enable FEATURE_MULTICASTSTUB_AS_IL for Windows x86
  src/coreclr/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/clr.featuredefines.props
  src/coreclr/clrdefinitions.cmake
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/frameinfo.cpp
  src/coreclr/inc/vptr_list.h
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comdelegate.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/dllimport.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/i386/stublinkerx86.cpp
  src/coreclr/vm/i386/stublinkerx86.h
  src/coreclr/vm/ilstubcache.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/stubhelpers.cpp
  src/coreclr/vm/stubhelpers.h
  src/coreclr/vm/stublink.cpp
  src/coreclr/vm/stublink.h
  src/coreclr/vm/stubmgr.cpp
Labels: area-VM-coreclr, community-contribution

#104071 [ios][HybridGlobalization] Fix default culture
  src/libraries/System.Data.Common/tests/System/Data/SqlTypes/SqlDecimalTest.cs
  src/libraries/System.Data.Common/tests/System/Data/SqlTypes/SqlStringSortingTest.cs
  src/libraries/System.Data.Common/tests/System/Data/SqlTypes/SqlStringTest.cs
  src/libraries/System.Runtime/tests/System.Reflection.Tests/AssemblyNameTests.cs
  src/native/libs/System.Globalization.Native/pal_locale.m
Labels: area-System.Globalization, os-ios

#103701 Extract shared IL pattern analysis to a class
  src/coreclr/nativeaot/Test.CoreLib/src/System/RuntimeTypeHandle.cs
  src/coreclr/tools/Common/TypeSystem/IL/ILImporter.cs
  src/coreclr/tools/Common/TypeSystem/IL/ILReader.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SubstitutedILProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/TypeEqualityPatternAnalyzer.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DeadCodeElimination.cs
Labels: area-NativeAOT-coreclr

#104141 [wasm] Added `ReleaseCores` to `BuildEngine` usages that did not have it.
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/MonoTargetsTasks/ILStrip/ILStrip.cs
  src/tasks/WasmAppBuilder/EmccCompile.cs
Labels: arch-wasm, area-Build-mono

#104108 Improve perf of JsonValue.CreateFromElement by calling ValueKind once
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.cs
Labels: area-System.Text.Json, community-contribution

#104082 [iOS][HybridGlobalization] Make consistent HybridGlobalization checks
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.Icu.cs
Labels: area-System.Globalization, os-ios

#103361 Stack allocate unescaped boxes
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/StackAllocatedBox.cs
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jitmetadatalist.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/objectalloc.h
  src/coreclr/jit/utils.cpp
  src/coreclr/jit/utils.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/tests/JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests.cs
Labels: area-CodeGen-coreclr

#104223 Ensure rented array is always returned in `Measurement`
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Measurement.cs
Labels: community-contribution, needs-area-label

#104239 Simplify SoundPlayer.ValidateSoundData
  src/libraries/System.Windows.Extensions/src/System/Media/SoundPlayer.cs
Labels: area-Microsoft.Win32

#104240 Simplify AltSvcHeaderParser.TryReadPercentEncodedAlpnProtocolName
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/AltSvcHeaderParser.cs
Labels: area-System.Net.Http

#104244 Simplify JsonSerializer.GetMetadataPropertyName
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleMetadata.cs
Labels: area-System.Text.Json

#100030 Seal overridden virtual method `SetDefaultFallbacks`
  src/libraries/System.Private.CoreLib/src/System/Text/Latin1Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Text/UTF32Encoding.cs
Labels: area-System.Text.Encoding, community-contribution

#104235 Block failing Matrix4x4 tests on activeissue
  src/libraries/System.Numerics.Vectors/tests/Matrix4x4Tests.cs
Labels: area-System.Numerics

#103988 Fix static-lib AOT Mono builds
  src/mono/mono/component/CMakeLists.txt
Labels: area-Build-mono

#104198 Use resumable leaf frames in CET hijack and in GC stress.
  src/coreclr/inc/gcinfodecoder.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/gcinfodecoder.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#103877 Use RtlDllShutdownInProgress to detect process shutdown on Windows
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/debug/ee/debuggermodule.cpp
  src/coreclr/debug/ee/frameinfo.cpp
  src/coreclr/debug/ee/rcthread.cpp
  src/coreclr/vm/cachelinealloc.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/comcache.cpp
  src/coreclr/vm/comcallablewrapper.cpp
  src/coreclr/vm/crst.cpp
  src/coreclr/vm/crst.h
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/coreclr/vm/interoputil.cpp
  src/coreclr/vm/runtimecallablewrapper.cpp
  src/coreclr/vm/stdinterfaces.cpp
  src/coreclr/vm/stringliteralmap.cpp
  src/coreclr/vm/syncclean.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadstatics.cpp
  src/coreclr/vm/threadstatics.h
  src/coreclr/vm/threadsuspend.cpp
  src/coreclr/vm/vars.hpp
Labels: area-VM-coreclr

#104202 Implement `IAlternateEqualityComparer<ReadOnlySpan<char>, string>` on `EqualityComparer<string>.Default`
  src/coreclr/System.Private.CoreLib/src/System/Collections/Generic/ComparerHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/IntrinsicSupport/EqualityComparerHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.NativeAot.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ComparerIntrinsics.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/typehandle.cpp
  src/coreclr/vm/typehandle.h
  src/libraries/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionaryTests.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenDictionaryAlternateLookupTests.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenSetAlternateLookupTests.cs
  src/libraries/System.Collections/tests/Generic/CollectionExtensionsTests.cs
  src/libraries/System.Collections/tests/Generic/Dictionary/HashCollisionScenarios/OutOfBoundsRegression.cs
  src/libraries/System.Formats.Nrbf/tests/ReadAnythingTests.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/NonRandomizedStringEqualityComparer.cs
  src/libraries/System.Private.CoreLib/src/System/StringComparer.cs
  src/libraries/System.Resources.Extensions/tests/BinaryFormatTests/Legacy/BinaryFormatterTestData.cs
  src/libraries/System.Resources.Extensions/tests/BinaryFormatTests/Legacy/BinaryFormatterTests.cs
  src/libraries/System.Resources.Extensions/tests/TestData.resources
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/mono/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.Mono.cs
  src/tests/JIT/opt/Devirtualization/Comparer_get_Default.cs
Labels: area-System.Collections

#104261 Use Math.sinh and Math.cosh in Complex
  src/libraries/System.Runtime.Numerics/src/System/Numerics/Complex.cs
Labels: area-System.Numerics, community-contribution

#104264 Don't contain the address for Vector_GetElement on Arm64
  src/coreclr/jit/lowerarmarch.cpp
  src/libraries/System.Numerics.Vectors/tests/Matrix4x4Tests.cs
Labels: area-CodeGen-coreclr

#104184 JIT: Added four SVE `CreateBreak*` APIs
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveTernOpTestTemplate.template
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, arm-sve

#103857 [NativeAOT] collect garbage when memory is low
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/__Finalizer.cs
  src/coreclr/nativeaot/Runtime/FinalizerHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
Labels: community-contribution, area-NativeAOT-coreclr

#104241 Fix potential Debug.Assert in QuicListener
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicListener.cs
Labels: area-System.Net.Quic

#104035 [H/3] Wait for `WritesClosed` and `Dispose` as fire-and-forget
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
Labels: area-System.Net.Quic

#104290 Disable flaky Credentials_ServerChallengesWithWindowsAuth_ClientSendsWindowsAuthHeader test at linux
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Authentication.cs
Labels: Servicing-approved, area-System.Net, test-bug

#104293 Fix typo `the the`
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventsHelper.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/Dwarf/DwarfFde.cs
  src/libraries/Microsoft.Extensions.Http/src/DependencyInjection/HttpClientBuilderExtensions.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/ResettableValueTaskSource.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/ValueTaskSource.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexKind.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
Labels: area-Meta, community-contribution

#104278 Define SET_SCHEDPARAM_NEEDS_PRIVS on illumos
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
Labels: area-PAL-coreclr, os-SunOS, community-contribution

#104084 [LoongArch64] Part-2:Add runtime assembly code (*.S) files in nativeaot.
  src/coreclr/nativeaot/Runtime/loongarch64/AllocFast.S
  src/coreclr/nativeaot/Runtime/loongarch64/AsmOffsetsCpu.h
  src/coreclr/nativeaot/Runtime/loongarch64/ExceptionHandling.S
  src/coreclr/nativeaot/Runtime/loongarch64/GcProbe.S
  src/coreclr/nativeaot/Runtime/loongarch64/InteropThunksHelpers.S
  src/coreclr/nativeaot/Runtime/loongarch64/MiscStubs.S
  src/coreclr/nativeaot/Runtime/loongarch64/PInvoke.S
  src/coreclr/nativeaot/Runtime/loongarch64/StubDispatch.S
  src/coreclr/nativeaot/Runtime/loongarch64/UniversalTransition.S
  src/coreclr/nativeaot/Runtime/loongarch64/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/unix/unixasmmacros.inc
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosloongarch64.inc
Labels: community-contribution, area-NativeAOT-coreclr, arch-loongarch64

#104287 Delete some dead code in finalizer loop
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/finalizerthread.cpp
  src/coreclr/vm/finalizerthread.h
  src/coreclr/vm/vars.cpp
  src/coreclr/vm/vars.hpp
Labels: area-VM-coreclr

#104217 Update mono-interp to handle the same Vector.As APIs as mono-jit
  src/mono/mono/mini/interp/interp-simd-intrins.def
  src/mono/mono/mini/interp/interp-simd.c
  src/mono/mono/mini/interp/simd-methods.def
  src/mono/mono/mini/interp/transform-simd.c
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Labels: area-Codegen-Interpreter-mono

#103826 ARM64-SVE: GatherPrefetch
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveGatherPrefetchIndices.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveGatherPrefetchVectorBases.template
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, community-contribution, arm-sve

#104252 Make randomized string equality comparers implement IAlternateEqualityComparer
  src/libraries/System.Collections/tests/Generic/Dictionary/HashCollisionScenarios/OutOfBoundsRegression.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/RandomizedStringEqualityComparer.cs
Labels: area-System.Collections

#104177 Optimize Vector128<long> multiplication for arm64
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
Labels: area-CodeGen-coreclr

#102342 Fix DEREF_AFTER_NULL in /src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#103838 UnixCommandLinePing.cs: improve searching for the system ping binary
  src/libraries/Common/src/System/Net/NetworkInformation/UnixCommandLinePing.cs
Labels: area-System.Net, os-linux, community-contribution

#102680 [NativeAOT] Adding CET support
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/StackFrameIterator.h
  src/coreclr/nativeaot/Runtime/amd64/AsmOffsetsCpu.h
  src/coreclr/nativeaot/Runtime/amd64/ExceptionHandling.asm
  src/coreclr/nativeaot/Runtime/i386/GcProbe.asm
  src/coreclr/nativeaot/Runtime/inc/CommonTypes.h
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/vm/excep.cpp
Labels: area-NativeAOT-coreclr

#104311 Update branding to 6.0.33
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#104312 Update branding to 8.0.8
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#104318 [NativeAOT] WindowsUse RtlDllShutdownInProgress to detect process shutdown
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/vm/vars.hpp
Labels: area-NativeAOT-coreclr

#104305 [HTTP/3] Disable test for ARM
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#104214 Have morph normalize patterns to GT_NEG and GT_NOT
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#104215 Normalize the creation of simd comparison nodes and give basic constant folding support
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/simd.h
  src/tests/JIT/Regression/JitBlue/Runtime_33972/Runtime_33972.cs
Labels: area-CodeGen-coreclr

#104170 Poly fill Index and Range types
  src/libraries/Common/tests/System/Runtime/CompilerServices/RuntimeHelpers.cs
  src/libraries/Microsoft.Bcl.Memory/ref/Microsoft.Bcl.Memory.Forwards.netstandard21.cs
  src/libraries/Microsoft.Bcl.Memory/ref/Microsoft.Bcl.Memory.csproj
  src/libraries/Microsoft.Bcl.Memory/ref/Microsoft.Bcl.Memory.netstandard20.cs
  src/libraries/Microsoft.Bcl.Memory/src/Microsoft.Bcl.Memory.csproj
  src/libraries/Microsoft.Bcl.Memory/tests/Microsoft.Bcl.Memory.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Index.cs
  src/libraries/System.Private.CoreLib/src/System/Range.cs
Labels: area-System.Memory, new-api-needs-documentation

#104326 Skip calling not implemented PEAssembly::GetDisplayName in DAC
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/vm/peassembly.inl
Labels: area-Diagnostics-coreclr

#104282 NativeAOT/Windows/Arm64: Add TLS inline support
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Relocation.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/CoffObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-CodeGen-coreclr

#103738 Make GC stress usable with Libraries tests
  src/coreclr/gc/gc.cpp
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/finalizerthread.cpp
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/gcstress.h
  src/tests/baseservices/RuntimeConfiguration/TestConfigTester.csproj
Labels: test-enhancement, area-VM-coreclr

#104321 JIT: Compute EH liveness on all blocks instead of RPO blocks
  src/coreclr/jit/liveness.cpp
Labels: area-CodeGen-coreclr

#104222 Optimize multicast delegate thunk
  src/coreclr/tools/Common/TypeSystem/IL/DelegateInfo.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateThunks.cs
Labels: area-NativeAOT-coreclr

#104224 Adding support for morphing associative hwintrinsics
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#104206 Ensure mini-amd64 correctly handles CMP_GT and CMP_GE for OP_XCOMPARE_FP
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector256Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector512Tests.cs
  src/mono/mono/mini/mini-amd64.c
Labels: area-Codegen-JIT-mono

#104111 Add support for `SwiftIndirectResult` in Mono JIT and Interpreter
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/marshal.h
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-amd64.h
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/tramp-amd64.c
  src/tests/issues.targets
Labels: area-Codegen-meta-mono, os-ios

#104298 Enable QUIC client cert tests on Windows Server 2022
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#101443 Support using the system rapidjson to build
  src/native/corehost/CMakeLists.txt
  src/native/corehost/apphost/static/CMakeLists.txt
  src/native/corehost/json_parser.cpp
  src/native/corehost/json_parser.h
  src/native/corehost/runtime_config.cpp
Labels: area-Host, community-contribution

#104273 Check values before looping
  src/coreclr/pal/src/map/map.cpp
Labels: area-PAL-coreclr

#104253 Detect class inited status more correctly in prestub/jitinterface
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/loaderallocator.hpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtable.h
  src/coreclr/vm/prestub.cpp
Labels: area-VM-coreclr

#97589 Optimize BigInteger.Parse
  src/libraries/System.Runtime.Numerics/src/System/Number.BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.AddSub.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.Utils.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/multiply.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/parse.cs
  src/libraries/System.Runtime.Numerics/tests/System.Runtime.Numerics.Tests.csproj
Labels: area-System.Numerics, community-contribution

#104342 A few more net8 to net9 renames
  docs/project/dogfooding.md
  docs/workflow/testing/using-dev-shipping-packages.md
  docs/workflow/testing/using-your-build-with-installed-sdk.md
  eng/regenerate-download-table.proj
  src/coreclr/nativeaot/docs/android-bionic.md
Labels: area-Meta

#103895 [release/6.0] Update ESRP Code Signing
  eng/pipelines/common/macos-sign-with-entitlements.yml
Labels: Servicing-approved, needs-area-label

#103896 [release/8.0] Update ESRP Code Signing
  NuGet.config
  eng/Version.Details.xml
  eng/pipelines/common/macos-sign-with-entitlements.yml
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WorkloadManifest.json.in
Labels: Servicing-approved, area-Infrastructure

#104313 Use Math.SinCos and Math.Exp in Complex
  src/libraries/System.Runtime.Numerics/src/System/Numerics/Complex.cs
Labels: area-System.Numerics, community-contribution

#104359 [release/8.0][browser] drop old npm dependencies
  src/mono/.gitignore
  src/mono/sample/wasm/browser-nextjs/.gitignore
  src/mono/sample/wasm/browser-nextjs/.npmrc
  src/mono/sample/wasm/browser-nextjs/Program.cs
  src/mono/sample/wasm/browser-nextjs/README.md
  src/mono/sample/wasm/browser-nextjs/Wasm.Browser.NextJs.Sample.csproj
  src/mono/sample/wasm/browser-nextjs/components/deepThought.js
  src/mono/sample/wasm/browser-nextjs/package-lock.json
  src/mono/sample/wasm/browser-nextjs/package.json
  src/mono/sample/wasm/browser-nextjs/pages/index.js
  src/mono/sample/wasm/browser-webpack/.npmrc
  src/mono/sample/wasm/browser-webpack/Program.cs
  src/mono/sample/wasm/browser-webpack/README.md
  src/mono/sample/wasm/browser-webpack/Wasm.Browser.WebPack.Sample.csproj
  src/mono/sample/wasm/browser-webpack/app.js
  src/mono/sample/wasm/browser-webpack/index.html
  src/mono/sample/wasm/browser-webpack/main.js
  src/mono/sample/wasm/browser-webpack/package-lock.json
  src/mono/sample/wasm/browser-webpack/package.json
  src/mono/sample/wasm/browser-webpack/webpack.config.js
  src/mono/sample/wasm/console-node-ts/.npmrc
  src/mono/sample/wasm/console-node-ts/Makefile
  src/mono/sample/wasm/console-node-ts/Program.cs
  src/mono/sample/wasm/console-node-ts/Wasm.Console.Node.TS.Sample.csproj
  src/mono/sample/wasm/console-node-ts/main.ts
  src/mono/sample/wasm/console-node-ts/package-lock.json
  src/mono/sample/wasm/console-node-ts/package.json
  src/mono/sample/wasm/console-node-ts/tsconfig.json
  src/mono/sample/wasm/node-webpack/.npmrc
  src/mono/sample/wasm/node-webpack/Program.cs
  src/mono/sample/wasm/node-webpack/README.md
  src/mono/sample/wasm/node-webpack/Wasm.Node.WebPack.Sample.csproj
  src/mono/sample/wasm/node-webpack/app.js
  src/mono/sample/wasm/node-webpack/main.mjs
  src/mono/sample/wasm/node-webpack/package-lock.json
  src/mono/sample/wasm/node-webpack/package.json
  src/mono/sample/wasm/node-webpack/webpack.config.js
  src/mono/wasm/test-main.js
Labels: Servicing-approved, arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#103805 Onboard new inter-branch merge flow [Configuration]
  github-merge-flow.jsonc
Labels: Servicing-approved, area-Infrastructure

#103807 Onboard new inter-branch merge flow [Workflow]
  .github/workflows/inter-branch-merge-flow.yml
Labels: Servicing-approved, area-Infrastructure

#104279 ARM64-SVE: Add ShiftRightArithmeticForDivide
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, arm-sve

#104262 Complex.Sqrt comply with IEEE 754 and use double.Hypot
  src/libraries/System.Runtime.Numerics/src/System/Numerics/Complex.cs
  src/libraries/System.Runtime.Numerics/tests/ComplexTests.cs
Labels: area-System.Numerics, community-contribution

#103104 Use the new lock type in TimerQueue
  src/libraries/System.Private.CoreLib/src/System/Threading/Timer.cs
Labels: area-System.Threading

#104380 Fix the build for FEATURE_GDBJIT
  src/coreclr/vm/callconvbuilder.cpp
  src/coreclr/vm/customattribute.cpp
  src/coreclr/vm/customattribute.h
  src/coreclr/vm/gdbjit.cpp
Labels: area-Diagnostics-coreclr

#104092 Optimize VectorX<T>.ConditionalSelect for constant masks
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/simd.h
Labels: area-CodeGen-coreclr, community-contribution

#104309 Add support for other same size vector bitcasts to Mono
  src/mono/mono/mini/interp/simd-methods.def
  src/mono/mono/mini/interp/transform-simd.c
  src/mono/mono/mini/simd-intrinsics.c
  src/mono/mono/mini/simd-methods.h
Labels: area-Codegen-meta-mono

#103998 fix the size passed to grow_heap_segment from loh_allocate_in_condemned
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#104344 Make CertLoader reject duplicate attributes
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
  src/libraries/Common/src/System/Security/Cryptography/X509Certificates/Pkcs12LoaderLimits.cs
  src/libraries/Common/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.Pkcs12.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/TestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/X509CertificateLoaderPkcs12CollectionTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/X509CertificateLoaderPkcs12Tests.WindowsAttributes.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/X509CertificateLoaderPkcs12Tests.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxTests.cs
Labels: area-System.Security

#104396 Arm64/Sve: Do not mark *Prefetch* APIs as MEMORY_LOAD
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
Labels: area-CodeGen-coreclr

#104382 [iOS][HybridGlobalization] Disable CultureName_Set_Invalid_ThrowsCultureNotFoundException test
  src/libraries/System.Runtime/tests/System.Reflection.Tests/AssemblyNameTests.cs
Labels: area-System.Globalization, os-ios

#104243 JIT: Add a disabled-by-default implementation of strength reduction
  src/coreclr/jit/arraystack.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/inductionvariableopts.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jitmetadatalist.h
  src/coreclr/jit/scev.cpp
  src/coreclr/jit/scev.h
Labels: area-CodeGen-coreclr

#104361 [browser] default WasmDebugLevel to 0 for tests
  eng/testing/tests.browser.targets
  eng/testing/tests.wasi.targets
  eng/testing/tests.wasm.targets
  src/libraries/System.Collections.Immutable/tests/System.Collections.Immutable.Tests.csproj
  src/libraries/System.Memory/tests/System.Memory.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/System.Private.Xml/tests/System.Private.Xml.Tests.csproj
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
  src/libraries/sendtohelix-browser.targets
  src/mono/browser/test-main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#104149 [wasm] Disallow not useful configuration combinations
  src/mono/browser/runtime/cwraps.ts
  src/mono/wasi/Wasi.Build.Tests/WasiTemplateTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/SimpleRunTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildPublishTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
  src/mono/wasm/build/WasmApp.Common.targets
Labels: arch-wasm, area-Build-mono

#101337 [wasi] Implement TODO in mono-threads-wasi.S
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/mono-threads-wasi.S
  src/mono/mono/utils/mono-threads-wasm.S
  src/mono/mono/utils/mono-threads-wasm.c
Labels: area-VM-meta-mono

#104414 Revert "Migrate to zlib-ng, part 2: consume it in runtime"
  Directory.Build.props
  eng/native/configurecompiler.cmake
  eng/native/configureplatform.cmake
  eng/native/functions.cmake
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/CMakeLists.txt
  src/mono/browser/browser.proj
  src/mono/browser/runtime/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/mono.proj
  src/mono/mono/eventpipe/test/CMakeLists.txt
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
  src/mono/mono/profiler/log.c
  src/mono/mono/profiler/mprof-report.c
  src/mono/msbuild/apple/build/AppleBuild.targets
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasi/wasi.proj
  src/native/external/zlib-intel.cmake
  src/native/external/zlib-ng.cmake
  src/native/external/zlib.cmake
  src/native/libs/Common/pal_utilities.h
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/extra_libs.cmake
  src/native/libs/System.IO.Compression.Native/pal_zlib.c
  src/native/libs/System.IO.Compression.Native/pal_zlib.h
  src/native/libs/System.IO.Compression.Native/zlib_allocator.h
  src/native/libs/System.IO.Compression.Native/zlib_allocator_unix.c
  src/native/libs/System.IO.Compression.Native/zlib_allocator_win.c
Labels: area-Build-mono

#104357 [wasm] Enable `WasmTemplateTests`
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
Labels: arch-wasm, disabled-test, area-Build-mono

#104164 Remove uses of CLRJIT_AZ_KEY/clrjit_key1 from SPMI
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/templates/run-superpmi-collect-job.yml
  eng/pipelines/coreclr/templates/upload-jits-steps.yml
  eng/pipelines/libraries/superpmi-postprocess-step.yml
  src/coreclr/scripts/jitrollingbuild.py
  src/coreclr/scripts/jitutil.py
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#104387 Small clean up in gtMarkAddrMode
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#104328 Add Utf8JsonReader.AllowMultipleValues and related APIs.
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/RootLevelListConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.ReadCore.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Span.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Stream.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.ReadHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadBufferState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSourceGenerationOptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonDocumentTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonElementParseTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonNodeTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonTestHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ReadValueTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Stream.DeserializeAsyncEnumerable.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonReaderTests.MultiSegment.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonReaderTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#104368 Improve build error on systems that have a 32-bit time_t
  src/native/libs/System.Security.Cryptography.Native/opensslshim.c
Labels: area-System.Security

#104410 Fix certificate test failures on iOS(-likes)
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.iOS.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CollectionTests.cs
Labels: area-System.Security

#104432 JIT: Extract StructSegments to its own file
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotiondecomposition.cpp
  src/coreclr/jit/structsegments.cpp
  src/coreclr/jit/structsegments.h
Labels: area-CodeGen-coreclr

#103769 [HttpClientFactory] Do not log query string by default
  src/libraries/Microsoft.Extensions.Http/src/Logging/LogHelper.cs
  src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingHttpMessageHandler.cs
  src/libraries/Microsoft.Extensions.Http/src/Logging/LoggingScopeHttpMessageHandler.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/LoggingUriOutputTests.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/RedactedLogValueIntegrationTest.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Microsoft.Extensions.Http.Tests.csproj
Labels: breaking-change, area-Extensions-HttpClientFactory, needs-breaking-change-doc-created

#104453 Remove `virtual` modifier from `Calendar.CurrentEraValue`
  src/libraries/System.Private.CoreLib/src/System/Globalization/Calendar.cs
Labels: area-System.Globalization, community-contribution

#104220 Simplify Emit SignatureHelper WriteSimpleSignature
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/SignatureHelper.cs
Labels: area-System.Reflection.Emit, community-contribution

#104412 Fix GetStaticsBases
  src/coreclr/vm/methodtable.cpp
Labels: area-Diagnostics-coreclr

#104140 [RISC-V] Fix coreclr test coreroot_determinism.sh
  src/tests/readytorun/coreroot_determinism/Program.cs
Labels: area-crossgen2-coreclr, community-contribution

#104433 [Apple] Disable EmptyStructs tests for apple mobile due to missing support for native libraries
  src/tests/JIT/Directed/StructABI/EmptyStructs.csproj
Labels: arch-arm64, area-Infrastructure-mono, os-ios, os-tvos

#104450 JIT: Fix "elaborated type specifier" for enum class in JIT
  src/coreclr/jit/gentree.h
Labels: area-Infrastructure-coreclr

#104434 [wasm] Fix a typo in browser-bench wasm app
  src/mono/sample/wasm/browser-bench/String.cs
Labels: arch-wasm, area-Build-mono

#104384 Avoid unobserved task exceptions in Http tests
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.AutoRedirect.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Cancellation.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTestBase.cs
  src/libraries/Common/tests/System/Net/Http/HttpProtocolTests.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2ExtendedConnect.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocksProxyTest.cs
Labels: area-System.Net.Http

#104438 JIT: Disable old promotion for structs with significant padding
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr

#104456 Remove `virtual` modifier from `GetDatePart`
  src/libraries/System.Private.CoreLib/src/System/Globalization/HebrewCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/HijriCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/JulianCalendar.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/PersianCalendar.cs
Labels: area-System.Globalization, community-contribution

#104473 Fix typo in RSASignaturePaddingMode
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSASignaturePaddingMode.cs
Labels: area-System.Security, community-contribution

#104381 Add RetryHelper to AIA test
  src/libraries/System.Security.Cryptography/tests/X509Certificates/RevocationTests/AiaTests.cs
Labels: area-System.Security

#104288 Lower GetElement on arm64 to the correct access sequence
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
Labels: area-CodeGen-coreclr

#104165 Obsolete X509Certificate{2} constructors and X509Certificate2Collection.Import
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AuthenticablePrincipal.cs
  src/libraries/System.Net.Http.Json/tests/FunctionalTests/System.Net.Http.Json.Functional.Tests.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/System.Net.Http.WinHttpHandler.Functional.Tests.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.HttpListener/src/System/Net/Managed/HttpConnection.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListenerRequest.Windows.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/ListenerClientCertAsyncResult.Windows.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/System.Net.NetworkInformation.Functional.Tests.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.SslConnectionOptions.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/System.Net.Quic.Functional.Tests.csproj
  src/libraries/System.Net.Requests/tests/System.Net.Requests.Tests.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
  src/libraries/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
  src/libraries/System.Net.WebClient/tests/System.Net.WebClient.Tests.csproj
  src/libraries/System.Net.WebSockets.Client/tests/System.Net.WebSockets.Client.Tests.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.Decode.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/HelpersWindows.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Pkcs12CertBag.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/KeyInfoX509Data.cs
  src/libraries/System.Security.Cryptography.Xml/tests/System.Security.Cryptography.Xml.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslCertificateAssetDownloader.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslDirectoryBasedStoreProvider.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2Collection.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Permissions/tests/System.Security.Permissions.Tests.csproj
Labels: area-System.Security, breaking-change, new-api-needs-documentation

#101221 [wasm] Don't use SyncTextWriter in single-threaded wasm builds
  src/libraries/System.Console/tests/ReadAndWrite.cs
  src/libraries/System.Console/tests/SyncTextWriter.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/TextWriter.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/StreamReader/StreamReader.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/StreamWriter/StreamWriter.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/TextWriter/TextWriterTests.cs
Labels: arch-wasm

#104477 Fix typo in typo fix for RSASSA-PSS
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSASignaturePaddingMode.cs
Labels: area-System.Security

#104483 Remove `virtual` modifier from `InternalFallback`
  src/libraries/System.Private.CoreLib/src/System/Text/DecoderFallback.cs
  src/libraries/System.Private.CoreLib/src/System/Text/EncoderFallback.cs
Labels: community-contribution, needs-area-label

#104464 Arm64/Sve: Implement AbsoluteCompare* and Compare* APIs
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveBinaryRetMaskOpTestTemplate.template
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, arm-sve

#104388 Fix an issue with complex number parsing
  src/libraries/System.Runtime.Numerics/src/System/Numerics/Complex.cs
  src/libraries/System.Runtime.Numerics/tests/ComplexTests.cs
Labels: area-System.Numerics

#104484 Delete some unused HRESULT macro definitions
  src/coreclr/inc/corjit.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
Labels: area-VM-coreclr

#104150 JIT ARM64-SVE: Add Sve.ConditionalExtract* APIs
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveScalarTernOpTestTemplate.template
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, community-contribution, arm-sve

#103889 [LoongArch64] Add nativeaot support on LoongArch64.
  eng/Subsets.props
  src/coreclr/CMakeLists.txt
  src/coreclr/nativeaot/Common/src/Internal/Runtime/TransitionBlock.cs
  src/coreclr/nativeaot/Directory.Build.props
  src/coreclr/nativeaot/Runtime/CommonMacros.h
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/ICodeManager.h
  src/coreclr/nativeaot/Runtime/MiscHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/PalRedhawkCommon.h
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/StackFrameIterator.h
  src/coreclr/nativeaot/Runtime/ThunksMapping.cpp
  src/coreclr/nativeaot/Runtime/gcenv.ee.cpp
  src/coreclr/nativeaot/Runtime/inc/TargetPtrs.h
  src/coreclr/nativeaot/Runtime/inc/rhbinder.h
  src/coreclr/nativeaot/Runtime/regdisplay.h
  src/coreclr/nativeaot/Runtime/unix/UnixContext.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixContext.h
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.cpp
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeSystemContextFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_LoongArch64/LoongArch64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/native/external/llvm-libunwind/include/__libunwind_config.h
  src/native/external/llvm-libunwind/src/Registers.hpp
Labels: community-contribution, area-NativeAOT-coreclr, arch-loongarch64

#104496 Update readAheadTask asserts in HttpConnection
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
Labels: area-System.Net.Http

#104508 Fix stackoverflow message for repeated frames
  src/coreclr/vm/eepolicy.cpp
Labels: area-ExceptionHandling-coreclr

#104521 Remove link to fixed GitHub issue
  src/libraries/System.Private.CoreLib/src/System/TimeSpan.cs
Labels: community-contribution, area-System.DateTime

#104103 Convert Array.IsSimpleCopy and CanAssignArray type to managed
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/classlibnative/bcltype/arraynative.cpp
  src/coreclr/classlibnative/bcltype/arraynative.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.NativeAot.cs
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/ArrayTests.cs
  src/mono/System.Private.CoreLib/src/System/Array.Mono.cs
Labels: area-VM-coreclr, community-contribution

#104520 Use `XmlResolverIsNetworkingEnabledByDefault` property in `AotCompilerCommon.props`
  src/coreclr/tools/aot/AotCompilerCommon.props
Labels: area-crossgen2-coreclr, community-contribution

#103364 update proxy setting on registry changes
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.RegNotifyChangeKeyValue.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/HttpWindowsProxyTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpWindowsProxy.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.Windows.cs
  src/libraries/System.Net.Http/tests/UnitTests/HttpWindowsProxyTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#104476 [browser] Add test case for `maxParallelDownloads`
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/MaxParallelDownloadsTests.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/wwwroot/main.js
Labels: arch-wasm, area-Build-mono, os-browser

#104446 [wasi] enable WASMTIME_BACKTRACE_DETAILS
  src/libraries/sendtohelix-wasi.targets
Labels: arch-wasm, area-Build-mono, os-wasi

#104481 [wasm] Re-try when browser's WBT fail with `System.TimeoutException`
  src/mono/wasm/Wasm.Build.Tests/BrowserRunner.cs
Labels: arch-wasm, area-Build-mono, os-browser

#104394 Reduce allocations in Quic/HTTP3
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/ResettableValueTaskSource.cs
Labels: area-System.Net.Quic

#104440 Handle top-level UseSystemLibs argument from the VMR
  eng/DotNetBuild.props
Labels: area-Infrastructure, community-contribution

#104400 Refactor WinHttpHandler test to use LoopbackServer.CreateClientAndServer
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
Labels: area-System.Net

#104332 Remove unnecessary endianness dependent logic
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Base64Helper/Base64EncoderHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Base64Url/Base64UrlEncoder.cs
Labels: area-System.Memory

#104544 Delete dead AVX detection code in vm
  src/coreclr/vm/cgensys.h
  src/coreclr/vm/i386/cgenx86.cpp
Labels: area-VM-coreclr, community-contribution

#104407 Use ConcurrentDictionary to avoid threading issues
  src/libraries/System.ComponentModel.TypeConverter/src/System.ComponentModel.TypeConverter.csproj
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/PropertyDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/PropertyDescriptorTests.cs
Labels: area-System.ComponentModel

#104417 [release/6.0] Onboard new inter-branch merge flow [Workflow]
  .github/workflows/inter-branch-merge-flow.yml
Labels: Servicing-approved, area-Infrastructure

#104556 Fix cross-compiling CoreCLR from macOS arm64 to x64
  src/coreclr/pal/src/CMakeLists.txt
Labels: area-PAL-coreclr

#99199 set scope and build validation in dev when no options provided
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/HostBuilderTests.cs
Labels: area-Extensions-Hosting

#104531 JIT: Ensure EH clauses with same try region are reported contiguously to the VM
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr

#103836 Clean up JSON property lookup logic and add alternate key lookup support.
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/JsonHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/PropertyRef.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/PropertyRefCacheBuilder.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
Labels: area-System.Text.Json

#104455 Swap MetricsHandler and DiagnosticsHandler
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.InvokeNativeHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: area-System.Net.Http

#104554 JIT: Propagate physical promotion liveness in post-order
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotionliveness.cpp
Labels: area-CodeGen-coreclr

#103991 Add CancellationToken support for LoadIntoBufferAsync
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
Labels: area-System.Net.Http, new-api-needs-documentation, community-contribution

#104576 Update pr-guide with staleness requirement
  docs/workflow/ci/pr-guide.md
Labels: needs-area-label

#104454 Migrate to zlib-ng, part 2: consume it in runtime (second attempt)
  Directory.Build.props
  eng/native/configurecompiler.cmake
  eng/native/configureplatform.cmake
  eng/native/functions.cmake
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/mono/CMakeLists.txt
  src/mono/browser/browser.proj
  src/mono/browser/runtime/CMakeLists.txt
  src/mono/cmake/config.h.in
  src/mono/mono.proj
  src/mono/mono/eventpipe/test/CMakeLists.txt
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/metadata/debug-mono-ppdb.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/profiler/CMakeLists.txt
  src/mono/mono/profiler/log.c
  src/mono/mono/profiler/mprof-report.c
  src/mono/msbuild/apple/build/AppleBuild.targets
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasi/wasi.proj
  src/native/external/zlib-intel.cmake
  src/native/external/zlib-ng.cmake
  src/native/external/zlib.cmake
  src/native/libs/Common/pal_utilities.h
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/extra_libs.cmake
  src/native/libs/System.IO.Compression.Native/pal_zlib.c
  src/native/libs/System.IO.Compression.Native/pal_zlib.h
  src/native/libs/System.IO.Compression.Native/zlib_allocator.h
  src/native/libs/System.IO.Compression.Native/zlib_allocator_unix.c
  src/native/libs/System.IO.Compression.Native/zlib_allocator_win.c
Labels: area-System.IO.Compression

#101631 Add more complete linux build instructions
  docs/workflow/requirements/linux-requirements.md
  eng/debian-reqs.txt
  eng/install-native-dependencies.sh
  eng/native/build-commons.sh
  eng/native/gen-buildsys.sh
Labels: area-Infrastructure

#104581 Revert "Add more complete linux build instructions"
  docs/workflow/requirements/linux-requirements.md
  eng/debian-reqs.txt
  eng/install-native-dependencies.sh
  eng/native/build-commons.sh
  eng/native/gen-buildsys.sh
Labels: needs-area-label

#104568 updating mono reflection area path ownership
  docs/area-owners.md
Labels: area-Meta

#104376 CodeQL spillStack
  src/coreclr/utilcode/ilformatter.cpp
Labels: area-VM-coreclr

#104339 Fix syntax of exports file with no exported symbols on Linux
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ExportsFileWriter.cs
Labels: area-NativeAOT-coreclr

#104494 Arm64/Sve: Fix GatherPrefetch and Prefetch APIs
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lsraarm64.cpp
Labels: area-CodeGen-coreclr, arm-sve

#104444 [QUIC] Fixed some tests leaking unobserved exceptions
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicCipherSuitesPolicyTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestCollection.cs
Labels: area-System.Net.Quic

#104553 Remove unused test server deployment scripts
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/config.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_activedirectory_domaincontroller.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_certificates.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_client.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_common.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_firewall.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/Deployment/setup_iisserver.ps1
  src/libraries/Common/tests/System/Net/Prerequisites/README.md
Labels: area-System.Net

#103419 Fix handling SECBUFFER_EXTRA with renegotiation after handshake.
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/ISSPIInterface.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIAuthType.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPISecureChannelType.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
  src/libraries/Common/src/System/Net/Security/SecurityBuffer.Windows.cs
  src/libraries/Common/tests/System/Net/SslProtocolSupport.cs
  src/libraries/System.Net.Security/src/System/Net/NegotiateAuthenticationPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.IO.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamAllowTlsResumeTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamFramingTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: area-System.Net.Security

#104514 Get ThreadContext for AVX registers
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/machmessage.h
  src/coreclr/pal/src/thread/context.cpp
Labels: area-ExceptionHandling-coreclr

#103231 [android] Don't include `JNI_OnLoad` in `libSystem.Security.Cryptography.Native.Android.a`
  src/native/libs/System.Security.Cryptography.Native.Android/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native.Android/pal_jni.c
  src/native/libs/System.Security.Cryptography.Native.Android/pal_jni.h
  src/native/libs/System.Security.Cryptography.Native.Android/pal_jni_onload.c
Labels: area-System.Security, community-contribution

#104467 JIT: Support retbuf optimization for non 'lvIsTemp' locals
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
Labels: area-CodeGen-coreclr

#104557 [browser] host should not forward env variables
  src/mono/wasm/host/BrowserHost.cs
Labels: arch-wasm, area-Host, os-browser

#104549 [wasi] Fix `ItemGroup` concatenation in wasi
  src/mono/wasi/build/WasiApp.targets
Labels: arch-wasm, area-Build-mono, os-wasi

#104594 Remove .gdnbaselines file
  .config/guardian/.gdnbaselines
Labels: area-Infrastructure

#104356 [wasm] Fix mono_wasm_load_runtime cwrap signature
  src/mono/browser/runtime/cwraps.ts
Labels: area-Infrastructure-mono

#104539 [browser][MT] troubleshooting deadlocks
  src/libraries/System.Runtime/tests/System.Threading.Tasks.Tests/MethodCoverage.cs
  src/libraries/System.Runtime/tests/System.Threading.Tasks.Tests/Task/AsyncEnumerableToBlockingEnumerableTests.cs
  src/libraries/System.Runtime/tests/System.Threading.Tasks.Tests/Task/TaskContinueWithTests.cs
  src/libraries/System.Threading/tests/MutexTests.cs
  src/libraries/System.Threading/tests/SemaphoreSlimTests.cs
Labels: arch-wasm, area-VM-threading-mono, os-browser

#104551 JIT: Handle retbuf definitions precisely in physical promotion's liveness
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotionliveness.cpp
Labels: area-CodeGen-coreclr
