Repository dotnet/runtime, pull requests merged in 2024-05, with the labels that each got.

#101755 Typos: ablity -> ability
  src/coreclr/jit/optimizer.cpp
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Symbolic/SymbolicRegexNode.cs
  src/native/corehost/bundle/extractor.cpp
Labels: area-System.Text.RegularExpressions

#101743 Arm64/Sve: Add SignExtendWidening* and ZeroExtendWidening* math APIs
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, arch-arm64-sve

#101712 [wasm] Update patch after template change
  src/mono/sample/wasm/browser-frame/browser-frame.diff
Labels: area-Build-mono

#101665 Clean up in LowerStoreIndirCoalescing
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
Labels: area-CodeGen-coreclr

#101765 [docs] Import mono manual page
  docs/design/mono/mono-manpage-1.md
Labels: documentation, area-Meta

#101697 Remove perfinfo-%pid.map
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/domainassembly.cpp
  src/coreclr/vm/perfinfo.cpp
  src/coreclr/vm/perfinfo.h
  src/coreclr/vm/perfmap.cpp
  src/coreclr/vm/perfmap.h
Labels: area-Tracing-coreclr

#101468 Bump main pre-release version to 5
  eng/Versions.props
Labels: area-Infrastructure

#101766 [mono][debug-helpers] Parse W: prefix in MONO_VERBOSE_METHOD to match wrappers
  docs/design/mono/mono-manpage-1.md
  src/mono/mono/metadata/debug-helpers.c
Labels: area-VM-meta-mono

#101754 [JIT] SVE Cleanup: Merging formats SVE_AB_3A and SVE_AD_3A into SVE_AA_3A
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/emitfmtsarm64sve.h
  src/coreclr/jit/instrsarm64sve.h
Labels: area-CodeGen-coreclr

#101751 Fix CodeQL issue cpp/enum-index in mono
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-s390x.c
Labels: area-Codegen-JIT-mono

#101780 [PERF] Temp forced dotnet version: Use a version that will consistently be found.
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
Labels: area-Infrastructure

#101153 Fix generic runtime lookup expansion in Tier0
  src/coreclr/jit/helperexpansion.cpp
Labels: area-CodeGen-coreclr

#101779 Update branding to 8.0.6
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#101776 Update branding to 6.0.31
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#101605 Try to reduce cost of Async
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilderCore.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncTaskMethodBuilderT.cs
Labels: area-System.Runtime.CompilerServices

#101760 JIT: Process all register kills in bulk in LSRA
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#101745 Fix some TensorPrimitives tests failing for me locally with checked builds
  src/libraries/System.Numerics.Tensors/tests/Helpers.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitives.Generic.cs
Labels: needs-area-label

#101501 Notify the debugger of a cross-thread dependency in Lock
  src/libraries/System.Private.CoreLib/src/System/Threading/Lock.cs
Labels: area-System.Threading

#101513 Fix Lock spin-waiting on single-proc machines
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Lock.NativeAot.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Lock.NonNativeAot.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Lock.cs
Labels: area-System.Threading

#101744 Backport #92375 and #93082 to release/8.0-staging
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/browser-wasm-build-tests.yml
  eng/pipelines/common/templates/simple-wasm-build-tests.yml
  eng/pipelines/common/templates/wasm-build-only.yml
  eng/pipelines/common/templates/wasm-debugger-tests.yml
  eng/pipelines/common/templates/wasm-library-tests.yml
  eng/pipelines/common/templates/wasm-runtime-tests.yml
  eng/pipelines/coreclr/ci.yml
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/perf-wasm-jobs.yml
  eng/pipelines/coreclr/perf_slow.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-android.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-androidemulator.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslike.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslikesimulator.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-linuxbionic.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-maccatalyst.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-other.yml
  eng/pipelines/libraries/outerloop-mono.yml
  eng/pipelines/libraries/outerloop.yml
  eng/pipelines/runtime-android-grpc-client-tests.yml
  eng/pipelines/runtime-community.yml
  eng/pipelines/runtime-linker-tests.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime-sanitized.yml
  eng/pipelines/runtime.yml
  eng/pipelines/runtimelab.yml
Labels: Servicing-approved, area-Infrastructure

#101359 ARM64: Optimize Volatile.Read/Write for floats
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#101791 JIT: Remove LSRA arm32 quirk
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#101818 [workloads] Bump to 8.0.5
  eng/Versions.props
Labels: Servicing-approved, area-Workloads

#101799 Fix PublishAot single warning issue for ProjectReferences
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#101737 [release/8.0-staging]: Add cryptographic operation counts to prevent process crashes
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ConcurrencyBlock.NoOp.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ConcurrencyBlock.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashProviderDispenser.OpenSsl.cs
Labels: Servicing-approved, area-System.Security

#101473 JIT: Implement greedy RPO-based block layout
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#101812 Revert Enable repackaging of NETStandard 2.1 Targeting Pack #101518
  eng/Subsets.props
  eng/Versions.props
  src/installer/pkg/sfx/installers.proj
  src/installer/pkg/sfx/installers/netstandard2.1.proj
Labels: Servicing-approved, area-Setup

#100716 GC: Fix survival rates for LOH/POH
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gc.h
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#101811 Use the standard nothrow tag instead of our own type
  src/coreclr/debug/ee/debugger.h
  src/coreclr/inc/new.hpp
  src/coreclr/inc/stresslog.h
  src/coreclr/inc/utilcode.h
  src/coreclr/utilcode/clrhost_nodependencies.cpp
  src/coreclr/utilcode/stresslog.cpp
  src/coreclr/vm/stackingallocator.cpp
  src/coreclr/vm/stackingallocator.h
Labels: area-VM-coreclr

#101739 JIT: synthesize PGO if no schema, when dynamic PGO is active
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#101823 [release/8.0-staging] Pin net7.0 to 7.0.19
  eng/Versions.props
Labels: Servicing-approved, area-Workloads

#101827 [wasi][windows] Disable the wasi-aot-library tests on windows
  eng/pipelines/runtime.yml
Labels: area-Build-mono

#101792 JIT: Mark swift error as busy before call definition RefPosition
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#101794 Trim instructionset name in helper
  src/coreclr/tools/Common/InstructionSetHelpers.cs
Labels: area-crossgen2-coreclr, community-contribution

#101762 JIT ARM64-SVE: Add simple bitwise ops
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, community-contribution, arm-sve

#101824 LSRA: Remove assert that enforces all multi-reg RefPositions to be either copy or reload but not mixed
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#101781 Don't enable use-after-return checking on Apple's Clang
  eng/native/configurecompiler.cmake
Labels: area-Infrastructure

#101798 Expose DOTNET_JitNoInline in Release
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#101761 JIT: Bulk copy of byrefs
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/inc/readytorun.h
  src/coreclr/inc/readytorunhelpers.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lowerriscv64.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/utils.cpp
  src/coreclr/nativeaot/Runtime/inc/ModuleHeaders.h
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunConstants.cs
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunSignature.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecall.cpp
  src/coreclr/vm/jithelpers.cpp
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
Labels: area-crossgen2-coreclr

#101850 [mono] Add check for generic types as target types
  src/mono/mono/metadata/marshal-lightweight.c
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.Generics.cs
Labels: area-VM-meta-mono

#101834 JIT: profile checking through inlining
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/jitmetadatalist.h
Labels: area-CodeGen-coreclr

#101851 JIT: Test RPO-based block layout in runtime-jit-experimental
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#101800 Ensure the scalar Reciprocal*Estimate APIs use AVX512 where possible
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Reciprocal.cs
  src/libraries/System.Numerics.Tensors/tests/Net8Tests/System.Numerics.Tensors.Net8.Tests.csproj
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitives.Generic.cs
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
Labels: area-System.Numerics

#101162 [browser] Fix ConvertDllsToWebCil stack dump on bad input to be error message with input path
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ConvertDllsToWebCil.cs
Labels: arch-wasm, area-Build-mono, os-browser

#101836 `explosed` -> `exposed`
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
Labels: community-contribution, needs-area-label

#101852 Remove old JIT perf lab experiments; add block layout experiment
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
Labels: area-Infrastructure-coreclr

#101841 Add tests for OAVariantLib
  src/tests/Interop/COM/NETClients/IDispatch/Program.cs
  src/tests/Interop/COM/NETServer/DispatchCoerceTesting.cs
  src/tests/Interop/COM/NativeClients/Dispatch/Client.cpp
  src/tests/Interop/COM/NativeClients/Dispatch/CoreShim.X.manifest
  src/tests/Interop/COM/NativeServer/COMNativeServer.X.manifest
  src/tests/Interop/COM/NativeServer/DispatchCoerceTesting.h
  src/tests/Interop/COM/NativeServer/Servers.cpp
  src/tests/Interop/COM/NativeServer/Servers.h
  src/tests/Interop/COM/ServerContracts/Server.CoClasses.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.h
  src/tests/Interop/COM/ServerContracts/ServerGuids.cs
Labels: area-Interop-coreclr, community-contribution

#101859 Arm64/Sve: Implement SVE Math Min*/Max* APIs
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
Labels: arm-sve

#101875 Fix check for AppleClang in src/native/libs and fix warnings
  src/native/libs/CMakeLists.txt
  src/native/libs/System.Globalization.Native/pal_calendarData.m
  src/native/libs/System.Globalization.Native/pal_casing.m
  src/native/libs/System.Globalization.Native/pal_collation.m
  src/native/libs/System.Globalization.Native/pal_locale.m
  src/native/libs/System.Globalization.Native/pal_normalization.m
  src/native/libs/System.Globalization.Native/pal_placeholders.c
  src/native/libs/System.Globalization.Native/pal_timeZoneInfo.m
  src/native/libs/System.Native/ios/net/if_media.h
  src/native/libs/System.Native/ios/netinet/icmp_var.h
  src/native/libs/System.Native/ios/netinet/ip_var.h
  src/native/libs/System.Native/ios/netinet/tcp_fsm.h
  src/native/libs/System.Native/ios/netinet/udp_var.h
  src/native/libs/System.Native/pal_autoreleasepool.m
  src/native/libs/System.Native/pal_datetime.m
  src/native/libs/System.Native/pal_environment.m
  src/native/libs/System.Native/pal_iossupportversion.m
  src/native/libs/System.Native/pal_log.m
  src/native/libs/System.Native/pal_networking.c
  src/native/libs/System.Native/pal_networkstatistics.c
  src/native/libs/System.Native/pal_process.c
  src/native/libs/System.Native/pal_searchpath.m
  src/native/libs/System.Native/pal_threading.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_digest.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_hmac.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_keychain_ios.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_keyderivation.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_keyderivation.h
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_signverify.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_ssl.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_x509_ios.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_x509chain.c
  src/native/libs/configure.cmake
  src/native/minipal/getexepath.h
  src/native/minipal/random.c
Labels: needs-area-label

#101858 Optimize 'ConvertOrWidenPrimitivesEnumsAndPointersIfPossible'
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
Labels: community-contribution, area-NativeAOT-coreclr

#100570 Delete dead code in GetLogicalProcessorCacheSizeFromOS for Linux Arm64
  src/coreclr/gc/unix/gcenv.unix.cpp
Labels: area-GC-coreclr

#101593 Start running S.L.Expressions trimming tests
  src/libraries/System.Linq.Expressions/tests/TrimmingTests/System.Linq.Expressions.TrimmingTests.proj
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#101417 Properly disable S.L.Queryable trimming tests with AOT
  src/libraries/System.Linq.Queryable/tests/TrimmingTests/System.Linq.Queryable.TrimmingTests.proj
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#101592 Start running System.Runtime trimming tests
  src/libraries/System.Runtime/tests/System.Runtime.Tests/TrimmingTests/InvariantGlobalizationTrue.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/TrimmingTests/System.Runtime.TrimmingTests.proj
  src/libraries/tests.proj
Labels: area-NativeAOT-coreclr

#101902 [LoongArch64] don't clear float-regs when passed by integer-regs.
  src/coreclr/jit/targetloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#101854 s390x: Fix nonvolatile context restoration
  src/coreclr/pal/src/arch/s390x/context2.S
Labels: area-PAL-coreclr, community-contribution

#101904 [LoongArch64] Fix nonvolatile context restoration referenced 101709.
  src/coreclr/pal/src/arch/loongarch64/asmconstants.h
  src/coreclr/pal/src/arch/loongarch64/context2.S
Labels: area-PAL-coreclr, arch-loongarch64

#101122 [mono] Add SwiftError support for Swift reverse pinvokes
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-arm64.c
  src/tests/Interop/Swift/SwiftErrorHandling/SwiftErrorHandling.cs
  src/tests/issues.targets
Labels: area-VM-meta-mono

#101895 Update auto-generated native AOT metadata wrappers to use readonly structs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/Assemblies/NativeFormat/NativeFormatRuntimeAssembly.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/MetadataReaderExtensions.NativeFormat.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/MetadataReaderExtensions.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/NativeFormat/DefaultValueParser.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/MethodInfos/NativeFormat/NativeFormatMethodCommon.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/TypeInfos/NativeFormat/NativeFormatRuntimeGenericParameterTypeInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/TypeInfos/NativeFormat/NativeFormatRuntimeNamedTypeInfo.cs
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/Internal/StackTraceMetadata/MethodNameFormatter.cs
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/Internal/StackTraceMetadata/StackTraceMetadata.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/MetadataNameExtensions.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/Generator/ReaderGen.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeFormatReaderGen.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeMetadataReader.cs
Labels: area-NativeAOT-coreclr

#101640 Refactor some DateTime and TimeSpan formatting/parsing methods
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TimeSpanFormat.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TimeSpanParse.cs
Labels: area-System.Globalization, community-contribution

#101899 Use IndexOf for bounded loops in a regex code gen
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#101870 Arm64/SVE: Mark operation inside ConditionalSelect as delay-free
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/lsraarm64.cpp
Labels: area-CodeGen-coreclr, arm-sve

#101924 JIT: Test RPO-based layout in `libraries-pgo`
  eng/pipelines/coreclr/libraries-pgo.yml
Labels: area-CodeGen-coreclr

#101577 Enable derived COM interfaces to hide base methods with the new keyword
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceAndMethodsContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodInfo.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/RcwAroundCcwTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/Compiles.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IHide.cs
Labels: area-System.Runtime.InteropServices

#101826 Simplify our global new/delete implementations
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/clrhost.h
  src/coreclr/inc/holder.h
  src/coreclr/inc/switches.h
  src/coreclr/inc/utilcode.h
  src/coreclr/utilcode/clrhost.cpp
  src/coreclr/utilcode/clrhost_nodependencies.cpp
  src/coreclr/utilcode/hostimpl.cpp
  src/coreclr/vm/hosting.cpp
Labels: area-VM-coreclr

#101277 Linker dependency framework
  eng/liveILLink.targets
  src/coreclr/Directory.Build.props
  src/coreclr/tools/aot/ILCompiler.DependencyAnalysisFramework/ILCompiler.DependencyAnalysisFramework.csproj
  src/tools/illink/src/linker/Linker.Steps/MarkScopeStack.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.MethodDefinitionNode.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.NodeFactory.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.ProcessCallbackNode.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.TypeDefinitionNode.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.TypeIsRelevantToVariantCastingNode.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.cs
  src/tools/illink/src/linker/Linker/DictionaryExtensions.cs
  src/tools/illink/src/linker/Mono.Linker.csproj
Labels: area-NativeAOT-coreclr

#101867 Enable streaming by default for EventPipe sessions started by environment variable
  src/coreclr/inc/clrconfigvalues.h
Labels: area-Tracing-coreclr

#101943 Missing `AddRef()` in test for `IDispatch`
  src/tests/Interop/COM/NETClients/IDispatch/Program.cs
  src/tests/Interop/COM/NativeServer/DispatchCoerceTesting.h
Labels: area-Interop-coreclr

#95565 Allow async interruptions on safepoints
  src/coreclr/gcinfo/gcinfoencoder.cpp
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/gcinfo.h
  src/coreclr/inc/gcinfodecoder.h
  src/coreclr/inc/gcinfoencoder.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/readytorun.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitarm.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/jitgcinfo.h
  src/coreclr/jit/regset.cpp
  src/coreclr/jit/target.h
  src/coreclr/jit/targetamd64.h
  src/coreclr/jit/targetarm.h
  src/coreclr/jit/targetarm64.h
  src/coreclr/jit/targetloongarch64.h
  src/coreclr/jit/targetriscv64.h
  src/coreclr/jit/targetx86.h
  src/coreclr/nativeaot/Runtime/TypeManager.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
  src/coreclr/nativeaot/Runtime/windows/CoffNativeCodeManager.cpp
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/GcInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/GcInfo.cs
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/gcinfodecoder.cpp
  src/tests/JIT/Directed/lifetime/lifetime2.csproj
Labels: area-CodeGen-coreclr

#101785 [JIT] SVE Cleanup: Merging SVE_AE_3A, SVE_AN_3A, SVE_EP_3A, SVE_ER_3A, SVE_ET_3A, SVE_EU_3A into SVE_AA_3A
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/emitfmtsarm64sve.h
  src/coreclr/jit/instrsarm64sve.h
Labels: area-CodeGen-coreclr, arm-sve

#101925 JIT: fix STRESS_BB_PROFILE issue
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#101864 Improve performance of Debugger.NotifyOfCrossThreadDependency under a debugger
  src/coreclr/debug/di/process.cpp
  src/coreclr/debug/di/rsclass.cpp
  src/coreclr/debug/di/rspriv.h
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/debug/inc/dbgipcevents.h
  src/coreclr/debug/inc/dbgipceventtypes.h
  src/coreclr/debug/shared/dbgtransportsession.cpp
Labels: area-Diagnostics-coreclr

#101927 Use REG_INDIRECT_CALL_TARGET_REG for indirect calls on arm64
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsraarmarch.cpp
Labels: area-CodeGen-coreclr

#101934 [mono] Remove unused --arch and --gc switches from driver.c
  src/mono/mono/mini/driver.c
Labels: area-VM-meta-mono

#101315 [browser] Integrate static web asset endpoints into wasm sdk
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
Labels: arch-wasm, area-Build-mono, os-browser

#101318 Remove unnecessary indirect use of managed wcslen from AppContext setup
  src/libraries/System.Private.CoreLib/src/System/AppContext.cs
  src/mono/mono/metadata/appdomain.c
Labels: area-VM-meta-mono

#101910 Finish the TypeName cleanup
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/AssemblyNameInfo.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeName.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeNameParser.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeNameParserHelpers.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeNameParserOptions.cs
  src/libraries/System.Reflection.Metadata/tests/System.Reflection.Metadata.Tests.csproj
Labels: area-System.Reflection.Metadata

#101968 [iOS][HybridGlobalization] Fix LocaleNumber_MeasurementSystem
  src/native/libs/System.Globalization.Native/pal_locale.m
Labels: area-System.Globalization, os-ios

#101971 Fix arm64 callee saved register set
  src/coreclr/vm/arm64/cgencpu.h
Labels: area-ExceptionHandling-coreclr

#101997 Declare __cxa_demangle where it's used based on the Itanium ABI instead of including the ABI header.
  src/coreclr/debug/createdump/crashinfo.cpp
  src/coreclr/debug/createdump/createdump.h
Labels: area-Diagnostics-coreclr

#101340 JIT: Rewrite initial parameter frame layout in terms of new ABI info
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/abi.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/targetx86.cpp
Labels: area-CodeGen-coreclr

#101995 Partially revert "Disable msvc vectorization in GC get_promoted_bytes (#100309)"
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#101956 Fold nullchecks in Interlocked.*
  src/coreclr/jit/earlyprop.cpp
Labels: area-CodeGen-coreclr

#101891 Use QueueUserAPC2 for EE suspension on CoreCLR win-arm64.
  src/coreclr/clrdefinitions.cmake
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/vm/amd64/RedirectedHandledJITCase.asm
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
  src/coreclr/vm/threadsuspend.h
Labels: arch-arm64, os-windows, area-VM-coreclr

#102001 Explicitly link against the dotnet/llvm-project libc++
  src/mono/CMakeLists.txt
  src/mono/mono.proj
Labels: area-Build-mono

#101819 Move issue links from comments to the warning attributes in trimming tests.
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Assertions/Tool.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ArrayDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributeConstructorDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ByRefDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeInPreservedAssemblyWithWarning.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ConstructedTypesDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ConstructorDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/DynamicObjects.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/FieldDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/GetTypeDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/LocalDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MakeGenericDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MethodByRefParameterDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MethodOutParameterDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MethodParametersDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MethodReturnParameterDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/RefFieldDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/TypeBaseTypeDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/VirtualMethodHierarchyDataflowAnnotationValidation.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/ExpressionPropertyMethodInfo.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/MethodsUsedViaReflection.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/ObjectGetType.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchyReflectionWarnings.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAccessedThrough.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresViaDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/UnreachableBlock/CompilerGeneratedCodeSubstitutions.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFeatureSubstitutions.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCompilerGeneratedCode.cs
Labels: linkable-framework, area-Tools-ILLink

#102015 Fix typo
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DecompressionHandler.cs
Labels: area-System.Net.Http

#101725 [WinHttpHandler] Move `_cachedSendPinnedBuffer` ownership to `WinHttpRequestState`
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestState.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestStream.cs
Labels: area-System.Net.Http

#102022 Update area owners
  docs/area-owners.md
Labels: area-Meta

#101987 [Mono] Profile AOT: Relax is_local_inst to let more methods qualified for AOT compilation
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#101958 JIT: SVE Cleanup - Merging some similar SVE formats into `SVE_AT_3A`
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/emitfmtsarm64sve.h
  src/coreclr/jit/instrsarm64sve.h
Labels: area-CodeGen-coreclr

#102021 Small followup to Use QueueUserAPC2 for EE suspension on CoreCLR win-arm64
  src/coreclr/vm/threadsuspend.cpp
Labels: area-VM-coreclr

#102025 Update SPMI collection script for ASP.NET
  src/coreclr/scripts/superpmi_aspnet.py
Labels: area-CodeGen-coreclr

#102003 Remove ThreadNative_GetProcessDefaultStackSize
  src/coreclr/inc/pedecoder.h
  src/coreclr/inc/pedecoder.inl
  src/coreclr/inc/utilcode.h
  src/coreclr/utilcode/pedecoder.cpp
  src/coreclr/utilcode/util_nodependencies.cpp
  src/coreclr/vm/comsynchronizable.cpp
  src/coreclr/vm/comsynchronizable.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#101874 Support loading standalone GC from an absolute path using a new config named DOTNET_GCPath
  src/coreclr/gc/gcconfig.h
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/utilcode.h
  src/coreclr/nativeaot/Runtime/clrgc.enabled.cpp
  src/coreclr/utilcode/util.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/gcheaputilities.cpp
Labels: area-GC-coreclr

#102027 Add more issue links to trimmer assertions
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AnnotatedMembersAccessedViaReflection.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ArrayDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AssemblyQualifiedNameDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributeFieldDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributePropertyDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ByRefDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeAccessedViaReflection.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchyReflectionWarnings.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/ReflectionAccessFromCompilerGeneratedCode.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresInCompilerGeneratedCode.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCompilerGeneratedCode.cs
Labels: linkable-framework, area-Tools-ILLink

#102029 [mono] Use simdhash for aot method lookup ptr->methodinfo cache
  src/mono/mono/metadata/CMakeLists.txt
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/aot-runtime.c
Labels: area-Codegen-AOT-mono

#101478 [mono][gc] Remove reliance on regs/stack scanning in some cases
  src/libraries/tests.proj
  src/mono/mono/metadata/reflection.c
  src/mono/mono/sgen/sgen-gc.c
Labels: area-GC-mono

#101681 [mono][wasm] Refactor mono_fixup_symbol_name
  src/mono/browser/runtime/runtime.c
  src/mono/mono/metadata/native-library.c
  src/mono/mono/metadata/native-library.h
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/mini-llvm.c
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
Labels: arch-wasm, area-AssemblyLoader-mono

#101856 JIT CSE Optimization - Add a gymnasium environment for reinforcement learning
  src/coreclr/jit/compiler.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optcse.h
  src/coreclr/scripts/cse_ml/.gitignore
  src/coreclr/scripts/cse_ml/.pylintrc
  src/coreclr/scripts/cse_ml/evaluate.py
  src/coreclr/scripts/cse_ml/img/training.png
  src/coreclr/scripts/cse_ml/jitml/__init__.py
  src/coreclr/scripts/cse_ml/jitml/constants.py
  src/coreclr/scripts/cse_ml/jitml/jit_cse.py
  src/coreclr/scripts/cse_ml/jitml/machine_learning.py
  src/coreclr/scripts/cse_ml/jitml/method_context.py
  src/coreclr/scripts/cse_ml/jitml/superpmi.py
  src/coreclr/scripts/cse_ml/jitml/wrappers.py
  src/coreclr/scripts/cse_ml/readme.md
  src/coreclr/scripts/cse_ml/requirements.txt
  src/coreclr/scripts/cse_ml/scripts/add_jitml_path.py
  src/coreclr/scripts/cse_ml/scripts/calculate_feature_norm.py
  src/coreclr/scripts/cse_ml/train.py
Labels: area-CodeGen-coreclr

#102041 [LoongArch64] Simplify flags for passing struct in registers.
  src/coreclr/tools/Common/JitInterface/LoongArch64PassStructInRegister.cs
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtable.h
Labels: area-VM-coreclr, community-contribution, arch-loongarch64

#100266 [wasm] Use source built emsdk packages for the runtime build
  eng/Version.Details.xml
  eng/Versions.props
  eng/native/gen-buildsys.cmd
  eng/pipelines/common/templates/pipeline-with-resources.yml
  src/libraries/sendtohelix-browser.targets
  src/mono/browser/Makefile
  src/mono/browser/browser.proj
  src/mono/browser/build/EmSdkRepo.Defaults.props
  src/mono/browser/runtime/CMakeLists.txt
  src/mono/browser/sanitize.py
  src/mono/mono.proj
  src/tasks/WasmAppBuilder/RunWithEmSdkEnv.cs
Labels: area-Build-mono

#101845 Fix typos in TensorPrimitives MultiplyAdd documentation
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.Single.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.FusedMultiplyAdd.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.MultiplyAdd.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.MultiplyAddEstimate.cs
Labels: area-System.Numerics, community-contribution

#101848 Simplify/optimize Int128 comparison operators
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Int128Tests.GenericMath.cs
Labels: community-contribution, needs-area-label

#101620 Refactor AdvSimd version of DecodeFromUTF8
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Base64Decoder.cs
Labels: area-System.Buffers, community-contribution

#101557 Suppress -Wformat-truncation for older GCC
  src/native/libs/System.Globalization.Native/pal_icushim.c
Labels: area-System.Globalization, community-contribution

#98278 Allow setting ZipArchiveEntry general-purpose flag bits
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_CreateTests.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/ZipPackage.cs
  src/libraries/System.IO.Packaging/tests/ReflectionTests.cs
  src/libraries/System.IO.Packaging/tests/Tests.cs
Labels: area-System.IO.Compression, breaking-change, needs-breaking-change-doc-created, community-contribution

#102052 disable new EH on win-arm64
  src/coreclr/inc/clrconfigvalues.h
Labels: area-VM-coreclr

#102036 Switch AOT compilers to use AssemblyNameInfo
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/MetadataReaderExtensions.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/AssemblyNameInfo.Dummy.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
  src/coreclr/tools/Common/Compiler/CompilerTypeSystemContext.cs
  src/coreclr/tools/Common/Compiler/ProcessLinkerXmlBase.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeFormatReaderCommonGen.cs
  src/coreclr/tools/Common/TypeSystem/Common/IAssemblyDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/IModuleResolver.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemContext.Resolution.cs
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/CustomAttributeTypeNameParser.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaAssembly.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaModule.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaModule.cs
  src/coreclr/tools/Common/TypeSystem/MetadataEmitter/TypeSystemMetadataEmitter.cs
  src/coreclr/tools/ILVerification/AccessVerificationHelpers.cs
  src/coreclr/tools/ILVerification/ILVerifyTypeSystemContext.cs
  src/coreclr/tools/ILVerification/IResolver.cs
  src/coreclr/tools/ILVerification/Verifier.cs
  src/coreclr/tools/ILVerify/Program.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.GeneratedAssembly.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DynamicDependencyAttributesOnEntityNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ModuleInitializerListNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ResourceIndexNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MstatObjectDumper.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.Scope.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/ILCompiler/Metadata/Transform.TypeForwarders.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ManifestMetadataTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/IBC/MIbcProfileParser.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/TypeSystem/Mutable/MutableModule.cs
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCasesRunner/TrimmingDriver.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/SignatureTests.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/TestTypeSystemContext.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/ILCompiler/RdXmlRootProvider.cs
  src/coreclr/tools/dotnet-pgo/MibcEmitter.cs
  src/coreclr/tools/dotnet-pgo/PgoRootCommand.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/coreclr/tools/dotnet-pgo/TraceRuntimeDescToTypeSystemDesc.cs
  src/coreclr/tools/dotnet-pgo/TraceTypeSystemContext.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemContext.cs
  src/coreclr/tools/dotnet-pgo/TypeRefTypeSystem/TypeRefTypeSystemModule.cs
Labels: area-NativeAOT-coreclr

#101782 Porting `SuspendAllThreads` from the NativeAOT to CoreCLR.
  docs/design/datacontracts/Thread.md
  src/coreclr/debug/ee/debugger.h
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/vm/comtoclrcall.cpp
  src/coreclr/vm/eedbginterfaceimpl.cpp
  src/coreclr/vm/fcall.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/i386/asmhelpers.S
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/i386/stublinkerx86.cpp
  src/coreclr/vm/i386/stublinkerx86.h
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/object.inl
  src/coreclr/vm/syncblk.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
  src/coreclr/vm/threadsuspend.h
  src/coreclr/vm/vars.cpp
  src/coreclr/vm/vars.hpp
Labels: area-VM-coreclr

#102039 [mono] miscellaneous AOT optimizations
  src/mono/browser/runtime/jiterpreter-interp-entry.ts
  src/mono/mono/metadata/class.c
  src/mono/mono/metadata/image.c
  src/mono/mono/metadata/loader-internals.h
  src/mono/mono/metadata/loader.c
  src/mono/mono/metadata/memory-manager.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata.c
  src/mono/mono/mini/CMakeLists.txt
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter.h
  src/mono/sample/wasm/simple-raytracer/Program.cs
  src/mono/sample/wasm/simple-raytracer/main.js
Labels: area-VM-meta-mono

#99666 Provide System.IO.Pipelines package readme
  src/libraries/System.IO.Pipelines/src/PACKAGE.md
Labels: area-System.IO.Pipelines, community-contribution

#101768 Remove snapcraft files
  src/installer/pkg/snap/6.0/snapcraft.yaml
  src/installer/pkg/snap/7.0/snapcraft.yaml
  src/installer/pkg/snap/8.0/snapcraft.yaml
  src/installer/pkg/snap/snapcraft.yaml
Labels: area-Infrastructure-installer

#102062 Add flag for NAOT linking, but not enabling server GC
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
Labels: area-NativeAOT-coreclr

#101966 [RISC-V] Support SV48 Virtual Memory Layout
  src/coreclr/jit/emitriscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#102067 Compile AOT compilers with InvariantGlobalization
  src/coreclr/tools/aot/AotCompilerCommon.props
Labels: area-crossgen2-coreclr

#99181 make Socket useable after cancellation
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/NetworkStreamTest.cs
Labels: area-System.Net.Sockets

#101869 [release/8.0-staging] Transition to 1ES templates work (Backport crossgen2 changes)
  eng/Subsets.props
  eng/targetingpacks.targets
  src/coreclr/crossgen-corelib.proj
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/coreclr/tools/aot/crossgen2/crossgen2_crossarch.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2_inbuild.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2_publish.csproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/ReadyToRun.targets
Labels: Servicing-approved, area-Infrastructure

#102066 Fix for profiler test arm64
  src/tests/profiler/common/ProfilerTestRunner.cs
  src/tests/profiler/multiple/multiple.cs
  src/tests/profiler/native/multiple/multiple.cpp
  src/tests/profiler/unittest/releaseondetach.cs
Labels: area-Diagnostics-coreclr

#98587 Simplify BigInteger.Multiply
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.SquMul.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/multiply.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/op_multiply.cs
Labels: area-System.Numerics, community-contribution

#102092 [mini] arm64: Add some more space for tailcall opcodes
  src/mono/mono/mini/mini-arm64.c
Labels: area-Codegen-JIT-mono

#102102 Fix Mono.Linker.Tests build
  eng/pipelines/common/evaluate-default-paths.yml
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/ILVerification/ILVerifier.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/ILVerifier.cs
Labels: needs-area-label

#102007 Arm64/Sve: Implement SVE Math *Multiply* APIs
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/targetarm64.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveImmBinaryOpTestTemplate.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveImmTernOpTestTemplate.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveTernOpTestTemplate.template
Labels: area-CodeGen-coreclr, arm-sve

#101950 Handle more than 64 registers - Part 1
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/regset.cpp
  src/coreclr/jit/target.h
  src/coreclr/jit/utils.cpp
Labels: area-CodeGen-coreclr

#100775 [mono][interp] Add missing GC wbarriers for static field stores with hotreload enabled
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#102089 Use BoundsCheckNoThrow assertion in optAssertionProp_RangeProperties
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#102024 JIT: Expand optRelopImpliesRelop for constants as op1
  src/coreclr/jit/compiler.h
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#102084 ARM64: avoid memory barrier in InlinedMemmoveGCRefsHelper if dest is not on heap
  src/coreclr/classlibnative/bcltype/arraynative.inl
  src/coreclr/nativeaot/Runtime/GCMemoryHelpers.cpp
  src/coreclr/nativeaot/Runtime/GCMemoryHelpers.inl
  src/coreclr/vm/gchelpers.cpp
  src/coreclr/vm/gchelpers.h
  src/coreclr/vm/gchelpers.inl
  src/mono/mono/metadata/icall.c
Labels: area-VM-coreclr

#102115 Fix build break in outer loop runtime tests
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/tests/ilverify/TestDataLoader.cs
Labels: area-CodeGen-coreclr

#102065 Disable tests failing on NAOT
  src/tests/JIT/Methodical/doublearray/dblarray1.cs
  src/tests/JIT/Methodical/doublearray/dblarray2.cs
  src/tests/JIT/Methodical/doublearray/dblarray3.cs
  src/tests/JIT/Methodical/doublearray/dblarray4.cs
  src/tests/JIT/Methodical/refany/array2.cs
  src/tests/JIT/Methodical/refany/array2.il
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#100823 Simplify "secret stub arg" handling between JIT and EE
  eng/native/sanitizer-ignorelist.txt
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/MemoryHelper.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/ILCompiler.RyuJit.csproj
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/vm/amd64/asmconstants.h
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/loongarch64/asmconstants.h
  src/coreclr/vm/riscv64/asmconstants.h
Labels: area-CodeGen-coreclr

#102134 Fix build break in outer loop tests
  src/tests/JIT/Methodical/doublearray/dblarray4_cs_d.csproj
  src/tests/JIT/Methodical/doublearray/dblarray4_cs_do.csproj
  src/tests/JIT/Methodical/doublearray/dblarray4_cs_r.csproj
  src/tests/JIT/Methodical/doublearray/dblarray4_cs_ro.csproj
Labels: area-Infrastructure-coreclr

#102129 Move checked math helpers to C#
  src/coreclr/inc/jithelpers.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/MathHelpers.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateThunks.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/ValueTypeGetFieldHelperMethodOverride.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/Marshaller.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecall.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/metasig.h
  src/libraries/System.Private.CoreLib/src/System/Math.cs
Labels: area-VM-coreclr

#102137 JIT: Handle GT_CNS_LNG and GT_CNS_DBL in GenTree::Compare
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#102085 Fix msquic on latest (2.3.5) release
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
Labels: area-System.Net.Http

#102058 Target NetCoreAppToolCurrent in ILC test projects
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/ILCompiler.Compiler.Tests.Assets.csproj
Labels: community-contribution, area-NativeAOT-coreclr

#101338 Change erroneous use of && to & when used to make a bitmask
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen-coreclr, community-contribution

#100399 Make it possible to eliminate branches guarded by IsEnum
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SubstitutedILProvider.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DeadCodeElimination.cs
Labels: area-NativeAOT-coreclr

#101461 Add PipeWriter overloads to Json
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.IO.Pipelines/ref/System.IO.Pipelines.csproj
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/AsyncSerializationBufferWriterContext.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Pipe.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.WriteHelpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriterCache.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CollectionTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ConstructorTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/InvalidTypeTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonCreationHandlingTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonSerializerApiValidation.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/JsonSerializerWrapper.Reflection.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/MetadataTests/MetadataTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/NumberHandlingTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Pipe.WriteTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/PolymorphicTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ReferenceHandlerTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/RequiredKeywordTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/UnmappedMemberHandlingTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj
Labels: area-System.Text.Json, new-api-needs-documentation

#102091 TimeSpanConverter: Less restrict in-range check to allow more timespan formats that would be accepted by Utf8Parser.TryParse
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/TimeSpanConverter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Value.ReadTests.cs
Labels: area-System.Text.Json, community-contribution

#102076 JIT ARM64-SVE: Add Sve.CreateFalseMask*()
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveCreateTrueMaskTest.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveSimpleNoOpTest.template
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, community-contribution, arm-sve

#101623 Enable building with gcc-14
  eng/nativeSanitizers.targets
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/pipeline-with-resources.yml
  src/coreclr/inc/corhlprpriv.h
  src/coreclr/inc/utilcode.h
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/unwinder/arm64/unwinder.cpp
  src/coreclr/vm/field.h
Labels: area-Infrastructure-coreclr, community-contribution

#102073 Fix VirtualCallStubManager stats capturing on EE shutdown
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/virtualcallstub.cpp
  src/coreclr/vm/virtualcallstub.h
Labels: area-VM-coreclr, community-contribution

#101822 Backport #92296 and #92438 to release/6.0-staging
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/coreclr/templates/xplat-pipeline-job.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/installer/jobs/steps/upload-job-artifacts.yml
  eng/pipelines/libraries/base-job.yml
  eng/pipelines/mono/templates/build-job.yml
  eng/pipelines/mono/templates/xplat-pipeline-job.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  eng/pipelines/runtimelab/runtimelab-post-build-steps.yml
  src/installer/managed/Microsoft.NET.HostModel/Microsoft.NET.HostModel.csproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Host.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Ref.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
Labels: Servicing-approved, area-Infrastructure

#100791 Fix comments in ZipFileExtensions.ZipArchiveEntry.Extract.cs
  src/libraries/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchiveEntry.Extract.cs
Labels: area-System.IO.Compression, community-contribution

#100384 Fix the typo in IOptionsFactory source documentation
  src/libraries/Microsoft.Extensions.Options/src/IOptionsFactory.cs
Labels: area-Extensions-Options, community-contribution

#102147 [release/8.0] Fix data race leading to a deadlock when opening QuicStream
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/ThrowHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs
Labels: Servicing-approved, area-System.Net.Quic

#102071 Refactor handling of two immediates in hwintrinsic
  src/coreclr/jit/codegen.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lsraarm64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arm-sve

#102098 Change the ReciprocalEstimate and ReciprocalSqrtEstimate APIs to be mustExpand on RyuJIT
  docs/design/coreclr/botr/vectors-and-intrinsics.md
  src/coreclr/jit/compiler.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector256Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector512Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector64Tests.cs
  src/tests/JIT/Regression/JitBlue/Runtime_101731/Runtime_101731.cs
  src/tests/JIT/Regression/JitBlue/Runtime_101731/Runtime_101731.csproj
  src/tests/JIT/SIMD/VectorConvert.cs
Labels: area-CodeGen-coreclr

#102162 Ensure that the TensorPrimitives.Min/MaxNumber functions follow the IEEE 754:2019 spec
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.MaxNumber.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.MinNumber.cs
Labels: area-System.Numerics
