Repository dotnet/runtime, pull requests merged in 2024-04, with the labels that each got.

#100471 Add OptRepeat phase start/end indications
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/phase.cpp
Labels: area-CodeGen-coreclr

#100392 [NativeAOT] Use SoftFP ABI on linux-bionic-arm
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.SingleEntry.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: arch-arm32, community-contribution, area-NativeAOT-coreclr

#99688 Enable NativeAOT win-x86 runtime tests
  eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/installer/pkg/projects/Microsoft.DotNet.ILCompiler/ILCompilerRIDs.props
Labels: arch-x86, community-contribution, area-NativeAOT-coreclr

#100195 Build win-x86 NativeAOT runtime pack
  eng/pipelines/runtime-official.yml
Labels: NO-MERGE, arch-x86, community-contribution, area-NativeAOT-coreclr

#100469 Fix non-deterministic trigger of struct type initializers
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/object.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_100466/Runtime_100466.cs
  src/tests/JIT/Regression/JitBlue/Runtime_100466/Runtime_100466.csproj
Labels: area-CodeGen-coreclr

#94250 Fix JitOptRepeat
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/tests/JIT/Directed/debugging/debuginfo/tester.csproj
Labels: area-CodeGen-coreclr

#99433 Start moving over to official templates
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/pipeline-with-resources.yml
  eng/pipelines/common/templates/publish-build-artifacts.yml
  eng/pipelines/common/templates/publish-pipeline-artifacts.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/xplat-job.yml
  eng/pipelines/common/templates/template1es.yml
  eng/pipelines/common/templates/templateDispatch.yml
  eng/pipelines/common/templates/templatePublic.yml
  eng/pipelines/common/upload-artifact-step.yml
  eng/pipelines/common/upload-intermediate-artifacts-step.yml
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/global-build.yml
  eng/pipelines/mono/templates/generate-offsets.yml
  eng/pipelines/mono/templates/workloads-build.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
  eng/pipelines/official/stages/publish.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure, linkable-framework

#100316 Add Task.WhenEach to process tasks as they complete
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceProviderValidationTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/OptionsBuilderExtensionsTests.cs
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/HttpClientLoggerTest.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Threading.Tasks.Tests/MethodCoverage.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
Labels: area-System.Threading.Tasks, new-api-needs-documentation

#100444 Fix allocation of empty array in the frozen heap for collectible types
  src/coreclr/jit/importer.cpp
  src/coreclr/vm/frozenobjectheap.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_100437/Runtime_100437.cs
  src/tests/JIT/Regression/JitBlue/Runtime_100437/Runtime_100437.csproj
Labels: area-CodeGen-coreclr, community-contribution

#100276 JIT: Add separate ABI classifiers for x86/win-x64/SysV-x64/ARM64
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/abi.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compmemkind.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/registerargconvention.h
  src/coreclr/jit/targetamd64.cpp
  src/coreclr/jit/targetarm64.cpp
  src/coreclr/jit/targetx86.cpp
Labels: area-CodeGen-coreclr

#100450 [browser][wbt] SignalRClientTests - wait for selectors of all the buttons
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/SignalRClientTests.cs
Labels: arch-wasm, area-VM-meta-mono

#100517 [browser] reduce sample re-link
  src/libraries/Microsoft.Extensions.Logging.Abstractions/tests/Microsoft.Extensions.Logging.Generators.Tests/Microsoft.Extensions.Logging.Generators.Roslyn4.0.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System.Runtime.InteropServices.JavaScript.Tests.csproj
  src/mono/sample/wasm/Directory.Build.props
  src/mono/sample/wasm/browser-bench/Console/Wasm.Console.Bench.Sample.csproj
  src/mono/sample/wasm/browser-profile/Wasm.BrowserProfile.Sample.csproj
Labels: arch-wasm, area-Build-mono, os-browser

#100326 Add JitOptRepeat to JIT experimental AzDO pipeline
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#100408 [browser][MT] fix error propagation when calling JSImport of missing JS function
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.cs
  src/mono/browser/runtime/invoke-js.ts
  src/mono/browser/runtime/marshal-to-cs.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#100490 Fix more diagnostics with CA2263
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ComInterop/ComRuntimeHelpers.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ComInterop/ComTypeEnumDesc.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ComInterop/ExcepInfo.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ComInterop/IDispatchComObject.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/SymbolTable.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ServiceCollectionServiceExtensions.Keyed.cs
  src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileIO/FileSystem.vb
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/BindingList.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AD/SidList.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AuthZSet.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/SAM/SAMStoreCtx.cs
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/Utils.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/BerConverter.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/DirectoryControl.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
  src/libraries/System.DirectoryServices/src/Interop/EnumVariant.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ActiveDirectoryReplicationMetaData.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ActiveDirectorySite.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/DirectoryServer.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ForestTrustRelationshipInformation.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ReplicationCursorCollection.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ReplicationFailureCollection.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ReplicationNeighborCollection.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ReplicationOperationCollection.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/TrustHelper.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/Utils.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/DirectorySearcher.cs
  src/libraries/System.Private.CoreLib/src/System/ComponentModel/DefaultValueAttribute.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xslt/XslCompiledTransform.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.JSObject.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Object.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.String.cs
  src/libraries/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectInfo.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/LiteHash.Apple.cs
  src/libraries/System.Windows.Extensions/src/System/Media/SoundPlayer.cs
Labels: area-Meta

#100511 Fix interop test log statement
  src/tests/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByOut/PassingByOutTest.cs
Labels: area-Interop-coreclr

#100533 SPMI: Fix Python 3.12 warnings in superpmi.py
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#100528 Allow for setting of isOfficialBuild when uploading intermediate artifacts
  eng/pipelines/common/upload-intermediate-artifacts-step.yml
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
Labels: area-Infrastructure

#100514 Disable System.Net.Quic tests on arm32
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicCipherSuitesPolicyTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicRemoteExecutorTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
Labels: area-System.Net.Quic

#100545 Update branding to 6.0.30
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#100546 Update branding to 7.0.19
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#100547 Update branding to 8.0.5
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#99986 Enable FEATURE_PERFMAP on OSX, and update perfjitdump.cpp to work on OSX
  src/coreclr/clrdefinitions.cmake
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/pal/src/misc/perfjitdump.cpp
Labels: area-Diagnostics-coreclr, community-contribution

#100549 Arm64: Fix sve unit tests
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
Labels: area-CodeGen-coreclr, arch-arm64-sve

#100526 JIT: Add ABI classifier for arm32
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/abi.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/targetarm.cpp
Labels: area-CodeGen-coreclr

#100502 Guard against -1 Returned from sysconf for the Cache Sizes Causing Large Gen0 Sizes and Budgets for Certain Linux Distributions.
  src/coreclr/gc/unix/gcenv.unix.cpp
Labels: area-GC-coreclr

#100522 [wasm] Enable System.Runtime.Serialization.Schema.Tests for HybridGlobalization on v8
  src/libraries/System.Runtime.Serialization.Schema/tests/System/Runtime/Serialization/Schema/RoundTripTest.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Diagnostics/StackTraceHiddenAttributeTests.cs
Labels: arch-wasm, area-System.Globalization, disabled-test

#100415 [browser][MT] smaller thread pool
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptImports.Generated.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSWebWorker.cs
  src/libraries/System.Runtime/tests/System.Threading.Tasks.Tests/System.Threading.Tasks.Tests.csproj
  src/libraries/System.Threading.Thread/tests/System.Threading.Thread.Tests.csproj
  src/libraries/System.Threading.ThreadPool/tests/System.Threading.ThreadPool.Tests.csproj
  src/libraries/System.Threading/tests/System.Threading.Tests.csproj
  src/mono/browser/runtime/exports-internal.ts
  src/mono/browser/runtime/loader/config.ts
  src/mono/browser/runtime/pthreads/index.ts
  src/mono/browser/runtime/pthreads/ui-thread.ts
Labels: arch-wasm, area-VM-threading-mono, os-browser

#100251 [browser][MT] mono_wasm_schedule_synchronization_context
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSSynchronizationContext.cs
  src/mono/browser/runtime/corebindings.c
  src/mono/browser/runtime/cwraps.ts
  src/mono/browser/runtime/driver.c
  src/mono/browser/runtime/exports-binding.ts
  src/mono/browser/runtime/pthreads/deputy-thread.ts
  src/mono/browser/runtime/pthreads/shared.ts
  src/mono/browser/runtime/scheduling.ts
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini-wasm.h
  src/mono/mono/utils/mono-threads-wasm.c
  src/mono/mono/utils/mono-threads-wasm.h
  src/mono/mono/utils/mono-threads.c
  src/mono/mono/utils/mono-threads.h
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#100577 [browser][mt] Block Blazor WBT that timeout
  src/mono/wasm/Wasm.Build.Tests/Blazor/SimpleMultiThreadedTests.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/SignalRClientTests.cs
Labels: arch-wasm, disabled-test, area-VM-threading-mono

#100579 [wasm][bench] Fix startup measurements
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
Labels: area-Infrastructure-mono

#99685 [browser][ws] Do not duplicate code executed in `local_on_close`
  src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs
  src/mono/browser/runtime/web-socket.ts
Labels: arch-wasm, area-Build-mono

#100410 [browser][MT] assert no managed transition on UI thread after start
  src/mono/browser/runtime/exports-internal.ts
  src/mono/browser/runtime/gc-lock.ts
  src/mono/browser/runtime/marshal-to-cs.ts
  src/mono/browser/runtime/marshal-to-js.ts
  src/mono/browser/runtime/roots.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/strings.ts
  src/mono/browser/runtime/types/internal.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#100552 JIT: fix early convergence in profile count solver
  src/coreclr/jit/fgprofilesynthesis.cpp
Labels: area-CodeGen-coreclr

#100315 Several improvements / simplifications in Regex
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/gen/System.Text.RegularExpressions.Generator.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
Labels: area-System.Text.RegularExpressions

#100560 Fix use of uninitialized `bool` value
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/readytoruninfo.cpp
Labels: area-VM-coreclr

#100551 Delete dead code
  src/coreclr/inc/corinfo.h
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emitpub.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/tinyarray.h
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr, community-contribution

#100390 DATAS tuning changes for small HCs
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
  src/coreclr/inc/gcmsg.inl
Labels: area-GC-coreclr

#100601 JIT: add note on profile reconstruction
  docs/design/coreclr/jit/profile-count-reconstruction.md
Labels: area-CodeGen-coreclr

#100472 PEReader throws exception when using PEStreamOptions.PrefetchMetadata for some assemblies
  src/libraries/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEReader.cs
  src/libraries/System.Reflection.Metadata/tests/PortableExecutable/PEReaderTests.cs
Labels: area-System.Reflection.Metadata, community-contribution

#100337 [ppc64le] Fixed insufficient memory exception issue
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono, community-contribution

#100607 Enable JitOptRepeat as a perf experiment
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
Labels: area-Infrastructure-coreclr

#100609 JIT: fix some display math issues in reconstruction doc
  docs/design/coreclr/jit/profile-count-reconstruction.md
Labels: area-CodeGen-coreclr

#100512 Fix building x86 Windows native AOT runtime packs
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure-coreclr

#100604 Remove HOST_CALLS contract and related stuff
  src/coreclr/inc/contract.h
  src/coreclr/inc/staticcontract.h
  src/coreclr/nativeaot/Runtime/windows/CoffNativeCodeManager.cpp
  src/coreclr/utilcode/check.cpp
  src/coreclr/utilcode/debug.cpp
  src/coreclr/vm/amd64/cgenamd64.cpp
  src/coreclr/vm/amd64/gmsamd64.cpp
  src/coreclr/vm/amd64/gmscpu.h
  src/coreclr/vm/arm/gmscpu.h
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm64/gmscpu.h
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/ecall.cpp
  src/coreclr/vm/eecontract.cpp
  src/coreclr/vm/eecontract.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.cpp
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/gc_unwind_x86.inl
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/i386/gmscpu.h
  src/coreclr/vm/i386/gmsx86.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/loongarch64/gmscpu.h
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.inl
  src/coreclr/vm/riscv64/gmscpu.h
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/vars.hpp
Labels: area-VM-coreclr

#100605 Add RequiresProcessIsolation in testcase Runtime_100437
  src/tests/JIT/Regression/JitBlue/Runtime_100437/Runtime_100437.csproj
Labels: test-enhancement, area-CodeGen-coreclr

#100612 Pass SourceBuiltSymbolsDir property to inner build
  eng/DotNetBuild.props
Labels: needs-area-label

#100584 Perform manual intermediate certificate lookup when creating MsQuicConfiguration
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicConfiguration.cs
Labels: area-System.Net.Quic

#100620 Add extra logging to the unhandled exception test
  src/tests/baseservices/exceptions/unhandled/unhandledTester.cs
Labels: area-ExceptionHandling-coreclr

#100624 Fix official build break
  eng/Subsets.props
Labels: needs-area-label

#100625 Mark managed/Compilation test as NativeAotIncompatible
  src/tests/issues.targets
  src/tests/managed/Compilation/Compilation.csproj
Labels: needs-area-label

#100593 Enable tail call generation for coreclr test Runtime_87393
  src/tests/JIT/Regression/JitBlue/Runtime_87393/Runtime_87393.fsproj
Labels: area-CodeGen-coreclr, community-contribution

#99833 [browser][MT] Handling blocking wait
  src/libraries/System.Private.CoreLib/ref/System.Private.CoreLib.ExtraApis.cs
  src/libraries/System.Private.CoreLib/ref/System.Private.CoreLib.ExtraApis.txt
  src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelLifoSemaphore.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ManualResetEventSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitHandle.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.Types.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSSynchronizationContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.Http.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTestBase.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTestHelper.cs
  src/libraries/System.Threading.Thread/src/CompatibilitySuppressions.Threading.xml
  src/mono/browser/runtime/corebindings.c
  src/mono/browser/runtime/exports-binding.ts
  src/mono/browser/runtime/interp-pgo.ts
  src/mono/browser/runtime/loader/config.ts
  src/mono/browser/runtime/managed-exports.ts
  src/mono/browser/runtime/multi-threading.md
  src/mono/browser/runtime/pthreads/index.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/browser/test-main.js
  src/mono/sample/wasm/browser-threads/Program.cs
  src/mono/sample/wasm/browser-threads/main.js
Labels: arch-wasm, area-VM-threading-mono, os-browser

#100629 [browser][MT] fix void Main
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#100568 [LoongArch64] amend the disasmbly formate of lu52id and branches.
  src/coreclr/debug/inc/loongarch64/primitives.h
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/vm/loongarch64/cgencpu.h
Labels: area-VM-coreclr, community-contribution, arch-loongarch64

#100633 Remove true randomness from a libraries test
  src/libraries/System.Private.Xml/tests/Xslt/XslCompiledTransformApi/Errata4.cs
Labels: area-System.Xml

#100640 [QUIC] Delete the ByteMixing MsQuic test
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#100342 Fix `Int128` checked-convert to signed IntX
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Int128Tests.cs
Labels: area-System.Numerics, community-contribution

#100525 Add log to SendAsync_SlowServerRespondsAfterDefaultReceiveTimeout_ThrowsHttpRequestException.
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
Labels: area-System.Net

#100110 Rebase the installer build jobs on the global build job template
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/global-build-step.yml
  eng/pipelines/installer/jobs/build-job.yml
  eng/pipelines/installer/jobs/steps/build-linux-package.yml
  eng/pipelines/installer/jobs/steps/upload-job-artifacts.yml
  eng/pipelines/installer/steps/build-linux-package.yml
  eng/pipelines/installer/steps/upload-job-artifacts.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-installer

#100429 JIT: Support Swift error handling for reverse P/Invokes
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/regset.cpp
  src/coreclr/jit/regset.h
  src/coreclr/jit/target.h
  src/coreclr/jit/targetamd64.h
  src/tests/Interop/Swift/SwiftErrorHandling/SwiftErrorHandling.cs
  src/tests/Interop/Swift/SwiftErrorHandling/SwiftErrorHandling.swift
Labels: area-CodeGen-coreclr

#100615 Remove CLANG_FORMAT_COMMENT_ANCHOR
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inductionvariableopts.cpp
  src/coreclr/jit/jit.h
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/jitgcinfo.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/stacklevelsetter.cpp
  src/coreclr/jit/targetx86.h
  src/coreclr/jit/unwindarmarch.cpp
  src/coreclr/jit/unwindloongarch64.cpp
  src/coreclr/jit/unwindriscv64.cpp
  src/coreclr/jit/utils.cpp
Labels: area-CodeGen-coreclr

#100637 JIT: Fix profiler enter callback init reg trash logic
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/targetamd64.h
Labels: area-CodeGen-coreclr

#100596 Clean up macro in GetLogicalProcessorCacheSizeFromOS to include cacheSize as a parameter via a new argument CURRENT_CACHE_SIZE
  src/coreclr/gc/unix/gcenv.unix.cpp
Labels: area-GC-coreclr

#100417 [release/8.0-staging] Ensure that Sse3.MoveAndDuplicate correctly tracks supporting SIMD scalar loads
  src/coreclr/jit/lowerxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_100404/Runtime_100404.cs
  src/tests/JIT/Regression/JitBlue/Runtime_100404/Runtime_100404.csproj
Labels: Servicing-approved, area-CodeGen-coreclr, arch-avx512

#100651 Add workload metadata for automation
  src/workloads/workloads.csproj
Labels: area-Infrastructure-libraries

#100509 [release/8.0] Avoid allocating collectible instances in the frozen heap (#100444)
  src/coreclr/jit/importer.cpp
  src/coreclr/vm/frozenobjectheap.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_100437/Runtime_100437.cs
  src/tests/JIT/Regression/JitBlue/Runtime_100437/Runtime_100437.csproj
Labels: Servicing-approved, area-CodeGen-coreclr

#100626 Ensure Array.CreateInstance over reference types works
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/IntrinsicId.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/Intrinsics.cs
  src/tools/illink/src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
Labels: area-NativeAOT-coreclr

#97529 Scalar/Packed conversions for floating point to integer
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lowerriscv64.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simdashwintrinsic.cpp
  src/coreclr/nativeaot/Runtime/MathHelpers.cpp
  src/coreclr/vm/i386/jithelp.S
  src/coreclr/vm/i386/jithelp.asm
  src/coreclr/vm/i386/jitinterfacex86.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/tests/JIT/Directed/Convert/out_of_range_fp_to_int_conversions.cpp
  src/tests/JIT/Directed/Convert/out_of_range_fp_to_int_conversions.cs
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b28598/b28598.il
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b50027/b50027.il
  src/tests/JIT/Regression/JitBlue/Runtime_62692/Runtime_62692.cs
  src/tests/issues.targets
Labels: breaking-change, area-CodeGen-coreclr, needs-breaking-change-doc-created, community-contribution

#100344 JIT: Add support for frozen structs in Swift reverse pinvokes
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/abi.h
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/targetamd64.h
  src/tests/Interop/Swift/SwiftCallbackAbiStress/SwiftCallbackAbiStress.cs
  src/tests/Interop/Swift/SwiftCallbackAbiStress/SwiftCallbackAbiStress.swift
Labels: area-CodeGen-coreclr

#100400 [mono][interp] Reduce false pinning from interp stack
  src/mono/mono/metadata/class-getters.h
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/interp.h
  src/mono/mono/mini/interp/transform-opt.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono

#99659 Use \e instead of \u001B or \x1B
  src/libraries/Microsoft.Extensions.Logging.Console/src/AnsiParser.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/AnsiParserTests.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/TextWriterExtensionsTests.cs
  src/libraries/System.Console/src/System/IO/KeyParser.cs
  src/libraries/System.Console/src/System/TerminalFormatStrings.cs
  src/libraries/System.Console/tests/KeyParserTests.cs
  src/libraries/System.Console/tests/TermInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/StringSearchValues.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Groups.Tests.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexPcreTests.cs
Labels: NO-MERGE, area-Meta

#100660 Delete odd definition of VolatileLoad/Store
  src/coreclr/nativeaot/Runtime/stressLog.cpp
Labels: area-NativeAOT-coreclr

#92057 [mono][infra] Enable runtime tests in fullAOT LLVM mode on linux-x64
  eng/pipelines/common/templates/runtimes/build-runtime-tests-and-send-to-helix.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-other.yml
  eng/pipelines/runtime-llvm.yml
  src/tests/Interop/Interop.csproj
  src/tests/Interop/StringMarshalling/AnsiBSTR/AnsiBStrTest.csproj
  src/tests/Interop/StringMarshalling/BSTR/BSTRTest.csproj
  src/tests/Interop/StringMarshalling/LPTSTR/LPTSTRTest.csproj
  src/tests/Interop/StringMarshalling/VBByRefStr/VBByRefStrTest.csproj
  src/tests/JIT/Methodical/Boxing/boxunbox/BoxPatternMatchAndSideEffects.csproj
  src/tests/JIT/Methodical/Methodical_others.csproj
  src/tests/JIT/Regression/JitBlue/GitHub_26491/GitHub_26491.ilproj
  src/tests/JIT/Regression/Regression_3.csproj
  src/tests/build.proj
  src/tests/issues.targets
  src/tests/readytorun/coreroot_determinism/readytorun_coreroot_determinism.csproj
  src/tests/readytorun/readytorun.csproj
Labels: area-Infrastructure-mono

#100656 Azure Linux 3.0 deps package
  src/installer/pkg/sfx/installers.proj
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-azl.3.proj
Labels: area-Infrastructure-installer

#100375 Cleanup NativeAOT math helpers
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/MathHelpers.cs
Labels: community-contribution, area-NativeAOT-coreclr

#100658 RSABCrypt: Improve errors with public key only
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSABCrypt.cs
Labels: area-System.Security

#100678 Add -cross flag to build.ps1
  eng/build.ps1
Labels: area-Infrastructure

#99924 [wasm] Improvements to startup performance of mono_wasm_get_assembly_exports
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Constants.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
Labels: arch-wasm, linkable-framework, area-System.Runtime.InteropServices.JavaScript, os-browser

#100347 Remove DAM annotations from enum converter
  src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/Resources/Strings.resx
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/EnumConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
Labels: area-System.ComponentModel, new-api-needs-documentation

#100681 [browser] eslint more autofix
  src/mono/browser/runtime/.eslintrc.cjs
  src/mono/browser/runtime/hybrid-globalization/calendar.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#99191 Replace FEATURE_EH_FUNCLETS in JIT with runtime switch
  docs/design/coreclr/botr/clr-abi.md
  src/coreclr/clrdefinitions.cmake
  src/coreclr/crosscomponents.cmake
  src/coreclr/inc/clrnt.h
  src/coreclr/inc/gcinfo.h
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/compphases.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgstmt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/gtstructs.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/jiteh.h
  src/coreclr/jit/jitgcinfo.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/scopeinfo.cpp
  src/coreclr/jit/targetamd64.h
  src/coreclr/jit/targetarm.h
  src/coreclr/jit/targetarm64.h
  src/coreclr/jit/targetloongarch64.h
  src/coreclr/jit/targetriscv64.h
  src/coreclr/jit/targetx86.h
  src/coreclr/jit/unwind.cpp
  src/coreclr/jit/unwindarmarch.cpp
  src/coreclr/jit/unwindx86.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/tools/Common/JitInterface/JitConfigProvider.cs
Labels: area-CodeGen-coreclr

#86760 Remove more `ASG` terminlogy from the codebase
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/earlyprop.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgstmt.cpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/ifconversion.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/importervectorization.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/liveness.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/morphblock.cpp
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/rangecheck.cpp
  src/coreclr/jit/rangecheck.h
  src/coreclr/jit/redundantbranchopts.cpp
  src/coreclr/jit/scopeinfo.cpp
  src/coreclr/jit/simd.cpp
  src/coreclr/jit/targetarm.h
  src/coreclr/jit/targetarm64.h
  src/coreclr/jit/targetloongarch64.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#100652 [wasm] Change export name mangling to match expectations
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
Labels: area-Build-mono

#100617 Add build option to build Mac .dSYM debug symbol bundles
  docs/workflow/building/coreclr/macos-instructions.md
  eng/native/functions.cmake
Labels: area-Infrastructure-coreclr

#100416 Disable default and ambient attribute at runtime with a feature switch
  src/libraries/System.ComponentModel.TypeConverter/src/Resources/Strings.resx
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/AmbientValueAttribute.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/ComponentModel/DefaultValueAttribute.cs
Labels: area-System.ComponentModel

#100673 Fix VS user unhandled exception notification
  src/libraries/System.Private.CoreLib/src/System/Reflection/MethodInvokerCommon.cs
Labels: area-ExceptionHandling-coreclr

#100039 BlobBuilder.LinkSuffix/LinkPrefix need to Free zero length chunks
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/BlobBuilder.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/BlobTests.cs
Labels: area-System.Reflection.Metadata, community-contribution

#100566 Use Arcade log publishing instead of our own publishing
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/xplat-job.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  eng/pipelines/mono/templates/generate-offsets.yml
  eng/pipelines/mono/templates/workloads-build.yml
Labels: area-Infrastructure

#100377 Special casing `System.Guid` for COM VARIANT marshalling
  src/coreclr/vm/olevariant.cpp
  src/coreclr/vm/stdinterfaces.cpp
  src/coreclr/vm/stdinterfaces.h
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ComInterop/DynamicVariantExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/ComVariant.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GetNativeVariantForObjectTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GetObjectForNativeVariantTests.cs
  src/tests/Interop/CMakeLists.txt
  src/tests/Interop/COM/Dynamic/BasicTest.cs
  src/tests/Interop/COM/NETClients/MiscTypes/App.manifest
  src/tests/Interop/COM/NETClients/MiscTypes/NetClientMiscTypes.csproj
  src/tests/Interop/COM/NETClients/MiscTypes/Program.cs
  src/tests/Interop/COM/NETServer/MiscTypesTesting.cs
  src/tests/Interop/COM/NativeClients/MiscTypes.csproj
  src/tests/Interop/COM/NativeClients/MiscTypes/App.manifest
  src/tests/Interop/COM/NativeClients/MiscTypes/CMakeLists.txt
  src/tests/Interop/COM/NativeClients/MiscTypes/CoreShim.X.manifest
  src/tests/Interop/COM/NativeClients/MiscTypes/MiscTypes.cpp
  src/tests/Interop/COM/NativeClients/Primitives/CoreShim.X.manifest
  src/tests/Interop/COM/NativeServer/COMNativeServer.X.manifest
  src/tests/Interop/COM/NativeServer/MiscTypesTesting.h
  src/tests/Interop/COM/NativeServer/Servers.cpp
  src/tests/Interop/COM/NativeServer/Servers.h
  src/tests/Interop/COM/ServerContracts/Server.CoClasses.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.h
  src/tests/Interop/COM/ServerContracts/ServerGuids.cs
Labels: area-Interop-coreclr

#100712 Fix official build: disable compile-native runtime component libraries for linux-bionic
  src/native/managed/compile-native.proj
Labels: area-Infrastructure-libraries

#100561 Implement RuntimeHelpers.Box
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/CompilerServices/Unsafe.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/RuntimeExports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/TypedReference.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Runtime/CompilerServices/RuntimeHelpersTests.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.Mono.cs
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/icall-table.h
  src/mono/mono/metadata/icall.c
Labels: area-System.Runtime, new-api-needs-documentation

#100682 Saturating floating point to integer conversions on Arm32
  src/coreclr/nativeaot/Runtime/MathHelpers.cpp
  src/coreclr/vm/jithelpers.cpp
  src/tests/JIT/Directed/Convert/out_of_range_fp_to_int_conversions.cpp
  src/tests/JIT/Directed/Convert/out_of_range_fp_to_int_conversions.cs
Labels: area-CodeGen-coreclr

#100717 Re-enable Runtime_56953 on arm/arm64
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#100714 Fix WinDbg first chance exception notification
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-ExceptionHandling-coreclr

#100722 Fix contract and remove unused method overload
  src/coreclr/inc/sstring.h
  src/coreclr/utilcode/sstring_com.cpp
Labels: area-VM-coreclr

#100574 Exclude unhandledTester test on native AOT
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#100578 [RISC-V] Fix assertion for auipc and lui
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
Labels: community-contribution, arch-riscv

#100689 Add missing property to include native libraries for Apple mobile native linker
  src/tests/Directory.Build.props
Labels: area-Infrastructure, os-ios

#100513 Avoid frequent calls to CertificateValidationPal.IsLocalCertificateUsed
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.IO.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
Labels: area-System.Net.Security

#100614 Split the HttpConnectionPool into multiple files
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/HttpConnectionPool.Http1.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/HttpConnectionPool.Http2.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/HttpConnectionPool.Http3.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/HttpConnectionWaiter.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/RequestQueue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Labels: area-System.Net.Http

#100746 JIT: Use new ABI representation for x86 varargs handling
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/abi.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/regalloc.cpp
  src/coreclr/jit/targetx86.cpp
Labels: area-CodeGen-coreclr

#99982 Switch to iSimdVector and Align WidenAsciiToUtf16
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/ISimdVector_2.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Utility.cs
Labels: area-System.Runtime.Intrinsics, community-contribution

#100644 Fix SslStreamCertificateContext OCSP test failures
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.Linux.cs
  src/libraries/System.Net.Security/tests/UnitTests/SslStreamCertificateContextOcspLinuxTests.cs
Labels: area-System.Net.Security

#100732 [NativeAOT/x86] Fix funclet unwinding
  src/coreclr/gcdump/i386/gcdumpx86.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/vm/gc_unwind_x86.inl
  src/tests/nativeaot/SmokeTests/Exceptions/Exceptions.cs
Labels: arch-x86, community-contribution, area-NativeAOT-coreclr

#100780 Fix native leak in CryptoNative_GetX509nameInfo
  src/native/libs/System.Security.Cryptography.Native/openssl.c
Labels: area-System.Security

#100788 Fix PAL test build now that we are using system headers.
  src/coreclr/pal/tests/palsuite/file_io/WriteFile/test2/WriteFile.cpp
Labels: area-PAL-coreclr

#100456 JIT: initial profile repair
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/fgprofilesynthesis.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/phase.cpp
Labels: area-CodeGen-coreclr

#100704 Simplify jitconfigvalues.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/jitconfig.cpp
  src/coreclr/jit/jitconfig.h
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#100790 Remove IDE0060 suppressions
  src/libraries/System.Net.Security/src/System/Net/Security/NetSecurityTelemetry.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/ProbabilisticMap.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Packed.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
Labels: area-System.Memory, community-contribution

#100742 fix building error for `error: fallthrough annotation in unreachable code`
  src/coreclr/interop/comwrappers.cpp
  src/coreclr/pal/inc/pal.h
Labels: NO-MERGE, area-Interop-coreclr, community-contribution

#100787 Remove invalid `GCPROTECT` for duplicate slot
  src/coreclr/vm/olevariant.cpp
Labels: area-Interop-coreclr

#99908 [mono][HybridGlobalization] Fix ShortDatePattern year format to be "yyyy"
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.iOS.cs
  src/libraries/System.Runtime/tests/System.Globalization.Tests/DateTimeFormatInfo/DateTimeFormatInfoShortDatePattern.cs
Labels: NO-MERGE, area-System.Globalization, os-ios

#100797 Remove _ASSERTE(!m_pMethodBeingCompiled->IsDynamicMethod());
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#91042 [mono] Make mono_inst_name less misleading
  src/mono/mono/mini/alias-analysis.c
  src/mono/mono/mini/helpers.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-codegen.c
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/mini-ppc.c
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-s390x.c
  src/mono/mono/mini/mini-x86.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-VM-meta-mono, community-contribution

#100672 [wasm] Microsoft.NET.Sdk.WebAssembly.Pack as library pack
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WorkloadManifest.json.in
Labels: arch-wasm, area-Build-mono

#100778 [browser][MT] fix thread creation race with finalizer
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTestHelper.cs
  src/mono/browser/runtime/dotnet.d.ts
  src/mono/browser/runtime/driver.c
  src/mono/browser/runtime/interp-pgo.ts
  src/mono/browser/runtime/loader/assets.ts
  src/mono/browser/runtime/loader/config.ts
  src/mono/browser/runtime/loader/globals.ts
  src/mono/browser/runtime/pthreads/index.ts
  src/mono/browser/runtime/pthreads/ui-thread.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/index.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/sample/wasm/browser-threads/Program.cs
Labels: arch-wasm, area-VM-threading-mono, os-browser

#100807 Disable cdacreader project in source-build
  src/native/managed/compile-native.proj
Labels: area-Infrastructure-libraries

#100630 [browser] fix emscripten out/err overrides
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/browser/runtime/loader/assets.ts
  src/mono/browser/runtime/loader/icu.ts
  src/mono/browser/runtime/loader/run.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/sample/wasm/browser-advanced/main.js
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/ModuleConfigTests.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/Common/Program.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/wwwroot/main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#100572 JIT: Rewrite register parameter homing
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/abi.h
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/targetarm64.cpp
Labels: area-CodeGen-coreclr

#100789 Removing unnecessary parenthesis.
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
Labels: area-System.Runtime.Intrinsics, community-contribution

#100106 [wasm] use sbrk instead of emscripten mmap or malloc when loading bytes into heap
  src/mono/browser/browser.proj
  src/mono/browser/runtime/assets.ts
  src/mono/browser/runtime/dotnet.d.ts
  src/mono/browser/runtime/memory.ts
  src/mono/browser/runtime/types/emscripten.ts
Labels: arch-wasm, area-VM-meta-mono

#100610 [browser][MT] improve abort on web worker
  src/mono/browser/browser.proj
  src/mono/browser/runtime/cwraps.ts
  src/mono/browser/runtime/driver.c
  src/mono/browser/runtime/invoke-js.ts
  src/mono/browser/runtime/loader/exit.ts
  src/mono/browser/runtime/loader/logging.ts
  src/mono/browser/runtime/logging.ts
  src/mono/browser/runtime/managed-exports.ts
  src/mono/browser/runtime/pthreads/index.ts
  src/mono/browser/runtime/pthreads/shared.ts
  src/mono/browser/runtime/pthreads/ui-thread.ts
  src/mono/browser/runtime/pthreads/worker-interop.ts
  src/mono/browser/runtime/run.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/browser/test-main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#100817 Fix shutdown on foreign thread
  src/coreclr/vm/ceemain.cpp
Labels: area-VM-coreclr

#100653 Add timeout for dpkg frontend lock
  eng/pipelines/coreclr/templates/run-performance-job.yml
Labels: area-Infrastructure

#100618 Implement RuntimeHelpers.SizeOf
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.NativeAot.cs
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/reflectioninvocation.h
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Runtime/CompilerServices/RuntimeHelpersTests.cs
  src/mono/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.Mono.cs
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/icall.c
Labels: area-System.Runtime, new-api-needs-documentation

#100833 Disable user mapper for SslStream on Windows (TLS 1.3)
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
Labels: area-System.Net.Security

#100805 Fix Windows x86 testing
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
Labels: arch-x86, area-NativeAOT-coreclr

#100814 Do not warn when accessing fields on T constrained to be enum
  src/coreclr/tools/Common/Compiler/Dataflow/GenericParameterProxy.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/GenericParameterProxy.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/RequireDynamicallyAccessedMembersAction.cs
  src/tools/illink/src/ILLink.Shared/TypeSystemProxy/GenericParameterProxy.cs
  src/tools/illink/src/linker/Linker.Dataflow/GenericParameterProxy.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/GenericParameterDataFlow.cs
Labels: area-NativeAOT-coreclr

#100779 Fix mismatched buffer element type
  src/coreclr/md/datasource/targettypes.cpp
Labels: area-VM-coreclr

#100847 [mono] Pre-compute and cache class name hashes
  src/mono/mono/metadata/class-getters.h
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/class-private-definition.h
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/object.c
  src/mono/mono/mini/aot-compiler.c
Labels: area-VM-meta-mono

#100844 Adds back Enum constraint to Enum.GetNames<TEnum>()
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime

#100755 Remove _init and _fini exports from NAOT and update android docs
  src/coreclr/nativeaot/docs/android-bionic.md
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ExportsFileWriter.cs
Labels: os-android, community-contribution, area-NativeAOT-coreclr

#100832 [mono][interp] Keep delegate alive during invocation
  src/mono/mono/mini/interp/interp-internals.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono

#100665 Support SSLKEYLOGFILE in Release builds
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/System/Net/Security/SslKeyLogger.cs
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicTlsSecret.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicRemoteExecutorTests.cs
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamRemoteExecutorTests.cs
  src/libraries/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
Labels: area-System.Net

#100857 Add Log to SendStreamLimit Http3 Test
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
Labels: area-System.Net.Http

#100822 Enable passing through special LLVM build modes from VMR outer build
  eng/DotNetBuild.props
Labels: area-Build-mono

#100855 [browser] unhandled exceptions
  src/mono/browser/runtime/invoke-js.ts
  src/mono/browser/runtime/pthreads/shared.ts
  src/mono/browser/runtime/scheduling.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#100496 enable AutomaticOrManual_DoesntFailRegardlessOfWhetherClientCertsAreAvailable test
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ClientCertificates.cs
Labels: area-System.Net.Http, disabled-test

#100868 [wasm][debugger] Cleaning CI
  src/mono/browser/debugger/DebuggerTestSuite/EvaluateOnCallFrameTests.cs
  src/mono/browser/debugger/DebuggerTestSuite/SteppingTests.cs
Labels: area-Debugger-mono

#100851 Import pool providers
  eng/pipelines/common/variables.yml
  eng/pipelines/runtime-official.yml
Labels: needs-area-label

#100848 JIT: Track sideness of arrOp in GetCheckedBoundArithInfo
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/tests/JIT/Regression/JitBlue/Runtime_100809/Runtime_100809.cs
  src/tests/JIT/Regression/JitBlue/Runtime_100809/Runtime_100809.csproj
Labels: area-CodeGen-coreclr

#100289 Align up structs to IntPtr.Size if they have gc pointers
  src/coreclr/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/InstanceFieldLayoutTests.cs
  src/tests/Loader/classloader/explicitlayout/Regressions/100220/Runtime_100220.cs
  src/tests/Loader/classloader/explicitlayout/Regressions/100220/Runtime_100220.csproj
Labels: area-crossgen2-coreclr

#100802 [wasm] Don't probe for aot modules unless we were built for AOT
  src/mono/mono/mini/aot-runtime.c
Labels: arch-wasm, area-Codegen-AOT-mono

#100859 Delete workaround for C++ compiler bug
  src/coreclr/inc/safemath.h
Labels: area-CodeGen-coreclr

#100905 Fix unconditional success in CLR tests
  src/tests/Loader/classloader/explicitlayout/Regressions/100220/Runtime_100220.cs
Labels: community-contribution, needs-area-label

#100877 Revert "[wasm] Bump chrome for testing - linux: 123.0.6312.58, windows: 123.0.6312.58"
  eng/testing/ChromeVersions.props
Labels: arch-wasm, area-Infrastructure-mono, os-browser

#100899 JIT: revise how synthesis treats handler regions
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/fgprofilesynthesis.h
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#100371 Add cryptographic operation counts to prevent process crashes
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ConcurrencyBlock.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ConcurrentSafeKmac.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashProviderCng.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashProviderDispenser.Apple.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashProviderDispenser.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Kmac128.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Kmac256.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/KmacXof128.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/KmacXof256.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Shake128.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Shake256.cs
  src/libraries/System.Security.Cryptography/tests/HashAlgorithmTestDriver.cs
  src/libraries/System.Security.Cryptography/tests/IncrementalHashTests.cs
  src/libraries/System.Security.Cryptography/tests/MD5Tests.cs
  src/libraries/System.Security.Cryptography/tests/Sha1ManagedTests.cs
  src/libraries/System.Security.Cryptography/tests/Sha1Tests.cs
  src/libraries/System.Security.Cryptography/tests/Sha256ManagedTests.cs
  src/libraries/System.Security.Cryptography/tests/Sha256Tests.cs
  src/libraries/System.Security.Cryptography/tests/Sha384ManagedTests.cs
  src/libraries/System.Security.Cryptography/tests/Sha384Tests.cs
  src/libraries/System.Security.Cryptography/tests/Sha3_256Tests.cs
  src/libraries/System.Security.Cryptography/tests/Sha3_384Tests.cs
  src/libraries/System.Security.Cryptography/tests/Sha3_512Tests.cs
  src/libraries/System.Security.Cryptography/tests/Sha512ManagedTests.cs
  src/libraries/System.Security.Cryptography/tests/Sha512Tests.cs
  src/libraries/System.Security.Cryptography/tests/ShakeTestDriver.cs
Labels: area-System.Security

#100911 Enable MaxResponseHeaderLength Tests for HTTP3
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http
