Repository dotnet/runtime, pull requests merged in 2024-01, with the labels that each got.

#96265 JIT: Set `bbFalseTarget` upon `BBJ_COND` initialization/modification
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizebools.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#96358 Fix copy&paste bug in ReadyToRun_TypeGenericInfoMap::HasConstraints
  src/coreclr/vm/readytoruninfo.cpp
  src/tests/issues.targets
Labels: area-ReadyToRun-coreclr

#96393 Remove ActiveIssue for passing tests
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/EnumTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Type/TypeTests.Get.cs
Labels: area-System.Runtime

#96217 Tweak new API template
  .github/ISSUE_TEMPLATE/02_api_proposal.yml
Labels: area-Meta

#96078 Fix potential NREs in ConfigurationBindingGenerator
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/ConfigurationBindingGenerator.Parser.cs
Labels: area-Extensions-Configuration, source-generator

#95972 Clarify OS and Arch ownership
  docs/area-owners.md
Labels: area-Meta

#95760 Replaced string concatenation by StringBuilder usage
  src/libraries/System.Net.Mail/src/System.Net.Mail.csproj
  src/libraries/System.Net.Mail/src/System/Net/Mail/MailAddressCollection.cs
  src/libraries/System.Net.Mail/tests/Unit/System.Net.Mail.Unit.Tests.csproj
Labels: area-System.Net, community-contribution

#95495 Fix comments of Min/MaxMagnitude{Number}
  src/libraries/System.Private.CoreLib/src/System/Numerics/INumberBase.cs
Labels: area-System.Numerics, community-contribution

#95827 ReadAsStream/CopyTo should reset result/destination stream position
  src/libraries/System.Net.Http/src/System/Net/Http/StreamContent.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
Labels: area-System.Net.Http, community-contribution

#95302 [release/8.0-staging] Fix ILLink/ILC hang when tracking too many hoisted local values
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ArrayValue.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/InterproceduralState.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/MethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/TrimAnalysisAssignmentPattern.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DataFlow/InterproceduralState.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DataFlow/LocalDataFlowAnalysis.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DataFlow/LocalDataFlowVisitor.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/ArrayValue.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisAssignmentPattern.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisVisitor.cs
  src/tools/illink/src/ILLink.Shared/DataFlow/ValueSet.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/ArrayValue.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/HandleCallAction.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/RequireDynamicallyAccessedMembersAction.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/ValueExtensions.cs
  src/tools/illink/src/linker/Linker.Dataflow/ArrayValue.cs
  src/tools/illink/src/linker/Linker.Dataflow/InterproceduralState.cs
  src/tools/illink/src/linker/Linker.Dataflow/MethodBodyScanner.cs
  src/tools/illink/src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/tools/illink/src/linker/Linker.Dataflow/TrimAnalysisAssignmentPattern.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ExponentialDataFlow.cs
Labels: Servicing-approved, area-Tools-ILLink

#96362 Implement remaining ILGenertorImpl methods, excluding scope. Add max stack calculation for branching.
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Reflection.Emit/src/Resources/Strings.resx
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/AssemblyBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ILGeneratorImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/MethodBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/SignatureHelper.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveILGeneratorTests.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveTools.cs
Labels: area-System.Reflection.Emit

#96121 Add runtime module address to SpecialDiagInfo block in createdump and fix missing DotNetRuntimeDebugHeader export
  src/coreclr/debug/createdump/crashinfo.cpp
  src/coreclr/debug/createdump/crashinfomac.cpp
  src/coreclr/debug/createdump/crashinfounix.cpp
  src/coreclr/debug/createdump/dumpwriter.cpp
  src/coreclr/debug/createdump/specialdiaginfo.h
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/nativeaot/Runtime/DebugHeader.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/CrashInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ExportsFileWriter.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/GenericContextTestDICallDI/GenericContextCommonAndImplementationDICallDI.il
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/GenericContextTestDICallDI/GenericContextCommonAndImplementationDICallDI.ilproj
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/GenericContextTestDICallDI/GenericContextTestDICallDI.il
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/GenericContextTestDICallDI/GenericContextTestDICallDI.ilproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/RecursiveConstraintOnDIOfStaticAbstractMember.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/RecursiveConstraintOnDIOfStaticAbstractMember.csproj
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/StaticVirtualsAndMethodConstraintsAndDI.cs
  src/tests/Loader/classloader/StaticVirtualMethods/Regression/StaticVirtualsAndMethodConstraintsAndDI.csproj
Labels: Servicing-approved, area-NativeAOT-coreclr

#96402 Use `SearchValues<string>` for prefix searching in RegexCompiler / source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunner.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/CompiledRegexRunnerFactory.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorOutputTests.cs
Labels: area-System.Text.RegularExpressions

#94470 Update Marshal.QueryInterface() argument modifier (take 2)
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.NativeAot.cs
  src/libraries/System.Data.OleDb/src/OleDbComWrappers.cs
  src/libraries/System.Data.OleDb/src/SafeHandles.cs
  src/libraries/System.Management/src/System/Management/InteropClasses/WMIInterop.cs
  src/libraries/System.Management/src/System/Management/wmiutil.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/FreeThreadedStrategy.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/IIUnknownStrategy.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/GeneratedComClassTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/QueryInterfaceTests.Windows.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/QueryInterfaceTests.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/ComInterfaces.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/TransactionInterop.cs
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/Common.cs
  src/tests/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation, community-contribution

#96373 Don't rely on inlining observations if VM doesn't allow that
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
  src/tests/readytorun/tests/main.cs
  src/tests/readytorun/tests/test.cs
Labels: area-CodeGen-coreclr

#96405 [wasi] Disable System.Globalization.Tests on aot/windows
  src/libraries/tests.proj
Labels: arch-wasm, area-Infrastructure-mono

#96226 Intrinsify typeof(T).IsPrimitive
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/namedintrinsiclist.h
  src/libraries/System.Private.CoreLib/src/System/Type.cs
  src/tests/JIT/Intrinsics/TypeIntrinsics.cs
Labels: area-CodeGen-coreclr

#96228 JIT: Remove null check in BasicBlock::SetNext and SetPrev
  src/coreclr/jit/block.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#96406 JIT: Explicitly set `bbFalseTarget` in `BasicBlock::SetCond`
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/patchpoint.cpp
Labels: area-CodeGen-coreclr

#95924 macOS: Set certificate as a dependency of private key handles
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.SecKeyRef.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.Keys.macOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertTests.cs
Labels: area-System.Security

#96411 Fix unhandled exception from foreign thread in new EH
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-ExceptionHandling-coreclr

#96412 JIT: Set false target for predecessor to first cold block
  src/coreclr/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#96361 Clean up illink suppressions
  eng/illink.targets
  eng/testing/tests.browser.targets
  eng/testing/tests.wasm.targets
  src/coreclr/.nuget/Microsoft.NET.Sdk.IL/Microsoft.NET.Sdk.IL.targets.template
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/oob.proj
  src/libraries/sfx.proj
  src/mono/browser/browser.proj
  src/mono/browser/build/BrowserWasmApp.targets
Labels: area-Infrastructure-libraries

#96415 Revert "Manually optimize a rem 64 instruction to avoid regression on runtimes which do not currently optimize it (#96203)"
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenSet.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenDictionary_Full.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenDictionary_FullCaseInsensitive.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenDictionary_FullCaseInsensitiveAscii.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenSet_Full.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenSet_FullCaseInsensitive.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/String/OrdinalStringFrozenSet_FullCaseInsensitiveAscii.cs
Labels: area-System.Collections, community-contribution

#96428 Revert accidental changes merged with 95234
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#96319 [browser][MT] JSImport dispatch to target thread via JSSynchronizationContext
  src/libraries/Common/src/Interop/Browser/Interop.Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/CancelablePromise.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHost.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.References.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/LegacyHostImplementation.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Legacy/Runtime.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Exception.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Func.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.JSObject.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Object.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.String.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System.Runtime.InteropServices.JavaScript.Legacy.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Legacy.UnitTests/System/Runtime/InteropServices/JavaScript/DelegateTests.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System.Runtime.InteropServices.JavaScript.Tests.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JSImportExportTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/JavaScriptTestHelper.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTestHelper.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTestHelper.mjs
  src/mono/browser/runtime/corebindings.c
  src/mono/browser/runtime/exports-binding.ts
  src/mono/browser/runtime/gc-handles.ts
  src/mono/browser/runtime/http.ts
  src/mono/browser/runtime/invoke-cs.ts
  src/mono/browser/runtime/invoke-js.ts
  src/mono/browser/runtime/loader/globals.ts
  src/mono/browser/runtime/loader/logging.ts
  src/mono/browser/runtime/loader/run.ts
  src/mono/browser/runtime/loader/worker.ts
  src/mono/browser/runtime/logging.ts
  src/mono/browser/runtime/managed-exports.ts
  src/mono/browser/runtime/marshal-to-cs.ts
  src/mono/browser/runtime/marshal-to-js.ts
  src/mono/browser/runtime/net6-legacy/method-binding.ts
  src/mono/browser/runtime/pthreads/browser/index.ts
  src/mono/browser/runtime/pthreads/shared/emscripten-internals.ts
  src/mono/browser/runtime/pthreads/shared/emscripten-replacements.ts
  src/mono/browser/runtime/pthreads/shared/index.ts
  src/mono/browser/runtime/pthreads/worker/index.ts
  src/mono/browser/runtime/run.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/browser/runtime/web-socket.ts
  src/mono/sample/wasm/browser-threads-minimal/JSWebWorker.cs
  src/mono/sample/wasm/browser-threads-minimal/Makefile
  src/mono/sample/wasm/browser-threads-minimal/Program.cs
  src/mono/sample/wasm/browser-threads-minimal/Wasm.Browser.Threads.Minimal.Sample.csproj
  src/mono/sample/wasm/browser-threads-minimal/blurst.txt
  src/mono/sample/wasm/browser-threads-minimal/fetchhelper.js
  src/mono/sample/wasm/browser-threads-minimal/index.html
  src/mono/sample/wasm/browser-threads-minimal/main.js
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#96431 JIT: Allow hot/cold splitting between a `BBJ_COND` block and its false target
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#96286 Update coredistools
  src/coreclr/inc/coredistools.h
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/disasm.cpp
  src/coreclr/jit/disasm.h
  src/coreclr/jit/jit.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.h
  src/coreclr/tools/superpmi/superpmi-shared/crlwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.h
  src/coreclr/tools/superpmi/superpmi/neardiffer.cpp
  src/coreclr/tools/superpmi/superpmi/neardiffer.h
Labels: area-CodeGen-coreclr

#94555 Add generic overloads to TensorPrimitives
  src/libraries/System.Numerics.Tensors/ref/System.Numerics.Tensors.netcore.cs
  src/libraries/System.Numerics.Tensors/src/Resources/Strings.resx
  src/libraries/System.Numerics.Tensors/src/System.Numerics.Tensors.csproj
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.Helpers.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.Single.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Single.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.T.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netstandard/TensorPrimitives.Single.netstandard.cs
  src/libraries/System.Numerics.Tensors/tests/Helpers.cs
  src/libraries/System.Numerics.Tensors/tests/System.Numerics.Tensors.Tests.csproj
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitives.ConvertTo.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitives.Generic.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitives.NonGeneric.Single.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.netcore.cs
Labels: area-System.Numerics, new-api-needs-documentation

#96291 Update MicrosoftNETCoreCoreDisToolsVersion to 1.4.0
  eng/Versions.props
Labels: area-CodeGen-coreclr

#96429 Specialize by length in single-value SearchValues<string>
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/Helpers/StringSearchValuesHelper.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/SingleStringSearchValuesThreeChars.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/StringSearchValues.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/StringSearchValuesBase.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Equality.cs
Labels: area-System.Buffers

#95188 [RISC-V] Add crossgen2 for riscv64
  src/coreclr/tools/Common/CommandLineHelpers.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/AssemblyStubNode.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/ObjectDataBuilder.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Relocation.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_RiscV64/AddrMode.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_RiscV64/Register.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64Emitter.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_RiscV64/TargetRegisterMap.cs
  src/coreclr/tools/Common/Compiler/InstructionSetSupport.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/JitConfigProvider.cs
  src/coreclr/tools/Common/TypeSystem/Common/TargetArchitecture.cs
  src/coreclr/tools/Common/TypeSystem/Common/TargetDetails.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMInitialInterfaceDispatchStubNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64JumpStubNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64TentativeMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64UnboxingStubNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.Diagnostics/ILCompiler.Diagnostics.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodGCInfoNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/Target_RiscV64/ImportThunk.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/RelocationHelper.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/SectionBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/TargetExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/GCInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/TransitionBlock.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/crossgen2/Crossgen2RootCommand.cs
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/libraries/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEHeaderBuilder.cs
Labels: area-crossgen2-coreclr, community-contribution, arch-riscv

#96266 Remove arm64 neardiffer hack
  src/coreclr/tools/superpmi/superpmi/neardiffer.cpp
Labels: area-CodeGen-coreclr

#96463 Ensure small counts are properly handled for sizeof(T) == 8
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.netcore.cs
Labels: area-System.Numerics

#96465 Warn when building C++/CLI tests not in a command prompt and don't try copying the files if we aren't in one
  src/tests/Interop/Directory.Build.targets
Labels: area-Interop-coreclr

#96467 Refine usage of late disassembler and emitter unit tests
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/disasm.cpp
  src/coreclr/jit/disasm.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitpub.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/utils.cpp
Labels: area-CodeGen-coreclr

#96454 JIT: Port loop unrolling to new loop representation
  src/coreclr/jit/block.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compmemkind.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#96480 JIT: Fix formatting after late disasm PR
  src/coreclr/jit/codegenlinear.cpp
Labels: area-CodeGen-coreclr

#96392 [QUIC] Disable QUIC tests on CLR stress tests
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicCipherSuitesPolicyTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicRemoteExecutorTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicConnectionTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicListenerTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamConnectedStreamConformanceTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicStreamTests.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/QuicTestBase.cs
Labels: area-System.Net.Quic

#96432 Add File.Exists check to LoadFromResolveHandler
  src/libraries/System.Private.CoreLib/src/System/Reflection/Assembly.cs
Labels: area-System.Reflection

#96375 [release/8.0-staging] Skip address for x64 prefix parsing
  src/coreclr/debug/ee/amd64/walker.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#96290 Override DbConnection.DbProviderFactory for ODBC/OleDB
  src/libraries/System.Data.Odbc/src/System/Data/Odbc/OdbcConnection.cs
  src/libraries/System.Data.Odbc/tests/ConnectionTests.cs
  src/libraries/System.Data.Odbc/tests/System.Data.Odbc.Tests.csproj
  src/libraries/System.Data.OleDb/src/OleDbConnection.cs
  src/libraries/System.Data.OleDb/tests/OleDbConnectionTests.cs
Labels: area-System.Data.Odbc

#95917 JIT: Further clean up loop alignment placement
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#94825 Improve the hashtable for EEClassHash
  docs/design/specs/Ecma-335-Augments.md
  src/coreclr/inc/corhlprpriv.h
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/binder.cpp
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/classhash.cpp
  src/coreclr/vm/classhash.h
  src/coreclr/vm/classhash.inl
  src/coreclr/vm/clsload.cpp
  src/coreclr/vm/clsload.hpp
  src/coreclr/vm/dacenumerablehash.h
  src/coreclr/vm/dacenumerablehash.inl
  src/coreclr/vm/readytoruninfo.cpp
Labels: area-VM-coreclr

#95530 GT_STORE_BLK - do not call memset for blocks containg gc pointers on heap
  docs/design/coreclr/botr/clr-abi.md
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lowerriscv64.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraloongarch64.cpp
  src/coreclr/jit/lsrariscv64.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/tests/JIT/opt/Structs/StructWithGC_Zeroing.cs
  src/tests/JIT/opt/Structs/StructWithGC_Zeroing.csproj
Labels: area-CodeGen-coreclr

#96423 Fix JitInfo tests with ReadyToRun
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Runtime/JitInfoTests.cs
Labels: area-crossgen2-coreclr

#95801 Remove some unnecessary string allocations in hosting layer
  src/native/corehost/fxr/command_line.cpp
  src/native/corehost/fxr/standalone/hostpolicy_resolver.cpp
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/utils.cpp
  src/native/corehost/hostmisc/utils.h
  src/native/corehost/hostpolicy/deps_format.cpp
  src/native/corehost/hostpolicy/deps_resolver.cpp
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
Labels: area-Host

#96099 Cleanup some string operating functions
  src/coreclr/debug/daccess/inspect.cpp
  src/coreclr/debug/daccess/stack.cpp
  src/coreclr/debug/daccess/stdafx.h
  src/coreclr/debug/daccess/task.cpp
  src/coreclr/ilasm/main.cpp
  src/coreclr/inc/clr/fs/path.h
  src/coreclr/inc/corhlprpriv.h
  src/coreclr/inc/fstring.h
  src/coreclr/inc/utilcode.h
  src/coreclr/minipal/Unix/CMakeLists.txt
  src/coreclr/pal/inc/strsafe.h
  src/coreclr/utilcode/CMakeLists.txt
  src/coreclr/utilcode/fstring.cpp
  src/coreclr/utilcode/sstring.cpp
  src/coreclr/vm/classcompat.cpp
  src/coreclr/vm/classhash.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/methodtablebuilder.cpp
Labels: area-VM-coreclr, community-contribution

#96508 Disable test when running under GCStress
  src/tests/Interop/PInvoke/Miscellaneous/HandleRef/HandleRefTest.cs
Labels: area-System.Runtime.InteropServices, test-enhancement

#96520 Upstreaming typo from runtimelab
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/FrozenObjectHeapManager.cs
Labels: community-contribution, area-NativeAOT-coreclr

#96513 decommit regions on huge free list in aggressive mode
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#96509 Build Windows NativeAOT runtime packs
  eng/pipelines/runtime-official.yml
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
Labels: community-contribution, area-NativeAOT-coreclr

#96368 [Mono][RISC-V] Lowering and output more OP for Regression test
  src/mono/mono/arch/riscv/riscv-codegen.h
  src/mono/mono/mini/cpu-riscv64.mdesc
  src/mono/mono/mini/exceptions-riscv.c
  src/mono/mono/mini/mini-ops.h
  src/mono/mono/mini/mini-riscv.c
  src/mono/mono/mini/mini-riscv.h
  src/tests/issues.targets
Labels: area-VM-meta-mono, community-contribution, arch-riscv

#96166 Precise reflection-visible delegate target analysis
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DelegateCreationInfo.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FrozenObjectNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectedDelegateNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/SerializedFrozenObjectNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/Dataflow.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DeadCodeElimination.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/IntrinsicId.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/Intrinsics.cs
  src/tools/illink/src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
Labels: area-NativeAOT-coreclr

#96478 JIT: Remove compaction renumbering quirk
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#96439 JIT: Home float parameters before integer parameters
  src/coreclr/jit/codegencommon.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_96306/Runtime_96306.cs
  src/tests/JIT/Regression/JitBlue/Runtime_96306/Runtime_96306.csproj
Labels: area-CodeGen-coreclr

#96505 Refactor exception trackers
  src/coreclr/System.Private.CoreLib/src/System/Runtime/ExceptionServices/AsmOffsets.cs
  src/coreclr/debug/daccess/dacimpl.h
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/vm/clrex.cpp
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptionhandling.h
  src/coreclr/vm/exinfo.cpp
  src/coreclr/vm/exinfo.h
  src/coreclr/vm/exstate.cpp
  src/coreclr/vm/exstate.h
  src/coreclr/vm/exstatecommon.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/stackwalk.cpp
Labels: area-ExceptionHandling-coreclr

#96557 JIT: Fix double handling of call operands when importing intrinsic
  src/coreclr/jit/importercalls.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_96461/Runtime_96461.cs
  src/tests/JIT/Regression/JitBlue/Runtime_96461/Runtime_96461.csproj
Labels: area-CodeGen-coreclr

#96468 Document JitDisasm and JitLateDisasm
  docs/design/coreclr/jit/viewing-jit-dumps.md
Labels: area-CodeGen-coreclr

#96497 Fix source_file bug in mono_ppdb_lookup_location_internal
  src/mono/mono/metadata/debug-mono-ppdb.c
Labels: community-contribution, needs-area-label

#96553 JIT: Remove unnecessary lexical preconditions in loop cloning
  src/coreclr/jit/loopcloning.cpp
Labels: area-CodeGen-coreclr

#96560 Replace call to GetFalseTarget method with GetTarget inside fgRemoveConditionalJump
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr, community-contribution

#96518 Fix Crossgen2 PDB generation (again)
  src/coreclr/tools/aot/ILCompiler.Diagnostics/PdbWriter.cs
Labels: area-crossgen2-coreclr

#96258 Intrinsify Interlocked.And and Interlocked.Or on XARCH
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr

#96311 PGO: Profile Buffer.Memmove's length
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/corjit.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/jit.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/likelyclass.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/tools/Common/Pgo/PgoFormat.cs
  src/coreclr/tools/dotnet-pgo/Program.cs
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/vm/jithelpers.cpp
Labels: area-CodeGen-coreclr

#96563 JIT: Remove IV analysis quirk in loop cloning
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/loopcloning.cpp
Labels: area-CodeGen-coreclr

#96555 JIT: Remove `BBJ_RETURN` loop cloning quirk
  src/coreclr/jit/loopcloning.cpp
Labels: area-CodeGen-coreclr

#96561 Fix native memory leak on OCSP_Response
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
Labels: area-System.Net.Security

#96504 [browser][MT] fix CaptureContextFromParameter and SealJSImportCapturing
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/CancelablePromise.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSSynchronizationContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSWebWorker.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Exception.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.JSObject.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTestHelper.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTestHelper.mjs
  src/mono/browser/runtime/invoke-cs.ts
  src/mono/browser/runtime/invoke-js.ts
  src/mono/browser/runtime/loader/logging.ts
  src/mono/browser/runtime/pthreads/shared/emscripten-replacements.ts
  src/mono/browser/runtime/scheduling.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#96526 Convert HELPER_METHOD_FRAME to QCalls (5/N)
  src/coreclr/System.Private.CoreLib/src/System/Delegate.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/MulticastDelegate.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/appdomainnative.cpp
  src/coreclr/vm/appdomainnative.hpp
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/assemblynative.hpp
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comdelegate.h
  src/coreclr/vm/commodule.cpp
  src/coreclr/vm/commodule.h
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/object.h
  src/coreclr/vm/qcallentrypoints.cpp
Labels: needs-area-label

#96582 Fix links in features.md
  src/mono/wasm/features.md
Labels: community-contribution, needs-area-label

#96573 Using HashSet instead of Dictionary multiple times
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/XmlCompatibilityReader.cs
  src/libraries/System.Net.HttpListener/src/System/Net/Managed/HttpEndPointListener.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/XmlTextReaderImpl.cs
Labels: community-contribution, needs-area-label

#96571 PGO: Profiled SequenceEqual
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr

#96435 Remove defunct netfx tests
  src/libraries/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.cs
  src/libraries/System.Collections/tests/Generic/HashSet/HashSet.Generic.Tests.AsNonGenericIEnumerable.cs
  src/libraries/System.Collections/tests/Generic/HashSet/HashSet.Generic.Tests.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/AssociationAttributeTests.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/CustomValidationAttributeTests.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/DataTypeAttributeTests.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/PhoneAttributeTests.cs
  src/libraries/System.ComponentModel.Primitives/tests/System/ComponentModel/CategoryAttributeTests.cs
  src/libraries/System.ComponentModel.Primitives/tests/System/ComponentModel/DescriptionAttributeTests.cs
  src/libraries/System.ComponentModel.Primitives/tests/System/ComponentModel/DesignerCategoryAttributeTests.cs
  src/libraries/System.ComponentModel.Primitives/tests/System/ComponentModel/DisplayNameAttributeTests.cs
  src/libraries/System.Console/tests/WindowAndCursorProps.cs
  src/libraries/System.Linq.Expressions/tests/Lambda/LambdaTests.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/CookieTest.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/CredentialCacheTest.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressParsing.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressTest.cs
  src/libraries/System.Net.Primitives/tests/UnitTests/CookieContainerTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/AbortTest.cs
  src/libraries/System.Net.WebSockets.Client/tests/ConnectTest.cs
  src/libraries/System.Net.WebSockets/tests/WebSocketTests.cs
  src/libraries/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_AnyAttribute.cs
  src/libraries/System.Private.Xml/tests/Xslt/XslCompiledTransformApi/XsltArgumentList.cs
  src/libraries/System.Reflection.Emit/tests/AssemblyBuilderTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GenerateGuidForTypeTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GetObjectForNativeVariantTests.Windows.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/ThrowExceptionForHRTests.cs
  src/libraries/System.Runtime/tests/System.Globalization.Tests/CultureInfo/GetCultureInfo.cs
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/DirectoryInfo/ToString.cs
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/FileStream/ctor_str_fm.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/StreamWriter/StreamWriter.CloseTests.cs
  src/libraries/System.Runtime/tests/System.Text.Encoding.Tests/NegativeEncodingTests.cs
  src/libraries/System.Runtime/tests/System.Text.Encoding.Tests/UTF8Encoding/UTF8EncodingDecode.cs
  src/libraries/System.Threading.ThreadPool/tests/RegisteredWaitTests.cs
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.cs
Labels: area-Meta

#96603 Fix AggregateBy with seed to use correct helper
  src/libraries/System.Linq/src/System/Linq/AggregateBy.cs
Labels: area-System.Linq

#96574 Improve performance of `Enumerable.ToDictionary()`
  src/libraries/System.Linq/src/System/Linq/ToCollection.cs
Labels: area-System.Linq, community-contribution

#96079 [mono] Fix passing of valuetypes with a non-8 byte aligned size on arm64+ios/macos.
  src/mono/mono/mini/mini-arm64.c
  src/tests/issues.targets
Labels: area-Codegen-JIT-mono

#96230 [mono][aot] Allow valuetype sharing in wrappers for valuetypes with an explicit l…
  src/mono/mono/mini/mini-generic-sharing.c
Labels: area-Codegen-JIT-mono

#96615 Fix OperIsSimple assert in lower
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr

#96605 Update Enumerable.Min/Max for all IBinaryIntegers
  src/libraries/System.Linq/src/System/Linq/Max.cs
  src/libraries/System.Linq/src/System/Linq/MaxMin.cs
  src/libraries/System.Linq/src/System/Linq/Min.cs
  src/libraries/System.Linq/tests/MaxTests.cs
Labels: area-System.Linq, tenet-performance

#95292 Allow specifying IndentCharacter and IndentSize when writing JSON
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleLoggerConfigureOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleLoggerExtensionsTests.cs
  src/libraries/System.Text.Json/Common/JsonSourceGenerationOptionsAttribute.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs
  src/libraries/System.Text.Json/gen/JsonSourceGenerator.Parser.cs
  src/libraries/System.Text.Json/gen/Model/SourceGenerationOptionsSpec.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/Resources/Strings.resx
  src/libraries/System.Text.Json/src/System/Text/Json/JsonConstants.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Caching.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/ThrowHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/JsonWriterOptions.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Bytes.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTime.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.DateTimeOffset.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Decimal.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Double.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Float.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Guid.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.Literal.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.SignedNumber.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteProperties.UnsignedNumber.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Bytes.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Comment.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTime.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.DateTimeOffset.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Decimal.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Double.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Float.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.FormattedNumber.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Guid.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Literal.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.SignedNumber.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.UnsignedNumber.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSourceGenerationOptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonWriterOptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CacheTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation, community-contribution

#96104 [mono][jit] Optimize the experimental-gshared-mrgctx code
  src/mono/mono/metadata/jit-info.c
  src/mono/mono/metadata/jit-info.h
  src/mono/mono/mini/cpu-amd64.mdesc
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-amd64.c
  src/mono/mono/mini/mini-amd64.h
  src/mono/mono/mini/mini-arm64.c
  src/mono/mono/mini/mini-generic-sharing.c
  src/mono/mono/mini/mini-trampolines.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
Labels: area-Codegen-JIT-mono

#96517 Fix generic signature issue when calling non generic method of closed generic type
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveILGeneratorTests.cs
Labels: area-System.Reflection.Emit

#96515 [mono][amd64] Fix Vector128 relational comparison API's for nuint type
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/mono/mono/mini/mini-amd64.c
Labels: area-Codegen-Intrinsics-mono

#96625 [wasm] Fix a few more paths to in-tree emsdk
  .devcontainer/wasm/devcontainer.json
  docs/workflow/debugging/mono/wasm-debugging.md
  src/mono/browser/README.md
  src/native/libs/build-native.sh
Labels: area-Infrastructure-mono

#96139 [android] Bump to win 11 helix queue
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-mono

#96570 Replace LINQ's ArrayBuilder, LargeArrayBuilder, and SparseArrayBuilder with new SegmentedArrayBuilder
  src/libraries/Common/src/System/Collections/Generic/EnumerableHelpers.Linq.cs
  src/libraries/Common/src/System/Collections/Generic/LargeArrayBuilder.SizeOpt.cs
  src/libraries/Common/src/System/Collections/Generic/LargeArrayBuilder.SpeedOpt.cs
  src/libraries/Common/src/System/Collections/Generic/LargeArrayBuilder.cs
  src/libraries/Common/src/System/Collections/Generic/SparseArrayBuilder.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/Tests/System/Collections/Generic/LargeArrayBuilderTests.cs
  src/libraries/System.Linq/System.Linq.sln
  src/libraries/System.Linq/src/System.Linq.csproj
  src/libraries/System.Linq/src/System/Linq/AppendPrepend.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Average.cs
  src/libraries/System.Linq/src/System/Linq/Buffer.cs
  src/libraries/System.Linq/src/System/Linq/Concat.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Enumerable.cs
  src/libraries/System.Linq/src/System/Linq/Max.cs
  src/libraries/System.Linq/src/System/Linq/MaxMin.cs
  src/libraries/System.Linq/src/System/Linq/Min.cs
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.cs
  src/libraries/System.Linq/src/System/Linq/Partition.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Reverse.cs
  src/libraries/System.Linq/src/System/Linq/SegmentedArrayBuilder.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/SelectMany.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/SingleLinkedNode.cs
  src/libraries/System.Linq/src/System/Linq/Sum.cs
  src/libraries/System.Linq/src/System/Linq/ToCollection.cs
  src/libraries/System.Linq/src/System/Linq/Utilities.cs
  src/libraries/System.Linq/src/System/Linq/Where.SpeedOpt.cs
  src/libraries/System.Linq/tests/LifecycleTests.cs
  src/libraries/System.Linq/tests/ToArrayTests.cs
Labels: area-System.Linq, tenet-performance

#96635 [browser] active issue 96628
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.cs
Labels: arch-wasm, area-VM-threading-mono, os-browser

#95569 Fix typo
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncValueTaskMethodBuilder.cs
Labels: area-System.Runtime.CompilerServices, community-contribution

#96622 Remove extraneous use of unchecked from System.Linq
  src/libraries/System.Linq/src/System/Linq/Partition.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Range.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Range.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Where.cs
  src/libraries/System.Linq/tests/SelectTests.cs
  src/libraries/System.Linq/tests/WhereTests.cs
Labels: area-System.Linq

#96597 PGO: Enable profiled casts by default
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
Labels: area-CodeGen-coreclr

#96641 Add .NET 8 test project for System.Numerics.Tensors
  src/libraries/System.Numerics.Tensors/System.Numerics.Tensors.sln
  src/libraries/System.Numerics.Tensors/tests/Net8Tests/System.Numerics.Tensors.Net8.Tests.csproj
Labels: area-System.Numerics.Tensors

#96462 Add debug-only use of new AssemblyBuilder.Save in Regex.CompileToAssembly
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexAssemblyCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexLWCGCompiler.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.CompileToAssembly.Tests.cs
Labels: area-System.Text.RegularExpressions

#96649 JIT: Fix last block removal during layout optimization
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#96654 For RuntimeTypeValue make it dependent on SupportsFrozenRuntimeTypeInstances
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
Labels: community-contribution, area-NativeAOT-coreclr

#96589 Add test for GetInterfaces() array type
  src/libraries/System.Runtime/tests/System.Reflection.Tests/TypeInfoTests.cs
Labels: area-VM-reflection-mono

#96479 JIT: Remove checks on loop number in fgCanCompactBlocks
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#96617 JIT: Simplify `BasicBlock::CloneBlockState`
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#96613 JIT: Invalidate old loop table immediately
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#96651 Use NuGetAuthenticate@1 instead of @0
  eng/pipelines/common/restore-internal-tools.yml
  eng/pipelines/installer/jobs/steps/build-linux-package.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: area-Infrastructure

#96639 Fix fast-path support for ignoring nullable value types
  src/libraries/Common/src/SourceGenerators/TypeRef.cs
  src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs
Labels: area-System.Text.Json

#95555 Enable activation injection for unix
  src/coreclr/vm/threadsuspend.cpp
Labels: area-Diagnostics-coreclr, community-contribution

#96243 [mono] Enable some of the disabled JIT/Directed/callconv/ runtime tests on mini-arm64
  src/tests/issues.targets
Labels: area-Infrastructure-mono

#96658 Revert "[HybridGlobalization] Fix xamarin_macios build after system ICU change"
  src/native/libs/System.Globalization.Native/CMakeLists.txt
Labels: area-System.Globalization, os-ios

#96606 Fix endian issue in AssemblySaveILGeneratorTests
  src/libraries/System.Reflection.Emit/tests/PersistableAssemblyBuilder/AssemblySaveILGeneratorTests.cs
Labels: area-System.Reflection.Emit, community-contribution

#96691 Fix emitUnitTests.sh to work with JitEmitUnitTestsSections
  src/coreclr/scripts/emitUnitTests.sh
Labels: area-CodeGen-coreclr, community-contribution

#96638 Fix XUnitLogChecker detection for local test runs
  eng/testing/RunnerTemplate.cmd
  eng/testing/RunnerTemplate.sh
Labels: area-Infrastructure

#96672 Make it possible for arrays to have default-implemented methods
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/SealedVTableNode.cs
Labels: area-NativeAOT-coreclr

#96685 [iOS] Skip PublicPrivateKey_IndependentLifetimes_DSA test
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertTests.cs
Labels: area-System.Security

#96648 Use OriginalDefinition to get members of generic types
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/ReflectionAccessAnalyzer.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
Labels: linkable-framework, area-Tools-ILLink

#96637 Short diff summary
  src/coreclr/scripts/superpmi.py
  src/coreclr/scripts/superpmi_diffs.py
  src/coreclr/scripts/superpmi_diffs_summarize.py
Labels: area-CodeGen-coreclr

#96421 Update branding to 7.0.16
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#96420 Update branding to 6.0.27
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#96422 Update branding to 8.0.2
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#96704 [release/8.0] Reset OOB packages from the December Release in the January Release
  src/libraries/Microsoft.Bcl.TimeProvider/src/Microsoft.Bcl.TimeProvider.csproj
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/Microsoft.Extensions.Configuration.Binder.csproj
  src/libraries/Microsoft.Extensions.Options/src/Microsoft.Extensions.Options.csproj
Labels: Servicing-approved, area-Infrastructure-libraries

#96706 Merging internal commits for release/6.0
  src/libraries/Common/tests/TestUtilities/System/AssertExtensions.cs
  src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.netcoreapp.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/UnixPkcs12Reader.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/LocalAppContextSwitches.cs
  src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Chain.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/TestData.cs
Labels: Servicing-approved, area-System.Security

#96708 Merging internal commits for release/7.0
  src/libraries/Common/tests/TestUtilities/System/AssertExtensions.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.netcoreapp.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs
  src/libraries/System.Security.Cryptography.X509Certificates/tests/TestData.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidLookup.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/LocalAppContextSwitches.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/UnixPkcs12Reader.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Chain.cs
Labels: Servicing-approved, area-System.Security

#96709 Merging internal commits for release/8.0
  src/libraries/Common/tests/TestUtilities/System/AssertExtensions.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.netcoreapp.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OidLookup.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/LocalAppContextSwitches.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/UnixPkcs12Reader.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Chain.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ChainTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/TestData.cs
  src/tools/illink/src/ILLink.Tasks/ILLink.Tasks.csproj
Labels: Servicing-approved, area-System.Security

#96668 [release/6.0] Use NuGetAuthenticate@1 instead of @0 (#96651)
  eng/pipelines/common/restore-internal-tools.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: Servicing-approved, area-Infrastructure

#96656 Do not keep cctor for instance fields
  src/tools/illink/src/linker/Linker.Steps/MarkStep.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Statics/UnusedStaticFieldInitializer.cs
Labels: linkable-framework, area-Tools-ILLink

#96675 Include symbols in main package for NativeAOT runtime packs
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
Labels: area-Infrastructure-installer

#96718 [release/7.0][android] Bump to win 11 helix queue
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: Servicing-approved, area-Infrastructure

#96632 Change IMarshallingGenerator resolution to use a sequential design instead of recursive
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/System.Runtime.InteropServices.sln
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ConvertComImportToGeneratedComInterfaceAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGeneratorHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComMethodContext.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ManagedToNativeVTableMethodGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Marshallers/ComInterfaceDispatchMarshallingResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Marshallers/ManagedHResultExceptionGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Marshallers/ObjectUnwrapperResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Marshallers/StructAsHResultMarshallerFactory.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/UnmanagedToManagedStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VirtualMethodPointerStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VtableIndexStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/VtableIndexStubGeneratorHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/ForwarderResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/LibraryImportGeneratorHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/PInvokeStubCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/BoundGenerators.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/DefaultMarshallingInfoParser.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/AttributedMarshallingModelGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/BreakingChangeDetector.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ByValueContentsMarshalKindValidator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CharMarshallingGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/CompositeMarshallingGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/DefaultMarshallingGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/IMarshallingGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshalAsMarshallingGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/NoMarshallingInfoErrorResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/NotSupportedResolver.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/ResolvedGenerator.cs
Labels: area-System.Runtime.InteropServices, source-generator

#95513 Use multi-reg load/store for EncodeToUtf8
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Base64Encoder.cs
Labels: area-System.Buffers, community-contribution

#96686 [NativeAOT] ObjWriter: Produce COMDAT sections for .xdata unwinding data
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/CoffObjectWriter.cs
Labels: community-contribution, area-NativeAOT-coreclr

#96647 JIT: Create preheaders on new loops and delete old loop canonicalization
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#96657 [mono] Enable Interop/UnmanagedCallersOnlyBasic on mini-arm64
  src/tests/issues.targets
Labels: area-Interop-mono

#96739 Fix spelling mistakes in features.md
  src/mono/wasm/features.md
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, community-contribution, needs-area-label, os-browser

#96486 STJ: set initial capacity of JsonObject if known (#96417)
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.IDictionary.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
Labels: area-System.Text.Json, community-contribution

#95733 [release/7.0] Fix SslStream.IsMutuallyAuthenticated
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/CertificateValidationClientServer.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamMutualAuthenticationTest.cs
Labels: Servicing-approved, area-System.Net.Security

#92684 [release/6.0] fix IsMutuallyAuthenticated on SslStream
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Ssl.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SecuritySafeHandles.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SecureChannel.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamMutualAuthenticationTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj
Labels: Servicing-approved, area-System.Net.Security

#96136 [RISC-V] Fix bug in label printing in disasm
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitriscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#96749 SPMI: Unindent jit-analysis header output
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#95065 Introduce CallConvSwift and special register types to represent the Swift ABI calling convention
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/CallingConventions.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Swift/SwiftTypes.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#96684 [HybridGlobalization] Include all globalization symbols
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Runtime/tests/System.Globalization.Tests/IcuAppLocal/IcuAppLocal.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/RuneTests.cs
  src/mono/mono/mini/CMakeLists.txt
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.Globalization.Native/entrypoints.c
  src/native/libs/System.Globalization.Native/pal_calendarData.h
  src/native/libs/System.Globalization.Native/pal_casing.h
  src/native/libs/System.Globalization.Native/pal_collation.h
  src/native/libs/System.Globalization.Native/pal_locale.h
  src/native/libs/System.Globalization.Native/pal_localeNumberData.h
  src/native/libs/System.Globalization.Native/pal_localeStringData.h
  src/native/libs/System.Globalization.Native/pal_normalization.h
  src/native/libs/System.Globalization.Native/pal_placeholders.c
  src/native/libs/System.Globalization.Native/pal_timeZoneInfo.h
Labels: area-System.Globalization, os-ios

#96737 FIX ConfigurationBinder resets sub objects stored in dictionaries
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.Collections.cs
Labels: area-Extensions-Configuration, community-contribution

#96448 Recover from failed OCSP download.
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.Linux.cs
Labels: area-System.Net.Security

#96667 [release/7.0] Use NuGetAuthenticate@1 instead of @0 (#96651)
  eng/pipelines/common/restore-internal-tools.yml
  eng/pipelines/installer/jobs/base-job.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: Servicing-approved, area-Infrastructure

#96701 Add WasmDedup=false to S.N.Tensors.Tests
  src/libraries/System.Numerics.Tensors/tests/System.Numerics.Tensors.Tests.csproj
Labels: area-System.Numerics

#96771 [mono] Fix a crash in mono_jit_info_table_foreach_internal ().
  src/mono/mono/metadata/jit-info.c
Labels: area-VM-meta-mono

#96712 Make NegotiateAuthentication.[Compute/Verify]IntegrityCheck APIs public
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System/Net/NegotiateAuthenticationPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NegotiateAuthentication.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NegotiateStream.cs
  src/libraries/System.Net.Security/tests/UnitTests/NegotiateAuthenticationTests.cs
Labels: area-System.Net.Security, community-contribution

#96751 JIT: Canonicalize newly recognized loops
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#96738 Do not generate reflectable `sealed` methods as virtual
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReflectedMethodNode.cs
Labels: area-NativeAOT-coreclr

#96538 Set `s_naiveThreshold` to `const` in the release build.
  src/libraries/System.Runtime.Numerics/src/System/Number.BigInteger.cs
Labels: area-System.Numerics, community-contribution

#96693 Delete BundleHelper test project
  src/installer/Microsoft.DotNet.CoreSetup.sln
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/AppHost.Bundle.Tests.csproj
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/AppLaunch.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleExtractToSpecificPath.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleLocalizedApp.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleProbe.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleRename.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundleTestBase.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/BundledAppWithSubDirs.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/HammerServiceTest.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Helpers/BundleHelper.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Helpers/BundleHelper.csproj
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Bundle.Tests/Microsoft.NET.HostModel.Bundle.Tests.csproj
  src/installer/tests/TestUtils/Constants.cs
Labels: area-Host

#96719 JIT: Skip tailcall IR validation for struct calls
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#95994 JIT: ARM64 SVE format encodings, `SVE_IH_3A` to `SVE_JO_3A`
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsarm64sve.h
Labels: arch-arm64, area-CodeGen-coreclr, arch-arm64-sve

#96800 [mono][debugger] Fix debug lazy loaded assemblies when webcil is enabled
  src/mono/mono/component/mini-wasm-debugger.c
Labels: arch-wasm, area-Debugger-mono

#96816 Disable EventSource manifest gen tests on stress runs.
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsManifestGeneration.Etw.cs
  src/tests/Interop/Directory.Build.targets
Labels: area-System.Diagnostics.Tracing, test-enhancement

#96713 Move setting variables to HelixPreCommands
  eng/testing/tests.targets
  src/libraries/sendtohelixhelp.proj
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-Infrastructure
