Repository dotnet/runtime, pull requests merged in 2024-10, with the labels that each got.

#107462 [mono] Set unwind table kind
  src/mono/mono/mini/mini-llvm-cpp.cpp
Labels: area-Codegen-LLVM-mono

#108283 [wasm] Include browser targets if RID is not wasi-wasm
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Pack.targets
Labels: arch-wasm, area-Build-mono

#108427 Disable `RunWithDifferentAppBundleLocations` failing with a timeout
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
Labels: arch-wasm, area-Build-mono, area-Infrastructure-mono

#107859 [Swift interop] Add inline array struct lowering tests
  src/tests/Interop/CMakeLists.txt
  src/tests/Interop/Swift/SwiftInlineArray/CMakeLists.txt
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.cs
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.csproj
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.swift
Labels: area-Interop-coreclr, os-ios, os-tvos, area-Interop-mono

#108441 Bump `Playwright` on `WasmBuildTests` to `1.47.0`
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
Labels: arch-wasm, area-Build-mono

#108387 [wasm] Dispose Xunit ToolCommand - follow up
  src/mono/wasm/Wasm.Build.Tests/Common/TestOutputWrapper.cs
  src/mono/wasm/Wasm.Build.Tests/NonWasmTemplateBuildTests.cs
Labels: arch-wasm, area-Infrastructure-mono

#108062 Fix partial compilation for CETCOMPAT mode
  src/coreclr/vm/jithelpers.cpp
Labels: area-VM-coreclr

#108356 Fold some casts early in importer
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#108407 Couple minor docs updates
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/MessageEndRecord.cs
  src/libraries/System.Speech/src/Recognition/SrgsGrammar/SrgsSemanticInterpretationTag.cs
Labels: area-Meta

#108442 Fix devirtualization across genericness in the hierarchy
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Devirtualization.cs
Labels: area-NativeAOT-coreclr

#108430 Update System.Formats.Nrbf ref sources and restore package description
  src/libraries/System.Formats.Nrbf/ref/System.Formats.Nrbf.cs
  src/libraries/System.Formats.Nrbf/src/System.Formats.Nrbf.csproj
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
Labels: binaryformatter-migration, area-System.Formats.Nrbf

#108380 RandomAccess.Write throws System.IO.IOException when buffers total size greater than 2GB
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Windows.cs
Labels: area-System.IO, community-contribution

#108439 [infra][android Disable Android ARM64 runtime tests job
  eng/pipelines/extra-platforms/runtime-extra-platforms-android.yml
Labels: os-android, area-Infrastructure-mono

#108153 JIT: Support for devirtualizing array interface methods
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/namedintrinsiclist.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.NativeAot.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/libraries/System.Private.CoreLib/src/System/Array.Enumerators.cs
Labels: area-CodeGen-coreclr

#107804 Bugfix InvalidOperationException/IndexOutOfRangeException in HttpListener.EndGetContext
  src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs
Labels: area-System.Net, community-contribution

#108455 Add instructions to debug CLI builds using VS
  docs/workflow/debugging/coreclr/debugging-runtime.md
Labels: documentation, area-Infrastructure-coreclr

#108418 Don't bail out on side-effects in assertionprop
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#108463 Update branding to 8.0.11
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#108462 Update branding to 6.0.36
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#108415 Remove HelperMethodFrames (HMF) from Reflection code paths
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RtFieldInfo.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/dispatchinfo.cpp
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/invokeutil.cpp
  src/coreclr/vm/invokeutil.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/reflectioninvocation.h
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
Labels: area-VM-coreclr

#106388 [wasm] Allow to build browser in library mode
  src/mono/browser/build/BrowserWasmApp.targets
  src/mono/browser/runtime/driver.c
Labels: arch-wasm, area-Build-mono, linkable-framework, os-browser

#108475 [browser][MT] fix rooting JSWebWorkerInstance
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSWebWorker.cs
Labels: arch-wasm, area-VM-threading-mono, os-browser

#105875 Obsolete ExchangeAlgorithmType, CipherAlgorithmType and HashAlgorithmType and their usage
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.DirectoryServices.Protocols/ref/System.DirectoryServices.Protocols.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System/Net/SecureProtocols/SslEnumTypes.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NetEventSource.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.Unix.tt
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.IO.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientDefaultEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAllowNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerNoEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ServerRequireEncryptionTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSystemDefaultsTest.cs
Labels: area-System.Net.Security, blocked, breaking-change, new-api-needs-documentation

#108485 Interpreter Fixes
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/interpreter.h
  src/coreclr/vm/stublink.cpp
Labels: area-VM-coreclr

#108466 Fix wrong Region Info Names
  src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs
  src/libraries/System.Runtime/tests/System.Globalization.Tests/System/Globalization/RegionInfoTests.cs
Labels: area-System.Globalization

#108474 Use default timeout for launching the browser in WBT
  src/mono/wasm/Wasm.Build.Tests/BrowserRunner.cs
Labels: arch-wasm, area-Infrastructure-mono

#108479 Added DateOnly overload methods to IsoWeek
  src/libraries/System.Private.CoreLib/src/System/DateOnly.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/ISOWeek.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Globalization.Calendars.Tests/ISOWeek/ISOWeekTests.cs
Labels: new-api-needs-documentation, community-contribution, area-System.DateTime

#108461 Fix buffer dropped reason in ConfigurableArrayPool
  src/libraries/System.Private.CoreLib/src/System/Buffers/ConfigurableArrayPool.cs
Labels: area-System.Buffers, community-contribution

#108470 [release/9.0] Fix devirtualization across genericness in the hierarchy
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Devirtualization.cs
Labels: Servicing-approved, area-NativeAOT-coreclr

#108483 [release/9.0] Fix `InlineArray` swift lowering in mono
  src/mono/mono/metadata/marshal.c
  src/tests/Interop/CMakeLists.txt
  src/tests/Interop/Swift/SwiftInlineArray/CMakeLists.txt
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.cs
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.csproj
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.swift
Labels: Servicing-approved, os-ios, os-tvos, area-Interop-mono

#108347 [release/9.0] Backport PR #108311 - Fix statics issue with barriers
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/loongarch64/asmhelpers.S
  src/coreclr/vm/methodtable.h
Labels: Servicing-approved, area-VM-coreclr

#108420 Use VNVisitReachingVNs in more places
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#108456 JIT: move funclet separation later
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#108527 JIT: remove fgAddCodeList
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/stacklevelsetter.cpp
Labels: area-CodeGen-coreclr

#105063 Update RedHat 7 -> 8 -- release/6.0-staging
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: Servicing-approved, blocking, blocking-clean-ci, area-Infrastructure

#108500 Fix differences between bash and cmd versions of crossgen test script
  src/tests/Common/CLRTest.CrossGen.targets
Labels: area-crossgen2-coreclr

#108325 Networking stress tests infrastructure improvements.
  eng/docker/build-docker-sdk.ps1
  eng/docker/build-docker-sdk.sh
  eng/docker/libraries-sdk.linux.Dockerfile
  eng/docker/libraries-sdk.windows.Dockerfile
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
  src/libraries/Common/tests/System/Net/StressTests/build-local.ps1
  src/libraries/Common/tests/System/Net/StressTests/build-local.sh
  src/libraries/Common/tests/System/Net/StressTests/run-docker-compose.ps1
  src/libraries/Common/tests/System/Net/StressTests/run-docker-compose.sh
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Directory.Build.props
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/build-local.ps1
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/build-local.sh
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/docker-compose.yml
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/entrypoint.ps1
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/entrypoint.sh
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/run-docker-compose.ps1
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/run-docker-compose.sh
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/windows.Dockerfile
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Build-Local.ps1
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Directory.Build.props
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Dockerfile
  src/libraries/System.Net.Security/tests/StressTests/SslStress/build-local.sh
  src/libraries/System.Net.Security/tests/StressTests/SslStress/docker-compose.yml
  src/libraries/System.Net.Security/tests/StressTests/SslStress/entrypoint.ps1
  src/libraries/System.Net.Security/tests/StressTests/SslStress/entrypoint.sh
  src/libraries/System.Net.Security/tests/StressTests/SslStress/run-docker-compose.ps1
  src/libraries/System.Net.Security/tests/StressTests/SslStress/run-docker-compose.sh
  src/libraries/System.Net.Security/tests/StressTests/SslStress/windows.Dockerfile
Labels: area-System.Net

#108480 Improve software exception handling performance
  src/coreclr/inc/vptr_list.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/jithelpers.cpp
Labels: tenet-performance, area-ExceptionHandling-coreclr

#108487 Simplify IsComObjectType checks
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/vm/interoputil.cpp
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GenerateGuidForTypeTests.Windows.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
Labels: area-Interop-coreclr

#108250 Add build-time check for unwind proc_info_in_range
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/exception/remote-unwind.cpp
Labels: area-PAL-coreclr, community-contribution

#108409 Fix flag assignment in pal_termios
  src/native/libs/System.IO.Ports.Native/pal_termios.c
Labels: community-contribution, area-System.IO.Ports

#105593 JIT: Improve codegen around unsigned comparisons
  src/coreclr/jit/gentree.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#108530 JIT: Null out SSA def nodes upon removal in RBO
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#108549 Use the managed implementation for keyUsage encoding and decoding everywhere
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.ASN1.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/Asn1SafeHandles.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/IX509Pal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ManagedX509ExtensionProcessor.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509Encoder.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509KeyUsageExtension.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Windows.CustomExtensions.cs
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/pal_asn1.c
  src/native/libs/System.Security.Cryptography.Native/pal_asn1.h
Labels: area-System.Security

#108412 [release/9.0][PERF] Backport python pipeline changes for performance tests
  eng/pipelines/common/perf-variables.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/coreclr/perf-wasm-jobs.yml
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/perf_slow.yml
  eng/pipelines/coreclr/templates/build-and-run-perf-ios-scenarios.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/perf-send-to-helix.yml
  eng/pipelines/coreclr/templates/run-performance-job.yml
  eng/pipelines/coreclr/templates/run-scenarios-job.yml
  eng/pipelines/runtime-wasm-perf.yml
  eng/testing/performance/android_scenarios.proj
  eng/testing/performance/blazor_perf.proj
  eng/testing/performance/crossgen_perf.proj
  eng/testing/performance/ios_scenarios.proj
  eng/testing/performance/microbenchmarks.proj
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: Servicing-approved, area-Infrastructure-coreclr

#108398 Remove OverflowException for ReadCborNegativeIntegerRepresentation
  src/libraries/System.Formats.Cbor/src/System/Formats/Cbor/Reader/CborReader.Integer.cs
Labels: area-System.Formats.Cbor

#108525 [cdac] Tighten cdac_data friend declarations
  src/coreclr/inc/slist.h
  src/coreclr/vm/cdacdata.h
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/class.h
  src/coreclr/vm/exstate.h
  src/coreclr/vm/method.hpp
  src/coreclr/vm/methodtable.h
  src/coreclr/vm/object.h
  src/coreclr/vm/syncblk.h
  src/coreclr/vm/threads.h
  src/coreclr/vm/typedesc.h
Labels: area-Diagnostics-coreclr

#108499 Fix IndexOf Optimization Code
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
  src/libraries/System.Runtime/tests/System.Globalization.Tests/CompareInfo/CompareInfoTests.IndexOf.cs
Labels: area-System.Globalization

#108419 linux/arm64: Verify TLS resolver code
  src/coreclr/vm/threadstatics.cpp
Labels: area-VM-coreclr

#108558 Use the managed implementation of extendedKeyUsage codec everywhere
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509Ext.cs
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/X509ExtensionSafeHandles.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/IX509Pal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ManagedX509ExtensionProcessor.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509Encoder.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/WindowsStructs.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509EnhancedKeyUsageExtension.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Windows.CustomExtensions.cs
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/openssl.c
  src/native/libs/System.Security.Cryptography.Native/openssl.h
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/pal_x509ext.c
  src/native/libs/System.Security.Cryptography.Native/pal_x509ext.h
Labels: area-System.Security

#108555 Update fuzzing infra to build and use the shared framework
  eng/pipelines/libraries/fuzzing/deploy-to-onefuzz.yml
  src/libraries/Common/tests/TestUtilities/System/Buffers/BoundedMemory.Default.cs
  src/libraries/Common/tests/TestUtilities/System/Buffers/BoundedMemory.Windows.cs
  src/libraries/Fuzzing/Directory.Build.props
  src/libraries/Fuzzing/Directory.Build.targets
  src/libraries/Fuzzing/DotnetFuzzing.sln
  src/libraries/Fuzzing/DotnetFuzzing/DotnetFuzzing.csproj
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/Base64Fuzzer.cs
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/Base64UrlFuzzer.cs
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/NrbfDecoderFuzzer.cs
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/TextEncodingFuzzer.cs
  src/libraries/Fuzzing/DotnetFuzzing/Program.cs
  src/libraries/Fuzzing/DotnetFuzzing/run.bat
  src/libraries/Fuzzing/README.md
  src/libraries/Fuzzing/nuget.config
Labels: area-Meta

#108065 Stored the initial capacity of the ConcurrentDictionary for correctly sizing the backing array after clearing the collection.
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs
  src/libraries/System.Collections.Concurrent/tests/ConcurrentDictionary/ConcurrentDictionaryTests.cs
Labels: area-System.Collections, community-contribution

#108449 Use architecture independent code paths in Array
  src/libraries/System.Private.CoreLib/src/System/Array.cs
Labels: area-System.Runtime, community-contribution

#108370 Share pthread_setname via minipal
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/unix/PalCreateDump.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/pal/src/include/pal/thread.hpp
  src/coreclr/pal/src/misc/perfjitdump.cpp
  src/coreclr/pal/src/synchmgr/synchmanager.cpp
  src/coreclr/pal/src/thread/thread.cpp
  src/mono/mono/utils/mono-threads-mach.c
  src/mono/mono/utils/mono-threads-posix.c
  src/native/libs/System.Native/pal_signal.c
  src/native/libs/System.Native/pal_threading.c
  src/native/minipal/getexepath.h
  src/native/minipal/thread.h
Labels: area-PAL-coreclr, community-contribution

#107360 Allow un-examining in PipeReader.AdvanceTo(...)
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs
  src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs
  src/libraries/System.IO.Pipelines/tests/BackpressureTests.cs
  src/libraries/System.IO.Pipelines/tests/PipeLengthTests.cs
  src/libraries/System.IO.Pipelines/tests/PipeReaderStreamTests.cs
  src/libraries/System.IO.Pipelines/tests/PipeReaderWriterFacts.cs
  src/libraries/System.IO.Pipelines/tests/System.IO.Pipelines.Tests.csproj
Labels: area-System.IO.Pipelines

#107174 JIT: Enable range-based for over ABI passing segments
  src/coreclr/jit/abi.cpp
  src/coreclr/jit/abi.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/promotion.cpp
Labels: area-CodeGen-coreclr

#107024 [RISC-V] Fix Int32 to Unsigned overflow check
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/lsrariscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#107459 ARM64-SVE: refactor lsra buildHWIntrinsic
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
Labels: arch-arm64, area-CodeGen-coreclr, community-contribution, arm-sve

#108546 [mono] [Swift interop] Fix InlineArray lowering with static fields
  src/mono/mono/metadata/marshal.c
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.cs
  src/tests/Interop/Swift/SwiftInlineArray/SwiftInlineArray.swift
Labels: os-mac-os-x, os-ios, os-tvos, area-Interop-mono

#108596 Small refactoring on ps script for Stress Tests
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/entrypoint.ps1
  src/libraries/System.Net.Security/tests/StressTests/SslStress/entrypoint.ps1
Labels: area-System.Net

#108610 Don't call HasCustomModifier when the argument type is something normalized to ELEMENT_TYPE_PTR or ELEMENT_TYPE_BYREF
  src/coreclr/vm/jitinterface.cpp
Labels: area-VM-coreclr

#108543 [wasm] Fixes for issue #108519
  src/mono/mono/mini/interp/jiterpreter.c
Labels: arch-wasm, area-Codegen-Interpreter-mono, os-browser

#108032 MSFT:53847109 [.NET Core] DTS / UserPrincipal.GetAuthorizationGroups returns PrincipalOperationException: Information about the domain could not be retrieved (1212).
  src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/Utils.cs
  src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/Utils.cs
Labels: area-System.DirectoryServices, community-contribution

#107388 [mono] Fix vector class retrieval and type checks for binary operand APIs
  src/mono/mono/mini/simd-intrinsics.c
Labels: arch-arm64, area-Codegen-Intrinsics-mono

#108635 Fixes typo of word dictionary throughout repo
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Text.Json/tests/Common/ExtensionDataTests.cs
  src/libraries/System.Text.Json/tests/Common/TestClasses/TestClasses.GenericCollections.cs
Labels: area-System.Runtime.CompilerServices, community-contribution

#108583 [browser][debugging] Removed trailing comma that results in a warning
  src/mono/wasm/templates/templates/browser/Properties/launchSettings.json
Labels: arch-wasm, area-Debugger-mono, community-contribution, os-browser

#108603 JIT: Disallow SCEV analysis of non-values
  src/coreclr/jit/inductionvariableopts.cpp
  src/coreclr/jit/scev.cpp
  src/coreclr/jit/scev.h
Labels: area-CodeGen-coreclr

#107280 [wasm] Read messages from binlog if process output is missing build finished message
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
Labels: arch-wasm, test-enhancement, area-Infrastructure-mono

#108281 [browser] Make boot json file name configurable
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/wasm/Wasm.Build.Tests/AssertWasmSdkBundleOptions.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorBuildOptions.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmProjectProvider.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/AppTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/ModuleConfigTests.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/OverrideBootConfigNameTest.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/wwwroot/main.js
Labels: arch-wasm, area-Build-mono, community-contribution, os-browser

#108578 Use the managed codec for basic constraints and remove entire X.509 extension PAL
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509Ext.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/IX509Pal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/LegacyBasicConstraintsDecoder.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/LegacyBasicConstraintsDecoder.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ManagedX509ExtensionProcessor.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509Encoder.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509BasicConstraintsExtension.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Android.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Apple.ECKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Apple.X500Name.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Windows.CustomExtensions.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.iOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.macOS.cs
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/pal_x509ext.c
  src/native/libs/System.Security.Cryptography.Native/pal_x509ext.h
Labels: area-System.Security

#108247 Add fuzzer for Convert.To/FromBase64 APIs
  src/libraries/Fuzzing/DotnetFuzzing/Assert.cs
  src/libraries/Fuzzing/DotnetFuzzing/DotnetFuzzing.csproj
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/Base64Fuzzer.cs
  src/libraries/Fuzzing/README.md
Labels: area-System.Runtime

#108043 Call native BrotliEncoderMaxCompressedSize method for BrotliEncoder.GetMaxCompressedLength
  src/libraries/Common/src/Interop/Interop.Brotli.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliUtils.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliEncoder.cs
  src/libraries/System.IO.Compression.Brotli/tests/CompressionStreamUnitTests.Brotli.cs
  src/native/libs/System.IO.Compression.Native/System.IO.Compression.Native.def
  src/native/libs/System.IO.Compression.Native/System.IO.Compression.Native_unixexports.src
  src/native/libs/System.IO.Compression.Native/entrypoints.c
Labels: area-System.IO.Compression

#108656 [browser][host] Apply CORS also to .mjs files
  src/mono/wasm/host/DevServer/DevServerStartup.cs
Labels: arch-wasm, area-Build-mono, os-browser

#108417 [GC] Revert distribute_free_regions changes in preparation for different strategy
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#108663 Validate performance counter structs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.PERF_INFO.cs
  src/libraries/System.Diagnostics.PerformanceCounter/src/Properties/InternalsVisibleTo.cs
  src/libraries/System.Diagnostics.PerformanceCounter/src/Resources/Strings.resx
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceCounterLib.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/System.Diagnostics.PerformanceCounter.Tests.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/tests/ValidationTests.cs
  src/libraries/System.Diagnostics.Process/src/Resources/Strings.resx
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs
Labels: area-System.Diagnostics.PerformanceCounter

#108403 [cdac] Implement NibbleMap lookup and tests
  docs/design/datacontracts/ExecutionManager.md
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Target.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/TargetCodePointer.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/TargetNUInt.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/TargetPointer.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/ExecutionManagerHelpers/NibbleMap.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader/ContractDescriptorTarget.cs
  src/native/managed/cdacreader/tests/MockMemorySpace.cs
  src/native/managed/cdacreader/tests/NibbleMapTests.cs
  src/native/managed/cdacreader/tests/TestPlaceholderTarget.cs
Labels: area-Diagnostics-coreclr

#108535 Remove HelperMethodFrames (HMF) from Reflection code paths
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RtFieldInfo.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/TypedReference.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/ReflectionCoreCallbacksImplementation.cs
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/fcall.h
  src/coreclr/vm/field.cpp
  src/coreclr/vm/qcall.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/reflectioninvocation.h
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/QCallHandles.cs
  src/libraries/System.Private.CoreLib/src/System/TypedReference.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/TypedReferenceTests.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeFieldHandle.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeTypeHandle.cs
  src/mono/System.Private.CoreLib/src/System/TypedReference.Mono.cs
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/icall.c
  src/tests/reflection/SetValue/TrySetReadonlyStaticField2.cs
Labels: area-VM-coreclr

#107179 [RISC-V] Fix some minor errors
  src/coreclr/inc/regdisp.h
  src/coreclr/jit/unwindriscv64.cpp
  src/coreclr/pal/inc/unixasmmacrosriscv64.inc
  src/coreclr/pal/src/arch/riscv64/context2.S
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TransitionBlock.cs
  src/coreclr/unwinder/riscv64/unwinder.cpp
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/riscv64/cgencpu.h
Labels: area-VM-coreclr, community-contribution, arch-riscv

#108665 ZipArchive: Improve performance of removing extra fields
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
Labels: area-System.IO.Compression

#108677 [release/9.0] Merge RC2 changes into 9.0
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.PERF_INFO.cs
  src/libraries/Common/src/System/HashCodeRandomization.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/MemoryCacheSetAndRemoveTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/src/Properties/InternalsVisibleTo.cs
  src/libraries/System.Diagnostics.PerformanceCounter/src/Resources/Strings.resx
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceCounterLib.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/System.Diagnostics.PerformanceCounter.Tests.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/tests/ValidationTests.cs
  src/libraries/System.Diagnostics.Process/src/Resources/Strings.resx
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/Package.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/ZipPackage.cs
  src/libraries/System.Private.CoreLib/src/System/Marvin.cs
  src/libraries/System.Private.CoreLib/src/System/Random.cs
  src/libraries/System.Security.Cryptography.Cose/src/System.Security.Cryptography.Cose.csproj
  src/mono/browser/runtime/loader/icu.ts
Labels: NO-MERGE, Servicing-approved

#108679 Merging internal commits for release/8.0
  src/libraries/Common/src/System/HashCodeRandomization.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/libraries/Microsoft.Extensions.Caching.Memory/tests/MemoryCacheSetAndRemoveTests.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/libraries/System.IO.Packaging/src/System.IO.Packaging.csproj
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/Package.cs
  src/libraries/System.Private.CoreLib/src/System/Marvin.cs
  src/libraries/System.Security.Cryptography.Cose/src/System.Security.Cryptography.Cose.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/LargeJsonObjectExtensionDataSerializationState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonObjectTests.cs
Labels: Servicing-approved, area-codeflow

#108304 [release/9.0] Update the component resources for the VS descriptions
  src/workloads/workloads.csproj
Labels: Servicing-approved, area-Infrastructure, area-Workloads

#108414 Update stepping through MulticastDelegate under the Debugger
  src/coreclr/System.Private.CoreLib/src/System/StubHelpers.cs
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/controller.h
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/dbginterface.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/stubhelpers.cpp
  src/coreclr/vm/stubhelpers.h
  src/coreclr/vm/stubmgr.cpp
  src/coreclr/vm/stubmgr.h
  src/coreclr/vm/vars.cpp
  src/coreclr/vm/vars.hpp
Labels: area-VM-coreclr

#108411 [mono] Fix wording around when objects are entering degraded gc mode
  src/mono/mono/sgen/sgen-pinning.c
Labels: area-GC-mono

#108704 Update SystemTextJsonToolsetVersion
  eng/Versions.props
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
Labels: area-Infrastructure-libraries, community-contribution

#108634 JIT: Run single EH region repair pass after layout
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#108675 Merging internal commits for release/6.0
  src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs
  src/libraries/Microsoft.Extensions.Caching.Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/libraries/Microsoft.Extensions.DependencyModel/src/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipBlocks.cs
  src/libraries/System.IO.Packaging/src/System.IO.Packaging.csproj
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/Package.cs
  src/libraries/System.Private.CoreLib/src/System/Marvin.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/JsonObjectConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Node/LargeJsonObjectExtensionDataSerializationState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectDefaultConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Object/ObjectWithParameterizedConstructorConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadStackFrame.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonObjectTests.cs
Labels: Servicing-approved, area-codeflow

#108709 Tweak Invariant IndexOf logic
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
Labels: area-System.Globalization

#107425 Normalize `--` and case for options in src/tests/build.sh like we do in eng/build(-commons).sh
  src/tests/build.sh
Labels: area-Infrastructure-coreclr

#108718 Don't error for NuGet audit on non-official builds
  Directory.Build.props
Labels: area-Infrastructure

#107282 [RISC-V] Transfer arguments between calling conventions in shuffling thunks
  src/coreclr/inc/sigparser.h
  src/coreclr/inc/utilcode.h
  src/coreclr/utilcode/loaderheap.cpp
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/class.cpp
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/dllimport.h
  src/coreclr/vm/ilstubcache.cpp
  src/coreclr/vm/loaderallocator.hpp
  src/coreclr/vm/lockedrangelist.h
  src/coreclr/vm/method.hpp
  src/coreclr/vm/riscv64/cgencpu.h
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/stubmgr.cpp
  src/coreclr/vm/stubmgr.h
  src/tests/JIT/Directed/StructABI/EmptyStructs.cs
Labels: area-VM-coreclr, community-contribution, arch-riscv

#108429 [ppc64le] Fixed assertion failure which was occurring while running System.Runtime.Serialization.Formatters tests
  src/libraries/tests.proj
  src/mono/mono/mini/cpu-ppc64.mdesc
Labels: community-contribution, needs-area-label

#108725 Disable Comparer_get_Default test on linux-arm64-crossgen
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#108086 JIT: Add loop-aware RPO, and use as LSRA's block sequence
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#108722 Doc updates
  src/libraries/Microsoft.Extensions.Configuration.Ini/src/IniConfigurationExtensions.cs
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/PayloadOptions.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/IncrementalHash.cs
Labels: area-System.Security

#108639 JIT: Move hot/cold splitting phase to backend
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#108754 Update runtimelab pipeline
  eng/pipelines/runtimelab.yml
Labels: area-Meta

#108681 Packaging: Port fix for GetParts from .NETFramework
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/Package.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/ZipPackage.cs
Labels: area-System.IO

#108715 [release/9.0] Backport "JIT: Run single EH region repair pass after layout"
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/jiteh.cpp
Labels: Servicing-approved, area-CodeGen-coreclr

#108120 [Ppc64le] binaryformatter and tensors tests fix
  src/libraries/System.Resources.Extensions/tests/BinaryFormatTests/Common/BasicObjectTests.cs
  src/libraries/System.Resources.Extensions/tests/BinaryFormatTests/Legacy/BinaryFormatterTests.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
  src/libraries/tests.proj
  src/mono/mono/mini/cpu-ppc64.mdesc
  src/mono/mono/mini/mini-ppc.c
Labels: Servicing-approved, area-Codegen-JIT-mono, community-contribution, arch-ppc64le

#108645 Add missing return value doc comments for Create(ROS<float> values)
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.cs
Labels: area-System.Numerics

#108508 Fix minor markdown formatting errors/inconsistencies
  docs/project/list-of-diagnostics.md
Labels: documentation, area-Meta

#108629 Ensure to use float reserved register for TYP_SIMD12
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraloongarch64.cpp
  src/coreclr/jit/lsrariscv64.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_108609/Runtime_108609.cs
  src/tests/JIT/Regression/JitBlue/Runtime_108609/Runtime_108609.csproj
Labels: area-CodeGen-coreclr

#108003 JIT: run a late pass of empty try/finally/fault removal
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#108648 [release/8.0-staging] Fixes deadlock for IncrementingPollingCounter callbacks
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/CounterGroup.cs
Labels: Servicing-approved, area-System.Diagnostics.Tracing

#108773 bgc deadlock fix
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#108537 Remove string.Trim{,Start,End}(ReadOnlySpan<char>)
  src/libraries/Common/tests/Tests/System/StringTests.cs
  src/libraries/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
Labels: area-System.Runtime, blocking-release, breaking-change, needs-breaking-change-doc-created

#108687 [WASI] Updates to work with up coming Wasi sdk
  src/mono/mono/tools/offsets-tool/offsets-tool.py
  src/native/libs/CMakeLists.txt
Labels: arch-wasm, area-Build-mono, community-contribution, os-wasi

#108769 Remove BrotliUtils.MaxInputSize
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliUtils.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliEncoder.cs
Labels: area-System.IO.Compression

#108776 [LoongArch64] Fix the instruction check in 'CodeGen::genInstrWithConstant()' when called by 'CodeGen::genHomeStackSegment()'.
  src/coreclr/jit/codegenloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#108779 JIT: Fold `(x + c1) + c2` in lowering
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#108739 JIT: Use binary search in `FlowGraphNaturalLoops::GetLoopByHeader`
  src/coreclr/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#108693 Delete UsePublishedCrossgen2 property
  eng/pipelines/coreclr/exploratory.yml
  eng/pipelines/coreclr/templates/crossgen2-comparison-build-job.yml
  eng/pipelines/coreclr/templates/crossgen2-comparison-job.yml
  eng/pipelines/coreclr/templates/perf-job.yml
  eng/pipelines/coreclr/templates/superpmi-collect-job.yml
  src/tests/Common/Directory.Build.targets
  src/tests/build.proj
Labels: area-crossgen2-coreclr

#108673 Add test case for deserializing JsonObject as JsonExtensionData
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonObjectTests.cs
Labels: area-System.Text.Json

#108764 Update the JSON schema exporter to reuse schemas more aggressively.
  src/libraries/System.Text.Json/src/System/Text/Json/Schema/JsonSchemaExporter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Schema/JsonSchemaExporterContext.cs
  src/libraries/System.Text.Json/tests/Common/JsonSchemaExporterTests.TestTypes.cs
  src/libraries/System.Text.Json/tests/Common/JsonSchemaExporterTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/JsonSchemaExporterTests.cs
Labels: area-System.Text.Json

#108492 Fix an issue with the last level cache values on Linux running on certain AMD Processors
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/unix/CMakeLists.txt
  src/coreclr/gc/unix/gcenv.unix.cpp
Labels: area-GC-coreclr

#108775 Fix optimization of Vector512 And + Not to AndNot
  src/coreclr/jit/lowerxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_108613/Runtime_108613.cs
  src/tests/JIT/Regression/JitBlue/Runtime_108613/Runtime_108613.csproj
Labels: area-CodeGen-coreclr

#108723 Remove managed EH code frames from stack trace
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
Labels: area-ExceptionHandling-coreclr

#108727 Arm64: Use TYP_SIMD8 for AddAcross
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lowerarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_108612/Runtime_108612.cs
  src/tests/JIT/Regression/JitBlue/Runtime_108612/Runtime_108612.csproj
Labels: area-CodeGen-coreclr

#108777 [release/9.0] Remove string.Trim{,Start,End}(ReadOnlySpan<char>) ref-API
  src/libraries/Common/tests/Tests/System/StringTests.cs
  src/libraries/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: Servicing-approved, area-System.Runtime, breaking-change

#108795 Make RC2 light up for OpenSSLs built with -no-rc2
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/TestData.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RC2Implementation.OpenSsl.cs
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_cipher.c
Labels: area-System.Security

#108807 JIT: reset reverse opts when updating HW intrinsic
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#108697 [LoongArch64] Remove the register tp and rewrite the definition of PTFF_SAVE_* in NativeAOT.
  src/coreclr/nativeaot/Runtime/ICodeManager.h
  src/coreclr/nativeaot/Runtime/PalRedhawkCommon.h
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/inc/rhbinder.h
  src/coreclr/nativeaot/Runtime/loongarch64/AsmOffsetsCpu.h
  src/coreclr/nativeaot/Runtime/loongarch64/ExceptionHandling.S
  src/coreclr/nativeaot/Runtime/loongarch64/GcProbe.S
  src/coreclr/nativeaot/Runtime/loongarch64/UniversalTransition.S
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosloongarch64.inc
Labels: community-contribution, area-NativeAOT-coreclr, arch-loongarch64

#108684 Delete STUBLINKER_GENERATES_UNWIND_INFO
  src/coreclr/debug/daccess/fntableaccess.cpp
  src/coreclr/debug/daccess/fntableaccess.h
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/crsttypes_generated.h
  src/coreclr/inc/loaderheap.h
  src/coreclr/utilcode/loaderheap.cpp
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/arm64/cgencpu.h
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/i386/stublinkerx86.cpp
  src/coreclr/vm/i386/stublinkerx86.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/loongarch64/cgencpu.h
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/riscv64/cgencpu.h
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/rtlfunctions.cpp
  src/coreclr/vm/rtlfunctions.h
  src/coreclr/vm/stublink.cpp
  src/coreclr/vm/stublink.h
  src/coreclr/vm/stublink.inl
Labels: area-VM-coreclr

#108792 [mono] Updated runtime test building doc
  docs/workflow/testing/mono/testing.md
Labels: documentation, area-Meta

#108581 Disable linux-x64 dev-innerloop
  eng/pipelines/common/platform-matrix.yml
Labels: area-Infrastructure-coreclr, community-contribution

#108802 Update source-build team references
  eng/DotNetBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Labels: area-Infrastructure-libraries

#105427 [mono] Use llvm 19.1.0
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/runtime.yml
  src/libraries/tests.proj
  src/mono/CMakeLists.txt
  src/mono/mono/mini/llvm-intrinsics.h
  src/mono/mono/mini/mini-llvm-cpp.cpp
  src/mono/wasi/Wasi.Build.Tests/ILStripTests.cs
Labels: area-Infrastructure-libraries

#108780 Rename `WasmBuildTests` settings to the names of properties they impact
  src/libraries/sendtohelix-browser.targets
  src/libraries/sendtohelix-wasm.targets
  src/libraries/sendtohelix.proj
  src/libraries/sendtohelixhelp.proj
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/data/RunScriptTemplate.cmd
  src/mono/wasm/Wasm.Build.Tests/data/RunScriptTemplate.sh
Labels: arch-wasm, area-Build-mono

#108848 Enable all configurations inner loop
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/global-build.yml
Labels: needs-area-label

#108766 [release/9.0] Bump Microsoft.Private.Intellisense to 20241010.1
  eng/Versions.props
Labels: documentation, Servicing-approved, area-Infrastructure-libraries, blocked

#108765 Bump Microsoft.Private.Intellisense to 20241010.1
  eng/Versions.props
Labels: documentation, area-Infrastructure-libraries, blocked

#108825 Fix PKCS#12 to use SHA1 MAC
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/TestData.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxTests.cs
Labels: area-System.Security

#108771 JIT: very simple cloning heuristic
  src/coreclr/jit/compiler.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/loopcloning.h
Labels: area-CodeGen-coreclr

#108797 [release/6.0] Reduce net core app current package dependencies, increase direct update availability
  docs/coding-guidelines/libraries-packaging.md
  docs/project/library-servicing.md
  eng/packaging.targets
  src/libraries/Microsoft.Extensions.Caching.Abstractions/src/Microsoft.Extensions.Caching.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Caching.Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/Microsoft.Extensions.Configuration.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/Microsoft.Extensions.Configuration.Binder.csproj
  src/libraries/Microsoft.Extensions.Configuration.CommandLine/src/Microsoft.Extensions.Configuration.CommandLine.csproj
  src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/src/Microsoft.Extensions.Configuration.EnvironmentVariables.csproj
  src/libraries/Microsoft.Extensions.Configuration.FileExtensions/src/Microsoft.Extensions.Configuration.FileExtensions.csproj
  src/libraries/Microsoft.Extensions.Configuration.Ini/src/Microsoft.Extensions.Configuration.Ini.csproj
  src/libraries/Microsoft.Extensions.Configuration.Json/src/Microsoft.Extensions.Configuration.Json.csproj
  src/libraries/Microsoft.Extensions.Configuration.UserSecrets/src/Microsoft.Extensions.Configuration.UserSecrets.csproj
  src/libraries/Microsoft.Extensions.Configuration.Xml/src/Microsoft.Extensions.Configuration.Xml.csproj
  src/libraries/Microsoft.Extensions.Configuration/src/Microsoft.Extensions.Configuration.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Microsoft.Extensions.DependencyInjection.csproj
  src/libraries/Microsoft.Extensions.DependencyModel/src/Microsoft.Extensions.DependencyModel.csproj
  src/libraries/Microsoft.Extensions.FileProviders.Abstractions/src/Microsoft.Extensions.FileProviders.Abstractions.csproj
  src/libraries/Microsoft.Extensions.FileProviders.Composite/src/Microsoft.Extensions.FileProviders.Composite.csproj
  src/libraries/Microsoft.Extensions.FileProviders.Physical/src/Microsoft.Extensions.FileProviders.Physical.csproj
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/Microsoft.Extensions.Hosting.Abstractions.csproj
  src/libraries/Microsoft.Extensions.Hosting.Systemd/src/Microsoft.Extensions.Hosting.Systemd.csproj
  src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/Microsoft.Extensions.Hosting.WindowsServices.csproj
  src/libraries/Microsoft.Extensions.Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/libraries/Microsoft.Extensions.Http/src/Microsoft.Extensions.Http.csproj
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/Microsoft.Extensions.Logging.Configuration.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Logging.Debug/src/Microsoft.Extensions.Logging.Debug.csproj
  src/libraries/Microsoft.Extensions.Logging.EventLog/src/Microsoft.Extensions.Logging.EventLog.csproj
  src/libraries/Microsoft.Extensions.Logging.EventSource/src/Microsoft.Extensions.Logging.EventSource.csproj
  src/libraries/Microsoft.Extensions.Logging.TraceSource/src/Microsoft.Extensions.Logging.TraceSource.csproj
  src/libraries/Microsoft.Extensions.Logging/src/Microsoft.Extensions.Logging.csproj
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/Microsoft.Extensions.Options.ConfigurationExtensions.csproj
  src/libraries/Microsoft.Extensions.Options.DataAnnotations/src/Microsoft.Extensions.Options.DataAnnotations.csproj
  src/libraries/Microsoft.Extensions.Options/src/Microsoft.Extensions.Options.csproj
  src/libraries/Microsoft.Extensions.Primitives/src/Microsoft.Extensions.Primitives.csproj
  src/libraries/Microsoft.Win32.Registry.AccessControl/src/Microsoft.Win32.Registry.AccessControl.csproj
  src/libraries/Microsoft.Windows.Compatibility/src/Microsoft.Windows.Compatibility.csproj
  src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj
  src/libraries/System.Configuration.ConfigurationManager/src/System.Configuration.ConfigurationManager.csproj
  src/libraries/System.Data.Odbc/src/System.Data.Odbc.csproj
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.DirectoryServices.AccountManagement/src/System.DirectoryServices.AccountManagement.csproj
  src/libraries/System.DirectoryServices/src/System.DirectoryServices.csproj
  src/libraries/System.IO.Packaging/src/System.IO.Packaging.csproj
  src/libraries/System.Memory.Data/src/System.Memory.Data.csproj
  src/libraries/System.Net.Http.Json/src/System.Net.Http.Json.csproj
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/libraries/System.Reflection.MetadataLoadContext/src/System.Reflection.MetadataLoadContext.csproj
  src/libraries/System.Runtime.Caching/src/System.Runtime.Caching.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.Xml/src/System.Security.Cryptography.Xml.csproj
  src/libraries/System.Security.Permissions/src/System.Security.Permissions.csproj
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Text.Encodings.Web/src/System.Text.Encodings.Web.csproj
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Threading.AccessControl/src/System.Threading.AccessControl.csproj
Labels: Servicing-approved, area-Infrastructure-libraries

#108819 Crossgen2 outer loop fixes
  eng/Subsets.props
  eng/liveBuilds.targets
  eng/pipelines/coreclr/templates/crossgen2-comparison-job.yml
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs
  src/tests/Common/scripts/crossgen2_comparison.py
  src/tests/readytorun/coreroot_determinism/coreroot_determinism.csproj
  src/tests/readytorun/coreroot_determinism/readytorun_coreroot_determinism.csproj
  src/tests/readytorun/determinism/crossgen2determinism.csproj
Labels: area-crossgen2-coreclr

#108809 Fix CET debugger stepping over CALL instructions
  src/coreclr/debug/di/process.cpp
  src/coreclr/debug/di/rspriv.h
  src/coreclr/debug/di/shimprocess.cpp
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/controller.h
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/vm/dbginterface.h
  src/coreclr/vm/threadsuspend.cpp
Labels: area-Diagnostics-coreclr

#108867 Fix argument passing of structs with padding on x86
  src/coreclr/jit/codegenxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_106140/Runtime_106140.cs
  src/tests/JIT/Regression/JitBlue/Runtime_106140/Runtime_106140.csproj
Labels: area-CodeGen-coreclr

#108547 Switch `SwiftSelf<T>` position requirement to last
  src/coreclr/jit/importercalls.cpp
  src/mono/mono/metadata/marshal.c
  src/tests/Interop/Swift/SwiftSelfContext/SwiftSelfContext.cs
  src/tests/Interop/Swift/SwiftSelfContext/SwiftSelfContext.swift
Labels: area-Interop-coreclr

#106695 JIT: Stop calling morph from CSE
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#105267 JIT: Advance cursors through stores in strength reduction
  src/coreclr/jit/compiler.h
  src/coreclr/jit/inductionvariableopts.cpp
Labels: area-CodeGen-coreclr

#108835 Use default timeout of 30s.
  src/mono/wasm/Wasm.Build.Tests/BrowserRunner.cs
Labels: Servicing-approved, area-Build-mono

#108572 Avoid `OverflowException` in `Boolean.TryFormat`
  src/libraries/System.Private.CoreLib/src/System/Boolean.cs
Labels: community-contribution, needs-area-label

#108888 Fix compilation of Apple native shim on newer Clang
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_symmetric.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_x509.c
Labels: area-System.Security

#108866 Make ExecutionManager.md markdownlint-clean
  docs/design/datacontracts/ExecutionManager.md
Labels: area-Meta

#108836 JIT: Produce correctly typed IR in TLS helper expansion
  src/coreclr/jit/helperexpansion.cpp
Labels: area-CodeGen-coreclr

#108873 Introduce a mechanism to disable CLR tests under SuperPMI collection
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/baseservices/exceptions/stackoverflow/stackoverflowtester.csproj
Labels: area-CodeGen-coreclr

#105206 Refactor memory copies in `SafeBuffer`
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeBuffer.cs
Labels: area-System.Runtime.InteropServices, community-contribution

#104849 Add ee_alloc_context
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/gc/gcinterface.ee.h
  src/coreclr/inc/dacvars.h
  src/coreclr/vm/amd64/JitHelpers_Slow.asm
  src/coreclr/vm/amd64/asmconstants.h
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/gcheaputilities.cpp
  src/coreclr/vm/gcheaputilities.h
  src/coreclr/vm/gchelpers.cpp
  src/coreclr/vm/gcstress.h
  src/coreclr/vm/i386/jitinterfacex86.cpp
  src/coreclr/vm/i386/stublinkerx86.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Thread.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/EEAllocContext.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/RuntimeThreadLocals.cs
Labels: area-VM-coreclr

#108837 Move IsDebuggerPresent to minipal, convert to QCall
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debuggermessagebox.cpp
  src/coreclr/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/corerun/corerun.hpp
  src/coreclr/jit/error.h
  src/coreclr/minipal/CMakeLists.txt
  src/coreclr/minipal/Unix/CMakeLists.txt
  src/coreclr/minipal/Windows/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/MiscHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawkFunctions.h
  src/coreclr/nativeaot/Runtime/rhassert.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/EventReporter.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.cpp
  src/coreclr/tools/superpmi/superpmi/jitdebugger.cpp
  src/coreclr/utilcode/check.cpp
  src/coreclr/utilcode/debug.cpp
  src/coreclr/vm/debugdebugger.cpp
  src/coreclr/vm/debugdebugger.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/eepolicy.cpp
  src/coreclr/vm/eventreporter.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/i386/gmsx86.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/stubmgr.cpp
  src/coreclr/vm/util.cpp
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.IsDebuggerPresent.cs
  src/mono/mono/mini/calls.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/utils/CMakeLists.txt
  src/mono/mono/utils/mono-utils-debug.c
  src/mono/mono/utils/mono-utils-debug.h
  src/native/minipal/debugger.c
  src/native/minipal/debugger.h
Labels: area-PAL-coreclr, community-contribution
