Repository dotnet/runtime, pull requests merged in 2024-12, with the labels that each got.

#109642 Rework HttpClient content buffering
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpContentTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/HttpContentTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/StreamToStreamCopyTest.cs
Labels: area-System.Net.Http

#110250 Disable GFNI tests for NAOT
  src/tests/JIT/HardwareIntrinsics/X86/Gfni/Gfni_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86/Gfni/Gfni_ro.csproj
Labels: area-crossgen2-coreclr, community-contribution

#110259 Rename {CLR,DOTNET}_ICU/OPENSSL_VERSION_OVERRIDE
  src/native/libs/System.Globalization.Native/pal_icushim.c
  src/native/libs/System.Security.Cryptography.Native/opensslshim.c
Labels: area-System.Globalization, breaking-change, needs-breaking-change-doc-created, community-contribution

#110313 Delete shared ThrowHelper used only a single test
  src/libraries/Common/src/System/ThrowHelper.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Extensions/TimeSpanAttribute.cs
Labels: needs-area-label

#110329 [release/8.0-staging] Pin the 6.0.x down-level versions to 6.0.36
  eng/Versions.props
Labels: Servicing-approved, area-Workloads

#109742 Merging internal commits for release/8.0
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
Labels: Servicing-approved, area-codeflow

#109920 [release/8.0] [browser] Fix processing of satellite assemblies from referenced assembly during publish
  src/mono/wasm/build/WasmApp.targets
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ComputeWasmBuildAssets.cs
Labels: Servicing-approved, arch-wasm, area-Build-mono, os-browser

#110327 JIT: Update profile data for continuation block of removed call-finally
  src/coreclr/jit/fgehopt.cpp
Labels: area-CodeGen-coreclr

#110335 [manual] Merge release/8.0-staging into release/8.0
  .config/dotnet-tools.json
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/xplat-setup.yml
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  eng/pipelines/libraries/stress/http.yml
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/di/module.cpp
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/unix/CMakeLists.txt
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/utilcode/collections.cpp
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeCertContextHandleWithKeyContainerDeletion.cs
  src/libraries/System.IO.Ports/tests/file.pp
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/run-docker-compose.ps1
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpNegotiateAuthenticationModule.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.Browser.xml
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolWorkQueue.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509FilesystemTests.Windows.cs
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.cs
  src/mono/mono/component/debugger-engine.c
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/mini/method-to-ir.c
Labels: Servicing-approved, area-codeflow

#110238 Fix `GetHardwareIntrinsicId` on 32bit platforms
  src/coreclr/tools/Common/Compiler/InstructionSetSupport.cs
Labels: area-NativeAOT-coreclr

#110307 JIT: Avoid mask<->vector optimization for masks used in unhandled ways
  src/coreclr/jit/optimizemaskconversions.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_110306/Runtime_110306.cs
  src/tests/JIT/Regression/JitBlue/Runtime_110306/Runtime_110306.csproj
Labels: area-CodeGen-coreclr

#110166 Enable more ILLink test cases with native AOT
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/HandleCallAction.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMarker.cs
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCases/TestSuites.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/ActivatorCreateInstance.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/ExpressionPropertyMethodInfo.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/MethodsUsedViaReflection.cs
Labels: area-NativeAOT-coreclr

#110219 Fix increment in decreasing loop in non-shipping code
  src/coreclr/tools/dotnet-pgo/SPGO/SampleCorrelator.cs
Labels: area-CodeGen-coreclr

#110332 Fix Workflow Broken Markdown Links
  docs/design/features/y2038.md
  docs/workflow/building/coreclr/README.md
  docs/workflow/building/coreclr/cross-building.md
  docs/workflow/requirements/linux-requirements.md
  docs/workflow/testing/coreclr/testing.md
  docs/workflow/testing/coreclr/unix-test-instructions.md
  docs/workflow/testing/libraries/testing.md
  src/coreclr/nativeaot/docs/containers.md
Labels: documentation

#103900 The mask of shift amount in `IShiftOperators<byte, int, byte>` should be 7
  src/libraries/System.Private.CoreLib/src/System/Byte.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/Int16.cs
  src/libraries/System.Private.CoreLib/src/System/SByte.cs
  src/libraries/System.Private.CoreLib/src/System/UInt16.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/ByteTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/CharTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Int16Tests.GenericMath.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/SByteTests.GenericMath.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/UInt16Tests.GenericMath.cs
Labels: area-System.Numerics, breaking-change, community-contribution

#109198 Add support for building with Clang 19
  src/coreclr/vm/comreflectioncache.hpp
  src/native/libs/CMakeLists.txt
Labels: Servicing-approved, area-Infrastructure-coreclr

#109986 Disable transitions test under GC Stress
  src/tests/profiler/transitions/transitions.csproj
Labels: area-Diagnostics-coreclr

#109579 [Release/8.0] Fix FP state restore on macOS exception forwarding
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/machmessage.h
Labels: Servicing-approved, area-ExceptionHandling-coreclr

#110277 JIT: Do greedy 4-opt for backward jumps in 3-opt layout
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#110211 Remove Helper Method Frames (HMF) from Reflection
  src/coreclr/System.Private.CoreLib/src/System/Delegate.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/MulticastDelegate.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comdelegate.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/methodtable.h
  src/coreclr/vm/methodtable.inl
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/runtimehandles.h
  src/libraries/Common/tests/System/Reflection/InvokeInterpretedTests.cs
Labels: area-VM-coreclr

#110345 Delete System.Array special case in TryResolveTypeNameForCreateInstanceAndMark
  src/tools/illink/src/linker/Linker.Dataflow/HandleCallAction.cs
Labels: linkable-framework, area-Tools-ILLink

#110314 docs: Update ilc-architecture DependencyGraphViewer link
  docs/design/coreclr/botr/ilc-architecture.md
Labels: community-contribution, area-NativeAOT-coreclr

#110344 Move GetRefAny (with FCThrow) to managed
  src/coreclr/System.Private.CoreLib/src/System/TypedReference.CoreCLR.cs
  src/coreclr/inc/jithelpers.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/jithelpers.cpp
Labels: area-VM-coreclr, community-contribution

#110375 [Profiler][Docs] Cleanup Profiler Pinning documentation
  docs/design/coreclr/botr/profilability.md
  src/coreclr/inc/profilepriv.inl
  src/coreclr/nativeaot/Runtime/eventtrace_gcheap.cpp
  src/coreclr/vm/profilinghelper.cpp
Labels: area-Diagnostics-coreclr

#110347 [LoongArch64] Fix the bug within ‘RtlpUnwindFunctionFull()’ when dealing with the ‘end_c’ unwind code.
  src/coreclr/unwinder/loongarch64/unwinder.cpp
Labels: community-contribution, arch-loongarch64, needs-area-label

#109936 [cDAC] Implement ReJIT portion of SOSDacImpl::GetMethodDescData
  docs/design/datacontracts/CodeVersions.md
  docs/design/datacontracts/ReJIT.md
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/vm/codeversion.h
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/Extensions/ICodeVersionsExtensions.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/Extensions/IReJITExtensions.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ICodeVersions.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IReJIT.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/TargetNUInt.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/CodeVersions_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ReJIT_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ILCodeVersionNode.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ILCodeVersioningState.cs
  src/native/managed/cdacreader/src/Legacy/SOSDacImpl.cs
  src/native/managed/cdacreader/tests/CodeVersionsTests.cs
  src/native/managed/cdacreader/tests/MockDescriptors/MockDescriptors.CodeVersions.cs
  src/native/managed/cdacreader/tests/MockDescriptors/MockDescriptors.ReJIT.cs
  src/native/managed/cdacreader/tests/ReJITTests.cs
Labels: area-Diagnostics-coreclr

#110258 JIT_CountProfile: Avoid BSR instruction for low counts
  src/coreclr/vm/jithelpers.cpp
Labels: area-VM-coreclr, community-contribution

#110020 JIT: enable cloning of try regions
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compmemkind.h
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
  src/tests/JIT/opt/Cloning/loops_with_eh.cs
  src/tests/JIT/opt/Cloning/loops_with_eh.csproj
Labels: area-CodeGen-coreclr

#110374 JIT: Fix ACD updates when a non-enclosing EH region is removed
  src/coreclr/jit/fgehopt.cpp
Labels: area-CodeGen-coreclr

#110209 Fix Configuration to throw with ErrorOnUnknownConfiguration option
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.cs
Labels: area-Extensions-Configuration

#109534 JIT: Allow flow edges to be considered more than once by 3-opt
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#110320 Allow AltJit for matched VM to also use otherwise unsupported ISAs
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#104666 Avoid an allocation in BigInteger.Parse("-2147483648")
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/parse.cs
Labels: area-System.Numerics, community-contribution

#110418 Add doc on asset licensing model
  docs/project/licensing-assets.md
Labels: area-Meta

#110029 Adds Linux CMake presets for coreclr
  src/coreclr/CMakePresets.json
Labels: area-Infrastructure-coreclr, community-contribution

#110379 Fix recursion issue found in issue #109779
  src/coreclr/pal/src/thread/process.cpp
Labels: area-PAL-coreclr

#110385 Increase smoke testing around HW intrinsics
  eng/pipelines/runtime.yml
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#110270 Add support for emitting Source Link data
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/tools/Common/Microsoft/SourceLink/Tools/SourceLinkMap.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/PdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/PortablePdbSymbolReader.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SourceLinkWriter.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT-coreclr

#109754 Remove .NET Framework-era remoteable wait subsystem
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/file/file.cpp
  src/coreclr/pal/src/include/pal/corunix.hpp
  src/coreclr/pal/src/include/pal/file.h
  src/coreclr/pal/src/include/pal/sharedmemory.h
  src/coreclr/pal/src/include/pal/shm.hpp
  src/coreclr/pal/src/include/pal/shmemory.h
  src/coreclr/pal/src/include/pal/synchobjects.hpp
  src/coreclr/pal/src/include/pal/thread.hpp
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/pal/src/map/map.cpp
  src/coreclr/pal/src/objmgr/listedobject.cpp
  src/coreclr/pal/src/objmgr/listedobject.hpp
  src/coreclr/pal/src/objmgr/listedobjectmanager.cpp
  src/coreclr/pal/src/objmgr/listedobjectmanager.hpp
  src/coreclr/pal/src/objmgr/palobjbase.cpp
  src/coreclr/pal/src/objmgr/palobjbase.hpp
  src/coreclr/pal/src/objmgr/shmobject.cpp
  src/coreclr/pal/src/objmgr/shmobject.hpp
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
  src/coreclr/pal/src/shmemory/shmemory.cpp
  src/coreclr/pal/src/synchmgr/synchcontrollers.cpp
  src/coreclr/pal/src/synchmgr/synchmanager.cpp
  src/coreclr/pal/src/synchmgr/synchmanager.hpp
  src/coreclr/pal/src/synchobj/event.cpp
  src/coreclr/pal/src/synchobj/mutex.cpp
  src/coreclr/pal/src/synchobj/semaphore.cpp
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/pal/src/thread/thread.cpp
Labels: area-PAL-coreclr

#110426 Fix conversion of `void*` to `OBJECTREF`
  src/coreclr/vm/invokeutil.cpp
Labels: area-VM-coreclr

#109719 Only build cdac-build-tool when we need to build runtime
  src/coreclr/runtime-prereqs.proj
  src/coreclr/runtime.proj
Labels: area-Infrastructure-coreclr

#110359 Fix zlib-ng build with cmake 3.31.0
  .github/workflows/jit-format.yml
  eng/native/functions.cmake
  src/coreclr/nativeaot/Runtime/Full/CMakeLists.txt
  src/native/external/zlib-ng-version.txt
  src/native/external/zlib-ng/CMakeLists.txt
Labels: area-Infrastructure-libraries, community-contribution

#110377 Remove Helper Method Frames (HMF) from Reflection
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/clr.featuredefines.props
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/utilcode/check.cpp
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
Labels: area-VM-coreclr

#109521 JIT: Always aggressively compact blocks
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#109450 System.DirectoryServices.Protocols: Force using LDAP V3 for SASL binding
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.Linux.cs
Labels: area-System.DirectoryServices, community-contribution

#109320 PersistedAssemblyBuilder missing methods on generated types
  src/libraries/System.Reflection.Emit/ref/System.Reflection.Emit.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/ModuleBuilderImpl.cs
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
  src/libraries/System.Reflection.Emit/tests/PersistedAssemblyBuilder/AssemblySavePropertyBuilderTests.cs
  src/libraries/System.Reflection.Emit/tests/PersistedAssemblyBuilder/AssemblySaveTypeBuilderAPIsTests.cs
Labels: area-System.Reflection.Emit, new-api-needs-documentation, community-contribution

#110334 [debugger] Support step into a tail call
  src/coreclr/debug/ee/controller.cpp
Labels: area-Diagnostics-coreclr

#110378 Install zlib in the IlcFrameworkNative folder instead of alongside the runtime
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/mono/browser/runtime/CMakeLists.txt
  src/mono/mono.proj
  src/mono/wasi/runtime/CMakeLists.txt
  src/native/external/zlib-ng.cmake
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
Labels: area-NativeAOT-coreclr

#102553 Make `ObjectFactory<T>` covariant
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/ref/Microsoft.Extensions.DependencyInjection.Abstractions.cs
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ObjectFactoryT.cs
Labels: area-Extensions-DependencyInjection, community-contribution

#101512 Switch DirectoryControl to use AsnWriter, AsnDecoder
  src/libraries/Common/src/Interop/Linux/OpenLdap/Interop.Ldap.cs
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ldap.cs
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SortKeyInterop.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SortKeyInterop.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/SortKeyInterop.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/AsnWriterExtensions.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/common/DirectoryControl.cs
  src/libraries/System.DirectoryServices.Protocols/tests/AsqRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/AsqResponseControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirSyncRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirSyncResponseControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/ExtendedDNControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/PageResultRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/PageResultResponseControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/QuotaControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SearchOptionsControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SecurityDescriptorFlagControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SortRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/SortResponseControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/VerifyNameControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/VlvRequestControlTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/VlvResponseControlTests.cs
Labels: area-System.DirectoryServices, breaking-change, needs-breaking-change-doc-created, community-contribution

#110384 Update helix images
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure

#109580 Haiku: Initial CoreCLR support
  eng/native/tryrun.cmake
  eng/native/tryrun_ios_tvos.cmake
  src/coreclr/debug/dbgutil/elfreader.cpp
  src/coreclr/debug/dbgutil/elfreader.h
  src/coreclr/gc/unix/cgroup.cpp
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/gc/unix/numasupport.cpp
  src/coreclr/inc/crosscomp.h
  src/coreclr/minipal/Unix/doublemapping.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixContext.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixContext.h
  src/coreclr/nativeaot/Runtime/unix/cgroupcpu.cpp
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
  src/coreclr/utilcode/sstring.cpp
Labels: area-Infrastructure-coreclr, community-contribution

#110460 Update area-owners with up-to-date information about community triagers.
  docs/area-owners.md
Labels: area-Meta

#110419 Don't do opportunistic ISA lightup if there are plans to run the AltJit code
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#108883 [release/8.0-staging] [browser] Bump serialize-javascript
  src/mono/wasm/runtime/package-lock.json
  src/mono/wasm/runtime/package.json
Labels: Servicing-approved, arch-wasm, area-Infrastructure-mono, os-browser

#110464 JIT: generalize empty try/catch to also handle empty try/fault
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr

#110451 JIT: Don't run `fgComputeBlockWeights` in MinOpts
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#109283 Lazily-initialize RegexCompiler's cached reflection members
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#110452 JIT: Remove `fgFirstColdBlock` checks in frontend phases
  src/coreclr/jit/block.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#110483 JIT: remove is rare check from finally cloning
  src/coreclr/jit/fgehopt.cpp
Labels: area-CodeGen-coreclr

#110367 Fix C++/CLI applications which use __declspec(appdomain)
  src/coreclr/vm/methodtable.cpp
  src/tests/Interop/IJW/IjwNativeCallingManagedDll/IjwNativeCallingManagedDll.cpp
Labels: area-AssemblyLoader-coreclr

#110064 Remove 2 more casting helper method frames
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/vm/JitQCallHelpers.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/qcallentrypoints.cpp
Labels: area-VM-coreclr

#110486 JIT: add more "simple" complexity helpers
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/loopcloning.cpp
Labels: area-CodeGen-coreclr

#110479 Fix nullability of LocalCertificateSelectionCallback return
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicConfiguration.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
Labels: area-System.Net.Security, new-api-needs-documentation

#110515 Delete unused static field from List
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs
Labels: area-System.Collections

#110437 Remove some RuntimeExport/RuntimeImport indirections
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/CompilerServices/Unsafe.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/RuntimeExports.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/InvokeUtils.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/DynamicInvokeInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/RuntimeType.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/ValueType.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Buffer.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/SpanHelpers.cs
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/coreclr/tools/Common/TypeSystem/IL/HelperExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.ByteMemOps.cs
Labels: area-NativeAOT-coreclr

#110514 Fix linux-armel build
  eng/common/cross/toolchain.cmake
Labels: area-Infrastructure, community-contribution

#110524 [wasi] bump wasmtime to v27
  src/mono/wasi/wasmtime-version.txt
Labels: arch-wasm, area-Build-mono, os-wasi

#110484 [debugger] Fix a step that becomes a go
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/vm/threadsuspend.cpp
Labels: area-Diagnostics-coreclr

#109764 fix profiling env var names in profiling.md
  docs/design/coreclr/botr/profiling.md
Labels: area-Diagnostics-coreclr, community-contribution

#110070 Change assertion in IPGlobalProperties_DomainName_ReturnsEmptyStringWhenNotSet
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/IPGlobalPropertiesTest.cs
Labels: area-System.Net

#110506 Added a fix for the build failure when STRESS_DYNAMIC_HEAP_COUNT is defined.
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#110465 Normalization APIs using the spans
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.cs
  src/libraries/System.Private.CoreLib/src/System/StringNormalizationExtensions.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/Normalization/NormalizationAll.cs
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/Normalization/StringNormalizationTests.cs
Labels: area-System.Globalization, new-api-needs-documentation

#110538 Fix test under JIT stress
  src/libraries/Common/tests/System/Reflection/InvokeInterpretedTests.cs
Labels: area-System.Reflection, test-bug

#110494 JIT: extract BBJ_COND to BBJ_ALWAYS profile repair as utility
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/objectalloc.cpp
Labels: area-CodeGen-coreclr

#110478 Speed up surrogate validation in HttpUtility
  src/libraries/System.Web.HttpUtility/src/System.Web.HttpUtility.csproj
  src/libraries/System.Web.HttpUtility/src/System/Web/Util/HttpEncoder.cs
  src/libraries/System.Web.HttpUtility/src/System/Web/Util/Utf16StringValidator.cs
Labels: area-System.Net

#110551 Don't wait for finalizers in 'IReferenceTrackerHost::ReleaseDisconnectedReferenceSources'
  src/coreclr/interop/trackerobjectmanager.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.NativeAot.cs
Labels: area-Interop-coreclr, community-contribution

#110542 Remove ld_classic in 16+
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: area-Infrastructure-coreclr

#110557 Fix AV error in DAC on Linux/MacOS
  src/coreclr/debug/daccess/request.cpp
Labels: area-Diagnostics-coreclr

#110539 [browser] fix code gen overflow
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSSignatureContext.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#110526 [browser] Disable HybridGlobalization tests on WASM
  eng/pipelines/coreclr/perf-wasm-jobs.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
  eng/testing/performance/blazor_perf.proj
Labels: arch-wasm, area-System.Globalization, os-browser

#110531 JIT: Include more edges in `BlockDominancePreds`
  src/coreclr/jit/block.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_109981/Runtime_109981.cs
  src/tests/JIT/Regression/JitBlue/Runtime_109981/Runtime_109981.csproj
Labels: area-CodeGen-coreclr

#110468 [mono][interp] Remove no_inlining functionality for dead bblocks
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/interp/transform.h
Labels: area-Codegen-Interpreter-mono

#110353 Enable more ILLinker skipped tests on native AOT
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCases/TestSuites.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/ObjectGetType.cs
Labels: area-NativeAOT-coreclr

#110535 JIT: Avoid comparing regnums in `GenTreeHWIntrinsic::Equals`
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#110561 fix FastOpen compilation
  src/native/libs/System.Native/pal_networking.c
Labels: area-System.Net.Sockets

#110576 Remove duplicate IsAscii check in string.IsNormalized
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.cs
  src/libraries/System.Private.CoreLib/src/System/String.cs
  src/libraries/System.Private.CoreLib/src/System/StringNormalizationExtensions.cs
Labels: area-System.Globalization

#110481 Remove Helper Method Frames (HMF) from Reflection
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimePropertyInfo.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/vm/callhelpers.cpp
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
  src/coreclr/vm/siginfo.cpp
Labels: area-VM-coreclr

#110586 Switch to automatic 8.0 version updates
  eng/Versions.props
Labels: Servicing-approved, area-Workloads

#110574 Speed up surrogate validation in string.Normalize
  src/libraries/System.Private.CoreLib/src/System/Globalization/Normalization.Icu.cs
Labels: area-System.Globalization

#107168 Use holding thread id in AwareLock to avoid orphaned lock crash
  src/coreclr/vm/syncblk.cpp
  src/coreclr/vm/syncblk.h
  src/coreclr/vm/syncblk.inl
Labels: area-VM-coreclr

#110579 Cleanup some dead code
  src/coreclr/inc/clr/fs.h
  src/coreclr/inc/clr/fs/path.h
  src/coreclr/inc/clr/str.h
  src/coreclr/pal/src/include/pal/misc.h
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/pal/src/misc/fmtmessage.cpp
  src/coreclr/pal/src/misc/perftrace.cpp
  src/coreclr/pal/src/misc/time.cpp
  src/coreclr/vm/util.cpp
  src/coreclr/vm/util.hpp
Labels: area-PAL-coreclr, community-contribution

#110599 Revert "[browser] fix code gen overflow"
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSSignatureContext.cs
Labels: area-System.Runtime.InteropServices.JavaScript

#110469 Share threadpool configuration
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/comthreadpool.cpp
  src/coreclr/vm/comthreadpool.h
  src/coreclr/vm/corelib.cpp
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Private.CoreLib/src/System/AppContextConfigHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.GateThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.HillClimbing.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.Windows.cs
Labels: area-System.Threading

#110485 Ensure that we don't try and optimize masks for promoted fields
  src/coreclr/jit/optimizemaskconversions.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_110326/Runtime_110326.cs
  src/tests/JIT/Regression/JitBlue/Runtime_110326/Runtime_110326.csproj
Labels: area-CodeGen-coreclr

#110545 [cDAC] SOSDacImpl::GetMethodDescData DynamicMethodObject
  src/native/managed/cdacreader/src/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#107743 Fix comments in AggregateException.GetBaseException()
  src/libraries/System.Private.CoreLib/src/System/AggregateException.cs
Labels: area-System.Runtime, community-contribution

#110392 Fix TensorExtensions.StdDev
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorExtensions.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
Labels: area-System.Numerics.Tensors, community-contribution

#110589 Use FLS detach as thread termination notification on windows.
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/ceemain.h
  src/coreclr/vm/threads.cpp
Labels: area-VM-coreclr

#110548 [Profiler] Avoid Recursive ThreadStoreLock in Profiling Thread Enumerator
  src/coreclr/vm/profilingenumerators.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/tests/profiler/native/CMakeLists.txt
  src/tests/profiler/native/classfactory.cpp
  src/tests/profiler/native/enumthreadsprofiler/enumthreadsprofiler.cpp
  src/tests/profiler/native/enumthreadsprofiler/enumthreadsprofiler.h
  src/tests/profiler/unittest/enumthreads.cs
  src/tests/profiler/unittest/enumthreads.csproj
Labels: area-Diagnostics-coreclr

#110580 Remove HttpMetricsEnrichmentContext caching
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/HttpMetricsEnrichmentContext.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/MetricsHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: area-System.Net.Http

#110550 [NRBF] skip the most time-consuming test case for non-Release builds to avoid timeouts for checked builds
  src/libraries/System.Formats.Nrbf/tests/ArraySinglePrimitiveRecordTests.cs
Labels: area-System.Formats.Nrbf

#110493 release/9.0-staging -- Update Alpine, Debian, and Fedora versions
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: Servicing-approved, area-Infrastructure

#110621 [Mono]: Update Mono diagnostic docs.
  docs/design/mono/diagnostics-tracing.md
Labels: area-Tracing-mono

#110105 Update dependencies from dotnet/roslyn
  eng/Version.Details.xml
  eng/Versions.props
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ReachabilityInstrumentationFilter.cs
  src/libraries/Common/tests/StreamConformanceTests/System/IO/StreamConformanceTests.cs
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/ArraySinglePrimitiveRecord.cs
  src/libraries/System.Linq/tests/RangeTests.cs
  src/libraries/System.Linq/tests/RepeatTests.cs
  src/libraries/System.Memory/tests/Base64Url/Base64UrlUnicodeAPIsUnitTests.cs
  src/libraries/System.Memory/tests/Span/SearchValues.cs
  src/libraries/System.Memory/tests/Span/StringSearchValues.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketAsyncEventArgsTest.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatefulValueShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessLinearCollectionShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CustomMarshallerAttributeFixerTests_StatelessValueShapeValidation.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/CollectionsMarshalTests.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/FileStream/ReadAsync.cs
  src/libraries/System.Runtime/tests/System.Runtime.Extensions.Tests/System/Convert.FromHexString.cs
  src/libraries/System.Runtime/tests/System.Runtime.Extensions.Tests/System/Random.cs
  src/libraries/System.Runtime/tests/System.Text.Encoding.Tests/Ascii/CaseConversionTests.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseHeaderValueTests.cs
  src/libraries/System.Security.Cryptography.ProtectedData/tests/SpanProtectedDataTests.cs
  src/libraries/System.Security.Cryptography/tests/HashAlgorithmTestDriver.cs
  src/libraries/System.Security.Cryptography/tests/HmacTests.cs
  src/libraries/System.Security.Cryptography/tests/KmacTestDriver.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ExtensionsTests/AuthorityKeyIdentifierTests.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.MetadataDb.cs
  src/libraries/System.Text.Json/tests/Common/CollectionTests/CollectionTests.Memory.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/UpgradeToGeneratedRegexAnalyzerTests.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeAccessedViaReflection.cs
Labels: area-Meta, community-contribution

#110618 [Mono]: Fix Mono profiler EventPipe provider instrumentation feature.
  src/mono/mono/eventpipe/ep-rt-mono-profiler-provider.c
Labels: area-Tracing-mono

#110619 SPMI: Avoid duplicate example diffs in diffs summary
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#110606 [browser] fix code gen overflow - reapply
  eng/pipelines/common/evaluate-default-paths.yml
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSSignatureContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/Compiles.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#110650 Fix crash when pTargetMD is null
  src/coreclr/debug/ee/controller.cpp
Labels: area-Diagnostics-coreclr

#110610 JIT: Fix reporting of tier name metadata
  src/coreclr/jit/compiler.cpp
  src/coreclr/tools/superpmi/superpmi/superpmi.cpp
Labels: area-CodeGen-coreclr

#109826 More WriteGather fixes
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Unix.cs
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/RandomAccess/WriteGatherAsync.cs
  src/native/libs/System.Native/pal_io.c
Labels: area-System.IO

#110635 Correct arm64 SignExtension
  src/coreclr/debug/ee/arm64/walker.cpp
Labels: area-Diagnostics-coreclr

#110671 Delete .GuardCF library build
  src/coreclr/nativeaot/Bootstrap/base/CMakeLists.txt
  src/coreclr/nativeaot/Bootstrap/dll/CMakeLists.txt
  src/coreclr/nativeaot/Bootstrap/dllmain/CMakeLists.txt
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/Full/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/eventpipe/CMakeLists.txt
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
  src/tests/tracing/eventpipe/randomizedallocationsampling/allocationsampling.csproj
  src/tests/tracing/eventpipe/simpleruntimeeventvalidation/simpleruntimeeventvalidation.csproj
Labels: area-NativeAOT-coreclr

#110611 [browser] NativeAOT-LLVM support in browser-bench
  src/mono/browser/build/WasmApp.InTree.props
  src/mono/browser/build/WasmApp.InTree.targets
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
  src/mono/sample/wasm/browser-bench/appstart-frame.html
  src/mono/sample/wasm/browser-bench/frame-main.js
  src/mono/sample/wasm/browser-bench/main.js
Labels: arch-wasm, area-Infrastructure-mono, os-browser

#110612 JIT: Remove always-true `fgCanRelocateEHRegions`
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#110669 [wasm] Add bench output log, to the file and to the console
  src/mono/sample/wasm/browser-bench/main.js
  src/mono/sample/wasm/simple-server/Program.cs
Labels: area-Infrastructure-mono

#110404 JIT: Add an "init BB" invariant
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/patchpoint.cpp
  src/coreclr/jit/phase.cpp
Labels: area-CodeGen-coreclr

#110525 Remove FabricBot from area-owners.md
  docs/area-owners.md
Labels: area-Meta

#110518 JIT: Spill newarr into temp
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr, community-contribution

#110602 [cdac] Handle non-IL method descs in `RuntimeTypeSystem_1.GetMethodClassificationDataType`
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/RuntimeTypeSystemHelpers/MethodClassification.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/RuntimeTypeSystemHelpers/MethodDescOptionalSlots.cs
  src/native/managed/cdacreader/tests/MethodDescTests.cs
  src/native/managed/cdacreader/tests/MockDescriptors/MockDescriptors.MethodDescriptors.cs
  src/native/managed/cdacreader/tests/MockMemorySpace.cs
Labels: enhancement, area-Diagnostics-coreclr

#110322 [cDAC] Implement GCCover portion of SOSDacImpl::GetMethodDescData
  docs/design/datacontracts/CodeVersions.md
  docs/design/datacontracts/RuntimeTypeSystem.md
  src/coreclr/debug/runtimeinfo/datadescriptor.cpp
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/vm/codeversion.h
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ICodeVersions.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/CodeVersions_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/MethodDesc.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Data/NativeCodeVersionNode.cs
  src/native/managed/cdacreader/src/Legacy/SOSDacImpl.cs
  src/native/managed/cdacreader/tests/CodeVersionsTests.cs
  src/native/managed/cdacreader/tests/MethodDescTests.cs
  src/native/managed/cdacreader/tests/MockDescriptors/MockDescriptors.CodeVersions.cs
  src/native/managed/cdacreader/tests/MockDescriptors/MockDescriptors.MethodDescriptors.cs
  src/native/managed/cdacreader/tests/MockDescriptors/MockDescriptors.RuntimeTypeSystem.cs
  src/native/managed/cdacreader/tests/MockDescriptors/MockDescriptors.cs
Labels: area-Diagnostics-coreclr

#110703 Remove unused `Precode::IsCorrectMethodDesc`
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/precode.h
Labels: area-VM-coreclr

#110675 JIT: capture class types when spilling a GDV arg
  src/coreclr/jit/indirectcalltransformer.cpp
Labels: area-CodeGen-coreclr

#110700 [cdac] Clear cached data as part of IXCLRDataProcess::Flush
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Target.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader/ContractDescriptorTarget.cs
  src/native/managed/cdacreader/src/Legacy/SOSDacImpl.IXCLRDataProcess.cs
  src/native/managed/cdacreader/tests/TestPlaceholderTarget.cs
Labels: area-Diagnostics-coreclr

#110662 Improve codegen for ExtractMostSignificantBits
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/decomposelongs.h
  src/coreclr/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen-coreclr

#110705 [Test Only] Port the Idna test fixes to support Unicode 15
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Factory.cs
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Unicode_15_1/IdnaTest_15_1.txt
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Unicode_15_1/ReadMe.txt
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Unicode_15_1/Unicode_15_1_IdnaTest.cs
  src/libraries/System.Globalization.Extensions/tests/NlsTests/System.Globalization.Extensions.Nls.Tests.csproj
  src/libraries/System.Globalization.Extensions/tests/System.Globalization.Extensions.Tests.csproj
Labels: Servicing-approved, area-System.Globalization

#110685 Fix calling convention mismatch in GC callouts
  src/coreclr/nativeaot/Runtime/RestrictedCallouts.h
Labels: area-NativeAOT-coreclr

#110681 Clarify native AOT build instructions
  docs/workflow/building/coreclr/nativeaot.md
Labels: area-NativeAOT-coreclr

#110654 [WASI] bump WASI SDK to v25.0
  eng/testing/tests.wasi.targets
  src/libraries/sendtohelix-wasi.targets
  src/mono/CMakeLists.txt
  src/mono/Directory.Build.props
  src/mono/cmake/configure.cmake
  src/mono/mono.proj
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasi/build/WasiSdk.Defaults.props
  src/mono/wasi/provision.ps1
  src/mono/wasi/wasi-sdk-version.txt
  src/mono/wasi/wasi.proj
  src/mono/wasm/build/WasmApp.LocalBuild.props
  src/mono/wasm/data/aot-tests/Directory.Build.props
  src/native/libs/CMakeLists.txt
  src/native/libs/build-native.proj
Labels: arch-wasm, area-Build-mono, os-wasi

#110569 Fix potential NRE in GenericSpecializationPartCreationInfo
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/ReflectionModel/GenericSpecializationPartCreationInfo.cs
Labels: area-System.ComponentModel, community-contribution

#110725 Temporarily disable failing test related to string normalize
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/Normalization/StringNormalizationTests.cs
Labels: area-System.Globalization

#110645 [browser] Speed up `WasmBuildTests` by using the compression switch
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/SimpleMultiThreadedTests.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/PublishOptions.cs
  src/mono/wasm/Wasm.Build.Tests/NativeRebuildTests/OptimizationFlagChangeTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTestsBase.cs
Labels: arch-wasm, test-enhancement, area-Build-mono, os-browser

#110122 Fixed missed case
  src/coreclr/debug/shared/dbgtransportsession.cpp
Labels: area-Diagnostics-coreclr, community-contribution

#110729 [wasm] Fix blazor and browser template startup measurements
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
Labels: area-Infrastructure-mono

#110682 [tests] Fix recently added mono test
  src/tests/Loader/classloader/SequentialLayout/ManagedSequential/LargeStructSize_Mono.cs
Labels: area-VM-meta-mono

#110303 Check loaded in dac values to avoid SIGSEGV on null pointers
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/object.cpp
Labels: area-VM-coreclr, community-contribution

#110476 Update Alpine and Azure Linux versions
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#110749 Delete dead code
  src/coreclr/inc/ceegen.h
  src/coreclr/inc/corpriv.h
  src/coreclr/md/ceefilegen/cceegen.cpp
Labels: area-VM-coreclr

#110702 [cdac] Remove GetMethodDescData fallback to legacy DAC
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdacreader/src/Legacy/SOSDacImpl.cs
  src/native/managed/cdacreader/tests/MethodTableTests.cs
Labels: area-Diagnostics-coreclr

#106557 [JIT] Enable EGPRs in JIT by adding REX2 encoding to the backend.
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenlinear.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/jitconfigvalues.h
Labels: area-CodeGen-coreclr, community-contribution, apx

#110536 Avoid a list/array allocation in Task.WhenAll(enumerable)
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ValueListBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexReplacement.cs
Labels: area-System.Threading.Tasks

#110627 Remove Helper Method Frames (HMF) from Reflection
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/interoplibinterface_objc.cpp
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
  src/coreclr/vm/typehandle.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastCache.cs
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
Labels: area-VM-coreclr

#110761 Fix ambiguous call build break in Fuzzing project
  src/libraries/Fuzzing/DotnetFuzzing/Assert.cs
Labels: area-Meta

#110768 Fix native aot outerloop
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#110776 [wasm] Fix rebuild of browser-bench with startup apps
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
Labels: area-Build-mono

#110655 Fix base type marking for DAM annotated classes
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/HandleCallAction.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectGetTypeCalledNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ObjectGetTypeFlowDependenciesNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UsageBasedMetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/Dataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ObjectGetTypeDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/InstantiatedGenericEquality.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/ObjectGetType.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchyReflectionWarnings.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchySuppressions.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
Labels: area-NativeAOT-coreclr

#110779 [wasm] Fix templates patch in the bench
  src/mono/sample/wasm/blazor-frame/blazor-frame.diff
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
Labels: area-Build-mono

#110630 exclude obj/cmake from codeql.
  .CodeQL.yml
Labels: area-Infrastructure

#110458 [release/8.0] Remove DiagnosticSource reference from Microsoft.Extensions.Logging.Abstractions
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
Labels: Servicing-approved, area-Extensions-Logging

#110782 Fix `DiagnosticMethodInfo.Create(Delegate)` for valuetype methods
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/tests/nativeaot/SmokeTests/StackTraceMetadata/StackTraceMetadata.cs
Labels: area-NativeAOT-coreclr
