Repository dotnet/runtime, pull requests merged in 2024-03, with the labels that each got.

#99128 [mono][aot] Make the dedup mode output deterministic.
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#99092 Cleanup comments and ifdefs around this_OFFSET_FLAG
  src/coreclr/inc/gcinfo.h
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/gcencode.cpp
Labels: area-CodeGen-coreclr

#99087 JIT: ARM64 SVE format encodings, `SVE_BX_2A` and `SVE_BY_2A`
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
Labels: area-CodeGen-coreclr, arch-arm64-sve

#98432 Add Read/Write Async test
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.cs
Labels: area-System.Threading

#99118 JIT: Remove most fgGetPredForBlock calls
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/fgprofilesynthesis.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/patchpoint.cpp
Labels: area-CodeGen-coreclr

#99120 JIT: Add missing GT_SWIFT_ERROR case to GenTree:TryGetUse
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#99095 Do not compare Span<T> with 'default'
  src/libraries/Common/src/Microsoft/Win32/SafeHandles/SafeUnicodeStringHandle.cs
  src/libraries/Common/src/System/Security/Cryptography/Pkcs12Kdf.cs
  src/libraries/System.Security.Cryptography/src/Microsoft/Win32/SafeHandles/SafePasswordHandle.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCaseEquivalences.cs
Labels: area-Meta

#99026 Strip unused generic type context for VASigCookie
  src/coreclr/vm/ceeload.cpp
  src/tests/Interop/MarshalAPI/FunctionPointer/GenericFunctionPointer.cs
Labels: area-Interop-coreclr

#99115 [mono][interp] Intrinsify SpanHelpers Clear/Fill
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter-opcode-values.h
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform-opt.c
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#99048 JIT: Generalize strategy for finding addrecs
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/inductionvariableopts.cpp
  src/coreclr/jit/scev.cpp
  src/coreclr/jit/scev.h
Labels: area-CodeGen-coreclr

#97537 Implement more ServicePoint properties
  src/libraries/System.Net.Requests/src/Resources/Strings.resx
  src/libraries/System.Net.Requests/src/System.Net.Requests.csproj
  src/libraries/System.Net.Requests/src/System/Net/HttpWebRequest.cs
  src/libraries/System.Net.Requests/src/System/Net/HttpWebResponse.cs
  src/libraries/System.Net.Requests/src/System/Net/ServicePoint/ServicePointManager.cs
  src/libraries/System.Net.Requests/tests/HttpWebRequestTest.cs
  src/libraries/System.Net.Requests/tests/ServicePointTests/ServicePointManagerTest.cs
Labels: area-System.Net

#99139 Remove unnecessary heapifying in `PriorityQueue.EnqueueRange`
  src/libraries/System.Collections/src/System/Collections/Generic/PriorityQueue.cs
Labels: area-System.Collections

#98343 [browser][MT] Add new test for multi-threading SignalR in Blazor WBT
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/wasm/Wasm.Build.Tests/Blazor/AppsettingsTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorRunOptions.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/SimpleMultiThreadedTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/WorkloadRequiredTests.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserRunner.cs
  src/mono/wasm/Wasm.Build.Tests/Common/TestOutputWrapper.cs
  src/mono/wasm/Wasm.Build.Tests/ProjectProviderBase.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/AppTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/DebugLevelTests.cs
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/SignalRClientTests.cs
  src/mono/wasm/Wasm.Build.Tests/TestMainJsProjectProvider.cs
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/App.razor
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/BlazorHosted.Client.csproj
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/Helper.cs
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/Layout/MainLayout.razor
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/Pages/Chat.razor
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/Program.cs
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/_Imports.razor
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/wwwroot/favicon.ico
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/wwwroot/index.html
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Server/BlazorHosted.Server.csproj
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Server/ChatHub.cs
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Server/Program.cs
Labels: arch-wasm, area-VM-threading-mono

#99104 Block things needing align8 from preinitializing
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayOfFrozenObjectsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
Labels: area-NativeAOT-coreclr

#99113 Remove IDE0060 suppressions
  src/libraries/System.Private.CoreLib/src/System/Buffer.cs
  src/libraries/System.Private.CoreLib/src/System/ReadOnlySpan.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/IndexOfAnyAsciiSearcher.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/ProbabilisticMap.cs
  src/libraries/System.Private.CoreLib/src/System/Span.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Packed.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.T.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.cs
Labels: area-System.Memory

#99162 JIT: Improve isinst expansion
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#99099 JIT: Remove old fgRemoveRefPred
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizebools.cpp
  src/coreclr/jit/switchrecognition.cpp
Labels: area-CodeGen-coreclr

#99173 [nativeaot] Disable FEATURE_READOLY_GS_COOKIE on macOS
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
Labels: area-NativeAOT-coreclr

#99140 ARM64: Use SIMD to copy nongc gaps in blocks with gc pointers
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/lsraarmarch.cpp
Labels: area-CodeGen-coreclr

#98633 New TimeSpan.From overloads which take integers
  src/libraries/System.Linq.Expressions/tests/DebugViewTests.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/TimeSpan.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/TimeSpanTests.cs
Labels: new-api-needs-documentation, community-contribution, area-System.DateTime

#98070 CoreCLR NativeAOT - ByRef generics and ByRef implementing interfaces
  docs/design/features/byreflike-generics.md
  src/coreclr/ilasm/asmparse.y
  src/coreclr/ilasm/prebuilt/asmparse.cpp
  src/coreclr/ildasm/dasm.cpp
  src/coreclr/inc/corhdr.h
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/TypeLoader/ConstraintValidator.cs
  src/coreclr/tools/Common/TypeSystem/Common/GenericParameterDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeSystemConstraintsHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Ecma/EcmaGenericParameter.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeGenericInfoMapNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeValidationChecker.cs
  src/coreclr/tools/aot/ILCompiler.TypeSystem.Tests/CoreTestAssembly/Platform.cs
  src/coreclr/vm/siginfo.cpp
  src/coreclr/vm/typedesc.cpp
  src/libraries/System.Private.CoreLib/src/System/Reflection/GenericParameterAttributes.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeFeature.cs
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
  src/tests/Loader/classloader/DefaultInterfaceMethods/constrainedcall/constrained2_brl.il
  src/tests/Loader/classloader/DefaultInterfaceMethods/constrainedcall/constrained2_brl.ilproj
  src/tests/Loader/classloader/generics/ByRefLike/GenericTypeSubstitution.cs
  src/tests/Loader/classloader/generics/ByRefLike/InvalidCSharp.il
  src/tests/Loader/classloader/generics/ByRefLike/InvalidCSharpNegative.il
  src/tests/Loader/classloader/generics/ByRefLike/InvalidCSharpNegative.ilproj
  src/tests/Loader/classloader/generics/ByRefLike/ValidateNegative.cs
  src/tests/Loader/classloader/generics/ByRefLike/ValidateNegative.csproj
Labels: area-VM-coreclr

#98767 Don't run net4x tests with Mono on non-Windows
  eng/testing/outerBuild.targets
Labels: area-Infrastructure-libraries

#99182 Use VN instead of GenTree in optGlobalAssertionIsEqualOrNotEqual
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#98901 Skip long values when building Rabin-Karp buckets in SearchValues
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/Helpers/RabinKarp.cs
Labels: area-System.Buffers

#98902 Expand small value sets to all case permutations in SearchValues<string>
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/StringSearchValues.cs
Labels: area-System.Buffers

#98908 Make FailFast a QCall
  src/coreclr/System.Private.CoreLib/src/System/Environment.CoreCLR.cs
  src/coreclr/classlibnative/bcltype/system.cpp
  src/coreclr/classlibnative/bcltype/system.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/qcallentrypoints.cpp
Labels: area-VM-coreclr, community-contribution

#99197 More SearchValues<string> tests
  src/libraries/System.Memory/tests/Span/StringSearchValues.cs
Labels: area-System.Buffers

#99213 Revert "Use new MacOS arm64 pool for official builds"
  eng/pipelines/common/xplat-setup.yml
Labels: area-Infrastructure-libraries

#99160 [mono] Bump _WIN32_WINNT to align with coreclr
  src/mono/cmake/config.h.in
  src/mono/mono.proj
Labels: area-Build-mono

#96941 Enable riscv64 R2R in installer
  eng/targetingpacks.targets
  src/coreclr/tools/Common/Compiler/InstructionSetSupport.cs
  src/coreclr/tools/aot/ILCompiler.Diagnostics/PerfMapWriter.cs
  src/coreclr/tools/aot/ILCompiler.Diagnostics/ReadyToRunDiagnosticsConstants.cs
  src/installer/pkg/projects/netcoreappRIDs.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
  src/tasks/Crossgen2Tasks/ResolveReadyToRunCompilers.cs
Labels: area-ReadyToRun-coreclr, arch-riscv

#99209 Remove the local morph quirk with block locals
  src/coreclr/jit/lclmorph.cpp
Labels: area-CodeGen-coreclr

#99211 JIT ARM64-SVE: Add AW_2A to AZ_2A, BM_1A, BN_1A
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr

#99225 Delete dead `FEATURE_READONLY_GS_COOKIE` support for Apple
  src/coreclr/nativeaot/Runtime/startup.cpp
Labels: area-NativeAOT-coreclr

#99226 SPMI: Project out fields for diffs information
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#98723 Improve alternation switch optimization in regex source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
Labels: area-System.Text.RegularExpressions

#99218 Use Iterator<T>.TryGetFirst in Enumerable.Any()
  src/libraries/System.Linq/src/System/Linq/AnyAll.cs
Labels: area-System.Linq, tenet-performance

#98956 Remove RuntimeIdentifiers from Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: area-Infrastructure

#99237 JIT: Handle GT_SWIFT_ERROR in GenTree::Compare
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#99236 JIT: Handle GT_SWIFT_ERROR in gtCloneExpr
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#99247 Fix PInvokeCalliFrame::UpdateRegDisplay on x86
  src/coreclr/vm/i386/cgenx86.cpp
Labels: area-CodeGen-coreclr

#99260 Remove single quotes around experiment name
  eng/testing/performance/performance-setup.ps1
  eng/testing/performance/performance-setup.sh
Labels: area-Infrastructure-coreclr

#98849 [RISC-V] R2RDump to handle System.Private.CoreLib
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/GcInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/GcSlotTable.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/GcTransition.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/DebugInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/RiscV64/Registers.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/RiscV64/UnwindInfo.cs
  src/coreclr/tools/r2rdump/CoreDisTools.cs
Labels: area-R2RDump-coreclr, arch-riscv

#99256 Further special-case arrays in Enumerable.Chunk
  src/libraries/System.Linq/src/System/Linq/Chunk.cs
  src/libraries/System.Linq/tests/ChunkTests.cs
Labels: area-System.Linq, tenet-performance

#99246 Remove PgoSuffix from Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
Labels: area-Infrastructure

#99174 Add more RuntimeTestMode options for the XUnitWrapperGenerator
  src/tests/Common/CoreCLRTestLibrary/CoreClrConfigurationDetection.cs
  src/tests/Common/XUnitWrapperGenerator/RuntimeTestModes.cs
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
Labels: area-Infrastructure-coreclr

#98831 Implement Swift's physical lowering pass in the managed type system
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/SwiftPhysicalLowering.cs
  src/coreclr/tools/Common/TypeSystem/Common/ExplicitLayoutValidator.cs
  src/coreclr/tools/Common/TypeSystem/Common/FieldLayoutIntervalCalculator.cs
  src/coreclr/tools/ILVerification/ILVerification.projitems
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/SwiftTypes.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/SwiftTypesSupport.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/SwiftLoweringTests.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.RyuJit/ILCompiler.RyuJit.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
Labels: area-NativeAOT-coreclr

#99049 ARM64-SVE: Implement IF_SVE_BV_2A
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr, arch-arm64-sve

#99257 Fix GC stackwalking for generic calli
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/frames.cpp
Labels: area-Interop-coreclr

#99146 Remove or document Unsafe.AsPointer uses in core libraries
  src/coreclr/System.Private.CoreLib/src/System/ArgIterator.cs
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/nativeaot/Common/src/Internal/Runtime/CompilerHelpers/StartupCodeHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.NativeAot.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/installer/tests/Assets/Projects/HostApiInvokerApp/HostRuntimeContract.cs
  src/libraries/Common/src/System/Number.NumberBuffer.cs
  src/libraries/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.T.cs
  src/libraries/System.Memory/tests/MemoryMarshal/CreateFromPinnedArray.cs
  src/libraries/System.Memory/tests/MemoryMarshal/GetArrayDataReference.cs
  src/libraries/System.Memory/tests/MemoryPool/MemoryPool.cs
  src/libraries/System.Memory/tests/ReadOnlySpan/AsSpan.cs
  src/libraries/System.Memory/tests/TestHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/NativeRuntimeEventSource.Threading.NativeSinks.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/NativeRuntimeEventSource.Threading.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Memory.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Formatting.cs
  src/libraries/System.Private.CoreLib/src/System/Number.NumberToFloatingPointBits.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Parsing.cs
  src/libraries/System.Private.CoreLib/src/System/ReadOnlyMemory.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/Unsafe.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/GCHandle.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/AnsiStringMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/ArrayMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/BStrStringMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/PointerArrayMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/ReadOnlySpanMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/SpanMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/Utf8StringMarshaller.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.ByteMemOps.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Lock.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TplEventSource.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatefulPinnedMarshalling.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/ComInterfaces/IStatelessCallerAllocateBufferMarshalling.cs
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/SharedTypes/NonBlittable.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/GCTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/StringTests.cs
Labels: area-System.Memory

#99195 Do not contain out-of-bounds local addresses
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lowerriscv64.cpp
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#99252 Enable building cross components from linux-arm64
  eng/native/configureplatform.cmake
  eng/native/functions.cmake
Labels: area-Infrastructure

#99261 Skip EventSource tests if process is not elevated
  src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/Harness/EtwListener.cs
Labels: area-System.Diagnostics.Tracing

#99228 [RISC-V] Remove redundant check for DivideByZeroException for unsigned division/modulo
  src/coreclr/jit/codegenriscv64.cpp
Labels: area-CodeGen-coreclr, arch-riscv

#98953 Fix exception callstack showing incorrect line number
  src/coreclr/debug/di/rspriv.h
  src/coreclr/debug/di/rsstackwalk.cpp
  src/coreclr/debug/di/rsthread.cpp
  src/coreclr/debug/di/shimpriv.h
  src/coreclr/debug/di/shimstackwalk.cpp
Labels: area-Diagnostics-coreclr

#99269 JIT: Set edge likelihood in SetTargetEdge, SetKindAndTargetEdge
  src/coreclr/jit/block.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/patchpoint.cpp
Labels: area-CodeGen-coreclr

#99280 Revert "[wasm][workload] Require the workload for wasm threading"
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Current.Manifest/WorkloadManifest.targets.in
Labels: arch-wasm, area-Build-mono, os-browser

#99272 Remove or document Unsafe.AsPointer uses in tests and miscellaneous code
  src/libraries/System.Runtime/tests/System.Runtime.CompilerServices.Unsafe.Tests/UnsafeTests.cs
  src/mono/browser/debugger/BrowserDebugProxy/MonoSDBHelper.cs
  src/mono/sample/wasm/simple-raytracer/Program.cs
  src/tests/JIT/Directed/debugging/poisoning/poison.cs
  src/tests/JIT/Regression/JitBlue/Runtime_61510/Runtime_61510.cs
  src/tests/JIT/Regression/JitBlue/Runtime_92349/Runtime_92349.cs
  src/tests/Loader/classloader/generics/Pointers/Pointers.cs
  src/tests/nativeaot/SmokeTests/DynamicGenerics/universal_generics.cs
Labels: needs-area-label

#99168 Remove use of POH for cryptographic primitives
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesCcm.Android.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesCcm.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesGcm.macOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ChaCha20Poly1305.macOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/FixedMemoryKeyBox.cs
Labels: area-System.Security

#99254 [debugproxy] Invoke CDP endpoint to report error to telemetry
  src/mono/browser/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: area-Debugger-mono

#99325 Fix build break
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.Unix.cs
Labels: area-System.Threading

#99305 Make vectorizable checks more consistent in TrailingZeroCount operator
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.TrailingZeroCount.cs
Labels: area-System.Numerics

#99207 [NativeAOT/ARM] Fix handling of stack adjustments in prolog/epilog
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
Labels: arch-arm32, area-NativeAOT-coreclr

#99271 JIT: Remove remaining BBJ_COND fallthrough fixups
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#99327 Revert "[main] Update dependencies from dotnet/roslyn-analyzers"
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#95404 Fixing SignedXml.CheckSignature for enveloped signature with `#xpointer(/)` Reference
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Reference.cs
  src/libraries/System.Security.Cryptography.Xml/tests/SignedXmlTest.cs
Labels: area-System.Security, community-contribution

#99317 [browser][MT] Schedule mono_wasm_resolve_or_reject_promise continuation to run asynchronously
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#99093 Liveness and UpperVector Save/Restore
  src/coreclr/jit/clrjit.natvis
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#98866 [mono][aot] Add a 'compile-in-child' AOT argument
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-compiler.h
  src/mono/mono/mini/driver.c
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/utils/options.c
  src/mono/mono/utils/options.h
  src/mono/wasm/build/WasmApp.Common.targets
Labels: area-Codegen-AOT-mono

#99329 Fix race condition in System.Reflection.FieldAccessor
  src/libraries/System.Private.CoreLib/src/System/Reflection/FieldAccessor.cs
Labels: area-System.Reflection

#99263 Fix extra stack frame on exception stack trace
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
Labels: area-ExceptionHandling-coreclr

#99137 Delete stackwalk cache
  src/coreclr/System.Private.CoreLib/src/System/Runtime/ExceptionServices/AsmOffsets.cs
  src/coreclr/classlibnative/bcltype/system.cpp
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/crsttypes_generated.h
  src/coreclr/inc/dacvars.h
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/regdisp.h
  src/coreclr/unwinder/i386/unwinder.cpp
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/unixasmhelpers.S
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/debugdebugger.cpp
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/i386/excepx86.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stackwalk.h
  src/coreclr/vm/stackwalktypes.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#99316 Simplify Environment.FailFast QCALL
  src/coreclr/System.Private.CoreLib/src/System/Environment.CoreCLR.cs
  src/coreclr/classlibnative/bcltype/system.cpp
  src/coreclr/classlibnative/bcltype/system.h
Labels: area-VM-coreclr

#99251 Pass --target in preprocess_file()
  eng/native/functions.cmake
Labels: area-Infrastructure-coreclr

#99345 fix commands for debugging coreclr with lldb
  docs/workflow/debugging/coreclr/debugging-runtime.md
Labels: area-Infrastructure-coreclr

#99277 [workload-testing] Add properties for nuget.config path, and target t…
  eng/pipelines/common/evaluate-default-paths.yml
  src/mono/nuget/Microsoft.NET.Runtime.WorkloadTesting.Internal/Sdk/WorkloadTesting.Core.targets
Labels: arch-wasm, area-Infrastructure-mono

#99332 Skip EventPipe cleanup on mono unless runtime is shutting down
  src/mono/mono/eventpipe/ep-rt-mono.c
Labels: area-Diagnostics-mono

#99288 [RISC-V] OSR: Fix calculating remainingSPSize in genPopCalleeSavedRegisters
  src/coreclr/jit/codegenriscv64.cpp
Labels: area-CodeGen-coreclr, arch-riscv

#99303 [mt][browser] `SignalRClientTests` avoid timeouts
  src/mono/wasm/Wasm.Build.Tests/TestAppScenarios/SignalRClientTests.cs
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/Pages/Chat.razor
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Server/ChatHub.cs
Labels: arch-wasm, area-VM-threading-mono

#99344 Remove Current interface call in IteratorSelectIterator
  src/libraries/System.Linq/src/System/Linq/Iterator.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
Labels: area-System.Linq

#99346 [browser][docs] Custom ICU build does not require `IcuTracing`.
  docs/design/features/globalization-icu-wasm.md
Labels: arch-wasm, area-System.Globalization

#99259 [browser][MT] fix Promise cancelation race condition
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/CancelablePromise.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSHostImplementation.Types.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/mono/browser/runtime/cancelable-promise.ts
  src/mono/browser/runtime/diagnostics/server_pthread/stream-queue.ts
  src/mono/browser/runtime/gc-handles.ts
  src/mono/browser/runtime/managed-exports.ts
  src/mono/browser/runtime/marshal-to-cs.ts
  src/mono/browser/runtime/memory.ts
  src/mono/browser/runtime/weak-ref.ts
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#99282 [mono] Set /DEBUGTYPE:CV,FIXUP on Windows binaries
  src/mono/CMakeLists.txt
Labels: area-Build-mono

#99311 Small clean up in assertprop (casts)
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#99175 ActivatorUtilities.CreateInstance() should respect [ActivatorUtilitiesConstructor]
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ActivatorUtilities.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ActivatorUtilitiesTests.cs
Labels: breaking-change, area-Extensions-DependencyInjection

#99238 JIT: Expand flow graph debug checking
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/phase.cpp
Labels: area-CodeGen-coreclr

#99355 [mono][jit] Avoid an assert when using unmanaged generic calli in gsh…
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-JIT-mono

#99109 Reuse x86 GC and unwinding code in NativeAOT
  src/coreclr/inc/bitvector.h
  src/coreclr/inc/daccess.h
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/gc_unwind_x86.h
  src/coreclr/inc/gcinfo.h
  src/coreclr/inc/gcinfodecoder.h
  src/coreclr/inc/regdisp.h
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/i386/AsmMacros.inc
  src/coreclr/nativeaot/Runtime/i386/AsmOffsetsCpu.h
  src/coreclr/nativeaot/Runtime/i386/ExceptionHandling.asm
  src/coreclr/nativeaot/Runtime/i386/GcProbe.asm
  src/coreclr/nativeaot/Runtime/i386/WriteBarriers.asm
  src/coreclr/nativeaot/Runtime/regdisplay.h
  src/coreclr/nativeaot/Runtime/rhassert.h
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/nativeaot/Runtime/windows/CoffNativeCodeManager.cpp
  src/coreclr/unwinder/i386/unwinder.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gc_unwind_x86.inl
Labels: arch-x86, area-VM-coreclr, community-contribution

#99361 Narrow some visibility in Enumerable
  src/libraries/System.Linq/src/System/Linq/AppendPrepend.cs
  src/libraries/System.Linq/src/System/Linq/Cast.cs
  src/libraries/System.Linq/src/System/Linq/Concat.cs
  src/libraries/System.Linq/src/System/Linq/DefaultIfEmpty.cs
  src/libraries/System.Linq/src/System/Linq/Distinct.cs
  src/libraries/System.Linq/src/System/Linq/Grouping.cs
  src/libraries/System.Linq/src/System/Linq/Iterator.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Iterator.cs
  src/libraries/System.Linq/src/System/Linq/OfType.cs
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.cs
  src/libraries/System.Linq/src/System/Linq/Range.cs
  src/libraries/System.Linq/src/System/Linq/Repeat.cs
  src/libraries/System.Linq/src/System/Linq/Reverse.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Select.cs
  src/libraries/System.Linq/src/System/Linq/SelectMany.cs
  src/libraries/System.Linq/src/System/Linq/SkipTake.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Union.cs
  src/libraries/System.Linq/src/System/Linq/Where.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Where.cs
Labels: area-System.Linq

#98676 Expanded & clarified BerConverter tests
  src/libraries/System.DirectoryServices.Protocols/tests/BerConverterTests.cs
Labels: area-System.DirectoryServices, test-enhancement

#99324 Update branding to 8.0.4
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#99323 Update branding to 7.0.18
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#98991 [release/6.0-staging] Set assets manifest metadata for assets that get shipped with .NET release
  eng/Publishing.props
  src/installer/prepare-artifacts.proj
Labels: Servicing-approved, area-Infrastructure-installer

#99053 Memoize some CngKey standard properties
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngKey.StandardProperties.cs
Labels: area-System.Security

#99037 Handle MakeGeneric APIs in dataflow
  src/coreclr/tools/Common/TypeSystem/Common/ConstructedTypeRewritingHelpers.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMarker.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMethodBodyScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/DataflowAnalyzedMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ScannedMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/DependencyAnalysis/MethodCodeNode.cs
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/Dataflow.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Devirtualization.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Generics.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Interfaces.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ExponentialDataFlow.cs
Labels: area-NativeAOT-coreclr

#99373 Delete Decrypt_Pkcs1_ErrorsForInvalidPadding
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/EncryptDecrypt.cs
Labels: area-System.Security

#99353 [RISC-V] Fix initReg usage in genPushCalleeSavedRegisters
  src/coreclr/jit/codegenriscv64.cpp
Labels: area-CodeGen-coreclr, arch-riscv

#99385 Add ParamCollectionAttribute
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ParamCollectionAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Runtime/CompilerServices/ParamCollectionAttributeTests.cs
Labels: area-System.Runtime.CompilerServices, new-api-needs-documentation

#98876 Reapply revert of https://github.com/dotnet/runtime/pull/97227, fix Lock's waiter duration computation
  src/coreclr/System.Private.CoreLib/src/System/Threading/WaitHandle.CoreCLR.cs
  src/coreclr/nativeaot/Common/src/System/Collections/Concurrent/ConcurrentUnifier.cs
  src/coreclr/nativeaot/Common/src/System/Collections/Concurrent/ConcurrentUnifierW.cs
  src/coreclr/nativeaot/Common/src/System/Collections/Concurrent/ConcurrentUnifierWKeyed.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/FrozenObjectHeapManager.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/ClassConstructorRunner.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Condition.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Lock.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/SyncTable.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Thread.NativeAot.Windows.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Thread.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Type.NativeAot.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.ConstructedGenericsRegistration.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.StaticsLookup.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeSystemContextFactory.cs
  src/coreclr/vm/comwaithandle.cpp
  src/coreclr/vm/comwaithandle.h
  src/libraries/System.Private.CoreLib/src/System/Threading/Lock.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitHandle.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitHandle.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitHandle.cs
Labels: area-System.Threading

#99347 [browser][MT] Marshal resolved/unresolved tasks separately
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System.Runtime.InteropServices.JavaScript.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSAsyncTaskScheduler.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSSynchronizationContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#99319 [mono][interp] Super instruction tweaks
  src/mono/browser/runtime/jiterpreter-tables.ts
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/jiterpreter-opcode-values.h
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/mintops.h
  src/mono/mono/mini/interp/transform-opt.c
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#99273 [wasm] Fix bugs related to jiterpreter heuristic
  src/mono/browser/runtime/jiterpreter-support.ts
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
  src/mono/browser/runtime/jiterpreter.ts
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/jiterpreter.h
  src/mono/mono/mini/interp/transform-opt.c
  src/mono/mono/mini/interp/transform.c
Labels: NO-MERGE, arch-wasm, area-Codegen-Interpreter-mono

#99295 Fixed: potential AV in MethodTableBuilder::FindDeclMethodOnClassInHie…
  src/coreclr/vm/methodtablebuilder.cpp
Labels: area-TypeSystem-coreclr

#99405 [mono][interp] Remove MINT_CKNULL when doing a virtcall
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#99402 Fix HTTP2 => HTTP/1.1 downgrade bookkeeping
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#98398 Fix some comments on interfaces in `System.Numerics`
  src/libraries/System.Private.CoreLib/src/System/Numerics/INumber.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/INumberBase.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/IUnaryPlusOperators.cs
Labels: area-System.Numerics

#99367 JIT: profile checking through loop opts
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#99394 [RISC-V] Fix bug in crossgen2
  src/coreclr/vm/riscv64/stubs.cpp
Labels: area-crossgen2-coreclr, community-contribution, arch-riscv

#99258 JIT ARM64-SVE: Remove INS_SCALABLE_OPTS_SHIFT
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitarm64.cpp
  src/coreclr/jit/emitarm64.h
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr, arch-arm64-sve

#99399 JIT: Fix build on GCC
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr, community-contribution

#99393 Fix System.Runtime.InteropServices.UnitTests on Windows set to UTF8 encoding
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/SecureStringToCoTaskMemAnsiTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/SecureStringToGlobalAllocAnsiTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/StringToCoTaskMemAnsiTests.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/StringToHGlobalAnsiTests.cs
Labels: area-System.Runtime.InteropServices

#99415 Add test for ByRefLike testing
  src/tests/Loader/classloader/generics/ByRefLike/InvalidCSharp.il
  src/tests/Loader/classloader/generics/ByRefLike/Validate.cs
Labels: area-System.Runtime.CompilerServices

#99362 JIT: Add helper method for updating bbTargetEdge
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#99138 Fix GC hole in Guid
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
Labels: area-System.Runtime, tenet-reliability

#99435 Use alias for Tizen and RISCV owners
  docs/area-owners.md
Labels: area-Meta

#99337 Fix InlineArray and some other corner cases in Swift lowering
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/CompilerServices/InlineArrayAttribute.cs
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/SwiftPhysicalLowering.cs
  src/coreclr/tools/Common/TypeSystem/Common/FieldLayoutIntervalCalculator.cs
  src/coreclr/tools/Common/TypeSystem/Common/ImpliedRepeatedFieldDesc.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/Common/ImpliedRepeatedFieldDesc.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeWithRepeatedFields.Diagnostic.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeWithRepeatedFields.Sorting.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeWithRepeatedFields.cs
  src/coreclr/tools/Common/TypeSystem/Common/TypeWithRepeatedFieldsFieldLayoutAlgorithm.cs
  src/coreclr/tools/ILVerification/ILVerification.projitems
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/SwiftTypes.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/ILCompiler.Compiler.Tests.Assets/SwiftTypesSupport.cs
  src/coreclr/tools/aot/ILCompiler.Compiler.Tests/SwiftLoweringTests.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.TypeSystem/ILCompiler.TypeSystem.csproj
Labels: area-crossgen2-coreclr

#99436 [RISC-V] Enable crossgen for corelib
  src/coreclr/crossgen-corelib.proj
Labels: area-crossgen2-coreclr, community-contribution, arch-riscv

#99286 JIT: Disallow parameters passed in float regs from being enregistered in int regs
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#99270 Delete unused System.Runtime.Versioning.CompatibilitySwitch
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/Runtime/Versioning/CompatibilitySwitch.cs
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/compatibilityswitch.cpp
  src/coreclr/vm/compatibilityswitch.h
  src/coreclr/vm/corelib.cpp
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/nativeeventsource.cpp
  src/coreclr/vm/nativeeventsource.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/TraceLogging/XplatEventLogger.cs
Labels: area-System.Diagnostics.Tracing

#99428 JIT: Use sentinel arg to clear error register pre-Swift call
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#99365 Reduce overheads of enumerating Grouping from Enumerable.GroupBy
  src/libraries/System.Linq/src/System.Linq.csproj
  src/libraries/System.Linq/src/System/Linq/Grouping.cs
  src/libraries/System.Linq/src/System/Linq/PartialArrayEnumerator.cs
  src/libraries/System.Linq/tests/GroupByTests.cs
Labels: area-System.Linq, tenet-performance

#99437 Fix tiny regression in Enumerable.ElementAt
  src/libraries/System.Linq/src/System/Linq/AppendPrepend.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/ElementAt.cs
Labels: area-System.Linq

#98565 [runtime] Infrastructure to build runtime components using NativeAOT
  src/coreclr/runtime-prereqs.proj
  src/native/managed/Directory.Build.props
  src/native/managed/Directory.Build.targets
  src/native/managed/README.md
  src/native/managed/compile-native.proj
  src/native/managed/native-library.props
  src/native/managed/native-library.targets
Labels: area-VM-coreclr

#99284 Add ARM64 encodings for group IF_SVE_CC,CD
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr, arch-arm64-sve

#99397 [browser][MT] Fix Promise cancelation
  src/mono/browser/runtime/cancelable-promise.ts
  src/mono/browser/runtime/dotnet.d.ts
  src/mono/browser/runtime/export-api.ts
  src/mono/browser/runtime/gc-handles.ts
  src/mono/browser/runtime/interp-pgo.ts
  src/mono/browser/runtime/invoke-js.ts
  src/mono/browser/runtime/loader/config.ts
  src/mono/browser/runtime/loader/exit.ts
  src/mono/browser/runtime/loader/globals.ts
  src/mono/browser/runtime/loader/run.ts
  src/mono/browser/runtime/managed-exports.ts
  src/mono/browser/runtime/marshal-to-js.ts
  src/mono/browser/runtime/memory.ts
  src/mono/browser/runtime/types/index.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/browser/test-main.js
  src/mono/sample/wasm/browser-shutdown/main.js
  src/mono/wasm/features.md
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/Pages/Chat.razor
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Client/wwwroot/index.html
  src/mono/wasm/testassets/BlazorHostedApp/BlazorHosted.Server/appsettings.json
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#96961 FreeBSD: Add suffix numbering for OpenSSL3
  src/native/libs/System.Security.Cryptography.Native/opensslshim.c
Labels: area-System.Security, community-contribution

#99392 [workload-testing] Misc improvements
  src/mono/nuget/Microsoft.NET.Runtime.WorkloadTesting.Internal/README.md
  src/mono/nuget/Microsoft.NET.Runtime.WorkloadTesting.Internal/Sdk/WorkloadTesting.Core.targets
  src/tasks/WorkloadBuildTasks/InstallWorkloadFromArtifacts.cs
  src/tasks/WorkloadBuildTasks/PackageInstaller.cs
  src/tasks/WorkloadBuildTasks/PatchNuGetConfig.cs
Labels: arch-wasm, area-Infrastructure-mono

#99412 Fix GCStress disabling of ParallelCrashTester
  src/tests/baseservices/exceptions/simple/ParallelCrashTester.csproj
Labels: area-VM-coreclr

#97950 Fix NRE with UnicodeEncoding when target is an empty span
  src/libraries/System.Private.CoreLib/src/System/Text/Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Text/UTF32Encoding.cs
  src/libraries/System.Private.CoreLib/src/System/Text/UnicodeEncoding.cs
  src/libraries/System.Runtime/tests/System.Text.Encoding.Tests/NegativeEncodingTests.cs
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/EncodingCharBuffer.cs
Labels: area-System.Text.Encoding, community-contribution

#99407 [release/8.0][browser] Fix failures in `CalendarTestBase` affecting several globalization tests
  src/libraries/System.Globalization/tests/DateTimeFormatInfo/DateTimeFormatInfoAbbreviatedMonthGenitiveNames.cs
  src/mono/wasm/runtime/hybrid-globalization/culture-info.ts
Labels: Servicing-approved, arch-wasm, area-System.Globalization

#99429 Use the right owning module in type string resolution
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/ReflectionMarker.cs
  src/coreclr/tools/aot/ilc.sln
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributePropertyDataflow.cs
Labels: area-NativeAOT-coreclr

#99434 Add Dictionary<T, List<T>>.AddToList
  src/tools/illink/src/linker/Linker/DictionaryExtensions.cs
  src/tools/illink/src/linker/Linker/TypeMapInfo.cs
Labels: linkable-framework, area-Tools-ILLink

#99382 Make Thread.VolatileRead and Thread.VolatileWrite obsolete
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/libraries/System.Threading.Thread/ref/System.Threading.Thread.cs
Labels: area-System.Threading

#99477 Delete stale comment
  src/coreclr/vm/classlayoutinfo.cpp
Labels: area-VM-coreclr

#99453 Reenable test on s390x in tests.proj
  src/libraries/tests.proj
Labels: area-Infrastructure-libraries

#99446 [browser][wbt] Extend delay when waiting for URLs
  src/mono/wasm/Wasm.Build.Tests/BrowserRunner.cs
Labels: arch-wasm, area-Build-mono

#99185 [NativeAOT] Delegate bug fixes
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerServices/FunctionPointerOps.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Delegate.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeFunctionPointerWrapper.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/PInvokeMarshal.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Extensions/NonPortable/DelegateMethodInfoRetriever.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Resources/Strings.resx
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateMethodILEmitter.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/DelegateThunks.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/GetDelegateForFunctionPointerTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/MulticastDelegateTests.cs
  src/mono/System.Private.CoreLib/src/System/Delegate.Mono.cs
  src/mono/System.Private.CoreLib/src/System/MulticastDelegate.Mono.cs
  src/tests/CoreMangLib/system/delegate/delegate/DelegateCombine1.csproj
  src/tests/CoreMangLib/system/delegate/delegate/DelegateCombineImpl.csproj
  src/tests/CoreMangLib/system/delegate/delegate/DelegateEquals1.csproj
  src/tests/CoreMangLib/system/delegate/delegate/DelegateGetHashCode1.csproj
  src/tests/CoreMangLib/system/delegate/delegate/DelegateGetInvocationList1.csproj
  src/tests/CoreMangLib/system/delegate/delegate/DelegateRemove.csproj
  src/tests/CoreMangLib/system/delegate/delegate/delegateRemoveImpl.csproj
  src/tests/CoreMangLib/system/delegate/delegate/delegategetinvocationlist1.cs
  src/tests/Interop/MarshalAPI/FunctionPointer/FunctionPointer.cs
Labels: area-NativeAOT-coreclr

#99441 Share EventSource QCall definitions between NAOT and CoreCLR
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/Runtime/disabledeventpipeinternal.cpp
  src/coreclr/nativeaot/Runtime/eventpipeinternal.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/Eventing/NativeRuntimeEventSource.Threading.NativeSinks.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/vm/nativeeventsource.cpp
  src/coreclr/vm/nativeeventsource.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipe.Internal.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipe.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeEventDispatcher.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipeMetadataGenerator.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventPipePayloadDecoder.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/NativeRuntimeEventSource.Threading.NativeSinks.Internal.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
Labels: area-System.Diagnostics.Tracing

#99492 [mono] Fix function prototype in jiterpreter
  src/mono/mono/mini/interp/jiterpreter.c
  src/mono/mono/mini/interp/jiterpreter.h
Labels: area-Codegen-Interpreter-mono

#99493 [mono] Fix warnings in s390x-specific code
  src/mono/mono/mini/exceptions-s390x.c
  src/mono/mono/mini/mini-s390x.c
Labels: area-VM-meta-mono

#99134 List exact regs killed by ByRefWriteBarrier on AMD64
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/targetamd64.h
  src/coreclr/nativeaot/Runtime/amd64/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/amd64/WriteBarriers.asm
  src/coreclr/nativeaot/Runtime/arm64/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/arm64/WriteBarriers.asm
  src/coreclr/pal/inc/unixasmmacrosamd64.inc
  src/coreclr/vm/amd64/JitHelpers_Fast.asm
  src/coreclr/vm/amd64/jithelpers_fast.S
  src/coreclr/vm/arm64/patchedcode.S
  src/coreclr/vm/arm64/patchedcode.asm
Labels: area-VM-coreclr

#99466 JIT: Add pred block iterator that tolerates pred list modifications
  src/coreclr/jit/block.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#99000 [browser][MT] fix various issues and enable System.Runtime.InteropServices.JavaScript.Tests
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSSynchronizationContext.cs
  src/libraries/tests.proj
  src/mono/browser/runtime/cancelable-promise.ts
  src/mono/browser/runtime/gc-handles.ts
  src/mono/browser/runtime/http.ts
  src/mono/browser/runtime/marshal.ts
Labels: arch-wasm, area-Build-mono, os-browser

#99502 [Http/2] Fix handling of effectively empty DATA frame
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs
Labels: area-System.Net.Http

#99513 Guard against non-sensical ReadyToRunGenericHelperNode
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ReadyToRunGenericHelperNode.cs
Labels: area-NativeAOT-coreclr

#99372 NativeAOT: Add win-x86 support
  eng/Subsets.props
  src/coreclr/CMakeLists.txt
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/CompilerServices/Unsafe.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/RuntimeExports.cs
  src/coreclr/nativeaot/Runtime/CommonMacros.h
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/MathHelpers.cpp
  src/coreclr/nativeaot/Runtime/MiscHelpers.cpp
  src/coreclr/nativeaot/Runtime/RestrictedCallouts.h
  src/coreclr/nativeaot/Runtime/RuntimeInstance.cpp
  src/coreclr/nativeaot/Runtime/i386/AsmMacros.inc
  src/coreclr/nativeaot/Runtime/i386/Interlocked.asm
  src/coreclr/nativeaot/Runtime/i386/InteropThunksHelpers.asm
  src/coreclr/nativeaot/Runtime/i386/MiscStubs.asm
  src/coreclr/nativeaot/Runtime/i386/PInvoke.asm
  src/coreclr/nativeaot/Runtime/i386/StubDispatch.asm
  src/coreclr/nativeaot/Runtime/interoplibinterface.h
  src/coreclr/nativeaot/Runtime/portable.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/MathHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/tools/Common/Internal/Runtime/RuntimeConstants.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/PInvokeILEmitter.cs
  src/coreclr/tools/Common/TypeSystem/IL/Stubs/PInvokeLazyFixupField.cs
  src/coreclr/tools/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Interop/InteropStateManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/PInvokeMethodFixupNode.cs
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2_publish.csproj
  src/tests/nativeaot/SmokeTests/ControlFlowGuard/ControlFlowGuard.csproj
Labels: arch-x86, area-NativeAOT-coreclr

#99208 [NativeAOT/ARM] Avoid generating linker range extension thunks
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfObjectWriter.cs
Labels: arch-arm32, area-NativeAOT-coreclr

#99536 [wasm][bench] Check for the muteErrors presence
  src/mono/sample/wasm/browser-bench/main.js
Labels: area-Infrastructure-mono

#99509 JIT: don't create degenerate flow in `fgReplaceJumpTarget`
  src/coreclr/jit/fgbasic.cpp
Labels: area-CodeGen-coreclr

#99504 Always keep global symbols on ApplePlatforms
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: community-contribution, area-NativeAOT-coreclr

#99431 Fix overaggressive switch optimization in regex source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/Regex.Match.Tests.cs
Labels: area-System.Text.RegularExpressions
