Repository dotnet/runtime, pull requests merged in 2025-07, with the labels that each got.

#117180 Delete ForceDictionaryLookups
  src/coreclr/nativeaot/Common/src/System/Collections/Generic/LowLevelDictionary.cs
  src/coreclr/nativeaot/Common/src/System/Collections/Generic/LowLevelList.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/coreclr/nativeaot/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/ForceDictionaryLookupsAttribute.cs
Labels: linkable-framework, area-NativeAOT-coreclr

#107104 Add ObsoleteAttribute and EditorBrowsable(Never) to DynamicDependency.Condition
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/CodeAnalysis/DynamicDependencyAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Diagnostics/CodeAnalysis/DynamicDependencyAttributeTests.cs
Labels: api-approved, new-api-needs-documentation, area-Tools-ILLink

#117084 Improve constant value analysis for method IL
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SubstitutedILProvider.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DeadCodeElimination.cs
Labels: area-NativeAOT-coreclr

#117037 Replace `CordbProcess::GetSharedDomain` with `GetAppDomain`
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/dacdbiimpl.h
  src/coreclr/debug/di/module.cpp
  src/coreclr/debug/di/process.cpp
  src/coreclr/debug/di/rsappdomain.cpp
  src/coreclr/debug/di/rspriv.h
  src/coreclr/debug/di/rsthread.cpp
  src/coreclr/debug/inc/dacdbiinterface.h
Labels: area-Diagnostics-coreclr

#117141 Disable interpreter build on android
  src/coreclr/clr.featuredefines.props
  src/coreclr/clrfeatures.cmake
Labels: area-CodeGen-Interpreter-coreclr

#116839 [SRM] Add APIs to get the `AssemblyNameInfo` of an assembly definition or reference.
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReader.netstandard.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/AssemblyDefinition.netstandard.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/AssemblyReference.netstandard.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/TypeSystem/AssemblyDefinitionTests.cs
Labels: area-System.Reflection.Metadata, community-contribution

#117097 Allow the disasm output on xarch to do less work for the common path
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr

#117056 Save and restore `ExecutionContext` for runtime async calls
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncHelpers.CoreCLR.cs
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/async.cpp
  src/coreclr/jit/async.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/ee_il_dll.hpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/jitinterface.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/tests/async/execution-context/execution-context.cs
  src/tests/async/execution-context/execution-context.csproj
  src/tests/async/fibonacci-with-yields-struct-return/fibonacci-with-yields-struct-return.cs
  src/tests/async/fibonacci-with-yields-struct-return/fibonacci-with-yields-struct-return.csproj
Labels: area-CodeGen-coreclr, runtime-async

#117154 Update fuzzing dependencies
  src/libraries/Fuzzing/DotnetFuzzing/DotnetFuzzing.csproj
  src/libraries/Fuzzing/DotnetFuzzing/Program.cs
Labels: needs-area-label

#117101 Have certain mask simplification operations happen earlier than morph
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#117118 Have CSE correctly track float/simd and mask registers for their own enregistration
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optcse.h
  src/coreclr/jit/targetamd64.h
  src/coreclr/jit/targetarm.h
  src/coreclr/jit/targetarm64.h
  src/coreclr/jit/targetloongarch64.h
  src/coreclr/jit/targetriscv64.h
  src/coreclr/jit/targetx86.h
Labels: area-CodeGen-coreclr

#117212 ML-KEM: Change Key property to GetKey method
  src/libraries/Common/src/System/Security/Cryptography/MLKemCng.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKemCng.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemCngTests.Windows.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Cng.NotSupported.cs
Labels: area-System.Security

#116844 Add interpreter pipeline
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/send-to-helix-step.yml
  eng/pipelines/coreclr/interpreter.yml
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-Infrastructure

#116988 [APX] Make sure disasmembler log correct EGPR size when OSIZE is 32b.
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#117208 Fix typo
  .github/workflows/README.md
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
Labels: needs-area-label

#116660 Only root infrastructure and dependencies for IDynamicInterfaceCastable when IDIC is implemented
  src/coreclr/nativeaot/Bootstrap/main.cpp
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/CachedInterfaceDispatch.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/InternalCalls.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/TypeCast.cs
  src/coreclr/nativeaot/Runtime.Base/src/System/ThrowHelpers.cs
  src/coreclr/nativeaot/Runtime/ICodeManager.h
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/IDynamicInterfaceCastable.cs
  src/coreclr/nativeaot/Test.CoreLib/src/Internal/Runtime/IDynamicInterfaceCastableSupport.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/CompilerServices/RuntimeFeature.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/InteropServices/IDynamicInterfaceCastable.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/RuntimeTypeHandle.cs
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
  src/coreclr/tools/Common/Compiler/DevirtualizationManager.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/InterfaceDispatchCellNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/IDynamicInterfaceCastable.cs
Labels: area-NativeAOT-coreclr

#117210 Handle calls to shared generic interfaces from shared generic code
  src/coreclr/interpreter/compiler.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-Codegen-Interpreter-mono

#117187 Revert "Exit with quick_exit when using debug UCRT (#109006)"
  src/coreclr/nativeaot/Bootstrap/main.cpp
  src/coreclr/nativeaot/Runtime/startup.cpp
Labels: area-NativeAOT-coreclr

#117071 Reduce HTTP headers validation overhead
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
Labels: area-System.Net.Http

#117234 Revert "Add interpreter pipeline"
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/send-to-helix-step.yml
  eng/pipelines/coreclr/interpreter.yml
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-Infrastructure

#117156 JIT: Remove overzealous fake-splitting assert for x86 unwind info
  src/coreclr/jit/unwindx86.cpp
Labels: area-CodeGen-coreclr

#117222 JIT: relax constraint in conditional escape analysis
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/objectalloc.h
Labels: area-CodeGen-coreclr

#116659 Preserve entitlements in managed Mach-O signer
  src/installer/managed/Microsoft.NET.HostModel/AppHost/BinaryUtils.cs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/HostWriter.cs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/PlaceHolderNotFoundInAppHostException.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/FileEntry.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Manifest.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/BlobParser.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/CodeDirectoryBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/DerEntitlementsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/EmbeddedSignatureBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/EntitlementsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/BlobMagic.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/CodeDirectorySpecialSlot.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.cs
  src/installer/managed/Microsoft.NET.HostModel/Utils/UnixUtils.cs
  src/installer/tests/AppHost.Bundle.Tests/AppLaunch.cs
  src/installer/tests/HostActivation.Tests/MachOHostSigningTests.cs
  src/installer/tests/HostActivation.Tests/RegisteredInstallLocationOverride.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost/CreateAppHost.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Bundle/BundlerConsistencyTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/CodesignOutputInfo.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/MachObjectTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/SigningTests.cs
  src/installer/tests/TestUtils/Codesign.cs
  src/installer/tests/TestUtils/Inode.cs
  src/installer/tests/TestUtils/SingleFileTestApp.cs
  src/installer/tests/TestUtils/TestFileBackup.cs
  src/native/corehost/apphost/static/CMakeLists.txt
Labels: area-HostModel

#116799 Add issue links / reasons for more ExpectedWarningAttributes with tool exceptions
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ExceptionalDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ExponentialDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/FeatureGuardAttributeDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MakeGenericDataflowIntrinsics.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/VirtualMethodHierarchyDataflowAnnotationValidation.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/BasicRequires.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAccessedThrough.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAttributeMismatch.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresInCompilerGeneratedCode.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnStaticConstructor.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnVirtualsAndInterfaces.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresWithCopyAssembly.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFromXML.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInAssembly.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInCompilerGeneratedCode.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInMembersAndTypes.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInMembersAndTypesUsingTarget.cs
Labels: linkable-framework, area-Tools-ILLink

#117252 Zero initialize FrameInfo so that we don't mistake an InlineCallFrame for a CLRToCOMMethodFrame
  src/coreclr/debug/ee/frameinfo.cpp
Labels: area-Diagnostics-coreclr

#117185 [wasm][debugger] Assertion when debugging on wasm
  src/mono/mono/component/debugger-agent.c
Labels: area-Debugger-mono

#117207 [H/3] Fix disposing of buffers in parallel with running tasks
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
Labels: area-System.Net.Http

#116852 Arm64 SVE: Fix conditionalselect with constant arguments
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/simd.h
  src/coreclr/jit/valuenum.cpp
  src/tests/JIT/opt/SVE/ConditionalSelectConstants.cs
  src/tests/JIT/opt/SVE/ConditionalSelectConstants.csproj
  src/tests/JIT/opt/SVE/ConstantVectors.cs
  src/tests/JIT/opt/SVE/ConstantVectors.csproj
Labels: area-CodeGen-coreclr, community-contribution

#117218 Add a cache for Native offset to IL Offset mapping in the stack walking logic
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/debugdebugger.cpp
Labels: area-Diagnostics-coreclr

#117224 Reapply "Replace CordbProcess::GetSharedDomain with GetAppDomain"
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/dacdbiimpl.h
  src/coreclr/debug/di/module.cpp
  src/coreclr/debug/di/process.cpp
  src/coreclr/debug/di/rsappdomain.cpp
  src/coreclr/debug/di/rsassembly.cpp
  src/coreclr/debug/di/rspriv.h
  src/coreclr/debug/di/rsthread.cpp
  src/coreclr/debug/inc/dacdbiinterface.h
Labels: area-Diagnostics-coreclr

#117254 Add interpreter pipeline
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/send-to-helix-step.yml
  eng/pipelines/coreclr/interpreter.yml
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-CodeGen-Interpreter-coreclr

#117281 Ensure the SIMD instruction names start with v
  src/coreclr/jit/instrsxarch.h
Labels: area-CodeGen-coreclr

#116442 Update CoreclrTestWrapperLib to use cordll
  src/tests/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs
  src/tests/Common/XUnitLogChecker/XUnitLogChecker.cs
Labels: area-Infrastructure-coreclr

#117246 [mono] fix --trace
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/mini-profiler.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini.c
  src/mono/mono/mini/mini.h
  src/mono/mono/mini/trace.c
  src/mono/mono/mini/trace.h
  src/native/public/mono/metadata/details/profiler-types.h
Labels: area-Diagnostics-mono

#117307 Fix GetName on TypeMetadataNode
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/TypeMetadataNode.cs
Labels: area-NativeAOT-coreclr

#117304 Re-enable some binary specifier tests
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Int128Tests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Int64Tests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/UInt128Tests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/UInt64Tests.cs
Labels: needs-area-label

#117303 Remove stale TODO comments on Task.WhenEach
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-System.Threading.Tasks

#117289 Avoid some substring allocations during Uri host normalization
  src/libraries/System.Private.Uri/src/System/Uri.cs
  src/libraries/System.Private.Uri/src/System/UriHelper.cs
Labels: area-System.Net

#117298 Remove TODOs associated with closed IAsyncEnumerable issue
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/Cast.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/OfType.cs
Labels: area-System.Linq

#113956 Add CPUID for AvxVnniInt8 and AvxVnniInt16
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/readytoruninstructionset.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/tools/Common/Compiler/HardwareIntrinsicHelpers.cs
  src/coreclr/tools/Common/InstructionSetHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSet.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/vm/codeman.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/AvxVnniInt16.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/AvxVnniInt16.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/AvxVnniInt8.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/AvxVnniInt8.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/native/minipal/cpufeatures.c
  src/native/minipal/cpufeatures.h
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_X86.cs
  src/tests/JIT/HardwareIntrinsics/X86/Shared/_TernaryOpTestTemplate.template
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16/AvxVnniInt16SampleTest.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16/AvxVnniInt16_handwritten_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16/AvxVnniInt16_handwritten_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16/AvxVnniInt16_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16/AvxVnniInt16_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16/Program.AvxVnniInt16.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16_V512/AvxVnniInt16_V512SampleTest.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16_V512/AvxVnniInt16_V512_handwritten_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16_V512/AvxVnniInt16_V512_handwritten_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16_V512/AvxVnniInt16_V512_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16_V512/AvxVnniInt16_V512_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt16_V512/Program.AvxVnniInt16_V512.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8/AvxVnniInt8SampleTest.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8/AvxVnniInt8_handwritten_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8/AvxVnniInt8_handwritten_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8/AvxVnniInt8_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8/AvxVnniInt8_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8/Program.AvxVnniInt8.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8_V512/AvxVnniInt8_V512SampleTest.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8_V512/AvxVnniInt8_V512_handwritten_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8_V512/AvxVnniInt8_V512_handwritten_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8_V512/AvxVnniInt8_V512_r.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8_V512/AvxVnniInt8_V512_ro.csproj
  src/tests/JIT/HardwareIntrinsics/X86_Avx/AvxVnniInt8_V512/Program.AvxVnniInt8_V512.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Avx10v2.csproj
Labels: area-System.Runtime.Intrinsics, linkable-framework, community-contribution

#117345 Do not preserve enumerators in reflection
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/CustomAttributes/RuntimeCustomAttributeData.cs
Labels: community-contribution, area-NativeAOT-coreclr

#117340 Remove pinning from frozen objects (strings, arrays, ..)
  src/coreclr/jit/gentree.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#117353 Remove custom enumerator from ConcurrentBag
  src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs
  src/libraries/System.Collections.Concurrent/tests/ConcurrentBagTests.cs
Labels: area-System.Collections

#117272 Delete GetFirstNonVolatileRegisterAddress
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/asmhelpers.S
  src/coreclr/vm/arm/asmconstants.h
  src/coreclr/vm/arm/ehhelpers.S
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/i386/ehhelpers.S
  src/coreclr/vm/i386/ehhelpers.asm
  src/coreclr/vm/loongarch64/asmconstants.h
  src/coreclr/vm/loongarch64/asmhelpers.S
  src/coreclr/vm/riscv64/asmconstants.h
  src/coreclr/vm/riscv64/asmhelpers.S
Labels: area-VM-coreclr

#116993 Separate MultipleHives tests into regular FrameworkResolution and MultilevelLookup (Windows-only) test classes
  src/installer/tests/HostActivation.Tests/FrameworkResolution/FrameworkResolution.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/FrameworkResolutionBase.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/MultilevelLookup.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/MultipleHives.cs
Labels: test-enhancement, area-Host

#117321 Enable linux-musl, x86, and arm cdac reader packages
  eng/Subsets.props
Labels: area-Diagnostics-coreclr

#117403 [10.0-preview6] Revert "Trust single-edge synthetic profile (#116054)"
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
Labels: area-CodeGen-coreclr

#117397 Simplify cDAC AOT condition
  src/native/managed/compile-native.proj
Labels: area-Diagnostics-coreclr, community-contribution

#117273 Don't use whole program analysis results when array covariance is involved
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilerTypeSystemContext.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericDefinitionEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/VariantInterfaceMethodUseNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SubstitutedILProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Devirtualization.cs
Labels: area-NativeAOT-coreclr

#117383 Make test projects that reference NativeExports platform-specific
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/ComInterfaceGenerator.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/LibraryImportGenerator.Tests.csproj
Labels: area-Infrastructure

#117420 Never set fgPgoSingleEdge for cctors or large single-edge blocks
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/jit.h
Labels: area-CodeGen-coreclr

#117059 Make dn_simdhash OOM safe
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/failures.h
  src/coreclr/interpreter/interpreter.h
  src/coreclr/interpreter/simdhash.h
  src/coreclr/interpreter/stackmap.cpp
  src/native/containers/dn-simdhash-ght-compatible.c
  src/native/containers/dn-simdhash-ght-compatible.h
  src/native/containers/dn-simdhash-specialization-declarations.h
  src/native/containers/dn-simdhash-specialization.h
  src/native/containers/dn-simdhash-specializations.h
  src/native/containers/dn-simdhash-string-ptr.c
  src/native/containers/dn-simdhash.c
  src/native/containers/dn-simdhash.h
  src/native/containers/simdhash-benchmark/run-benchmark.ps1
Labels: area-Infrastructure-mono, area-CodeGen-Interpreter-coreclr

#117432 Add InlinedCallFrame support for the interpreter take 2
  src/coreclr/vm/amd64/cgenamd64.cpp
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stackwalk.h
Labels: area-CodeGen-Interpreter-coreclr

#117430 Refactor emitInsSizeSVCalcDisp to more closely match the emitOutputSV checks
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#116916 [release/9.0-staging][wbt] Prevent `InvalidOperationException` on `TestOutputHelper` logging.
  eng/Versions.props
  eng/pipelines/extra-platforms/runtime-extra-platforms-wasm.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime.yml
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Common/RunHost.cs
  src/mono/wasm/Wasm.Build.Tests/Common/ToolCommand.cs
  src/mono/wasm/Wasm.Build.Tests/IcuShardingTests.cs
  src/mono/wasm/Wasm.Build.Tests/IcuShardingTests2.cs
  src/mono/wasm/Wasm.Build.Tests/IcuTests.cs
  src/mono/wasm/Wasm.Build.Tests/MainWithArgsTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/NativeBuildTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
Labels: Servicing-approved, arch-wasm, test-enhancement, area-Infrastructure-mono

#117024 [cDAC] Remove native components
  src/coreclr/unwinder/CMakeLists.txt
  src/coreclr/unwinder/amd64/unwinder.cpp
  src/coreclr/unwinder/amd64/unwinder.h
  src/coreclr/unwinder/arm64/unwinder.cpp
  src/coreclr/unwinder/arm64/unwinder.h
  src/coreclr/unwinder/baseunwinder.cpp
  src/coreclr/unwinder/baseunwinder.h
  src/coreclr/unwinder/stdafx.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/Unwinder.cs
  src/native/managed/cdac/mscordaccore_universal/mscordaccore_universal.csproj
Labels: area-Diagnostics-coreclr

#117447 Add (commented) test case that crashes LibraryImportGenerator
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CodeSnippets.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
Labels: area-System.Runtime.InteropServices

#117440 Merging internal commits for release/8.0
  eng/pipelines/coreclr/templates/sign-diagnostic-files.yml
Labels: Servicing-approved

#117442 Merging internal commits for release/9.0
  eng/pipelines/coreclr/templates/sign-diagnostic-files.yml
Labels: Servicing-approved

#117407 Ensure profiler test output is flushed
  src/tests/profiler/native/transitions/transitions.cpp
Labels: needs-area-label

#115746 Enable feature stubprecode dynamic helpers again
  docs/design/datacontracts/PrecodeStubs.md
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/debug/daccess/enummem.cpp
  src/coreclr/debug/ee/dactable.cpp
  src/coreclr/debug/runtimeinfo/contracts.jsonc
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/inc/dacvars.h
  src/coreclr/inc/executableallocator.h
  src/coreclr/inc/loaderheap.h
  src/coreclr/inc/volatile.h
  src/coreclr/minipal/Unix/doublemapping.cpp
  src/coreclr/minipal/Windows/doublemapping.cpp
  src/coreclr/minipal/minipal.h
  src/coreclr/utilcode/executableallocator.cpp
  src/coreclr/utilcode/interleavedloaderheap.cpp
  src/coreclr/vm/arm/thunktemplates.S
  src/coreclr/vm/arm64/thunktemplates.S
  src/coreclr/vm/callcounting.cpp
  src/coreclr/vm/cdacplatformmetadata.cpp
  src/coreclr/vm/cdacplatformmetadata.hpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/dllimportcallback.cpp
  src/coreclr/vm/dllimportcallback.h
  src/coreclr/vm/loaderallocator.hpp
  src/coreclr/vm/loongarch64/thunktemplates.S
  src/coreclr/vm/methoddescbackpatchinfo.cpp
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/precode.h
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/riscv64/thunktemplates.S
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/PrecodeStubsFactory.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/PrecodeStubs_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/PrecodeStubs_2.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/PrecodeStubs_3.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/PrecodeStubs_Common.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/PrecodeMachineDescriptor.cs
Labels: area-VM-coreclr

#117294 Use the NativeBinary property instead of reconstructing the path in NativeAOT target
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
Labels: area-NativeAOT-coreclr

#117477 Fix GetCallerSPOfParentOfNonExceptionallyInvokedFunclet
  src/coreclr/inc/eetwain.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-CodeGen-Interpreter-coreclr

#116555 Implement trimming support for the Interop Type Map
  docs/design/features/typemap.md
  src/coreclr/tools/Common/Compiler/Dataflow/MethodProxy.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternalTypeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypeMapMetadata.cs
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.Shared.xml
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodProxy.cs
  src/tools/illink/src/ILLink.Shared/TrimAnalysis/Intrinsics.cs
  src/tools/illink/src/ILLink.Shared/TypeSystemProxy/MethodProxy.cs
  src/tools/illink/src/linker/CompatibilitySuppressions.xml
  src/tools/illink/src/linker/Linker.Dataflow/HandleCallAction.cs
  src/tools/illink/src/linker/Linker.Dataflow/MethodProxy.cs
  src/tools/illink/src/linker/Linker.Steps/MarkStep.cs
  src/tools/illink/src/linker/Linker.Steps/RootAssemblyInputStep.cs
  src/tools/illink/src/linker/Linker/Annotations.cs
  src/tools/illink/src/linker/Linker/DependencyInfo.cs
  src/tools/illink/src/linker/Linker/TypeMapHandler.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributeConstructorDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/TypeMap.cs
Labels: linkable-framework, area-Tools-ILLink

#117446 ILCompiler.Reflection.ReadyToRun encapsulate image state
  src/coreclr/.nuget/ILCompiler.Reflection.ReadyToRun.Experimental/ILCompiler.Reflection.ReadyToRun.Experimental.pkgproj
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/GcInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/GcSlotTable.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Amd64/UnwindInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Arm/UnwindInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/Arm64/UnwindInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/DebugInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ILCompiler.Reflection.ReadyToRun.csproj
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/InliningInfoSection.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/InliningInfoSection2.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/LoongArch64/UnwindInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/NativeArray.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/NativeHashtable.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/NativeReader.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/NibbleReader.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunHeader.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunMethod.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/RiscV64/UnwindInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/GcInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/GcSlotTable.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/InfoHdr.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/NoGcRegionTable.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/UnwindInfo.cs
  src/coreclr/tools/r2rdump/TextDumper.cs
Labels: area-R2RDump-coreclr

#117105 Add CreateNewProcessGroup to ProcessStartInfo
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.ProcessOptions.cs
  src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Unix.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Windows.cs
  src/libraries/System.Diagnostics.Process/tests/Interop.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Unix.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.Windows.cs
  src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs
  src/libraries/System.Diagnostics.Process/tests/System.Diagnostics.Process.Tests.csproj
Labels: area-System.Diagnostics.Process

#117474 Fix using right configuration provider order when getting configuration value
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.cs
  src/libraries/Microsoft.Extensions.Configuration/src/InternalConfigurationRootExtensions.cs
Labels: area-Extensions-Configuration

#117485 JIT: Fix isEmbeddedMaskingCompatible logic
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr, community-contribution

#116769 Scaffolding for CoreCLR interpreter intrinsics
  src/coreclr/interpreter/CMakeLists.txt
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/eeinterp.cpp
  src/coreclr/interpreter/interpconfigvalues.h
  src/coreclr/interpreter/intops.def
  src/coreclr/interpreter/intrinsics.cpp
  src/coreclr/interpreter/intrinsics.h
  src/coreclr/vm/interpexec.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#117346 [NativeAOT] Split `ExternSymbolNode` into two types for data and functions
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternEETypeSymbolNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternMethodSymbolNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternSymbolNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternSymbolsImportedNodeProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericLookupResult.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/RuntimeImportMethodNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_LoongArch64/LoongArch64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X86/X86ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
Labels: community-contribution, area-NativeAOT-coreclr

#116031 Walk compressed IL -> Native map for EventTrace and stacktrace symbolication scenarios
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/dacdbiimpl.h
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/debug/ee/functioninfo.cpp
  src/coreclr/inc/clrtypes.h
  src/coreclr/inc/nibblestream.h
  src/coreclr/inc/readytorun.h
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/nativeaot/Runtime/inc/ModuleHeaders.h
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DebugInfoTableNode.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/DebugInfo.cs
  src/coreclr/tools/r2rdump/Extensions.cs
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/dbginterface.h
  src/coreclr/vm/debugdebugger.cpp
  src/coreclr/vm/debugdebugger.h
  src/coreclr/vm/debuginfostore.cpp
  src/coreclr/vm/debuginfostore.h
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/util.cpp
Labels: area-Diagnostics-coreclr

#117479 Ensure proper InterpThreadContext initialization
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
Labels: area-CodeGen-Interpreter-coreclr

#117481 JIT: Tolerate underflow when reducing flow into ex-successor of folded condition
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#117336 [mono][interp] Always sign extend small integers to native integer when returning to compiled code
  src/mono/mono/mini/interp/interp.c
Labels: area-Codegen-Interpreter-mono

#117323 Documentation consistency for PQC types
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsa.cs
Labels: area-System.Security

#117466 Enable DOTNET_ThreadGuardPages opt-in config setting on 32-bit
  src/coreclr/vm/threads.cpp
Labels: area-VM-coreclr

#117512 JIT: Enable more containment optimizations in Tier0
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#117513 Use python from the emsdk package when building browser target
  eng/Versions.props
  eng/native/gen-buildsys.cmd
  src/coreclr/runtime.proj
  src/mono/mono.proj
  src/native/libs/build-native.proj
Labels: area-Build-mono

#115443 [mono][interp] implement interp bitcast intrinsics
  src/libraries/System.Private.CoreLib/src/System/Numerics/Plane.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.Numerics.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
  src/tests/JIT/HardwareIntrinsics/General/Vector128_1/Program.Vector128_1.cs
  src/tests/JIT/HardwareIntrinsics/General/Vector256_1/Program.Vector256_1.cs
  src/tests/issues.targets
Labels: area-Codegen-Interpreter-mono

#117503 Fix handling of top-level nullable type schema generation.
  src/libraries/System.Text.Json/src/System/Text/Json/Schema/JsonSchemaExporter.cs
  src/libraries/System.Text.Json/tests/Common/JsonSchemaExporterTests.TestTypes.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/JsonSchemaExporterTests.cs
Labels: area-System.Text.Json

#117472 Remove dependency on System.Security.Cryptography.Native.OpenSsl in QUIC
  src/libraries/Common/src/System/Net/Security/CertificateValidation.OSX.cs
  src/libraries/System.Net.Quic/src/System.Net.Quic.csproj
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#116652 Do not return from CTRL_SHUTDOWN_EVENT
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/ConsoleLifetime.netcoreapp.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/ConsoleLifetimeExitTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/Microsoft.Extensions.Hosting.Unit.Tests.csproj
Labels: area-Extensions-Hosting

#117526 Fix installing developer certificate in wasm Helix runs
  src/libraries/sendtohelixhelp.proj
Labels: needs-area-label

#117523 Add acquire barrier to populate bit reading
  src/coreclr/vm/method.hpp
Labels: area-Interop-coreclr

#117414 ML-DSA Sign/VerifyPreHash
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EvpPkey.MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/Helpers.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaCng.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsa.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsData.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaContractTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/HashInfo.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Cng.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Helpers.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaImplementation.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaOpenSsl.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaOpenSsl.OpenSsl.cs
  src/libraries/System.Security.Cryptography/tests/MLDsaOpenSslTests.Unix.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/native/libs/System.Security.Cryptography.Native/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_ml_dsa.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_ml_dsa.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_raw_signverify.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_raw_signverify.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_slh_dsa.c
Labels: area-System.Security

#117517 adding GetDomainFromContext cDAC API
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#117551 Protect against ODE when accessing configuration providers
  src/libraries/Microsoft.Extensions.Configuration/src/InternalConfigurationRootExtensions.cs
Labels: area-Extensions-Configuration

#117286 Adding proper exiting and cleanup logic for singlefile createdump
  src/coreclr/pal/src/thread/process.cpp
Labels: needs-area-label

#117462 Fix illumos compile error in coreclr/vm/appdomain.hpp
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/vm/appdomain.hpp
Labels: community-contribution, needs-area-label

#117463 Fix illumos compile error in coreclr/runtime/amd64/AllocFast.S
  src/coreclr/runtime/amd64/AllocFast.S
Labels: area-VM-coreclr, community-contribution

#117330 Use `$NOCANCEL` variants of APIs on apple platforms
  eng/native/configurecompiler.cmake
  src/coreclr/pal/src/misc/perfjitdump.cpp
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs
  src/mono/mono/sgen/sgen-protocol.c
  src/native/eventpipe/ds-ipc-pal-socket.c
  src/native/libs/System.IO.Ports.Native/pal_serial.c
  src/native/libs/System.Native/pal_io.c
Labels: area-PAL-coreclr, community-contribution

#117530 Fix parsing trace parent in W3CPropagator
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/W3CPropagator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/W3CPropagatorTests.cs
Labels: area-System.Diagnostics.Activity

#117417 Fix compiler warning for unreachable code in PAL network interfaces
  src/native/libs/System.Native/pal_networkchange.c
Labels: area-System.Net, community-contribution

#116354 Make ETW rundown operate more effectively with JIT
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/fntableaccess.cpp
  src/coreclr/debug/daccess/fntableaccess.h
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/contract.inl
  src/coreclr/inc/crsttypes_generated.h
  src/coreclr/inc/pedecoder.h
  src/coreclr/inc/utilcode.h
  src/coreclr/utilcode/pedecoder.cpp
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/class.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/crst.cpp
  src/coreclr/vm/crst.h
  src/coreclr/vm/dynamicmethod.cpp
  src/coreclr/vm/dynamicmethod.h
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/finalizerthread.cpp
  src/coreclr/vm/finalizerthread.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/perfmap.cpp
  src/coreclr/vm/profilingenumerators.cpp
  src/coreclr/vm/runtimecallablewrapper.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/specialstatics.h
  src/coreclr/vm/syncblk.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: tenet-performance, area-VM-coreclr

#109648 [release/8.0-staging] Fix few RandomAccess.Write edge case bugs
  src/libraries/System.IO.FileSystem/tests/RandomAccess/WriteGatherAsync.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/RandomAccess.Windows.cs
  src/native/libs/System.Native/pal_io.c
Labels: Servicing-approved, area-System.IO

#117314 Support moving continuations to `SynchronizationContext`/`TaskScheduler`
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncHelpers.CoreCLR.cs
  src/coreclr/inc/corinfo.h
  src/coreclr/jit/async.cpp
  src/coreclr/jit/async.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.def
  src/coreclr/vm/corelib.h
  src/coreclr/vm/jitinterface.cpp
  src/tests/async/synchronization-context/synchronization-context.cs
  src/tests/async/synchronization-context/synchronization-context.csproj
Labels: area-CodeGen-coreclr, runtime-async

#117600 Revert "Disable `System.Runtime.InteropServices.JavaScript.Tests` on Windows"
  src/libraries/tests.proj
Labels: needs-area-label

#117618 JIT: Don't move EH entry block to enable branch reversal during flow opts
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#117543 [8.0] Revert an earlier change to improve distribute free regions.
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: Servicing-approved, area-GC-coreclr

#117531 Increase cost of ARR_LENGTH node to match IND(ADD(..,CNS))
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#117572 Add support for some more simd folding to improve the new IndexOf and related helpers
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr

#117562 JIT: Allow containment of CnsVec under GetElement node with non-const index
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#117596 Address COM interop case involving legacy `wCode` usage.
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ComInterop/ExcepInfo.cs
  src/tests/Interop/COM/NETClients/IDispatch/Program.cs
  src/tests/Interop/COM/NETServer/DispatchTesting.cs
  src/tests/Interop/COM/NativeServer/DispatchTesting.h
  src/tests/Interop/COM/ServerContracts/Server.Contracts.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.h
Labels: area-System.Dynamic.Runtime

#116581 [RISC-V] Conditional simple operations
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/ifconversion.cpp
  src/tests/JIT/opt/Compares/conditionalSimpleOps.cs
  src/tests/JIT/opt/Compares/conditionalSimpleOps.csproj
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#117588 [NativeAOT] Fix floating pointer register unwinding
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.cpp
Labels: area-NativeAOT-coreclr

#117650 [Android] Disable Android CoreCLR emulator tests due to capacity issues
  src/libraries/tests.proj
Labels: area-Infrastructure-coreclr, os-android

#117263 [clr-interp] Implement intrinsics for startup path
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/intops.def
  src/coreclr/interpreter/intrinsics.cpp
  src/coreclr/interpreter/intrinsics.h
  src/coreclr/vm/interpexec.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#117435 [EventPipe] End user_events session upon continuation_stream closure
  src/native/eventpipe/ds-eventpipe-protocol.c
  src/native/eventpipe/ds-ipc-pal-namedpipe.c
  src/native/eventpipe/ds-ipc-pal-socket.c
  src/native/eventpipe/ds-ipc-pal-types.h
  src/native/eventpipe/ds-ipc-pal-websocket.c
  src/native/eventpipe/ds-ipc-pal.h
  src/native/eventpipe/ds-ipc.c
  src/native/eventpipe/ep-ipc-pal-types.h
  src/native/eventpipe/ep-ipc-stream.h
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-session.h
  src/native/eventpipe/ep-stream.c
Labels: area-Tracing-coreclr

#117574 [RuntimeAsync] Make JitOptimizeAwait not a release switch.
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jitconfigvalues.h
Labels: area-VM-coreclr, runtime-async

#117627 [mono] Fix crash while debugging AOT'ed app.
  src/mono/mono/component/debugger-agent.c
Labels: area-Debugger-mono

#117522 Avoid reporting incorrect thread context to Watson
  src/coreclr/vm/excep.cpp
Labels: area-Diagnostics-coreclr

#117533 adding GetPendingReJITID cDAC API
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#117452 GetAssemblyModuleList cDAC implementation
  docs/design/datacontracts/CodeVersions.md
  docs/design/datacontracts/Loader.md
  docs/design/datacontracts/RuntimeTypeSystem.md
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/CodeVersions_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Loader_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataModule.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SigFormat.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/TypeNameBuilder.cs
  src/native/managed/cdac/tests/CodeVersionsTests.cs
  src/native/managed/cdac/tests/LoaderTests.cs
Labels: area-Diagnostics-coreclr

#117626 Use python from package in mono AOT cross build as well on browser/wasm
  src/mono/mono.proj
  src/mono/mono/mini/CMakeLists.txt
Labels: area-Build-mono

#117632 Correctly restore floating point context on x86 interop step-in scenarios
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/di/process.cpp
  src/coreclr/debug/di/rsthread.cpp
  src/coreclr/debug/inc/dbgtargetcontext.h
Labels: area-Diagnostics-coreclr

#117465 Stop building System.Security.Cryptography.Native.OpenSsl on macOS
  docs/workflow/requirements/macos-requirements.md
  eng/native/build-commons.sh
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/native/corehost/apphost/static/CMakeLists.txt
  src/native/corehost/build.sh
  src/native/corehost/hostpolicy/hostpolicy_context.cpp
  src/native/libs/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native/CMakeLists.txt
  src/native/libs/build-native.sh
Labels: area-Infrastructure-libraries

#117661 Fix interpreter passing managed "this" in presence of return buffer
  src/coreclr/vm/callstubgenerator.cpp
Labels: area-CodeGen-Interpreter-coreclr

#117673 Carry ExtractMostSignificantBits through to LIR and add constant folding support
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/rationalize.h
  src/coreclr/jit/simd.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#117668 [clr-interp] Add support for Vector64 and Vector128 return/argument types in interpreter stubs
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/callstubgenerator.cpp
  src/coreclr/vm/callstubgenerator.h
Labels: area-CodeGen-Interpreter-coreclr

#117713 [Android] Enable `System.Runtime.Loader` tests on CoreCLR Android
  src/libraries/System.Runtime.Loader/tests/LoaderLinkTest.cs
  src/libraries/System.Runtime.Loader/tests/SatelliteAssemblies.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-coreclr, os-android

#117675 Fix passing class handle to RuntimeTypeHandle.GetRuntimeTypeFromHandle for synchronized methods
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/tests/JIT/Regression/JitBlue/Runtime_117566/Runtime_117566.cs
  src/tests/JIT/Regression/JitBlue/Runtime_117566/Runtime_117566.csproj
Labels: area-CodeGen-coreclr

#117721 Maintain DAC field offsets in EECodeGenManager
  src/coreclr/vm/codeman.h
Labels: area-Diagnostics-coreclr

#117423 JIT: Store unique switch successors in `BBswtDesc`
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/async.cpp
  src/coreclr/jit/block.cpp
  src/coreclr/jit/block.h
  src/coreclr/jit/clrjit.natvis
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/switchrecognition.cpp
Labels: area-CodeGen-coreclr

#114105 Fix llvm-libunwind context sizes
  src/native/external/llvm-libunwind/include/__libunwind_config.h
Labels: community-contribution, area-NativeAOT-coreclr

#117685 Move MethodContextReader to use the minipal mutex
  src/coreclr/tools/superpmi/superpmi-shared/methodcontextreader.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontextreader.h
Labels: area-CodeGen-coreclr

#117691 Fix NativeAOT COM custom query interface exception handling
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
Labels: area-ExceptionHandling-coreclr

#117613 Support HashML-DSA on Windows
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptSignHash.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptVerifySignature.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaCng.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsData.cs
  src/libraries/Common/tests/System/Security/Cryptography/HashInfo.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/Resources/Strings.resx
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/HashAlgorithmNames.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
Labels: area-System.Security

#117708 Drop usage of `.All` on `DefaultValueAttribute`
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Suppressions.LibraryBuild.xml
  src/libraries/System.Private.CoreLib/src/System/ComponentModel/DefaultValueAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/apicompat/ApiCompatBaseline.NetCoreAppLatestStable.xml
Labels: area-System.ComponentModel, linkable-framework

#117687 Bump ML-KEM test vectors
  src/libraries/Common/tests/System/Security/Cryptography/MLKemBaseTests.cs
Labels: area-System.Security, test-enhancement

#113069 Assert pointer relocs are aligned
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayOfFrozenObjectsNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ObjectWriter.cs
Labels: area-NativeAOT-coreclr

#117710 [Android] Reenable SocketsHttpHandlerTest.LargeHeaders_TrickledOverTime_ProcessedEfficiently on 64-bit Android
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, os-android

#117487 update R2R NativeFormat docs
  docs/design/coreclr/botr/readytorun-format.md
Labels: documentation

#117428 Client-side TLS 1.3 support on OSX
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/libraries/Common/src/Interop/OSX/Interop.Libraries.cs
  src/libraries/Common/src/Interop/OSX/Interop.NetworkFramework.Tls.cs
  src/libraries/Common/src/Interop/OSX/Interop.NetworkFramework.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.OSStatus.cs
  src/libraries/Common/src/System/Net/ReadWriteAdapter.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/Common/tests/TestUtilities/TestEventListener.cs
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/CertificateValidationPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Managed/SslProtocolsValidation.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteNwContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslConnectionInfo.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.IO.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.OSX.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Unix.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/LoggingTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamConformanceTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamDisposeTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNegotiatedCipherSuiteTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/mono/msbuild/apple/build/AppleBuild.targets
  src/native/libs/System.Security.Cryptography.Native.Apple/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native.Apple/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native.Apple/extra_libs.cmake
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_networkframework.h
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_networkframework.m
  src/tasks/AppleAppBuilder/Templates/CMakeLists-librarymode.txt.template
  src/tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
  src/tasks/LibraryBuilder/Templates/CMakeLists.txt.template
Labels: area-System.Net.Security

#117747 [browser] Migrate WebAssemblyHotReloadCapabilities from Blazor to WasmSDK
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
Labels: arch-wasm, area-Build-mono, os-browser

#117756 [HTTP] WinHTTP fix exception
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/Resources/Strings.resx
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpCookieContainerAdapter.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
Labels: area-System.Net.Http

#117741 Change Key on MLDsaCng to GetKey method
  src/libraries/Common/src/System/Security/Cryptography/MLDsaCng.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaCng.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaCngTests.Windows.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Cng.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificatePal.Windows.PrivateKey.cs
Labels: area-System.Security

#117765 Skip optimization in getHelperFtn if NativeCodeVersion is null
  src/coreclr/vm/jitinterface.cpp
Labels: area-TieredCompilation-coreclr, area-VM-coreclr

#117655 Default Http3Support to false for PublishTrimmed
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/ResponseStreamZeroByteReadTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
  src/tools/illink/src/ILLink.Tasks/build/Microsoft.NET.ILLink.targets
Labels: breaking-change, linkable-framework, needs-breaking-change-doc-created, area-NativeAOT-coreclr

#117707 Drop usage of `.All` in Microsoft.Extensions
  src/libraries/Microsoft.Extensions.Configuration.Binder/ref/Microsoft.Extensions.Configuration.Binder.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/ref/Microsoft.Extensions.Logging.Configuration.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/LoggerProviderConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Configuration/src/LoggerProviderConfigureOptions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/ref/Microsoft.Extensions.Logging.Console.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/ref/Microsoft.Extensions.Options.ConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/CompatibilitySuppressions.xml
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/ConfigureFromConfigurationOptions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/NamedConfigureFromConfigurationOptions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/OptionsBuilderConfigurationExtensions.cs
  src/libraries/Microsoft.Extensions.Options.ConfigurationExtensions/src/OptionsConfigurationServiceCollectionExtensions.cs
Labels: area-Meta, breaking-change, linkable-framework, needs-breaking-change-doc-created

#117350 Improve gtDispConst for CNS_STR
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importervectorization.cpp
Labels: area-CodeGen-coreclr

#117749 Ignore always-true relops in optRelopTryInferWithOneEqualOperand
  src/coreclr/jit/redundantbranchopts.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_116159/Runtime_116159.cs
  src/tests/JIT/Regression/JitBlue/Runtime_116159/Runtime_116159.csproj
Labels: area-CodeGen-coreclr

#117537 Make it possible to order methods by specifying symbolic names
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/FileLayoutOptimizer.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilation.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Main.cs
  src/tests/nativeaot/SmokeTests/UnitTests/Ordering.cs
  src/tests/nativeaot/SmokeTests/UnitTests/UnitTests.csproj
  src/tests/nativeaot/SmokeTests/UnitTests/order.txt
Labels: area-NativeAOT-coreclr

#117801 Clear contained flag from AND->NOT transformation
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_116657/Runtime_116657.cs
  src/tests/JIT/Regression/JitBlue/Runtime_116657/Runtime_116657.csproj
Labels: area-CodeGen-coreclr

#117411 Fold generic method bodies by default
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/CompilationBuilder.Aot.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectDataInterner.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/RyuJitCompilationBuilder.cs
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
  src/coreclr/tools/aot/ILCompiler/Program.cs
Labels: area-NativeAOT-coreclr

#117458 [HTTP] H/3 fix test closing server connection prematurely
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
Labels: area-System.Net.Http

#117799 Report unhandled async exceptions
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/tests/baseservices/exceptions/unhandled/unhandled.cs
  src/tests/baseservices/exceptions/unhandled/unhandledTester.cs
Labels: area-ExceptionHandling-coreclr

#117767 [Android] Expand smoke tests for CoreCLR Android
  src/libraries/Microsoft.VisualBasic.Core/tests/ErrObjectTests.cs
  src/libraries/System.Configuration.ConfigurationManager/tests/Mono/ConfigurationManagerTest.cs
  src/libraries/System.Diagnostics.StackTrace/tests/StackTraceSymbolsTests.cs
  src/libraries/System.IO.Pipelines/tests/PipeWriterTests.cs
  src/libraries/System.Runtime/tests/System.Reflection.Tests/AssemblyTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/ExceptionTests.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-coreclr, os-android

#117803 [browser] Clean up HotReload check
  src/mono/browser/runtime/loader/config.ts
Labels: arch-wasm, area-Build-mono, os-browser

#117653 Remove IsWatchOS checks for consistency
  src/libraries/Common/src/Interop/Unix/Interop.Odbc.cs
  src/libraries/Common/src/System/IO/PathInternal.CaseSensitivity.cs
  src/libraries/System.Net.Ping/tests/FunctionalTests/PingTest.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Interop/msquic.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Unix.cs
  src/libraries/System.Runtime/tests/System.Runtime.Extensions.Tests/System/OperatingSystemTests.cs
  src/tests/Common/CoreCLRTestLibrary/PlatformDetection.cs
  src/tests/Common/XHarnessRunnerLibrary/RunnerEntryPoint.cs
Labels: area-Infrastructure-mono, os-ios

#117540 [HTTP Telemetry] Prioritize Host header when emitting `server.address`
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.AnyMobile.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpUtilities.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/MetricsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/ConnectionSetupDistributedTracing.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/HttpConnectionPool.Http3.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectionPool/HttpConnectionPool.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpUtilities.SocketsHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Metrics/SocketsHttpHandlerMetrics.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http
