Repository dotnet/runtime, pull requests merged in 2025-08, with the labels that each got.

#118245 Fix size calculation for derived explicit layout types with no fields
  src/coreclr/vm/classlayoutinfo.cpp
  src/tests/JIT/Methodical/structs/ExplicitLayout.cs
Labels: area-VM-coreclr

#118235 Disable AdvSimd_ro test on native AOT
  src/tests/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_r.csproj
  src/tests/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_ro.csproj
Labels: area-CodeGen-coreclr

#118027 Check return types in isCompatibleMethodGDV
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr

#118258 Simplify pragma suppressions in generated regex code
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.cs
Labels: area-System.Text.RegularExpressions

#118272 [wasm][bench] Fix startup templates build
  src/mono/sample/wasm/blazor-frame/blazor-frame.diff
  src/mono/sample/wasm/browser-bench/README.md
  src/mono/sample/wasm/browser-frame/browser-frame.diff
Labels: area-Infrastructure-mono

#118271 [wasm] Fix sharing of wbarrier card between los object and wbarrier roots
  src/mono/mono/sgen/sgen-los.c
Labels: area-GC-mono

#118187 Adding GetThreadFromThinlockID cDAC API
  docs/design/datacontracts/Thread.md
  src/coreclr/debug/runtimeinfo/datadescriptor.inc
  src/coreclr/vm/threads.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IThread.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Thread_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/IdDispenser.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#118294 [EventPipe][User_events] Add MetadataID and ProviderName to metadata bytes
  src/native/eventpipe/ep-session.c
Labels: area-Tracing-coreclr

#118259 Standardize netfx test helper for pem encoding
  src/libraries/Common/tests/System/Security/Cryptography/ByteUtils.cs
Labels: area-System.Security

#118304 Move a couple of WASM threading files to the shared partition
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.Browser.Threads.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.Browser.Threads.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPool.Wasi.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolBoundHandle.Browser.Threads.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/TimerQueue.Wasi.cs
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: arch-wasm, area-System.Threading, community-contribution

#118307 Fix: Assert failure: Thread::IsObjRefValid
  src/coreclr/vm/callsiteinspect.cpp
  src/coreclr/vm/clrtocomcall.cpp
  src/coreclr/vm/comtoclrcall.cpp
  src/coreclr/vm/eedbginterfaceimpl.cpp
  src/coreclr/vm/field.h
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/reflectioninvocation.cpp
Labels: area-VM-coreclr

#118311 Regenerate reference assembly for System.Runtime.Serialization.Xml
  src/libraries/System.Runtime.Serialization.Xml/ref/System.Runtime.Serialization.Xml.cs
Labels: area-Serialization

#117196 [RISC-V] Use auipc for code addresses in INS_OPTS_C
  src/coreclr/inc/utilcode.h
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.h
  src/coreclr/utilcode/util.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#117991 Updating LSRA to prevent eGPR use as GC tracked regs.
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
Labels: area-CodeGen-coreclr, community-contribution

#118323 [browser][WBT] Remove MT signalR tests
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/wasm/Wasm.Build.Tests/AspNetCore/SignalRClientTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/SignalRClientTests.cs
  src/mono/wasm/Wasm.Build.Tests/SignalRTestsBase.cs
Labels: arch-wasm, area-VM-threading-mono

#117967 [RISC-V] Add pseudo instruction `not` and replace `xori` when immediate is -1
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/instrsriscv64.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#118339 [QUIC] Do async validation only from > 2.4, i.e. 2.4.1+
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicApi.cs
Labels: area-System.Net.Quic

#118248 Rename SecretKey to PrivateKey for ML-DSA
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaCng.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.CreateCng.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaPkcs8.cs
  src/libraries/Common/src/System/Security/Cryptography/X509Certificates/CertificateHelpers.Windows.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaCngTests.Windows.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaImplementationTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestHelpers.Cng.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsData.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.Shared.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.Cose/tests/TestKeyRing.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Cng.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaImplementation.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaOpenSsl.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaOpenSsl.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaOpenSsl.cs
  src/libraries/System.Security.Cryptography/tests/MLDsaOpenSslTests.Unix.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ExportTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxTests.cs
Labels: area-System.Security, breaking-change

#116715 Update framework-design-guidelines-digest.md
  docs/coding-guidelines/framework-design-guidelines-digest.md
Labels: area-Meta, community-contribution

#118335 Use `nint` for native-sized integers in `Marshal`
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
Labels: area-System.Runtime.InteropServices, community-contribution

#118232 EC-DSA Composite ML-DSA for net8+
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsaManaged.ECDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsaManaged.RSA.cs
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsaManaged.cs
  src/libraries/Common/src/System/Security/Cryptography/EccKeyFormatHelper.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaFactoryTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestsBase.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/EccKeyFormatHelper.cs
Labels: area-System.Security

#118354 Fix thread abort issue with funceval
  src/coreclr/vm/threadsuspend.cpp
Labels: area-ExceptionHandling-coreclr

#118336 Use `nint` for native-sized integers in `Interlocked`
  src/libraries/System.Private.CoreLib/src/System/Threading/Interlocked.cs
Labels: area-System.Threading, community-contribution

#118360 Use `nint` for native-sized integers in `Volatile`
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Volatile.cs
Labels: area-System.Threading, community-contribution

#118362 Use minipal_hires_ticks() as random seed
  src/coreclr/nativeaot/Runtime/thread.cpp
Labels: area-NativeAOT-coreclr

#118343 [Android] Update ActiveIssue references for Android in MutexTests
  src/libraries/System.Threading/tests/MutexTests.cs
  src/libraries/tests.proj
Labels: area-Infrastructure-coreclr, os-android

#118357 Always tamper the signature in the data area
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
Labels: area-System.Security, test-enhancement

#118269 [Apple mobile] Disable iOS.Simulator.LibraryMode.Test on simulator
  src/libraries/tests.proj
Labels: area-Infrastructure-mono, os-ios

#118373 Fix perf bug in RegexCompiler when handling .*?
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCompiler.cs
Labels: area-System.Text.RegularExpressions

#118392 [QUIC] Disable timing out test on OSX
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
Labels: area-System.Net.Quic

#118345 JIT: Remove redundant normalizing casts when passing and returning structs
  src/coreclr/jit/lower.cpp
Labels: needs-area-label

#118285 Handle 'lib' variants in ModuleNameVariations to generate DirectPInvokes
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/coreclr/tools/aot/ILCompiler/ConfigurablePInvokePolicy.cs
Labels: area-NativeAOT-coreclr

#117768 JIT: Fix ARM64 emitter tests
  src/coreclr/jit/codegenarm64test.cpp
Labels: area-CodeGen-coreclr

#118355 [wasm][AOT] fix codegen for small structs on stack
  src/mono/mono/mini/mini-wasm.c
Labels: arch-wasm, area-Codegen-AOT-mono, wasm-aot-test

#118273 Remove some uses of dynamic from HardwareIntrinsic test code
  src/tests/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_r.csproj
  src/tests/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_ro.csproj
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
Labels: area-System.Runtime.Intrinsics, community-contribution

#118402 Replace `native sized` -> `native-sized`
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CLong.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CULong.cs
  src/mono/mono/mini/mini-arm.c
  src/mono/mono/mini/mini-s390x.c
  src/mono/mono/mini/mini.c
Labels: community-contribution, needs-area-label

#118277 Increase default stack guard on x86 Windows
  src/coreclr/vm/threads.cpp
Labels: area-VM-coreclr

#118403 [Socket] Fix expected exception type
  src/libraries/System.Net.Sockets/tests/FunctionalTests/DisconnectTest.cs
Labels: area-System.Net.Sockets

#118338 Remove unsigned implementation of ShiftRightArithmeticNarrowingSaturateEven/Odd
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/Arm/Sve2Tests.cs
Labels: area-System.Runtime.Intrinsics, community-contribution

#118439 [RISC-V] Restore temp register in switch table codegen
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/lsrariscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution

#118329 Disable some TimeZoneInfoTests on Android
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/TimeZoneInfoTests.cs
Labels: area-System.Globalization, os-android

#118441 Fix conditional usage of `OrderedDictionary.TryGetValue`
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
Labels: area-System.Text.Json, community-contribution

#118449 Remove further uses of dynamic from HardwareIntrinsic test code
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
Labels: area-CodeGen-coreclr, community-contribution, arm-sve

#118414 Use module as ID for debugger module cache instead of domain assembly
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/daccess/dacdbiimpl.h
  src/coreclr/debug/di/module.cpp
  src/coreclr/debug/di/process.cpp
  src/coreclr/debug/di/rsappdomain.cpp
  src/coreclr/debug/inc/dacdbiinterface.h
Labels: area-Diagnostics-coreclr

#118461 JIT: create inferred GDVs for enumerator var uses that lack PGO
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr

#118181 Remove unnecessary length check in Guid parsing
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
Labels: area-System.Text.Json

#118477 Fix interpreter helper and stack size computation
  src/coreclr/vm/callstubgenerator.cpp
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118465 Allow MethodDesc::GetILHeader to work correctly under rejit scenarios
  src/coreclr/vm/method.cpp
Labels: area-Diagnostics-coreclr

#108750 JIT: Refine assert for RMW check in crc32 and hw intrinsic codegen
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
Labels: area-CodeGen-coreclr

#118470 Fix static virtual methods for delegate creation
  src/coreclr/inc/vptr_list.h
  src/coreclr/vm/peimagelayout.h
  src/coreclr/vm/zapsig.cpp
  src/tests/issues.targets
Labels: area-VM-coreclr

#118406 [clr-interp] Intrinic handling for Delegate Invoke methods
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/wasm/helpers.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118370 Diagnostic changes to R2R for issues #106675 and #108255
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/PEReaderExtensions.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/ReadyToRunReader.cs
Labels: area-crossgen2-coreclr

#118497 [clr-interp] Fix issues found in the startup path with the interpreter
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/interpexec.cpp
Labels: area-VM-coreclr

#118500 Eliminate NextCallReturnAddress call followed by CEE_POP
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/intrinsics.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118509 Remove mentions of long removed function.
  src/coreclr/utilcode/utsem.cpp
  src/coreclr/vm/crst.h
Labels: area-VM-coreclr

#118511 [clr-interp] Fix INTOP_CGT_UN_I8
  src/coreclr/vm/interpexec.cpp
Labels: area-Interop-coreclr

#118368 JIT: postorder local assertion prop for fieldwise block op indirs
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr

#118524 SPMI: Assert map exists in `repGetCookieForPInvokeCalliSig`
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
Labels: needs-area-label

#118543 [cDAC] Change pointer data to be compile-time constant
  docs/design/datacontracts/StressLog.md
  src/coreclr/clrdatadescriptors.cmake
  src/coreclr/debug/datadescriptor-shared/contract-descriptor.c.in
  src/coreclr/debug/datadescriptor-shared/contractdescriptorstub.c
  src/coreclr/debug/datadescriptor-shared/contractpointerdata.cpp
  src/coreclr/inc/stresslog.h
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StressLog.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/StressLog.cs
  src/tools/StressLogAnalyzer/src/Program.cs
Labels: enhancement, area-Diagnostics-coreclr

#118545 Update Microsoft.Bcl.Cryptography nuget package text
  src/libraries/Microsoft.Bcl.Cryptography/src/PACKAGE.md
Labels: area-System.Security

#118299 Add _UseNativeLibPrefix option for publishing a NativeAOT shared library on Unix
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#118188 Add ExtensionMarkerAttribute
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ExtensionMarkerAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Runtime/CompilerServices/AttributesTests.cs
Labels: area-System.Runtime.CompilerServices

#118289 [RyuJit] Mark some well-known indirs with some flags
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/indirectcalltransformer.cpp
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#118513 Use StrategyBasedComWrappers for all IError* interfaces in OleDb
  src/libraries/System.Data.OleDb/src/DbPropSet.cs
  src/libraries/System.Data.OleDb/src/OleDbComWrappers.cs
  src/libraries/System.Data.OleDb/src/OleDbConnection.cs
  src/libraries/System.Data.OleDb/src/OleDbError.cs
  src/libraries/System.Data.OleDb/src/System.Data.OleDb.csproj
  src/libraries/System.Data.OleDb/src/UnsafeNativeMethods.COMWrappers.cs
  src/libraries/System.Data.OleDb/src/UnsafeNativeMethods.cs
Labels: area-System.Data.OleDB

#118584 [clr-interp] Change size type from `size_t` to `uint32_t` in `INTOP_CPBLK`
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118037 Add NativeAOT on Android test
  eng/pipelines/extra-platforms/runtime-extra-platforms-android.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-androidemulator.yml
  eng/testing/tests.android.targets
  eng/testing/tests.singlefile.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.SingleEntry.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/Runtime/interoplibinterface_java.cpp
  src/coreclr/tools/aot/ILCompiler.Build.Tasks/ComputeManagedAssembliesToCompileToNative.cs
  src/libraries/tests.proj
  src/mono/msbuild/android/build/AndroidBuild.props
  src/mono/msbuild/android/build/AndroidBuild.targets
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/AndroidAppBuilder/Templates/MonoRunner.java
  src/tasks/AndroidAppBuilder/Templates/monodroid-nativeaot.cs
  src/tasks/MobileBuildTasks/Android/AndroidProject.cs
  src/tests/FunctionalTests/Android/Device_Emulator/NativeAOT/Android.Device_Emulator.NativeAOT.Test.csproj
  src/tests/FunctionalTests/Android/Device_Emulator/NativeAOT/Program.cs
Labels: os-android, area-Infrastructure-mono, area-NativeAOT-coreclr

#118572 [browser] Hard fingerprint user JavaScript files in `wasmbrowser` template
  src/mono/wasm/templates/templates/browser/browser.0.csproj
Labels: arch-wasm, area-Build-mono, os-browser

#115131 [cDAC] Implement IXCLRDataProcess.EnumMethodInstancesByAddress
  docs/design/datacontracts/CodeVersions.md
  docs/design/datacontracts/Loader.md
  docs/design/datacontracts/RuntimeTypeSystem.md
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/vm/class.h
  src/coreclr/vm/dacenumerablehash.h
  src/coreclr/vm/datadescriptor/contracts.jsonc
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/coreclr/vm/instmethhash.h
  src/coreclr/vm/typehash.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/Extensions/ICodeVersionsExtensions.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ICodeVersions.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Target.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/CodeVersions_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Loader_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/DacEnumerableHash.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/EEClass.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/EETypeHashTable.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/InstMethodHashTable.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/MethodDescChunk.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/Module.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/RuntimeTypeSystemHelpers/MethodDescFlags_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader/CachingContractRegistry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader/ContractDescriptorTarget.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataMethodInstance.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataModule.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/IXCLRData.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.IXCLRDataProcess.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.MethodDescriptors.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.cs
  src/native/managed/cdac/tests/TestPlaceholderTarget.cs
Labels: area-Diagnostics-coreclr

#118495 Cache the `AssemblyQualifiedName` property value
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/vm/typestring.cpp
  src/coreclr/vm/typestring.h
  src/libraries/System.Private.CoreLib/src/System/RuntimeType.cs
  src/libraries/System.Runtime/tests/System.Reflection.Tests/TypeInfoTests.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
Labels: area-System.Reflection

#118605 Fix benchmarksgame tests to be able to resolve the embedded resources
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/k-nucleotide/harness-helpers.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/k-nucleotide/k-nucleotide-1.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/k-nucleotide/k-nucleotide-9.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/regex-redux/harness-helpers.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/regex-redux/regex-redux-1.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/regex-redux/regex-redux-5.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/reverse-complement/harness-helpers.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/reverse-complement/reverse-complement-1.cs
  src/tests/JIT/Performance/CodeQuality/BenchmarksGame/reverse-complement/reverse-complement-6.cs
Labels: area-CodeGen-coreclr

#118479 Ensure we track MakeGenericType
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/HandleCallAction.cs
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT-coreclr

#118436 Fix up ComplexHierarchyPositive test output
  src/tests/Loader/classloader/StaticVirtualMethods/InterfaceVariance/ComplexHierarchyPositive.cs
Labels: needs-area-label

#118622 Put different arches in different yml for NativeAOT Android pipelines
  eng/pipelines/extra-platforms/runtime-extra-platforms-android.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-androidemulator.yml
Labels: area-Infrastructure

#118411 Adding GetThreadStaticBaseAddress cDAC API
  docs/design/datacontracts/RuntimeTypeSystem.md
  docs/design/datacontracts/Thread.md
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadstatics.cpp
  src/coreclr/vm/threadstatics.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IThread.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Thread_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/InflightTLSData.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/TLSIndex.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/Thread.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ThreadLocalData.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ThreadStaticsInfo.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.cs
Labels: area-Diagnostics-coreclr

#118507 Serialization reenable tests
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.RuntimeOnly.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
  src/libraries/System.Runtime.Serialization.Schema/tests/System/Runtime/Serialization/Schema/RoundTripTest.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializerStressTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XmlDictionaryWriterTest.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterApiTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterTypesTests.cs
Labels: area-Serialization

#118633 Flip logic for enabling VXSort in the GC
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Windows.targets
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
Labels: area-NativeAOT-coreclr

#118655 Avoid some `Unsafe.As`
  src/libraries/System.Private.CoreLib/src/System/Memory.cs
  src/libraries/System.Private.CoreLib/src/System/ReadOnlyMemory.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/Strings/Helpers/AhoCorasickNode.cs
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
Labels: area-System.Runtime, community-contribution, reduce-unsafe

#118613 Improve OpenSSL digest performance
  src/native/libs/System.Security.Cryptography.Native/pal_evp.c
Labels: area-System.Security

#118679 Fix using obsolete WebHostBuilder in wasm DevServer/DebugProxy
  src/mono/browser/debugger/BrowserDebugHost/DebugProxyHost.cs
  src/mono/wasm/host/BrowserHost.cs
  src/mono/wasm/host/DevServer/DevServer.cs
  src/mono/wasm/host/WebServer.cs
Labels: needs-area-label

#118692 [PERF] Update Android app paths to match new publish path.
  eng/pipelines/performance/templates/build-perf-sample-apps.yml
Labels: area-Infrastructure, perf-pipeline

#118676 Disable canonicalization tests with native AOT
  src/libraries/tests.proj
Labels: area-Serialization

#118671 Skip generating debug info for deduplicated nodes
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ObjectWriter.cs
Labels: area-NativeAOT-coreclr

#118640 Trim custom attributes
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/CustomAttributeBasedDependencyAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/FieldMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MethodMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ModuleMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/TypeMetadataNode.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributeConstructorDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributeFieldDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AttributePropertyDataflow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Generics/NewConstraintOnClass.cs
Labels: linkable-framework, area-NativeAOT-coreclr

#118282 Adding GetStaticBaseAddress cDAC API
  docs/design/datacontracts/DacStreams.md
  docs/design/datacontracts/Loader.md
  docs/design/datacontracts/RuntimeTypeSystem.md
  docs/design/datacontracts/StressLog.md
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/DynamicStaticsInfo.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#118704 Only add GVMDependencies for types with used GVMs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ConstructedEETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/EETypeNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GVMDependenciesNode.cs
Labels: area-NativeAOT-coreclr

#118698 Refactor code so it doesn't hit mono aot limitation
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/IReadBufferState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfoOfT.ReadHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/PipeReadBufferState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/StreamReadBufferState.cs
Labels: area-System.Text.Json

#118707 Revert "Increase cost of ARR_LENGTH node to match IND(ADD(..,CNS)) #117531
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#118634 Fix assert in IsKnownConstant importation
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#118672 Improve docs for building & running CoreCLR Android on Windows + WSL
  docs/workflow/building/coreclr/android.md
  docs/workflow/requirements/linux-requirements.md
  docs/workflow/testing/libraries/testing-android.md
Labels: area-Infrastructure-coreclr, os-android

#118717 Delete dead code in superpmi
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
Labels: area-CodeGen-coreclr

#118715 Fix Equals for cryptographic wrappers
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DSA/DSAFactoryTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanFactoryTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDsa/ECDsaFactoryTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/RSAFactoryTests.cs
  src/libraries/System.Security.Cryptography.Cng/tests/System.Security.Cryptography.Cng.Tests.csproj
  src/libraries/System.Security.Cryptography.Csp/tests/System.Security.Cryptography.Csp.Tests.csproj
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DSAWrapper.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDiffieHellmanWrapper.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDsaWrapper.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSAWrapper.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
Labels: area-System.Security

#118745 Make StandardOleMarshalObject ComVisible
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/StandardOleMarshalObject.Windows.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System.Runtime.InteropServices.Tests.csproj
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/StandardOleMarshalObjectTests.cs
Labels: area-Interop-coreclr

#118608 Correctly lock around iterating the AvailableParamTypes hashtable when adding fields/classes via ApplyMetadata
  src/coreclr/vm/class.cpp
  src/coreclr/vm/clsload.cpp
  src/coreclr/vm/clsload.hpp
  src/coreclr/vm/excep.cpp
Labels: area-VM-coreclr

#118663 Change some tests to be conditional on the availability of SCOSSL
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDiffieHellman/ECDiffieHellmanFactory.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDsa/ECDsaFactory.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RSA/KeyGeneration.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/EcDsaOpenSslProvider.cs
  src/libraries/System.Security.Cryptography/tests/DefaultECDiffieHellmanProvider.Unix.cs
  src/libraries/System.Security.Cryptography/tests/DefaultECDsaProvider.Unix.cs
  src/libraries/System.Security.Cryptography/tests/HKDFTests.cs
  src/libraries/System.Security.Cryptography/tests/HmacMD5Tests.cs
  src/libraries/System.Security.Cryptography/tests/KmacTestDriver.cs
Labels: area-System.Security, test-enhancement

#118413 Support for arbitrary self-referential static fields on a type
  src/coreclr/vm/class.cpp
  src/coreclr/vm/class.h
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/methodtablebuilder.h
  src/tests/Loader/classloader/Statics/Regressions/SelfReferentialStatics/SelfReferentialStatics.cs
  src/tests/Loader/classloader/Statics/Regressions/SelfReferentialStatics/SelfReferentialStatics.csproj
Labels: area-TypeSystem-coreclr

#118723 Put native format `ToString` overrides under ifdef
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/Generator/ReaderGen.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeFormatReaderGen.cs
Labels: area-NativeAOT-coreclr

#118726 JIT: Handle async calls implemented via `ldvirtftn` properly
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importercalls.cpp
  src/tests/async/inst-unbox-thunks/inst-unbox-thunks.cs
Labels: area-CodeGen-coreclr, runtime-async

#118733 [Android] Disable ImportWithPasswordOrFileName_IterationCountLimitExceeded and HTTP tests
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxIterationCountTests.cs
  src/libraries/tests.proj
Labels: area-System.Security

#118775 [browser] Emit hosting messages expected by debug proxy launcher
  src/mono/browser/debugger/BrowserDebugHost/DebugProxyHost.cs
  src/mono/browser/debugger/BrowserDebugHost/Program.cs
Labels: arch-wasm, area-Build-mono, os-browser

#118764 [release/9.0] Merge release/9.0-staging changes
  .config/dotnet-tools.json
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/tools.ps1
  global.json
  src/coreclr/pal/src/thread/process.cpp
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/MemberTypeInfo.cs
  src/libraries/System.Formats.Nrbf/tests/EdgeCaseTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/TimeZoneInfoTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ChainTests.cs
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/pal_zlib.c
  src/native/libs/System.IO.Compression.Native/zlib_allocator.h
  src/native/libs/System.IO.Compression.Native/zlib_allocator_win.c
Labels: Servicing-approved

#118763 [release/8.0] Merge release/8.0-staging changes
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/coreclr/gc/gc.cpp
  src/coreclr/pal/src/thread/process.cpp
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.Tests/CollectionMarshallingFails.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ChainTests.cs
Labels: Servicing-approved

#118793 Update Android Codespace
  .devcontainer/android/Dockerfile
  .devcontainer/scripts/onCreateCommand.sh
Labels: area-Meta, os-android

#118780 Fix coreclrpal link order in mscordac
  src/coreclr/dlls/mscordac/CMakeLists.txt
Labels: area-Diagnostics-coreclr, community-contribution, needs-area-label

#118761 [MONO] Partially revert "Add TypeName APIs to simplify metadata lookup"
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Type/TypeTests.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Type.Mono.cs
Labels: area-System.Reflection

#118776 Use `MetadataTypeSymbol` in interop type maps
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/AnalyzedExternalTypeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/AnalyzedProxyTypeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ExternalTypeMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ProxyTypeMapNode.cs
  src/tests/nativeaot/SmokeTests/TrimmingBehaviors/DeadCodeElimination.cs
Labels: area-NativeAOT-coreclr

#118777 Fix BuildChainForCertificateSignedWithDisallowedKey.
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ChainTests.cs
Labels: area-System.Security, test-enhancement

#118750 Fix the formatting of the tensor ToString functions
  src/libraries/System.Numerics.Tensors/ref/System.Numerics.Tensors.netcore.cs
  src/libraries/System.Numerics.Tensors/src/CompatibilitySuppressions.xml
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/ReadOnlyTensorSpan_1.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Tensor.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorSpan_1.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Tensor_1.cs
  src/libraries/System.Numerics.Tensors/tests/ReadOnlyTensorSpanTests.cs
  src/libraries/System.Numerics.Tensors/tests/TensorSpanTests.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
Labels: area-System.Numerics.Tensors

#118332 SVE2 FP API's
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/Arm/Sve2Tests.cs
  src/tests/Common/GenerateHWIntrinsicTests/Arm/SveTests.cs
  src/tests/Common/GenerateHWIntrinsicTests/Arm/Templates.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
Labels: area-CodeGen-coreclr, community-contribution, arm-sve

#118795 Fix Composite ML-DSA OIDs
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
Labels: area-System.Security

#118762 introduce a few configs for DATAS fine tuning
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#118760 Add limit on trim analyzer CFG convergence iterations
  src/tools/illink/src/ILLink.RoslynAnalyzer/DataFlow/LocalDataFlowAnalysis.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  src/tools/illink/src/ILLink.Shared/DataFlow/ForwardDataFlowAnalysis.cs
  src/tools/illink/src/ILLink.Shared/DiagnosticId.cs
  src/tools/illink/src/ILLink.Shared/SharedStrings.resx
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/DataflowFailsToConverge.cs
Labels: linkable-framework, area-Tools-ILLink

#118799 Add better explanation to AnalysisCharacteristicAttribute
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/AnalysisCharacteristicAttribute.cs
Labels: area-NativeAOT-coreclr

#118771 Fix registry key handle leak in EventLogEntry.
  src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/EventLogEntry.cs
Labels: area-System.Diagnostics.EventLog, community-contribution

#118812 Rc1 mopup
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcconfig.h
  src/coreclr/gc/gcpriv.h
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/AnalysisCharacteristicAttribute.cs
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/Internal/StackTraceMetadata/StackTraceMetadata.cs
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/System.Private.StackTraceMetadata.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/AnalysisCharacteristicNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/MethodMetadataNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/NodeFactory.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ILScanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/SubstitutedILProvider.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/ILCompiler.Compiler.csproj
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/installer/tests/TestUtils/Assertions/CommandResultAssertions.cs
  src/installer/tests/TestUtils/Assertions/CommandResultExtensions.cs
  src/installer/tests/TestUtils/CommandResult.cs
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/Arm/Sve2Tests.cs
  src/tests/Common/GenerateHWIntrinsicTests/Arm/SveTests.cs
  src/tests/Common/GenerateHWIntrinsicTests/Arm/Templates.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/tests/nativeaot/SmokeTests/AttributeTrimming/AttributeTrimming.cs
  src/tests/nativeaot/SmokeTests/AttributeTrimming/AttributeTrimming.csproj
  src/tools/illink/src/ILLink.RoslynAnalyzer/DataFlow/LocalDataFlowAnalysis.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  src/tools/illink/src/ILLink.Shared/DataFlow/ForwardDataFlowAnalysis.cs
  src/tools/illink/src/ILLink.Shared/DiagnosticId.cs
  src/tools/illink/src/ILLink.Shared/SharedStrings.resx
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/DataflowFailsToConverge.cs
Labels: linkable-framework, area-NativeAOT-coreclr

#118649 [NativeAOT] Cleanup LowLevelList<T>
  src/coreclr/nativeaot/Common/src/System/Collections/Generic/Empty.cs
  src/coreclr/nativeaot/Common/src/System/Collections/Generic/LowLevelList.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Extensions/NonPortable/CustomAttributeSearcher.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerServices/FunctionPointerOps.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/NamespaceChain.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/System.Private.Reflection.Execution.csproj
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/TypeSystemContext.Runtime.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/System.Private.TypeLoader.csproj
Labels: community-contribution, area-NativeAOT-coreclr

#118551 Re-enable tests for Sys.RT.Caching
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching/HostFileChangeMonitorTest.cs
  src/libraries/System.Runtime.Caching/tests/System.Runtime.Caching/MemoryCacheTest.cs
Labels: area-System.Runtime.Caching

#118852 [NativeAOT] Use AssemblyNameInfo.Name instead of AssemblyNameInfo.FullName
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/TypeSystem/AssemblyNameInfo.Dummy.cs
  src/coreclr/tools/Common/TypeSystem/Common/ThrowHelper.Common.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Compilation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ModuleMetadataNode.cs
Labels: area-NativeAOT-coreclr

#118863 [NativeAOT] Streamline GetAssemblyCount
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Core/AssemblyBinder.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Assembly.NativeAot.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Reflection/Execution/AssemblyBinderImplementation.cs
Labels: area-NativeAOT-coreclr

#118563 Implement UnhandledException hook for finalizer scenario in Mono.
  src/mono/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.xml
  src/mono/System.Private.CoreLib/src/System/GC.Mono.cs
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/domain.c
  src/mono/mono/metadata/gc.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/mini-runtime.c
  src/tests/issues.targets
Labels: area-VM-meta-mono, runtime-mono, linkable-framework

#118161 Move FlushProcessWriteBuffers to minipal
  src/coreclr/gc/env/gcenv.os.h
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/softwarewritewatch.cpp
  src/coreclr/gc/unix/gcenv.unix.cpp
  src/coreclr/gc/windows/gcenv.windows.cpp
  src/coreclr/nativeaot/Runtime/MiscHelpers.cpp
  src/coreclr/nativeaot/Runtime/Pal.h
  src/coreclr/nativeaot/Runtime/gcenv.ee.cpp
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/nativeaot/Runtime/unix/PalUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalMinWin.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/include/pal/process.h
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/vm/callcounting.cpp
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/profilinghelper.cpp
  src/coreclr/vm/threadsuspend.cpp
  src/native/minipal/CMakeLists.txt
  src/native/minipal/memorybarrierprocesswide.c
  src/native/minipal/memorybarrierprocesswide.h
Labels: area-PAL-coreclr

#106099 Check HFA alignment for valuetype fields
  docs/workflow/testing/coreclr/running-arm32-tests.md
  src/coreclr/vm/class.cpp
  src/tests/JIT/Directed/StructABI/StructABI.c
  src/tests/JIT/Directed/StructABI/StructABI.cs
Labels: arch-arm32, arch-arm64, area-VM-coreclr

#118866 Fix bad deallocate for zero-length allocations in jit allocator
  src/coreclr/jit/alloc.h
Labels: area-CodeGen-coreclr

#118753 [clr-interp] Add support for mkrefany, refanyval, refanytype
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118870 JIT: fix issue with EH clause class types for fault/filters from C++/CLI
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#118910 Create PostQuantumCrypto.SecurityDesign.md
  src/libraries/System.Security.Cryptography/docs/PostQuantumCrypto.SecurityDesign.md
Labels: documentation, area-System.Security

#118880 [Android] Normalize RSA no-padding output to modulus size to fix VerifyHash
  src/native/libs/System.Security.Cryptography.Native.Android/pal_rsa.c
Labels: area-System.Security, os-android

#117408 [RISC-V] Introduce C extension for Integer Register-Register Operations
  src/coreclr/debug/di/module.cpp
  src/coreclr/debug/ee/riscv64/walker.cpp
  src/coreclr/inc/clrnt.h
  src/coreclr/inc/gcinfotypes.h
  src/coreclr/inc/utilcode.h
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
  src/coreclr/jit/instrsriscv64.h
  src/coreclr/jit/targetriscv64.h
  src/coreclr/jit/unwind.h
  src/coreclr/jit/unwindriscv64.cpp
  src/coreclr/tools/Common/TypeSystem/Common/TargetDetails.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/GCInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/RiscV64/UnwindInfo.cs
  src/coreclr/tools/r2rdump/CoreDisTools.cs
  src/coreclr/unwinder/riscv64/unwinder.cpp
  src/coreclr/vm/riscv64/singlestepper.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#117088 [cDAC] `IXCLRDataMethodInstance::GetILOffsetsByAddress`
  docs/design/datacontracts/DebugInfo.md
  docs/design/datacontracts/ExecutionManager.md
  docs/design/datacontracts/Loader.md
  src/coreclr/inc/patchpointinfo.h
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/DebugInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/NativeArray.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/NativeReader.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/NibbleReader.cs
  src/coreclr/vm/codeman.h
  src/coreclr/vm/datadescriptor/contracts.jsonc
  src/coreclr/vm/datadescriptor/datadescriptor.h
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/readytoruninfo.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IDebugInfo.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IExecutionManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/DebugInfo/DebugInfoFactory.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/DebugInfo/DebugInfo_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.EEJitManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.ReadyToRunJitManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_2.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/EEJitManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ImageDataDirectory.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/PatchpointInfo.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ReadyToRunInfo.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/RealCodeHeader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Microsoft.Diagnostics.DataContractReader.Contracts.csproj
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader/CachingContractRegistry.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataMethodInstance.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/IXCLRData.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.IXCLRDataProcess.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.ExecutionManager.cs
Labels: area-Diagnostics-coreclr

#118877 Fix FileNotFoundException empty message on Mono s390x
  src/mono/System.Private.CoreLib/src/System/IO/FileLoadException.Mono.cs
Labels: community-contribution, needs-area-label

#118875 Adding GetAssemblyName cDAC API
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#118936 unify rva checks
  src/coreclr/utilcode/pedecoder.cpp
Labels: needs-area-label

#117975 Adding the vector constants property extensions that are only supported for certain T
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Numerics.Vectors/tests/Matrix3x2Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Matrix4x4Tests.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Base64Helper/Base64DecoderHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/BitArray.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix3x2.Impl.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.Impl.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Plane.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/SimdVectorExtensions.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512_1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Packed.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector256Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector512Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector64Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Wasm/PackedSimdTests.cs
  src/tests/Directory.Build.props
  src/tests/JIT/Directed/StructABI/structreturn.cs
  src/tests/JIT/HardwareIntrinsics/General/HwiOp/CompareVectorWithZero.cs
  src/tests/JIT/HardwareIntrinsics/X86/General/VectorRet.cs
  src/tests/JIT/HardwareIntrinsics/X86/Regression/GitHub_17073/GitHub_17073.cs
  src/tests/JIT/HardwareIntrinsics/X86/Regression/GitHub_17073/GitHub_17073_gen.csx
  src/tests/JIT/Performance/CodeQuality/BilinearInterpol/BilinearInterpol.cs
  src/tests/JIT/Performance/CodeQuality/HWIntrinsic/X86/PacketTracer/Camera.cs
  src/tests/JIT/Performance/CodeQuality/HWIntrinsic/X86/PacketTracer/Intersections.cs
  src/tests/JIT/Performance/CodeQuality/HWIntrinsic/X86/PacketTracer/PacketTracer.cs
  src/tests/JIT/Performance/CodeQuality/HWIntrinsic/X86/PacketTracer/Surfaces.cs
  src/tests/JIT/Regression/JitBlue/GitHub_19583/GitHub_19583.cs
  src/tests/JIT/Regression/JitBlue/GitHub_23530/GitHub_23530.cs
  src/tests/JIT/Regression/JitBlue/ImageSharp_2117/ImageSharp_2117.cs
  src/tests/JIT/Regression/JitBlue/Runtime_106546/Runtime_106546.cs
  src/tests/JIT/Regression/JitBlue/Runtime_108609/Runtime_108609.cs
  src/tests/JIT/Regression/JitBlue/Runtime_33972/Runtime_33972.cs
  src/tests/JIT/Regression/JitBlue/Runtime_39737/Runtime_39737.cs
  src/tests/JIT/Regression/JitBlue/Runtime_72506/Runtime_72506.cs
  src/tests/JIT/Regression/JitBlue/Runtime_90508/Runtime_90508.cs
  src/tests/JIT/Regression/JitBlue/Runtime_91252/Runtime_91252.cs
  src/tests/JIT/Regression/JitBlue/Runtime_91335/Runtime_91335.cs
  src/tests/JIT/Regression/JitBlue/Runtime_92357/Runtime_92357.cs
  src/tests/JIT/Regression/JitBlue/Runtime_92590/Runtime_92590.cs
  src/tests/JIT/opt/Loops/LoopSideEffectsForHwiStores.cs
  src/tests/async/Directory.Build.props
Labels: area-CodeGen-coreclr, linkable-framework

#117635 Port the Shared Mutex logic from CoreCLR PAL to work alongside the managed wait subsystem
  src/coreclr/nativeaot/Runtime/FinalizerHelpers.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/vm/comsynchronizable.cpp
  src/coreclr/vm/comsynchronizable.h
  src/coreclr/vm/ecalllist.h
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.LowLevelCrossProcessMutex.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/IO/PersistedFiles.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/SharedMemoryManager.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Mutex.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/NamedMutex.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.HandleManager.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.ThreadWaitInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/WaitSubsystem.WaitableObject.Unix.cs
  src/libraries/System.Threading/tests/MutexTests.cs
  src/mono/mono/metadata/icall-decl.h
  src/mono/mono/metadata/icall-def.h
  src/mono/mono/metadata/threads.c
  src/native/libs/Common/pal_config.h.in
  src/native/libs/System.Native/CMakeLists.txt
  src/native/libs/System.Native/entrypoints.c
  src/native/libs/System.Native/pal_crossprocessmutex.c
  src/native/libs/System.Native/pal_crossprocessmutex.h
  src/native/libs/System.Native/pal_crossprocessmutex_unsupported.c
  src/native/libs/System.Native/pal_threading.c
  src/native/libs/System.Native/pal_threading.h
  src/native/libs/System.Native/pal_threading_wasi.c
  src/native/libs/configure.cmake
Labels: area-System.Threading

#118920 [docs][mono][Android] Update docs for Mono Android
  docs/workflow/testing/libraries/testing-android.md
Labels: os-android, area-Infrastructure-mono

#117901 Remove shared IL stubs for P/Invokes.
  src/coreclr/vm/amd64/PInvokeStubs.asm
  src/coreclr/vm/amd64/pinvokestubs.S
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/cgensys.h
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/dllimport.h
  src/coreclr/vm/dynamicmethod.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/i386/asmhelpers.S
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stubmgr.cpp
  src/coreclr/vm/stubmgr.h
Labels: area-Interop-coreclr

#118951 [Android & Apple mobile] Update installation target for `coreclr_static` to exclude it from NuGet package
  docs/workflow/building/coreclr/android.md
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/mono/msbuild/android/build/AndroidBuild.targets
Labels: area-Infrastructure-coreclr, os-android

#118617 Set of interpreter related fixes for coreclr tests
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118101 Updating the managed baselines to `x86-64-v2` and `armv8-a + lse`
  docs/design/coreclr/botr/vectors-and-intrinsics.md
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/simdcodegenxarch.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/tools/Common/Compiler/HardwareIntrinsicHelpers.cs
  src/coreclr/tools/Common/InstructionSetHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/tools/aot/ILCompiler/Program.cs
  src/coreclr/tools/aot/crossgen2/Program.cs
  src/coreclr/vm/codeman.cpp
  src/native/minipal/cpufeatures.c
  src/native/minipal/cpufeatures.h
  src/tests/Common/testenvironment.proj
  src/tests/JIT/HardwareIntrinsics/X86/X86Base/CpuId.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/X64Sse42.csproj
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
  src/tests/readytorun/HardwareIntrinsics/X86/CpuId_R2R_Sse42.csproj
  src/tests/readytorun/JittedMethodsCountingTest/JittedMethodsCountingTest.cs
Labels: breaking-change, area-CodeGen-coreclr, needs-breaking-change-doc-created

#118901 [interp] Implement tailcalls
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/interpretershared.h
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118956 JIT: Only look for integer temp regs in prolog generation
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr

#118917 Improve exception messages in IPAddress class for (ReadOnlyIPAddress, AddressFamily IPv4/IPv6)
  src/libraries/System.Net.Primitives/src/Resources/Strings.resx
  src/libraries/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressTest.cs
Labels: area-System.Net, community-contribution

#118879 Throttle finalization a bit when doing GC stress.
  src/coreclr/vm/finalizerthread.cpp
Labels: GCStress, area-VM-coreclr

#119028 Fix GCStress regression
  src/coreclr/vm/amd64/PInvokeStubs.asm
  src/coreclr/vm/amd64/pinvokestubs.S
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/cgensys.h
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/i386/asmhelpers.S
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/ilstubcache.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/stubmgr.cpp
Labels: area-VM-coreclr

#119029 Make wasm corerun build regular
  eng/Subsets.props
  eng/native/functions.cmake
  src/coreclr/CMakeLists.txt
  src/coreclr/hosts/corewasmrun/CMakeLists.txt
  src/coreclr/inc/bundle.h
  src/coreclr/inc/pinvokeoverride.h
Labels: arch-wasm, area-Infrastructure-coreclr

#119039 Disable UnhandledExceptionHandler tests with native components on `llvmfullaot`
  src/tests/issues.targets
Labels: disabled-test, area-VM-meta-mono, runtime-mono

#118952 [mono][aot] Fix minor gsharedvt leaks
  src/mono/mono/mini/mini-arm64-gsharedvt.c
Labels: area-Codegen-AOT-mono

#119007 [cDAC] ISOSDacInterface::GetAssemblyData
  docs/design/datacontracts/Loader.md
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Loader_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/Assembly.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ISOSDacInterface.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.cs
Labels: area-Diagnostics-coreclr

#119021 [DAC] ClrDataAccess::StartEnumMethodInstancesByAddress return S_FALSE on failure
  src/coreclr/debug/daccess/daccess.cpp
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.IXCLRDataProcess.cs
Labels: area-Diagnostics-coreclr

#119027 [release/8.0] Bump usages of MicroBuild task to v4
  eng/pipelines/coreclr/templates/build-job.yml
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: Servicing-approved

#119068 Fixup some Vector<T> function lookups to use the right name/type
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/importercalls.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_119008/Runtime_119008.cs
  src/tests/JIT/Regression/JitBlue/Runtime_119008/Runtime_119008.csproj
Labels: area-CodeGen-coreclr
