Repository dotnet/runtime, pull requests merged in 2025-06, with the labels that each got.

#115909 Add dispose of X509Chain in SignedXml
  src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/SignedXml.cs
Labels: area-System.Security, community-contribution

#105773 Implement IUtf8SpanParsable on Char and Rune
  src/libraries/Common/tests/System/GenericMathHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Rune.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/NlsTests/System.Runtime.Nls.Tests.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/CharTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/RuneTests.cs
Labels: area-System.Runtime, new-api-needs-documentation, community-contribution

#115453 Fix PipeStream leak on Windows when pipe is disposed with a pending operation
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.OverlappedValueTaskSource.Windows.cs
Labels: area-System.IO

#105654 Implement `IUtf8SpanParsable` on `Guid`
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/GuidTests.cs
Labels: area-System.Runtime, new-api-needs-documentation, community-contribution

#116124 JIT: revisions to struct field escape analysis
  src/coreclr/jit/gentree.h
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/objectalloc.h
  src/tests/JIT/opt/ObjectStackAllocation/Fields.cs
  src/tests/JIT/opt/ObjectStackAllocation/Fields.csproj
  src/tests/JIT/opt/ObjectStackAllocation/Runtime_116214.cs
  src/tests/JIT/opt/ObjectStackAllocation/Runtime_116214.csproj
Labels: area-CodeGen-coreclr

#116096 CleanUp GetFileAttribute(Ex) in PAL
  src/coreclr/dlls/mscordac/mscordac_unixexports.src
  src/coreclr/inc/longfilepathwrappers.h
  src/coreclr/inc/winwrap.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/inc/palprivate.h
  src/coreclr/pal/src/config.h.in
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/file/file.cpp
  src/coreclr/pal/src/include/pal/filetime.h
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/README.txt
  src/coreclr/pal/tests/palsuite/common/palsuite.cpp
  src/coreclr/pal/tests/palsuite/compilableTests.txt
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/.hidden_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/.hidden_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/.hidden_ro_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/.hidden_ro_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/GetFileAttributesA.cpp
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/no_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/no_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/normal_test_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/normal_test_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/ro_test_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/ro_test_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/rw_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesA/test1/rw_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test1/.hidden_directory/anchor.txt
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test1/.hidden_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test1/normal_test_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test1/normal_test_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test1/ro_test_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test1/ro_test_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test1/test1.cpp
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesExW/test2/test2.cpp
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/.hidden_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/.hidden_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/.hidden_ro_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/.hidden_ro_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/GetFileAttributesW.cpp
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/no_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/no_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/normal_test_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/normal_test_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/ro_test_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/ro_test_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/rw_file
  src/coreclr/pal/tests/palsuite/file_io/GetFileAttributesW/test1/rw_test_directory/keepme
  src/coreclr/pal/tests/palsuite/file_io/WriteFile/test1/WriteFile.cpp
  src/coreclr/pal/tests/palsuite/file_io/errorpathnotfound/test2/test2.cpp
  src/coreclr/pal/tests/palsuite/paltestlist.txt
  src/coreclr/pal/tests/palsuite/paltestlist_to_be_reviewed.txt
  src/coreclr/pal/tests/palsuite/wasm/index.html
  src/coreclr/tools/superpmi/superpmi-shared/methodcontextreader.cpp
  src/coreclr/utilcode/longfilepathwrappers.cpp
Labels: area-PAL-coreclr, community-contribution

#112610 JIT: Refactor around impDevirtualizeCall for GVM devirt
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#116130 [mono][interp] Remove invalid addition of conversion opcodes
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#116155 Switch to using non-arch specific runtime properties
  eng/Version.Details.xml
  eng/Versions.props
  src/coreclr/tools/runincontext/runincontext.csproj
  src/tests/xunit-wrappers.targets
Labels: area-Infrastructure

#115659 Fix invalid continuation caused by exception after inlining in `TryRunInline`
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-System.Threading.Tasks

#116021 Remove canceled AsyncOperations from channel queues
  src/libraries/Common/src/System/Collections/Concurrent/SingleProducerSingleConsumerQueue.cs
  src/libraries/Common/src/System/Collections/Generic/Deque.cs
  src/libraries/System.Threading.Channels/src/System.Threading.Channels.csproj
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/AsyncOperation.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/AsyncOperation.netcoreapp.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/AsyncOperation.netstandard.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/BoundedChannel.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelClosedException.netcoreapp.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelUtilities.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelUtilities.netcoreapp.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelUtilities.netstandard.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/IDebugEnumerator.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/SingleConsumerUnboundedChannel.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/UnboundedChannel.cs
  src/libraries/System.Threading.Channels/src/System/Threading/Channels/UnboundedPriorityChannel.cs
  src/libraries/System.Threading.Channels/tests/BoundedChannelTests.cs
Labels: area-System.Threading.Channels

#116015 Revert "[release/9.0-staging] Fix crash during Async Break when APC and CET are enabled"
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/vm/dbginterface.h
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
Labels: Servicing-approved, area-Diagnostics-coreclr

#116046 Interpreter EH implementation
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/compileropt.cpp
  src/coreclr/interpreter/eeinterp.cpp
  src/coreclr/interpreter/intops.cpp
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptionhandling.h
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/interpexec.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/prestub.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#116219 Disable CoreCLR interpreter test for JIT stress
  src/tests/JIT/interpreter/InterpreterTester.csproj
Labels: area-Codegen-Interpreter-mono

#115891 Implement SVE2 Xor, XorRotateRight
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
Labels: area-CodeGen-coreclr, community-contribution, arm-sve

#116175 Reduce allocations in PollingWildCardChangeToken
  src/libraries/Microsoft.Extensions.FileProviders.Physical/src/PollingWildCardChangeToken.cs
Labels: area-Extensions-FileSystem, community-contribution

#113929 Unify the JsonDocument and Utf8JsonReader handling of DateTime/Offset
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs
Labels: area-System.Text.Json, community-contribution

#115445 Use span copy in BigInteger.TryGetBytes when applicable
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
Labels: area-System.Numerics, community-contribution

#116246 Notify debuggers on rethrown exceptions
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
Labels: area-NativeAOT-coreclr

#116217 Generalize check for dynamic scopes when saving EH clauses
  src/coreclr/vm/jitinterface.cpp
Labels: area-VM-coreclr

#116136 JIT: Avoid VN-based removal of dead byref store in async funcs
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#116234 Fix LDTOKEN in interpreter
  src/coreclr/interpreter/compiler.cpp
Labels: needs-area-label

#116241 JIT: save pgo data in inline context, use it for call optimization
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inline.h
Labels: area-CodeGen-coreclr

#116158 Sve/Scatter test: Add Debug.Assert for array length
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveGatherVectorFirstFaultingVectorBases.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveGatherVectorVectorBases.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveScatterVectorBases.template
Labels: area-System.Runtime.Intrinsics

#116277 JIT: avoid some unnecessary retyping in escape analysis
  src/coreclr/jit/objectalloc.cpp
Labels: area-CodeGen-coreclr

#116264 X86 GCDecoder RevPInvoke nits
  src/coreclr/inc/gcdecoder.cpp
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/InfoHdr.cs
Labels: arch-x86, needs-area-label

#115952 Remove emitter unit tests which are not supported and add MoveScalar …
  src/coreclr/jit/codegenxarch.cpp
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_X86.cs
Labels: area-CodeGen-coreclr, community-contribution

#116179 [mono][interp] Update var definition when inserting new instructions during cprop
  src/mono/mono/mini/interp/transform-opt.c
Labels: area-Codegen-Interpreter-mono

#116017 JIT: Graph-based loop inversion
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/loopcloning.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#116253 [browser] rename MSBuild property WasmPerfTracing to EnableDiagnostics
  src/libraries/System.Diagnostics.Tracing/tests/System.Diagnostics.Tracing.Tests.csproj
  src/mono/browser/browser.proj
  src/mono/browser/build/BrowserWasmApp.targets
  src/mono/browser/runtime/cwraps.ts
  src/mono/browser/runtime/diagnostics/dotnet-cpu-profiler.ts
  src/mono/browser/runtime/es6/dotnet.es6.lib.js
  src/mono/browser/runtime/jiterpreter.ts
  src/mono/browser/runtime/profiler.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/mono/profiler/browser.c
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/browser-eventpipe/Wasm.Browser.EventPipe.Sample.csproj
  src/mono/sample/wasm/browser-minimal-config/Wasm.Browser.Config.Sample.csproj
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasi/wasi.proj
  src/mono/wasm/Wasm.Build.Tests/Blazor/EventPipeDiagnosticsTests.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/BuildOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/MSBuildOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/PublishOptions.cs
  src/mono/wasm/Wasm.Build.Tests/DiagnosticsTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmSdkBasedProjectProvider.cs
  src/mono/wasm/build/WasmApp.Common.targets
  src/mono/wasm/features.md
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/AssetsComputingHelper.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ComputeWasmBuildAssets.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ComputeWasmPublishAssets.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: arch-wasm, area-Diagnostics-mono, os-browser

#108083 [NativeAOT] Add sampling profiler
  src/coreclr/nativeaot/Runtime/StackFrameIterator.h
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/thread.h
Labels: community-contribution, area-NativeAOT-coreclr

#116171 Emit an error message if the runtime fails to initialize, instead of just silently aborting
  src/coreclr/nativeaot/Runtime/thread.cpp
Labels: community-contribution, area-NativeAOT-coreclr

#116317 Update coding-style.md
  docs/coding-guidelines/coding-style.md
Labels: community-contribution, needs-area-label

#116309 Use throw stubs in ref assemblies for collection interfaces
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: area-System.Collections, community-contribution

#116201 Ensure that embedded mask handling is covering the right scenarios
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#116281 Remove a few unsafe bits in S.P.Uri, S.N.Ping, System.Transactions.Local
  src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.RawSocket.cs
  src/libraries/System.Private.Uri/src/System/IPv4AddressHelper.cs
  src/libraries/System.Private.Uri/src/System/UriExt.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/DtcProxyShim/Xactopt.cs
Labels: area-System.Net, reduce-unsafe

#116334 [browser][WBT] fix BlazorEventPipeTestWithMetrics test
  src/mono/wasm/Wasm.Build.Tests/Blazor/EventPipeDiagnosticsTests.cs
Labels: arch-wasm, area-Diagnostics-mono, os-browser

#114172 Fix crossgen2 sometimes emitting tokens from the wrong module
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ModuleTokenResolver.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureBuilder.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/RuntimeDeterminedTypeHelper.cs
Labels: area-crossgen2-coreclr

#116291 Enable ML-DSA on Windows
  src/libraries/Common/src/Interop/Windows/BCrypt/Cng.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.AsymmetricEncryption.Types.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptPropertyStrings.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptSetProperty.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptSignHash.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptVerifySignature.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.Blobs.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.cs
  src/libraries/Common/src/System/Security/Cryptography/PqcBlobHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaImplementation.OpenSsl.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestChainTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CrlBuilderTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ExportTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509Certificate2PemTests.cs
Labels: area-System.Security

#116349 Remove dead code from arm/arm64/loongarch64 stub linker
  src/coreclr/vm/arm/cgencpu.h
  src/coreclr/vm/arm64/cgencpu.h
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/loongarch64/cgencpu.h
  src/coreclr/vm/loongarch64/stubs.cpp
Labels: area-VM-coreclr, community-contribution

#115666 Dispose all resources used in CmsSignature
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.DSA.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.ECDsa.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.RSA.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.SlhDsa.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.cs
Labels: area-System.Security

#116352 Add StringComparison to ClaimsIdentity
  src/libraries/System.Security.Claims/ref/System.Security.Claims.cs
  src/libraries/System.Security.Claims/src/Resources/Strings.resx
  src/libraries/System.Security.Claims/src/System/Security/Claims/ClaimsIdentity.cs
  src/libraries/System.Security.Claims/tests/ClaimsIdentityTests.cs
Labels: area-System.Security

#116339 Debug logger should print exceptions even if the formatted message is empty
  src/libraries/Microsoft.Extensions.Logging.Debug/src/DebugLogger.cs
Labels: area-Extensions-Logging, community-contribution

#116292 Remove dead code for parsing/emitting X86 instructions
  src/coreclr/vm/gc_unwind_x86.inl
  src/coreclr/vm/i386/stublinkerx86.cpp
  src/coreclr/vm/i386/stublinkerx86.h
Labels: area-VM-coreclr, community-contribution

#116332 Avoid building JITs for cross tools when unnecessary
  eng/Subsets.props
Labels: area-Infrastructure-coreclr

#116362 Fix NativeAOT outer loop test failure
  src/coreclr/runtime/amd64/AllocFast.S
  src/coreclr/runtime/amd64/AllocFast.asm
  src/coreclr/runtime/arm/AllocFast.S
  src/coreclr/runtime/arm64/AllocFast.S
  src/coreclr/runtime/arm64/AllocFast.asm
  src/coreclr/runtime/i386/AllocFast.S
  src/coreclr/runtime/i386/AllocFast.asm
  src/coreclr/runtime/loongarch64/AllocFast.S
  src/coreclr/runtime/riscv64/AllocFast.S
Labels: area-NativeAOT-coreclr

#116366 Correct sequence point comment
  src/coreclr/inc/cordebuginfo.h
Labels: needs-area-label

#116342 Trace out error code when creating single-file bundle extraction directory fails
  src/native/corehost/bundle/dir_utils.cpp
  src/native/corehost/hostmisc/pal.h
Labels: area-Host

#114682 [release/9.0] Fix edge cases in Tarjan GC bridge (Android)
  src/mono/mono/metadata/sgen-bridge.c
  src/mono/mono/metadata/sgen-tarjan-bridge.c
  src/tests/GC/Features/Bridge/Bridge.cs
  src/tests/GC/Features/Bridge/Bridge.csproj
  src/tests/GC/Features/Bridge/BridgeTester.cs
  src/tests/GC/Features/Bridge/BridgeTester.csproj
Labels: Servicing-approved, os-android, area-GC-mono, community-contribution

#115315 Revert change to follow symlinks of dotnet host
  src/installer/tests/HostActivation.Tests/SymbolicLinks.cs
  src/native/corehost/corehost.cpp
  src/native/corehost/fxr_resolver.cpp
Labels: area-Host

#114901 [browser] Remove custom cache
  src/mono/browser/runtime/dotnet.d.ts
  src/mono/browser/runtime/loader/assets.ts
  src/mono/browser/runtime/loader/assetsCache.ts
  src/mono/browser/runtime/loader/config.ts
  src/mono/browser/runtime/loader/globals.ts
  src/mono/browser/runtime/loader/run.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/index.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
Labels: arch-wasm, area-Build-mono, os-browser

#116182 Delete SCAN contract annotations
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/inc/contract.h
  src/coreclr/inc/ex.h
  src/coreclr/inc/ostype.h
  src/coreclr/inc/palclr.h
  src/coreclr/inc/staticcontract.h
  src/coreclr/utilcode/check.cpp
  src/coreclr/utilcode/log.cpp
  src/coreclr/utilcode/pedecoder.cpp
  src/coreclr/utilcode/stacktrace.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/assemblyspec.cpp
  src/coreclr/vm/clrex.cpp
  src/coreclr/vm/crst.cpp
  src/coreclr/vm/crst.h
  src/coreclr/vm/eecontract.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/exceptmacros.h
  src/coreclr/vm/fcall.cpp
  src/coreclr/vm/finalizerthread.cpp
  src/coreclr/vm/hash.cpp
  src/coreclr/vm/hosting.cpp
  src/coreclr/vm/listlock.h
  src/coreclr/vm/spinlock.cpp
  src/coreclr/vm/spinlock.h
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/syncblk.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#116316 Cleanup LowLevelList usage in GCLayout
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/EETypeCreator.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilder.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeBuilderState.cs
Labels: community-contribution, area-NativeAOT-coreclr

#116415 Use `Unsafe.BitCast` in `System.Guid`
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
Labels: area-System.Runtime, community-contribution

#116417 Fix trigger for linkable-framework label policy
  .github/policies/resourceManagement.yml
Labels: area-Infrastructure

#116418 Delete unnecessary or condition
  .github/policies/resourceManagement.yml
Labels: area-Infrastructure

#116405 Delete extra layers
  src/coreclr/binder/utils.cpp
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/task.cpp
  src/coreclr/debug/di/cordb.cpp
  src/coreclr/debug/di/module.cpp
  src/coreclr/debug/di/process.cpp
  src/coreclr/dlls/mscoree/mscoree.cpp
  src/coreclr/ilasm/main.cpp
  src/coreclr/ilasm/writer.cpp
  src/coreclr/ildasm/dasm.cpp
  src/coreclr/ildasm/dman.cpp
  src/coreclr/inc/cor.h
  src/coreclr/inc/corpriv.h
  src/coreclr/inc/metadataexports.h
  src/coreclr/inc/shimload.h
  src/coreclr/inc/utilcode.h
  src/coreclr/md/compiler/regmeta.cpp
  src/coreclr/nativeaot/Runtime/amd64/GcProbe.S
  src/coreclr/nativeaot/Runtime/amd64/GcProbe.asm
  src/coreclr/runtime/amd64/AllocFast.S
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/disassembler.cpp
  src/coreclr/vm/encee.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/gcheaputilities.cpp
  src/coreclr/vm/nativeimage.cpp
  src/coreclr/vm/peassembly.cpp
  src/coreclr/vm/peimage.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/reflectclasswriter.cpp
  src/coreclr/vm/rtlfunctions.cpp
Labels: area-VM-coreclr

#116387 [browser] Fix dev tools profiler
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
  src/mono/browser/runtime/logging.ts
  src/mono/mono/profiler/browser.c
  src/mono/wasm/Wasm.Build.Tests/Blazor/EventPipeDiagnosticsTests.cs
  src/mono/wasm/Wasm.Build.Tests/DiagnosticsTests.cs
  src/mono/wasm/build/WasmApp.Common.targets
Labels: arch-wasm, area-Diagnostics-mono, os-browser

#116326 JIT: fix issue in assertion prop phi inference
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/tests/JIT/Regression/JitBlue/Runtime_116212/Runtime_116212.cs
  src/tests/JIT/Regression/JitBlue/Runtime_116212/Runtime_116212.csproj
Labels: area-CodeGen-coreclr

#116311 Update branding to 8.0.18
  eng/Versions.props
Labels: Servicing-approved

#116357 Interpreter shared generics support
  src/coreclr/inc/corinfo.h
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/interpretershared.h
  src/coreclr/interpreter/intops.def
  src/coreclr/interpreter/intops.h
  src/coreclr/vm/amd64/asmconstants.h
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/callstubgenerator.cpp
  src/coreclr/vm/callstubgenerator.h
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/interpexec.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/prestub.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#115939 Fix telemetry for redirect + custom ICredentials
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpAuthenticatedConnectionHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: area-System.Net.Http

#116396 Delete MultilevelSDKLookup test class
  src/installer/tests/HostActivation.Tests/DotnetArgValidation.cs
  src/installer/tests/HostActivation.Tests/MultilevelSDKLookup.cs
  src/installer/tests/HostActivation.Tests/SDKLookup.cs
  src/installer/tests/HostActivation.Tests/SDKResolutionCommandResultExtensions.cs
Labels: area-Host

#116391 Fix minidump generation - check if IsIL before calling methods related to it
  src/coreclr/vm/method.cpp
Labels: area-Diagnostics-coreclr

#116353 JIT/AOT to interpreter calls support
  src/coreclr/interpreter/interpretershared.h
  src/coreclr/pal/inc/unixasmmacrosamd64.inc
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/asmconstants.h
  src/coreclr/vm/amd64/asmhelpers.S
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/callstubgenerator.cpp
  src/coreclr/vm/callstubgenerator.h
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/interpexec.h
  src/coreclr/vm/interpframeallocator.h
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threads.inl
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#116194 Fix struct ReturnKind on SysV AMD64.
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/jitgcinfo.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/arm/asmconstants.h
  src/coreclr/vm/callsiteinspect.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
Labels: area-CodeGen-coreclr, community-contribution

#114862 [infra][Apple] Fix Apple mobile runtime test reporting
  eng/pipelines/extra-platforms/runtime-extra-platforms-maccatalyst.yml
  src/mono/msbuild/apple/build/AppleBuild.targets
  src/tests/Common/XHarnessRunnerLibrary/RunnerEntryPoint.cs
  src/tests/Directory.Build.targets
  src/tests/JIT/Directed/coverage/compiler/FilterToHandler.il
  src/tests/JIT/Regression/JitBlue/GitHub_21990/GitHub_21990.cs
  src/tests/JIT/Regression/JitBlue/GitHub_21990/GitHub_21990.csproj
  src/tests/JIT/Regression/JitBlue/GitHub_23791/GitHub_23791.cs
  src/tests/JIT/Regression/JitBlue/GitHub_23791/GitHub_23791.csproj
  src/tests/JIT/Regression/JitBlue/GitHub_27678/GitHub_27678.il
  src/tests/JIT/Regression/JitBlue/GitHub_35384/GitHub_35384.il
  src/tests/JIT/Regression/JitBlue/GitHub_4044/GitHub_4044.cs
  src/tests/JIT/Regression/JitBlue/GitHub_4044/GitHub_4044.csproj
  src/tests/JIT/opt/Structs/MemsetMemcpyNullref.cs
  src/tests/JIT/opt/Structs/MemsetMemcpyNullref.csproj
  src/tests/managed/Managed.csproj
Labels: area-Infrastructure-mono, os-ios, os-tvos

#116410 Remove ArrLen propagation from earlyprop
  src/coreclr/jit/compiler.h
  src/coreclr/jit/earlyprop.cpp
Labels: area-CodeGen-coreclr

#116470 Fix rangecheck bug: GT_LSH may actually overflow the index
  src/coreclr/jit/rangecheck.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_116457/Runtime_116457.cs
  src/tests/JIT/Regression/JitBlue/Runtime_116457/Runtime_116457.csproj
Labels: area-CodeGen-coreclr

#116458 [manual] Merge release/8.0-staging into release/8.0
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates-official/job/source-build.yml
  eng/common/templates-official/job/source-index-stage1.yml
  eng/common/templates-official/jobs/source-build.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/source-build.yml
  global.json
  src/coreclr/gc/gc.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/forwardsub.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/method.cpp
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/System.DirectoryServices.Protocols/src/System.DirectoryServices.Protocols.csproj
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Windows.cs
  src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamDisposeTest.cs
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.OverlappedValueTaskSource.Windows.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/FSharpCoreReflectionProxy.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.FSharp.Tests/RecordTests.fs
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_rsa.c
  src/tests/JIT/Regression/JitBlue/Runtime_115815/Runtime_115815.cs
  src/tests/JIT/Regression/JitBlue/Runtime_115815/Runtime_115815.csproj
Labels: NO-SQUASH, Servicing-approved

#116255 arm64: Rename CreateBreak/CreateMask args
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
Labels: area-System.Runtime.Intrinsics, breaking-change, needs-breaking-change-doc-created, community-contribution

#116406 Additional cleanup and simplification of hwintrinsic instruction sets for xarch
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsic.h
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instr.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/simdcodegenxarch.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/tools/Common/Compiler/HardwareIntrinsicHelpers.cs
  src/coreclr/tools/Common/InstructionSetHelpers.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/vm/codeman.cpp
  src/tests/JIT/HardwareIntrinsics/X86/General/IsSupported.cs
  src/tests/nativeaot/SmokeTests/HardwareIntrinsics/Program.cs
Labels: area-CodeGen-coreclr

#116299 SPMI: Run 64-bit diffs on OSX.14.Arm64.Open
  eng/pipelines/coreclr/superpmi-diffs.yml
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/coreclr/templates/jit-replay-pipeline.yml
  src/coreclr/scripts/superpmi_diffs.py
  src/coreclr/scripts/superpmi_diffs_setup.py
  src/coreclr/scripts/superpmi_diffs_summarize.py
Labels: area-CodeGen-coreclr

#116479 Fix BulkType event for GC static bases
  src/coreclr/nativeaot/Runtime/eventtrace_bulktype.cpp
  src/coreclr/nativeaot/Runtime/inc/MethodTable.h
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GCStaticEETypeNode.cs
Labels: area-NativeAOT-coreclr

#116497 Revert "Make mutable generic collection interfaces implement read-only collection interfaces" and related changes
  src/coreclr/vm/array.cpp
  src/libraries/Common/src/System/Diagnostics/DiagnosticsHelper.cs
  src/libraries/Common/tests/System/Collections/CollectionAsserts.cs
  src/libraries/Common/tests/System/Collections/ICollection.Generic.Tests.cs
  src/libraries/Common/tests/System/Collections/IDictionary.Generic.Tests.cs
  src/libraries/Common/tests/System/Collections/IList.Generic.Tests.cs
  src/libraries/Common/tests/System/Collections/ISet.Generic.Tests.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenSetInternalBase.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableExtensions.Minimal.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableExtensions.cs
  src/libraries/System.Collections/src/System/Collections/Generic/OrderedDictionary.cs
  src/libraries/System.Collections/src/System/Collections/Generic/PriorityQueue.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.cs
  src/libraries/System.Collections/tests/Generic/CollectionExtensionsTests.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/ExpandoObject.cs
  src/libraries/System.Linq.Parallel/src/System/Linq/ParallelEnumerable.cs
  src/libraries/System.Linq/src/System/Linq/AnyAll.cs
  src/libraries/System.Linq/src/System/Linq/AppendPrepend.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Count.cs
  src/libraries/System.Linq/src/System/Linq/DefaultIfEmpty.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/ElementAt.cs
  src/libraries/System.Linq/src/System/Linq/First.cs
  src/libraries/System.Linq/src/System/Linq/Grouping.cs
  src/libraries/System.Linq/src/System/Linq/Last.cs
  src/libraries/System.Linq/src/System/Linq/OrderedEnumerable.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Reverse.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/SequenceEqual.cs
  src/libraries/System.Linq/src/System/Linq/Shuffle.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Single.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs
  src/libraries/System.Net.Security/src/System/Security/Authentication/ExtendedProtection/ServiceNameCollection.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Concurrent/ConcurrentQueue.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/HashSet.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ICollection.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/IDictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/IList.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ISet.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.Xml/src/System/Xml/Xsl/Runtime/XmlQuerySequence.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonObject.cs
Labels: area-System.Collections

#116501 Revert "Switch away from AzureLinux host docker testing temporarily (#115993)"
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
Labels: area-Infrastructure-coreclr

#115750 Fix reporting of foreign native exception not handled by runtime
  src/coreclr/vm/exceptionhandling.cpp
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInterop.cs
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInteropNative.cpp
Labels: area-ExceptionHandling-coreclr

#116502 JIT: Ensure profile synthesis converges for trivial cases
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#116283 Make BackgroundService run ExecuteAsync as task
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/BackgroundService.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/BackgroundServiceTests.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/Internal/HostTests.cs
Labels: breaking-change, area-Extensions-Hosting, needs-breaking-change-doc-created

#116481 Drop support for OpenSSL primitives on macOS
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Security.Cryptography.OpenSsl/tests/System.Security.Cryptography.OpenSsl.Tests.csproj
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SafeEvpPKeyHandle.OpenSsl.macOS.cs
  src/libraries/System.Security.Cryptography/tests/AesCcmTests.cs
  src/libraries/tests.proj
Labels: area-System.Security, breaking-change, needs-breaking-change-doc-created

#116271 Add Strict JsonSerializerOptions
  src/libraries/System.Text.Json/Common/JsonSerializerDefaults.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/JsonSourceGenerationOptionsTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/OptionsTests.cs
Labels: area-System.Text.Json

#116498 Merging internal commits for release/8.0
  src/installer/tests/HostActivation.Tests/NativeHosting/Comhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/Ijwhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/LoadAssemblyAndGetFunctionPointer.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/NativeHostingResultExtensions.cs
  src/installer/tests/TestUtils/TestArtifact.cs
  src/native/corehost/apphost/standalone/hostfxr_resolver.cpp
  src/native/corehost/fxr/standalone/hostpolicy_resolver.cpp
  src/native/corehost/fxr_resolver.h
  src/native/corehost/hostpolicy/deps_resolver.cpp
  src/native/corehost/hostpolicy/standalone/coreclr_resolver.cpp
Labels: Servicing-approved

#116499 Merging internal commits for release/9.0
  src/installer/tests/HostActivation.Tests/NativeHosting/Comhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/Ijwhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/LoadAssemblyAndGetFunctionPointer.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/NativeHostingResultExtensions.cs
  src/native/corehost/apphost/standalone/hostfxr_resolver.cpp
  src/native/corehost/fxr/standalone/hostpolicy_resolver.cpp
  src/native/corehost/fxr_resolver.h
  src/native/corehost/hostpolicy/deps_resolver.cpp
  src/native/corehost/hostpolicy/standalone/coreclr_resolver.cpp
Labels: Servicing-approved

#116504 Fix libhost scenarios (COM, C++/CLI, custom component host) incorrect coreclr path determination
  src/installer/tests/HostActivation.Tests/NativeHosting/Comhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/Ijwhost.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/LoadAssemblyAndGetFunctionPointer.cs
  src/installer/tests/HostActivation.Tests/NativeHosting/NativeHostingResultExtensions.cs
  src/native/corehost/apphost/standalone/hostfxr_resolver.cpp
  src/native/corehost/fxr/standalone/hostpolicy_resolver.cpp
  src/native/corehost/fxr_resolver.h
  src/native/corehost/hostpolicy/deps_resolver.cpp
  src/native/corehost/hostpolicy/standalone/coreclr_resolver.cpp
Labels: area-Host

#116441 Do not run SVE when HWIntrinsic is OFF
  docs/workflow/testing/coreclr/disasm-checks.md
  src/tests/JIT/opt/SVE/PredicateInstructions.csproj
Labels: needs-area-label

#116440 ML-KEM: Windows ephemeral implementation
  src/libraries/Common/src/Interop/Windows/BCrypt/Cng.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.BCryptDecapsulateEncapsulate.cs
  src/libraries/Common/src/Interop/Windows/BCrypt/Interop.Blobs.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKemImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/PqcBlobHelpers.MLKem.cs
  src/libraries/Common/src/System/Security/Cryptography/PqcBlobHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemBaseTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemImplementationTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.Shared.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ExportTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509Certificate2PemTests.cs
Labels: area-System.Security

#116557 Deliver Posix signals in reverse order of their registration
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/PosixSignalRegistration.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/PosixSignalRegistration.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/PosixSignalRegistration.cs
  src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/PosixSignalRegistrationTests.Unix.cs
Labels: area-System.Runtime.InteropServices

#116565 Delete unused functions in eventtrace
  src/coreclr/inc/eventtracebase.h
  src/coreclr/vm/eventtrace.cpp
Labels: area-Tracing-coreclr

#116394 ML-DSA Certificates on Windows (NCrypt support)
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.AsymmetricPaddingMode.cs
  src/libraries/Common/src/Interop/Windows/NCrypt/Interop.SignVerify.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaPkcs8.cs
  src/libraries/Common/src/System/Security/Cryptography/PqcBlobHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestHelpers.Cng.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestsBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Cng.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngAlgorithmGroup.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngCommon.SignVerify.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CngKeyBlobFormat.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/KeyPropertyName.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaCng.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaCng.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificatePal.Windows.PrivateKey.cs
  src/libraries/System.Security.Cryptography/tests/MLDsaCngTests.Windows.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestChainTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CrlBuilderTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ExportTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509Certificate2PemTests.cs
Labels: area-System.Security

#116605 Limit JIT-EE GUID notifications to PR opened event
  .github/policies/resourceManagement.yml
Labels: area-CodeGen-coreclr

#116449 Implementation of ldftn and calli
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/crsttypes_generated.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/intops.def
  src/coreclr/jit/ICorJitInfo_names_generated.h
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/callstubgenerator.cpp
  src/coreclr/vm/callstubgenerator.h
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/siginfo.hpp
  src/coreclr/vm/typehashingalgorithms.h
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#116507 Updated PCA of DAC cert
  eng/native/sign-with-dac-certificate.ps1
Labels: needs-area-label

#116566 Refactor MachObjectFile signature blobs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/HostWriter.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/BlobIndex.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/BlobParser.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/CmsWrapperBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/CodeDirectoryBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/EmbeddedSignatureBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/IBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/RequirementsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/SimpleBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/SuperBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/CmsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/CodeDirectoryHeader.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/EmbeddedSignatureHeader.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/LinkEditLoadCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/RequirementsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/SymbolTableLoadCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/BlobMagic.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/CodeDirectorySpecialSlot.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/HashType.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/EndianConversionExtensions.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/IMachOFileAccess.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/IMachOFileReader.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/IMachOFileWriter.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/MemoryMappedMachOViewAccessor.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/MemoryStreamWriter.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/StreamBasedMachOFile.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/FileUtils/StreamExtensions.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.CodeSignature.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/SigningTests.cs
Labels: area-HostModel

#116550 [release/8.0-staging] Fix return in zlib-intel when window allocation fails
  src/native/external/zlib-intel/inflate.c
Labels: Servicing-approved, area-System.IO.Compression

#116446 Fix a couple error cases in Json parsing
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.MultiSegment.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DateOnlyConverter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonTestHelper.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Value.ReadTests.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonReaderTests.MultiSegment.cs
Labels: area-System.Text.Json

#116512 Revert partial changes for `thread_local` convergence.
  src/coreclr/debug/ee/debugger.h
  src/coreclr/nativeaot/Runtime/CommonMacros.h
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.cpp
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/nativeaot/Runtime/threadstore.inl
  src/coreclr/nativeaot/Runtime/unix/PalUnix.cpp
  src/coreclr/vm/amd64/AsmMacros.inc
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/common.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/threads.inl
  src/coreclr/vm/threadstatics.h
  src/native/minipal/utils.h
Labels: area-VM-coreclr

#116621 Revert "Fix reporting of foreign native exception not handled by runt…
  src/coreclr/vm/exceptionhandling.cpp
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInterop.cs
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInteropNative.cpp
Labels: area-ExceptionHandling-coreclr

#116544 [clr-interp] Emit INTOP_NEWMDARR only for array ctor
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#114741 Add option to disable particular TLS signature algorithms
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/Interop.SSPI.cs
  src/libraries/Common/src/System/Net/Security/SslClientAuthenticationOptionsExtensions.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/Resources/Strings.resx
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslClientAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslServerAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslSessionsCache.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/osslcompat_111.h
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.c
  src/native/libs/System.Security.Cryptography.Native/pal_ssl.h
Labels: area-System.Net.Security, new-api-needs-documentation

#116569 Add ability to filter interpreted methods by assembly
  docs/design/coreclr/jit/viewing-jit-dumps.md
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/interpretershared.h
  src/coreclr/interpreter/methodset.cpp
  src/coreclr/interpreter/naming.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/eeinterface.cpp
  src/coreclr/jit/jitconfig.cpp
  src/coreclr/jit/jitconfig.h
Labels: area-CodeGen-Interpreter-coreclr

#116617 Copy integer registers on AMD64 architecture for debugger stackwalking
  src/coreclr/debug/daccess/dacdbiimpl.cpp
Labels: area-Diagnostics-coreclr

#116618 Partial revert of #111408
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/vm/dbginterface.h
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
Labels: area-Diagnostics-coreclr

#116400 SignedCms add tests and reduce allocations
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
Labels: area-System.Security

#116603 getHelperFtn support for getting CORINFO_METHOD_HANDLE
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/icorjitinfoimpl_generated.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/jit/ICorJitInfo_wrapper_generated.hpp
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/coreclr/tools/Common/JitInterface/CorInfoImpl_generated.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/ThunkInput.txt
  src/coreclr/tools/aot/jitinterface/jitinterface_generated.h
  src/coreclr/tools/superpmi/superpmi-shared/agnostic.h
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/tools/superpmi/superpmi-shared/lwmlist.h
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.h
  src/coreclr/tools/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/coreclr/tools/superpmi/superpmi-shim-counter/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi-shim-simple/icorjitinfo_generated.cpp
  src/coreclr/tools/superpmi/superpmi/icorjitinfo.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-CodeGen-coreclr

#116548 JIT: Exclude `BB_UNITY_WEIGHT` scaling from `BasicBlock::isBBWeightCold`
  src/coreclr/jit/block.h
Labels: area-CodeGen-coreclr

#116646 Don't allow inlining the NativeAOT-only unsafe accessor
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/DelegateHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/AppDomain.cs
Labels: area-System.Linq.Expressions

#116611 Remove "Host Breakable" lock concept
  docs/design/coreclr/botr/profilability.md
  src/coreclr/inc/clrinternal.idl
  src/coreclr/inc/contract.h
  src/coreclr/inc/contract.inl
  src/coreclr/pal/prebuilt/inc/clrinternal.h
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/callhelpers.cpp
  src/coreclr/vm/comcallablewrapper.cpp
  src/coreclr/vm/crst.cpp
  src/coreclr/vm/dispatchinfo.cpp
  src/coreclr/vm/eetoprofinterfaceimpl.cpp
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/listlock.h
  src/coreclr/vm/pendingload.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#115811 BypassReadyToRun when initializing ProbabilisticMap
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/BypassReadyToRunAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/SearchValues/ProbabilisticMap.cs
Labels: area-System.Memory

#116629 Improve handling of dynamic types in BulkType events
  src/coreclr/nativeaot/Runtime/eventtrace_bulktype.cpp
  src/coreclr/nativeaot/Runtime/inc/MethodTable.h
  src/coreclr/nativeaot/Runtime/inc/MethodTable.inl
Labels: area-NativeAOT-coreclr

#116538 Add {Async}Enumerable.{Infinite}Sequence
  src/libraries/System.Linq.AsyncEnumerable/ref/System.Linq.AsyncEnumerable.csproj
  src/libraries/System.Linq.AsyncEnumerable/ref/SystemLinq.AsyncEnumerable.netcore.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System.Linq.AsyncEnumerable.csproj
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/InfiniteSequence.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/Sequence.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/ThrowHelper.cs
  src/libraries/System.Linq.AsyncEnumerable/tests/InfiniteSequenceTests.cs
  src/libraries/System.Linq.AsyncEnumerable/tests/SequenceTests.cs
  src/libraries/System.Linq.AsyncEnumerable/tests/System.Linq.AsyncEnumerable.Tests.csproj
  src/libraries/System.Linq/ref/System.Linq.cs
  src/libraries/System.Linq/src/System.Linq.csproj
  src/libraries/System.Linq/src/System/Linq/InfiniteSequence.cs
  src/libraries/System.Linq/src/System/Linq/Range.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Range.cs
  src/libraries/System.Linq/src/System/Linq/Select.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Sequence.cs
  src/libraries/System.Linq/src/System/Linq/ThrowHelper.cs
  src/libraries/System.Linq/tests/InfiniteSequenceTests.cs
  src/libraries/System.Linq/tests/RangeTests.cs
  src/libraries/System.Linq/tests/SequenceTests.cs
  src/libraries/System.Linq/tests/System.Linq.Tests.csproj
  src/libraries/System.Runtime/tests/System.Threading.Tasks.Tests/Task/AsyncEnumerableToBlockingEnumerableTests.cs
Labels: area-System.Linq

#116662 Remove the code pitching feature.
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/controller.h
  src/coreclr/debug/inc/dacdbiinterface.h
  src/coreclr/inc/CMakeLists.txt
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codepitchingmanager.cpp
  src/coreclr/vm/dynamicmethod.h
  src/coreclr/vm/gdbjit.cpp
  src/coreclr/vm/gdbjit.h
  src/coreclr/vm/method.hpp
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/util.cpp
  src/coreclr/vm/util.hpp
Labels: area-VM-coreclr

#115850 JIT: Move loop inversion to after loop recognition
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#116672 Fix exception message for InvalidCastException thrown by unboxing
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/jithelpers.cpp
Labels: area-VM-coreclr

#116098 Change HttpClient/SslStream default certificate revocation check mode to Online
  src/libraries/Common/tests/System/Net/Configuration.Certificates.Dynamic.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/WinHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientTlsTest.cs
  src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs
  src/libraries/System.Net.Security/src/System.Net.Security.csproj
  src/libraries/System.Net.Security/src/System/Net/Security/SslAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslClientAuthenticationOptions.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslServerAuthenticationOptions.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/CertificateValidationClientServer.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamCertificateTrustTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamFramingTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamRemoteExecutorTests.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamSniTest.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs
  src/libraries/System.Net.Security/tests/UnitTests/SslAuthenticationOptionsTests.cs
  src/libraries/System.Net.Security/tests/UnitTests/System.Net.Security.Unit.Tests.csproj
Labels: area-System.Net.Security, breaking-change, needs-breaking-change-doc-created

#116675 Avoid CORINFO_..._HANDLEs in JIT helper signatures
  src/coreclr/vm/appdomainnative.cpp
  src/coreclr/vm/appdomainnative.hpp
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-VM-coreclr

#112760 Document important nuances about Dictionary/HashSet
  src/libraries/System.Private.CoreLib/docs/Container Design Notes.md
Labels: area-System.Collections

#116654 Fix EmitCall in the interpreter compiler
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#116602 Add System.Formats.Cbor to the ASP.NET Core transport package
  src/libraries/NetCoreAppLibrary.props
Labels: needs-area-label

#116690 [browser] Update wasmbrowser template
  src/mono/wasm/host/DevServer/WebAssemblyNetDebugProxyAppBuilderExtensions.cs
  src/mono/wasm/templates/templates/browser/browser.0.csproj
Labels: arch-wasm, area-Build-mono, os-browser

#116597 Fix absolute path check when loading hostfxr/hostpolicy/coreclr
  src/installer/tests/HostActivation.Tests/FrameworkDependentAppLaunch.cs
  src/installer/tests/HostActivation.Tests/SelfContainedAppLaunch.cs
  src/native/corehost/apphost/standalone/hostfxr_resolver.cpp
  src/native/corehost/corehost.cpp
  src/native/corehost/fxr/sdk_resolver.cpp
  src/native/corehost/fxr/standalone/hostpolicy_resolver.cpp
  src/native/corehost/fxr_resolver.h
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/pal.unix.cpp
  src/native/corehost/hostmisc/pal.windows.cpp
  src/native/corehost/hostpolicy/deps_resolver.cpp
  src/native/corehost/hostpolicy/standalone/coreclr_resolver.cpp
Labels: area-Host

#116693 Fix caught foreign native exception handling take 2
  src/coreclr/vm/exceptionhandling.cpp
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInterop.cs
  src/tests/baseservices/exceptions/exceptioninterop/ExceptionInteropNative.cpp
  src/tests/baseservices/exceptions/unhandled/unhandled.cs
  src/tests/baseservices/exceptions/unhandled/unhandledTester.cs
Labels: area-ExceptionHandling-coreclr

#116635 Fix nullable annotations on MLKemAlgorithm and add ToString
  src/libraries/Common/src/System/Security/Cryptography/MLKemAlgorithm.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemAlgorithmTests.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
Labels: area-System.Security

#116694 Implement interpreter CEE_ADD_OVF and CEE_SUB_OVF opcodes
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#116658 Update host test command execution logging: include PID on exit, remove confusing OK/FAIL, add caller name
  src/installer/tests/AppHost.Bundle.Tests/AppLaunch.cs
  src/installer/tests/AppHost.Bundle.Tests/BundleRename.cs
  src/installer/tests/HostActivation.Tests/DependencyResolution/ComponentSharedTestStateBase.cs
  src/installer/tests/HostActivation.Tests/DependencyResolution/DepsFile.cs
  src/installer/tests/HostActivation.Tests/DependencyResolution/PerAssemblyVersionResolution.cs
  src/installer/tests/HostActivation.Tests/DependencyResolution/PerAssemblyVersionResolutionMultipleFrameworks.cs
  src/installer/tests/HostActivation.Tests/DependencyResolution/RidAssetResolution.cs
  src/installer/tests/HostActivation.Tests/FrameworkDependentAppLaunch.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/ApplyPatchesSettings.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/ComplexHierarchies.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/FrameworkResolutionBase.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/FxVersionCLI.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/IncludedFrameworksSettings.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/MultipleHives.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardAndRollForwardOnNoCandidateFxSettings.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardMultipleFrameworks.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardOnNoCandidateFx.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardOnNoCandidateFxMultipleFrameworks.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardOnNoCandidateFxSettings.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardPreReleaseOnly.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardReleaseAndPreRelease.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardReleaseOnly.cs
  src/installer/tests/HostActivation.Tests/FrameworkResolution/RollForwardSettings.cs
  src/installer/tests/HostActivation.Tests/SDKLookup.cs
  src/installer/tests/TestUtils/Command.cs
Labels: area-Host

#115436 Unwrap RCWs that are passed to Marshal.GetIUnknownForObject when using the global marshalling ComWrappers instance
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.Com.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/tests/Interop/COM/ComWrappers/GlobalInstance/GlobalInstance.cs
Labels: area-System.Runtime.InteropServices

#116453 Virtual stub indirect call profiling
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-coreclr

#116113 Generalize HTTP/2 trailer tests to cover HTTP/3
  src/libraries/Common/tests/System/Net/Http/Http3LoopbackStream.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http

#116692 JIT: Properly check spilling around fat pointer calls
  src/coreclr/jit/importercalls.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_116689/Runtime_116689.cs
  src/tests/JIT/Regression/JitBlue/Runtime_116689/Runtime_116689.csproj
Labels: area-CodeGen-coreclr

#116488 [cDAC] Move AMD64 Unwinder to managed code
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/AMD64/AMD64Unwinder.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/AMD64Context.cs
Labels: area-Diagnostics-coreclr

#116308 Add CollectionsMarshal.AsBytes(BitArray)
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/GeneratorTests.Helpers.cs
  src/libraries/System.Collections/ref/System.Collections.cs
  src/libraries/System.Collections/src/Resources/Strings.resx
  src/libraries/System.Collections/src/System.Collections.csproj
  src/libraries/System.Collections/src/System/Collections/BitArray.cs
  src/libraries/System.Collections/tests/BitArray/BitArray_GetSetTests.cs
  src/libraries/System.Private.CoreLib/src/CompatibilitySuppressions.xml
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Collections/BitArray.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CollectionsMarshal.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
Labels: area-System.Collections

#116723 Add an entry on the coding style for primary constructors
  docs/coding-guidelines/coding-style.md
Labels: needs-area-label

#116722 Fix the compiler toolset override for runtime-async
  src/tests/Directory.Build.props
Labels: area-Infrastructure-coreclr, runtime-async

#116380 Implement SVE2 ShiftLeftLogical Intrinsics
  src/coreclr/jit/codegenarm64test.cpp
  src/coreclr/jit/emitarm64sve.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/_SveImmUnaryOpTestTemplate.template
Labels: area-System.Runtime.Intrinsics, community-contribution

#116561 Fix remaining uses of hccall
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/StaticsHelpers.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/fcall.h
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/prestub.cpp
Labels: area-VM-coreclr

#116718 JIT: Propagate GC safe point flag in `fgSplitBlockAtBeginning`
  src/coreclr/jit/fgbasic.cpp
Labels: area-CodeGen-coreclr

#116637 JIT: Reduce heuristics-derived edge likelihoods into throw blocks found by morph
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compphases.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgflow.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/fgprofilesynthesis.h
  src/coreclr/jit/optimizebools.cpp
Labels: area-CodeGen-coreclr

#116072 [cDAC] Support x86 stackwalking
  docs/design/datacontracts/ExecutionManager.md
  docs/design/datacontracts/StackWalk.md
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/inc/gcinfo.h
  src/coreclr/vm/gc_unwind_x86.inl
  src/coreclr/vm/readytoruninfo.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/Extensions/IExecutionManagerExtensions.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IExecutionManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.EEJitManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.ReadyToRunJitManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManager_2.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/AMD64/AMD64Unwinder.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/ContextHolder.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/IPlatformAgnosticContext.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/Unwinder.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86/GCInfoDecoding/CallPattern.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86/GCInfoDecoding/GCArgTable.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86/GCInfoDecoding/GCInfo.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86/GCInfoDecoding/GCInfoTargetExtensions.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86/GCInfoDecoding/GCTransition.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86/GCInfoDecoding/InfoHdr.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86/X86Unwinder.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/X86Context.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/FrameHandling/FrameIterator.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/FrameHandling/X86FrameHandler.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/StackWalk_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ReadyToRunHeader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ReadyToRunInfo.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/RealCodeHeader.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.ExecutionManager.cs
  src/native/managed/compile-native.proj
Labels: area-Diagnostics-coreclr

#116744 Add ModuleBaseAddress to ETW manifest
  src/coreclr/vm/ClrEtwAll.man
Labels: needs-area-label

#115566 Arm64 SVE: Optimise zero/allbits vectors the same as masks
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simd.h
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveLoadNonFaultingUnOpTest.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveLoadVectorMaskedTest.template
  src/tests/JIT/opt/SVE/ConstantMasks.cs
  src/tests/JIT/opt/SVE/ConstantMasks.csproj
  src/tests/JIT/opt/SVE/ConstantMasksOp2Fixed.cs
  src/tests/JIT/opt/SVE/ConstantMasksOp2Fixed.csproj
  src/tests/JIT/opt/SVE/PredicateInstructions.cs
Labels: arch-arm64, area-CodeGen-coreclr, community-contribution, arm-sve

#116582 Fix documentation for `Narrow` methods in `Vector128`
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
Labels: community-contribution, needs-area-label

#116721 Remove PopCountOperator<T> guards in TrailingZeroCountOperator<T>.Invoke
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.TrailingZeroCount.cs
Labels: area-System.Numerics.Tensors, community-contribution

#116793 Update Enumerable.Sequence based on post-merge feedback
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/Sequence.cs
  src/libraries/System.Linq.AsyncEnumerable/tests/SequenceTests.cs
  src/libraries/System.Linq/src/System/Linq/Sequence.cs
  src/libraries/System.Linq/tests/SequenceTests.cs
Labels: area-System.Linq

#116708 Add support for Classify, CompressStore, ExpandLoad, MaskLoad, MaskStore, and MoveMask
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lowerxarch.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx10v1.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx10v1.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512BW.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512BW.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512DQ.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512DQ.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512F.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512F.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512Vbmi2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx512Vbmi2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_X86.cs
  src/tests/JIT/HardwareIntrinsics/X86/Shared/Avx512Verify.cs
  src/tests/JIT/HardwareIntrinsics/X86/Shared/LoadTernOpTest.template
  src/tests/JIT/HardwareIntrinsics/X86/Shared/SimdScalarUnOpConvTest.template
  src/tests/JIT/HardwareIntrinsics/X86/Shared/SseVerify.cs
Labels: area-CodeGen-coreclr, avx512

#116794 dont try to zero-out mapping if VirtualAlloc fails
  src/coreclr/minipal/Windows/doublemapping.cpp
Labels: area-PAL-coreclr

#115265 [Linux][EventPipe][UserEvents] Add user events eventpipe support
  src/coreclr/nativeaot/Runtime/eventpipeinternal.cpp
  src/coreclr/vm/eventpipeadapter.h
  src/mono/mono/component/event_pipe.c
  src/mono/mono/eventpipe/test/ep-buffer-manager-tests.c
  src/mono/mono/eventpipe/test/ep-buffer-tests.c
  src/mono/mono/eventpipe/test/ep-session-tests.c
  src/mono/mono/eventpipe/test/ep-thread-tests.c
  src/native/containers/dn-umap-t.h
  src/native/containers/dn-vector.c
  src/native/eventpipe/configure.cmake
  src/native/eventpipe/ds-eventpipe-protocol.c
  src/native/eventpipe/ds-eventpipe-protocol.h
  src/native/eventpipe/ds-ipc-pal-namedpipe.c
  src/native/eventpipe/ds-ipc-pal-socket.c
  src/native/eventpipe/ds-ipc-pal-websocket.c
  src/native/eventpipe/ds-ipc-pal.h
  src/native/eventpipe/ds-ipc.c
  src/native/eventpipe/ds-protocol.c
  src/native/eventpipe/ds-protocol.h
  src/native/eventpipe/ds-server.c
  src/native/eventpipe/ds-types.h
  src/native/eventpipe/ep-event-payload.h
  src/native/eventpipe/ep-event-source.c
  src/native/eventpipe/ep-provider.c
  src/native/eventpipe/ep-session-provider.c
  src/native/eventpipe/ep-session-provider.h
  src/native/eventpipe/ep-session.c
  src/native/eventpipe/ep-session.h
  src/native/eventpipe/ep-shared-config.h.in
  src/native/eventpipe/ep-string.c
  src/native/eventpipe/ep-string.h
  src/native/eventpipe/ep-types-forward.h
  src/native/eventpipe/ep-types.h
  src/native/eventpipe/ep.c
  src/native/eventpipe/ep.h
Labels: area-Tracing-coreclr

#116797 Fix DAC-ification of the InterpreterFrame::SetContextToInterpMethodContextFrame
  src/coreclr/vm/frames.cpp
Labels: area-CodeGen-Interpreter-coreclr

#116716 Fix unhandled exception in tiered compilation thread
  src/coreclr/vm/dispatchinfo.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/jitinterface.cpp
  src/tests/Regressions/coreclr/GitHub_116676/test116676.cs
  src/tests/Regressions/coreclr/GitHub_116676/test116676.csproj
Labels: area-ExceptionHandling-coreclr

#116773 JIT: remove unnecessary inlining restriction
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.def
Labels: area-CodeGen-coreclr

#116809 Add missing RemoteExecutor.IsSupported
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamRemoteExecutorTests.cs
Labels: area-System.Net.Security

#116720 [cDAC] Fixes for 32bit platforms
  src/coreclr/debug/daccess/request.cpp
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/CodePointerUtils.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataStackWalk.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ConversionExtensions.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
  src/native/managed/compile-native.proj
Labels: area-Diagnostics-coreclr
