Repository dotnet/runtime, pull requests merged in 2025-04, with the labels that each got.

#114086 ML-KEM: PKCS#8 Import
  src/libraries/Common/src/System/Security/Cryptography/Asn1/MLKemPrivateKeyAsn.xml
  src/libraries/Common/src/System/Security/Cryptography/Asn1/MLKemPrivateKeyAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/MLKemPrivateKeyBothAsn.xml
  src/libraries/Common/src/System/Security/Cryptography/Asn1/MLKemPrivateKeyBothAsn.xml.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemTestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemTests.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
Labels: area-System.Security, new-api-needs-documentation

#113983 [cDAC] Remove superfluous modifiers from contract interfaces
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IDacStreams.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IEcmaMetadata.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IException.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IObject.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IStackWalk.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IStressLog.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IThread.cs
Labels: area-Diagnostics-coreclr

#114009 [Mono]: Fix syslog format error on Windows.
  src/mono/mono/utils/mono-log-windows.c
Labels: area-VM-meta-mono

#114018 remove the switch to fallback to old EH
  src/coreclr/debug/daccess/dacdbiimplstackwalk.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/dacvars.h
  src/coreclr/vm/amd64/ExternalMethodFixupThunk.asm
  src/coreclr/vm/amd64/GenericCLRToCOMCallStubs.asm
  src/coreclr/vm/amd64/ThePreStubAMD64.asm
  src/coreclr/vm/clrex.cpp
  src/coreclr/vm/debugdebugger.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/fcall.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/threadsuspend.cpp
  src/coreclr/vm/vars.cpp
  src/coreclr/vm/vars.hpp
Labels: area-VM-coreclr

#114091 Fix handling of empty RUNTIME_FUNCTIONs sections in R2R
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ObjectWriter/R2RPEBuilder.cs
  src/coreclr/vm/peimagelayout.cpp
Labels: area-crossgen2-coreclr

#113900 Stackwalk support for interpreted frames
  src/coreclr/debug/daccess/dacdbiimplstackwalk.cpp
  src/coreclr/debug/daccess/stack.cpp
  src/coreclr/debug/inc/dacdbistructures.inl
  src/coreclr/inc/eetwain.h
  src/coreclr/vm/FrameTypes.h
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/eventtrace.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/gcinfodecoder.cpp
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/interpexec.h
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stackwalk.h
Labels: area-VM-coreclr

#113792 Don't pass stack pointer in ECX on x86 funclet ABI
  src/coreclr/jit/codegenxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#114031 [release/9.0] Move DAC signing identity to PME
  eng/pipelines/coreclr/templates/sign-diagnostic-files.yml
Labels: Servicing-approved, area-Infrastructure-coreclr

#114103 JIT: expose inline budget as a jit config option
  src/coreclr/jit/compiler.h
  src/coreclr/jit/inline.cpp
  src/coreclr/jit/inline.h
  src/coreclr/jit/jitconfigvalues.h
  src/tests/JIT/Regression/JitBlue/Runtime_63942/Runtime_63942.csproj
Labels: area-CodeGen-coreclr

#113953 [cDAC] Change FrameIdentifiers to be contract literals
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Target.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/FrameHandling/FrameIterator.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader/ContractDescriptorTarget.cs
  src/native/managed/cdacreader/tests/TestPlaceholderTarget.cs
Labels: area-Diagnostics-coreclr

#108080 Give more detail on RyuJIT porting
  docs/design/coreclr/jit/porting-ryujit.md
Labels: area-CodeGen-coreclr

#114110 Share some CEEJitInfo methods with the CInterpreterInfo
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
Labels: area-CodeGen-Interpreter-coreclr

#113954 TypeMap API (Dynamic implementation)
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/Internal/VersionResilientHashCode.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.CoreCLR.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/AttributePresenceFilterNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InliningInfoNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InstanceEntryPointTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/InstrumentationDataTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypesTableNode.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/VersionResilientHashCode.ReadyToRun.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/assemblynative.hpp
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/versionresilienthashcode.cpp
  src/coreclr/vm/versionresilienthashcode.h
  src/libraries/Common/src/Internal/VersionResilientHashCode.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/TypeMapAssemblyTargetAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/TypeMapAssociationAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/TypeMapAttribute.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/TypeMapLazyDictionary.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/TypeMapping.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/tests/Interop/TypeMap/GroupTypes.cs
  src/tests/Interop/TypeMap/Lib2.cs
  src/tests/Interop/TypeMap/Lib3.cs
  src/tests/Interop/TypeMap/Lib4.cs
  src/tests/Interop/TypeMap/TypeMapApp.cs
  src/tests/Interop/TypeMap/TypeMapApp.csproj
  src/tests/Interop/TypeMap/TypeMapLib1.csproj
  src/tests/Interop/TypeMap/TypeMapLib2.csproj
  src/tests/Interop/TypeMap/TypeMapLib3.csproj
  src/tests/Interop/TypeMap/TypeMapLib4.csproj
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#114108 Add support for importing encrypted PKCS#8 to ML-KEM
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemNotSupportedTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemTestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemTests.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
Labels: area-System.Security, new-api-needs-documentation

#114121 Delete dead code in ExceptionTracker and leftover old EH code
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptionhandling.h
Labels: area-ExceptionHandling-coreclr, community-contribution

#113995 [mono] [hotreload] Adjust row_size and size_bitfield from the baseline based on the delta sizes
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize.csproj
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/deltascript.json
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj
  src/mono/mono/component/hot_reload.c
Labels: area-EnC-mono

#110417 Use managed signer for bundles
  src/installer/managed/Microsoft.NET.HostModel/AppHost/HostWriter.cs
  src/installer/managed/Microsoft.NET.HostModel/AppHost/MachOUtils.cs
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Segment64LoadCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/SymbolTableCommand.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachOFormatError.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.CodeSignature.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.cs
  src/installer/tests/HostActivation.Tests/HostActivation.Tests.csproj
  src/installer/tests/HostActivation.Tests/TestOnlyProductBehavior.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost/CreateAppHost.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/Bundle/BundlerConsistencyTests.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/SigningTests.cs
  src/installer/tests/TestUtils/Codesign.cs
  src/installer/tests/TestUtils/TestApp.cs
Labels: area-HostModel

#114142 linux-x86: Implement R2R P/Invoke helpers
  src/coreclr/vm/i386/pinvokestubs.S
Labels: area-VM-coreclr, community-contribution

#113250 [RISC-V] Optimize loading 64 bit constant with new algorithm implementation and using `emitDataConst`
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#114023 Fix ZipArchive loop condition for reading central directory headers
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchive.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_ReadTests.cs
Labels: area-System.IO.Compression

#113718 [release/8.0] Turn off packages for April
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
  src/libraries/System.Formats.Asn1/src/System.Formats.Asn1.csproj
Labels: Servicing-approved, area-Infrastructure-libraries

#114125 Fix bug in hwintrinsicxarch.cpp for Shuffle methods on xarch
  src/coreclr/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#114027 Sign and harden pkgs
  eng/Signing.props
Labels: needs-area-label

#113893 [9.0] libnethost no LTCG
  src/native/corehost/apphost/static/CMakeLists.txt
  src/native/corehost/hostmisc/CMakeLists.txt
  src/native/corehost/nethost/CMakeLists.txt
Labels: Servicing-approved, area-Host

#114166 [9.0] Bring back yml necessary change types in label checkers
  .github/workflows/check-no-merge-label.yml
  .github/workflows/check-service-labels.yml
Labels: Servicing-approved, area-Infrastructure

#114167 [8.0] Bring back yml necessary change types in label checkers
  .github/workflows/check-no-merge-label.yml
  .github/workflows/check-service-labels.yml
Labels: Servicing-approved, area-Infrastructure

#113044 [SGen/Tarjan] Handle edge case with node heaviness changing due to deduplication
  src/mono/mono/metadata/sgen-tarjan-bridge.c
  src/tests/GC/Features/Bridge/Bridge.cs
Labels: area-GC-mono, community-contribution

#113366 [RISC-V] 12-bit immediates in bit ops
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/lowerriscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#113943 Enhance logging of stubs through the PerfMap on Linux
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/utilcode/loaderheap.cpp
  src/coreclr/vm/amd64/cgenamd64.cpp
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/dllimportcallback.cpp
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/i386/jitinterfacex86.cpp
  src/coreclr/vm/loaderallocator.hpp
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/perfmap.cpp
  src/coreclr/vm/perfmap.h
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/stubcache.cpp
  src/coreclr/vm/stubcache.h
  src/coreclr/vm/stublink.cpp
  src/coreclr/vm/stublink.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/coreclr/vm/virtualcallstub.cpp
Labels: area-VM-coreclr

#114171 Fix line ending
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize.csproj
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/deltascript.json
Labels: area-EnC-mono

#114130 JIT: stop tracking TYP_I_IMPL locals in escape analysis
  src/coreclr/jit/objectalloc.cpp
Labels: area-CodeGen-coreclr

#114136 Fill out more SuperPMI cases for LoongArch64 and RISCV64
  src/coreclr/jit/compiler.h
  src/coreclr/jit/disasm.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/scripts/superpmi.py
  src/coreclr/tools/superpmi/superpmi-shared/compileresult.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmiutil.h
  src/coreclr/tools/superpmi/superpmi/commandline.cpp
  src/coreclr/tools/superpmi/superpmi/jitinstance.cpp
  src/coreclr/tools/superpmi/superpmi/neardiffer.cpp
  src/coreclr/tools/superpmi/superpmi/superpmi.cpp
Labels: area-CodeGen-coreclr

#114146 Delete more of ExceptionTracker code
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptionhandling.h
  src/coreclr/vm/exstate.h
  src/coreclr/vm/stackwalk.cpp
Labels: area-ExceptionHandling-coreclr, community-contribution

#114012 Fix Unable to load shared library 'jitinterface_x64' build error on linux/mac
  src/coreclr/tools/aot/crossgen2/crossgen2.props
Labels: area-crossgen2-coreclr

#114016 JIT: Propagate flow into finally regions correctly in synthesis
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#113466 [release/9.0-staging] [Apple mobile] Enable trimming on build machines to match ILLink features
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslike.yml
  eng/pipelines/runtime.yml
  eng/testing/tests.ioslike.targets
  eng/testing/tests.mobile.targets
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/Microsoft.Extensions.DependencyModel/tests/Microsoft.Extensions.DependencyModel.Tests.csproj
  src/libraries/System.Reflection.TypeExtensions/tests/ILLink.Descriptors.xml
  src/libraries/System.Reflection.TypeExtensions/tests/System.Reflection.TypeExtensions.Tests.csproj
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterTypesTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/ILLink.Descriptors.iOS.xml
  src/libraries/tests.proj
  src/mono/msbuild/apple/data/ProxyProjectForAOTOnHelix.proj
  src/tests/FunctionalTests/tvOS/Device/AOT/tvOS.Device.Aot.Test.csproj
Labels: Servicing-approved, area-Infrastructure-mono, os-ios

#114107 Notify profiler about unloads of all class instances when module is unloaded
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/class.cpp
  src/coreclr/vm/class.h
  src/coreclr/vm/clsload.cpp
  src/coreclr/vm/clsload.hpp
  src/tests/profiler/native/CMakeLists.txt
  src/tests/profiler/native/classfactory.cpp
  src/tests/profiler/native/classload/classload.cpp
  src/tests/profiler/native/classload/classload.h
  src/tests/profiler/unittest/classload.cs
  src/tests/profiler/unittest/classload.csproj
  src/tests/profiler/unittest/unloadlibrary.cs
Labels: area-Diagnostics-coreclr, community-contribution

#114161 Update branding to 8.0.16
  eng/Versions.props
Labels: Servicing-approved, area-codeflow

#114162 Update branding to 9.0.5
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure

#114139 Generating Debug Info for interpreted bytecode
  src/coreclr/inc/cordebuginfo.h
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/compileropt.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/stackwalk.cpp
Labels: area-CodeGen-Interpreter-coreclr

#114201 [clrinterp] Add support for ldc.r4, ldc.r8, ldc.i8 and ldstr
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/intops.def
  src/coreclr/interpreter/intops.h
  src/coreclr/vm/interpexec.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#114087 [mono][interpreter] Make nint and nuint work for interpreter simd intrinsics
  src/libraries/System.Runtime.Intrinsics/tests/System.Runtime.Intrinsics.Tests.csproj
  src/libraries/System.Runtime.Intrinsics/tests/Wasm/PackedSimdTests.cs
  src/mono/mono/mini/interp/interp-simd-intrins.def
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#113689 [RISC-V] Simple math intrinsics
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/lsrariscv64.cpp
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/MathF.cs
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#111072 [JIT] Enable conditional chaining for Intel APX
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/gentree.h
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/gtstructs.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/optimizebools.cpp
  src/coreclr/jit/switchrecognition.cpp
Labels: area-CodeGen-coreclr, community-contribution, apx

#114233 Fix bad merge of the interpreter code
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#114191 JIT: increase inline budget
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#114243 [wasm][interp] Add aliases for Vector128.Load and Vector128.LoadUnsafe
  src/mono/mono/mini/interp/simd-methods.def
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#114155 ML-KEM: ImportFrom{Encrypted}Pem
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
  src/libraries/Common/src/System/Security/Cryptography/PemKeyHelpers.Factory.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemNotSupportedTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemTests.cs
  src/libraries/Directory.Build.targets
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/Resources/Strings.resx
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/PemEncoding.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/Microsoft.Bcl.Cryptography/tests/PemEncodingFindTests.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/PemKeyHelpers.cs
Labels: area-System.Security, new-api-needs-documentation

#114157 Add support for building runtime with FEATURE_EH_FUNCLETS on win-x86
  src/coreclr/debug/ee/debugger.h
  src/coreclr/debug/ee/funceval.cpp
  src/coreclr/gcdump/i386/gcdumpx86.cpp
  src/coreclr/inc/crosscomp.h
  src/coreclr/inc/regdisp.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptionhandling.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/i386/asmconstants.h
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/i386/ehhelpers.asm
  src/coreclr/vm/i386/excepcpu.h
  src/coreclr/vm/i386/excepx86.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/readytoruninfo.cpp
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stackwalk.h
  src/coreclr/vm/threads.cpp
Labels: area-ExceptionHandling-coreclr, community-contribution

#114240 Create error message when `UnmanagedCallersOnly` is used with `DllImport`.
  src/coreclr/dlls/mscorrc/mscorrc.rc
  src/coreclr/dlls/mscorrc/resource.h
  src/coreclr/vm/dllimport.cpp
  src/mono/mono/metadata/marshal.c
Labels: area-Interop-coreclr

#114253 [wasm] Flag Vector128.Load regression as active issue for the moment
  src/tests/JIT/HardwareIntrinsics/General/HwiOp/HwiSideEffects.cs
Labels: area-CodeGen-coreclr

#114211 [WASI] fix trimming
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.LibraryBuild.WASI.xml
Labels: arch-wasm, area-Build-mono, linkable-framework, os-wasi

#114100 Fix SslStreamDisposeTest for parallel handshake on Unix
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamDisposeTest.cs
Labels: area-System.Net.Security

#114203 [mono] Tweaks to bridge testing
  src/tests/GC/Features/Bridge/Bridge.cs
  src/tests/GC/Features/Bridge/BridgeTester.cs
Labels: area-GC-mono

#114225 [HttpStress] Track unobserved exceptions
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Configuration.cs
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Program.cs
Labels: area-System.Net.Http

#113924 Make COR_PRF_DISABLE_OPTIMIZATIONS Allowable After Attach and non immutable
  src/coreclr/debug/daccess/dacdbiimpl.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/debug/ee/debugger.inl
  src/coreclr/inc/corprof.idl
  src/coreclr/pal/prebuilt/inc/corprof.h
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.cpp
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/vars.hpp
  src/tests/profiler/dynamicoptimization/DynamicOptimization.cs
  src/tests/profiler/dynamicoptimization/DynamicOptimization.csproj
  src/tests/profiler/dynamicoptimization/DynamicOptimizationTestLib.cs
  src/tests/profiler/dynamicoptimization/DynamicOptimizationTestLib.csproj
  src/tests/profiler/native/CMakeLists.txt
  src/tests/profiler/native/classfactory.cpp
  src/tests/profiler/native/dynamicjitoptimization/dynamicjitoptimization.cpp
  src/tests/profiler/native/dynamicjitoptimization/dynamicjitoptimization.h
  src/tests/profiler/native/profiler.def
Labels: area-Diagnostics-coreclr, community-contribution

#111408 [debugger] Fix crash during Async Break when APC and CET are enabled
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/debug/ee/debugger.h
  src/coreclr/vm/dbginterface.h
  src/coreclr/vm/threads.h
  src/coreclr/vm/threadsuspend.cpp
Labels: area-VM-coreclr

#114080 [browser] profilers linking and instrumentation in AOT
  src/coreclr/nativeaot/Runtime/eventpipe/ep-rt-aot.h
  src/coreclr/vm/eventing/eventpipe/ep-rt-coreclr.h
  src/mono/browser/browser.proj
  src/mono/browser/build/BrowserWasmApp.targets
  src/mono/browser/runtime/CMakeLists.txt
  src/mono/browser/runtime/cwraps.ts
  src/mono/browser/runtime/diagnostics/index.ts
  src/mono/browser/runtime/driver.c
  src/mono/browser/runtime/es6/dotnet.es6.lib.js
  src/mono/browser/runtime/exports-binding.ts
  src/mono/browser/runtime/exports-internal.ts
  src/mono/browser/runtime/jiterpreter.ts
  src/mono/browser/runtime/loader/config.ts
  src/mono/browser/runtime/profiler.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/browser/test-main.js
  src/mono/mono/eventpipe/ep-rt-mono-runtime-provider.c
  src/mono/mono/eventpipe/ep-rt-mono.h
  src/mono/mono/metadata/profiler.c
  src/mono/mono/mini/exceptions-wasm.c
  src/mono/mono/mini/method-to-ir.c
  src/mono/mono/mini/mini-profiler.c
  src/mono/mono/profiler/browser.c
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/browser-advanced/Wasm.Advanced.Sample.csproj
  src/mono/wasm/build/WasmApp.Common.targets
  src/mono/wasm/features.md
  src/native/eventpipe/ep-rt.h
  src/native/eventpipe/ep-sample-profiler.c
  src/tasks/AotCompilerTask/MonoAOTCompiler.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: arch-wasm, area-Diagnostics-mono, os-browser

#114228 GetType: keep throwing same exceptions as .NET 8
  src/coreclr/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.CoreCLR.cs
  src/libraries/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeNameParser.cs
  src/libraries/System.Runtime/tests/System.Reflection.Tests/GetTypeTests.cs
Labels: area-System.Reflection

#114227 Moved a static field initialization from Thread to ProcessorIdCache
  src/libraries/System.Private.CoreLib/src/System/Threading/ProcessorIdCache.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
Labels: area-NativeAOT-coreclr

#114245 Remove jitstress-isas-sve pipeline
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/test-variables.yml
  eng/pipelines/coreclr/jitstress-isas-sve.yml
  src/tests/Common/testenvironment.proj
Labels: needs-area-label

#114270 [mono][interp] Group all the System.Runtime.Intrinsics logic together
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#114268 Switch libraries testing to Ubuntu 22 temporarily
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#113864 JIT: Optimize ConditionalSelect with const zero when condition is not TYP_MASK
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#114255 SVE: Fix the mask values returned by Helper
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
Labels: area-CodeGen-coreclr

#114164 adding runtime-outerloop to build-analysis.
  eng/build-analysis-configuration.json
Labels: needs-area-label

#113286 Alternate approach for HELPER_METHOD_FRAME removal for arithmetic div…
  src/coreclr/classlibnative/float/CMakeLists.txt
  src/coreclr/classlibnative/float/divmodint.cpp
  src/coreclr/classlibnative/inc/divmodint.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/nativeaot/Runtime/CommonMacros.h
  src/coreclr/nativeaot/Runtime/MathHelpers.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/MathHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/corelib.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/fcall.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/threadsuspend.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Math.DivModInt.cs
Labels: area-VM-coreclr

#114277 Fix build break with cmake 4.0
  src/native/libs/System.Security.Cryptography.Native.Apple/CMakeLists.txt
Labels: area-Infrastructure-libraries

#114279 [release/8.0-staging] Fix build break with cmake 4.0
  src/native/libs/System.Security.Cryptography.Native.Apple/CMakeLists.txt
Labels: Servicing-approved, area-Infrastructure-libraries

#114266 ML-KEM: PKCS#8 Exports
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EVP.Kem.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKemImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKemPkcs8.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemBaseTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemContractTests.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLKemImplementation.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLKemOpenSsl.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLKemOpenSsl.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLKemOpenSsl.cs
  src/native/libs/System.Security.Cryptography.Native/pal_evp_kem.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_kem.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey.h
Labels: area-System.Security, new-api-needs-documentation

#114289 Fix failure in System.Reflection.Tests.GetTypeTests.GetType_InvalidAssemblyName
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.NativeAot.cs
Labels: area-NativeAOT-coreclr

#114192 Add FrozenDictionary.Create
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/src/CompatibilitySuppressions.xml
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenDictionaryTests.cs
Labels: area-System.Collections, new-api-needs-documentation

#114291 Enable RISC-V in coredistools
  src/coreclr/inc/coredistools.h
  src/coreclr/jit/disasm.cpp
  src/coreclr/tools/superpmi/superpmi/neardiffer.cpp
Labels: area-Infrastructure-coreclr

#114282 Remove unused and unnecessary `CLRConfig`s.
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/md/compiler/custattr_emit.cpp
  src/coreclr/md/compiler/regmeta.cpp
  src/coreclr/md/compiler/regmeta.h
  src/coreclr/utilcode/loaderheap.cpp
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/eeconfig.cpp
  src/coreclr/vm/eeconfig.h
  src/coreclr/vm/i386/excepx86.cpp
  src/coreclr/vm/rejit.inl
Labels: area-VM-coreclr

#114294 Add System.Net.ServerSentEvents to PackageOverrides.txt
  src/installer/pkg/sfx/Microsoft.NETCore.App/PackageOverrides.txt
Labels: area-Setup

#114267 [clr-interp] Fix emit of bb end var moves
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#114298 Don't use property for msbuild versions in Versions.props
  eng/Versions.props
Labels: needs-area-label

#114190 Removing unnecessary comments
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdateTest.cs
Labels: area-System.Reflection.Metadata

#114231 Adjust for culture name normalization in AssemblyNameInfoFuzzer
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/AssemblyNameInfoFuzzer.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/AssemblyNameInfoTests.cs
Labels: area-System.Reflection.Metadata

#114308 Revert "Alternate approach for HELPER_METHOD_FRAME removal for arithmetic div…"
  src/coreclr/classlibnative/float/CMakeLists.txt
  src/coreclr/classlibnative/float/divmodint.cpp
  src/coreclr/classlibnative/inc/divmodint.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/nativeaot/Runtime/CommonMacros.h
  src/coreclr/nativeaot/Runtime/MathHelpers.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/MathHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/corelib.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/fcall.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/threadsuspend.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Math.DivModInt.cs
Labels: area-VM-coreclr

#114292 [RISC-V] Fix RISC-V Windows build
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emitriscv64.cpp
Labels: area-CodeGen-coreclr, arch-riscv

#114321 Fix warning in pal_x509_ios.c on newer clang
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_x509_ios.c
Labels: area-System.Security

#114180 Move funclets invocation to code managers
  src/coreclr/inc/eetwain.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptionhandling.h
Labels: area-ExceptionHandling-coreclr

#113287 [mono] Switch generic instance cache back to GHashTable; improve ginst hash function
  src/mono/mono/metadata/loader-internals.h
  src/mono/mono/metadata/memory-manager.c
  src/mono/mono/metadata/metadata.c
Labels: area-VM-meta-mono

#114323 Fix inadvertently upgrading compiler warnings to errors in libs.native
  src/coreclr/runtime.proj
  src/native/corehost/corehost.proj
  src/native/libs/build-native.proj
Labels: area-Infrastructure-libraries

#114290 JIT: remove dependence on GetThreadCycles
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#114325 Enable alljitcommunity in CI
  eng/pipelines/coreclr/superpmi-diffs.yml
Labels: area-Infrastructure-coreclr, community-contribution

#114312 [clr-interp] Implement a few minor opcodes
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#114272 Remove CreateFalse node during lowering, if MaskToVector is getting removed
  src/coreclr/jit/lowerarmarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_113338/Runtime_113338.cs
  src/tests/JIT/Regression/JitBlue/Runtime_113338/Runtime_113338.csproj
Labels: area-CodeGen-coreclr

#114342 [android] Fix android-x64 build on Windows
  eng/native/gen-buildsys.cmd
Labels: needs-area-label

#114347 [wasm] Disable wasm linux library tests which are failing due to infrastructure
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-mono

#114304 ML-KEM: EncryptedPrivateKeyInfo exports
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemBaseTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/MLKemContractTests.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
Labels: area-System.Security, new-api-needs-documentation

#114293 [wasm][interp] alias Vector operators to PackedSimd
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#114331 [release/9.0-staging] Fix inadvertently upgrading compiler warnings to errors
  src/native/libs/build-native.proj
Labels: Servicing-approved, area-Infrastructure-libraries

#114335 [release/8.0-staging] Fix inadvertently upgrading compiler warnings to errors
  src/native/libs/build-native.proj
Labels: Servicing-approved, area-Infrastructure-libraries

#114300 [clr-interp] Refactor passing of configuration environment variables
  src/coreclr/interpreter/CMakeLists.txt
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/eeinterp.cpp
  src/coreclr/interpreter/interpconfig.cpp
  src/coreclr/interpreter/interpconfig.h
  src/coreclr/interpreter/interpconfigvalues.h
  src/coreclr/interpreter/interpreter.h
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#111791 [WinHTTP] Certificate caching on WinHttpHandler to eliminate extra call to Custom Certificate Validation
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp_types.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/CachedCertificateValue.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestCallback.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
Labels: area-System.Net.Http

#114368 JIT: Count `EXPLICITTHIS` args correctly in tailcall stress
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#113978 [perf build] Added possibility to store metadata about latest built PERF build
  eng/pipelines/performance/perf-build.yml
Labels: perf-pipeline, needs-area-label

#114349 Update HttpTelemetry.Redirect helper visibility
  src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs
Labels: area-System.Net.Http

#114311 JIT: Skip rarely-run block expansion during flow opts when we have profile data
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#114337 [RISC-V] Bit counting intrinsics
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/instrsriscv64.h
  src/coreclr/jit/lsrariscv64.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenumfuncs.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#114375 Test build fix
  src/tests/JIT/Regression/JitBlue/Runtime_113338/Runtime_113338.cs
Labels: area-CodeGen-coreclr, community-contribution

#114386 Disable workloads build, it happens in the sdk repo now
  eng/pipelines/runtime-official.yml
Labels: needs-area-label

#114376 Split JIT.CodeGenBringUpTests to fix Alpine runs
  src/tests/JIT/CodeGenBringUpTests/JIT.CodeGenBringUpTests.csproj
  src/tests/JIT/CodeGenBringUpTests/JIT.CodeGenBringUpTests_d.csproj
  src/tests/JIT/CodeGenBringUpTests/JIT.CodeGenBringUpTests_do.csproj
  src/tests/JIT/CodeGenBringUpTests/JIT.CodeGenBringUpTests_r.csproj
  src/tests/JIT/CodeGenBringUpTests/JIT.CodeGenBringUpTests_ro.csproj
Labels: area-CodeGen-coreclr

#114400 Split Regression_1 into new Regression_7
  src/tests/JIT/Regression/Regression_1.csproj
  src/tests/JIT/Regression/Regression_5.csproj
  src/tests/JIT/Regression/Regression_7.csproj
Labels: area-CodeGen-coreclr

#114395 [wasm][interp] Add the opcodes to the widening intrinsics
  src/mono/mono/mini/interp/interp-simd-intrins.def
Labels: area-Codegen-Interpreter-mono

#114411 Comment out workloads job in runtime-official.yml
  eng/pipelines/runtime-official.yml
Labels: needs-area-label

#114394 [riscv] Fix build break of riscv
  src/coreclr/jit/emitriscv64.cpp
Labels: area-CodeGen-coreclr, arch-riscv

#114356 JIT: add note on stack security (GS)
  docs/design/coreclr/jit/Stack Buffer Overflow Protection.md
Labels: area-CodeGen-coreclr

#114362 Make host trace to `<exe_name>.<pid>.log` if `COREHOST_TRACEFILE` is set to a directory
  docs/design/features/host-tracing.md
  src/installer/tests/HostActivation.Tests/DependencyResolution/ResolveComponentDependencies.cs
  src/installer/tests/HostActivation.Tests/Tracing.cs
  src/installer/tests/TestUtils/Assertions/CommandResultExtensions.cs
  src/installer/tests/TestUtils/Command.cs
  src/installer/tests/TestUtils/CommandExtensions.cs
  src/installer/tests/TestUtils/CommandResult.cs
  src/installer/tests/TestUtils/FileUtils.cs
  src/installer/tests/TestUtils/TestArtifact.cs
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/pal.unix.cpp
  src/native/corehost/hostmisc/pal.windows.cpp
  src/native/corehost/hostmisc/trace.cpp
Labels: area-Host

#114399 [wasm][interp] Add Round alias
  src/mono/mono/mini/interp/simd-methods.def
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#114413 [wasm][interp] Fix PackedSimd.Splat intrinsic lookup
  src/libraries/System.Runtime.Intrinsics/tests/Wasm/PackedSimdTests.cs
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#114381 Switch OSR patchpoint identity to <func version, IL offset>
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/onstackreplacement.cpp
  src/coreclr/vm/onstackreplacement.h
Labels: area-VM-coreclr

#114332 Remove useless assert from assertprop
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#114418 Ensure proper interpreter frames ordering
  src/coreclr/vm/prestub.cpp
Labels: area-CodeGen-Interpreter-coreclr

#114170 Replace CodeManState with cache in EECodeInfo for x86.
  src/coreclr/System.Private.CoreLib/src/System/Runtime/ExceptionServices/AsmOffsets.cs
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/gc_unwind_x86.h
  src/coreclr/inc/regdisp.h
  src/coreclr/unwinder/i386/unwinder.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/gc_unwind_x86.inl
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/gcenv.ee.common.cpp
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/i386/excepx86.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stackwalk.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threadsuspend.cpp
Labels: area-VM-coreclr, community-contribution

#114111 [wasm coreclr] simplify build
  eng/Subsets.props
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr

#114428 [browser] remove profiler from samples
  src/mono/sample/wasm/Directory.Build.targets
Labels: arch-wasm, area-Build-mono, os-browser

#114417 Mark profiler\DynamicOptimization test JitOptimizationSensitive
  src/tests/profiler/dynamicoptimization/DynamicOptimization.csproj
Labels: area-Diagnostics-coreclr

#114434 [browser] Rename WriteImportMapToHtml to OverrideHtmlAssetPlaceholders
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
Labels: arch-wasm, area-Build-mono, os-browser

#114408 XML documentation for `ProviderAliasAttribute` improved.
  src/libraries/Microsoft.Extensions.Logging/src/ProviderAliasAttribute.cs
Labels: area-Extensions-Logging, community-contribution

#114452 Reenable workloads build temporarily, only publish workload msi nugets
  eng/Publishing.props
  eng/Signing.props
  eng/pipelines/runtime-official.yml
Labels: needs-area-label

#113444 Propagate exceptions in `GetAddressInfoExCallback`
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
Labels: area-System.Net

#113404 [release/8.0-staging] Remove reference / redistribution of externally provided packages in MSBuild tasks
  eng/PackageDownloadAndReference.targets
  eng/Versions.props
  src/tasks/AndroidAppBuilder/AndroidAppBuilder.csproj
  src/tasks/AotCompilerTask/MonoAOTCompiler.csproj
  src/tasks/AppleAppBuilder/AppleAppBuilder.csproj
  src/tasks/Crossgen2Tasks/Crossgen2Tasks.csproj
  src/tasks/Directory.Build.targets
  src/tasks/LibraryBuilder/LibraryBuilder.csproj
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks.csproj
  src/tasks/Microsoft.NET.WebAssembly.Webcil/Microsoft.NET.WebAssembly.Webcil.csproj
  src/tasks/MobileBuildTasks/MobileBuildTasks.csproj
  src/tasks/MonoTargetsTasks/MonoTargetsTasks.csproj
  src/tasks/TestExclusionListTasks/TestExclusionListTasks.csproj
  src/tasks/WasmAppBuilder/PInvokeCollector.cs
  src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs
  src/tasks/WasmAppBuilder/SignatureMapper.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.csproj
  src/tasks/WasmBuildTasks/WasmBuildTasks.csproj
  src/tasks/WorkloadBuildTasks/WorkloadBuildTasks.csproj
  src/tasks/installer.tasks/installer.tasks.csproj
  src/tools/illink/src/ILLink.Tasks/ILLink.Tasks.csproj
Labels: Servicing-approved, area-Build-mono

#114424 Baseline new warning in trimming tests
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/DynamicObjects.cs
Labels: linkable-framework, area-Tools-ILLink

#114374 Extend type preinitialization support
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
Labels: area-NativeAOT-coreclr

#114008 Don't use `Delegate.Method` in ServiceDescriptor
  src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/ServiceDescriptor.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ServiceCollectionDescriptorExtensionsTests.cs
Labels: area-Extensions-DependencyInjection

#114352 Alternate approach for HELPER_METHOD_FRAME removal for arithmetic divide (take2)
  src/coreclr/classlibnative/float/CMakeLists.txt
  src/coreclr/classlibnative/float/divmodint.cpp
  src/coreclr/classlibnative/inc/divmodint.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/nativeaot/Runtime/CommonMacros.h
  src/coreclr/nativeaot/Runtime/MathHelpers.cpp
  src/coreclr/nativeaot/Runtime/i386/AsmMacros.inc
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/MathHelpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/corelib.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/fcall.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/threadsuspend.cpp
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Math.DivModInt.cs
Labels: area-VM-coreclr

#114447 JIT: Detect inconsistency in small profile weights for finally exits
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#114416 Prepare cert tests for new signing algorithms
  src/libraries/Common/tests/System/Net/Configuration.Certificates.Dynamic.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/CertificateValidationRemoteServer.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamCertificateContextTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestChainTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestLoadTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CrlBuilderTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
Labels: area-System.Security, test-enhancement

#114249 Name native threads before start (macOS/Native AOT)
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.cs
Labels: area-System.Threading

#114392 Add ability to raise `AppDomain.UnhandledException` event.
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/AppContext.NativeAot.cs
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comdelegate.h
  src/coreclr/vm/corelib.h
  src/libraries/System.Private.CoreLib/src/System/AppContext.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/ExceptionServices/ExceptionHandling.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/tests/baseservices/exceptions/RaiseAppDomainUnhandledExceptionEvent/RaiseEvent.cs
  src/tests/baseservices/exceptions/RaiseAppDomainUnhandledExceptionEvent/RaiseEvent.csproj
Labels: area-System.Runtime, new-api-needs-documentation

#114467 Fix GC hole with `rorx` instruction
  src/coreclr/jit/emitxarch.cpp
Labels: area-CodeGen-coreclr

#114215 ILLink : Fix and a couple tweaks
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Metadata/KeepTypeForwarderOnlyAssembliesAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Metadata/SetupCompileAfterAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases.Expectations/Metadata/SetupCompileBeforeAttribute.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/TestFramework/CanCompileReferencesUsingTypes.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/TestFramework/CanCompileReferencesWithResources.cs
Labels: linkable-framework, community-contribution, needs-area-label

#114367 [clr-interp] Add github notifications for code owners
  .github/CODEOWNERS
  .github/policies/resourceManagement.yml
Labels: needs-area-label

#113728 Ignore DefaultCredentials when doing Basic & Digest auth in SocketsHttpHandler
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMessageHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
Labels: area-System.Net.Http, community-contribution

#110432 Fix for "ld.lld: error: undefined symbol: _Uaarch64_setcontext" when doing build for FreeBSD-arm64 using internal libunwind
  src/native/external/libunwind.cmake
Labels: os-freebsd, area-PAL-coreclr, community-contribution

#114154 Reduce unsafe from STJ
  src/libraries/Common/src/SourceGenerators/SourceWriter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.DbRow.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/EnumConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeInfo.Cache.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/PropertyRef.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
  src/libraries/System.Text.RegularExpressions/gen/Stubs.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs
Labels: area-System.Text.Json, reduce-unsafe

#114481 Fix link to documentation file
  src/libraries/System.Private.CoreLib/src/System/Threading/ExecutionContext.cs
Labels: area-System.Threading, community-contribution

#113899 [cDAC] Adds DAC like entrypoint with new COM interface
  docs/design/datacontracts/RuntimeInfo.md
  docs/design/datacontracts/contract-descriptor.md
  docs/design/datacontracts/data_descriptor.md
  src/coreclr/debug/daccess/cdac.cpp
  src/coreclr/debug/runtimeinfo/CMakeLists.txt
  src/coreclr/debug/runtimeinfo/configure.h.in
  src/coreclr/debug/runtimeinfo/contracts.jsonc
  src/coreclr/debug/runtimeinfo/datadescriptor.cpp
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/runtime.proj
  src/coreclr/tools/cdac-build-tool/DataDescriptorModel.cs
  src/coreclr/tools/cdac-build-tool/JsonConverter/GlobalValueJsonConverter.cs
  src/coreclr/tools/cdac-build-tool/ObjectFileScraper.cs
  src/coreclr/tools/cdac-build-tool/data-descriptor-blob.md
  src/coreclr/tools/cdac-build-tool/sample/sample.blob.c
  src/coreclr/tools/cdac-build-tool/sample/sample.data.h
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeInfo.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Abstractions/Target.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeInfoFactory.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeInfo_1.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/IPlatformAgnosticContext.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader/CachingContractRegistry.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader/ContractDescriptorParser.cs
  src/native/managed/cdacreader/Microsoft.Diagnostics.DataContractReader/ContractDescriptorTarget.cs
  src/native/managed/cdacreader/inc/cdac_reader.h
  src/native/managed/cdacreader/src/Entrypoints.cs
  src/native/managed/cdacreader/src/Legacy/ICLRData.cs
  src/native/managed/cdacreader/tests/ContractDescriptor/ContractDescriptorBuilder.cs
  src/native/managed/cdacreader/tests/ContractDescriptor/ContractDescriptorHelpers.cs
  src/native/managed/cdacreader/tests/ContractDescriptor/ParserTests.cs
  src/native/managed/cdacreader/tests/ContractDescriptor/TargetTests.cs
  src/native/managed/cdacreader/tests/RuntimeInfoTests.cs
  src/native/managed/cdacreader/tests/TestPlaceholderTarget.cs
  src/tools/StressLogAnalyzer/src/Program.cs
Labels: area-Diagnostics-coreclr

#114482 [wasm][bench] Fix the template dir creation
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
Labels: area-Infrastructure-mono

#114503 Fix broken System.Runtime.sln
  src/libraries/System.Runtime/System.Runtime.sln
Labels: area-Infrastructure-libraries, community-contribution

#114483 Share common Uri redaction logic in Http
  src/libraries/Common/src/System/Net/Http/UriRedactionHelper.cs
  src/libraries/Microsoft.Extensions.Http/src/Logging/LogHelper.cs
  src/libraries/Microsoft.Extensions.Http/src/Microsoft.Extensions.Http.csproj
  src/libraries/Microsoft.Extensions.Http/tests/Microsoft.Extensions.Http.Tests/Logging/LoggingUriOutputTests.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/GlobalHttpSettings.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/DiagnosticsHelperTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Labels: area-System.Net.Http

#114492 [wasm][interp] Filter out overmatched shift
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#114493 [mono][interp] Add Sqrt packedsimd alias
  src/mono/mono/mini/interp/simd-methods.def
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#113876 Make lttng-ust an optional dependency.
  eng/DotNetBuild.props
  src/coreclr/clr.featuredefines.props
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/eventprovider/CMakeLists.txt
  src/coreclr/runtime.proj
Labels: area-Infrastructure-coreclr, community-contribution

#114471 Make CertificateRequest et al work with ML-DSA
  src/libraries/Common/src/System/Security/Cryptography/Helpers.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/MLDsa/MLDsaTestImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaImplementation.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AndroidCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.Keys.iOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.Keys.macOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificatePal.Windows.PrivateKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.Load.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRevocationListBuilder.Build.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ICertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/MLDsaX509SignatureGenerator.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509CertificateReader.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/PublicKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509SignatureGenerator.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestApiTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestChainTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestLoadTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CrlBuilderTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
Labels: area-System.Security, new-api-needs-documentation

#114464 Enable jit optimization in crossgen testing
  src/tests/Common/CLRTest.CrossGen.targets
  src/tests/JIT/Directed/debugging/poisoning/poison.csproj
Labels: area-crossgen2-coreclr

#114508 [wasm] Add missing referenced file
  src/mono/wasm/Wasm.Build.Tests/BrowserLocator.cs
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
Labels: area-Build-mono
