Repository dotnet/runtime, pull requests merged in 2025-01, with the labels that each got.

#111011 Fix reporting GC fields from base types
  src/coreclr/inc/corinfo.h
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
Labels: area-NativeAOT-coreclr

#110330 Warn on message formatting failure instead of crash, and fix Native AOT MakeGenericType failure
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/HandleCallAction.cs
Labels: linkable-framework, area-NativeAOT-coreclr, area-Tools-ILLink

#111036 Add missing X509CertificateLoader documentation
  src/libraries/Common/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.cs
Labels: documentation, area-System.Security

#111042 Baseline some more pri1 tests with NAOT
  src/tests/CoreMangLib/system/runtime/interopservices/marshal/marshalsizeof1.cs
  src/tests/JIT/Regression/JitBlue/DevDiv_255294/DevDiv_255294.csproj
  src/tests/JIT/Regression/clr-x64-JIT/v2.1/b173569/b173569.ilproj
  src/tests/JIT/Regression/clr-x64-JIT/v4.0/devdiv374539/DevDiv_374539.csproj
  src/tests/JIT/jit64/opt/cse/hugeexpr1.csproj
  src/tests/baseservices/exceptions/exceptionstacktrace/exceptionstacktrace.cs
  src/tests/baseservices/exceptions/exceptionstacktrace/exceptionstacktrace.csproj
  src/tests/issues.targets
Labels: area-CodeGen-coreclr

#111063 [LoongArch64] Disabled the `largeframe secondary` case in stackoverflow tests for LA64.
  src/tests/baseservices/exceptions/stackoverflow/stackoverflowtester.cs
Labels: area-VM-coreclr, community-contribution, arch-loongarch64

#111000 [mono] [llvm-aot] Fixed storing Vector3 into memory
  src/mono/mono/mini/mini-llvm.c
  src/tests/JIT/Regression/JitBlue/Runtime_110820/Runtime_110820.cs
  src/tests/JIT/Regression/JitBlue/Runtime_110820/Runtime_110820.csproj
Labels: area-Codegen-AOT-mono

#111034 Remove HMFs from JIT helpers
  src/coreclr/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/classlibnative/bcltype/arraynative.cpp
  src/coreclr/classlibnative/bcltype/arraynative.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/jit/utils.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/field.cpp
  src/coreclr/vm/field.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/metasig.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/runtimehandles.h
Labels: area-VM-coreclr

#111038 Fix LoaderAllocator of DynamicMethodTable
  src/coreclr/vm/dynamicmethod.cpp
  src/tests/Regressions/coreclr/GitHub_110987/test110987.cs
  src/tests/Regressions/coreclr/GitHub_110987/test110987.csproj
Labels: area-VM-coreclr

#110591 Change RSA.LegalKeySizes for Apple platforms to return 8192
  src/libraries/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs
Labels: area-System.Security

#111002 Remove unused packageindex infra
  src/coreclr/.nuget/Directory.Build.props
  src/coreclr/.nuget/packageIndex.json
  src/installer/pkg/Directory.Build.props
  src/installer/pkg/packageIndex.json
  src/mono/nuget/Directory.Build.props
  src/mono/nuget/packageIndex.json
Labels: area-Infrastructure

#110778 Use -pack switch instead of -allconfigurations to create packages
  docs/project/library-servicing.md
  eng/DotNetBuild.props
  eng/Publishing.props
  eng/Subsets.props
  eng/build.ps1
  eng/build.sh
  eng/packaging.targets
  eng/pipelines/global-build.yml
  eng/pipelines/official/stages/publish.yml
  eng/pipelines/runtime-official.yml
  eng/pipelines/runtime-richnav.yml
  eng/pipelines/runtime.yml
  eng/pipelines/runtimelab-official.yml
  eng/pipelines/runtimelab.yml
  src/libraries/oob-trim.proj
  src/libraries/oob.proj
  src/libraries/pretest.proj
  src/libraries/sfx-finish.proj
  src/libraries/sfx.proj
Labels: needs-area-label

#111075 Remove HMFs from JIT helpers
  src/coreclr/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/ThrowHelpers.cs
  src/coreclr/inc/jithelpers.h
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/metasig.h
  src/coreclr/vm/qcallentrypoints.cpp
Labels: area-VM-coreclr

#111048 Fix WriteNamedBitList for enums with negative values.
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnWriter.NamedBitList.cs
  src/libraries/System.Formats.Asn1/tests/Reader/ReadNamedBitList.cs
  src/libraries/System.Formats.Asn1/tests/Writer/WriteNamedBitList.cs
Labels: area-System.Formats.Asn1

#111088 Remove HMFs from JIT helpers
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/StackFrameHelper.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/tools/Common/JitInterface/CorInfoHelpFunc.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/field.cpp
  src/coreclr/vm/field.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/runtimehandles.cpp
Labels: area-VM-coreclr

#111119 Fix pri1 test build
  src/tests/Regressions/coreclr/GitHub_110987/test110987.cs
Labels: area-Infrastructure-coreclr

#111080 Fix TimeProvider Test
  src/libraries/Common/tests/System/TimeProviderTests.cs
Labels: area-System.DateTime

#111006 JIT: Clean up `fgReplaceJumpTarget` call sites
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#110921 JIT: Reuse LSRA's block sequence for initial layout during block reordering
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#111009 JIT: Consolidate block pred iterator logic
  src/coreclr/jit/block.h
Labels: area-CodeGen-coreclr

#111120 JIT: Add a metric for inverted loops
  src/coreclr/jit/jitmetadatalist.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#110229 Unwrap NullableValue for diagnostics creation and add try/catch for formatting diagnostics
  src/tools/illink/src/ILLink.Shared/Annotations.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/NullableAnnotations.cs
Labels: linkable-framework, area-Tools-ILLink

#110632 Fix typos
  src/coreclr/pal/src/include/pal/synchcache.hpp
  src/coreclr/vm/amd64/cgenamd64.cpp
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/fcall.h
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/i386/asmhelpers.S
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/methodtablebuilder.cpp
  src/coreclr/vm/proftoeeinterfaceimpl.cpp
  src/coreclr/vm/riscv64/stubs.cpp
  src/libraries/System.Data.Common/src/System/Data/DataColumn.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.Xml/tests/Writers/RwFactory/CXmlDriverEngine.cs
Labels: area-VM-coreclr, community-contribution

#110922 JIT: Use postorder numbers as keys into ordinals in 3-opt layout
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#110123 Update System.Speech to also recognize Speech_OneCore
  src/libraries/System.Speech/src/Internal/ObjectToken/ObjectTokenCategory.cs
  src/libraries/System.Speech/src/Internal/ObjectToken/SAPICategories.cs
  src/libraries/System.Speech/src/Internal/Synthesis/VoiceSynthesis.cs
Labels: area-System.Speech

#111129 JIT: handle nested try case in empty try removal
  src/coreclr/jit/fgehopt.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_110958/Runtime_110985.cs
  src/tests/JIT/Regression/JitBlue/Runtime_110958/Runtime_110985.csproj
Labels: area-CodeGen-coreclr

#110828 Exit the lock before we call into user code and handle losing the race for the RCW table
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.NativeAot.cs
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/Common.cs
Labels: area-System.Runtime.InteropServices

#110983 Revert "Fix NativeAOT ThunksPool thunk data block size handling."
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/ThunkPool.cs
Labels: area-NativeAOT-coreclr

#111118 [infra][mono] Disable failing BinaryFormatterTests.ValidateAgainstBlobs test on Windows
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
Labels: area-Infrastructure-mono, binaryformatter-migration

#111128 JIT: Check DFS tree containment before checking ancestry
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#111135 JIT: Add helpers for increasing/decreasing block weights
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/fgprofile.cpp
Labels: area-CodeGen-coreclr

#111153 Pass the -pack switch to repo source-build leg
  eng/DotNetBuild.props
  src/coreclr/nativeaot/BuildIntegration/BuildIntegration.proj
Labels: area-Infrastructure-libraries

#111137 Delete FEATURE_INTERPRETER
  docs/design/features/code-generation-strategies.md
  eng/pipelines/common/templates/runtimes/build-test-job.yml
  eng/pipelines/common/templates/runtimes/native-test-assets-variables.yml
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/common/templates/runtimes/test-variables.yml
  eng/pipelines/coreclr/clrinterpreter.yml
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corjitflags.h
  src/coreclr/inc/vptr_list.h
  src/coreclr/jit/jitee.h
  src/coreclr/tools/Common/JitInterface/CorInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ArgIterator.cs
  src/coreclr/tools/superpmi/superpmi-shared/methodcontext.cpp
  src/coreclr/tools/superpmi/superpmi-shared/spmidumphelper.cpp
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/arm/cgencpu.h
  src/coreclr/vm/callhelpers.cpp
  src/coreclr/vm/callhelpers.h
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/codepitchingmanager.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exstate.cpp
  src/coreclr/vm/exstate.h
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/interpreter.cpp
  src/coreclr/vm/interpreter.h
  src/coreclr/vm/interpreter.hpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/reflectioninvocation.cpp
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stackwalk.h
  src/coreclr/vm/threadstatics.cpp
  src/coreclr/vm/tieredcompilation.cpp
Labels: area-VM-coreclr

#111163 SPMI: Target .NET 10.0
  src/coreclr/scripts/superpmi_benchmarks.py
  src/coreclr/scripts/superpmi_collect_setup.py
Labels: area-CodeGen-coreclr

#110765 [release/8.0-staging] Fix race condition when cancelling pending HTTP connection attempts
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Cancellation.cs
Labels: Servicing-approved, area-System.Net.Http

#110859 JIT: Unify Swift parameter register homing with normal homing
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegenlinear.cpp
Labels: area-CodeGen-coreclr

#111193 Define Pack target in dotnet-pgo-pack.proj
  eng/Subsets.props
  src/coreclr/tools/dotnet-pgo/dotnet-pgo-pack.proj
Labels: area-crossgen2-coreclr

#111169 [BrowserDebugProxy] Remove exception details from error report
  src/mono/browser/debugger/BrowserDebugProxy/MonoProxy.cs
Labels: area-Debugger-mono

#111130 Fix LocalizableString to work with internal ResourceType
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/LocalizableString.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/DisplayAttributeTests.cs
Labels: area-System.ComponentModel.DataAnnotations, community-contribution

#110880 JIT: split loop headers that are also try entries
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/ifconversion.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#110750 [cDAC] Use Moq in CodeVersionsTest
  src/native/managed/cdacreader/tests/CodeVersionsTests.cs
Labels: test-enhancement, area-Diagnostics-coreclr

#111134 Remove HMFs from JIT helpers
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/debug/ee/frameinfo.h
  src/coreclr/inc/jithelpers.h
  src/coreclr/inc/vptr_list.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/metasig.h
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
  src/coreclr/vm/typedesc.cpp
  src/coreclr/vm/typedesc.h
Labels: area-VM-coreclr

#110467 Fix JIT_LMul optimization
  src/coreclr/vm/jithelpers.cpp
Labels: area-CodeGen-coreclr, community-contribution

#111086 Add linux-loongarch64 CI leg
  eng/Subsets.props
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/pipeline-with-resources.yml
  eng/pipelines/runtime.yml
  src/coreclr/nativeaot/Runtime/loongarch64/GcProbe.S
  src/coreclr/nativeaot/Runtime/regdisplay.h
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkInline.h
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosloongarch64.inc
  src/mono/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: community-contribution, area-NativeAOT-coreclr, arch-loongarch64

#111212 Fix reloc type produced by ilasm in PE64 images
  src/coreclr/dlls/mscorpe/pewriter.cpp
  src/coreclr/inc/corpriv.h
Labels: area-ILTools-coreclr

#111219 Adjust hashing in logging source gen
  src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs
Labels: area-Extensions-Logging

#111112 Optimize DateTimeOffset
  src/libraries/System.Private.CoreLib/src/System/DateTime.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
  src/libraries/System.Private.CoreLib/src/System/DateTimeOffset.cs
  src/libraries/System.Private.CoreLib/src/System/Enum.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeFormatInfo.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/GregorianCalendarHelper.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/NumberFormatInfo.cs
  src/libraries/System.Private.CoreLib/src/System/IO/File.cs
  src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.StringSerializer.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.TransitionTime.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
Labels: community-contribution, area-System.DateTime

#103950 JIT: Avoid reporting call-sites in MinOpts on all targets
  src/coreclr/jit/gcencode.cpp
Labels: area-CodeGen-coreclr

#111208 don't run drawing tests on Mono
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTests.cs
Labels: test-enhancement, binaryformatter-migration, area-System.Formats.Nrbf

#111235 Disable tests to corefx-net-http11
  src/libraries/Common/tests/System/Net/Configuration.Http.cs
  src/libraries/Common/tests/System/Net/Configuration.WebSockets.cs
Labels: area-System.Net

#111236 Fix typo in TicksToOADate
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
Labels: community-contribution, area-System.DateTime

#111248 Add loongarch to the docker images table
  docs/workflow/using-docker.md
Labels: area-Infrastructure-coreclr, community-contribution, arch-loongarch64

#109091 [ILASM] Add support for deterministic builds and PDB checksums
  src/coreclr/dlls/mscorpe/ceefilegenwriter.cpp
  src/coreclr/dlls/mscorpe/iceefilegen.cpp
  src/coreclr/dlls/mscorpe/pewriter.cpp
  src/coreclr/dlls/mscorpe/pewriter.h
  src/coreclr/ilasm/assem.cpp
  src/coreclr/ilasm/assembler.cpp
  src/coreclr/ilasm/assembler.h
  src/coreclr/ilasm/main.cpp
  src/coreclr/ilasm/portable_pdb.cpp
  src/coreclr/ilasm/portable_pdb.h
  src/coreclr/ilasm/writer.cpp
  src/coreclr/inc/ceefilegenwriter.h
  src/coreclr/inc/iceefilegen.h
  src/coreclr/md/compiler/disp.cpp
  src/coreclr/md/compiler/emit.cpp
  src/coreclr/md/compiler/regmeta.cpp
  src/coreclr/md/compiler/regmeta.h
  src/coreclr/md/enc/pdbheap.cpp
  src/coreclr/md/inc/pdbheap.h
  src/coreclr/md/inc/portablepdbmdi.h
  src/tests/Common/CLRTest.Jit.targets
Labels: area-ILTools-coreclr

#110688 Add linux-riscv64 nativeaot runtime build
  src/coreclr/CMakeLists.txt
  src/coreclr/nativeaot/Common/src/Internal/Runtime/TransitionBlock.cs
  src/coreclr/nativeaot/Directory.Build.props
  src/coreclr/nativeaot/Runtime/AsmOffsetsVerify.cpp
  src/coreclr/nativeaot/Runtime/CommonMacros.h
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/MiscHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/PalRedhawkCommon.h
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/StackFrameIterator.h
  src/coreclr/nativeaot/Runtime/ThunksMapping.cpp
  src/coreclr/nativeaot/Runtime/inc/TargetPtrs.h
  src/coreclr/nativeaot/Runtime/inc/rhbinder.h
  src/coreclr/nativeaot/Runtime/regdisplay.h
  src/coreclr/nativeaot/Runtime/riscv64/AllocFast.S
  src/coreclr/nativeaot/Runtime/riscv64/AsmOffsetsCpu.h
  src/coreclr/nativeaot/Runtime/riscv64/ExceptionHandling.S
  src/coreclr/nativeaot/Runtime/riscv64/GcProbe.S
  src/coreclr/nativeaot/Runtime/riscv64/InteropThunksHelpers.S
  src/coreclr/nativeaot/Runtime/riscv64/MiscStubs.S
  src/coreclr/nativeaot/Runtime/riscv64/PInvoke.S
  src/coreclr/nativeaot/Runtime/riscv64/StubDispatch.S
  src/coreclr/nativeaot/Runtime/riscv64/UniversalTransition.S
  src/coreclr/nativeaot/Runtime/riscv64/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkInline.h
  src/coreclr/nativeaot/Runtime/unix/UnixContext.cpp
  src/coreclr/nativeaot/Runtime/unix/UnixContext.h
  src/coreclr/nativeaot/Runtime/unix/UnixNativeCodeManager.cpp
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.cpp
  src/coreclr/nativeaot/Runtime/unix/unixasmmacros.inc
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosriscv64.inc
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeSystemContextFactory.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Relocation.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64ReadyToRunGenericHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/JitHelper.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/Dwarf/DwarfBuilder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/Dwarf/DwarfCie.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/Dwarf/DwarfExpressionBuilder.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfNative.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfObjectWriter.cs
  src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs
  src/coreclr/vm/gcinfodecoder.cpp
  src/native/external/llvm-libunwind/include/__libunwind_config.h
  src/native/external/llvm-libunwind/src/Registers.hpp
  src/native/external/llvm-libunwind/src/UnwindCursor.hpp
Labels: community-contribution, area-NativeAOT-coreclr, arch-riscv

#111108 JIT: Emulate missing x86 shift instructions for xplat intrinsics
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr, community-contribution

#110736 JIT: Improve x86 HWIntrinsic containment
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#111223 Synchronize metadata schema generator
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/Generator/SchemaDef.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeFormatReaderCommonGen.cs
Labels: area-NativeAOT-coreclr

#111144 Treat `--sourcelink` as output option
  src/coreclr/tools/aot/ILCompiler/ILCompilerRootCommand.cs
Labels: area-NativeAOT-coreclr

#110281 Include correct `HResult` in `IOException` during preallocation when the disk is full
  src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Windows.cs
  src/libraries/System.Runtime/tests/System.IO.FileSystem.Tests/File/OpenHandle.cs
Labels: area-System.IO, community-contribution

#110676 Build the "in build" crossgen2 into a pack that we can use within the VMR
  eng/Publishing.props
  eng/Subsets.props
  src/coreclr/crossgen-corelib.proj
  src/coreclr/tools/aot/crossgen2/crossgen2_inbuild.csproj
  src/installer/pkg/Directory.Build.props
  src/installer/pkg/Directory.Build.targets
  src/installer/pkg/projects/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.Host.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/ReadyToRun.targets
  src/installer/pkg/sfx/installers/dotnet-host.proj
Labels: area-Infrastructure

#111093 Allow collection expressions for 'System.Collections.ObjectModel' collection types
  src/libraries/System.Collections/tests/Generic/ReadOnlySet/ReadOnlySetTests.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/ObjectModel/ReadOnlyCollection.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/ObjectModel/ReadOnlySet.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Collections/ObjectModel/ReadOnlyCollectionTests.cs
Labels: area-System.Collections, new-api-needs-documentation, community-contribution

#111257 Fix race condition in cleanup of collectible thread static variables
  src/coreclr/vm/threadstatics.cpp
  src/tests/Loader/CollectibleAssemblies/Statics/CollectibleTLSStaticCollection.cs
  src/tests/Loader/CollectibleAssemblies/Statics/CollectibleTLSStaticCollection.csproj
  src/tests/issues.targets
Labels: area-VM-coreclr

#111100 Fix typos in ArgumentOutOfRangeException.cs
  src/libraries/System.Collections/src/System/Collections/ThrowHelper.cs
  src/libraries/System.Private.CoreLib/src/System/ArgumentOutOfRangeException.cs
Labels: community-contribution, needs-area-label

#109493 Enable Arm64 RDM on Windows
  src/native/minipal/cpufeatures.c
Labels: arch-arm64, area-CodeGen-coreclr, community-contribution

#108542 Mark or set encoding param in StreamReader ctor to be nullable
  src/libraries/System.Private.CoreLib/src/System/IO/StreamReader.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/StreamReader/StreamReader.StringCtorTests.cs
Labels: area-System.IO, new-api-needs-documentation, community-contribution

#111273 Implement EmitJMP case in RiscV64Emitter
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/ObjectDataBuilder.cs
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64Emitter.cs
Labels: community-contribution, area-NativeAOT-coreclr, arch-riscv

#111172 Update branding to 9.0.2
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#111171 Update branding to 8.0.13
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#110955 Clean up in Number.Formatting.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Formatting.cs
Labels: area-System.Numerics

#108661 Do not ignore `MemoryMarshal.TryWrite` result
  src/libraries/System.Private.CoreLib/src/System/Guid.cs
Labels: area-System.Runtime, community-contribution

#111136 Split the Runtime Shared Framework project and combine legs in the official build
  eng/DotNetBuild.props
  eng/Publishing.props
  eng/Subsets.props
  eng/pipelines/common/platform-matrix-multijob.yml
  eng/pipelines/runtime-official.yml
  eng/testing/workloads-browser.targets
  src/installer/pkg/projects/Microsoft.NETCore.DotNetAppHost/Microsoft.NETCore.DotNetAppHost.pkgproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Host.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.MonoCrossAOT.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.CoreCLR.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.Mono.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.NativeAOT.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/ReadyToRun.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/monocrossaot.sfxproj
  src/installer/pkg/sfx/bundle/Microsoft.NETCore.App.Bundle.bundleproj
  src/installer/pkg/sfx/installers.proj
  src/installer/tests/hostpretest.proj
  src/libraries/System.IO.Ports/pkg/runtime.native.System.IO.Ports.proj
  src/libraries/oob-src.proj
  src/libraries/pretest.proj
  src/mono/browser/browser.proj
  src/native/corehost/CMakeLists.txt
  src/native/corehost/build.cmd
  src/native/corehost/build.sh
  src/native/corehost/test/CMakeLists.txt
Labels: area-Infrastructure

#111293 JIT: run extra SPMI queries for arrays
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#111302 Fix accidentally duplicated global-build-step.yml in runtime-official.yml
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure

#110687 [RISC-V] Fix HostActivation.Tests unknown-rid
  src/installer/tests/TestUtils/NetCoreAppBuilder.cs
Labels: area-HostModel, community-contribution, arch-riscv

#110522 Fix CMP0173 policy warning with cmake 3.31
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.Native/extra_libs.cmake
  src/tests/Interop/ObjectiveC/AutoReleaseTest/CMakeLists.txt
Labels: area-Infrastructure, community-contribution

#111303 Ensure that Shuffle is marked as HW_Flag_CanBenefitFromConstantProp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
Labels: area-CodeGen-coreclr

#111237 Cleanup unused JIT stubs in vm
  src/coreclr/debug/ee/debugger.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/amd64/asmhelpers.S
  src/coreclr/vm/amd64/excepamd64.cpp
  src/coreclr/vm/amd64/excepcpu.h
  src/coreclr/vm/amd64/unixstubs.cpp
  src/coreclr/vm/arm/exceparm.cpp
  src/coreclr/vm/arm/excepcpu.h
  src/coreclr/vm/arm/unixstubs.cpp
  src/coreclr/vm/arm64/excepcpu.h
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/arm64/unixstubs.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/i386/excepcpu.h
  src/coreclr/vm/i386/unixstubs.cpp
  src/coreclr/vm/i386/virtualcallstubcpu.hpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/loongarch64/excepcpu.h
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/loongarch64/unixstubs.cpp
  src/coreclr/vm/ppc64le/unixstubs.cpp
  src/coreclr/vm/riscv64/excepcpu.h
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/riscv64/unixstubs.cpp
  src/coreclr/vm/s390x/unixstubs.cpp
Labels: area-VM-coreclr, community-contribution

#107766 [NativeAOT/ARM64] Generate frames compatible with Apple compact unwinding
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/MachNative.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/MachObjectWriter.cs
Labels: arch-arm64, os-mac-os-x, area-CodeGen-coreclr, os-ios, os-tvos, community-contribution

#111230 JIT: Model GT_RETURN kills with contained operand
  src/coreclr/jit/lsrabuild.cpp
Labels: area-CodeGen-coreclr

#111268 [browser] Don't cache index.html during development
  src/mono/wasm/host/DevServer/DevServerStartup.cs
Labels: arch-wasm, area-Build-mono, os-browser

#110966 [Apple mobile] Enable trimming on build machines to match ILLink features
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslike.yml
  eng/pipelines/runtime.yml
  eng/testing/tests.ioslike.targets
  eng/testing/tests.mobile.targets
  src/libraries/Microsoft.Extensions.DependencyModel/tests/Microsoft.Extensions.DependencyModel.Tests.csproj
  src/libraries/System.Reflection.TypeExtensions/tests/ILLink.Descriptors.xml
  src/libraries/System.Reflection.TypeExtensions/tests/System.Reflection.TypeExtensions.Tests.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests/ILLink.Descriptors.iOS.xml
  src/libraries/tests.proj
  src/mono/msbuild/apple/data/ProxyProjectForAOTOnHelix.proj
  src/tests/FunctionalTests/tvOS/Device/AOT/tvOS.Device.Aot.Test.csproj
Labels: area-Infrastructure-mono, os-ios

#111213 Fix ArrayBuffer resizing logic
  src/libraries/Common/src/System/Net/ArrayBuffer.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/Tests/System/Net/ArrayBufferTests.cs
Labels: area-System.Net.Http

#110271 [release/9.0-staging] [mono][aot] Fix compilation crashes when type load exception is generated in code
  src/mono/mono/mini/method-to-ir.c
Labels: Servicing-approved, area-Codegen-JIT-mono

#111272 Console.Unix: also reset terminal state when process terminates due to an unhandled exception.
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.InitializeTerminalAndSignalHandling.cs
  src/libraries/System.Console/src/System/ConsolePal.Unix.cs
  src/native/libs/System.Native/entrypoints.c
  src/native/libs/System.Native/pal_console.c
  src/native/libs/System.Native/pal_console.h
  src/native/libs/System.Native/pal_console_wasi.c
Labels: area-System.Console, community-contribution

#111336 Do not build GCSimulator tests with native AOT
  src/tests/Directory.Build.targets
Labels: area-Infrastructure-coreclr

#111334 Mark new test as needing Reflection.Emit
  src/tests/Regressions/coreclr/GitHub_110987/test110987.cs
Labels: needs-area-label

#111277 Initialize CrossCompileArch with _targetArch
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
Labels: community-contribution, area-NativeAOT-coreclr, arch-loongarch64, arch-riscv

#111149 Fix NativeAOT ThunksPool thunk data block size handling.
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/ThunkPool.cs
Labels: area-NativeAOT-coreclr

#108334 [8.0] Guard against empty Accept address
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
Labels: Servicing-approved, area-System.Net.Sockets, os-mac-os-x

#111296 Fix overflow in GetHexStringCore
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RandomNumberGenerator.cs
Labels: area-System.Security

#111333 Disable polyrec test on native AOT
  src/tests/Loader/regressions/polyrec/Polyrec.csproj
Labels: needs-area-label

#111362 JIT: Mark profile inconsistent during flow opts if OSR entry is involved
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#111222 Change metadata handle split to 7-bit handle type
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/MetadataReaderExtensions.cs
  src/coreclr/nativeaot/System.Private.StackTraceMetadata/src/Internal/StackTraceMetadata/StackTraceMetadata.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.FieldAccess.cs
  src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/TypeLoaderEnvironment.Metadata.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/Generator/ReaderGen.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/MdBinaryReader.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeFormatReaderGen.cs
  src/coreclr/tools/Common/Internal/Metadata/NativeFormat/NativeMetadataReader.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/MetadataManager.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/Internal/Metadata/NativeFormat/Writer/MdBinaryWriter.cs
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/Internal/Metadata/NativeFormat/Writer/NativeMetadataWriter.cs
Labels: area-NativeAOT-coreclr

#111372 Simplify MonoCrossAOT compiler infrastructure
  eng/Subsets.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.MonoCrossAOT.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/monocrossaot.proj
Labels: area-Infrastructure-mono

#107909 Unify two identical implementations of class_kind in SGen GC bridges
  src/mono/mono/metadata/sgen-bridge-internals.h
  src/mono/mono/metadata/sgen-bridge.c
  src/mono/mono/metadata/sgen-new-bridge.c
  src/mono/mono/metadata/sgen-tarjan-bridge.c
Labels: area-GC-mono, community-contribution

#110731 [browser] Add `OutputType=Library` tests
  src/mono/nuget/Microsoft.NET.Runtime.WebAssembly.Sdk/Sdk/Sdk.props
  src/mono/wasi/Wasi.Build.Tests/WasiLibraryModeTests.cs
  src/mono/wasi/testassets/LibraryMode.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/TestAsset.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
  src/mono/wasm/testassets/LibraryMode/LibraryMode.cs
  src/mono/wasm/testassets/LibraryMode/LibraryMode.csproj
  src/mono/wasm/testassets/LibraryMode/Properties/AssemblyInfo.cs
  src/mono/wasm/testassets/LibraryMode/wwwroot/index.html
  src/mono/wasm/testassets/LibraryMode/wwwroot/main.js
Labels: arch-wasm, area-VM-meta-mono, os-browser

#111360 [RISC-V] JIT: Remove src/dst from CORINFO_HELP_ASSIGN_BYREF GC kill set
  src/coreclr/jit/targetriscv64.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#111364 JIT: move second pass of EH opts earlier
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#111376 [manual] Merge release/8.0-staging into release/8.0
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/cross/toolchain.cmake
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
  src/coreclr/debug/ee/controller.cpp
  src/coreclr/pal/src/exception/machexception.cpp
  src/coreclr/pal/src/exception/machmessage.h
  src/coreclr/tools/aot/ILCompiler.Build.Tasks/ComputeManagedAssembliesToCompileToNative.cs
  src/coreclr/vm/comreflectioncache.hpp
  src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj
  src/libraries/System.Formats.Asn1/src/System.Formats.Asn1.csproj
  src/libraries/System.Formats.Asn1/src/System/Formats/Asn1/AsnDecoder.Sequence.cs
  src/libraries/System.Formats.Asn1/tests/Decoder/ReadEncodedValueTests.cs
  src/libraries/System.Formats.Asn1/tests/Reader/ReadSequence.cs
  src/libraries/System.Formats.Asn1/tests/Reader/ReadSetOf.cs
  src/libraries/System.Formats.Asn1/tests/System.Formats.Asn1.Tests.csproj
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Factory.cs
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Unicode_15_1/IdnaTest_15_1.txt
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Unicode_15_1/ReadMe.txt
  src/libraries/System.Globalization.Extensions/tests/IdnMapping/Data/Unicode_15_1/Unicode_15_1_IdnaTest.cs
  src/libraries/System.Globalization.Extensions/tests/NlsTests/System.Globalization.Extensions.Nls.Tests.csproj
  src/libraries/System.Globalization.Extensions/tests/System.Globalization.Extensions.Tests.csproj
  src/libraries/System.Globalization/tests/System/Globalization/RegionInfoTests.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/HttpMetricsEnrichmentContext.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Metrics/MetricsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Cancellation.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/mono/mono/mini/mini-posix.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini-windows.c
  src/mono/mono/sgen/sgen-cardtable.c
  src/mono/mono/sgen/sgen-cardtable.h
  src/mono/mono/sgen/sgen-gc.c
  src/mono/wasm/runtime/package-lock.json
  src/mono/wasm/runtime/package.json
  src/native/libs/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey.c
Labels: Servicing-approved, area-codeflow

#111427 Add params for manual perf runs
  eng/pipelines/coreclr/perf-non-wasm-jobs.yml
Labels: area-Infrastructure-coreclr

#111405 Revert "[NativeAOT/ARM64] Generate frames compatible with Apple compa…
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/MachNative.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/MachObjectWriter.cs
Labels: area-CodeGen-coreclr

#111253 JIT: Move profile consistency checks to after morph
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/jitmetadatalist.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#111227 Fix RhpCallCatchFunclet .text relocation on amd64.
  src/coreclr/nativeaot/Runtime/amd64/ExceptionHandling.asm
Labels: area-NativeAOT-coreclr

#111422 [manual] Merge release/9.0-staging into release/9.0 (second pass)
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs
  src/native/libs/System.Native/pal_networking.c
  src/tests/JIT/Directed/tls/TestTLSWithLoadedDlls.csproj
Labels: Servicing-approved, area-codeflow

#111426 [release/9.0] Change were libClang.so is found when generating Android aot offsets
  src/mono/mono.proj
Labels: Servicing-approved, area-Build-mono

#110780 Add lock in ValidateName
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Container.cs
Labels: area-System.ComponentModel, community-contribution

#109052 Remove ConcurrentDictionary lookups from Unix socket event loop
  src/libraries/System.Net.Sockets/src/Resources/Strings.resx
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Wasi.cs
Labels: area-System.Net.Sockets

#111289 [System.Diagnostics.DiagnosticSource.Activity] Reset recorded flag when creating activity when not requested by sampler(s)
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivitySourceTests.cs
Labels: breaking-change, needs-breaking-change-doc-created, area-System.Diagnostics.Activity, community-contribution

#111041 Support writing base64 JSON segments
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/Utf8JsonWriterFuzzer.cs
  src/libraries/System.Text.Json/ref/System.Text.Json.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.Helpers.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.WriteValues.StringSegment.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonWriterTests.Values.StringSegment.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Utf8JsonWriterTests.cs
Labels: area-System.Text.Json, new-api-needs-documentation

#111254 Use alternative format string specifier to ensure decimal point is present
  src/coreclr/ildasm/dasm.cpp
Labels: area-ILTools-coreclr

#111433 Add IPAddress.IsValid
  eng/pipelines/libraries/fuzzing/deploy-to-onefuzz.yml
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/Common/src/System/Net/IPv6AddressHelper.Common.cs
  src/libraries/Common/src/System/Net/Security/TargetHostNameHelper.cs
  src/libraries/Fuzzing/DotnetFuzzing/Assert.cs
  src/libraries/Fuzzing/DotnetFuzzing/DotnetFuzzing.csproj
  src/libraries/Fuzzing/DotnetFuzzing/Fuzzers/IPAddressFuzzer.cs
  src/libraries/Fuzzing/DotnetFuzzing/Program.cs
  src/libraries/System.Net.HttpListener/src/System/Net/ServiceNameStore.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/libraries/System.Net.Primitives/src/System/Net/IPAddressParser.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressParsing.cs
  src/libraries/System.Net.Primitives/tests/UnitTests/Fakes/IPv6AddressHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Android/SafeDeleteSslContext.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs
  src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.Wasm.cs
Labels: area-System.Net, new-api-needs-documentation

#110871 [release/9.0-staging] Fix wrong alias-to for tvos AOT packs in net8 workload manifest
  src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.net8.Manifest/WorkloadManifest.json.in
Labels: Servicing-approved, area-Workloads

#111310 [mono][interp] Fix execution of delegate invoke wrapper with interpreter
  src/mono/mono/cil/opcode.def
  src/mono/mono/metadata/marshal-lightweight.c
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/mini/interp/mintops.def
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/method-to-ir.c
Labels: area-Codegen-Interpreter-mono

#111402 [release/9.0] Disable tests targetting http://corefx-net-http11.azurewebsites.net
  src/libraries/Common/tests/System/Net/Configuration.Http.cs
  src/libraries/Common/tests/System/Net/Configuration.WebSockets.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.RemoteServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/ServerCertificateTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: Servicing-approved, area-System.Net.Http

#111401 [release/8.0] Disable tests targetting http://corefx-net-http11.azurewebsites.net
  src/libraries/Common/tests/System/Net/Configuration.Http.cs
  src/libraries/Common/tests/System/Net/Configuration.WebSockets.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.RemoteServer.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.ServerCertificates.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/ServerCertificateTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
Labels: Servicing-approved, area-System.Net.Http

#111348 Switch Json's PooledByteBufferWriter to shared ArrayBuffer helper
  src/libraries/Common/src/System/IO/StreamExtensions.netstandard.cs
  src/libraries/Common/src/System/Text/Json/PooledByteBufferWriter.cs
  src/libraries/Common/tests/System/IO/StreamSpanExtensions.netstandard.cs
  src/libraries/Common/tests/System/Net/Http/DefaultCredentialsTest.cs
  src/libraries/Common/tests/System/Net/StreamArrayExtensions.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/JsonConsoleFormatter.cs
  src/libraries/Microsoft.Extensions.Logging.Console/src/Microsoft.Extensions.Logging.Console.csproj
  src/libraries/Microsoft.Extensions.Logging.Console/src/Resources/Strings.resx
  src/libraries/System.IO.Pipelines/src/System.IO.Pipelines.csproj
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/System.Net.Http.WinHttpHandler.Functional.Tests.csproj
  src/libraries/System.Net.ServerSentEvents/src/System.Net.ServerSentEvents.csproj
  src/libraries/System.Net.ServerSentEvents/src/System/Net/ServerSentEvents/Helpers.cs
  src/libraries/System.Net.ServerSentEvents/src/System/Net/ServerSentEvents/SseParser_1.cs
  src/libraries/System.Text.Json/src/System.Text.Json.csproj
  src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.Parse.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonNode.To.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValueOfTCustomized.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Node.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.ByteArray.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Element.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.Node.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/ReadBufferState.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs
Labels: area-System.Text.Json

#111417 SPMI: Handle sourcelink for NAOT smoke test collection
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#111441 JIT: more anticipatory extra SPMI queries for array stack alloc
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#111440 [NativeAOT] Delete unnecessary fast paths from asm helpers
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM64/ARM64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_LoongArch64/LoongArch64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunHelperNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_X86/X86ReadyToRunHelperNode.cs
Labels: area-NativeAOT-coreclr

#111365 JIT: Cache start of cold section for reuse in 3-opt layout
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#109168 Avoid IndexOutOfRangeException in ZipArchive
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged/HuffmanTree.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_InvalidParametersAndStrangeFiles.cs
Labels: area-System.IO.Compression, community-contribution

#111462 Removing deprecated helix queue
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#111432 JIT: fix loop cloning when loop's last block is within a hander
  src/coreclr/jit/loopcloning.cpp
Labels: area-CodeGen-coreclr

#111430 Merging internal commits for release/8.0
  eng/Versions.props
Labels: Servicing-approved, area-codeflow

#111428 Merging internal commits for release/9.0
  eng/Versions.props
Labels: Servicing-approved, area-codeflow

#111459 Workaround error G6E97C40B
  src/native/external/zlib-ng-version.txt
  src/native/external/zlib-ng/arch/riscv/riscv_features.c
Labels: area-System.IO.Compression, community-contribution, arch-riscv

#111374 Set TypeLoadException.TypeName to the fully qualified name of the type that caused the exception
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/Helpers.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/TypeResolver.NativeFormat.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/TypeLoadException.NativeAot.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/TypeLoadException.cs
  src/libraries/System.Runtime/tests/System.Reflection.Tests/GetTypeTests.cs
  src/mono/mono/metadata/icall.c
  src/tests/Loader/StartupHooks/StartupHookTests.cs
Labels: area-TypeSystem-coreclr

#111390 Fixed last StackAlongDimension bugs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorExtensions.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
Labels: area-System.Numerics.Tensors

#111466 Remove some unused configuration knobs for PAL object types
  src/coreclr/pal/src/file/file.cpp
  src/coreclr/pal/src/include/pal/corunix.hpp
  src/coreclr/pal/src/map/map.cpp
  src/coreclr/pal/src/synchmgr/synchcontrollers.cpp
  src/coreclr/pal/src/synchobj/event.cpp
  src/coreclr/pal/src/synchobj/mutex.cpp
  src/coreclr/pal/src/synchobj/semaphore.cpp
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/pal/src/thread/thread.cpp
Labels: area-PAL-coreclr

#111435 Allow nested types inside of the <Module> type
  src/coreclr/ildasm/dasm.cpp
  src/coreclr/md/compiler/filtermanager.cpp
  src/coreclr/md/compiler/regmeta_emit.cpp
  src/coreclr/md/runtime/metamodelro.cpp
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/clsload.cpp
Labels: area-TypeSystem-coreclr

#111453 [RISC-V] Use li instead of ori for load immediate
  src/coreclr/vm/riscv64/asmhelpers.S
  src/coreclr/vm/riscv64/pinvokestubs.S
Labels: area-VM-coreclr, community-contribution, arch-riscv

#111446 Skip Init and Static helpers when looking for a caller
  src/coreclr/vm/appdomain.cpp
  src/libraries/System.Runtime/tests/System.Reflection.Tests/AssemblyTests.cs
Labels: area-AssemblyLoader-coreclr

#111476 Fix exception stack pretty printing in the presence of missing dependencies
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackTrace.cs
Labels: area-System.Diagnostics

#111415 Only build one runtime when building source-build
  eng/Subsets.props
  eng/testing/workloads-wasm.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.NativeAOT.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.Sdk.props.in
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.UnixFilePermissions.xml.in
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.android-arm.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.android-arm64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.android-x64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.android-x86.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.browser-wasm.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.ios-arm64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.iossimulator-arm64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.iossimulator-x64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.maccatalyst-arm64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.maccatalyst-x64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.tvos-arm64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.tvossimulator-arm64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.tvossimulator-x64.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/MonoCrossAOT/Microsoft.NETCore.App.MonoCrossAOT.wasi-wasm.sfxproj
  src/installer/pkg/sfx/Microsoft.NETCore.App/monocrossaot.proj
  src/mono/wasm/workloads.proj
Labels: source-build, area-Infrastructure

#110165 Out of range exception on system without a WINS configuration
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Addresses.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/AddressParsingTests.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/THIRD-PARTY-NOTICES
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/smb_with_commented_wins.conf
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/NetworkFiles/smb_without_wins.conf
Labels: area-System.Net, community-contribution

#111305 Optimize redundant sign extensions in assertprop
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#111450 [RISC-V] Enable JitDisasmWithCodeBytes
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#110734 [release/9.0-staging] Re-enable skiasharp WBT tests (#109232)
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/NativeLibraryTests.cs
Labels: Servicing-approved, area-Infrastructure-mono

#110113 Clean up in LowerFusedMultiplyAdd
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr

#111464 JIT: Use `bbPostorderNum` to track ordinals in 3-opt
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#111488 [release/8.0-staging] Don't make web requests in HttpClient trimming test
  src/libraries/System.Net.Http/tests/TrimmingTests/HttpClientTest.cs
  src/libraries/System.Net.Http/tests/TrimmingTests/System.Net.Http.TrimmingTests.proj
Labels: Servicing-approved, area-System.Net.Http

#110033 Fix UNC paths
  src/native/corehost/hostmisc/pal.windows.cpp
Labels: area-Host

#110893 JIT: unroll more memset patterns
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#109378 Gc enter/leave/poll without HELPER_METHOD_FRAME
  src/coreclr/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/coreclr/inc/jithelpers.h
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/asmhelpers.S
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/arm/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/comsynchronizable.cpp
  src/coreclr/vm/comsynchronizable.h
  src/coreclr/vm/corelib.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/i386/PInvokeStubs.asm
  src/coreclr/vm/i386/jithelp.S
  src/coreclr/vm/i386/jithelp.asm
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/loongarch64/asmhelpers.S
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/riscv64/asmhelpers.S
Labels: area-VM-coreclr

#110864 Safer stackallocs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/StubHelpers.cs
  src/libraries/Common/src/Interop/Android/System.Security.Cryptography.Native.Android/Interop.Cipher.cs
  src/libraries/Common/src/Interop/OSX/Interop.libproc.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs
  src/libraries/Common/src/Interop/Windows/SspiCli/SSPIWrapper.cs
  src/libraries/Common/src/System/Diagnostics/DiagnosticsHelper.cs
  src/libraries/Common/src/System/Net/IPv4AddressHelper.Common.cs
  src/libraries/Common/src/System/Net/NetworkInformation/InterfaceInfoPal.Unix.cs
  src/libraries/Common/src/System/Net/NetworkInformation/InterfaceInfoPal.Windows.cs
  src/libraries/Common/src/System/Net/Security/MD4.cs
  src/libraries/Common/src/System/Net/Security/SslKeyLogger.cs
  src/libraries/Common/src/System/Net/SocketAddress.cs
  src/libraries/Common/src/System/Security/Cryptography/Asn1/Pkcs12/PfxAsn.manual.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanAndroid.Derive.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanDerivation.cs
  src/libraries/Common/src/System/Security/Cryptography/Pkcs12Kdf.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAndroid.cs
  src/libraries/Common/src/System/Security/Cryptography/RsaPaddingProcessor.cs
  src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.cs
  src/libraries/System.Console/src/System/IO/CachedConsoleStream.cs
  src/libraries/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceData/CounterSet.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Read.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Windows.cs
  src/libraries/System.Net.Security/src/System/Net/Security/Pal.Managed/SslProtocolsValidation.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs
  src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Base64Url/Base64UrlDecoder.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/HashSet.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.Utf8.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/IdnMapping.Icu.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/IdnMapping.Nls.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TimeSpanFormat.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Directory.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/File.cs
  src/libraries/System.Private.CoreLib/src/System/IO/Path.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/IO/StreamWriter.cs
  src/native/libs/System.Security.Cryptography.Native.Android/pal_cipher.c
Labels: area-Meta

#111321 [SRM] Remove `ReadOnlyUnmanagedMemoryStream`.
  src/libraries/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/MemoryBlocks/ExternalMemoryBlockProvider.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/ReadOnlyUnmanagedMemoryStream.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEReader.EmbeddedPortablePdb.cs
  src/libraries/System.Reflection.Metadata/tests/PortableExecutable/PEReaderTests.cs
  src/libraries/System.Reflection.Metadata/tests/TestUtilities/LoaderUtilities.cs
Labels: area-System.Reflection.Metadata, community-contribution

#111269 [browser] Remove dotnet-experimental feed from sources
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
Labels: arch-wasm, area-Infrastructure-mono, os-browser

#105004 Use live apphost when publishing ilc as singlefile
  eng/Subsets.props
  eng/pipelines/runtime.yml
  eng/targetingpacks.targets
  eng/toolAot.targets
  src/coreclr/tools/aot/ILCompiler/ILCompiler.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/coreclr/tools/aot/crossgen2/crossgen2_inbuild.csproj
Labels: os-freebsd, community-contribution, area-NativeAOT-coreclr

#111123 System.Formats.Cbor.Tests.DataModel: don't sign when DotNetBuildSourceOnly.
  src/libraries/System.Formats.Cbor/tests/CborDocument/System.Formats.Cbor.Tests.DataModel.fsproj
Labels: area-System.Security, community-contribution

#111471 DnsAddresses throw PlatformNotSupportedException if /etc/resolv.conf is missing
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/LinuxNetworkInterface.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/UnixIPInterfaceProperties.cs
  src/libraries/System.Net.NetworkInformation/tests/FunctionalTests/IPInterfacePropertiesTest_OSX.cs
Labels: area-System.Net, community-contribution

#111509 Fix source-build condition to ensure we build the Mono Cross AOT compiler correctly
  eng/Subsets.props
Labels: area-Infrastructure-mono
