Repository dotnet/runtime, pull requests merged in 2025-02, with the labels that each got.

#111948 JIT: Update type when return temp is freshly created
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr, community-contribution

#112062 Simplify boolean logic in `TimeZoneInfo`
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
Labels: community-contribution, area-System.DateTime

#112041 JIT: Compute `fgCalledCount` after synthesis
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/fgprofilesynthesis.cpp
Labels: area-CodeGen-coreclr

#112046 Use double.ConvertToIntegerNative where safe to do in System.Random
  src/libraries/System.Private.CoreLib/src/System/Random.CompatImpl.cs
Labels: needs-area-label

#112011 Ensure that math calls into the CRT are tracked as needing vzeroupper
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/helperexpansion.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/importervectorization.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/jit/rationalize.h
Labels: area-CodeGen-coreclr

#111590 JIT: Transform single-reg args to FIELD_LIST in physical promotion
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/promotion.cpp
Labels: area-CodeGen-coreclr

#112065 Use Contains{Any} in Regex source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
Labels: area-System.Text.RegularExpressions

#112061 Always inline number conversions
  src/libraries/System.Private.CoreLib/src/System/Decimal.cs
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NFloat.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
Labels: area-System.Numerics, community-contribution

#112054 Build the RID-specific System.IO.Ports packages in the VMR
  src/libraries/oob-src.proj
Labels: area-Infrastructure-libraries

#111949 Keep test PDB in helix payload for native AOT
  src/tests/Common/helixpublishwitharcade.proj
Labels: area-Infrastructure-coreclr

#109799 System.Net.Http.WinHttpHandler.StartRequestAsync assertion failed
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
Labels: area-System.Net.Http, community-contribution

#111651 Fail tests if LTCG is used
  eng/testing/tests.singlefile.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#112079 Remove one usage of `Unsafe.AsPointer`.
  src/mono/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.Mono.cs
Labels: community-contribution, area-CoreLib-mono

#108886 [mono][mini] Remove support for the Xamarin.iOS and Xamarin.Mac assemblies in the AOT compiler.
  src/mono/mono/mini/intrinsics.c
Labels: area-Codegen-JIT-mono

#99212 Some System.Decimal performance improvements
  src/libraries/System.Private.CoreLib/src/System/Decimal.DecCalc.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
Labels: area-System.Numerics

#111145 Tests ran counter
  src/tests/GC/Stress/Framework/ReliabilityFramework.cs
Labels: area-GC-coreclr, community-contribution

#107115 Let the debugger knows DATAS is on
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/dacimpl.h
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/daccess/request_common.h
  src/coreclr/gc/dac_gcheap_fields.h
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcinterface.dac.h
  src/coreclr/gc/gcinterface.dacvars.def
  src/coreclr/gc/gcinterface.h
  src/coreclr/inc/sospriv.idl
  src/coreclr/pal/prebuilt/idl/sospriv_i.cpp
  src/coreclr/pal/prebuilt/inc/sospriv.h
Labels: area-GC-coreclr

#111879 Include PDB for all TfmRuntimeSpecificPackageFile
  eng/packaging.targets
Labels: area-Infrastructure-libraries

#112076 [daccess] Do not use USE_DAC_TABLE_RVA on Apple platforms
  src/coreclr/debug/daccess/CMakeLists.txt
  src/coreclr/debug/dbgutil/CMakeLists.txt
Labels: area-Diagnostics-coreclr, community-contribution

#112087 Update breaking change rules regarding byref/objref fields.
  docs/coding-guidelines/breaking-change-rules.md
Labels: area-Meta

#112091 Use hardlinks in helixpublishwitharcade
  src/tests/Common/helixpublishwitharcade.proj
Labels: needs-area-label

#112098 Remove `RequiresProcessIsolation` on InterfaceFolding tests
  src/tests/Loader/classloader/InterfaceFolding/Ambiguous.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase0.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase0_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase0_Nested_I_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase0_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase0_Nested_J_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase1.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase1_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase1_Nested_I_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase1_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase1_Nested_J_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase2.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase2_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase2_Nested_I_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase2_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase2_Nested_J_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase3.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase3_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase3_Nested_I_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase3_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase3_Nested_J_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase4.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase4_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase4_Nested_I_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase4_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase4_Nested_J_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase5.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase5_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase5_Nested_I_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase5_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase5_Nested_J_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase6.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase6_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase6_Nested_I_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase6_Nested_J.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase6_Nested_J_Nested_I.ilproj
  src/tests/Loader/classloader/InterfaceFolding/TestCase7.ilproj
Labels: area-TypeSystem-coreclr

#111278 Bump `StyleCop.Analyzers` to `1.2.0-beta.556`
  eng/Versions.props
Labels: area-Infrastructure, community-contribution

#112078 JIT: Fix cross crossgen comparison failures
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/likelyclass.cpp
  src/coreclr/jit/scev.cpp
  src/coreclr/jit/scev.h
Labels: area-CodeGen-coreclr

#111893 arm64: Add support for Bitwise OR NOT & XOR NOT
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gtlist.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lsraarm64.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/simd.h
  src/coreclr/jit/valuenum.cpp
  src/tests/JIT/opt/InstructionCombining/Eon.cs
  src/tests/JIT/opt/InstructionCombining/Eon.csproj
  src/tests/JIT/opt/InstructionCombining/Orn.cs
  src/tests/JIT/opt/InstructionCombining/Orn.csproj
Labels: arch-arm64, area-CodeGen-coreclr, community-contribution

#111938 Add Windows Server 2025 to test configurations
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Windows.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs
Labels: area-Infrastructure-libraries

#111927 Change how we build the cross-OS DAC to support building in the VMR
  eng/DotNetBuild.props
  eng/Subsets.props
  eng/extract-for-crossdac.ps1
  eng/native/sign-with-dac-certificate.ps1
  eng/pipelines/coreclr/templates/crossdac-hostarch.yml
  eng/pipelines/coreclr/templates/install-diagnostic-certs.yml
  eng/pipelines/coreclr/templates/remove-diagnostic-certs.yml
  eng/pipelines/runtime-official.yml
  src/coreclr/.nuget/Microsoft.CrossOsDiag.Private.CoreCLR/Microsoft.CrossOsDiag.Private.CoreCLR.pkgproj
  src/coreclr/.nuget/Microsoft.CrossOsDiag.Private.CoreCLR/Microsoft.CrossOsDiag.Private.CoreCLR.proj
Labels: area-Infrastructure-coreclr

#111979 JIT: Optimize bit-wise AND with a constant mask in combination with a left shift in a compare
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr, community-contribution

#111859 Remove fstream usage from corehost
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/pal.unix.cpp
  src/native/corehost/json_parser.cpp
  src/native/corehost/json_parser.h
  src/native/corehost/test/nativehost/host_context_test.cpp
Labels: area-Host, community-contribution

#112044 Re-enable HKDF-SHA3 on Azure Linux
  src/libraries/System.Security.Cryptography/tests/HKDFTests.cs
Labels: area-System.Security

#111797 Improve compare-and-branch sequences produced by Emitter
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm64.cpp
  src/coreclr/jit/codegenarmarch.cpp
Labels: arch-arm64, area-CodeGen-coreclr, community-contribution

#112116 Remove unneeded DiagnosticSource content
  src/libraries/System.Diagnostics.DiagnosticSource/src/System.Diagnostics.DiagnosticSource.csproj
Labels: area-System.Diagnostics.Metric

#112119 JIT: Unify handling of InstParam argument during inlining
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#109852 Use current STJ in HostModel and remove unnecessary audit suppressions
  src/installer/managed/Microsoft.NET.HostModel/Microsoft.NET.HostModel.csproj
  src/installer/tests/AppHost.Bundle.Tests/AppHost.Bundle.Tests.csproj
  src/installer/tests/HostActivation.Tests/HostActivation.Tests.csproj
  src/installer/tests/Microsoft.DotNet.CoreSetup.Packaging.Tests/Microsoft.DotNet.CoreSetup.Packaging.Tests.csproj
  src/installer/tests/Microsoft.NET.HostModel.Tests/Microsoft.NET.HostModel.Tests.csproj
  src/installer/tests/TestUtils/TestUtils.csproj
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.External.Tests/Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj
  src/mono/wasm/Wasm.Build.Tests/Wasm.Build.Tests.csproj
  src/mono/wasm/symbolicator/WasmSymbolicator.csproj
  src/tasks/Directory.Build.targets
Labels: blocked, area-Infrastructure-installer

#96895 Optimize BigInteger.Divide
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.AddSub.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.DivRem.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.FastReducer.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.GcdInv.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.PowMod.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigIntegerCalculator.Utils.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/divide.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/divrem.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/modpow.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/op_divide.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/op_modulus.cs
  src/libraries/System.Runtime.Numerics/tests/BigInteger/remainder.cs
Labels: area-System.Numerics, community-contribution

#112113 [PERF] Delete copy of performance pipelines in previous location
  eng/pipelines/coreclr/perf.yml
  eng/pipelines/coreclr/perf_slow.yml
  eng/pipelines/runtime-wasm-perf.yml
Labels: area-Infrastructure-coreclr, perf-pipeline

#111953 Annotate ConfiguredCancelableAsyncEnumerable T with allows ref struct and update extensions
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConfiguredCancelableAsyncEnumerable.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskAsyncEnumerableExtensions.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: community-contribution, needs-area-label

#112161 Change some workflows using `pull_request` to use `pull_request_target` instead
  .github/CODEOWNERS
  .github/workflows/README.md
  .github/workflows/check-no-merge-label.yml
  .github/workflows/check-service-labels.yml
Labels: area-Infrastructure

#112125 [H/3] Fix handling H3_NO_ERROR
  src/libraries/Common/tests/System/Net/Http/Http3LoopbackStream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
Labels: area-System.Net.Http

#107118 [Apple mobile] Use merged runners for runtime tests
  eng/pipelines/common/templates/runtimes/build-runtime-tests-and-send-to-helix.yml
  eng/pipelines/common/templates/runtimes/send-to-helix-step.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslike.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslikesimulator.yml
  eng/testing/tests.ioslike.targets
  src/mono/msbuild/apple/build/AppleBuild.props
  src/tests/Common/CoreCLRTestLibrary/PlatformDetection.cs
  src/tests/Common/XUnitWrapperGenerator/XUnitWrapperGenerator.cs
  src/tests/Common/helixpublishwitharcade.proj
  src/tests/Common/mergedrunnermobile.targets
  src/tests/Directory.Build.targets
  src/tests/JIT/Directed/Arrays/nintindexoutofrange.cs
  src/tests/JIT/Directed/Arrays/nintindexoutofrange.csproj
  src/tests/JIT/Directed/coverage/importer/Desktop/badldsfld.il
  src/tests/JIT/Directed/debugging/poisoning/poison.cs
  src/tests/JIT/Directed/debugging/poisoning/poison.csproj
  src/tests/JIT/Methodical/Boxing/boxunbox/huge_filter.il
  src/tests/JIT/Methodical/Boxing/boxunbox/tailcall.il
  src/tests/JIT/Methodical/eh/basics/throwinfilter.il
  src/tests/JIT/Methodical/refany/gcreport.cs
  src/tests/JIT/Methodical/tailcall/compat_i4_u.il
  src/tests/JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b31283/b31283.il
  src/tests/JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b353858/b353858.il
  src/tests/JIT/Regression/Dev11/Dev11_468598/Test_HndIndex_10_Plain.il
  src/tests/JIT/Regression/JitBlue/Runtime_34587/Runtime_34587.cs
  src/tests/JIT/Regression/JitBlue/Runtime_64125/Runtime_64125.cs
  src/tests/JIT/Regression/JitBlue/Runtime_68568/Runtime_68568.il
  src/tests/JIT/Regression/JitBlue/Runtime_70259/Runtime_70259.il
  src/tests/JIT/Regression/JitBlue/Runtime_74635/Runtime_74635_1.il
  src/tests/JIT/Regression/VS-ia64-JIT/M00/b108366/b108366.il
  src/tests/JIT/jit64/localloc/ehverify/eh05_dynamic.il
  src/tests/JIT/jit64/localloc/ehverify/eh05_large.il
  src/tests/JIT/jit64/localloc/ehverify/eh05_small.il
  src/tests/JIT/jit64/localloc/ehverify/eh06_dynamic.il
  src/tests/JIT/jit64/localloc/ehverify/eh06_large.il
  src/tests/JIT/jit64/localloc/ehverify/eh06_small.il
  src/tests/JIT/jit64/localloc/ehverify/eh07_dynamic.il
  src/tests/JIT/jit64/localloc/ehverify/eh07_large.il
  src/tests/JIT/jit64/localloc/ehverify/eh07_small.il
  src/tests/JIT/jit64/regress/vsw/373472/test.il
  src/tests/Loader/classloader/DefaultInterfaceMethods/reabstraction/reabstraction.il
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/Generator/Program.cs
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/GenericContextTest/GenericContextTest.il
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/GenericContextTestDICallDI/GenericContextTestDICallDI.il
  src/tests/Loader/classloader/StaticVirtualMethods/GenericContext/GenericContextTestDefaultImp/GenericContextTestDefaultImp.il
  src/tests/Loader/classloader/StaticVirtualMethods/InterfaceVariance/ComplexHierarchyPositive.cs
  src/tests/Loader/classloader/StaticVirtualMethods/InterfaceVariance/InterfaceVariance.il
  src/tests/build.proj
  src/tests/issues.targets
Labels: area-Infrastructure-coreclr

#111742 [Android] Decouple runtime initialization and entry point execution for Android sample
  src/tasks/AndroidAppBuilder/Templates/MainActivity.java
  src/tasks/AndroidAppBuilder/Templates/MonoRunner.java
  src/tasks/AndroidAppBuilder/Templates/monodroid-coreclr.c
  src/tasks/AndroidAppBuilder/Templates/monodroid-librarymode.c
  src/tasks/AndroidAppBuilder/Templates/monodroid.c
Labels: os-android, area-Infrastructure-mono

#112025 Replace HELPER_METHOD_FRAME with DynamicHelperFrame in patchpoints
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/unixasmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/codeman.h
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/loongarch64/asmhelpers.S
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/riscv64/asmhelpers.S
Labels: area-VM-coreclr

#112194 JIT: some reworking for conditional escape analysis
  src/coreclr/jit/objectalloc.cpp
Labels: area-CodeGen-coreclr

#111876 Allow the NativeAOT runtime pack to be specified as the ILC runtime package
  src/coreclr/nativeaot/BuildIntegration/Microsoft.DotNet.ILCompiler.SingleEntry.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Publish.targets
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.NativeAOT.sfxproj
Labels: area-NativeAOT-coreclr

#112142 [mono] ILStrip write directly to the output filestream
  src/tasks/MonoTargetsTasks/ILStrip/ILStrip.cs
Labels: area-Build-mono

#112177 Add ImmutableCollectionsMarshal.AsMemory
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Builder.cs
  src/libraries/System.Collections.Immutable/src/System/Runtime.InteropServices/ImmutableCollectionsMarshal.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableCollectionsMarshal.cs
Labels: area-System.Collections, new-api-needs-documentation

#112107 Factor positive lookaheads better into find optimizations
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexFindOptimizations.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexNode.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexPrefixAnalyzer.cs
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexTree.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexFindOptimizationsTests.cs
  src/libraries/System.Text.RegularExpressions/tests/UnitTests/RegexReductionTests.cs
Labels: area-System.Text.RegularExpressions

#112064 JIT: Support custom `ClassLayout` instances with GC pointers in them
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/layout.cpp
  src/coreclr/jit/layout.h
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#111877 Add support for LDAPTLS_CACERTDIR \ TrustedCertificateDirectory
  src/libraries/Common/src/Interop/Interop.Ldap.cs
  src/libraries/Common/tests/System/DirectoryServices/LDAP.Configuration.xml
  src/libraries/System.DirectoryServices.Protocols/ref/System.DirectoryServices.Protocols.cs
  src/libraries/System.DirectoryServices.Protocols/src/Resources/Strings.resx
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs
  src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesTestHelpers.cs
  src/libraries/System.DirectoryServices.Protocols/tests/LdapSessionOptionsTests.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
Labels: area-System.DirectoryServices, os-linux, new-api-needs-documentation

#112198 JIT: Enable reusing profile-aware DFS trees between phases
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#112204 [release/9.0] Remove explicit __compact_unwind entries from x64 assembler
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosamd64.inc
  src/coreclr/pal/inc/unixasmmacrosamd64.inc
Labels: Servicing-approved, community-contribution, area-NativeAOT-coreclr

#112208 [release/8.0] Fix compilation of runtime with Xcode 16
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosamd64.inc
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosarm64.inc
  src/coreclr/pal/inc/unixasmmacrosamd64.inc
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/vm/arm64/asmhelpers.S
Labels: Servicing-approved, community-contribution, area-NativeAOT-coreclr

#112169 Add repo-specific condition to labeling workflows
  .github/CODEOWNERS
  .github/workflows/README.md
  .github/workflows/check-no-merge-label.yml
  .github/workflows/check-service-labels.yml
Labels: area-Infrastructure

#112144 Update branding to 9.0.3
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#112143 Update branding to 8.0.14
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#112170 Add more detailed explanations to control-flow RegexOpcode values
  src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexOpcode.cs
Labels: area-System.Text.RegularExpressions

#107769 Restructure JSImport/JSExport generators to share more code and utilize more Microsoft.Interop.SourceGeneration shared code
  src/libraries/System.Runtime.InteropServices.JavaScript/System.Runtime.InteropServices.JavaScript.sln
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Constants.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSExportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSGeneratorFactory.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportCodeGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSImportGenerator.csproj
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/JSMarshallingInfo.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/ArrayJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/ArraySegmentJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/BaseJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/EmptyJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/FuncJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/IJSMarshallingGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/ImplicitArgumentGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/NullableJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/PrimitiveJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/SpanJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/TaskJSGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/Marshaling/VoidGenerator.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/NoSpanAndTaskMixingResolver.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/gen/JSImportGenerator/SignatureBindingHelpers.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/JSImportGenerator.UnitTest/Compiles.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.UnitTests/System/Runtime/InteropServices/JavaScript/WebWorkerTest.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/BoundGenerators.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallerHelpers.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/MarshallingAttributeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/UnmanagedToManagedStubGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/VariableDeclarations.cs
Labels: area-System.Runtime.InteropServices.JavaScript, source-generator

#110755 [cDAC] Implement ISOSDacInterface::GetMethodDescPtrFromIp
  src/native/managed/cdacreader/src/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#109978 Add a feature flag to not use GVM in Linq Select
  src/libraries/System.Linq/src/System/Linq/Select.cs
Labels: area-System.Linq, size-reduction, community-contribution

#111998 Consider type declaration order in MethodImpls
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
Labels: area-NativeAOT-coreclr

#112222 docs: fix spelling grammar and missing words in clr-code-guide.md
  docs/coding-guidelines/clr-code-guide.md
Labels: community-contribution, needs-area-label

#111286 add important remarks to NrbfDecoder
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/ArrayRecord.cs
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/NrbfDecoder.cs
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/SZArrayRecord.cs
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/SerializationRecord.cs
  src/libraries/System.Formats.Nrbf/src/System/Formats/Nrbf/SerializationRecordId.cs
Labels: area-System.Formats.Nrbf

#112173 Add LINQ Shuffle
  src/libraries/System.Linq.AsyncEnumerable/ref/System.Linq.AsyncEnumerable.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System.Linq.AsyncEnumerable.csproj
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/Shuffle.cs
  src/libraries/System.Linq.AsyncEnumerable/tests/ShuffleTests.cs
  src/libraries/System.Linq.AsyncEnumerable/tests/System.Linq.AsyncEnumerable.Tests.csproj
  src/libraries/System.Linq.Queryable/ref/System.Linq.Queryable.cs
  src/libraries/System.Linq.Queryable/src/System/Linq/Queryable.cs
  src/libraries/System.Linq.Queryable/tests/ShuffleTests.cs
  src/libraries/System.Linq.Queryable/tests/System.Linq.Queryable.Tests.csproj
  src/libraries/System.Linq/ref/System.Linq.cs
  src/libraries/System.Linq/src/System.Linq.csproj
  src/libraries/System.Linq/src/System/Linq/Shuffle.SpeedOpt.cs
  src/libraries/System.Linq/src/System/Linq/Shuffle.cs
  src/libraries/System.Linq/tests/AverageTests.cs
  src/libraries/System.Linq/tests/MaxTests.cs
  src/libraries/System.Linq/tests/MinTests.cs
  src/libraries/System.Linq/tests/ShuffleTests.cs
  src/libraries/System.Linq/tests/Shuffler.cs
  src/libraries/System.Linq/tests/System.Linq.Tests.csproj
  src/libraries/System.Net.Http/tests/UnitTests/Headers/HttpHeadersTest.cs
  src/libraries/System.Private.Xml.Linq/tests/axes/AxisOrderValidation.cs
Labels: area-System.Linq, new-api-needs-documentation

#112186 [browser] Leave the fingerprint pattern in relative path
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ComputeWasmPublishAssets.cs
Labels: arch-wasm, area-Build-mono, os-browser

#112210 JIT: Clean up 3-opt driver logic
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#112193 Use SHA512 to generate cert thumbprint
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/MsQuicConfiguration.Cache.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
Labels: area-System.Net

#112197 JIT: Recompute test block weights after loop inversion
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#112212 JIT: Store padding information in ClassLayout/ClassLayoutBuilder
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/layout.cpp
  src/coreclr/jit/layout.h
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
  src/coreclr/jit/promotiondecomposition.cpp
  src/coreclr/jit/promotionliveness.cpp
  src/coreclr/jit/segmentlist.cpp
  src/coreclr/jit/segmentlist.h
Labels: area-CodeGen-coreclr

#108696 [LoongArch64] Remove the register tp from callee saved registers in coreclr.
  src/coreclr/System.Private.CoreLib/src/System/Runtime/ExceptionServices/AsmOffsets.cs
  src/coreclr/debug/createdump/threadinfounix.cpp
  src/coreclr/debug/di/loongarch64/cordbregisterset.cpp
  src/coreclr/debug/ee/debugger.inl
  src/coreclr/debug/shared/loongarch64/primitives.cpp
  src/coreclr/gcinfo/gcinfodumper.cpp
  src/coreclr/inc/crosscomp.h
  src/coreclr/inc/regdisp.h
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/inc/unixasmmacrosloongarch64.inc
  src/coreclr/pal/src/arch/loongarch64/context2.S
  src/coreclr/pal/src/arch/loongarch64/exceptionhelper.S
  src/coreclr/pal/src/exception/remote-unwind.cpp
  src/coreclr/pal/src/exception/seh-unwind.cpp
  src/coreclr/pal/src/thread/context.cpp
  src/coreclr/unwinder/loongarch64/unwinder.cpp
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/frames.h
  src/coreclr/vm/loongarch64/asmconstants.h
  src/coreclr/vm/loongarch64/asmhelpers.S
  src/coreclr/vm/loongarch64/cgencpu.h
  src/coreclr/vm/loongarch64/gmscpu.h
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/util.cpp
Labels: area-VM-coreclr, community-contribution, arch-loongarch64

#112095 Disable newly added test on native AOT and drop RequiresProcessIsolation
  src/tests/Regressions/coreclr/GitHub_111242/Test111242.csproj
Labels: needs-area-label

#112201 Enable building projects during BuildPass=2 in dotnet/runtime
  eng/Build.props
  eng/Subsets.props
Labels: area-Infrastructure

#112246 Our "mono variant" check doesn't work on non-desktop platforms, so explicitly skip on Browser and Wasi
  src/tests/JIT/Regression/JitBlue/Runtime_74635/Runtime_74635_1.il
Labels: area-CodeGen-coreclr

#110596 JIT: boost inlining when callee unboxes an arg
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/inline.def
  src/coreclr/jit/inlinepolicy.cpp
  src/coreclr/jit/inlinepolicy.h
Labels: area-CodeGen-coreclr

#108799 [JIT] [APX] Enable additional General Purpose Registers.
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/codegeninterface.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/emitxarch.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsra.h
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/lsraxarch.cpp
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/optcse.h
  src/coreclr/jit/regMaskTPOps.cpp
  src/coreclr/jit/register.h
  src/coreclr/jit/target.h
  src/coreclr/jit/targetamd64.h
  src/coreclr/vm/codeman.cpp
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr, community-contribution, apx

#109431 New GC decommit strategy for large/huge regions
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: area-GC-coreclr

#112202 Initial interpreter wire-in
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/inc/corinfo.h
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.S
  src/coreclr/vm/arm64/asmhelpers.asm
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/precode.h
  src/coreclr/vm/prestub.cpp
Labels: area-VM-coreclr

#112254 fix docker build steps
  docs/workflow/using-docker.md
Labels: area-Meta

#112243 [x86] Force EBP frame for synchronized methods
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#111735 Fix riscv register mapping with llvm-libunwind
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/loongarch64/AllocFast.S
  src/coreclr/nativeaot/Runtime/loongarch64/GcProbe.S
  src/coreclr/nativeaot/Runtime/loongarch64/InteropThunksHelpers.S
  src/coreclr/nativeaot/Runtime/loongarch64/PInvoke.S
  src/coreclr/nativeaot/Runtime/riscv64/AllocFast.S
  src/coreclr/nativeaot/Runtime/riscv64/ExceptionHandling.S
  src/coreclr/nativeaot/Runtime/riscv64/GcProbe.S
  src/coreclr/nativeaot/Runtime/riscv64/InteropThunksHelpers.S
  src/coreclr/nativeaot/Runtime/riscv64/PInvoke.S
  src/coreclr/nativeaot/Runtime/riscv64/StubDispatch.S
  src/coreclr/nativeaot/Runtime/riscv64/UniversalTransition.S
  src/coreclr/nativeaot/Runtime/riscv64/WriteBarriers.S
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.cpp
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosloongarch64.inc
  src/coreclr/nativeaot/Runtime/unix/unixasmmacrosriscv64.inc
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfNative.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfObjectWriter.cs
Labels: community-contribution, area-NativeAOT-coreclr, arch-riscv

#111676 Rework Unix socket option tracking
  src/libraries/System.Net.Sockets/src/System.Net.Sockets.csproj
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.OptionTracking.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Tasks.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/ArgumentValidationTests.cs
  src/libraries/System.Net.Sockets/tests/FunctionalTests/Connect.cs
Labels: area-System.Net.Sockets

#112056 Remove Windows 8.1 from test queues
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: Servicing-approved, area-Infrastructure-libraries

#110199 [release/8.0-staging] Update .NET 8 build images to use Azure Linux
  eng/pipelines/common/templates/pipeline-with-resources.yml
Labels: Servicing-approved, area-Infrastructure

#112270 Fix EventPipe on Android CoreClr.
  src/mono/mono/component/CMakeLists.txt
  src/native/eventpipe/CMakeLists.txt
  src/native/eventpipe/configure.cmake
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/AndroidAppBuilder/Templates/monodroid-coreclr.c
Labels: area-Build-mono

#112259 JIT: Limit 3-opt to 1000 swaps per run
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/priorityqueue.h
Labels: area-CodeGen-coreclr

#112268 Replace bitvector.h/cpp with ptrArgTP type in gc_unwind_x86.h/inl
  src/coreclr/inc/bitvector.h
  src/coreclr/inc/eetwain.h
  src/coreclr/inc/gc_unwind_x86.h
  src/coreclr/inc/gcinfotypes.h
  src/coreclr/utilcode/CMakeLists.txt
  src/coreclr/utilcode/bitvector.cpp
  src/coreclr/vm/gc_unwind_x86.inl
Labels: area-VM-coreclr, community-contribution

#112285 Remove repeated call to DllMain
  src/coreclr/pal/src/loader/module.cpp
Labels: area-PAL-coreclr, community-contribution

#112282 Fix init race in mono_class_try_get_[shortname]_class.
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/icall.c
Labels: area-VM-meta-mono

#112232 Test failure - SendAsync_RequestVersion20_ResponseVersion20
  src/libraries/Common/tests/System/Net/Configuration.Http.cs
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.RemoteServer.cs
Labels: area-System.Net.Http

#112190 [QUIC] Observe exceptions from _connectionCloseTcs
  src/libraries/System.Net.Quic/src/System/Net/Quic/Internal/ThrowHelper.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs
Labels: area-System.Net.Quic

#111391 Start regular pri-1 tests runs with native AOT
  eng/pipelines/coreclr/runtime-nativeaot-outerloop.yml
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunHelperNode.cs
  src/tests/issues.targets
Labels: area-Infrastructure-coreclr

#112298 Address feedback on dense FrozenDictionary optimization
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/FrozenDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Frozen/Integer/DenseIntegralFrozenDictionary.cs
  src/libraries/System.Collections.Immutable/tests/Frozen/FrozenFromKnownValuesTests.cs
Labels: area-System.Collections

#112303 Enable `SA1206`: Keyword ordering
  eng/CodeAnalysis.src.globalconfig
Labels: area-Infrastructure-libraries, community-contribution

#112294 update the location of assert for REG_ZR check
  src/coreclr/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr

#108736 [release/8.0-staging] Don't call EnsureInstanceActive under StaticBoxInitLock
  src/coreclr/vm/methodtable.cpp
  src/coreclr/vm/threadstatics.cpp
Labels: Servicing-approved, area-VM-coreclr

#112307 Update Xcode casing
  src/tasks/MobileBuildTasks/Apple/AppleSdk.cs
Labels: area-Build-mono

#112250 JIT: initial support for stack allocating arrays of GC type
  src/coreclr/jit/compiler.h
  src/coreclr/jit/layout.cpp
  src/coreclr/jit/layout.h
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/objectalloc.h
Labels: area-CodeGen-coreclr

#112313 Update the System.ComponentModel.Annotations solution to build in VS
  src/libraries/System.ComponentModel.Annotations/System.ComponentModel.Annotations.sln
Labels: area-System.ComponentModel.DataAnnotations

#111646 Add `GetDeclaringType` to `PropertyDefinition` and `EventDefinition`.
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/Internal/Tables.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/MetadataReader.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/EventDefinition.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/FieldDefinition.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/MethodDefinition.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/PropertyDefinition.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/MetadataReaderTests.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/TypeSystem/TypeDefinitionTests.cs
  src/libraries/System.Reflection.Metadata/tests/PortableExecutable/PEReaderTests.cs
  src/libraries/System.Reflection.Metadata/tests/Resources/Misc/Members.cs
  src/libraries/System.Reflection.Metadata/tests/Resources/Misc/Members.dll
Labels: area-System.Reflection.Metadata, new-api-needs-documentation, community-contribution

#112276 [8.0] Remove Windows 8.1 from test queues
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: Servicing-approved, area-Infrastructure-libraries

#112331 Fix relocs for linux-riscv64 AOT
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Target_RiscV64/RiscV64Emitter.cs
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#111529 [RISC-V] Synthesize some floating constants inline
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/lsrariscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#112292 JIT: Don't reorder handler blocks
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#112032 Force write of local file header when "version needed to extract" changes
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZipArchiveEntry.cs
  src/libraries/System.IO.Compression/tests/ZipArchive/zip_InvalidParametersAndStrangeFiles.cs
Labels: area-System.IO.Compression, community-contribution

#112354 [8.0] Update Android and Linux-Bionic images (#102928)
  eng/pipelines/common/platform-matrix.yml
  eng/pipelines/common/templates/pipeline-with-resources.yml
  src/native/libs/System.Security.Cryptography.Native/extra_libs.cmake
Labels: Servicing-approved, area-Infrastructure

#112231 System.Configuration.ConfigurationManager.Tests: use Assembly.Location to determine ThisApplicationPath.
  src/libraries/System.Configuration.ConfigurationManager/tests/Mono/ConfigurationManagerTest.cs
  src/libraries/System.Configuration.ConfigurationManager/tests/Mono/TestUtil.cs
Labels: area-System.Configuration, community-contribution

#111655 [browser] Remove experimental args from NodeJS WBT runner
  src/mono/wasm/Wasm.Build.Tests/ConfigSrcTests.cs
  src/mono/wasm/Wasm.Build.Tests/HostRunner/NodeJSHostRunner.cs
  src/mono/wasm/Wasm.Build.Tests/WasmSIMDTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmTemplateTestBase.cs
Labels: Servicing-approved, arch-wasm, area-Infrastructure-mono, os-browser

#112206 Have mono handle ConvertToIntegerNative for Double and Single
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/mono/mono/mini/interp/transform.c
  src/mono/mono/mini/intrinsics.c
Labels: area-Codegen-JIT-mono

#112342 Do not run NAOT arm64 OSX testing on all PRs
  eng/pipelines/runtime.yml
Labels: area-Infrastructure-coreclr

#112358 Internal monitor impl not using coop mutex causing deadlocks on Android.
  src/mono/mono/metadata/monitor.c
Labels: area-VM-meta-mono

#111598 Add `TypeName` APIs to simplify metadata lookup.
  src/coreclr/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.CoreCLR.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.NativeAot.cs
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.cs
  src/libraries/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs
  src/libraries/System.Reflection.Metadata/src/Resources/Strings.resx
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeName.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeNameParserHelpers.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/TypeNameParserHelpersTests.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/TypeNameTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Type/TypeTests.cs
  src/mono/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.Mono.cs
  src/mono/System.Private.CoreLib/src/System/RuntimeType.Mono.cs
  src/mono/System.Private.CoreLib/src/System/Type.Mono.cs
  src/mono/System.Private.CoreLib/src/System/TypeLoadException.Mono.cs
Labels: area-System.Reflection.Metadata, new-api-needs-documentation, community-contribution

#112026 Add doc on OS onboarding
  docs/design/mono/mono-library-mode.md
  docs/project/os-onboarding.md
  docs/workflow/building/coreclr/ios.md
  docs/workflow/testing/libraries/testing-apple.md
Labels: area-Meta

#112320 Backport XmlSerializer reflection changes to 8.0-staging
  src/libraries/Microsoft.XmlSerializer.Generator/tests/Expected.SerializableAssembly.XmlSerializers.cs
  src/libraries/System.Private.Xml/src/System.Private.Xml.csproj
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.RuntimeOnly.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTypes.RuntimeOnly.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTypes.cs
Labels: Servicing-approved, area-Serialization

#112322 Backport pr 111723 to 9.0 staging
  src/libraries/Microsoft.XmlSerializer.Generator/tests/Expected.SerializableAssembly.XmlSerializers.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.RuntimeOnly.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTypes.RuntimeOnly.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTypes.cs
Labels: Servicing-approved, area-Serialization

#112364 JIT: Invalidate LSRA's DFS tree if we aren't running new layout phase
  src/coreclr/jit/compiler.cpp
Labels: area-CodeGen-coreclr

#112027 Code clean up in AP for NonNull*
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#112073 NativeAOT: Cover more opcodes in type preinitializer
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/TypePreinit.cs
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
Labels: community-contribution, area-NativeAOT-coreclr

#110819 JIT: Optimize struct parameter register accesses in the backend
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenarm.cpp
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/lsraarmarch.cpp
  src/coreclr/jit/lsrabuild.cpp
  src/coreclr/jit/promotion.cpp
Labels: area-CodeGen-coreclr

#111539 Add hooks to debug OpenSSL memory allocations
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/README.md
  src/libraries/System.Security.Cryptography/src/ILLink/ILLink.Descriptors.LibraryBuild.xml
  src/native/libs/System.Security.Cryptography.Native/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native/apibridge.h
  src/native/libs/System.Security.Cryptography.Native/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native/memory_debug.c
  src/native/libs/System.Security.Cryptography.Native/memory_debug.h
  src/native/libs/System.Security.Cryptography.Native/openssl.c
  src/native/libs/System.Security.Cryptography.Native/opensslshim.h
Labels: area-System.Security

#110282 Enable AltJits build for LoongArch64 and RiscV64
  Directory.Build.props
  eng/Subsets.props
  eng/native/functions.cmake
  src/coreclr/build-runtime.cmd
  src/coreclr/build-runtime.sh
  src/coreclr/gcinfo/CMakeLists.txt
  src/coreclr/inc/corinfo.h
  src/coreclr/inc/gcinfotypes.h
  src/coreclr/inc/palclr.h
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/targetloongarch64.cpp
  src/coreclr/jit/targetriscv64.cpp
  src/coreclr/pal/inc/rt/ntimage.h
  src/coreclr/runtime.proj
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64, arch-riscv

#112355 [STJ] Update the invalid metadata property exception message to reflect current behavior.
  src/libraries/System.Text.Json/src/Resources/Strings.resx
Labels: area-System.Text.Json

#112096 Remove duplicate definition of CORECLR_HOSTING_API_LINKAGE
  src/coreclr/hosts/inc/coreclrhost.h
Labels: area-Host, community-contribution

#112407 [browser] Fingerprint dotnet.js if writing import map to html is enabled
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
Labels: arch-wasm, area-Build-mono, os-browser

#112241 [8.0] Backport labeling workflow changes
  .github/CODEOWNERS
  .github/workflows/README.md
  .github/workflows/check-no-merge-label.yml
  .github/workflows/check-service-labels.yml
Labels: Servicing-approved, area-Infrastructure

#112383 Prevent returning disposed HTTP/1.1 connections to the pool
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
Labels: area-System.Net.Http

#112387 Wait to complete the test before releasing the agile reference.
  src/tests/Interop/COM/ComWrappers/API/Program.cs
Labels: area-Interop-coreclr

#112443 [9.0] Move release/9.0 localization back to main too
  eng/pipelines/runtime-official.yml
Labels: documentation, Servicing-approved, area-Infrastructure-libraries

#112060 Never use heap for return buffers
  docs/design/coreclr/botr/clr-abi.md
  docs/design/features/tailcalls-with-helpers.md
  src/coreclr/inc/readytorun.h
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/rationalize.cpp
  src/coreclr/nativeaot/Runtime/inc/ModuleHeaders.h
  src/coreclr/tools/Common/Internal/Runtime/ModuleHeaders.cs
  src/coreclr/tools/aot/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/reflectioninvocation.cpp
Labels: area-CodeGen-coreclr

#112256 Bring up android+coreclr windows build.
  Directory.Build.props
  eng/Subsets.props
  eng/native/build-commons.sh
  eng/native/configureplatform.cmake
  eng/native/configuretools.cmake
  eng/native/functions.cmake
  eng/native/gen-buildsys.cmd
  eng/native/generateversionscript.ps1
  eng/native/tryrun.cmake
  eng/native/version/copy_version_files.ps1
  src/coreclr/CMakeLists.txt
  src/coreclr/build-runtime.cmd
  src/coreclr/debug/runtimeinfo/CMakeLists.txt
  src/coreclr/dlls/mscordac/CMakeLists.txt
  src/coreclr/generateredefinesfile.ps1
  src/coreclr/nativeaot/Runtime/eventpipe/CMakeLists.txt
  src/coreclr/nativeresources/processrc.ps1
  src/coreclr/pal/src/configure.cmake
  src/coreclr/runtime-prereqs.proj
  src/coreclr/runtime.proj
  src/coreclr/scripts/genEventing.py
  src/coreclr/vm/eventing/CMakeLists.txt
  src/mono/mono/eventpipe/gen-eventing.cmake
  src/mono/sample/Android/AndroidSampleApp.csproj
  src/native/corehost/apphost/static/CMakeLists.txt
  src/native/corehost/corehost.proj
  src/native/libs/build-native.cmd
  src/native/libs/build-native.proj
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/Common/AndroidSdkHelper.cs
  src/tasks/Common/JavaCompiler.cs
  src/tasks/MobileBuildTasks/Android/AndroidProject.cs
  src/tasks/TestExclusionListTasks/TestExclusionListTasks.csproj
Labels: area-Infrastructure-coreclr

#112389 Update SVE instructions that writes to GC regs
  src/coreclr/jit/emitarm64.cpp
Labels: area-CodeGen-coreclr

#112458 [8.0] Wrap the OneLocBuild yml section with a SourceBranch check
  eng/pipelines/runtime-official.yml
Labels: Servicing-approved, area-Infrastructure

#112359 Native DLLs: only load imported DLLs from System32
  eng/native/configurecompiler.cmake
  eng/native/ijw/IJW.cmake
Labels: area-Infrastructure-coreclr, community-contribution

#112375 `__ComObject` doesn't support dynamic interface map
  src/coreclr/vm/methodtable.h
  src/tests/Interop/COM/NETClients/MiscTypes/Program.cs
  src/tests/Interop/COM/NETServer/MiscTypesTesting.cs
  src/tests/Interop/COM/NativeClients/MiscTypes/MiscTypes.cpp
  src/tests/Interop/COM/NativeServer/MiscTypesTesting.h
  src/tests/Interop/COM/ServerContracts/Server.Contracts.cs
  src/tests/Interop/COM/ServerContracts/Server.Contracts.h
Labels: area-Interop-coreclr

#112384 Fix suspicious code fragments
  src/coreclr/tools/ILVerification/ILImporter.StackValue.cs
  src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/ComInterop/DynamicVariantExtensions.cs
  src/libraries/System.CodeDom/src/Microsoft/VisualBasic/VBCodeGenerator.cs
  src/libraries/System.Private.Xml/src/System/Xml/BinaryXml/XmlBinaryReader.cs
Labels: area-System.Runtime.InteropServices

#112229 [LoongArch64] Fix some assertion failures for Debug ILC building Debug NativeAOT testcases.
  src/coreclr/jit/codegenloongarch64.cpp
  src/coreclr/jit/emitloongarch64.cpp
  src/coreclr/jit/emitloongarch64.h
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/Relocation.cs
  src/coreclr/utilcode/util.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#112283 [Android] Run CoreCLR functional tests on Android
  eng/pipelines/extra-platforms/runtime-extra-platforms-androidemulator.yml
  eng/pipelines/runtime.yml
  src/libraries/tests.proj
Labels: area-Infrastructure-coreclr, os-android

#112459 JIT: Merge store/loads for return buffers
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#112455 Fix side-effect order for COMMA in impStoreStruct
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#112454 Don't build host tools when building the cross-os DACs
  src/coreclr/.nuget/Microsoft.CrossOsDiag.Private.CoreCLR/Microsoft.CrossOsDiag.Private.CoreCLR.proj
Labels: area-Infrastructure

#112379 Move generation of SuggestedBindingRedirects.targets to inner build
  src/libraries/System.Resources.Extensions/src/System.Resources.Extensions.csproj
Labels: area-System.Resources

#112412 fix for possible Null Reference Exception
  src/libraries/System.Private.Xml/src/System/Xml/Dom/XmlLoader.cs
Labels: area-System.Xml, community-contribution

#112149 Add X509CertificateLoader SecurityDesign doc
  src/libraries/System.Security.Cryptography/docs/X509CertificateLoader.SecurityDesign.md
Labels: documentation, area-System.Security

#112034 [android] Update internal documentation on CoreCLR on Android experimental support
  docs/workflow/building/coreclr/android-studio-coreclr-debug-symbols-added.png
  docs/workflow/building/coreclr/android-studio-coreclr-debug-symbols-adding.png
  docs/workflow/building/coreclr/android-studio-coreclr-debugging.png
  docs/workflow/building/coreclr/android.md
  src/mono/sample/Android/Makefile
Labels: os-android, area-Infrastructure-mono

#111095 Simplify `AssemblyName.EscapeCodeBase` and remove `unsafe`.
  src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyName.cs
Labels: area-System.Reflection, community-contribution

#112466 Revert "Fix exception handling in the prestub worker"
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptmacros.h
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/virtualcallstub.cpp
  src/tests/Regressions/coreclr/GitHub_76531/dependencytodelete.cs
  src/tests/Regressions/coreclr/GitHub_76531/dependencytodelete.csproj
  src/tests/Regressions/coreclr/GitHub_76531/tailcallinvoker.il
  src/tests/Regressions/coreclr/GitHub_76531/tailcallinvoker.ilproj
  src/tests/Regressions/coreclr/GitHub_76531/test76531.cs
  src/tests/Regressions/coreclr/GitHub_76531/test76531.csproj
  src/tests/issues.targets
Labels: area-ExceptionHandling-coreclr

#112350 TypeName.FullName: reduce allocations
  src/libraries/Common/src/System/Reflection/AssemblyNameFormatter.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/AssemblyNameInfo.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeName.cs
  src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeNameParserHelpers.cs
  src/libraries/System.Reflection.Metadata/tests/Metadata/TypeNameParserHelpersTests.cs
Labels: area-System.Reflection.Metadata, tenet-performance

#112484 [wasm] Add chromedriver support to simple-server
  src/mono/sample/wasm/simple-server/HttpServer.csproj
  src/mono/sample/wasm/simple-server/Program.cs
  src/mono/sample/wasm/simple-server/SeleniumHelper.cs
Labels: area-Infrastructure-mono

#112124 Update Ubuntu and CentOS Stream versions
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: needs-area-label

#112464 Simplify TypeBuilderImpl.MatchesTheFilter
  src/libraries/System.Reflection.Emit/src/System/Reflection/Emit/TypeBuilderImpl.cs
Labels: area-System.Reflection.Emit

#112478 Enable passing tests
  src/tests/issues.targets
Labels: area-NativeAOT-coreclr

#112465 JIT: remove asserts about inlining methods that call varargs methods
  src/coreclr/jit/importercalls.cpp
Labels: area-CodeGen-coreclr
