Repository dotnet/runtime, pull requests merged in 2025-03, with the labels that each got.

#113023 JIT: more inlining with EH prep work
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compiler.hpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/inline.def
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/lclvars.cpp
Labels: area-CodeGen-coreclr

#112983 [mono] Fix c&p error in MarshalingPInvokeScanner.
  src/tasks/MonoTargetsTasks/MarshalingPInvokeScanner/MinimalMarshalingTypeCompatibilityProvider.cs
Labels: area-Interop-mono

#113039 [NativeAOT/RiscV64] Fix unwinding FSx registers
  src/coreclr/nativeaot/Runtime/unix/UnwindHelpers.cpp
Labels: community-contribution, area-NativeAOT-coreclr, arch-riscv

#112750 Add benchmarks.run_pgo_optrepeat collection
  eng/pipelines/coreclr/superpmi-collect-test.yml
  eng/pipelines/coreclr/superpmi-collect.yml
  src/coreclr/scripts/superpmi-collect.proj
  src/coreclr/scripts/superpmi.py
  src/coreclr/scripts/superpmi_benchmarks.py
  src/coreclr/scripts/superpmi_collect_setup.py
Labels: area-CodeGen-coreclr

#112955 [wasm] Stop hardcoding TFM in Wasm.Build.Tests
  src/mono/sample/wasm/browser-bench/Wasm.Browser.Bench.Sample.csproj
  src/mono/wasi/Wasi.Build.Tests/BuildTestBase.cs
  src/mono/wasi/Wasi.Build.Tests/WasiLibraryModeTests.cs
  src/mono/wasm/Wasm.Build.Tests/Blazor/BlazorWasmTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/BuildOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/MSBuildOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/PublishOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BuildTestBase.cs
  src/mono/wasm/Wasm.Build.Tests/Common/BuildEnvironment.cs
  src/mono/wasm/Wasm.Build.Tests/NonWasmTemplateBuildTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTestsBase.cs
  src/mono/wasm/Wasm.Build.Tests/data/nuget.config
  src/mono/wasm/Wasm.Build.Tests/data/nuget10.config
  src/mono/wasm/Wasm.Build.Tests/data/test-main-7.0.js
Labels: area-Build-mono, community-contribution

#112791 [9.0] Make CPU utilization checks in the thread pool configurable
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.GateThread.cs
Labels: Servicing-approved, area-System.Threading

#112790 [8.0] Make CPU utilization checks in the thread pool configurable
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.GateThread.cs
Labels: Servicing-approved, area-System.Threading

#112004 JIT: Consolidate layout passes into one phase
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#113085 Do not cache method parameters for collectible methods
  src/libraries/System.Linq.Expressions/src/System/Dynamic/Utils/TypeExtensions.cs
Labels: area-System.Linq.Expressions, community-contribution

#112938 [android] Make Android app on coreclr use host-runtime contract and provide external assembly probe
  src/mono/msbuild/android/build/AndroidBuild.targets
  src/mono/msbuild/apple/build/AppleBuild.targets
  src/mono/msbuild/common/LibraryBuilder.targets
  src/mono/sample/Android/AndroidSampleApp.csproj
  src/tasks/AndroidAppBuilder/AndroidAppBuilder.cs
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/AndroidAppBuilder/Templates/CMakeLists-android.txt
  src/tasks/AndroidAppBuilder/Templates/monodroid-coreclr.c
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/Templates/CMakeLists-librarymode.txt.template
  src/tasks/AppleAppBuilder/Templates/CMakeLists.txt.template
  src/tasks/AppleAppBuilder/Xcode.cs
  src/tasks/Common/Builders/AppBuilderTask.cs
  src/tasks/LibraryBuilder/LibraryBuilder.cs
  src/tasks/LibraryBuilder/Templates/CMakeLists.txt.template
  src/tests/build.proj
Labels: area-Infrastructure-mono

#113007 Add test for external assembly probe mechanism
  src/coreclr/hosts/corerun/corerun.cpp
  src/coreclr/hosts/corerun/corerun.hpp
  src/coreclr/vm/peimagelayout.cpp
  src/tests/Loader/ExternalAssemblyProbe/ExternalAssemblyProbe.cs
  src/tests/Loader/ExternalAssemblyProbe/ExternalAssemblyProbe.csproj
Labels: area-AssemblyLoader-coreclr

#112933 Add approved TensorPrimitives surface area
  src/libraries/System.Numerics.Tensors/ref/System.Numerics.Tensors.csproj
  src/libraries/System.Numerics.Tensors/ref/System.Numerics.Tensors.net9.cs
  src/libraries/System.Numerics.Tensors/ref/System.Numerics.Tensors.netcore.cs
  src/libraries/System.Numerics.Tensors/src/CompatibilitySuppressions.xml
  src/libraries/System.Numerics.Tensors/src/Resources/Strings.resx
  src/libraries/System.Numerics.Tensors/src/System.Numerics.Tensors.csproj
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/TensorPrimitives.Helpers.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Common/TensorPrimitives.IAggregationOperator.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Common/TensorPrimitives.IBinaryOperator.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Common/TensorPrimitives.IBooleanUnaryOperator.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Common/TensorPrimitives.ITernaryOperator.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Common/TensorPrimitives.IUnaryInputBinaryOutput.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorExtensions.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Average.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.BitDecrement.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.BitIncrement.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Clamp.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.ConvertToInteger.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.ConvertToIntegerNative.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Decrement.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.DivRem.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Increment.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsCanonical.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsComplexNumber.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsEvenInteger.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsFinite.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsImaginaryNumber.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsInfinity.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsInteger.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsNaN.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsNegative.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsNegativeInfinity.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsNormal.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsOddInteger.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsPositive.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsPositiveInfinity.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsPow2.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsRealNumber.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsSubnormal.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.IsZero.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Remainder.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.Sign.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.SinCos.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.SinCosPi.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.StdDev.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netstandard/TensorPrimitives.Single.netstandard.cs
  src/libraries/System.Numerics.Tensors/src/System/ThrowHelper.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitives.Generic.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
Labels: area-System.Numerics.Tensors, new-api-needs-documentation

#113047 Fix TensorPrimitives.MultiplyAddEstimate for integers
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorPrimitives.MultiplyAddEstimate.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitives.Generic.cs
  src/libraries/System.Numerics.Tensors/tests/TensorPrimitivesTests.cs
Labels: area-System.Numerics.Tensors

#113087 Add NonCryptographicHashAlgorithm Clone methods
  src/libraries/System.IO.Hashing/ref/System.IO.Hashing.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Crc32.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/Crc64.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash128.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash3.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash32.cs
  src/libraries/System.IO.Hashing/src/System/IO/Hashing/XxHash64.cs
  src/libraries/System.IO.Hashing/tests/Crc32Tests.cs
  src/libraries/System.IO.Hashing/tests/Crc64Tests.cs
  src/libraries/System.IO.Hashing/tests/NonCryptoHashTestDriver.cs
  src/libraries/System.IO.Hashing/tests/XxHash128Tests.cs
  src/libraries/System.IO.Hashing/tests/XxHash32Tests.007.cs
  src/libraries/System.IO.Hashing/tests/XxHash32Tests.cs
  src/libraries/System.IO.Hashing/tests/XxHash32Tests.f00d.cs
  src/libraries/System.IO.Hashing/tests/XxHash3Tests.cs
  src/libraries/System.IO.Hashing/tests/XxHash64Tests.007.cs
  src/libraries/System.IO.Hashing/tests/XxHash64Tests.cs
  src/libraries/System.IO.Hashing/tests/XxHash64Tests.f00d.cs
Labels: area-System.Security, new-api-needs-documentation

#111437 JIT: Template EH-specific checks in 3-opt layout
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#112939 [PERF] Enable Android CoreCLR and device startup testing
  eng/pipelines/performance/templates/build-perf-sample-apps.yml
  eng/pipelines/performance/templates/perf-build-jobs.yml
  eng/pipelines/performance/templates/perf-coreclr-build-jobs.yml
  eng/pipelines/performance/templates/perf-ios-scenarios-build-jobs.yml
  eng/pipelines/performance/templates/perf-mono-build-jobs.yml
  eng/testing/performance/android_scenarios.proj
Labels: area-Infrastructure

#111706 [main] Fix LoaderAllocator computation for a generic type instance
  src/coreclr/vm/clsload.cpp
  src/libraries/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs
  src/libraries/System.Runtime.Loader/tests/CollectibleAssemblyLoadContextTest.cs
  src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Test.Assembly/TestClass.cs
Labels: area-AssemblyLoader-coreclr, community-contribution

#113032 Use minipal_getcpufeatures to detect for AVX
  src/coreclr/gc/CMakeLists.txt
  src/coreclr/gc/sample/CMakeLists.txt
  src/coreclr/gc/vxsort/isa_detection.cpp
Labels: area-GC-coreclr

#113071 JIT: Simplify internal GC tracking structures
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/jitgcinfo.h
  src/coreclr/jit/regset.cpp
  src/coreclr/jit/target.h
  src/coreclr/jit/targetamd64.h
  src/coreclr/jit/targetarm.h
  src/coreclr/jit/targetarm64.h
  src/coreclr/jit/targetx86.h
Labels: area-CodeGen-coreclr

#111626 [RISC-V] Clean up code gen for floating comparisons
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/lsrariscv64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#112978 [RISC-V] Eliminate unnecessary add instruction in array indirection
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#113091 Document exceptions in OrderedDictionary
  src/libraries/System.Collections/src/System/Collections/Generic/OrderedDictionary.cs
Labels: area-System.Collections, community-contribution

#112404 [wasm] build paltests
  eng/Subsets.props
  eng/pipelines/runtime.yml
  src/coreclr/CMakeLists.txt
  src/coreclr/clrfeatures.cmake
  src/coreclr/inc/volatile.h
  src/coreclr/interpreter/CMakeLists.txt
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/pal/CMakeLists.txt
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/inc/rt/palrt.h
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/arch/wasm/stubs.cpp
  src/coreclr/pal/src/configure.cmake
  src/coreclr/pal/src/debug/debug.cpp
  src/coreclr/pal/src/exception/seh-unwind.cpp
  src/coreclr/pal/src/exception/seh.cpp
  src/coreclr/pal/src/file/file.cpp
  src/coreclr/pal/src/include/pal/context.h
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/pal/src/loader/module.cpp
  src/coreclr/pal/src/map/virtual.cpp
  src/coreclr/pal/src/misc/sysinfo.cpp
  src/coreclr/pal/src/synchmgr/synchmanager.cpp
  src/coreclr/pal/src/thread/context.cpp
  src/coreclr/pal/src/thread/process.cpp
  src/coreclr/pal/tests/palsuite/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/exception_handling/pal_sxs/test1/CMakeLists.txt
  src/coreclr/pal/tests/palsuite/wasm/index.html
  src/coreclr/runtime.proj
  src/coreclr/tools/CMakeLists.txt
  src/mono/mono.proj
  src/native/corehost/apphost/static/CMakeLists.txt
  src/native/libs/CMakeLists.txt
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.Net.Security.Native/CMakeLists.txt
  src/native/libs/build-native.cmd
  src/native/libs/build-native.proj
  src/native/minipal/thread.h
Labels: area-PAL-coreclr

#113086 [infra] Add runtime-llvm to build analysis
  eng/build-analysis-configuration.json
Labels: area-Infrastructure-mono

#112986 Allow `MakeGenericType`/`MakeArrayType` of arbitrary types
  eng/testing/tests.singlefile.targets
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Core/Execution/ExecutionEnvironment.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Array.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/General/TypeUnifier.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/MethodInfos/RuntimeNamedMethodInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ExecutionEnvironmentImplementation.MappingTables.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/ArrayMapNode.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/GenericTypesHashtableNode.cs
  src/tests/Directory.Build.targets
  src/tests/nativeaot/Directory.Build.props
  src/tests/nativeaot/SmokeTests/Reflection/Reflection.cs
Labels: area-NativeAOT-coreclr

#113072 JIT: Fix icon and vn mismatch in an assertion
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#113093 JIT: Mark certain intrinsics as non-escaping
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/utils.cpp
Labels: area-CodeGen-coreclr

#112611 Use `WriteDoubleLittleEndian` in `NumericGraphemeInfo`
  src/libraries/System.Private.CoreLib/Tools/GenUnicodeProp/NumericGraphemeInfo.cs
Labels: area-System.Runtime, community-contribution, reduce-unsafe

#112947 [browser] Generate boot config as javascript module
  src/mono/browser/runtime/dotnet.d.ts
  src/mono/browser/runtime/loader/assets.ts
  src/mono/browser/runtime/loader/config.ts
  src/mono/browser/runtime/types/index.ts
  src/mono/wasm/Wasm.Build.Tests/Blazor/MiscTests.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/BuildOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/MSBuildOptions.cs
  src/mono/wasm/Wasm.Build.Tests/BrowserStructures/PublishOptions.cs
  src/mono/wasm/Wasm.Build.Tests/ModuleConfigTests.cs
  src/mono/wasm/Wasm.Build.Tests/ProjectProviderBase.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTestsBase.cs
  src/mono/wasm/Wasm.Build.Tests/WasmRunOutOfAppBundleTests.cs
  src/mono/wasm/Wasm.Build.Tests/WasmSdkBasedProjectProvider.cs
  src/mono/wasm/testassets/BlazorBasicTestApp/App/wwwroot/index.html
  src/mono/wasm/testassets/LibraryMode/wwwroot/index.html
  src/mono/wasm/testassets/WasmBasicTestApp/App/wwwroot/index.html
  src/mono/wasm/testassets/WasmOnAspNetCore/BlazorClient/wwwroot/index.html
  src/mono/wasm/testassets/WasmOnAspNetCore/WasmBrowserClient/wwwroot/index.html
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
Labels: arch-wasm, area-Build-mono, os-browser

#113102 JIT: stop using ehTrueEnclosingTryIndexIL outside of importation
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#113081 Use invariant culture when formatting capture transfer in regex source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorHelper.netcoreapp.cs
Labels: area-System.Text.RegularExpressions

#113026 [release/9.0-staging] Backport "Ship CoreCLR packages in servicing releases"
  src/coreclr/.nuget/Directory.Build.props
  src/coreclr/.nuget/Directory.Build.targets
Labels: Servicing-approved, area-Infrastructure-coreclr

#112457 Set AppContext.BaseDirectory and the lookup path for AssemblyDirectory to the directory containing the NativeAOT module
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/DeveloperExperience/DeveloperExperience.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/AppContext.NativeAot.cs
  src/libraries/System.Private.CoreLib/src/System/AppContext.AnyOS.cs
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/CMakeLists.txt
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryDependency.cpp
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryDependencyLoading.cs
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryDependencyLoading.csproj
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryHost.cpp
Labels: breaking-change, needs-breaking-change-doc-created, area-NativeAOT-coreclr

#112460 Move UMEntryThunk to StubPrecode infrastructure
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/inc/CrstTypes.def
  src/coreclr/inc/crsttypes_generated.h
  src/coreclr/inc/dacvars.h
  src/coreclr/inc/vptr_list.h
  src/coreclr/vm/amd64/asmconstants.h
  src/coreclr/vm/amd64/cgenamd64.cpp
  src/coreclr/vm/amd64/cgencpu.h
  src/coreclr/vm/amd64/thunktemplates.S
  src/coreclr/vm/amd64/thunktemplates.asm
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/arm/asmconstants.h
  src/coreclr/vm/arm/cgencpu.h
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm/thunktemplates.S
  src/coreclr/vm/arm64/asmconstants.h
  src/coreclr/vm/arm64/cgencpu.h
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/arm64/thunktemplates.S
  src/coreclr/vm/arm64/thunktemplates.asm
  src/coreclr/vm/ceeload.cpp
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comdelegate.h
  src/coreclr/vm/dllimport.cpp
  src/coreclr/vm/dllimportcallback.cpp
  src/coreclr/vm/dllimportcallback.h
  src/coreclr/vm/gccover.cpp
  src/coreclr/vm/i386/asmconstants.h
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/i386/cgencpu.h
  src/coreclr/vm/i386/cgenx86.cpp
  src/coreclr/vm/i386/thunktemplates.S
  src/coreclr/vm/i386/thunktemplates.asm
  src/coreclr/vm/i386/umthunkstub.S
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/loongarch64/asmconstants.h
  src/coreclr/vm/loongarch64/cgencpu.h
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/loongarch64/thunktemplates.S
  src/coreclr/vm/peimage.cpp
  src/coreclr/vm/peimage.h
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/precode.h
  src/coreclr/vm/riscv64/asmconstants.h
  src/coreclr/vm/riscv64/cgencpu.h
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/riscv64/thunktemplates.S
  src/coreclr/vm/stubmgr.cpp
  src/coreclr/vm/stubmgr.h
  src/coreclr/vm/syncblk.cpp
Labels: area-VM-coreclr

#113092 Disable ARM NEON path in dn_simdhash due to performance issues
  src/native/containers/dn-simdhash-arch.h
Labels: area-Infrastructure-coreclr

#112801 Remove unused file Interop.PFXExportCertStore.cs
  src/libraries/Common/src/Interop/Windows/Crypt32/Interop.PFXExportCertStore.cs
Labels: area-System.Security

#112957 Fix exception propagation from managed to native on Unix
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-ExceptionHandling-coreclr

#113138 Switch Ubuntu 24.04 testing to use Ubuntu 22.04 temporarily
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-coreclr

#112824 Use TryGetRangeFromAssertions to fold more relops in global assert prop
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/rangecheck.cpp
  src/coreclr/jit/rangecheck.h
Labels: area-CodeGen-coreclr

#113147 Fix a debug-assert in assertionprop.cpp
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#113128 Fix test failure from #113051
  src/coreclr/jit/lowerarmarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#113151 [release/8.0-staging] Use invariant culture when formatting transfer capture in regex source generator
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorHelper.netcoreapp.cs
Labels: Servicing-approved, area-System.Text.RegularExpressions

#113113 Fix Sve test templates to avoid buffer overrun
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveLoadVectorFirstFaultingTest.template
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/SveLoadVectorMaskedTest.template
Labels: area-CodeGen-coreclr

#112831 Check for an empty string for the TimeZoneDirectory environment variable
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.NonAndroid.cs
Labels: community-contribution, area-System.DateTime

#113169 Establish runtime-diagnostics pipeline
  eng/pipelines/runtime-diagnostics.yml
Labels: area-Infrastructure-libraries

#113027 Doc fixes for .NET 10 Preview 1 update
  src/libraries/Microsoft.Extensions.FileProviders.Physical/src/PhysicalFileProvider.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/AllAsync.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/AnyAsync.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/ContainsAsync.cs
  src/libraries/System.Linq.AsyncEnumerable/src/System/Linq/SequenceEqualAsync.cs
Labels: needs-area-label

#113182 [PERF] Add missing ScenarioArgs to the android device startup test runs
  eng/testing/performance/android_scenarios.proj
Labels: area-Infrastructure, perf-pipeline

#113131 [Wasm] Improve error logging for ES6 module assertion
  src/mono/browser/runtime/invoke-js.ts
Labels: community-contribution, needs-area-label

#113179 Fix build breaks
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/amd64/CachedInterfaceDispatchAot.S
  src/coreclr/nativeaot/Runtime/amd64/CachedInterfaceDispatchAot.asm
  src/coreclr/nativeaot/Runtime/arm64/CachedInterfaceDispatchAot.S
  src/coreclr/nativeaot/Runtime/arm64/CachedInterfaceDispatchAot.asm
  src/coreclr/nativeaot/Runtime/portable.cpp
  src/coreclr/runtime/CachedInterfaceDispatch.cpp
  src/coreclr/runtime/arm/StubDispatch.S
  src/coreclr/runtime/i386/StubDispatch.asm
  src/coreclr/runtime/loongarch64/StubDispatch.S
  src/coreclr/runtime/riscv64/StubDispatch.S
Labels: area-NativeAOT-coreclr

#113181 [10.0/preview-2] JIT: disable array stack allocation
  src/coreclr/jit/jitconfigvalues.h
  src/tests/JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests.cs
Labels: Servicing-approved, area-CodeGen-coreclr

#113159 [QUIC] Update MsQuic library version
  eng/Versions.props
Labels: area-System.Net.Quic

#113210 [browser] Pass configured config name to loadBootResource
  src/mono/browser/runtime/loader/config.ts
Labels: arch-wasm, area-Build-mono, os-browser

#112719 Reduce memory footprint of HTTP/2 connections
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/DynamicTable.cs
  src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/HPackDecoder.cs
  src/libraries/Common/tests/Tests/System/Net/aspnetcore/Http2/DynamicTableTest.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
Labels: area-System.Net.Http

#113046 [browser] avoid locks in ST interop
  src/libraries/System.Private.CoreLib/src/System/Environment.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ManualResetEventSlim.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/SpinWait.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/CancelablePromise.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSObject.References.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSProxyContext.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript, os-browser

#113150 [release/9.0-staging] Use invariant culture when formatting transfer capture in regex source generator (#113081)
  src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/RegexGeneratorHelper.netcoreapp.cs
Labels: Servicing-approved, area-System.Text.RegularExpressions

#113170 Opt labels out of automated issue cleanup
  .github/policies/resourceManagement.yml
Labels: area-Meta

#113207 Revert "Switch Ubuntu 24.04 testing to use Ubuntu 22.04 temporarily (#113138)"
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
  eng/pipelines/libraries/helix-queues-setup.yml
Labels: area-Infrastructure-libraries

#112891 Seed in the skeleton of ML-DSA based on current prototyping
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Experimentals.cs
  src/libraries/Common/src/System/Security/Cryptography/IImportExportShape.cs
  src/libraries/Common/src/System/Security/Cryptography/KeyFormatHelper.Encrypted.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.cs
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
Labels: area-System.Security

#113167 Fix encoding missed overridden properties
  src/libraries/System.Text.Encoding.CodePages/src/System.Text.Encoding.CodePages.csproj
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/EncodingNLS.cs
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/EncodingTable.Data.cs
  src/libraries/System.Text.Encoding.CodePages/src/System/Text/EncodingTable.cs
  src/libraries/System.Text.Encoding.CodePages/tests/EncodingCodePages.cs
Labels: area-System.Text.Encoding

#113218 Generate `.comment` section for ELF executables
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfObjectWriter.cs
Labels: area-NativeAOT-coreclr

#113217 Delete `ObjectNodeSection.IsStandardSection`
  src/coreclr/tools/Common/Compiler/DependencyAnalysis/ObjectNodeSection.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ObjectWriter.cs
Labels: area-NativeAOT-coreclr

#113211 Revert "Set AppContext.BaseDirectory and the lookup path for AssemblyDirectory to the directory containing the NativeAOT module"
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/DeveloperExperience/DeveloperExperience.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/AppContext.NativeAot.cs
  src/libraries/System.Private.CoreLib/src/System/AppContext.AnyOS.cs
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/CMakeLists.txt
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryDependency.cpp
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryDependencyLoading.cs
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryDependencyLoading.csproj
  src/tests/nativeaot/SmokeTests/SharedLibraryDependencyLoading/SharedLibraryHost.cpp
Labels: area-NativeAOT-coreclr

#113163 fix: correct ArgumentException formatting in NativeAOT #113016
  src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Augments/ReflectionAugments.cs
Labels: community-contribution, area-NativeAOT-coreclr

#113146 Add SymmetricAlgorithm.SetKey(ROSpan)
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesContractTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DES/DESCipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/DES/DESCipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2CipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/RC2/RC2CipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/Symmetric/SymmetricOneShotBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/TripleDES/TripleDESCipherOneShotTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/TripleDES/TripleDESCipherTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/TripleDES/TripleDESContractTests.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesCryptoServiceProvider.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesImplementation.Apple.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesImplementation.NotSupported.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesImplementation.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesImplementation.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesImplementation.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AesManaged.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/AppleCCCryptor.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/DESCryptoServiceProvider.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/FixedMemoryKeyBox.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/OpenSslCipher.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RC2CryptoServiceProvider.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SymmetricAlgorithm.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/TripleDESCryptoServiceProvider.Wrap.cs
  src/libraries/System.Security.Cryptography/tests/SymmetricAlgorithmTests.cs
  src/libraries/System.Security.Cryptography/tests/TripleDesTests.cs
Labels: area-System.Security

#113095 Better ARM intrinsics implementation for dn_simdhash
  src/native/containers/dn-simdhash-arch.h
  src/native/containers/dn-simdhash-specialization.h
Labels: area-Infrastructure-coreclr

#113235 JIT: Fix edge likelihoods in `fgOptimizeBranch`
  src/coreclr/jit/fgopt.cpp
Labels: area-CodeGen-coreclr

#107230 Add CreateChained to RateLimiter
  src/libraries/System.Threading.RateLimiting/ref/System.Threading.RateLimiting.cs
  src/libraries/System.Threading.RateLimiting/src/System.Threading.RateLimiting.csproj
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ChainedPartitionedRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/ChainedRateLimiter.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/CombinedRateLimitLease.cs
  src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/RateLimiter.cs
  src/libraries/System.Threading.RateLimiting/tests/ChainedLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/Infrastructure/Utils.cs
  src/libraries/System.Threading.RateLimiting/tests/PartitionedChainedLimiterTests.cs
  src/libraries/System.Threading.RateLimiting/tests/System.Threading.RateLimiting.Tests.csproj
Labels: area-System.Threading, new-api-needs-documentation, community-contribution

#112981 [mono] Fix detecting [DisableRuntimeMarshalling] in MarshalingPInvokeScanner.
  src/tasks/MonoTargetsTasks/MarshalingPInvokeScanner/MarshalingPInvokeScanner.cs
Labels: area-Interop-mono

#113014 [browser][http] mute JS exceptions about network errors + HEAD verb
  src/libraries/Common/tests/System/Net/Http/ResponseStreamTest.cs
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/Handlers/EchoHandler.cs
  src/mono/browser/runtime/http.ts
Labels: arch-wasm, area-System.Net.Http, os-browser

#113225 Update branding to 8.0.15
  eng/Versions.props
Labels: Servicing-approved, area-Infrastructure-libraries

#112794 [9.0] Make counting of IO completion work items more precise on Windows
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadInt64PersistentCounter.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/ThreadPoolWorkQueue.cs
  src/libraries/System.Threading.ThreadPool/tests/ThreadPoolTests.cs
Labels: Servicing-approved, area-System.Threading

#113233 Bounds checks: make MergeEdgeAssertions more precise
  src/coreclr/jit/rangecheck.cpp
  src/coreclr/jit/rangecheck.h
Labels: area-CodeGen-coreclr

#112616 Avoid `Unsafe.As` in `BitConverter`
  src/libraries/System.Private.CoreLib/src/System/BitConverter.cs
Labels: area-System.Numerics, community-contribution, reduce-unsafe

#111934 Publish dotnet/runtime using standard Arcade Publish tooling
  Directory.Build.props
  eng/DotNetBuild.props
  eng/OSArch.props
  eng/Publishing.props
  eng/RuntimeIdentifier.props
  eng/Signing.props
  eng/extract-for-crossdac.ps1
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/runtimes/build-runtime-tests-and-send-to-helix.yml
  eng/pipelines/common/templates/runtimes/build-runtime-tests.yml
  eng/pipelines/common/templates/runtimes/xplat-job.yml
  eng/pipelines/official/pipeline.yml
  eng/pipelines/official/prepare-signed-artifacts.yml
  eng/pipelines/official/stages/publish.yml
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure

#113258 Fixup null annotations from ClaimsPrincipal
  src/libraries/System.Security.Claims/ref/System.Security.Claims.cs
  src/libraries/System.Security.Claims/src/System/Security/Claims/ClaimsPrincipal.cs
  src/libraries/System.Security.Claims/tests/ClaimsPrincipalTests.cs
Labels: area-System.Security

#113224 JIT: Switch `optOptimizeLayout` to pre-layout optimization phase
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/optimizer.cpp
  src/coreclr/jit/switchrecognition.cpp
Labels: area-CodeGen-coreclr

#113277 Remove use of --no-lock with Homebrew.
  docs/workflow/requirements/macos-requirements.md
  eng/Brewfile
  eng/common/native/install-dependencies.sh
Labels: area-Infrastructure-libraries

#113282 [release/8.0-staging] Remove --no-lock brew flag
  eng/install-native-dependencies.sh
Labels: Servicing-approved, area-Infrastructure

#113281 [release/9.0-staging] Remove --no-lock brew flag
  eng/install-native-dependencies.sh
Labels: Servicing-approved, area-Infrastructure

#113284 Coalesce ifdef blocks
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/CancelablePromise.cs
Labels: area-System.Runtime.InteropServices.JavaScript, community-contribution

#113178 JIT: Support bitwise field insertions for return registers
  src/coreclr/jit/compiler.h
  src/coreclr/jit/gentree.h
  src/coreclr/jit/lclmorph.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/morph.cpp
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
Labels: area-CodeGen-coreclr

#113255 Update `.comment` section
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/ObjectWriter/ElfObjectWriter.cs
Labels: area-NativeAOT-coreclr

#113305 [10.0/preview2] JIT: make array stack disable work in release builds
  src/coreclr/jit/objectalloc.h
Labels: Servicing-approved, area-CodeGen-coreclr

#113206 [release/8.0-staging] [QUIC] Update MsQuic library version
  eng/Versions.props
Labels: Servicing-approved, area-System.Net.Quic

#112693 [RISC-V] Use zero register as argument for atomics
  src/coreclr/jit/codegenriscv64.cpp
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lowerriscv64.cpp
  src/coreclr/jit/lsrariscv64.cpp
  src/tests/JIT/Intrinsics/Interlocked.cs
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#113125 [RISC-V] Replace load local address with load global
  src/coreclr/vm/riscv64/asmhelpers.S
Labels: area-VM-coreclr, community-contribution, arch-riscv

#113294 JIT: Introduce `LclVarDsc::lvIsMultiRegDest`
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/forwardsub.cpp
  src/coreclr/jit/gschecks.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/lclvars.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lsra.cpp
  src/coreclr/jit/morphblock.cpp
Labels: area-CodeGen-coreclr

#113232 Add test that AppContext.BaseDirectory is rooted
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/AppContext/AppContextTests.cs
Labels: needs-area-label

#113238 Fix LdapConnection with AuthType.External
  src/libraries/Common/src/Interop/Windows/Wldap32/Interop.Ldap.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.Windows.cs
Labels: area-System.DirectoryServices

#113041 OSDescription: Returns a user-friendly name instead of kernel info on Android & Apple platforms
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/RuntimeInformation.Unix.cs
  src/libraries/System.Runtime/tests/System.Runtime.InteropServices.RuntimeInformation.Tests/DescriptionNameTests.cs
Labels: area-System.Runtime.InteropServices, os-mac-os-x, os-android, os-ios, os-maccatalyst, community-contribution

#113088 Add API compat instructions to libraries building README
  docs/workflow/building/libraries/README.md
Labels: area-Infrastructure-libraries

#113164 [browser] Add application environment to boot config
  src/mono/browser/runtime/loader/config.ts
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/wasm/Wasm.Build.Tests/AppSettingsTests.cs
  src/mono/wasm/Wasm.Build.Tests/Templates/WasmTemplateTestsBase.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/wwwroot/main.js
  src/mono/wasm/testassets/WasmBasicTestApp/README.md
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/BootJsonData.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
Labels: arch-wasm, area-Build-mono, os-browser

#113230 [release/8.0-staging] Back port logical equivalent of #102838
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslCachedDirectoryStoreProvider.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslCachedSystemStoreProvider.cs
Labels: Servicing-approved, area-System.Security

#113301 JIT: Add some more constant folding in lowering
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
Labels: area-CodeGen-coreclr

#113304 Remove AreVNsEquivalent
  src/coreclr/jit/copyprop.cpp
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
Labels: area-CodeGen-coreclr

#113298 Assertprop: Remove more useless assertions + cleanup
  src/coreclr/jit/assertionprop.cpp
  src/coreclr/jit/compiler.h
Labels: area-CodeGen-coreclr

#113347 Make sure FEATURE_STANDALONE_GC is defined for the usual VM build
  src/coreclr/CMakeLists.txt
Labels: area-GC-coreclr

#113341 [android][coreclr] Fix lifetime of host_runtime_contract in template
  src/tasks/AndroidAppBuilder/Templates/monodroid-coreclr.c
Labels: area-Build-mono

#113324 JIT: Avoid dual "parameter" assignments
  src/coreclr/jit/codegencommon.cpp
  src/coreclr/jit/lower.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_113321/Runtime_113321.cs
  src/tests/JIT/Regression/JitBlue/Runtime_113321/Runtime_113321.csproj
Labels: area-CodeGen-coreclr

#113336 Reword HostAbortedException docs
  src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/HostAbortedException.cs
Labels: area-Extensions-Hosting

#113326 JIT: Run switch peeling only once
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/switchrecognition.cpp
Labels: area-CodeGen-coreclr

#113330 JIT: Remove `fgRelocateEHRegions`
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/jiteh.cpp
Labels: area-CodeGen-coreclr

#112284 Add another set of debugging prints for stack overflow issue
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/vm/eepolicy.cpp
  src/tests/baseservices/exceptions/stackoverflow/stackoverflowtester.cs
Labels: area-PAL-coreclr

#113351 Don't update side-effects in a statement that doesn't exist
  src/coreclr/jit/rangecheckcloning.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_113334/Runtime_113334.cs
  src/tests/JIT/Regression/JitBlue/Runtime_113334/Runtime_113334.csproj
Labels: area-CodeGen-coreclr

#113392 Correct Invariant Globalization docs
  docs/design/features/globalization-invariant-mode.md
Labels: area-System.Globalization, community-contribution

#113194 [NativeAOT] Initialize COM before initializing FLS slot.
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/__Finalizer.cs
  src/coreclr/nativeaot/Runtime/FinalizerHelpers.cpp
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/PalRedhawk.h
  src/coreclr/nativeaot/Runtime/amd64/AsmMacros.inc
  src/coreclr/nativeaot/Runtime/arm64/AsmMacros.h
  src/coreclr/nativeaot/Runtime/i386/AsmMacros.inc
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/thread.h
  src/coreclr/nativeaot/Runtime/threadstore.cpp
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalRedhawkMinWin.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InitializeFinalizerThread.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Thread.NativeAot.Unix.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Threading/Thread.NativeAot.Windows.cs
  src/coreclr/nativeaot/Test.CoreLib/src/System/Runtime/InitializeFinalizerThread.cs
  src/coreclr/nativeaot/Test.CoreLib/src/Test.CoreLib.csproj
Labels: os-windows, area-NativeAOT-coreclr

#112975 Delete unused legacy hosting flags
  src/coreclr/dlls/mscoree/exports.cpp
  src/coreclr/inc/mscoree.idl
  src/coreclr/pal/prebuilt/inc/mscoree.h
  src/coreclr/vm/appdomain.cpp
  src/coreclr/vm/appdomain.hpp
  src/coreclr/vm/appdomain.inl
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/comdelegate.h
  src/coreclr/vm/corhost.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-VM-coreclr

#113396 JIT: avoid fp divide by zero in profile synthesis
  src/coreclr/jit/fgprofilesynthesis.cpp
Labels: area-CodeGen-coreclr

#113391 JIT: fix arm64 issue around flags and neg with contained operand
  src/coreclr/jit/gentree.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_113320/Runtime_113320.cs
  src/tests/JIT/Regression/JitBlue/Runtime_113320/Runtime_113320.csproj
Labels: area-CodeGen-coreclr

#113377 Fix blob and symbol package publishing
  eng/Publishing.props
  eng/Signing.props
  eng/pipelines/runtime-official.yml
  src/workloads/workloads.csproj
Labels: area-Infrastructure

#113403 Add InlineArrayX types
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/InlineArray.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Runtime/CompilerServices/InlineArrayTests.cs
Labels: area-System.Runtime.CompilerServices, new-api-needs-documentation, needs-area-label

#113214 Enable `UseSizeOptimizedLinq` by default on native AOT
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.targets
Labels: area-NativeAOT-coreclr

#113394 Fix OperExceptions for SIMD Divide
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#112024 Switch to Azure Linux queues
  eng/pipelines/coreclr/templates/helix-queues-setup.yml
Labels: area-Infrastructure

#112213 Add the `CurrentUserOnly` and `CurrentSessionOnly` options for named `Mutex`, `Semaphore`, and `EventWaitHandle`
  src/coreclr/System.Private.CoreLib/src/System/Threading/Mutex.CoreCLR.Unix.cs
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/inc/pal_error.h
  src/coreclr/pal/src/include/pal/mutex.hpp
  src/coreclr/pal/src/include/pal/sharedmemory.h
  src/coreclr/pal/src/include/pal/sharedmemory.inl
  src/coreclr/pal/src/init/pal.cpp
  src/coreclr/pal/src/sharedmemory/sharedmemory.cpp
  src/coreclr/pal/src/synchobj/mutex.cpp
  src/coreclr/pal/tests/palsuite/threading/NamedMutex/test1/namedmutex.cpp
  src/coreclr/pal/tests/palsuite/threading/NamedMutex/test1/nopal.cpp
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.AccessControlLists.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.CreateWellKnownSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.EqualSid.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.GetSecurityInfoByHandle.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.OpenThreadToken.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.OpenThreadToken_SafeAccessTokenHandle.cs
  src/libraries/Common/src/Interop/Windows/Advapi32/Interop.SecurityDescriptors.cs
  src/libraries/Common/src/Interop/Windows/Interop.Errors.cs
  src/libraries/Common/src/Interop/Windows/Kernel32/Interop.Constants.cs
  src/libraries/Common/src/System/Threading/OpenExistingResult.cs
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Threading/EventWaitHandle.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/EventWaitHandle.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/EventWaitHandle.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Mutex.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Mutex.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Mutex.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/NamedWaitHandleOptions.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Semaphore.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Semaphore.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Semaphore.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Thread.Windows.cs
  src/libraries/System.Security.Principal.Windows/src/System.Security.Principal.Windows.csproj
  src/libraries/System.Threading/ref/System.Threading.cs
  src/libraries/System.Threading/tests/EventWaitHandleTests.cs
  src/libraries/System.Threading/tests/MutexTests.cs
  src/libraries/System.Threading/tests/SemaphoreTests.cs
Labels: area-System.Threading, new-api-needs-documentation

#113339 [browser] profiler setup and env variables
  src/mono/browser/build/BrowserWasmApp.targets
  src/mono/browser/runtime/cwraps.ts
  src/mono/browser/runtime/es6/dotnet.es6.lib.js
  src/mono/browser/runtime/exports-binding.ts
  src/mono/browser/runtime/exports-linker.ts
  src/mono/browser/runtime/jiterpreter.ts
  src/mono/browser/runtime/profiler.ts
  src/mono/browser/runtime/rollup.config.js
  src/mono/browser/runtime/startup.ts
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/sample/wasm/Directory.Build.targets
  src/mono/sample/wasm/browser-minimal-config/Wasm.Browser.Config.Sample.csproj
  src/mono/wasm/Wasm.Build.Tests/DiagnosticsTests.cs
  src/mono/wasm/Wasm.Build.Tests/EnvVariablesTests.cs
  src/mono/wasm/build/WasmApp.Common.targets
  src/mono/wasm/testassets/WasmBasicTestApp/App/BrowserProfilerTest.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/EnvVariablesTest.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/LogProfilerTest.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/WasmBasicTestApp.csproj
  src/mono/wasm/testassets/WasmBasicTestApp/App/wwwroot/main.js
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/BootJsonData.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: arch-wasm, area-Diagnostics-mono, os-browser

#113422 Don't set PreserveRepoOrigin
  eng/Publishing.props
Labels: area-Infrastructure-libraries

#113360 Small TP improvement in assertprop
  src/coreclr/jit/assertionprop.cpp
Labels: area-CodeGen-coreclr

#110206 Fix `IDE0004` for object comparison
  src/libraries/System.Private.CoreLib/src/System/Reflection/CustomAttributeData.cs
  src/libraries/System.Private.CoreLib/src/System/String.Comparison.cs
Labels: area-Meta, community-contribution

#113420 Allow null key parameters for public keys and certificates.
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Crypto.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/TestData.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/PkcsPalWindows.Encrypt.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Helpers.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AndroidCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.TempExportPal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateData.ManagedDecode.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateExtensionsCommon.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificatePal.Windows.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ICertificatePalCore.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/IX509Pal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509CertificateReader.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509Encoder.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/Pkcs10CertificationRequestInfo.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/PublicKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Android.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Windows.PublicKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.iOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.macOS.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestUsageTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PropsTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PublicKeyTests.cs
  src/native/libs/System.Security.Cryptography.Native/openssl.c
Labels: area-System.Security, breaking-change, new-api-needs-documentation, needs-breaking-change-doc-created

#113288 ISimdVector vector intrinsics fixes
  src/coreclr/jit/importercalls.cpp
  src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs
  src/mono/mono/mini/interp/transform-simd.c
  src/mono/mono/mini/intrinsics.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-System.Runtime.Intrinsics, area-Codegen-Interpreter-mono, area-Codegen-Intrinsics-mono

#113451 Remove FileExtensionSignInfos for .deb, .rpm, & .pkg
  eng/Signing.props
Labels: area-Infrastructure-libraries

#113456 [mono][interp] Add SN Vector intrinsics
  src/mono/mono/mini/interp/transform-simd.c
Labels: area-Codegen-Interpreter-mono

#113432 [HttpStress] [SslStress] Run stress tests nightly against staging branches
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
Labels: area-Infrastructure

#113356 Refactor `external_assembly_probe` to be separate from single-file bundle probing
  src/coreclr/binder/assemblybindercommon.cpp
  src/coreclr/binder/inc/assembly.hpp
  src/coreclr/binder/inc/assemblybindercommon.hpp
  src/coreclr/dlls/mscoree/exports.cpp
  src/coreclr/inc/assemblyprobeextension.h
  src/coreclr/inc/bundle.h
  src/coreclr/inc/hostinformation.h
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/assemblyprobeextension.cpp
  src/coreclr/vm/assemblyspec.cpp
  src/coreclr/vm/bundle.cpp
  src/coreclr/vm/coreassemblyspec.cpp
  src/coreclr/vm/hostinformation.cpp
  src/coreclr/vm/nativeimage.cpp
  src/coreclr/vm/peassembly.cpp
  src/coreclr/vm/peassembly.inl
  src/coreclr/vm/peimage.cpp
  src/coreclr/vm/peimage.h
  src/coreclr/vm/peimage.inl
  src/coreclr/vm/peimagelayout.cpp
Labels: area-AssemblyLoader-coreclr

#113279 Include xmmintrin.h early on x86 as well
  src/coreclr/vm/common.h
  src/tests/Interop/DllImportAttribute/DllImportPath/DllImportPathNative.cpp
Labels: area-VM-coreclr

#113463 [release/9.0] fix SBOM issues for runtime
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: Servicing-approved, area-Meta

#113248 Revert "Pin SHAs for container images"
  eng/pipelines/common/templates/pipeline-with-resources.yml
Labels: needs-area-label

#113504 [release/8.0] produce SBOM after signing artifacts
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: Servicing-approved, area-Meta

#113482 Disable some named synchronization object tests on Windows Server Core
  src/libraries/System.Threading/tests/EventWaitHandleTests.cs
  src/libraries/System.Threading/tests/MutexTests.cs
  src/libraries/System.Threading/tests/SemaphoreTests.cs
Labels: area-System.Threading

#113375 Fix obsoletion message for SslStream properties
  docs/project/list-of-diagnostics.md
  src/libraries/Common/src/System/Obsoletions.cs
  src/libraries/System.DirectoryServices.Protocols/ref/System.DirectoryServices.Protocols.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
Labels: area-System.Net.Security

#113520 Add runtime-nativeaot-outerloop to build analysis
  eng/build-analysis-configuration.json
Labels: needs-area-label

#113401 Added in non-generic interfaces for Tensors
  src/libraries/System.Numerics.Tensors/ref/System.Numerics.Tensors.netcore.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/IReadOnlyTensor.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/ITensor.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Tensor.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
Labels: area-System.Numerics.Tensors, new-api-needs-documentation

#113137 Fix issues in GetKeyedService() and GetKeyedServices() with AnyKey
  src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/KeyedDependencyInjectionSpecificationTests.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/Resources/Strings.resx
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteFactory.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ThrowHelper.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceProvider.cs
Labels: breaking-change, area-Extensions-DependencyInjection, needs-breaking-change-doc-created

#113343 Fix missing ServiceCallSite.Key causing an unkeyed cache entry to be overwritten by a keyed instance
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteFactory.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ConstantCallSite.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ConstructorCallSite.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/FactoryCallSite.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/IEnumerableCallSite.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceCallSite.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceProviderCallSite.cs
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/CallSiteTests.cs
Labels: area-Extensions-DependencyInjection, community-contribution

#113048 Perform additional checks in `PEHeaders`.
  src/libraries/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEHeaders.cs
  src/libraries/System.Reflection.Metadata/tests/PortableExecutable/PEHeadersTests.cs
  src/libraries/System.Reflection.Metadata/tests/PortableExecutable/PEReaderTests.cs
Labels: area-System.Reflection.Metadata, community-contribution

#113161 [RISC-V] Fix JitDisasmDiffable
  src/coreclr/jit/emitriscv64.cpp
  src/coreclr/jit/emitriscv64.h
  src/coreclr/jit/instr.h
Labels: area-CodeGen-coreclr, community-contribution, arch-riscv

#113221 new perf-build pipeline added
  eng/pipelines/performance/perf-build.yml
  eng/pipelines/performance/templates/perf-bdn-build-jobs.yml
  eng/pipelines/performance/templates/perf-build-jobs.yml
  eng/pipelines/performance/templates/perf-coreclr-build-jobs.yml
  eng/pipelines/performance/templates/perf-ios-scenarios-build-jobs.yml
Labels: area-Infrastructure-coreclr, perf-pipeline

#113464 Fix double dispose of GCHandle in BrowserWebSocket
  src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/BrowserWebSocket.cs
Labels: arch-wasm, area-System.Net, community-contribution, os-browser

#113442 Host: fix Cancellation not aborting Start in some cases
  src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs
  src/libraries/Microsoft.Extensions.Hosting/tests/UnitTests/Internal/HostTests.cs
Labels: area-Extensions-Hosting, community-contribution

#113479 [release/8.0-staging] [HttpStress] [SslStress] Run stress tests nightly against staging branches
  eng/pipelines/libraries/stress/http.yml
  eng/pipelines/libraries/stress/ssl.yml
Labels: Servicing-approved, area-System.Net.Http

#113342 Clear diagnostic headers on request reuse
  src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
Labels: area-System.Net.Http

#113405 Update to Ubuntu 25.04
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Net.Security/tests/UnitTests/NegotiateAuthenticationTests.cs
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/IdnMapping/Data/ConformanceIdnaTestResult.cs
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/IdnMapping/Data/ConformanceIdnaUnicodeTestResult.cs
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/IdnMapping/Data/Factory.cs
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/IdnMapping/Data/Unicode_16_0/IdnaTest_16.txt
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/IdnMapping/Data/Unicode_16_0/ReadMe.txt
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/IdnMapping/Data/Unicode_16_0/Unicode_16_0_IdnaTest.cs
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/NlsTests/System.Globalization.Extensions.Nls.Tests.csproj
  src/libraries/System.Runtime/tests/System.Globalization.Extensions.Tests/System.Globalization.Extensions.Tests.csproj
Labels: area-Infrastructure-libraries

#113426 Add trim-safe ValidationContext constructor
  src/libraries/Microsoft.Extensions.Options/gen/Emitter.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/DataAnnotationAttributesWithParams.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/EmitterWithCustomValidator.netcore.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/EmitterWithCustomValidator.netfx.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netcore.lang10.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netcore.lang11.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netfx.lang10.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/GeneratedAttributesTest.netfx.lang11.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/OptionsExtendingSystemClassTest.netcore.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/OptionsExtendingSystemClassTest.netfx.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/UsingInterfaceAsPropertyTypeForLengthAttributesTests.netcore.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGeneration.Unit.Tests/Baselines/UsingInterfaceAsPropertyTypeForLengthAttributesTests.netfx.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Baselines/NetCoreApp/Validators.g.cs
  src/libraries/Microsoft.Extensions.Options/tests/SourceGenerationTests/Baselines/NetFX/Validators.g.cs
  src/libraries/System.ComponentModel.Annotations/ref/System.ComponentModel.Annotations.cs
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/ValidationContext.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/ValidationContextTests.cs
Labels: area-System.ComponentModel.DataAnnotations, new-api-needs-documentation

#113545 dotnet-runtime-perf-build pipeline triggering fix
  eng/pipelines/performance/perf-build.yml
Labels: area-Infrastructure-coreclr, perf-pipeline

#113544 [release/8.0] Remove unnecessary parameter for SBOM generation
  eng/pipelines/official/jobs/prepare-signed-artifacts.yml
Labels: Servicing-approved, area-Meta

#113497 JIT: introduce durable EH region ID
  docs/design/coreclr/botr/clr-abi.md
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgbasic.cpp
  src/coreclr/jit/fgehopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/importer.cpp
  src/coreclr/jit/jiteh.cpp
  src/coreclr/jit/jiteh.h
Labels: area-CodeGen-coreclr

#113493 JIT: Fix bad constant folding of (0 shift x) => x
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#113335 JIT: Remove `fgReorderBlocks`
  src/coreclr/jit/block.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgopt.cpp
  src/coreclr/jit/flowgraph.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/optimizer.cpp
Labels: area-CodeGen-coreclr

#113166 Tensor.Slice No Longer Copies
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Tensor.cs
  src/libraries/System.Numerics.Tensors/tests/TensorSpanTests.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
Labels: area-System.Numerics.Tensors
