Repository dotnet/runtime, pull requests merged in 2025-09, with the labels that each got.

#119059 [browser] Append uniqueness to webcil temp path & move instead of copy
  src/tasks/Common/Utils.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/ConvertDllsToWebCil.cs
Labels: arch-wasm, area-Build-mono, os-browser

#119215 [clr-interp] Sanitize argument and stind handling for floats, and implicit conversions
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#119195 [release/10.0] Add trim analyzer support for C# 14 extensions
  Directory.Build.props
  eng/Versions.props
  src/coreclr/tools/aot/ILCompiler.Trimming.Tests/TestCasesRunner/ResultChecker.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DataFlow/LocalDataFlowVisitor.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/ILLink.RoslynAnalyzer.csproj
  src/tools/illink/src/ILLink.RoslynAnalyzer/IMethodSymbolExtensions.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/FlowAnnotations.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodParameterValue.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/ParameterProxy.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisVisitor.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/DataFlowTests.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/TestChecker.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ExtensionMembersDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/ExtensionsDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MethodParametersDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/MethodReturnParameterDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
Labels: Servicing-approved, linkable-framework, area-Tools-ILLink

#119247 Remove 'X-ARR-SSL' header from example echo server response in swagger file
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/swagger.json
Labels: area-System.Net

#118291 Removes IEquatable constraint from ThrowIfEqual/NotEqual
  src/libraries/System.Private.CoreLib/src/System/ArgumentOutOfRangeException.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/ArgumentOutOfRangeExceptionTests.cs
Labels: area-System.Runtime, community-contribution

#118369 [System.Management] Skip DateTime_RoundTrip test for corefx implementation
  src/libraries/System.Management/tests/System/Management/ManagementDateTimeConverterTests.cs
Labels: area-System.Management, community-contribution

#119133 [interp] Reverse p/invoke
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/interpretershared.h
  src/coreclr/interpreter/intops.def
  src/coreclr/interpreter/intrinsics.cpp
  src/coreclr/vm/dllimportcallback.cpp
  src/coreclr/vm/dllimportcallback.h
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118824 Improve ArgumentOutOfRange exception in Math.Clamp
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Private.CoreLib/src/System/UInt128.cs
  src/libraries/System.Runtime.Numerics/src/Resources/Strings.resx
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime/tests/System.Runtime.Extensions.Tests/System/Math.cs
Labels: area-System.Numerics, community-contribution

#119243 Add stream checks before returning it
  src/libraries/Common/tests/System/IO/Compression/CompressionStreamUnitTestBase.cs
  src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/GZipStream.cs
  src/libraries/System.IO.Compression/src/System/IO/Compression/ZLibStream.cs
Labels: area-System.IO.Compression

#119208 [mono] Fix g_str_hash skipping the first byte and remove mono_metadata_str_hash
  src/mono/mono/eglib/ghashtable.c
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/metadata-internals.h
  src/mono/mono/metadata/metadata.c
  src/mono/mono/metadata/object.c
  src/mono/mono/metadata/sre.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
Labels: area-VM-meta-mono

#118095 [API Proposal]: Implement IParsable<TSelf> et cetera on IPEndPoint
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System/Net/IPEndPoint.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPEndPointParsing.cs
Labels: area-System.Net, community-contribution

#119206 JIT: fix crash in LSRA seen on VMR build on AVX-512 machines
  src/coreclr/jit/target.h
Labels: area-CodeGen-coreclr

#119196 Fix unloadability issue
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/loaderallocator.hpp
  src/tests/Regressions/coreclr/GitHub_116953/AssemblyA.csproj
  src/tests/Regressions/coreclr/GitHub_116953/AssemblyB.csproj
  src/tests/Regressions/coreclr/GitHub_116953/AssemblyC.csproj
  src/tests/Regressions/coreclr/GitHub_116953/ClassA.cs
  src/tests/Regressions/coreclr/GitHub_116953/ClassB.cs
  src/tests/Regressions/coreclr/GitHub_116953/ClassC.cs
  src/tests/Regressions/coreclr/GitHub_116953/test116953.cs
  src/tests/Regressions/coreclr/GitHub_116953/test116953.csproj
Labels: area-TypeSystem-coreclr

#119272 Rename SecurityTransforms to AppleCrypto
  src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanAppleCrypto.cs
  src/libraries/Common/src/System/Security/Cryptography/ECDsaAppleCrypto.cs
  src/libraries/Common/src/System/Security/Cryptography/EccAppleCrypto.cs
  src/libraries/Common/src/System/Security/Cryptography/EccAppleCrypto.iOS.cs
  src/libraries/Common/src/System/Security/Cryptography/EccAppleCrypto.macOS.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAppleCrypto.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAppleCrypto.iOS.cs
  src/libraries/Common/src/System/Security/Cryptography/RSAAppleCrypto.macOS.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDiffieHellman.Create.AppleCrypto.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/ECDsa.Create.AppleCrypto.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSA.Create.AppleCrypto.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSACryptoServiceProvider.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.Keys.macOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.iOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.macOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.Apple.ECKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.iOS.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Pal.macOS.cs
Labels: area-System.Security

#119276 Revert "Improve ArgumentOutOfRange exception in Math.Clamp"
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Private.CoreLib/src/System/Math.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Private.CoreLib/src/System/UInt128.cs
  src/libraries/System.Runtime.Numerics/src/Resources/Strings.resx
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime/tests/System.Runtime.Extensions.Tests/System/Math.cs
Labels: area-System.Numerics

#119275 JIT: Always remove commas while splitting
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#119266 Fix issues with interpreted EH
  src/coreclr/nativeaot/Runtime.Base/src/System/Runtime/ExceptionHandling.cs
  src/coreclr/vm/amd64/cgenamd64.cpp
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/stackwalk.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#119278 [QUIC] Consume main MsQuic in stress
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Dockerfile
Labels: area-System.Net.Http

#119262 Fix misleading order of EventSource log and AcquireClientCredentials call
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
Labels: area-System.Net.Security

#119119 [cDAC] implement GetGCHeapDetails and GetGCHeapStaticData
  docs/design/datacontracts/GC.md
  src/coreclr/gc/datadescriptor/datadescriptor.h
  src/coreclr/gc/datadescriptor/datadescriptor.inc
  src/coreclr/gc/gcpriv.h
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IGC.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Constants.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/GC_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/GC/CFinalize.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/GC/GCHeap.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/GC/Generation.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ISOSDacInterface.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#119253 [WASI] Acquire the WASI SDK for runtime build automatically and centrally
  eng/AcquireWasiSdk.targets
  eng/download-wasi-sdk.ps1
  eng/native/gen-buildsys.cmd
  eng/native/gen-buildsys.sh
  eng/testing/tests.wasi.targets
  src/libraries/sendtohelix-wasi.targets
  src/libraries/sendtohelixhelp.proj
  src/mono/Directory.Build.props
  src/mono/browser/README.md
  src/mono/mono.proj
  src/mono/nuget/Microsoft.NET.Runtime.WebAssembly.Wasi.Sdk/Microsoft.NET.Runtime.WebAssembly.Wasi.Sdk.pkgproj
  src/mono/wasi/Makefile
  src/mono/wasi/Wasi.Build.Tests/Wasi.Build.Tests.csproj
  src/mono/wasi/build/WasiApp.InTree.targets
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasi/build/WasiSdk.Defaults.props
  src/mono/wasi/runtime/CMakeLists.txt
  src/mono/wasi/wasi-sdk-version.txt
  src/mono/wasi/wasi.proj
  src/mono/wasm/build/WasmApp.LocalBuild.props
  src/mono/wasm/build/WasmApp.LocalBuild.targets
  src/mono/wasm/data/aot-tests/Directory.Build.props
  src/native/libs/build-native.proj
Labels: arch-wasm, area-Build-mono, community-contribution, os-wasi

#118960 [cDAC] Implement GetMethodTableSlot and GetMethodTableSlotEnum
  docs/design/datacontracts/RuntimeTypeSystem.md
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ConversionExtensions.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ISOSDacInterface.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#119279 Update branding to 8.0.21
  eng/Versions.props
Labels: Servicing-approved

#114619 Use AssemblyLoadContext-aware caches in TypeDescriptor to support unloading of assemblies cached by TypeDescriptor
  src/libraries/System.ComponentModel.TypeConverter/System.ComponentModel.TypeConverter.slnx
  src/libraries/System.ComponentModel.TypeConverter/src/System.ComponentModel.TypeConverter.csproj
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/CollectibleKeyConcurrentHashtable.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/CollectibleKeyHashtable.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescriptor.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/WeakHashtable.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/System.ComponentModel.TypeConverter.Tests.csproj
  src/libraries/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/UnloadableTestTypes/UnloadableTestTypes.cs
  src/libraries/System.ComponentModel.TypeConverter/tests/UnloadableTestTypes/UnloadableTestTypes.csproj
Labels: area-System.ComponentModel, community-contribution

#119280 Update branding to 9.0.10
  eng/Versions.props
  src/libraries/System.Runtime.Serialization.Schema/tests/System/Runtime/Serialization/Schema/Import/ImporterTests.cs
Labels: Servicing-approved

#119336 [clr-interp] Add support for catching exceptions which are dependent on the context param
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gcenv.ee.common.cpp
Labels: needs-area-label

#119312 Fix native AOT outerloops
  src/tests/Regressions/coreclr/GitHub_116953/test116953.cs
Labels: needs-area-label

#119331 Disable MSBuild wrapping more thoroughly
  eng/build.ps1
  eng/build.sh
Labels: area-Infrastructure, community-contribution

#118778 JIT: Always create `FIELD_LIST` for struct args in physical promotion
  src/coreclr/jit/optcse.cpp
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotion.h
Labels: area-CodeGen-coreclr

#118787 Add budget check to optReachable
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fgdiagnostic.cpp
  src/coreclr/jit/ifconversion.cpp
  src/coreclr/jit/redundantbranchopts.cpp
Labels: area-CodeGen-coreclr

#119301 [release/9.0-staging][maccatalyst] Check for -Wno-overriding-option for compatibility with clang in Xcode 16.3+
  eng/native/configurecompiler.cmake
  src/mono/CMakeLists.txt
  src/mono/mono.proj
Labels: Servicing-approved

#119319 [DAC] GetSyncBlockData properly count waiting threads
  src/coreclr/debug/daccess/request.cpp
Labels: area-Diagnostics-coreclr

#118929 [WASI] Align WASI compiler configuration with Unix
  eng/native/configurecompiler.cmake
Labels: arch-wasm, area-Infrastructure, community-contribution, os-wasi

#119177 [clr-interp] Enable CoreCLR interpreter functional test on iOS and MacCatalyst
  eng/native/build-commons.sh
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslike.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-ioslikesimulator.yml
  eng/pipelines/extra-platforms/runtime-extra-platforms-maccatalyst.yml
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/hosts/corewasmrun/CMakeLists.txt
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/interpreter/CMakeLists.txt
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/map/virtual.cpp
  src/coreclr/utilcode/executableallocator.cpp
  src/coreclr/vm/peimagelayout.cpp
  src/libraries/sendtohelix-mobile.targets
  src/libraries/tests.proj
  src/mono/msbuild/apple/build/AppleBuild.InTree.targets
  src/native/containers/dn-simdhash-ght-compatible.c
  src/native/containers/dn-simdhash-ptr-ptr.c
  src/native/containers/dn-simdhash-string-ptr.c
  src/tasks/AppleAppBuilder/AppleAppBuilder.cs
  src/tasks/AppleAppBuilder/Templates/runtime-coreclr.m
  src/tasks/AppleAppBuilder/Xcode.cs
Labels: area-CodeGen-Interpreter-coreclr

#119335 Shared interpreter header files should follow
  src/coreclr/CMakeLists.txt
  src/coreclr/interpreter/CMakeLists.txt
  src/coreclr/interpreter/inc/interpretershared.h
  src/coreclr/interpreter/inc/intops.def
  src/coreclr/interpreter/inc/intopsshared.h
  src/coreclr/interpreter/interpreter.h
  src/coreclr/interpreter/intops.cpp
  src/coreclr/interpreter/intops.h
  src/coreclr/vm/callingconvention.h
  src/coreclr/vm/interpexec.h
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/wasm/helpers.cpp
Labels: area-VM-coreclr

#119328 JIT: Handle more unsupported argument conversion cases
  src/coreclr/jit/lower.cpp
Labels: area-CodeGen-coreclr

#117736 [release/8.0-staging] Reapply distribute free regions
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: Servicing-approved, area-GC-coreclr

#119329 Propagate DynamicallyAccessedMembers annotations to auto-properties only
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/IPropertySymbolExtensions.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/FlowAnnotations.cs
  src/tools/illink/src/linker/Linker.Dataflow/FlowAnnotations.cs
  src/tools/illink/src/linker/Linker/MethodDefinitionExtensions.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/DataFlowTests.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/ReferenceCompatibilityTestUtils.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/TestCaseCompilation.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/TestCaseUtils.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/TestChecker.cs
  src/tools/illink/test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/DataFlowTests.g.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/AnnotatedMembersAccessedViaReflection.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/FieldKeyword.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/PropertyDataFlow.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchyReflectionWarnings.cs
Labels: linkable-framework, area-Tools-ILLink

#119375 Don't try to offer a conversion to SG COM when properties are involved
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/Analyzers/ConvertComImportToGeneratedComInterfaceAnalyzer.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/ConvertToGeneratedComInterfaceTests.cs
Labels: area-System.Runtime.InteropServices, code-analyzer

#119376 Suppress BinSkim BA2008 warning for llvm-mca.exe and FileCheck.exe
  eng/common/sdl/configure-sdl-tool.ps1
Labels: needs-area-label

#119439 Update aot.md
  docs/design/mono/aot.md
Labels: area-Codegen-AOT-mono, community-contribution

#119433 Reenable tests
  src/tests/issues.targets
Labels: area-VM-coreclr

#119414 Create `FEATURE_PORTABLE_HELPERS`
  src/coreclr/clr.featuredefines.props
  src/coreclr/clrdefinitions.cmake
  src/coreclr/clrfeatures.cmake
  src/coreclr/nativeaot/Runtime/EHHelpers.cpp
  src/coreclr/nativeaot/Runtime/Portable/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/StackFrameIterator.cpp
  src/coreclr/nativeaot/Runtime/inc/MethodTable.inl
  src/coreclr/nativeaot/Runtime/inc/rhbinder.h
  src/coreclr/nativeaot/Runtime/portable.cpp
  src/coreclr/nativeaot/Runtime/startup.cpp
  src/coreclr/nativeaot/Runtime/thread.cpp
  src/coreclr/nativeaot/Runtime/unix/PalUnix.cpp
  src/coreclr/nativeaot/Runtime/windows/PalMinWin.cpp
  src/coreclr/runtime/portable/AllocFast.cpp
  src/coreclr/runtime/portable/WriteBarriers.cpp
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/portable/AllocSlow.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/wasm/helpers.cpp
Labels: area-VM-coreclr

#119442 Fix link to "com error codes" in inc/corerror.xml
  src/coreclr/inc/corerror.xml
Labels: community-contribution, needs-area-label

#119359 Raise MAX_METHODS limit in Multicore JIT
  src/coreclr/vm/multicorejitimpl.h
Labels: community-contribution, needs-area-label

#119438 Non-zero result of Vector3.Cross with parallel vectors
  src/libraries/System.Numerics.Vectors/tests/Vector3Tests.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
Labels: area-System.Numerics, community-contribution

#119403 Unconditionally skip GC reporting for non-interruptible aborted methods
  src/coreclr/vm/gcinfodecoder.cpp
  src/tests/Regressions/coreclr/GitHub_119403/test119403.cs
  src/tests/Regressions/coreclr/GitHub_119403/test119403.csproj
Labels: area-CodeGen-coreclr

#119445 Delete some dead code in System.Text.Json
  src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/VersionConverter.cs
  src/libraries/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.cs
Labels: area-System.Text.Json

#119393 [DAC] fix dac_gc_heap marshalling
  src/coreclr/debug/daccess/request_svr.cpp
Labels: area-Diagnostics-coreclr

#119306 Update `.editorconfig` to specify `indent_size` for `.json` files
  .editorconfig
Labels: area-Infrastructure, community-contribution

#119354 [OSX] ip_mreqn struct is not supported for IPv4 Multicast
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
  src/native/libs/Common/pal_config.h.in
  src/native/libs/System.Native/pal_networking.c
  src/native/libs/configure.cmake
Labels: area-System.Net.Sockets

#119448 Empty `Main` works for `corerun` on WASM
  docs/workflow/building/coreclr/wasm.md
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/ObjectLayout.cpp
  src/coreclr/nativeaot/Runtime/ObjectLayout.h
  src/coreclr/nativeaot/Runtime/portable.cpp
  src/coreclr/runtime/portable/AllocFast.cpp
  src/coreclr/vm/callstubgenerator.cpp
  src/coreclr/vm/ecall.cpp
  src/coreclr/vm/ecall.h
  src/coreclr/vm/finalizerthread.cpp
  src/coreclr/vm/finalizerthread.h
  src/coreclr/vm/gcheaputilities.h
  src/coreclr/vm/gchelpers.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/method.cpp
  src/coreclr/vm/object.h
  src/coreclr/vm/portable/AllocSlow.cpp
  src/coreclr/vm/precode_portable.cpp
  src/coreclr/vm/precode_portable.hpp
  src/coreclr/vm/prestub.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/wasm/helpers.cpp
Labels: arch-wasm, area-VM-coreclr

#119396 [DAC] Properly dereference `internal_root_array`
  src/coreclr/debug/daccess/request.cpp
Labels: area-Diagnostics-coreclr

#119446 [clr-interp] Fix reporting for stack slots other than the locals/arguments
  src/coreclr/gc/gc.cpp
  src/coreclr/gcdump/gcdumpnonx86.cpp
  src/coreclr/gcinfo/gcinfoencoder.cpp
  src/coreclr/inc/gcinfodecoder.h
  src/coreclr/inc/gcinfoencoder.h
  src/coreclr/inc/gcinfotypes.h
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compileropt.cpp
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/gcinfodecoder.cpp
Labels: area-GC-coreclr

#119509 Add `AggressiveInlining` to `SizeOf` methods in `SafeBuffer`
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeBuffer.cs
Labels: community-contribution, needs-area-label

#119497 [H/3] Fix interop tests.
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http3.cs
Labels: area-System.Net.Http

#119487 Avoid leaking pthread flags from zlib-ng.cmake
  src/native/external/zlib-ng.cmake
Labels: area-Build-mono

#117464 Fix illumos compile errors in coreclr/tools/superpmi/mcs/verbmerge.cpp
  src/coreclr/tools/superpmi/CMakeLists.txt
  src/coreclr/tools/superpmi/config.h.in
  src/coreclr/tools/superpmi/configure.cmake
  src/coreclr/tools/superpmi/mcs/verbmerge.cpp
  src/coreclr/tools/superpmi/mcs/verbmerge.h
Labels: area-CodeGen-coreclr, community-contribution

#112740 JIT: Support bitwise field extractions from parameter registers
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/promotion.cpp
Labels: area-CodeGen-coreclr

#119535 add GC_CONFIG_DRIVEN define to standalone GC builds
  src/coreclr/gc/CMakeLists.txt
Labels: area-GC-coreclr

#119467 Improve codegen for `MemoryExtensions.Replace`
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
Labels: community-contribution, needs-area-label

#119528 Arm64 SVE: Fix assert checks in SVE LDR/STR
  src/coreclr/jit/emitarm64sve.cpp
Labels: area-CodeGen-coreclr, community-contribution

#119539 Add link for Performance Improvements in .NET 10
  docs/deep-dive-blog-posts.md
Labels: needs-area-label

#119653 Remove redundant CS8500 suppression
  src/libraries/System.Private.CoreLib/src/System/Threading/Interlocked.cs
  src/tests/Directory.Build.props
  src/tests/Interop/Swift/SwiftCallbackAbiStress/SwiftCallbackAbiStress.cs
  src/tests/JIT/Directed/debugging/poisoning/poison.cs
  src/tests/JIT/Regression/JitBlue/Runtime_102577/Runtime_102577.cs
  src/tests/JIT/opt/Misc/Runtime_80086/Runtime_80086.cs
  src/tests/Loader/classloader/InlineArray/InlineArrayValid.cs
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.Types.cs
  src/tests/nativeaot/SmokeTests/DynamicGenerics/universal_generics.cs
  src/tests/reflection/regression/github_25697/25697.cs
Labels: community-contribution, needs-area-label

#119656 [interp] Patch mov_src_off opcodes at emit time so live end offsets are correct
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#119640 Make `HelloWorld` run on wasm with `core[wasm]run`
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/corerun/corerun.cpp
  src/coreclr/hosts/corerun/corerun.wasm.cpp
  src/coreclr/hosts/corerun/corerun.wasm.hpp
  src/coreclr/hosts/corewasmrun/CMakeLists.txt
  src/coreclr/hosts/corewasmrun/corewasmrun.cpp
  src/coreclr/runtime.proj
  src/coreclr/vm/peimage.inl
  src/native/libs/System.Native/CMakeLists.txt
  src/native/libs/System.Native/entrypoints.c
Labels: arch-wasm, area-VM-coreclr

#119691 Change RhpGcAlloc size argument type to intptr_t for consistency
  src/coreclr/nativeaot/Runtime/GCHelpers.cpp
  src/coreclr/nativeaot/Runtime/portable.cpp
  src/coreclr/runtime/amd64/AllocFast.S
  src/coreclr/runtime/amd64/AllocFast.asm
  src/coreclr/runtime/arm/AllocFast.S
  src/coreclr/runtime/arm64/AllocFast.S
  src/coreclr/runtime/arm64/AllocFast.asm
  src/coreclr/runtime/i386/AllocFast.S
  src/coreclr/runtime/i386/AllocFast.asm
  src/coreclr/runtime/loongarch64/AllocFast.S
  src/coreclr/runtime/riscv64/AllocFast.S
  src/coreclr/vm/gchelpers.cpp
Labels: area-VM-coreclr

#119704 Update InstructionSetGenerator to match CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetGenerator.cs
Labels: area-NativeAOT-coreclr

#117996 Vector int divide short byte
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lsraxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#119591 Add portable RhpNew allocator
  src/coreclr/runtime/portable/AllocFast.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/portable/AllocSlow.cpp
Labels: area-VM-coreclr

#119714 Annotate `System.ComponentModel.SyntaxCheck` as null-tolerant
  src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/SyntaxCheck.cs
Labels: area-System.ComponentModel, community-contribution

#119715 Clarify null managed pointer dereference in Ecma-335-Augments.md
  docs/design/specs/Ecma-335-Augments.md
Labels: needs-area-label

#119696 [clr-interp] fix stack maps
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/stackmap.cpp
Labels: area-CodeGen-Interpreter-coreclr

#119672 [clr-interp] Make the INTERP_DUMP macro useable throughout the compiler
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/compileropt.cpp
Labels: area-CodeGen-Interpreter-coreclr

#118966 [cDAC] implement IXCLRDataMethodInstance::GetName and associated APIs
  docs/design/datacontracts/StackWalk.md
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IStackWalk.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/DacStreams_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/FrameHandling/FrameIterator.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/StackWalk_1.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataFrame.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataMethodInstance.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataStackWalk.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/IXCLRData.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#119624 [cDAC] fix reference to relative value
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/ExecutionManagerCore.ReadyToRunJitManager.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ExecutionManager/Helpers/RuntimeFunctionLookup.cs
  src/native/managed/cdac/tests/ExecutionManager/RuntimeFunctionTests.cs
Labels: area-Diagnostics-coreclr

#117700 JIT: Allow embedded broadcast regardless of intrinsic base type
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/instrsxarch.h
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#119717 Backport macOS 26 Tahoe test fixes to release/8.0-staging
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ChainTests.cs
Labels: Servicing-approved, area-System.Security

#119111 Adding GetReJITInformation cDAC API
  docs/design/datacontracts/CodeVersions.md
  docs/design/datacontracts/Loader.md
  docs/design/datacontracts/RuntimeTypeSystem.md
  docs/design/datacontracts/SHash.md
  src/coreclr/inc/shash.h
  src/coreclr/vm/ceeload.h
  src/coreclr/vm/codeversion.cpp
  src/coreclr/vm/codeversion.h
  src/coreclr/vm/datadescriptor/contracts.jsonc
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ICodeVersions.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ISHash.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/CodeVersions_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Loader_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/SHashFactory.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/SHash_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/DynamicILBlobEntry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/ILCodeVersionNode.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/Module.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader/CachingContractRegistry.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ISOSDacInterface.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.CodeVersions.cs
  src/native/managed/cdac/tests/MockDescriptors/MockDescriptors.cs
Labels: area-Diagnostics-coreclr

#119599 Refactor ValueStringBuilder
  src/libraries/Common/src/System/Text/ValueStringBuilder.cs
  src/libraries/Common/tests/Common.Tests.csproj
  src/libraries/Common/tests/Tests/System/Text/ValueStringBuilderTests.cs
  src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs
  src/libraries/System.Private.CoreLib/src/System/IO/PathHelper.Windows.cs
  src/libraries/System.Runtime.Numerics/src/System/Number.BigInteger.cs
Labels: community-contribution, needs-area-label

#119681 [browser] rename C symbols
  src/coreclr/vm/wasm/helpers.cpp
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Interop/JavaScriptExports.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/JSFunctionBinding.cs
  src/libraries/System.Runtime.InteropServices.JavaScript/src/System/Runtime/InteropServices/JavaScript/Marshaling/JSMarshalerArgument.Task.cs
  src/mono/browser/runtime/cancelable-promise.ts
  src/mono/browser/runtime/corebindings.c
  src/mono/browser/runtime/crypto.ts
  src/mono/browser/runtime/cwraps.ts
  src/mono/browser/runtime/diagnostics/client-commands.ts
  src/mono/browser/runtime/driver.c
  src/mono/browser/runtime/export-api.ts
  src/mono/browser/runtime/exports-binding.ts
  src/mono/browser/runtime/exports.ts
  src/mono/browser/runtime/gc-common.h
  src/mono/browser/runtime/gc-handles.ts
  src/mono/browser/runtime/globalization-locale.ts
  src/mono/browser/runtime/invoke-cs.ts
  src/mono/browser/runtime/invoke-js.ts
  src/mono/browser/runtime/logging.ts
  src/mono/browser/runtime/marshal-to-cs.ts
  src/mono/browser/runtime/marshal-to-js.ts
  src/mono/browser/runtime/pthreads/index.ts
  src/mono/browser/runtime/pthreads/worker-interop.ts
  src/mono/browser/runtime/roots.ts
  src/mono/browser/runtime/scheduling.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
  src/mono/browser/runtime/web-socket.ts
  src/mono/mono/metadata/gc.c
  src/mono/mono/metadata/sgen-mono.c
  src/mono/mono/mini/mini-wasm.c
  src/mono/mono/mini/mini-wasm.h
  src/mono/mono/utils/mono-proclib.c
  src/mono/mono/utils/mono-threads-wasm.c
  src/mono/mono/utils/mono-threads.h
  src/mono/wasi/runtime/driver.c
  src/mono/wasm/threads.md
  src/native/minipal/random.c
Labels: arch-wasm, area-Build-mono, os-browser

#119682 check ImmedValNeedsReloc in genCreateAddrMode
  src/coreclr/jit/codegencommon.cpp
Labels: area-CodeGen-coreclr

#119772 Suppress IDE0060 breaking local builds
  src/libraries/Common/src/Internal/VersionResilientHashCode.cs
Labels: area-NativeAOT-coreclr

#119743 Improve performance of IsCollectible reflection properties
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/coreclr/vm/assemblynative.cpp
  src/coreclr/vm/assemblynative.hpp
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/method.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
  src/coreclr/vm/typedesc.h
  src/coreclr/vm/typehandle.cpp
  src/coreclr/vm/typehandle.h
  src/coreclr/vm/virtualcallstub.cpp
Labels: area-VM-coreclr

#119778 Fix trace state key parsing in W3C propagator to support digits
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/W3CPropagator.cs
  src/libraries/System.Diagnostics.DiagnosticSource/tests/W3CPropagatorTests.cs
Labels: area-System.Diagnostics.Activity

#119777 [interp] Suppress tailcall flag if target is a non-marshaled pinvoke
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#119752 [browser][coreCLR] prep for static linking of libs
  .gitignore
  docs/workflow/building/coreclr/wasm.md
  eng/Subsets.props
  eng/native/configureplatform.cmake
  eng/pipelines/common/evaluate-default-paths.yml
  src/coreclr/CMakeLists.txt
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/corerun/corerun.js
  src/coreclr/hosts/corewasmrun/corewasmrun.cpp
  src/coreclr/interpreter/CMakeLists.txt
  src/mono/browser/runtime/CMakeLists.txt
  src/mono/browser/runtime/es6/dotnet.es6.lib.js
  src/native/corehost/hostmisc/pal.h
  src/native/corehost/hostmisc/utils.cpp
  src/native/libs/.npmrc
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
  src/native/libs/System.IO.Ports.Native/CMakeLists.txt
  src/native/libs/System.Native/CMakeLists.txt
  src/native/libs/System.Net.Security.Native/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native/CMakeLists.txt
Labels: arch-wasm, area-Host, os-browser

#119785 Disable some coreclr tests for interpreter
  src/tests/Common/CLRTest.Execute.Bash.targets
  src/tests/Common/CLRTest.Execute.Batch.targets
  src/tests/Exceptions/ForeignThread/ForeignThreadExceptions.csproj
  src/tests/JIT/Directed/PREFIX/unaligned/1/arglist_Target_64BIT_unaligned_1.ilproj
  src/tests/JIT/Directed/PREFIX/unaligned/2/arglist_Target_64BIT_unaligned_2.ilproj
  src/tests/JIT/Directed/PREFIX/unaligned/4/arglist_Target_64BIT_unaligned_4.ilproj
  src/tests/JIT/Directed/PREFIX/volatile/1/arglist_Target_64BIT_volatile.ilproj
  src/tests/JIT/Directed/arglist/vararg_TargetUnix.csproj
  src/tests/JIT/Directed/arglist/vararg_TargetWindows.csproj
  src/tests/JIT/Regression/Dev11/Dev11_468598/Test_HndIndex_10_Reordered.ilproj
  src/tests/JIT/Regression/JitBlue/GitHub_27924/GitHub_27924.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_45090/Runtime_45090.csproj
Labels: area-CodeGen-Interpreter-coreclr

#119652 HMAC Verify
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/CryptographicOperations.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACMD5.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACSHA1.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACSHA256.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACSHA384.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACSHA3_256.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACSHA3_384.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACSHA3_512.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACSHA512.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACShared.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HMACStatic.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/IncrementalHash.cs
  src/libraries/System.Security.Cryptography/tests/HmacMD5Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacSha1Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacSha256Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacSha384Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacSha3_256Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacSha3_384Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacSha3_512Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacSha512Tests.cs
  src/libraries/System.Security.Cryptography/tests/HmacTests.cs
  src/libraries/System.Security.Cryptography/tests/IncrementalHashTests.cs
Labels: area-System.Security

#119775 [interp] Fix compile failures causing silent fallback to JIT
  src/coreclr/vm/jitinterface.cpp
Labels: area-CodeGen-Interpreter-coreclr

#119801 Disable test which requires AssemblyDependencyResolver on mobile
  src/libraries/System.ComponentModel.TypeConverter/tests/TypeDescriptorTests.cs
Labels: os-android, area-AssemblyLoader-mono, os-ios

#119764 [release/10.0] [QUIC] Update Windows MsQuic
  eng/Versions.props
Labels: Servicing-approved, area-System.Net.Quic

#119841 [wasm] notifications for Pavel
  .github/policies/resourceManagement.yml
Labels: arch-wasm, area-System.Runtime.InteropServices.JavaScript

#119826 [System.Native] check `ro.build.version.sdk_full` for minor Android releases
  src/native/libs/System.Native/pal_runtimeinformation.c
Labels: area-System.Runtime, os-android

#117269 HostBuilder: don't create a separate PhysicalFileProvider for the ConfigurationBuilder that doesn't get disposed.
  src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs
Labels: area-Extensions-Hosting, community-contribution

#119861 [clr-interp] Use LOCAL_VAR_ADDR instead of direct manipulation of the stack where possible
  src/coreclr/vm/interpexec.cpp
Labels: needs-area-label, area-CodeGen-Interpreter-coreclr

#118428 Adding GetComWrappersRCWData cDAC API
  docs/design/datacontracts/ComWrappers.md
  src/coreclr/clrdatadescriptors.cmake
  src/coreclr/debug/datadescriptor-shared/datadescriptor.cpp
  src/coreclr/debug/datadescriptor-shared/wrappeddatadescriptor.inc
  src/coreclr/gc/datadescriptor/CMakeLists.txt
  src/coreclr/gc/datadescriptor/contracts.jsonc
  src/coreclr/gc/datadescriptor/datadescriptor.inc
  src/coreclr/tools/cdac-build-tool/ComposeCommand.cs
  src/coreclr/tools/cdac-build-tool/ContractReader.cs
  src/coreclr/tools/cdac-build-tool/DataDescriptorModel.cs
  src/coreclr/tools/cdac-build-tool/ObjectFileScraper.cs
  src/coreclr/vm/datadescriptor/CMakeLists.txt
  src/coreclr/vm/datadescriptor/contracts.jsonc
  src/coreclr/vm/datadescriptor/datadescriptor.h
  src/coreclr/vm/datadescriptor/datadescriptor.inc
  src/coreclr/vm/interoplibinterface_comwrappers.h
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/ContractRegistry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IComWrappers.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/DataType.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ComWrappersFactory.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/ComWrappers_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Data/NativeObjectWrapperObject.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader/CachingContractRegistry.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader/ContractDescriptorTarget.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataModule.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ISOSDacInterface.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#119825 [cDAC] Properly handle reportInteropMD special case
  docs/design/datacontracts/RuntimeTypeSystem.md
  docs/design/datacontracts/StackWalk.md
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/IRuntimeTypeSystem.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/RuntimeTypeSystem_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/FrameHandling/FrameIterator.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/StackWalk_1.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataFrame.cs
Labels: area-Diagnostics-coreclr

#119858 Refactor HashData on hash classes to use a single implementation
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HashStatic.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MD5.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA1.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA256.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA384.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA3_256.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA3_384.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA3_512.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SHA512.cs
Labels: area-System.Security

#117010 Migrate to WiX 5
  eng/Versions.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.props
  src/installer/pkg/sfx/Microsoft.NETCore.App/Directory.Build.targets
  src/installer/pkg/sfx/bundle/Microsoft.NETCore.App.Bundle.bundleproj
  src/installer/pkg/sfx/bundle/bundle.thm
  src/installer/pkg/sfx/bundle/theme/1028/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1029/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1031/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1033/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1036/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1040/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1041/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1042/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1045/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1046/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1049/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/1055/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/2052/bundle.wxl
  src/installer/pkg/sfx/bundle/theme/3082/bundle.wxl
  src/installer/pkg/sfx/installers/Directory.Build.props
  src/installer/pkg/sfx/installers/Directory.Build.targets
  src/installer/pkg/sfx/installers/host.wxs
Labels: area-Infrastructure-installer

#119754 [mono][interp] Avoid leaving around pages without access
  src/mono/mono/utils/mono-threads-posix.c
Labels: area-VM-meta-mono

#115766 MSBUILD Server dogfood
  eng/build.ps1
  eng/build.sh
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/global-build-step.yml
  eng/pipelines/global-build.yml
Labels: area-Infrastructure

#99194 Fix the Syndication Feed RFC822 DateTimeParser
  src/libraries/System.ServiceModel.Syndication/src/System/ServiceModel/Syndication/DateTimeHelper.cs
Labels: area-System.ServiceModel.Syndication

#119824 Revert Entitlement related changes from #116659
  src/installer/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/BlobParser.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/CodeDirectoryBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/DerEntitlementsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/EmbeddedSignatureBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/BinaryFormat/Blobs/EntitlementsBlob.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/BlobMagic.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/Enums/CodeDirectorySpecialSlot.cs
  src/installer/managed/Microsoft.NET.HostModel/MachO/MachObjectFile.cs
  src/installer/tests/Microsoft.NET.HostModel.Tests/MachObjectSigning/SigningTests.cs
  src/native/corehost/apphost/static/CMakeLists.txt
Labels: area-HostModel

#119922 Remove null checks from `Path.CombineInternal`
  src/libraries/System.Private.CoreLib/src/System/IO/Path.cs
Labels: community-contribution, needs-area-label

#119658 JIT: enable instrumentation for inlinees
  eng/pipelines/common/templates/runtimes/run-test-job.yml
  eng/pipelines/coreclr/libraries-pgo.yml
  src/coreclr/inc/pgo_formatprocessing.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/fginline.cpp
  src/coreclr/jit/fgprofile.cpp
  src/coreclr/jit/importercalls.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/pgo.cpp
  src/tests/Common/testenvironment.proj
Labels: area-CodeGen-coreclr

#119890 Optimise Random.Shuffle
  src/libraries/System.Private.CoreLib/src/System/Random.cs
Labels: tenet-performance, community-contribution, needs-area-label

#119936 Normalize `Array.IndexOf` result checks to use `>= 0`
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Runtime/TypeInfos/RuntimeTypeInfo.InvokeMember.cs
  src/coreclr/tools/Common/TypeSystem/Common/ConstructedTypeRewritingHelpers.cs
  src/coreclr/tools/Common/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/DependencyAnalysis/VTableSliceNode.cs
  src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetUnixVersion.cs
  src/libraries/System.Collections/src/System/Collections/Generic/Stack.cs
  src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/CultureInfoConverter.cs
  src/libraries/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/ContentType.cs
  src/libraries/System.IO.Packaging/src/System/IO/Packaging/PartBasedPackageProperties.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseHeaderReader.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/ObjectCollection.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetworkAddressChange.Android.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
  src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.NonWasm.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/ComVariant.cs
  src/libraries/System.Runtime.InteropServices/gen/LibraryImportGenerator/Analyzers/ConvertToLibraryImportFixer.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshallerHelpers.cs
  src/mono/System.Private.CoreLib/src/System/MulticastDelegate.Mono.cs
  src/mono/wasm/host/WebServerStartup.cs
Labels: community-contribution, needs-area-label

#119888 [release/8.0-staging] Disable Multicast SocketOption test
  src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs
Labels: Servicing-approved

#119864 [RuntimeAsync] A few fixes for issues found when enabling rt async in Libraries.
  src/coreclr/jit/async.cpp
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/vm/asyncthunks.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/method.hpp
Labels: area-CodeGen-coreclr, area-VM-coreclr, runtime-async

#119820 Don't warn if we can't find the backing field in trim tools
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/Dataflow/FlowAnnotations.cs
  src/tools/illink/src/ILLink.RoslynAnalyzer/TrimAnalysis/FlowAnnotations.cs
  src/tools/illink/src/ILLink.Shared/DiagnosticId.cs
  src/tools/illink/src/linker/Linker.Dataflow/FlowAnnotations.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/DataFlow/PropertyDataFlow.cs
Labels: linkable-framework, area-Tools-ILLink

#119071 Add documentation for `CompilerLoweringPreserveAttribute`.
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/CompilerLoweringPreserveAttribute.cs
Labels: area-System.Runtime.CompilerServices, community-contribution

#119954 Revert "MSBUILD Server dogfood"
  eng/build.ps1
  eng/build.sh
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/global-build-step.yml
  eng/pipelines/global-build.yml
Labels: area-Infrastructure

#119937 Fix typo: `SequenceEquals` -> `SequenceEqual`
  src/coreclr/tools/aot/ILCompiler.MetadataTransform/Internal/Metadata/NativeFormat/Writer/NativeMetadataWriter.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/AggregateCatalogTest.cs
  src/libraries/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/AssemblyCatalogDebuggerProxyTests.cs
  src/libraries/System.ComponentModel.Composition/tests/System/UnitTesting/EqualityExtensions.cs
  src/libraries/System.Memory/tests/ReadOnlySpan/SequenceEqual.T.cs
  src/libraries/System.Memory/tests/Span/SequenceEqual.T.cs
  src/libraries/System.Memory/tests/TestHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs
  src/libraries/System.Resources.Extensions/tests/BinaryFormatTests/Legacy/EqualityExtensions.cs
  src/libraries/System.Runtime.Serialization.Formatters/tests/EqualityExtensions.cs
  src/libraries/System.Runtime/tests/System.Threading.Tasks.Tests/Task/TaskFromAsyncTest.cs
Labels: community-contribution, needs-area-label

#118097 Simplify constant `TimeSpan` retrieval
  src/libraries/System.Transactions.Local/src/System/Transactions/Configuration/ConfigurationStrings.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Configuration/DefaultSettingsSection.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Configuration/MachineSettingsSection.cs
Labels: area-System.Transactions, community-contribution

#119835 Add DateOnly and TimeOnly serializer primitives with restrictions
  src/libraries/Microsoft.XmlSerializer.Generator/tests/Expected.SerializableAssembly.XmlSerializers.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/DictionaryGlobals.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/Globals.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/PrimitiveDataContract.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlReaderDelegator.cs
  src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlWriterDelegator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Core/LocalAppContextSwitches.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/CodeGenerator.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/PrimitiveXmlSerializers.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Types.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlReflectionImporter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReader.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationReaderILGen.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriter.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/Xmlcustomformatter.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.RuntimeOnly.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
  src/libraries/System.Runtime.Serialization.Json/tests/DataContractJsonSerializer.cs
  src/libraries/System.Runtime.Serialization.Schema/tests/System/Runtime/Serialization/Schema/Import/ImporterTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTestTypes/Primitives.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/SerializationTypes.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterApiTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/ExporterTypesTests.cs
  src/libraries/System.Runtime.Serialization.Xml/tests/XsdDataContractExporterTests/SchemaUtils.cs
  src/libraries/System.Xml.XmlSerializer/ref/System.Xml.XmlSerializer.cs
Labels: area-Serialization

#119914 [release/10.0] SPKI and PKCS#8 for Composite ML-DSA (#119837)
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsaManaged.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaContractTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaFactoryTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaImplementationTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaMockImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AsnUtils.cs
Labels: Servicing-approved, area-System.Security

#119953 [release/10.0] [mono] Make the compressed interface bitmap feature usable
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/metadata.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/aot-runtime.h
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/type-checking.c
  src/mono/mono/utils/options-def.h
Labels: Servicing-approved, area-VM-meta-mono

#111170 Complex Rune enumeration over spans of UTF-16 and UTF-8 text
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Text/RunePosition.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/RuneTests.cs
Labels: area-System.Memory, new-api-needs-documentation, community-contribution

#119990 [mono][interp] Fix race when registering patch point data items
  src/mono/mono/mini/interp/transform.c
Labels: area-Codegen-Interpreter-mono

#120000 Fix race condition when createdump tries to read /proc/pid/mem before prctl(PR_SET_PTRACER, childpid) is set
  src/coreclr/nativeaot/Runtime/unix/PalCreateDump.cpp
  src/coreclr/pal/src/thread/process.cpp
Labels: area-Diagnostics-coreclr, community-contribution

#120062 Enhance documentation on updating reference source for new APIs
  docs/coding-guidelines/adding-api-guidelines.md
  docs/workflow/building/libraries/README.md
Labels: area-Infrastructure-libraries, community-contribution

#120027 Re-add tests that were mysteriously removed when copilot created tests
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.RuntimeOnly.cs
  src/libraries/System.Private.Xml/tests/XmlSerializer/XmlSerializerTests.cs
Labels: area-Serialization, test-bug

#120069 Revert unhandled exception logic to prevent multiple calls.
  src/libraries/System.Private.CoreLib/src/System/AppContext.cs
  src/tests/baseservices/exceptions/RaiseAppDomainUnhandledExceptionEvent/RaiseEvent.cs
Labels: area-ExceptionHandling-coreclr

#120060 [mono] Allocate helper page with mono_valloc so it doesn't confuse instruments
  src/mono/mono/utils/mono-threads-posix.c
Labels: area-VM-meta-mono

#120072 [clr-interp] Disable more tests that assume inlining will happen
  src/tests/JIT/Directed/forceinlining/AttributeConflict.ilproj
  src/tests/JIT/Directed/forceinlining/PositiveCases.ilproj
  src/tests/JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests.csproj
Labels: area-CodeGen-Interpreter-coreclr

#120077 Update Composite ML-DSA to draft 8
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsaManaged.ECDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/CompositeMLDsaManaged.cs
  src/libraries/Common/src/System/Security/Cryptography/EccKeyFormatHelper.cs
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaContractTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaFactoryTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaMockImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestData.Raw.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/CompositeMLDsa/CompositeMLDsaTestsBase.cs
  src/libraries/Common/tests/System/Security/Cryptography/CompositeMLDsaAlgorithmTests.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/EccKeyFormatHelper.cs
Labels: area-System.Security

#120011 [release/9.0-staging] `UnsafeAccessor` - ambiguous name and signature match
  src/coreclr/tools/Common/TypeSystem/IL/UnsafeAccessors.cs
  src/coreclr/vm/prestub.cpp
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.Generics.cs
Labels: Servicing-approved, area-System.Runtime.CompilerServices

#120075 Don't set security descriptor if the mutex is not owned/new
  src/libraries/Common/src/System/Diagnostics/NetFrameworkUtils.cs
Labels: area-System.Diagnostics.PerformanceCounter

#120018 Small cleanup on Windows PBKDF2 implementation
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Pbkdf2Implementation.Windows.cs
Labels: area-System.Security

#119998 Implement HKDF with CryptoKit on Apple
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.HKDF.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.PAL_HashAlgorithm.cs
  src/libraries/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.RSA.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.Apple.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.cs
  src/libraries/System.Security.Cryptography/tests/HKDFTests.cs
  src/native/libs/System.Security.Cryptography.Native.Apple/entrypoints.c
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_swiftbindings.h
  src/native/libs/System.Security.Cryptography.Native.Apple/pal_swiftbindings.swift
Labels: area-System.Security

#119384 Add test coverage for issue #99193
  src/libraries/System.ServiceModel.Syndication/tests/System.ServiceModel.Syndication.Tests.csproj
  src/libraries/System.ServiceModel.Syndication/tests/System/ServiceModel/Syndication/Rfc822DateParsingTests.cs
Labels: area-System.ServiceModel.Syndication, test-enhancement

#120066 Test for unloadable ALC frees file lock
  src/coreclr/vm/assembly.cpp
  src/coreclr/vm/assembly.hpp
  src/coreclr/vm/domainassembly.cpp
  src/tests/Loader/CollectibleAssemblies/AssemblyOnDisk/AssemblyOnDisk.csproj
  src/tests/Loader/CollectibleAssemblies/AssemblyOnDisk/Program.cs
Labels: area-AssemblyLoader-coreclr

#120132 Remove dead code from ResourceUpdater
  src/installer/managed/Microsoft.NET.HostModel/ResourceUpdater.cs
Labels: area-HostModel

#120138 Revert "Add methods from #27912 (Flow System.Text.Rune through more APIs)"
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.cs
  src/libraries/System.Private.CoreLib/src/System/IO/TextWriter.cs
  src/libraries/System.Private.CoreLib/src/System/String.Comparison.cs
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Private.CoreLib/src/System/String.Searching.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Rune.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilderRuneEnumerator.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Globalization.Tests/System/Globalization/TextInfoTests.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/TestDataProvider/TestDataProvider.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/TextWriter/TextWriterTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/String.SplitTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/StringTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/RuneTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/StringBuilderTests.cs
Labels: area-System.Runtime

#120119 include memory required to do MethodDefLookup in minidumps
  src/coreclr/vm/method.cpp
Labels: area-VM-coreclr

#120152 Remove unused hashLength parameter
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.Apple.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.Managed.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDF.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/HKDFManagedImplementation.cs
Labels: area-System.Security

#120143 Add proper locking in TranslateSigHelper
  src/coreclr/md/enc/mdinternalrw.cpp
Labels: area-TypeSystem-coreclr, community-contribution

#119859 [release/8.0] Bump STJ and MSBuild Version
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: Servicing-approved

#120067 [clr-interp] Improve the performance of interpreter calls
  src/coreclr/vm/callstubgenerator.h
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/method.hpp
  src/coreclr/vm/wasm/helpers.cpp
Labels: area-VM-coreclr

#120145 Fix test containing reflection erroring from #117168 (Add methods from #27912 (Flow System.Text.Rune through more APIs))
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Char.cs
  src/libraries/System.Private.CoreLib/src/System/CodeDom/Compiler/IndentedTextWriter.cs
  src/libraries/System.Private.CoreLib/src/System/Globalization/TextInfo.cs
  src/libraries/System.Private.CoreLib/src/System/IO/TextWriter.CreateBroadcasting.cs
  src/libraries/System.Private.CoreLib/src/System/IO/TextWriter.cs
  src/libraries/System.Private.CoreLib/src/System/String.Comparison.cs
  src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs
  src/libraries/System.Private.CoreLib/src/System/String.Searching.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Rune.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs
  src/libraries/System.Private.CoreLib/src/System/Text/StringBuilderRuneEnumerator.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Globalization.Tests/System/Globalization/TextInfoTests.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/TestDataProvider/TestDataProvider.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/TextWriter/TextWriterTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/String.SplitTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/StringTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/RuneTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/StringBuilderTests.cs
Labels: area-System.Runtime, community-contribution

#120080 Document current ba-g limitations and how to suppress them
  docs/workflow/ci/failure-analysis.md
Labels: area-Infrastructure

#120161 [clr-interp] Add support for tailcall in calli
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#120205 [clr-interp] Implement tail-calling for delegates and support for delegates in wasm
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/inc/intops.def
  src/coreclr/vm/comdelegate.cpp
  src/coreclr/vm/interpexec.cpp
Labels: needs-area-label

#120227 [clr-interp] Fix interop calls when PInvokePrecodeImport thunks are involved
  src/coreclr/vm/callstubgenerator.h
  src/coreclr/vm/interpexec.cpp
Labels: area-Interop-coreclr

#120233 Remove 'rng.LowerLimit().AddConstant(cns);'
  src/coreclr/jit/assertionprop.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_119710/Runtime_119710.cs
  src/tests/JIT/Regression/JitBlue/Runtime_119710/Runtime_119710.csproj
Labels: area-CodeGen-coreclr

#120247 Remove an STJ deep nested object test causing occasional failures
  src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/Stream.WriteTests.cs
Labels: area-System.Text.Json, test-enhancement

#119762 JIT: Update overview document and rename a few methods
  docs/design/coreclr/jit/ryujit-overview.md
  docs/design/coreclr/jit/ryujit-tutorial.md
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/compiler.h
  src/coreclr/jit/compphases.h
  src/coreclr/jit/ee_il_dll.cpp
  src/coreclr/jit/lclmorph.cpp
Labels: area-CodeGen-coreclr

#120267 Update area owners for Microsoft.{CSharp,VisualBasic}, System.Dynamic.Runtime, System.Linq.Expressions
  docs/area-owners.md
Labels: community-contribution, needs-area-label

#120243 Use `field` to replace a few more explicit `ThreadStatic` fields
  src/libraries/Common/src/System/Net/LazyAsyncResult.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/ContractNameServices.cs
  src/libraries/System.ComponentModel.Composition/src/System/ComponentModel/Composition/ReflectionModel/ImportType.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/RandomNumberGenerator.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Debug.cs
  src/libraries/System.Security.Cryptography.Cose/tests/CoseTestHelpers.cs
  src/libraries/System.Transactions.Local/src/System/Transactions/Transaction.cs
Labels: needs-area-label
