Repository dotnet/runtime, pull requests merged in 2025-10, with the labels that each got.

#120282 Workaround for a bug in latest MSVC
  src/coreclr/debug/daccess/dacdbiimpl.cpp
Labels: area-Infrastructure-coreclr

#120091 Update MemoryStream max capacity improvements
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System/IO/MemoryStream.cs
  src/libraries/System.Runtime/tests/System.IO.Tests/MemoryStream/MemoryStream.ConstructorTests.cs
Labels: needs-area-label

#120154 [release/9.0] [mono] Make the compressed interface bitmap feature usable
  src/mono/mono/metadata/class-init.c
  src/mono/mono/metadata/class-internals.h
  src/mono/mono/metadata/class-setup-vtable.c
  src/mono/mono/metadata/jit-icall-reg.h
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/metadata.c
  src/mono/mono/mini/aot-compiler.c
  src/mono/mono/mini/aot-runtime.c
  src/mono/mono/mini/aot-runtime.h
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/type-checking.c
  src/mono/mono/utils/options-def.h
Labels: Servicing-approved

#120256 [mono][aot] Increase the max symbol size
  src/mono/mono/mini/aot-compiler.c
Labels: area-Codegen-AOT-mono

#120276 Clarify that all byref-like structs are zeroed in runtime async spec
  docs/design/specs/runtime-async.md
Labels: needs-area-label

#120228 [interp] Fix boundary condition where a leave is not added to the leaves table
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#120302 [clr-interp] Fix interpreter safepoint to just do a GC transition and not call the managed JIT_GCPoll helper
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#120305 Enable cDAC data descriptor to be built into WASM.
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/vm/datadescriptor/datadescriptor.inc
Labels: arch-wasm, area-VM-coreclr

#120199 Improve wasm calli thunk lookup
  src/coreclr/vm/wasm/helpers.cpp
Labels: arch-wasm, area-VM-coreclr

#120290 JIT: Fix heap allocations
  src/coreclr/jit/CMakeLists.txt
  src/coreclr/jit/alloc.cpp
  src/coreclr/jit/lsra.cpp
Labels: area-CodeGen-coreclr

#120300 Fix CopyOSContext on amd64
  src/coreclr/vm/excep.h
Labels: area-ExceptionHandling-coreclr

#98643 Add BFloat16
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/BitConverter.cs
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Half.cs
  src/libraries/System.Private.CoreLib/src/System/Number.Parsing.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/BFloat16.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
  src/libraries/System.Runtime.Numerics/ref/System.Runtime.Numerics.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/BigInteger.cs
  src/libraries/System.Runtime.Numerics/src/System/Numerics/Complex.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System.Runtime.Tests.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/HalfTests.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Numerics/BFloat16Tests.cs
Labels: area-System.Numerics, new-api-needs-documentation, community-contribution

#119245 Mark labels in x64 write barrier code as local/alt_entry
  eng/native/configurecompiler.cmake
  src/coreclr/pal/inc/unixasmmacrosamd64.inc
  src/coreclr/pal/inc/unixasmmacrosarm64.inc
  src/coreclr/vm/amd64/CachedInterfaceDispatchCoreCLR.S
  src/coreclr/vm/amd64/jithelpers_fastwritebarriers.S
  src/coreclr/vm/amd64/patchedcode.S
  src/coreclr/vm/arm64/CachedInterfaceDispatchCoreCLR.S
  src/coreclr/vm/arm64/patchedcode.S
Labels: area-VM-coreclr, community-contribution

#120139 [perf] Setup iOS performance measurements on CoreCLR
  eng/pipelines/performance/templates/build-perf-sample-apps.yml
  eng/pipelines/performance/templates/perf-ios-scenarios-build-jobs.yml
  src/mono/sample/iOS/Makefile
  src/mono/sample/iOS/Program.cs
  src/mono/sample/iOS/Program.csproj
Labels: os-ios, area-CodeGen-Interpreter-coreclr

#120333 [mono][hotreload] Ignore if we receive an empty update.
  src/mono/mono/component/hot_reload.c
Labels: area-Debugger-mono

#120345 Replace Marshal.SizeOf with sizeof operator
  src/libraries/Common/src/System/Security/Cryptography/ECCng.ImportExport.NamedCurve.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKem.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/PqcBlobHelpers.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ChainPal.Windows.BuildChain.cs
Labels: area-System.Security

#120338 [PERF] Remove HybridGlobalization from perf-ios-scenarios-build-jobs.yml
  eng/pipelines/performance/templates/perf-ios-scenarios-build-jobs.yml
Labels: area-Infrastructure, area-Infrastructure-mono

#116109 Avoid sort allocations
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ArraySortHelper.cs
  src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs
Labels: area-System.Memory, tenet-performance, linkable-framework, community-contribution

#120366 Detect if RSA-384 is supported on the platform
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
  src/libraries/System.Security.Cryptography.Cng/tests/RSACngProvider.cs
  src/libraries/System.Security.Cryptography.Csp/tests/RSACryptoServiceProviderProvider.cs
  src/libraries/System.Security.Cryptography/tests/DefaultRSAProvider.cs
Labels: area-System.Security

#120381 [release/10.0] Detect if RSA-384 is supported on the platform
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
  src/libraries/System.Security.Cryptography.Cng/tests/RSACngProvider.cs
  src/libraries/System.Security.Cryptography.Csp/tests/RSACryptoServiceProviderProvider.cs
  src/libraries/System.Security.Cryptography/tests/DefaultRSAProvider.cs
Labels: Servicing-approved, area-System.Security

#120364 Use switch statement to map socket errors
  src/libraries/Common/src/System/Net/Sockets/SocketErrorPal.Unix.cs
Labels: area-System.Net

#120383 [release/8.0-staging] Detect if RSA-384 is supported on the platform
  src/libraries/Common/tests/System/Security/Cryptography/PlatformSupport.cs
  src/libraries/System.Security.Cryptography.Cng/tests/RSACngProvider.cs
  src/libraries/System.Security.Cryptography.Csp/tests/RSACryptoServiceProviderProvider.cs
  src/libraries/System.Security.Cryptography/tests/DefaultRSAProvider.cs
Labels: Servicing-approved, area-System.Security

#120365 [wasm][coreCLR] unify -fwasm-exceptions and -msimd128, gcinfo
  src/coreclr/CMakeLists.txt
  src/coreclr/clrdefinitions.cmake
  src/coreclr/gcinfo/CMakeLists.txt
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/corewasmrun/CMakeLists.txt
  src/coreclr/inc/switches.h
  src/coreclr/pal/CMakeLists.txt
  src/native/corehost/browserhost/sample/CMakeLists.txt
Labels: arch-wasm, area-Infrastructure-coreclr, os-browser

#120413 Remove redundant guid parsing
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeEventSource.cs
Labels: area-System.Diagnostics.Tracing

#119662 TimeZones improvement
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/DateTime.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Cache.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Unix.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.Win32.cs
  src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/TimeZoneInfoTests.cs
Labels: area-System.DateTime

#120261 Fix INTOP_UNBOX_ANY on wasm
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/inc/intops.def
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/wasm/helpers.cpp
Labels: arch-wasm, area-VM-coreclr

#120422 Avoid custom attribute routine in NetEventSource
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs
  src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/MetricsEventSource.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/NetEventSource.WinHttpHandler.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs
  src/libraries/System.Net.Http/src/System/Net/Http/NetEventSource.Http.cs
  src/libraries/System.Net.HttpListener/src/System/Net/NetEventSource.HttpListener.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/NetEventSource.Mail.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionTelemetry.cs
  src/libraries/System.Net.NameResolution/src/System/Net/NetEventSource.NameResolution.cs
  src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/NetEventSource.NetworkInformation.cs
  src/libraries/System.Net.Primitives/src/System/Net/NetEventSource.Primitives.cs
  src/libraries/System.Net.Quic/src/System/Net/Quic/NetEventSource.Quic.cs
  src/libraries/System.Net.Requests/src/System/Net/NetEventSource.Requests.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NetEventSource.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/NetSecurityTelemetry.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetEventSource.Sockets.cs
  src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketsTelemetry.cs
  src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/NetEventSource.WebSockets.cs
  src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationEventSource.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509ChainEventSource.cs
Labels: area-System.Net

#120363 [H/3] Enable few disabled H/3 cookie tests
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Cookies.cs
Labels: area-System.Net.Http

#120378 Fix EH transition on native to interpreted boundary
  src/coreclr/vm/exceptionhandling.cpp
Labels: area-CodeGen-Interpreter-coreclr

#120375 [EventPipe] Fix folding constant warning
  src/native/eventpipe/ep-session.c
Labels: area-Tracing-coreclr

#120435 JIT: Skip bitcast transformation for promoted locals
  src/coreclr/jit/lclmorph.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_120414/Runtime_120414.cs
  src/tests/JIT/Regression/JitBlue/Runtime_120414/Runtime_120414.csproj
Labels: area-CodeGen-coreclr

#120384 Fix GCFrame allocated by interpreted code handling
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/GCFrameRegistration.cs
Labels: area-CodeGen-Interpreter-coreclr

#120473 Update branding to 8.0.22
  eng/Versions.props
Labels: Servicing-approved

#120476 [tiny][chore] Remove myself (pjanotti) from area Diagnostics.Tracing
  .github/policies/resourceManagement.yml
Labels: community-contribution, needs-area-label

#120359 [browser] build more subsets + runtime interp test
  eng/Subsets.props
  eng/liveBuilds.targets
  eng/pipelines/runtime.yml
  src/coreclr/CMakeLists.txt
  src/coreclr/hosts/CMakeLists.txt
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/corewasmrun/CMakeLists.txt
  src/coreclr/pal/CMakeLists.txt
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/mono/llvm/llvm-init.proj
  src/native/corehost/browserhost/CMakeLists.txt
  src/native/libs/build-native.proj
  src/tests/CMakeLists.txt
  src/tests/JIT/interpreter/CMakeLists.txt
  src/tests/JIT/interpreter/Interpreter.cs
  src/tests/build.cmd
  src/tests/build.sh
Labels: arch-wasm, area-Infrastructure-coreclr, os-browser
