Repository dotnet/runtime, pull requests merged in 2025-05, with the labels that each got.

#114943 Add PKCS#8, SPKI and PEM support for SLH-DSA
  src/libraries/Common/src/System/ExceptionPolyfills.cs
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaImplementation.Windows.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaContractTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaFactoryTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaImplementationTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaMockImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AsnUtils.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SlhDsaOpenSsl.NotSupported.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
Labels: area-System.Security, new-api-needs-documentation

#115221 JIT: Keep side effects in promotion decomposition
  src/coreclr/jit/promotiondecomposition.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_114571/Runtime_114571.cs
  src/tests/JIT/Regression/JitBlue/Runtime_114571/Runtime_114571.csproj
Labels: area-CodeGen-coreclr

#115172 JIT: escape analysis for delegates
  src/coreclr/jit/objectalloc.cpp
  src/tests/JIT/opt/ObjectStackAllocation/Delegates.cs
  src/tests/JIT/opt/ObjectStackAllocation/Delegates.csproj
Labels: area-CodeGen-coreclr

#115157 [cDAC] IXCLRDataStackWalk::GetContext returns proper HResult
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/StackWalk_1.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataStackWalk.cs
Labels: area-Diagnostics-coreclr

#115223 JIT: Avoid recording uncanonicalizable loops
  src/coreclr/jit/compiler.h
  src/coreclr/jit/flowgraph.cpp
Labels: area-CodeGen-coreclr

#115207 [cDAC] Implement 'no-op' ISOSDacInterface methods
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#115233 Fix config source gen with value tuple
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/ConfigurationBindingGenerator.Suppressor.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Emitter/CoreBindingHelpers.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Specs/Types/TypeSpec.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/GeneratorTests.Helpers.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/SourceGenerationTests/GeneratorTests.cs
Labels: area-Extensions-Configuration

#115227 Ensure VN produces correctly initialized simdmask_t
  src/coreclr/jit/simd.h
  src/coreclr/jit/valuenum.cpp
  src/coreclr/jit/valuenum.h
  src/tests/JIT/Regression/JitBlue/Runtime_114978/Runtime_114978.cs
  src/tests/JIT/Regression/JitBlue/Runtime_114978/Runtime_114978.csproj
Labels: area-CodeGen-coreclr

#114285 Add bootstrapping build mechanism and enable for SourceBuild
  Build.proj
  Directory.Build.props
  Directory.Build.targets
  docs/workflow/building/coreclr/cross-building.md
  docs/workflow/building/coreclr/freebsd-instructions.md
  eng/DotNetBuild.props
  eng/Subsets.props
  eng/build.sh
  eng/liveBuilds.targets
  eng/pipelines/runtime-linker-tests.yml
  eng/pipelines/runtime.yml
  eng/targetingpacks.targets
  eng/testing/linker/project.csproj.template
  eng/testing/linker/trimmingTests.targets
  eng/testing/tests.singlefile.targets
  eng/toolAot.targets
  src/coreclr/nativeaot/BuildIntegration/BuildIntegration.proj
  src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets
  src/coreclr/runtime.proj
  src/coreclr/tools/aot/Directory.Build.targets
  src/coreclr/tools/aot/ILCompiler/ILCompiler.props
  src/coreclr/tools/aot/ILCompiler/ILCompiler_inbuild.csproj
  src/coreclr/tools/aot/ILCompiler/ILCompiler_publish.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2.props
  src/coreclr/tools/aot/crossgen2/crossgen2_inbuild.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2_publish.csproj
  src/libraries/Microsoft.NETCore.Platforms/src/Microsoft.NETCore.Platforms.csproj
  src/libraries/System.Runtime.InteropServices/tests/TestAssets/NativeExports/NativeExports.csproj
  src/native/managed/cdacreader/Directory.Build.targets
Labels: source-build, area-Infrastructure

#114649 Interpreter EH support in the runtime
  src/coreclr/System.Private.CoreLib/src/System/Runtime/ExceptionServices/AsmOffsets.cs
  src/coreclr/clr.featuredefines.props
  src/coreclr/inc/eetwain.h
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/amd64/cgencpu.h
  src/coreclr/vm/arm/cgencpu.h
  src/coreclr/vm/arm64/cgencpu.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/excep.h
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/exceptionhandling.h
  src/coreclr/vm/exceptmacros.h
  src/coreclr/vm/frames.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/i386/cgencpu.h
  src/coreclr/vm/interpexec.cpp
  src/coreclr/vm/loongarch64/cgencpu.h
  src/coreclr/vm/riscv64/cgencpu.h
  src/coreclr/vm/stackwalk.cpp
  src/coreclr/vm/stackwalk.h
  src/coreclr/vm/threads.cpp
  src/coreclr/vm/threads.h
Labels: area-ExceptionHandling-coreclr

#115212 Support SLH-DSA keys in certs
  src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EvpPkey.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaImplementation.NotSupported.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaImplementation.Windows.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaImplementation.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestData.GeneratedCertificates.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System.Security.Cryptography.csproj
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/Helpers.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SlhDsaImplementation.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AndroidCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/AppleCertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificatePal.Windows.PrivateKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.Load.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRevocationListBuilder.Build.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ICertificatePal.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslExportProvider.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509CertificateReader.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/PublicKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/SlhDsaX509SignatureGenerator.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.OpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateLoader.Unix.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509SignatureGenerator.cs
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestApiTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestChainTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CertificateRequestLoadTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/CrlBuilderTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/ExportTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PfxTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/PublicKeyTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509Certificate2PemTests.cs
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey.h
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_slh_dsa.c
  src/native/libs/System.Security.Cryptography.Native/pal_evp_pkey_slh_dsa.h
Labels: area-System.Security, new-api-needs-documentation

#113930 JIT: Accelerate long -> floating casts on x86
  src/coreclr/jit/decomposelongs.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#114040 JIT: Shrink data section for const vector loads
  src/coreclr/jit/codegen.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/instr.cpp
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/simd.h
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr, community-contribution

#114410 JIT: Speed up floating to integer casts on x86/x64
  src/coreclr/jit/lower.cpp
  src/coreclr/jit/lower.h
  src/coreclr/jit/lowerarmarch.cpp
  src/coreclr/jit/lowerloongarch64.cpp
  src/coreclr/jit/lowerriscv64.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution

#115134 Convert JIT_Box* to C#
  src/coreclr/System.Private.CoreLib/src/System/MulticastDelegate.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/CastHelpers.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/coreclr/inc/jithelpers.h
  src/coreclr/vm/amd64/JitHelpers_Slow.asm
  src/coreclr/vm/arm/stubs.cpp
  src/coreclr/vm/arm64/stubs.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/gcheaputilities.h
  src/coreclr/vm/i386/jitinterfacex86.cpp
  src/coreclr/vm/jithelpers.cpp
  src/coreclr/vm/jitinterface.h
  src/coreclr/vm/jitinterfacegen.cpp
  src/coreclr/vm/loongarch64/stubs.cpp
  src/coreclr/vm/object.cpp
  src/coreclr/vm/object.h
  src/coreclr/vm/riscv64/stubs.cpp
  src/coreclr/vm/runtimehandles.cpp
  src/coreclr/vm/runtimehandles.h
Labels: area-VM-coreclr, community-contribution

#115068 Add VMOVD VMOVW APIs in JIT
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx10v2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx10v2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_X86.cs
  src/tests/JIT/HardwareIntrinsics/X86_Avx10v2/Avx10v2/Avx10v2SampleTest.cs
Labels: area-System.Runtime.Intrinsics, new-api-needs-documentation, community-contribution

#115248 Fix globalization test on mobile platforms
  src/libraries/System.Runtime/tests/System.Globalization.Tests/CultureInfo/CultureInfoCtor.cs
Labels: area-System.Globalization

#115125 Minor tensor fixes
  src/libraries/System.Numerics.Tensors/src/Resources/Strings.resx
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Tensor.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorOperation.cs
  src/libraries/System.Numerics.Tensors/src/System/ThrowHelper.cs
Labels: area-System.Numerics.Tensors

#115249 Attempt to load X.509 keys as ECDH keys first
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509Certificate2PemTests.cs
Labels: area-System.Security

#115255 Dump more info in JitDump for HWIHNTRINSIC nodes
  src/coreclr/jit/gentree.cpp
Labels: area-CodeGen-coreclr

#115253 Remove HMF from IL_Throw/IL_ThrowExact/IL_Rethrow
  src/coreclr/debug/runtimeinfo/datadescriptor.h
  src/coreclr/vm/FrameTypes.h
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/i386/asmhelpers.asm
  src/coreclr/vm/jithelpers.cpp
Labels: area-VM-coreclr, community-contribution

#115234 Fix UrlAttribute handling of relative Uris
  src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/UrlAttribute.cs
  src/libraries/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/UrlAttributeTests.cs
Labels: area-System.ComponentModel.DataAnnotations

#115213 JIT: refactor escape analysis to be more bv-centric
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/objectalloc.h
Labels: area-CodeGen-coreclr

#115282 Mark CoreLib Internal.Console methods with NoInline
  src/libraries/System.Private.CoreLib/src/Internal/Console.Android.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.Unix.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.Windows.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.cs
  src/libraries/System.Private.CoreLib/src/Internal/Console.iOS.cs
Labels: area-System.Runtime

#115272 Fix source-build validation leg
  eng/DotNetBuild.props
  eng/RuntimeIdentifier.props
  src/coreclr/tools/aot/ILCompiler/ILCompiler_publish.csproj
  src/coreclr/tools/aot/crossgen2/crossgen2_publish.csproj
Labels: area-Infrastructure, community-contribution

#115292 Delete obsolete code in metadata
  src/coreclr/debug/di/cordb.cpp
  src/coreclr/debug/di/rsmain.cpp
  src/coreclr/debug/di/rspriv.h
  src/coreclr/inc/mdfileformat.h
  src/coreclr/inc/metadata.h
  src/coreclr/inc/utilcode.h
  src/coreclr/md/inc/mdinternalrw.h
  src/coreclr/md/inc/metamodel.h
  src/coreclr/md/runtime/mdfileformat.cpp
  src/coreclr/md/runtime/mdinternalro.cpp
  src/coreclr/md/runtime/mdinternalro.h
  src/coreclr/md/runtime/metamodel.cpp
  src/coreclr/utilcode/util.cpp
  src/coreclr/vm/peimage.h
  src/coreclr/vm/peimage.inl
Labels: area-VM-coreclr

#114781 Defer RemoteCertificate assignment after X509 Chain build
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Protocol.cs
Labels: area-System.Net.Security

#115186 Allow access to connection info in certificate validation callback
  src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
Labels: area-System.Net.Security

#115151 [wasm][aot] Fix op_OnesComplement on wasm and enable ceil/floor
  src/mono/mono/mini/simd-intrinsics.c
Labels: area-Codegen-AOT-mono

#115204 [wasm][aot] Reenable AOT System.Runtime.Intrinsics/tests and fix problems that exposed
  src/libraries/tests.proj
  src/mono/mono/mini/mini-llvm.c
  src/mono/mono/mini/simd-intrinsics.c
Labels: arch-wasm, area-Codegen-AOT-mono, area-Build-mono, os-browser

#115229 Update DotNetBuild.props
  eng/DotNetBuild.props
Labels: area-Infrastructure-libraries

#115291 JIT: more bv-centric refactoring for escape analysis
  src/coreclr/jit/objectalloc.cpp
  src/coreclr/jit/objectalloc.h
Labels: area-CodeGen-coreclr

#115309 Use whole-archive to ensure DAC exports are preserved
  src/coreclr/dlls/mscordac/CMakeLists.txt
Labels: area-Diagnostics-coreclr

#115210 Clean up stale debugger-related surface area in ThreadPool and Task{Scheduler}
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.Shared.xml
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskScheduler.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/ThreadPoolTaskScheduler.cs
  src/libraries/System.Private.CoreLib/src/System/Threading/Timer.cs
Labels: area-System.Threading.Tasks

#115271 Fix SLH-DSA key to use SHA-1 MAC for Windows support
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestData.cs
Labels: area-System.Security

#115052 [Mono]: Make sure interpreter gc_transitions gets reset on managed exceptions.
  src/mono/mono/mini/interp/interp.c
  src/mono/mono/utils/mono-threads-coop.c
  src/mono/mono/utils/mono-threads-coop.h
Labels: area-VM-meta-mono

#115198 [clr-interp] Fix access of boxed static fields address
  src/coreclr/interpreter/compiler.cpp
Labels: area-CodeGen-Interpreter-coreclr

#115278 [mono][metadata] Defer class init for T when initializing T[].
  src/mono/mono/metadata/class-init.c
Labels: area-VM-meta-mono

#115290 Align SlhDsa API with MLKem
  src/libraries/Common/src/System/Security/Cryptography/SlhDsa.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaContractTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaImplementationTests.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestHelpers.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTests.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/SlhDsaX509SignatureGenerator.cs
  src/libraries/System.Security.Cryptography/tests/SlhDsaOpenSslTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/X509Certificate2PemTests.cs
Labels: area-System.Security, new-api-needs-documentation

#113469 [Perf] Add build time measurements for apple mobile and android scenarios
  eng/testing/performance/android_scenarios.proj
  eng/testing/performance/ios_scenarios.proj
  src/mono/sample/Android/Makefile
Labels: tenet-build-performance, area-Infrastructure-mono, perf-pipeline

#115256 Onboard the GitHub Action based Issue-Labeler
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-promote.yml
  .github/workflows/labeler-train.yml
  .github/workflows/labeler.md
Labels: area-Infrastructure

#115167 [release/9.0-staging] improve distribute_free_regions
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: Servicing-approved, area-GC-coreclr

#115023 [release/8.0-staging] improve distribute_free_regions
  src/coreclr/gc/gc.cpp
  src/coreclr/gc/gcpriv.h
Labels: Servicing-approved, area-GC-coreclr

#115192 Fix empty LdapException.ServerErrorMessage
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Linux.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.Windows.cs
  src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapSessionOptions.cs
Labels: area-System.DirectoryServices, community-contribution

#115342 Update MacOS signing to use PME
  eng/pipelines/common/macos-sign-with-entitlements.yml
Labels: needs-area-label

#115293 Fix instance size emission in ILCompiler to handle indeterminate sizes
  src/coreclr/tools/aot/ILCompiler.Compiler/Compiler/UserDefinedTypeDescriptor.cs
Labels: community-contribution, area-NativeAOT-coreclr

#115341 Remove SLH-DSA OOM test
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaContractTests.cs
Labels: area-System.Security

#111292 Includes type forwarding for System.Text.Unicode.Utf8 to the Microsoft.Bcl.Memory library
  src/libraries/Microsoft.Bcl.Memory/src/Microsoft.Bcl.Memory.Forwards.cs
  src/libraries/Microsoft.Bcl.Memory/src/Microsoft.Bcl.Memory.csproj
  src/libraries/Microsoft.Bcl.Memory/src/PACKAGE.md
  src/libraries/Microsoft.Bcl.Memory/src/Polyfills/System.Numerics.BitOperations.netstandard20.cs
  src/libraries/Microsoft.Bcl.Memory/src/System/ThrowHelper.cs
  src/libraries/Microsoft.Bcl.Memory/tests/Microsoft.Bcl.Memory.Tests.csproj
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Utility.Helpers.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Ascii.Utility.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Rune.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf16Utility.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.Transcoding.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.Validation.cs
  src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.cs
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/Text/Unicode/Utf8Tests.cs
Labels: area-System.Memory, community-contribution

#115327 Enhancing the SqlDbType with vector
  src/libraries/System.Data.Common/ref/System.Data.Common.cs
  src/libraries/System.Data.Common/src/System/Data/SqlDbType.cs
Labels: area-System.Data, new-api-needs-documentation

#114523 Haiku: Add native library network support
  src/native/libs/System.Native/pal_networkchange.c
  src/native/libs/System.Native/pal_networking.c
Labels: area-System.Net, community-contribution, os-haiku

#114678 [release/9.0-staging] [WinHTTP] Certificate caching on WinHttpHandler to eliminate extra call to Custom Certificate Validation
  src/libraries/Common/src/Interop/Windows/WinHttp/Interop.winhttp_types.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/CachedCertificateValue.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs
  src/libraries/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestCallback.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/FunctionalTests/WinHttpHandlerTest.cs
  src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj
Labels: Servicing-approved, area-System.Net

#115190 Swallow CryptographicExceptions when adding certificates to store
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.Windows.cs
Labels: area-System.Net.Security

#115367 [release/8.0-staging] Handle OSSL 3.4 change to SAN:othername formatting
  src/libraries/Common/tests/TestUtilities/System/PlatformDetection.Unix.cs
  src/libraries/System.Security.Cryptography/tests/AsnEncodedDataTests.cs
Labels: Servicing-approved, area-System.Security

#115130 [mono][aot] optimize aot Unsafe.BitCast for more cases
  src/mono/mono/mini/intrinsics.c
Labels: area-Codegen-AOT-mono

#115364 [wasm coreclr] Fix fields alignment
  src/coreclr/gc/env/gcenv.object.h
  src/coreclr/inc/switches.h
Labels: area-TypeSystem-coreclr

#115350 Fix config source gen with Dictionary with nullable Enum value
  src/libraries/Microsoft.Extensions.Configuration.Binder/gen/Emitter/CoreBindingHelpers.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.TestClasses.cs
  src/libraries/Microsoft.Extensions.Configuration.Binder/tests/Common/ConfigurationBinderTests.cs
Labels: area-Extensions-Configuration, source-generator

#115352 Fix HttpStress and SslStress missing apphost build error
  src/libraries/System.Net.Http/tests/StressTests/HttpStress/Directory.Build.props
  src/libraries/System.Net.Security/tests/StressTests/SslStress/Directory.Build.props
Labels: area-System.Net.Http

#114462 Create a single copy of stub templates
  src/coreclr/clrdefinitions.cmake
  src/coreclr/inc/executableallocator.h
  src/coreclr/inc/loaderheap.h
  src/coreclr/minipal/Unix/doublemapping.cpp
  src/coreclr/minipal/Windows/doublemapping.cpp
  src/coreclr/minipal/minipal.h
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/utilcode/executableallocator.cpp
  src/coreclr/utilcode/interleavedloaderheap.cpp
  src/coreclr/vm/amd64/thunktemplates.S
  src/coreclr/vm/arm64/thunktemplates.S
  src/coreclr/vm/callcounting.cpp
  src/coreclr/vm/callcounting.h
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/precode.h
Labels: area-VM-coreclr

#114629 [Android] Support static linking of CoreCLR on Android
  src/coreclr/dlls/mscoree/coreclr/CMakeLists.txt
  src/coreclr/gc/unix/CMakeLists.txt
  src/coreclr/gc/vxsort/CMakeLists.txt
  src/coreclr/minipal/Unix/CMakeLists.txt
  src/coreclr/nativeresources/CMakeLists.txt
  src/coreclr/pal/src/CMakeLists.txt
  src/coreclr/pal/src/eventprovider/dummyprovider/CMakeLists.txt
  src/libraries/tests.proj
  src/mono/msbuild/android/build/AndroidBuild.props
  src/mono/msbuild/android/build/AndroidBuild.targets
  src/mono/sample/Android/Makefile
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
  src/tasks/AndroidAppBuilder/Templates/monodroid-coreclr.c
  src/tests/FunctionalTests/Android/Device_Emulator/JIT/Android.Device_Emulator.JIT.Static.Test.csproj
Labels: area-Infrastructure-coreclr, os-android

#115254 Add PQC support for SslStreamCertificateContext and fix test
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.Linux.cs
Labels: area-System.Security

#115374 Add support for more libicu versions
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-debian.proj
Labels: area-Setup

#114585 Disable stacks on Debugger IPC events
  src/coreclr/vm/ClrEtwAllMeta.lst
Labels: area-Diagnostics-coreclr

#114469 Interpreter GC info stage 3: Report locals to the GC
  src/coreclr/interpreter/CMakeLists.txt
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/compileropt.cpp
  src/coreclr/interpreter/interpreter.h
  src/coreclr/interpreter/stackmap.cpp
  src/coreclr/interpreter/stackmap.h
  src/coreclr/vm/gcinfodecoder.cpp
  src/coreclr/vm/interpexec.cpp
  src/native/containers/dn-simdhash-ptr-ptr.c
  src/native/containers/dn-simdhash.c
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-VM-coreclr, area-CodeGen-Interpreter-coreclr

#115373 update netcoreapp3.0 to NetCoreAppCurrent in test
  src/libraries/Microsoft.Extensions.DependencyInjection/tests/DI.Tests/ActivatorUtilitiesTests.cs
  src/libraries/System.Memory/tests/Base64/Base64TestBase.cs
  src/libraries/System.Numerics.Tensors/tests/Helpers.cs
  src/libraries/System.Resources.Extensions/src/System/Resources/Extensions/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/libraries/System.Resources.Extensions/src/System/Resources/Extensions/BinaryFormat/SerializationEvents.cs
  src/libraries/System.Resources.Extensions/src/System/Resources/Extensions/BinaryFormat/SerializationExtensions.cs
  src/libraries/System.Resources.Extensions/src/System/Resources/Extensions/BinaryFormat/SerializationInfoExtensions.cs
  src/libraries/System.Resources.Extensions/tests/BinaryFormatTests/Legacy/EqualityExtensions.cs
  src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/JsonSchemaExporterTests.cs
  src/mono/tests/HwIntrinsics/HwIntrinsics.csproj
Labels: area-System.Runtime.Intrinsics, community-contribution

#114988 [LoongArch64] Add variable lifetime update for GT_STOREIND for LoongArch64 porting from upstream's #46206
  src/coreclr/jit/codegenloongarch64.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#115348 Vector128.WithElement codegen regression in .NET 9.0
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/rationalize.cpp
Labels: area-CodeGen-coreclr, community-contribution

#115235 Remove ymm embedded rounding from AVX10.2
  src/coreclr/jit/emitxarch.cpp
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx10v2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Avx10v2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_X86.cs
  src/tests/JIT/HardwareIntrinsics/X86/Shared/SimpleBinOpEmbRounding.template
  src/tests/JIT/HardwareIntrinsics/X86/Shared/SimpleUnaryOpEmbRounding.template
Labels: area-System.Runtime.Intrinsics, breaking-change, new-api-needs-documentation, needs-breaking-change-doc-created, community-contribution

#115385 Update branding to 9.0.6
  eng/Versions.props
Labels: Servicing-approved

#115378 [release/8.0-staging] Add support for more libicu versions
  src/installer/pkg/sfx/installers/dotnet-runtime-deps/dotnet-runtime-deps-debian.proj
Labels: Servicing-approved

#115391 Fix incorrect codemanager implementation on x86
  src/coreclr/vm/codeman.h
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/jitinterface.cpp
Labels: area-Diagnostics-coreclr

#115405 Fix issues are stackwalking, and viewing Exception stack walks in the debugger
  src/coreclr/vm/excep.cpp
  src/coreclr/vm/frames.h
  src/coreclr/vm/object.h
Labels: area-VM-coreclr

#115412 Add UrlFormat to PQC Experimental attribute
  src/libraries/Common/src/System/Security/Cryptography/MLDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/MLDsaImplementation.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
  src/libraries/Common/src/System/Security/Cryptography/MLKemAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsa.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaAlgorithm.cs
  src/libraries/Common/src/System/Security/Cryptography/SlhDsaImplementation.cs
  src/libraries/System.Security.Cryptography/ref/System.Security.Cryptography.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLDsaOpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/MLKemOpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/SlhDsaOpenSsl.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/PublicKey.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/X509SignatureGenerator.cs
Labels: area-System.Security

#115117 Enable SVE2 instruction set detection for ARM64
  src/coreclr/inc/clrconfigvalues.h
  src/coreclr/inc/corinfoinstructionset.h
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/inc/readytoruninstructionset.h
  src/coreclr/jit/compiler.cpp
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSet.cs
  src/coreclr/tools/Common/Internal/Runtime/ReadyToRunInstructionSetHelper.cs
  src/coreclr/tools/Common/JitInterface/CorInfoInstructionSet.cs
  src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt
  src/coreclr/vm/codeman.cpp
  src/native/minipal/cpufeatures.c
  src/native/minipal/cpufeatures.h
Labels: area-CodeGen-coreclr, community-contribution, arm-sve

#115416 JIT: Fix format
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
Labels: area-CodeGen-coreclr, community-contribution

#115423 Build packs subset on community platforms in CI
  eng/pipelines/runtime.yml
  src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.CoreCLR.sfxproj
Labels: area-Infrastructure, community-contribution

#115422 Convert Sync RemoteExecutors to Async on Http Tests
  src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.Proxy.cs
  src/libraries/System.Net.Http/tests/EnterpriseTests/HttpClientAuthenticationTest.cs
  src/libraries/System.Net.Http/tests/EnterpriseTests/System.Net.Http.Enterprise.Tests.csproj
  src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/MetricsTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/TelemetryTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/RuntimeSettingParserTest.cs
Labels: area-System.Net.Http

#115413 [9.0] Fix line endings
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/IncreaseMetadataRowSize_v1.cs
  src/libraries/System.Runtime.Loader/tests/ApplyUpdate/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize/System.Reflection.Metadata.ApplyUpdate.Test.IncreaseMetadataRowSize.csproj
Labels: Servicing-approved, area-Infrastructure

#115414 [8.0] Fix line endings
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/AssemblyInfo.cs
  src/mono/wasm/debugger/tests/debugger-test-with-colon-in-source-name/debugger-test-with-colon-in-source-name.csproj
Labels: Servicing-approved, area-Infrastructure

#115418 Delete --whole-archive linking in libmscordaccore.so
  src/coreclr/debug/daccess/daccess.cpp
  src/coreclr/debug/daccess/fntableaccess.h
  src/coreclr/dlls/mscordac/CMakeLists.txt
  src/coreclr/dlls/mscordac/mscordac.cpp
Labels: area-Diagnostics-coreclr

#115426 [mono] Exclude 32bit more
  src/mono/mono/mini/intrinsics.c
Labels: needs-area-label

#115211 Tar: Refine GNU timestamp handling
  src/libraries/System.Formats.Tar/System.Formats.Tar.sln
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/GnuTarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/PaxTarEntry.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Read.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarHeader.Write.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.Unix.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.Windows.cs
  src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarWriter.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/GnuTarEntry.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/PaxTarEntry.Conversion.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarEntry/TarEntry.Conversion.Tests.Base.cs
  src/libraries/System.Formats.Tar/tests/TarTestsBase.Gnu.cs
  src/libraries/System.Formats.Tar/tests/TarTestsBase.Pax.cs
  src/libraries/System.Formats.Tar/tests/TarTestsBase.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.Tests.cs
  src/libraries/System.Formats.Tar/tests/TarWriter/TarWriter.WriteEntry.Base.cs
Labels: area-System.Formats.Tar

#115284 Smaller funclet prologs/epilogs (x64)
  docs/design/coreclr/botr/clr-abi.md
  src/coreclr/inc/jiteeversionguid.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/nativeaot/Runtime/amd64/ExceptionHandling.S
  src/coreclr/nativeaot/Runtime/amd64/ExceptionHandling.asm
  src/coreclr/vm/amd64/AsmHelpers.asm
  src/coreclr/vm/amd64/asmhelpers.S
Labels: area-ExceptionHandling-coreclr

#113907 Share implementation of ComWrappers between CoreCLR and NativeAOT
  src/coreclr/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/coreclr/System.Private.CoreLib/src/System/ComAwareWeakReference.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/GC.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.CoreCLR.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/TrackerObjectManager.CoreCLR.cs
  src/coreclr/classlibnative/bcltype/objectnative.cpp
  src/coreclr/debug/daccess/dacimpl.h
  src/coreclr/debug/daccess/request.cpp
  src/coreclr/debug/ee/dactable.cpp
  src/coreclr/interop/comwrappers.cpp
  src/coreclr/interop/comwrappers.hpp
  src/coreclr/interop/inc/interoplib.h
  src/coreclr/interop/inc/interoplibabi.h
  src/coreclr/interop/inc/interoplibimports.h
  src/coreclr/interop/interoplib.cpp
  src/coreclr/interop/trackerobjectmanager.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System.Private.CoreLib.csproj
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/GC.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComAwareWeakReference.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/TrackerObjectManager.NativeAot.cs
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/binder.cpp
  src/coreclr/vm/comutilnative.cpp
  src/coreclr/vm/comutilnative.h
  src/coreclr/vm/conditionalweaktable.cpp
  src/coreclr/vm/conditionalweaktable.h
  src/coreclr/vm/corelib.cpp
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ecalllist.h
  src/coreclr/vm/gcenv.ee.cpp
  src/coreclr/vm/interoplibinterface.h
  src/coreclr/vm/interoplibinterface_comwrappers.cpp
  src/coreclr/vm/interoplibinterface_comwrappers.h
  src/coreclr/vm/interoplibinterface_shared.cpp
  src/coreclr/vm/interoputil.cpp
  src/coreclr/vm/interoputil.h
  src/coreclr/vm/metasig.h
  src/coreclr/vm/object.h
  src/coreclr/vm/object.inl
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/syncblk.cpp
  src/coreclr/vm/syncblk.h
  src/coreclr/vm/weakreferencenative.cpp
  src/coreclr/vm/weakreferencenative.h
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/ComAwareWeakReference.cs
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComAwareWeakReference.ComWrappers.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CreateComInterfaceFlags.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CreateObjectFlags.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/IReferenceTracker.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ReferenceTrackerHost.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/TrackerObjectManager.cs
  src/tests/nativeaot/SmokeTests/Preinitialization/Preinitialization.cs
Labels: tenet-performance, area-Interop-coreclr

#115446 Delete interop standby lists, dedup Debugger.DefaultCategory
  src/coreclr/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/coreclr/vm/interoputil.cpp
  src/coreclr/vm/runtimecallablewrapper.cpp
  src/coreclr/vm/runtimecallablewrapper.h
  src/coreclr/vm/syncblk.cpp
  src/coreclr/vm/syncblk.h
  src/coreclr/vm/threads.cpp
  src/libraries/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
  src/mono/System.Private.CoreLib/src/System/Diagnostics/Debugger.cs
Labels: needs-area-label

#115447 Fix verbatim escaping in regex code generator
  src/libraries/System.Text.RegularExpressions/gen/UpgradeToGeneratedRegexCodeFixer.cs
  src/libraries/System.Text.RegularExpressions/tests/FunctionalTests/UpgradeToGeneratedRegexAnalyzerTests.cs
Labels: area-System.Text.RegularExpressions

#115468 Disable ClientAsyncAuthenticate_ConnectionInfoInCallback_DoesNotThrow
  src/libraries/System.Net.Security/tests/FunctionalTests/ClientAsyncAuthenticateTest.cs
Labels: area-System.Net.Security

#115402 Reduce spin-waiting in the thread pool on Arm processors
  src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs
Labels: area-System.Threading

#115470 Update System.Net.ServerSentEvents.Tests.csproj
  src/libraries/System.Net.ServerSentEvents/tests/System.Net.ServerSentEvents.Tests.csproj
Labels: needs-area-label

#115456 Don't allow mutating the ScopeId on static readonly IPAddress fields
  src/libraries/System.Net.Primitives/src/System/Net/IPAddress.cs
  src/libraries/System.Net.Primitives/tests/FunctionalTests/IPAddressTest.cs
Labels: area-System.Net, community-contribution

#115457 Implement various convenience methods for System.Numerics types
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Numerics.Vectors/tests/Matrix3x2Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Matrix4x4Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Vector2Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Vector3Tests.cs
  src/libraries/System.Numerics.Vectors/tests/Vector4Tests.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix3x2.Impl.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix3x2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.Impl.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Plane.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.Extensions.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector4.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.Numerics.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
Labels: area-System.Numerics

#115415 Add Azure Linux to regular CI
  eng/pipelines/libraries/helix-queues-setup.yml
  src/libraries/System.Private.Xml/tests/Xslt/XslCompiledTransformApi/XslCompiledTransform.cs
Labels: area-Infrastructure

#115435 Expose IsDense, HasAnyDenseDimensions, and ToDenseTensor
  src/libraries/System.Numerics.Tensors/System.Numerics.Tensors.sln
  src/libraries/System.Numerics.Tensors/ref/System.Numerics.Tensors.netcore.cs
  src/libraries/System.Numerics.Tensors/src/CompatibilitySuppressions.xml
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/IReadOnlyTensor.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/IReadOnlyTensor_1.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/ReadOnlyTensorSpan_1.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Tensor.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorShape.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/TensorSpan.cs
  src/libraries/System.Numerics.Tensors/src/System/Numerics/Tensors/netcore/Tensor_1.cs
  src/libraries/System.Numerics.Tensors/tests/TensorTests.cs
Labels: area-System.Numerics.Tensors

#115485 Improve unmapped error exception to include the mapping function name and the error code
  src/libraries/System.Security.Cryptography/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509ChainProcessor.cs
Labels: area-System.Security

#115489 Move Untracked_Release to native code to avoid problems during shutdown
  src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.CoreCLR.cs
  src/coreclr/nativeaot/Runtime/HandleTableHelpers.cpp
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/InteropServices/TrackerObjectManager.NativeAot.cs
  src/coreclr/nativeaot/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs
  src/coreclr/vm/interoplibinterface_comwrappers.cpp
  src/coreclr/vm/interoplibinterface_comwrappers.h
  src/coreclr/vm/qcallentrypoints.cpp
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ReferenceTrackerHost.cs
Labels: area-Interop-coreclr

#115500 Fix a build message nit
  src/coreclr/runtime.proj
Labels: area-Infrastructure-coreclr

#114187 Send host tests to helix
  eng/pipelines/installer/helix-queues-setup.yml
  eng/pipelines/installer/helix.yml
  eng/pipelines/installer/steps/upload-job-artifacts.yml
  eng/pipelines/runtime.yml
  src/installer/tests/HostActivation.Tests/NativeHosting/Ijwhost.cs
  src/installer/tests/TestUtils/TestContext.cs
  src/installer/tests/TestUtils/TestFileBackup.cs
  src/installer/tests/helixpublish.proj
  src/native/corehost/test/ijw/CMakeLists.txt
Labels: area-Infrastructure-installer

#115311 Make the dotnet/runtime official build an assetless build
  Build.proj
  eng/Publishing.props
  eng/Signing.props
  eng/pipelines/common/global-build-job.yml
  eng/pipelines/common/templates/template1es.yml
  eng/pipelines/official/pipeline.yml
  eng/pipelines/official/prepare-signed-artifacts.yml
  eng/pipelines/runtime-codeql.yml
  eng/pipelines/runtime-official.yml
Labels: area-Infrastructure

#115332 [RuntimeAsync] ilasm/ildasm support for the MethodImpl.Async
  src/coreclr/ilasm/asmparse.y
  src/coreclr/ilasm/prebuilt/asmparse.cpp
  src/coreclr/ilasm/prebuilt/asmparse.grammar
  src/coreclr/ildasm/dasm.cpp
  src/coreclr/inc/il_kywd.h
Labels: area-ILTools-coreclr, community-contribution, runtime-async

#115437 Implement new ComWrappers.CreateObject API
  src/libraries/System.Private.CoreLib/src/Resources/Strings.resx
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CreateObjectFlags.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/CreatedWrapperFlags.cs
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/StrategyBasedComWrappers.cs
  src/tests/Interop/COM/ComWrappers/API/Program.cs
  src/tests/Interop/COM/ComWrappers/Common.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation

#115492 throw an exception instead of infinite loop in `sort_mark_list`
  src/coreclr/gc/gc.cpp
Labels: area-GC-coreclr

#115432 [cDAC] Fix issues found when running full SOS test suite
  eng/pipelines/runtime-diagnostics.yml
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Abstractions/Contracts/ILoader.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/Loader_1.cs
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/FrameHandling/FrameIterator.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ClrDataModule.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/ISOSDacInterface.cs
  src/native/managed/cdac/mscordaccore_universal/Legacy/SOSDacImpl.cs
Labels: area-Diagnostics-coreclr

#115428 Add SVE2 API skeleton and implement BitwiseClearXor
  src/coreclr/jit/hwintrinsic.cpp
  src/coreclr/jit/hwintrinsiccodegenarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64sve.h
  src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Substitutions.NoArmIntrinsics.xml
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.PlatformNotSupported.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Arm/Sve2.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/tests/Common/GenerateHWIntrinsicTests/GenerateHWIntrinsicTests_Arm.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Shared/Program.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Sve2/Program.Sve2.cs
  src/tests/JIT/HardwareIntrinsics/Arm/Sve2/Sve2_r.csproj
  src/tests/JIT/HardwareIntrinsics/Arm/Sve2/Sve2_ro.csproj
Labels: area-System.Runtime.Intrinsics, community-contribution, arm-sve

#114881 Implementation for `UnsafeAccessorTypeAttribute`
  src/coreclr/System.Private.CoreLib/src/System/Reflection/TypeNameResolver.CoreCLR.cs
  src/coreclr/dlls/mscorrc/mscorrc.rc
  src/coreclr/dlls/mscorrc/resource.h
  src/coreclr/tools/Common/TypeSystem/Common/Utilities/CustomAttributeTypeNameParser.cs
  src/coreclr/tools/Common/TypeSystem/IL/UnsafeAccessors.cs
  src/coreclr/vm/corelib.h
  src/coreclr/vm/ilstubresolver.cpp
  src/coreclr/vm/jitinterface.cpp
  src/coreclr/vm/metasig.h
  src/coreclr/vm/method.hpp
  src/coreclr/vm/qcallentrypoints.cpp
  src/coreclr/vm/siginfo.cpp
  src/coreclr/vm/siginfo.hpp
  src/coreclr/vm/stubgen.cpp
  src/coreclr/vm/stubgen.h
  src/coreclr/vm/typehandle.h
  src/coreclr/vm/typeparse.cpp
  src/coreclr/vm/typeparse.h
  src/coreclr/vm/unsafeaccessors.cpp
  src/coreclr/vm/wellknownattributes.h
  src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/UnsafeAccessorTypeAttribute.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/mono/mono/metadata/custom-attrs.c
  src/mono/mono/metadata/marshal.c
  src/mono/mono/metadata/reflection-internals.h
  src/tests/Common/CoreCLRTestLibrary/AssertExtensions.cs
  src/tests/baseservices/compilerservices/UnsafeAccessors/PrivateLib.cs
  src/tests/baseservices/compilerservices/UnsafeAccessors/PrivateLib.csproj
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.Generics.cs
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.Types.cs
  src/tests/baseservices/compilerservices/UnsafeAccessors/UnsafeAccessorsTests.csproj
  src/tools/illink/src/linker/Linker.Steps/UnsafeAccessorMarker.cs
  src/tools/illink/test/Mono.Linker.Tests.Cases/Reflection/UnsafeAccessor.cs
Labels: area-System.Runtime.CompilerServices, new-api-needs-documentation

#115517 Revert "Disable Shake Read tests on AzureLinux"
  src/libraries/System.Security.Cryptography/tests/ShakeTestDriver.cs
Labels: area-System.Security

#115530 Add `EventHandler<in TSender, in TEventArgs>`, update `EventHandler<TEventArgs>`
  src/libraries/System.Private.CoreLib/src/System/EventHandler.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
Labels: community-contribution, needs-area-label

#115538 Cleanup the init-vs-env.cmd script
  eng/native/gen-buildsys.cmd
  eng/native/init-vs-env.cmd
  src/coreclr/build-runtime.cmd
  src/native/corehost/build.cmd
  src/native/libs/build-native.cmd
  src/tests/build.cmd
Labels: area-Infrastructure

#115219 JIT: Overwrite cache during recursive map select in VN
  src/coreclr/jit/valuenum.cpp
Labels: area-CodeGen-coreclr

#115421 Cleanup of System.Data label notification
  .github/policies/resourceManagement.yml
Labels: area-System.Data

#115556 JIT: Kill assertions about struct local when skipping field stores in block morph
  src/coreclr/jit/morphblock.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_113658/Runtime_113658.cs
  src/tests/JIT/Regression/JitBlue/Runtime_113658/Runtime_113658.csproj
  src/tests/JIT/Regression/JitBlue/Runtime_114358/Runtime_114358.cs
  src/tests/JIT/Regression/JitBlue/Runtime_114978/Runtime_114978.cs
Labels: area-CodeGen-coreclr

#115525 Implement AddSaturate, SubtractSaturate and NarrowWithSaturation on the Vector types
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsicarm64.cpp
  src/coreclr/jit/hwintrinsiclistarm64.h
  src/coreclr/jit/hwintrinsiclistxarch.h
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/libraries/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs
  src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs
  src/libraries/System.Private.CoreLib/src/System/Int128.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Scalar.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64.cs
  src/libraries/System.Runtime.Intrinsics/ref/System.Runtime.Intrinsics.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector128Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector256Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector512Tests.cs
  src/libraries/System.Runtime.Intrinsics/tests/Vectors/Vector64Tests.cs
Labels: area-System.Runtime.Intrinsics, reduce-unsafe

#114827 Create error on LibraryImport of generic delegate
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/ManagedTypeInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/Microsoft.Interop.SourceGeneration/Marshalling/MarshalAsMarshallingGeneratorResolver.cs
  src/libraries/System.Runtime.InteropServices/tests/LibraryImportGenerator.UnitTests/CompileFails.cs
Labels: area-System.Runtime.InteropServices

#115310 Signed CMS for SLH-DSA
  src/libraries/Common/src/Internal/Cryptography/PkcsHelpers.cs
  src/libraries/Common/src/System/Security/Cryptography/Helpers.cs
  src/libraries/Common/src/System/Security/Cryptography/Oids.cs
  src/libraries/Common/tests/System/Security/Cryptography/AlgorithmImplementations/SlhDsa/SlhDsaTestData.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.Shared.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/Microsoft.Bcl.Cryptography.csproj
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateKeyAccessors.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/Microsoft.Bcl.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.netcoreapp.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/AnyOS/ManagedPal.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pal/Windows/PkcsPalWindows.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/PkcsPal.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/Resources/Strings.resx
  src/libraries/System.Security.Cryptography.Pkcs/src/System.Security.Cryptography.Pkcs.csproj
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsHash.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.DSA.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.ECDsa.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.RSA.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.SlhDsa.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSignature.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignedCms.cs
  src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/SignerInfo.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/Certificates.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/Oids.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/CmsSignerTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsTests.netcoreapp.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedCmsWholeDocumentTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignedDocuments.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/SignedCms/SignerInfoTests.cs
  src/libraries/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/System.Security.Cryptography.Tests.csproj
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
Labels: area-System.Security, new-api-needs-documentation

#115580 Ensure that NI_SSE2_Extract and NI_SSE41_Extract are simdSize=16
  src/coreclr/jit/lowerxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_115493/Runtime_115493.cs
  src/tests/JIT/Regression/JitBlue/Runtime_115493/Runtime_115493.csproj
Labels: area-CodeGen-coreclr

#115584 Remove unwanted ternary node in lowering
  src/coreclr/jit/lowerxarch.cpp
  src/tests/JIT/Regression/JitBlue/Runtime_115488/Runtime_115488.cs
  src/tests/JIT/Regression/JitBlue/Runtime_115488/Runtime_115488.csproj
Labels: area-CodeGen-coreclr

#115561 SPMI: Use azcopy for collections downloads if available
  src/coreclr/scripts/superpmi.py
Labels: area-CodeGen-coreclr

#115600 [LoongArch64] Disable FastTailCall in case of split arg porting from upstream's #93655
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr, community-contribution, arch-loongarch64

#114713 [APX] Follow up on #104637: rename extended registers and bug fixes.
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/thread/context.cpp
Labels: area-PAL-coreclr, community-contribution

#115562 Fix generation of minidump
  src/coreclr/vm/method.cpp
Labels: area-Diagnostics-coreclr

#114828 Add custom exception handlers to generated COM wrappers
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceGenerator.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/ComInterfaceInfo.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratedComInterfaceAttributeData.cs
  src/libraries/System.Runtime.InteropServices/gen/ComInterfaceGenerator/GeneratorDiagnostics.cs
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/Strings.resx
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.cs.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.de.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.es.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.fr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.it.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ja.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ko.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pl.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.pt-BR.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.ru.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.tr.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hans.xlf
  src/libraries/System.Runtime.InteropServices/gen/Common/Resources/xlf/Strings.zh-Hant.xlf
  src/libraries/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs
  src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/Marshalling/GeneratedComInterfaceAttribute.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Tests/ExceptionToUnmanagedMarshallerTests.cs
  src/libraries/System.Runtime.InteropServices/tests/ComInterfaceGenerator.Unit.Tests/CompileFails.cs
Labels: area-System.Runtime.InteropServices, new-api-needs-documentation, community-contribution

#115570 Add ImmutableDictionary.CreateRangeWithOverwrite
  src/libraries/System.Collections.Immutable/ref/System.Collections.Immutable.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary.cs
  src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary_2.cs
  src/libraries/System.Collections.Immutable/tests/ImmutableDictionaryTest.cs
Labels: area-System.Collections

#110416 Specify a security descriptor when using global Mutex
  src/libraries/Common/src/System/Diagnostics/NetFrameworkUtils.cs
  src/libraries/NetCoreAppLibrary.props
  src/libraries/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/src/System.Diagnostics.PerformanceCounter.csproj
  src/libraries/System.Diagnostics.PerformanceCounter/tests/MutexTests.cs
  src/libraries/System.Diagnostics.PerformanceCounter/tests/System.Diagnostics.PerformanceCounter.Tests.csproj
Labels: area-System.Diagnostics.PerformanceCounter, area-System.Diagnostics.EventLog

#115606 Fix runtime build with -msbuild flag
  src/coreclr/nativeaot/Runtime/CMakeLists.txt
  src/coreclr/nativeaot/Runtime/CachedInterfaceDispatch_Aot.cpp
  src/coreclr/vm/CMakeLists.txt
  src/coreclr/vm/CachedInterfaceDispatch_Coreclr.cpp
Labels: needs-area-label

#115616 ML-KEM: Miscellaneous cleanup
  src/libraries/Common/src/System/Security/Cryptography/MLKem.cs
Labels: area-System.Security

#115113 [browser] runtimeConfig via boot config
  eng/testing/scenarios/BuildWasmAppsJobsList.txt
  src/mono/browser/browser.proj
  src/mono/browser/build/BrowserWasmApp.targets
  src/mono/browser/build/WasmApp.InTree.targets
  src/mono/browser/runtime/cwraps.ts
  src/mono/browser/runtime/dotnet.d.ts
  src/mono/browser/runtime/driver.c
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/index.ts
  src/mono/nuget/Microsoft.NET.Sdk.WebAssembly.Pack/build/Microsoft.NET.Sdk.WebAssembly.Browser.targets
  src/mono/wasi/build/WasiApp.props
  src/mono/wasi/build/WasiApp.targets
  src/mono/wasm/Wasm.Build.Tests/EnvVariablesTests.cs
  src/mono/wasm/Wasm.Build.Tests/HttpTests.cs
  src/mono/wasm/build/WasmApp.Common.props
  src/mono/wasm/build/WasmApp.Common.targets
  src/mono/wasm/build/WasmApp.LocalBuild.targets
  src/mono/wasm/data/aot-tests/ProxyProjectForAOTOnHelix.proj
  src/mono/wasm/testassets/WasmBasicTestApp/App/EnvVariablesTest.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/HttpTest.cs
  src/mono/wasm/testassets/WasmBasicTestApp/App/wwwroot/main.js
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/BootJsonData.cs
  src/tasks/Microsoft.NET.Sdk.WebAssembly.Pack.Tasks/GenerateWasmBootJson.cs
  src/tasks/WasmAppBuilder/WasmAppBuilder.cs
Labels: arch-wasm, area-Build-mono, os-browser

#115563 [xharness] use NetCoreAppPrevious for DLLs loaded into xharness by reflection
  eng/testing/tests.wasm.targets
  src/libraries/Common/tests/System/Net/Prerequisites/LocalEchoServer.helix.targets
  src/libraries/Common/tests/System/Net/Prerequisites/LocalEchoServer.props
  src/libraries/Common/tests/System/Net/Prerequisites/NetCoreServer/NetCoreServer.csproj
  src/libraries/Common/tests/System/Net/Prerequisites/RemoteLoopServer/RemoteLoopServer.csproj
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System.Runtime.Tests.csproj
  src/mono/wasm/symbolicator/WasmSymbolicator.csproj
Labels: area-Build-mono

#115549 [WIP] Interpreter boxing/unboxing
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/compiler.h
  src/coreclr/interpreter/interpretershared.h
  src/coreclr/interpreter/intops.def
  src/coreclr/interpreter/intops.h
  src/coreclr/vm/interpexec.cpp
  src/tests/JIT/interpreter/Interpreter.cs
Labels: area-CodeGen-Interpreter-coreclr

#115621 Revert "[RuntimeAsync] ilasm/ildasm support for the MethodImpl.Async"
  src/coreclr/ilasm/asmparse.y
  src/coreclr/ilasm/prebuilt/asmparse.cpp
  src/coreclr/ilasm/prebuilt/asmparse.grammar
  src/coreclr/ildasm/dasm.cpp
  src/coreclr/inc/il_kywd.h
Labels: area-ILTools-coreclr

#115494 Delete runtime build-in handling for SIGTERM
  src/coreclr/debug/ee/debugger.cpp
  src/coreclr/pal/inc/pal.h
  src/coreclr/pal/src/exception/signal.cpp
  src/coreclr/pal/src/include/pal/corunix.hpp
  src/coreclr/pal/src/synchmgr/synchmanager.cpp
  src/coreclr/pal/src/synchmgr/synchmanager.hpp
  src/coreclr/vm/ceemain.cpp
  src/coreclr/vm/exceptionhandling.cpp
  src/coreclr/vm/listlock.h
  src/coreclr/vm/vars.cpp
  src/coreclr/vm/vars.hpp
  src/libraries/System.Runtime/tests/System.Runtime.Tests/System/ExitCodeTests.Unix.cs
  src/mono/mono/metadata/gc.c
  src/mono/mono/mini/exceptions-amd64.c
  src/mono/mono/mini/exceptions-x86.c
  src/mono/mono/mini/mini-posix.c
  src/mono/mono/mini/mini-runtime.c
  src/mono/mono/mini/mini-runtime.h
  src/mono/mono/mini/mini-windows.c
Labels: breaking-change, area-PAL-coreclr, needs-breaking-change-doc-created

#115591 Fix HFA treatment of floating-point-based enums.
  src/coreclr/tools/Common/TypeSystem/Common/MetadataFieldLayoutAlgorithm.cs
  src/tests/issues.targets
Labels: area-crossgen2-coreclr

#115573 [Mono] Fix c11 ARM64 atomics to issue full memory barrier.
  src/libraries/System.Threading.Tasks.Parallel/tests/ParallelForEachAsyncTests.cs
  src/mono/mono/utils/atomic.h
  src/tests/FunctionalTests/iOS/Device/ParallelForEachAsync/Program.cs
  src/tests/FunctionalTests/iOS/Device/ParallelForEachAsync/iOS.Device.ParallelForEachAsync.Test.csproj
Labels: needs-area-label

#115602 Add support for no GC regions in x86 GC info
  src/coreclr/System.Private.CoreLib/src/System/Runtime/ExceptionServices/AsmOffsets.cs
  src/coreclr/gcdump/i386/gcdumpx86.cpp
  src/coreclr/inc/gc_unwind_x86.h
  src/coreclr/inc/gcdecoder.cpp
  src/coreclr/inc/gcinfotypes.h
  src/coreclr/jit/codegenxarch.cpp
  src/coreclr/jit/emit.cpp
  src/coreclr/jit/emit.h
  src/coreclr/jit/emitinl.h
  src/coreclr/jit/emitpub.h
  src/coreclr/jit/gcencode.cpp
  src/coreclr/jit/gcinfo.cpp
  src/coreclr/jit/gentree.h
  src/coreclr/jit/jitgcinfo.h
  src/coreclr/nativeaot/Runtime/windows/CoffNativeCodeManager.cpp
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/GCInfoTypes.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/GcInfo.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/InfoHdr.cs
  src/coreclr/tools/aot/ILCompiler.Reflection.ReadyToRun/x86/NoGcRegionTable.cs
  src/coreclr/vm/eetwain.cpp
  src/coreclr/vm/gc_unwind_x86.inl
Labels: area-CodeGen-coreclr, community-contribution

#115604 JIT: Update and add some textual summaries via Copilot
  src/coreclr/jit/async.cpp
  src/coreclr/jit/inductionvariableopts.cpp
  src/coreclr/jit/promotion.cpp
  src/coreclr/jit/promotiondecomposition.cpp
  src/coreclr/jit/promotionliveness.cpp
  src/coreclr/jit/scev.cpp
Labels: area-CodeGen-coreclr

#115605 JIT: Avoid byref strength reductions in loops with suspension points
  src/coreclr/jit/compiler.h
  src/coreclr/jit/inductionvariableopts.cpp
  src/tests/async/strength-reduction/strength-reduction.cs
  src/tests/async/strength-reduction/strength-reduction.csproj
Labels: area-CodeGen-coreclr

#115574 [browser] OOM on monointerpreter
  src/tests/build.proj
Labels: arch-wasm, area-Build-mono, os-browser

#115366 Replace ATP pattern with async/await in SmtpClient (part 1)
  src/libraries/System.Net.Mail/src/System.Net.Mail.csproj
  src/libraries/System.Net.Mail/src/System/Net/BufferBuilder.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/MailMessage.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/MailPriority.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/MailWriter.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/ReadWriteAdapter.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpCommands.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpConnection.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpReplyReader.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpReplyReaderFactory.cs
  src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpTransport.cs
  src/libraries/System.Net.Mail/src/System/Net/Mime/BaseWriter.cs
  src/libraries/System.Net.Mail/src/System/Net/Mime/MimeBasePart.cs
  src/libraries/System.Net.Mail/src/System/Net/Mime/MimeMultiPart.cs
  src/libraries/System.Net.Mail/src/System/Net/Mime/MimePart.cs
  src/libraries/System.Net.Mail/src/System/Net/Mime/MimeWriter.cs
  src/libraries/System.Net.Mail/tests/Functional/LoggingTest.cs
  src/libraries/System.Net.Mail/tests/Functional/LoopbackServerTestBase.cs
  src/libraries/System.Net.Mail/tests/Functional/LoopbackSmtpServer.cs
  src/libraries/System.Net.Mail/tests/Functional/MailMessageTest.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientConnectionTest.cs
  src/libraries/System.Net.Mail/tests/Functional/SmtpClientTest.cs
  src/libraries/System.Net.Mail/tests/Unit/System.Net.Mail.Unit.Tests.csproj
Labels: area-System.Net

#115637 JIT: Skip extra SPMI queries when we don't know the exact type
  src/coreclr/jit/importer.cpp
Labels: area-CodeGen-coreclr

#115572 Enumerate all NativeCodeVersions in Heap dumps
  src/coreclr/debug/daccess/enummem.cpp
  src/coreclr/vm/codeman.cpp
  src/coreclr/vm/codeman.h
  src/coreclr/vm/debuginfostore.cpp
  src/coreclr/vm/debuginfostore.h
  src/coreclr/vm/method.cpp
  src/native/managed/cdac/Microsoft.Diagnostics.DataContractReader.Contracts/Contracts/StackWalk/Context/Unwinder.cs
Labels: area-Diagnostics-coreclr

#115624 [browser][AOT] faster wasm-opt in CI tests
  eng/testing/tests.browser.targets
  eng/testing/tests.wasm.targets
  src/mono/browser/build/BrowserWasmApp.targets
Labels: arch-wasm, area-Build-mono, os-browser

#115642 Add more protection against exited processed in CoreclrTestLib
  src/tests/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs
Labels: area-Infrastructure-coreclr

#115444 [wasm][jiterp] RelaxedSimd jiterpreter intrinsics
  src/mono/browser/runtime/jiterpreter-opcodes.ts
  src/mono/browser/runtime/jiterpreter-trace-generator.ts
  src/mono/browser/runtime/loader/globals.ts
  src/mono/browser/runtime/startup.ts
  src/mono/browser/runtime/types/internal.ts
Labels: arch-wasm, area-Codegen-Interpreter-mono, area-Codegen-Intrinsics-mono, os-browser

#115660 Teach x86 unwinder about POP ECX being optional optimization
  src/coreclr/vm/gc_unwind_x86.inl
Labels: arch-x86, area-VM-coreclr, community-contribution

#115531 Use prototype Roslyn compiler for runtime-async
  NuGet.config
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncHelpers.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeFeature.cs
  src/libraries/System.Runtime/ref/System.Runtime.cs
  src/tests/Directory.Build.props
  src/tests/async/Directory.Build.props
  src/tests/async/RuntimeAsyncMethodGenerationAttribute.cs
  src/tests/async/awaitingnotasync/awaitingnotasync.cs
  src/tests/async/collectible-alc/collectible-alc.cs
  src/tests/async/cse-array-index-byref/cse-array-index-byref.cs
  src/tests/async/eh-microbench/eh-microbench.cs
  src/tests/async/fibonacci-with-yields/fibonacci-with-yields.cs
  src/tests/async/fibonacci-with-yields_struct_return/fibonacci-with-yields_struct_return.cs
  src/tests/async/fibonacci-without-yields-config-await/fibonacci-without-yields-config-await.cs
  src/tests/async/fibonacci-without-yields/fibonacci-without-yields.cs
  src/tests/async/gc-roots-scan/gc-roots-scan.cs
  src/tests/async/implement/implement.cs
  src/tests/async/mincallcost-microbench/mincallcost-microbench.cs
  src/tests/async/object/object.cs
  src/tests/async/objects-captured/objects-captured.cs
  src/tests/async/override/override.cs
  src/tests/async/pgo/pgo.cs
  src/tests/async/pinvoke/pinvoke.cs
  src/tests/async/returns/returns.cs
  src/tests/async/shared-generic/shared-generic.cs
  src/tests/async/simple-eh/simple-eh.cs
  src/tests/async/simple-eh/simple-eh.csproj
  src/tests/async/small/small.cs
  src/tests/async/strength-reduction/strength-reduction.cs
  src/tests/async/struct/struct.cs
  src/tests/async/taskbased-asyncfibonacci-with-yields/taskbased-asyncfibonacci-with-yields.cs
  src/tests/async/taskbased-asyncfibonacci-without-yields/taskbased-asyncfibonacci-without-yields.cs
  src/tests/async/valuetask/valuetask.cs
  src/tests/async/valuetaskbased-asyncfibonacci-with-yields/valuetaskbased-asyncfibonacci-with-yields.cs
  src/tests/async/valuetaskbased-asyncfibonacci-without-yields/valuetaskbased-asyncfibonacci-without-yields.cs
  src/tests/async/varying-yields/varying-yields.cs
  src/tests/async/void/void.cs
  src/tests/async/with-yields/with-yields.cs
  src/tests/async/without-yields/without-yields.cs
Labels: area-Infrastructure-libraries, runtime-async

#115626 JIT: also run local assertion prop in postorder during morph
  src/coreclr/jit/compiler.h
  src/coreclr/jit/jitconfigvalues.h
  src/coreclr/jit/morph.cpp
Labels: area-CodeGen-coreclr

#115665 Revert "Create a single copy of stub templates"
  src/coreclr/clrdefinitions.cmake
  src/coreclr/inc/executableallocator.h
  src/coreclr/inc/loaderheap.h
  src/coreclr/minipal/Unix/doublemapping.cpp
  src/coreclr/minipal/Windows/doublemapping.cpp
  src/coreclr/minipal/minipal.h
  src/coreclr/nativeaot/Runtime/unix/PalRedhawkUnix.cpp
  src/coreclr/utilcode/executableallocator.cpp
  src/coreclr/utilcode/interleavedloaderheap.cpp
  src/coreclr/vm/amd64/thunktemplates.S
  src/coreclr/vm/arm64/thunktemplates.S
  src/coreclr/vm/callcounting.cpp
  src/coreclr/vm/callcounting.h
  src/coreclr/vm/loaderallocator.cpp
  src/coreclr/vm/precode.cpp
  src/coreclr/vm/precode.h
Labels: area-VM-coreclr

#115656 Add ML-KEM X.509 key accessors to Microsoft.Bcl.Cryptography
  src/libraries/Common/src/System/Security/Cryptography/CryptoPool.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.Shared.cs
  src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/MLKemCertTests.cs
  src/libraries/Microsoft.Bcl.Cryptography/src/System/Security/Cryptography/X509Certificates/X509CertificateKeyAccessors.cs
  src/libraries/Microsoft.Bcl.Cryptography/tests/Microsoft.Bcl.Cryptography.Tests.csproj
  src/libraries/Microsoft.Bcl.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
  src/libraries/System.Security.Cryptography/tests/X509Certificates/CertificateCreation/PrivateKeyAssociationTests.cs
Labels: area-System.Security

#115645 Revert "Vector128.WithElement codegen regression in .NET 9.0
  src/coreclr/jit/gentree.cpp
  src/coreclr/jit/hwintrinsiccodegenxarch.cpp
  src/coreclr/jit/hwintrinsicxarch.cpp
  src/coreclr/jit/lowerxarch.cpp
  src/coreclr/jit/rationalize.cpp
Labels: area-CodeGen-coreclr

#115610 [Android] Include static native libraries in CoreCLR Android runtime pack
  src/native/libs/System.Globalization.Native/CMakeLists.txt
  src/native/libs/System.IO.Compression.Native/CMakeLists.txt
  src/native/libs/System.Native/CMakeLists.txt
  src/native/libs/System.Security.Cryptography.Native.Android/CMakeLists.txt
  src/tasks/AndroidAppBuilder/ApkBuilder.cs
Labels: area-Infrastructure-coreclr, os-android

#115567 [clr-interp] Add safepoints at method entry and backwards branch
  src/coreclr/interpreter/compiler.cpp
  src/coreclr/interpreter/intops.def
  src/coreclr/vm/interpexec.cpp
Labels: area-CodeGen-Interpreter-coreclr

#115651 Fix XML inheritdoc of Single/Double.SinCosPi()
  src/libraries/System.Private.CoreLib/src/System/Double.cs
  src/libraries/System.Private.CoreLib/src/System/Single.cs
Labels: community-contribution, needs-area-label

#115653 Fix some mismatches in <inheritdoc />
  src/libraries/System.Collections/src/System/Collections/Generic/Stack.cs
  src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Queue.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector2.cs
  src/libraries/System.Private.CoreLib/src/System/Numerics/Vector3.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/NFloat.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector128.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector256.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector512.cs
  src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/Vector64_1.cs
Labels: community-contribution, needs-area-label
